[2018-05-29 11:23] #8915 closed, assigned to nobody

[2018-05-29 13:11] marek-safar commented on #8634
Fixed in xamarin-macios@b3bed1a8b439bda8f144b917592e805815af41d9

[2018-05-29 13:11] #8634 closed

[2018-05-29 13:45] mcclure commented on #8915
Can confirm this is fixed in 3c7a203fc0e6ea177dd9c7b19bddef31287f3f91 on my machine, thanks

[2018-05-29 13:58] kumpera opened #8927 "Mixed mode bitcode+ interpreter"
This issue tracks the technical problems and proposed solution

The problem with mixed-mode is that the interpreter is entered through a trampoline. As those are not available in bitcode, we use a function descriptor (address + extra arg) instead.

The issue with ftndescs is that the caller must know about it, meaning we must conditionally check for them at every call site and either do a direct c

[2018-05-29 15:30] jaykrell commented on #8321
We are down to three failures.
2 are due to running LLVM CI as root.
Fix one: https://github.com/mono/mono/pull/8914
Or skip them? https://github.com/mono/mono/pull/8904
Or stop CI'ing as root?

The third is related to LLVM not having start/end of of finally blocks.
This might be fixable by placing labels and inhibiting optimization. Might.
Needs some investigation.
Note that the test does not wor

[2018-05-29 15:35] alexanderkyte commented on #8927
I think that the combination of a function to call and a context to pass is universal enough to describe any closure we'll see at runtime. If we need to support the most general call option, it doesn't make sense to say

[code]

[2018-05-29 17:35] luhenry commented on #8916
Fixed with https://github.com/mono/mono/pull/8920

[2018-05-29 17:35] #8916 closed

[2018-05-29 17:42] baulig commented on #8871
Unfortunately, that doesn't fix the problem.

[2018-05-29 18:02] alexanderkyte opened #8932 "Epic: Improve Quality of LLVM-Generated Code"
We have a quality intermediate representation, but we sometimes find that our usage leads to performance that is not on par with other LLVM-backed languages. We need to measure our performance, determine places where we are much slower than other languages, and fix them.

## Milestone I - Measurement

- [ ] Setup BenchmarkDotNet to run managed micro benchmarks #11574
- [ ] Run dotnet benchmarks to

[2018-05-29 20:23] thesamesam opened #8935 "Dns.GetHostEntry no longer returns hostname"
## Dns.GetHostEntry no longer returns hostname

Original [bug](https://bugzilla.xamarin.com/show_bug.cgi?id=29279) claimed that it broke in Mono 4.0.
I've tested on 5.8.0.22 (Gentoo) and can reproduce the issue.

    // Works for any IP you wish to test
    // IP for google.com
    var google = Dns.GetHostEntry("216.58.216.14");
    Console.WriteLine("Hostname: " + google.HostName);
    // outputs

[2018-05-29 20:34] pr0vieh commented on #8932
I think you mean https://github.com/dotnet/BenchmarkDotNet
https://github.com/dotnet/performance  is not exist
but i 😍 this idea!
because the performance is not really good @mono at this moment

[2018-05-29 20:35] goohan commented on #6376
We have the same problem: we cannot use **Microsoft.AspNet.WebApi.Client** + **.Net Standard 2.0** + **Xamarin Android**.
.Net Standard is an amazing solution for share/reuse code across platforms, and WebApi.Client is core part of mobile applications, these problems hinder the adoption of technology. PLEASE help us   :D

[2018-05-29 22:09] #8897 closed

[2018-05-29 22:22] #7947 closed

[2018-05-29 23:11] luhenry commented on #8932
@pr0vieh feel free to provide us with microbenchmarks that are more performant on .NET Core that Mono **with** LLVM.

[2018-05-30 01:41] vargaz opened #8941 "Implement exception filters using funclets"
Currently, bitcode mode doesn't support exception filters, since they depend on the two phase windows SEH model, while bitcode uses the one phase c++ model. It might be possible to implement exception filters by outlining their code into separate functions (funclets) which share parts of their stack frame with the method which contains them, using some llvm intrinsics:
https://llvm.org/docs/LangRe

[2018-05-30 01:48] ArionTT commented on #8917
I build mono on Ubuntu 16.
First,I try to build apk file.
`make -C builds {build-package}-android-armeabi-v7a`
`make build-bcl package-bcl`
`cd android`
`make`
`cd apk`
`ant debug`
I built the apk file, and install it on my android 6.0 mobile phone.I can't be run.
Then I found the main activity is missing(maybe Test program don't need a activity, I don't know).So, I create a helloworld eclipse pro

[2018-05-30 02:48] jaykrell commented on #8941
One wonders if portable-enough-to-Watch-and-TV can walk stack (libunwind?), find caller's (caller's) locals, find associated handler, call it, etc. -- i.e. if really limited to C++ EH.

[2018-05-30 03:11] WoJoinGitHub opened #8944 "System.Net.Http.Formatting should not contain Newtonsoft.Json"
System.Net.Http.Formatting contains a public copy of the Newtonsoft.Json namespaces and classes in the mono class library. The .NET System.Net.Http.Formatting does not contain those.

This can cause a myriad of problems. The one I observed was that a PCL built on .NET that references both System.Net.Http.Formatting and Newtonsoft.Json will fail to compile on mono because there are duplicate types.

[2018-05-30 03:14] WoJoinGitHub commented on #8944
https://bugzilla.xamarin.com/show_bug.cgi?id=23668#c5

[2018-05-30 07:56] jvgutierrez commented on #7603
At Wikimedia Foundation we've seen the same issue on Mono 5.12.0.226 running on Ubuntu Trusty, more details available on our ticket https://phabricator.wikimedia.org/T195834

[2018-05-30 08:10] marek-safar commented on #8944
It's already fixed in master

[2018-05-30 09:30] rokups opened #8948 "Using custom marshaller causes InvalidProgramException"
## Steps to Reproduce

[code]

### Current Behavior

[code]

### Expected Behavior

Application should throw `NotImplementedException` because marshaller is not implemented.

## On which platforms did you notice this

Platform: Archlinux
[code]

[2018-05-30 09:51] turbo opened #8949 "Specific Images used by GdipCreateBitmapFromFile wrapped by Bitmap cause a fatal runtime crash with no further info"
## Steps to Reproduce

Use this image: https://bugzilla.xamarin.com/attachment.cgi?id=24057

Run this code:

[code]

This is an old, **confirmed** bug from [Bugzilla \#58613](https://bugzilla.xamarin.com/show_bug.cgi?id=58613). I'm also running into this.

### Current Behavior

Runtime crash + stack trace.

### Expected Behavior

Valid Bitmap instance.

## On which platforms did you notice this

[

[2018-05-30 09:56] rokups commented on #8948
Actually real problem is `GetInstance()` in marshaller being non-static. Despite this fact application still compiles. Maybe compiler error would be more appropriate instead of cryptic failure?

[2018-05-30 10:57] zhuyifei1999 commented on #7603
The minimal test case:
[code]

`Thread 2 (Thread 0x7f2955e97700 (LWP 17110))` is stuck in the infinite loop. No `g_error` log is visible

[2018-05-30 11:08] akoeplinger commented on #8859
Glad you got it working, closing :)

[2018-05-30 11:08] #8859 closed

[2018-05-30 12:42] marek-safar commented on #8918
Then this indicates the issue is somewhere in System.Data.Linq implementation. We are using code from DbLinq and you could explore the implementation from DbLinq.Data.Linq.Sugar.Implementation.QueryRunner.Select entry

[2018-05-30 14:28] mikaelj commented on #8430
Any progress?

[2018-05-30 15:10] jasonmerecki commented on #8918
Hi @marek-safar  thanks much for the reply.

I put a breakpoint in QueryRunner.Select, but unfortunately that is too late and is not the source of the problem. The SelectQuery passed to that method has this value for the SqlStatement:

[code]

The where clause here is not valid sql-server syntax.

Can you help me understand where the SqlStatment is built?

It is somewhere prior to the call to Quer

[2018-05-30 15:50] marek-safar commented on #8430
/cc @vargaz

[2018-05-30 16:10] marek-safar commented on #8918
Yes, it's somewhere before QueryRunner.Select. There is expression tree transformation which does that I'd put few breakpoints at `/src/DbLinq/Data/Linq/Sugar/Implementation/QueryBuilder.cs`

[2018-05-30 16:25] bdonnahue opened #8954 "Exceptions not working in dynamically loaded assemblies"
## Steps to Reproduce

1. Dynamically load DLL
2. Call a method which throws an Exception
or
2. Invoke a method through reflection

### Current Behavior

I have an Assembly I load dynamically into the current AppDomain. If an Exception is thrown from functions/objects defined in the dynamically loaded assembly it cannot be handled by the objects defined in assemblies which are loaded through proje

[2018-05-30 17:37] migueldeicaza commented on #8949
This is caused by the image being a 2-bit greyscale, and this sets the png_palette to null, which we do not account for in the case for the 2-bit depth.

[2018-05-30 17:52] luhenry commented on #8954
Could you please provide us with a sample project that reproduce the issue you are observing? Thank you.

[2018-05-30 17:58] migueldeicaza commented on #8949
This is a bug in libgdiplus, moved the bug there: https://github.com/mono/libgdiplus/issues/378

[2018-05-30 17:58] #8949 closed

[2018-05-30 18:04] migueldeicaza commented on #8900
Right - the issue is that monodis uses the same APIs that the Mono runtime does, this can mean a number of things:

* The loader as implemented by monodis is not as comprehensive as what the Mono runtime does
* monodis is not doing something the Mono runtime does
* the mono runtime will have a problem loading that code.

The first two are sort of expected, the last one is an indicator of a real pr

[2018-05-30 18:04] bdonnahue commented on #8954
@luhenry you are right, more info is needed.

After digging around in the code base it seems that the DLL was being loaded into a child AppDomain with the same friendly name as the current (A bug obviously). Then for whatever reason the exception was not crossing the AppDomain boundary.

I am working on a solution composed of several projects. So posting it all is a problem but I will try if I can

[2018-05-30 18:04] #8954 closed

[2018-05-30 18:17] migueldeicaza commented on #8875
There are two possibilities, that the invoking code is a full pseudo terminal, but does not implement the complete terminal support and does not respond to the ESC + [ 6 n sequence with the position, or as detailed in the comments there might be a race condition as many processes try to read the input.

There are a few workaround for this:

* set the TERM environment variable to "dumb"
* redirect

[2018-05-30 18:52] matthid commented on #8875
But the point is that this is a real terminal? @haf Can you clarify is this happens reproducible every time on the same place or always on different places? Also is there a different process involved or only a single `paket.exe` at this time?

I'm not an expert around this area but isn't this supposed to "just" work even when we have a wrapper process (like fake.exe in this case) - like nested she

[2018-05-30 18:59] agl commented on #8888
Representing BoringSSL: we recommend that Mono switches to OpenSSL if it wants to support big-endian systems.

We do not support big-endian systems and never plan to. We rather suspect that you've only addressed a subset of the cases of endianness assumption in the code thus far and will probably have problems updating BoringSSL while keeping big-endian support.

POWER is a fully-supported archite

[2018-05-30 18:59] brendanzagaeski commented on #8350
I'm afraid I don't have more details on timing than that the full release schedule for Visual Studio 2017 version 15.8 should in theory be roughly similar to what the schedule was for Visual Studio 2017 version 15.7. See also the previously linked document on [Visual Studio 2017 build numbers and release dates](https://docs.microsoft.com/visualstudio/install/visual-studio-build-numbers-and-release

[2018-05-30 19:15] jaykrell commented on #8900
https://github.com/mono/mono/pull/8901 gives some indication as to the causes, as it was enough to make it through all those files.
Does monodis actually load dependencies? That seems wrong, if it does.

[2018-05-30 19:31] #8712 closed

[2018-05-30 21:02] migueldeicaza commented on #8922
Your chances of getting this bug fixed or someone lookig at it would improve if you provided a self-contained test case.

Please reopen when you have it.

[2018-05-30 21:07] migueldeicaza commented on #8921
Patch, trying to figure out how to push this:

[code]

[2018-05-30 21:11] migueldeicaza commented on #8921
Pull request for ikdasm: https://github.com/mono/ikdasm/pull/5

[2018-05-30 22:20] pr0vieh commented on #8932
for example i used this Benchmarks https://github.com/AndreyAkinshin/StephenToubBenchmarks
and some of the https://github.com/dotnet/BenchmarkDotNet/tree/master/samples Benchmarks but compared vs my old mono version 4.9 not .Net Core
my Benchmark setup is not current is a while ago i do some Benchmarks
[code]
| Method |                Job |       Jit |          Runtime |      Mean |     Error |

[2018-05-30 23:08] baulig commented on #8903
If you're only running as root to install a package, then why aren't you just using `sudo` to do so?  This is what I'm doing for the web-tests to auto-provision the bots from within a Jenkins job.

[2018-05-30 23:52] #8430 closed

[2018-05-31 01:46] NickCraver opened #8965 "5.12 Core dump while writing to a stream"
I'm not that familiar with Mono, but we were trying to get the StackExchange.Redis builds to work without issue on it and hit some bugs in 5.12 but not in 5.10.1.47. Contextual information is at the end of this PR: https://github.com/StackExchange/StackExchange.Redis/pull/314#issuecomment-393358956.

I was unable to get a minimal repro, but was able to readily reproduce it with out build via WSL +

[2018-05-31 02:06] NickCraver opened #8967 "Socket.BeginConnect(EndPoint remoteEP, AsyncCallback callback, object state) does not handle DnsEndpoint"
When calling `Socket.BeginConnect()` with a `DnsEndPoint`, an exception is thrown.

### Steps to Reproduce
Minimal code repro:
[code]

### Current Behavior
Exception is thrown attempting to serialize `DnsEndPoint`.

### Expected Behavior
Dns resolution happens and socket connects.

### On which platforms did you notice this
- [ ] macOS
- [x] Linux
- [x] Windows

**Version Used**:
5.10.1.47 and 5.1

[2018-05-31 02:49] ArionTT opened #8968 "[ Android ] How to use MONO Method"
I have create a project by mono sdks android.
But I found the method , such as mono_object_unbox() function that define in object.h object.c.
Then I found this example use C function pointer to call mono function.
So, I define:
`typedef void*(*mono_object_unbox_fn)(MonoObject *obj);`
And
`static mono_object_unbox_fn mono_object_unbox;`
Before call it, I bind it to libmono:
`mono_object_unbox=dlsym

[2018-05-31 06:05] haf commented on #8875
Yeah, it's iTerm 2:

<img width="357" alt="screen shot 2018-05-31 at 08 03 25" src="https://user-images.githubusercontent.com/193115/40764386-1fc78456-64a9-11e8-903e-87064594b7f1.png">

Running zsh.

It happens every time, but it's unpredictable when and where; sometimes I have to press enter just once, other times I have to do it many times.

My eyes and gut feeling after reading the target helpe

[2018-05-31 07:14] lewurm commented on #8875
this looks like a duplicate of https://bugzilla.xamarin.com/show_bug.cgi?id=26983 and was fixed via https://github.com/mono/mono/pull/8138 recently.

do you mind testing with a master build? (have a look at the CI status, there are links to packages on every commit: https://github.com/mono/mono/commits/master )

[2018-05-31 11:36] paulfertser opened #8970 "Memory leak in WCF sessions handling"
This issue was diagnosed with hyperfastcgi in native listener mode but it's also present with XSP-based servers. Minimal example is provided in attachment. The end goal is running RapidSCADA and fixing this issue is essential for a reliable service.

## Steps to Reproduce

1. Configure nginx to support Mono in FastCGI mode, use ``fastcgi_split_path_info ^(.+\.(?:as.x|svc))(/?.+)$;`` to support cal

[2018-05-31 12:14] jaykrell opened #8972 "assertion failure building bitcode"
mac/amd64

[code]

expect: pass CI every day

[2018-05-31 13:14] marek-safar commented on #8968
/cc @luhenry

[2018-05-31 14:38] dgrechka opened #8975 "StackOverflowException during code evaluation with FsiEvaluationSession"
Mono runtime issue.

Attempt to execute the following code (originates from [Jupyter F# kernel issue](https://github.com/fsprojects/IfSharp/issues/143))

[code]

with EvalInteractionNonThrowing method of FSharpInteractiveSession (`Microsoft.FSharp.Compiler.Interactive.Shell+FsiEvaluationSession.EvalInteractionNonThrowing`) in the code presented below causes StackOverflowException in Mono. Works on

[2018-05-31 14:56] luhenry commented on #8972
Next time, follow the issue template. You used to do it, then seems to have given up on it for some reasons.

[2018-05-31 15:44] marek-safar opened #8977 "CoreFX System.Runtime.Serialization"
This might require more work than just simple replace as it seems that CoreFX is missing some desktop APIs and we are using a mixture of referencesource and missing bits.

On iOS it's even trickier as we had to remove reflection emit dependency but that might not be necessary with CoreFX

[2018-05-31 17:07] 2mik commented on #8970
Hi,
I facing with memory leak in Mono WCF either in web applications or self-hosted console applications. In my opinion, this issue is critical because WCF is a main technology of communication between .NET applications and thus we can't guarantee reliable operating of our applications on Linux.

[2018-05-31 17:54] migueldeicaza commented on #8921
PR: https://github.com/mono/mono/pull/8978

[2018-05-31 18:27] NattyNarwhal opened #8979 "configure script incorrectly assumes functions are available with some conditions"
Working on the [CoreFX PAL fixes for AIX](https://github.com/dotnet/corefx/pull/30012), when I noticed that it was incorrectly assuming that sendfile was available, confusing CoreFX. Example, with a comparison against a case where it wasn't successful and thus caught by the linker:

[code]

The difference between the two; one checks as a code fragment while the other lets autotools handle it. In s

[2018-05-31 18:34] NattyNarwhal commented on #8979
Perhaps `AC_LANG_PROGRAM` or `AC_TRY_LINK` would do it? Leaning towards the latter.

[2018-05-31 18:39] NattyNarwhal commented on #8979
[code]

That seems to do it. I can submit a PR and close this with it.

[2018-05-31 18:44] NattyNarwhal commented on #8979
[code]

So far so good; I'll wait until it reaches CoreFX PAL before I `^C` and branch.

[2018-05-31 19:50] jaykrell commented on #8972
The template has a high noise to signal ratio.

[2018-05-31 19:53] jaykrell commented on #8979
The try_compile thing is pretty awful because of all the warnings it lets through -- which vary much in severity. In many cases they are ok and must be ignored, in your case they indicate a problem not to be ignored. Requiring to link is "bad", because it is a higher requirement on cross builds. But it isn't nearly as bad as running, and maybe there isn't much better choice. There is already a req

[2018-05-31 19:56] jaykrell commented on #8979
One wonders if there isn't a solution involving compile-only -- take the address of the thing? Is that an implicit declaration?
Or compile the test program as C++? Which can still have warnings, but not this one. Yes, good idea. Look at how I detect the type of size_t.

[2018-05-31 19:58] jaykrell commented on #8979
Address of the thing is still a warning:

[code]
So suggest the compile as C++ approach, as demonstrated elsewhere.

[2018-05-31 19:58] NattyNarwhal commented on #8979
I think you can error out on implicit function declaration; I forget the exact GCC flag.

I'd be a bit concerned if linking in autotools checks caused problems on cross-compiles. One would think that if you cant even check the availability of compiling a program, it would break hard compiling the actual program. FWIW, the function check macros will do full linking; so `AC_TRY_LINK` is consistent w

[2018-05-31 20:01] jaykrell commented on #8979
Oh, right, check_func. Higher level thing. I guess trust it. It has a chance of amortization like building an index with nm, or whatever it decides.

[2018-05-31 20:02] jaykrell commented on #8979
Existance of a gcc flag..well..then you have to probe for it, use it at the right time.
But yes, maybe. Because I think we do use that flag. So if you move this compile test till after probe for that flag.  But we don't support xlc and suncc etc.? I'm leary of gcc-dependency. Just me? (granted, clang is close enough, so it'd be gcc/clang dependency)

[2018-05-31 20:07] NattyNarwhal commented on #8979
I don't have XL C, so I couldn't test with that. (Well, there's the ILE/MI C compiler on i that's XL C based, but that's a whole other can of worms...)

Compiling with clang is a lot like GCC, I assume. MSVC might do a lot for catching nasty GCC assumptions because it really doesn't want to implement C99/C11 beyond the bare minimum required to implement C++; but it has its own build scaffolding.

[2018-05-31 20:37] luhenry commented on #8972
@jaykrell it makes it much easier to understand what's going wrong when you are not in the head of the person filling up the issue. It goes back to convention 😉

So please next time fill up following the template.

[2018-05-31 21:13] jaykrell opened #8986 "RFC Consider dropping MONO_EXTERNAL_ENCODINGS and assume UTF8."
## Steps to Reproduce

1. Notice mono_unicode_to_external, mono_utf8_from_external in the code.
2. Seems like a mess and maybe not consistent.
We use it for filenames, at least sometimes, for command lines, and for some security stuff. At least.
We often hardcode UTF8.

Is there a clear system and rationale to what is "external" vs. what is "UTF8", or should we just remove "external" and only use

[2018-05-31 21:14] baulig commented on #8967
See also the `[NotWorking]` test in [Xamarin.WebTests.SocketTests. BeginEndAsync](https://github.com/xamarin/web-tests/blob/master/Xamarin.WebTests.Tests/Xamarin.WebTests.SocketTests/BeginEndAsync.cs#L44).

[2018-05-31 21:20] davidscherf commented on #6756
Happening again on mono 5.12

[2018-05-31 23:00] jaykrell commented on #8587
Fixed.

[2018-05-31 23:00] #8587 closed

[2018-06-01 09:18] #8979 closed

[2018-06-01 09:54] #8972 closed

[2018-06-01 10:20] marek-safar commented on #8972
@jaykrell could you be more concrete? It does not have any additional section you'd not use in this report

[2018-06-01 12:02] #8921 closed

[2018-06-01 13:05] peter0302 commented on #7820
I am in the same boat as the OP here. For better or worse I'm a Visual Studio IDE guy. I used to deal with command lines in the 90s and gave them up as soon as I could and haven't looked back. I don't use Linux. Etc.  Most of all don't have time to master a new toolchain just to experiment.

Is there any good simple tutorial available that could just walk me through step by step what I have to do

[2018-06-01 13:53] nealef commented on #8679
Is tailcall still broken on Z? I haven't had a chance to build in a couple of weeks so may have missed the breakage.
This type of problem happened a couple of years ago and may be in bugzilla in case it's a repeat.

[2018-06-01 13:55] Baste-RainGames opened #8995 "?: Operator in interpolated string fails to not compile under msc"
According to the C# documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated), a ?: operator inside an interpolated string needs to be enclosed in parentheses. The Mono compiler instead compiles these expressions. Roslyn (csc) correctly fails to compile the code

## Steps to Reproduce

1. Create main.cs, with this content:

[code]

2. Compile it with mcs

[2018-06-01 13:56] NattyNarwhal commented on #8679
I think tailcall got fixed, but the endianness bug got created and CI never got it due to tailcall preventing builds on z in the meantime.

Once I get the CoreFX on AIX stuff merged (I hope real soon) and it builds, I'll try to work on backporting those patches myself.

[2018-06-01 15:00] luhenry commented on #8995
/cc @marek-safar

[2018-06-01 15:38] #8970 closed

[2018-06-01 17:23] marek-safar commented on #8986
This is a fair point but I don't know the history behind that (cc @migueldeicaza @vargaz).

[2018-06-01 22:32] alexischr opened #8997 "Intermittent assertion failures in finalizer-thread.exe test"
Example: https://jenkins.mono-project.com/job/test-mono-pull-request-i386/14559/testReport/junit/MonoTests/runtime/finalizer_thread_exe/

[code]

Not seen before AFAIK, so possibly a regression.

[2018-06-01 23:18] jaykrell opened #8998 "Windows ServiceController tests are flaky."
## Steps to Reproduce

1. Submit a PR, any PR.

### Current Behavior

Tests fail.
For example:

https://jenkins.mono-project.com/job/w/12478/#showFailuresLink

Test Result (10 failures / +8)
ServiceControllerTest.Refresh_Service_Paused
ServiceControllerTest.Refresh_Service_Running
ServiceControllerTest.Refresh_Service_Stopped
ServiceControllerTest.Stop
ServiceControllerTest.Stop_Service_Paused
Ser

[2018-06-02 03:35] jaykrell opened #9000 "untime-interp/thread6.exe test is flaky"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Tests fail.
For example:

Flaky test.

MonoTests.runtime-interp.thread6.exe_timedout

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-armhf/5285/testReport/junit/MonoTests/runtime-interp/thread6_exe_timedout/

                                                MESSAGE:

[2018-06-02 07:38] jaykrell opened #9002 "ServiceControllerTest.cs is designed to fail."
## Steps to Reproduce

1. Read the source to ServiceControllerTest.cs. Or submit a PR and notice they always fail.
2. Realize it does everything incorrectly. It even says so:

[code]

### Current Behavior

The test is written to be specific to the default configuration of an exact version of Windows.
This the wrong way to write a test.

### Expected Behavior

The test should carry with it a few se

[2018-06-02 07:47] rokups commented on #6207
Bumped into same issue. Please see if attached log gives you any ideas what could be wrong here.
[msbuild.log](https://github.com/mono/mono/files/2064794/msbuild.log)

[2018-06-02 08:42] jaykrell commented on #9000
This actually isn't flaky. It is reliably bad.
If you run it with whatever my "system" mono 12/2017 is, it always exits quickly/successfully.
If you run it with current, it either hangs forever, or a long time.
I'm bisecting. The problem is a few months old.

[2018-06-02 08:42] jaykrell commented on #9000
ps. it isn't an interpreter problem, or at least, well, sure, could be worse/different with interpreter, but it regressed with JIT also.

[2018-06-02 09:05] jaykrell commented on #9000
Caused by 5f5c5e97a08f7086d7c18af37352c4a03dc4c0d1.
Same as the alpine problem.
I think the problem is that shutdown doesn't wake the threadpool workers.
Shutdown waits for them to timeout, and the random timeout tends to be much longer for Alpine, but  still longer with glibc/darwin/etc.

[2018-06-02 16:47] jaykrell commented on #8975
Maybe a good tailcall case.

[2018-06-03 02:57] NattyNarwhal commented on #8679
corefx/coreclr#18254 got merged. Once it propagates, could @EgorBo cherry pick it into the fork and update submodules?

[2018-06-03 06:30] #9002 closed

[2018-06-03 06:32] jaykrell commented on #9002
Note that on the "tests should carry services with them" -- requires running as admin to install them.
Another approach would be to have some parallel implementation, completely different code, in C or C++ or maybe running sc.exe or such and dumping data, then use C# to dump data, and see if they match.
In either case, there should be no hardcoded information about the OS.

[2018-06-03 06:33] marek-safar commented on #9000
@luhenry could someone investigate this? It looks like the interpreter repro is quite reliable

/cc @lewurm

[2018-06-03 06:34] marek-safar commented on #8998
@jaykrell could you PR a change which disables them

[2018-06-03 06:35] jaykrell commented on #9000
JIT repro is quite reliable. You just have to run the test and observe it hangs at shutdown.
It works, but hangs a bit at exit. Not forever, but usually a very noticable amount.
It used to run quickly. The actual hang duration is random, because the actual code generates random numbers, but is almost always significant.
I've been running it on Mac.

[2018-06-03 06:35] jaykrell commented on #9000
This has nothing to do with the interpreter.

[2018-06-03 06:44] #6376 closed

[2018-06-03 06:53] marek-safar commented on #8965
@vargaz does this look like regression?

/cc @luhenry

[2018-06-03 07:04] marek-safar opened #9008 "Verify netstandard 2.0 APIs status"
We have audited NS2 API coverage but filled some of the entry points with NIE or PNSE. We need to audit that as in theory we should be able to implement over 99% of them.

We could use linker for this and run it with NS2 API dll and then just grep the result assemblies for NIE or PNSE.

[2018-06-03 11:19] vargaz commented on #8965
This is similar to what was fixed by:
https://github.com/mono/mono/commit/3aeeae6230445e3544fde47221edf45f5230a316
but it could be a different problem.

[2018-06-03 13:17] NattyNarwhal commented on #8679
It's merged in. Once a new monolite is spat out, z should light up on CI again.

[2018-06-03 14:26] directhex opened #9009 "[s390x] Fails to compile against recent glibc"
[code]

Presumably this is similar to https://github.com/mono/mono/commit/9cd9e3b0a13e1f0b757606e5966e1ce27722ed95 i.e. `ucontext` was removed from glibc: https://sourceware.org/git/gitweb.cgi?p=glibc.git;a=commitdiff;h=251287734e89a52da3db682a8241eb6bccc050c9;hp=c86ed71d633c22d6f638576f7660c52a5f783d66

Changing `typedef struct ucontext MonoContext` to `typedef ucontext_t MonoContext` fixes the r

[2018-06-03 15:07] nealef commented on #9009
From memory, MoniContext is identical to mcontext or u context and us defined in one of the header files in utils. I'll take a look at it tomorrow or later today if I can get a moment.

-------- Original message --------
From: Jo Shields <notifications@github.com>
Date: 6/3/18 10:26 (GMT-05:00)
To: mono/mono <mono@noreply.github.com>
Cc: Neale Ferguson <neale@sinenomine.net>, Mention <mention@nore

[2018-06-03 20:20] koro666 opened #9010 "Marshaling BSTR in a struct crashes on P/Invoke function return"
When marshaling a `BSTR` in a struct, upon return of the P/Invoke function, it is freed the wrong way, and that causes a crash.

Attached is a full reproduction case: [MonoBSTR.zip](https://github.com/mono/mono/files/2066314/MonoBSTR.zip)

Tested on Linux, Mono version 5.12.

Full output:
[code]

[2018-06-03 21:10] benaadams opened #9011 "Add normalized equivalent of YieldProcessor, retune some spin loops"
For the Skylake architecture and above Intel decided to change the `PAUSE` instruction from 10 cycles to 140 cycles.

This causes upto a x14 degradation in `YieldProcessor` type spinning (contended `lock`, `ManualResetEventSlim`, use of `Thread.SpinWait`, etc)

See issue in https://github.com/dotnet/coreclr/issues/13388
Also CoreClr fix in https://github.com/dotnet/coreclr/pull/13670

The TechEmpo

[2018-06-04 04:03] vertonghenb commented on #8872
Same issue while using FluentValidation
[code]

[2018-06-04 07:52] Rombersoft commented on #6498
Hurriedly you closed issue. I have this problem.
Mono is
[code]
Message
```Error getting response stream (ReadDoneAsync2): ReceiveFailure```
StackTrace
[code]
internet on LAN cable. This error throws not always but often.

[2018-06-04 08:20] jaykrell opened #9013 "RFC Use Posix drand48 instead of rand (on non-/dev/random/Win32 platforms)."
Mono uses:
 1. Win32
 2. /dev/random
 3. ANSI C 89 rand

If /dev/random is not widespread, suggest use the Posix drand48 or such as a superior alternative to 3.

[2018-06-04 13:12] skir commented on #8878
Hi, here is my obj/Release archive [archive](https://drive.google.com/open?id=1jy2u4c7yLJzmJfofMO7QWViyilxeAXJP)
I also use next `mtouch` arguments
[code]

[2018-06-04 13:30] vargaz commented on #8878
Could you add '-v -v -v' to the 'Additional mtouch arguments' option in the IOS Build options and attach the build log ?

[2018-06-04 14:39] joncham commented on #7177
Corresponds to Unity issue https://issuetracker.unity3d.com/issues/unity-incorrectly-compares-two-values-when-the-comparison-method-is-written-in-f-number-and-added-to-unity-through-external-dll

[2018-06-04 15:19] NattyNarwhal commented on #9013
On modern BSDs, there exists `arc4random` and I believe Linux has an equivalent syscall - the problem glibc might not expose it due to some plumbing crap.

https://man.openbsd.org/drand48

https://man.openbsd.org/arc4random

(FWIW maintaining the port of a Unix lacking most of this, `/dev/urandom` fallback is what we would have to use.)

[2018-06-04 16:42] skir commented on #8878
[Build log](https://gist.github.com/skir/4c8081ded8465b1b17ad98678dacbc62)

[2018-06-04 19:45] jeromelaban opened #9023 "Two ValueType properties initialization inline fails in mono wasm"
The following code fails on mono-wasm:

[code]

Initializing the two fields in two lines works. If the MyValueType is a class, it works.

### Current Behavior
[code]

### Expected Behavior

The runtime does not assert.

**Version Used**:

https://jenkins.mono-project.com/view/All/job/test-mono-mainline-wasm/319/label=ubuntu-1804-amd64/Azure/

### Complete repro sample
[EnumException.zip](https://g

[2018-06-05 00:42] vargaz commented on #8878
This seems to happen when returning an empty struct from a method.

As a workaround, add a dummy int field to the KoCloud.IRT.Client.Model.Applications.TableScale type.

[2018-06-05 00:43] vargaz commented on #8878
It happens with llvm+arm64.

[2018-06-05 01:17] Therzok opened #9026 "Type.IsPublic returns true for internal classes in csharp"
## Steps to Reproduce

1. csharp
2. Input
[code]
3. Normal runtime works.

### Current Behavior

It returns true.

### Expected Behavior

It should return false

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.14.0.105 (2018-04/6d28c8f9621 Fri May 25 04:53:26 EDT 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Co

[2018-06-05 05:35] jaykrell commented on #9000
Fix adds but still fails thread7.exe. So maybe there is (also) an interpreter problem? @lewurm

[2018-06-05 12:57] MathieuMorrissette opened #9028 "Mono to SQL Server using integrated security no longer works on iOS"
We used to be able to connect to an SQL Server  using integrated security by specifying the username and password in the connection string. It is no longer working on mono 5.10.0

I know there are no security benefits to use integrated security on a Unix platform as it is supposed to be password-less but some of my app users were using this feature and are now left unable to connect to their SQL s

[2018-06-05 15:14] migueldeicaza opened #9030 "[Mac] Use copyfile API to copy files"
Since MacOS 10.5 there is an API to copy files and directories recursively.   These APIs are capable of copying the metadata along with the file contents.

(man copyfile, also new APIs here: https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/APFS_Guide/ToolsandAPIs/ToolsandAPIs.html#//apple_ref/doc/uid/TP40016999-CH7-DontLinkElementID_11)

Additionally, these APIs

[2018-06-05 15:42] filipnavara opened #9031 "HttpWebRequest.EndGetRequestStream throws wrong exception on abort"
## Steps to Reproduce

1. Issue a HTTP request using HttpWebRequest class.
2. Abort the request using HttpWebRequest.Abort after HttpWebRequest.BeginGetRequestStream was called.
3. Call HttpWebRequest.EndGetRequestStream

### Current Behavior

System.Threading.Tasks.TaskCanceledException exception is thrown. Note that these APIs are present in .NET 2.0, where TaskCanceledException didn't even exis

[2018-06-05 15:42] filipnavara commented on #9031
cc @baulig

[2018-06-05 15:51] Therzok commented on #9030
Might be worth taking a look at this in MSBuild? - to prevent lots of time spent on copying files to output directory (cc @radical), which is most of the time in NOP builds (40s on MonoDevelop's sln)

[2018-06-05 16:57] bojanrajkovic opened #9033 "DynamicMethod creation fails with "method arguments are incompatible""
## Steps to Reproduce

1. Attempt to create a DynamicMethod with an owner type, and an arguments list that includes the owner type as the first parameter (ala a `this` pointer).
2. Call CreateDelegate and pass a delegate type that does not have the owner type as the first argument.

Sample code: https://gist.github.com/bojanrajkovic/aa447f5a46904c5b72b9d4c46c554ff6

You can compile the sample code

[2018-06-05 17:02] mhutch opened #9034 "Warning due to missing file in MSBuild"
### Steps to Reproduce

1. Check out and build https://github.com/mono/guiunit

### Current Behavior

There is a build warning due to a missing file in MSBuild itself.

[code]

### Expected Behavior

Either the ruleset file should exist, or this logic should be disabled when it's not.

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.12.0.260 (2018-

[2018-06-05 17:12] sandyarmstrong commented on #9033
For reference, gist is based on https://github.com/dotnet/machinelearning/blob/v0.2.0/src/Microsoft.ML.Api/ApiUtils.cs.

[2018-06-05 17:14] jaykrell opened #9035 "pinvoke3.exe flaky test"
## Steps to Reproduce

1. Submit a PR.
2. Observe CI.
3. https://jenkins.mono-project.com/job/test-mono-pull-request-coop/4310/

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-coop/4310/testReport/junit/MonoTests/runtime/pinvoke3_exe_timedout/

[code]

### Expected Behavior

CI to pass reliably.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ]

[2018-06-05 17:17] jaykrell opened #9036 "DebuggerTests.StackTraceInNative flaky"
## Steps to Reproduce

1. Submit a PR.
2. Observe  CI.
3.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/14923/
and
https://jenkins.mono-project.com/job/test-mono-pull-request-hybrid-suspend/1377/

[code]

[code]

### Expected Behavior

CI to  pass reliably when presented with good PRs.

[2018-06-05 18:23] joncham opened #9037 "System.Security.Cryptography.ECDiffieHellmanCng class missing from mono"
## Steps to Reproduce

1. Compile test case below

[code]

### Current Behavior

[code]

### Expected Behavior

Successful compilation

## On which platforms did you notice this

[ x] macOS
[ ] Linux
[x ] Windows

**Version Used**:

Mono JIT compiler version 5.11.0 (Visual Studio built mono)

[2018-06-05 18:23] joncham commented on #9037
Type is missing from `System.Core` in the 4.5 profile folder. Note this type is in the `4.7.1` reference assemblies, so if you compile against those and run you then get a `TypeLoadException` at runtime.

[2018-06-05 18:24] joncham commented on #9037
Corresponds to Unity issue: https://issuetracker.unity3d.com/issues/type-load-exception-is-thrown-when-trying-to-load-system-dot-security-dot-cryptography-dot-ecdiffiehellmancng-in-net-4-dot-6-issue

[2018-06-05 20:35] EgorBo commented on #9028
We moved to .NET Core sources for System.Data but unfortunately the Integrated Security for non-windows platforms requires `System.Net.Security.Native` with pal_gssapi (krb5) ported to mono.
(I tried to do it a while ago - https://github.com/mono/mono/pull/6806/files)

[2018-06-05 22:04] nealef commented on #9028
How far did you get? (It’s hard to tell from the PR if everything that needs to be there is.)

From: Egor Bogatov <notifications@github.com>
Reply-To: mono/mono <reply@reply.github.com>
Date: Tuesday, June 5, 2018 at 16:35
To: mono/mono <mono@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mono/mono] Mono to SQL Server using integrated security no longer works on i

[2018-06-05 22:14] EgorBo commented on #9028
@nealef well it should work with the changes in the PR for macOS/iOS (GSS.framework) but it's tricky for linux.

[2018-06-05 22:20] migueldeicaza commented on #9030
I also have a managed implementation that I can share.

[2018-06-06 01:53] jswigart opened #9040 "Mono.CSharp.Evaluator doesn't support partial classes?"
## Steps to Reproduce

1. Create a single .cs file with an empty class definition
2. Evaluator.Run it, observe it functions properly
3. Add partial to the class declaration
4. Observe it now fails to function properly, and the error returned by the reportPrinter doesn't appear to have anything to do with the partial class(see stacktrace below).

### Expected Behavior

Expected that one can declare

[2018-06-06 04:05] radical commented on #9030
msbuild will automatically get the benefit via `File.Copy`, which #9038 is updating to use this API.

[2018-06-06 05:35] migueldeicaza commented on #9030
Here is my C# implementation, you can use it if you want as either a NuGet package, or just copy the C# file into the place you need it, it is self-contained and tiny:

https://github.com/migueldeicaza/Darwin.CopyFile

[2018-06-06 07:18] skir commented on #8878
Ok, thank you.

[2018-06-06 09:04] nover opened #9041 "Mono Uri parser is too strict and does not behave like dotnet framework"
## Steps to Reproduce

While attempting to run a small dotnet application, written and built with full fat dotnet framework version 4.5, using mono, I have encountered a discrepancy in how Mono and dotnet are parsing / validating uris relating to the file system.

1. Running the code `Console.WriteLine(Path.Combine(new Uri(Path.GetDirectoryName(typeof(Program).Assembly.CodeBase)).LocalPath, "some"

[2018-06-06 11:24] dsyme commented on #8975
Yes it looks like a tailcall may not be being taken.  in the printing code.  The code is a bit convoluted unfortunately so might be hard to determine which one

We might be able to fix this on the F# side by making the object printing code more obviously tail recursive

@dgrechka Have you tried setting fsi.PrintLength or fsi.PrintDepth to control the expansion of printing?

[2018-06-06 11:35] filipnavara commented on #9031
Possibly related to changes made in response to https://github.com/mono/mono/issues/7194.

[2018-06-06 13:14] vargaz commented on #8878
This is still a bug, will be fixed.

[2018-06-06 14:58] Rombersoft opened #9043 "System.InvalidOperationException: Operation is not valid due to the current state of the object"
## Steps to Reproduce

1. Create List<SomeObject> _list
2. Fill this list by data
3. SomeObject temp = _list.SingleOrDefault(x => x.Key == "bla-bla-bla");

### Current Behavior

System.InvalidOperationException: Operation is not valid due to the current state of the object

### Expected Behavior

One element from collection
## On which platforms did you notice this

[ ] macOS
[*] Linux
[ ] Windows

[2018-06-06 16:25] directhex opened #9044 "New "bad" assembly loader/remapper trips on MSBuild build"
We haven't been able to compile MSBuild since https://github.com/mono/mono/commit/9ad5255338386a22e7a861e8bcc7c195dc591b99 was merged.

During compilation, MSBuild uses `AssemblyName.GetAssemblyName(sourcePath)?.Version` a bunch, which according to the documentation, "This method causes the file to be opened and closed, but the assembly is not added to this domain."

It seems our implementation lo

[2018-06-06 16:57] luhenry commented on #9044
@kumpera will take a look, until @lambdageek is back from vacation.

[2018-06-06 17:47] EgorBo commented on #9041
.NET Core (2.1) throws the same exception for me on macOS

[2018-06-06 17:55] EgorBo commented on #9043
Could you please create a small repro?
It looks like your `_list` contains more than one object with `Key = "bla-bla-bla"` and InvalidOperationException is expected in this case (you might want to use `FirstOrDefault` instead).

[2018-06-06 19:06] Rombersoft commented on #9043
No. I know error about many repeated cases. But there is another error message

[2018-06-06 19:39] EgorBo commented on #9043
in this case a repro would be helpful because it's not clear what `2. Fill this list by data` means.
Also `in /tmp/yaourt-tmp-root/aur-mono2/src/mono-2.10.9/mcs/class/` in your stack-traces looks suspicious - are you sure you use mono 5.10 ?

[2018-06-06 20:22] dgrechka commented on #8975
@dsyme Indeed, setting fsi.PrintLength removes StachOverflow (both in repro code and in F# Jupyter kernel).

[2018-06-06 21:42] jaykrell opened #9045 "DebuggerTests/StackTraceInNative flaky"
## Steps to Reproduce

1. Submit PR.

### Current Behavior

Usually fails.

For example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/14894/testReport/junit/(root)/DebuggerTests/StackTraceInNative/

[code]

### Expected Behavior

Usually succeeds.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-06-06 21:44] jaykrell commented on #9036
Another https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/14894/testReport/junit/(root)/DebuggerTests/StackTraceInNative/

[2018-06-06 21:45] jaykrell commented on #9045
Duplicate of 9036.

[2018-06-06 21:45] #9045 closed

[2018-06-07 03:23] jaykrell opened #9046 "ParallelEnumerableTests.TestGroupBy flaky test"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/1438/#showFailuresLink

ParallelEnumerableTests.TestGroupBy

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2018-06-07 05:51] Rombersoft commented on #9043
I can't repro this case, because it appears one time. As for your suggest that I must say I've gotten this error message often in another calling
_list.Last();
And I don't understand what state about it means.

[2018-06-07 08:52] jaykrell opened #9051 "csc flaky on x86"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Not often but e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-i386/14761/parsed_console/log_content.html#ERROR1

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2018-06-07 08:54] jaykrell commented on #9051
I find the output confusing, with all the nesting of exceptions.
What is the stack of the original NullReference?

[2018-06-07 09:09] jaykrell commented on #9035
Coop specific? I'll try.

[2018-06-07 09:25] rincewound opened #9052 "Sleep uses non-monotonic timer on Linux"
Apparently a thread that is currently in a call to Thread.Sleep will block, if during the call the systemtime is set to a past date. The thread will continue to run, when the systemtime is set to the current date (or a point in the future!)

Testprogram:

[code]

### Current Behavior
Program output is:

Count 0
Count 1
Count 2
Count 3
Count 4
Count 5
Count 6
Count 7
Count 8
Count 9
Count 10
Timetr

[2018-06-07 10:02] jaykrell commented on #9052
The code in mono looks correct and this program worked for me.

[2018-06-07 10:27] Blai01 opened #9053 "Install Mono on SUSE Linux Enterprise Server 12 SP3"
Hi,

I am using SUSE Linux Enterprise Server 12 SP3 and I want to use mod_mono but I'm finding some difficulties to make it work.

These are the teps I followed to install the whole thing on a fresh SLES installation:

# zypper in php7*
# zypper in apache2*
# zypper addrepo https://download.opensuse.org/repositories/home:/so_it_team/SLE_12_SP3/home:so_it_team.repo
# zypper in mono*
# zypper addrep

[2018-06-07 10:37] rincewound commented on #9052
Weird, we're experiencing the same problem, if we wait for an event instead of using sleep.

[2018-06-07 10:58] rincewound commented on #9052
After I did some digging in the mono codebase I suspect I'm bitten by https://github.com/mono/mono/issues/7056, as I'm currently on a version that should exhibit this behavior.

Changing my testprogram to output the ticks yields the following output:

Sun Jul  1 10:00:00 UTC 2018
Ticks: 18468990
Timetravel to one hour ago!
Sun Jul  1 09:00:00 UTC 2018
Ticks: 14868902 <--- Ticks jumps backwards!

S

[2018-06-07 10:58] #9052 closed

[2018-06-07 11:33] rjvdboon commented on #9043
AFAICT the path `mcs/class/System.Core/System.Linq/Enumerable.cs` hasn't existed in the mono source for ages, the last release not using referencesource (and thus pulling the Enumerable class from that location) was mono-4.0.0-branch.
Can you paste the full output from `mono --version`?

[2018-06-07 12:39] ricardomelos opened #9055 "WCF - System.NullReferenceException area-BCL: WCF"
I am developing a windows service based server.
My application run at raspberry pi 3 model B device with mono.
The OS is RaspBian STRETCH 4.14 and Mono JIT compiler version 4.6.2 (Debian 4.6.2.7+dfsg-1).

When I start the WCF communication with the client, I get the this error and the application turn off without any treatment. This problem occurs randomly, and I can not define what is its cause.

[2018-06-07 13:45] hrittich opened #9056 "Debian Package Conflict with csc binary name"
## Steps to Reproduce

1. Install Debian Stretch and add the repository

        deb https://download.mono-project.com/repo/debian stable-stretch main

2. Install the package `chicken-bin`.
3. Try to install the package `mono-roslyn` (or any package that depends on it).

### Current Behavior

Mono, especially mono-roslyn, cannot be installed along with chicken scheme.

The package wants to overrid

[2018-06-07 13:49] NattyNarwhal commented on #8679
z seems to be building again. Once dotnet/corefx#30012 gets cherry picked I can try on ppc64be.

[2018-06-07 14:38] nealef opened #9057 "RPM Spec file"
Building an RPM on s390x fails because the %files inventory is looking for files with .pdb extension but s390x produces .mdb files. Could the spec file use .*db in the %files specifications?

Also, as the BE platforms don't have a working csc yet the following fudge may be useful:

+%ifarch s390x
+pushd %{buildroot}%{_prefix}/lib/mono/4.5
+mv csc.exe csc.exe.le
+ln -s mcs.exe csc.exe
+popd
+%endif

[2018-06-07 16:28] directhex commented on #9056
Similar issue: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=754259

[2018-06-07 16:31] BrzVlad commented on #9000
@jaykrell could you please just add the test to disabled for interpreter and I'll take a look there.

[2018-06-07 16:53] directhex commented on #9057
The .spec file we actually use is here: https://github.com/mono/linux-packaging-mono/blob/centos/mono-core.spec

Should really get rid of the old one from mono.git

[2018-06-07 17:03] nealef commented on #9057
It has the .pdb file specifications. I believe this is where I grabbed it from and used for the s390x build.

From: Jo Shields <notifications@github.com>
Reply-To: mono/mono <reply@reply.github.com>
Date: Thursday, June 7, 2018 at 12:53
To: mono/mono <mono@noreply.github.com>
Cc: Neale Ferguson <neale@sinenomine.net>, Author <author@noreply.github.com>
Subject: Re: [mono/mono] RPM Spec file (#9057

[2018-06-07 17:06] directhex commented on #9057
Right, right, mdb from mcs vs pdb from csc. Using *db is _probably_ OK. I'm not keen on linking mcs.exe as csc.exe, since behaviour differs

[2018-06-07 17:32] masonwheeler opened #9058 "System.Console.ReadLine infinite loop under WASM"
[I reported this over in Blazor](https://github.com/aspnet/Blazor/issues/945) and was informed that the API comes from Mono and needed to be reported here.

When using a Blazor project, which runs the Mono WASM interpreter in a web browser, a call to `System.Console.ReadLine` should give the user a single prompt.  Instead, it gives an infinite loop of prompts until the user tells the browser to pr

[2018-06-07 17:56] nealef commented on #9057
True, I should just #ifnarch s390x in the %files section to exclude it.

From: Jo Shields <notifications@github.com>
Reply-To: mono/mono <reply@reply.github.com>
Date: Thursday, June 7, 2018 at 13:06
To: mono/mono <mono@noreply.github.com>
Cc: Neale Ferguson <neale@sinenomine.net>, Author <author@noreply.github.com>
Subject: Re: [mono/mono] RPM Spec file (#9057)

Right, right, mdb from mcs vs pdb

[2018-06-07 18:04] jaykrell commented on #9035
Runs a little slower on coop, increase timeout some?

[2018-06-07 18:20] NattyNarwhal opened #9060 "configure script should bomb out if it needs msgfmt and friends and can't find one"
When configuring and building Mono on a platform without a (working) `msgfmt` and other libintl/gettext crap, it'll silently set the command to invoke to a null command. This fails silently, and when building, causes an error when running make:

[code]

This can be reproduced on Linux or any other OS where you build but have no gettext or msgfmt. This failure should be noted on the configure step,

[2018-06-07 18:40] smr888 commented on #8775
I have never done what you are doing quite that way . . . I find myself wondering if the HttpWebResponse you are creating with your call to request.GetResponse() is ever being closed, which it needs to be.  I'm not sure the using(Stream s . . .  would do so. I think it just closes the stream, but not the response.

Anyway, just to see what happens you could try it like this, which is similar to wh

[2018-06-07 20:16] jaykrell opened #9065 "interp/gsharing_valuetype_layout.exe flaky"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/6366/testReport/junit/MonoTests/runtime-interp/gsharing_valuetype_layout_exe_timedout/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

[2018-06-07 20:39] jaykrell opened #9066 "Test_HostInUri flaky"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-i386/14415/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[ ] macOS
[X] Linux I think.
[ ] Windows

[2018-06-07 20:48] kumpera commented on #9033
FIX: https://github.com/mono/mono/pull/9067

[2018-06-07 22:01] jaykrell opened #9070 "test-process-stress/process_stress_1_exe flaky"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails, e.g.

https://jenkins.mono-project.com/job/x/10847/

Test Result (1 failure / +1)
MonoTests.test-process-stress.process-stress-1.exe

https://jenkins.mono-project.com/job/x/10847/testReport/junit/MonoTests/test-process-stress/process_stress_1_exe/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[2018-06-07 22:06] jaykrell opened #9071 "flake coreclr.external/coreclr/tests/src/JIT/Regression/VS-ia64-JIT/V1.2-M02/b28158/test_il.exe_timedout"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails,  e.g.:

https://jenkins.mono-project.com/job/test-mono-pull-request-acceptance-tests/5040/

MonoTests.coreclr.external/coreclr/tests/src/JIT/Regression/VS-ia64-JIT/V1.2-M02/b28158/test_il.exe_timedout

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-06-07 22:07] jaykrell opened #9072 "flake coreclr.external/coreclr/tests/src/JIT/jit64/opt/rngchk/RngchkStress3.exe_timedout"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails, e.g.:

https://jenkins.mono-project.com/job/test-mono-pull-request-acceptance-tests/5040/

https://jenkins.mono-project.com/job/test-mono-pull-request-acceptance-tests/5040/testReport/junit/MonoTests/coreclr/external_coreclr_tests_src_JIT_jit64_opt_rngchk_RngchkStress3_exe_timedout/

[code]

### Expected Behavior

Success.

## On

[2018-06-07 22:12] jaykrell commented on #6373
https://jenkins.mono-project.com/job/test-mono-pull-request-hybrid-suspend/1447/

https://jenkins.mono-project.com/job/test-mono-pull-request-hybrid-suspend/1447/testReport/junit/MonoTests/runtime/bug_10127_exe_timedout/

[2018-06-07 22:33] jaykrell opened #9073 "flaky ProfilerTests_MonitorEventsAreRecorded"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails, e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/11147/

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/11147/testReport/junit/Test%20collection%20for%20MonoTests.Mono.Profiler.Log/ProfilerTests/MonoTests_Mono_Profiler_Log_ProfilerTests_MonitorEventsAreRecorded/

[code]

### Expec

[2018-06-07 22:37] jaykrell opened #9074 "flaky optional sdk CI"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx-products-sdks-ios/1867/parsed_console/log.html

[code]

Is this an assertion failure in shipping Xamarin non-runtime code?
Or is it Apple code?

### Expected Behavior

Success.

## On which platforms did you notice this

macOS

[2018-06-07 22:39] jaykrell opened #9075 "flaky optional wasm CI"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails, e.g. https://jenkins.mono-project.com/job/test-mono-pull-request-wasm/1324/parsed_console/log_content.html#ERROR1

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-06-08 06:27] Therzok opened #9080 "Mono interpreter reports --compile"
## Steps to Reproduce

1. `mono --interpreter --compile Class:Method asm.exe`
2. See that it output JIT generated code

### Current Behavior

Jit is output

### Expected Behavior

Jit shouldn't be output

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.14.something

## Stacktrace

[code]

[2018-06-08 07:38] kekekeks commented on #9056
Debian has a tendency to "reserve" short names for some not widely used software. A good example is the old [node](https://packages.debian.org/wheezy/node) package which conflicted with nodejs. Fortunately, `usr/bin/node` was replaced by the actial node js.

The name `csc` is being used by CSharp compiler since 2001, so its clearly an issue on Debian side.

[2018-06-08 08:11] Rombersoft commented on #9043
I'm sorry this was on another computer there is mono 2.10

[2018-06-08 08:11] #9043 closed

[2018-06-08 08:14] jaykrell commented on #9013
Agreed arc4random. If it is truly a syscall on Linux, i.e. in the kernel, then glibc is not particularly relevant imho, can always call syscalls w/o glibc wrapper.

[2018-06-08 08:37] hrittich commented on #9056
Well, if your argument for it being an issue on the Debian side is, that the C# compiler is older, that it is
not an argument. The name `csc` is being used by Chicken since the year 2000. Although, I find a who-came-first-discussion rather pointless.

The problem is, I probably cannot file a bug agains a Debian package, that it has a name clash with a package in an unofficial repository. Which mea

[2018-06-08 10:31] kekekeks commented on #9056
`csc` is being widely used by xplat scripts that run on windows/osx/linux and don't care about particular particular linux distro having some conflicting chickens. Changing the name would introduce issues for .NET build ecosystem and cause issues for .NET developers in xplat environments who are the primary users of the compiler.

[2018-06-08 11:08] NattyNarwhal commented on #9013
Linux has [getrandom](http://man7.org/linux/man-pages/man2/getrandom.2.html) instead. There's no libc wrapper in glibc yet though.

[2018-06-08 11:31] hrittich commented on #9056
I can understand that this bug will persist, if it is too hard/too much work to be fixed.

I would be wondering, though, if you could not execute these scripts in a special environment, where `csc` is mapped to the C# compiler and otherwise it is not. A little bit like Python's virtualenv. All you have to do is, to place the `csc` executable somewhere else and then adjust the `PATH` variable when

[2018-06-08 11:44] nover commented on #9041
@EgorBo It's not dotnet core I'm comparing with here, it's full fat dotnet framework on Windows, where the piece of code works. If executed via Mono on windows, it fails, thus my conclusion that Mono's URI implementation is not following that of dotnet full fat framework.

[2018-06-08 13:55] directhex commented on #9056
Actually, the reason it conflicts in these Xamarin packages but not in official Debian, was a conscious effort to resolve a conflict with Chicken. Specifically, https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=509367

The `node` situation was only resolved because the `node` package was removed - Debian has a "I was here first so it's mine" approach to these conflicts, and popularity doesn't fact

[2018-06-08 14:32] nerzhulart opened #9083 "Add an ability to serialize metadata and symbols for dynamic assemblies"
In a PR https://github.com/mono/mono/pull/9082 we've added an ability to read metadata/symbols over debugger protocol, but it doesn't work for dynamic assemblies generated via SRE. We've tried to implement this as well, but had no luck. It would be nice if someone does this or helps us to do this

[2018-06-08 15:28] kumpera commented on #9044
Here's the revert, in case we don't get to a fix in time: https://github.com/mono/mono/pull/9084

[2018-06-08 15:35] hrittich commented on #9056
In the current situation, I could use [dpkg-divert](https://linux.die.net/man/8/dpkg-divert) to move either chicken or mono to a different location. Adding a conflicts tag would make this process harder, although it would improve the error message.

How about the following idea: Instead of placing `csc` into `/usr/bin` place it in `/usr/lib/mono/bin`. Then, add a file to `/etc/profile.d/` which ad

[2018-06-08 16:23] mgrubb opened #9085 "Compile errors on AIX 7.2"
## Steps to Reproduce

1. Run ./configure
2. gmake

### Current Behavior

I am getting a couple compile errors, one of which I've worked around.  The first error is related to undefined symbol for __cxa_finalize.
https://gist.github.com/mgrubb/6cd82c0a830f9c0ca982a0d7328546cd

The second issue is in runtime, building build/deps/basic-profile-check.exe:
https://gist.github.com/mgrubb/368335f564ea67

[2018-06-08 17:06] NattyNarwhal commented on #9085
I don't recommend building with GCC 4.x; per David Edelsohn, there are a lot of problems with it. I build with GCC 6.4 on AIX 6.1. In particular, you will likely run into issues with finalizers on 4.x, which is what I see here.

I also work in in master (which doesn't compile yet, waiting on mono/corefx#79 to get merged) - I'll peek why.

I recommend running the runtime under GDB when dealing with

[2018-06-08 17:08] jaykrell commented on #9085
This is why I don't like mono-wrapper, or wrappers in general.
I want make to output commands, that I can very easily insert gdb/lldb into.

[2018-06-08 17:14] mgrubb commented on #9085
I don't see a GCC 6.4 available on AIX, but I can find GCC 7.2.0 for AIX 7.2 or GCC 6.3.0 for AIX 7.1.  Which would you suggest I try? Can you point me to your David Edelsohn citation as my Google fu missed that.

Also thanks for the tip about the tracing.

[2018-06-08 17:19] NattyNarwhal commented on #9085
Bull provides a GCC 6.4 (and newer) RPM, but I haven't much luck with making their packages co-exist with Perzl's (haven't tried Felt's) packages, so I've had to compile GCC myself. (As for why I use 6.4, I remember Bull's packages happily using parts of libc that aren't present on PASE. You should be fine using GCC 7 or 8.)

[This](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=54601) was a GCC 4 i

[2018-06-08 17:27] NattyNarwhal commented on #9085
If you're also just wanting to try a build *right now*, I provide binary builds in MonoOni/binarydist that install in a self-contained `/opt/mono` prefix with all dependencies. While the name implies that it's mostly intended for i, (indeed, they're distributed in a savefile) there are also tarballs for AIX users, and those builds were built on AIX 6.1 anyways. (There hasn't been any builds in a w

[2018-06-08 18:04] NattyNarwhal commented on #9085
Ok, I looked the code:

[code]

based on the stacktrace, and SIGILL occurring some when you jump to 0x0 as a result of a missing linked in function, it's trying to jump to a non-existent function; the linker might have warned you about that. It's probably the termination handler in libgcc; again, a sign you should upgrade.

HOWEVER, it does expose another bug in signal handling (which could be new

[2018-06-08 18:04] jaykrell commented on #9051
https://jenkins.mono-project.com/job/test-mono-pull-request-coop/4412/parsed_console/log_content.html#ERROR1

[code]

[2018-06-08 19:26] #8707 closed

[2018-06-08 20:27] jaykrell commented on #9060
Natty if you have a chance please:
1. Look at your config.log.
2. Try w/o msgfmt on Mac/Linux, and look at config.log.

[2018-06-08 20:55] NattyNarwhal commented on #9060
I have a WSL root with Ubuntu 16.04 and no msgfmt and friends; it bombs due to not finding CMake, but it will proceed past that point:

[code]

[2018-06-08 21:05] NattyNarwhal commented on #9060
And in the user part:

[code]

[2018-06-08 21:20] jaykrell commented on #9060
I didn't mean the console output, but perhaps just as well.
There is config.log. It might be more verbose with configure -verbose.
Ok, well, then, what do the Makefiles looks like? What does make do?
If it works, how does it compare to AIX.

But wait. configure.ac looked like it would error out right?
So maybe stop and debug this. Look at configure (not .ac), etc.
Later.

[2018-06-08 21:21] NattyNarwhal commented on #9060
This isn't an OS specific issue; I've had this occur on Linux (amd64 and ppc64), Haiku, and AIX.

[2018-06-09 00:26] NattyNarwhal commented on #9060
Interestingly, at the end of config.log, MSGFMT and GMSGFMT are set to `:`. I wonder if this is an autotools bug...

[2018-06-09 00:55] jaykrell commented on #9060
It isn't meant to "do nothing"? There are later breaks?

[2018-06-09 02:13] EgorBo opened #9088 "MutatingMethods_MutationsAffectOriginal test fails (imported from CoreFX)"
## Steps to Reproduce

The following test imported from CoreFX fails on mono (and works fine on .NET Core 2.1):

[code]

### Current Behavior
[code]

### Expected Behavior

Exception is not thrown (.NET Core 2.1)

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

[2018-06-09 03:07] EgorBo opened #9089 "WaitHandle.WaitAny returns invalid result"
## Steps to Reproduce
The following code should print "0" (array index of the object that satisfied the wait)
[code]

### Current Behavior

The code prints:
[code]

### Expected Behavior
Should print `0` (just like .NET Core 2.1 does)

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

## UPD:
Also, `WaitAll` instead of `WaitAny` in this case should throw `ArgumentExceptio

[2018-06-09 14:27] filipnavara commented on #9031
Seems like the solution is to change occurrences of `throw FlattenException (...)` in HttpWebRequest to `throw GetWebException (...)`.

[2018-06-09 17:49] filipnavara commented on #9031
Turns out there's actually a test for this - `System.Net.HttpWebRequestTest.EndGetRequestStream_Request_Aborted` - but it is disabled. It fails. `BeginGetRequestStream` starts the `MyGetRequestStreamAsync` method, which successfully reaches the end before `Abort` is called. Thus the exception cannot be caught and thrown inside the `MyGetRequestStreamAsync` method.

For the sake of completeness I w

[2018-06-09 21:44] dayanfcosta opened #9094 "MSB3073 on JetBrains Rider"
## Steps to Reproduce

1.  JetBrains Rider on Ubuntu 18.04 LTS
2. Checkout solution from VSTS
3. Run build
[log-rider.log](https://github.com/mono/mono/files/2087363/log-rider.log)

### Current Behavior

When I try to build my solution I got the error described below

### Expected Behavior

It's expected the build to be successfully

## On which platforms did you notice this

[ ] macOS
[X] Linux
[

[2018-06-11 02:23] lewurm opened #9096 "SIGILL when running roslyn on arm64"
## Steps to Reproduce

1. run roslyn on arm64

### Current Behavior

it crashes rarely

### Expected Behavior

never crash

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

master

## Stacktrace

[code]

instruction stream that causes the SIGILL:
<img width="560" alt="screen shot 2018-06-10 at 15 48 01" src="https://user-images.githubusercontent.com/75

[2018-06-11 10:31] marek-safar commented on #8679
@NattyNarwhal could you port configure.cmake changes to Mono configure before we pull the changes?

[2018-06-11 13:23] kumpera commented on #9058
Hi,

Thanks for reporting this issue. It took me a bit to realize that you’re trying to use ReadLine.
That’s kind of unexpected as it’s not the most intuitive way of asking for user input.

As a workaround, while we take a look at fixing this, you can use the JS prompt function directly.

[2018-06-11 13:30] kumpera commented on #9026
I think this is by design to support multiple statements, as each one in turned into a separate assembly.

[2018-06-11 13:34] Therzok commented on #9026
Can we at least trigger a message/warning if any accessibility is queried on the types?

It made make some assumptions when quickly hacking on a prototype in the repl which didn't hold true when I tried moving to a console app.

[2018-06-11 13:43] masonwheeler commented on #9058
I ran into it while playing around with [Runny](https://github.com/Suchiman/Runny), which runs the Roslyn compiler inside of the browser with Blazor.  Because the compiler doesn't know about the Blazor environment, Console input really is the only way available in that specific case.

[2018-06-11 15:28] marek-safar commented on #9096
@vargaz @kumpera any thoughts on this?

[2018-06-11 15:31] marek-safar commented on #8709
@luhenry should we just disable them?

[2018-06-11 15:31] marek-safar commented on #9073
Closing as duplicate

[2018-06-11 15:31] #9073 closed

[2018-06-11 15:45] marek-safar opened #9097 "CoreFX mcs specific changes tracking"
Using this as tracking task for commits to revert once we drop mcs

- https://github.com/mono/corefx/pull/78

[2018-06-11 15:46] kumpera commented on #9096
@marek-safar nop, it can be anything.

[2018-06-11 17:32] mgrubb commented on #9085
Thanks for all the information.  I did upgrade to GCC 7.2.0, and got much further in the build, this time.
Now it is complaining about a missing mscorlib.dll.

https://gist.github.com/mgrubb/6df7cf0a2f184a5e2ec4416df3a298ab

It no longer halts with the __cxa_finalize error, and I can run the runtime/_tmpinst/bin/mono command without it segfaulting.

[2018-06-11 17:36] NattyNarwhal commented on #9085
Yeah, you're at the end of the build. I'm not sure what's going on there. My suggestion: is `.` in your `$PATH`? If so, try removing it.

[2018-06-11 17:48] marek-safar opened #9099 "Helix Queues for building and testing"
Due to growing number of tests and scaling reasons, we want to experiment with switching to Helix as the backend execution system for our CI system.

For getting started about sending Helix Jobs, see https://github.com/dotnet/core-eng/blob/master/Documentation/Tools/Sample-Job-Sender/Helix-SDK-Job-Sender.md

### Major motivation factors
- Faster execution due to better scaling
- Easier parallelism

[2018-06-11 17:50] mgrubb commented on #9085
no `.` in my `$PATH`. It looks almost like it is either not looking in the right directory for mscorlib.dll either within the source, or it is trying to look for it in `${PREFIX}`. I do have several mscorlib.dll files in the source:
[code]

[2018-06-11 17:53] NattyNarwhal commented on #9085
The Monolite and refererence assemblies are acquired for bootstrap.

With `basic-profile-check` being ran, and the managed world not being built otherwise, either you've already built it, (have you seen MCS output?) or somehow, it's getting skipped and not built at all.

[2018-06-11 17:58] marek-safar commented on #9088
@vargaz please add it to your bugs week list

[2018-06-11 21:21] kumpera commented on #7809
This is not a runtime bug per-se. The test case causes the JIT to take a minute to compile a humongous method with tens of thousands of EH clauses. It's hardly representative of any realistic workload.

I did some profiling and fixed a couple of the worst offenders: https://github.com/mono/mono/pull/9100

[2018-06-12 01:12] jaykrell opened #9102 "Bump minimum requirement to Windows 7."
The source currently tacitly supports Windows Vista.
We should increment this to Windows 7.

i.e. here:
[code]

[2018-06-12 01:13] jaykrell commented on #9102
Change 600 to 601.

[2018-06-12 01:14] jaykrell commented on #9102
I'm not sure about the 501.

[2018-06-12 03:47] PreferLinux commented on #6701
I've just been struggling with this issue, because of problems compiling libgdiplus (and dependencies!) as 32-bit. Either way, I gave up on that, and tried [XQuartz](https://www.xquartz.org/). It seems to work OK in my specific application after a very brief test. For anyone else wanting to try it, here are the steps I followed (I already had Mono compiled and installed as 64-bit):
1. Install XQua

[2018-06-12 03:56] marek-safar commented on #9102
We should align the minimum Windows requirement with netcore, see https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md

[2018-06-12 04:13] marek-safar commented on #9046
This one is interesting, could be the same issue we are hitting with Roslyn.

/cc @lewurm

[2018-06-12 04:18] marek-safar commented on #9040
The error means you ran on different/older version of Mono than the csharp tool was compiled for (same applies if you tried to run it on .NET framework)

[2018-06-12 04:18] #9040 closed

[2018-06-12 06:42] #7615 closed

[2018-06-12 07:03] marek-safar commented on #9083
@nerzhulart do you have any work-in-progress patch we could comment on?

@vargaz could you share your thoughts on how to implement this?

[2018-06-12 07:45] marek-safar commented on #7809
We could disable the test but if it's just a minute we should just bump https://github.com/mono/mono/blob/master/scripts/ci/run-test-acceptance-tests.sh#L21

[2018-06-12 07:51] marek-safar commented on #9094
This is sort of expected behaviour. See https://blog.nuget.org/20130829/nuget-2.7-package-restore-consent-errors.html

[2018-06-12 07:51] #9094 closed

[2018-06-12 08:58] jaykrell commented on #9102
Yeah, oops, it looks like Unity still runs on Vista so I guess close or delay this a while.
The code I was going to make require Win7, I can keep back at Vista.

netcore requires Win7 though.

[2018-06-12 09:16] marek-safar commented on #9041
It works on Mono on Windows so this is not really a bug.

It might break on non-Windows platforms but I suspect that's because the value returned by `LocalPath` is of a different format than on Windows. I agree this should be addressed to work cross-platform but for that please report the issue at https://github.com/dotnet/corefx as we don't want to incompatible with netcore either.

[2018-06-12 09:16] #9041 closed

[2018-06-12 09:19] akoeplinger commented on #9102
We should really talk to Unity about whether they still need Vista. It's out of Microsoft support since April 2017 and we could silently call Win7+ APIs already since corefx assumes that as the baseline.

[2018-06-12 09:21] marek-safar commented on #9102
@joncham could you confirm the Unity minimal OS requirements going forward?

[2018-06-12 09:21] akoeplinger commented on #9102
Here's one example: [DriveInfo.Windows.cs#L65](https://github.com/dotnet/corefx/blob/ceda383ca0c165dbcc274f34476538051bf42f8d/src/System.IO.FileSystem.DriveInfo/src/System/IO/DriveInfo.Windows.cs#L65) uses `SetThreadErrorMode()` which is a Win7+ API

[2018-06-12 10:32] akoeplinger commented on #7809
We'd actually have to change the timeout passed to test-runner.exe (it uses the default of 2mins).

I haven't seen this test fail a lot recently and most recent runs took about 60 seconds on nightly builds so #9100 will probably make this go away.

[2018-06-12 10:40] akoeplinger commented on #9071
Duplicate of https://github.com/mono/mono/issues/7809

[2018-06-12 10:40] #9071 closed

[2018-06-12 10:57] akoeplinger commented on #9009
Interestingly, this seems to have started working again recently: https://jenkins.mono-project.com/job/test-mono-mainline-community/label=centos-s390x/3096/

[2018-06-12 10:59] akoeplinger commented on #8998
The tests were disabled with https://github.com/mono/mono/commit/68dfbf9bc63e9ad9fcbc8ad36a3cd9083ea207cf.

[2018-06-12 11:39] #9033 closed

[2018-06-12 11:42] akoeplinger commented on #7602
Closing this issue since it seems like a machine specific problem and we got no more reports.

[2018-06-12 11:42] #7602 closed

[2018-06-12 12:55] obones opened #9106 "SIGABRT while building under Linux"
Hello,

I'm managing a Linux based server where there is no recent system package available for mono, so I decided to to build mono myself and followed the instructions here: https://www.mono-project.com/docs/compiling-mono/linux/
I downloaded a release tarball that I extracted under /usr/src/mono-5.12.0.226
I then ran configure that did not return any error, its exit code being 0
But when I run m

[2018-06-12 13:15] NattyNarwhal commented on #9085
I performed a build with AIX 6.1 fine from latest sources from master with a mix of Bull and Perzl packages. I'm trying a build on another system now, see if it's reproducible there too.

[2018-06-12 13:17] NattyNarwhal commented on #8679
Closing because z and ppc64be seem to be fixed now.

[2018-06-12 13:17] #8679 closed

[2018-06-12 13:50] jswigart commented on #9040
Thanks, I will check that.

So just including the partial keyword ultimately results in the compiler trying to invoke a method it can't find?

[2018-06-12 14:02] lewurm commented on #9106
Hey @obones, thanks for your report!

What distribution is this happening on? Can you configure with `CFLAGS='-g -O0'` and try again? The stacktrace in `gdb` looks really weird:
[code]
`desc` suddenly turns `NULL`, this shouldn't happen. but it might be that the debugger is confused due to `-O2`.

[2018-06-12 15:29] lambdageek commented on #9044
Can I get a bit more detail about how to download/compile MSBuild to repro this?  Or would it be simpler to try out fixes on Jenkins via `@monojenkins build pkg`?

[2018-06-12 16:07] alexanderkyte commented on #7295
Have been running on Linux+x64/Co-op for a few hours without a crash. I've instrumented all the locking and it all seems fine. I saw one crash related to pythread, stack trace didn't have more info. It seems like a disposed / freed memory is being waited on. Investigating how to trigger / reproduce by adding logging statements.

[2018-06-12 16:08] alexanderkyte commented on #7295
[code]
[code]

[2018-06-12 17:20] EgorBo commented on #9041
@marek-safar @nover sorry, forgot to mention - I filed an issue in corefx - https://github.com/dotnet/corefx/issues/30213

[2018-06-12 18:04] kumpera opened #9109 "[interp][corlib] Assert during corlib test suite."
Found here: https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/6492/parsed_console/log.html

Looks like this:
[code]

[2018-06-12 18:30] lewurm commented on #9109
more occurrences:
https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-armhf/5537/parsed_console/log.html
https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/6499/parsed_console/log.html

[2018-06-12 18:46] kumpera commented on #7809
I found a couple more non linearities in the JIT worth fixing. Compilation times on good-keyboard MBP is down to 5s.

[2018-06-12 20:32] luhenry commented on #6548
Closing since it is a test issue. @akoeplinger should we just disable the test on Mono?

[2018-06-12 20:32] #6548 closed

[2018-06-12 20:41] masonwheeler commented on #9058
The problem appears to be in `TTY.streamOps.read` in mono.js, where it tries to keep reading chars from input until it's filled a 1024-character buffer, with no provision to bail out early if it hits an end-of-line.

[2018-06-13 02:15] #8935 closed

[2018-06-13 04:32] jaykrell commented on #9089
I believe we malfunction on all the platforms, even Windows somewhat.

[2018-06-13 05:08] jaykrell commented on #7552
I'm thinking of taking this but let me think about it more..

[2018-06-13 06:58] lewurm commented on #9109
this PR introduces the failure: https://github.com/mono/mono/pull/9067

[2018-06-13 07:57] akoeplinger commented on #6756
@phagunbaya @davidscherf are you hitting the same issue/error messages as in the original post?

[2018-06-13 08:29] akoeplinger commented on #6756
Thanks.

@directhex can you please check why the msbuild package upgrade is broken again?

[2018-06-13 08:50] akoeplinger commented on #6548
@luhenry interestingly we haven't seen this test failing anymore since we switched from Ubuntu 14.04 to Debian 9. Let's keep it enabled for now given that it's not impacting the CI anymore.

[2018-06-13 10:28] adamryczkowski commented on #6357
I can confirm the problem is fixed in the KeePass2 with the most recent mono.

[2018-06-13 11:41] kotrs opened #9119 "Client certificate with HttpWebRequest does not run on iOS platform"
## Steps to Reproduce

1. Prepare https server requiring client certificate
2. Create instance of X509Certificate2
3. Create instance of X509CertificateCollection and add instance of X509Certificate2.
4. Create instance of HttpWebRequest and set ClientCertificates properties with instance of X509CertificateCollection
5. Set HttpWebRequest callback ServerCertificateValidationCallback += (sender, ce

[2018-06-13 12:40] #8866 closed

[2018-06-13 12:45] kdubau commented on #8893
@radical this looks broken in 2018-02 / 5.12 as well.

[2018-06-13 12:57] #9109 closed

[2018-06-13 13:15] obones commented on #9106
I tried again, but still getting the same crash, and you were right, the debugger got confused, I see that `desc` is not changing its value. The complete log is here:
[mono_make_optimization_off.txt](https://github.com/mono/mono/files/2098191/mono_make_optimization_off.txt)
From my profane eyes, this looks like a crash due to parsing some command line arguments, but I can't be sure of that.

Could

[2018-06-13 14:51] directhex commented on #6756
Which distribution and architecture, exactly? What do all relevant sources.list(.d) entries look like?

[2018-06-13 15:20] directhex commented on #6756
(I can't reproduce an issue with a clean Debian 9 system, using stable repositories.)

[2018-06-13 17:46] baulig commented on #9119
Client Certificates are not officially supported in iOS yet as the code that I recently committed into master has not made it into an iOS release yet.  However, I will make sure that the new code will work as expected.

Which device and which version of iOS are you using?

This could either be a linker issue with the entry point being linked out - or we're using a newer iOS API that is not availab

[2018-06-13 17:58] radical commented on #9044
@lambdageek Use `xplat-master` branch from `https://github.com/mono/msbuild/`. And run `make`.

[2018-06-13 18:47] phagunbaya commented on #6756
I'm using python:3.6-stretch base docker images and this is my install command
[code]

[2018-06-13 18:56] akoeplinger commented on #7809
#9100 dropped the b28158/test_il.exe run time from 58sec to 3.3sec so we'll probably not see this again, closing :) Nice work @kumpera !

[2018-06-13 18:56] #7809 closed

[2018-06-13 19:00] akoeplinger commented on #6756
@phagunbaya you're trying to use the Ubuntu Xenial package repository on Debian Stretch (the underlying OS of your docker image).

Try using `https://download.mono-project.com/repo/debian stable-stretch main` instead as mentioned on http://www.mono-project.com/download/stable/#download-lin-debian

[2018-06-13 19:11] phagunbaya commented on #6756
Yeah. This could be the reason. Thanks for the help. Wondering how it worked before.

[2018-06-13 20:50] sonicmouse commented on #8970
I am currently on 5.12.0.226 and am having a massive amount of memory leaks when making a WCF request. Is this fix in 5.12.0.226? If so, it didn't resolve the WCF memory leak issues at all.

[2018-06-13 22:21] jonpryor commented on #8655
There's an Android/JIT equivalent here:

https://github.com/xamarin/xamarin-android/issues/1807

@lambdageek: Will PR #8662 fix these issues?  Any chance we can backport the fix to mono/2018-02?

[2018-06-13 22:30] lambdageek commented on #8655
@jonpryor #8662 will not fix the underlying issue (F# generates a malformed .pdb file).  All it does it make mono print a better error message when crashing (including the path of the bad .pdb file, for example).

[2018-06-14 05:48] 2mik commented on #8970
mono-5.12.0.226 released on May 8, see https://github.com/mono/mono/releases

[2018-06-14 08:19] petlof opened #9132 "Missing cross-compile target 5.12.0 for mkbundle"
Hi,
Looks like 5.12.0 still isn't available for download through https://download.mono-project.com/runtimes/raw/

How long does it normally take before a new version is available for download (and thereby cross-compile with mkbundle)

[2018-06-14 09:35] kotrs commented on #9119
I am using iPad 2017 with iOS 11.2.6
I know where is the problem maybe. My application is developed in Unity. Unity does not use MonoTouch, but only Mono for all platforms. I searched condition for MONOTOUCH in AppleCertificateHelper class. It calls SecImportExport.ItemImport if not MONOTOUCH. So my application calls SecImportExport.ItemImport on iOS too.

Please, when do you release version with

[2018-06-14 09:51] jaykrell opened #9133 "flaky RemotingServicesTest.ExecuteMessage"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/15167/testReport/junit/(root)/RemotingServicesTest/ExecuteMessage/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-06-14 10:33] stakx opened #9135 "System.Reflection.Emit: ParameterBuilder.SetConstant(nonNullValue) throws for parameters of type `object`"
@lambdageek: This is probably already covered by #8736 (I'm not currently set up to verify this myself), I'm reporting the following in case that it's not.

Given a `ParameterBuilder` for a parameter of type `object`, a call to `parameterBuilder.SetConstant(nonNullValue)` throws an `ArgumentException`. The same scenario works fine on .NET.

## Steps to reproduce

Compile and run the following prog

[2018-06-14 10:34] evgn opened #9136 "Sampling in Windows"
For now there is no per-thread sampling in Mono profiler for Windows. In addition it is not possible to implement it manually using `SuspendThread` + `GetThreadContext` + `ResumeThread` because there is no Mono API function that could unwind stack for another thread (not for current).
I tried to use the `mono_stack_walk_async_safe` function passing a thread context to it but the problem is that th

[2018-06-14 13:04] marek-safar commented on #9133
@jaykrell it'd be useful to make PR disabling such tests together with the issue

[2018-06-14 14:19] vargaz commented on #9088
ms.Equals(new object());
doesn't seem to call MutatingStruct.Equals ().

[2018-06-14 15:05] Therzok opened #9142 "Finalizer crash in process from zstream"
## Steps to Reproduce

1.  Use an [MSBuild binary logger](http://source.dot.net/#Microsoft.Build/Logging/BinaryLogger/BinaryLogger.cs,121) (can possibly be just some zstream)
2. Do some work in a thread
3. Abort the thread and reset abort

### Current Behavior

Cannot reliably repro locally, but on VSTS there is:
[code]

### Expected Behavior

It shouldn't hard crash mono

## On which platforms di

[2018-06-14 15:15] MaximLipnin commented on #8575
The similar behavior can be be reproduced on the .Net framework if there is no Attr.dll in bin folder.
On Mono master the repro gives expected result after replacing Assembly.LoadFile with Assembly.LoadFrom.

[2018-06-14 15:19] luhenry commented on #8709
For `MonitorEventsAreRecorded`, we could more simply reduce the expected value from 5000 to something like 1000. The 5000 value seems quite arbitrary and might have just work on dedicated machines but not on more unpredictable cloud machines.

For `HeapshotDataIsValid`, the test seems more binary so figuring out what's broken would be useful. Disabling it in the mean time sounds the way to go.

[2018-06-14 15:20] Therzok commented on #9142
I guess it's having something to flush on finalization

[2018-06-14 15:30] akoeplinger commented on #8709
FWIF we only see this on Macs which are all on-premises.

[2018-06-14 15:36] lambdageek commented on #9044
Okay, let's summarize what's going on:

1. `msbuild` was failing to build for two separate reasons:
   - Changes in 9ad5255338386a22e7a861e8bcc7c195dc591b99 (`master`, `2018-06`, and `2018-04` (via efe1fdeb9dedeb2f3aba2efe63a977f3521d04b0))
   - Changes in 0c9719c496307070e19c21ce3317b3109a3370b2 (only on `master`)
2. We have revert PRs:
   - [ ] `master` #9084 (reverts both)
   - [x] `2018-06` #9

[2018-06-14 15:39] lambdageek commented on #9044
@luhenry I would prefer to merge #9113 on `master` instead of #9084 (see https://github.com/mono/mono/issues/9044#issuecomment-397339771 for description).  What do you think?

[2018-06-14 15:39] akoeplinger commented on #8709
https://github.com/mono/mono/pull/9143

[2018-06-14 18:02] luhenry commented on #9142
Is it a SIGSEGV or a SIGABRT happening? It's hard to tell from the stacktrace you provided which one it is, and where exactly it triggers. As is, it's going to be quite complicated to figure out exactly what going wrong and if we fixed it. If you can provide us with a repro, it would be best.

[2018-06-14 18:14] lewurm commented on #9142
I assume it's a `SIGSEGV` in this line:
https://github.com/mono/mono/blob/d8dcc3a3f15c323e3499b7d2112c54a7a5e3abd1/mono/metadata/sgen-mono.c#L2546

[2018-06-14 20:01] radical commented on #9135
I cannot reproduce this on OSX with mono/master (`Mono JIT compiler version 5.17.0 (master/9d777bf78d7 Wed Jun 13 13:13:28 EDT 2018)`). I will try on windows too.

[2018-06-14 20:17] lambdageek commented on #9135
Yea this is fixed by #8736

[2018-06-14 20:20] stakx commented on #9135
That's great to hear! In that case, sorry for posting a duplicate.

Thanks again for having fixed this!

[2018-06-14 20:20] #9135 closed

[2018-06-14 20:41] radical commented on #9135
@lambdageek thanks. Closing this issue then.

[2018-06-14 21:11] lewurm commented on #9106
Looks like our code is off-by-one and we write `\0` beyond the allocated memory. Can you try this patch if it fixes your problem? Alas I can't reproduce your issue, so I would appreciate your help:

[code]

[2018-06-14 21:35] vargaz commented on #9088
2 problems here:
ms.Equals(new object());
returns false without calling ms.Value.Equals, since object () is not the same type.

it should be changed to:
                ms.Equals(new MutatingStruct() { Value = 1 });

Also, Nullable.Equals () does:
			return other.value.Equals (value);
this should be changed to
value.Equals (other.value);

[2018-06-14 21:43] Therzok commented on #9142
I'll try a self-contained repro.

[2018-06-14 21:47] lewurm commented on #9088
FWIW, the interp has the same result. it's a problem in the BCL imho.

[2018-06-15 00:04] jaykrell opened #9153 "object handle type safety"
Object handles being pointers allows dubious or incorrect code to compile.

Here is what I found so far.
[code]

[code]

[code]

[code]

[code]

These all violate the type system or the intent.

I found this because.. I knew I had commited something similar recently by accident..and could not find it.. so changed the handles to be type-safe.
I haven't gotten that to fully compile however, nor foun

[2018-06-15 00:05] jaykrell commented on #9153
cc @lambdageek

[2018-06-15 00:14] jaykrell commented on #9153
C++  would surely fix this.
I think it can be fixed in C also, but "something" has to be done with mono_object_new_handle..that is them main/only source of correct code that I haven't gotten to compile with typesafe handles.

[2018-06-15 00:15] jaykrell commented on #9153
Probably just need to make mono_object_new_handle a macro.

[2018-06-15 00:28] jaykrell commented on #9153
MonoArrayHandle
mono_reflection_get_custom_attrs_by_type_handle:
{
	MonoArrayHandle result = MONO_HANDLE_NEW (MonoArray, NULL);
		MONO_HANDLE_ASSIGN (result,...
		if (!result)

[2018-06-15 03:24] EgorBo opened #9155 "mcs fails to compile ParseNumber.cs"
## Steps to Reproduce
The issue was found in https://github.com/mono/mono/pull/8626
MCS crashes on the following code (simplified ParseNumbers.cs from corefx, line 515):
[code]
It looks like the issue is somewhere in `out int value` C# 7.x feature

### Current Behavior

[code]

### Expected Behavior

csc (Roslyn) works fine.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windo

[2018-06-15 08:33] Therzok commented on #9142
It's a SIGABRT

[2018-06-15 08:33] Therzok commented on #9142
Added a mention that the `Thread.Abort()` is reset when encountered so the process exits gracefully.

[2018-06-15 08:52] jaykrell commented on #9142
Maybe there is missing using and if it is placed, the finalizer won't be doing this flushing? I mean, isn't using favored over finalizer?

[2018-06-15 08:59] jaykrell commented on #9136
Suggest, if we don't already, maintain a thread list. Put the thread locals in those elements. Then cross thread, thread local access is pretty easy. Some difficulty in maintaining this thread list, i.e. in a lock-free way.

I don't know what thread locals are required for stack walk though, that seems wierd.

Debuggers can do cross process cross thread stack walks with knowing about thread locals

[2018-06-15 09:01] jaykrell commented on #9000
There are probably two problems here.
JIT regression from December and the interpreter regression very recently.
JIT regression is a random wait on shutdown in an unusual ase.
Interpreter regression is similar but the wait might be longer/infinite.
The JIT wait is finite, a random number.

[2018-06-15 09:02] jaykrell commented on #9088
Mono BCL that is?

[2018-06-15 09:04] jaykrell commented on #9013
arc4random_buf appears to be pretty universal and adequate/best -- Linux, ios, BSD.
getrandom/getentropy are just as good but more platform-specific.
CoreFX imports will drive us to arc4random_buf.

[2018-06-15 10:19] oasisck opened #9161 "New ports for FreeBSD plz"
## Steps to Reproduce

1. pkg install mono
2. pkg info mono
3. Version        : 5.2.0.215

### Current Behavior

### Expected Behavior
Need at least 5.8 for Jackett

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[x] FreeBSD 11.1

**Version Used**:

Mono JIT compiler version 5.2.0 (5.2.0.215 Thu Jun  7 01:29:44 UTC 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc

[2018-06-15 11:03] Therzok commented on #9142
Yes, it is, but it is code we do not control (MSBuild). We have a workaround in place to force disposal, but that means that users of deflate stream will probably crash if they end up in finalizers.

[2018-06-15 11:34] k15tfu commented on #9136
I also work on this issue. Yep, it really looks like we shouldn't use TLS for saving data needed for stack walking.

@jaykrell Do you know, are there any plans to remove them and use thread list instead?

[2018-06-15 12:46] rolfbjarne opened #9164 "AppleTls uses APIs that require OS X 10.8, so it won't work on Lion."
## Steps to Reproduce

[code]

### Current Behavior

[code]

### Expected Behavior

[code]

### Workaround

Use the legacy provider

[code]

## On which platforms did you notice this

[x] macOS (Lion)
[ ] Linux
[ ] Windows

**Version Used**:

Works with:

[code]

does not work with:

[code]

nor any other version from 5.0 to current stable (5.10).

[2018-06-15 13:12] akoeplinger commented on #9164
SSLCreateContext is supported since OSX 10.8, Lion is 10.7: https://developer.apple.com/documentation/security/1393063-sslcreatecontext

This probably never worked with the AppleTLS backend, though I was under the impression that 4.8.0 also used AppleTLS?

/cc @baulig

[2018-06-15 13:36] rolfbjarne commented on #9164
@akoeplinger doesn't look like the AppleTLS backend was implemented in 4.8.0: https://github.com/mono/mono/blob/22a39d7631b1a9ef899433bd28adb993a7bdb39c/mcs/class/System/Mono.Net.Security/MonoTlsProviderFactory.cs#L159-L175

Also trying `MONO_TLS_PROVIDER=apple` doesn't work:

[code]

In any case I've added a PR to default to the legacy provider on Lion and earlier.

[2018-06-15 13:40] akoeplinger commented on #9164
Hmm I thought it came from mono-extensions back then (see http://www.mono-project.com/docs/about-mono/releases/4.8.0/#tls-12-support) but maybe my memory serves me wrong.

Anyway, this will interfere with @baulig's plan to drop the legacy TLS provider :)

[2018-06-15 14:06] lambdageek commented on #9044
Ok, we should have `master`, `2018-06` and `2018-04` all making packages again soon.  Closing.

[2018-06-15 14:06] #9044 closed

[2018-06-15 14:09] lambdageek commented on #8726
We had to revert the fix for this issue on `2018-06` and `2018-04`.  It's fixed on master (need at least 60f06e6ca26c28f874f67503cb58e7fb76095713 to both fix this issue and also not break MSBuild).

[2018-06-15 14:13] nbsoftware commented on #8627
Hello,
Hit by the same issue.
It happens very frequently to me when debugging step by step, often when next line is an async operation, so it seems.

My application output logs:

[code]

Here are my infos:

[code]

[2018-06-15 14:20] MaximLipnin commented on #8545
There is a repro for mentioned F# sample on macOS High Sierra 10.13.5 with the following env:
`Mono`:
Mono JIT compiler version 5.17.0 (master/028ff0d34c8 Fri Jun 15 13:09:27 MSK 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:

[2018-06-15 14:42] filipnavara commented on #9164
Maybe a better alternative would be to use SSLNewContext on older macOS?

[2018-06-15 14:58] spouliot commented on #9164
[code]
https://opensource.apple.com/source/Security/Security-55471/libsecurity_ssl/lib/SecureTransport.h

[2018-06-15 15:02] kotrs opened #9169 "Missing submodules during compilation"
## Steps to Reproduce

1. Download Mono release zip file and unpack it
2. Run ./autogen.sh --prefix=/Library/Frameworks/Mono.framework/Versions/5.12.xx --disable-nls
    (I have to use autogen.sh, configure file is missing)
3. Run make

### Current Behavior

Compiliation failed with error because all folders in external directory is empty
When I download it manualy I get error "No rule to make tar

[2018-06-15 17:39] mhutch commented on #8726
@lambageek is that a temporary revert or do we need to think about alternative workarounds for MD running on those releases?

/cc @slluis

[2018-06-15 17:50] Therzok commented on #9142
Not necessarily a regression, we just came across this when we added binlog integration into monodevelop.

[2018-06-15 17:55] lambdageek commented on #8726
@mhutch The main motivation for the reverts was to unblock XI and XA moving to 2018-04 and to nightly CI builds of the MDK.  The corrected fix for 2018-06 is in PR #9170. I'm going to do the 2018-04 updated PR imminently.

[2018-06-15 20:31] baulig commented on #9164
Well, looks like nobody had a Mac with such an old OS on it, so we didn't detect this.  Thanks a lot for the information about the older APIs, this looks like an easy fix.

@akoeplinger Do we have any Jenkins bot that's still running Lion?

I could make a PR to use the older API, but I'd need a way of testing it.

[2018-06-15 20:55] #6947 closed

[2018-06-15 21:41] rolfbjarne commented on #9164
@baulig you can use the `jerry-2-lion` bot.

[2018-06-15 21:52] baulig commented on #9164
Thanks, I'll have a look at it.

[2018-06-15 22:47] akoeplinger commented on #9169
"release zip" makes me think you downloaded the zip through GitHub. Unfortunately the zip GitHub creates just omits any submodules so it's basically broken.

Please either clone the repo via git or use the tarballs from https://download.mono-project.com/sources/mono/

[2018-06-15 22:47] #9169 closed

[2018-06-15 23:48] radical opened #9179 "CI build breakage for 2018-04, msbuild"
Jenkins build for mono 2018-04 is breaking while building msbuild with errors:

[code]

Digging in, we found that this was due to the environment variable `XDG_CONFIG_HOME` having the literal value of `$HOME/.config` while running msbuild. And this gets surfaced
to nuget via mono's `Environment.SpecialFolder.ApplicationData`, causing the nuget tasks to treat this as a relative path and thus breaki

[2018-06-15 23:50] akoeplinger commented on #9179
We found out this didn't occur in the tests because the `XDG_CONFIG_HOME` variable is only set during the bockbuild build, but not when we're running the tests. That's why we didn't see it.

[2018-06-16 08:39] #9179 closed

[2018-06-16 10:43] jaykrell commented on #9136
So, if the pdata/xdata are setup right, and symbol correlation can be done offline, then  ETW is the way to  go here. It samples and walks stack from kernel through to usermode.

The way Chakra/JScript works for example, is it outputs  data so the addresses can be resolved to functions later.

AOT would also have an easier time, if we generated a little bit of coff/codeview to identify the  functi

[2018-06-16 15:17] obones commented on #9106
Yes, it fixes it just fine, I'm very glad you were able to find a fix that quickly.

Thanks for your help

[2018-06-16 16:05] sjaenick opened #9185 "[sgen] SIGABRT: Array fill produced wrong size"
## Steps to Reproduce

Unfortunately, I can't provide a reasonable test case; the problem occured within a workflow
engine that makes heavy use of multithreading and generates lots of possibly short-lived objects.

[code]

### Current Behavior

SIGABRT / core dump

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

5.12.0.226 built from source, configure

[2018-06-17 15:02] Slimior opened #9189 "WindowsBase.dll lacks WeakEventManager<TEventSource, TEventArgs>"
WeakEventManager<T,U> was added to .NET in version 4.5. [msdn](https://msdn.microsoft.com/en-us/library/hh199438(v=vs.110).aspx).
Mono does not implement it. Only non-generic version exists in [the code](https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/WindowsBase/System.Windows/WeakEventManager.cs)

## Steps to Reproduce

1. save as test.cs
[code]
2.  Run `csc

[2018-06-17 17:04] ncrown opened #9190 "ERROR: System.Reflection.CustomAttributeFormatException: Could not find a property with name CdnPath"
## Steps to Reproduce

1. Attempting to compile and run an MVC 5 project using  the latest version of mono (5.12.0.226).  The project compiles successfully.  We get the login page, and enter credentials, but it fails on the home page in the processing of the BundleConfig.

We do not have the CdnPath set for any of the bundles that we are registering. We've tried adding an empty string for the CdnP

[2018-06-17 23:58] NatanRibeiro opened #9192 "Render Partial View (ASP.NET MVC on Visual Studio for Mac)"
Please, take a look on it...

https://stackoverflow.com/questions/50840381/partial-view-render-error-when-running-in-mono-on-mac

[2018-06-18 00:52] NattyNarwhal commented on #9085
Have you tried again recently, particularly from `master`? I've been building fine on another AIX 6.1 system, but with AIX Toolbox sourced GCC instead of Bull Freeware this time.

[2018-06-18 06:37] marek-safar commented on #9192
Please provide steps how to reproduce the issue

[2018-06-18 06:49] #9088 closed

[2018-06-18 07:07] marek-safar commented on #9185
@BrzVlad is there better way to track this down?

[2018-06-18 07:35] MaximLipnin commented on #8545
To get a repro I performed the following steps:
1. Build the latest mono master
2. Build the latest F# (see `Option 6: Install F# (64-bit) from source` on https://fsharp.org/use/mac/ )
3. Run F# Interactive (in terminal run `fsharpi`)
4. Execute the sample mentioned in the issue step by step.

[2018-06-18 07:58] reinhar2 opened #9194 "disabled winForms Button still accepts user clicks on Mac OSX"
## Steps to Reproduce

Minimal Example:

[code]
compiled/used with:
`csc -platform:x86 HelloForms.cs`
`mono --arch=32 HelloForms.exe`

### Current Behavior

The Button is Clickable even though it is disabled after clicking first time.

### Expected Behavior

Button should be deactivated and thus no user input should be accepted.

Expected behaviour is the case on Windows and Linux

## On which pla

[2018-06-18 08:14] akoeplinger commented on #9161
We don't maintain the FreeBSD port ourselves, we rely on community contributions for it :)

I'm not sure how the packaging works on FreeBSD though so no idea what it'd take to get a newer Mono release into their repositories.

/cc @smortex

[2018-06-18 08:43] akoeplinger commented on #8341
We're now using a checklist on the release issue to make sure we don't miss any steps (see e.g. "Releases" heading in https://github.com/mono/mono/issues/7854)

[2018-06-18 08:43] #8341 closed

[2018-06-18 09:31] #6756 closed

[2018-06-18 10:16] BrzVlad commented on #9185
@sjaenick We don't support arrays larger than 4GB, and there is a dependency on that for nursery sizes larger than 4GB. Sounds like an abnormally high value for a first generation.

[2018-06-18 10:28] evgn commented on #9136
@jaykrell We have already been using ETW in **dotTrace** profiler. For example we use **DotNetRuntime** ETW provider to profile .NET applications. This provider gives us managed symbol information: mappings from native addresses to managed items so we are able to resolve native ETW stacks later. The important point here is that we don't need **PDB** to resolve managed symbols. We get all the neces

[2018-06-18 10:30] jaykrell commented on #9185
Programs that use large bounded amount of memory that fits in physical memory and don't want to incur GC cost?
8GB is not much physical memory these days.

[2018-06-18 10:32] akoeplinger opened #9195 "tailcall-rgctxb-static.exe fails on FullAOT armel/armhf runs"
## Steps to Reproduce

1. Run tailcall-rgctxb-static.exe test on FullAOT armel or armhf (not arm64!)
2. It fails

### Current Behavior

It fails.

### Expected Behavior

No failure.

## On which platforms did you notice this

[ ] macOS
[ x ] Linux
[ ] Windows

**Version Used**: master

[2018-06-18 10:33] akoeplinger commented on #9195
@jaykrell it looks like this started with https://github.com/mono/mono/commit/6f590e214ec9d8628dbd9d86d58fb142bb3241c3, can you please take a look?

[2018-06-18 10:34] jaykrell commented on #9195
arm32 is quite challenged tailcall-wise and always will be, and we should  be willing to disable tests.
But if it works for JIT, then it should  be viable for AOT.

[2018-06-18 10:39] jaykrell commented on #9195
ps: don't be surprised at arm32 vs. arm64 divergence -- arm32 is quite challenged, arm64 is not

[2018-06-18 10:45] akoeplinger opened #9197 "bug-60862.exe runtime test fails with LLVM"
## Steps to Reproduce

1. Run bug-60862.exe with LLVM
2. It fails

### Current Behavior

https://jenkins.mono-project.com/view/Mono/job/test-mono-mainline-mac-sdk/label=osx-amd64/1661/

[code]

### Expected Behavior

No failure.

## On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

/cc @vargaz

[2018-06-18 10:48] akoeplinger commented on #9197
Ah, looks like I filed that one already with https://github.com/mono/mono/issues/8462.

[2018-06-18 10:48] #9197 closed

[2018-06-18 10:48] akoeplinger commented on #8462
ping?

[2018-06-18 10:59] akoeplinger opened #9198 "corlib LLVM tests hang/crash a lot"
## Steps to Reproduce

1. Compile Mono with LLVM enabled
2. Run corlib tests with LLVM
3. It hangs/crashes a lot

### Current Behavior

Either it hangs (https://jenkins.mono-project.com/view/Mono/job/test-mono-mainline-mac-sdk/label=osx-amd64/1661/):

[code]

Or it crashes (https://jenkins.mono-project.com/view/Mono/job/test-mono-mainline-mac-sdk/label=osx-amd64/1659):

[code]

### Expected Behavi

[2018-06-18 11:00] akoeplinger commented on #9198
@vargaz this seems to have started with https://github.com/mono/mono/commit/6baf32526e39fcc306b4ae1854a75c231006ac89

[2018-06-18 12:34] marek-safar commented on #6920
@akoeplinger what's the resolution on this one?

[2018-06-18 13:06] jwaldmann opened #9205 "CLI crashes when typing a dot (triggering auto-completion menu) in a wrapped last line"
CLI crashes when typing a dot (triggering auto-completion menu) in a wrapped last line
## Steps to Reproduce

1. start  `csharp` in a console terminal (tested with gnome-terminal and mate-terminal)
2.  hit `enter` often enough so that the prompt is in the last line.
3. try to type
[code]
(enough spaces after "foo" so that the line wraps around)

### Current Behavior

crashes on typing the dot

###

[2018-06-18 13:06] jwaldmann commented on #9205
possibly related:

* https://github.com/fsharp/fsharp/issues/13

[2018-06-18 13:15] NatanRibeiro commented on #9192
Hello Marek,

What's going on is, I have a project ASP.NET MVC that when I run on Windows works perfectly,

But when I run on Mac (Visual Studio for Mac) and go to SPECIFIC PAGES (Pages where I use partial views FROM ANOTHER FOLDER) I got this error.

It's kind of the MONO doesn't recognize partial views FORM ANOTHER FOLDER.

Ex.:
 I have a View PERSON (~/Views/Person/Index.cshtml) where inside of

[2018-06-18 13:27] marek-safar opened #9206 "2018-06 Mono Release"
# Products integration

## Visual Studio for Mac

Integrator: @directhex

Pull Requests:
 - [x] https://github.com/xamarin/md-addins/pull/3257

## Xamarin.Android

Integrator: @luhenry

Pull Requests:
 - [x] https://github.com/xamarin/xamarin-android/pull/1836
 - [ ] https://github.com/xamarin/monodroid/pull/799

Wrench:
 - https://wrench.internalx.com/Wrench/index.aspx?lane=monodroid-mavericks-mo

[2018-06-18 13:46] vargaz commented on #9088
Should we enable the original test ?

[2018-06-18 14:07] marek-safar commented on #9088
@vargaz @lewurm added the test in his commit

[2018-06-18 14:17] directhex commented on #9132
I'm running that job right now. https://jenkins.mono-project.com/job/ng-extract-mkbundle-runtimes/48/consoleFull

[2018-06-18 14:28] sonicmouse opened #9207 "WCF Memory Leak in 5.14 Pre-release"
## Steps to Reproduce

run the attached solution:
[MemoryLeak.zip](https://github.com/mono/mono/files/2111628/MemoryLeak.zip)

On Windows, the 4 columns are `0; 0; 0; 0;`, on Lubuntu/Ubuntu they shoot up and the program eventually crashes due to the memory leak.

### Current Behavior

The 4 columns are not zero, representing the amount of bytes being leaked.

### Expected Behavior

The 4 columns s

[2018-06-18 14:53] lambdageek commented on #8545
@vargaz F# Interactive uses `System.Reflection.Emit` under the hood, so the C# example isn't analogous.

[2018-06-18 15:11] sonicmouse commented on #8970
Anyway -- I don't know if this went out or not on 5.12, so I updated to the pre-release 5.14.0.125 and it's still leaking on Linux (I am running on Ubuntu/Lubuntu). Just do a test server/client and do 1,000 calls on a loop and you'll see it. My profiler report looks almost identical to @paulfertser's above.

I opened up a new bug report here: https://github.com/mono/mono/issues/9207

[2018-06-18 15:14] #9010 closed

[2018-06-18 15:22] jeromelaban commented on #9023
Here's another scenario that fails similarly:

[code]

[2018-06-18 15:24] kumpera commented on #9011
We don't play those coreclr shenanigans with pause, so I fail to see where we'd need that.

[2018-06-18 15:33] lewurm commented on #9011
we don't do spinning using `pause` in the runtime.

[2018-06-18 15:36] kumpera commented on #9011
More importantly, we don't plan on having the sort of aggressive spinning that coreclr does as it comes with at the expense of power usage - which we care more than the extra few % of perf in some workloads.

[2018-06-18 16:08] lewurm opened #9209 "autogen.sh fails on clean repo"
## Steps to Reproduce

[code]

calling `./autogen.sh` again it works. The output is slightly different around `glibtoolize`:
[code]
### Current Behavior

`git clean -xffd && (./autogen.sh || ./autogen.sh)` works

### Expected Behavior

`git clean -xffd && ./autogen.sh` works

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

[2018-06-18 16:12] benaadams commented on #9011
🤔

https://github.com/mono/mono/blob/bf3c71ef3f9e160951d8778e16cabe547e4360d1/mcs/class/referencesource/mscorlib/system/threading/SpinLock.cs#L378-L385

https://github.com/mono/mono/blob/bf3c71ef3f9e160951d8778e16cabe547e4360d1/mcs/class/referencesource/mscorlib/system/threading/ManualResetEventSlim.cs#L601-L603

[2018-06-18 16:34] benaadams commented on #9011
From the coreclr issue

Though it looks like `SpinWait` translates to `NOP` (1 cycle) rather than `PAUSE` (10 cycles -> 140 cycles) in Mono; which is more power consuming and a single 1 cycle spin is unlikely to resolve any contention so it will spin in a very tight loop.

Using `NOP` is still a tight loop burning CPU, where as `PAUSE` releases all CPU resource to the second thread under hyperthre

[2018-06-18 16:44] benaadams commented on #9011
And depending how much framework or coreclr code is consumed:
![image](https://user-images.githubusercontent.com/1142958/41549824-ee1dbdf6-731e-11e8-9ced-9bdf22d6914f.png)
From [Why Skylake CPUs Are Sometimes 50% Slower – How Intel Has Broken Existing Code](https://aloiskraus.wordpress.com/2018/06/16/why-skylakex-cpus-are-sometimes-50-slower-how-intel-has-broken-existing-code/)

[2018-06-18 16:59] NattyNarwhal commented on #6555
This is reproducible on AIX, and if you have your ulimits to unlimited, it starts at `-2` (that's seemingly what the function in eglib gets out of rlimit - it says `#define RLIM64_INFINITY     (0x7fffffffffffffffLL)`) and has to work its way down closing FDs until it hits stderr. In worst case scenarios, I find it takes ~30 minutes for it to reach exec. This is what was bunging up the CI server. (

[2018-06-18 17:00] kumpera commented on #9011
Fair enough. We should add support for PAUSE / YIELD and tune those BCL knobs to be geared towards low power.

[2018-06-18 17:04] kumpera commented on #9011
Since we're here.
We should audit usage of Environment.ProcessorCount and PlatformHelper.ProcessorCount.
BCL code should have a very good reason to use former (including caching its value) and not the later.

[2018-06-18 17:17] benaadams commented on #9011
BCL code should have a very good reason to use former (including caching its value) and not the later.

I believe the caching is because checking the cpu count is an expensive synchronising request; and cpus counts don't change that frequently? (so it only rechecks every N requests)

The risk of not caching is it becomes expensive; so users then manually cache it in a `readonly static` ending up w

[2018-06-18 17:31] #9155 closed

[2018-06-18 18:49] chamons opened #9210 "macOS Mojave "Hardened Runtime""
A Xamairn.Mac user pointed out that in 10.14 there is a new `MAP_JIT` for `mmap` that you can pass. When combined with some entitlement, you can enable a "hardened runtime" mode that may become mandatory in the future.

https://github.com/xamarin/xamarin-macios/issues/4288

Mono should look into what changes are needed for this.

[2018-06-18 18:54] vargaz commented on #9210
Is there any documentation on this ?

[2018-06-18 18:54] chamons commented on #9210
I checked https://asciiwwdc.com/ but I couldn't find anything yet...

[2018-06-18 19:33] marek-safar opened #9211 "Undefined symbols for architecture x86_64: _mono_runtime_set_pending_exception"
## Steps to Reproduce

1. Build XI

### Current Behavior

[code]

Full log at https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7420/testReport/Xamarin.MMP.Tests/TargetFrameworkDetectionTests/LongProfileStrings_SelectCorrectProfile/

### Expected Behavior

No error

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

2018-04 integration

[2018-06-18 21:12] baulig commented on #9031
I gave this some love during bug week and will have a new PR for this ready shortly.

It turns out that we already have a test for this in the web-tests, but it only tests `HttpWebRequest.GetResponseAsync()` with a `GET` request.  I extended this test to also test the synchronous and begin/end-async APIs doing both a `GET` and a `POST` request.

[2018-06-18 21:20] mgrubb commented on #9085
I haven't tried again from master yet.  I'll try again this week.

[2018-06-18 21:56] baulig commented on #9031
The new tests are now done:
https://github.com/xamarin/web-tests/blob/master/Xamarin.WebTests.Tests/Xamarin.WebTests.HttpInstrumentationTests/AbortDuringHandshake.cs.

You can run them with
[code]

[2018-06-18 22:28] pr0vieh commented on #9011
@benaadams ❤️
I could not explain why after a server / cpu change from Ivy to Skylake mono performance has dropped
now it's clear!

[2018-06-18 23:21] akoeplinger commented on #9209
I can't repro this here. Looking at a diff between your autogen.sh output and mine shows this:

[code]

any idea why it'd use `../..` for you?

[2018-06-19 00:44] jaykrell commented on #9011
Doesn’t spinning save battery as often as it is faster on non-battery? I mean, I understand it is all heuristic and that spinning is worse under contention.

In either case, ideally, this belongs at the next layer down, in usermode and not in the kernel, and on Unix we probably already get that, possibly all systems.

i.e. Linux kernel only has futex and pthreads probably only uses that after a sp

[2018-06-19 07:08] PiotrZierhoffer commented on #8340
I can confirm this on mono 5.12.0.226. Unfortunately it makes console applications that use colors in their output quite unusable.

While this is not fixed, does anyone know if it's safe to set TERM=xterm by default on modern Linux distros? Are you aware of any distributions that lack this config by default?

[2018-06-19 07:59] marek-safar commented on #6962
@jaykrell is it still in progress after several months?

[2018-06-19 08:22] jaykrell commented on #6962
It is largely done but could use some more attention -- every configuration has to be checked (jit, aot, fullaot, hybridaot, llvmaot), every arch (x86, amd64, arm, arm64) and every failure analysed. A lot already works but the large matrix has to be traversed.

[2018-06-19 08:37] marek-safar commented on #8486
@vargaz what's the status of this issue?

[2018-06-19 09:14] marek-safar opened #9215 "CoreFX System.Net.NetworkInformation namespace"
Types to import

- [ ] DuplicateAddressDetectionState
- [ ] GatewayIPAddressInformation
- [ ] GatewayIPAddressInformationCollection
- [ ] IcmpV4Statistics
- [ ] IcmpV6Statistics
- [ ] IPAddressCollection
- [ ] IPAddressInformation
- [ ] IPAddressInformationCollection
- [ ] IPGlobalProperties
- [ ] IPGlobalStatistics
- [ ] IPInterfaceProperties
- [ ] IPInterfaceStatistics
- [ ] IPStatus
- [ ] IPv4I

[2018-06-19 09:17] marek-safar commented on #9215
Ludovic ported few in unfinished PR at https://github.com/mono/mono/compare/master...luhenry:corefx-System.Net.NetworkInformation#diff-8a17f52e0062026d1a9555a3bae175e8R298

[2018-06-19 09:26] marek-safar opened #9216 "CoreFX System.Security.Cryptography.X509Certificates namespace"
## Types in System.dll to import

- [ ] CertificateRequest
- [ ] OpenFlags
- [ ] PublicKey
- [ ] StoreLocation
- [ ] StoreName
- [ ] X500DistinguishedName
- [ ] X500DistinguishedNameFlags
- [ ] X509BasicConstraintsExtension
- [ ] X509Certificate2
- [ ] X509Certificate2Collection
- [ ] X509Certificate2Enumerator
- [ ] X509CertificateCollection
- [ ] X509Chain
- [ ] X509ChainElement
- [ ] X509ChainE

[2018-06-19 09:44] lewurm commented on #9209
Thanks for trying. Execution diverges here: http://git.savannah.gnu.org/cgit/libtool.git/tree/libtoolize.in?id=6ca5e224bc7bcc114a9ba2cf5dcf0fbf0ec40c9f#n1561

I happen to have a `install.sh` file in my home directory (some install script for a Vim plugin), which then satisfies the fallback check for `../../install.sh`, concluding that `../..` must be the location for auxiliary files.

Sorry for th

[2018-06-19 09:44] #9209 closed

[2018-06-19 10:13] marek-safar opened #9217 "Epic: Output Size Reduction"
The CoreFX source code import and some new features like the interpreter have had a negative impact on the final binary size of binaries we produce for Xamarin scenarios. The size we care about is not the Mono libraries size but the final size of customer's app once all tools used to reduce the size are applied. We never tracked this continuously which is one of the reasons we regressed.

Most if

[2018-06-19 12:55] #9132 closed

[2018-06-19 13:29] rolfbjarne commented on #9211
@vargaz yes, that's expected (the user can choose, and it's an option we test and support)

[2018-06-19 13:45] lateralusX opened #9218 "Windows x64 AOT/Full AOT LLVM support."
Add LLVM codegen support on Windows x64 Visual Studio build mono runtime. Since AOT/Full AOT is only supported using Visual Studio build Windows x64 mono runtime, this will not support cygwin build mono runtime or standard configure steps.

- [x] Fix mono LLVM master to build and work on Windows using cmake and VS 2015/2017. https://github.com/mono/llvm/pull/14
- [x] Fix mono Visual Studio runtime

[2018-06-19 13:45] kumpera commented on #9011
Hi @jaykrell, look at the links provided by @benaadams to better contextualize your comments.

[2018-06-19 13:48] kumpera commented on #9011
@benaadams while doing a basic review of the BCL I found a couple places that look maybe fishy (perf or correctness-wise).

The issue with using, and caching, Environment.ProcessorCount is that CPU could do change dynamically on mobile and we need to react to that otherwise perf suffers significantly.

[2018-06-19 13:55] benaadams commented on #9011
Its definitely a balance; something that checks the count very infrequently isn't going to adapt anyway; and something that checks it hundreds of times per second will be checking it far faster than the mobile would change CPU count?

[2018-06-19 13:57] benaadams commented on #9011
It checking elapsed ticks more or less costly than checking CPU count? (i.e cache for x time rather than request count)

[2018-06-19 13:59] kumpera commented on #9011
It can be a couple of orders of magnitude faster on some targets.

[2018-06-19 14:06] jaykrell commented on #9011
How does CPU count change? I understand hot-add?remove?swap of CPUs on high end servers.
On Mobile? In VMs? Is there a notification one can get? Granted, nice to have one code path that handles high end servers and mobile, so CPU count can change in general.
Checking tickcount on Windows is super fast, other than call/ret, it is just reading a fixed address.
Hopefully other systems similar.
I'm no

[2018-06-19 14:13] benaadams commented on #9011
Arm uses [big.LITTLE](https://en.wikipedia.org/wiki/ARM_big.LITTLE) where they have high power cores and low power cores; they use the high power cores when CPU load is high, then shift the loads to the low power cores when the CPU load is lower so the number of CPU cores available increases and decreases based on load (or battery power remaining)

[2018-06-19 14:16] benaadams commented on #9011
Sorry, big.LITTLE is match sets; is [DynamicIQ](https://developer.arm.com/technologies/dynamiq) that changes layouts

[2018-06-19 14:20] jaykrell commented on #9011
DynamicIQ is powering on/off the little cores, effectively adding/removing them?
The kernel will see and expose it like that? Wow.

[2018-06-19 15:07] NattyNarwhal commented on #9161
I've talked to a FreeBSD porter about it - they're working on it.

[2018-06-19 15:41] jaykrell commented on #9161
I think some of their patches we could take asis (errno == 0) or under configure flags ("mono" vs. ".mono"). It bugs me that people feel the need to maintain patches.

I'd like to confirm errno==0 is really a thing there, I didn't track down either its history or the underlying code path. It could be under ifdef freebsd or unconditional.

The "mono" vs. ".mono" could be either an explict -foo-path

[2018-06-19 15:50] NattyNarwhal commented on #9161
I believe they're jettisoning most of their patches as they're upstreamed or no longer relevant. (I did a build with FreeBSD on master and got the runtime and BCL building fine - just needed a CoreFX PAL patch I told them to upstream.) I'd have to talk to the ports guy again about it though.

[2018-06-19 15:58] kumpera opened #9223 "nuget timeouts during msbuild build"
How to reproduce:
1. Nuke your nuget cache: `rm -rf ~/.nuget`
1. Checkout `https://github.com/mono/msbuild xplat-master`
1. Build with `./build.sh -host mono -configuration Release -skipTests`

It will fail with this:
[code]

If you scroll up a bit you'll see:
[code]

[2018-06-19 16:35] marek-safar commented on #9223
I can reproduce this issue (will try to get better log)

[2018-06-19 16:53] baulig commented on #9164
I am getting this error
[code]

[2018-06-19 16:55] baulig commented on #9223
Questions we need to answer:

1. Is this a network / server issue?  Can we somehow confirm with the server that it is not?
2. Is nuget retrying the download (as it should) or what happens after the timeout?
3. How often does this happen?

[2018-06-19 17:00] alexanderkyte commented on #9223
1. We can confirm by seeing if older versions of mono have this problem with the current nuget server.
2. Retries compounding with delays can lead to really long restore times, long enough that people talk about putting all their nugets into a github repo (mentioned in slack a half hour ago)
3. It seems to happen relatively often, but nuget hides this by caching packages system-wide. It particular

[2018-06-19 17:02] alexanderkyte commented on #9223
@marek-safar if you could confirm non-reproduction with an earlier mono it might help us to reduce the number of commits that might have caused this

[2018-06-19 18:02] radical opened #9225 "Should msbuild be run with `--assembly-loader={warning|strict}`?"
This is based off the discussion in https://github.com/mono/mono/issues/8715#issuecomment-389354414 . I am copy/pasting the comments here, starting from the earlier link.

[code]

[code]

[code]

[code]

[code]

[2018-06-19 18:02] radical commented on #8715
The original bug is fixed. Moving the discussion about `--assembly-loader=?` to https://github.com/mono/mono/issues/9225 .

[2018-06-19 18:02] #8715 closed

[2018-06-19 18:14] kumpera commented on #9223
@baulig

1. I downloaded one of the affected nuget packages from the same network 353 times and the highest download time was 1290ms, which 96% finishing within 500ms.
2. No, it's not, it fails restoring as it probably believes that the network is down or having issues if nothing comes after 100s.
3.frequent enough. I don't have % numbers, but I repro'd it today 3 times in the course of troublesho

[2018-06-19 18:22] baulig commented on #9164
The bot also does not have `cmake` and home-brew on it seems to be broken beyond repair (ancient `curl` version from the time when dinosaurs still walked on this planet).  I could certainly work around / fix that, but don't want to break anything - is anything else using it?

[2018-06-19 20:42] lambdageek commented on #8726
Ok, this should be fixed (again) on `2018-04` (commit f22c8b706eb8459efb6d546c9fd1e8aa3734db03) and `2018-06` (commit 9ec4d30693eb6632820574edea7e1605fe894ab6).

Closing.

[2018-06-19 20:42] #8726 closed

[2018-06-19 21:17] baulig commented on #9164
Well, I believe we should just simply retire these old operating system versions.

According to this article, OS X only introduced TLS 1.2 in Mavericks:
https://www.esecurityplanet.com/mac-os-security/apple-secures-mac-os-x-with-mavericks-release.html

GitHub already removed support for older versions:
https://githubengineering.com/crypto-removal-notice/

If you look at the API docs, you'll also s

[2018-06-19 21:18] baulig commented on #9164
In addition to that, Mono also does not build anymore (after disabling BTLS, which also does not build):

[code]

[2018-06-19 21:22] baulig commented on #9164
I was able to manually build `openssl` and `curl` on the bot, then install `cmake`.

Running `brew doctor` displays this warning:

[code]

[2018-06-19 21:22] baulig commented on #9164
The BTLS build failure that I mentioned earlier was this:

[code]

[2018-06-19 21:34] jaykrell commented on #9164
stdalign.h is just:
[code]

[2018-06-19 23:10] VincentDondain opened #9227 "The i386 architecture is deprecated for macOS during LLVM build"
## Steps to Reproduce

Build `xamarin-macios` with `Xcode10-beta2` on macOS Mojave (dunno if the same thing happen on High Sierra).

### Current Behavior

Short build output focused on issue: https://gist.github.com/VincentDondain/1ae5aaf93cbd8b374d99cfbf7cc24226

Full build output: https://gist.github.com/VincentDondain/f16a7926659abbbb4e3fa931faa79c28

### Expected Behavior

Build `xamarin-macio

[2018-06-20 00:50] vargaz commented on #9227
When running:
c++ -m32 -std=c++11 foo.cpp
I get:
ld: warning: The i386 architecture is deprecated for macOS (remove from Xcode build setting: ARCHS)
ld: warning: ignoring file /Applications/Xcode10beta2.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/usr/lib/libSystem.tbd, missing required architecture i386 in file /Applications/Xcode10beta2.app/Contents/Developer/P

[2018-06-20 00:51] jaykrell commented on #9227
Wow they are pretty serious. Does it work if specify the flag to indicate targeting old macos?

[2018-06-20 00:51] vargaz commented on #9227
So it looks like 32 bit osx is already deprecated in xcode10.

Note that we default to downloading a prebuild llvm from azure, not sure why that doesn't happen on your system.

[2018-06-20 00:52] vargaz commented on #9227
xcode 10 only has a MacOSX10.14.sdk sysroot.

[2018-06-20 00:52] jaykrell commented on #9227
Yeah that was my next question, contents of /Applications/Xcode10beta2.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs other than 10.14? I guess nothing.

[2018-06-20 00:53] jaykrell commented on #9227
When you  upgrade, you still have /Applications/Xcode<old>, and that works?

[2018-06-20 00:54] vargaz commented on #9227
c++ -m32 -std=c++11 -mmacosx-version-min=10.9 foo.cpp  fails as well.

[2018-06-20 00:57] jaykrell commented on #9227
Makes sense. The most that will do is defines/compiler-switches to guide header-declarations and flags to mark version in binary. It can't find a nonexistant x86 libSystem.dylib.

Upgrade from older might do, and maybe it'll come back before release.

Can you point the compiler/linker at the native root and do those still have i386, i.e. for runtime compat? I realize native root is an old bad cons

[2018-06-20 02:30] sonicmouse commented on #9207
We have a product going in to production in a week or so. This leak is bringing down all our Q/A machines within 5 hours. My manager is a tad worried.

Do we have an ETA on this? I told him if no movement is made on this issue in the next day, i will write my own "WCF"-like service.. just a simple TCP server that handles serialized RPCs. I don't want to do that, of course... but what other options

[2018-06-20 05:48] marek-safar commented on #6845
@kasper3 awesome, thank you for the contributions

[2018-06-20 08:01] monperrus commented on #8454
A workaround is to set the environment variable `TERM=xterm` (thanks https://github.com/mono/mono/issues/6752#issuecomment-365212655)

    TERM=xterm pdfmod foo.pdf

(works for me no Debian testing)

[2018-06-20 09:18] lateralusX commented on #9136
FYI, some background around mono native unwind info support on Windows.

For JIT, we register all needed unwind info for managed frames on Windows. This enables debuggers to correctly stackwalk and show callstacks and step in and out of managed functions in native debuggers like WinDBG and Visual Studio. To get more info (symbol name, parameters etc) for JIT:ed methods, the regular mono methods ca

[2018-06-20 09:43] akoeplinger commented on #9075
The last 20 wasm PR builds were green so let's assume this was just a temporary network glitch for now.

[2018-06-20 09:43] #9075 closed

[2018-06-20 10:32] akoeplinger commented on #8903
Jenkins was fixed to no longer run these tests as root but I still merged https://github.com/mono/mono/pull/8904 since root can still write to a file even if it's set readonly (this matches the corefx behavior).

[2018-06-20 10:32] #8903 closed

[2018-06-20 10:35] akoeplinger commented on #8321
With https://github.com/mono/mono/pull/9213 and Jenkins not running tests as root (or https://github.com/mono/mono/pull/8904) we're green on amd64 now.

I'll file a separate issue for the remaining issues on arm64/armel/armhf since they're different now.

[2018-06-20 10:35] #8321 closed

[2018-06-20 10:38] paulfertser commented on #9207
I would suggest you first somehow make sure you certainly have that fix of mine included. Then if it still leaks, you can try a similar transformation with ProcessInput function in the same file. Both shouldn't take much time, building a separate Mono instance seems to be trivial and well-documented. If that doesn't help, yes, you'll need to either restart your service every N requests (like PHP f

[2018-06-20 10:44] jaykrell commented on #8321
Should have a bug for the disabled finallybb test. Not easy to fix.

Should have bug to decide root/readonly behavior. Maybe note that we divege from coreclr.
There is other PR to unify some.

I can open them later.

[2018-06-20 10:52] akoeplinger commented on #8321
@jaykrell yeah we should have a bug for finally_block_ending_in_dead_bb.exe, though it's been disabled in 2015 so nothing recent (https://github.com/mono/mono/commit/7b7692a988f82e71c575e2c75b9293d8bef9ffe7).

[2018-06-20 11:41] akoeplinger opened #9229 "Build break/test failures on FullAOT+LLVM configuration on ARM"
## Steps to Reproduce

1. Run FullAOT+LLVM config
2. Issue 1: Observe build failures on armel
3. Issue 2: Observe test failures on arm64/armhf

## Current Behavior

Issue 1: Build on armel is broken (https://jenkins.mono-project.com/job/test-mono-mainline-linux-fullaot+llvm/label=debian-9-armel/588/):

[code]

Issue 2:

Test failures on arm64 (https://jenkins.mono-project.com/job/test-mono-mainlin

[2018-06-20 11:59] lateralusX opened #9231 "Backport and re-validation of several features and fixes for Windows."
Backport and re-validation of several features and fixes for Windows.

## Milestone I
- [x] Switch getenv to g_getenv. https://github.com/mono/mono/pull/9253
- [x]  Adding support for JIT unwind info registration on non desktop OS. https://github.com/mono/mono/pull/9293
- [x] Fix incorrect float parameter handling on Win x64 DYNCALL. https://github.com/mono/mono/pull/9334
- [x] Fix DYNCALL value t

[2018-06-20 12:06] filipnavara opened #9232 "Build infrastructure: Error out on missing files"
When a (library).sources file in mcs/class/(library)/ contains a reference to non-existent file the build should result in an error. Right now it silently ignores the missing files.

[2018-06-20 12:53] marek-safar commented on #9232
@kg this looks like regression in `gensources`

[2018-06-20 13:07] sonicmouse commented on #9207
The fix that was in your issue is definitely in 5.12+. I checked the merge.
.NET has a wonderful TCP socket implementation; Writing something trivial to replicate the the basic functionality of WCF shouldn't be too bad. Obviously I'd like to stick with the "tried and true" WCF framework instead of having to roll my own.

[2018-06-20 13:10] paulfertser commented on #9207
BTW, when you say the issue is not present with your testcase on "Windows" do you mean on windows running Mono or on Windows running Microsoft's .NET?

[2018-06-20 14:17] sonicmouse commented on #9207
In both .NET Framework and Mono, on Windows, they do not leak. I tested on both. Albeit it is incredibly slow in Mono, the columns all return 0 no matter what BCL it's running under on Windows.

This is strictly a Linux thing.

[2018-06-20 14:19] thiagomacieira opened #9233 "FTBFS: error: 'MONO_OFFSET_GSharedVtCallInfo_stack_usage' undeclared"
## Steps to Reproduce

1. Download http://download.mono-project.com/sources/mono/mono-5.12.0.226.tar.bz2
2. Configure as: `--build=x86_64-generic-linux-gnu --host=x86_64-generic-linux-gnu --target=x86_64-clr-linux-gnu --program-prefix= --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/bin --sysconfdir=/etc --datadir=/usr/share --includedir=/usr/include --libdir=/usr/lib64 --libexec

[2018-06-20 14:47] marek-safar commented on #9233
/cc @luhenry

[2018-06-20 14:51] MSylvia opened #9234 "[System]: Renegotiation in AppleTls requires OS X 10.12+"
This failure also happens on 2018-06/3ee5a5cc3d9

## Steps to Reproduce

1. Install mono 5.16.0.5 (2018-06/7627a5f9eeb)

2. Compile sample
[code]
3. Run sample with argument
[code]
4. Crash:
[code]

### Current Behavior

Crashes with error:
[code]

### Expected Behavior

Should download without issues.
[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

Fails on:
[c

[2018-06-20 14:54] lambdageek commented on #9225
This seems more of a question for https://github.com/mono/monodevelop and/or the msbuild shell script than for Mono.

Alternately, we can flip the default in Mono `configure.ac` to `--assembly-loader=strict` and require explicit `--assembly-loader=legacy` for conformance with previous Mono behavior, if necessary.

Other comments:
1. This would not affect XI and XA since they disable the desktop lo

[2018-06-20 15:02] akoeplinger commented on #9234
A quick look reveals the following hints:

-50 means `One or more parameters passed to the function are not valid.` (https://developer.apple.com/documentation/security/1542001-security_framework_result_codes/errsecparam?language=objc)

Since https://github.com/mono/mono/commit/0c2e5133d33549d0b14f06043672b429c9e76ec5 we implement renegotiation for AppleTLS, but the https://developer.apple.com/docu

[2018-06-20 15:22] marek-safar commented on #9207
This is quite a big leak or memory issue which should make it easier to track it down.

[2018-06-20 16:09] marek-safar commented on #9234
@akoeplinger nice find! @baulig please address the findings

[2018-06-20 16:10] #8495 closed

[2018-06-20 18:06] marek-safar commented on #7249
@vargaz please look at the pending PR, it has the managed pieces wired-up but needs runtime icalls or a different way of implementing them. The build fails due to that right now.

[2018-06-20 19:05] kg commented on #9232
gensources.cs implements this. From what I could tell, gensources.sh didn't have any error messages or handling for this, so I didn't enable it. We had some bad paths in our .sources files already.

[2018-06-20 20:57] migueldeicaza commented on #9217
Notes:

* SRE should be removed by a linking stage, so we should figure out what is keeping it around
* Before we spend a lot of time doing some of these things like "Extract platform specific fields/properties" which looks very expensive to do to me, we should reuse our size analyzer and the linker tracing work from Radek to identify why certain pieces of code are coming in.

[2018-06-20 21:44] baulig commented on #9234
Thanks for tracking this down.  However, there might be more to it than just that single option.

@akoeplinger Do we have a Jenkins bot that I could use for testing?

[2018-06-20 21:47] akoeplinger commented on #9234
@baulig all the bots we use for Mono testing are OSX 10.12 but Release Engineering might have older bots.

[2018-06-21 01:41] s2quake opened #9248 "key input error after vi editor exit"
## Steps to Reproduce
    using System;
    using System.Diagnostics;

    namespace ConsoleApp1
    {
        class MainClass
        {
            public static void Main(string[] args)
            {
                var s = Console.CursorTop; // this line raise a key bug
                var startInfo = new ProcessStartInfo();

                startInfo.UseShellExecute = false;
                st

[2018-06-21 06:06] lewurm commented on #9248
which behavior do you expect?

[2018-06-21 10:22] jaykrell commented on #9153
This is much better now. Just that it is disabled on some targets — wasm and non-mac-non-windows-x86 (linux/bsd x86).
It is enabled for arm, arm64, amd64, mac/x86, nt/x86.

[2018-06-21 15:43] alexischr commented on #7684
These will be re-enabled with the next corefx bump

[2018-06-21 15:43] #7684 closed

[2018-06-21 17:50] #9153 closed

[2018-06-21 18:43] baulig commented on #9234
I am now looking at this issue.

[2018-06-21 19:59] baulig commented on #9234
I added a check to the web-tests to disable all the client certificate tests that require renegotiation and they now all pass with https://github.com/mono/mono/pull/9254.

[2018-06-21 20:02] baulig commented on #9223
Fixed in #9228.

[2018-06-21 20:02] #9223 closed

[2018-06-21 20:29] vertonghenb commented on #8872
@marek-safar any eta on this?

[2018-06-21 22:07] lambdageek opened #9257 "Tests wanted: run monodis and pedump"
Every time we unwittingly change how the mono runtime is supposed to be initialized, we forget to update `main()` in `monodis` and and `pedump`.  They don't have any tests, so we end up shipping binaries that segfault on startup.

Test plan:
- run `monodis` on some small assembly and check that it exits with exit code 0
- run `pedump` on some small assembly and check that it exits with exit code 0

[2018-06-21 22:13] akoeplinger commented on #9257
Another good step would be to run the tools and ensure the only output is from the tools and not some warning messages from the runtime like we had in https://bugzilla.xamarin.com/show_bug.cgi?id=56608.

[2018-06-21 22:20] alexischr commented on #9257
@akoeplinger the implementer can follow a similar path to e.g mono-symbolicate's test setup for output validation: https://github.com/mono/mono/blob/88d853487e7b61c8b3d358c3fd9ca7ce4f782eb0/mcs/tools/mono-symbolicate/Makefile

[2018-06-21 22:29] alexanderkyte opened #9258 "Add test timing statistics"
We currently have no real reporting about how a change impacts the performance of a test or test suite. A very useful but coarse tool to identify regressions is to time each test suite phase and to report on a PR if a test suite has change their time by more than 2 standard deviations. After a week of monitoring we should have more than enough data to do so.

This requires some kind of accumulatio

[2018-06-21 22:33] danroth27 commented on #8872
The original Json.NET issue no longer repos when using the following linker configuration:

https://gist.github.com/Suchiman/a5e65f40c353120c9cf7f6a631ded28b

[2018-06-21 22:33] danroth27 commented on #8872
@vertonghenb Do you want to give the same linker configuration a try?

[2018-06-21 22:36] vertonghenb commented on #8872
Mmm nice i'll give it a shot and keep you updated.

[2018-06-21 23:17] #9232 closed

[2018-06-22 00:05] danroth27 opened #9259 "TargetInvocationException from Activator.CreateInstance<T> when using SignalR client in a Blazor app"
When I try to use the SignalR client from a Blazor app I get the following exception:

Repro project: https://github.com/danroth27/BlazorSignalRTest
.NET Core SDK version: 2.1.300

[code]

[2018-06-22 03:37] thiagomacieira commented on #9233
The `--build=x86_64-generic-linux-gnu --host=x86_64-generic-linux-gnu --target=x86_64-clr-linux-gnu` argument set causes the build failure.  If the three arguments are identical, it works.

[2018-06-22 06:21] ganorkargaurav opened #9262 "App terminates : "Failed to Stop app: An error occured on client IDB4100448 while executing a reply for topic xvs/idb/4.10.0.448/stop-app""
Description-
VS throwing  error in Debug mode while clicked on stop app "Failed to Stop app: An error occured on client IDB4100448 while executing a reply for topic xvs/idb/4.10.0.448/stop-app"

## Steps to Reproduce
1-Download the attached sample and Set Startup project as "iOS.Debugging"
2- Connect XMA
3-Clean the solution
4-Select target device as iOS device
5-from iOS.Debugging ,Open Multitask

[2018-06-22 11:23] imkow opened #9264 "Problem results by Mono on Linux when stress testing socket with SocketAsyncEventargs, different to .NET Framework on Windows"
https://bugzilla.xamarin.com/show_bug.cgi?id=52662
old problem still exists.
## Steps to Reproduce

use the test case I uploaded at https://bugzilla.xamarin.com/show_bug.cgi?id=51939

Mind the mono ab result: document length and failure number
and wrk result: Requests/sec and Transfer/sec

test client running on one same ubuntu 16.04 Linux machine.

the same test case binary

test case server runn

[2018-06-22 12:39] akoeplinger commented on #9233
@thiagomacieira why are you building with `--target=x86_64-clr-linux-gnu` ?

[2018-06-22 12:46] thiagomacieira commented on #9233
The %configure macro in the .spec file does that. It's worked for everything else so far.

[2018-06-22 12:53] akoeplinger commented on #9233
which .spec file are you talking about?

[2018-06-22 12:53] luhenry commented on #9233
@alexanderkyte could you please take a look at that?

[2018-06-22 14:17] thiagomacieira commented on #9233
The one I'm trying to write. The RPM .spec file was:
[code]

The other arguments are automatic from the distro.

I'm guessing the buildsystem concluded it was a cross-compilation but something is not right.

[2018-06-22 16:15] akoeplinger commented on #9233
ohh, this is ClearLinux right? I was getting confused by the `clr` in the `target` triplet thinking there was some special support for the CLR (Common Language Runtime)... 😄

[2018-06-22 16:15] thiagomacieira opened #9267 "Release tarballs should be compressed with xz"
Mono should release its sources in a `.tar.xz` format. Quick benchmark for the 5.12.0 release file:

Compression Format | Tarball size | Decompression time
-------------------|--------------|-------------------
BZip2 | 204 MB | 31.04s
Xz | 132 MB | 9.89s

[2018-06-22 16:53] akoeplinger commented on #9267
@directhex what do you think about this?

[2018-06-22 17:28] thiagomacieira commented on #9233
Right, Clear Linux. Sorry for the confusion.

By the way, I had to disable `make check` as that would fail. Is that expected? Are you interested in the logs?

[2018-06-22 17:31] akoeplinger commented on #9233
If it's a test that fails consistently then creating a new issue would be nice.

I wouldn't run `make check` as part of packaging, we're running a few hundred thousand tests and something somewhere always fails ;)

[2018-06-22 17:50] baulig commented on #9216
**IMPORTANT**  Prior to working on any of these classes, please talk to me (Martin Baulig) first, so we can discuss a few things and make sure it is heading into the right direction.

Most importantly, we need to make a plan on how to proceed before writing any code.  This will require some research and discussion among the team as well.

- [ ] CoreFX and OpenSSL
CoreFX currently uses OpenSSL, whi

[2018-06-22 20:10] filipnavara commented on #9216
I spent some time on a proof-of-concept to get all the CoreFX code integrated in Mono. The code is not production ready in any way, but it was good enough to figure out some issues that are going to be hit and to get the unit tests running on macOS. Having this experience I want to weigh in on the above questions and add few more.

### PAL

It seems rather straightforward to get the System.Native.

[2018-06-22 20:34] NattyNarwhal commented on #9248
I think there might be some confusion in how Xterm(ish) key bindings work. When you hit the up arrow and enter, you get:

[code]

Where the first byte is escape, the second byte is a `[`, the third byte a `A`, and the fourth byte where I hit enter to let cat end the stream. This escaped sequence is what your terminal recognizes as an arrow keypress. It seems that this doesn't get emitted properly?

[2018-06-22 21:46] directhex commented on #9267
It's a 1-line change to configure.ac, plus however many hours to fix assumptions made in our relevant Jenkins jobs

[2018-06-23 01:11] jaykrell commented on #9195
This test also fails armhf JIT if you pass -O=gsharedvt. So the FullAOT failure is not surprising.
This test does also fail FullAOT with -O=-gsharedvt, which is surprising.
The test pretty deliberately focuses on this case, which ARM32 does have trouble with.
The choices are roughly:
1. disable test
2. disable gsharedvt by default, or selectively

[2018-06-23 12:15] andrew-boyarshin commented on #8004
It would also be a good time to get rid of duplicate _android-cmake/_ in _third_party/_ and _util/_.

[2018-06-23 12:39] kasper3 commented on #6845
@marek-safar, what is the minimum compiler version supported by mono? I tried building CoreFX native's System.Native on CentOS 5, which is pretty old (gcc 4.1 .. don't ask how i get to the compile step 😓 it was quite hacky to get the newer git working then invoke corefx with gcc without clang), and it failed due to: redefinition of `c_static_assert` macro, which depends on either `static_assert` o

[2018-06-23 12:52] jaykrell commented on #6845
Centos6, gcc4.4.
And I don't think even this for much longer.

Personally I'd be fine with C89 or C++98 but just me.

[2018-06-23 13:22] sirkadirov opened #9277 "Cannot get the exit code from a non-child process on Unix (on Windows)"
## Steps to Reproduce

1. Start a process
2. Not sure if UseShellExecute and redirected outputs matter
3. Kill this process
4. Get exit code of the process

### Current Behavior

System.InvalidOperationException is being thrown:

[code]

When running application with Microsoft .NET framework all works great, exit code `-1`.

### Expected Behavior

Actual exit code of that process.

## On which pla

[2018-06-23 13:42] kasper3 commented on #6845
@jaykrell, I am not sure what you meant by second sentence. so if you want to build binaries and distribute, you can prepare the system with latest gcc.

CentOS6 gets gcc 8.1 like this:

[code]

But if you must, you can try contributing to CoreFX code straight up. It will take couple of macros here and there to get it compatible with C89. It's not too much, for example, it took me a week to conver

[2018-06-23 13:44] jaykrell commented on #6845
Centos6 might be out of support soon. I’ve gotten mixed messages as to if centos6 implies gcc4.4.

[2018-06-23 13:52] kasper3 commented on #6845
There is still some time 😄
https://wiki.centos.org/FAQ/General#head-fe8a0be91ee3e7dea812e8694491e1dde5b75e6d

|||
|---|---|
| CentOS 3 | CentOS-3 updates until October 31, 2010 |
| CentOS 4 | CentOS-4 updates until February 29, 2012 |
| CentOS 5 | CentOS-5 updates until March 31, 2017 |
| CentOS 6 | CentOS-6 updates until November 30, 2020 |
| CentOS 7 | CentOS-7 updates until June 30, 2024 |

[2018-06-23 15:47] fturco opened #9278 "Build warnings in Boehm GC (QA issue with Mono Gentoo package)"
My GNU/Linux distribution is Gentoo Linux. The Portage package manager reports the following warning message when installing `dev-lang/mono-5.4.1.6`:

[code]

[build.log](https://github.com/mono/mono/files/2130032/build.log)

[2018-06-23 23:31] xforever1313 opened #9280 "MSBuild: Restore doesn't add targets to NETStandard.Library"
I'm running into an issue while compiling my project with MSBuild on my Linux system.

I have a C# project that outputs a class library and it targets netstandard2.0.  I have another project in the same solution that outputs an EXE and targets NET461 and has a reference to the class library.

If I run ```msbuild /restore```, my class library project will not compile.  I get a lot of CS0246 errors

[2018-06-24 07:35] paulfertser commented on #9207
@sonicmouse , I've checked https://www.mono-project.com/docs/about-mono/versioning/ and it says 5.14 version is kept in 2018-04 branch. My fix 62c0db64579b424fcd7b4de7fc8ec070643cc48d is certainly NOT present in it.
And the current "nightly" build is `Mono JIT compiler version 5.15.0.461 (tarball Sun May 20 11:40:32 UTC 2018)` so it doesn't include it either (just because it's very outdated).

[2018-06-24 10:10] jaykrell opened #9284 "mono_get_exception_reflection_type_load has backward seeming error handling since 2016"
https://github.com/mono/mono/commit/42ddfea489661114b400604f138621c9a19c49c6 in  2016
This seems backwards:
[code]

[2018-06-24 16:36] EgorBo commented on #9277
Repro:
[code]
.NET/.NET Core: "-1"
Mono: System.InvalidOperationException: Cannot get the exit code from a non-child process on Unix
mono master, win10

[2018-06-24 16:47] vargaz commented on #8784
Tested this, and using try-llvm in mcs/class/aot-compiler makes corlib compilation go from 12.5 secs to 10.8 secs. However, aot-ing the dlls go from 24secs to 1m56secs (with -j4), so the whole build time will probably increase.

[2018-06-24 20:12] vargaz commented on #8932
One potential improvement would be sending better IR to llvm. Currently, we map every c# type to a llvm byte array/struct, so a field store like this:
using System;
public class Tests
{
	public int i;
	public static void Main () {
		var t = new Tests ();
		t.i = 5;
	}
}

gets translated to:
  %1 = notail call cc18 i64* @p_1_plt_wrapper_alloc_object_AllocSmall_intptr_intptr_llvm(i64 %0, i64 20)
  %

[2018-06-25 07:06] guthubuser opened #9289 "Error in XplatUIX11"
46057407C1A51EF2C047D2F3AC67DC19 1.8.18.517 (Program) Application_Exception
System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
  at System.Collections.ArrayList+ArrayListEnumeratorSimple.MoveNext () [0x0001d] in <dd0320c250ae49fb94403f3270f5c7ae>:0
  at System.Windows.Forms.XplatUIX11.NextTimeout (System.Collections.ArrayList timers, System.DateTime n

[2018-06-25 07:08] s6nx opened #9290 "some memory leak when using System.ServiceModel.dll"
test case [wcfTest.zip](https://github.com/mono/mono/files/2131964/wcfTest.zip) shows memory consumption

'wcfTest server output' contains three columns:
    in the first column, just the iteration number;
    in the second column, the result of GC.GetTotalMemory (true);
    in the third column, the change in the consumed memory.

to the 652 iteration:
    mono **17.691.800** bytes of memory are u

[2018-06-25 08:02] marek-safar commented on #6845
@kasper3 we require gnu99 already. For the CentOS I think you just get the correct compiler package instead of using the installed/system one.

[2018-06-25 08:15] marek-safar commented on #8784
We want to default to llvm so I think this is fine and we could guard it with existing BCL_OPTIMIZE for faster dev-loop to keep the fast option

[2018-06-25 08:31] jaykrell commented on #9278
Compiler warnings are easy to fix if we care to.

[2018-06-25 08:45] marek-safar commented on #9280
@radical could you advice on the issue

[2018-06-25 09:08] lewurm commented on #9278
Those are warnings from files in `libgc` which is Boehm GC. I would recommend to disable Boehm GC support as it is something we don't test anymore: `./configure --disable-boehm`

[2018-06-25 09:13] rjvdboon opened #9292 "mono gdb python scripts should format using positional parameters to support gdb linked to python 2.4-2.6 and 3.0"
## Steps to Reproduce

1. Run a program using mono --debug ...
2. Attach gdb
3. Print backtrace

### Current Behavior

The backtrace mostly works, but the printing of stack information shows python errors
[code]
This is due to the use of `"{}.{}".format(...)` instead of `"{0}.{1}".format(...)` in `data/gdb/mono-gdb.py`. Omitting positional parameters was introduced in python 2.7 and 3.1, but gdb u

[2018-06-25 09:19] jaykrell commented on #9278
CI doesn't run tests with boehm?

[2018-06-25 09:21] lewurm commented on #9292
could you change that, test it (since you have such system at hand) and submit a PR? 🙂

[2018-06-25 09:53] rjvdboon commented on #9292
I'm testing right now.

[2018-06-25 10:05] akoeplinger commented on #8784
We'll need to think about Linux here since AOTing happens at package install time there and 2mins slowdown with -j4 sounds quite bad for that scenario.

[2018-06-25 10:06] akoeplinger commented on #8784
It'll be especially bad for cases like Travis CI where Mono gets installed from scratch on each build.

[2018-06-25 10:11] jaykrell commented on #8784
1. Travis CI seems messed up. There should be a graph, and hashes along the way.
2. Does AOT happen at install even on systems that are coherently configured and built all together, i.e. Debian/Ubuntu. One might hope it'd happen at regular build/compile time instead.

i.e. only people in a repeated edit/compile loop, or debugging, should be impacted negatively by optimizing compilers. Otherwise th

[2018-06-25 10:21] akoeplinger commented on #8784
1. It's how it works today and is pretty common on build systems that run stuff in containers and other clean environments.
2. Yes it happens at package installation time on all Linux systems we target, we don't ship precompiled AOT binaries right now. There were some constraints historically that prevented us from doing this, not sure what the current situation is.

[2018-06-25 10:28] jaykrell commented on #8784
The little I've used Docker it seems to do this correctly -- it caches either every step, or the end of every actually built DockerFile. Either way suffices.

Maybe if we fix the second part, the first will follow?

Do we embed things like exact CPU model or number of CPUs, or are AOT images somewhat  portable?

.NET desktop ngen has gone through similar variations -- ngen at install time, vs. nge

[2018-06-25 11:37] cgravill commented on #8975
I found we needed to go a bit further, and restrict other parts of the printing to cover more examples:

[code]

[2018-06-25 13:02] marek-safar commented on #9257
We already test pedump as part of mono runtime tests, see `test-pedump` target.

[2018-06-25 14:05] lewurm opened #9298 "[mini] invalid cfg->bblocks causes SIGSEGV"
## Steps to Reproduce

1. download https://www.mono-project.com/download/stable/#download-lin-ubuntu on Ubuntu 18.04
2. installation will fail with NRE or native crashes, when running `gacutil.exe -u someassembly`
3. narrow it down by running with `MONO_VERBOSE_METHOD=GetPathRoot` to get a "reliable" crash in native code

It looks like it happens only with this CPU:
[code]

### Current Behavior

i

[2018-06-25 14:12] lewurm commented on #9298
verbose output of the JIT: https://gist.github.com/grendello/d241614c9110d09b6b6dba32088d486b#file-gistfile1-txt

[2018-06-25 14:48] lewurm commented on #9298
when I compare the compilation output, it diverges here:

crashy:
[code]

working:
[code]

[2018-06-25 16:17] kumpera opened #9300 "Remove obsolete features from the runtime"
Tracking issue for runtime features we can and most likely will remove as part of the next major release version (e.g. Mono 6.0)

The separate issue exists for BCL and tool tracking #6523.

## Confirmed
- [ ] Tasklets
- [ ] Profiler classical arguments/model
- [ ] All sandboxing technologies - CAS and CoreCLR security model
- [ ] Sgen split nursery
- [ ] Precise stack scanning
- [ ] Old and New GC

[2018-06-25 16:50] lewurm commented on #8101
@Sejsel weird question: are you running by any chance on an AMD CPU?

[2018-06-25 17:40] baulig commented on #9216
We can possibly get around the mscorlib / System split via some dependency injection.  I actually thought about something like that in the past, but didn't have the time to actually look into it.

If we could somehow get the code in `mscorlib.dll` invoke a method from `System.dll`, then we could solve it via abstract classes / interfaces.

[2018-06-25 17:45] #9284 closed

[2018-06-25 17:55] filipnavara commented on #9216
I do have a prototype of exactly that. It works like this:
- `ICertificatePal` from CoreFX is split into `ICertificatePalV1` and `ICertificatePal : ICertificatePalV1`.
- `X509Certificate` is modified (~ 5 lines) to use `ICertificatePalV1`.
- mscorlib declares `IStorePalShim` and `ICertificatePalShim` that mirror 2 static methods of `StorePal` and 4 static methods of `CertificatePal`.
- mscorlib co

[2018-06-25 18:07] alexanderkyte commented on #8932
That could be really impactful, I like that last optimization. We should figure out what we hope it to change, so we can measure the impact of productizing that change.

[2018-06-25 18:09] NattyNarwhal commented on #9210
Somewhat adjacent may be OpenBSD's [`MAP_STACK`](https://man.openbsd.org/mmap) mmap flag.

[2018-06-25 19:22] baulig opened #9302 "MCS does not support 'readonly references' in extension methods."
[code]

Compile

[code]

This works:

[code]

And MCS fails:

[code]

[2018-06-25 20:05] filipnavara commented on #9289
Are you by any chance running the timer code from other thread than the main (UI) one?

[2018-06-25 21:06] #9234 closed

[2018-06-25 21:08] marek-safar commented on #9302
It works for me with the master mcs

[2018-06-25 21:08] #9302 closed

[2018-06-25 21:16] #9031 closed

[2018-06-25 21:36] #9277 closed

[2018-06-25 21:43] Sejsel commented on #8101
@lewurm Yes, but it should be one unaffected by the infamous Ryzen bug which caused segfaults with gcc and similar, it was manufactured quite a few weeks after it was supposed to be fixed and I haven't had gcc or anything else fail on me.

I didn't have much time since the report, so I didn't get around to testing more yet, it might be something caused by another Ryzen bug...

[2018-06-25 22:48] rjvdboon commented on #9300
can I add Large Array support (i.e. `configure --enable-big-arrays`), as far as I know it is not working anyway

[2018-06-26 00:59] s2quake commented on #9248
in my mac terminal when i hit the up arrow key, it outputs

    od: z: unrecognised format character
    ^[[A

[2018-06-26 04:12] radical commented on #9280
This builds fine for me on macOS.

@xforever1313 could you please clean out the obj and bin folders and run `msbuild /fl /flp:v=diag /restore` and then attach the generated `msbuild.log` file?

[2018-06-26 10:07] Therzok commented on #8726
What about 2018-02 (5.12 series)?

[2018-06-26 10:29] Sejsel commented on #8101
My CPU is Ryzen 5 1600 (late 2017), in case that will be useful

[2018-06-26 13:10] #9292 closed

[2018-06-26 14:04] kumpera opened #9314 "[sgen] Improve sgen-tarjan-bridge assertions"
We recently got a report of the following assert:

[code]

There's nothing we can do about this without a repro. What we can do is improve assertion to include details on xref_count and xref_index. Plus do some code review of the code around it.

[2018-06-26 15:22] jaykrell commented on #9300
--enable-big-arrays does compile/link. Does it not work? .NET does have array.LongLength as well.
Precise stack scanning we want in future?

[2018-06-26 15:22] corchi72 commented on #9259
my name is corchi72, and also I have your own mistake, have you solved in the meantime?

[2018-06-26 15:24] MangelMaxime opened #9315 "netstandard.dll isn't at the same place when compared with .Net"
Hello, we have a project which use `.fsx` files and load the package using `#r`.

Under windows we need to do: `#r "netstandard` but when working with mono we need to do `#r "Facades/netstandard"`.

I think this is a bug in the mono directory structure.

Original issue: https://github.com/ionide/ionide-vscode-fsharp/issues/839

[2018-06-26 15:45] marek-safar commented on #9315
How do you load other facades (e.g. System.ValueTuple)?

[2018-06-26 16:27] jaykrell opened #9317 "JIT LLVM CI startup fails with unsupported?"
## Steps to Reproduce

1. Look through mono-jenkins to see what works beyond every PR.
2. https://jenkins.mono-project.com/job/test-mono-mainline-linux-jit+llvm/label=debian-9-amd64/70/parsed_console/log.html

Maybe just a configure problem?

### Current Behavior

[code]

### Expected Behavior

Success?

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2018-06-26 16:31] jaykrell commented on #9317
https://jenkins.mono-project.com/job/test-mono-mainline-linux-jit+llvm/label=debian-9-i386/68/parsed_console/log.html

[code]

[2018-06-26 16:47] rolfbjarne opened #9318 "watchOS: "fastcc" not supported with Xcode 10's clang"
Repro:

* Download Xcode 10 beta 2, and configure Visual Studio for Mac to use it. Restart Visual Studio for Mac.
* Create a new iOS app and add a watchOS extension (or download & open [nofastcc.zip](https://github.com/mono/mono/files/2138071/nofastcc.zip))
* Change to a Release|Device configuration and build.
* Install Xamarin.iOS from the xcode10 branch - either built from source or a package fr

[2018-06-26 16:50] luhenry commented on #9318
@vargaz could you please take a look at that? Thank you.

[2018-06-26 17:01] marek-safar commented on #9318
@spouliot what is the dev releases alignment for our xcode 10 support?

[2018-06-26 17:01] xforever1313 commented on #9280
Log from trying to build on my Linux system: [msbuild.log](https://github.com/mono/mono/files/2138132/msbuild.log)

[2018-06-26 18:32] radical commented on #9280
How did you install msbuild and mono?

[2018-06-26 20:10] kumpera commented on #9300
@jaykrell we can resurrect the precise stack scanning code in the future if we ever decide to bring it back. The interpreter is a great example of how feasible this approach is.

[2018-06-26 20:21] kumpera commented on #9300
Let me cc the good mix of people to review specifics.
Everyone, what do you think about the removal of the specifics I'm listing below:

@vargaz  Tasklets, precise scanning, shared and extended bbs
@BrzVlad precise scanning, tasklets and the non-default bridges
@alexrp @rodrmoya old profiler arguments
@spouliot sandboxing technologies
@migueldeicaza @marek-safar sandboxing tech, runtime API functi

[2018-06-26 20:45] BrzVlad commented on #9300
@kumpera +precise scanning (I think it's far from even compiling at this point), +split nursery (unfortunately never seen gains with it as far as I tested), maybe still keep the new bridge as fallback since I think we just switched from it just 1-2 years ago.

[2018-06-26 20:45] alexrp commented on #9300
Unless the profiler team needs the old arguments support, I'm all for removing it.

[2018-06-26 21:09] lucasboulouys opened #9319 "bug mono with sonarr"
I, since two week i can't start sonarr
when i debug mono i have this Stacktrace.
i try to install old version of mono but it's same result.

## On which platforms did you notice this
[Debian jessie ] Linux

**Version Used**:

[code]

[2018-06-26 21:14] xforever1313 commented on #9280
I'm happy you asked that question.  It caused me to take a closer look into the three different Linux systems I have access to, and I think I figured out what was going on.

The version of Mono and Msbuild all match on all three systems.  The difference was the version of the dotnet SDK that was installed.

On one setup, it was dotnet 2.1.300.  The project did NOT compile on this system (this is t

[2018-06-26 21:32] HristoKolev opened #9320 "Sending HTTPS web request throws SecureChannelFailure => MissingMethodException"
## Steps to Reproduce

Send any HTTPS request this is an example:

[code]
## On which platforms did you notice this

[ ] macOS
[ X] Linux
[ ] Windows

CentOS 7

Linux xxx 3.10.0-862.3.2.el7.x86_64 #1 SMP Mon May 21 23:36:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Version Used**:
[code]
## Stacktrace

[code]

[2018-06-26 22:03] radical commented on #9280
Thanks, that is good information!

But can you please tell me where you install mono and msbuild from? And the package versions. Also, can you get the diag logs, using `msbuild /fl /flp:v=diag /restore /t:Build` from the machine with `2.1.300` installed? And the `*nuget.g*` files. Thanks!

[2018-06-26 22:34] vargaz commented on #9300
So shared is used by icalls, they need to stop using it before it can be removed. Alternatively, some code parts which support shared but not used by icalls, like generic stuff can be removed.

[2018-06-26 22:46] jaykrell commented on #9298
Also, given the printf is correct, how about read the value, check, and if fails, read again (cast pointer to volatile -- but only on x86/amd64, where volatile is cheap), and print both?
Also, can the CPU bug strike 32bit mode? ifdef x86 | amd64?

[2018-06-26 22:59] xforever1313 commented on #9280
Oops, in my excitement I forgot to include that information :P

System 1 is the Arch Linux system.  This is also the system that has dotnet 2.1.300 installed, and had compile errors.

For the Arch Linux system, these are the msbuild & dotnet packages that are installed:
[code]

I installed Mono from Arch Linux's 'extra' repositories with the command ```pacman -S mono```.  I believe it downloaded i

[2018-06-26 23:06] xforever1313 commented on #9280
[msbuild.log](https://github.com/mono/mono/files/2139276/msbuild.log)

I had to add '.txt' to the end of these file names, or GitHub wouldn't upload them:
[ClassLibrary.csproj.nuget.cache.txt](https://github.com/mono/mono/files/2139279/ClassLibrary.csproj.nuget.cache.txt)
[ClassLibrary.csproj.nuget.g.props.txt](https://github.com/mono/mono/files/2139280/ClassLibrary.csproj.nuget.g.props.txt)
[Clas

[2018-06-27 01:18] vargaz commented on #9318
Where is the error message about using 'fastcc' ? We are using preserveall_cc, we can get rid of that if needed.

[2018-06-27 01:28] vargaz commented on #9318
preserve_allcc is a calling convention saving all registers, we use it around calls to init functions so they don't clobber argument registers. Disabling it is going to make the code slower/bigger, but it will still work.

[2018-06-27 07:00] donchak opened #9323 "ContractDescriptionGenerator doesn't take to account the XmlSerializerFormat attribute assigned to a contract interface"
## Steps to Reproduce
[code]
[code]

### Current Behavior

Operation behavior list doesn't contain XmlSerializerOperationBehavior.
Test failed.

### Expected Behavior

Operation behavior list should contain XmlSerializerOperationBehavior.
Test passed.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[x] Xamarin.Android

**Version Used**:

Microsoft Visual Studio Professi

[2018-06-27 08:22] atsushieno opened #9324 "some program crashes only when -O=-all is specified."
I'm having trouble on diagnosing app crasher, and I'm trying to get precise debugging info via `-O=-all`. However, if (AND ONLY IF) I disable optimization, some program crashes e.g. msbuild.

The commends below are how I reproduced the issue:

[code]

If I don't specify any `MONO_OPTIONS` to msbuild, it runs without problem (it says the build failed, but it's expected). The second run results in s

[2018-06-27 08:28] MangelMaxime commented on #9315
I am not sure what you are talking about. Could you please provide a sample code ?

I am new to .Net runtime in general :)

[2018-06-27 08:29] marek-safar commented on #9324
@vargaz this looks like a regression

[2018-06-27 08:30] lewurm commented on #9324
FWIW, the default is _not_ `-O=-all` and it isn't something we test, so it was most likely broken for a long time.

[2018-06-27 08:36] atsushieno commented on #9324
I cannot say how long, but I often use -O=-all. Cannot be like >6mo. ago, even most unlikely >3mo.

[2018-06-27 08:38] atsushieno commented on #9324
I got a bit more detailed message with `--debug=casts`:

[code]

[2018-06-27 08:44] lewurm commented on #9324
those are the optimizations that are enabled additionally to the default set if you are using `-O=all`:

[code]
could you bisect through that list?

[2018-06-27 08:45] jaykrell commented on #9324
It reproduces back on Mono JIT compiler version 5.10.1.47 (2017-12/8eb8f7d5e74 Fri Apr 13 20:18:12 EDT 2018) btw.

[2018-06-27 08:52] jaykrell commented on #9324
This is the list:
[code]

[2018-06-27 08:58] atsushieno commented on #9324
Oh, fun. Sounds like the scope of -O breakage is limited enough so that it was out of my usage scope ;-)

And -O=-all,intrins indeed worked so the issue should be there.

[2018-06-27 11:52] ghost opened #9332 "ArgumentNullException when deserializing Dictionary"
## Steps to Reproduce

[code]
[code]

[code]

### Current Behavior

[code]

### Expected Behavior

No Exception.

## On which platforms did you notice this

Windows

**Version Used**:

5.11.0 (with Unity 2018.2)

## Stacktrace

[code]

[2018-06-27 11:58] marek-safar opened #9333 "Linker XML descriptors removal/reduction"
We want to remove as much from the static linker xml descriptors as we can. The biggest one is in [mscorlib](https://github.com/mono/mono/blob/439625bba1d374a08263519a813f95ff619fc56d/mcs/class/corlib/LinkerDescriptor/mscorlib.xml) which really is too big right now but we have few more in SDKs as well.

The problem with static XML descriptors is that they force us to always include the dependency

[2018-06-27 12:53] spouliot commented on #9318
@marek-safar we need the PR backported to `2017-12`, that's what's used in stable 15.7, to fix watchOS support on our next previews. Thanks!

[2018-06-27 12:56] vargaz commented on #9318
Note that previous xcode versions probably didn't support this calling convention they just didn't assert on it so this will not actually make things slower/bigger.

[2018-06-27 14:42] marek-safar opened #9338 "Include BCL xunit tests in SDKs test run"
We run only nunit based tests as part of SDK checks. We need to extend that to include all xunit based tests as well as this is nowadays a significant portion of tests we have.

XI team is working on making xunit test runner and we should coordinate the effort to reduce any duplication of the work.

XA seems to be behind and we should probably just make it work for us.

[2018-06-27 14:55] directhex commented on #9280
The native SDK resolver library is not actually part of the msbuild package.

The managed part (`/usr/lib/mono/msbuild/15.0/bin/SdkResolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.DotNet.MSBuildSdkResolver.dll`) is in `msbuild-sdkresolver` from the `msbuild` source package, and the unmanaged part (`/usr/lib/mono/msbuild/15.0/bin/SdkResolvers/Microsoft.DotNet.MSBuildSdkResolver/Microsoft.Dot

[2018-06-27 15:36] rodrmoya commented on #9300
For the profiler old args, the Xamarin profiler already checks runtime version in all supported platforms, and uses the new ones if the version is new enough, so it should be ok to remove the old arguments

[2018-06-27 15:52] tebeco commented on #9315
build.cmd
[code]

build.fsx :
[code]

[2018-06-27 16:12] marek-safar opened #9340 "Run dotnet benchmarks to gather data for LLVM optimization work"
We need to run stable benchmark suite as the ethanol for our future optimization work. The https://github.com/dotnet/performance/tree/master/src/benchmarks looks like a very good candidate for us as it already has tests for interesting .NET features both new and old ones.

We need to run it on both amd64 and arm64 to gather the initial set of results. The process of running the benchmarks needs to

[2018-06-27 17:03] therealjohn opened #9344 "AOT Assertion when compiling FSharp.Compiler.Service"
_From @praeclarum on June 27, 2018 16:35_

### Steps to Reproduce

1. Build an F# iOS app that references FSharp.Compiler.Service 23.0.3 and FSharp.Core 4.5
2. Note the AOT error

### Expected Behavior

Compiles and runs.

### Actual Behavior

Build failure:

[code]

### Environment

[code]

### Build Logs

https://gist.github.com/praeclarum/a69bf40988d31f2f24f6f42d809fbd11

### Failing Assembly

[2018-06-27 17:03] therealjohn commented on #9344
_From @praeclarum on June 27, 2018 16:53_

From Aleksey Kliger [12:48 PM]

So it looks like the AOT wasn't updated.

[2018-06-27 17:03] therealjohn commented on #9344
_From @lewurm on June 27, 2018 16:55_

You are hitting this assert:
https://github.com/mono/mono/blob/4d38f695074c12105aa3033479db3b1250c8a053/mono/mini/aot-compiler.c#L3350

Apparently we are missing to support this case:
https://github.com/mono/mono/blob/4d38f695074c12105aa3033479db3b1250c8a053/mono/metadata/marshal.c#L12120-L12122

[2018-06-27 19:32] pjcollins opened #9345 "[XA][AOT] Encountering crash in NUnit BCL Tests on 32bit Android devices when using AOT+LLVM"
Copying over https://github.com/xamarin/xamarin-android/issues/1447:

I'm encountering crash when running the new set of NUnit BCL tests on the majority of "older" devices when compiled in Release mode with both AOT+LLVM enabled. Given the timing and a quick review of the test runner, this crash is potentially occurring during a GC attempt after the fixture completes?

The same set of tests execut

[2018-06-27 21:37] lewurm commented on #9319
could you install `gdb` on your system and rerun your crashing application? It should print some additional information that looks like this:
https://gist.github.com/lewurm/699e4072d7a5cf083bf01a076b7b33e2#file-gistfile1-txt

[2018-06-27 21:46] lewurm commented on #9314
https://github.com/mono/mono/pull/9341

[2018-06-27 22:18] lambdageek commented on #6921
I think https://github.com/mono/mono/issues/6921#issuecomment-384774625 will be fixed by #9347

[2018-06-27 23:03] kumpera commented on #8378
With https://github.com/mono/mono/pull/9339 we got bp, stepping and unification done.

[2018-06-27 23:22] lewurm commented on #9023
I can repro the second crash on Desktop with the interpreter. No idea why it didn't trigger with the first, it follows the same pattern. Here is the fix: https://github.com/mono/mono/pull/9348

Thank you for your report!

[2018-06-28 00:55] w8w8w8 opened #9350 "Method not found: double System.Math.Log(double)"
I use the blazor to assembly.load(bytes[]),https://github.com/aspnet/Blazor/issues/1044
my code is this:
var assembly = Assembly.Load(bytes); obj = assembly.CreateInstance(ClassFullName); var t = assembly.GetType(ClassFullName); method = t.GetMethod("Run");

but there is some error:
System.Reflection.TargetInvocationException: Exception has been thrown by the target of
an invocation. ---> System.M

[2018-06-28 03:01] jaykrell commented on #9102
Here is another Windows 7 dependency:
https://github.com/dotnet/corefx/blob/96eddf39539879915e5bf570825e78af37149154/src/System.Security.Cryptography.Algorithms/src/Internal/Cryptography/RandomNumberGeneratorImplementation.Windows.cs#L15

We don't use this code currently, and Vista is easy to support with a few more lines.

[2018-06-28 06:06] jaykrell opened #9353 "Linux/x86 build broken due to AOT reloc against .bss?"
## Steps to Reproduce

1.
[code]
2. ```
 CFLAGS="-g -O0 -m32" linux32 ./autogen.sh -disable-nls -disable-boehm i686-pc-linux-gnu
[code]
Makefile:70: recipe for target '../../class/lib/build-linux//System.Reflection.Metadata.dll.so' failed
make[7]: *** [../../class/lib/build-linux//System.Reflection.Metadata.dll.so] Error 1
ld: /tmp/mono_aot_dXYRpM.o: relocation R_X86_64_32 against `.bss' can not b

[2018-06-28 06:34] lucasboulouys commented on #9319
I have do Apt install gdb
And now i have this

Stacktrace:

  at <unknown> <0xffffffff>
  at (wrapper managed-to-native) NzbDrone.Core.MediaFiles.MediaInfo.MediaInfo.MediaInfo_Open_Buffer_Continue (intptr,byte[],intptr) [0x00015] in <f8c4a2c9e6194b509efc6018724d76df>:0
  at NzbDrone.Core.MediaFiles.MediaInfo.MediaInfo.Open (System.IO.Stream) [0x00054] in C:\BuildAgent\work\5d7581516c0ee5b3\src\Nzb

[2018-06-28 07:34] marek-safar commented on #9102
/cc @migueldeicaza for visibility

[2018-06-28 08:23] lewurm commented on #9023
The first repro doesn't generate the IL pattern to trigger the bug in the interpreter when compiling with `mcs`. It does when compiling with `roslyn`. For the second repro both C# compilers produce the IL pattern to trigger the bug. Mentally noted to try both compilers next time.

[2018-06-28 09:55] luhenry commented on #9318
@spouliot done at https://github.com/mono/mono/pull/9355

[2018-06-28 10:02] jaykrell opened #9356 "incorrect IL crashes runtime"
## Steps to Reproduce

1.
[code]

2.
[code]

3.
[code]

### Current Behavior

[code]

### Expected Behavior

A less severe error mode for incorrect IL.

## On which platforms did you notice this

[x] macOS

[2018-06-28 10:55] akoeplinger commented on #9023
`/optimize` also sometimes makes a big difference on the IL generated by roslyn.

[2018-06-28 12:53] marek-safar opened #9360 "Runtime tests retry-logic"
For BCL tests the retry logic we added serves us pretty well and reduced the number of visible flaky tests. We want to extend that to the runtime tests as well which don't use same nunit runner as BCL tests.

[2018-06-28 13:09] filipnavara commented on #9216
Tracking my BoringSSL compilation changes for CoreFX here: https://github.com/filipnavara/corefx/tree/boringssl-1

Built using `OPENSSL_ROOT_DIR=/usr/local/opt/boringssl ./build-native.sh`.

Quite a few things are missing (or possibly outright wrong), requires up-to-date BoringSSL as it depends on some APIs that were added only 2 weeks ago. Fails couple of tests on ECC cryptography, some of them b

[2018-06-28 14:02] ntherning opened #9361 "Epic: WinRT interop (JIT mode)"
Make it possible to consume the WinRT binding assemblies produced by MCG, a WinRT binding framework from the .NET team currently used in .NET native.

To bring down the scope we limit the work for this ecpi to WinRT interop in **JIT mode only** and only on the **Windows desktop BCL profile**. For full AOT support the implementation would benefit from having a working mixed mode interpreter which w

[2018-06-28 14:52] stmax82 opened #9362 "Calling functions from shared libraries that take wchar_t* parameters"
I'm trying to make a C# application run on Linux / ARMv7 that uses an [IDS uEye camera](https://en.ids-imaging.com/download-ueye-emb-hardfloat.html). It almost works except for one function that uses a wchar_t* parameter to pass a filename as Unicode string.

I have [DllImport]ed the function. Calling it works fine on Windows, but doesn't on Linux. On Linux I end up with garbled / invalid filename

[2018-06-28 15:00] lambdageek commented on #8726
We can do a backport to `2018-02`, but it is unlikely to make it into any stable release.

[2018-06-28 15:16] slluis commented on #8726
@lambdageek why not? 2018-02 is part of the 15.8 release.

[2018-06-28 15:18] harishvadali opened #9363 "SslClientStream TLSv1.2 support"
I am using Novell Ldap library to connect to an AD server and I need to support TLSv1.2. The Novell library was using `Mono.Security` to connect to AD via secure transport and noticed that it was using `SslClientStream` passing `SecurityProtocolType.Ssl3 | SecurityProtocolType. Tls`.

Wireshark Report is below:

**Changed the code to pass `SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls12`:**

[2018-06-28 15:42] kumpera commented on #8345
Fixed upstream and re-enabled tests on mono.

[2018-06-28 15:42] #8345 closed

[2018-06-28 15:57] lambdageek commented on #8726
@slluis @Therzok  Was this a regression?

Backport for `2018-02` is at #9367

/cc @luhenry

[2018-06-28 16:09] NattyNarwhal commented on #9362
Stupid idea: maybe try involving `Encoding.UTF32`?

[2018-06-28 16:29] baulig commented on #9363
It's not going to happen, we're about to remove the code.  Checkout https://github.com/mono/mono/pull/9301 - this also contains a port of the Novell Ldap library to use the new API.

[2018-06-28 16:29] #9363 closed

[2018-06-28 18:52] stmax82 commented on #9362
@NattyNarwhal that's one of the many things I tried, but it doesn't work... UTF uses variable length characters and plain ASCII characters like "foo.ini" are encoded as single bytes.

[2018-06-28 19:56] baulig commented on #9216
I have mostly figured out the dependency injection problem - see my new PR https://github.com/mono/mono/pull/9369.

The next step is to move the native `X509CertificateImplApple` from corlib into System and use `X509Certificate2` - I will take care of that shortly.

[2018-06-28 20:29] jaykrell commented on #6914
Pretty much everything is believed to work. There are a few known problems. Traversing the test matrix takes a long time.
Known problems:

1. arm32 can't pass "extra arg" in a tailcall, so that breaks many generic/interface calls.

2. gsharedvt has wrappers which break tailcall on FullAOT only. This can probably be reduced and work in in-only scenarios. gsharedvt isn't just about recursive generic

[2018-06-28 22:43] baulig commented on #9216
I am making quite some good progress on cleaning up the certificate code and am starting to get really happy with it.  In my latest working tree, I moved all the `X509CertificateImpl` implementations from corlib into System - this is hooked up via the `X509Helper` / `INativeCertificateHelper` dependency injection.  This mechanic will need some testing on mobile.

The implementation then actually u

[2018-06-29 01:16] Lexcess commented on #8397
Just to lend support to this issue. I've proposed that GetAllocatedBytesForCurrentThread be adopted in .Net Standard vNext here: https://github.com/dotnet/standard/issues/771 . Having a working implementation on Mono would really aid this effort and make runtime memory analysis significantly easier (both for tooling and in process monitoring).

[2018-06-29 06:00] sunzone93 opened #9373 "SerialPort.cs Read: serial packet corruption(extra byte(00) added)"
Hi,

I have been using mono program to test Serial communication.
After upgrading from Linux kernal 4.11.7﻿-sun8i﻿﻿ to 4.14.18-sunxi I started seeing CheckSum errors and packet corruption in the received packets.
I wrote a simple program to send byte[] in Visual studio and ran the program on Orange Pi Zero using Mono Remote Debugger.

Test was successful in "ARMBIAN 5.32 user-built Ubuntu 16.04.2

[2018-06-29 06:01] #8046 closed

[2018-06-29 08:14] w8w8w8 commented on #8378
could you find a way to resolve this problem?
https://github.com/mono/mono/issues/9350

[2018-06-29 08:55] filipnavara commented on #9216
Looking forward to the clean up you are doing! It certainly seems like a sensible way to solve the dependency injection.

What's the plan with Mono's BoringSSL fork? I can backport the missing PKCS#7 and PKCS#12 functions. However I would rather see the fork to be updated with upstream fixes. I don't know what are the pitfalls of each of these approaches (endianness patches, etc.), so it would mak

[2018-06-29 11:03] lewurm commented on #9319
[code]
It crashes in the native library `libmediainfo`. Frame 1 and 2 are Mono's signal handler (in order to get symbols, you could install `apt-get install mono-runtime-dbg`).

Anyway, this is an issue with the application, please report it there. This looks similar: https://github.com/Sonarr/Sonarr/issues/2270

[2018-06-29 11:03] #9319 closed

[2018-06-29 11:59] marek-safar opened #9380 "System.Native integration for mobile profiles"
We need to make it work for monotouch and monodroid to enable further CoreFX which are System.Native dependant

[2018-06-29 12:29] rjvdboon commented on #9362
Re https://github.com/mono/mono/issues/9362#issuecomment-401136870: UTF32 gives 4 bytes per character. You may be confused with UTF8 (which is 1 to 7 bytes per character). You would still need to add the terminating 0 though.
[code]

[2018-06-29 12:31] rjvdboon commented on #9362
As 4 byte `wchar_t` is not part of the default marshallers, you'll problably have to roll your own. Did you have a look at https://www.mono-project.com/docs/advanced/pinvoke/#custom-marshaling ?

[2018-06-29 13:47] kumpera commented on #9350
Did you enable linking in your project? Can you try to disable it and see if it's still an issue?
Could you provide a test case that shows this issue?

[2018-06-29 16:19] marek-safar opened #9384 "Upstream our msbuild-xplat changes"
We are tracking the progress on upstreaming all our customizations and fixes in msbuild fork here.

## Upstreaming Pull Requests

- [ ] https://github.com/Microsoft/msbuild/pull/3431
- [ ] https://github.com/Microsoft/msbuild/pull/3400
- [ ] https://github.com/Microsoft/msbuild/pull/3394
- [ ] https://github.com/Microsoft/msbuild/pull/3393
- [ ] https://github.com/Microsoft/msbuild/pull/3385
- [ ]

[2018-06-29 19:08] sourceskyboxer commented on #6949
Wait @vargaz "We don't support solaris, its community supported."

Why do you say that? But hello check headers or sources have "(xxxxxxx)_solaris.h" after starting "make". I saw that. Please do not lie me! I have caught that.

Thanks Please support for Solaris OS now! Many users are arguing.... Same FreeBSD too

[2018-06-29 20:12] baulig commented on #9216
We already planned to eventually upgrade it to the latest upstream, but just didn't get to actually doing it.

I can look into that shortly - maybe not next week because I will be out from Wed-Fri, but probably the week after.

[2018-06-29 21:43] jaykrell opened #9386 "flaky ServiceModel network arm64 coop test"
## Steps to Reproduce

1. Submit PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-coop-arm64/1825/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[x] Linux

[2018-06-29 21:46] jaykrell opened #9387 "flaky delegate8 test "self_interrupt_thread: we can't resume from an async call""
## Steps to Reproduce

1.  Submit PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/15654/

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/15654/testReport/junit/MonoTests/runtime/delegate8_exe/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[x] Linux

[2018-06-29 22:12] marek-safar opened #9388 "Drop BCL compilation mode with mcs"
We are hitting mcs limitations more frequently than before when importing more CoreFX code and we cannot keep up with csc development. We need to finish the work on fixing Roslyn to work on BE to allow us to drop mcs support for Mono's BCL.

[2018-06-29 22:13] marek-safar commented on #9388
Roslyn bumped SRM https://github.com/dotnet/roslyn/pull/27023 (finally!)

[2018-06-29 22:30] jaykrell commented on #9195
Need to understand why this uses gsharedvt.

[2018-06-29 22:59] akoeplinger commented on #9387
This is probably the same issue as in https://github.com/mono/mono/issues/8254 and https://github.com/mono/mono/issues/9070.

[2018-06-29 23:00] akoeplinger commented on #9386
If you look closely you'll notice this is a hang in the test (aborted after 15mins timeout). Given this happened on a coop job and it's hanging in `Receive_internal()` it's probably coop specific?

[2018-06-29 23:03] jaykrell commented on #9386
Maybe.

[2018-06-29 23:04] jaykrell commented on #9387
Agreed.

[2018-06-29 23:55] lewurm commented on #9388
Roslyn not running on BE is not the only blocker imho. On PowerPC there are still some codegen issues to make roslyn work reliable for example. I assume it's going to be similar for s390x.

[2018-06-30 02:09] w8w8w8 commented on #9350
@kumpera the attach files is this project, when you run the project, you could click left 'run' link , then you will see the error on the Console.
you need vs2017 preview.
[WebApplication1.zip](https://github.com/mono/mono/files/2151324/WebApplication1.zip)

thank you!

[2018-06-30 17:59] marek-safar commented on #9388
@lewurm yep but that should not be too hard to fix, right? Do we track them anywhere?

[2018-06-30 21:08] lewurm commented on #9388
@marek-safar I made some progress on ppc64le (= little endian) a few weeks ago. With that it's possible to run roslyn sort of, but it's very crashy and unreliable. No idea idea how much work it's going to need to make it usable. I guess ppc64 big endian will be in the same boot once the roslyn big endian patch lands. I would say let's wait and see how well roslyn works on s390x and then decide wha

[2018-06-30 21:27] goekboet opened #9391 "fsharpi FileNotFound running script"
## Steps to Reproduce

[Here's](https://github.com/mono/mono/files/2152198/repro.zip) my dotnet core project:

[code]

### Current Behavior

I get the following error:
[code]

### Expected Behavior

I expect the script to print "1" to my console.

* If i replace `u 1 |> printfn "%s"` with `"1" |> printfn "%s"` in Script.fsx I get "1" as expected
* If I `dotnet run --project src/MyFsharpProgram` i

[2018-07-01 07:45] nosami commented on #9391
This isn't a bug but just the way that fsharpi works. You need to reference Newtonsoft.Json from the `.fsx` script using `#r /path/to/Newtonsoft.Json.dll` otherwise fsharpi won't know about the reference. It can't read the references from your project file.

[2018-07-01 07:50] goekboet commented on #9391
I see, thank you, my bad

[2018-07-01 10:19] neomatrix369 commented on #8908
The project is archived https://github.com/mono/monocov, has anyone managed to get a decent code coverage gig running on mono?

All I get so far is coverage of all other Assemblies by that of the implementation code on which the tests ran.

[2018-07-01 13:35] borgdylan commented on #9356
That IL looks fine. In which way is it incorrect?

[2018-07-01 16:46] jaykrell commented on #9356
I think there is no overload of WriteLine like this -- at some point the number of parameters runs out and you pass an array. So it is correct IL at some level, but not entirely.

[2018-07-01 17:32] borgdylan commented on #9356
It does exist: https://docs.microsoft.com/en-us/dotnet/api/system.console.writeline?view=netframework-4.7.2#System_Console_WriteLine_System_String_System_Object_System_Object_System_Object_ . There is a simialr one for System.String::Format

[2018-07-01 18:29] drgroot commented on #8430
Seem to have the same problem with version 5.12.0.226 on Linux.
Reopen?

[2018-07-01 19:38] rjvdboon commented on #9356
There is no plain 4 object WriteLine, but there is a 4 object + __arglist, which is what is crashing here.
`public static void WriteLine(String format, Object arg0, Object arg1, Object arg2, Object arg3, __arglist)`
The line `ArgIterator iter = new ArgIterator (__arglist);` is causing the exception.

As `__arglist` is strongly discouraged anyway, isn't it OK to crash if you write incorrect IL usin

[2018-07-01 19:43] borgdylan commented on #9356
So the docs are incorrect as they fail to show the arglist parameter.

[2018-07-01 20:41] jaykrell commented on #9356
Incorrect IL I think should get verification errors. Similar to array overflows, null deref, etc., part of being safe.

[2018-07-02 07:31] rjvdboon commented on #9356
On Windows I get an unhandled exception:
[code]
and PEVerify only complains about the missing method
[code]

So isn't the bug really that the method resolver ignores the varargs annotation? The IL really doesn't look invalid by itself.
`.method public hidebysig static *vararg* void  WriteLine(string format, object arg0, object arg1, object arg2, object arg3) cil managed noinlining`

[2018-07-02 08:06] jaykrell commented on #9356
"invalid IL" vs. "IL that calls nonexisting function" I'm being loose in the description or even finding the problem. It is somehow "incorrect" and I doubt should fail in this way.
"Windows" is probably acting appropriately.
More generally I think the runtime is rather coddled by recieving mostly valid/correct/resolving output. If you veer much from csc output, you start hitting problems, perhaps

[2018-07-02 09:58] lewurm commented on #8430
it wasn't backported to the release branches.

@marek-safar @luhenry is it okay to backport it to 2018-02 still? https://github.com/mono/mono/pull/9394

[2018-07-02 10:02] lewurm commented on #9340
@vargaz it's a private repository, you need to join the `dotnet` organiziation via https://repos.opensource.microsoft.com/DotNet/teams/microsoft/join/ (Microsoft employees only 😕 )

[2018-07-02 10:56] smortex commented on #9161
Hey!

The `lang/mono` port was [updated to 5.10](https://www.freshports.org/lang/mono) recently.

Please refer to this message for further details about this:
https://lists.freebsd.org/pipermail/freebsd-mono/2018-June/002779.html

I think that this issue can be closed.  If you are interested in the state of mono on FreeBSD, I would suggest registering to the [FreeBSD mono@ mailing list](https://li

[2018-07-02 11:36] #9161 closed

[2018-07-02 12:42] MaximLipnin opened #9395 "Support per-platform sources for xunit tests"
It needs the ability to include/exclude xunit tests depending on platform.
As example - CoreFX ProtectedData class which has no non-windows implementation so the related xunit test doesn't make sense on other platforms but they still run and lead to CI target failures.

[2018-07-02 12:58] stmax82 commented on #9362
@NattyNarwhal sorry I was wrong - it looks like UTF32 works fine!

For future generations - I did this to make it work on both Windows on Linux:

Function to convert a .NET string to either Unicode (on Windows) or UTF32 (on Linux):

[code]

The [DllImport]ed function gets a byte[]:

[code]

Calling it:

[code]

Thanks for your help. I'll close this..!

[2018-07-02 12:58] #9362 closed

[2018-07-02 13:05] filipnavara commented on #9395
I am not big fan of changes in the CoreFX fork, but xunit has the concept of `PlatformSpecific` attribute that has exactly this functionality. Shouldn't it be used here?

[2018-07-02 13:45] edelsohn commented on #9085
@NattyNarwhal Is there any Issue tracking the current AIX "JIT" work? I tried to email you directly in response to your questions to IBMers, but it bounced.

AIX is POSIX / Unix, but it is not Linux/Solaris/SVR4/ELF.  The AIX assembler syntax is markedly different.  One cannot feed it normal ELF syntax.  AIX XCOFF assembly syntax is not completely foreign and has similar concepts to ELF, but the d

[2018-07-02 13:54] NattyNarwhal commented on #9085
Yes, I contacted the mail admin, seems to be problems with the mailserver. I have an issue tracking what's needed for AOT [here](https://github.com/MonoOni/binarydist/issues/9) and had concluded gas was a lost cause.

[2018-07-02 14:00] MaximLipnin commented on #9395
Good point, thanks. I've tried it locally and seems that it can be possible to use xunit platform specific attribute (e.g. `[PlatformSpecific(TestPlatforms.Windows)]`) to reach the goal in case when there are not so many test that should be marked.
@akoeplinger @marek-safar Does it make sense for you?

[2018-07-02 14:22] JTrotta opened #9396 "UnixServiceController implementation"
[ ] macOS
[X] Linux
[ ] Windows

**Version Used**: LAST
Any chance this library will be implemented?

[2018-07-02 15:24] MaximLipnin opened #9399 "ManagedProtection: System.UnauthorizedAccessException on MacOS"
CoreFX [ProtectedData xunit tests](https://github.com/mono/corefx/blob/master/src/System.Security.Cryptography.ProtectedData/tests/ProtectedDataTests.cs) (that are aimed only Windows-platform) being run on MacOS leads to failures.
As an example `System.Security.Cryptography.ProtectedDataTests.ProtectedDataTests.WrongEntropy` fails with the following error:
[code]

      Stack Trace:
          at S

[2018-07-02 16:53] lambdageek commented on #7556
Fixed by #8497.  (I just verified that coop and hybrid suspend can run the profiler xUnit testsuite on macOS and Linux/amd64)