[2019-03-20 02:23] AceCoderLaura opened #13547 "SQLite Data Reader Throws Null Reference Exception"
## Steps to Reproduce

1. Invoke `new Mono.Data.Sqlite.SqliteCommand("").ExecuteReader();`

### Current Behavior
The method throws a `NullReferenceException`.

### Expected Behavior
The method should probably throw an `ArgumentException` explaining that you need to define an SQL statement.

## On which platforms did you notice this

- [x] iOS (Simulator)

**Version Used**:
[code]
(from the simulat

[2019-03-20 02:47] PureWeen opened #13549 "Mono.ApiTools diffing isn't marking properties added to an interface as breaking"
## Steps to Reproduce

When using https://www.nuget.org/packages/Mono.ApiTools.NuGetDiff/ to diff our Xamarin Forms releases we noticed that an interface change (adding a property) which caused an ABI break wasn't being marked as breaking

This change happened between versions 3.3 and 3.4 of Xamarin Forms
https://github.com/xamarin/Xamarin.Forms/commit/7917719c9d6f1c629e610f5e43d7e8a789238bab#diff

[2019-03-20 02:54] thaystg opened #13550 "Unexpected System.MethodAccessException is thrown for a method call of a class that implements a protected interface inside another interface"
Running some Roslyn DIM tests the error is generated: Method `I1+T1.M1()' is inaccessible from method `Test1.Main()'

Tests:
DefaultInterfaceImplementationTests.NestedTypes_04
DefaultInterfaceImplementationTests.NestedTypes_05
DefaultInterfaceImplementationTests.NestedTypes_09

Code sample:
[code]

[2019-03-20 03:03] thaystg opened #13551 "Unexpected System.MethodAccessException is thrown for a static protected method declared in an interface"
Running some Roslyn DIM tests the error is generated:
System.MethodAccessException: Method `I1`1[System.Int32].M1()' is inaccessible from method `I2`1[System.Byte].Test()

Tests:
ProtectedAccessibility_06
ProtectedAccessibility_07

Code sample:
[code]

[2019-03-20 03:05] thaystg commented on #13374
The tests are already fixed, the crash continues happening.

[2019-03-20 07:32] sancheolz opened #13552 "[SWF] CurrentInputLanguage does not returns current keyboad layout"
## Steps to Reproduce

1. Let system has two keyboard layouts - "EN" and "RU"
2. run
`InputLanguage.CurrentInputLanguage.Culture.TwoLetterISOLanguageName.ToUpper()`

### Current Behavior

returns "IV"

### Expected Behavior

return "EN" or "RU"

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:
5.18

[2019-03-20 07:36] #13508 closed

[2019-03-20 07:57] animaonline commented on #12098
Same issue when running CppSharp 0.9.0

[2019-03-20 10:03] lateralusX commented on #13533
Successfully build bcl.sln using https://github.com/mono/mono/pull/13554.

[2019-03-20 10:39] lewurm commented on #13460
FWIW, the bug was there forever, but was exposed by https://github.com/mono/mono/pull/12119

[2019-03-20 12:11] alanmcgovern commented on #13526
For reference - the 16.1 builds are fine so this is not a problem for the upcoming release

[2019-03-20 13:06] srxqds opened #13557 "how can I reload assembly with embed mono"
I want reload assembly?

** Mono Init Code **

[code]

** Load Assembly **

[code]

** UnLoad Assembly**

[code]
When reload assembly call below:

[code]

the exception trace:
![image](https://user-images.githubusercontent.com/5187024/54686296-e782f980-4b53-11e9-9b8f-6321ef33dd31.png)
![image](https://user-images.githubusercontent.com/5187024/54686353-0ed9c680-4b54-11e9-9ca2-fb34433a8815.png)

**

[2019-03-20 13:22] animaonline commented on #12098
@geneishouko @alexmufatti @trevorknight1 were you able to resolve this? :)

[2019-03-20 13:41] #12019 closed

[2019-03-20 15:37] lambdageek commented on #13546
Thanks for reporting the issue, @deepgoyal25.

1. The SIGABRT crash looks like it's happening in libosxfuse - does your app use a managed binding for FUSE, perhaps?  Perhaps it's being passed some bad arguments.
2. the SIGILL crash looks interesting.  A thread info key destructor is running and asserting. (That function is pretty  assertion-heavy, so I can't tell _which_ assertion is failing).  @d

[2019-03-20 16:25] MaximLipnin commented on #13065
Checked this issue on latest mono (6.1). It can occur from time to time
I use this snippet:
[code]

After some debugging I've got this error:

[code]
Possibly it leads to some infinite loop of connection tries in case of zero-timeout.

[2019-03-20 16:49] luhenry commented on #6914
A lot of these changes had to be reverted due to introduced breakages. I wouldn't say the situation to have changed much since before @jaykrell's work, and the existing set of tests, even if somehow exhaustive, doesn't give a clear picture as to what exactly is passing.

[2019-03-20 16:53] joncham opened #13560 "ConditionalWeakTable not implemented for Boehm GC"
## Steps to Reproduce

Opening this as a place holder for feature work under Boehm GC.

1. ConditionalWeakTable does not work under Boehm GC, and instead treats table entries as strong reference
2. See https://github.com/mono/mono/blob/master/mono/metadata/boehm-gc.c#L2072

### Current Behavior
Entries are retained as strong references

### Expected Behavior
Keys are cleared as expected when no ot

[2019-03-20 17:56] millinon commented on #13557
I believe that `mono_assembly_close` takes a `MonoAssembly*` not a `const char*`. That should be a compile-time error. Can you try storing the `MonoAssembly*` returned by your `LoadAssembly` function, and then passing that to your `UnloadAssembly` function instead of the name of the assembly?

[2019-03-20 18:10] dsyme commented on #6914
@luhenry Do you have a list of relevant PRs, both pushed and reverting?  Thank you

A full status report would be very helpful.

[2019-03-20 18:13] lambdageek commented on #13557
Note that `mono_assembly_close` will not necessarily cause the assembly to be unloaded.  If the assembly was referenced by an appdomain (for example if code from the assembly was running), the domain may retain a reference to the assembly.

You should think of `MonoAssembly` as having some kind of reference counting inside. Your call to load the assembly will increment the reference count (from 0

[2019-03-20 18:32] deepgoyal25 commented on #13546
1) The SIGABRT crash looks like it's happening in libosxfuse - does your app use a managed binding for FUSE, perhaps? Perhaps it's being passed some bad arguments.
[Deep] - Yes, we have a managed binding for FUSE. Can you tell how were you able to infer that crash is happening because of an incoming fuse call? Also, is the crash expected in this case?
2) the SIGILL crash looks interesting. A threa

[2019-03-20 19:00] baronfel commented on #11933
I can verify that we fail on OSX using .net core in this same way. We've got reports in Ionide (F# for VSCode) using the .net core version of the FSAC tooling: https://github.com/ionide/ionide-vscode-fsharp/issues/1039

[2019-03-20 20:14] jcouv commented on #12019
Thanks!
Out of curiosity, is there a shipping vehicle that we can announce that will contain these new types?

[2019-03-20 20:33] jaykrell commented on #6914
Very little had to be reverted.
Or if not mostly restored after revert.

The main problem was ARM32 could often not be fixed due to the use of an extra
non-volatile register, to pass an extra parameter for generics, and then restore it after the call,
means those could not be tailcalled.
i.e. ARM32 disabling here:
https://github.com/mono/mono/blob/60221d88d517cf2140b25b2846dbfac6625cc541/mono/test

[2019-03-20 20:41] jaykrell commented on #6914
I'm just repeating myself. Yes the summary from https://github.com/mono/mono/issues/6914#issuecomment-401163239 is accurate.

It is confusing I agree, because there are many variables, more than you might expect. Many cases were improved, and some improvements are blocked per-architecture (arm32) or codegen variant (FullAOT).

[2019-03-20 21:34] lambdageek commented on #6914
Let me try and split the difference between @luhenry and @jaykrell - our tail call support is better than it used to be, but it is difficult to concisely characterize when we will compile a tailcall successfully and diagnosing why a particular tail-call had to fall back to a regular call is difficult.

1.  If you set the environment variables `MONO_LOG_LEVEL=debug MONO_LOG_MASK=tailcall` mono will

[2019-03-20 21:55] dsyme commented on #6914
@lambdageek Summary tweeted here, thanks again! https://twitter.com/dsyme/status/1108486082109362178

[2019-03-20 21:58] jaykrell commented on #6914
Thank you.

That is a pretty accurate rendition of the source, yes.
And confusingly long, eh?
But clearer than code, agreed.

And despite all the conditions, this does let through a lot more than before.

Close but not quite.
We can auto tailcall to self, with some limits.
That was always the case.
We just move the parameters and jmp.
Imho we could do much better there with little effort.
But it d

[2019-03-20 22:08] #13467 closed

[2019-03-20 22:14] #8739 closed

[2019-03-20 22:15] #8448 closed

[2019-03-20 22:45] #13460 closed

[2019-03-20 22:48] #13533 closed

[2019-03-20 23:37] srxqds commented on #13557
hi, The UnloadAssembly code I wrote wrong, the actual is right:

[code]

[2019-03-21 02:08] AceCoderLaura commented on #13547
This only occurs if the statement is an empty string.

[2019-03-21 04:03] srxqds commented on #13557
hi, Thankyou @lambdageek
I have another confused: what are different between return from ** mono_domain_create_appdomain ** and ** mono_domain_create**?

As I understanding ** mono_jit_init_version ** had created AppDomain,  can I use ** mono_domain_create_appdomain ** create another child AppDomain ?
what is difference when use **  mono_domain_create_appdomain ** or ** mono_domain_create**?

[2019-03-21 05:35] deepgoyal25 commented on #13546
@lambdageek - I dig into more details about SIGABRT and were able to see that some code path in fuse causing the abort to be called

About SIGILL, I looked at the logs of other customers and found that it is not always happening on the app shutdown path. Can you please more insights on how to resolve this issue or how to dig more into the issue

[2019-03-21 06:46] marek-safar commented on #12019
@jcouv they will be included in Mono 6.2

[2019-03-21 07:31] srxqds commented on #13557
hi, @lambdageek

I try the implement:

[code]
And It call:

[code]

I crash in gc:
![image](https://user-images.githubusercontent.com/5187024/54738248-66c50b80-4bee-11e9-968d-340707a06ee6.png)

[2019-03-21 11:57] #13150 closed

[2019-03-21 12:15] #13284 closed

[2019-03-21 13:36] marek-safar commented on #13479
@vargaz as reported by Alexander, the issue is still unresolved

[2019-03-21 13:38] marek-safar commented on #13454
@vargaz any thoughts on that?

[2019-03-21 14:10] johnmorrisbeck opened #13576 "A bit too clunky to get c# compiler"
## Steps to Reproduce

1. install mono-devel
2.  wait two weeks
3.  sudo apt-get update && sudo apt-get -y upgrade

### Current Behavior

Mono uses far too many packages and libraries in order to give me a simple c# compiler. These packages are so big and often take so long to compile that it interrupts my development cycle.

### Expected Behavior

As a linux developer I do everything in the comma

[2019-03-21 14:15] emilm commented on #10222
So I see that Milestone 1 is completed. Any way to AoT on Blazor/windows?

[2019-03-21 14:19] jeromelaban commented on #10222
@emilm here's some steps I [described there](https://medium.com/@unoplatform/how-to-build-webassembly-c-apps-with-the-mono-aot-and-windows-subsystem-for-linux-ae1fe813cba3), It's not completely Windows based, but it's running under WSL. It allows to experiment with plain mono AOT.

[2019-03-21 14:34] directhex commented on #8731
I can confirm Jay's test case still fails reliably on ARM64 with 2018-10 branch

[2019-03-21 14:40] legistek commented on #10222
Windows toolchain isn't even in the roadmap above. Isn't Microsoft sponsoring this? Makes no sense.

[2019-03-21 14:46] emilm commented on #10222
@jeromelaban  Thanks!
@legistek Maybe it's implied, since MS is sponsoring Mono. It would be nuts not to have Windows toolchain for this. MS should put full force behind AoT compilation and get it out there, because it will be a major success I think.

[2019-03-21 15:05] directhex commented on #12182
Before making changes which affect everyone (given how badly it went last time), I'd like to enlist help from community people, especially with older CPUs, to ensure the default works as expected.

[2019-03-21 16:03] thaystg opened #13582 "[DIM] Mono is throwing the old exception for ambiguous dispatch"
Mono should throw this exception: System.Runtime.AmbiguousImplementationException

Example:
https://github.com/dotnet/coreclr/blob/master/tests/src/Loader/classloader/DefaultInterfaceMethods/diamondshape/diamondshape.cs

[2019-03-21 16:04] DierkDroth commented on #10222
I have to confess, that the technical details as per the milestone lists are above my head, but it definitely is required to have a tool chain option which is 100% MS Windows (and is not dependent on WSL or the like) asap.

[2019-03-21 16:57] Therzok opened #13583 "Install of mono 5.18.0.268 on 64-bit Solaris 11/x86 (x86_64-pc-solaris2.11) with gcc 4.8.2 failed"
@polonia commented on [Thu Mar 14 2019](https://github.com/mono/gtk-sharp/issues/268)

I downloaded the last mono tar to Solaris 11
I install the required packages:
[code]

When I tried to configure mono 5.18.0.268 on 64-bit Solaris 11/x86 (x86_64-pc-solaris2.11) with gcc 4.8.2, it failed
like this:
`$ ./autogen.sh`

(...)
checking for PTHREAD_MUTEX_RECURSIVE... no
configure: error: Posix system l

[2019-03-21 17:19] chucker commented on #10222
ASAP and Blazor don’t really mix at this point.

[2019-03-21 17:27] legistek commented on #10222
Indeed, and one of the things that's holding it back is the lack of a viable AOT option. No one really knows how far Blazor can go as a client side tech until we know the performance with AOT. (As a server side tech, it's doing great).

[2019-03-21 19:56] #13463 closed

[2019-03-21 20:54] thiagobucca commented on #13065
Don't know if it helps somehow, but sometimes, if you put a break point in connection.Open() method and press F11 to enter inside statement, it releases from infinite loop, that what i was doing before starting this thread.

[2019-03-21 21:13] sbrl commented on #12182
@directhex: Given an archive (e.g. .tar.gz, .zip) to test, I can do so on the following CPUs:

<details>
<summary>Raspberry Pi 3B+</summary>
<pre><code>
Architecture:          armv7l
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    1
Core(s) per socket:    4
Socket(s):             1
Model:                 4
Model name:            ARMv7

[2019-03-21 22:00] taterjuice commented on #9511
I resolved this issue by disabling chunking in my net core api.
I know we don't all have control over the api's we query, but the issue appears to be that the content-type is getting lost after the first chunk. This middle solution solution resolved the issue: https://stackoverflow.com/questions/37966039/disable-chunking-in-asp-net-core/54355016#54355016

[2019-03-21 23:37] brianrob commented on #12030
@alexanderkyte, any update on this?  Thanks.

[2019-03-22 06:36] imba-tjd opened #13597 "Runtime Error when using span on LeetCode"
## Steps to Reproduce

1. Open <https://leetcode.com/problems/longest-palindromic-substring/>.
2. Copy and Paste my following code.
3. Click <kbd>Run Code</kbd>

I don't think my code has an algorithm issue because changing span to string works.

[code]

### Current Behavior

Runtime Error

### Expected Behavior

Pass

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

##

[2019-03-22 07:53] srxqds opened #13598 "mono_assembly_open will take the .dll file handle?"
When I use mono_assubmly_open load  Game.dll， It will take the file handle and not release.

How can I load assmbly and not take the file handle?

[2019-03-22 09:07] lewurm commented on #13597
you can copy the stacktrace from the DOM:
[code]
not exactly helpful unfortunately 😕   My best bet: It's a duplicate of https://github.com/mono/mono/issues/13452 It's also crashing in string manipulation and I expect that LeetCode is also hosted on AWS.

[2019-03-22 09:36] NVoronchev opened #13599 "[System.Configuration] SectionInformation.GetRawXml() returns null"
The method `SectionInformation.GetRawXml()` returns `null` even if the section is really present in config-file.

[2019-03-22 09:41] lewurm commented on #13452
I can reproduce on a t2.micro instance on AWS, investigating now.

[2019-03-22 11:52] zboszor opened #13602 "Yocto build failure: Mono 5.18.1.0 cannot build msbuild 16.0 from current xplat-master"
### Steps to reproduce

1. Set up a Yocto based build environment e.g. via https://github.com/Angstrom-distribution/angstrom-manifest, use the genericx86 or genericx86-64  machine type for building software.

2. Add the meta-mono layer from the below repository to this custom OS:

https://github.com/zboszor/meta-mono
branch: add-msbuild-16-WIP

3. Run these commands:

bitbake mono-native
bitbake -

[2019-03-22 12:30] zboszor commented on #13602
The old xbuild utility also cannot be used to build msbuild using its MSBuild.SourceBuild.sln
Please provide the full documentation to build msbuild from sources only.

[2019-03-22 14:36] lambdageek commented on #13598
Mono keeps the assembly image open while it is in use and will release when the assembly reference count goes to zero (that is after you call `mono_assembly_close` and after the appdomain that is using the assembly is unloaded).

[2019-03-22 14:36] #13598 closed

[2019-03-22 15:02] #13455 closed

[2019-03-22 15:49] directhex commented on #12030
OK, so, with Mono nightly (4111910dd8d9ab6a09c969294cff44a5eb512b07) built against the out-of-tree branch tip of release_60 mono/llvm (286f43185878a77fdc78c3303db68e514969bc30) I get:

[code]

Seems boned?

[2019-03-22 15:59] akoeplinger opened #13607 "Assertion in xamarin-macios link sdk test: "mini-generic-sharing.c:568, condition `is_ok (error)' not met, function:inflate_info, Could not inflate generic type, due to MVAR 0 (T_ULONG) cannot be expanded with type 0x1e""
## Steps to Reproduce

1. Run `link sdk - iOS Unified 64-bits - device - Debug` on xamarin-macios mono-2019-02 branch
2. The project fails at runtime with an assertion. This is similar to https://github.com/mono/mono/issues/13455 but happens only at runtime (I already applied that fix).

### Current Behavior

[code]

### Expected Behavior

It works.

## On which platforms did you notice this

[ X

[2019-03-22 16:21] directhex commented on #13576
There's a balance to be struck between "enough for hello world" and "enough to cover all use cases"

`mono-devel` is one of these cases where a giant package encompassing everything made sense from a packaging perspective - it would essentially mirror the availability of development libraries of Mono on Mac or Windows. You can skip it and just install the compiler package (`mono-mcs` or `mono-rosl

[2019-03-22 16:21] #13576 closed

[2019-03-22 16:38] akoeplinger commented on #13607
And another one: `error: * Assertion at ../../../../../mono/mini/mini-generic-sharing.c:600, condition `mono_error_ok (error)' not met`

[2019-03-22 16:56] directhex commented on #13576
Having some issues (sigh), but rough numbers for the AOT time with 5.18:

`mono-mcs AOT`: 3 seconds
`mono-roslyn AOT`: 21 seconds
`mono-mcs LLVM AOT`: 1 minute 33 seconds
`mono-roslyn LLVM AOT`: 5 minutes 7 seconds

So not having the LLVM enablement package installed is your biggest factor!

[2019-03-22 17:13] directhex commented on #13583
We don't CI on Solaris, and are unlikely to fix this ourselves without a PR.

Are we looking to start doing Solaris CI? It doesn't look like there are any Solaris images in the Azure library, so I doubt it'll be easy to get going.

[2019-03-22 17:58] spouliot opened #13610 "Returning tuple broken when enabling fullAOT+LLVM"
## Steps to Reproduce

1. Call the following code from an iOS app
[code]

note: full test case in https://github.com/xamarin/xamarin-macios/issues/5798

2. Run on device **without** LLVM -> success
3. Run on device **with** LLVM -> failure (false is returned)

### Current Behavior

Broken (regression, it works in XI stable) when enabling LLVM

### Expected Behavior

Should work on both mono and LL

[2019-03-22 17:59] spouliot commented on #13610
c.c. @chamons @vargaz

[2019-03-22 19:08] marek-safar commented on #13610
@alexanderkyte @vargaz please investigate the regression

[2019-03-22 21:37] #13550 closed

[2019-03-22 21:37] #13551 closed

[2019-03-22 22:48] fadden opened #13619 "WinForms ListView OwnerDraw causes rendering problems"
If an app has an owner-drawn ListView, rendering of menus and dialog windows can be reduced to drawing semi-transparent rectangles.

I created a small executable that demonstrates the problem.  Build and run the "DisappearingMenus" app from https://github.com/fadden/MonoBugs/ .  See the README for that project for additional details and repro steps.

Sample image after clicking on the "Edit" menu:

[2019-03-22 23:18] steveisok commented on #13487
@radical Do you have an idea of when this is going to be fixed?  No rush as I can work around it.

[2019-03-23 06:10] johnmorrisbeck commented on #13576
There should be more clear instructions on how to get just the c# compiler when searching bing and the mono website.

[2019-03-23 07:33] srxqds commented on #13557
I found the solution:
1.create domain
2.mono_image_open_from_data_with_name from memory data

[2019-03-23 07:33] #13557 closed

[2019-03-23 13:50] jraldrin opened #13626 "mono version 5.18.1 (32 bit) does not install mprof-report on Windows 10"
## Steps to Reproduce

1.  Install mono-5.18.1.0-gtksharp-2.12.45-win32-0.msi
2.  inspect bin folder and notice mprof-report.exe does not exist.

### Expected Behavior
I expect the mprof-report to be installed.  It is installed for macos.

## On which platforms did you notice this

[ ] macOS
[ ?] Linux
[x] Windows

**Version Used**:
 5.18.1

[2019-03-23 17:42] vargaz commented on #13607
I cannot reproduce this. What test suite has the second assertion ?

[2019-03-23 23:42] HinTak opened #13629 "Mkbundle'd binary exit status, documentation and correctness (I.e. 0 for okay)"
## Steps to Reproduce

1. Compare "mono program.exe && echo hello" and "program && hello" where "program" was prepared by mkbundle
2. The latter does not print "hello"
3.

### Current Behavior

The latter does not print hello

### Expected Behavior

Both should.

## On which platforms did you notice this

[ ] macOS
[*] Linux
[ ] Windows

**Version Used**:
5.14.0.177

## Stacktrace

[code]

[2019-03-23 23:45] HinTak commented on #13629
It also does not seem to be documented what the return status should be, although it seems to be Unix convention (zero =okay). The actual code seems to be in mono_main() in mono/mono/mini/driver.c (not sure about the mkbundle part), but it used 0, 1, 2, 3 for okay and various errors without documenting what those values are.

[2019-03-24 15:15] carvalho-oak commented on #10645
This has been happening for more than 1 year... this ticket should be reopened.

[2019-03-24 15:23] carvalho-oak commented on #11072
System.Net.WebException has been thrown
`Value cannot be null. Parameter name: src`

[code]

[2019-03-24 16:59] akoeplinger commented on #13607
@vargaz make sure you're on the latest xamarin-macios mono-2019-02 branch. I can reproduce it.

I forgot where I hit the second assertion, will rerun the tests tomorrow.

[2019-03-24 17:06] vargaz commented on #13607
I was running it using make "run-ios-dev64-link sdk".

[2019-03-24 17:14] akoeplinger commented on #13607
@vargaz 	I can repro with that command too on my iPad Mini 4.

I also found the second assertion happens with `[xUnit] Mono BCL tests group 4 - iOS Unified 64-bits - device - Debug` through the xharness website with `make -C tests runner`. I couldn't figure out how to run that one from the commandline.

[2019-03-24 21:00] dennis-garavsky commented on #12916
We experienced the same issue with Blazor 0.9 and https://nuget.org/packages/DevExpress.Xpo.
It seems that https://github.com/aspnet/AspNetCore/issues/8158 may be related as well - JFYI.

[2019-03-25 00:14] rfht commented on #8168
@drobban I found the cause for the bug. @bserrao: adding DragonFly similarly might very well fix the bug there, too.

[2019-03-25 06:50] kjpou1 commented on #13428
@txgz999 can you have a look above

[2019-03-25 11:20] marek-safar commented on #13231
@vargaz @lewurm does it mean we have a leak somewhere that it does not reproduce reliably?

[2019-03-25 12:08] Therzok opened #13638 "GetFields fails to retrieve a type's field via Reflection"
## Steps to Reproduce

1. Download this solution [getfields-is-bugged.zip](https://github.com/mono/mono/files/3003197/getfields-is-bugged.zip) EDITED the link

2. msbuild /restore it
3. Run the app

### Current Behavior
The requested private field cannot be retrieved, returns null

### Expected Behavior
We should have a field info returned

## On which platforms did you notice this

[*] macOS
[ ]

[2019-03-25 12:20] Therzok commented on #13638
Returns the right data on Windows.

[2019-03-25 12:23] Therzok commented on #13638
Okay, weird, now it works, closing.

[2019-03-25 12:23] #13638 closed

[2019-03-25 12:24] mandel-macaque opened #13639 "mono-cil-strip crashes when called against the monotouch_Microsoft.CSharp_xunit-test.dll"
While integrating the test dlls with xamarin-macios, we started using device tests. When using the cil stip command we have the following failure:

`
Error: System.IndexOutOfRangeException: Index was outside the bounds of the array.
  at Mono.Cecil.Metadata.Utilities.ReadCompressedInteger (System.Byte[] data, System.Int32 pos, System.Int32& start) [0x0002f] in <5ab86655477f49bf9e849e708f3dcbc9>:0

[2019-03-25 12:28] mandel-macaque commented on #13639
Adding the dll for better debugging:

[monotouch_Microsoft.CSharp_xunit-test.dll.zip](https://github.com/mono/mono/files/3003222/monotouch_Microsoft.CSharp_xunit-test.dll.zip)

[2019-03-25 12:29] mandel-macaque commented on #13639
Mono full version:

Mono JIT compiler version 5.20.0.220 (2018-10/d390bb6901f Thu Feb 21 14:52:09 EST 2019)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	LLVM:          yes(600)
	Suspend:       hybrid
	GC:

[2019-03-25 12:35] akoeplinger commented on #13639
This looks like a Cecil issue. mono-cil-strip still uses its own copy of Cecil.

[2019-03-25 12:53] NVoronchev opened #13640 "[System.Configuration] Unable to add protected constructor to descendants of the ConfigurationElement"
[code]

[2019-03-25 13:00] mandel-macaque opened #13641 "NUnit test dll monotouch_corlib_test.dll has failures on devices"
As part of the process of consuming the test dlls from the SDK we have started running the tests on devices. The  monotouch_corlib_test.dll contains tests that fail on device because they are linked away.

## Steps to Reproduce

1. Execute the nunit tests on a device (make runner on xamarin-macion will help with this).

### Current Behavior

The following tests fail with System.NotSupportedExcepti

[2019-03-25 13:29] srxqds opened #13643 "how can I get generic type in mono embeded?"
how can I get generic type in mono embeded?

[2019-03-25 14:05] marek-safar commented on #13626
/cc @directhex

[2019-03-25 14:58] miniwolf opened #13646 "Issue in evaluating Array.CreateInstance with negative lowerbounds."
## Steps to Reproduce

1. Create a method containing this code:
[code]
2. Attach debugger and break after the last line shown above.
3. See issue in the debugger. `Index was outside the bounds of the array.`

### Current Behavior

The error message that is returned when trying to evaluate the Array is `Index was outside the bounds of the array.`

### Expected Behavior

Evaluating this under normal

[2019-03-25 15:44] marek-safar commented on #13646
/cc @thaystg

[2019-03-25 15:51] directhex commented on #13576
There's no universal definition for that which will please everybody, and experience says the more helpful documentation you write in a prominent place, the more people get it wrong.

[2019-03-25 16:30] johnmorrisbeck commented on #13576
The linux workflow is alot different from windows. Windows users are often big companies that are just now porting their applications over to linux. I understand why it is important to serve those customers.

But you also have to understand the company of linux developers that have whipped microsofts ass the last 20 years out of their parent's basements with no funds or hierarchy.

A decent portio

[2019-03-25 17:18] alexanderkyte commented on #13610
Here, let me add a sane-sized executable reproduction: https://gist.github.com/alexanderkyte/1974de18f51cb2a984908524809ec87c

[2019-03-25 17:19] alexanderkyte commented on #13610
Looks like we don't have any unit tests for this on the mono side, only acceptance/integration tests. This PR caused this breakage: https://github.com/mono/mono/pull/13312 .

I'll have a fix for this shortly.

We need to add this bug reproduction to the test harness at some point.

[2019-03-25 17:22] lewurm commented on #13610
Mentioned PR was merged 6 days ago, but the bug started to happen with `2018-08`. Regression was likely introduced by something else.

[2019-03-25 17:36] alexanderkyte commented on #13610
[code]

[2019-03-25 17:37] alexanderkyte commented on #13610
[code]

was not merged until https://github.com/mono/mono/pull/13312

[2019-03-25 17:45] directhex commented on #13626
I don't think we produce mprof-report in our Windows build?

[code]

mono/profiler/Makefile.am contains an explicit `if !HOST_WIN32`

[2019-03-25 18:19] directhex commented on #13576
I've been packaging .NET software on Linux for 15 years, I have the battle scars from various iterations of "X is the only factor that matters to users this week", and I've given a talk at FOSDEM about shrinking Mono install size.

I get it.

But there's a big difference between "what to install to build things" and "what to install to run things" and those expectations differ. You might be able t

[2019-03-25 18:25] #13452 closed

[2019-03-25 18:25] #13597 closed

[2019-03-25 18:41] jeromelaban opened #13653 "[wasm][aot] method calls inside try/finally blocks are expensive"
## Steps to Reproduce

Given:
[code]

`TryMethod` executes about slower around 5x in FF and 6.5x in Chrome than `DirectMethod`.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[x] WebAssenbly

**Version Used**: 0b58483fa814707b8a98833a48153ac389d9d933

[2019-03-25 18:55] steveisok opened #13654 "Interpreter Crash When Doing Fancy Reflection"
This impacts https://github.com/mono/mono/pull/12619 as it is the way events are auto wired in WebForms.

What's also interesting is that if I put an lldb breakpoint at sre.c line 4039 and try to print the local variables, it'll crash too.

## Steps to Reproduce

1. Copy this gist https://gist.github.com/steveisok/a04557c332dfaf6ba5415a6b426ec39d
2. Compile it using csc
3. Run it via mono --interp

[2019-03-25 20:25] vargaz commented on #13610
I can reproduce. When was the last time this worked ?

[2019-03-25 20:27] spouliot commented on #13610
mentioned above
_2018-08 (d16-0), 2018-10 (xamarin-macios/master) and 2019-02 are all broken

Current XI stable is fine (2018-04)
_

[2019-03-25 20:29] vargaz commented on #13610
So 2018-04 was still using the old llvm 3.6.

[2019-03-25 20:35] spouliot commented on #13610
ouch :(

[2019-03-26 00:08] lambdageek commented on #13610
Doesn't have to be a tuple.  This also fails (prints 0. expected to print 1)

[code]

compile with `mono --runtime=mobile --aot=llvmonly example.exe` run with `mono --runtime=mobile --llvmonly example.exe`

[example.opt.ll](https://gist.github.com/lambdageek/a57798e212c1306f66f53615292cd2be)

[2019-03-26 00:18] lambdageek commented on #13610
Don't need  tasks either.  Just a generic method will do.

[code]

[2019-03-26 01:50] kg opened #13658 "cert-sync requirement is basically invisible"
We should really update our SSL infrastructure so it makes it visible that you need to run cert-sync. I've been using mono in my VMs for years and until last week had no idea cert-sync existed or that I needed to use it. When I asked some people for help figuring out related errors, none of them recognized it was cert-sync... and most of the documentation you find by searching the errors on google

[2019-03-26 02:52] txgz999 commented on #13428
The bug I reported is regarding Blazor 0.7 running in VS2017. I tried kg's suggestion last week and I did hit the breakpoint there. Unfortunately I did not have time to analyze the stack trace at that time.

Now I have Blazor 0.9 installed running in VS2019 RC3. I just checked this bug disappeared. Thanks you all for your help.  @gulbanana, do you still experience this issue with Blazor 0.9?

[2019-03-26 03:54] johnmorrisbeck commented on #13576
I get you man. Keep fighting the good fight.

[2019-03-26 04:18] kjpou1 commented on #13428
Thanks for the info @txgz999.  Will wait a little longer for response before resolving this issue.

[2019-03-26 04:20] kjpou1 commented on #13438
Fixed via https://github.com/mono/mono/pull/13416

[2019-03-26 04:20] #13438 closed

[2019-03-26 10:02] polonia commented on #13583
I understand that there is no Continuous Integration on Solaris. I'm asking if there is any work around?

[2019-03-26 11:10] jaykrell commented on #13583
@polonia Can I ssh to your machine?

[2019-03-26 11:16] jaykrell commented on #12182
There's no great solution to any of this.
People do various things.
  - compile .dll/.so multiple times and have runtime loader pick best, possibly fallback to JIT if none of the images work on current machine
 - compile some functions multiple times and make a runtime choice -- but which functions?
  - target low common denominators, giving up perf on most machines  - if filesystem was more cloud

[2019-03-26 11:58] MihaMarkic commented on #10222
I wouldn't be concerned with AOT speed. It should work fast, why not. More problematic is the binaries size IMO.

[2019-03-26 12:12] legistek commented on #10222
Yes both speed and size are important. And no one's going to put serious investment into Blazor until we can actually see how it's going to perform in both regards. And the lack of an AOT option is holding that back right now.

Also, back to Windows toolchain, I'm noting the deafening silence on this point from anyone officially involved with this project.

[2019-03-26 12:37] m5x commented on #10222
I guess it's because most people don't care whether the toolchain is working on Windows or not. I myself would be glad for any AOT compilation toolchain to start working with.

[2019-03-26 12:41] yulingjie opened #13668 "build mono-1.0.6 failed on windows with cygwin"
## Steps to Reproduce

1. down mono-1-0-6 branch
2.  enter the directory on cygwin32 and run ./autogen.sh
3.  create a new dir names "build-cross-windows", enter this dir and type
`../configure --prefix=/usr/local --build=i686-w64-mingw32 --with-gc=included --enable-parallel-mark `
4. run `make`

### Current Behavior

when it began to compile libgc, I got an error which said **"libgc/include/priva

[2019-03-26 12:43] legistek commented on #10222
How about most people who are interested in Blazor? Blazor will be a failure if it can't be developed in Windows. You may not care about that, but plenty of people do - and more importantly Microsoft should.

[2019-03-26 12:44] jeromelaban commented on #10222
@m5x people do care, but for now it seems that it's more important to make AOT and mixed modes work (it's getting a lot more stable at runtime lately thanks to @vargaz).

FWIW, there are already Windows binaries produced by the CI, but if anyone wants to document how it works (haven't made research on this yet, as my focus *was* on getting AOT working to evaluate perf and linux is still the only e

[2019-03-26 12:53] m5x commented on #10222
Yes, that's what I was trying to say. It's more important to make it work (on any platform) at this point. Adding platforms is the next step. People who can work with Windows only are here too early.

[2019-03-26 13:09] jeromelaban commented on #10222
@legistek you've noticed that a lot of work is done lately on the interpreter (and mixed mode by extension), which is the segway to make wasm FullAOT viable (because of its size characteristics). AOT's integration in Blazor may be slow, but AOT work in mono definitely is not. It's also advanced enough to be able to find issues [like this one](https://github.com/mono/mono/issues/13653).

[2019-03-26 13:21] legistek commented on #10222
Well, again, my biggest concern is not even the pace but the fact that a Windows-based WASM AOT option is not even in the roadmap. That means that building Blazor apps with WASM AOT is a very long way away, if ever.

[2019-03-26 13:46] alexischr opened #13672 "[2019-02] Xamarin.Android runtime tests crash on free"
Log:

[code]

Notes:

* There seems to be one crash at the end per "suite" of runtime tests/xunit tests/nunit tests , so this looks like a shutdown bug and/or triggered by the XA instrumentation code for the mono tests
* I am not getting anything useful with `MONO_LOG_LEVEL=debug` , will look for more clues

[2019-03-26 17:06] buybackoff opened #13679 "Mono.Posix.NETStandard throws cannot find entry point on Windows"
Today after reading [the blog post](https://developers.redhat.com/blog/2019/03/25/using-net-pinvoke-for-linux-system-functions/) by @tmds I tried to open a file on Windows on dotnetcore 3.0 and it fails with wrong P/Invoke entry point.

## Steps to Reproduce

1. Install `Mono.Posix.NETStandard` [1.0.0](https://www.nuget.org/packages/Mono.Posix.NETStandard/1.0.0).
1. Call `Mono.Posix.Syscall.open(_

[2019-03-26 19:01] maxwelllin-kingkey opened #13680 "my program not work well on mono > 5.0.0"
I have large project from windows port to linux,
this program no any exception report, but just not work well if mono version > 5.0.0
but work fine on 4.6.2
this is streaming and video recoding server, design for large TCP connection and multi-threading (Usually exceeds 100 threading when startup), if mono version > 5.0.0, sometime TCP connection not stable, I don't know why and very hard to looki

[2019-03-26 19:36] lewing commented on #10222
A windows AOT toolchain is definitely on the roadmap we've simply been focused on AOT and AOT+Interpreter functionality up to now.  This issue should not be considered a complete or up to date planning document.

[2019-03-26 20:03] legistek commented on #10222
Thanks @lewing that is reassuring.

[2019-03-27 00:14] pr0vieh commented on #13680
mono > 5.0.0 with more then ~ 300 TCP connections and you can heat your rooms but without throughput 😏

[2019-03-27 02:58] srxqds opened #13683 "how to register c/c++ struct to c# type like python"
I want to register the c/c++ struct/class to c# type like python:

[code]

[code]

how can I implement this?

[2019-03-27 10:03] sharkcz commented on #9009
this could be the same issue we are tracking in https://bugzilla.redhat.com/show_bug.cgi?id=1397948

[2019-03-27 10:20] jaykrell commented on #9009
Maybe remove the S390X fast TLS support??

[2019-03-27 10:25] jaykrell commented on #13668
Try without these switches:
`--with-gc=included --enable-parallel-mark`

and more generally look in scripts\ci for how CI builds?

[2019-03-27 11:55] lateralusX commented on #13668
You are building a mono runtime for Windows using cygwin, right? If so no need to cross compile and just follow the configuration steps here, https://www.mono-project.com/docs/compiling-mono/windows/, similar to what's done on CI.

[2019-03-27 11:56] lateralusX commented on #13668
Any reason why you would like to use boehm instead of sgen? Boehm has been depricated fro a long time and only available on 32-bit builds.

[2019-03-27 12:03] lateralusX commented on #13668
You also want to use `--host=i686-w64-mingw32` (as in the build documentation) or you won't pick up mingw compiler but default gcc (or what ever has been setup on the system) causing issues.

[2019-03-27 12:21] sharkcz commented on #9009
For the record - starting with https://src.fedoraproject.org/rpms/mono/c/cb2069e8baa6814a1094b4ac700047ee42139f16?branch=master we have a build of 5.18.1 in Fedora for all our arches (https://koji.fedoraproject.org/koji/buildinfo?buildID=1239640)

[2019-03-27 13:02] lewurm opened #13689 "[cross helper] audit PLATFORM_IOS usage"
https://github.com/mono/mono/blob/9ba3fa0ba37c3b11b7129c3092a379711fd128e4/mono/metadata/metadata-cross-helpers.c#L45

`PLATFORM_IOS` doesn't exist anymore. how does it even work for iOS right now?

[2019-03-27 13:04] marek-safar commented on #13689
/cc @rolfbjarne

[2019-03-27 13:20] rolfbjarne commented on #13689
I can't find anywhere we've defined it ourselves, neither in mono, xamarin-macios or maccore.

However, it seems to be defined by the iOS SDK:

[code]

[2019-03-27 13:21] nealef commented on #9009
I think the -fPIE/-fpie is a problem. I think it revealed issues with the TLS fastpath that were addressed by its simplification. Coupled with the conditional logic when created the context related structure I think these two are all that was required.

[2019-03-27 13:29] marek-safar commented on #13680
This will be quite hard for us to act on. Could you try to update to the latest 5.xx version (e.g. 5.18) and test again

[2019-03-27 13:35] marek-safar commented on #13672
@lambdageek @BrzVlad could you please help @alexischr

[2019-03-27 13:48] knocte opened #13692 "In-flight HttpWebRequest is not cancelled while DNS name is being resolved"
## Steps to Reproduce

1. Create a HttpClient async request passing a cancellationToken to it.
2. (Make it so that the DNS resolution takes a while, and doesn't resolve, i.e. domain name doesn't exist.)
3. Cancel the token before the DNS resolution completes.

### Current Behavior

In-flight HttpWebRequest is not cancelled until DNS resolution finishes, throwing an exception much later after cance

[2019-03-27 13:52] knocte commented on #13692
/cc @baulig by looking at line numbers I was trying to determine where DNS resolution happens but I'm a bit lost as the code around this is quite large; is it maybe in the constructor of ServicePoint? (looking at this line at the moment: https://github.com/mono/mono/blob/2018-06/mcs/class/System/System.Net/ServicePointScheduler.cs#L606 ) Thanks

[2019-03-27 14:22] akoeplinger commented on #13689
`HOST_DARWIN` is defined on iOS too so the `PLATFORM_IOS` case should never be hit, but this raises the question why nothing broke.

[2019-03-27 14:52] polonia commented on #13583
Yes. Please send me an e-mail with your machine hostname and ip so i can unblock the network access

[2019-03-27 15:15] rolfbjarne commented on #13610
I bumped mono in our d16-0 branch to the tip of 2018-08, and I can still repro the problem, both with the test cases from https://github.com/mono/mono/issues/13610#issuecomment-476296234 and https://github.com/mono/mono/issues/13610#issuecomment-476425907.

This is the bump: https://github.com/xamarin/xamarin-macios/commit/ae85cc5dc8e5812a84c9c68682db9e56585c03a6 (the `d16-0-mono-13610` branch).

[2019-03-27 17:18] akoeplinger commented on #13607
For the second assert @lambdageek provided me a [patch](https://gist.github.com/lambdageek/0124360d1e0c5f23e1893eb5b6242e3f) to print out more details, and it resulted in this:

[code]

[2019-03-27 17:36] lewurm opened #13695 "[AOT] fix ordering in AOT image"
Consider

[code]
We load AOT methods from the image like this:
https://github.com/mono/mono/blob/6062fa39c3f51547c07f80da1a4d7e3b5d53dfba/mono/mini/aot-runtime.c#L4824-L4830
For the example above `info.nmethods = 7`, `info.nextra_methods = 4`,  and thus `num_methods = 3`. However, the `method_index` for `Main ()` is 4, so the lookup fails.

This regression was introduced by https://github.com/mono

[2019-03-27 17:50] akoeplinger commented on #13607
Reverting daf92b9e62a847d521ae314c320d3502fefe217e fixed the issue.

[2019-03-27 19:47] directhex commented on #7845
It's been removed on Linux since 4.0.0 packages. https://github.com/mono/mono/pull/13699 for Windows/Mac

[2019-03-27 22:46] #13607 closed

[2019-03-27 23:19] pr0vieh commented on #13680
i can say current master 6.0.1 is also terrible
I have a theory ...
According to my knowledge mono supports TLS1.2 since 5.0.0 correctly?
I think the problem might be due to the outdated crypto implementation of boringssl the state from Nov. 2016 and has no support for example AVX-512 and many other optimizations
@maxwelllin-kingkey you use TLS in your environment?

[2019-03-28 04:40] kjpou1 commented on #13428
Am closing this as original poster confirms that upgrade to Blazor 0.9 fixes the issue.  If this is not the case please open a new issue.

[2019-03-28 04:40] #13428 closed

[2019-03-28 10:02] systec-ad opened #13706 "Unexpected behavior for Action<> inside a Tuple"
I have three small applications which work with Microsoft .NET and all produce the same behaviour / output (like in "Test 1"). However when trying to compile or running "Test 2" or "Test 3" I get unexpected behaviour. It seems the reason is related to the Action element inside the Tuples but I don't understand the reason for this.

**Test 1**

    using System;
    using System.Collections.Generic

[2019-03-28 12:01] marek-safar commented on #13706
These are issues in mcs compiler, please update to csc

[2019-03-28 12:07] #13610 closed

[2019-03-28 12:31] systec-ad commented on #13706
So `csc` is just the successor to `msc`?
What is the purpose of keeping `msc` in the mono packages?

[2019-03-28 13:34] marek-safar commented on #13706
yes

backward compatibility and performance, mcs is much faster than cs

[2019-03-28 14:02] #13547 closed

[2019-03-28 14:19] #7845 closed

[2019-03-28 14:23] marek-safar commented on #13679
@mattleibow could you please have a look

[2019-03-28 14:23] systec-ad commented on #13706
Okay. Then we will switch to csc. Thanks.

[2019-03-28 14:54] marek-safar opened #13714 "Exception during static constructor loading is not cleaned up"
## Steps to Reproduce

1. Compiler following sample
[code]
2. mono sample.xe

### Current Behavior

The stack trace from each failure is accumulated with results like

[code]

### Expected Behavior

Correct stack trace

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

[2019-03-28 14:55] marek-safar commented on #13714
/cc @aleksey

[2019-03-28 15:22] #9267 closed

[2019-03-28 21:21] belegdol opened #13725 "keepass UI is blinking and is not usable under wayland"
Hello,
it is currently not possible to use keepass in a wayland gnome session. The UI is blinking to the point of not being usable. The effect can be captured using gnome screen recorder:
https://www.youtube.com/watch?v=Tdmbl6ca3h8
This is happening on Fedora 29 with mono-core-5.18.1-1.fc29.x86_64, xorg-x11-drv-nvidia-418.56-1.fc29.x86_64 and wayland enabled by commenting out WaylandEnable=false i

[2019-03-28 22:30] evgn opened #13726 "Change profiler initialization function search order"
I've been working with new version of mono profiler API and I want to work somehow with old version of mono as well. In other words I would like to handle cases when someone tries to profile old version of mono with my profiler. But when I'm providing both `mono_profiler_startup` and
`mono_profiler_init_<prof>` functions my profiler stops working with new versions of mono! It's because `load_profi

[2019-03-28 23:30] legistek commented on #10222
So both llvm and Emscripten can be run on Windows. What's actually blocking this from working in windows right now?

Sorry I'm a little behind on these particular techs. Proud Microsoft devotee here and always will be.

[2019-03-29 03:41] kjpou1 commented on #12871
Fixed by https://github.com/mono/mono/pull/13705

[2019-03-29 03:41] #12871 closed

[2019-03-29 07:51] 0xced opened #13734 "Assertion at class-init.c, condition `image_is_dynamic (klass->image) || field_offsets [i] > 0' not met"
## Steps to Reproduce

When I run my unit tests project, mono crashes. Unfortunately I can't attach my full project but I’m currently trying to build mono from source in order to debug *which* class is causing the assertion to fail so that I can try to submit a small project that exhibits the faulty behaviour.

### Current Behavior

mono crashes with this error:

### Expected Behavior

mono should

[2019-03-29 08:31] borgdylan opened #13735 "CSC crashes to missing System.Memory"
## Steps to Reproduce

1. Update to the latest mono from master.
2. Try to compile something using MSBuild that would invoke csc.exe
3. See that System.Memory is needed but unavailable.

### Current Behavior

FIleNotFoundException saying System.Memory 4.0.1.0 could not be found.

### Expected Behavior

A successful compilation.

## On which platforms did you notice this

[ ] macOS
[x ] Linux
[ ] W

[2019-03-29 08:32] 0xced commented on #13734
I was able to put a breakpoint on `System.Web.Http.Dispatcher.IsControllerType(Type t)` (JetBrains Rider is awesome) and log all types. This was faster than compile mono from source! The last type that gets logged before mono crashes is `JetBrains.Application.UI.Icons.Images.TiGradientBrush`.

[2019-03-29 08:40] 0xced commented on #13734
And here’s what `JetBrains.Application.UI.Icons.Images.TiGradientBrush ` looks like:

[code]

[2019-03-29 10:12] kg commented on #13735
Is it possible for you to invoke mono with --debug so we get filenames and line numbers?

[2019-03-29 10:34] sebastianhaberey commented on #11832
+1 for fixing this, came here from the Duplicati issue. Took me a long time until I realized my homebrew mono version does not work with Duplicati.

[2019-03-29 10:44] kg commented on #13735
Also, is it possible to get any information on the test .cs file(s) you were compiling? I cannot reproduce this yet but I am sure I missed an important step. It would be good to know what command line you used to invoke msbuild as well.

[2019-03-29 10:49] borgdylan commented on #13735
Msbuild was invoked without any parameters. The code is covered by NDA, so I cannot disclose it. I am using msbuild compiled from source and mono compiled from source on x64 Linux. When I looked in the installation folders I could not find System.Memory or related facades under /usr/local/lib/mono/4.5. Thats the directory csc.exe is installed in. The installation was done using the standard ```sud

[2019-03-29 10:50] borgdylan commented on #13735
To summarise, my mono compilation process is:
[code]

[2019-03-29 10:51] kg commented on #13735
This info helps very much. How did you compile msbuild from source? A simple explanation is enough. (There are multiple ways to do it)

[2019-03-29 10:53] borgdylan commented on #13735
I got code from: https://github.com/mono/msbuild/commits/xplat-master
[code]
[code]

[2019-03-29 10:55] borgdylan commented on #13735
I was planning to update my msbuild as well but holding off in case something goes awry and breaks my work machine like what happened when I updated mono itself.

[2019-03-29 11:07] kg commented on #13735
We have recently updated roslyn in mono/mono master which is why you are having this problem, and msbuild has a dependency on roslyn so I agree that you should not update your msbuild yet.

Thanks for your patience.

[2019-03-29 11:10] grendello opened #13739 "[Linux, SDKs] CppSharp crashes when building Android cross compilers"
The crash happens when running one of the SDKs `package-android-cross*` targets (e.g. `package-android-cross-arm64`):

[code]

## On which platforms did you notice this

  [  ] macOS
  [x] Linux
  [  ] Windows

**Version Used**:

`Mono JIT compiler version 6.1.0 (master/9f25f0f5401 Wed 27 Mar 18:57:55 CET 2019)`

The same build works with Mono 5.20  (`Mono JIT compiler version 5.20.1.6 (tarball We

[2019-03-29 11:19] borgdylan commented on #13735
I have since reverted the mono upgrade, by checking out the previosly known commit and installing that.

[2019-03-29 11:22] lewurm commented on #13739
Is there a `Microsoft.VisualStudio.Setup.Configuration.Interop.dll` in your installation?
[code]
I don't have 6.1 right now.  Did we stop shipping `Microsoft.VisualStudio.Setup.Configuration.Interop.dll` @marek-safar @akoeplinger ?

[2019-03-29 11:23] akoeplinger commented on #13739
I don't think so, and the files you mentioned are in `lib/mono/msbuild` which isn't in the default assembly load paths. It looks more like a loader change that affects `type_is_assignable_from()`

[2019-03-29 11:29] marek-safar commented on #13734
/cc @lambdageek

[2019-03-29 11:44] grendello commented on #13739
The assembly does exist:

[code]

[2019-03-29 13:18] marek-safar commented on #13065
@MaximLipnin could you please test this sample with .NET 2.2 if it works reliably there

[2019-03-29 13:32] marek-safar commented on #13298
@MaximLipnin could you please include `expr.Type` for both version 6.1.3 and 6.2.0 so we can compare the types.

[2019-03-29 13:36] marek-safar commented on #13163
@MaximLipnin Dns.GetHostAddresses (host) is sync method but we are calling it from method (async) which should not block. We need to update this to use async version of GetHostAddresses

[2019-03-29 14:16] marek-safar commented on #13065
@afsanehr, @tarikulsabbir, @Gary-Zh , @david-engel does this problem sound familiar?

[2019-03-29 14:20] lambdageek commented on #13734
Hey @0xced thanks for the bug report.  That particular class doesn't look like it's the culprit - but Mono may need to set up fields of classes that are used in the implementation of it - it's difficult to tell just from the managed code alone.

Could you try the following:
set the environment variable `MONO_DEBUG=suspend-on-sigsegv` and run your sample.  That will make Mono hang when it hits the

[2019-03-29 14:23] #10564 closed

[2019-03-29 14:28] #12422 closed

[2019-03-29 14:31] #10565 closed

[2019-03-29 14:42] lambdageek commented on #6936
This works again on mono master after c0b4879

[2019-03-29 14:42] #6936 closed

[2019-03-29 16:03] lambdageek commented on #7095
Getting somewhere debugging the pascal compiler on mono `6.1.0.713 (master/7a74f15949)`

[code]

It's working with a `T[]` and trying to set up its `IList<T>` interface - the problem is that `IList<T>` here is a generic definition, not a generic instance.

Should have a reduced testcase soon...

[2019-03-29 16:17] AfsanehR commented on #13065
@marek-safar We haven't heard about this issue before. If it can be confirmed that the issue happens on a .NetCore application that uses SqlClient only, please open an issue on corefx repository and we will investigate.

[2019-03-29 16:36] 0xced commented on #13734
So, the culprit is `JetBrains.Util.dataStructures.FrugalLocalList<T>` which is inside `Rider.app/Contents/lib/ReSharperHost/JetBrains.Platform.Core.dll`

Don’t hesitate to ask if you need more help to diagnose this issue.

[2019-03-29 17:27] #8168 closed

[2019-03-29 20:40] lambdageek commented on #13734
@0xced hm. I looked around at `FrugalLocalList<T>` and it looks pretty normal.  Can we try one more thing with LLDB?  Same steps as before, but this time do `p mono_type_get_full_name (klass)` which ought to print out the full instantiated list type.  I'm most interested in what gets instantiated for `T`.

[2019-03-30 00:36] 0xced commented on #13734
Here’s a small app that reproduces this mono crash. It must be run on macOS and requires [Rider](https://www.jetbrains.com/rider/) to be installed.

[code]

[2019-03-30 00:43] 0xced commented on #13734
Here’s the full type:
``JetBrains.Util.dataStructures.FrugalLocalList`1[JetBrains.Application.UI.Icons.Images.TiGradientStop]``

Can you reproduce this crash on your machine?

[2019-03-30 07:11] 0xced commented on #13734
And here's `JetBrains.Application.UI.Icons.Images.TiGradientStop` (from JetBrains.Platform.Util.dll) decompiled by ILSpy which seems to have some oddities:

[code]

[2019-03-30 14:02] Rombersoft opened #13754 "ping.Send does not work without sudo on linux"
Hello developers. I faced to such problem, I can not do ping without sudo.

[code]
And reply.Status is TtlExpired!!!

My OS is Debian 9
Yes with sudo all works excellent but in terminal emulator ping 8.8.8.8 without sudo ALSO WORKS EXCELENT
I think that it is not right to require sudo rights for this simple command

[2019-03-30 15:49] #9259 closed

[2019-03-30 19:05] borgdylan commented on #13735
@kg I guess this: https://github.com/mono/mono/commit/0de947787c5bbbac667a1a5ad1cc81c82e352cae is related towards a fix. I noticed that System.Buffers.dll (a recursive dependency from System.Memory.dll) mis not included. Was this added as a facade or otherwise in a recent commit?

[2019-03-31 02:50] kg commented on #13735
@borgdylan yeah, some infrastructure issues prevented us from identifying the full dependency chain. We have facades for some of these libraries but not all, which makes it tricky. We have reverted the roslyn bump so latest master should work for you.

[2019-03-31 02:55] kg opened #13755 "Roslyn bump prerequisites and related issues"
We recently attempted to bump our roslyn binaries to a recent version and ran into multiple problems that didn't appear in commit-blocking CI results and weren't obvious in local builds at all. Going to try to collect a list of them here - I'm guessing I'm missing some.

* Users run csc and msbuild in various ways, and each method has different behavior when it comes to resolving roslyn dependenci

[2019-03-31 02:57] kg commented on #13755
CCing some people with relevant expertise or information (though i don't think any of these problems are directly or indirectly your responsibility):
@directhex @marek-safar @akoeplinger

[2019-03-31 08:09] borgdylan commented on #13735
Thanks a million!

[2019-03-31 09:10] filipnavara commented on #13754
Regular `ping` has setuid bit set, so it runs with elevated permissions. You are simply running into security limitations of the operating system, not some arbitrary limitation imposed by Mono.

[2019-03-31 14:34] Reelix commented on #11690
[IMG] https://i.imgur.com/pkvYnzU.png [/IMG]

Came across this thread whilst waiting for that. 16 hours later it still hasn't moved. This should definately not be marked as closed if it's current status is "It may take an indefinate amount of time with no visible output or any way to see if it has crashed or not"

I recommend that this issue be re-opened until there is a better resolution. "It may

[2019-03-31 17:17] borgdylan commented on #13755
@kg The latest msbuild form xplat-master seems to work with a pre-bump version of mono:
msbuild : 16.0.42-preview+g804bde742b (8b3a694c2c419582108588a7bd1133630a1b8077)
mono :  6.1.0 (master/92b435d6fe7 Tue 12 Mar 18:25:17 CET 2019) (92b435d6fe7c27593f791eb2bc8d77ba4b7fc17d)

[2019-03-31 20:06] steveisok commented on #13755
I don't know if this is exclusive to VS for Mac / MD, but it probably should be noted along w/ this...

https://github.com/mono/mono/issues/13213

[2019-03-31 20:15] steveisok commented on #13755
More specifically, if you build/install from-source master with xplat-master msbuild, then both VS+mac and MD can't build projects.  I don't know if that begins / ends w/ the IDE or goes further.

[2019-04-01 02:25] robertohein commented on #6368
this is going to be fixed? there are any temporary fixes?

[2019-04-01 02:54] #12035 closed

[2019-04-01 07:19] i30817 opened #13760 "PEVerify 'Could not load file or assembly or one of its dependencies.'"
I'm sorry if i'm being a idiot here, and feel free to close this, but this missing assembly doesn't appear to be anywhere.

I installed both mono-complete and mono-reference-assemblies-2.0 in ubuntu, and also tried to copy the /usr/lib/mono/2.0-api/System.Core.dll to the dll-to-check directory; and the mono version peverify (well, pedump) never worked with dlls from unity games compiled against do

[2019-04-01 09:46] i30817 commented on #13760
The game has its System.Core.dll on the same dir as the dll. I don't know why it wasn't finding the right one before, but reinstalling mono after a purge and updating from the ppa made it work.

[2019-04-01 09:46] #13760 closed

[2019-04-01 10:40] MaximLipnin commented on #13065
@marek-safar There is no repro on macOS with .Net Core 2.2. I'll try to apply https://github.com/dotnet/corefx/pull/33024

[2019-04-01 14:39] alexanderkyte commented on #12030
We've done a backport, and found the blamed commit is https://github.com/mono/mono/commit/352639f75a389150a1562ebf72a7d46f4acc475e

[2019-04-01 14:40] alexanderkyte commented on #12030
Looks like a change made by @vargaz, I can look into it later today

[2019-04-01 14:45] directhex commented on #13755
@kg I have a PR I'm working on to add a new test to verify that mcs and csc work on prefix-installed Mono (also that AOT and LLVM AOT work).

[2019-04-01 14:49] directhex commented on #12030
@alexanderkyte 352639f is the cause of the `mono_defaults` problem with loadedllvm AOT in 5.20, and I've requested a backport of the fix.

I'll start tracking down this JIT issue, but bisecting is likely much harder since it hasn't worked in forever.

[2019-04-01 18:00] alexanderkyte commented on #13104
04/01/2019 Benchmark results:

[report.412019.zip](https://github.com/mono/mono/files/3030709/report.412019.zip)
[Report.csv.txt](https://github.com/mono/mono/files/3030710/Report.csv.txt)
[Report-corert.xlsx](https://github.com/mono/mono/files/3030727/Report-corert.1.xlsx)

[2019-04-01 18:11] RamaSpaceShip opened #13770 "Trampoline assertion not met in csc.exe"
## Steps to Reproduce

1. on Armbian (Debian 9.8) for Odroid XU4
2. Compile a C# project with mono
3. compiler crashes due to "Assertion at mini-trampolines.c:1077, condition `plt_entry' not met"

### Current Behavior
Compilation failed

### Expected Behavior
Compilation succeeds

[Trampoline.txt](https://github.com/mono/mono/files/3030756/Trampoline.txt)

## On which platforms did you notice this

[2019-04-01 19:27] preejackie opened #13773 "New JIT Features in LLVM"
Sorry this not an issue.

Hi
I'm Praveen Velliengiri, student from India. I'm working on developing a Speculative compilation support in LLVM ORC JIT Infrastructure.

As LLVM ORC supports compiling in multiple backend threads, it would be effective if we compile the functions speculatively before they are called by the executing function. So when we request JIT to compile a function, JIT will imme

[2019-04-01 20:15] jaredpar opened #13775 "New Mono drop crashing in C# symbol tests"
## Steps to Reproduce

1. Clone https://github.com/dotnet/roslyn
1. Make sure mono is on your path
1. Run `git reset --hard be54c4a899c7d7bb6360f68243759f62c30e5408` (ensures your before we disabled the tests)
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --testMono`

The instability here caused us to temporarily disable C# symbol tests on Mono. Here is our tracking issue

https:

[2019-04-01 20:54] st-arnold opened #13777 "DrawToBitmap with TableLayoutPanel (+ other container controls?)"
Related: #7620

DrawToBitmap does not function correctly if the Control is a TableLayoutPanel container (maybe happens with other containers as well).

## Steps to Reproduce

Edited from #7620 example:
https://github.com/mono/mono/files/2985356/TLPDrawToBitmapMonoBug.zip

### Current Behavior

The contained child controls are not drawn to bitmap.
![image](https://user-images.githubusercontent.com/

[2019-04-01 20:55] lewurm commented on #13773
Hi Praveen,

we use LLVM mainly as backend in our AOT compiler, I don't think what you are proposing is useful in that setup. However, it is possible to use LLVM in our JIT as well. Since it's very slow compilation time wise, we don't recommend it. Thus, what are you proposing sounds interesting to me in the JIT scenario 🙂  Following thoughts:

1. Our compilations request to LLVM are _already_ laz

[2019-04-01 21:30] marek-safar commented on #13775
@lambdageek this looks like recent regression

[2019-04-01 21:33] alexischr opened #13779 "Android SDK test failures still show up as "green" on CI"
[Example on PR job](https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx-products-sdks-android/10447) (look at e.g. `corlib` results)
![Screen Shot 2019-04-01 at 17 36 04](https://user-images.githubusercontent.com/480437/55361314-dd8ebe00-54a4-11e9-9ce3-4b563005e126.png)

[2019-04-01 21:38] kg commented on #13755
@directhex cool. I got the impression from one report that installing to a custom prefix - i.e. my ~/.mono/ - behaves differently from installing at system level into /bin or what have you. Maybe due to the directory layout? Does it make sense that would be different and if so should we have a test for that too?

[2019-04-01 22:39] lambdageek commented on #13775
Passed (although I only did a single run) on mono 6.1.0.769 (9ebf3a834c4).

Failed on 6.1.0.790 (acb8dd1183a).

<details>
<summary>Here's a part of a stack trace:</summary>
<pre>
 thread #52, name = 'Domain unloader'
    frame #0: 0x00007fff5fb23356 libsystem_kernel.dylib`__wait4 + 10
    frame #1: 0x000000010aac8178 mono`mono_dump_native_crash_info at mini-posix.c:1111:3 [opt]
    frame #2: 0x000

[2019-04-02 00:13] lambdageek commented on #13775
It's a double free when we're cleaning up the aggregate custom modifiers.  #13320
Not sure why it only started failing recently - it should've been failing from day one.

[2019-04-02 04:30] kg commented on #13755
This appears to be the full set of dependencies for a modern csc.exe. The question is which ones we ship compatible versions of (so we can drop the dlls when we bundle the csc), which ones are compatible and can be bundled with csc, and which ones have compatibility issues (I'm under the impression some of these dlls are windows-only).

![image](https://user-images.githubusercontent.com/198130/553

[2019-04-02 04:49] kg commented on #13755
Out of the csc dependencies that showed up through walking assembly references, we have Facades for:
- [x] System.Buffers
- [ ] System.Collections.Immutable
- [x] System.Memory
- [ ] System.Numerics
- [ ] System.Numerics.Vectors
- [ ] System.Reflection.Metadata
- [x] System.Runtime
- [ ] System.Runtime.CompilerServices.Unsafe
- [x] System.Threading.Tasks.Extensions
- [x] System.Text.Encoding.CodeP

[2019-04-02 06:51] kjpou1 opened #13787 "[wasm] Uint8ClampedArray.From(byte[]) invalid cast"
Uncaught (in promise) Error: System.InvalidCastException: Specified cast is not valid.

[2019-04-02 06:59] millinon opened #13788 "Local Event Logging on Linux: Source Directory Ignored"
## Steps to Reproduce

1. Set the MONO_EVENTLOG_TYPE environment to local (optionally with a path suffix)
2. Call EventLog.WriteEntry with a source specified

Consider this example program:

[code]

Build and run the program:

[code]

### Current Behavior

The source directory is created, but the log files are added to the directory above it.

Given the above example program, this is an example of

[2019-04-02 07:05] petlof opened #13789 "Why do we have an inconsistent number of sections ?"
Having issues with mono 5.18.1 in a program using a significant amount of memory  > 10GB i get "Why do we have an inconsistent number of sections ?
/proc/self/maps:" outputted on the console just before a program crash.
It works with earlier versions of mono (5.12 for example)..

Any ideas why I end up with "inconsistent number of sections", or is it just a symptom of something else?

## On which

[2019-04-02 07:06] marek-safar commented on #13755
System.Numerics and System.Numerics.Vectors are full assemblies which we ship as well so that leaves you with only `System.Runtime.CompilerServices.Unsafe` as additional assembly to what we shipped before

[2019-04-02 10:30] marek-safar commented on #13452
Duplicate of #13597

[2019-04-02 11:01] marek-safar commented on #13739
@lambdageek, please comment on the loader change

[2019-04-02 11:48] marek-safar commented on #13454
It might be related to #13006

[2019-04-02 14:18] MaximLipnin commented on #13298
@marek-safar `expr.Type` is:

6.1.3 (works) - ```{System.Func`2[System.String,System.String]}```

6.2.0 (fails) - ```{System.Linq.Expressions.Expression1`1[System.Func`2[System.String,System.Tuple`2[System.String,System.Boolean]]]}```

[2019-04-02 16:22] lambdageek commented on #13739
It's possible this is due to https://github.com/mono/mono/pull/13324 which now propagates type load errors from `IsAssignable` instead of just returning `false`. /cc @kg

[2019-04-02 18:13] borgdylan commented on #13755
@kg In light of recent changes, is master expected to compile and work ok? I will be trying on my home machine anyway and revert if things go awry. In any case I will report back to this thread.

[2019-04-02 18:22] borgdylan commented on #13755
Building the latest mono, no System.Buffers or System.Memory get written to the facades folder. Are these only for roslyn or are they meant to be available to all applications?

[2019-04-02 18:46] borgdylan commented on #13755
Noting that msbuild is looking for ```csc.exe``` in ```/usr/local/lib/mono/msbuild/15.0/bin/Roslyn``` (note 15.0 and not Current, on my install Current is not a symlink to 15.0)

Made roslyn work with latest mono and msbuild:
[code]

All three DLLs were found in ```/usr/local/lib/mono/4.5``` as regular non-link files after installing.

[2019-04-02 19:28] preejackie commented on #13773
Hi lewurm,
Happy to hear from you, that you are interested in this. I'm not proposing this for Mono-runtime, the proposing this for LLVM GSoC Organization. I thought it would be nice to get to know Is there any benefits that mono-runtime will receive from this.
Comments:
1. I'm bit lost, what do you mean by "additional lazy step". The idea here is speculatively compile function ahead of time.
2. W

[2019-04-02 20:39] directhex commented on #13755
I thought ece0f7cc26104e5e15e111a134775eade4cbda60 had been reverted when we backed out of the Roslyn update - that's me blindly adding a couple of assemblies from Roslyn's NuGets which are probably wrong.

[2019-04-02 20:54] alexischr opened #13804 "[MacSDK] pkg-config is 32-bit only"
Something has changed in how pkg-config is built, and instead of the expected lipo-ed 32-bit/64-bit Mach-O executable, we only get the 32-bit build.

For example:

* Download the latest 2018-10 package: https://xamjenkinsartifact.azureedge.net/build-package-osx-mono/2018-10/242/15d050a79274d3ad80fb273b38affff000da37e5/MonoFramework-MDK-5.20.1.10.macos10.xamarin.universal.pkg

* Install

* `$ file

[2019-04-02 22:33] lambdageek commented on #13739
@grendello It's... working on our CI:

[code]

This is from the console log (~200 megs) from https://jenkins.mono-project.com/job/archive-mono/job/2019-04/6/

And the resulting archive does seem to have a built android-cross-arm64-debug mono.

So it's some configuration difference...

[2019-04-02 23:27] kg commented on #13739
It would be great if we could figure out whether this is likely to impact anything other than CppSharp. Given CppSharp's role as a bindings generator, this would suggest it was quietly doing the wrong thing in this scenario before. Can we just fix CppSharp?

[2019-04-03 02:36] Askmewho opened #13810 "Failed to build 5.18.1 release on armv7 because of missing cmakelist.txt boringssl"
config:
        mcs source:    mcs
	C# Compiler:   roslyn

   Engine:
	Host:	       armv7l-unknown-linux-gnueabihf
	Target:	       armv7l-unknown-linux-gnueabihf
	GC:	       sgen (concurrent by default) and Included Boehm GC with typed GC and parallel mark
	Suspend:       Preemptive
	TLS:           __thread
	SIGALTSTACK:   yes
	Engine:        Building and using the JIT
	BigArrays:     no
	DTrace:

[2019-04-03 02:37] Askmewho commented on #13810
mmmm.. maybe i need to use --recursive.

[2019-04-03 03:23] #13810 closed

[2019-04-03 07:15] Miscellaneous opened #13813 "sertion at mono-threads.c:1031, condition `info' not met"
we are experiencing a critical threading crash with Mono / Unity 2017 on Linux, does anyone know if this been fixed in newer version? or what makes it unstable?

Platform:
* Linux (headless build), Debian 9, compiled with Unity 2017.4.24f1

Stacktrace:

sertion at mono-threads.c:1031, condition `info' not met

[2019-04-03 07:32] jaykrell commented on #13813
Can you install lldb or gdb on the machine, and then get a stack?

[2019-04-03 08:52] jaykrell commented on #13813
*Guessing* it is here:
https://github.com/Unity-Technologies/mono/blob/unity-2017.4-mbe/mono/utils/mono-threads.c#L1031

Still a debugger or repro would be nice. :(

[2019-04-03 08:59] jaykrell commented on #13813
The comments in the code seem to somewhat explain the problem, and try workaround it, but then maybe other code forgets to?

[code]

[2019-04-03 12:57] directhex opened #13819 "Add CI lane to test various official-packages scenarios"
- [ ] `make install` to a prefix
- [ ] test mcs can build a test file
- [ ] test Roslyn can build a test file
- [ ] test AOT works
- [ ] test LLVM AOT works (with loadedllvm, which we use for packages)
- [ ] test LLVM JIT works (with loadedllvm, which we use for packages)

[2019-04-03 13:00] directhex opened #13820 "LLVM AOT (loadedllvm) broken on Linux"
`llvm load failed: /usr/local/lib/libmono-llvm.so: undefined symbol: mono_patch_info_equal`

[2019-04-03 13:31] directhex opened #13822 "Push 5.18.1.3 to VS branch"
This accompanies VS Mac 2019

[2019-04-03 13:38] directhex opened #13823 "Add CI lane to generate core=only bundles"
And make any relevant fixes to the makefiles to make it happen.

[2019-04-03 13:52] directhex commented on #13819
This is implemented as https://github.com/mono/mono/pull/13750 and seems to work as desired

[2019-04-03 14:34] MaximLipnin commented on #13065
@baulig Could you help here? Probably you have already faced similar issues...

[2019-04-03 14:41] lambdageek commented on #13739
@kg Sorry, I should've been more clear in my second comment - I no longer believe that #13324 is responsible for what we're seeing here (given that invoking CppSharp is working for the binary artifacts job).

One way forward would be to manually run the CppSharp step from the repro with `MONO_LOG_LEVEL=debug MONO_LOG_MASK=asm` to understand if there is an environment difference in @grendello's set

[2019-04-03 15:48] vargaz commented on #13820
You probably need:
https://github.com/mono/mono/pull/13110

[2019-04-03 15:58] Askmewho opened #13826 "SIGSEV when compiling master mono on armv7 host (rpi3)"
pi@pi:~/Desktop/mono $ make
Git submodules updated successfully
make  all-recursive
make[1]: se entra en el directorio '/home/pi/Desktop/mono'
Making all in mk
make[2]: se entra en el directorio '/home/pi/Desktop/mono/mk'
make[2]: No se hace nada para 'all'.
make[2]: se sale del directorio '/home/pi/Desktop/mono/mk'
Making all in po
make[2]: se entra en el directorio '/home/pi/Desktop/mono/po'
Mak

[2019-04-03 16:08] lewurm commented on #13826
[code]
this is the crashing bit.

@Askmewho what git revision is this?

[2019-04-03 16:51] Askmewho commented on #13826
this its the last commit, I understand than you are referring to that.

pi@pi:~/Desktop/mono $ git log -1
commit 02946b7cedb79c01da04d200564d864a17659d42
Author: Alexander Köplinger <alex.koeplinger@outlook.com>
Date:   Tue Apr 2 21:41:43 2019 +0200

    [bcl] Fix compiling nunitlite when PARENT_PROFILE is defined (#13791)

[2019-04-03 17:12] directhex commented on #13820
@vargaz  You're right, that's an out of date report.

Today, it's:

[code]

[2019-04-03 17:18] directhex commented on #13820
looks like adding `MONO_LLVM_INTERNAL` to `mono_threads_suspend_policy` in `mono/utils/mono-threads-coop.h` is a sufficient fix. Sending a PR.

[2019-04-03 17:46] lewurm commented on #13770
Hello @RamaSpaceShip! What mono version do you get the crash on? You can obtain it via `mono --version`

Can you also provide a sample to reproduce the issue?

[2019-04-03 18:00] lewurm commented on #13826
Thanks.

It segfaults here:
https://github.com/mono/mono/blob/02946b7cedb79c01da04d200564d864a17659d42/mono/mini/unwind.c#L568

seriously, wtf?

@Askmewho how did you build Mono? What gcc version are you using?  I'll try to get my hands on a rpi3 and will try to reproduce it.

[2019-04-03 18:09] #13820 closed

[2019-04-03 18:14] directhex commented on #12030
Huh. Well, that's interesting.

Using in-tree LLVM rather than out-of-tree, does not throw the error from https://github.com/mono/mono/issues/12030#issuecomment-475673158 - it throws a different, exciting error: writing

[code]

forever.

[2019-04-03 18:26] #13479 closed

[2019-04-03 20:43] Askmewho commented on #13826
I use git clone --recursive, autogen and make with gcc 8.1. Never had any problem whit my gcc.

[2019-04-03 21:42] RamaSpaceShip commented on #13770
I got mono from https://download.mono-project.com/repo/debian stable-stretch/main armhf
mono --version
Mono JIT compiler version 5.18.1.0 (tarball Fri Mar 15 20:54:50 UTC 2019)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           __thread
        SIGSEGV:       normal
        Notifications: epoll
        Architecture:  armel,vfp+hard

[2019-04-03 22:34] leculver opened #13834 "Mac crash reports do not give the right SizeOfImage"
@alexanderkyte  VS for Mac crash reports are not producing the correct image size.  We need to report out [_IMAGE_OPTIONAL_HEADER.SizeOfImage](https://docs.microsoft.com/en-us/windows/desktop/api/winnt/ns-winnt-_image_optional_header).  This is the correct property:
https://github.com/mono/mono/blob/470354fa817716739615ff0c6cfefca42ec8b385/mono/utils/mono-proclib.h#L163

However, this is the prope

[2019-04-04 07:03] grendello commented on #13739
@lambdageek CppSharp is downloaded as a binary IIRC, perhaps that's the difference. My host machine is 64-bit Ubuntu 18.10 running on AMD CPU. Not sure what else could make the difference since we just consume a binary build of the tool...

[2019-04-04 09:15] rolfbjarne opened #13839 "URL fails to download"
_From @ivanicin on Thu, 04 Apr 2019 00:59:22 GMT_

### Steps to Reproduce

This is the XML that should be parsed:
[code]

It is parsed with the code as simple as:
[code]

### Expected Behavior
This should work. The same code works on Windows UWP (Not Xamarin but native project).
### Actual Behavior
The exception is raised that there is a timeout while trying to get http://www.w3.org/TR/xhtml11/DTD

[2019-04-04 09:15] rolfbjarne commented on #13839
_From @rolfbjarne on Thu, 04 Apr 2019 07:24:24 GMT_

Here is a console app that fails too:

[code]

with:

[code]

The url it complains about works (even though it consistently takes 15s to download):

[code]

which made me wonder if I could reproduce by just trying to download the url with managed code:

[code]

and it turns out that times out too:

[code]

---

I tested with mono mono 5.20 and 6

[2019-04-04 12:01] BrunoVT1992 commented on #12821
Is there an update for this issue. This is blocking for us.

[2019-04-04 12:05] lewurm commented on #13826
@Askmewho what distro are you using? `cat /etc/issue`

I can't find a debian version that includes gcc 8.1.0

[2019-04-04 12:10] lewurm commented on #13826
if possible, could you try a different gcc?

For what it's worth, I couldn't reproduce with
[code]
(I ran into a different problem though, which I only have seen on arm64 so far: https://github.com/mono/mono/issues/7017 workaround with this https://gist.github.com/lewurm/ab9aff0686d6cbaf567cf7074a5d14e8 )

[2019-04-04 12:32] #7192 closed

[2019-04-04 13:01] marek-safar opened #13841 "Update nuget to 5.0 version"
For VS compatibility with netcore we need to update to nuget 5.0

`2018-08`:
- [x] Update standalone tool (https://github.com/mono/mono/pull/13929)
- [x] Update msbuild tasks with nuget (https://github.com/mono/mono/pull/13927)
- [x] Backport bockbuild fix (https://github.com/mono/bockbuild/pull/95)

`2018-10`:
- [x] Update standalone tool (https://github.com/mono/mono/pull/13984)
- [x] Update msb

[2019-04-04 13:24] #13819 closed

[2019-04-04 13:55] lewurm commented on #13454
FWIW log output with `MONO_LOG_LEVEL=debug MONO_LOG_MASK=all`: https://gist.github.com/rolfbjarne/02c8964cf4dd3ea490ab9c10159afdbc

[2019-04-04 14:37] radical commented on #13537
This is with msbuild which has SDK and nuget bits with versions (https://github.com/mono/msbuild/commit/22450e6c3af4103dda02df506ea2e6a87f84a227):

[code]

dotnet: `2.2.104`

[2019-04-04 14:38] Askmewho commented on #13826
Ive compiled a newer gcc because of multiple reasons. I am on raspbian, but this its not from the repo. The repo gcc targets all rpis, so, it creates conflicts some times than I avoid with my compiled gcc 8.1. Ive been utilizing it from an year, no problem at all. Anyway , I will try gcc 6.x from the repo. Should I clean all the stuff?

[2019-04-04 14:39] marek-safar opened #13844 "LLVM IR improvements"
This issue tracks the planned improvements we would like to make in Mono to produce better LLVM IR

- [ ] non-null optimization
- [ ] no alias optimization

[2019-04-04 14:47] directhex commented on #12030
So, the problem is with out-of-tree loadedllvm (there's ANOTHER issue with in-tree; sigh)

It builds fine, but the assert is at https://github.com/mono/mono/blob/master/mono/mini/llvm-jit.cpp#L297 because the call to EB.selectTarget () returns null. Which is... not right. Trying to determine how & why that ends up being the case.

[2019-04-04 15:08] lewurm commented on #13826
Do `git clean -xffd` and start with `./autogen.sh` with the other compiler. At this point I try to rule out potential sources for problems. For what it's worth, we had issues with specific compilers versions before.

[2019-04-04 15:25] EgorBo commented on #13844
I wish I could write something like this:
[code]
and expect LLVM backend to vectorize it (memset).

and other similar things .NET Core guys have to unroll/vectorize by hands (SpanHelpers, etc).

[2019-04-04 18:15] Askmewho commented on #13826
ok, I get this output error with gcc 5.4

pi@pi:~/Desktop/mono $ gcc-5 --version
gcc-5 (Raspbian 5.4.1-4) 5.4.1 20161202
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[output.txt](https://github.com/mono/mono/files/3044812/output.txt)

this its

[2019-04-04 18:27] lewurm commented on #13826
It's the problem I mentioned in the previous comment, there is a workaround available:

Thanks for testing. I'll close this issue then because
1. SIGSEGV in `memset` looks like a GCC issue for me. We can reopen when a stable distribution with its shipped GCC version runs into this problem. For now I assume it's a GCC bug.
2. For the other problem there is already an open issue: #7017

[2019-04-04 18:27] #13826 closed

[2019-04-04 20:06] migueldeicaza opened #13859 "Fix for PAL - but need to find the proper branch to land"
This fixes a bug found by coverity, we are not initialized the message header structure with the proper flags.   Coverity: 1443505

[code]

[2019-04-04 20:15] jonathanpeppers opened #13861 "[msbuild] issue using System.Reflection.Metadata from an MSBuild task"
## Steps to Reproduce

1. Clone this repo: https://github.com/jonathanpeppers/msbuild-srm-repro
2. Run: `msbuild msbuild-srm-repro.sln`

Get a failure such as:
[code]

This works on Windows, which does not seem to ship this assembly:

![image](https://user-images.githubusercontent.com/840039/55585434-3f8d3480-56ec-11e9-9bde-7aed121b6a81.png)

### Current Behavior

It seems that Mono's MSBuild ship

[2019-04-04 20:16] lambdageek commented on #13859
Mono's fork is https://github.com/mono/corefx - this is the file to patch https://github.com/mono/corefx/blob/f759dccf6ac74c82ff7cbad633b2704339adbb5a/src/Native/Unix/System.Native/pal_networking.c#L751-L766

CoreCLR is a little different https://github.com/dotnet/corefx/blob/9c177ab5c7e4c8ca32eba052416be208f422b5df/src/Native/Unix/System.Native/pal_networking.c#L762-L778

Looks like they just set

[2019-04-04 20:19] #13654 closed

[2019-04-04 20:31] directhex commented on #12030
I'm looking at 2 root causes, both of which are stupid as hell. Will report back.

[2019-04-04 20:58] radical opened #13864 "msbuild bug: `GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), '.git\HEAD')` -> convert path"
- Though, the second argument is a filename. So, `.git/HEAD` would also be incorrect.

[2019-04-04 21:40] directhex commented on #12030
`LLVM_TARGETS_TO_BUILD` is cursed.

[2019-04-04 22:04] jaykrell commented on #7017
The memory model still.
"Fix" the memory model or fix Roslyn, and any other similar code, if there is any.
https://github.com/mono/mono/issues/8731

[2019-04-05 01:05] j0shval3r0 opened #13870 "another concerning privacy issue"
I was recently using mcs (with the /deterministic flag), compiling test1.cs, and an exact copy test2.cs, and I noticed that the MD5 hashes were different.  On further inspection, I noticed that there was an attribute, "Original Filename", that changed according to the filename that I was compiling from.  This is concerning.  Is there a way that compiling test1.cs and test2.cs can produce the exact

[2019-04-05 01:58] mleatherb commented on #12577
@baulig Jump bumping this as I don't see a milestone or release on this. We're running into the same issue. Is there a workaround that's possible until this `new HttpClient` is released?

[2019-04-05 02:28] migueldeicaza commented on #13870
It is best to use Roslyn, as that is the supported compiler (csc rather than mcs).

This capability might or might not be implemented in mcs completely.

[2019-04-05 02:28] #13870 closed

[2019-04-05 02:41] lewing commented on #13483
@radical  what is the status here?

[2019-04-05 03:50] osigurdson opened #13871 "web api 2 slow"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-04-05 03:51] #13871 closed

[2019-04-05 03:53] osigurdson commented on #13871
Accidentally created issue. It is slow however - a basic API controller is only able to do about 20 requests per second.

[2019-04-05 08:20] jaykrell commented on #8731
@directhex can on arm32, but not on x86 or amd64?

[2019-04-05 09:44] AlfAlex opened #13873 "Optimization ssa and abcrem do not work on x86 architectures since mono 5.18"
## Steps to Reproduce

1. Get at least Mono 5.18.0 (with e.g. Debian Stretch or Ubuntu 18.10 for x86 platforms)
2. Compile this small program:
[code]
3. Start it via `mono -O=ssa test.exe` or with `mono -O=abcrem test.exe` on a x86 system and it will crash.
It works fine on x64 platforms or with Mono version 5.16 or lower.

### Current Behavior

What is the current behavior?
Segfault:
[code]

###

[2019-04-05 11:22] jaykrell commented on #13844
Lazy questions, I should answer them myself.
@EgorBo Does clang memset it? What does the clang IR look like? What does the mono IR look like?
Array.length is not refetched each time, right?
If you lift that out yourself, no improvement?
Does it help if I is uint and you cast .length to uint?
Are there null checks? Where?

[2019-04-05 12:01] AlfAlex commented on #13873
Having this issue with Debian Stable (Stretch) and Ubuntu 18.10

[2019-04-05 13:21] EgorBo commented on #13844
@jaykrell this what IR mono generates: https://gist.github.com/EgorBo/bf641c79d6f18b4a50cb2654ea576217 (after `opt`)
C# code:
[code]
It looks like auto-vectorization actually works!! (well yeah I changed Span to be a raw pointer but I do remember it was not autovectorized last time I tried). I guess the final asm should use sse2 (or even avx2 instructions)

clang does emit memset: https://godbolt.

[2019-04-05 13:36] directhex commented on #12030
It looks like *long cigarette drag* this is a question of whether LLVM was built with `LLVM_TARGETS_TO_BUILD="Native"` or `LLVM_TARGETS_TO_BUILD="X86"` - even though those compile the same codegen engines.

Here's a sample program:

[code]

Compiled thus:
`g++ -I/usr/lib/mono/llvm/include -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -DLLVM_API_VERSION=610   -fno-rtti -fexc

[2019-04-05 14:01] hiradyazdan commented on #6757
I have an issue with mono 5.16+ that has msbuild 15.0 (/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/msbuild/15.0/bin/MSBuild.dll), but when running mono to get the version of msbuild it gives the latest preview version (16.0.42-preview+g804bde742b). Could this be related to this issue here? This causes conflicts between my class libraries and mono runtime I suspect. This is on OSX

[2019-04-05 14:18] akoeplinger commented on #13859
Fixed with https://github.com/mono/corefx/pull/271 the next time we bump our corefx submodule.

[2019-04-05 14:18] #13859 closed

[2019-04-05 14:55] chamons opened #13878 "System.Reflection.Emit.DynamicMethod:CreateDelegate (?) crashes XM apps when under hardened runtime"
## Steps to Reproduce

1. Open attached project.
2. Restore nugets
3. Open and change signing for release to your keys
4. Build release and run

[NotTest.zip](https://github.com/mono/mono/files/3048462/NotTest.zip)

### Current Behavior

Crash (See stack below)

### Expected Behavior

This to work (comment out the json code and it doesn't crash).

## On which platforms did you notice this

[X] mac

[2019-04-05 15:01] #13775 closed

[2019-04-05 15:27] filipnavara commented on #13878
The failed assertion:
`* Assertion at /Users/builder/jenkins/workspace/xamarin-macios/xamarin-macios/external/mono/mono/mini/mini.c:2278, condition `code' not met`

[2019-04-05 15:48] lambdageek commented on #13859
I think we should try to upstream @migueldeicaza's version that tries to set some of the flags.

[2019-04-05 16:54] danroth27 opened #13881 "[Blazor] 32 bit enum flag values upon reflection"
_From @friendlyanon on Monday, 31 December 2018 21:18:31_

### Describe the bug
A flag enum inheriting from `long` can't have all its values reflected upon that are wider than 32 bits.
Getting the value of the enum works as expected.

### To Reproduce
Steps to reproduce the behavior:
1. Create Standalone Blazor project `EnumTest`
2. Add file `Test.cs` with the contents of [this gist](https://gist.

[2019-04-05 18:30] osigurdson opened #13885 "web api 2 extremely slow"
### Current Behavior
Simple asp.net web api 2 example runs more than 50X slower on mono vs .NET. Simple/complete code example below.

### Expected Behavior

Similar performance on mono/Linux vs .NET/Windows.

## On which platforms did you notice this

[ ] macOS
[x ] Linux
[x] Windows

**Version Used**:
 5.18.1.0

## Code Example
[code]
Output on .NET/Windows

00:00:00.7938229

Output on Mono/Linux

[2019-04-05 19:26] #13834 closed

[2019-04-05 19:50] radical commented on #13487
https://github.com/mono/monodevelop/pull/7381

[2019-04-05 20:00] j0shval3r0 commented on #13870
Ok, thank you.

[2019-04-05 20:55] lambdageek opened #13888 "(FullAOT) Ran out of trampolines of type 3"
Seeing this in some tests on the `2018-08` branch

Examples
* This PR https://github.com/mono/mono/pull/13886
   * AArch64 FullAOT -  [full stack trace gist](https://gist.github.com/lambdageek/b582a9ea8ec3d2ad724a1dd1398cc6eb) - https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot/9915/
   * AArch64 FullAOT+Interpreter - https://jenkins.mono-project.com/job/test-mono-pull-requ

[2019-04-05 21:14] steveisok commented on #13487
Terrific!  Thank you.

[2019-04-05 22:19] EgorBo opened #13889 "[llvm] Bounds checks are not eliminated"
Since @alexanderkyte is working on [LLVM improvements](https://github.com/mono/mono/issues/13844) it's probably worth looking why LLVM doesn't help us here.
[code]
here we have two tips for mini/llvm that we will never go out of bounds:
1) `if ((uint)array.Length > 3)` (should be enough to eliminate all of them)
2) `array[3] = 4;` we access last item first - it means there is no need to insert bou

[2019-04-05 22:23] vargaz commented on #13889
Note that the PR only fixes the issue if the testcase is compiled using /optimize+. Otherwise csc generates:
    IL_0002:  ldlen
    IL_0003:  conv.i4
    IL_0004:  ldc.i4.4
    IL_0005:  cgt.un
    IL_0007:  stloc.0
    IL_0008:  ldloc.0
    IL_0009:  brfalse.s  IL_001d

And our abcrem code is not smart enough to see through that.

[2019-04-05 22:30] EgorBo commented on #13889
@vargaz with your PR I get:

### LLVM IR:
[code]

### Asm:
[code]
(omg that asm!)

Awesome!

[2019-04-06 01:44] lambdageek opened #13891 "MonoAssembly/MonoImage multi-domain (and ALC) correctness"
The goal of this project is to stop sharing `MonoImage` between multiple domains.  Our current design is wrong.

Rght now there's a subtle bug in how Mono images behave when they're loaded in multiple domains (and there will be more problems once we're support `AssemblyLoadContext`):
If an image `A` is loaded in two domains, it is possible for the references from `A` to be resolved in two differen

[2019-04-06 02:05] TheSpydog commented on #11940
This is very interesting! I can see this being hugely beneficial for the C# game development ecosystem in particular, since portability to mobile and consoles can be challenging. What's the status on this project?

[2019-04-06 08:37] #13787 closed

[2019-04-06 20:56] devvoid commented on #13380
Uninstalled Mono and reinstalled, and it worked. Turns out I was missing a cache when I first tried uninstalling.

[2019-04-06 20:56] #13380 closed

[2019-04-07 00:29] gatodev commented on #8272
This doesn't work for some characters, e.g. 'ト'

[2019-04-07 08:58] srxqds opened #13899 "how can add mono_add_internal_call with generic param?"
I want add some internal call with generic class like TSet<T>:

The C# side code:
[code]
The c++ pseudo code:
[code]

How can I made it?

If it is not supported, Can I use ** mono_add_internal_call ** with special type like ** TSet<Vector> **?

[2019-04-07 10:11] srxqds opened #13900 "mono_add_internal_call add internal call with generic class"
The Test code:
[code]

[code]

## Stacktrace

[2019.04.07-10.05.58:106][242]LogMono: Unhandled Exception:
[2019.04.07-10.05.58:106][242]LogMono: System.MissingMethodException: Attempted to access a missing method.
[2019.04.07-10.05.58:107][242]LogMono:   at (wrapper managed-to-native) UnrealEngine.Game.Test`1[UnrealEngine.Game.Vector].Add(int)
[2019.04.07-10.05.58:107][242]LogMono:   at UnrealEngi

[2019-04-07 18:52] filipnavara opened #13904 "[netcore] DynamicSecurityMethod attribute is not respected by runtime"
The `DynamicSecurityMethod` is placed on methods with stack marks. It signifies that the method and its caller should not be inlined.

[2019-04-07 19:24] vargaz commented on #13904
Note that this is an internal convention in coreclr, its not part of any public api.

[2019-04-07 19:27] filipnavara commented on #13904
I am aware of that, but the shared code depends on it. All methods using stack marks are decorated with the attribute.

[2019-04-07 20:28] vargaz commented on #13904
It would be nice to add a separate attribute for this, its not really obvious why its on certain methods.

[2019-04-07 20:32] filipnavara commented on #13904
I checked CoreCLR source and there's exactly 1-to-1 mapping between methods with `DynamicSecurityMethod` and `StackCrawlMark` local variable. In most of the places there's a comment next to the attribute. For checked builds there are asserts to ensure that any method with `StackCrawlMark` has the attribute specified.

[2019-04-07 20:42] vargaz commented on #13904
What I mean is the naming of the attribute, it should be something like [HasStackCrawl] or something.

[2019-04-07 20:52] filipnavara commented on #13904
Oh, yeah, I can certainly agree on that :-)

[2019-04-07 22:27] bfsmithATL commented on #6368
This would be quite wonderful if it can get resolved.

[2019-04-08 03:11] mattkm opened #13908 "Font fallback for CJK characters not working on Linux"
CJK characters are not displayed on Linux WinForms applications when LANG=en_US.UTF-8

## Steps to Reproduce
[MultipleLanguagesWinForms.zip](https://github.com/mono/mono/files/3052474/MultipleLanguagesWinForms.zip)

1. Run the attached project on Linux
2. Observe that Japanese, Korean, Simplified Chinese, and Traditional Chinese characters are not displayed

### Current Behavior

![image](https://

[2019-04-08 09:53] akoeplinger commented on #13804
Fixed by https://github.com/mono/mono/pull/13805

[2019-04-08 13:06] #13889 closed

[2019-04-08 13:34] directhex commented on #12030
FIXED IN MASTER \o/

I'll re-enable the LLVM JIT test in master now.

[2019-04-08 13:34] #12030 closed

[2019-04-08 13:51] alexmufatti commented on #12098
@animaonline in my case it was a completely unrelated issue (a null binding property in windows form datasource). Fixed that, the exception went away.

[2019-04-08 14:12] thaystg opened #13920 "[DIM] [CoreCLR Test] constrained2_gm not working"
IL Example:

https://github.com/dotnet/coreclr/blob/88249918cd01e8729c60c0f6c2cf8145d0bc3c55/tests/src/Loader/classloader/DefaultInterfaceMethods/constrainedcall/constrained2_gm.il

[2019-04-08 14:13] thaystg opened #13921 "[DIM] [CoreCLR Test] consumer.exe not working"
IL Example:
https://github.com/dotnet/coreclr/blob/0a2596ce3d7fb0253f30b2461fa910c65840f9b3/tests/src/Regressions/coreclr/22021/consumer.il

[2019-04-08 14:18] thaystg opened #13922 "[DIM] [CoreCLR Test] constrained2 not working"
Il Example:
https://github.com/dotnet/coreclr/blob/88249918cd01e8729c60c0f6c2cf8145d0bc3c55/tests/src/Loader/classloader/DefaultInterfaceMethods/constrainedcall/constrained2.il

[2019-04-08 14:20] thaystg opened #13923 "[DIM] [CoreCLR Test] boring not working"
IL Example:

https://github.com/dotnet/coreclr/blob/e95c1f8fe6ae185b90b807170445c2e26cfbed66/tests/src/Regressions/coreclr/16355/boring.il

[2019-04-08 14:21] thaystg opened #13924 "[DIM] [CoreCLR Test] variance not working"
IL Example:

https://github.com/dotnet/coreclr/blob/e95c1f8fe6ae185b90b807170445c2e26cfbed66/tests/src/Regressions/coreclr/16355/variance.il

[2019-04-08 14:24] thaystg opened #13925 "[DIM] [CoreCLR Test] abstractcalls not working"
Il Example:
https://github.com/dotnet/coreclr/blob/502de2a97b9fd26082ee8e3de46734724b2b535c/tests/src/Regressions/coreclr/22407/abstractcalls.il

[2019-04-08 14:28] thaystg opened #13926 "[DIM] [CoreCLR Test] diamondshape not working"
IL Example:
https://github.com/dotnet/coreclr/blob/bbd79053fffa3bee7ce06df30115f077c077082a/tests/
src/Loader/classloader/DefaultInterfaceMethods/diamondshape/diamondshape.il

[2019-04-08 14:37] directhex commented on #13822
Publishing to stable first, and will then promote. 5.16 snapshotted.

[2019-04-08 14:56] directhex commented on #13822
Need to throw in a newer LLVM first, to match what shipped on Mac.

[2019-04-08 15:09] directhex commented on #13822
5.18.1.3 tarball is done, can't build until new LLVM is published

[2019-04-08 15:18] lambdageek commented on #13714
@thaystg This type initialization is an interesting place in Mono.

[2019-04-08 15:33] dalefugier commented on #12995
@EgorBo, did you ever have a chance to look at the example I posted?

[2019-04-08 16:39] directhex commented on #13822
LLVM RPMs are published, building stable 5.18.1.3 mono RPM

[2019-04-08 17:22] leonardors commented on #13672
I've apparently gotten the same error after upgrading to the new version of VS for Mac and Windows. If you run the application with the debug "linked to VS" or the app simply closes. If I open the app again, everything starts normally. From the records, it seems like an error in the native Chrome layer.

My system:
Visual Studio Enterprise 2019 for Mac
Version 8.0.1 (build 1)
Installation UUID: 29

[2019-04-08 17:29] leonardors commented on #13672
removing the debug information (none or only symbols), the application is started .... obviously, losing the possibility of breakpoint ....

[2019-04-08 17:53] directhex commented on #6757
Nothing in this issue is related to OSX, and MSBuild versioning is sorta broken (a bit like Mono assemblies go in a 4.5/ directory even though they're 4.7.2). The version reported by msbuild is accurate, the install directory can be ignored.

[2019-04-08 18:36] directhex commented on #13822
LLVM debs are published, building stable 5.18.1.3 mono debs

[2019-04-08 18:41] directhex commented on #13822
RPMs published. testing.

[2019-04-08 21:04] osigurdson commented on #13885
Added example here: https://github.com/osigurdson/slowwebapi

[2019-04-08 21:34] nealef commented on #13885
5.18 is exhibiting this behavior but when I run it with binaries built from master the time ends up near 1 second. I am not sure what may have changed in between. I will see if there is anything evident from the git logs.

When run with log profiling under 5.18 the top calls entries are:
[code]

Whereas the report from master:

[code]

[2019-04-08 23:01] brianrob opened #13940 "AOT of framework assemblies fails with: mono: symbol lookup error: /usr/lib/libmono-llvm.so: undefined symbol: mini_method_is_default_method"
## Steps to Reproduce

Build dockerfile at https://gist.github.com/brianrob/3b9d7a583e3c59acf469b22b005b5d6e.

### Current Behavior

When running ```for i in /usr/lib/mono/gac/*/*/*.dll; do mono --aot=llvm $i; done``` to AOT the framework, there are a number of assemblies fail with the error ```mono: symbol lookup error: /usr/lib/libmono-llvm.so: undefined symbol: mini_method_is_default_method```.

[2019-04-08 23:01] brianrob commented on #13940
@directhex, @alexanderkyte, @marek-safar

[2019-04-08 23:06] brianrob opened #13941 "Crash During AOT of ASP.NET Core Assemblies"
## Steps to Reproduce

Build this dockerfile: https://gist.github.com/brianrob/3b9d7a583e3c59acf469b22b005b5d6e

### Current Behavior

There are a handful of ASP.NET assemblies that when AOT'd cause mono to crash:
 - System.Text.Encodings.Web.dll
 - System.IO.Pipelines.dll
 - System.Diagnostics.Tracing.dll

### Expected Behavior

All assemblies are successfully AOT'd.

## On which platforms did yo

[2019-04-08 23:06] brianrob commented on #13941
@directhex, @alexanderkyte, @marek-safar

[2019-04-09 07:04] kjpou1 commented on #13195
https://github.com/Microsoft/ChakraCore/pull/6072

[2019-04-09 08:35] lewurm commented on #13672
I got a bit more context on my device:
[code]
The unit test is supposed to throw an `ArgumentNullException`, something in `libc` goes wrong when allocating memory for the stack trace

[2019-04-09 08:47] marek-safar commented on #13940
/cc @vargaz

[2019-04-09 09:03] kjpou1 commented on #13881
@friendlyanon @danroth27

I am not able to recreate an error using a pure wasm project.  I noticed that you are using Blazor version 0.7.0 and there have been considerable enhancements since that version.  Could you try with a recent Blazor version.

Here is the output from my test mono wasm project with no errors.

[code]

[2019-04-09 09:56] dmitryvk opened #13945 "TransactionScope ignores specified IsolationLevel and causes Serializable transactions to be used"
TransactionScope accepts TransactionOptions but ignores them. This causes transactions to use Serializable isolation level (which is the default) even though ReadCommited was specified.
This was first reported in https://bugzilla.xamarin.com/show_bug.cgi?id=28053

It boils down to this code:
[code]
## Steps to Reproduce

This is a sample program that uses transaction scope to open database transac

[2019-04-09 12:16] akoeplinger commented on #13639
It's not just Cecil, ikdasm (which uses IKVM.Reflection) also crashes on the dll:

[code]

Both tools are having trouble processing this method: https://github.com/mono/corefx/blob/f54e64b341a7b114c3502e197b46670cacb28639/src/Microsoft.CSharp/tests/DefaultParameterTests.cs#L88

[2019-04-09 15:19] JimH44 opened #13956 "FileChooserDialog display for HDD unhelpful"
## Steps to Reproduce

1. View the attached screenshot and discuss my comments.
![Browsing Computer](https://user-images.githubusercontent.com/8330030/55799224-2d5c2d80-5b14-11e9-9ed0-c7c11fc0e6c1.jpg)
2. If you would like to duplicate my experience, unpack the attached project, compile and run.
[FolderBrowser.zip](https://github.com/mono/mono/files/3058879/FolderBrowser.zip)
(I adapted this code

[2019-04-09 16:08] brianrob commented on #13940
Thanks @directhex.  With #13955 do things start to work or is System.Core still broken?

[2019-04-09 16:58] directhex commented on #13940
13955 fixes your specific issue, but there are no Linux packages including the change yet.

[2019-04-09 17:07] brianrob commented on #13940
Great.  Is that something that I'll need to wait until tomorrow for?

[2019-04-09 17:15] directhex commented on #13940
I can force a nightly to dispatch once it successfully builds on Mac (the nightly job uses "last successful Mac build" as the commit to use), then it'll be a few hours & might still fail due to other factors (Roslyn interacts super badly with our memory model on ARM so ARM builds often crash the compiler)

[2019-04-09 17:17] brianrob commented on #13940
Thanks @directhex.  Let me know when there's a nightly with this fix and I will try it.

[2019-04-09 18:41] directhex commented on #13940
I've forced a dispatch of a Linux build, 6.3.0.115 is the one to watch

[2019-04-09 20:56] zmast commented on #6701
What's the current status on this issue?
I was interested in fixing couple of issues in WF but the Carbon API is so deprecated I can't even find any documentation and knowing Apple I have a feeling they will soon knock it off completely.

The work from @filipnavara sounds very promising. It's not clear to me if it can be merged though.

[2019-04-09 21:39] brianrob commented on #13940
Is there a build status page or something that I can watch for completion and publishing?

[2019-04-10 01:32] jlchavez commented on #9748
¿Not using Mono is the best solution right?

[2019-04-10 02:53] kjpou1 commented on #13195
https://github.com/Microsoft/ChakraCore/issues/6037

[2019-04-10 02:58] osigurdson commented on #13885
OK. Good to know.

[2019-04-10 04:57] kjpou1 commented on #12981
@jeromelaban Is this still an issue?

I have taken your sample above and created both a Debug version and a Release version here using full linkage and can not reproduce this.

Sample code from: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug12981-InterpRecursion/BugInterpRecursion

Release mode:

[code]

[code]

[2019-04-10 04:58] kjpou1 commented on #12981
@lewing ^

[2019-04-10 07:17] kjpou1 commented on #13195
So far using chakra build from chakra repo: https://github.com/Microsoft/ChakraCore with the fix https://github.com/Microsoft/ChakraCore/pull/6072 applied all the tests are running through.  Have executed tests locally with the build multiple times.

[2019-04-10 07:22] kjpou1 commented on #13195
@lewing

[2019-04-10 08:05] kekekeks opened #13969 "(regression) SIGSEGV in RuntimeMethodInfo:InternalInvoke with xunit"
Environment:
Ubuntu 16.04 Azure Pipelines image with
`Mono JIT compiler version 5.18.0.268 (tarball Thu Feb 28 15:29:06 UTC 2019)`

was working completely fine with
`Mono JIT compiler version 5.18.0.240 (tarball Wed Jan 16 09:13:03 UTC 2019)`

Repro:
[code]

One of xunit test assemblies segfaults like this https://dev.azure.com/AvaloniaUI/AvaloniaUI/_build/results?buildId=1851&view=logs&jobId=0da5

[2019-04-10 10:48] jaykrell commented on #13969
Must be handle creation in a loop.

I tried building Avalonia.
I could not get `nuke` to run and `build.sh` failed.

[code]

[2019-04-10 10:57] kekekeks commented on #13969
That's what we are using on CI:

That should work. You also need `castxml` installed.

[2019-04-10 11:03] jaykrell commented on #13969
It doesn't work for me. I'm using WSL instead of "real" Linux.
I can try a VM "later".

This part is promising:
[code]

[2019-04-10 11:04] jaykrell commented on #13969
Maybe I was missing the git submodule. or WSL had to restart. It is build now.

[2019-04-10 11:07] jaykrell commented on #13969
`build.sh` got all the way to running tests. Using dot net, not mono.
`nuke` wouldn't work at all.

[2019-04-10 11:09] jaykrell commented on #13969
To fix `nuke`: ` export PATH=$HOME/.dotnet/tools:$PATH`

[2019-04-10 11:23] kekekeks commented on #13969
Reproduced with MonoFramework-MDK-5.18.0.268.macos10.xamarin.universal.pkg on OSX
https://dev.azure.com/AvaloniaUI/AvaloniaUI/_build/results?buildId=1871&view=logs&jobId=a5e52b91-c83f-5429-4a68-c246fc63a4f7&taskId=bde16fc7-7659-5b1c-12aa-0110866d993c&lineStart=1044&lineEnd=1045&colStart=1&colEnd=1

[2019-04-10 12:20] lewurm commented on #13969
relevant crashing info:
[code]
@kekekeks is it possible for you to try a newer version? latest is `5.18.1.14`. `5.18.1.7` shipped a fix in the AMD64 codegen;  to be honest, it doesn't look like it from the stack trace, but it's worth a try.

[2019-04-10 13:07] lewurm commented on #13672
### Status update

Android is using `jemalloc`. I tried on Linux to reproduce this issue by using `./autogen.sh --with-overridable-allocators=yes --with-jemalloc=yes --with-jemalloc_always=yes --with-jemalloc_assert=yes`. Unfortunately no issues. It was worth a shot 😉

Looks like I've to bite the bullet: Debug it on Android. I figured out there are some ways to pass debugging flags to malloc on An

[2019-04-10 13:36] KosmicTask commented on #13900
Experiment with these:

[code]

[2019-04-10 13:43] kekekeks commented on #13969
@lewing MonoFramework-MDK-5.20.1.19.macos10.xamarin.universal.pkg still segfaults

[2019-04-10 14:00] vargaz commented on #13900
Using "UnrealEngine.Game.Test`1::Add" would probably work.

[2019-04-10 15:13] radical commented on #13487
Merged to `master-vnext`: https://github.com/mono/monodevelop/pull/7381#issuecomment-481149271

[2019-04-10 15:13] #13487 closed

[2019-04-10 15:17] lambdageek commented on #13969
Hmm `mono_value_box_checked(domain=<unavailable>, klass=0x00007ff600001ec8, value=0x0000000000000000, error=0x000070000792fa60) at object.c:6866 ` we're trying to box a null value.  suspicious...

[2019-04-10 17:25] ajariwala commented on #10524
I had same issue - here is what I did - you can run it with 32bit mode.
mono --arch=32 fiddler.exe

[2019-04-10 18:10] thaystg commented on #13920
Changed the unit test on coreclr.
https://github.com/dotnet/coreclr/pull/23870

[2019-04-10 18:10] #13920 closed

[2019-04-10 18:10] thaystg commented on #13922
Changed the unit test on coreclr.
https://github.com/dotnet/coreclr/pull/23870

[2019-04-10 18:10] #13922 closed

[2019-04-10 18:41] adv12 commented on #8216
Just chiming in here.  I'm trying to load/save PNG images in Blazor and getting a System.DllNotFoundException when ImageSharp tries to us DEFLATE.

[2019-04-10 18:42] brianrob opened #13974 "mono: symbol lookup error: /usr/lib/libmono-llvm.so: undefined symbol: mono_class_get_generic_class"
## Steps to Reproduce

1. Build an image from this dockerfile: https://gist.github.com/brianrob/8f3110afcac6d66f00013e9077ccdf1b.
2. Run a container based on the image created in step 1.

### Current Behavior

Running the container, which runs the TechEmpower PlatformPlaintext benchmark against mono produces this error:

[code]

### Expected Behavior

The app starts successfully.

## On which plat

[2019-04-10 18:42] brianrob commented on #13974
@directhex, @alexanderkyte, @marek-safar

[2019-04-10 18:47] directhex commented on #13974
Where do I find PlatformBenchmarks to repro the build?

[code]

[2019-04-10 18:49] akoeplinger opened #13975 "DirectoryInfoTest.EnumerateFileSystemInfosTest fails with EntryPointNotFoundException : SystemNative_CloseDir on xamarin-macios 2019-02 interp config"
## Steps to Reproduce

1. Build xamarin-macios mono-2019-02 branch
2. Run `mscorlib - iOS Unified 64-bits - device - Debug (interpreter -mscorlib)` or `Release (interpreter -mscorlib)`
3. Notice one test failure

This seems to be specific to the `-interpreter=-mscorlib` configuration, the other interpreter configs work fine.

### Current Behavior

[code]

### Expected Behavior

No failures.

## On

[2019-04-10 18:49] alexanderkyte commented on #13974
@directhex I think that's from https://github.com/TechEmpower/FrameworkBenchmarks/blob/master/frameworks/CSharp/aspnetcore-corert/PlatformBenchmarks/PlatformBenchmarks.csproj

[2019-04-10 18:50] brianrob commented on #13974
Ah, sorry about that.  It's here: https://github.com/brianrob/FrameworkBenchmarks/tree/master/frameworks/CSharp/aspnetcore-mono/PlatformBenchmarks

[2019-04-10 19:23] directhex commented on #13974
It looks like this might be another case where the symbol isn't needed for a basic sanity check, but _is_ for a more advanced app

[code]

[2019-04-10 19:25] brianrob commented on #13974
That sounds right.  Not all of the apps I've run have hit this as well.

[2019-04-10 19:28] directhex commented on #13974
It might be a 1-line fix. Giving it a shot.

[2019-04-10 19:46] #13974 closed

[2019-04-10 19:47] directhex commented on #13974
Fine then, stay closed. Bloody github.

This is gonna need 6.3.0.134, by my maths. Maybe by tomorrow morning if we're lucky? :man_shrugging:

[2019-04-10 19:57] directhex commented on #13940
The latest .115 build failed again due to the Roslyn-on-ARM issue (aaaaaaaaaAAAAaaaAAAAaaaAAAAaaaAAAAAaaaAAAAAaaAAAAAaaaaAAAAAAAAAAAAAAAAAAAAAAAAAAaaa)

Rather than re-dispatch it, since we now know we need a newer version (.134) I'm going to wait for that to try and build in its own time, and check in on it in the morning.

[2019-04-10 21:37] brianrob commented on #13974
Thanks @directhex.  Let me know and I'll give it a whirl.

[2019-04-10 21:37] brianrob commented on #13940
Sounds good.  Thanks.

[2019-04-10 22:25] #13714 closed

[2019-04-10 22:28] brianrob opened #13978 "Crashes During FullAOT of ASP.NET Core Binaries"
## Steps to Reproduce

Build this dockerfile: https://gist.github.com/brianrob/f4256eb3bcd2f78a43888a91fbb8351c.

### Current Behavior

During AOT of the app and it's non-framework dependencies (ASP.NET), a number of crashes occur when pre-compiling assemblies using fullaot.

### Expected Behavior

All assemblies are successfully AOT'd.

## On which platforms did you notice this

[ ] macOS
[ X ] L

[2019-04-10 22:28] brianrob commented on #13978
@directhex, @alexanderkyte, @marek-safar

[2019-04-11 02:52] showthreadx commented on #9998
Did you solve this problem? @BlackDex
I would be very grateful if you can help me.

[2019-04-11 03:41] kjpou1 commented on #13195
Update release version link still points to 1.11.7:  https://github.com/Microsoft/ChakraCore/issues/6093

[2019-04-11 03:49] kjpou1 commented on #13881
Am closing this for now as can not reproduce the error using master wasm.  If this is still causing an error please reopen this or a new issue.

[2019-04-11 03:49] #13881 closed

[2019-04-11 06:27] marek-safar commented on #13978
@brianrob could you include the log with crashes?

[2019-04-11 06:27] marek-safar commented on #13978
/cc @vargaz

[2019-04-11 07:07] #13163 closed

[2019-04-11 07:09] marek-safar commented on #13975
/cc @BrzVlad

[2019-04-11 08:50] marek-safar commented on #13941
@brianrob what is the crash log?

/cc @vargaz

[2019-04-11 09:08] #13639 closed

[2019-04-11 09:09] #13668 closed

[2019-04-11 09:14] marek-safar commented on #13889
/cc @migueldeicaza

[2019-04-11 09:22] filipnavara commented on #13904
Fixed by https://github.com/mono/mono/pull/13906

[2019-04-11 09:22] #13904 closed

[2019-04-11 09:42] marek-safar commented on #13888
@vargaz what does this mean?

[2019-04-11 09:43] vargaz commented on #13888
The solution would be to increase the number of trampolines in INVARIANT_AOT_OPTIONS in configure.ac, since this is just a testing lane.

[2019-04-11 09:50] marek-safar commented on #13873
@alexanderkyte could you look into this?

[2019-04-11 10:46] MaximLipnin commented on #13162
Which way should we follow in this case?

https://github.com/mono/mono/blob/master/mcs/class/referencesource/mscorlib/system/typedreference.cs#L59-L65

CoreCLR change:
https://github.com/dotnet/coreclr/pull/21193

[2019-04-11 11:15] marek-safar commented on #12821
@MaximLipnin that should be quite easy to resolve any update on that?

[2019-04-11 11:17] marek-safar commented on #13861
@kg @radical this looks a little bit painful

[2019-04-11 11:17] marek-safar commented on #13861
/cc @lewing

[2019-04-11 11:21] marek-safar commented on #13779
@directhex could you check what is going on there?

[2019-04-11 11:25] MaximLipnin commented on #12821
@marek-safar I'm Iooking at this issue

[2019-04-11 11:44] marek-safar commented on #13162
@MaximLipnin that's same change, removing the #if-def in referencesource is fine

[2019-04-11 12:50] lexxus2005 opened #13993 "Error CS1576 with mono and System.Web.Hosting.VirtualPathProvider"
## Steps to Reproduce
I test solution from https://github.com/lexxus2005/monotest

I am use a System.Web.Hosting.VirtualPathProvider   for access to embeded aspx file in other dll. I find the sample in th web.

1.  Build this solution under Visual Studio and deploy on IIS server. All works fine.
2.  If i am deploy this project on xsp4 server or apache mono_mod i get a error:
System.Web.Compilation

[2019-04-11 13:19] #13878 closed

[2019-04-11 15:10] BrunoVT1992 commented on #12821
My above mentioned fix only works sometimes. We still have the issue.

[2019-04-11 16:04] kg commented on #13861
MSBuild on windows not shipping this assembly is very strange. If you build msbuild from source, it has it - that's where we're getting it from. I wonder if there's a flag the windows version uses to leave it out and we can set that flag...

[2019-04-11 16:05] akoeplinger commented on #13445
Fixed by https://github.com/mono/mono/pull/13958

[2019-04-11 16:05] #13445 closed

[2019-04-11 16:07] kg commented on #13861
It is in fact a windows .net framework specific thing in the msbuild source files, along with a mono specific thing:

https://github.com/Microsoft/msbuild/blob/master/src/Build/Microsoft.Build.csproj#L37

https://github.com/Microsoft/msbuild/blob/master/src/Build/Microsoft.Build.csproj#L46

So Windows .NET Framework msbuild explicitly leaves out a large set of package dependencies, but netcore and

[2019-04-11 16:08] rainersigwald commented on #13861
MSBuild on full framework on Windows doesn't use S.R.M for anything, I believe--we use the old COM or ReflectionOnly APIs for its use cases there. Depending on how that code is implemented in the Mono build, it may or may not require S.R.M.

[2019-04-11 16:24] brianrob commented on #13978
Sure.  Hopefully, this is helpful.  I installed gdb to capture these, but it looks like most symbols are missing.  Let me know if there's anything I can do to provide more useful information.

[code]

[2019-04-11 16:43] brianrob commented on #13941
[code]

[2019-04-11 17:00] radical commented on #13861
With 5.20.0.135, S.R.M is being loaded from `lib/mono/4.5`:

[code]

`Microsoft.Build.Tasks.Core.dll` is built against `S.R.M 1.4.3.0`, but we use the one from Roslyn (to have a single copy) which in this case is `1.4.1.0`, so it skips that and continues searching,
and finally loads `/Library/Frameworks/Mono.framework/Versions/5.20.0/lib/mono/4.5/System.Reflection.Metadata.dll` (which also is vers

[2019-04-11 17:01] radical commented on #13861
Oops, ignore the last comment. They are all the same file!

[code]

[2019-04-11 17:22] AndirNotes commented on #12557
I've got the same problem with mono 5.20 in OSX High Sierra.

[2019-04-11 19:18] madrvojt commented on #13672
Hello!

I have similar error;

04-11 20:02:47.921 15073-15073/? E/adbd: recv: OPEN 00000161 00000000 0036:73 68 65 6C 6C 3A 70 69 64 6F 66 20 63 7A 2E 61 61 61 2E 6D 43 61 72 73 68 65 65 74 20 20 7C 7C 20 65 63 68 6F 20 45 52 52 2D 45 52 52 2D 45 52 52 2D 45 52 52 00
    service_to_fd: shell:pidof cz.mCarsheet  || echo ERR-ERR-ERR-ERR
04-11 20:02:48.005 17924-18061/cz.mCarsheet E/mono-rt: /proc/se

[2019-04-11 19:49] directhex commented on #13978
@brianrob symbols are split out from the packages into into `mono-dbg` for .pdb files, and `mono-runtime-dbg` for the runtime. Try adding those to your `apt install` line for more useful line dumps.

`gdb` can't run in Docker by default - adding `--cap-add=SYS_PTRACE --security-opt seccomp=unconfined` to the `docker run` invocation might help.

[2019-04-11 20:23] brianrob commented on #13978
@directhex I'm going to give this a try.  Most of this all happens in the image build which doesn't allow me to relax the security requirements.  I'm going to execute these in a running container and will post the updated crash logs.

[2019-04-11 20:42] nealef commented on #13885
Problem still exists in 5.20.1.19 but not in master. Time for some bisecting.

[2019-04-11 20:47] brianrob commented on #13978
These look much more useful:

[code]

[2019-04-11 21:14] brianrob commented on #13941
With actual stacks:

[code]

[2019-04-11 21:15] brianrob commented on #13978
With symbols resolved, it looks like this might be a duplicate of #13941.  I'm not sure of that so I'll leave this open, but I won't be surprised.

[2019-04-12 03:13] xoarinn opened #14005 "Method `mono_type_is_generic_parameter ` is not exposed in shared libraries"
Hi all. I was recently toying around with the Mono embedding API and noticed `mono_type_is_generic_parameter` does not have the `MONO_API` macro applied, causing it to not be exported in shared libraries.

I assumed that this was not intended behavior as the function is used in the macro `MONO_CLASS_IS_INTERFACE`, hence why I am reporting the issue here.

## Steps to Reproduce

1. Create a project

[2019-04-12 05:37] kjpou1 commented on #13195
https://github.com/Microsoft/ChakraCore/issues/6093 was fixed so we now have access to 1.11.8.  Even though testing repo source build of ChakraCore with the fix https://github.com/Microsoft/ChakraCore/pull/6072 applied never ran into an abort with a minimum of 20 runs for each test that is run through our CI for Chakra Core.

Unfortunately with the 1.11.8 release I am experiencing multiple aborts

[2019-04-12 05:48] kjpou1 commented on #12981
@lewurm do you think we can close this?  Have run the tests above as well as included it in the wasm tests.  Maybe I am missing something with the repro of the issue.

[2019-04-12 06:07] #13162 closed

[2019-04-12 06:29] #12821 closed

[2019-04-12 07:01] srxqds opened #14008 "how can I create generic instance in embedded mono?"
I define the class in c# code:
[code]

I want to create the instance of Test\<Vector\> in native c side, how can I do it?

[2019-04-12 07:19] srxqds commented on #13900
@vargaz **UnrealEngine.Game.Test`1::Add**  it work, thank you

[2019-04-12 07:33] srxqds commented on #13900
@vkargov I hava another question: Can I override the method for special generic type, for example the ** Test<Vector>.add** call the native function ** Internal_Test_Add_For_Vector** and other common type **Test<T>.add** call the native function ** Interal_Test_Add**

[code]
[code]

Can it implement and how to ?

Thank you!

[2019-04-12 07:40] srxqds commented on #13899
https://github.com/mono/mono/issues/13900 this issue have the answer!

[2019-04-12 07:40] #13899 closed

[2019-04-12 09:00] AndirNotes commented on #12557
Details:
Mono 5.18.1.3
[code]

Mono 5.20.1.19
[code]

[2019-04-12 10:03] jeromelaban commented on #12981
I will check this again today and will let you know, thanks!

[2019-04-12 10:12] KosmicTask commented on #13900
I don't think you can do this. If you could I think some of the other method signatures you tried would have worked. You could pass the type parameter as a second internal call parameter. Not very elegant but you are just calling a static method so there is not much choice.

[2019-04-12 12:22] jeromelaban commented on #12981
@kjpou1 it still fails with 22bbf4416a6, with this repro: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug12981-InterpRecursion/BugInterpRecursion.

Note that the build has to be made in release configuration (most probably if the `/optimize` switch is added to csc).

[code]

[2019-04-12 12:35] jeromelaban opened #14010 "[WASM] Build mono with emscripten Dynamic Linking enabled"
## Steps to Reproduce

1. Use mono-master
2. Update https://github.com/mono/mono/blob/0d6f7a9e6f5dd5ce99a5e55cb4a529e4767f7436/sdks/wasm/Makefile#L103 to add `-s MAIN_MODULE=1`
3. Build the mono-wasm SDK

### Current Behavior
The build fails with :
[code]

The only similar reference I could find is #8287.

### Expected Behavior
The build completes successfully.

## On which platforms did you notic

[2019-04-12 12:53] vargaz commented on #12981
I can't reproduce it either. Could you attach the .exe file ?

[2019-04-12 12:56] jeromelaban commented on #12981
Sure: [dist.zip](https://github.com/mono/mono/files/3073326/dist.zip)

[2019-04-12 13:13] vargaz commented on #12981
I can reproduce with the assemblies from that zip file.

[2019-04-12 13:33] vargaz commented on #12981
There seems to be a problem with the BugInterpRecursion.clr file. If I run ildasm+ilasm on it, the problem goes away.

[2019-04-12 13:34] jeromelaban commented on #12981
Could it be related to the linker, or a combination of CSC + ILinker ? I'm building using VS2019 16.0.

[2019-04-12 13:35] SyMind commented on #12916
same issue.

dotnet new blazor -o WebApplication1
cd WebApplication1
dotnet run

and throw error.

[2019-04-12 14:00] vargaz commented on #12981
Seems to be because ins->il_offset == td->header->code_size at transform.c, because of the tailcall opt in transform_call () does this:
				++td->ip; /* gobble the CEE_RET if it isn't branched to */
and after that, it does:

				last_seq_point = interp_add_ins (td, MINT_SDB_SEQ_POINT);
				// This seq point is actually associated with the instruction following the call
				last_seq_point->il_offse

[2019-04-12 14:47] kekekeks commented on #13969
We've disabled Mono tests on Linux for now. To repro the issue with the latest Avalonia, use `FORCE_LINUX_TESTS=1` environment variable.

[2019-04-12 19:45] directhex commented on #13940
Marking this closed, since it's definitely fixed, and the fixed build is almost done publishing.

[2019-04-12 19:45] #13940 closed

[2019-04-12 22:52] lambdageek commented on #13672
@leonardors @madrvojt Thanks for reporting these crashes! It looks like you're most likely experiencing xamarin/xamarin-android#2920.  That issue will be fixed in an upcoming update to VS.  See https://github.com/xamarin/xamarin-android/issues/2920#issuecomment-481494511 for information about a candidate fix.

This GH issue is about the 2019-02 mono branch which is currently not in any release of

[2019-04-13 14:31] nealef commented on #13885
I believe this commit is what fixes the problem:

[2f411750acfd2132f9b4970ef8cf11d9a0f62df9] "Imperial Red": Bring HttpClient from CoreFx (#11906)

[2019-04-13 16:24] nealef commented on #13885
@directhex Is #11906 scheduled for a release yet? This fix reduces the elapsed time for the test case from 43 seconds to around 1.5 seconds. I am surprised we're the only ones reporting issues with HttpClient.

[2019-04-14 10:26] Hoshpak opened #14030 "Mono fails to load libgdiplus.so.0 on Void Linux"
## Steps to Reproduce

1. Compile and install mono from master or the 5.20.1.19 release tarball on Void Linux
2. Try to run an application using gdiplus (e.g. OpenRA)

### Current Behavior

It fails to initialize GDIPlus.

### Expected Behavior

It should initialize GDIPlus and launch the application

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

[c

[2019-04-15 09:18] marek-safar commented on #14030
/cc @directhex

[2019-04-15 12:03] steveisok commented on #13487
@radical - Is master v-next a closed repo?  I can't seem to find it.

[2019-04-15 12:37] jaykrell opened #14051 "flaky System.Threading.Tasks.Tests.ParallelForTests.RunSimpleParallelForeachAddTest_Enumerable(count: 16777216) out of memory"
## Steps to Reproduce

1. submit a PR

### Current Behavior

Random failures.
For example:

https://jenkins.mono-project.com/job/w/21675/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[x] Windows

[2019-04-15 13:13] directhex commented on #14030
Do you actually have libgdiplus built & installed? It's in a separate git repo, so it builds a separate package from a separate tarball. http://download.mono-project.com/sources/libgdiplus/libgdiplus-5.6.1.tar.gz

[2019-04-15 13:33] directhex commented on #13779
There are actually two failure conditions here (because of course there are) - the "build step" not failing, and the overall job not failing.

The latter is already fixed, by this change from @luhenry:

[code]

I'll try digging into why the former isn't failing.

[2019-04-15 13:50] directhex commented on #13779
OK, the per-step failures come from a groovy script looking at output from a plugin called "Build Failure Analyzer" and using it as the source of truth - no failures from BFA -> no failures in this build results window.

In the job you linked to, BFA did not run. It ran on the last jobs in this lane (e.g. https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx-products-sdks-android/1

[2019-04-15 13:50] #13779 closed

[2019-04-15 17:14] Hoshpak commented on #14030
I was installed but when I tried to rebuild it to check if this would change anything, I came across another issue. Giflib removed GifQuantizeBuffer which is deprecated and that broke libgdiplus. So it wasn't an issue with mono, the giflib update just coincided with me preparing the mono update. I patched our giflib package to fix this issue for now.

[2019-04-15 17:14] #14030 closed

[2019-04-15 18:33] akoeplinger opened #14059 "Bring back optimized file copy on macOS"
When we switched to corefx's System.IO we lost the optimized version of File.Copy on macOS. We should bring it back, see corefx issue https://github.com/dotnet/corefx/issues/30865 which links to the Mono PR https://github.com/mono/mono/pull/10020.

Would also fix https://github.com/mono/mono/issues/9030.

[2019-04-15 18:37] akoeplinger commented on #14059
@alexischr

[2019-04-15 19:52] radical opened #14062 "Update NuGetSdkResolver in msbuild to match rest of the nuget bits"
- [x] xplat-master (https://github.com/mono/msbuild/pull/91)
- [x] 2018-08 (https://github.com/mono/msbuild/pull/92)
  - [x] Bump https://github.com/mono/mono/pull/14068
- [x] 2018-10 (https://github.com/mono/msbuild/pull/93)
  - [x] ~~Bump https://github.com/mono/mono/pull/14070~~ (Merged into https://github.com/mono/mono/pull/14060)
- [x] 2019-02 (https://github.com/mono/msbuild/pull/94)
   - [x

[2019-04-15 20:44] FluentGuru commented on #11848
I have the same issue but with blazor 0.9
but in mono cecil. If I disable the linker it build but then I get a similar error at runtime on the console.
WASM: Could not load signature of Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions:BuildServiceProvider due to: Could not resolve type with token 01000031 from typeref (expected class 'System.IAsyncDisposable' in

[2019-04-15 21:21] chamons opened #14066 "Could not AOT the assembly - assert `condition 'cfg->cbb == first_bb' not`"
_From @elcometer on Mon, 15 Apr 2019 13:10:37 GMT_

### Steps to Reproduce

1.  Download https://www.elcometer.com/downloads/crossplatformsdk.zip
2.  Unzip and open solution in Visual Studio for Mac 2019
3.  Switch to Release > iPhone
2.  Build either Elcometer.Demo.iOS or Elcometer.Demo.Xamarin.Forms.iOS project.

### Expected Behavior

It should compile.

### Actual Behavior

It fails with AOT e

[2019-04-15 21:21] chamons commented on #14066
_From @chamons on Mon, 15 Apr 2019 21:17:12 GMT_

Thanks for the steps to reproduce. I've been able to reproduce your issue.

Simplified steps to reproduce:

- Download[3-Build.zip](https://github.com/xamarin/xamarin-macios/files/3082103/3-Build.zip)
- Unzip
- cd 3-Build
- `MONO_PATH=. /Library/Frameworks/Xamarin.iOS.framework/Versions/12.8.0.0/bin/arm-darwin-mono-sgen --debug -O=gsharedvt -O=-flo

[2019-04-16 02:59] kjpou1 commented on #13195
It looks like the 1.11.8 release did not contain the fix for this issue.  May 14th is the next release date and should contain the fix for https://github.com/Microsoft/ChakraCore/issues/6037.

[2019-04-16 05:03] w26ak commented on #12916
I have read that the possible solution could be to update the reference of System.Data.SqlClient to 4.7.0-preview3.19128.7. I tried to do that but it did not seem to work for me (or maybe I was doing something wrong).
Was anybody lucky to solve this issue? Does anyone knows a workaround in this case?

[2019-04-16 07:54] dennis-garavsky commented on #12916
I tried the same workaround, but it did not work for me as well.

[2019-04-16 11:00] madelson opened #14075 "Where is the source code for how Mono runs processes on Linux?"
I'm trying to debug some issues I'm seeing with killing process and argument encoding on Linux but I'm having trouble finding the code that implements that in Mono. Does that exist in this repo?

[2019-04-16 12:19] lewurm commented on #13672
### Dead end 1: `malloc_debug`

As indicated in the previous comment, I tried to include `wrap.sh`, which is a mechanism to sneak in additional environment variables in Android right before starting the application process. Here is a patch that does that for our Mono Android SDK: https://gist.github.com/lewurm/b26aed7a34c14e745df377257ae279fb
I tried several options as described in https://android

[2019-04-16 12:43] steveisok opened #14079 "Interpreter Crash on Reference Source System.Web.Extensions"
During the jenkins build for https://github.com/mono/mono/pull/12619, there was an interesting interpreter crash that I wasn't able to reproduce.

## Steps to Reproduce

1. Pull branch from https://github.com/mono/mono/pull/12619
2. Run interpreter test for System.Web.Extensions (make -w -C mcs/class/System.Web.Extensions run-test V=1)

### Current Behavior

A crash is reported for MonoTests.Syste

[2019-04-16 13:13] lewurm commented on #14079
The relevant bits from the crash
[code]

/cc @BrzVlad

[2019-04-16 13:44] Rombersoft commented on #13754
But I can run ping on terminal emulator without sudo!
How can I detect internet connection on Android forexample without Ping????

[2019-04-16 13:44] kdg3737 opened #14080 "condition 'ji' not met, with 'dynamic' and multithreading"
## Steps to Reproduce

1. Create a method with a 'dynamic' type, my method is an indexer of a custom ExpandoObject and looks like 'public dynamic this[string key] { get { ... } set { ... }'
2. Call it in a loop from multiple threads, make sure to start the threads at the same time (the problem disappears with start-delay between the threads)
3. Watch the program crash 10-20% of the time with the e

[2019-04-16 14:05] srxqds commented on #14008
can someone help me ?

[2019-04-16 14:06] lambdageek commented on #14080
@kdg3737 Could you share a complete reproduction example.

Also if possible, could you install `gdb` or `lldb` on your Linux system and reproduce the crash again - if there's a debugger installed, Mono will collect a native stacktrace that may be helpful in further diagnosing this issue.

[2019-04-16 14:24] lambdageek commented on #14008
Doesn't look like there's a way to do it directly from a `MonoClass*`.

You could use the reflection API ``mono_reflection_type_from_name ("Test`1[Vector]", image)`` where `image` is the `MonoImage` for the assembly that contains those two definitions.  (You may need to use the [Assembly Qualified Names](https://docs.microsoft.com/en-us/dotnet/api/system.type.assemblyqualifiedname?view=netframewor

[2019-04-16 14:31] akoeplinger commented on #13526
Fixed by https://github.com/mono/mono/pull/14077

[2019-04-16 14:53] TheLastRar opened #14084 "Embedded Code Hangs in 5.20, runs fine in 5.18"
## Steps to Reproduce (Ubuntu Assumed)

1.  Install and Setup PCSX2 [Daily Builds](https://launchpad.net/%7Epcsx2-team/+archive/ubuntu/pcsx2-daily), [Website](https://pcsx2.net/)
2.  Build [CLR_DEV9_LINUX_MONO ](https://github.com/TheLastRar/CLR-DEV9) as per [Build Instructions](https://github.com/TheLastRar/CLR-DEV9/blob/master/CLR_DEV9_LINUX_MONO/LinuxBuild.md)

3. Copy the libCLR_DEV9_LINUX_MON

[2019-04-16 15:44] alexischr commented on #13672
@lewurm thank you!! For the great investigation and retrospective :)

[2019-04-16 15:51] alexischr commented on #13672
@lewurm For future reference: How did you get a fuller stacktrace on your device versus my original one?

[2019-04-16 16:29] filipnavara commented on #14059
It's still in my pipeline to fix this in CoreFX. Got side-tracked by few other issues.

[2019-04-16 16:36] lambdageek opened #14087 "[hybrid suspend] Opt-in non-preempted GC Safe state"
In full cooperative suspend, unmanaged code may transition from a normal **GC Unsafe** state to a **GC Safe** state with a strong guarantee that it will not touch managed memory.  Threads in a **GC Safe** state under full cooperative suspend continue running while a GC stop-the-world pause is happening.  This requires explicit transitions by unmanaged code in places where it needs to interact with

[2019-04-16 17:33] lewurm commented on #13672
@alexischr unfortunately the answer is: I did nothing 🙁 I got lucky that my device (Huawei P20) prints more information. Behavior can be different between devices and Android versions and I haven't fully understood what's going on. I wrote about this two years ago: https://lists.dot.net/pipermail/android-devel/2016-December/000026.html

Crashing is hard.

[2019-04-16 19:34] lewurm commented on #14084
@TheLastRar could you try running with `MONO_THREADS_SUSPEND=preemptive`?

@lambdageek could that be a thread suspension+embedding API issue?

[2019-04-16 19:42] TheLastRar commented on #14084
That seems to have resolved the freezing on my end

[2019-04-16 19:47] sossalemaire opened #14089 "FileInfo.LastWriteTime throws "Invalid parameter" on NFS share"
Steps to reproduce:
1. mount an NFS share (I've tried both v3 and v4)
2. The following code will throw an "Invalid parameter" error:
FileInfo fi = new FileInfo("/mnt/test.txt");
fi.LastWriteTime = DateTime.Now;

I've searched on the NFS side, I've found nothing, and "touch" works.

[2019-04-16 20:22] directhex opened #14090 "Support for remapped info from ikdasm/monodis"
Packaging tools for .deb (and especially for RPM) figure out which assemblies exist in a package based on `ikdasm --assembly`, and which assemblies are needed based on `ikdasm --assemblyref`

In the modern world where version numbers are largely ignored, this causes a hell where e.g. a package needs version 4.0.0.0 of something, but we have 4.0.1.3

It would be immensely useful if, in cases where

[2019-04-16 20:38] lambdageek commented on #14084
The managed thread looks like it's about to invoke the GC (we usually see AllocVector right before a hang in the GC suspend machinery).

I looked at the unmanaged embedder code and it's just `mono_domain_set`/`mono_domain_unset` and invocation of a managed thunk - all of that stuff has the appropriate GC state transitions in Mono.

So it's not an _easy_ bug.

@TheLastRar any chance you've got a bu

[2019-04-16 20:50] TheLastRar commented on #14084
I'm just using the binaries from the Mono repository, Is there a way to grab debug symbols from that?

(I'm using a x86 VM and using the system installed mono for testing)

[2019-04-16 20:51] lambdageek commented on #14090
I don't think I quite get what you need.  The way the remapping works in the runtime is the opposite of what you say.  the app might say "I need System.Foo 4.3.0.5" and mono internally just says "you will use my System.Foo and I don't care what version you asked for, I'm gonna pretend you wanted 4.0.0.0".

This hack happens in `mono_assembly_remap_version` in the unmanaged code in the runtime.
ikd

[2019-04-16 21:07] lewurm commented on #14084
[code]

[2019-04-16 22:21] darkdragon-001 opened #14091 "OpenFileDialog does not find tmpfs"
I use a ramdisk (`tmpfs`) for my `/tmp` folder. I can't access it using `OpenFileDialog`.

[2019-04-16 22:36] #13672 closed

[2019-04-17 00:04] alexischr opened #14095 "[sdks] Several valid tests are marked as not working with no explanation/recorded issue"
For example:

https://github.com/mono/mono/blob/6a39d91078db76dcb99f8c973d638c87092488df/mcs/class/corlib/Test/System.IO/FileTest.cs#L916-L918

(introduced by https://github.com/mono/mono/pull/13098)

hid an Android regression introduced by: https://github.com/mono/mono/pull/12000

We should re-enable them (after 2019-02 integration, which is fixing all/most of them)

[2019-04-17 00:10] TheLastRar commented on #14084
That package doesn't seem to provide symbols for libmonosgen

[2019-04-17 00:59] nathanielcook commented on #11625
I am running to what I believe is the same problem, although the error message I'm getting is "Could not retrieve IL offset".

[code]

Like Robert, mono-symbolicate is working fine for us on Android, but not on iOS.

[2019-04-17 08:47] kdg3737 commented on #14080
Another error that's showing up running the example (not sure if it's related):

[code]

[2019-04-17 08:58] jaykrell commented on #14080
Does it repro on x86, amd64, arm32, I am curious?
I'm running it on amd64. 100 iterations and no repro.
I should get back to arm32/arm64 some day.

[2019-04-17 09:11] kdg3737 commented on #14080
I just tried it on x64/linux, mono 4.6.2, no errors at all.

[2019-04-17 09:38] kdg3737 commented on #14080
Tried it on another arm64 device (Debian 9, mono 5.9.0), same result (crashes).

[2019-04-17 10:17] TheLastRar commented on #14084
I've built a debug build of 5.20.1.19

Native Stacktrace
[code]

Partial managed stacktrace
[code]

[2019-04-17 12:20] MaurizioVerde commented on #12916
I had same problem. Not sure if the same environment.
I had a 'code first' context in the 'shared' project part and there i installed EF nuget packages.
The error shown up when i installed EFCore.SqlServer.
So i left model class only in the shared project part and moved context ,DAL methods and EF nuget in the 'server' project part. i had to install nuget for ComponentModel.DataAssociations in the

[2019-04-17 13:04] richard-fine opened #14102 "MemoryExtensions.ToUpperInvariant() consumes CurrentCulture"
## Steps to Reproduce

Compile this program against .NETStandard 2.1 and run it:

[code]

### Current Behavior

The exception is thrown, because ToUpperInvariant is incorrectly making use of CultureInfo.CurrentCulture when converting.

### Expected Behavior

The program should success, because ToUpperInvariant should use the invariant culture only.

## On which platforms did you notice this

Compa

[2019-04-17 13:24] lateralusX commented on #10684
https://github.com/mono/mono/pull/14101

[2019-04-17 13:46] directhex opened #14103 "Crash building F# 4.5 on 32-bit ARM with Mono 6"
[code]

It's specific to 32-bit. The same silicon, same OS, same Mono version, with ARM64 Mono, is fine.

[2019-04-17 14:46] dsyme commented on #14103
@jaykrell Possibly a tailcall bug?

[2019-04-17 14:47] directhex commented on #14103
@dsyme that was @lewurm's gut reaction

[2019-04-17 15:47] jaykrell commented on #14103
Easy to verify if easy to repro. Easy to repro?
All arm stuff is difficult for me. :(
“Slack” me how?

[2019-04-17 17:11] alexanderkyte commented on #13978
@lambdageek this looks like it may be a loader issue

[code]

[2019-04-17 17:12] alexanderkyte commented on #13978
@brianrob could you run with ```export MONO_LOG_MASK=asm MONO_LOG_LEVEL=debug ``` before mono's execution, and collect the log before the crash?

[2019-04-17 17:12] alexanderkyte commented on #13941
@lambdageek same loader+AOT issue

[code]

[2019-04-17 17:51] lambdageek commented on #13941
@brianrob So.... good news / bad news:

good news: you've found a real bug!  we pass a null pointer and then try to write through it without checking.  I'll have a PR shortly.

bad news: you can't AOT those particular assemblies. They are considered by Mono to be "problematic images" - they are specific versions of particular assemblies that are known to contain platform specific code that Mono ca

[2019-04-17 17:52] lambdageek commented on #13978
Yep, this is a dup of #13941.  Let's move the conversation over there.

[2019-04-17 17:52] #13978 closed

[2019-04-17 18:41] lambdageek commented on #13941
@brianrob So you mention in the bug report that `System.Diagnostics.Tracing.dll` also causes a crash.  But that one isn't a "problematic image" for mono.  Any chance you've a stack trace for that one?  It may be a different bug.

[2019-04-17 20:00] brianrob commented on #13941
Thanks @lambdageek.  I looked at the list of denied assemblies, and they are all framework assemblies.  Is there an effort to fix these issues in the framework?  To make sure I understand correctly is this statement true: Any app that uses these assemblies will crash when the assembly is loaded.

With respect to ```System.Diagnostics.Tracing``` let me get you a stack.

[2019-04-17 20:21] lambdageek commented on #13941
Yes. But the bad ones are still around.  We blacklist specific instances (determined by GUID) of those assemblies.  What we saw is that folks would create NuGets that would include copies of (for example) a specific version of `System.Net.Http` that only works on .NET Framework on Windows.  Then users would download that NuGet and use it in apps.  They would end up with that bad copy of `System.Ne

[2019-04-17 20:52] directhex commented on #14090
I guess it's an open design question.

Right now, an RPM exports something like the following in the metadata:

[code]

This is based on doing an `ikdasm --assembly` on all assemblies in exported locations (`4.5/` and GAC)

Then, a consumer declares its requirements based on a recursive `ikdasm --assemblyref` of the entire package:

[code]

So let's cut that down to a minimal example:

[code]

The

[2019-04-17 20:57] lambdageek commented on #14090
This approach makes sense to me, given how the runtime works.

[2019-04-17 20:58] directhex commented on #14090
IMHO there are inherent design flaws to the entire approach taken by mono-find-provides/requires, but changing them now is basically impossible without breaking support with every existing RPM distro which supports Mono :man_shrugging:

So spitballing a more iterative approach to making the mess less bad.

[2019-04-17 21:02] brianrob commented on #13941
It looks like my list at the beginning of the issue is wrong, and ```System.Diagnostics.Tracing.dll``` does get properly AOT'd.  The full list is:

 - System.Globalization.Extensions.dll
 - System.IO.Compression.dll
 - System.Net.Http.dll
 - System.Threading.Overlapped.dll

Since all of these are on the deny list, it sounds like these are all expected.  Is there an issue in CoreFX that I can point

[2019-04-17 21:09] lambdageek commented on #13941
I'm not sure if/where this was tracked in CoreFX - maybe someone else could chime in.

We block them on Windows too - we _really_ want to run Mono's own versions everywhere. (I don't recall if we tried them with Mono on Windows and determined that they were inappropriate for Mono even there, or if we just implemented a single uniform behavior for the sake of simplicity & clarity.)

[2019-04-17 21:30] brianrob commented on #13941
Thanks @lambdageek.  @danmosemsft, do you know if we are tracking a fix for this issue in the CoreFX repo?

[2019-04-17 22:08] danmosemsft commented on #13941
I do not

[2019-04-17 22:57] dlabun opened #14118 "Serial port DataReceived event not triggered on Linux"
I am not sure if this is an actual bug or currently a limitation of Mono running on Linux but the DataReceived event of the serial port control is never triggered when there's incoming data on an open serial port.

To produce this condition I used VS 2019 to write an application in VB targeting .NET 4.7.2 that uses the serial port control. Transmitting data using WriteLine always work as I see the

[2019-04-18 00:07] brianrob commented on #13941
@lambdageek, it occurs to me that when I compiled this app, I targeted net472.  To my knowledge, this is the best way to produce a runnable layout that Mono can execute at this time.  Thus, it makes sense that these assemblies could contain platform-specific code that can't be run on Linux.  Given a properly compiled .NET Core app that is either platform-neutral or targets the proper platform (in

[2019-04-18 06:21] w26ak commented on #12916
Hi @MaurizioVerde
Thank you for so quick solution :)
As far as I understand you used the regular approach where you have a server side REST API and a client (Blazor project) which is calling that API through HttpClient. This is fine and it is working just fine. However this case is a little different from the regular one. The idea is to use EF Core right in the client project. The real beauty shou

[2019-04-18 07:07] MaurizioVerde commented on #12916
Hi @w26ak
i knew it was too easy to be the real solution, sorry :)
Compared with my MVC 5 previous (years ago) experience, this one is already exciting.
but … call an entity collection client side would be great ("great" don't suffice)

[2019-04-18 08:07] mclang commented on #12535
Hello

I stumbled upon this same issue while running Mono 5.18.0.268 and NLog 4.6.2 on CentOS 7.6.1810 with NLog's _internal logging_ enabled.

First I though that maybe newer Mono version would fix the problem, but alas no - with Mono  5.20 I **still** got lots of these kind of errors:
[code]

Reverting back to Mono 5.16.0.220 solved to problem also in my case.

Full command line I use to run my

[2019-04-18 11:40] dario279 opened #14122 "GTK doesn't free memory."
## Steps to Reproduce

1. Open project and launch

### Current Behavior
Garbage collection doesn't free memory after pop a page.

### Expected Behavior

Garbage collector should free memory after pop a page.

## On which platforms did you notice this
Linux

**Version Used**:

I tested with several of them but at the newest one (5.20.0) is happening too.

[TestHMI.zip](https://github.com/mono/mono/

[2019-04-18 13:27] marek-safar commented on #14079
@BrzVlad any update on this crash?

[2019-04-18 13:44] BrzVlad commented on #14079
didn't look into it yet

[2019-04-18 13:44] mfilippov opened #14123 "Race condition in Path.GetTempFileName()"
We have a problem Path.GetTempFileName() return non-unique value when called simultaneously. I think the problem in using Random class.
https://github.com/mono/mono/blob/a738d0e284c9d93e577124a32afdc6a247426d23/mcs/class/corlib/System.IO/Path.cs#L487
In corefx used another approach with mkstemp syscall.
https://github.com/dotnet/corefx/blob/82eedbff6b767c0bd9297d3dd27c89d925a28e93/src/Common/src/C

[2019-04-18 16:29] #13969 closed

[2019-04-18 21:29] cristobal-montecino opened #14131 "Branch optimization leaves its head as dead code"
## Steps to Reproduce
#### Test.cs
[code]

### With all optimizations

[code]

**Assembly**:
[code]

### With default optimizations
[code]
**Assembly**:
[code]

### Without branch optimization
[code]
**Assembly**:
[code]

### Expected Behavior for default optimization

**Assembly**:
[code]

## On which platforms did you notice this

- [ ] macOS
- [x] Linux
- [ ] Windows

**Version Used**:

Mono st

[2019-04-18 22:10] EgorBo commented on #14131
`mono --aot=llvm`:
[code]

[2019-04-19 00:04] kg commented on #13755
We have System.Runtime in Facades, as far as I know, but if I enable compiler server right now it fails to compile because it can't find System.Runtime:

[code]

What can explain this?

[2019-04-19 02:54] cristobal-montecino commented on #14131
The problem is with the branch optimization because does not invoke the deadcode elimination. Using llvm adds an another layer of optimizations, like deadcode elimination,  cleaning the code; but the bug is still a branch optimization fault.

Im going to prove that the branch optimization always needs to invoke the deadcode elimination:

- A branch is generated always by a jump.
- If the branch op

[2019-04-19 15:26] davidgrinbaum commented on #10150
Hi @akoeplinger,

I think i'm experiencing something similar here (see attached screenshot).
![Capture](https://user-images.githubusercontent.com/38188573/56430887-e0a3ef80-6295-11e9-95f4-75d627bed17b.PNG)

[2019-04-19 15:32] lambdageek opened #14140 "[monodroid] Re-enable System.IO.Tests.File_Copy_str_str CoreFX testsuite"
In `2019-02`  in #14133 we disabled the test class `System.IO.Tests.File_Copy_str_str` because `CopyFileWithData_MemberData` with an input of size `1024 * 1024 * 10` was causing crashes in monodroid.

We only disabled it on `2019-02` (XA PR: xamarin/xamarin-android#2701)

We should either disable it again in `2019-04` (XA PR: xamarin/xamarin-android#2910) or figure out why it was causing crashes a

[2019-04-19 15:32] lambdageek commented on #14140
/cc @alexischr @akoeplinger @directhex

[2019-04-19 16:00] chamons opened #14141 "AppContext.TargetFrameworkName is null"
_From @jamesmontemagno on Thu, 18 Apr 2019 21:10:07 GMT_

### Steps to Reproduce

1. Run any app and check AppContext
2. TargetFrameworkName are null
3.

### Expected Behavior

Should have the targetframeworkname specified

### Actual Behavior
are null

### Version Information

_Copied from original issue xamarin/xamarin-macios#5917_

[2019-04-19 16:01] chamons commented on #14141
The documentation suggests this property should be non-null string.

https://docs.microsoft.com/en-us/dotnet/api/system.appcontext.targetframeworkname?view=netframework-4.8#System_AppContext_TargetFrameworkName

[2019-04-19 16:12] MaximLipnin commented on #13839
I was able to reproduce this issue with full net framework, net core 2.2 and latest mono on macos.
Also I compiled mono with `-d:MONO_WEB_DEBUG` , run the last mentioned repro sample and what I have:
[code]
Maybe I'm wrong but it looks like that something happens here:
https://github.com/mono/mono/blob/13540da80be366ce26e085f019a032e5c9b65115/mcs/class/System/System.Net/WebResponseStream.cs#L442

[2019-04-19 16:13] #8516 closed

[2019-04-19 16:23] lambdageek commented on #14141
In Mono it's defined in `referencesource`
https://github.com/mono/mono/blob/435feaaa0201de4341198c0cec5e225732d50298/mcs/class/referencesource/mscorlib/system/AppContext/AppContext.cs#L59-L60

and ends up going to `AppDomainSetup` which is here:
https://github.com/mono/mono/blob/435feaaa0201de4341198c0cec5e225732d50298/mcs/class/corlib/System/AppDomainSetup.cs#L348

As far as I can tell we never s

[2019-04-19 16:26] chamons commented on #14141
Likely baked into whatever specific platform (XI, XA, XM Full, XM Modern) we are building.

[2019-04-19 17:46] jamesmontemagno commented on #14141
Additionally, on Android BaseDirectory is null

[2019-04-19 18:32] steveisok commented on #13993
@marek-safar, can you assign this to me?  I'd like to test this against my refsrc branch.

[2019-04-19 18:35] jaykrell commented on #14103
I need an arm32 environment..

[2019-04-19 18:36] jaykrell commented on #14080
I have arm64/windows/wsl hardware ordered, can try this when I get it.

[2019-04-19 18:52] directhex commented on #14103
If you have an arm64 host with a Debian-like environment, I'd suggest installing `cowbuilder-dist`. You can initialize an environment as you like, e.g. `cowbuilder-dist stretch armhf create` then log into it interactively with `cowbuilder-dist stretch armhf login`. If you symlink the `cowbuilder-dist` command somewhere in your PATH as `cowbuilder-DISTRO` or `cowbuilder-DISTRO-ARCH` then you can om

[2019-04-19 19:24] steveisok commented on #14089
If you have it, can you please attach a stacktrace?  I'm curious where it's bombing on you.

[2019-04-19 19:52] jaykrell commented on #14103
Yeah, normal Linux but WSL doesn’t even support 32bit x86 so I not assuming 32bit ARM.

[2019-04-19 19:57] #13941 closed

[2019-04-19 20:39] brianrob opened #14143 "Techempower Platform Plaintext Hangs on Every Request using LLVM JIT"
When running the .NET techempower platform plaintext benchmark, every request hangs when running using the LLVM JIT.  Things work properly using the built-in JIT.

## Steps to Reproduce

1. Build and run a container using this dockerfile: https://gist.github.com/brianrob/ba8214e89aef5406eaa8746ed83bf5f0#file-dockerfile.  This will start the ASP.NET service.
2. Exec into the container and run the f

[2019-04-19 20:40] brianrob commented on #14143
@alexanderkyte, @marek-safar, @lambdageek

[2019-04-19 20:48] sossalemaire commented on #14089
Here is the stacktrace:
at System.IO.File.SetLastWriteTime (System.String path, System.DateTime lastWriteTime) [0x0002a] in <b0fbce3aded24cd69a2794df353ebd0a>:0
  at System.IO.File.SetLastWriteTimeUtc (System.String path, System.DateTime lastWriteTimeUtc) [0x00008] in <b0fbce3aded24cd69a2794df353ebd0a>:0
  at System.IO.FileSystemInfo.set_LastWriteTimeUtc (System.DateTime value) [0x00016] in <b0fbc

[2019-04-19 20:50] sossalemaire commented on #14089
Actually I've found the error while trying to compile over an nfs share, MSBuild does a "touch" by using FileInfo.LastWriteTime.

[2019-04-19 21:05] alexanderkyte commented on #14143
So @lambdageek made a good observation that this type of issue can be caused by linking two copies of a library in, each with different static addresses for locks and other singletons.

Given @directhex's recent fixing of all of that, it makes me think that it's worth ruling that out first.

[2019-04-19 21:09] brianrob commented on #14143
Great.  Is there a specific build I should try that contains this fix?

[2019-04-19 21:38] lambdageek commented on #14143
To clarify: we've seen (historically, not recently) that in some configurations we will occasionally get into a situation where a `mono` binary will load a shared library (like libmono-llvm.0.so) which will in turn (incorrectly) load `libmonosgen-2.0.so`.

So we end up with multiple copies of Mono symbols in a single process.   At that point really bizarre things start to happen like locks being b

[2019-04-19 23:34] brianrob commented on #14143
Here is the list of loaded modules when running ```info sharedlibrary``` in gdb.  I don't see ```libmonosgen-2.0.so``` in either.  The only difference I see is that ```mscorlib.dll.so``` is loaded in the built-in JIT case but not in the LLVM case.

LLVM:

[code]

Built-in JIT:

[code]

[2019-04-19 23:35] lambdageek commented on #14143
I don't think this is the right reading of what Threads 14 and 7 are doing in the bad case.  I don't know why both of them are named "Timer-Scheduler" (that's unexpected)
- Thread 14 is a threadpool `monitor_thread`. It's an implementation detail of the threadpool. (It's responsible for spinning up new worker threads if there when there is demand).  Indeed there should be at most 1 of these runnin

[2019-04-20 00:20] jsakamoto commented on #6368
[FYI] This is my workaround at this time for Blazor (client-side) browser applications.

- https://github.com/jsakamoto/Toolbelt.Blazor.TimeZoneKit/

[2019-04-20 05:13] tobiasschulz commented on #14066
We aren't able to compile any of our apps because of this - are there any workarounds??

[2019-04-20 05:58] jaykrell commented on #14103
Um. Fuller directions? Like: git clone a, cd a, configure b, make?
I'll see if I can figure it out.
https://fsharp.org/use/linux/ and option 2 install from source?

[2019-04-20 06:02] jaykrell commented on #14103
Btw, cowbuilder sounds new to me. I used something more like debootstrap. I don't remember. I do it so rarely.

[2019-04-20 07:51] jaykrell commented on #14103
Very easy to repro once you are in an ARM32 environment. :)

[2019-04-20 08:11] jaykrell commented on #14103
If you turn off this:

tail.callvirt Invoke -> Invoke tailcall:1 tailcall_calli:1 gshared:1 extra_arg:0 virtual_:1
tailcalllog success from Invoke

it gets further.

If you turn off tailcall entirely, no problem, until much later:

[code]

I don't know why yet.

I suspect gshared.
Tempting to turn off tailcall of gshared for arm32 always.

[2019-04-20 11:31] vargaz commented on #14066
@chamons I think this was fixed in mono by:
https://github.com/mono/mono/commit/e4df5ef68036c4845a1eaef52101ee60c669404d

[2019-04-20 12:31] tobiasschulz commented on #14066
That needs to be in VS2019 as soon as possible. Without it, the new VS is completely unusable with any codebase that triggers the bug. Which is storing enums in object? seriously?

[2019-04-20 12:40] vargaz commented on #14066
As a workaround, either remove the
throw new NotSupportedException(..) in Elcometer.Core.SortedList:Current ().
or make the EnumeratorMode enumerator in Elcometer.Core.SortedList a non-nested type.

[2019-04-20 15:37] steveisok commented on #14143
@lambdageek - As far as I know ASP.NET will always create a child domain to run the web application.

It would be possible to get it to run in one domain if mono supported tweaking the primary domain before it loads.  I was trying to do that a while back and it doesn't seem that's supported.

[2019-04-20 16:51] tobiasschulz commented on #14066
Ok what exactly is not supported? Having enums nested inside a class? Or boxing enums, or boxing nested enums?

[2019-04-20 16:56] vargaz commented on #14066
Boxing generic enums, i.e. enums nested in a generic class.

[2019-04-20 17:21] tobiasschulz commented on #14066
Ah thats a workaround that I might actually be able to implement in our codebase

[2019-04-21 07:06] #14079 closed

[2019-04-21 19:02] alvarengasv opened #14152 "Mono 5.20.1.19 / httpcfg on Linux fails with "Operation is not supported on this platform.""
Registration of a certificate/port with httpcfg fails with mono 5.20.1.19 with error "Operation is not supported on this platform". The previous stable version worked correctly. If the certificate/port was registered with a previous mono version it is still usable with HttpListener after updating to 5.20.

## Steps to Reproduce
1. Create a certificate and private key
`makecert -r -sv test.pvk test

[2019-04-21 21:03] adsbxchange commented on #7655
This needs to be reopened and addressed.

[2019-04-22 04:32] tharanga2006 opened #14154 "Help wanted (.Net Standard project Build in linux and deploy it to windows)"
Background
I'm using my build agent as bamboo. It is running on linux,
Currently I have a project which is developed on .Net 4.5 /.net standard 2. ( It is a wcf project )

Problem
I need to build this project through bamboo agent that is running on linux.
To build project I have used xbuild command.
But It build binaries for linux os. But I need to build binaries for windows cause I wanted to depl

[2019-04-22 12:02] alexischr commented on #11397
Regarding `mono-api-info.exe` and `mono-api-html.exe` on Xamarin.Android, there two things to do:

* [sdks] Add mono-api-html.exe and mono-api-info.exe -> https://github.com/mono/mono/pull/14158 (WIP)
* Point https://github.com/xamarin/xamarin-android/blob/82881e38474f9157a2fcd57244f695f820561a22/tests/api-compatibility/api-compatibility.mk to the archive copies

[2019-04-22 13:20] directhex opened #14159 "msbuild broken in preview/nightly"
The latest MSBuild updates moved various files from `xbuild/15.0` and `msbuild/15.0` to `xbuild/Current` and `msbuild/Current`, and turned 15.0 into a symlink to Current. However, this is a very delicate operation with our Linux packaging, because files in the 15.0 directories come from at least 3 different packages - and MSBuild works inconsistently or not at all if various files aren't in the sa

[2019-04-22 14:55] directhex commented on #14159
`msbuild` and `msbuild-sdkresolver` come from the same source package (they're split to help add a dependency chain on `msbuild-libhostfxr` which is part of `core-setup`, not `msbuild`)

`mono-roslyn` and `mono-xbuild` come from the same source package

[2019-04-22 16:00] lambdageek commented on #12048
Addressed in part by:
* #12058
* #12074

[2019-04-22 16:44] directhex commented on #14159
Fixed mono is blocked by bockbuild breakage in 2019-02, tracked in https://github.com/mono/mono/pull/14162

[2019-04-22 16:50] steveisok commented on #13788
I took a look at the underlying code and it seems to use child directories to track the existence of the event log / sources.  I guess the behavior was intended to match what happens in the windows registry and seems to be 'by design'.

Mono team - do you agree with my assessment?

[2019-04-22 17:24] millinon commented on #13788
Oh, so do you mean that the existence of the child directories is used to keep track of whether or not event log sources exist, but not to actually store events for the corresponding source? That would explain the behavior.

[2019-04-22 17:30] steveisok commented on #13788
Yeah, that's what I believe the behavior to be.

[2019-04-22 17:33] directhex commented on #14159
Need to include some logic to force the symlink to happen. https://docs.fedoraproject.org/en-US/packaging-guidelines/Directory_Replacement/ for the RPM side.

[2019-04-22 17:49] brianrob commented on #14143
ASP.NET is not using multiple appdomains.  @steveisok, you are likely referring to the desktop implementation of ASP.NET.  In this case, we are actually running ASP.NET Core which runs on .NET Core which does not support multiple appdomains.

I also tried running with ```MONO_THREADS_SUSPEND=preemptive``` but the requests still hung.  I am starting to suspect something in the realm of codegen as t

[2019-04-22 18:01] directhex commented on #14103
Sorry Jay, didn't realise you were gonna use one of our systems since you normally use your ARM64 laptop - there's an entire environment with the failure inside a screen session on xam-softiron-1 already

[2019-04-22 19:47] steveisok commented on #14089
It looks like ERROR_INVALID_PARAMETER is when a call to fstat fails on that file.  I thought that would work w/ an NFS share, but I'm no expert....

[2019-04-23 00:13] jaykrell commented on #14103
Either, but chromebook goes missing due to disuse.

[2019-04-23 05:06] brendanzagaeski opened #14170 ""Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)" after debugger pauses and then continues on nested exception"
This appears to have been introduced or revealed by one of the changes in <https://github.com/mono/mono/compare/5ad371dab1b67ba09862f6b287b8daf49803c9c0...bf4e8d2ae1988ceac0ab65dfd25f27fc9d3f40a6>. Maybe <https://github.com/mono/mono/commit/de14ec6c78e420dfd75308d8dbd9178bb56aa230>? Was that commit expected to touch the exception tracing behavior for the mobile runtimes?

## Steps to Reproduce

1.

[2019-04-23 08:00] NTMS2017 opened #14171 "Can I consume a remote soap web service to produce a REST API?"
I download monodevelop on my ubuntu 18.04. I have a remote soap webservices wsdl. I need to use monodevelop to create a rest api (json) services for my remote soap webservices wsdl. But I am not sure if this is a possible. Can I consume a remote soap web service to produce a REST API?

My mobile app cannot consume a soap webservices wsdl, so as a middleware I am thinking to use monodevelop to cons

[2019-04-23 08:34] marek-safar commented on #13941
@brianrob Are they .NET Core or .NET Framework assemblies? We deny loading only .NET Framework ones. as they have .NET framework specific implementation. Removing them from your install/current folder location should resolve the issue.

@lambdageek we should not hit this code path for netcore at all.

[2019-04-23 08:37] jaykrell commented on #14103
e.g.
[code]

[2019-04-23 08:50] jaykrell commented on #14103
--trace makes it worse.

[2019-04-23 09:49] floa93 commented on #9808
Im still having this issue on Android. My current workaround is to extract the Content-Length manually:
`    var contentLength = webClient.ResponseHeaders.Get("Content-Length");
                    var totalBytesToReceive = Convert.ToInt64(contentLength); `

Is there a fix on the way?

[2019-04-23 10:16] angeloc commented on #11744
This bug is really not closed, I'm encoutering the error with the latest release:

[code]

[2019-04-23 10:19] angeloc opened #14179 "Can't cross-compile 5.20.1.19: libmono_native_la-pal_errno built on the wrong platform"
Cross-compiling 5.20.1.19 with Buildroot:

[code]

[code]

Issue is related to https://github.com/mono/mono/issues/11744

[2019-04-23 10:31] Therzok opened #14181 "Pango modules.cache contains jenkins builder path"
## Steps to Reproduce

1. It seems to happen during update of VSMac
2. Observe sometimes font print out squares
3. Is it possible that the post-install script is not being run or has errors?

### Current Behavior

1. Cause: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/596552
2. Symptoms: https://developercommunity.visualstudio.com/content/problem/228583/vs2017-for-mac-setup-%E4%B8%AD%E6%

[2019-04-23 10:31] Therzok commented on #14181
cc @alexischr

[2019-04-23 10:56] mikaelj commented on #11744
My solution for Buildroot, excerpt from mono.mk:

    # fix broken tarballs with old cruft, which is not cleaned by makefiles. (e.g. 5.20.1.19)
    define MONO_REMOVE_BAD_OBJECT_FILES
    	rm -rf `find $(@D)/external -path '*\.libs'`
    	rm -rf `find $(@D)/external -path '*\.deps'`
    	rm -f `find $(@D)/external -path '*\.o'`
    	rm -f `find $(@D)/external -path '*\.so'`
    	rm -f `find $(@D)/

[2019-04-23 10:57] mikaelj commented on #14179
My solution for Buildroot, excerpt from mono.mk:

    # fix broken tarballs with old cruft, which is not cleaned by makefiles. (e.g. 5.20.1.19)
    define MONO_REMOVE_BAD_OBJECT_FILES
    	rm -rf `find $(@D)/external -path '*\.libs'`
    	rm -rf `find $(@D)/external -path '*\.deps'`
    	rm -f `find $(@D)/external -path '*\.o'`
    	rm -f `find $(@D)/external -path '*\.so'`
    	rm -f `find $(@D)/

[2019-04-23 12:18] angeloc commented on #14179
@mikaelj : I don't really want to do anything like that, moreover it's not acceptable for buildroot mainline. I think the mono project should definitely fix a problem persisting from many months now ...

[2019-04-23 12:32] directhex commented on #14159
The symlinks aren't functional yet, but builds are unblocked by 6.0.0.190

[2019-04-23 12:48] #13926 closed

[2019-04-23 13:18] lambdageek commented on #11350
This is done (primarily in #13320).  Arrays with an element type with custom modifiers are not supported (filed as #13203)

[2019-04-23 13:18] #11350 closed

[2019-04-23 13:31] kdg3737 commented on #14080
Thanks for looking into this jaykrell. I ran it again and now have something that looks more like an actual stacktrace (the gdb must have kicked in for some reason), can't make much sense of it though:

[2019-04-23 13:33] #11395 closed

[2019-04-23 14:05] alexischr commented on #14181
I installed `Mono JIT compiler version 6.0.0.6 (2019-02/12cadb2b21d Wed Feb  6 03:24:22 PST 2019)`

and looked at the installed `pango.modules` - I see
[code]

so no builder paths. So yeah the postinstall must be failing under some conditions only. Do you have a reproduction @Therzok ?

[2019-04-23 14:59] lewurm commented on #7655
@adsbxchange the fix made it into 5.12 and later. can you try a newer mono?

[2019-04-23 15:14] adsbxchange commented on #7655
I just tried 6.xx preview and current 5.xx stable, and all versions between by pinning the repo.  Verified twice.

Takes 13 minutes to crash the app with any version after 5.8.0.127

Uses all system ram then we have to force kill it before Linux starts killing processes.

________________________________
From: Bernhard Urban <notifications@github.com>
Sent: Tuesday, April 23, 2019 8:00:10 AM
To: m

[2019-04-23 15:16] lambdageek commented on #14080
@lewurm could you take a look at this one

[2019-04-23 15:31] directhex commented on #14179
Looks like it went into 2018-08 and 2018-12 onwards, but was missed in 2018-10. https://github.com/mono/mono/pull/14185

[2019-04-23 18:19] brianrob commented on #13941
@marek-safar these are desktop assemblies targeted at 4.7.1.  My understanding is that this is the right way to run against mono right now.  Should I be able to run .NET Core targeted apps against mono now?

[2019-04-23 18:44] alexanderkyte commented on #14143
@brianrob could you please upload the MONO_LOG_LEVEL=verbose output for this? I think that there's probably a series of JIT compilations that corrupts some state.

[2019-04-23 19:04] brianrob commented on #14143
Sure.  The log for the LLVM run is here: [Log](https://github.com/mono/mono/files/3109174/MonoLog.txt)

I started the application, and then hit it with a single request.  I waited a few seconds for things to be hung and for the log to go as quiescent as it was going to, and then captured the log.

[2019-04-23 19:14] #14159 closed

[2019-04-23 19:53] lambdageek commented on #14143
Hm. Don't know what it means yet, but one difference is that in the "Mini-JIT" verbose log, I see some
[code]

so (I think) workers are waking up due to some write events happening, but in the "LLVM" verbose log there are no writes, only reads.  not sure if that's just timing related or a symptom of something real.

[2019-04-23 20:21] alexanderkyte commented on #14143
I'm looking into this right now.

[2019-04-23 20:46] brianrob commented on #14143
Awesome.  Thanks!

[2019-04-23 22:03] alexanderkyte commented on #14143
Worth noting is that we aren't seeing mono hang.

[code]

That time when we aren't seeing a response, Mono is just waiting on a socket with no work to do. We seem to be failing fast.

[2019-04-23 22:26] alexanderkyte commented on #14143
So if I run in the highest verbosity mode to see when we run the JIT, warm up, and then run the crashing curl command, I don't see the JIT run at all. That means that we don't have any functions that are run for the failing command that aren't run on the successful command.

[2019-04-23 22:39] lambdageek commented on #14170
Crashes on my device (arm64-v8a) even if I modify the source in `AndroidApp1:Test()` to call `NestedStackTraces (0)` (ie just throw an `ArgumentException` right away), then click on "Button" then click "continue" in the debugger.

[2019-04-24 01:48] alexischr opened #14190 "[XA][2019-02] mono_os_mutex_lock: pthread_mutex_lock failed with "Invalid argument" (22)"
This might be flaky so I triggered a rebuild, but the fault information is good:

[code]

[2019-04-24 02:15] brianrob commented on #14143
I'm quite surprised at this.  From what I saw, there is a bunch of jitting that happens in the context of the first request, even if the request hangs (due to the presence of the headers).

[2019-04-24 03:10] jaykrell commented on #14190
Suggest audit all lock initialization and replace with “once” around it.

[2019-04-24 03:11] jaykrell commented on #14190
Though this might be running code after cleanup.

[2019-04-24 05:25] kjpou1 opened #14193 "[wasm] Concrete example of passing strings"
From #mono-community / @tomdowdell

find a faster way to pass very large strings from C# -> JS. Presently they are passed as plain old strings and received as plain old strings. However, these strings can contain 500k+ JSON and I've been told that there's a way to do it with pointers. Would you be able to provide a concrete example demonstrating how to do this?

[2019-04-24 05:45] mikaelj opened #14195 "5.20.1.19 configure fails if enable-cxx but no C++ compiler found"
## Steps to Reproduce

./configure --enable-cxx

### Current Behavior

No C++ available => CXX command = "no", and subsequent test for size_t fails.

    checking if size_t is unsigned long... no
    checking if size_t is unsigned int... no
    checking if size_t is unsigned __int64... no
    checking if size_t is unsigned long long... no
    ./configure: line 421: test: int: integer expression ex

[2019-04-24 06:01] jaykrell commented on #14195
What happens in this section? Yeah I could try it myself.
[code]

[2019-04-24 06:14] alexbk66 opened #14196 "Memory leak using Google Calendar API"
[GCMemLeak.zip](https://github.com/mono/mono/files/3110635/GCMemLeak.zip)

Using Google Calendar C# API on Linux causes significant memory leak.
Must be Mono issue because on Windows it's running ok.
Could be related to https://github.com/mono/mono/issues/8689, but it's closed?

## Steps to Reproduce

1. Obtain google calendar api credentials https://console.developers.google.com/apis/credentials

[2019-04-24 06:25] angeloc commented on #14179
@directhex : could you repackage a fixed 5.20.1.something please?

[2019-04-24 07:58] marek-safar commented on #13941
@brianrob they are windows specific so we do our best to identify them and ignore them. We are probably missing more checks for AOT but you should be able to move forward by deleting them to allow using Mono implementation of these assemblies which are cross platform compatible.

[2019-04-24 08:27] mikaelj commented on #14195
configure:5777: checking for i686-buildroot-linux-gnu-g++
    configure:5804: result: no
    configure:5978: checking for C++ compiler version
    configure:5987: no --version >&5
    ./configure: line 5989: no: command not found
    configure:5998: $? = 127
    configure:5987: no -v >&5
    ./configure: line 5989: no: command not found
    configure:5998: $? = 127
    configure:5987: no -V >&5

[2019-04-24 09:46] srxqds opened #14200 "new exception instance crash in embeded mono"
## Steps to Reproduce

the cpp code:
[code]

### Current Behavior

crash when I call **mono_get_exception_argument_out_of_range** or **mono_exception_from_name_msg**

### Expected Behavior

non crash.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x] Windows

**Version Used**:

5.18.0.225

## Stacktrace

the message is:
 "* Assertion at ..\\mono\\sgen\\sgen-alloc.c:378, condition

[2019-04-24 11:15] lewurm commented on #14170
does it only happen when the managed debugger is attached? then it could also be related to https://github.com/mono/mono/commit/484ce49a0b6cafa207444336c5e22636e75ce498
(although I can't up with a good theory on _why_).

This is also weird, but probably the native debugger just being confused:
[code]

[2019-04-24 13:08] jeromelaban commented on #14193
A string can be passed in via a [fixed pointer](https://github.com/nventive/Uno.RoslynQuoter/blob/2633b934c2d5b3a3943ba907697663698108a0c7/src/uno/RoslynQuoter.Shared/MainPage.xaml.cs#L112), then converted to a string via [UTF8ToString or similar](https://github.com/nventive/Uno.RoslynQuoter/blob/uno/src/uno/RoslynQuoter.Wasm/WasmScripts/CreateDownload.js#L10). There are faster ways to copy linear

[2019-04-24 13:24] rengare commented on #12535
Hi, I found a temporary fix for this issue:

1. sudo nano /etc/sysctl.conf
2. add those lines to bottom of file:
- fs.inotify.max_user_watches = 1638400
- fs.inotify.max_user_instances = 1638400
3. save the file
4. sudo sysctl -p

This works for me and I hope for you as well.

[2019-04-24 14:00] srxqds opened #14205 "what is the indexer function name?"
I want to add internal_call with Indexer like this:
[code]
But what is the Indexer get and set function Name, **get_Indexer** and **set_Indexer**?

so I can  **add_internal_call** like this:
[code]

[2019-04-24 14:08] BrzVlad opened #14206 "[interp] Mono Interpreter might interpret methods that were aot compiled"
This can be problematic for scenarios where we might strip the IL code from aot methods. This currently seems to happen only with virtual calls, but this might also happen in other situations.

## Steps to reproduce

1. Make the archive
[mixed.zip](https://github.com/mono/mono/files/3112639/mixed.zip)

2. Notice logging from executing the virtual method from the aot assembly. If the virtual flag i

[2019-04-24 14:18] chamons commented on #13454
Friendly reminder/poke that this needs to happen in the d16-2 timeframe, preferably before 2019-02 lands, else we were be breaking watch then.

[2019-04-24 15:09] lambdageek commented on #14190
Oh cool, we're initializing a class on the finalizer thread (during shutdown?)

[2019-04-24 15:12] cshearercooper commented on #14066
We are having this same issue, and the workaround worked.  But please bump the priority of this issue, there's no guarantee we'll be able to use the same workaround in future code

[2019-04-24 15:32] lambdageek commented on #14205
Here's a short example:
[code]

If we disassemble the resulting assembly (I used `ikdasm`) we can see the methods and signatures for the property:

[code]

So the names are `P::get_Item` and `P::set_Item`.

---

But what I think you should actually do is:

[code]

that way you can name the getter and setter whatever you like and you also can do any minor transformations that you may need in order

[2019-04-24 15:40] alexanderkyte commented on #14143
When the server is run with `--trace` :

[code]

[2019-04-24 16:08] lambdageek commented on #14066
@chamons FYI a `2018-08` backport https://github.com/mono/mono/pull/14161 was merged recently.

[2019-04-24 16:11] alexanderkyte commented on #14143
@brianrob I think there was a misunderstanding.

You JIT in response to sending the message with an empty header the first time. If you then re-send the message with the non-empty header, you don't see any JIT output when running mono with "-v -v -v -v".

[2019-04-24 16:13] alexanderkyte commented on #14143
I followed the hint that `--trace` disables the output, saw what `--trace` changes, and reran with

[code]

in the Dockerfile. I saw it work correctly there as well.

[code]

[2019-04-24 16:22] lambdageek commented on #14170
Without the debugger attached I get very clean looking managed exceptions both for `NestedStackTraces (0)` and `NestedStackTraces (20)`.

Also, with the debugger attached, it's not just continuing from the unhandled exception that causes a segv - "step over" and "step into" do too.  (though looking at local values and looking at the call stack both work fine).

[2019-04-24 16:56] alexanderkyte commented on #14143
In the failing case, it looks like the PlainText entry point isn't even executed. Trying to investigate what happens when we diverge, a bit difficult when it requires no sequence points and it requires the JIT.

[2019-04-24 17:11] #13975 closed

[2019-04-24 17:17] alexanderkyte commented on #14143
[code]

The managed stack we're seeing for the header-containing request is above. If we aren't printing in PlainText when we're failing, it indicates the failure is in one of the request processing functions. If it were silently discarding the request that would explain the server staying up but the client connection simply timing out.

[2019-04-24 17:21] lambdageek commented on #14196
Hi, I think what you might be seeing is a property of how Mono's garbage collector (sgen) behaves.

By default sgen will ask the OS for more memory whenever it needs to grow the major heap.

you can run the program with some debugging output from sgen by setting `MONO_GC_DEBUG=5`.

You can also limit the maximum size of the major heap by setting `MONO_GC_PARAMS=max-heap-size=50mb` (for a small 50m

[2019-04-24 18:30] alexanderkyte commented on #14143
It looks like there's some issue with parsing the request. The shared state ends up corrupted, leading to the request not getting processed. Looks unrelated to the thread pool.

## Evidence:

I added some printfs here:

https://gist.github.com/alexanderkyte/78a0496b89b514ba51dc783a2e530151

No sequence points (bad) with header:

[code]

Sequence points (good) with header

[code]

No sequence point

[2019-04-24 18:47] alexanderkyte commented on #14143
And mini-JIT has the same offsets as LLVM does when using sequence points here.

[2019-04-24 20:35] jaykrell commented on #12182
-march=native has major downside => “it works on my machine”

[2019-04-24 20:36] directhex commented on #14179
Maybe https://jenkins.mono-project.com/view/Releases/job/release-tarball-mono/1306/console will spit something out. This job is _intended to fail_, but should fail after building/uploading a tarball (`.27`)

[2019-04-24 21:11] directhex commented on #14179
https://download.mono-project.com/sources/mono/mono-5.20.1.27.tar.bz2

Go nuts. I'm going home now.

[2019-04-24 21:11] #14179 closed

[2019-04-24 21:11] grendello opened #14214 "HttpClient.SendAsync() with > 2 GB response body."
The crash:

[code]

The program below reproduces the crash:

[code]

Crash happens on:

 * Mac: `Mono JIT compiler version 6.0.0.184 (2019-02/3a8f93b9a47 Thu Apr 18 09:17:09 EDT 2019)`
 * Linux: `Mono JIT compiler version 6.0.0.190 (tarball Mon Apr 22 23:46:03 UTC 2019)`

Works on 5.x, tested with:

  * Mac: `Mono JIT compiler version 5.18.1.3 (2018-08/fdb26b0a445 Wed Mar 20 10:02:02 EDT 2019)`

[2019-04-24 21:45] grendello opened #14215 "Suggestion: switch to 7z native format instead of ZIP for Mono archives"
Since Mono already uses `7zip` to create the Mono archives, it might be beneficial to take advantage of superior 7z compression ratio. The difference in sizes is self-evident:

[code]

The `7z` archives were created with the following options: `-t7z -mx=9`

[2019-04-24 22:55] rvdginste opened #14216 "'/usr/lib/mono/4.7.2-api/System.configuration.dll' could not be found"
### Current Behavior

When I build a project that is targeting .net 4.7.2, I get a compiler error:
CSC: error CS0006: Metadata file '/usr/lib/mono/4.7.2-api/System.configuration.dll' could not be found

Note that the file '/usr/lib/mono/4.7.2-api/System.Configuration.dll' is available, but since I'm running on linux with the ext4 filesystem, the file name is case-sensitive and this dll is not foun

[2019-04-25 02:01] srxqds commented on #14200
I am sorry this is not caused by this situation

[2019-04-25 02:01] #14200 closed

[2019-04-25 02:06] alexbk66 commented on #14196
I do GC.Collect - doesn't make any difference.

[2019-04-25 02:07] alexbk66 commented on #14196
Do you think "I think what you might be seeing" is good enough reason to close the ticket?
I attached the source code which proves it doesn't work.  Memory keeps growing until the app crashes.

[2019-04-25 02:18] srxqds opened #14217 "crash"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-04-25 02:18] #14217 closed

[2019-04-25 02:41] srxqds opened #14218 "use mono_object_new_alloc_specific create object crash in bedded mono"
## Steps to Reproduce

I write a method to create object with monoclass
[code]

I define some class such as **TSet__ULevel** in c#

[code]

It will crash when I create TSet__ULevel but other class not.

### Current Behavior
It will crash when I create TSet__ULevel but other class not.

### Expected Behavior
not crash or give detail wrong infomation

## On which platforms did you notice this

[ ] m

[2019-04-25 03:24] #14218 closed

[2019-04-25 04:03] srxqds commented on #14205
I make the correct solution:

Th c# code:
[code]
and the cpp code:
[code]

I can't redirect the extern function name based on my try.

[2019-04-25 06:46] marek-safar commented on #14214
@baulig is it regression from corefx import?

[2019-04-25 08:34] lateralusX commented on #10684
Initial support for hybrid and cooperate suspend have now been implemented on Windows 32/64-bit, #14101.

[2019-04-25 08:34] #10684 closed

[2019-04-25 09:00] lewurm opened #14223 "[2019-02] [watchOS] mini/debug fails on armv7k"
https://gist.github.com/lewurm/207cfdf6fd69a0908f183e06a8f64856

[code]
looks similar to https://github.com/mono/mono/issues/13672 but bumping mono to include the fix didn't fix this crash. but might be in a similar area.

/cc @rolfbjarne

[2019-04-25 10:20] srxqds commented on #14008
I get the method **Type.MakeGenericType** and it work:
[code]

and use:
CreateGenericInstance("System.Collections.Generic.List`1", "System.Int32");

[2019-04-25 10:20] #14008 closed

[2019-04-25 10:45] jaykrell commented on #14103
With my fix, or I think disabling tailcall, I get further:

[code]

[2019-04-25 11:04] jaykrell commented on #14103
This was stack overflow. Of an 8k stack.
`ulimit -s 65536` to fix.
I guessing a badly configured chroot. That 8k isn't the usual setting.

[2019-04-25 11:05] jaykrell commented on #14103
But it is 8k in the default login and the arm64 chroot also.

[2019-04-25 11:05] jaykrell commented on #14103
Perhaps that is 8192K not 8192bytes?

[2019-04-25 11:16] jaykrell commented on #14103
stack overflow:

[code]

[2019-04-25 13:28] markmwilkinson opened #14225 "Profiler does not work for Windows (5.20.1 Stable)"
## Steps to Reproduce

1. Install latest Stable Mono Release 5.20.1 Stable (5.20.1.19) for Windows (Mono-64-bit (no GTK#))
2. Using the hello world example from https://www.mono-project.com/docs/getting-started/install/windows/ to create hello.exe
3. run mono --profile=log hello.exe  (or mono-sgen --profile=log hello.exe)

### Current Behavior
output.mlpd file is not generated
Additionally, there

[2019-04-25 13:31] directhex opened #14226 "Soapsuds does not run"
[code]

[2019-04-25 14:02] JoshCheek commented on #11773
I just hit this and had to look it up. If you're using one of the IDEs, [this](https://stackoverflow.com/questions/9824479/how-to-add-a-reference-to-system-numerics-dll) Stack Overflow post explains how to do it.

I'm using `mono`, and you do it with the -r flag, eg `mcs -r:System.Numerics.dll Main.cs`

[2019-04-25 14:05] lambdageek commented on #14196
@alexbk66 What worked for me was to both set a max heap size and to trigger a collection.  just doing one or the other  was not enough.

[2019-04-25 14:28] lambdageek commented on #14225
@lateralusX could you take a look at this

[2019-04-25 14:49] alexbk66 commented on #14196
Thank you @lambdageek I tried both of course, like this:
`MONO_GC_DEBUG=5 MONO_GC_PARAMS=max-heap-size=50m  mono authenticator.exe xxx xxx`
For how long did you run the test?  If you leavi it running for a day, what happens?

[2019-04-25 14:53] lateralusX commented on #14225
Yes I can take a look, I believed this has been a known issue for a while since it was never been ported over to Windows when profiling support was refactored.

[2019-04-25 15:04] DzonnyDZ commented on #10222
Sorry if I'm off-topic. I downloaded WASM SDK from https://jenkins.mono-project.com/job/test-mono-mainline-wasm/label=ubuntu-1804-amd64/lastSuccessfulBuild/Azure/.
The tool `packer.exe` from the package as option `--aot`. That made me feeling happy that AOT is already out. However I don't see any difference between the packages generated with `--aot` and without.
So what's that good for, is it jus

[2019-04-25 15:44] vargaz commented on #13739
The same problem happens on osx when trying to run the offsets tool in 64 bit mode. It doesn't happen in 32 bit mode.

[2019-04-25 17:10] #14103 closed

[2019-04-25 18:00] jaykrell commented on #14190
How to tell if shutdown?

[2019-04-25 18:02] jaykrell commented on #14190
Maybe some asserts? Or reorder shutdown, to drain finalizers (if not already).

[2019-04-25 18:18] lambdageek commented on #14190
1. nunit printed its passed/skipped/failed stats
2. finalizer thread is running some code.  so either a domain is going away (`mono_domain_finalize`) or the runtime is shutting down (`mono_gc_cleanup`).  It's possible someone called `GC.WaitForPendingFinalizers` explicitly, but I wouldn't expect that to fail in a mempool allocation like this.

That's already happens.

[2019-04-25 18:31] musikhin opened #14234 "SqliteMembershipProvider initialization bug (Failed to map path '/')."
## Steps to Reproduce

Please find the file attached with the steps to reproduce the bug.
[Steps to reproduce.pdf](https://github.com/mono/mono/files/3118316/Steps.to.reproduce.pdf)

### Current Behavior

In case when the asp.net application hosted not under the root location we get an error "Failed to map path '/'" at the first application run.

### Expected Behavior

Possibility to launch the as

[2019-04-25 18:32] dbelcher commented on #12995
@marek-safar When can we expect a fix for this bug to make its way into stable Mono?  It looks like this and #10304 are fixed and in preview versions of Mono, but it would be helpful to know an approximate time period for graduating to stable.  Thanks.

[2019-04-25 19:33] jeromelaban commented on #14010
Poking at it further, this symbol (at least) also seems to be defined multiple times:

`error: Linking globals named 'mono_atomic_cas_i32': symbol multiply defined!`

[2019-04-25 19:34] jaykrell commented on #14010
But it is `static inline`. Huh.

[2019-04-25 19:34] jaykrell commented on #14010
Oh
[code]

[2019-04-25 19:44] chucker commented on #10222
Did you check the AOT section at https://github.com/mono/mono/blob/master/sdks/wasm/docs/packager.md? It seems to explain how to use it with Emscripten.

[2019-04-25 21:02] vargaz commented on #14010
This is because of these lines in metadata/Makefile.am:
libmono_ilgen_la_LIBADD = $(glib_libs) ../utils/libmonoutils.la ../sgen/libmonosgen.la libmonoruntimesgen.la
For some reason, this will cause these helper libs to contain the object files for the libraries in LIBADD.
It only seems to cause a problem with MAIN_MODULE=1.

[2019-04-25 21:15] herreruud opened #14239 "Cookies not working in Xamarin/WPF"
## Description
Cookies no longer work in WCF on Xamarin.Android with Visual Studio 2019. Setting AllowCookies to "true" does not appear to have any effect.

## Steps to Reproduce

1.  Add a service reference that sets cookies (e.g. .net AuthenticationService)
2. Create a BasicHttpBinding, set AllowCookies to true
3. Set CookieContainer on client
4. Perform request - notice that cookiecontainer con

[2019-04-25 23:46] adsbxchange commented on #7655
https://github.com/vradarserver/vrs/issues/11

VRS dev is salty about it. Not sure where the issue is.  But being that is been an issue through multiple releases, there should be some fix.

[2019-04-26 00:05] glenn-slayden opened #14241 "jay.exe (ILASM): Incorrect loop indexing in generated tokenizer"
In the **jay.exe** source code (the yacc-like tool for pre-processing the IL grammar in the ILASM build), the C# template file has incorrect loop indexing in a diagnostic function. This gives a fatal crash when the debugging function is enabled.

https://github.com/mono/mono/blob/19387b1f413ebb66451eb58604d97140216472d3/mcs/jay/skeleton.cs#L94-L95

Notice that this is guaranteed to fail since the

[2019-04-26 05:40] marek-safar commented on #9664
Closing, please reopen if you can still reproduce the issue in dev16.1 release

[2019-04-26 09:06] markmwilkinson commented on #14225
Hi lateralusX :) Did you get a chance to check if your expectation is correct please?
Thanks
MarkW

[2019-04-26 10:47] lateralusX commented on #14225
Yes, I verified that the log profile is not included on Windows builds and the mechanism used by new profiler infrastructure is quite Unix specific (at least to find symbols in current executable). I will fix this to make sure it will work under Windows build. Until then you should be able to build log profiler on your own as a DLL, export needed methods and make sure it is loadable, the default l

[2019-04-26 10:58] markmwilkinson commented on #14225
Thank you very much for all this info and suggestions :)

[2019-04-26 12:47] jeromelaban opened #14243 "[Wasm] Assertion at mini-llvm.c:2106, condition `clause->flags == MONO_EXCEPTION_CLAUSE_NONE || clause->flags == MONO_EXCEPTION_CLAUSE_FINALLY || clause->flags == MONO_EXCEPTION_CLAUSE_FAULT' not met"
## Steps to Reproduce

1. Using mixed mode, build this code: ~~https://github.com/nventive/Uno.Wasm.Bootstrap/blob/master/src/Uno.Wasm.MixedModeSample/Program.cs~~ https://github.com/nventive/Uno.Wasm.Bootstrap/blob/master/src/Uno.Wasm.MixedModeRoslynSample/Program.cs (edit, it was not the right project)
2. AOT all assemblies [except those](https://github.com/nventive/Uno.Wasm.Bootstrap/blob/maste

[2019-04-26 13:08] steveisok commented on #14123
OK - If mkstemps is around, then it seems to be a good replacement for what we have.  Now, unless there's an android quirk, the fallback to mkstemp seems to display the following behavior:

https://github.com/mono/corefx/blob/5fe0364915df0f3568d14fb4c36213f7658b296d/src/Native/Unix/System.Native/pal_io.c#L666-L699

- The managed code will pass in a string w/ the value 'tmpXXXXXX.tmp'
- The C funct

[2019-04-26 14:01] jeromelaban commented on #14243
Aos, the test above is about running roslyn in a mixed mode environment.

Also as a workaround, adding excluding `System.dll` from being AOTed works.

[2019-04-26 14:27] jeromelaban commented on #14010
It looks like emscripten is exporting all symbols when in that mode, so the side modules can pick those up.

Removing `$(glib_libs)` from the line above indeed made the build go down to `mono_atomic_cas_i32`.

[2019-04-26 14:29] kjpou1 commented on #14193
@tomdowdell Here are some samples for string.

https://github.com/kjpou1/Mono.Wasm.Samples/tree/master/WasmString

Live sample here:  https://kjpou1.github.io/wasmstring/

[2019-04-26 14:29] #14193 closed

[2019-04-26 17:52] rolfbjarne opened #14246 "Interpreter crashes when running monotouch-test"
## Steps to Reproduce

1. Build xamarin-macios/master as of today (for instance https://github.com/xamarin/xamarin-macios/commit/6c3674658aa39e95bbe83cb6a7d5dfccfea7dd3d)
2. `cd tests && make runner` to launch the test runner in the browser
3. Run any of the `monotouch-test/iOS Unified 64-bits - device/*interpreter*` tests.

### Current Behavior

The tests run for a while, then crashes with:

[App

[2019-04-26 17:57] rolfbjarne opened #14247 "Assertion on 32-bit iOS device with thumb code"
## Steps to Reproduce

1. Build xamarin-macios/master as of today (for instance https://github.com/xamarin/xamarin-macios/commit/6c3674658aa39e95bbe83cb6a7d5dfccfea7dd3d)
2. `cd tests && make runner` to launch the test runner in the browser
3. Run the `monotouch-test/iOS Unified 32-bits - device/Release: UseThumb` test.

This requires an iOS device that supports 32-bit (i.e. with iOS 10.3 or earli

[2019-04-26 18:46] gfoidl commented on #9903
See also https://github.com/dotnet/corefx/issues/37209

[2019-04-26 20:02] jgold6 commented on #9664
For the 5 affected time zones noted in my comments above, in Mono 5.18.1.18, DST for those 5 areas are no longer starting DST early. But now they are all starting DST 1 hour late. I.e if the time is supposed to jump from 2:00 AM to 3:00 AM, instead it is jumping from 3:00 AM to 4:00 AM.

breakdown:

Central Standard time (US), Eastern ST (Turks and Caicos), and Alaska Standard Time:
Should jump fr

[2019-04-26 20:17] jbatt33 commented on #9664
Thanks.

Thanks for the information. Will pick up either by merging this fix into a 5.x release or wait for 6.0 official release

[2019-04-26 21:14] akoeplinger commented on #13804
I just saw the same issue with this mono which was built after the fix:

[code]

[2019-04-26 21:24] jgold6 commented on #9664
Checked on mono master. behavior is correct on mono master.

It would be great if we can get the full fix backported to  the current VC for Mac Preview channel (currently has Mono 5.18.1.3, which has original issue I described), and also the internal preview channel (has Mono 5.18.1.18 currently which only changes when the error occurs... I assume this will become the next public preview channel)