[2019-02-08 12:05] #10050 closed

[2019-02-08 12:35] thaystg commented on #12881
Yes, of course.

[2019-02-08 14:57] kjpou1 commented on #12646
@nbarkhina

Here is a link with the code running: https://kjpou1.github.io/WasmRoslyn/

I need to get the code out in a repo with build for windows.

[2019-02-08 15:17] nbarkhina commented on #12646
@kjpou1 that's really cool! do you have the source code so I could see how you did it? or is that what you're assembling now

[2019-02-08 15:36] sbrl opened #12900 "BadImageFormatException: Cannot load method from token 0x2b000001 for callvirt at 0x000b"
## Steps to Reproduce
1. Download this test case project: [StrongNameException.tar.gz](https://github.com/mono/mono/files/2845680/StrongNameException.tar.gz)
2. Compile it with `msbuild`.
3. Try to run the program.

### Current Behavior

If the program is invoked with `mono TestProject.exe`, the following exception is thrown:

[code]

This is to be expected I think, because the security module isn

[2019-02-08 15:53] sbrl opened #12901 "PermissionSets do not carry over to new AppDomains"
If I create a new `PermissionSet` and create a new `AppDomain` with it, then it the permissions don't carry over.

## Steps to Reproduce

1. Download this test case project: [PermissionSets.tar.gz](https://github.com/mono/mono/files/2845760/PermissionSets.tar.gz)
2. Compile it with `msbuild`.
3. Run the program with `mono --security TestProject.exe`

### Current Behavior

The following output can

[2019-02-08 18:33] lewurm commented on #8486
can reproduce on watch4
[code]
will look into it

[2019-02-08 20:44] #12863 closed

[2019-02-08 22:41] Apteryks commented on #9951
Hello! Sadly the fix didn't have an effect on my side. I used the latest released mono archive (5.18.0.240) patched it with the patches from commit 97e410a6529d4c3ef345ab6bc9034af
[config.log](https://github.com/mono/mono/files/2847138/config.log)
797872f84 and fa290a62d92fb5a3139490b17a9e1cce3e0fd5dc (there was an offset 9 but I verified the fix applied correctly) and retried compilation. I still

[2019-02-08 23:04] solabc16 commented on #9951
Hello @Apteryks

Did you run autoreconf after applying the patch?

Best
- James

[2019-02-08 23:57] danroth27 opened #12916 "Blazor error MSB3073 (.Net Core SDK 3.0.100)"
_From @Awr0ra on Friday, 08 February 2019 23:17:09_

This error showes after installing nuget packages **_EntityFrameworkCore.SqlServer_** in new project that based on template "**Blazor (ASP.NET Core hosted)**"

### **1.** My dotnet --info

PM> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-010184
 Commit:    c57bde4593

Runtime Environment:
 OS Name:     Wi

[2019-02-08 23:57] danroth27 commented on #12916
_From @danroth27 on Friday, 08 February 2019 23:57:31_

Looks like a potential linker issue.

[2019-02-09 00:17] danroth27 opened #12917 "[Blazor] IL Linker not working correctly with IQueryable extensions"
_From @ivanchev on Friday, 08 February 2019 09:55:31_

### Describe the bug
If you create a class library with some IQueryable extensions, for instance:
[code]

Using that in a WebAssembly Blazor project produces error.

### To Reproduce
Steps to reproduce the behavior:
1. Add the extension method to a new .netstandard 2.0 class library
2. Create a new simple Blazor project, and reference the clas

[2019-02-09 00:17] danroth27 commented on #12917
_From @danroth27 on Saturday, 09 February 2019 00:16:42_

@ivanchev Thanks for reporting this issue!

Since this appears to be an IL linker issue I'm going to move this over to the Mono folks.

[2019-02-09 01:29] waji3000 commented on #12286
Do follow:
[ <img alt="@lateralusX" width="20" height="20" src="https://avatars3.githubusercontent.com/u/11529140?s=60&amp;v=4"> ](/lateralusX)
` [Fix build errors for net_4_x bcl.sln build](/mono/mono/pull/12672/commits/6b749b647072a19e1715e458971789b09e2a3caa)`

I get new mcs.exe
use:
set MONO_PATH=F:\mono\lib\mono\4.5
F:\mono\bin>mono f:\mono\lib\mono\4.5\mcs.exe
But the error is still exist.

[2019-02-09 02:31] LeeMSilver opened #12918 "cs0012 building Mono.Security (and probably other projects in the future)"
WIndows 10 / Visual Studio Community 15.9.6

I'm building Mono project by project for platform net_4_x targeting Net-framework 4.6.2 in the order given by Solution-explorer/Build Dependencies/Project Build Order prior to studying each project in detail.

I successfully completed CorLib.csproj and am now attempting to compile Mono.Security.csproj.

When I do so I get a number of CS0012 errors simil

[2019-02-09 05:15] kjpou1 commented on #12646
@nbarkhina

Here is the source for the sample: https://github.com/kjpou1/Mono.Wasm.Samples/tree/master/WasmRoslyn

Hope this helps

[2019-02-09 14:00] nbarkhina commented on #12646
@kjpou1 thank you so much!! I was able to successfully compile your version and it runs just like in your demo. I'm going to examine what you did and incorporate the changes into my code. Thanks again!

[2019-02-09 15:12] kakins commented on #8852
So unless I'm missing something, it at least appears there should be some limited support for this in mono:

[code]

https://www.mono-project.com/news/2017/11/13/mono-interpreter/

[2019-02-10 07:18] kjpou1 commented on #12646
No problem.  Glad it helped.

[2019-02-10 07:18] #12646 closed

[2019-02-11 00:53] jaredpar commented on #12603
@marek-safar presently we are using the 4.5.0 NuPkg.

[2019-02-11 05:47] HeikoWeiss commented on #9631
Sorry Marek,

I do not have a solution or workaround about that.

Maybe you should ceate another issue.

[2019-02-11 08:50] marek-safar commented on #9631
@bpiepiora if you can reproduce the issue outside of Windows Forms app, please create a new issue, ideally with self contained repro

[2019-02-11 10:05] marek-safar commented on #12603
@radical could you check we are right MVID blacklisted?

[2019-02-11 10:07] marek-safar commented on #12918
/cc @kg

[2019-02-11 10:31] marek-safar commented on #12900
Mono does not support CAS and it's very unlikely it will in the future

[2019-02-11 10:31] #12900 closed

[2019-02-11 15:21] kg opened #12935 "MonoDevelop GC test regressions - object no longer being GC'd"
In a subset of MonoDevelop tests, objects that used to get released are no longer being released. My guess would be that our codegen has changed and pointers to them are staying resident on the stack or in a register somewhere.

https://devdiv.visualstudio.com/DevDiv/_releaseProgress?_a=release-environment-logs&releaseId=255664&environmentId=1108485

[code]

From looking at the helper functions in

[2019-02-11 15:24] kg opened #12936 "Potential MonoDevelop test regression - SEGVs during run that don't fail tests"
This is potentially a bug in the MonoDevelop tests and not on our end, but once we bump them to a new version of mono, some tests appear to start generating SIGSEGV's that previously did not. The tests still pass, so it's possible this is expected behavior somehow but I don't think it's reasonable to assume that.

https://devdiv.visualstudio.com/DevDiv/_releaseProgress?_a=release-environment-logs&

[2019-02-11 16:02] marek-safar commented on #12936
This looks like both Mono and MD issue. @kg could you see if you can isolate that, it looks like running anything from System.MemoryExtensions should trigger it outside of MD

[2019-02-11 16:03] marek-safar commented on #12935
/cc @BrzVlad did we land any changes in this area?

[2019-02-11 16:46] sbrl commented on #12900
I see. In that case, the documentation is misleading then. I was using `man mono` here, where it says this:

[code]

This implies that CAS is and should be fully supported. Futhermore, [this official documentation page](https://www.mono-project.com/docs/advanced/cas/) states that CAS is a new and experimental feature that's coming soon to Mono.

To this end, @marek-safar, I believe that even if Mo

[2019-02-11 19:14] Apteryks commented on #9951
@solabc16 Indeed, my bad! Thanks for the hint :-)

[2019-02-11 19:19] lambdageek commented on #12676
@steveisok This example doesn't work on .NET Framework on windows either...  But fortunately now I understand why: `CreateInstance` doesn't return a tranasparent proxy object, it returns an `ObjectHandle` which needs to be unwrapped.

The following works on .NET Framework and on mono:

[code]

There's two things here:
1. Have to pass a full assembly name `"System.Data, Version=4.0.0.0, Culture=neu

[2019-02-11 19:32] lambdageek commented on #12675
Is this still a problem?  Running on `master` I now see:

[code]

[2019-02-11 19:33] akoeplinger opened #12945 "corlib-xunit tests taking 10x longer in the coop configuration"
## Steps to Reproduce

1. Run corlib xunit tests in the coop configuration: `make -C mcs/class/corlib run-xunit-test`
2. Observe the test suite taking a long time, ~20mins compared to 2mins on a normal build

### Current Behavior

Coop, takes ~20mins:
https://jenkins.mono-project.com/job/test-mono-pull-request-coop/12631/

### Expected Behavior

Finishing much faster.

## On which platforms did yo

[2019-02-11 20:09] luhenry commented on #12945
@lambdageek @BrzVlad could you please take a quick look at what could be going wrong?

[2019-02-11 20:21] dbrody2004 opened #12947 "Assertion at lock-free-alloc.c:145, condition `sb_header' not met, function:alloc_sb, Failed to allocate memory for the lock free allocator"
Using mono 5.18.0.240 and getting exception below

s2 stdout | * Assertion at lock-free-alloc.c:145, condition `sb_header' not met, function:alloc_sb, Failed to allocate memory for the lock free allocator

s2 stderr | Stacktrace:

s2 stderr |   at <unknown> <0xffffffff>
  at (wrapper managed-to-native) object.__icall_wrapper_mono_gc_alloc_vector (intptr,intptr,intptr) [0x00009] in <04750267503a43e

[2019-02-11 20:25] lambdageek commented on #12945
The test suite summary page says "00:18:36" and the xunit log says "1093.173s" (about 00:18:13).  So the actual test run is taking a long time, not just shutdown (which is our usual culprit).  So it's doing something pathological.

Note that we also build the coop lane as a checked build and run with thread and gc checks.  (see ci/scripts/run-jenkins.sh where it mentions "checked-coop")

[2019-02-11 20:55] steveisok commented on #12676
Thanks - You know, I was worried I didn't capture the essance of the issue with the IDbConnection sample.

The problem I'm having is that there's an existing test that is supposed to pass... Activator.CreateInstance is supposed to happen _within_ the child domain and return an ObjectHandle to the caller, but is bombing as if it's a cross domain call.

[code]
It's also passing the full assembly nam

[2019-02-12 00:28] lambdageek commented on #12945
Runs in a reasonable amount of time on osx with `MONO_THREADS_SUSPEND=coop MONO_CHECK_MODE=thread,gc`.  Also on Linux/amd64 `MONO_THREADS_SUSPEND=coop` is decently fast (smidge over 2 minutes).

But Linux/amd64 `MONO_THREADS_SUSPEND=coop MONO_CHECK_MODE=thread,gc` is slooooow.

So checked build mode with coop is behaving pathologically.

Possibly it's collecting stack traces  on each thread state

[2019-02-12 10:11] jtorres opened #12955 "[Mono 5.8] InvalidCastException when building ASP MVC 5 project with RazorGenerator"
## Steps to Reproduce

1. Run `msbuild /r` and then `msbuild` in attached project (any project with RazorGenerator.Core nuget package is ok) - using VSfMac build also fails after restoring nuget packafges

[ASPMVC.zip](https://github.com/mono/mono/files/2855199/ASPMVC.zip)

### Current Behavior

`msbuild` throws InvalidCastException

### Expected Behavior

Should build successfully

## On which pl

[2019-02-12 10:38] MaximLipnin commented on #12675
It has expected behavior on the latest master/5374e7ef46d. I'll check it on other branches.

[2019-02-12 10:49] rolfbjarne opened #12956 "[2018-10] mscorlib tests don't compile for watchOS"
## Steps to Reproduce

1. Clone & build the 2018-10 integration branch: https://github.com/xamarin/xamarin-macios/pull/4904
2. Try to build the mscorlib device for watchOS/device (using xharness or `make -C tests build-watchos-dev-mscorlib`).

### Current Behavior

Build failure:

[code]

Full build log: https://gist.github.com/rolfbjarne/31f33d45566ebdda2c42cdab557cee0e

This is because there's a

[2019-02-12 12:12] MaximLipnin commented on #12675
Got native crash on 2018-10/4a7563ff852 (MacOS):
[code]

[2019-02-12 12:50] Rymix commented on #12604
Got the same issue with entity framework core

[2019-02-12 13:41] Therzok commented on #12936
Looks like it's not the System.MemoryExtensions in MD:
https://github.com/mono/monodevelop/blob/137760042a502c9ddf4a09b4806b56c8a70ae0b4/main/src/core/MonoDevelop.Core/MemoryExtensions.cs#L31

[2019-02-12 13:45] Therzok commented on #12936
Maybe System.Memory is not loaded properly before the test suite is run?
http://source.monodevelop.com/#MonoDevelop.Core/MonoDevelop.Core.Assemblies/AssemblyContext.cs,289

[2019-02-12 14:23] steveisok commented on #12676
So, I made a sample that fails the same way as the test when run under mini.  However, when I take it up to an installed mono, it works.

https://github.com/steveisok/app-domain-bug-test

Why would just mini be loading system.web twice?

[2019-02-12 14:44] thaystg commented on #12843
Hi, @SSELLIOTTHOME , I'm sorry by the delay, I cloned your repo and did the same steps but couldn't reproduce, I'm sharing with you the video with the steps, could you check if is there something wrong, please?

https://www.screencast.com/t/sRALAwLHJz

[2019-02-12 14:46] kishorepolepalli commented on #12816
Hi
We have tried on mono 5.12 ,but facing same alignment Trap issue.

------------------------------------------------------------------------------------------------------------------
Mono JIT compiler version 5.12.0.226 (tarball Mon Feb 11 15:03:21 UTC 2019)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           __thread
        SIGSEGV:

[2019-02-12 15:19] MaximLipnin commented on #12675
It also works as expected on 2018-12/d935016dc8c.

[2019-02-12 15:21] marek-safar commented on #12947
/cc @BrzVlad does it ring any bell?

[2019-02-12 16:20] #12881 closed

[2019-02-12 16:26] lewing commented on #12917
I'm having trouble reproducing this.  I've attached the test case I'm using
[QueryableTest.zip](https://github.com/mono/mono/files/2856633/QueryableTest.zip)

[2019-02-12 16:37] BrzVlad commented on #12947
@dbrody2004 Please provide a test case if it's a scenario in which we are leaking memory. Otherwise this simply looks like an out of memory situation. Either there isn't enough memory on the system for the application to run, either the OS doesn't provide more memory for other reasons (In the past I encountered crashes like this due to the **vm.max_map_count** limit). We don't guarantee always hav

[2019-02-12 17:16] lewing commented on #12917
Reproduced it now, looking into it

[2019-02-12 17:45] thaystg opened #12964 "[debugger][wasm] Assertion at mono/metadata/loader.c:2500, condition '<disabled>' not met"
## Steps to Reproduce
This is the sample I'm using:
- https://github.com/nventive/Uno.Xaml-Controls-Gallery
- You can change the runtime used there: https://github.com/nventive/Uno.Xaml-Controls-Gallery/blob/1c19aa424e0aa507cdf0d99d1fa308ce52d32a09/XamlControlsGallery.Wasm/XamlControlsGallery.Wasm.csproj#L13 it's the urls out of the Jenkins CI
- The extracted mono path will be in /tmp/mono-xxxx, i

[2019-02-12 17:45] thaystg commented on #12964
@jeromelaban , here is the issue that we talked last week, I'll work on it right now! :)

[2019-02-12 17:49] jeromelaban commented on #12964
@thaystg thanks! Let me know if you need help.

[2019-02-12 18:01] lambdageek commented on #10782
This is now passing on `master` (ac5ab1a7efe), both the reproduction steps as given and the following standalone reproduction (compile with `csc /langversion:latest /unsafe /O`)

[code]

[2019-02-12 18:14] SSELLIOTTHOME commented on #12843
Hi Thastg - I may need to eat some humble pie. After not being able to replicate this problem on a coworkers machine, I decided to do a full Visual Studio Settings reset. So far it has not come back in either my main project or my sample one. Could I keep this open for a couple of days? and it it does not return I will happily close it off. Thank you for all of the time and effort you have put int

[2019-02-12 18:16] CHazz opened #12966 "mono-service high cpu drain vs mono or debug mode"
mono-service has a big cpu drain in deamon mode .. when i run an application over mono it has max 6% when i run over mono service with debug mod has the same .. but when i start in deamon it has permanently 100% and more

## Steps to Reproduce

1.  Server.exe in LMPserver https://github.com/LunaMultiplayer/LunaMultiplayer/releases/download/0.20.2/LunaMultiplayer-Release.zip
2.
3.

### Current Beha

[2019-02-12 18:34] thaystg commented on #12843
Of course, I would like to know what setting triggered it either! Let's wait some days.

Thanks,

Thays

[2019-02-12 18:42] Anipik commented on #12690
@lambdageek is there any other way(other than using msi installer) to install mono on windows machine ?
We want to run machine learning tests on mono  as part of our ci. On these ci machine, using these msi-installers in not possible

[2019-02-12 18:49] danmosemsft commented on #12690
@Anipik if it's an actual MSI did you try the silent flag?
 eg
`msiexec /i C:\setup.msi /qn /norestart`

[2019-02-12 19:47] #10782 closed

[2019-02-12 20:38] lewing commented on #12917
@marek-safar I can reproduce with the mono/linker master 6b87e44f

adding <type fullname="System.Linq.Queryable*" /> to Linker.xml should work around the issue while we investigate.

[2019-02-12 20:59] MagicAndre1981 commented on #10488
@gautambjain @roceh

15.9.7 has the fix:

https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.9.7

[2019-02-12 21:05] lambdageek commented on #11350
https://gist.github.com/lambdageek/bf268c3e037dacfafb0e1734dee0b397 Standalone repro based on https://github.com/dotnet/coreclr/pull/20546/files

The test mostly exercises virtual calls.  We get about a half dozen of them wrong.

Don't know yet if it's because vtable setup is long or if the JIT dispatching the calls to incorrect slots.  My bet is that it's the vtable setup.

[2019-02-12 21:22] lambdageek commented on #11320
This is a bug in the info that we pass along when SRE bakes a type that we will run.  SRE.Save correctly writes out the modifiers.  Although the order is suspicious in `ikdasm` (but not in `monodis`!):

[code]

(the modopt order is reversed, the modreq order seems correct).  Not sure if that matters.  Or maybe it's `ikdasm` that's reversing the order.

If I load the saved assembly, I get the expec

[2019-02-12 21:27] lambdageek opened #12973 "ikdasm: custom modifiers in reverse order"
Compile and run the following program `mono Repro.exe 1`, then `ikdasm A.dll`

[code]

### Current Behavior

I see the following for the field `F` in class `C`:

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

n/a

[2019-02-12 21:44] lambdageek commented on #12422
Standalone repro gist https://gist.github.com/lambdageek/0271a0bb3a46b6f889cd478d2d5e3df2

Still fails on `master` ac5ab1a7efe

[2019-02-12 21:47] alexischr commented on #12557
This has showed up on Android when there were problems loading the library other than the library file missing. CentOS may have similar constraints on dynamic loading/linking. I am suspecting you may need this commit: https://github.com/mono/mono/pull/12963/commits/fcbbd95e9b49f47495fcd6c94ac49362519064f5
and/or a variation of this one: https://github.com/mono/mono/pull/12963/commits/955f873549d50

[2019-02-12 22:09] lambdageek commented on #10564
Standalone repro gist https://gist.github.com/lambdageek/982e57262a8dffe3e19fda6141a67e11

This appears to be passing with `master` ac5ab1a7efe

Output is:
[code]

(and monodis of the repro .exe shows the expected modopts on the property - but that part isn't really mono-related - just means Roslyn is working correctly)

[2019-02-12 22:18] lambdageek commented on #10564
Hmm.  Actually now I'm not so sure.

1. The expected failure is a serialization exception of some sort - nothing to do with what my repro is doing.
2. The repro could be passing for the wrong reasons - namely - there is nothing ambiguous in the way the vtable is set up here - there's only one method of each name and if you drop the modifiers completely everything will still line up nicely.

I thin

[2019-02-13 00:15] lewing commented on #12917
Simple test case for the linker

[code]

[2019-02-13 00:29] lambdageek commented on #12422
vtable looks ok.  (but everything in this example is `newslot`, so that's not surprising).  Need to see what happens in method-to-ir

[code]

with `MONO_METHOD_VERBOSE=Main`, I see

[code]

So it looks like method-to-ir picked the wrong method for the call to `M` (has both `IsLong` and `IsConst`, should've been the one with just `IsConst`)

[2019-02-13 03:21] jeromelaban opened #12981 "Transform.c:2856, condition `<disabled>' not met"
When running a wasm binary under the interpreter with debugging enabled, the following error can occur:
[code]

## Steps to Reproduce

1. In Visual Studio 2017/2019, open [this solution](https://github.com/nventive/Uno.Xaml-Controls-Gallery/blob/uno/XamlControlsGallery.Windows/XamlControlsGallery.sln) at commit https://github.com/nventive/Uno.Xaml-Controls-Gallery/commit/f1be090d0183f49c9ad697b902

[2019-02-13 03:32] lewing opened #12982 "[WASM][Debugger] breakpoint setting regression"
Breakpoints behavior in the wasm debugger has regressed it appears to be related to #12902 but I'm verifying now.

[2019-02-13 07:24] LeeMSilver commented on #12918
As a workaround I used ILSpy to copy the Types directly referenced by Mono.Security into the project. After each Type was copied I then copied the Types that were in error that the directly-referenced types referenced, until all the errors were resolved. This amounted to about 40 types being added (about 4 hours work).

Mono.Security had about 10 Types directly referenced - other projects having D

[2019-02-13 07:32] petlof commented on #12557
/usr/lib64/libmono-system-native.so
/usr/lib64/libmono-profiler-aot.so
/usr/lib64/libmono-btls-shared.so
/usr/lib64/libmonoboehm-2.0.so
/usr/lib64/libmono-profiler-log.so
/usr/lib64/libmono-llvm.so
/usr/lib64/libmonosgen-2.0.so
/usr/lib64/libmono-profiler-coverage.so
/usr/lib64/libmono-2.0.so

[2019-02-13 08:55] omfgicbf commented on #10435
I am able to reproduce this using Mono 5.18.0.240 on Windows

[code]

Is there a way to work-around this? I can't seem to catch this exception, which is a bit of an issue, as it brings down the process.

[2019-02-13 09:26] BrzVlad commented on #12935
No. Probably just a test that needs PerformNoPinAction as we do in mini/TestHelpers. Even in that case we might not guarantee 100% the finalization of the objects.

[2019-02-13 09:29] marek-safar commented on #12981
/cc @lewurm @BrzVlad

[2019-02-13 10:15] rayalex commented on #10435
@omfgicbf I was unable to find a solution within Mono and unfortunately haven't had the time to debug the issue and offer a PR so far.

Possible workaround would be placing a proxy (e.g. HAProxy) in front of the server to sanitize the request and make sure necessary Header is provided.

[2019-02-13 11:41] SSELLIOTTHOME commented on #12843
I noticed one difference, I had the debug thread window open when I ran the test. With it open on two machines I replicated the problem. Resetting visual studio would have closed this. This may be a Visual Studio problem instead.

Kind Regards

Steven

[2019-02-13 11:44] marek-safar commented on #12675
@MaximLipnin could you track down commit which would need to be backported?

[2019-02-13 12:00] MaximLipnin commented on #12675
@marek-safar It looks like that there was a try  https://github.com/mono/mono/pull/12622#issuecomment-461405510

[2019-02-13 12:12] roointan opened #12983 "libmonobdwgc-2.mono_class_vtable_full exception causing Android Unity game crash"
I'm a developer of a mobile game, and we have Crashlytics in our game.
For the latest release for Android, we are having crash reports.
Any advice on how to find the root cause, and fix the problem is appreciated.

## Steps to Reproduce
I don't still know how to reproduce this exception, because we are just receiving exception logs in Crashlytics.

This error happens on a wide range of Anroid devi

[2019-02-13 13:09] Lazys commented on #12577
Maybe I'm asking the obvious, but what means "new HttpClient"? I've got the same problem in Xamarin.Forms, I've updated all nugget packages, but it seems that the problem is still there. I don't see any milestones in this issue, so can anybody tell me when I can expect the fix? Or is there any workaround for this? It's quite blocking bug.

[2019-02-13 13:28] oOGenosOo commented on #12577
We need a new version of xamarin forms that use the new mono packages.... considering that an update of the mono FW of the entire xamarin forms need a bunch of tests we need to wait at least till the end of the month.

[2019-02-13 13:29] MaximLipnin commented on #12675
After applying change from #12622 to 2018-10 and resolving a conflict I have a build issue:
[code]

[2019-02-13 13:40] MaximLipnin commented on #12675
`mono_class_from_mono_type_internal` hasn't been backported as part of https://github.com/mono/mono/pull/11078 to 2018-10.

[2019-02-13 16:04] lambdageek commented on #11395
There are, in general, a few classes of bugs represented here:

* Incorrect virtual calls even when the vtable is correct (#12422)
* Possibly incorrect vtable layout (#11350)
* A couple of Roslyn infrastructure bugs (#10564/#10565) - when I extract them into standalone tests, they appear to pass.
* SRE.Run doesn't seem to bake custom mods (#11320)
* Tooling (#12973)

I think these are roughly in t

[2019-02-13 16:06] jeromelaban opened #12987 "[WASM] VTable setup of type Windows.UI.Xaml.ObservableVectorListWrapper failed"
_Note: I tried to create a repo sample, but with the exact same hierarchy that fails in the solution, the repro does not._

## Steps to Reproduce

1. Clone [this solution](https://github.com/nventive/Uno.Xaml-Controls-Gallery/blob/uno/XamlControlsGallery.Windows/XamlControlsGallery.sln) at commit https://github.com/nventive/Uno.Xaml-Controls-Gallery/commit/f1be090d0183f49c9ad697b90215e69324f99285.

[2019-02-13 16:09] jeromelaban opened #12988 "[WASM] LLVM failed for 'ObservableCollectionExtensions.InternalUpdate': incoming phi sreg1"
## Steps to Reproduce

1. Clone [this solution](https://github.com/nventive/Uno.Xaml-Controls-Gallery/blob/uno/XamlControlsGallery.Windows/XamlControlsGallery.sln) at commit https://github.com/nventive/Uno.Xaml-Controls-Gallery/commit/f1be090d0183f49c9ad697b90215e69324f99285.
2. In the folder `XamlControlsGallery.Wasm`, under linux run `msbuild /r`

### Current Behavior
LLVM fails to compile with

[2019-02-13 16:29] akoeplinger commented on #12956
Fixed by https://github.com/mono/mono/commit/78f05bcfa3038dd7d9a20384dc53e9d8a423b2aa

[2019-02-13 16:29] #12956 closed

[2019-02-13 19:52] lewing commented on #12916
[code]

[2019-02-13 20:11] lambdageek commented on #12422
This boils down to a `mono_metadata_signature_equal` comparison (when searching for the appropriate `M` method in the metadata, given its token) where we're ignoring the custom modifiers and returning TRUE for `byte modopt(IsConst)` vs `byte modopt(IsLong)  modopt (IsConst)` due to the work in #11134.

So it's all related.

I wonder if we need a strict (custom modifier respecting) equality compari

[2019-02-13 20:12] Jasonkingsmill commented on #12626
We appear to be running into this issue also, specifically when multiple queries are executed from separate tasks, called immediately after one another. I suspect we are running into the concurrency issue @marek-safar referred to.

Some equivalent code:
[code]

The actual user code that throws the exception:
[code]

StackTrace:
[code]

Are there any possible workarounds here?

EF Core version: 2.1

[2019-02-13 20:28] lewing commented on #12916
This appears to be coming from runtime.win-x86.runtime.native.system.data.sqlclient.sni/4.4.0/runtimes/win-x86/native/sni.dll and cecil throws an exception because there is no CLI header for this native windows dll

[2019-02-13 21:52] lambdageek commented on #12422
Have to be careful about fixing this without breaking #10945 again - both issues depend right now on conflicting type equivalence checking - this issue wants cmods considered, but 10945 wants the cmods ignored.  So any fix here has to be vetted against 10945 (which unfortunately we don't have a concise standalone reproduction for yet)

[2019-02-13 22:02] lambdageek commented on #11350
From #12422 we now know that sometimes even if the vtable is correct, method-to-ir will incorrectly translate a `callvirt` (when it looks up a token to get a MonoMethod the signature equivalence uses a type equivalence that is insufficiently strict about cmods).

So there are two steps to working on this bug:
1. turn on vtable debug printing and check whether the correct methods are going in the v

[2019-02-13 22:20] benbek commented on #12955
Hey there, I'm the OP in the Developer Community.
I'll be happy to supply any information needed in hope for a quick turnaround.

Thanks, @jtorres!

[2019-02-14 01:33] dalefugier opened #12995 "WCF - FaultException with FaultCode causes CommunicationException on client"
If a WCF server, running on Windows, throws a `FaultException` that contains a `FaultCode` to a WCF client, running on macOS, a `CommunicationException` is caught, not the expected `FaultException`.

Note, this is a **regression** an earlier version of Mono. I've tested against Version 4.0.2.

## Steps to Reproduce

You can find source to a simple example that reproduces his behavior here:

https:

[2019-02-14 02:10] kg opened #12996 "Internal obsolete `System.Net.Http.StreamContent` constructor and Mono-specific cancellation behavior."
Edit (Martin): Let's use this issue to consolidate and track all the status of this issue.   I will keep this updated with the current status.

------------------------------------------------------------------------------------------------------

Looks like we probably changed StreamContent around and as a result the .ctor this code needs is missing?

[code]

https://devdiv.visualstudio.com/DevDi

[2019-02-14 02:22] techcap commented on #8733
On v5.18.0.240, it hangs.

[2019-02-14 03:43] jeromelaban opened #12998 "[WASM] llvmonly-runtime.c:804, condition `<disabled>' not met"
## Steps to Reproduce

1. Clone [this solution](https://github.com/nventive/Uno.Xaml-Controls-Gallery/blob/uno/XamlControlsGallery.Windows/XamlControlsGallery.sln) at commit https://github.com/nventive/Uno.Xaml-Controls-Gallery/commit/f1be090d0183f49c9ad697b90215e69324f99285.
2. In the folder `XamlControlsGallery.Wasm`, under linux run `msbuild /r /p:Configuration=Release`, it will generate an AOT

[2019-02-14 03:50] JinShil commented on #11093
This appears to no longer be an issue in 5.18.  I'm not sure what changed.

[2019-02-14 05:50] danroth27 opened #13002 "Environment.OSVersion should detect the OS through the browser when running on WebAssembly"
It looks like `Environment.OSVersion` returns "Unix 1.0.0.0" when running on wasm. Perhaps it should instead reflect the value of [window.navigator.platform`](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID/platform), or whatever is the most reliable way to detect the OS from a browser?

[2019-02-14 05:51] danroth27 commented on #13002
@kjpou1

[2019-02-14 08:40] marek-safar commented on #12998
/cc @vargaz

[2019-02-14 12:42] rolfbjarne opened #13006 "[2018-08] [watchOS/LLVM] Test crash"
## Steps to Reproduce

1. Clone & build the 2018-10 integration branch: https://github.com/xamarin/xamarin-macios/pull/4904
2. Run xharness, and run the `dont link / watchOS - device / Release` test.

### Current Behavior

Test crash:

[code]

Full crash report: https://gist.github.com/rolfbjarne/e93b9f0db3e03b358516a7858ec717a7

Full test run output: https://gist.github.com/rolfbjarne/9ce418682da

[2019-02-14 13:29] jeromelaban commented on #12998
So the reason this happens is because at :

https://github.com/nventive/Uno/blob/d4a39e61e2b289c942725402fdddca90e23ef76e/src/Uno.UI/UI/Xaml/Controls/NavigationView/NavigationView.cs#L1921

m_itemsRemovedFromMenuFlyout is null.

[2019-02-14 13:56] #8486 closed

[2019-02-14 15:30] luhenry commented on #13006
/cc @lewurm @vargaz

[2019-02-14 15:34] lewurm commented on #13006
I'm on it, but I've troubles reproducing it:
https://gitter.im/xamarin/xamarin-macios?at=5c657aae604f233ab60bee3a

[2019-02-14 15:41] dalefugier commented on #12995
If you'd rather not clone the repo, that contains the sample that replicted the issue, here is the solution:

[Echo.zip](https://github.com/mono/mono/files/2865723/Echo.zip)

Thanks,

-- Dale

[2019-02-14 16:21] kjpou1 commented on #13002
@danroth27 I may have jumped the gun on this one.  The [Environment.OSVersion](https://docs.microsoft.com/en-us/dotnet/api/system.environment.osversion?view=netframework-4.7.2) is actually made up of a [PlatformID enum](https://docs.microsoft.com/en-us/dotnet/api/system.platformid?view=netframework-4.7.2).

Even if we did put some code in to try to parse the operating system the problem with this

[2019-02-14 16:31] danroth27 commented on #13002
Yes, I am aware of this, but I just thought it would be more useful than always returning "Unix 1.0.0.0"

[2019-02-14 16:49] msollicito opened #13011 "I still have this issue - can someone tell me how to get the fix?"
## Steps to Reproduce
See https://github.com/mono/mono/issues/9996

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ x] Linux  Raspbian Pi
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-02-14 17:05] marek-safar commented on #12996
/cc @baulig could you investigate

[2019-02-14 17:07] marek-safar commented on #12675
Could you check if it also works with 2019-02

[2019-02-14 17:09] #12973 closed

[2019-02-14 17:13] NattyNarwhal commented on #13002
See these Core issues: https://github.com/dotnet/corefx/issues/23989 https://github.com/dotnet/corefx/issues/30706

[2019-02-14 17:55] kjpou1 commented on #13002
I totally agree and the reason why I jumped on it so fast.

[2019-02-14 18:45] baulig commented on #12996
See my comment in https://github.com/mono/monodevelop/issues/7155#issuecomment-463743960.

[2019-02-14 20:22] EgorBo commented on #13011
@msollicito could you please share more details on your environment, mono version and logs/stacktraces?
The fix is available in Mono 5.18

[2019-02-14 20:24] EgorBo commented on #12995
Duplicates https://github.com/mono/mono/issues/10304

[2019-02-14 23:35] dalefugier commented on #12995
@EgorBo , @marek-safar, I'm hoping I can get come clarification on why the issue was marked as `Duplicate` and `Closed`. The linked issue ([10304)](https://github.com/mono/mono/issues/10304) is related to Android, not macOS. And I'm using a fairly new, stable version of Mono. Is it possible to get someone to  to test my `Echo` test harness with Xamarin.Mac 5.7 and confirm? If not, how can I get Xa

[2019-02-14 23:58] omfgicbf commented on #10435
@rayalex Thanks, I've done that and it's working for the moment.

I spent some more time trying to catch the exception (or even just detect the condition and throw something else beforehand) but couldn't get anything to work.

I'm probably missing something, but isn't this a big deal? It seems anyone using Mono from at least 5.4 through 5.18, on Windows or Linux, and using OWIN, cannot prevent som

[2019-02-15 06:54] vargaz commented on #12987
This is a linker problem, it removes the
ObservableVectorWrapper::add_VectorChanged method, which is needed by a subclass (ObservableVectorEnumerableWrapper) to implement the IObservableVector interface.

[2019-02-15 08:23] MaximLipnin commented on #12675
I've checked it on 2019-02/55c62ea3992 (macos) and it works as expected.

[2019-02-15 08:28] #12675 closed

[2019-02-15 08:40] marek-safar commented on #12996
@baulig we need to bring it back as it's breaking things

[2019-02-15 12:25] kishorepolepalli commented on #12816
Use below code to get Alignment trap: on armv5

[https://bugzilla.xamarin.com/attachment.cgi?id=16785](url)

Steps:
wget -q https://bugzilla.xamarin.com/attachment.cgi?id=16785 -O Program.cs
mcs Program.cs /r:System.Net.Http.dll
mono Program.exe

Output:
Alignment trap: mono (773) PC=0xb473b49c Instr=0xe59b106d Address=0xbeeaed0d FSR 0x001
Alignment trap: mono (773) PC=0xb473b508 Instr=0xe59b206e

[2019-02-15 14:19] karoldeland commented on #10222
@DierkDroth @jeromelaban According to performance, we should moderate the expectation on mono perf directly since wasm seems to be slower than native code yet.
https://arxiv.org/abs/1901.09056?utm_medium=email&utm_source=topic+optin&utm_campaign=awareness&utm_content=20190209+programming+nl&mkt_tok=eyJpIjoiTVRSaVltUmtOV0kwWWpZeCIsInQiOiIwMEVQMEVEYmNOeE5VQ1wvVTRoWTg5MlpCenpDelVEb3BmMlNjYkszNFJ6T1Uy

[2019-02-15 14:50] EgorBo commented on #12995
@dalefugier the linked issue is cross-platform including Xamarin.Mac, see https://github.com/mono/mono/issues/10304#issuecomment-450736756
I'll check your repro case just in case

[2019-02-15 15:03] #12316 closed

[2019-02-15 15:17] stefan-schweiger commented on #10222
@karoldeland That would still be multiple times faster than the current interpreter implementation.

https://github.com/stefan-schweiger/bakkBenchmark

But you should always expect a certain performance overhead with WebAssembly, and I'm sure mono will also add a bit to that. Even under ideal circumstances I wouldn't expect to get anything better than a 3-5x slowdown with AOT for most code when co

[2019-02-15 15:39] baronfel opened #13028 "`FSharpType.IsUnion` broken inside of F# Interactive due to missing `System.Reflection.Emit.AssemblyBuilder.ReflectionOnly` implementation"
## Steps to Reproduce

For the FSAutoComplete project (language server tooling for F#) we run a suite of integration tests in F# Interactive to test various editor tooling features like linting, autocompletion, tooltips, and error reporting. We run these tests against a travis CI test suite that covers (on linux) mono versions 5.18, latest (5.18 right now) and weekly (6.1.0.82-0nightly1+ubuntu1604

[2019-02-15 17:38] alexanderkyte opened #13029 "[perf] Much slower GetMethod and GetField than .NET Core"
There is a whole suite in which .NET Core runs in 0.02 times the time that mono takes to run the suite. This suite is the PerfLabTests

- .NET Core takes  `101130.602 ms`
- Mono with AOT takes `4520483.984 ms`
- Mono's JIT with LLVM takes `3938013.177 ms` to run (warmed-up) code

The benchmark is GetMethod from the GetMethod harness.

https://github.com/dotnet/performance/blob/b464901f239b7b2f63d2

[2019-02-15 18:01] baulig commented on #12996
We also need to carefully distinguish between the _constructor_ and the _behavior_ (*) here.

Bringing back the constructor alone is unacceptable - it's either a trivial fix for them to change their code or they're relying on the _behavior_; in which case we'd artificially cause trouble and make people waste their time by hiding a problem.

So the only thing that really makes sense is to bring bac

[2019-02-15 18:02] karoldeland commented on #10222
@stefan-schweiger you're right. Still lot of space for improvement.

[2019-02-15 18:05] legistek commented on #10222
I'm sure you're all sick of being asked this, so sorry. :) But what's the ETA on when we might be able to try AOT compiled C# -> Webassembly using a Windows-friendly toolchain?

[2019-02-15 18:05] akoeplinger opened #13030 "Directory.GetLogicalDrives () missing SystemNative_GetAllMountPoints pal function"
## Steps to Reproduce

1. Run `Directory.GetLogicalDrives ()`
2. Observe EntryPointNotFoundException

This is due to the corefx code that landed as part of https://github.com/mono/mono/pull/11342.

### Current Behavior

[code]

### Expected Behavior

No exception.

## On which platforms did you notice this

[X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

[2019-02-15 18:05] akoeplinger commented on #13030
/cc @alexischr

[2019-02-15 18:05] luhenry commented on #13029
/cc @lambdageek

[2019-02-15 18:09] rayalex commented on #10435
@omfgicbf I don't think we're missing anything, in hindsight I should have been more diligent when reporting this 😅

@marek-safar @baulig I'm not sure if you guys are the right people to tag here, but can we maybe assign a priority to this one considering the implications of the issue?

[2019-02-15 18:13] baulig commented on #12996
PR for a _temporary_ hot-fix is up: https://github.com/mono/mono/pull/13032.

Please keep this issue open even after that PR is merged, so we can discuss and work towards a more permanent solution.

[2019-02-15 19:02] baulig commented on #12996
See also https://github.com/mono/monodevelop/issues/7155#issuecomment-463969423.

[2019-02-15 19:06] baulig commented on #10435
Does CoreFx / .NET Core have the same problem?  If it does, then could you please report it there?

Since the code bases are very similar, I think it would make most sense to first get this fixed in CoreFx because then can can just copy their version.

[2019-02-15 19:13] Awr0ra commented on #12916
and what should i do to run my app?

[2019-02-15 21:32] vargaz commented on #12987
https://github.com/mono/linker/issues/465

[2019-02-16 00:56] SQL-MisterMagoo commented on #8216
Hi, is this change likely to happen? I'm guessing more and more projects will hit this as Blazor takes off.
Does this issue need more support?

[2019-02-16 02:51] omfgicbf commented on #10435
@baulig I was unable to reproduce in .NET Core, however, it seems that the issue is somehow related to Katana. Perhaps this should be raised over in AspNetKatana? Though they may not pick it up as the issue does not occur when running with .NET Framework.

`OwinHttpListener.ProcessRequestAsync` eats exceptions raised during processing, and calls `End` on the `OwinHttpListenerContext` (which eventu

[2019-02-16 08:37] mihail-shishkov commented on #10222
Here is a demo of Steve at NDC London 2019. He is showing off the AOT, https://youtu.be/Qe8UW5543-s?t=3167

[2019-02-16 12:24] leezer3 opened #13043 "GdipCreateBitmapFromFile crashes with one PNG"
## Steps to Reproduce

[broken.zip](https://github.com/mono/mono/files/2871877/broken.zip)
Attempt to load the zipped PNG image using the following code:
`bitmap b = new System.Drawing.Bitmap(filename)`

libgdiplus crashes on Mac with the stacktrace below.
( Called from here: https://github.com/leezer3/OpenBVE/blob/master/source/Plugins/Texture.BmpGifJpegPngTiff/Plugin.Parser.cs#L20 , I don't even

[2019-02-16 12:43] legistek commented on #10222
He's showing off AOT generally but I don't think he's showing off .NET compiled AOT - let alone compiled through a Windows toolchain. I hope we're not going to be expected to use mingw just to develop Blazor apps.

[2019-02-16 13:48] #12964 closed

[2019-02-17 12:02] ztzg commented on #9631
We did observe the same symptoms on a project which does not involve Windows Forms.  Here is an analysis and "hacky" workaround:

https://github.com/ztzg/mono/commit/61780a2d26e2

(Switching from 5.16 to 5.18 "fixed" the issue for us, but I believe it was purely incidental and could show up in other circumstances.)

Also linking to https://stackoverflow.com/q/51114767, "Debugging a memory leak in

[2019-02-17 17:29] EgorBo commented on #13030
Didn't we have a script that checked pinvokes?

[2019-02-17 22:46] akoeplinger commented on #13030
I've never seen one but on XI it's kinda implicitly checked since all pinvokes are required to exist (I found it during 2019-02 integration).

I agree it would be nice to have!

[2019-02-18 07:37] bskimaa opened #13048 "mono"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-02-18 07:37] #13048 closed

[2019-02-18 08:18] michaldobrodenka commented on #12843
Could this issue related to my crashes? 80% of my mobile app crashes is this. Xamarin.Android, 9.1.7, Using websocket-sharp.

`MobileAuthenticatedStream+<StartOperation>d__58.MoveNext()`
android.runtime.JavaProxyThrowable: System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was r

[2019-02-18 08:24] bskimaa opened #13049 "System.ArgumentException: A null reference or invalid value was found [GDI+ status: InvalidParameter]"
## Steps to Reproduce

1. apt-get install mono-complete     <---- install mono
2. vi hellowin.cs                                 <---- edit a cs file
using System;
using System.Drawing;
using System.Windows.Forms;

public class HelloWorld : Form
{
    static public void Main ()
    {
        Application.Run (new HelloWorld ());
    }

    public HelloWorld ()
    {
        Button b = new Button ()

[2019-02-18 09:30] marek-safar commented on #13011
@msollicito please share the details on the original issue tracking issue

[2019-02-18 09:30] #13011 closed

[2019-02-18 09:31] marek-safar commented on #12983
/cc @lambdageek

[2019-02-18 09:47] marek-safar commented on #12900
I have updated the doc and will update the man page as well

[2019-02-18 10:09] SSELLIOTTHOME commented on #12843
This only happens if I have the threads window open and f10 as mentioned above. After subsequent investigation I have the same issue with the sql-net-pcl async library as well. I think this is a debugger/visual studio issue.

[2019-02-18 11:02] #12255 closed

[2019-02-18 13:58] marek-safar commented on #10945
Closing this again as it was confirmed as misconfiguration on Roslyn side

[2019-02-18 13:58] #10945 closed

[2019-02-18 14:06] #12842 closed

[2019-02-18 14:08] bpiepiora commented on #9631
Thanks @ztzg for the workaround! Since we are deploying this in a fixed environment, the patch can definitely help us.

Btw: I tried 5.18.0.225 and 5.18.0.240 and both versions have the memory leak. Also the problem only seems to apply to ARM machines, which is following your commit description as far as I understand.

So how can we go on from here? I can't decide how "hacky" your workaround truly

[2019-02-18 15:48] ztzg commented on #9631
Hi Benjamin,

Not sure about the patch, but at least you have a credible diagnostic
for what you are observing.

The root cause is that SGen still scans stacks conservatively—
independently of the platform.  But yes, the ARM backend having such a
large initialized "hole" in its LMF certainly doesn't help.

The fact that it still happens on 5.18 in your case probably means that
you are hitting it v

[2019-02-18 17:05] lewing commented on #12982
Not the issue I thought it was

[2019-02-18 17:05] #12982 closed

[2019-02-18 17:08] rolfbjarne commented on #13006
Interestingly I can't reproduce this using arm64_32 (from https://github.com/xamarin/xamarin-macios/pull/5465), but it reproduces using armv7k from that same PR (which means this is not something new in 2018-10, since that branch is based on 2018-08).

I wonder if this is yet another example of the app being too big for armv7k, causing random behavior (although in this case the problem is 100% rep

[2019-02-18 17:37] akoeplinger commented on #13002
There's also https://github.com/dotnet/corefx/issues/27417 which is related.

[2019-02-18 17:45] vargaz commented on #13006
I'd still suggest removing dontlink on watchos.

[2019-02-18 18:56] akoeplinger commented on #12354
This should be obsolete once the 2018-10 integration lands since starting with that the tests embed all files inside of the test assembly itself.

[2019-02-18 18:58] akoeplinger commented on #12356
Duplicate of https://github.com/mono/mono/issues/12354

[2019-02-18 18:58] #12356 closed

[2019-02-18 18:59] akoeplinger commented on #12376
Duplicate of https://github.com/mono/mono/issues/12354

[2019-02-18 18:59] #12376 closed

[2019-02-18 19:04] akoeplinger commented on #12384
Duplicate of https://github.com/mono/mono/issues/12354.

2018-10 does include the test assembly for the monotouch_watch profile.

[2019-02-18 19:04] #12384 closed

[2019-02-18 19:05] akoeplinger commented on #12417
Duplicate of https://github.com/mono/mono/issues/12354

[2019-02-18 19:05] #12417 closed

[2019-02-18 19:14] akoeplinger commented on #9009
Backported #12272 to 2018-10 which will be our next release, 2018-08 is already closed.

[2019-02-18 19:19] akoeplinger commented on #9009
@nealef I think only the PIE issue is left, should we extract that one into a new issue?

[2019-02-18 19:21] nealef commented on #9009
Didn't that get fixed? Or are you looking at backporting it?

[2019-02-18 19:22] akoeplinger commented on #9009
I was just going through some open issue, do you happen to know the PR which fixed it?

[2019-02-18 19:26] nealef commented on #9009
37d6cde0ee0ea6b788cd367040609bf741aa3269 ?

[2019-02-18 19:30] akoeplinger commented on #9009
Hmm, that commit is from December 2016 so should long be in master.  Just to make sure we're on the same page, I'm talking about what you mentioned in https://github.com/mono/mono/issues/9009#issuecomment-451269331

[2019-02-18 19:36] nealef commented on #9009
But last time you said you got a clean build with Ubuntu I don't think I had made any other changes. Is it failing now?

[2019-02-18 19:45] akoeplinger commented on #9009
It builds on [Jenkins](https://jenkins.mono-project.com/job/test-mono-mainline-community/label=centos-s390x/) and since you don't need any additional changes I'll just assume @directhex will upstream anything he needs separately :)

[2019-02-18 19:45] #9009 closed

[2019-02-18 20:11] #10772 closed

[2019-02-18 20:15] lewing commented on #12347
I believe this is fixed now that #12540 is in. If it is isn't please reopen the issue and attach a test case.

[2019-02-18 20:15] #12347 closed

[2019-02-18 20:34] flaviut commented on #13049
Quite a few people are also running into this issue:

- https://stackoverflow.com/q/19417225
- https://stackoverflow.com/q/37656985
- https://stackoverflow.com/q/28674759 -- one of the answers here actually diagnosed the issue, although they didn't have a patch.
- https://sourceforge.net/p/keepass/discussion/329221/thread/4ab5e244/#fdef
- https://bugzilla.xamarin.com/show_bug.cgi?id=2734

[2019-02-18 20:36] lewing commented on #12586
moved to linker

[2019-02-18 20:50] sbrl commented on #12900
Thanks, @marek-safar!

[2019-02-18 21:20] radical commented on #12603
@marek-safar Both `4.5.1` and `4.5.0` nugets are not listed here - https://github.com/mono/mono/blob/master/tools/nuget-hash-extractor/download.sh#L42

Looking at their MVIDs, they are not listed either. I can add those two. Any other versions to be covered?

[2019-02-19 03:30] steveisok commented on #12676
I've done a little bit of digging and I think I discovered the issue and some options to fix it.

## Startup Conditions
1. MONO_PATH is set and the gac skipped (that's how the unit tests are run)

1. Webforms creates a child domain that disables loading from the process's bin dir, enables shadow copying, and has, at some point, the shadow copy directory value set (app path).

1. The new bin direct

[2019-02-19 04:12] frankseide opened #13055 "`g_error()` must not write to `stdout`"
### Current Behavior

I am using mono to run a large text-conversion tool that reads from `stdin` and writes to `stdout` via `Console`. Each run of the tool writes out about 11 GB of text lines which are generated using string operations and LINQ expressions and PLINQ. The tool is a single-source file C# program using no non-standard libraries, that was compiled with Visual Studio on Windows (defa

[2019-02-19 05:34] bwadswor opened #13056 "AV inside mono_local_cprop+0x23f"
## Steps to Reproduce

1. Assemble this app.  ("ilasm  mono_local_cprop_av.il")

[code]
2. run said app..  "mono-sgen.exe  mono_local_cprop_av.exe"
3. observe AV

### Current Behavior

Hits an access violation.

### Expected Behavior

exit code 0.
Expected behavior occurs on full .net framework and coreclr.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[X86] Windows

**Version Us

[2019-02-19 05:34] bwadswor opened #13057 "AV inside mono_local_emulate_ops+0x43"
## Steps to Reproduce

1. Assemble this app.  ("ilasm mono_local_emulate_ops_av.il")

[code]
2. run said app..  "mono-sgen.exe mono_local_emulate_ops_av.exe"
3. observe AV

### Current Behavior

Hits an access violation.

### Expected Behavior

exit code 42.
Expected behavior occurs on full .net framework and coreclr.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[X86] Windows

*

[2019-02-19 09:13] slluis commented on #12955
@marek-safar this is a regression. Is there any chance this can be fixed before 6.0?

[2019-02-19 09:31] marek-safar commented on #12955
@slluis we'll try to land it to 2018-08

[2019-02-19 09:58] CrazyAlex25 commented on #11643
mono-6.1.0.170-gtksharp-2.12.45-win32-0  is same error;

[2019-02-19 10:41] jaykrell commented on #11643
Worse/different:
[code]

[2019-02-19 10:42] jaykrell commented on #11643
Both of the provided ..zip files, presumably mkbundle output, depend on mono-2.0-sgen.dll, and fail to run on a system w/o mono installed.

[2019-02-19 10:43] CrazyAlex25 commented on #11643
Copy mono-2.0-sgen.dll to folder where you .exe

[2019-02-19 10:47] jaykrell commented on #11643
But mkbundle output isn't supposed to require mono be installed at all, right?
The .zips provided, one is x86, one is amd64. I'll install those monos and see.

[2019-02-19 10:50] jaykrell commented on #11643
[code]

[2019-02-19 10:50] marek-safar commented on #13055
/cc @lambdageek

[2019-02-19 10:53] CrazyAlex25 commented on #11643
Mono must be installed in host system. It needed for create bundle.
mkbundle with --simple flag just join mono.exe and dependens assemblies.
For example
[code]
But for run mono.exe needed mono-2.0-sgen.dll

[2019-02-19 11:00] rolfbjarne commented on #13006
Actually it's not. I enabled the linker for the dontlink project, and it still crashes (in a different place though). Crash report is quite unhelpful:

[code]

The arm64_32 version continues to work fine, as does Debug.

[2019-02-19 11:03] jaykrell commented on #11643
KERNELBASE!CreateFileMappingW:
00007ffd`0a449de0 4883ec48        sub     rsp,48h
0:000> dv
                  hFile = 0x00000000`0000022c
lpFileMappingAttributes = 0x00000000`00000000
              flProtect = 2
      dwMaximumSizeHigh = 0
       dwMaximumSizeLow = 0x477000
                 lpName = 0x00000000`00000000 ""

PAGE_READONLY

KERNEL32!MapViewOfFileStub:
00007ffd`0b09bfa0 48ff2591c10500

[2019-02-19 11:07] jaykrell commented on #11643
Right.
So if in the call CreateFileMappingW, you increase dwMaximumSizeLow by the later value of dwFileOffsetLow, then it gets further and reports:

[code]

So the problem is clear.

[2019-02-19 11:28] CrazyAlex25 commented on #11643
[code]
And its work with ubuntu 18.04, ubuntu 16.04, astralinux 1.5, astralinux 1.6
But not work if target windows. Maybe incorrect code align?

[2019-02-19 11:29] jaykrell commented on #11643
Here is the help mail and virtual explanation I sent:

[code]

[2019-02-19 11:29] jaykrell commented on #11643
i.e. mono_file_map_error needs to consider `length` to view `view_length` and compute a separate `filemapping_length` which is `offset` + `view_length`. I'll submit a PR shortly.

[2019-02-19 11:30] marek-safar commented on #12603
@radical add only non-preview versions. We are missing the update for other nugets and they should be updated as well.

[2019-02-19 11:33] CrazyAlex25 commented on #11643
@jaykrell Thx.

[2019-02-19 13:31] sjaenick commented on #12947
I'm getting the same error, but unfortunately also can't offer a test case; scenario is a bioinformatics workflow engine handling large amounts of data, crashes occur at resident sizes >50GB. I was able to track this to mono_valloc() returning NULL in the lock-free allocator (alloc_sb(), as also observed by @dbrody2004).

mono 5.18.0.240 compiled --with-xen_opt=no --with-large-heap=yes --disable-b

[2019-02-19 14:10] Therzok opened #13062 "Requesting a profiling heapshot should try to clear all objects retained by just ephemerons"
## Steps to Reproduce

1. Profile an application that contains ConditionalWeakTables and keys some object
2. Observe that only one root is found for an object, and that is an ephemeron
3.

### Current Behavior

<img width="1380" alt="screenshot 2019-02-19 at 16 09 12" src="https://user-images.githubusercontent.com/109974/53021016-e5e4e980-3460-11e9-9c58-ef6d548ac08a.png">

The object is held in me

[2019-02-19 14:23] #7246 closed

[2019-02-19 14:35] #6978 closed

[2019-02-19 14:45] marek-safar commented on #12557
@petlof we believe we have a fix already in for Mono 5.20. Could you re-test it for us?

[2019-02-19 14:55] BrzVlad commented on #12947
@sjaenick The problem is actually more complex because it is related with freeing of memory. Because if we have a mapping and we free some pages in the middle, we are left then with 2 mappings. Slowly this leads to fragmentation of the virtual maps. I assume changing that system limit makes it work for you ?

[2019-02-19 15:40] marek-safar commented on #10719
@rolfbjarne we have difficulties to reproduce it, could you double check it's still happening with 2018-10.

@akoeplinger could you please try as well

[2019-02-19 15:59] #12020 closed

[2019-02-19 18:08] lewing commented on #11848
This should be be fixed in the linker shipping with blazor 0.8.0

[2019-02-19 18:08] #11848 closed

[2019-02-19 18:13] kjpou1 commented on #9698
Closing this for now.  Please re-open if it is still causing problems.

[2019-02-19 18:13] #9698 closed

[2019-02-19 18:16] kjpou1 commented on #11115
Closing this for now.  Please re-open if needed.

[2019-02-19 18:16] #11115 closed

[2019-02-19 18:20] kjpou1 commented on #11026
Closing this for now.  Please re-open if this is still a problem.

[2019-02-19 18:20] #11026 closed

[2019-02-19 18:34] thiagobucca opened #13065 "SQL Server Connection Hangs when Timeout is Set on Connection String"
Hello, i'm experiencing a weird issue using latest version of mono with Visual Studio 8 (Preview) on macos (Latest)

I have a simple application that fetch some data from Sql Server Azure DB using SqlConnection from System.Data.SqlClient and whenever my connection string has the parameter "Connection Timeout=0" the connection just hangs and gets stuck forever. If i remove this flag from my connect

[2019-02-19 18:43] akoeplinger commented on #10719
I can't reproduce with the following XI version and instructions from https://github.com/mono/mono/issues/10719#issuecomment-423221279, it takes about 60-90 seconds to return from the method (presumably some timeout):

[code]

Same result with the 2018-10 version, though I've seen it take up to 160 seconds here:

[code]

Note: make sure to change the URL/domain if you ran with working internet oth

[2019-02-19 20:08] #12955 closed

[2019-02-19 20:56] radical commented on #12785
Could you please share a test project? Also, a full diagnostic log would be helpful. build with:

`$ msbuild /fl /flp:v=diag <sln/project file>`

.. and then attach the generated `msbuild.log`.

[2019-02-19 21:56] marek-safar commented on #13056
/cc @vargaz

[2019-02-19 21:57] marek-safar commented on #13057
/cc @vargaz

[2019-02-19 21:58] marek-safar commented on #10719
Thank you @akoeplinger!

[2019-02-19 21:58] #10719 closed

[2019-02-19 22:00] radical commented on #12785
I tried with a regular csproj with `TargetFrameworkVersion=v4.7.2` and a SDK project with `TargetFramework=net472`, and I was able to build both successfully with mono `5.18.0.240`.

[2019-02-19 22:20] marek-safar commented on #13065
/cc @EgorBo

[2019-02-20 01:31] #8515 closed

[2019-02-20 02:16] hardhub commented on #12785
I tried to build real solution where > 30 projects.
To get exactly desired sample I will need to make some work to find and reproduce.
It will take some valuable time.

[2019-02-20 10:23] dellis1972 opened #13081 "`--response` does not handle path separators on Windows."
As part of the Xamarin.Android effort to reduce the length of our command line arguments when calling the cross compilers we have tried to use `--response`. It seems to have a a few problems.
The first is that in order to use path separators within the response file you need to delimit them.
So `c:\Foo\Bar.dll` would need to be written as `c:\\Foo\\Bar.dll`. While this is not a huge problem it doe

[2019-02-20 10:31] dellis1972 opened #13082 "mono --response does not work with UTF8 response files (or characters)"
Related to https://github.com/mono/mono/issues/13081.

As part of the Xamarin.Android effort to reduce the length of our command line arguments when calling the cross compilers we have tried to use `--response`. If a user has non-Ascii characters in the path and/or they use a utf8 formatted file the response file will not be parsed correctly.

## Steps to Reproduce

1. Download and extract
[Respon

[2019-02-20 10:48] bpiepiora commented on #9631
Okay, thanks for the detailled answer. I am trying to isolate the part in my application, that causes the memory to grow.

As far as I understand now, the right solution would be to rework the GC. Is it realistic that this will be implemented in the future at all? I have no idea how much effort this would be.

[2019-02-20 10:54] dellis1972 commented on #13081
This might also be a problem on Mac given the following.
[code]

[2019-02-20 12:02] ztzg commented on #9631
Right; doing so is unfortunately far from trivial.

The initial plan was for SGen to support precise stack scanning.  From
sgen-mono.c:

    /* If set, mark stacks conservatively, even if precise marking is possible */
    static gboolean conservative_stack_mark = FALSE;

OTOH, it has been stuck like this since 2012:

    ///* Keep this the default for now */
    /* Precise marking is broken on al

[2019-02-20 12:13] akoeplinger commented on #12446
Doesn't repro anymore on mono-2018-10.

[2019-02-20 12:13] #12446 closed

[2019-02-20 12:14] akoeplinger commented on #12419
Doesn't repro anymore on mono-2018-10.

[2019-02-20 12:14] #12419 closed

[2019-02-20 12:16] akoeplinger commented on #12354
Doesn't repro anymore on mono-2018-10.

[2019-02-20 12:16] #12354 closed

[2019-02-20 12:23] marek-safar commented on #9631
That's correct, Mono GC scan stack conservatively and it won't change anytime soon

[2019-02-20 12:38] akoeplinger commented on #12430
This still repros on 2018-10. Here's the test log from the iOS Simulator:

[code]

[2019-02-20 13:00] jaykrell commented on #13081
Please consider trying to use forward slashes instead.
Win32 supports them.
c:/foo/bar.txt

etc.

Pasting them into an open file dialog might not work, but CreateFile, GetFileAttributes, etc., all support them (unless you use the \\? long path support).

[2019-02-20 13:38] radical opened #13085 "Mono CI build fix"
Build fails for `OS X Extended`.

- [x] Runtime test failures (llvm?) https://github.com/mono/mono/pull/13076#issuecomment-465428726

- [x] PR for fsharp build fix: https://github.com/mono/mono/pull/13109
- [x] [IN_PROGRESS] Fix mono/master build: #13076

- [x] [WAITING] gtk-sharp Range fix for 2-12: https://github.com/mono/gtk-sharp/pull/264
- [x] [WAITING] Update reference to the new commit in h

[2019-02-20 13:50] radical opened #13087 "Update denied assemblies list"
- [x] PR #13070
   - [x] waiting for mono build fix #13109

- [x] Backport to 2019-02
- [x] Check if backport required to any other branches

[2019-02-20 13:53] radical opened #13088 "Update xplat-master to track upstream vs16.0"
- [x] Update to track upstream .. https://github.com/mono/mono/pull/13053
- [x] Waiting btls build error
- [x] Update denied lists in mono to track the sdk update

- [x] Test the generated OSX package
- [x] Rebase https://github.com/mono/bockbuild/pull/85
- [x] Fix bockbuild references

- [x] Mono OSX Extended build fix: #13085
- [x] bockbuild: https://github.com/mono/bockbuild/pull/85

- [x] Upda

[2019-02-20 14:03] xperiandri commented on #11731
@EgorBo this does not work in VS 2019 Preview 3.0 although works in 15.9.4

[2019-02-20 14:40] alexmufatti commented on #12098
I've the same behaviour in an application ported from .NET to mono.
Any update on this?

[2019-02-20 14:57] radical commented on #12785
- Why did you mention `4.6.2-api` here? Are you using any specific paths to mono?
- Using HintPaths?
- Editing references?
- Is it a SDK project (if it is, then it will have `<Project Sdk="..." >` at the top) ?

Could you share this particular project file, `MyLogging.csproj`? You can remove the list of sources from it, if you want.

[2019-02-20 15:52] flaviut commented on #13049
@bskimaa can you please re-open this issue? It is still valid and still needs a fix.

[2019-02-20 17:15] alexanderkyte opened #13094 "[debugger-agent] Reduce number of assertions for recoverable conditions"

[2019-02-20 17:15] alexanderkyte opened #13095 "[debugger-agent] Process model / stepping docs need improvement"

[2019-02-20 17:23] alexanderkyte opened #13096 "[debugger-agent] Lack of client-side test harness"

[2019-02-20 17:29] alexanderkyte opened #13097 "[debugger-agent] Difficult, undocumented naming abbreviations"

[2019-02-20 17:33] lambdageek commented on #13028
This is due to e14ef8a658c70bf664eb032b0ccb47a6aab4b281 (#12805) - `System.Reflection.Assembly` used to provide an icall that was used to implement this property for both for `System.Reflection.Assembly` and `System.Reflection.Emit.AssemblyBuilder`

[2019-02-20 18:12] lambdageek commented on #12676
@steveisok makes sense.

Two thoughts:
1. It's not clear to me why System.Web is shadow copied before the shadow copy directory is set.  Is this just something in the application behavior, or some fault in our appdomain implementation?
2. Maybe we should treat `MONO_PATH` the same way as the GAC and never shadow-copy it at all?
  Maybe this test in `mono_assembly_open_request` https://github.com/m

[2019-02-20 19:26] marek-safar commented on #13028
@vargaz could you please address the regression

[2019-02-20 19:28] steveisok commented on #12676
1. I couldn't track down exactly why System.Web is loaded before.  I suspect it has to do w/ PartialTrustVisibleAssemblies in AppDomainSetup.

This is what refsrc webforms provides by default:

[code]

2. I did consider adding a check in the spot you suggested, but I wasn't sure if there were any other implications?

If adding

[code]

is acceptable, then I'll test and create a PR.  Does that work

[2019-02-20 19:39] alexanderkyte opened #13104 "[dotnet/performance] Benchmarking Results and Reproduction Steps"
# Running the Benchmarks:

This is the process for running `dotnet/performance` benchmarks on the Mono Runtime. This uses the default AOT configuration with LLVM enabled. This isn’t the fullaot profile used on mobile.

## Todo for fullAOT-based tests

- (Completed) Get `dotnet/performance` tests compiling with netstandard2.0 runtime
-- https://gist.github.com/alexanderkyte/592a60fe15c0783485b699d2

[2019-02-20 20:04] lambdageek commented on #12676
I don't think we have PartialTrustVisibleAssemblies (I can only find it in referencesource AppDomainSetup which is not used in Mono mscorlib).

PR: yes please.  I think MONO_PATH should be treated much like the GAC.

[2019-02-20 20:31] steveisok commented on #12676
Ok, that was a guess.  There isn't anything else special that I can see in the way sys.web creates the domain.  I'll see if I can track down why separately.

[2019-02-20 21:36] alexanderkyte commented on #13104
A much more colorful version can be found here. (Rename to .xls)

[Report-color.xls.txt](https://github.com/mono/mono/files/2886578/Report-color.xls.txt)

[2019-02-20 22:22] VincentDondain opened #13107 "tvOS app submission failing with mono 2018-10: "Invalid Bundle Structure - The binary file 'ODRsTVOS.app/PlugIns/ODRsTVOSExt.appex/libmono-native-unified.dylib' is not permitted"
### Test Name: Submission 'tvos_ext' ###
Failure Summary: Submission attempt failed!
ERROR ITMS-90171: "Invalid Bundle Structure - The binary file 'ODRsTVOS.app/PlugIns/ODRsTVOSExt.appex/libmono-native-unified.dylib' is not permitted. Your app canâ€™t contain standalone executables or libraries, other than a valid CFBundleExecutable of supported bundles. Refer to the Bundle Programming Guide at ht

[2019-02-20 22:35] baulig commented on #12817
Duplicate of https://github.com/xamarin/xamarin-android/issues/2679.

[2019-02-20 22:35] #12817 closed

[2019-02-20 23:30] baulig commented on #12758
Our web socket implementation does not support any proxies or authentication.  This is not a bug, but a missing feature and adding it is not currently on the roadmap.

It is also not something that can or will be added to the existing implementation (as doing so would be require significant work and CoreFX already has the feature).  The only viable solution is to evaluate whether we should bring t

[2019-02-21 00:38] VincentDondain commented on #13107
Note: the iOS submission tests somehow didn’t fail. I will update if tonight’s tests report something different.

[2019-02-21 01:13] kingces95 opened #13112 "System.TypeLoadException: VTable setup of type FFImageLoading.Forms.Platform.CachedImageFastRenderer failed"
## Steps to Reproduce
Build and launch the android application found here:

https://github.com/kingces95/SmartHotel360-Mobile/tree/vtable-fail

### Current Behavior
Sucker crashes at launch with `System.TypeLoadException: VTable setup of type FFImageLoading.Forms.Platform.CachedImageFastRenderer failed`

### Expected Behavior
Launch in to the full glory of Hotel 360.

## On which platforms did you

[2019-02-21 01:39] Anipik opened #13113 "Remoting error while running ML.net tests on mono Unix"
I am using nightly build of mono https://www.mono-project.com/download/nightly/#download-lin
to build and run the tests of ML.net repo on mono unix.

## Steps to Reproduce
1. ./init-tools.sh build -Debug-netfx (change the target framework from net461 to net472)
2. ./build-netfx -Debug-netfx
3. msbuild Microsoft.ML.sln /p:Configuration=Debug-netfx
4. mono /git/machinelearning/packages/microsoft.tes

[2019-02-21 01:42] lambdageek commented on #13113
@Anipik could you add a link to the exact git commit of ML.net that you're testing with.  It will help to get reproducible debug behavior.  Also the exact version of mono (run `mono --version`)

[2019-02-21 01:44] Anipik commented on #13113
https://github.com/dotnet/machinelearning/pull/2560
[code]

[2019-02-21 01:51] joncham commented on #10101
Corresponds to Unity issue: https://issuetracker.unity3d.com/issues/invalidprogramexception-is-thrown-when-using-ref-locals

[2019-02-21 02:25] lambdageek commented on #12422
At least one of the problems here is that `mono_metadata_type_dup_with_cmods` doesn't consider the case where both the type and the cmod source both have custom modifiers.  This is actually something that Roslyn tests do.  we have cases where a generic method signature `void Test (T modopt(IsConst) t)` is instantiated with `int32 modopt(IsLong)` for T, and the test expects to get `int32 modopt (Is

[2019-02-21 06:56] baulig commented on #12758
Well, it compiles .... https://github.com/mono/mono/pull/13116

[2019-02-21 08:35] #12988 closed

[2019-02-21 08:46] lewurm commented on #13006
(unassigned myself as I don't have an `armv7k` device)

@rolfbjarne can you reproduce with `lldb` attached?

[2019-02-21 09:21] marek-safar commented on #13113
@kg could you please look into this issue

[2019-02-21 09:22] marek-safar commented on #13112
/cc @lambdageek

[2019-02-21 09:53] danielmeza opened #13121 "Validation attribute with custom resource manager should support GetString from non static field"
If we get a custom ResourceManager created at runtime, from enbebed assembly on just from remote resources, we should be able to get the string from the GetString method like this,

The resource manager implementation
[code]
The validation executer method
[code]
The model property  decorated with the validation attribute

[code]

Where L is the remote translation service. I have caché on it and fa

[2019-02-21 12:50] rolfbjarne opened #13126 "[arm64_32] LinkAll tests fail due to Type.GetType not working properly"
## Steps to Reproduce

1. Build https://github.com/xamarin/xamarin-macios/pull/5465 locally.
2. Launch xharness, and run the `link all /watchOS 64-bits (ARM64_32) - device / Release` test

### Current Behavior

[code]

[Run log](https://gist.github.com/rolfbjarne/d31042d19724c42930e501d09bf0b413). [This warning](https://gist.github.com/rolfbjarne/d31042d19724c42930e501d09bf0b413#file-gistfile1-txt

[2019-02-21 13:19] lewurm commented on #13057
Submitted a PR. Thanks for those good repros! 👍

[2019-02-21 13:23] rolfbjarne opened #13128 "[arm64_32] System.NotSupportedException : Stack walks are not supported on this platform"
## Steps to Reproduce

1. Build https://github.com/xamarin/xamarin-macios/pull/5465 locally.
2. Launch xharness, and run the `fsharp /watchOS 64-bits (ARM64_32) - device / Release` test

### Current Behavior

[code]

### Expected Behavior

No test failures

Running the `fsharp / watchOS 32-bits - device / Release` test works fine.

[2019-02-21 14:18] lateralusX commented on #13082
Did some investigation, if I remove the BOM in the UTF version it works as expected running the program using the response file as argument. I will add support to ignore the BOM mark if one exist in the file to make sure similar problems are avoided (since saving in UTF8 from editors tends to add that mark into the file). I will also implement logic to handle the parameters in the response file in

[2019-02-21 14:20] lateralusX commented on #13082
Assumption will be that the --response file must be encoded in UTF8 (or ASCII), no other encodings will be handled, at least not for now.

[2019-02-21 14:35] VincentDondain commented on #13107
@akoeplinger watchOS submission test is also failing now (same issue): https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=261614&environmentId=1145490&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension

[2019-02-21 15:19] rolfbjarne opened #13129 "[arm64_32] System tests: [FAIL] SmtpExceptionTest.GetObjectData : System.InvalidCastException : Specified cast is not valid."
## Steps to Reproduce

1. Build https://github.com/xamarin/xamarin-macios/pull/5465 locally.
2. Launch xharness, and run the `System /watchOS 64-bits (ARM64_32) - device / Release` test

### Current Behavior

[code]

[Run log](https://gist.github.com/rolfbjarne/3655e79c53ed05b721e00c7613c18fbb#file-gistfile1-txt-L1783)
[Test log](https://gist.github.com/rolfbjarne/730b7bbf3cef9862808b30a07fc9d737#

[2019-02-21 16:45] baulig commented on #12758
I had a look at this late last night and got to the point where the CoreFX code compiles, runs a small sample and tried to connect to the proxy.  So it may not be too difficult to switch to the CoreFX implementation.

[2019-02-21 17:11] rolfbjarne commented on #13126
Same icall.c:1473 warning in the System.Runtime.Serialization tests: https://gist.github.com/rolfbjarne/b30d3137115a30a5eb0d8ac5d8f771c9#file-gistfile1-txt-L181-L183

[2019-02-21 17:19] kg commented on #13113
Hi @Anipik can you please re-run with --debug passed to mono? It will add line numbers.

[2019-02-21 17:40] Anipik commented on #13113
[code]

[2019-02-21 17:59] thaystg commented on #12843
Are you debugging?

[2019-02-21 18:46] alexanderkyte commented on #13104
With a script modification to what is seen here:
https://gist.github.com/alexanderkyte/283b31b7fe5749eee324abe43e598d95

We can get a .csv with per-harness labels.

[Report.csv.txt](https://github.com/mono/mono/files/2890648/Report.csv.txt)

[2019-02-21 18:54] baulig commented on #12878
Will be fixed by https://github.com/mono/mono/pull/12877.

[2019-02-21 18:54] baulig commented on #12879
Will be reenabled and fixed by https://github.com/mono/mono/pull/12877.

[2019-02-21 19:28] #6861 closed

[2019-02-21 19:28] #7053 closed

[2019-02-21 19:28] #11567 closed

[2019-02-21 19:29] #11566 closed

[2019-02-21 20:08] alexanderkyte opened #13133 "[perf] Major array copying performance difference"
The test `System.Tests.Perf_Array.ArrayCopy2D`(https://github.com/dotnet/performance/blob/0c626c0de72e9e018bb02d0f92b97117098f1fee/src/benchmarks/micro/corefx/System.Runtime/Perf.Array.cs#L236) shows a big slowdown in our array copy compared to .NET core.

- This takes `3284214.702 ns` on Mono
- This takes only `342.3348056 ns`  for .NET core. This is 00.0104% of the time it takes Mono.

A reprodu

[2019-02-21 20:16] lambdageek commented on #13133
It looks like `System.Array.FastCopy` (called from `System.Array.Copy (Array sourceArray, int sourceIndex, Array destinationArray, int destinationIndex, int length)`) is returning FALSE here.  The test is a copies a rank 2 int32 array to another rank 2 int32 array.  That ought to work.

[2019-02-21 20:28] #12879 closed

[2019-02-21 20:29] #12878 closed

[2019-02-21 20:57] #12157 closed

[2019-02-21 21:34] alexanderkyte opened #13136 "[perf] Needed optimization around CultureInfo.IsSuffix"
A number of the CultureInfo benchmarks show a major performance loss on Mono compared to .NET.

We see a time of `9299 ns` on Mono where .NET Core has a time of `19 ns`.

The below benchmark exhibits that.
https://gist.github.com/alexanderkyte/0fb4a79cc3c5edbf4af6e7714ffaebe2

It doesn't look like this is a codegen issue as much as a bit of sub-optimal managed code.

![globalization](https://user-

[2019-02-21 22:44] kg commented on #13113
Hi,

I am not able to build the machinelearning repo following your instructions, is it possible you left something out? ```./build-netfx -Debug-netfx``` did not work but I tried ```./build.sh -Debug-netfx``` and that appeared to work but the build failed with some messages that it is not immediately clear to me how to correct. I believe I cloned the contents of your PR.

[code]

[2019-02-21 22:48] Anipik commented on #13113
sorry @kg , actually there is a submodule in machinelearning repo, which need to be pulled when you are building it for first time.
just run ``` git submodule update --init ```

[2019-02-21 22:50] alexanderkyte commented on #13113
@kg in the past, I have built ML.NET on OSX with

[code]

[2019-02-21 22:51] kg commented on #13113
Makes sense, sorry for the noise. The cmake error message didn't really suggest missing files :) I'm getting errors about .NET 4.6.1 now, your comment in the beginning mentions "change the target framework". How should I do that? Edit the csproj file? Pass an argument to something?

[2019-02-21 23:20] Anipik commented on #13113
here https://github.com/dotnet/machinelearning/blob/master/test/Directory.Build.props#L6
change it to net472 and then ```./build.sh -Debug-netfx```
This will give you some errors but ignore them
and``` run msbuild Microsoft.ML.sln /p:Configuration=Debug-netfx```

and then to run tests``` mono /git/machinelearning/packages/microsoft.testplatform/15.9.0/tools/net451/Common7/IDE/Extensions/TestPlatfo

[2019-02-22 00:30] kg commented on #13113
I did:
[code]

Output:
[code]

In the msbuild output from above I see it building Onnx and OnnxTransform but not OnnxTransformTest.

[code]

[2019-02-22 00:32] Anipik commented on #13113
@kg use the msbuild that comes with mono

[2019-02-22 02:05] #13056 closed

[2019-02-22 09:05] lateralusX commented on #13082
Should be fixed by, https://github.com/mono/mono/pull/13132.

[2019-02-22 09:05] lateralusX commented on #13081
Should be fixed by https://github.com/mono/mono/pull/13132.

[2019-02-22 09:15] lewurm commented on #13057
Fixed by https://github.com/mono/mono/pull/13127

[2019-02-22 09:15] #13057 closed

[2019-02-22 10:05] akoeplinger commented on #13107
Fixed in mono-2018-10 on xamarin-macios.

[2019-02-22 10:05] #13107 closed

[2019-02-22 12:41] filipnavara opened #13144 "GB18030 INTERNAL ERROR (should not happen)"
For certain user data we are getting `SystemException` with the following message:

`GB18030 INTERNAL ERROR (should not happen): GBX 84 32 81 30`

Unfortunately I don't have the original data, but I assume it will be possible to make a sequence to trigger it. <strike>This looks like UTF-8 encoding incorrectly treated as GBX, which could be error in the input data (eg. wrong "charset" specified in

[2019-02-22 13:20] sargin48 opened #13147 "AntiXss not exist on System.Web"
.Net Framework Aspnet Web Api Project

When i transfer to

Could not resolve type with token 010000eb from typeref (expected class 'System.Web.Security.AntiXss.AntiXssEncoder' in assembly 'System.Web,

## On which platforms did you notice this

[ ] macOS

[2019-02-22 13:21] filipnavara commented on #13144
Repro:
[code]

[2019-02-22 13:27] filipnavara commented on #13144
Looks like the character is not defined in the GB18030 charset. NetFX translates the character to `?`.

[2019-02-22 13:57] AliAlGallaf opened #13149 "Unable to Update Mono to Version 5.18 on Debian 9.8"
I'm unable to update [mono][1] from version 4.6.2 to 5.18.0 on Debian 9.8. I followed the instructions on the [download page][2] on mono's website but with no luck so far.

[code]
Please help.

  [1]: https://www.mono-project.com/
  [2]: https://www.mono-project.com/download/stable/#download-lin-debian

[2019-02-22 14:00] marek-safar commented on #13149
/cc @directhex

[2019-02-22 14:45] MaximLipnin commented on #13121
I prepared minimal repro sample. Is it something that you want to achieve?
[code]

[2019-02-22 15:34] NVoronchev opened #13150 "[WinForms] Related Forms closing"
Assume one click a `button` on a Form `ButtonedForm` in the following program:
[code]
Let's consider two cases:
1.  The line `this.Controls.Remove(button); // !!!` is commented ...
2. ... and the line is uncommented.

### The line is commented
The `Button` is always present on the Form `ButtonedForm`. Click on this `button` leads to the following exception:
[code]
The origin of it is clear: `Syste

[2019-02-22 16:58] frankseide commented on #12947
It shouldn't be an out-of-memory problem. I run into the same when processing a large text file with 39M entries. All lines are processed independently, via a PLINQ query (~20 threads) over a function that uses a sequence of LINQ expressions that transform text. Resulting lines are written to file right away. It fails after 30M lines. Nothing is aggregated, so GC should handle it just fine. The to

[2019-02-22 18:21] alexanderkyte commented on #13104
Filtered to only contain corert tests, colored, broken down by harness, and ordered.

[Report-corert.xlsx](https://github.com/mono/mono/files/2895212/Report-corert.xlsx)

[2019-02-22 19:28] steveisok commented on #12676
@lambdageek - After I made the change it turned out to be worse in that a few System.Web tests failed very similar to https://github.com/mono/mono/issues/8695.

Just by adding the check, I'll get test failures with (they pass the old way).

[code]

Rather than play whack-a-mole, I think I'm going to work around this problem by copying the right assemblies where the new bin directory is.

If mutual

[2019-02-22 20:28] #8360 closed

[2019-02-22 21:24] lambdageek commented on #12422
New sub-problem:  Mono doesn't inflate custom modifiers.  .NET IL can have things like this:
[code]

Note that `T1` is both the the of an argument, and also part of the type of the modifier of the argument.   Once I make mono's signature comparison stricter about respecting modifiers, overriding this method in an instantiation doesn't work anymore because we don't inflate the modifier and things f

[2019-02-22 21:39] lambdageek opened #13155 "ilasm: modopt(System.Nullable`1<!0>) doesn't parse"
Mono doesn't like some IL that the netcore ILASM is able to compile:

[code]

## Steps to Reproduce

1. ilasm /dll modmod.il

### Current Behavior

[code]

The problem line is this method:
[code]

### Expected Behavior

A generated .dll

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono 6.1.0 nightly

[2019-02-22 21:42] lambdageek commented on #13155
We shoudl really think about switching to netcore's ILasm (which works for this example)

[2019-02-22 22:12] vargaz commented on #11267
https://github.com/mono/mono/pull/13154

[2019-02-22 22:13] vargaz commented on #11267
The only failing test is  constrained2.il, not sure how that test is supposed to work.

[2019-02-22 22:44] kishorepolepalli commented on #12816
Hi Mono-Team,
Did you get change to check this bug,As we have given steps to reproduce .
With Regards
Vishwa

[2019-02-22 23:54] dkornev commented on #12318
Confirm that it's still reproducible with Xamarin.iOS 12.2 and Mono 5.16

[2019-02-23 01:57] kg commented on #13113
OK, I was able to build the test assembly using docker and can reproduce the failure. Thanks.

[2019-02-23 02:43] kg commented on #13113
Some book-keeping info while I investigate here:
Multiple things are broken, my PR (13140) fixes one of them. Behind that is another issue, which is that for some reason ```IsMarshalByRef``` is false for the type ```Xunit.Runner.VisualStudio.VsExecutionSink``` even though it inherits MarshalByRefObject (through a few levels of nesting). I expect that is probably caused by something else...

[2019-02-23 03:06] danielmeza commented on #13121
@MaximLipnin yes!

[2019-02-23 04:19] kg commented on #13113
My best guess is this is cmod related, because IsAssignableFrom is returning garbage results but only for the most-derived type (VsExecutionSink) and as a result the remoting runtime thinks it's not marshalable.
[code]
Unfortunately cmods are invisible in managed code, so I'll probably need to modify the runtime to dump the cmods.

[2019-02-23 07:51] #12603 closed

[2019-02-23 10:00] AliAlGallaf commented on #13149
When I try to install Mono 5.18.0 using `sudo apt-get install mono-devel/stable-stretch` I get the error messages shown below.

[code]

[2019-02-23 17:31] #13087 closed

[2019-02-23 17:33] #13085 closed

[2019-02-23 18:22] chkn opened #13162 "BinaryFormatter deserialize fails with System.ArgumentException"
Similar to https://github.com/mono/mono/issues/8915, but appears to specifically affect `InitOnly` fields.

## Steps to Reproduce

1. Build and run the following test case.
2. Note that adding `private set` to the `Foos` property on line 14 fixes the problem.

### Test Case

[code]

### Current Behavior

Deserialization fails with `System.ArgumentException`

### Expected Behavior

Successful deser

[2019-02-23 18:43] hex11 opened #13163 "Task: Use async DNS resolution in Socket and web stack code."
https://github.com/mono/mono/blob/b936c531018a354c92103cc9b7cf401231063725/mcs/class/System/System.Net.Sockets/Socket.cs#L975

It causes that `BeginConnect()` doesn't return immediately but returns until the name resolving completes, then unexpected blocking will happen in some async code calling this method.

[2019-02-25 04:22] deepgoyal25 commented on #11315
Updates please?

[2019-02-25 08:23] mkrueger opened #13169 "Nuget error on Linux"
While compiling monodevelop it fails to update the nugets:

[code]

It seems to have something to do with commit 2f411750acfd2132f9b4970ef8cf11d9a0f62df9
Using a build af70768885ef3d403db534ed1bd8af798cbc80e0 or prior nuget works. Master of today fails as well.

[2019-02-25 08:53] marek-safar commented on #13163
@baulig I think this was reported also elsewhere. We should look into using Async or BeginGetHostAddresses versions

[2019-02-25 08:57] MaximLipnin commented on #13121
@danielmeza Then your proposal should be discussed first. Please file an issue at https://github.com/dotnet/corefx/issues

[2019-02-25 09:00] marek-safar commented on #13169
@baulig this looks like regression from ssl change

[2019-02-25 10:17] lewurm commented on #12816
I cannot reproduce with
[code]
@kishorepolepalli you are saying in your initial post that it works on pi/armv7.  On what hardware are you experiencing this issue? Also on what linux kernel version do you see this problem?

For what it's worth, I _think_ those alignment trap messages you are seeing are misleading. The mono runtime seem to recover from those. You should see same messages on pi/armv7

[2019-02-25 11:08] joshpearce opened #13174 "Question: [WASM] Instrument Runtime Complexity and Memory Usage"
I'm looking for some guidance on how to go about instrumenting one C# function, to get a proxy for the runtime complexity and memory usage. This is for a web app where users would submit solutions to coding problems, and I'd like to test for efficient alogrithms.

I figure since we have the VM right there, I should be able to count the total number of ops and memory usage during the execution of a

[2019-02-25 11:37] vijaykhurdiya opened #13175 "Mono Memory leak"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-02-25 11:51] vijaykhurdiya commented on #13175
Hi,
I have observed memory leak with a program calling unmanaged function from managed code with mono. Please find below steps.
1) Use the attached sample program to call unmanaged code.
2) Sample unmanaged file added. We can create dynamics library from sample code. I have done the same for X86 & ARM target.
3) check for memory by using top command or any other command for checking free memory.

[2019-02-25 12:23] scherenhaenden commented on #12523
I created one just right now... it works with anything what mono offers... there you can configurate all the things you need.... if you one i can put it on github

[2019-02-25 14:20] danielmeza commented on #13121
Done! we can close this.

[2019-02-25 14:26] BrzVlad commented on #13175
I can't reproduce any leaks by calling that pinvoke in a loop (tried both on arm board and desktop ubuntu). Maybe there is missing code that was producing the leak, since the original sample is not building from the start.

[2019-02-25 14:43] #13082 closed

[2019-02-25 14:43] #13081 closed

[2019-02-25 14:48] #11643 closed

[2019-02-25 15:30] directhex commented on #13149
Hm. Something in the dependency chain is causing issues, but apt isn't reporting what.

What does `apt install libmono-system-design4.0-cil` say?

[2019-02-25 16:07] coldwarrior5 commented on #11604
But how else am I supposed to grab a mutex from a server application from my client?
I ask because Unity uses Mono to build the executable and mutexes work on windows but do not on Linux because of this.
When I use .NET Core I am able to setup server and client normally. If not supported, what method do you recommend to use to synchronize shared memory file between the two?
I have heard I would ne

[2019-02-25 16:36] MaximLipnin commented on #13144
.Net Core also returns `?` for this repro.

Mono has own support for `GB18030` which uses mapping from http://source.icu-project.org/repos/icu/data/trunk/charset/data/xml/gb-18030-2000.xml :
https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mcs/class/I18N/CJK/GB18030Source.cs#L99-L135

Mono mapping doesn't contain this range:
`<range uFirst="10000" uLast="10FFFF" bFirst="9

[2019-02-25 16:48] filipnavara commented on #13144
According to Wikipedia the character is in "reserved range" and I believe that's still the case even for recent versions of the GB18030 specification. I would be fine if the code returned '?' or some error code that would later be translated to '?' in the higher layers. Throwing any kind of `ArgumentException` would work for us too, but it's probably not an option for compatibility reasons.

[2019-02-25 18:34] atsushieno commented on #13144
Sounds like it is simply throwing SystemException where EncoderExceptionFallback or EncoderReplacementFallback is taken into consideration?

(excuse: they were very new in .NET 2.0 while we were at .NET 1.x when we dealt with encodings...!)

[2019-02-25 19:01] baulig commented on #13169
Without a full stack trace or some logging, there is nothing I can do about this.

[2019-02-25 19:15] baulig commented on #13163
It is a common pattern in our entire web stack that we're using sync DNS.  I'm not sure whether there was a specific reason for it or whether it's just historic.

[2019-02-25 19:52] Anipik commented on #13113
Thanks @kg for all the investigation and the help. can you give us an idea about how much time it would take to fix the issue ?

[2019-02-25 21:41] Hatef-Rostamkhani commented on #12523
if you try it , please upload your source
thanks

[2019-02-25 21:47] kg commented on #13113
I haven't identified the problem yet so it's impossible to estimate

[2019-02-25 22:24] kg commented on #11604
Advisory file locks are the only reliable alternative I know of on Linux and Mac. Ultimately there is no OS-level primitive for this.

[2019-02-26 02:34] HumanGamer opened #13193 "Module Initializer does not get called if program has unresolved assemblies (Breaks Costura.Fody)"
## Steps to Reproduce

1. Create a c# project in Visual Studio 2017
2. Use nuget to install the ModuleInit.Fody (this allows you to add code to the module initializer but you could also use Mono.Cecil for this or any other similar library)
3. In the Main method call a function from a custom referenced dll.
4. Copy the referenced library to your output folder with a different name.
5. Make an inter

[2019-02-26 05:34] scherenhaenden commented on #12523
I did it. But I need more info. I could not make it work over apache config. The config is right but for some reason right now only works with xsp. It took me like 2 hours yesterday and I still don't know where is the problem exactly.

I also need to know if the app has to connect to MySQL or whatever outside the docker or inside the docker.

However, if I have enough time today I'll put my work o

[2019-02-26 06:00] wxtripoder opened #13194 "Metadata file `System.XML.dll' could not be found"
I using Mono version 4.6.2 in Debian 9 system for Raspberry, the details is as following:
![image](https://user-images.githubusercontent.com/47806326/53390315-bd636f00-39cd-11e9-96b3-67fdcd022124.png)

The following is my c# code(under .net frame work 4.0):
public static bool invokeWebService(ref object resData, string url, string methodname, object[] args, ref string err)
        {
            if

[2019-02-26 06:25] kjpou1 opened #13195 "[wasm][ci] Intermittent failures with ChakraCore Tests"
The tests using Chakra Javascript Runtime are aborting intermittently.

There are no stack traces produced with only `Abort trap: 6` being output.  This does not happen all the time and eventually passes.

This is happening with the following CI tests:

`run-ch-mini`
`run-ch-system-core`

This also happens locally on Mac 1 out of 10 runs.

[2019-02-26 06:31] vijaykhurdiya commented on #13175
I have created setup on ARM target where when bare Linux is running there is no change in memory consumption. Now I have run an application which is calling Unmanaged function. I observed memory of that process it is continuously decreasing.

I wait till it reaches to lowest memory figure, I found once it reaches near to 2-3 MB figure it has reclaim some amount of memory (In My case I found nearly

[2019-02-26 08:01] #13121 closed

[2019-02-26 08:35] scherenhaenden commented on #12523
I just make it work with the normal apache config. When i get free I'll try to do bridge to mysql, maybe this week i can put that on github

[2019-02-26 11:51] #13144 closed

[2019-02-26 15:38] MaximLipnin commented on #6457
It's out-of-date at the moment and can be closed because Mono uses corefx version of ReflectionTypeLoadException class
https://github.com/mono/mono/blob/master/mcs/class/corlib/corlib.dll.sources#L1218

[2019-02-26 16:14] lambdageek commented on #6457
Thanks @MaximLipnin

[2019-02-26 16:14] #6457 closed

[2019-02-26 19:53] lambdageek commented on #11350
I see improvement from #13191 - the only bit that's failing now is the arrayModopt2 test at the end (exit  code 302)

[2019-02-26 20:25] deserthacker commented on #12557
This looks similar to a crash we are seeing in 5.18.0.240, is there a class issue across releases?

[2019-02-26 22:29] lambdageek commented on #13055
There's a lot going on here.

1. This (4.2.1) is a fairly old version of Mono. (Not a problem in itself, but GC suspend code has been changing since those days).
2. Apparently `MONO_SLEEP_ABORT_LIMIT` is set to 200ms (in recent versions we default to waiting forever).
3. I think this is async suspend (and Linux), so we sent a signal to a thread to try and suspend it, and it took longer than 200ms

[2019-02-26 23:44] lambdageek commented on #12983
@roointan Thanks for the bug report!.  As I understand it, Unity 2017.4 only had experimental support for new mono.  You may wish to try 2018.3.  Additionally, it is more effective to report Unity issues to their bug tracker https://unity3d.com/unity/qa/bug-reporting

Please don't hesitate to let me know if you believe I've closed it in error.

[2019-02-26 23:44] #12983 closed

[2019-02-26 23:46] lambdageek commented on #11350
Arrays are failing for a pretty serious reason: We actually can't represent an array whose elements are of a type that has custom modifiers.   For a MONO_TYPE_SZARRAY we just store a `MonoClass*` (which doesn't have any place to store custom modifiers), and for a MONO_TYPE_ARRAY, we store a `MonoTypeArray*` which also just saves a `MonoClass*`, rank and bounds.

(This also applies to pointer and f

[2019-02-26 23:56] lambdageek opened #13203 "Support arrays of types with custom modifiers"
See https://github.com/mono/mono/issues/11350#issuecomment-467662713

The following IL is legal:

[code]

This is a method that takes an array whose elements are each of type `int32 modopt (BarModifier)`.

Note that mono currently has no way to represent something like this:
A `MonoType` for an array stores either a `MonoClass*` for the element type, or a MonoArrayType that - in turn - stores a `M

[2019-02-27 00:10] frankseide commented on #13055
Thanks! I think the critical point is 5.--never write to `stdout`, because `stdout` often is expected to follow a specific syntax. This does not seem too critical on Windows, but for Linux users, this is second nature.

Besides that, as long as the process still continues correctly, I don't really care about getting that message (if it is incorrect, it should terminate).

[2019-02-27 00:18] scollison22 commented on #12171
I'm seeing this issue in a project that I'm working on which is based off of using Mono 5.18.240.  Is there a plan to fix this at some point?

Managed Stack:
[code]

Native Stack :
[code]

It looks like we're crashing when dereferencing the handle_data to get its type:
[code]

[2019-02-27 07:51] marek-safar commented on #11350
@vargaz could you validate this^ proposal?

[2019-02-27 08:05] vargaz commented on #11350
I think if mono_type_equal () returns FALSE for 2 types, then their corresponding MonoClass-es should be different too. I'm not sure fixing this is really worth it it seems like a lot of work for little gain.

[2019-02-27 11:00] lateralusX commented on #10985
Should be fixxed by https://github.com/mono/mono/pull/13061.

[2019-02-27 11:02] #10985 closed

[2019-02-27 12:13] akoeplinger commented on #12171
I don't see this in the 2018-10 branch (== Mono 5.20.x) on xamarin-macios anymore so I think it is fixed.

@scollison22 can you please try with Mono 5.20 (https://www.mono-project.com/download/preview/) ?

[2019-02-27 12:31] MaximLipnin commented on #8142
Mono uses corefx source code for DelegatingHandler class on macOS and Unix so it throws proper exception there. On Windows Mono uses own implementation which could be updated with `InvalidOperationException`.

[2019-02-27 13:11] kishorepolepalli opened #13206 "Printing functionlity by using System.Drawing.Printing in Mono C# in Linux Operating System."
## Steps to Reproduce

Hi All,

I am working Printing functionality by using System.Drawing.Printing in Mono C# in Linux Operating System.

Printer model: **HP - Officejet-100-Mobile-L411.**

After print() functionality, Printer buttons like "Paper and Power" continously blinking with out any print
It says that the file is in print queue and says prinitng and then it says it is completed. But Prin

[2019-02-27 14:30] gatodev opened #13207 "Hiding Form disables some properties"
## Steps to Reproduce

    class Form1 : Form {
        static void Main() {
            Application.Run(new Form1());
        }
        Form1() {
            var form = new Form {
                TopMost = true,
                ShowInTaskbar = false
            };
            form.Show();
            form.Hide();
            form.Show();
        }
    }

### Current Behavior

TopMost and ShowInTa

[2019-02-27 15:31] #10101 closed

[2019-02-27 16:15] monoluser opened #13209 "Can't compile Mono 5.18.0.240 on Linux"
## Steps to Reproduce

1.  Try to compile Mono 5.18.0.240 on Linux.

### Current Behavior
[code]

### Expected Behavior

That `make` completes successfully

## On which platforms did you notice this

I have only tried on Linux.

**5.18.0.240**:

[2019-02-27 16:43] lewurm commented on #13209
please paste the `./autogen.sh`/`./configure` invocation

[2019-02-27 16:44] deserthacker commented on #12171
@akoeplinger chasing versions of Mono isn't really a tenable debug strategy, often one bug is fixed but others are introduced.  @scollison22 you're not running on iOS are you?  You're running on ARM Linux.

[2019-02-27 17:00] scollison22 commented on #12171
@deserthacker, correct I'm running on a 32 bit Linux ARM platform.

[2019-02-27 17:00] akoeplinger commented on #12171
could still be the same fix :)

[2019-02-27 17:15] deserthacker commented on #12171
Lol, and/or break 72 other things.

[2019-02-27 17:24] coffmarp commented on #11072
I am still able to reproduce this. This seems related to the closed issue #10645

[code]

The last working versions of mono I found were the 5.10 versions

Running it on the latest mono version on macOS results in the following.

[code]

[2019-02-27 17:49] radical opened #13213 "Fix VSMac support for the new ToolsVersion"
- [x] Fix new VSMac + old mono
- [x] Fix new VSMac + new mono (tv=Current)
- [x] Fix old VSMac + new mono (is this required to work?) - Not supported.
- [x] Test with X* projects
- [x] Make VSMac use `Current` specifically (VSMac team handling this) (https://github.com/xamarin/monodevelop/pull/581, https://github.com/xamarin/monodevelop/pull/539)

- [x] https://github.com/mono/monodevelop/pull/738

[2019-02-27 18:40] monoluser commented on #13209
I hadn't to call `./autogen.sh` and called `./configure` without any options/arguments. With `./configure --enable-minimal=aot` however, everything works!

[2019-02-27 18:55] rspulini commented on #6938
solution?

[2019-02-27 19:14] esseivan commented on #6938
my temporary solution was to not use await delay as an infinite loop...

[2019-02-27 19:19] lewurm commented on #13209
That's weird. Could you run `make V=1` and paste ~30 lines before the failure?

Also, wild guess: How large is your `/tmp`? Check with `df -h /tmp`.

[2019-02-27 19:23] awb99 commented on #7076
It is also crashing on mono on debian linux.

[2019-02-27 21:01] J-Swift opened #13217 "Excessive Tuple HashCode collisions"
Hello there, I'm sorry if this is the wrong repo to open this in. I picked here because I'm working in Xamarin, but it may actually belong in the corefx or other repo. Please let me know if I chose incorrectly!

I ran into what I would classify as a bug, but maybe is intended behavior of Tuple hash codes. It appears that once you hit a certain arity, the codes cycle quickly in a predictable manner

[2019-02-27 22:03] deepgoyal25 opened #13220 "RemoveSignalHandlers from Runtime.cs is not available"
As per this page - https://www.mono-project.com/docs/advanced/signals/, since Mono 4.8, there is a new method RemoveSignalHandlers available to be used when we need to remove and re-install signal handlers.
After installing Mono on MacOSX and then trying to access these methods, I see that I am able to access InstallSignalHandlers but RemoveSignalhandlers is not available.
I looked at the code in

[2019-02-27 22:11] monoluser commented on #13209
Your wild guess wasn't that wild at all! Problem solved! ;)

[2019-02-27 22:11] #13209 closed

[2019-02-27 23:44] j0shval3r0 opened #13221 "concerning hash issue"
So I compile the basic Hello World app.  And then when it is compiled to a .exe I hash it.
Then I compile the EXACT same code with the EXACT same settings without changing anything.
But this time when I hash the .exe the hash is different?!?!?!
Can someone please tell me why this is happening

[2019-02-27 23:51] lambdageek commented on #13221
The Roslyn C# compiler has a `/deterministic` that should produce identical output given identical input.  Otherwise, the binary includes attributes such as the module GUID that will differ for each build.

[2019-02-27 23:52] j0shval3r0 opened #13222 "Mono.Data.Sqlite question"
Is there a way that I can use Mono.Data.Sqlite without putting the sqlite3.dll file in the same directory?  It's annoying to have to ship the sqlite3.dll file with the executable, as it is not a managed assembly, and therefore cannot be ILRepacked with the executable.
Thanks in advance!

[2019-02-27 23:55] lambdageek commented on #13221
Here's some sample output:

[code]

Output:
[code]

First two runs produce distinct GUIDs; second two runs - identical output.

[2019-02-27 23:55] #13221 closed

[2019-02-28 06:35] sansjunk commented on #12822
I ran into the same issue. Here is the code that reproduces this and the stack trace I could get.

[code]

Stack trace:

  at Mono.Security.Cryptography.KeyPairPersistence.get_Filename () [0x0004b] in <d4a23bbd2f544c30a48c44dd622ce09f>:0
  at Mono.Security.Cryptography.KeyPairPersistence.Load () [0x00000] in <d4a23bbd2f544c30a48c44dd622ce09f>:0
  at System.Security.Cryptography.RSACryptoServicePro

[2019-02-28 10:04] michaldobrodenka commented on #9418
Could this be related to my app (Xamarin.Android) crashes:

`MobileAuthenticatedStream+<StartOperation>d__58.MoveNext()
android.runtime.JavaProxyThrowable: System.AggregateException: A Task’s exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was rethrown by the finalizer thread. —> System.ObjectDisposedException:

[2019-02-28 10:06] filipnavara commented on #9418
@michaldobrodenka No, but there is different issue filed for that and it was fixed in Mono 5.18 and backported quite recently. Unfortunately I don't have the link handy.

[2019-02-28 10:09] filipnavara commented on #9418
#10488

[2019-02-28 10:17] michaldobrodenka commented on #9418
@filipnavara #10488 is about HttpWebRequest, not MobileAuthenticatedStream which I use for secure websockets (websocket-sharp)
I had both problems (HTTP requests and TLS websockets). Since I'm on VS15.9.7 which had #10488 fix, I'm having only MobileAuthenticatedStream problem.

[2019-02-28 10:44] awb99 commented on #11690
I have the same behavior on a brand new hosted debian 9 server:
It is compiling for an hour now, and it seems completely stuck.

[code]

[2019-02-28 12:52] akoeplinger opened #13224 "iOS SDKs test app build doesn't work when not in sdks/ios directory"
## Steps to Reproduce

1. Build iOS SDKs
2. Run `make -C sdks/ios build-ios-sim-corlib` from the mono repo root
3. It fails

### Current Behavior

[code]

### Expected Behavior

It builds. Works fine if I run the command from inside sdks/ios

## On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

[2019-02-28 13:10] MaximLipnin commented on #11569
Closing it because the test was re-enabled (https://github.com/mono/mono/pull/11665#issuecomment-439712207)

[2019-02-28 13:10] #11569 closed

[2019-02-28 15:32] lewurm commented on #13209
nice 🙂

[2019-02-28 16:18] marek-safar commented on #12818
@baulig could you please ensure we have the same security applied

@thaystg is there anything you could find in the log about the debugger crashes?

[2019-02-28 17:30] j0shval3r0 commented on #13221
Thank you very much.  That is good to know :)

[2019-02-28 17:39] mandel-macaque opened #13231 "CGPattern causes "Attempting to JIT compile method" exception since VS 7.5"
Running the attached application results in a run time error.

## Steps to Reproduce

1. Run the attached project on a device.
2. Wait for crash.

[JitErrorTest.zip](https://github.com/mono/mono/files/2916157/JitErrorTest.zip)

### Current Behavior

Application crashes after running for a while. It is hard to know when it will happen.

### Expected Behavior

Application not crashing.

## On which

[2019-02-28 20:02] vargaz commented on #13195
It seems to randomly hit this assert (chakra 9360fcfb8d8b6397201b353c6a2814aa6c50ded0):

    frame #0: 0x000000010045d8ae ch`IRBuilderAsmJs::InsertLabels(this=0x000070000b3edaf8) at IRBuilderAsmJs.cpp:1044
   1041	        uint offset = reloc->GetOffset();
   1042	        uint const branchOffset = reloc->GetBranchOffset();
   1043
-> 1044	        Assert(!IsLoopBody() || offset <= GetLoopBodyExitIns

[2019-02-28 20:47] #13224 closed

[2019-02-28 21:38] vargaz commented on #13195
The method where the assert happens seems to be random as well:
(lldb) p this->m_func->GetJITFunctionBody()->m_bodyData.displayName
(WCHAR *const) $1 = 0x0000000106dd1b70 u"wasm-function[3337]"
(lldb) p this->m_func->GetJITFunctionBody()->m_bodyData.displayName
(WCHAR *const) $3 = 0x0000000106fdee40 u"wasm-function[3557]"

[2019-03-01 02:00] Nichtraucher opened #13240 "update to 5.18.0.268-0xamarin1+ubuntu1404b1 fails"
## Steps to Reproduce

1. update to 5.18.0.225-0xamarin1+ubuntu1404b1

### Current Behavior
update fails due to unresolved dependencies and other errors (see terminal output below)

### Expected Behavior

the update goes through smoothly

## On which platforms did you notice this

[ ] macOS
[x ] Linux
[ ] Windows

**Version Used**:

Linux version 4.4.0-142-generic (buildd@lcy01-amd64-006) (gcc ver

[2019-03-01 04:11] deserthacker commented on #12171
@akoeplinger , @scollison22 tried 5.20, same issue.

[2019-03-01 08:16] MaximLipnin commented on #12522
<table border=0 cellpadding=0 cellspacing=0 width=1043 style='border-collapse:
 collapse;table-layout:fixed;width:781pt'>
 <col width=207 style='mso-width-source:userset;mso-width-alt:7367;width:155pt'>
 <col width=211 style='mso-width-source:userset;mso-width-alt:7509;width:158pt'>
 <col width=98 style='mso-width-source:userset;mso-width-alt:3470;width:73pt'>
 <col width=116 style='mso-width-sour

[2019-03-01 10:02] BrzVlad commented on #13175
I'm still not reproducing any weird memory behavior and I don't understand what exactly is the problem that you are encountering. You say you have a leak, but the memory used by the process is reclaimed and decreasing ? Please pass MONO_LOG_LEVEL=debug and MONO_LOG_MASK=gc environment variables to the mono process and attach the output here.

By default the size of the minor generation is 4MB (nur

[2019-03-01 10:44] marek-safar commented on #13240
/cc @directhex

[2019-03-01 10:47] marek-safar commented on #13231
@vargaz could you look into this regression?

[2019-03-01 10:51] marek-safar commented on #12822
@baulig please look into this issue

[2019-03-01 10:58] marek-safar commented on #11072
@baulig what is your estimate on this one?

[2019-03-01 11:05] marek-safar commented on #13194
The file is actually called `System.Xml.dll`

[2019-03-01 11:05] #13194 closed

[2019-03-01 11:06] marek-safar commented on #13169
@mkrueger could you share steps how to reproduce it?

[2019-03-01 11:10] #12522 closed

[2019-03-01 11:18] lewurm commented on #13240
[code]
This is a crash in AOT'd code. Could be a bug triggered by a different locale (German in this case).

@Nichtraucher could you post the output of `env` on the command line? Also, as a workaround, could you try to run the apt command with `MONO_ENV_OPTIONS=-O=-aot apt install [...]`? This will disable the usage of AOT'd code and fallback to the just-in-time compiler.

[2019-03-01 11:33] sancheolz opened #13250 "Setting CustomErrorsMode for RemotingConfiguration throws NotImplementedException"
## Steps to Reproduce

1. set CustomErrorsMode for RemotingConfiguration
`RemotingConfiguration.CustomErrorsMode = CustomErrorsModes.Off;`

### Current Behavior
Throws NotImplementedException.

### Expected Behavior
CustomErrorsMode must be setted and used in remoting

## On which platforms did you notice this

[ ] macOS
[x] Linux
[x] Windows

**Version Used**:
5.21

[2019-03-01 11:35] Nichtraucher commented on #13240
sure

``~ $ env
XDG_VTNR=8
MATE_DESKTOP_SESSION_ID=this-is-deprecated
SSH_AGENT_PID=2083
XDG_SESSION_ID=c1
GPG_AGENT_INFO=/run/user/1000/keyring-u7ewRG/gpg:0:1
TERM=xterm
SHELL=/bin/bash
XDG_SESSION_COOKIE=e283802f0664321f988a3659596f9a2c-1551432200.952533-110002306
DERBY_HOME=/usr/lib/jvm/java-8-oracle/db
WINDOWID=69206045
GNOME_KEYRING_CONTROL=/run/user/1000/keyring-u7ewRG
USER=benni
LS_COLORS=r

[2019-03-01 14:20] berolinux opened #13253 "Current mono tarballs (5.18.0.240, 5.18.0.268) contain prebuilt x86_64 object files"
Current mono tarballs contain some prebuilt Linux x86_64 object files (with a timestamp equal or newer to their source files), causing the build to fail on non-x86_64 (and probably non-Linux) platforms unless they're removed first.

This has happened before and been marked fixed (https://github.com/mono/mono/issues/11501) -- but it looks like the problem has come back.

[2019-03-01 14:20] berolinux commented on #13253
$ tar tf mono-5.18.0.268.tar.bz2 |grep -E '\.[ls]?o$'
mono-5.18.0.268/external/corefx/src/Native/Unix/System.Native/libmono_system_native_la-pal_tcpstate.lo
mono-5.18.0.268/external/corefx/src/Native/Unix/System.Native/libmono_system_native_la-pal_errno.lo
mono-5.18.0.268/external/corefx/src/Native/Unix/System.Native/libmono_system_native_la-pal_io.lo
mono-5.18.0.268/external/corefx/src/Native/Uni

[2019-03-01 14:36] directhex commented on #13240
What is your CPU?

Can you delete `/usr/lib/mono/aot-cache/amd64` and try what you were doing again?

[2019-03-01 14:52] akoeplinger commented on #13253
/cc @directhex

[2019-03-01 16:17] Nichtraucher commented on #13240
[code]

That helped - the update went through.

[2019-03-01 16:52] noabody commented on #13240
Update failed for me on AMD K7, K10 and Intel Pineview.  I used these steps on Ubuntu 18.04.2:
[code]
Logout then back in to get the .profile environment variable to set.  Presumably, these older non-sse4.1 machines will only work with the JIT AOT as opposed to the newer implementation.

[2019-03-01 17:14] directhex commented on #13253
It is fixed, but only in 5.22 and later.

@akoeplinger do we want to backport 7184737beed16f3091e8ee75cb0e11bd73d872fe anywhere?

[2019-03-01 17:16] directhex commented on #13240
As per #12182, LLVM AOT is only used on systems with SSSE4.1 - did we change our optimizations for legacy AOT?

[2019-03-01 17:28] akoeplinger commented on #13253
@directhex 	if people are hitting it in 5.18 then we need to backport it there.

[2019-03-01 17:59] yorb1990 commented on #6350
SAME ERROR AFTER UPDATE "MONO RUNTIME"
[code]

[2019-03-01 18:30] j0shval3r0 opened #13257 "mkbundle error"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-03-01 18:30] #13257 closed

[2019-03-01 18:35] j0shval3r0 opened #13258 "mkbundle issue"
I am bundling a program with Mono.  I am using mkbundle as part of that program.

mkbundle -o out.exe --simple test.exe --nodeps --library Mono.Data.Sqlite.dll --library sqlite3.dll
Using runtime: C:\Program Files\Mono\bin\mono.exe
     Assembly: C:\Users\Me\Documents\mkbundling\test.exe
     Assembly: C:\Program Files\Mono\lib\mono\4.5\I18N.West.dll
     Assembly: C:\Program Files\Mono\lib\mono\4

[2019-03-01 20:34] jbevain opened #13261 "[sdb] StackOverflow when invoking many methods from client debugger"
See attached zip:

[reprosdb.zip](https://github.com/mono/mono/files/2920967/reprosdb.zip)

build.sh && mono debugger.exe

[code]

Getting a similar SO on Windows.

[2019-03-01 21:15] EgorBo commented on #13217
I'd suggest to file an issue in `dotnet/corefx` repository, Mono/Xamarin use .NET Core implementation for GetHashCode - https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/HashCode.cs

[2019-03-01 21:39] nSpecter commented on #13240
If it helps any, I'm having the exact same issue on an AMD Athlon LE-1640 single core, 2698.91Mhz CPU on Lubuntu 18.04.2 LTS.

Also had the EXACT same issue on the December 24th, 2018 Mono update which took me about 6 hours to stumble through a fix. Still not certain what the ultimate solution was, but many hours were spent figuring out how to uninstall Mono components that refused to uninstall, f

[2019-03-02 00:43] noabody commented on #13240
Ubuntu users might want to clear /var/cache to avoid being spammed by "A system problem has been detected" messages.
[code]
I have to say that this particular update failure is truly terrifying so when I read:

Then:

I knew there was no way I was going to think about taking a chance on having the problem again.  I know which of my computers lack sse4.1, which ones are going to fail.  Better to se

[2019-03-02 01:31] #8142 closed

[2019-03-02 02:03] akoeplinger commented on #13253
Should be fixed by #13256. @directhex I think we automatically produce new tarballs right?

[2019-03-02 02:03] #13253 closed

[2019-03-02 02:33] ahoefling opened #13265 "Collection<T> and ObservableCollection<T> do not support ranges"
There is an effort to add new APIs to Collection<T> and ObservableCollection<T> which has been approved for .NET Core 3.0 https://github.com/dotnet/corefx/issues/10752 [by @robertmclaws] and there is traction for adding it to .NET Standard https://github.com/dotnet/standard/issues/1091 [by @ChaseFlorell]

Let's add this implementation to mono so it can be accepted as part of the .NET Standard

Cop

[2019-03-02 02:36] berolinux opened #13266 "Mono crashes on aarch64 and armv7hnl while building mscorlib.dll"
Trying to build mono 5.18.0.268 on ARM (both aarch64 and armv7hnl) machines fails with mono crashing while trying to build mscorlib.dll (identical build in an otherwise identical distro succeeds on x86_64 and i686):

Making all in runtime
make[2]: Entering directory '/home/bero/temp/abf/mono/BUILD/mono-5.18.0.268/runtime'
if test -w /home/bero/temp/abf/mono/BUILD/mono-5.18.0.268/mcs; then :; else

[2019-03-02 16:27] directhex commented on #13253
Not from 5.18 any more

[2019-03-02 18:27] carvalho-oak commented on #9511
Please! Release 106.7!

[2019-03-02 22:47] marek-safar opened #13269 "ref structs are not visible on the stack"
## Steps to Reproduce

1. compile following sample
[code]

2. mono --debug foo.exe

### Current Behavior

[code]

### Expected Behavior

One more frame with ValueStringBuilder::Test

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

[2019-03-02 22:51] vargaz commented on #13269
It was just inlined. mono -O=-inline foo.exe produces the correct stack trace.

[2019-03-02 23:11] #13269 closed

[2019-03-02 23:39] ZEROF opened #13270 "Ubutu repo is down"
Hi,

You repo is down.

     W: Failed to fetch http://download.mono-project.com/repo/ubuntu/dists/xenial/InRelease  Cannot initiate the connection to download.mono-project.com:80

OS: Ubuntu 16.04LTS

[2019-03-03 05:46] knocte commented on #13270
/cc @directhex

[2019-03-03 13:17] sbrl opened #13277 "SIGILL: Latest stable Mono crash when loading an XML Document"
## Steps to Reproduce

1. Load an XML document in with System.Xml (offending code is in [this repository](https://git.starbeamrainbowlabs.com/sbrl/RhinoReminds))
2.
3.

### Current Behaviour
It crashes with a native stack trace

### Expected Behaviour
It doesn't crash and actually loads the following XML document:

[code]

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2019-03-03 19:51] ahoefling commented on #13265
I have started working on this change and would love some guidance on how to make the Pull Request. As it stands right now I have changes living in the following projects as the mono project uses submodules:

* https://github.com/mono/corefx
* https://github.com/mono/mono

Should I make the Pull Request first in the mono/corefx and cite this work item? I feel like I can't do one without the other

[2019-03-04 00:04] #13258 closed

[2019-03-04 00:13] j0shval3r0 opened #13279 "mkbundle kills mailsending"
Hi!  I am writing an app with mono and it works fine.  Until I try to mkbundle it.
Mkbundle itself works fine.  But when I try and run the program after bundling I get this error:

System.Net.Mail.SmtpException: Message could not be sent. ---> System.Security.Authentication.AuthenticationException: Authentication failed, see inner exception. ---> Mono.Btls.MonoBtlsException: Ssl error:1000007d:SSL

[2019-03-04 02:17] trevorknight1 commented on #12098
I have the same issue Assertion: should not be reached at metadata.c:2957

[2019-03-04 03:09] carvalho-oak commented on #9511
106.8.9 has been released and the issue is not fixed. @amolsarmalkar, could you please confirm if it is working for you?

[2019-03-04 03:26] wxtripoder opened #13280 "Mono.Cecil.dll Unhandled Exception in Raspbian system"
I want to install the latest Mono package which is named "mono-5.18.0.268.tar.bz2" to Raspbian system;
While installing, found an error and the installing was abort by this error;
Can help me to find out the root cause? or need some additional components before Mono installing? thanks!

The hardware model is: Raspberry 3b+;

Raspbian system information is as following:
Link: https://www.raspberryp

[2019-03-04 08:09] lewurm commented on #13266
looks like a duplicate of https://github.com/mono/mono/issues/12632#issuecomment-458915667 could you try the suggested workaround?

[2019-03-04 08:15] lewurm commented on #13277
<img width="641" alt="screenshot 2019-03-04 at 09 14 21" src="https://user-images.githubusercontent.com/75403/53719278-ef595300-3e5d-11e9-8186-3023a112235d.png">

`pmovzxbq` is part of the SSE4.1 instruction set extension and it looks like it isn't supported by your CPU. Sounds like issue https://github.com/mono/mono/issues/12182 and in particular this workaround should get you unblocked: https://

[2019-03-04 10:26] sancheolz opened #13282 "[SWF] Method OnClosed should pass FormClosedEventArgs type, instead of EventArgs"
## Steps to Reproduce

1.  override From.OnClosed method like this:
[code]

### Current Behavior

Throws NullReferenceException when cast e to FormClosedEventArgs.

### Expected Behavior

Successfull cast e to FormClosedEventArgs.

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.21.0 (master/d319f72d0dd Вс окт  7 12:53:58 M

[2019-03-04 10:52] dellis1972 opened #13284 "Checked ulong relational operation throws wrong OverflowException on armeabi-v7a"
### Steps to Reproduce

 1. Create a new project "Android App (Xamarin)" -> "Single View App".
 2. Append the following code to MainActivity.OnCreate.
[code]
3. Run in debug mode on armeabi-v7a emulator or real device.

### Expected Behavior

The log should be equivalent to the result on a x86/arm64-v8a emulator like the following

[code]

### Actual Behavior

The log of my real device (Snapdragon

[2019-03-04 10:52] dellis1972 commented on #13284
Originally https://github.com/xamarin/xamarin-android/issues/2775

[2019-03-04 12:10] marek-safar commented on #13265
Mono is tracking CoreFX 2.1 via the submodule and that won't change. The best way forward would be to make the types partial in Mono fork of CoreFX and add the partial implementation to https://github.com/mono/mono/tree/master/mcs/class/corlib/corefx

[2019-03-04 12:13] marek-safar commented on #13284
@vargaz @lewurm please have a look

[2019-03-04 12:15] marek-safar commented on #13279
/cc @baulig

[2019-03-04 13:55] akoeplinger opened #13289 "QueueRegisterPositiveAndFlowTest corefx test is flaky"
Examples:

- https://jenkins.mono-project.com/job/test-mono-pull-request-armhf/21244
- https://jenkins.mono-project.com/job/test-mono-pull-request-armel/20948
- https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/18380
- https://jenkins.mono-project.com/job/x/18682/

[2019-03-04 13:57] sbrl commented on #13277
Hey, @lewurm! Thanks for the reply. I've done this:

[code]

....but I'm still getting this error:

[code]

It sounds like the full output of `lscpu` is important, so I'll include that below.

<details>
<summary>Click to see output of <code>lscpu</code></summary>
[code]
</details>

[2019-03-04 14:01] #13250 closed

[2019-03-04 14:09] ahoefling commented on #13265
@marek-safar thanks for the feedback as this is really helpful as I try and get this implemented in mono.

The original issue that is logged on dotnet/corefx is slated for milestone 3.0, which should include the changes to the base class `Collection<T>` and `ObservableCollection<T>`. Is it safe to assume those changes will be ported into the mono fork when it is time to update? Or should I go down

[2019-03-04 14:20] lewurm commented on #13277
You also need to clear the AOT cache: https://github.com/mono/mono/issues/12182#issuecomment-451160265

If that should help, try this: https://github.com/mono/mono/issues/12182#issuecomment-451118994

[2019-03-04 14:21] marek-safar commented on #13265
Oh I didn't notice the issue is still pending for .NET Core. In such case please implement it in CoreFX first and when the time comes it will flow to Mono automatically.

[2019-03-04 14:32] #13282 closed

[2019-03-04 14:47] ahoefling commented on #13265
That is really cool, I didn't realize that is how it worked.

Should I include my mono specific unit tests after it flows over?

[2019-03-04 14:49] marek-safar commented on #13265
You can but if you write CoreFX xunit test we run them automatically too

[2019-03-04 15:39] vargaz commented on #13195
Running a debug build of chakra with the -Prejit argument makes the failure deterministic.

[2019-03-04 15:43] #13030 closed

[2019-03-04 15:53] marek-safar commented on #9511
@carvalho-oak are you experiencing the exact same issue with the latest restsharp and the steps provided in the description?

/cc @baulig

[2019-03-04 16:09] directhex commented on #13270
This might be a CDN issue specific to your location? What does download.mono-project.com resolve to for you?

[2019-03-04 16:12] directhex commented on #13240
You shouldn't get the SSSE4.1-requiring AOT on CPUs which don't support it - it's specific to LLVM AOT, which is disabled on CPUs which don't support it.

This bug seems more like we made changes to our optimizations in non-LLVM AOT? I'll have to investigate the AOT code

[2019-03-04 16:19] directhex commented on #13240
I can't verify that you're definitely not producing LLVM AOT, without a `dpkg-reconfigure libmono-corlib4.5-cil` output

[2019-03-04 16:58] vargaz commented on #13195
Testcase:
[code]
Compile with:
emcc -O2 -s WASM=1 -s ASSERTIONS=1 -g4 bug.c
Run with:
~/ChakraCore/out/Debug/ch -PreJit a.out.js

[2019-03-04 17:01] vargaz commented on #13195
[a.out.js.gz](https://github.com/mono/mono/files/2927405/a.out.js.gz)
[a.out.wasm.gz](https://github.com/mono/mono/files/2927406/a.out.wasm.gz)

[2019-03-04 17:20] lambdageek opened #13296 "[loader] Make native DSO loader more embedder-friendly"
Currently when we need to find a native library for a P/Invoke, we call `lookup_pinvoke_call_impl` https://github.com/mono/mono/blob/master/mono/metadata/loader.c#L1297 which does several things:
1. extracts the library name from the metadata
2. applies the dllmap
3. checks the cache of loaded native libraries
4. tries to find the native library by applying various transformations to the library p

[2019-03-04 17:25] lambdageek commented on #13296
### Xamarin.Android native library glue ###

On Android DSOs can come from basically 3 places:
1. `/system/lib{,64}`
2. application data directory (and subdirectories?)
3. the apk itself (if embedded DSOs are used)
(Also the override directory, which is related to 2).

The directories are determined by https://github.com/xamarin/xamarin-android/blob/master/src/monodroid/jni/android-system.h#L53 an

[2019-03-04 17:36] lambdageek commented on #13296
### netcore glue ###

A lot of the probing is also not necessary for netcore too (see the unmerged PR https://github.com/mono/mono/pull/12613):
the list of directories is specified by the `NATIVE_DLL_SEARCH_DIRECTORIES` property.  In the PR I tried to use a MonoDl fallback handler, but it's basically the same story as Android: a lot of the probing that Mono does isn't necessary.

[2019-03-04 18:28] jeromelaban opened #13297 "[WASM] decompose.c:1471, condition `cfg->cbb == first_bb' not met"
## Steps to Reproduce

[code]

### Current Behavior
When AOT is enabled, as specific assembly fails with this message:
  * Assertion at /mnt/jenkins/workspace/test-mono-mainline-wasm/label/ubuntu-1804-amd64/mono/mini/decompose.c:1471, condition `cfg->cbb == first_bb' not met

This happens on Wasm, but I've seen occasions where this happens when building for iOS as well.

## On which platforms did

[2019-03-04 18:29] lambdageek commented on #13193
Fixed by #13242

[2019-03-04 18:29] #13193 closed

[2019-03-04 18:54] cdadmin opened #13298 "Entity Framework 6.2.0 LINQ Query .contains exception"
## Steps to Reproduce

Run a simple query against the db context with a variable used in the contains method and an exception is thrown.
[code]

The following example works as expected when value is hard coded in.
[code]

This problem is only present in EF 6.2.0, roll back to 6.1.3 and the problem goes away.  The problem can be reproduced with Mono on both Windows and Linux.  Running the same code

[2019-03-04 23:09] baulig commented on #12822
Well, it is debatable what we should do here - there are three options:

1.  Make it throw `PlatformNotSupportedException` on all platforms (my recommended choice).
2.  Make it throw `PlatformNotSupportedException` on all non-Linux platforms.
3.  Silently ignore `CspProviderFlags.UseMachineKeyStore`; I strongly dislike this.

IMHO the choice is only whether or not this should throw `PlatformNotSup

[2019-03-04 23:17] baulig commented on #12822
To give some more background on this:

On all mobile profiles, there is no machine key store (as we do not hook up with the device's certificate / key APIs).

On the Mac, there was a discussion a while ago about what the "machine config" path should be (as returned by for instance `Environment.SpecialFolder.CommonApplicationData`).  Since on OS X the '/usr' directory is unwritable (including the `

[2019-03-04 23:18] baulig commented on #12822
Now, after those technical details, to solve the problem for you - what are you trying to accomplish by using `CspProviderFlags.UseMachineKeyStore`?  You can just remove that and it should work fine.

[2019-03-05 00:06] sbrl commented on #13277
Hey, thanks! Clearing the AOT cache does appear to have resolved the issue for now.

If I understand this right, will mono repopulate this cache automatically for me? Is there a command I can use to force it to do so, like it does when install mono (which takes ages, which is why I'm somewhat concerned)? Or does the workaround disable this functionality?

[2019-03-05 05:05] j0shval3r0 commented on #13279
Also please note that I have looked at
https://www.mono-project.com/archived/usingtrustedrootsrespectfully/
but I don't want to put my user at a security risk, nor do I want to change the code (I have already had people review it, don't want to repeat this process).  I hope there is a way to fix this without changing the code, just through compiler options or something.
Thanks!

[2019-03-05 06:21] #13297 closed

[2019-03-05 07:23] carvalho-oak commented on #9511
@marek-safar yes exactly the same as reported by @axa88 at https://github.com/restsharp/RestSharp/issues/1280

[2019-03-05 07:35] amolsarmalkar commented on #9511
No latest version 106.8.9 is not working for me.
We have used OAuth2 and we pass Access token in GET request. As long as the access token is alive, we get proper response. Once the access token expires, the response is received with blank content type , status code 0, content length 0 .Why this scenario fails?
![screen shot 2019-03-05 at 1 02 12 pm](https://user-images.githubusercontent.com/142937

[2019-03-05 09:54] coldwarrior5 commented on #11604
Could you not assign a small shared memory to store the mutex info and use POSIX pthread_mutex to open the existing mutex by using said mutex info from shared memory.
Similar to this: [](https://gist.github.com/yamnikov-oleg/abf61cf96b4867cbf72d)

[2019-03-05 10:47] jaykrell commented on #11604
Posix probably does not define the semantics of mutexes in shared memory, at least used in multiple processes.

[2019-03-05 10:47] jaykrell commented on #11604
Certainly the Win32 analogs do not work.

[2019-03-05 11:26] kg commented on #11604
There is an extremely fragile way to do it using shm segments, but it still has the abandoned mutex / leak problem. IIRC this is what corefx does. It's a large amount of complexity and when I glanced over the implementation it did not look simple to import it wholesale just to support one application. :(

[2019-03-05 12:13] marek-safar commented on #13277
@lewurm what is the correct solution for the issue on our side?

[2019-03-05 12:17] coldwarrior5 commented on #11604
Ok, I understand the problem. But what perplexes me the most is the fact that it is not used more often. Mutexes are pretty useful when one is trying to access shared memory from multiple processes.
The fact that it is so difficult to get around it shows that Windows, however broken, is a more mature and wholesome product.

[2019-03-05 12:25] marek-safar commented on #9511
@baulig could you please check you can also reproduce @amolsarmalkar issue

[2019-03-05 12:27] marek-safar commented on #13298
Could you please include full exception stack trace

[2019-03-05 13:30] mamcx commented on #10890
This happened to me on Android, making impossible to run with a debugger. But on "release" the project run.

[2019-03-05 14:11] cdadmin commented on #13298
[code]

[2019-03-05 14:12] cdadmin commented on #13298
I also created a sample project that demos this behavior.
https://github.com/cdadmin/EF_Error

[2019-03-05 14:50] luhenry commented on #11604
This is not a problem with the mutexes or the semaphore themselves, we could implement mutex in terms of semaphore even if it worked better cross processes. The problem is with the shared memory: there is no easy way not to leak it in case of crashes, and it might just stay around forever since you never really know when you are supposed to free it.

[2019-03-05 15:07] azuken opened #13310 "Nullable DateTime with value is null in a constructor"
## Steps to Reproduce

1. Have a nullable DateTime ViewModel property, bound to a Xamarin.Forms view (Custom widget extended from DatePicker)
2. Have a model with a constructor, which have a nullable DateTime parameter
3. Get ViewModel property, pass it to constructor

[code]

### Current Behavior

Nullable datetime set with a valid date value become null when passed to a constructor, in Release m

[2019-03-05 15:54] azuken commented on #13310
After some tests, I have two case which resolve issue :

- When I set me nullable datetime after instanciate object (with public property setter), it works.
- When I put nullable datetime parameter at the end of constructor, it works.

[2019-03-05 16:13] lambdageek commented on #13193
Fix backported to 2018-10 (#13303), 2018-12 (#13300) and 2019-02 (#13299)

[2019-03-05 16:49] jbevain opened #13311 "[sdb] Failure to suspend"
Unzip the following repro:

[reprosdb2.zip](https://github.com/mono/mono/files/2931889/reprosdb2.zip)

`build.sh && mono debugger.exe`

This doesn't repro all the time, so it might be timing related, but sometimes you get:

[code]

And sometimes it works:

[code]

Seeing the same behavior on Windows. This impacts the VSTU CI.

[2019-03-05 16:57] lambdageek commented on #13311
Attn @thaystg

[2019-03-05 20:04] adsbxchange commented on #7655
Still not fixed.  Using 5.8.0.127 in production, any later mono leaks memory and crashes out application.

[2019-03-05 20:11] MarkStega opened #13314 "[wasm]Newtonsoft.Json.JsonConvert fails to deserialize POCO in WASM environment, works in .NetCore3.0.0P2"
I have a service that is creating a json representation of a POCO. When I consume the service on the server side the json can be deserialized by NewtonSoft.Json. When consumed in the client the deserialization fails and leaves 'garbage' in the POCO.

This detail is being copied from a bug report that I filed in the AspNet/AspNetCore repository as it appears to me that it is a Mono issue.

## Steps

[2019-03-05 21:20] #8503 closed

[2019-03-05 21:58] jaredpar opened #13319 "Crash executing static methods on interfaces"
## Steps to Reproduce

1. Clone https://github.com/dotnet/roslyn
1. Checkout the branch `features/DefaultInterfaceMethods` (specifically [this commit](https://github.com/dotnet/roslyn/commit/a7bc9207fdbb4c24ea016f962330d290ec6b4356))
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --mono`

### Current Behavior
Eventually this will crash on the test

[2019-03-05 22:42] alexanderkyte commented on #10890
This assertion was removed in c3fe80a0c43be780e35f3a4091d3dc1023b35a00, it now gracefully fails. You may be using an older mono.

[2019-03-05 22:45] alexanderkyte commented on #10890
[code]

Is how it is now handled.

If you're running into the maximum number of frames pretty often on android, maybe we should bump that number.

[2019-03-05 22:45] #10890 closed

[2019-03-06 01:47] vargaz commented on #13195
https://github.com/Microsoft/ChakraCore/issues/5985

[2019-03-06 06:52] tomaxsas commented on #12100
any ETA on this? tried 5.20.0.237, still no luck. 5.1.4.7 works fine.

[2019-03-06 07:32] marek-safar commented on #13319
@vargaz more dim work, please get it fixed

[2019-03-06 08:00] lewurm commented on #13277
@sbrl `dpkg-reconfigure libmono-corlib4.5-cil` shoud recreate the AOT cache. Make sure `mono-llvm-support` isn't installed, so it won't use LLVM (which triggers your issue). For what it's worth, everything should work fine without the AOT cache.

@marek-safar we need to fix LLVM AOT for amd64, as discussed in https://github.com/mono/mono/issues/12182

I'll close this issue since it's a duplicate o

[2019-03-06 08:01] #13277 closed

[2019-03-06 08:19] ShonkyCH commented on #11744
Pretty simple problem here it looks like. I'm not sure how to submit a pull request since the problem files don't exist in the repo (and shouldn't)

Basically in all the tarballs since 5.16.0.179 at least all the way to the latest current 5.18.0.268 there are some x86-64 object files included that shouldn't be. They're not in the repo, so I'm guessing that the release process is not correctly remo

[2019-03-06 08:40] kg commented on #13113
OK, the problem is that ```VsExecutionSink``` (specifically) has some sort of failure state that is preventing ```mono_class_is_assignable_from_checked``` from walking its base types to check whether it is MarshalByRef. Its parent class is fine so it's just specifically something wrong with VsExecutionSink. I suspect some sort of type load issue but I haven't been able to identify it yet.

[2019-03-06 09:05] #11430 closed

[2019-03-06 09:16] faina09 commented on #12916
same issue here, using Microsoft.EntityFrameworkCore.SqlServer  Version="3.0.0-preview.19074.3".
Actually seems to be not possible to use EF in Blazor 0.8.0, but I have a working sample with Blazor 0.7.0 and Microsoft.EntityFrameworkCore.SqlServer 2.1.4

[2019-03-06 09:33] lewurm commented on #11744
I think this issue was fixed by https://github.com/mono/mono/pull/11509 (thus duplicate of https://github.com/mono/mono/issues/11501 )

[2019-03-06 09:33] #11744 closed

[2019-03-06 09:46] vijaykhurdiya commented on #13175
Hi,
I could able to figure out what is a difference due to the same you could not see memory decreasing. while launching the application I have redirected o/p to one text file. In the test, I am doing console write & that is going to file due to redirection. This will increase the InActive part of memory until it does not reach the bottom of system memory. Is there any way I can control this?
In a

[2019-03-06 10:00] kg commented on #13113
Hi @Anipik, is there anything unusual about how you are configuring the test runner for this project? An underlying cause appears to be that during the test run, some of the test infrastructure assemblies are not able to load inside one of the appdomains.

[code]

As a result, VsExecutionSink loads right in one domain but then when it is sent over via remoting it reaches a domain where it couldn't

[2019-03-06 10:12] kg commented on #13113
Follow-up: If I manually add the relevant dotnet SDK folder to ```MONO_PATH``` (***this is not a solution just a temporary workaround***) the tests run and pass, like so:

[code]

So the root cause appears to be that xunit requires some files that are currently only in the dotnet SDK folder, and those files are not automatically being pulled in when running tests. It's unclear to me whether this i

[2019-03-06 10:29] marek-safar commented on #13310
This issue was moved to xamarin/Xamarin.Forms#5469

[2019-03-06 10:29] #13310 closed

[2019-03-06 11:25] sbrl commented on #13277
Thanks, @lewurm! I'll subscribe to that issue then.

[2019-03-06 12:18] greatvova commented on #9511
Have same issue when connect to .Net Core written backend. Can't wait to update to 106.7 version.

[2019-03-06 12:30] MaximLipnin commented on #13298
I was able to reproduce this bug with PostgreSQL on macOS on the latest master.
It occurs for EntityFramework 6.2.0 package and doesn't appear for EntityFramework 6.1.3.

Related EF issue:  https://github.com/aspnet/EntityFramework6/issues/445

Here it's an attempt to compile lambda expression: https://github.com/aspnet/EntityFramework6/blob/22a11d132306c257435fa7d6d75a31359cbbd05a/src/EntityFrame

[2019-03-06 13:28] tomaxsas commented on #12100
Tested with  6.1.0 nightly, problem solved in this  at least on Linux (not tired on other paltforms)

[2019-03-06 13:58] #12100 closed

[2019-03-06 14:21] #13136 closed

[2019-03-06 14:22] #12935 closed

[2019-03-06 14:24] marek-safar commented on #12019
@baulig could you land the stack trace change?

[2019-03-06 14:26] #12242 closed

[2019-03-06 15:00] vargaz commented on #13231
@rolfbjarne Did anything change around that area in x.ios ?

[2019-03-06 16:26] jamesmcroft commented on #12577
@baulig is this available now? If so how do you take advantage of this with Xamarin.Android?

At present, when setting the timeout of a HttpClient, Android still isn't respecting this when using the native AndroidClientHandler.

[2019-03-06 18:38] vargaz commented on #12307
Xam.android needs a mono bump to pick up the fix.

[2019-03-06 19:34] lambdageek commented on #10564
This is passing with #13320.

[2019-03-06 19:51] lambdageek commented on #10565
All of these pass with #13320.

[2019-03-06 21:27] mhutch commented on #13113
The dotnet SDK shouldn't be involved here at all, this is the .NET Framework version of the adapter.

There is a copy of  `Microsoft.VisualStudio.TestPlatform.ObjectModel.dll` in the same directory as `vstest.console.exe`, and `vstest.console.exe.config` has a binding redirect for it as well, so I have no idea why it isn't being loaded. Maybe the base directory of the new appdomain is wrong.

[2019-03-07 05:58] kjpou1 commented on #13314
Hello Mark

We can reproduce the issue.  Thank you for the test cases.

[2019-03-07 06:36] rolfbjarne commented on #13231
@vargaz no, the `CGPattern` code hasn't changed in years.

[2019-03-07 06:41] wxtripoder commented on #13280
Hi, Can anyone give some helps? thanks!

[2019-03-07 09:52] Wohlstand commented on #7095
I have found it's STILL be reproducable with some other apps, even on Mono Preview 5.20:
https://github.com/pascalabcnet/pascalabcnet/issues/1812#issuecomment-469017658
Lemme attach executible and dependent file that reproducing this crash...

[2019-03-07 10:10] Wohlstand commented on #7095
This STILL crash on 5.18 and even on 5.20!
[pascalabcnet-dev.zip](https://github.com/mono/mono/files/2940636/pascalabcnet-dev.zip)

Run:
[code]

And result:
[code]

[2019-03-07 13:12] MaximLipnin commented on #13065
Did you try to set non-zero connection timeout?

Btw [MS doc](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectiontimeout?view=netframework-4.7.2#System_Data_SqlClient_SqlConnection_ConnectionTimeout) says: `A value of 0 indicates no limit, and should be avoided in a ConnectionString because an attempt to connect waits indefinitely.`

I had no luck reproducing

[2019-03-07 15:07] non-conformances-research opened #13349 "Assembly.CreateInstance returning null instead of throwing an ArgumentException"
According to the specification, Assembly.CreateInstance method should throw an ArgumentException to the above program.

[code]

## Steps to Reproduce

1. Compile above program.
2. Run it.

### Current Behavior

Null

### Expected Behavior

ArgumentException thrown.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

5.4.1

[2019-03-07 15:19] non-conformances-research opened #13350 "MemberInfo.ReflectedType returns wrong reflected type for an event method"
According to specification of MemberInfo.ReflectedType (https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.reflectedtype?view=netcore-2.1), it "gets the class object that was used to obtain this instance of MemberInfo". But using the following program the output is different:

[code]

**Steps to reproduce:**

1. Compile above program
2. Run it using mono

**Current result:**

[2019-03-07 16:32] MaximLipnin commented on #13065
I was able to reproduce this issue with Azure SQL DB instance. BTW Azure SQL DB connection string has connection timeout = `30` by default.

[2019-03-07 19:02] Anipik commented on #13113
@kg if you require any help\info from the dotnet team, let us know :)

[2019-03-07 19:45] davidgiga1993 commented on #10490
What's the best way to fix this problem? Adding the missing dlls from the mono package for the target platform did not solve this problem for me.

[2019-03-07 20:11] kg commented on #13113
Is the command line from the original report something that used to work? I'm not clear on whether this search path behavior is a bug in mono or if we're just not running the test correctly. What are the scenarios in which this test does work out-of-the-box? You mentioned it works on Windows, does that mean cygwin using the same command lines or does it mean running it using win32 mono.exe from cm

[2019-03-07 20:22] Anipik commented on #13113
No its the first time we are trying it with mono on unix. It works with .net core on unix

It works on .net core windows and unix both,  .netFramework and mono windows (64bit)

I run it using win64 mono.exe from cmd. I haven't checked with 32 bit

[2019-03-07 21:20] Wohlstand commented on #10201
Copy of my post from [another issue](https://github.com/mono/mono/issues/7095#issuecomment-470465597)

--------------

This STILL crash on 5.18 and even on 5.20!
[pascalabcnet-dev.zip](https://github.com/mono/mono/files/2940636/pascalabcnet-dev.zip)

Run:
[code]

And result:
[code]

[2019-03-07 21:21] kg commented on #13113
OK thank you. That gives me enough info to try and identify why the search path behavior is different

[2019-03-08 01:56] samhouts commented on #13112
This turned out to be a type mismatch between FFImageLoading and Xamarin.Forms. It can be closed, unless we can think of a better error message. Thanks!

[2019-03-08 02:48] wxtripoder commented on #13280
I used the command for Mono installing and found no this problem;

[2019-03-08 02:48] #13280 closed

[2019-03-08 08:39] #13112 closed

[2019-03-08 09:19] mikaelj commented on #11744
@lewurm Great news!

Will there be a 5.16 or a 5.18 release with fix?

[2019-03-08 10:10] squirrelboot opened #13361 "Regression: LLVM/SSSE4.1 issue reopen in 5.18.0.268-0xamarin1 .debs"
## Steps to Reproduce

1. sudo apt-get update && apt-get dist-upgrade
2. sudo dpkg --configure -a

### Current Behavior

Mono has worked without issues for months and months. After doing a standard 'sudo apt-get update && apt-get dist-upgrade' many errors and failures occurred.

Now I am unable to use apt-get, nor fix it with dpkg, etc.

I do not know what to do. Help!

### Expected Behavior

That

[2019-03-08 10:19] ajlennon commented on #11744
Great news guys! I'll get some builds spun up on my Jenkins box to test out for meta-mono

[2019-03-08 15:40] vladtepesch opened #13368 "aot on raspberry does not work"
## Steps to Reproduce

1. I exactly followed the instructions on https://www.mono-project.com/download/stable/#download-lin-raspbian to install mono on an up to date raspbian
2. i chose to install mono-complete
3. I wanted to full aot the mono libraries according to https://www.mono-project.com/docs/advanced/aot/
`sudo mono --aot /usr/lib/mono/4.5/mscorlib.dll`
`for i in /usr/lib/mono/gac/*/*/*.dl

[2019-03-08 16:41] vargaz commented on #13231
@mandel-macaque I can't reproduce this, the app is supposed to run for a while, then crash ?

[2019-03-08 16:45] lambdageek opened #13370 "[class-init] Set MonoError in more cases in `mono_class_setup_vtable_general`"
There are a lot of places in `mono_class_setup_vtable_general` that look like this:
[code]

Because they don't set `error` to anything, we just get the generic:
[code]

Which doesn't tell us anything about _why_ setting up the vtable failed.  All the context has been lost.

Rather, the could should be more like this:
[code]

That way in the failure code will do:
[code]

and  will get a bit more cl

[2019-03-08 19:20] #13261 closed

[2019-03-08 20:14] jaredpar opened #13374 "Crash executing default implemented property in interface"
## Steps to Reproduce

1. Clone https://github.com/dotnet/roslyn
1. Checkout the branch `features/DefaultInterfaceMethods`
1. Edit `src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs`
1. Change attribute on `PropertyModifiers_23_00` to `[Fact]`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --testMono`

Other tests aff

[2019-03-08 23:44] marek-safar commented on #13374
@vargaz please look into this one as well

[2019-03-08 23:55] #13319 closed

[2019-03-09 07:43] huangjinshe opened #13378 "When the Duplex channel will implement for Xamarin ?"
We just wait too much longer for this feature, That will cause the WCF dead if WCF only has some basic feature. We need some advanced feature, such like Duplex channel.

[2019-03-09 16:46] devvoid opened #13380 "Random crash when compiling code (worked previously)"
## Steps to Reproduce

1. Not sure how to reproduce this, it just started happening today.
2. Clone daerogami/opentk and try to compile with Mono(?)

### Current Behavior

When I run Mono to compile a project, it crashes with exit code 134.

### Expected Behavior

Mono should compile the project correctly.

The code in question targets .net standard 2.0, and compiling with .net core works perfectl

[2019-03-09 23:00] thiagobucca commented on #13065
@MaximLipnin Yes, the issue only occurred to my on Azure SQL DB instances.

[2019-03-10 06:37] knocte commented on #13380
With "worked previously" you mean it's a regression? If yes, would be good to specify the version of mono that didn't have this bug.

[2019-03-10 08:29] devvoid commented on #13380
I mean that I started up my computer one day and it just stopped working. Didn't change my Mono version at all.

[2019-03-10 12:17] avkhitry commented on #7655
I have similar problem with memory leak during file operations, any chance it will be fixed?

[2019-03-10 12:38] gatodev opened #13384 "[System.Windows.Forms] Label issues"
## Steps to Reproduce

    using System;
    using System.Windows.Forms;
    using System.Drawing;

    class Form1 : Form {
        static void Main() {
            Application.Run(new Form1());
        }
        public Form1() {
            var label1 = new Label {
                Parent = this,
                Height = 10,
                BorderStyle = BorderStyle.FixedSingle,
                T

[2019-03-10 17:17] sjaenick opened #13385 "X509Store doesn't honor mono install prefix"
## Steps to Reproduce

1. mono-5.18.0.268, ./configure --prefix=/somewhere && make && make install
2. as non-root, invoke /somewhere/bin/cert-sync /etc/ssl/certs/ca-certificates.crt

### Current Behavior

Unsuccessful attempt to store certificates to /usr/share/.mono instead of using a location
within the specified install prefix:

[code]

### Expected Behavior

Use a writeable location within the

[2019-03-10 20:59] EgorBo commented on #13385
Related: https://github.com/mono/mono/issues/11043

[2019-03-10 23:10] lewing commented on #13314
This appears to be because of the generic enum caused by defining the enum inside a generic class.

The test case below demonstrates the problem
[code]

cc @marek-safar @vargaz

[2019-03-11 06:30] bwadswor opened #13389 "Assertion: should not be reached at mini-codegen.c:1453"
## Steps to Reproduce

1. Assemble this app. ("ilasm mini1453.il")
[code]

2. run said app.. "mono-sgen.exe mini1453.exe"
3. observe assert "* Assertion: should not be reached at mini-codegen.c:1453"

### Current Behavior

Hits assert "* Assertion: should not be reached at mini-codegen.c:1453"

### Expected Behavior

exit code 18.
Expected behavior occurs on full .net framework and coreclr.

## On

[2019-03-11 07:37] lewurm commented on #13389
Only happens on x86.

`MONO_VERBOSE_METHOD=Method` output: https://gist.github.com/lewurm/aadbcdf6b7a3521e035665779206b68b

The asserts happens here (with `val = -2`):
https://github.com/mono/mono/blob/3489679dc52b93ab0570cd4153cf3f2459241f77/mono/mini/mini-codegen.c#L1451-L1453

I'm not familiar with that code, @vargaz any idea?

[2019-03-11 07:41] lewurm commented on #12182
let's keep it open until we have propagated the fix to release branches.

[2019-03-11 08:14] MaximLipnin commented on #13298
@ajcvickers Hi, could you please take a look? Is is something familiar to you?

[2019-03-11 08:26] MaximLipnin commented on #13065
@thiagobucca if it's possible please use non-zero connection timeout to mitigate the issue.

[2019-03-11 08:30] marek-safar commented on #13385
#12005 duplicate

[2019-03-11 08:30] #13385 closed

[2019-03-11 09:36] #12307 closed

[2019-03-11 09:51] mandel-macaque commented on #13231
@vargz correct, In my tests, I ran the application in an iPhone 8+ with iOS 12.1.4 (16D57). It takes an unknown about of time to crash.  I created the issue following the information provided by a user in https://developercommunity.visualstudio.com/content/problem/463933/cgpattern-causes-attempting-to-jit-compile-method.html which followed an issue that was described in the forums (all the informa

[2019-03-11 10:23] lewurm commented on #13231
I can reproduce, it took around a minute on an iPhone 7. native stack trace in a debugger: https://gist.github.com/lewurm/2535b2a5d4edc9e25971351676994724

looks like we run out of some kind of trampoline, probably caused by this delegate in the repro:
[code]

I'm not familiar with this API: Is it possible to rewrite it so that the `CGPattern` object is only allocated once?

[2019-03-11 12:29] marek-safar commented on #8811
Closing, please reopen if you can still reproduce the issue with requested details

[2019-03-11 12:29] #8811 closed

[2019-03-11 13:41] MaximLipnin commented on #13350
https://github.com/mono/mono/issues/10277 related

[2019-03-11 15:31] directhex commented on #13361
What processor do you have? I've heard a few reports like this but have been unable to reproduce locally

[2019-03-11 15:34] squirrelboot commented on #13361
I have an Intel Atom on this board:

https://www.asus.com/Motherboards/AT3IONTI_DELUXE/

[2019-03-11 15:35] kevinpawsey commented on #13361
If it helps, I have a core2duo, an HP Microserver, and seeing a similar issue when doing an apt upgrade of mono.

Is there anything that I can run that will help point you in the right direction?

[2019-03-11 15:39] directhex commented on #13361
Which model of Core 2 Duo, exactly?

[2019-03-11 15:41] kevinpawsey commented on #13361
our posts crossed... I just updated with some info about my system in my post above

Let me know if you need anything else at all

[2019-03-11 15:42] directhex commented on #11614
RPM installation got a spring clean last week.

[2019-03-11 15:42] #11614 closed

[2019-03-11 15:45] directhex commented on #13361
can you run `dpkg-reconfigure -plow libmono-corlib4.5-cil` and paste the full output?

[2019-03-11 15:46] kevinpawsey commented on #13361
here it is:

`sudo dpkg-reconfigure -plow libmono-corlib4.5-cil

Mono precompiling /usr/lib/mono/4.5/mscorlib.dll for amd64 (LLVM disabled due to missing SSE4.1)...`

[2019-03-11 15:47] kevinpawsey commented on #13361
at the moment I have not got a 'broken' update... this is before the update... when my upgrade broke I rolled back (thanks to BTRFS snapshotting!!)... so my system is working at the moment

[2019-03-11 15:54] directhex commented on #13361
I think it's telling that both your CPU and @squirrelboot's lack SSE4 support, but literally nothing relevant to that has changed between 5.18.0.240 and 5.18.0.268.

Can you erase /usr/lib/mono/aot-cache and try running the upgrade again?

[2019-03-11 15:57] kevinpawsey commented on #13361
this is the contents of that folder at the moment...

ls /usr/lib/mono/aot-cache
amd64
ls /usr/lib/mono/aot-cache/amd64/
csc.exe.so  Microsoft.CodeAnalysis.CSharp.dll.so  Microsoft.CodeAnalysis.VisualBasic.dll.so  System.Collections.Immutable.dll.so  vbc.exe.so
mcs.exe.so  Microsoft.CodeAnalysis.dll.so         mscorlib.dll.so                            System.Reflection.Metadata.dll.so    VBCSComp

[2019-03-11 16:26] kevinpawsey commented on #13361
no, it crashed again during the upgrade... I have a broken install now... is there anything that I can get you now that will point to the issue?

[2019-03-11 16:28] kevinpawsey commented on #13361
This is the last lines of the upgrade ... this debug info then repeats several times

Setting up mono-gac (5.18.0.268-0xamarin7+ubuntu1804b1) ...
* Installing 1 assembly from libnunit-console-runner2.6.3-cil into Mono
/proc/self/maps:
4125e000-4126e000 rwxp 00000000 00:00 0
41e09000-41e29000 rwxp 00000000 00:00 0
558264cef000-55826513b000 r-xp 00000000 00:18 13477                      /usr/bin/mon

[2019-03-11 16:30] directhex commented on #13361
Roll it back. I'll think about how I can plausibly reproduce locally.

[2019-03-11 16:31] kevinpawsey commented on #13361
ok, cool... thank you for that... let me know if you need me to try anything else

[2019-03-11 17:51] psaab opened #13400 "IPv6 support broken on FreeBSD because AF_INET6 is 28 on FreeBSD not 30 like it is on MacOS"
The change is pretty simple.  FreeBSD uses MacOsNetworkInterfaceAPI which statically defines AF_INET6 to 30 but on FreeBSD AF_INET6 is 28, resulting in various places where mono checks if the OS supports IPv6 (Socket.OSSupportsIPv6) to fail even when IPv6 is supported.

I submitted a patch to FreeBSD here: https://bz-attachments.freebsd.org/attachment.cgi?id=201988, but this should probably be fix

[2019-03-11 18:12] AlekseyTs opened #13401 "Unexpected System.NotSupportedException in presence of default interface implementations"
Several C# compiler tests are failing due to an unexpected System.NotSupportedException when compiled code is executed on Mono:
[code]

Here is the gist of the scenario:
[code]

Runtime complains that: "Interface method 'I1:M1 ()' in class 'Test10' has multiple candidate implementations." However, this is incorrect, there is an implementation in the class, so implementations in interfaces shouldn'

[2019-03-11 18:13] AlekseyTs commented on #13401
@marek-safar FYI

[2019-03-11 18:51] lambdageek commented on #8378
/cc @lambdageek

[2019-03-11 19:02] lewurm commented on #11744
@mikaelj it's included starting with 5.18

[2019-03-11 19:45] ajcvickers commented on #13298
@MaximLipnin Looks like it's an issue with mono's expression compiler.

[2019-03-11 19:47] directhex commented on #13361
OK, I think this is just https://github.com/mono/mono/issues/12182 - looks like the change to avoid LLVM AOT on non-SSE4 hardware was somehow reverted?

[2019-03-11 20:01] directhex commented on #13361
Shit, I see what happened.

The LLVM/SSSE4.1 fix went in with 5.18.0.225-0xamarin13

But the packaging branch used by 5.18.0.268 came right after 5.18.0.225-0xamarin11 (!) for some reason. Probably something I messed up. Point is, it's missing the key commit.

I've pushed, and scheduled a build.

[2019-03-11 21:02] directhex commented on #13361
Keep an eye on https://jenkins.mono-project.com/view/Releases/job/ng-release-generate-debian-packages/1544/

[2019-03-11 21:08] squirrelboot commented on #13361
Thank you guys for looking at this. I only request that you somehow help me fix it when that build is done.  I cannot get it to do anything other than spit out those errors like in my OP. So even if this build fixes it, I don't know how to make the system continue. I'm kind of new to this stuff. Just ok at bug reporting. 🙈

[2019-03-11 21:19] marek-safar commented on #13401
@vargaz please investigate

[2019-03-11 21:26] lambdageek commented on #12843
This is fixed by #13373.  The 2018-10 (Mono 5.20) fix is #13403.  The 2019-02 fix is #13405

[2019-03-11 22:19] #8927 closed

[2019-03-11 22:20] #6986 closed

[2019-03-12 00:25] jbevain opened #13408 "[sdb] SetIP requires a resume/suspend to update client thread frames"
See attached repro:

[reprosdb3.zip](https://github.com/mono/mono/files/2954674/reprosdb3.zip)

`build.sh && mono debugger.exe`

After a SetIP, we'd like to have the thread frames invalidated and the top frame pointing to the newly set IP where the execution will resume. This will avoid either storing the next IL offset or using a hidden breakpoint and resume to it to properly display the new loca

[2019-03-12 07:32] #10277 closed

[2019-03-12 07:32] #13350 closed

[2019-03-12 08:08] marek-safar commented on #12323
Does it still happen with Mono 2018-10?

[2019-03-12 08:19] #12843 closed

[2019-03-12 10:49] SSELLIOTTHOME commented on #12843
Fantastic, it is is relief to know I am not going mad. Many thanks to @thaystg (Thays) for the effort put into this. I look forward to the next update in Visual Studio for this.

[2019-03-12 11:20] akoeplinger opened #13412 "Bump netstandard.dll assembly version to 2.1"
Following #13198 we follow NS2.1 so we should bump our netstandard.dll to assembly version 2.1.

[2019-03-12 12:11] filipnavara opened #13413 "Broken authentication fallback for HttpWebRequest"
We are using `HttpWebRequest` to connect to servers using Exchange Web Servers. In order to authenticate we create `System.Net.CredentialCache` objects with configurations for `Basic`, `Digest`, `NTLM` and `Negotiate` authentication schemes. On the lower library layer that gets assigned to `HttpWebRequest.Credentials` property. We also set `HttpWebRequest.PreAuthenticate = true;`.

The problem is

[2019-03-12 14:58] directhex commented on #13361
`sudo dpkg --purge mono-llvm-support` then deleting the contents of /usr/lib/mono/aot-cache should fix you up.

[2019-03-12 15:48] lambdageek commented on #13401
@thaystg Please look into this one.

[2019-03-12 20:26] lambdageek opened #13426 "Make `tests/string-writer.cs` work again"
## Steps to Reproduce

1. `cd mono/tests && mcs string-writer.cs && mono string-writer.exe`

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

[2019-03-12 20:30] lambdageek commented on #13426
1. We should also add `mono/tests/string-writer.cs` to the Makefile and start running it again.

2. The following variant works:
[code]

The call to Console.WriteLine initializes the standard file handles (see `_wapi_stdhandle_create`)

So we need to initialize the standard handles earlier (maybe from the SafeFileHandle constructor?)

Also the call to `sw.Flush()` at the end is new.  Not sure if t

[2019-03-12 20:53] lambdageek commented on #13426
Other things that don't work:

[code]

Anecdotally, it used to be the case that obtaining a file handle by other means (e.g. `open(2)`) and then opening it as a file stream in Mono would work.

[2019-03-12 21:13] mkArtakMSFT opened #13428 "[Blazor] Mysterious phenomenon of using Math.Truncate in Blazor"
_From @txgz999 on Thursday, 24 January 2019 01:52:33_

### Describe the bug
When I use Math.Truncate in the definition of a property used in data binding, a print window pops up

### To Reproduce
Steps to reproduce the behavior:
Create a Blazor project in VS2017, add a page with the following content:

[code]

### Expected behavior
Browse to that page, you would see just content, which is value 1

[2019-03-12 21:13] mkArtakMSFT commented on #13428
_From @rynowak on Thursday, 24 January 2019 18:51:40_

Wow! This is an amazing bug. Can you file this at https://github.com/mono/mono - this is probably an issue in the underlying runtime.

[2019-03-12 21:13] mkArtakMSFT commented on #13428
_From @txgz999 on Friday, 25 January 2019 14:19:35_

 Thanks a lot, Ryan, for verifying the issue. I agree to your speculation. Regarding your suggestion, I am not sure if i have enough knowledge to explain the issue well. If you like, please go ahead to create a ticket there.

    On Thursday, January 24, 2019, 1:52:20 PM EST, Ryan Nowak <notifications@github.com> wrote:

Wow! This is an amazing

[2019-03-12 21:13] mkArtakMSFT commented on #13428
_From @gulbanana on Friday, 01 March 2019 08:28:31_

I've experienced this too, it's very amusing. I have a repro but it's a lot more complex than just calling Math.Truncate (which we don't even use!). Just, doing a lot of work in WASM leads to the print dialog opening..

[2019-03-12 21:47] marek-safar commented on #13428
/cc @lewing

[2019-03-13 00:48] brianrob opened #13432 "Profiling on Linux using Perf and Mono --full-aot Results in Broken Stacks"
## Steps to Reproduce

1. Download this repro app: https://raw.githubusercontent.com/brianrob/tests/master/managed/spinner/Program.cs
2. `mcs Program.cs`
3. `mono --aot=fullaot Program.exe`
4. `mono --aot=fullaot /path/to/mscorlib.dll`
5. Collect a trace of the application: `perf record -a -g -F 999 mono --full-aot Program.exe`
6. Open the trace using `perf report`

### Current Behavior

The stack

[2019-03-13 00:48] brianrob commented on #13432
cc: @alexanderkyte

[2019-03-13 03:02] jgold6 commented on #9664
I have another report of this issue. IN this case it caused a serious problem with an app. This past March 9, in CST, the customer's app, which is using DateTime.Now for times, jumped from 7:59 PM to 9:00 PK, seemingly going to CDT (Central Daylight Time) 6 hours early. Doing some more testing I found the following (did not test all time zones):

**In Central ST, time jumped from 3/9 7:59 PM to 9:

[2019-03-13 05:56] sancheolz opened #13434 "[SWF] Stackoverflow when set SplitterDistance"
## Steps to Reproduce

1. run test

                [Test]
		public void TestSplitterDistanceStackOwerflow()
		{
			SplitContainer sc = new SplitContainer();
			sc.SplitterMoved += (sender, args) => { ((SplitContainer) sender).SplitterDistance = 100; };
			sc.SplitterDistance = 100;
		}

### Current Behavior
Stack overflow

### Expected Behavior
No Stack overflow

## On which platforms did you not

[2019-03-13 08:17] rolfbjarne opened #13436 "Enable Selector.GetHandle inlining for tvOS and watchOS"
We optimize the call to Selector.GetHandle for iOS and macOS: https://github.com/mono/mono/blob/83d5cf0c5c6dcff1567b27f7356f6901cf5c93b7/mono/mini/intrinsics.c#L1487-L1525

This should be enabled for tvOS and watchOS as well. The problem is that it's not as simple as just adding new entries to the switch (https://github.com/mono/mono/commit/c99fe4b4628817d9872172ff8e4b73b4f69bcf9e), because it bre

[2019-03-13 09:33] marek-safar commented on #13436
/cc @lewurm

[2019-03-13 09:49] kjpou1 opened #13438 "[wasm][websocket] Error Code not reported correctly on connection error."
As per the WebSocket spec the WebSocketClient.CloseStatus should be 1006 if there was an error when connecting to a server.

Right now the WebSocketClient implementation is aborting the connection prematurely when it receives the 'error' and not waiting for the Close Event to be fired to obtain the status code.

As per the spec there is no way to obtain the actual reason for the connection failure

[2019-03-13 09:51] mfilippov opened #13439 "Crash in metadata reader."
## Steps to Reproduce

1. Run ```mono yWorks.yFilesWPF.Adapter.dll```

### Current Behavior

Mono crashed

### Expected Behavior

Mono not crashed

## On which platforms did you notice this

[X] macOS
[X] Linux
[X] Windows

**Version Used**:
Mono JIT compiler version 6.1.0 (master/00c837d66a4 Wed Mar 13 12:47:25 MSK 2019)

## Stacktrace

[code]
[yWorks.yFilesWPF.Adapter.dll.zip](https://github.com

[2019-03-13 11:27] MichalStrehovsky commented on #11267
@vargaz Can you double check you ran all the tests? In light of #13401 I would expect [this test](https://github.com/dotnet/coreclr/blob/master/tests/src/Regressions/coreclr/16123/ambiguousconstraint.il) to fail too because Mono is throwing the old exception for ambiguous dispatch (before the new exception [got approved](https://github.com/dotnet/coreclr/pull/21564#discussion_r242536002)).

Cc @Al

[2019-03-13 11:58] kjpou1 commented on #13428
Hey @mkArtakMSFT

We will need more information.  I have created a straight wasm example here:  https://kjpou1.github.io/WasmMathTrunc/

This seems to be working as expected with no popup.

[code]

The console prints the following:

[code]

Have tested on Edge and Chrome on windows.
FF, Chrome, Safari on Mac

None of the above present a popup.

[2019-03-13 12:12] mikaelj commented on #11744
@lewurm According to mono-project.com, the latest package to downolad is the (broken) 5.18.0.268.

[2019-03-13 12:23] kjpou1 commented on #13428
Also, just a thought.  Somewhere in the javascript code on the Blazor side there is a call to `print` instead of to the Module's `print` function.

[2019-03-13 12:27] lewurm commented on #11744
The fix is included in >= 5.18.0.271

@akoeplinger @directhex any idea why there aren't newer tarballs available (for 2018-08)?

[2019-03-13 12:40] gatodev opened #13440 "[SWF] Button.PreferredSize returns wrong value"
using System;
    using System.Windows.Forms;
    using System.Drawing;

    class Form1 : Form {
        static void Main() {
            Application.Run(new Form1());
        }
        public Form1() {
            var button = new Button {
                Text = "test",
                Parent = this,
            };
            Console.WriteLine(button.PreferredSize);
            button.Size = Si

[2019-03-13 13:06] kevinpawsey commented on #13361
is this safe to try to update again?  I have seen that it has compiled successfully now, I have done an "apt update" but the components are still showing as 5.18.0.268, is this the right version?

[2019-03-13 13:29] mclillill opened #13441 "404 when trying to download win32-bit version"
I'm trying to download 32-bit mono for windows but get a 404 Not Found:

https://download.mono-project.com/archive/5.18.0/windows-installer/mono-5.18.0.268-gtksharp-2.12.%E2%80%8B45-win32-0.msi

[2019-03-13 13:30] mclillill commented on #13441
I should add this is the link i get when coming from:
https://www.mono-project.com/download/stable/

[2019-03-13 13:36] marek-safar commented on #13441
/cc @directhex

[2019-03-13 13:51] mclillill commented on #13441
@marek-safar thanks! I'm going to close the issue then.

[2019-03-13 13:51] #13441 closed

[2019-03-13 14:13] vargaz commented on #13374
I can repro. Seems like this line
			return vtable->vtable [imt_builder_entry->value.vtable_slot];
in initialize_imt_slot () returns a random value because imt_builder_entry->value.vtable_slot is > vtable->klass->vtable_size.

[2019-03-13 14:31] thiagobucca commented on #13065
That's exactly my problem, i work in an enviroment that i can't touch the connection strings, i know i can just override this later, but then i have to undo this every time and this can cause issues if i forget. I'll wait for the fix, using a VM on Windows until that happens.

[2019-03-13 15:00] kevinpawsey commented on #13361
You're a star @directhex ... I have just successfully completed the upgrade of mono completely

@squirrelboot hopefully if you follow the above command you should be good to get a working system again

[2019-03-13 15:03] directhex commented on #13439
This assembly appears to be pretty obfuscated.

[2019-03-13 15:07] lambdageek commented on #13439
`ikdasm yWorks.yFilesWPF.Adapter.dll` also crashes.  Going to try it with the windows IL dumper.  If that doesn't like it either, I'd have to say it's an invalid assembly.

[code]

[2019-03-13 15:12] vargaz commented on #13439
Some obfuscators make very agressive changes so the assembly is no longer valid, but somehow still runs with MS.net.

[2019-03-13 15:26] mfilippov commented on #13439
@vargaz Yes it is obfuscated assembly but working on full framework

[2019-03-13 15:41] directhex commented on #13361
Yeah, this was my screwup, not sure how I branched from a point without the LLVM/SSSE4.1 fix.

[2019-03-13 15:43] kevinpawsey commented on #13361
these things happen... it is fixed now... just a case of hoping that @squirrelboot manages to correct his too... the moral of this story is... BTRFS does have it's uses! lol

[2019-03-13 15:45] directhex commented on #13441
Fixed. Looks like a BOM crept in, somehow

[2019-03-13 15:52] directhex commented on #13439
Different obfuscators take different approaches in how they mangle IL, and some of those approaches are barely recognisable as .NET assemblies any more. The only hope Mono has to be compatible with some of those products is, well, being the same as CoreFX pretty much byte for byte.

If this is _your_ assembly, I'd suggest looking at Obfuscar, which I've had some success with. Usual obfuscator rule

[2019-03-13 15:54] lambdageek commented on #13439
First thing was a couple of string indices out of bounds of the string heap. After that, we fail because we can't find an entrypoint (don't know yet why that is).

Ultimately, I'm not sure how much effort we want to put into attempting to run an invalid image.

Output from a hacked up Mono:
[code]

[2019-03-13 15:55] directhex commented on #13361
I'm marking the issue closed, for bookkeeping (since it is), but any user support on the problem, please feel free to poke here, or on gitter, or check the historical references in the comments of https://github.com/mono/mono/issues/12182

[2019-03-13 15:55] #13361 closed

[2019-03-13 16:01] directhex commented on #11744
@lewurm only 5.20 and 6.1 are on an automatic-build cycle for tarballs, currently. So the answer is "because nobody asked Jo"

[2019-03-13 16:35] migueldeicaza opened #13445 "Fork regression in Mojave due to MAP_JIT"
Since Mono started using `MAP_JIT` on Mojave, this causes `fork()` to break, as the child process does not get access to the JITed code pages.   Those pages seem to have been removed after fork.

`MAP_JIT` is only needed for application bundles, so it would make sense that we only use this in combination with Xamarin.Mac, and not in other scenarios.   This means that we should probably surface an

[2019-03-13 16:47] marcbarry commented on #6388
+1 this issue.

Without a mechanism to override the locations of the system and user certificate stores, it is exceedingly difficult to follow best practise when writing an Ubuntu Snap which contains C# code that leans on `WebClient` (or anything else that leans on TLS).

Is there really no way to specify an alternate location for the certificate store trust directories? Without this the only work

[2019-03-13 16:52] migueldeicaza commented on #13445
Confirmed, on the XNU source code, the support for mmap explicitly prevents pages mapped with MAP_JIT from being inherited across fork:

osfmk/vm/vm_map.c

The code looks like this:

[code]

[2019-03-13 16:54] marek-safar commented on #13439
Closing. Running obfuscated assemblies has always been below the bar we want to focus on

[2019-03-13 16:54] #13439 closed

[2019-03-13 19:05] sancheolz commented on #13434
I have tried to catch StackOverflowException, but not successful. Why it didn't throwed?

[2019-03-13 20:01] alexanderkyte commented on #13432
@vargaz and I agree that this is likely due to us emitting wrong unwind information somewhere. FullAOT can still end up relying on some of our internal structures for unwinding. In theory they shouldn't interfere with this, but given the type of corruption, it seems like that's what's happening.

When we profiled with OSX instruments, we saw similar breakages. They use dtrace, so that tells us tha

[2019-03-13 20:02] alexanderkyte commented on #13432
To actually fix your problem though, we need to make an anonymous stack walk from dtrace/perf properly unwind the managed stack.

I think that @vargaz would be a good resource to give an estimate of how approachable that is as a goal.

[2019-03-13 21:04] vargaz commented on #13374
https://github.com/mono/mono/pull/13449

[2019-03-13 22:16] kg commented on #13428
If you modify the JS for your reproduction case to replace window.print and set a breakpoint there, that should give you a stack trace that will point us directly to the bug. Something like (off the top of my head, might not compile):

[code]

[2019-03-13 22:47] #12845 closed

[2019-03-13 23:29] EgorBo commented on #9664
@jbatt33 I can reproduce it on 5.4.0.201 but can't do it on 6.1.x (master) I guess it was fixed by https://github.com/mono/mono/pull/11500 or https://github.com/mono/mono/pull/11232

[2019-03-14 01:45] jgold6 commented on #9664
After going through the list of countries in [this wikipedia page on DST,](https://en.wikipedia.org/wiki/Daylight_saving_time_by_country), these are the areas I found that showed the issue:

Central ST US (Central time Canada seems to be OK)
Alaska ST
Portugal (Azores ST)
Cuba (Cuba ST)
Turks and Caicos (Eastern ST)

<summary>List of all locales I tested</summary>
<details>

**In Central ST, time

[2019-03-14 06:22] squirrelboot commented on #13361
This seems to have correctly fixed the issue of the errors. I then performed apt update/upgrade.

I also saw this in there ^_^
[https://i.imgur.com/UM9ECfG.png](https://i.imgur.com/UM9ECfG.png)

[2019-03-14 09:42] VirusFree opened #13452 "[Linux] Mono (5.18.0.268) crashes in String:IndexOf(char value, int startIndex)"
## Steps to Reproduce
1.  Run sample app (provided in attachment) -> mono ConsoleApp1.exe

### Current Behavior
mono crashes and produces a mono_crash.json file (included in attachment)

### Expected Behavior
not crash mono

## On which platforms did you notice this

[  ] macOS
[X] Linux
[  ] Windows

**Version Used**:
Mono JIT compiler version 5.18.0.268 (tarball Tue Mar 12 14:15:15 UTC 2019)

##

[2019-03-14 09:46] VirusFree commented on #13452
It took some time, but I was able to narrow down the problem using a small and simple sample code.
The source and binary are also in the zip file, but basically this is it :

        static void Main(string[] args)
        {
            var str = "this is a string";
            Console.WriteLine(DoTheThing(str, 's'));
        }
        public static string DoTheThing(string source, char c, int n =

[2019-03-14 09:57] lewurm commented on #13452
(1) What CPU are you running on?
(2) Could you post the full crash log?
(3) Did you install mono from our Debian reprository?
(4) Could you try to run your sample with `MONO_ENV_OPTIONS=-O=-aot`?

[2019-03-14 10:18] VirusFree commented on #13452
[code]

## CPU info
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 63
model name      : Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz
stepping        : 2
microcode       : 0x41
cpu MHz         : 2400.099
cache size      : 30720 KB
physical id     : 0
siblings        : 1
core id         : 0
cpu cores       : 1
apicid          : 0
initial apicid  : 0
fpu

[2019-03-14 11:10] rolfbjarne opened #13454 "watchOS apps crash on launch if built with LLVM"
# Steps to Reproduce

1. Build xamarin-macios/master
2. Create new iOS project in VSfM and add a new watchApp project to it.
3. Select the **Release|Device** configuration, and run.

### Current Behavior

Crash at launch.

Application output isn't very helpful:

    [...]
    Xamarin.Hosting: Launched after 1/10 attempt(s).
    Xamarin.Hosting: Process '548' exited.
    Watch application 'com.rolf

[2019-03-14 12:10] akoeplinger opened #13455 "AOT crashes with "MVAR 0 (Ts) cannot be expanded with type 0x1e" when compiling monotouch_System.Core_xunit-test.dll"
## Steps to Reproduce

1. Run `[xUnit] Mono SystemCoreXunit - iOS Unified 64-bits - device - Debug` on xamarin-macios mono-2019-02 branch
2. The project build fails with an AOT issue.

### Current Behavior

[code]

- Full log at https://gist.github.com/akoeplinger/712280cd6f611336ace3b9c0a438837f
- 3-Build folder with assemblies: [3-Build.zip](https://github.com/mono/mono/files/2966257/3-Build.zip

[2019-03-14 12:12] T0bi-Ethirbirge opened #13456 "write access violation exception when trying to write to an opcode pointer. [MethodRental.SwapMethodBody]"
I have wanted to replace a method body at runtime which was done using MethodRental.SwapMethodBody but mono didn't implement it so I had to do it by my self.
Using the Mono embed API I was able to get the method.

[code]

After that, I got the method index by using the mono_metadata_token_index method. And then the RVA of that method by decoding the image tables.

The type of this method header is

[2019-03-14 12:22] marek-safar commented on #13454
@lewurm could you please check this

[2019-03-14 12:24] marek-safar commented on #13455
/cc @lambdageek

[2019-03-14 13:36] akoeplinger opened #13460 "AOT crashes with "Instruction does not dominate all uses" when compiling monotouch_System.Core_xunit-test.dll"
## Steps to Reproduce

1. Run `[xUnit] Mono SystemLinqXunit - iOS Unified 64-bits - device - Debug` on xamarin-macios mono-2019-02 branch
2. The project build fails with an AOT issue.

### Current Behavior

[code]

- Full log at https://gist.github.com/akoeplinger/14a1fef50259aa89cadadfc6fd76a3f2
- 3-Build folder with assemblies: [3-Build.zip](https://github.com/mono/mono/files/2966622/3-Build.zip

[2019-03-14 13:36] akoeplinger commented on #13460
/cc @lambdageek
--

[2019-03-14 13:38] akoeplinger commented on #13455
It also happens with monotouch_System.Numerics_xunit-test.dll but there it just crashes with:

[code]

[2019-03-14 14:31] #13456 closed

[2019-03-14 15:48] lewurm commented on #13452
I poked around with a similar CPU:
[code]
but I couldn't reproduce your issue 😕 do you have a `gdb` or `lldb` installed? if not, please install one of it, then our crash reporting subsystem should give a more detailed description where the crash happens.

Also could you try to run your repro with `MONO_ENV_OPTIONS=-O=-aot`?

[2019-03-14 16:12] jeromelaban opened #13463 "[WASM] Mixed Mode: function signature mismatch"
Using the sample here: https://github.com/jeromelaban/Wasm.Samples/tree/master/MixedMode.Tests

The built website is using mixed mode compilation, with some assemblies explicitly excluded. I could not get down to a smaller repro.

## Steps to Reproduce
1. Using linux (and the setup [outlined here](https://github.com/nventive/Uno/blob/bd4717975745abcfcc6a49dabd48a5fa00db5e20/doc/blog/201903-using-w

[2019-03-14 16:15] VirusFree commented on #13452
if it helps, this is a t2.micro instance in AWS using ubuntu-bionic-18.04-amd64-server-20190212.1 (ami-005bdb005fb00e791), apt-get upgrade everything and installed mono-complete

[2019-03-14 16:17] VirusFree commented on #13452
with installed gdb  (also attached mono_crash.json)

[code]
[mono_crash.4f9d86d8a.0.txt](https://github.com/mono/mono/files/2967389/mono_crash.4f9d86d8a.0.txt)

[2019-03-14 16:21] VirusFree commented on #13452
$ MONO_ENV_OPTIONS=-O=-aot
$ echo $MONO_ENV_OPTIONS
-O=-aot
$ mono ConsoleApp1.exe

[code]

[2019-03-14 23:13] AlekseyTs opened #13466 "Crash at runtime likely related to protected accessibility of a method declared in an interface."
The Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.DefaultInterfaceImplementationTests.ProtectedAccessibility_01 (in https://github.com/dotnet/roslyn/blob/features/DefaultInterfaceImplementation/src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs) unit-test causes a crash at runtime:
[code]

[2019-03-14 23:14] AlekseyTs commented on #13466
@marek-safar FYI

[2019-03-14 23:25] AlekseyTs opened #13467 "Unexpected System.MethodAccessException is thrown for a protected method declared in an interface"
A number of C# unit-tests in https://github.com/dotnet/roslyn/blob/features/DefaultInterfaceImplementation/src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs fail due to this exception:

[code]

[2019-03-14 23:30] AlekseyTs commented on #13467
More similar failures in this PR  https://github.com/dotnet/roslyn/pull/34121:
[code]

[2019-03-14 23:31] AlekseyTs commented on #13467
@marek-safar FYI

[2019-03-15 02:20] jeromelaban commented on #12981
Here's a repro:
[code]
the issue happens only in release configutation.

See here for the full repro: https://github.com/jeromelaban/Wasm.Samples/tree/master/Bug12981-InterpRecursion/BugInterpRecursion

[2019-03-15 12:24] akoeplinger opened #13478 "Undefined symbol ___sync_lock_test_and_set_4 on armv7 in xamarin-macios 2019-02"
## Steps to Reproduce

1. Build xamarin-macios 2019-02 branch
2. Run MTouch tests
3. Some of them fail with the below error

### Current Behavior

[code]

It seems to only happen on armv7.

### Expected Behavior

No failures

## On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: 2019-02

[2019-03-15 13:54] akoeplinger opened #13479 "System.Runtime.CompilerServices.UnsafeTests attempting to JIT compile on iOS devices"
## Steps to Reproduce

1. Build xamarin-macios master
2. Run `[xUnit] Mono SystemRuntimeCompilerServicesUnsafeXunit - iOS Unified 64-bits - device - Debug`
3. A few tests fail

Looks like this was missed in the 2018-10 integration, but it happens on 2019-02 as well.

### Current Behavior

[code]

### Expected Behavior

No failures.

## On which platforms did you notice this

[X] macOS
[ ] Linux
[

[2019-03-15 14:14] marek-safar commented on #13479
@vargaz could you please investigate

[2019-03-15 14:51] directhex commented on #11744
Shipping a 5.18 with the fix right now.

[2019-03-15 15:00] kjpou1 commented on #13195
https://github.com/Microsoft/ChakraCore/issues/6037

[2019-03-15 15:27] directhex commented on #11744
https://download.mono-project.com/sources/mono/mono-5.18.1.0.tar.bz2 includes this fix.

[2019-03-15 15:35] akoeplinger opened #13483 "Adding System.Drawing.Common.dll reference for XI/XA projects"
Since we moved types from Mono.Android.dll and Xamarin.iOS/WatchOS/TVOS.dll to System.Drawing.Common.dll user projects would fail to compile. We need to add some msbuild logic to add a reference to the assembly automatically.

We need it for xamarin-android 2018-10 and xamarin-macios 2019-02.

/cc @radical

[2019-03-15 15:48] thaystg commented on #13466
Source code to reproduce the Crash:
interface I1
{
   sealed void M1()
   {
       System.Console.WriteLine(“M1”);
   }
}

interface I2 : I1
{
   static void Test<T>(T x) where T : I2
   {
       x.M1();
   }
}

class A : I2
{
   static void Main()
   {
       I2.Test(new A());
   }
}

[2019-03-15 16:47] AlekseyTs commented on #13466
@thaystg The M1 doesn't have to be protected? In the unit-test it is protected:
[code]

[2019-03-15 19:07] lambdageek commented on #13466
@AlekseyTs question: is the IL for the example that @thaystg posted correct (IL included at the bottom of the message).

In particular the body of `I2.Test<T>` has a `constrained.callvirt` call to `I1.M1`.  Is that really meant to be a virtual call?

Is something like this legal:
[code]

should this return "In Base" or "In I1"?

[2019-03-15 20:10] steveisok opened #13487 "MSBuild error after side installing into master"
## Steps to Reproduce

1. Pull mono master, build, and install
2. Pull mono msbuild, build, and install into master
3. Point VS for mac at master install folder
4. Create a console .net app and try to build

### Current Behavior

Project fails to build with the following error:

[code]

### Expected Behavior

Build should work

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Win

[2019-03-15 21:22] AlekseyTs commented on #13466
According to ECMA-335: "The **constrained.** prefix is permitted only on a **callvirt** instruction."

Also, in section **III.4.2** the spec says: "**callvirt** can be used to call both virtual and instance methods." My interpretation is that "instance methods" in this quote refers to **non-virtual** instance methods. Compiler often uses **callvirt** instruction to call non-virtual instance method

[2019-03-15 21:54] lambdageek commented on #13466
@AlekseyTs thanks for the detailed explanation.

@thaystg So for the original test case, in method-to-ir we should treat it like a callvirt of a non-virtual method and fix the codepath that leads to the assertion. We shouldn't treat sealed methods in DIMs like they're virtual.

[2019-03-16 01:38] KirillOsenkov commented on #10832
Saw this again in CI on Mono 5.18.0.248:
https://gist.github.com/KirillOsenkov/a51fb605e363dba2fa336d1e454d82e2

I wasn't sure how to save all threads since our CI just logs whatever is output. @alexischr

[2019-03-16 01:44] KirillOsenkov commented on #10832
And to confirm, yes, it's likely that this is during shutdown. This is at the end of our unit-test run, after it printed all results, tests not run, etc. I'm assuming if it crashed earlier it wouldn't print the info that the test runner usually prints at the very end. So I suspect Alexis' theory is correct.

[2019-03-16 05:20] vargaz commented on #13479
Where is this test suite ?

[2019-03-16 15:08] akoeplinger commented on #13479
@vargaz it's essentially https://github.com/mono/mono/blob/master/mcs/class/System.Runtime.CompilerServices.Unsafe/System.Runtime.CompilerServices.Unsafe_xtest.dll.sources

[2019-03-16 20:17] vargaz commented on #13455
It doesn't seem to happen with master, maybe some error checking was added instead of asserting.

[2019-03-16 20:34] vargaz commented on #13479
This was already fixed in master by b8b24693809bc676a524f68a894d677781850d0a.

[2019-03-18 07:02] mgarza commented on #12425
It would be great if somebody can help to solve this. Currently the picturebox is empty when zooming to 100%.

[2019-03-18 10:06] akoeplinger commented on #13479
@vargaz I opened a backport PR for 2019-02 but 2018-10 has conflicts, could you please manually backport?

[2019-03-18 13:37] vargaz commented on #13479
Not sure we should backport this, its somewhat of a risky change.

[2019-03-18 14:53] lewurm commented on #13454
@rolfbjarne provided some more logs.

Crash caught in the debugger: https://gist.github.com/rolfbjarne/e333fb4b7704c3c311a7cf7c631cd864

Rolf added some more logging around the crash site:

Here are the bitcode files in case someone wants to look at it:
https://www.dropbox.com/sh/h651vqdiu0psy6q/AAChTRvj0Frqfm1LB_CJCcSna?dl=0

I looked into all the logs, but I didn't discover anything suspicious 🙁

[2019-03-18 16:43] marek-safar commented on #12785
Closing, please reopen if you can provide requested details

[2019-03-18 16:43] #12785 closed

[2019-03-18 16:45] alexanderkyte commented on #12030
Starting on this now. My linux desktop is building everything.

[2019-03-18 16:46] marek-safar commented on #13487
/cc @radical

[2019-03-18 18:00] akoeplinger commented on #13479
As discussed on Slack it's not fixed by the commit.

[2019-03-18 18:14] lambdageek opened #13508 "ILAsm: adds 'virtual' attribute to sealed default interface methods"
Default interface methods is a feature of C# 8 that allows methods in interfaces to have bodies.

In C# methods in interfaces may be marked `sealed` in which case they are non-virtual and may not be overridden in derived interfaces or classes that implement the interface.  In IL such methods are just non-`virtual` methods with a method body in an interface.

Our `ilasm` emits a warning and incorre

[2019-03-18 19:00] alexanderkyte commented on #12030
I am not seeing this on x64 ubuntu 16.04 with in-tree LLVM:

[code]

[2019-03-18 20:24] iosub commented on #12871
System.DllNotFoundException: libc assembly:<unknown assembly> type:<unknown type> member:(null)
mono.js:1   at (wrapper managed-to-native) System.Net.NetworkInformation.CommonUnixIPGlobalProperties.getdomainname(byte[],int)
mono.js:1   at System.Net.NetworkInformation.CommonUnixIPGlobalProperties.get_DomainName () [0x0000b] in /mnt/jenkins/workspace/test-mono-mainline-wasm/label/ubuntu-1804-amd64/

[2019-03-18 21:46] #13466 closed

[2019-03-18 21:52] steveisok commented on #13487
@radical Where did the break happen?  Is this within mono master or do I have to switch VS channels?

[2019-03-19 08:12] lewurm commented on #9621
Related to this issue:
[code]
Alternatively we could try to get rid of LLVM36.

[2019-03-19 11:31] akoeplinger opened #13522 "AOT issue on WatchOS: "* Assertion at mini-llvm.c:9381, condition `fields [2 + i]' not met ""
## Steps to Reproduce

1. xamarin-macios runs into LLVM AOT assertion when compiling WatchOS assemblies
2. See attached 3-Build.zip for source assemblies: [3-Build.zip](https://github.com/mono/mono/files/2983007/3-Build.zip)

### Current Behavior

[code]

### Expected Behavior

No assert.

## On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: mono 2019-02

[2019-03-19 12:19] NVoronchev opened #13523 "[WinForms] One can not send inter-process window messages"
There is no Linux-equivalent of Win32 API methods like `EnumWindows`, `RegisterWindowMessage` and `PostMessage` to implement inter-process communication.

[2019-03-19 12:27] marek-safar commented on #13522
@lewurm @vargaz this is a new regression in 2019-02

[2019-03-19 12:31] lewurm commented on #13522
I'll have a look

[2019-03-19 12:52] dsyme commented on #6914
@jaykrell Just to check - is the above an accurate summary of where we are with tailcalls today?  Thanks!

[2019-03-19 12:55] rolfbjarne opened #13526 "The repl (monotouch_tv_runtime) assemblies don't work for tvOS"
## Steps to Reproduce

1. Clone & build xamarin-macios from master (or get it using a recent master package).
2. Create a new tvOS solution, and add `--enable-repl` to the additional mtouch arguments (either simulator or device configuration, both fails).
3. Build.

### Current Behavior

[Full build log](https://gist.github.com/rolfbjarne/3f2b556cd40e9d00c4aa78ac73f606d5)

### Expected Behavior

N

[2019-03-19 14:27] vargaz commented on #9621
The 32 bit executables are not really needed, they are only there to simplify some build scripts.

[2019-03-19 14:31] #13522 closed

[2019-03-19 14:56] filipnavara commented on #13523
Would be nice to actually have some context for this. What's your use-case where you'd use such functionality?

[2019-03-19 15:39] equiclouds commented on #11489
The issue is still in mono 5.18

[2019-03-19 16:23] lambdageek commented on #13029
I don't know how .NET Core works, but in the referencesource there is some kind of managed cache for a lot of these reflection query methods (whereas mono dives down to native code every time and does a linear search for matching members).

One experiment we should try here is to add a simple one-entry cache to the managed code (ie, just remember the last result) and seee if that gets us near the

[2019-03-19 16:36] blattersturm opened #13533 "bcl.sln fails on running genconsts on Windows"
Ever since dfa2fe6d2b0988bcf66c707dd41c809def4bace0 it seems that winsetup.bat no longer has the output genconsts expects, leading to building of bcl.sln by itself to fail.

[2019-03-19 16:46] #13478 closed

[2019-03-19 16:53] jaykrell commented on #6914
Yes pretty accurate. Your test suite, can you try it? It is in mono build, as IL, with some disabled, varying per architectute. I send link later.

[2019-03-19 17:00] jaykrell commented on #6914
See around here https://github.com/mono/mono/tree/master/mono/tests/tailcall
and the makefile one level up. Look for tailcall and fsharp.

[2019-03-19 18:01] vargaz commented on #9621
So now we have ios-cross32-64 targets in builds/. They should be drop-in replacements for the normal 32 bit cross compilers. Also, these cross compilers are used by wasm, so they are somehow tested.

[2019-03-19 18:44] vargaz commented on #13455
Can't reproduce this with xamarin-macios master. I used the .sln, SystemCoreXunit, Debug|iPhone configuration.

[2019-03-19 18:55] vargaz commented on #13463
Have some difficulty building this ? Could you attach the obj and bin directories for the app ?

[2019-03-19 19:52] radical opened #13537 "Building sdk projects with dotnet 2.2.x installed - `GeneratedDeps` failure"
[code]

[2019-03-19 19:56] st-arnold commented on #7620
Hello,
I noticed that this bug still exists (Mono 5.18.1.0 on Linux/RPi3) if the Control is a TableLayoutPanel container (maybe with other containers as well). The contained controls are not drawn to bitmap.

[TLPDrawToBitmapMonoBug.zip](https://github.com/mono/mono/files/2985356/TLPDrawToBitmapMonoBug.zip)
![TLPDrawToBitmap_Mono](https://user-images.githubusercontent.com/14167665/54637601-aa56330

[2019-03-19 21:31] lewurm commented on #13460
FYI `Debug` configuration doesn't use LLVM, but the error comes from the AOT compiler using LLVM. I guess you need to use the `Release` configuration.

[2019-03-19 21:44] lewurm commented on #13455
@vargaz this is on `xamarin-macios/mono-2019-02` integration branch

[2019-03-19 22:26] #13401 closed

[2019-03-19 22:32] lewurm commented on #13460
I can reproduce with said `Release` config, will look into it.

[2019-03-20 01:13] deepgoyal25 opened #13546 "Mono app crashing with SIGABRT and SIGILL"
## Steps to Reproduce
We are not able to root cause the issue and therefore not able to reproduce.
We have the uncaught exception handler in our code which is also not getting called in these crashes.

### Current Behavior
App is crashing

### Expected Behavior
App should not crash. If it crashes, our uncaught exception handler should get called

## On which platforms did you notice this
macOS

**