[2018-03-20 03:58] alexischr commented on #7500
@EgorBo Do you think this is related to https://github.com/mono/mono/pull/6672?

[2018-03-20 07:54] EgorBo commented on #7500
@alexischr the 2nd looks like it is. Is it a flacky bug or there is a repro?

[2018-03-20 08:13] #7284 closed

[2018-03-20 10:30] filipnavara commented on #7700
What error does it show you? I routinely install Mono on macOS 10.13.3 and 10.13.4 betas without an issue.

[2018-03-20 12:18] akoeplinger opened #7705 ""libtool: No such file or directory" during configure"
## Steps to Reproduce

1. Run autogen.sh/configure
2. See confusing message about libtool not being found

## Current Behavior

It prints the following:

[code]

Coming from this code: https://github.com/mono/mono/blob/53a59ccf76619f12efd3b01dc0a3f4034dbcf1dc/configure.ac#L515

## Expected Behavior

No message.

### On which platforms did you notice this

[ X ] macOS
[ X ] Linux
[ ] Windows

**Ver

[2018-03-20 13:11] marek-safar commented on #6967
We are missing only a few types now e.g. `ConcurrentExclusiveSchedulerPair` which are public or even private are available from corert

[2018-03-20 13:19] marek-safar commented on #6978
Done (3 remaining types are very runtime specific)

[2018-03-20 14:33] #7624 closed

[2018-03-20 14:43] luhenry commented on #7511
Fixed by https://github.com/xamarin/xamarin-android/pull/1440

[2018-03-20 14:43] #7511 closed

[2018-03-20 14:51] lambdageek commented on #7657
Current hypothesis is that this check is too strict for `access_level == TYPE_ATTRIBUTE_NESTED_FAMILY` (and probably also `TYPE_ATTRIBUTE_NESTED_FAM_OR_ASSEM`):
https://github.com/mono/mono/blob/b77313855c232c73fc9944b5172ed8340cf708e5/mono/metadata/class.c#L5239-L5241
because it short circuits into plain old visibility checking without considering the inheritance structure.

[2018-03-20 15:29] luhenry commented on #7693
/cc @vargaz @ntherning

[2018-03-20 15:30] luhenry commented on #7692
If you can find no use of these functions anywhere in the code, and they are not marked as `MONO_API` (it's a clear sign it might be used elsewhere), then feel free to submit a PR that removes them. Thank you.

[2018-03-20 15:34] #7646 closed

[2018-03-20 15:42] carmarri opened #7710 "TabControl crashes (event triggered before creating control)"
Steps to Reproduce

1. Create Form which includes an empty TabControl using Visual Studio
2. Create method SelectedIndexChanged graphically. No matter what's inside: as a demo a message box can be shown with the current index.
3. Program Form Load method to add a simple Hello World tab page to the TabControl
4. Works in  #Windows
5. Port to Linux (MonoDevelop)
6. Compile
7. Run: crashes

## Curren

[2018-03-20 15:48] vargaz opened #7711 "System.Runtime.Intrinsics support"
https://github.com/dotnet/corefx/issues/27486

- [ ] BCL API import from CoreFX
- [ ] New tests import
- [ ] Runtime support
- [ ] Nuget package inbox redirection

Briefly looking at the code, it looks like we could implement this outside of mscorlib

[2018-03-20 15:54] alexischr opened #7712 "Intermittent failures in several DebuggerTests"
### Logs

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-aarch64/3518/

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/8778/testReport/junit/(root)/DebuggerTests/Dispose/

### Example

[code]

[2018-03-20 16:05] akoeplinger commented on #7712
This was already filed as https://bugzilla.xamarin.com/show_bug.cgi?id=60535 but let's keep it here.

[2018-03-20 16:21] alexischr commented on #7712
The traces that don’t have the assertion seem to have `mono_os_mutex_destroy: pthread_mutex_destroy failed with "Device or resource busy" (16)`

[2018-03-20 16:21] marek-safar commented on #7710
Could you attach the sample project?

[2018-03-20 17:17] dalexsoto opened #7716 "mono's mscorlib.xml descriptor file seems incomplete for Xamarin.Mac"
We are trying to remove bundled `mscorlib.xml` descriptor from mmp and mtouch to only use the `mscorlib.xml` descriptor file from mono, this is being tracked here: https://github.com/xamarin/xamarin-macios/pull/3772 unfortunately some of our Xamarin.Mac tests are failing once we remove our version of `mscorlib.xml` bundled in mmp:

From: https://jenkins.mono-project.com/job/xamarin-macios-pr-build

[2018-03-20 17:22] durswd opened #7717 "DataContractJsonSerializerSettings.UseSimpleDictionaryFormat bug"
## Steps to Reproduce

Run these codes.
(Refered this website http://yasuand.hatenablog.com/entry/2013/09/12/051655)

[code]

## Current Behavior

System.Reflection.TargetInvocationException is thrown in

System.Runtime.Serialization.Json.JsonFormatReaderInterpreter.ReadSimpleDictionary(System.Runtime.Serialization.CollectionDataContract collectionContract, System.RuntimeType keyValueType) in /Use

[2018-03-20 19:08] #7199 closed

[2018-03-20 19:18] akoeplinger opened #7720 "Add productId and versionId from updateinfo file in OSX package to artifacts.json"
Release Engineering uses these values in some tools and the updateinfo file was available from Wrench, but isn't on Jenkins.

We agreed to update artifacts.json GitHub status with a `productId` field that contains the product GUID and `versionId` which includes the version info.

[2018-03-20 19:33] filipnavara commented on #7710
I'll look into it once the sample project is added. There's a decent chance the problem has already been fixed or that it will be trivial to fix.

[2018-03-20 20:19] akoeplinger commented on #7720
This is done now, example: [artifacts.json](https://xamjenkinsartifact.azureedge.net/build-package-osx-mono/2018-02/103/e29f146ab36e156fcff6bea9b937bd21a4a89c7b/artifacts.json).

All signed builds from now on should include the new info in artifacts.json.

[2018-03-20 20:19] #7720 closed

[2018-03-20 20:32] akoeplinger commented on #7030
A PR trigger is also available for this via `@monojenkins build OS X x64 iOS SDK` so I think we should be done here.

[2018-03-20 20:36] kumpera commented on #7711
This would make a great internship project.

[2018-03-20 20:39] kumpera commented on #7692
There’s no reason to keep them around. They are part of a failed try at emulating fast TLS on OSX

[2018-03-20 20:46] akoeplinger commented on #7717
I can reproduce this with mono master/081c79e687131e2b26cd05ca28c20aa3cf65c4e0

[2018-03-20 21:01] rbcsky5 opened #7723 "Mono doesn't recognise USB/external drive on Mac OSX10.13.3 (17D102)"
## Steps to Reproduce

1.
2.
3.

## Current Behavior

When I run an app with mono I can't locate my external drive at all.

People here told me this is a bug of mono:
https://github.com/KSP-CKAN/CKAN/issues/2347

![image](https://user-images.githubusercontent.com/37041568/37682385-66e87b46-2cc4-11e8-8e4e-ef64fac24e7d.png)

![image](https://user-images.githubusercontent.com/37041568/37682378-61610d

[2018-03-20 22:16] #7588 closed

[2018-03-20 22:41] marek-safar commented on #6978
I spoke too soon. There are still a couple of interesting we need to get

- YieldAwaitable
- methodimplattribute
- AsyncMethodBuilder

[2018-03-20 22:53] lewurm opened #7729 "[mcs] fails to compile code with Tuple"
## Steps to Reproduce

[code]

## Current Behavior

[code]
## Expected Behavior

[code]
no failure.

**Version Used**:
`master`

due to this, `mcs` can't compile `mono/tests/sizeof-empty-structs.cs`

/cc https://github.com/mono/mono/pull/7722

[2018-03-21 01:03] mindingdata opened #7731 "MKBundle fails on Windows due to a folder check/missing folder"
## Steps to Reproduce

1. Install Mono 5.10.0.160 (32 or 64, tested both) on a Windows machine (I am on Windows 10)
2. Open a mono command prompt and navigate to a .NET Framework application that you wish to bundle (Simple console application is fine).
3. Run `mkbundle yourapplicationexe --simple`

## Current Behavior

MKBundle on windows always fails with

## Expected Behavior

I can see that on

[2018-03-21 01:27] mindingdata commented on #7731
While re-reading over this ticket, I found what the issue is. My Windows brain saw that it was looking for something without an extension, so obviously it was looking for a directory. Wrong! The line that checks actually is :

`if (!File.Exists (runtime))`

So it's checking for a File not a folder! Of course, in Windows land we love extensions. So I made a copy of mono.exe and simply removed the e

[2018-03-21 02:10] luhenry commented on #7729
@lewurm is it acceptable for now to modify `sizeof-empty-structs.cs` to not use tuples? This is no way the fix, but that would be to unblock https://github.com/mono/mono/pull/7722

[2018-03-21 10:23] abulhol opened #7732 "Adding Console.CancelKeyPress (SIGINT) delegate affects console output"
## Steps to Reproduce

[code]

## Current Behavior

The above code "clears" the console once when running the program, obviously by printing ANSII escape sequences.
This makes it difficult to interact with the program via automated scripts over SSH.
When I read the output from SSH, I get sudden line breaks and sequences like this:
`[?1h=[6n[H`

Without the delegate for Console.CancelKeyPress,

[2018-03-21 11:59] akoeplinger opened #7733 "finalizer-exit.exe, finalizer-abort.exe and finalizer-thread.exe runtime tests are flaky on Windows"
## Steps to Reproduce

1. Run finalizer-exit.exe, finalizer-abort.exe or finalizer-thread.exe on Windows
2. They are flaky

Examples:

- https://jenkins.mono-project.com/job/z/label=w32/6528/testReport/MonoTests/runtime/finalizer_exit_exe/
- https://jenkins.mono-project.com/job/z/label=w32/6522/testReport/MonoTests/runtime/finalizer_exit_exe/
- https://jenkins.mono-project.com/job/z/label=w32/6519

[2018-03-21 12:06] HeikoWeiss opened #7734 "MemoryLeak in Directory.GetFiles"
## Steps to Reproduce

1. just do in a loop for example: Directory.GetFiles( "/var/log" )

## Current Behavior

MemoryLeak

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ X] Linux
[ ] Windows

**Version Used**:

5.11.0.345

### Stacktrace

[code]

[2018-03-21 12:25] filipnavara commented on #7664
The likely culprit are the following lines in `CheckedListBox.ObjectCollection.Add`:

[code]

The state should be reset in any case.

[2018-03-21 12:59] filipnavara commented on #7723
There's basically zero OS X specific code in the [Open/Save]FileDialog in Mono's System.Windows.Forms. There are internal implementation for Linux (with some KDE specific magic) and Windows. On OS X the Linux one is used and it tries to list devices from /proc/mounts and not /Volumes. The code is in the `MasterMount` class in `FileDialog.cs`.

[2018-03-21 13:00] abulhol commented on #7732
I have found a workaround to interact with this, ignoring any ANSI sequences by setting setPty(false) in JSch.
But it still looks like a bug to me.

[2018-03-21 13:42] khle commented on #7700
The error has no description (meaningful)

<img width="616" alt="mono install error" src="https://user-images.githubusercontent.com/11586092/37713079-c7ceef20-2ce3-11e8-920b-0a881453e3bb.png">

[2018-03-21 13:44] filipnavara commented on #7700
Look in the menu Window -> Installer Log, or press CMD+L.

[2018-03-21 13:52] marek-safar commented on #7717
This is because at https://github.com/mono/mono/blob/7dea71ce64bb77cb96ff3dfb06bb9141fb73c3f0/mcs/class/System.Runtime.Serialization/ReferenceSources/JsonFormatReaderGenerator_static.cs#L511 we don't handle keyParseMode of `AsString` and key is set remains set to `null`

[2018-03-21 13:56] marek-safar opened #7737 "CoreFX System namespace"
The namespace contains a lot of types and some are complex to replace.

## Milestone I

- [x] AccessViolationException
- [x] Action
- [x] Action`1-8
- [x] AggregateException
- [x] AppDomainUnloadedException
- [x] ApplicationException
- [x] ApplicationId
- [x] ArgumentException
- [x] ArgumentNullException
- [x] ArgumentOutOfRangeException
- [x] ArithmeticException
- [x] Array
- [x] ArraySegment`1
-

[2018-03-21 14:16] khle commented on #7700
Ah ha,

[code]

[2018-03-21 14:17] #7692 closed

[2018-03-21 14:33] filipnavara commented on #7700
I am going to take a wild guess here. Does the /private/tmp folder exist on your system?

[2018-03-21 14:52] lewurm commented on #7733
There was a fix for `finalizer-abort.exe` recently: https://github.com/mono/mono/pull/7647

@BrzVlad is this related?

[2018-03-21 15:03] BrzVlad commented on #7733
That PR fixes finalizer-abort (as far as I tested), and it is plausible that it will fix the others. As I look on the master windows job it seems we didn't have any failures since yesterday (when the PR was merged). Let's wait a few days before closing this issue.

[2018-03-21 15:09] luhenry opened #7741 "Mono.Debugger.Soft tests do not redirect Console.{Out,Error} of debuggee process"
When going to https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/8921/testReport/junit/(root)/DebuggerTests/StackTraceInNative/ for example, we have no idea why the underlying process has exited. To figure it out, we need to go to https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/8921/parsed_console/log_content.html#WARNING1 and scroll back up to where the test was e

[2018-03-21 15:09] luhenry commented on #7741
/cc @vargaz @alexanderkyte

[2018-03-21 15:22] Rombersoft commented on #7398
Two days ago this error repeats but this time without "Native error..."

System.ComponentModel.Win32Exception: ApplicationName='bash', CommandLine='-c "ifconfig | grep ppp"', CurrentDirectory=''
  at System.Diagnostics.Process.Start_noshell (System.Diagnostics.ProcessStartInfo startInfo, System.Diagnostics.Process process) [0x00352] in /tmp/yaourt-tmp-root/aur-mono2/src/mono-2.10.9/mcs/class/Syste

[2018-03-21 15:25] marek-safar opened #7743 "Add nunit/nunit to mscorlib for all profiles"
We want to use nint/nuint as the way for adopting all 64 bit optimizations happening in CoreCLR/CoreFX.

- [ ] Add the types with minimal required API surface as internal types
- [ ] Review imported code for `using nint = ...` and `using nuint = ...` and add `if !MONO` block around them

[2018-03-21 15:44] vargaz commented on #7137
I can reproduce this, don't think this is a regression. It seems to be a race where a single step is stopped while the runtime is not suspended.

[2018-03-21 15:48] #7537 closed

[2018-03-21 15:49] #7449 closed

[2018-03-21 16:45] ChristianWeyer commented on #7548
Which example are you referring to @kumpera ?

[2018-03-21 17:01] akoeplinger commented on #7398
The stack traces in your last two comments were from Mono 2.10, I'd suggest using latest Mono 5.10 so we don't hit unrelated bugs in that very old Mono.

Do you have a way to constantly monitor the RAM/memory consumption so we can see if it grows over time?

[2018-03-21 17:32] #7729 closed

[2018-03-21 19:16] akoeplinger commented on #7734
This is most likely a duplicate of https://github.com/mono/mono/issues/7655.

[2018-03-21 19:45] zburns opened #7750 "System.MissingMethodException in System.Security.Policy.Evidence"
## Steps to Reproduce

1. Attempting to call the Evidence method

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

**Version Used**: 5.10.0.160

### Stacktrace

[code]

[2018-03-21 19:45] alexanderkyte commented on #6936
With https://github.com/mono/mono/pull/7012 I now get

[code]

[2018-03-21 19:59] vargaz commented on #7655
findhandle_close () seems to be missing a
	findhandle_unref (findhandle);
call.

[2018-03-21 20:10] luhenry commented on #7655
@vargaz at https://github.com/mono/mono/blob/master/mono/metadata/w32file-unix.c?utf8=%E2%9C%93#L4706 it should be the following:

[code]

[2018-03-21 20:21] kg opened #7752 "Bug 60843's test fails under the interpreter"
## Steps to Reproduce

1. mono --debug --interpreter mono/tests/bug-60843.exe

## Current Behavior

Test fails because the enum value loaded for the attribute parameter is random bytes

## Expected Behavior

Test should pass
### On which platforms did you notice this

Linux

**Version Used**:

master

I did some digging and from what I can tell, all the data in memory looks correct inside the cust

[2018-03-21 20:41] Rombersoft commented on #7398
Last two messages are equally

[2018-03-21 21:12] mderoy commented on #7696
This is affecting Unity users as well:
https://issuetracker.unity3d.com/issues/certain-linq-combinations-yield-wrong-results-on-net-4-dot-6

[2018-03-21 21:52] mindingdata opened #7753 "Mono Basics Documentation for HTTPS Connections test fails"
## Steps to Reproduce

1. Download and install mono
2. Go to this page : http://www.mono-project.com/docs/getting-started/mono-basics/ and follow the HTTPS connections guide to test your https connection (Essentially compiling a single .cs file)

## Current Behavior

Doesn't compile.

[code]

## Expected Behavior

Compiles.

### On which platforms did you notice this

[ ] Windows

**Version Used**

[2018-03-22 01:11] #7664 closed

[2018-03-22 01:27] khle commented on #7700
Fixed. Only if I knew to look in the Installer log in the first place, then I would pick up the phrase "/private/tmp" is missing, then I could try to manually create that missing directory or at least be able to google for "mono install on mac missing /private/tmp".

[2018-03-22 01:27] #7700 closed

[2018-03-22 04:27] kumpera commented on #7548
This one here: https://github.com/mono/mono/blob/master/sdks/wasm/sample.html
Or something better to distribute.

[2018-03-22 06:15] HeikoWeiss commented on #7734
I tried this, and it seems to fix the memory leak:

File: w32file-unix.c
Method: findhandle_close
Change:
...
	removed = g_hash_table_remove (finds, (gpointer) findhandle);
	g_assert (removed);

        /* Insert --> */ mono_refcount_dec (findhandle);

	mono_coop_mutex_unlock (&finds_mutex);
....

[2018-03-22 06:18] HeikoWeiss commented on #7655
seems to be fixed with my test in
https://github.com/mono/mono/issues/7734

Please check it.
Thank You.

[2018-03-22 09:20] mfilippov opened #7756 "Couldn't build simple VB project with mono MSBuild."
## Steps to Reproduce

1. Create simple hello world VB console app

[ConsoleApplication15.zip](https://github.com/mono/mono/files/1836821/ConsoleApplication15.zip)

## Current Behavior
[code]

## Expected Behavior

Build successful

### On which platforms did you notice this

[X] macOS
[X] Linux
[ ] Windows

**Version Used**:
[code]

[2018-03-22 09:42] AndreyAkinshin commented on #7756
I have the same problem on Linux + `mono 5.10.1.4`

[2018-03-22 10:06] marek-safar commented on #7734
Closing as a duplicate

[2018-03-22 10:06] #7734 closed

[2018-03-22 10:19] ArgusMagnus commented on #7338
I ran into the same problem today with an app which was previously working. I was able to work around this by deriving from the FileSystemWatcher and override the Dispose method:

	static bool CanHaveFileSources { get; } = false;

	sealed class FileSystemWatcherTest : FileSystemWatcher
	{
		protected override void Dispose(bool disposing)
		{
			try { base.Dispose(disposing); }
			catch { }
		}
	}

[2018-03-22 10:26] marek-safar commented on #7753
@baulig we should remove that file if it's not useful anymore

[2018-03-22 11:02] akoeplinger commented on #7377
Reopening since the PR was reverted.

[2018-03-22 11:06] vargaz commented on #7377
I think we need another approach to break the read loop in the connection thread.

[2018-03-22 13:07] marek-safar commented on #7750
We are missing the above mentioned ctor overload

[2018-03-22 13:42] mugginsoft commented on #7696
Not sure if is the same issue but it may have a connection.

The following Distinct() method call succeeds on .Net but raises with a  Null ref exception on Mono macOS 10.13
.
var orders = items.SelectMany(e => e.Deductions).Select(e => e.Order).Distinct();
foreach (var order in orders) {
	… // order is Null here and raises
}

On Mono `order` is Null though `orders` is an instance of System.Linq.En

[2018-03-22 15:34] jaykrell commented on #7568
https://jenkins.mono-project.com/job/test-mono-pull-request-armhf/11766/testReport/(root)/AppResourcesCompilerTest/GlobalResourcesLocalization/

[code]

[2018-03-22 15:34] jaykrell commented on #7568
Please disable flaky tests. CI fails 100% because of them. I am constantly retrying.

[2018-03-22 16:38] akoeplinger commented on #7733
These seem to be fixed by https://github.com/mono/mono/pull/7647, good job @BrzVlad !

[2018-03-22 16:38] #7733 closed

[2018-03-22 18:40] #7668 closed

[2018-03-22 21:10] #7558 closed

[2018-03-23 00:36] NattyNarwhal commented on #7723
I wonder why doesn't it use `System.IO.DriveInfo`, even as a fallback?

[2018-03-23 01:27] lambdageek opened #7785 "Dead link (404) in a runtime execution engine exception"
Got this error message from a FullAOT test where I have some native code that wants to invoke a managed delegate.

Following the link [`https://developer.xamarin.com/guides/ios/advanced_topics/limitations/`](https://developer.xamarin.com/guides/ios/advanced_topics/limitations/) gives a 404.

[code]

[2018-03-23 01:28] lambdageek commented on #7785
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot/9017/parsed_console/log.html this is the log for the bad build.

[2018-03-23 03:20] brendanzagaeski opened #7786 ""mono/metadata/threads.c:3016, condition `internal' not met" under certain conditions with the soft debugger attached"
This report is based on [Xamarin Bugzilla Bug 61261](https://bugzilla.xamarin.com/show_bug.cgi?id=61261) and a corresponding [Developer Community report](https://developercommunity.visualstudio.com/content/problem/221192/android-application-crashing-with-condition-intern.html).

## Regression status: regression in `2017-10` starting at <https://github.com/mono/mono/commit/ce89e4c5fa46a4d8225f43339

[2018-03-23 07:53] filipnavara commented on #7723
That's a good point. It would probably make much more sense.

[2018-03-23 09:22] Rombersoft opened #7787 "mistics bugs in application witch was built due to mono 5.10"
## Steps to Reproduce

I've just rebuilt working source code using last 5.10 mono and begin throubles

My application works with bill validator CashCode (Canada) via ID003 protocol. After 15 hours of application working it  stoped to switch a billvalidator for accepting money. When I opened log which is related with bill validator I saw this:

![default](https://user-images.githubusercontent.com/1

[2018-03-23 09:36] marek-safar commented on #7785
@brendanzagaeski could you find out where should this be pointing out now?

[2018-03-23 09:37] Rombersoft opened #7788 "Directory.GetCurrentDirectory() returns a wrong path in several cases"
## Steps to Reproduce

It need Linux OS. I've observed on ArchLinux
But!!! I've observed this on Windows when run application via autostart due to regedit utils

1. create console application with Directory.GetCurrentDirectory() method
2. place your application at /home/user
3. type crontab -e on terminal emulator
4. create task to start application after reboot
5. reboot computer

## Current Beha

[2018-03-23 11:01] filipnavara commented on #7788
You are misunderstanding what current directory is. It is NOT the directory where your application is placed.

I can open Terminal in my home directory, eg. "/Users/filipnavara/". That's what "pwd" (Print Working Directory) command will print. Then I can run "./Desktop/myapp/myapp.exe" and the current directory will still be "/User/filipnavara/" even if the application file is actually "/Users/fil

[2018-03-23 11:37] mandel-macaque opened #7792 "Failure to AOT compile due to condition `load_opcode != OP_LOADV_MEMBASE' not met"
_From @mellinoe on March 22, 2018 7:32_

### Steps to Reproduce

1. Create a Xamarin.iOS application.
2. Add a reference to this NuGet package: https://www.nuget.org/packages/Vk/
3. Try to build

### Expected Behavior
It works.

### Actual Behavior
An error is given and compilation fails.

https://github.com/mono/mono/blob/master/mono/mini/method-to-ir.c#L14027

[code]
### Environment

[code]

_Co

[2018-03-23 12:28] pr0vieh commented on #7655
@HeikoWeiss i think it's a good idea to open a Pull Req for your fix then you get feedback if your Fix is the right solution of this Bug

[2018-03-23 12:51] Rombersoft commented on #7788
Ok. Let it be. But why must I know Print Working Directory? Why can it be useful for me?
I want to know working directory of my application. It is useful for me!

[2018-03-23 13:26] marek-safar commented on #7696
The issue was resolved.

@mugginsoft please test it with mono master or include full test case I could try to use.

[2018-03-23 13:26] #7696 closed

[2018-03-23 13:32] luhenry commented on #7792
/cc @vargaz

[2018-03-23 13:33] #7788 closed

[2018-03-23 13:34] luhenry commented on #7723
Fixed by https://github.com/mono/mono/pull/7791

[2018-03-23 13:34] #7723 closed

[2018-03-23 13:41] NattyNarwhal commented on #7756
This is because xbuild is using the old Mono VB compiler, vbnc, instead of Roslyn's vbc.

[2018-03-23 14:15] mugginsoft commented on #7696
Will do. If my issue persist I will try and pull it out of its production context.

[2018-03-23 14:31] lambdageek commented on #7785
I think it should be https://docs.microsoft.com/en-us/xamarin/ios/internals/limitations

[2018-03-23 14:56] akoeplinger commented on #7785
There should've been a redirect for this page, e.g. https://developer.xamarin.com/guides/ios/advanced_topics/ redirects to https://docs.microsoft.com/en-us/xamarin/ios/internals/.

[2018-03-23 16:15] marek-safar commented on #7786
@luhenry seems to be related to your changes

[2018-03-23 16:19] marek-safar commented on #7756
@radical could you check what needs to be adjusted?

[2018-03-23 16:21] dghenke commented on #7786
The reported behavior appears to be unrelated to platform and/or Android version. I can reproduce it on a TC700K running Android 6.0.1, as well as a WT6000 running Android 5.1.1.

[2018-03-23 16:24] marek-safar commented on #7787
This is highly unlikely related to 5.10 compiler. You could compare generated IL but the problem will be somewhere else which I cannot tell without more details

[2018-03-23 16:24] #7248 closed

[2018-03-23 16:26] marek-safar commented on #7030
This needs to be PR lane, could you add it there

[2018-03-23 16:38] Rombersoft commented on #7787
I will write you when I will force it to work

[2018-03-23 17:11] luhenry commented on #7030
@marek-safar the PR lane already exist at https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-amd64-osx-products-sdks-ios/ and https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-amd64-osx-products-sdks-android/

[2018-03-23 17:11] #7030 closed

[2018-03-23 17:26] marek-safar commented on #7030
@luhenry cool, why is it not included in the default set?

[2018-03-23 18:33] conceptdev commented on #7785
Added the redirect that takes https://developer.xamarin.com/guides/ios/advanced_topics/limitations/
to https://docs.microsoft.com/xamarin/ios/internals/

[2018-03-23 18:38] brendanzagaeski commented on #7785
For a tiny bit of additional background context, it turned out this particular redirect was just unintentionally missing due to a typo.

[2018-03-23 18:39] lambdageek commented on #7785
Works great now.

[2018-03-23 18:40] akoeplinger commented on #7785
@lambdageek I think we should still update the actual link in the source code.

[2018-03-23 18:43] brendanzagaeski commented on #7785
As a little detail note for updating the link in the source code, we can use the locale-agnostic link as in Craig's comment:

<https://docs.microsoft.com/xamarin/ios/internals/>

This locale-agnostic link redirects to the expected locale-specific version based on the user's environment.

[2018-03-23 18:52] lambdageek commented on #7438
We set up a job here: https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-amd64-checked-build/

Waiting on #7802

[2018-03-23 18:59] brendanzagaeski commented on #7786
Note to the Mono team: One detail I forgot to add yesterday is that as a small additional experiment I tried stress-testing a simpler scenario where I adjusted the **Stop** button event handler to call `SpawnThread()` (from [mono/tests/threads-leak.cs](https://github.com/mono/mono/blob/ce89e4c5fa46a4d8225f43339fab0b0574f81cfe/mono/tests/threads-leak.cs)) repeatedly in a loop. Unfortunately that wa

[2018-03-23 19:07] dghenke commented on #7786
Additional notes:

1) The bug is easy to reproduce with the Zebra sample code, but is not specific to the Zebra EMDK and/or platforms with the Zebra scan engine. At least one user in the Xamarin Bugzilla is experiencing the same problem in an app using the Google maps API (but no Zebra stuff): https://bugzilla.xamarin.com/show_bug.cgi?id=61261#c2

2) I did open a Zebra case (ID 04000930) upon firs

[2018-03-23 19:28] maca88 opened #7804 "System.MissingMethodException in NuGet.ProjectModel.LockFileTargetLibrary"
## Steps to Reproduce

1. Open [this](https://github.com/maca88/AsyncGenerator/blob/master/Source/AsyncGenerator.TestProjects/MultiTargetFrameworks/MultiTargetFrameworks.csproj) project by using `MSBuildWorkspace` from Roslyn.

Code:
[code]
The `errorMessage` value:
[code]

[Here](https://travis-ci.org/maca88/AsyncGenerator/builds/357500705?utm_source=github_status&utm_medium=notification) you can

[2018-03-23 19:43] akoeplinger opened #7805 "F# build is broken due to new String.StartsWith overload"
## Steps to Reproduce

1. Build FSharp
2. It fails during build

This was most likely introduced because https://github.com/mono/mono/pull/7492 introduced new overloads on String from corefx.

## Current Behavior

[code]

## Expected Behavior

No build failure.

### On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

[2018-03-23 19:44] akoeplinger commented on #7805
/cc @marek-safar

[2018-03-23 19:57] akoeplinger opened #7807 "Reenable normal signing instead of public signing during build"
Now that we have Roslyn 2.7 which supports normal/full signing on !Windows we could remove the /publicsign from our build system again.

[2018-03-23 20:13] luhenry commented on #7030
Because they mostly don't work, take too many resources and are waiting for the dedicated bots with the devices attached.

[2018-03-23 20:34] chamons opened #7808 "Crash when mono_class_get_name a struct element of an array returned by a property invoked via mono_runtime_invoke (Embeddinator)"
## Steps to Reproduce

This was originally a Embeddinator issue https://github.com/mono/Embeddinator-4000/issues/636

but I was able to isolate it to a simple issue with no Embeddinator code.

I am not 100% certain we are miusing the APIs, but the repro is rather simple.

1. ```git clone git@github.com:chamons/filed-bug-test-cases.git```
2. cd mono_struct
3. make

## Current Behavior

Crash when m

[2018-03-23 22:02] sailro commented on #7377
@vargaz do you have more information to share about those random crashes allegedly caused by the previous update?

[2018-03-23 22:19] jaykrell opened #7809 "coreclr acceptance test times out external/coreclr/tests/src/JIT/Regression/VS-ia64-JIT/V1.2-M02/b28158/test_il.exe"
Linux x64 Acceptance Tests

https://jenkins.mono-project.com/job/test-mono-pull-request-acceptance-tests/2819/

https://jenkins.mono-project.com/job/test-mono-pull-request-acceptance-tests/2819/testReport/junit/MonoTests/coreclr/external_coreclr_tests_src_JIT_Regression_VS_ia64_JIT_V1_2_M02_b28158_test_il_exe_timedout/

MonoTests.coreclr.external/coreclr/tests/src/JIT/Regression/VS-ia64-JIT/V1.2-M

[2018-03-23 23:16] vargaz commented on #7377
It is definitely caused by this patch. It can be reproduced by running make check in mcs/class/Mono.Debugger.Soft on osx. The tests will not fail, because the crash happens during shutdown, but you can see the native stack traces etc.
If I have to guess, sending the VM_Disconnect message after closing the connection somehow confuses the debugger agent code.

[2018-03-23 23:16] vargaz commented on #7377
Its possible that there were recent changes in mono which caused this to surface, so older runtimes would work fine.

[2018-03-24 00:20] luhenry commented on #7786
The issue is at https://github.com/mono/mono/blob/master/mono/metadata/threads.c#L3136: we free the gchandle without removing it from the `MonoThreadInfo` (with `mono_thread_info_unset_internal_thread_gchandle`). This then allows another thread to be allocated and then destroyed again in the meantime. The fix is to remove this `mono_gchandle_free` since we shouldn't do it anyway.

[2018-03-24 00:40] luhenry commented on #7438
Done and verified with https://github.com/mono/mono/pull/7802

[2018-03-24 00:40] #7438 closed

[2018-03-24 01:38] cretz opened #7820 "Documentation on WASM Compilation"
I have read https://github.com/mono/mono/blob/master/sdks/wasm/README.md but I am still unsure how to very simply "compile a .cs file to a .wasm file". The example shows a dll output (maybe I'm just too hung up on the file extension). To confirm, please document (or maybe add a FAQ saying it can't be done):

* Confirm it's AOT compiled to WASM. The JS shows load assembly, invoke method, etc calls

[2018-03-24 01:58] jaykrell commented on #7167
Bisect gave me the wrong answer, trying again.

[2018-03-24 03:00] #7460 closed

[2018-03-24 13:41] tyronx opened #7821 "System.Drawing.Bitmap incorrectly loads png files (without color profile?)"
## Steps to Reproduce

[code]

In file (its white): ![in](https://user-images.githubusercontent.com/762006/37864556-83ffaf8a-2f79-11e8-873a-053b6f48a869.png)
Out file: ![out](https://user-images.githubusercontent.com/762006/37864557-84228730-2f79-11e8-8009-24ed3393834d.png)

The in.png file had pngcrush (-ow -rem allb -reduce) run over it.

## Current Behavior

As shown in out.png.

Without execut

[2018-03-24 13:43] DarkCaster opened #7822 "Failing to serialize ConcurrentDictionary with BinaryFormatter"
I have a strange problem with ConcurrentDictionary serialization using BinaryFormatter with mono 5.10.

## Steps to Reproduce

Here is a code example:
[code]
## Current Behavior

This code throws the following exception:
[code]
## Expected Behavior

No exception was thrown with older mono 5.8.0

### On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:
[code]

[2018-03-24 13:56] vargaz commented on #7030
The ios lane works mostly, and the x.ios build now use the same code, so we should try to keep it running. It runs on the osx-64 bots and one build/test run takes about 50 min.

[2018-03-24 14:26] vargaz commented on #7030
The only problem is that it runs on the limited osx-64 bot pool.

[2018-03-24 15:09] filipnavara commented on #7821
This was likely fixed already (with newer libgdiplus version).

[2018-03-24 15:12] filipnavara commented on #7821
Official Mono 5.10 on macOS should have new enough library versions packaged in.

[2018-03-24 15:14] #7756 closed

[2018-03-24 15:33] jaykrell commented on #7167
Bisect says it is https://github.com/mono/mono/commit/5f5c5e97a08f7086d7c18af37352c4a03dc4c0d1

[threadpool] Replace parked_threads condition variable by a semaphore #6222

Later to confirm with master and reverting it and then to try to understand it..

[2018-03-24 16:20] copygirl commented on #7821
I can confirm that on my system this doesn't occur, while other players of the same game do have that problem. Mono version `5.8.0.108`.

[2018-03-24 16:37] filipnavara commented on #7821
We had exactly the same issue in our project with our images. Pngcrush used to produce some obscure PNGs with palette, gray-scale colours or palettes with transparency. I submitted patches to libgdiplus to fix these obscure cases, so I am reasonably sure that new enough Mono/libgdiplus has this fixed.

[2018-03-24 17:27] mugginsoft commented on #7696
So I tried the nightly build that includes this fix in my production code and too many things break before I can get anywhere near exercising this particular issue. Will try and pull out a test case.

[2018-03-24 18:09] marek-safar commented on #7807
I am not sure there is any benefit for us from that

[2018-03-24 22:54] luhenry commented on #7030
Dedicated bots are being provisioned with devices attached. It would make a lot of sense to wait for these bots to be online and to tests on devices then.

[2018-03-24 22:55] luhenry commented on #7820
/cc @kumpera

[2018-03-25 06:51] AndreyAkinshin commented on #7756
@radical, thanks! Which version of mono will ship the updated msbuild?

[2018-03-25 11:21] rnagy commented on #6359
I've had a quick look into this and in mono_thread_state_init() in mono-exceptions.c
calls mono_get_lmf(); which will call pthread_setspecific() which will return a pointer
to invalid memory, but I think at that point mono_get_lmf() should not be called and
ctx->unwind_data [MONO_UNWIND_DATA_LMF] should be NULL, and by doing that
the build completes just fine with coop gc enabled. The !coop-gc cas

[2018-03-25 15:38] jaykrell commented on #7167
Confirmed on Alpine with revert.
Also easy to reproduce on Debian 9 with muslc (with cross compiler form).

[2018-03-25 17:21] vargaz commented on #7377
It looks like an interaction with 540ef385faa230bc226c7a83bfabd0730520911e. The connection is broken, we hit this code:

	if (!attach_failed && command_set == CMD_SET_VM && command == CMD_VM_DISPOSE && !(vm_death_event_sent || mono_runtime_is_shutting_down ())) {
		DEBUG_PRINTF (2, "[dbg] Detached - restarting clean debugger thread.\n");
		start_debugger_thread ();
	}

so we recursively create new

[2018-03-25 19:17] maca88 commented on #7804
For some reason, NuGet assemblies from `/Library/Frameworks/Mono.framework/Versions/5.10.0/lib/mono/msbuild/15.0/bin/Sdks/Microsoft.NET.Sdk/tools/net46` are not loaded on macOS. I've managed to fix the problem by adding a custom assembly resolver. I'm closing the issue as this doesn't seem to be a mono issue.

[2018-03-25 19:17] #7804 closed

[2018-03-25 21:53] vargaz commented on #7792
The vk.dll assembly seems to contain some invalid IL:

  .method public hidebysig static void  vkDebugReportMessageEXT(class Vulkan.VkInstance 'instance',
                                                                class Vulkan.VkDebugReportFlagsEXT 'flags',
                                                                class Vulkan.VkDebugReportObjectTypeEXT objectType,

[2018-03-26 00:37] mellinoe commented on #7792
@vargaz Thanks for the clue -- changing that allowed me to get further in my build. If this is indeed invalid IL, then it would be good to have a more actionable error message. Getting a runtime assertion here was confusing.

[2018-03-26 01:50] vargaz commented on #7792
It looks like the calli opcode is missing the signature checks that normal call opcodes have.

[2018-03-26 04:02] nddipiazza opened #7825 "No dark theme when running xaramin studio from `/usr/bin/monodevelop`"
Run `/usr/bin/monodevelop`

there is no way to get a dark text editor theme which is crucial for people with eye floaters / other eye conditions.

Am I just missing the option?

There are themes, but none of them change the text editor's theme. Just the outer window.

Works fine when using flatpak

[2018-03-26 04:08] decriptor commented on #7825
I think you filed this against the wrong repo? You probably want to file this against github.com/mono/monodevelop.

But, I think you are right that the dark theme is either missing or just not there on monodevelop. On mac there is a dark theme, but for now you can at the very least I believe you can change the text editor theme in preferences:

<img width="981" alt="screenshot 2018-03-25 22 07 27"

[2018-03-26 04:14] nddipiazza commented on #7825
closing - wrong repo

[2018-03-26 04:14] #7825 closed

[2018-03-26 04:19] nddipiazza commented on #7825
OK thanks that actually fixed me up @decriptor
I was able to use the color theme for the text editor + the theme "BlackMate" which was only available once I sudo apt-get upgraded the package to the latest.

[2018-03-26 07:13] gulbanana commented on #7820
By an interpreter do you mean a VM? The idea is that that the mono clr is compiled to wasm, and then it JITs assemblies just as a desktop clr would.

[2018-03-26 07:37] ntherning commented on #7693
/cc @lateralusX

[2018-03-26 08:52] marek-safar commented on #7716
@dalexsoto How do I do `Run xammac tests in Release (all optimizations) mode` ?

[2018-03-26 08:54] EgorBo commented on #7822
Mono uses corefx sources for` ConcurrentDictionary` which is not BinaryFormatter-friendly in .NET Core too: https://github.com/dotnet/corefx/issues/28137

[2018-03-26 09:57] borgdylan opened #7828 "Invalid instruction generated by regex runtime when using dapper"
When using Hangfire an by extension Dapper, the regex runtime in mono is making an invalid instruction which is making the call to CreateDelegate fail.

[code]

[2018-03-26 10:05] lewurm commented on #7828
I think it's this regex: https://github.com/StackExchange/Dapper/blob/07fe543f1530b33818c9ce989bf0672e145c954d/Dapper/SqlMapper.cs#L2239

I can't get it to fail though. Do you know what the input to the matcher is?

[2018-03-26 10:15] lewurm commented on #7828
seems to be an known issue: https://bugzilla.xamarin.com/show_bug.cgi?id=25671

[2018-03-26 10:20] lewurm commented on #7828
@marek-safar is this code "overriden" by some corefx import?
https://github.com/mono/mono/blob/e610e443cd67c78c2aeabef4209e380226dd65d5/mcs/class/referencesource/System/regex/system/text/regularexpressions/Regex.cs#L1408-L1420

[2018-03-26 10:21] lewurm commented on #7828
@borgdylan it would be useful to know what version and on what platform you experience this problem

[2018-03-26 10:47] akoeplinger commented on #7030
I agree with Ludovic, it's better to wait for the dedicated bots.

[2018-03-26 10:54] akoeplinger commented on #7807
We have quite a lot of publicsign related warnings like:

[code]

We also had to make some patches to e.g. IronLanguages build to support publicsign.

It would be nice to get rid of these but of course nothing critical at all so we can do it when we have some time.

[2018-03-26 11:02] borgdylan commented on #7828
I experienced this on Linux x64 with the latest code form the master branch. Commit e7ba41d14c7e1dc6e860e6e9c5a3db05686d2c5a is known to me as NOT exhibiting the issue. Thsi seems to have been intoruduced during this month.

[2018-03-26 11:04] borgdylan commented on #7828
Also, I have managed to reproduce this with all mono code of the last two weeks. I was too busy to report it. I noticed that there were imports from corefx in this timeframe. I am not sure if regex was worked on during said imports.

[2018-03-26 11:08] borgdylan commented on #7828
I confirm that there was corefx work done by Egor. Commit: https://github.com/mono/mono/commit/695acd0a0b909df0733f74156587f1a38db4b2b0

[2018-03-26 11:15] alexrp opened #7829 "Explore having a test suite for reading old profiler log files"
As we saw in #7613, there is sometimes breakage that results in master not being able to read old profiler log files. It might be worth having some sort of test suite with a bunch of old log files in Mono to ensure we don't regress like this. This test suite would need to live under `acceptance-tests` with a separate repository holding said log files.

[2018-03-26 12:13] DarkCaster commented on #7822
Ok, I see. But, is this really a good change - to make Mono less compatible with .NET4.5 ?

[2018-03-26 12:17] FalcoGer opened #7830 "Form.Refresh() and Form.Invalidate() + Update() not working"
## Steps to Reproduce

1. Create new C# WinForm Project in VS Community 2017
2. Create basic window with label and button
3a. In Button code add:
[code]
3b. Alternatively:
[code]
4. Run in windows, the label will count down
5. run in linux, the window freezes during the 10 second loop

## Current Behavior

The window freezes when trying to manually draw and not allowing the refresh cycle.

## Expe

[2018-03-26 13:06] #7805 closed

[2018-03-26 14:18] luhenry commented on #6359
@vargaz  the LMF mechanism should probably be fixed to clear up the LMF TLS key when returning from the first managed frame.

[2018-03-26 14:24] luhenry commented on #7829
We should probably just expand the new `Mono.Profiler.Log` test suite. How big are these log files?

[2018-03-26 14:32] vargaz commented on #6359
mono_get_lmf () should not return an invalid pointer in that case. It should always return either a pointer into the current thread stack, or the 'root' lmf entry in &jit_tls->lmf.

[2018-03-26 15:50] borgdylan commented on #7828
@lewurm that commit leaves out the file you mentioned. I am not sure if such a patch was made to new code.

[2018-03-26 15:54] lewurm commented on #7828
@EgorBo can you have a look at this please?

[2018-03-26 15:58] #7786 closed

[2018-03-26 16:02] marek-safar commented on #7786
@brendanzagaeski do we really need it in 15.6 service pack?

[2018-03-26 16:30] kumpera commented on #7820
Hi @cretz, I'll update the docs with your feedback.
In the meanwhile, here answers to your questions.

The current SDK only provides an interpreter, we'll integrate the AOT compiler at a later date. The workflow is to compile is to a .dll / .exe as usual and load it with the wasm runtime.

We're currently using emscripten's posix emulation. Whether we move to wasm standard alone or not, we'll stil

[2018-03-26 19:19] luhenry commented on #7167
Could you provide a performance profile comparison between both implementation? Could you also run it on various platforms? What's the reason for the semaphore implementation to be so slow on Alpine Linux and it doesn't seem to be the problem on any other platform? Isn't it something that should instead be reported against Alpine Linux?

[2018-03-26 19:27] jaykrell commented on #7167
Also what other platforms? I could try other architectures or other distributions but Debian/amd64/musl would seem sufficient.

[2018-03-26 19:28] luhenry commented on #7167
Semaphores in the case of the threadpool solves a whole lot of issues over condition variables, so we will need to work around musl, especially since it only affects this specific configuration.

[2018-03-26 19:38] jaykrell commented on #7167
Can't you trivially build a semaphore out of a condition variable?

Condition variables seem to easily efficiently build all kinds of things. I find they provide an easier programming model in every case. With semaphores (or windows events) you have to bottleneck all your interesting state to one or a small number of integers or booleans. With condition variables you just write an arbitrary expres

[2018-03-26 20:34] luhenry commented on #7167
If you think that is the fix for musl, then feel free to submit a PR that implements a semaphore on top of a condition variable. I don't see why only the threadpool would be impacted in this case. Just note that since this slow semaphore issue only affects musl, then the semaphore on top of the condition variable should only be implemented for musl, as a workaround.

You can find the wrapper we us

[2018-03-26 21:09] mhutch opened #7838 "Publish WebAssembly SDK, framework and tools to NuGet"
Publish a Mono.WebAssembly.SDK package to NuGet, so that it can be used in a project as follows:

[code]

The SDK must be as small as possible, as it will be needed to be downloaded to evaluate the project.

Publish the WebAssembly tools and frameworks into NuGet packages that can be referenced via `<PackageReference>` items in the SDK. When restoring a project that uses the SDK, they will be down

[2018-03-26 21:11] mhutch opened #7839 "Add WebAssembly framework moniker to NuGet"
Add the WebAssembly framework moniker to the [NuGet client library](https://github.com/NuGet/NuGet.Client/blob/6e6f469828435d0a3c88aa153808ba380c6d0d71/src/NuGet.Core/NuGet.Frameworks/FrameworkConstants.cs#L36) so that NuGet will be able to handle packages that target this framework.

[2018-03-26 21:20] mhutch opened #7840 "WebAssembly packaging SDK and targets"
Implement targets for WebAssembly projects. These targets should handle gathering dependencies via the Mono linker, compiling the IL into WASM files, and generating an HTML package that loads the WASM files.

During development these targets can be referenced directly, however for shipping, they should come via [an SDK shipped on NuGet](https://github.com/mono/mono/issues/7838).

[2018-03-26 21:29] mhutch opened #7841 "WebAssembly project templates"
Create a dotnet template pack from Mono.WebAssembly projects.

See https://github.com/dotnet/templating/wiki for more details

This will allow templates to be installed and unfolded using `dotnet new`, and can also be registered into the IDEs.

[2018-03-26 21:30] jaykrell commented on #7167
I wonder if the musl semaphores are never woken except by time out. We should experiment..

[2018-03-26 22:01] luhenry commented on #7838
/cc @kumpera

[2018-03-26 22:01] luhenry commented on #7839
/cc @kumpera

[2018-03-26 22:01] luhenry commented on #7840
/cc @kumpera

[2018-03-26 22:01] luhenry commented on #7841
/cc @kumpera

[2018-03-26 23:21] jaykrell commented on #7167
I agree I don't see why threadpool only is impacted. And it isn't clearly.
Everything works albeit slowly. Maybe threadpool is only most impacted.

[2018-03-27 00:08] lambdageek opened #7845 "Don't install monograph"
`monograph` (https://github.com/mono/mono/tree/master/tools/monograph) is a utility that dumps a callgraph or type hierarchy information from a given assembly (in graphviz dot format).

I'm not sure who this is useful for, but this seems like a tool that ought to be built on top of IKVM or Cecil and not by embedding Mono.

We ship it, but it hasn't worked for a while because we never test it.

[co

[2018-03-27 00:11] lambdageek commented on #7845
The runtime crash will be fixed by https://github.com/mono/mono/pull/7836, so we can ship something that won't crash anymore.  But we shouldn't ship it at all.

[2018-03-27 07:35] schtibb commented on #7356
Does this affect older versions of Mono as well? Can someone confirm?

[2018-03-27 08:15] lateralusX commented on #7693
@EgorBo Local build mono? Cygwin or Visual Studio build runtime? Looking at the assert it seems like the build has not defined HAVE_SYSTEM, this is always done in Visual Studio build since it is hard coded in winconfig.h. In Cygwin build it depends on configure step and just a quick check indicates that this is not done on Cygwin target meaning that this could have been an issue on Cygwin builds f

[2018-03-27 08:30] marek-safar commented on #7356
@baulig could you please investigate

[2018-03-27 08:44] smr888 commented on #7356
I am sure this problem is in 5.8.  I am pretty sure it was in 5.4.1.  If I had to guess, I'd say the problem started with 5.4 or 5.4.1.  I say this because it was sometime in late fall / early winter of 2017 that we had to start restarting our systems every couple of days to avoid problems.

[2018-03-27 09:42] phoenyx08 commented on #7753
The same on Debian 9

[2018-03-27 10:55] EgorBo commented on #7828
@marek-safar @lewurm  @borgdylan I could not reproduce https://bugzilla.xamarin.com/show_bug.cgi?id=25671 so I decided it's fixed by the corefx import + lots of runtime changes since the bug was submitted, looks like we need to ignore the flag again..

[2018-03-27 11:09] marek-safar commented on #7828
@borgdylan could you help us to repro the issue ?

[2018-03-27 11:27] borgdylan commented on #7828
If there is a branch I can pull, I will try recompiling and installing the "fixed" mono so as to run it against the project that manifests the issue.

[2018-03-27 11:27] borgdylan commented on #7828
I cannot give away any code since it is all under NDA.

[2018-03-27 11:56] marek-safar commented on #7828
Sure but I think it should be reproducible with Regex.IsMatch input you use in your `GetLiteralTokens` method

[2018-03-27 12:06] borgdylan commented on #7828
That is within a library used by another library I use. ANy direct use of regex by myself is not triggering teh issue.

[2018-03-27 12:07] marek-safar commented on #7821
Please reopen if you can still reproduce it with Mono 5.10

[2018-03-27 12:07] #7821 closed

[2018-03-27 12:08] borgdylan commented on #7828
In other words I am not the code owner of whatever is calling the regex runtime at the point of failure.

[2018-03-27 12:12] akoeplinger commented on #7845
Alternatively we could add a test so we don't break it again ;)

[2018-03-27 13:09] marek-safar commented on #7845
It should be fine to stop shipping it, it's really special dev tools with no maintenance

[2018-03-27 13:10] marek-safar commented on #6523
Another case https://github.com/mono/mono/issues/7845

[2018-03-27 13:15] marek-safar commented on #7839
This is not right repo to ask for new TFM. I actually don't know which one it's but we used https://github.com/dotnet/standard in the past for such requests.

[2018-03-27 13:29] kumpera opened #7852 "[SLE] NRE when using Json.NET"
Test code from this issue: https://github.com/aspnet/Blazor/issues/370

Use Newtonsoft.Json and this code:

[code]

It show work, but we get:
[code]

[2018-03-27 14:16] luhenry opened #7853 "Enable testing on `Linux x64 mcs`"
To avoid regressions we witnessed with https://github.com/mono/mono/pull/7722, we want to run the tests. We should limit our initial effort by disabling the tests that are currently broken, and potentially fix them later.

[2018-03-27 14:27] marek-safar commented on #7853
I think it might be more useful not to run the test but use mcs to compile runtime tests which is what we were missing to catch this earlier

[2018-03-27 15:01] mhutch commented on #7839
@marek-safar this is for tracking it as part of the overall WebAssembly story

[2018-03-27 15:10] lewurm commented on #7852
It could be a bug in the interpreter. What does the definition of `WeatherForecast` look like?

[2018-03-27 16:21] marek-safar opened #7854 "2018-04 Products Integration"
### VSfM

Integrator: @lambdageek

Pull Requests:

### XA

Integrator: @alexrp

Pull Requests:

### XI

Integrator: @alexischr

[2018-03-27 16:31] lambdageek commented on #7808
@chamons I think the example is not using the embedding API correctly.

[code]

In essence, the non-working native code wants to do `Lib l = new Lib();   for (i = 0; i < 3; ++i ) { printf (l.ValueTypeArr[i].GetType()) }`.

The problem is that the array `ValueType[]` is not an array of boxed object, it's just an array of structs.

So the following code is wrong: `MonoObject* val = mono_array_get (r

[2018-03-27 16:31] #7808 closed

[2018-03-27 16:33] chamons commented on #7808
Great, that means the generated code in the Embeddiator is wrong, which is what I suspected.

 Let me look at fixing that up, and will poke when I have questions.

Thanks!

[2018-03-27 17:30] marek-safar commented on #7137
@vargaz any estimate on the fix?

[2018-03-27 17:35] marek-safar commented on #7413
@akoeplinger have you done the check so we can close the issue?

[2018-03-27 18:15] danroth27 commented on #7852
[code]

[2018-03-27 18:30] dalexsoto commented on #7716
@marek-safar I think this will be easier to reproduce the issue, just run it in Release mode on you will get the exception listed in the description:

[Test7716.zip](https://github.com/mono/mono/files/1853276/Test7716.zip)

[2018-03-27 19:56] bradwitte commented on #7753
You can provide an alias to get it to compile:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0433

[code]

[2018-03-27 20:10] NattyNarwhal opened #7855 "distclean"
## Steps to Reproduce

1. Build Mono with BoringTLS and/or use monolite.
2. Run make distclean
3. Run make again

## Current Behavior

Distclean doesn't touch BoringTLS or monolite, so they don't get rebuilt.

## Expected Behavior

The distclean task should remove BTLS build artifacts and Monolite distributions

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[X] AIX

*

[2018-03-27 20:58] #7822 closed

[2018-03-27 21:13] lambdageek opened #7856 "[RFC] mono_class_init_ready"
## Summary of design

We would like to add an overall notion of "`MonoClass` readiness" to replace the various `MonoClass:*_inited` bitfields.  This PR does **not** do that.  But it adds the corresponding
change to the loading API:

[code]

1. We would eventually add multiple readiness levels between `MIN` and `MAX` that represent a `MonoClass` that is partially initialized.  (I don't know precise

[2018-03-27 21:36] brendanzagaeski commented on #7786
Evaluation for possible inclusion of this fix into the `d15-6` branches of the Xamarin SDKs is in-progress. Depending on the outcome of that evaluation, I will add another comment here to indicate whether to proceed with the merge into the `d15-6-2017-10` branch. Thanks!

[2018-03-27 21:39] lewurm commented on #7852
thanks @danroth27. Can't reproduce the crash on Desktop with the runtime interpreter, so it looks like it's a webassembly specific issue 😕

[2018-03-27 22:35] brendanzagaeski commented on #7786
Corresponding xamarin-macios/d15-7 pull request: <https://github.com/xamarin/xamarin-macios/pull/3821>

[2018-03-27 22:36] luhenry commented on #7856
I don't like the `MIN`/`MAX`, it doesn't convey as much meaning as `BAREBONE` and `FULL`/`INSTANTIATE` IMO.

We could also rename `MonoClassReady` to `MonoClassReadiness`.

[2018-03-27 22:43] brendanzagaeski commented on #7786
Non-public work items to track inclusion of the fix into Visual Studio:

- xamarin-android: <https://devdiv.visualstudio.com/DevDiv/_workitems?id=588246>
- xamarin-macios: <https://devdiv.visualstudio.com/DevDiv/_workitems?id=589009>

[2018-03-27 23:00] danroth27 commented on #7852
@kumpera What's needed to further investigate this? Do you need a Blazor app that reproduces the issue?

[2018-03-27 23:10] vargaz commented on #7856
Some affects of class initialization are kinda orthogonal, like instances size/layout, and class vtables.

[2018-03-28 00:02] jkpubsrc opened #7859 "Reference assemblies need to include private struct fields"
Hi!

I just accidentally wrote

    Size size = size;

The compiler did not complain: It assigned an empty `Size` structure to `size`. Is this a bug? According to my understanding this should be: `size` is being assigned from an uninitialized `size`.

[2018-03-28 00:30] vargaz commented on #7859
Please attach a complete testcase.

[2018-03-28 01:52] akoeplinger opened #7860 "illinkanalyzer isn't whitelisted in the macOS package"
While updating the 5.12 release notes I saw we didn't whitelist the command in the package and so `illinkanalyzer` isn't available in the PATH.

[2018-03-28 02:46] kumpera commented on #7852
Right now, I need time, I'm going through earlier issues.

[2018-03-28 02:49] kumpera opened #7864 "[wasm] Don't fail when TaskCreationOptions.LongRunning is used"
Repro code:
[code]

This will fail with

[code]

We're better ignoring `TaskCreationOptions.LongRunning` and treating it as a regular task that failing like that.

[2018-03-28 04:26] jaykrell opened #7865 "mono hangs reading zero bytes of random on possibly misconfigured system"
I created a Debian 9 stretch armhf chroot on the builder (which is arm64 native).
Maybe I did not do this correctly.
Maybe the runtime could be better.
It hangs reading /dev/urandom because it keeps getting zero bytes and it just keeps retrying.
I have no changes, just using mono/master.

root@xam-jetsontx1-5:/s/mono/mcs# MONO_PATH="./class/lib/monolite-linux/1051300003:./class/lib/monolite-linux/

[2018-03-28 04:47] jaykrell commented on #7865
mount --bind /dev armhf/dev to fix.

[2018-03-28 06:31] robertsundstrom commented on #7852
I encountered something similar, if not the same, with JSON.NET in SignalR Client on WebAssembly.

I also got PlatformNotSupportedException, most likely because of JSON.NET.

[2018-03-28 07:45] marek-safar commented on #7856
When I had to write a similar thing in the past I usually went with something like

typedef enum _MonoClassState {
	Uninitialized = 0,
	FieldsReady = 1 << 1,
	VTableReady = 1 << 2,
	...
	FullyInitialized = FieldsInit | VTableInit | etc,
}

The tricky bit is if you always want to go in sequential steps or just capture state of individual parts

[2018-03-28 08:52] peteryangthinkgeo opened #7869 "ASP.NET Core 2.0 with .NET Framework 4.6.1 can't not work on Mono"
I have a ASP.NET Core 2.0 with .NET Framework 4.6.1 and run it on Linux 16.04 + Mono, and everything works well, but after I update Microsoft Visual Studio Community 2017 to the version 15.6.4 (I don't remember which the previous version is), and use it to rebuild the project and deploy the application to the Linux 16.04 again, the application is no longer working. It throws the exception:

Micros

[2018-03-28 12:42] luhenry commented on #7856
@marek-safar we don't want it to be a bitfield since we want to keep it sequential.

@aleksey for a point a comparison, what are the stages defined by coreclr?

[2018-03-28 13:09] #7860 closed

[2018-03-28 13:26] alexischr commented on #7856
I think `MONO_CLASS_READY_INSTANTIATE` should be separate from `MONO_CLASS_READY_MAX` (We may want to add a level after INSTANTIATE without changing the logic of everything because it uses MAX without needing it);
And `MONO_CLASS_READY_MAX` should take the special meaning of a destroyed MonoClass. We can add code that takes advantage of that later :)

[2018-03-28 13:30] borgdylan commented on #7869
This may be due to mono not blacklisting the newer versions of those two libraries. Try removing them from the bin folder since mono ships its own.

[2018-03-28 14:13] schtibb commented on #7398
Try this:

[code]

[2018-03-28 14:42] simue commented on #7753
same on Ubuntu 16.04

[2018-03-28 14:52] bjr commented on #7869
I'm experiencing the same issue since recently updating Visual Studio 2017, and can confirm that removing those two assemblies from the bin folder will restore the application's functionality under Mono.

@borgdylan I'm unfamiliar with how Mono blacklists libraries; is this something that will eventually be updated by the Mono team to take the new version of those assemblies into account?  If so,

[2018-03-28 14:54] kumpera commented on #7864
Shouldn't this be closed only once I get the mono PR to bump corert merged?

[2018-03-28 15:30] marek-safar commented on #7864
It closes automatically when you use any of the right keywords like "Fixes"

[2018-03-28 15:38] kmccmk9 opened #7872 "XBuild Custom Task not registered"
## Steps to Reproduce

Building by itself works great but I needed to control assembly file version via configuration switch to the xbuild command line.

1. With a solution in a directory, add the Build.proj
2. With the same solution in a directory, add the Build.tasks
3. Run the following command from within the directory:

`xbuild Build.proj /p:Configuration=Debug /p:Platform="Any CPU" /p:build_

[2018-03-28 15:44] marek-safar commented on #7872
xbuild is now obsolete with recent versions of Mono please use msbuild instead.

[2018-03-28 15:44] #7872 closed

[2018-03-28 15:51] kumpera commented on #7864
Oh, didn't know about such automation.
I have probably complained with you about stuff github did on your behalf. Sorry for that. :(

[2018-03-28 15:51] lambdageek commented on #7856
The CoreCLR design is documented here: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/type-loader.md#21-load-levels

The header file that defines their levels is here:
https://github.com/dotnet/coreclr/blob/master/src/vm/classloadlevel.h

[code]

- Their levels don't correspond too much to what we have, but `APPROXPARENTS`/`EXACTPARENTS` is for the tricky case of generics that re

[2018-03-28 15:54] marek-safar commented on #7864
Here are the keywords https://help.github.com/articles/closing-issues-using-keywords/ (just in case)

[2018-03-28 16:03] lambdageek commented on #7856
@luhenry @marek-safar I worry a little bit that our load levels are actually some kind of lattice - like maybe we first need to set up parents/interfaces, then we can initialize sizes / fields or methods / interface offsets/ vtables but both of those paths need to be done before we can instantiate.

I'm not sure if we should flatten that to a single order (parents/interfaces, then sizes/fields, th

[2018-03-28 16:06] kumpera commented on #7344
@morganbr did you guys figured out a way to handle the multiple deployment environments that WASM can be deployed to?

I think users will want to distinguish between wasm on browsers and wasm on node, for example.

[2018-03-28 16:16] Rombersoft commented on #7398
I've tried this. It doesn't help. One of courses is missing swap partition. But second course is unknown for me therefore I need your help

[2018-03-28 16:46] borgdylan commented on #7869
Mono loads it sown copy of libraries instead of verison it knows to be incompatible with it. If you are using bleading edge versions, it would not know about that. Mono might miss the knowledge on recent updates to those libraries. As a workaround I recommend having a mono specific configuration and using conditional steps in your msbuild file to get rid of those files after build.

[2018-03-28 16:56] alexischr commented on #7856
If we go with fully implementing the lattice we should properly encode its defining functions with something like (names are not relevant here):
[code]

So in the proposed `mono_class_readiness_leq` we can quickly check for being between CONSTRUCTED and FINALIZED and catch e.g. erroneous pre-initialization or post-unloading uses.

[2018-03-28 17:09] marek-safar opened #7878 "Parallel msbuild build support on macOS"
Implement or port parallel msbuild build support and ensure it works correctly on MacOS.

[2018-03-28 17:12] marek-safar opened #7879 "VBCS compiler server support on Mac"
It looks like we are unblocked on this one, the VBCSCompiler starts without error with master Mono but we need to test if it actually works and enable it in x-platform msbuild

[2018-03-28 17:17] #7792 closed

[2018-03-28 17:44] marek-safar opened #7883 "Drop xbuild dependency in Xamarin products"
# Visual Studio for Mac

- [x] Build
- [ ] Project System

It needs verification that there are really no dependencies from the IDE

# XI/XM

- [x] Build
- [x] Tests
	- [x] Add support for fallback search paths for Target frameworks https://github.com/Microsoft/msbuild/pull/3277
	- [x] Add support for fallback search paths for Extension Path
	- [x] Removal of xbuild https://github.com/xamarin/xama

[2018-03-28 17:45] marek-safar commented on #7883
/cc @chamons @jonpryor

[2018-03-28 17:53] chamons commented on #7883
I am uncertain if this entails just using xbuild as a consumer or also use of xbuild in building/testing our products.

In any case, until MSBuild redirect is available (or we burn time to do an xabuild style hack) we are using xbuild to test XI/XM in auto tests.

[2018-03-28 17:54] chamons commented on #7883
/cc @spouliot

[2018-03-28 17:55] marek-safar commented on #7869
Always removing the two above mentioned files should not cause any harm. We try to keep the list of bad versions up to date but there is always a chance of using a version we don't have on the list

@radical could you check if there is easy way to see what VS bundles with 15.6.4

[2018-03-28 17:58] marek-safar commented on #7883
@chamons both, this is a card/task to track the effort not a statement that it does not work

[2018-03-28 18:09] marek-safar opened #7884 "Epic: msbuild unification"
The end goal is to have a single version of msbuild on all platforms. This is not where we are today as we have a custom fork with many changes.

# Milestone I

- [ ] Remove unnecessary or no longer needed changes in our fork
- [ ] Remove no longer needed Mono conditionals in upstream msbuild source files
- [ ] Upstream our cross-platform changes #9384

# Milestone II

TBD

[2018-03-28 18:28] morganbr commented on #7344
Interesting point...  CoreRT  hasn't yet hit a point where there's an interesting difference between different browsers or Node, but I could certainly see that being useful. Have you seen a case where the runtime/framework should do anything different or did you just want to expose something about it from ```Environment```?.

[2018-03-28 18:44] kumpera opened #7885 "Replace mode flags with feature flags in mini"
After a long discussion over the introduction of mono_interpreter_only, we came to the conclusion that it's time to replace all the mode variables with a set feature variables.

The problem we're facing is that our sprawling number of configurations is running out of control and we need a better way to shop for features. It would lead to clearer code and make it obvious where we can spend energy t

[2018-03-28 18:44] kumpera commented on #7885
cc @vargaz @lewurm

[2018-03-28 19:00] borbmizzet commented on #6376
I'm in the same situation as @danroth27.  I hope this gets implemeneted soon,

[2018-03-28 20:32] vargaz commented on #7885
I think most of these flags are fine, they can be combined together. mono_interp_only_classes is only used for testing.

[2018-03-28 22:32] #7407 closed

[2018-03-28 23:16] pr0vieh commented on #7356
I'm not sure but it could have something to do with the implementation of btls because I think the problem does not exist if MONO_TLS_PROVIDER=legacy is set!
someone can test ?

[2018-03-28 23:43] radical commented on #7879
Just adding info: I had tested this two months back and it did work on small projects. But when I tried to build vsmac with this enabled, it took forever with nodes consuming CPU even when the project builds were done and the whole build seemed stuck "somewhere". I didn't investigate more due to other constraints at the time.

[2018-03-29 01:10] kumpera commented on #7885
First PR: https://github.com/mono/mono/pull/7887

[2018-03-29 01:19] peteryangthinkgeo commented on #7869
@borgdylan Thanks! This workaround works for me. Hope it will be available in Mono blacklist soon.

[2018-03-29 01:19] #7869 closed

[2018-03-29 02:09] vargaz commented on #7792
A check was added so we will print some more useful error messages in this case.

[2018-03-29 02:33] jaykrell commented on #7885
More similarly confusing stuff perhaps intended for this issue, perhaps not:

#if !defined(ENABLE_LLVM)
	if (acfg->aot_opts.llvm_only) {
			if (COMPILE_LLVM (cfg))

#if ENABLE_LLVM
#define COMPILE_LLVM(cfg) ((cfg)->compile_llvm)
#define LLVM_ENABLED TRUE
#else
#define COMPILE_LLVM(cfg) (0)
#define LLVM_ENABLED FALSE
#endif

[2018-03-29 02:34] jaykrell commented on #7885
Suggest if something is only used for testing, it have "test" or "testonly" or "test_only" or "testing_only" in its name. That might help.

[2018-03-29 03:45] jaykrell commented on #7693
I've used mono -v -v and even -v - v- v -v -v without hitting this, on Windows. It helps to have Cygwin on path, to get more output, but it doesn't fail assert either way.

[2018-03-29 03:46] jaykrell commented on #7693
system() should be assumed always present. It is ANSI C 89. It might work on embedded systems but it'll likely be present anyway -- not sure what it does on iPhone/android either, but again probably present.

[2018-03-29 05:59] phoenyx08 commented on #7753
Brad, I found a way to compile the example just having excluded "/r:SomeNameSpace=Mono.Security.dll" from the list of parameters, but it was not the primary goal. I actually compiled the example because documentation proposed to do that in order to check that everything works.

[2018-03-29 06:51] borgdylan commented on #7828
ping

[2018-03-29 06:59] marek-safar commented on #7828
@borgdylan I could not reproduce with blind repro, any help with repro would be greatly appreciated. Could you build Mono BCL with Console.WriteLine debug info?

[2018-03-29 07:11] borgdylan commented on #7828
Yes, is there a flag or should I inject code manually to print stuff to console?

[2018-03-29 07:12] marek-safar commented on #7828
There is no flag, you need to do the work yourself

[2018-03-29 07:13] borgdylan commented on #7828
Are debug symbols built for libraries taken from corefx? The issue is happening in aprocess I can debug within VS Code.

[2018-03-29 07:13] borgdylan commented on #7828
In the past I got exception messages wth line numbers sicne I build manually from git.

[2018-03-29 07:14] marek-safar commented on #7828
Yes, the code is identical to corefx master from about 2 months ago but that should not matter for the entry point values

[2018-03-29 07:15] borgdylan commented on #7828
I will attempt debugging and give you the values that the regex.ismatch call is getting

[2018-03-29 07:39] borgdylan commented on #7828
So Dapper is running regex over whole blobs of SQL and Npgsql is runnign regex over connection string tokens. The last regex matxh attempt before teh crash is:

input =
[code]

[2018-03-29 07:42] borgdylan commented on #7828
Also, this is happening every few launches and not each time suggesting some kind of race condition in teh regex runtime or something that is using.

[2018-03-29 07:44] borgdylan commented on #7828
I am trying a build of mono where UseOptionC() returns false always and see if it mitigates the bug.

[2018-03-29 07:47] borgdylan commented on #7828
I cannot repro the issue anyore if UseOptionC is implemented as follows:

[code]

[2018-03-29 07:48] borgdylan commented on #7828
I confirm that this has to be patches again to get stable operationon mono.

[2018-03-29 07:54] borgdylan commented on #7828
This is the patch. Feel free to use it. I release this patch under the license MIT/X11
[code]

[2018-03-29 09:08] marek-safar commented on #7856
@lambdageek I think it's worth exploring if we can go with the full sequential approach or not, small performance loss will be ok in this case

[2018-03-29 11:35] marek-safar opened #7903 "Mono VS solution has wrong all projects in all profiles used"
When you open net_4_x.sln it fails to build for anything else except net_4_x profile because it does not follow makefile setup.

For example System.Configuration project is included everywhere instead of in selected configurations only.

Relevant section
[code]

[2018-03-29 11:35] marek-safar commented on #7903
/cc @akoeplinger

[2018-03-29 11:39] kg commented on #7903
Right now genproj is using net_4_x as a fallback when there's no build info available because VS was selecting random fallback targets instead, but I'm guessing what actually needs to happen here is the assembly is not built at all?

[2018-03-29 11:45] marek-safar commented on #7903
Yes, lines like `{C68FFB74-3D43-4D6F-BE84-54938F3EC2AE}.Debug|monotouch.ActiveCfg = Debug|net_4_x` should not exist in .sln file

[2018-03-29 12:54] akoeplinger commented on #7903
The sln file is black magic to me but that makes sense. I know that command line msbuild doesn't care about those configurations.

[2018-03-29 14:26] bradwitte commented on #7753
Sure enough!  My goal was to troubleshoot problems I was having with certificate verification.

[2018-03-29 14:29] kumpera commented on #7657
This was introduced by 20ab5bfe7ae2cf84cd9e6fdad9758ded9f687ca2

[2018-03-29 17:07] halcyondude commented on #7753
just hit this myself...the route that got me here was fiddler for linux --> install mono (to f27), and here.

[2018-03-29 22:41] alexischr commented on #6921
Observed in https://jenkins.mono-project.com/job/test-mono-pull-request-coop/2298/parsed_console/log.html:

[code]

[2018-03-30 02:37] pr0vieh opened #7920 "build broken with --enable-minimal=soft_debug"
## Steps to Reproduce

1. `./autogen.sh "--enable-minimal=soft_debug --with-cooperative-gc --with-jemalloc-always --with-mcs-docs=no --with-xen-opt=no"`
2.  make
3.

## Current Behavior

  CCLD     mono-sgen
  CCLD     mono-boehm
./.libs/libmini.a(libmini_la-aot-runtime.o): In function `load_function_full':
/monomaster/mono/mono/mini/aot-runtime.c:5203: undefined reference to `mono_debugger_agent_

[2018-03-30 07:45] jkpubsrc commented on #7859
You're kidding me, right?

[code]

[2018-03-30 10:50] 4creators commented on #7711
It's way too large and complex from my experience in implementing them in coreclr

[2018-03-30 14:00] filipnavara commented on #7830
You are using an ancient version of Mono. As far as I can tell this bug has been fixed in the X11 backend long time ago.

[2018-03-30 14:04] vargaz commented on #7859
Can't reproduce this with mono 5.10:

with csc:

bug8.cs(11,16): error CS0165: Use of unassigned local variable 'size'

with mcs:

bug8.cs(11,9): warning CS1717: Assignment made to same variable; did you mean to assign something else?
bug8.cs(11,16): error CS0165: Use of unassigned local variable `size'

[2018-03-30 16:48] borgdylan commented on #7828
ping

[2018-03-30 17:26] mbelew opened #7925 "Crash on attached Debugger when hosting Mono runtime"
I have a basic MFC C++ solution created in Visual Studio 2017 that is not much more code than comes with the default creation wizard.  The code will execute as expected until I attach a debugger.  The act of viewing a variable while debugging will crash mono-2.0-sgen.dll (and take the hosted C++ app out with it).

## Steps to Reproduce

1. Host the mono runtime in a C++ MFC application (Visual Stu

[2018-03-30 18:40] lambdageek commented on #7925
Hi @mbelew, thanks for the bug report.  The debugger shouldn't crash, but also there's a problem in your example.  Could you try some of the changes suggested below and let me know if the debugger is still crashing?

In the code below, you're calling an instance method (`CountCharacters` is not static) but passing `pClass` - the `MonoClass*` for `CSharpClientDLL.Class1` as the `this` argument.

[c

[2018-03-30 19:03] Therzok commented on #7859
I seem to be able to reproduce this from VSMac inside a console app/using msbuild, not csc directly.

[2018-03-30 19:05] Therzok commented on #7859
[compilerbug.zip](https://github.com/mono/mono/files/1864518/compilerbug.zip)

[2018-03-30 19:16] lambdageek commented on #7859
Building against `4.7-api/System.Drawing.dll` seems to silence the compiler error.

If I instead build against `4.5/System.Drawing.dll`, I get:
[code]

[2018-03-30 19:39] mbelew commented on #7925
Hi lambdageek,

Thanks for taking a look.  It turns out you are right, the .dll does not crash when I use mono_object_new.  Now I wonder how my code ever worked to begin with?

Thank you so much! This issue is no longer a problem for me.

Corrected c++ code:
[code]

[2018-03-30 20:19] lambdageek opened #7927 "`mono_runtime_invoke` should check that obj is a valid instance for method"
We should try to catch some kinds of embedding API mistakes.

`mono_runtime_invoke (method, obj, args, exc)` should check that `obj` can be passed as the instance object for `method` (if method is non-static and method->klass is a reference type, etc).

Motivated by #7925

[2018-03-30 20:20] #7925 closed

[2018-03-30 20:56] Therzok commented on #7859
Seems like fields are stripped from structs.

https://github.com/dotnet/corefx/issues/6185

[2018-03-30 22:44] lambdageek commented on #7859
huh. Learned something today.  This is a valid program:

[code]

It's actually okay to use the variable that's being declared on the RHS of the definition.  After all, all of its fields (all zero of them) have been initialized so the whole thing is initialized.

This is also fine:

[code]

[2018-03-30 23:06] #7903 closed

[2018-03-31 07:07] codermantx opened #7930 "Microsoft.Common.props missing in Fedora 27"
## Steps to Reproduce

I am using VS Code v1.12.1 to develop on F# on Fedora 27
Followed instructions on the page to install mono-devel in Fedora.

## Current Behavior
The Omnisharp C# extension is throwing error as it is not able to find props file in mono dir (see Stacktrace)

I have similar setup in Ubuntu 17.10, where the props file exists and the extenison works flawlessly.

## Expected Behav

[2018-03-31 15:04] #7657 closed

[2018-03-31 16:38] kumpera commented on #7711
Wow, it's a lot of work, I didn't check to see it.
But just adding a subset should be doable and it's worth as a way to get students exposed to mono.

[2018-03-31 17:58] migueldeicaza opened #7933 "WebAssembly: make the defaul HttpClientHandler use the browser"
Build an HtppClientHandler that uses the browser client.   And also make tomhe HttpClient implementation Default to it.

[2018-03-31 19:53] jaykrell opened #7934 "version warnings in sdk build"
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx-products-sdks-ios/68/parsed_console/log_content.html#ERROR1

ld: warning: object file (/Users/builder/jenkins/workspace/test-mono-pull-request-amd64-osx-products-sdks-ios/sdks/out/ios-llvm32/lib/libLLVMSupport.a(regstrlcpy.o)) was built for newer OSX version (10.12) than being linked (10.7)

Likely fix: compile and link for the

[2018-03-31 22:28] alexischr opened #7935 "Frequent hangs in ves_icall_System_Net_Dns_GetHostByName_internal (getaddrinfo)"
### Example
[code]

### Logs
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/9088/consoleFull#-2001780300c04ca618-a109-447b-99e0-481aaedae630

https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/9104/parsed_console/log.html

[2018-03-31 22:31] akoeplinger commented on #7935
It's not really crashing in GetHostByName_internal here, it ran into the 5 minutes timeout. I think we only saw this on the on-premises (Boston) bots so it could be a DNS issue there.

[2018-04-01 23:26] #7568 closed

[2018-04-01 23:52] ciwchris commented on #7930
Same error except C# on Arch Linux and:

- VS Code 1.21
- Mono JIT compiler version 5.10.0
- dotnet 2.1.103

[2018-04-02 00:10] luhenry commented on #7920
/cc @kumpera that looks related to your recent debugger-agent changes.

[2018-04-02 03:33] alexrp commented on #7829
One file I have is 66M, which is way too much to commit to the core Mono repo.

[2018-04-02 03:44] alexrp commented on #7683
There is not much I can tell from the log in the original bug report. This assertion means that a thread wrote an event to its log buffer after it was supposed to have exited, thus reviving itself in the profiler's thread list, but never being removed. A later thread reusing the same ID would then fail to register.

Mono 5.10 and later have an assertion that catches this particular situation much

[2018-04-02 07:07] Therzok commented on #7878
Afaik, it depends on https://github.com/mono/mono/issues/7143

[2018-04-02 11:36] migueldeicaza opened #7942 "Mkbundle: on Linux can leverage new APIs to avoid writing shared libraries out"
From this website:

https://magisterquis.github.io/2018/03/31/in-memory-only-elf-execution.html

[2018-04-02 13:27] kumpera commented on #7920
Maybe you're confusing my changed to Zoltan's recent changed to move sdb to a obj file? cc @vargaz

[2018-04-02 13:27] SteveSandersonMS opened #7944 "CreateDelegate produces delegate wrapping incorrect method"
## Steps to Reproduce

1. Define the following class:

[code]

2. From `Program::Main` or similar, call `new MyClass().DoRepro();`

## Current Behavior

Prints:

[code]

## Expected Behavior

Should print:

[code]

### On which platforms did you notice this

[x] WebAssembly from commit 67c1708677a

Note: this currently breaks dependency injection in Blazor, reported as https://github.com/aspnet/Bl

[2018-04-02 13:27] SteveSandersonMS commented on #7944
@kumpera Do you know if this has been fixed on a newer version, or whether this is likely to be WebAssembly-specific or a more general Mono issue?

[2018-04-02 14:12] luhenry commented on #7920
I thought https://github.com/mono/mono/pull/7549 had been merged, my bad.

[2018-04-02 14:29] luhenry commented on #7829
Instead of adding it to acceptance-tests - which is used for test suite of other products - we should probably just lazily clone an external repo as a dependency of building the `Mono.Profiler.Log` test suite.

[2018-04-02 14:31] luhenry commented on #7829
Instead of adding it to acceptance-tests - which is used for test suite of other products - we could just lazily clone an external repo as a dependency of building the `Mono.Profiler.Log` test suite. This would give us the external repo (which does make sense as you pointed out), and keep the `Mono.Profiler.Log` test suite as a whole.

[2018-04-02 15:04] kumpera commented on #7944
This looks like it's a WASM only bug as I can't reproduce with desktop mono.

[2018-04-02 16:07] migueldeicaza opened #7947 "Missing forwarders from System.Runtime.Extensions"
This is an issue to discuss what to do about the missing type forwarders from System.Runtime.Extensions:

[code]

[2018-04-02 17:46] #7920 closed

[2018-04-02 18:35] luhenry commented on #6921
The experimentation to get state transitions at `MONO_API` surface (gc unsafe for runtime+managed, gc safe for external) is quite conclusive for VSfM.

@lambdageek will start working on the hybrid suspend (coop for runtime+managed, async for external) this week.

[2018-04-02 19:24] tdinucci commented on #7305
I have fix for this and will submit a pull request soon

[2018-04-02 19:25] kumpera opened #7950 "[windows] Sgen crash in AssemblyTest.bug78468"
Looks like this:

[code]

[2018-04-02 19:26] kumpera commented on #7950
Found during CI of #7946.
Window x64: https://jenkins.mono-project.com/job/x/9120

[2018-04-02 19:27] #7661 closed

[2018-04-02 19:27] #7864 closed

[2018-04-02 19:31] migueldeicaza commented on #7947
In case we want to solve this, here is a patch that does it:

[code]

[2018-04-02 19:48] luhenry commented on #7072
Some followup work will need to be done:
 - [ ] Add support for SIGTERM /cc @sgmunn
 - [ ] Dump stacktrace for MERP to a free form file

[2018-04-03 01:10] #7137 closed

[2018-04-03 01:24] jaykrell opened #7957 "configure -with-bitcode does not build"
./configure -disable-nls -with-bitcode

make

/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-am
make[4]: Circular libmonosgen-2.0.la <- libmono-ee-interp.la dependency dropped.
  CCLD     mono-boehm
Undefined symbols for architecture x86_64:
  "_mono_g_hash_table_max_chain_length", referenced from:
      _mono_init_internal in libmonoruntime.a(libmonoruntime_la-domain.o)
ld: symbol(s

[2018-04-03 02:04] Suchiman commented on #7933
The [BrowserHttpMessageHandler.cs](https://github.com/aspnet/Blazor/blob/dev/src/Microsoft.AspNetCore.Blazor.Browser/Http/BrowserHttpMessageHandler.cs) and [Http.ts](https://github.com/aspnet/Blazor/blob/dev/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Services/Http.ts) that Blazor started could be used as starting point

[2018-04-03 05:49] fubar-coder commented on #7416
We (from the [FluentMigrator](https://github.com/fluentmigrator/fluentmigrator) project) are using Travis CI and stumble over this problem quite often.

[2018-04-03 07:07] jahmai commented on #7685
This is happening to me with Apple Watch 3 and iPhone X 11.2.6. When trying to debug my Apple Watch app via VS4Mac, I get this log and it crashes:

Signal 6 (SIGABRT) received. The application will be killed.
Watch application 'xxx' terminated.
error: * Assertion at /Users/builder/data/lanes/5808/3979d081/source/xamarin-macios/external/mono/mono/mini/mini-arm.c:2754, condition `ainfo->cinfo->stack

[2018-04-03 07:12] borgdylan commented on #7828
ping

[2018-04-03 11:34] #7610 closed

[2018-04-03 13:02] #7305 closed

[2018-04-03 13:36] marek-safar opened #7975 "Enable RegEx compiled support"
The compiler regex support is misbehaving in a multithreaded environment. This is very likely due to bugs we have in our SRE implementation.

We need to investigate (e.g. write tests to run the code in parallel) and fix the issues before re-enabling compiled RegEx support.

The original report was filled as #7828

A report for this also exists in Bugzilla here: https://bugzilla.xamarin.com/show_bu

[2018-04-03 13:53] luhenry commented on #7407
Duplicate of https://github.com/mono/mono/issues/6889

[2018-04-03 15:27] lambdageek commented on #6921
Got another instance of  https://github.com/mono/mono/issues/6921#issuecomment-377394471 at https://github.com/mono/mono/pull/7887 https://jenkins.mono-project.com/job/test-mono-pull-request-coop/2391/parsed_console/log.html

[code]

[2018-04-03 15:31] lambdageek opened #7981 "[coop] Fix sporadic test failure in System.Runtime.Remoting.RemotingServicesTest.Bug46473"
We've seen MonoTests.System.Runtime.Remoting.RemotingServicesTest.Bug46473 fail several times on the Coop Linux amd64 Jenkins job.

[code]

* https://jenkins.mono-project.com/job/test-mono-pull-request-coop/2298/parsed_console/log.html
* https://jenkins.mono-project.com/job/test-mono-pull-request-coop/2391/parsed_console/log.html
   (#7887)

[2018-04-03 15:43] lambdageek commented on #6921
Seen on the i386 coop jenkins job for #7887 https://jenkins.mono-project.com/job/test-mono-pull-request-coop-i386/2378/parsed_console/log.html

[code]

[2018-04-03 17:01] lewurm commented on #7957
`--with-bitcode=yes` is needed for tvOS and watchOS, see https://github.com/mono/mono/blob/5c8fac189fb674407749f438a7ae450ed747e495/sdks/builds/ios.mk#L25

we are also testing it on CI: https://github.com/mono/mono/blob/5c8fac189fb674407749f438a7ae450ed747e495/scripts/ci/run-jenkins.sh#L58

... which ends up to those lines in `configure.ac`:
https://github.com/mono/mono/blob/5c8fac189fb674407749f4

[2018-04-03 18:55] akoeplinger opened #7988 "ThreadPool.SetMinThreads fails if ThreadPool.GetMaxThreads was not called before"
_From @Ricordel on April 3, 2018 13:32_

## What I'm trying to do
Change the minimum threads number in the threadpool by calling `ThreadPool.SetMinThreads(., .)`

## Code

[code]

This code works fine, the output is: `Min threads: 64, 64`.

Now, if I comment the line with `ThreadPool.GetMaxThreads(...)`, the output is `Min threads: 8, 8`. The call to `SetMinThreads` returns `false` and nothing hap

[2018-04-03 18:57] akoeplinger commented on #6858
This should be done with https://github.com/mono/mono/pull/7755.

[2018-04-03 18:57] #6858 closed

[2018-04-03 22:00] alexischr opened #7992 "Intermittent failures in TestInvokeDOPAndCancel"
### Example

[code]

### Logs
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/8718/

[2018-04-03 22:26] #7716 closed

[2018-04-03 23:31] kumpera opened #7997 "[wasm] Use JS's random as entropy source"
We lack a decent entropy source for PRNGs so we should use JS's random for that as it's probably the best thing we can get.

[2018-04-04 01:28] #7753 closed

[2018-04-04 01:28] akoeplinger commented on #7753
I removed the /r:Mono.Security.dll, it is no longer needed with csc instead of mcs.

[2018-04-04 01:40] akoeplinger commented on #7930
/cc @directhex

[2018-04-04 01:42] akoeplinger commented on #7988
@luhenry is this the expected threadpool behavior?

[2018-04-04 01:44] migueldeicaza commented on #6985
Given that the simulators are not supposed to be exact replicas of the hardware, I do not think that we need to complete x86 support for us to proceed with this change.

[2018-04-04 03:30] baulig commented on #7356
[out.txt](https://github.com/mono/mono/files/1874265/out.txt)

[2018-04-04 03:32] baulig commented on #7356
Updated test case:

[code]

[2018-04-04 03:38] baulig commented on #7356
What's interesting about this is that if I interpret the profiler output correctly, then we don't seem to leak any of

- `System.Net.ServicePoint`
- `System.Net.ServicePointScheduler`
- `System.Net.IPAddress`
- `System.Uri`
- `System.Uri.UriInfo`
- `System.Net.ServicePointScheduler.AsyncManualResetEvent.<WaitAsync>d__3`
- `System.Collections.Hashtable.bucket[]`
- `System.Byte[]`

There obviously i

[2018-04-04 08:01] borgdylan commented on #7828
Tried the latest master branch code that should ahve compiled regex disabled. The issue still persists i.e. it is not truly disabled. Another issue with linq expressions has also sprung up.

[2018-04-04 08:39] smr888 commented on #7356
Thanks for checking into this.  I really appreciate it, as this is a matter of some urgency for us.

My goal was to give you the simplest test case I could that reflects our actual use case, which is to scrape data from websites with short pauses, over and over.  I don’t have much idea what goes on behind these facades and I have to leave the deeper testing to someone who knows the internals.  But

[2018-04-04 08:40] smr888 commented on #7356
Had to try a different browser -- here is my out.txt file.

[out.txt](https://github.com/mono/mono/files/1874897/out.txt)

[2018-04-04 10:52] marek-safar opened #8004 "Update BoringSSL fork"
We are way behind on tracking https://boringssl.googlesource.com/boringssl/ in our fork and need to update it to track the latest changes including the TLS 1.3 support

[2018-04-04 13:35] smr888 commented on #7356
FYI I tried the "sleep 2 minutes after 20 requests / sleep 5 minutes every half hour" version, and it appears that memory does not increase in that case.  However, it is also the case that under those strictures the program does only about 200 scrapes an hour instead of 3600, which would be a painful drop in performance to have to tolerate.  (I'm also not clear on the validity of the test I did, n

[2018-04-04 14:08] kumpera commented on #7344
@morganbr yes, this is particularly relevant for BCL coverage. node.js will have working FS API's for example.

[2018-04-04 14:08] kumpera commented on #7344
This was fixed by a recent PR.

[2018-04-04 14:08] #7344 closed

[2018-04-04 14:08] kumpera commented on #7217
This was fixed by a recent PR.

[2018-04-04 14:08] #7217 closed

[2018-04-04 14:30] yowl opened #8007 "Implement support for pinvoke for wasm target."
## Steps to Reproduce

1. See https://github.com/mono/mono/blob/63795c0ce8e564344a791c6406a6862525b7309f/mono/utils/mono-dl-wasm.c#L46.
2. Its not implemented so calls to another SO using Pinvoke fail.  This would be useful to add Skia support.
3.

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[*] Wasm

**Version Used**:

mas

[2018-04-04 14:32] kumpera commented on #7852
Working on it

[2018-04-04 14:44] mysl commented on #6498
@brendanzagaeski @baulig Do you guys now have more concrete plan or estimate when this could be done?  Thank you so much!

[2018-04-04 14:52] directhex commented on #7930
[code]

[2018-04-04 15:06] akoeplinger commented on #7930
@codermantx could you please check if you have the `msbuild` package installed?

[2018-04-04 15:09] kumpera commented on #7852
This is an issue with Newtonsoft.Json itself as it tries to use System.Reflection.Emit which is not supported on WebAssembly.

The large fix for this this is not exactly trivial as we lack a nuget TFM meaning library authors can't properly target WASM.

In the meanwhile, there solution is to use library builds designed to be compatible with Xamarin.iOS, which has similar limitations.

In the parti

[2018-04-04 15:10] kumpera commented on #7852
cc @marek-safar @mhutch

[2018-04-04 15:10] #7852 closed

[2018-04-04 16:29] robertsundstrom commented on #7852
Thanks @kumpera, but it did not work for me. Still the same error. Is this something else?

[code]

[2018-04-04 18:37] baulig commented on #7356
I did a few more tweaks, disabled TLS, connection reuse and all timeouts.  Then let it running while making lunch.  After about 275 iterations, the profiler doesn't show any leaked objects, but size still keeps increasing.

This is from a long run:
[out.txt](https://github.com/mono/mono/files/1877106/out.txt)

As you can see in the last heap shot:
```        Heap shot 496 at 2975.806 secs: size: 7

[2018-04-04 19:11] smr888 commented on #7356
I know you had said earlier that you didn't think this issue was TLS-related, but now both of us have disabled TLS for testing and in doing so eliminated the leak, so it does make me wonder.

[2018-04-04 19:37] smr888 commented on #7356
Sounds good, thanks.  If there's anything else I can try please let me know.

[2018-04-04 21:47] baulig commented on #7356
Good news - I may have a fix coming up shortly :-)

[2018-04-04 22:52] baulig commented on #7356
Ok, this probably won't quite fix your problem just yet, but I believe the leak will be a lot less severe with #8016.

I'm still working on this and will probably make another PR on top of this to finally solve this problem.

[2018-04-04 22:54] baulig commented on #7356
Another problem that I just stumbled upon - which your test case does not reveal - is that we are putting the `ServicePoint` instance into a hash table, but never remove it.  So over time, we will leak `ServicePoint` instances.  Because your test case is using the same websites over and over again, those instances will be reused.

[2018-04-04 23:41] smr888 commented on #7356
Interesting.  Yes, we would never encounter that one; the set of sites we look at is both finite and small, so our set of ServicePoints would reach its maximum quickly and unnoticeably.

Glad to hear about the other fix [#8016](https://github.com/mono/mono/pull/8016); it's like some sort of new class of issue, a "not-quite-a-leak", or perhaps "sticky-memory".

I appreciate the update, and I'm very

[2018-04-05 05:14] baulig commented on #7356
Well, I would probably classify it as a temporary or transient memory leak - even though it will eventually even out, the short to medium term effects are so severe that it should be handled like a "traditional" leak.

Thank you so much for filing this bug report, this was such an exciting experience working on it and I learned a lot about Tasks, timeouts and related memory issues.  I need to than

[2018-04-05 06:28] FalcoGer opened #8028 "mono-fastcgi-server4 encodes special characters in webforms application forms"
## Steps to Reproduce

1. Use microsoft visual studio community 2017 to create a new asp web forms application
2. Create a new site
3. add the following code to the page:
[code]
4. run with IIS built in with msvs, note the result is a drop down list with
[code]
5. put onto fastcgi-mono-server (Mono.WebServer2.dll 0.4.0.0, .NET 4.0) running behind nginx
6. the page now has a drop down list with
[co

[2018-04-05 07:28] FalcoGer opened #8029 "fastcgi-server asp validator client side script posts even when failing validation"
## Steps to Reproduce

1. Use microsoft visual studio community 2017 to create a new asp web forms application using vb.net as the framework
2. Create a new site
3. add the following code to the page:
[code]
4. run with IIS built in with msvs and click the button with the text field empty. the result is the error message being displayed and nothing else happening
5. put onto fastcgi-mono-server (M

[2018-04-05 08:30] mellinoe opened #8032 "Using MonoNativeFunctionWrapperAttribute without referencing Xamarin libraries"
Is there a way to use MonoNativeFunctionWrapperAttribute, or achieve the same effect, without referencing a Xamarin library? Other similar concepts in the .NET ecosystem allow the attribute to be recognized by name, regardless of the assembly they are defined in. A similar approach would be nice here.

[2018-04-05 08:45] mfilippov opened #8033 "Native mono crash on System.Diagnostics.StackTrace.get_trace"
In Rider tests, I found the new mono crash.

I have no stable repro for this problem.

## Current Behavior
Mono crashed

## Expected Behavior

Mono don't crash
### On which platforms did you notice this

[ X] macOS
[ ] Linux
[ ] Windows

**Version Used**:
I have mono built from commit:
da1e498884ddc56ac6ca82d3703096dc6370e1b2
It is very close to 5.8.0.129
### Stacktrace

[code]

[2018-04-05 08:49] marek-safar opened #8036 "Update API diff to ignore more attributes"
We should make API diff less verbose when less important attributes are updated

- CompilerGeneratedAttribute

[2018-04-05 08:49] mellinoe commented on #8032
Ah, it looks like it is already recognized by name: https://github.com/mono/mono/blob/431c67415cfed1a33d088dfb50a7cea58a10c388/mono/mini/aot-compiler.c#L4215.

Even better, `UnmanagedFunctionPointerAttribute` seems to serve the same function. If that is supported, then I will just use that, since it's in a system library and more portable.

It would be good to confirm the above, and also add the i

[2018-04-05 14:12] akoeplinger commented on #7031
This was done: https://jenkins.mono-project.com/job/test-mono-mainline-product-sdks-android/

[2018-04-05 14:12] #7031 closed

[2018-04-05 14:40] FalcoGer commented on #8028
quick and dirty workaround with jquery:
[code]

[2018-04-05 15:16] kumpera commented on #7333
Can we have regular OSX executed with —llvm for all steps?

[2018-04-05 15:27] jaykrell commented on #7333
That matrix is missing a column also -- the LLVM/JIT scenario.

[2018-04-05 15:28] codermantx commented on #7930
Installing ```msbuild``` package resolved the issue ! 👍
Thanks! Have a good day!!

[2018-04-05 15:28] #7930 closed

[2018-04-05 15:51] marek-safar opened #8046 "Genproj includes only Linux platform C# specific files"
We need to include platform-specific files for example `external/corefx/src/Common/src/Interop/OSX/Interop.Libraries.cs` from `darwin_net_4_x_System.Data.dll.sources` to build correctly on non-Linux platforms

[2018-04-05 17:35] #8036 closed

[2018-04-05 18:10] Thaina commented on #7306
Does we already have webgl api in mono?

[2018-04-05 20:54] marek-safar commented on #7655
@luhenry could you turn that into PR?

[2018-04-05 20:57] ChristianWeyer opened #8061 "Problem compiling WASM SDK"
Trying to compile the WASM SDK based on the instructions found here:
https://github.com/mono/mono/tree/master/sdks#webassembly

However, it fails on macOS with this error:

[code]

If I need to provide more infos please let mw know :-)
Thanks.

[2018-04-06 07:52] ChristianWeyer opened #8073 "WASM sample fails with AOT error after building mono for WASM"
I built mono for WASM based on the instructions found here:
https://github.com/mono/mono/tree/master/sdks
https://github.com/mono/mono/tree/master/sdks/wasm

When I start the provided sample, I get an error:
[code]

![image](https://user-images.githubusercontent.com/888718/38408980-e97e2a70-397f-11e8-9e7d-9a18d7d1bc66.png)

Is there any important step I am missing here?
Thanks!

[2018-04-06 07:54] jaykrell opened #8074 "signing problems in preset fullaot build"
I see this 100%.
Why others do not?
I usually skip aot so usually I don't see it.
Linux Ubuntu 1604 and 1710 tested.
mono-devel package is installed, which is probably not relevant

git clean -xddf (or new git clone)
./configure --with-runtime_preset=fullaot
likely also with others (hybridaot)
make

Many errors like
[code]
If you run make V=1 you see the sn command.
 You can see the installed sn w

[2018-04-06 10:44] alxchk opened #8077 "method-to-ir.c: Incorrect validation logic"
## Steps to Reproduce

Minimal example:

[code]

Mono (invalid behavior):
[code]

.NET (Same exe, expected behavior):
[code]

### On which platforms did you notice this
[x ] Linux

**Version Used**:
[code]

### Reason

method-to-ir.c:mono_method_to_ir function does wrong assumptions about stack state, because translation flow does not matches interpretation flow. Thus at moment of translation actu

[2018-04-06 10:47] jaykrell commented on #8077
Can you get csc to output code like this?

[2018-04-06 11:04] alxchk commented on #8077
Very unlikely. I met such case in assemblies produced by some obfuscation program, and I don't have source code for such cases.

[2018-04-06 12:15] lucavanzin opened #8079 "SerialPort.Open() in ARM architecture"
## Steps to Reproduce

1. Get an espressobin board (ARMv8 device)
2. Install Linux  kernel  4.4.8 and Ubuntu 16.0.4 as OS from the board manufacturer
(http://espressobin.net/tech-spec/)
3. I used a Quectel UC20 modem plugged in the mPCIE slot but I think is the same with another device generating USB virtual ports.
4. Install Mono JIT compiler version 5.10.0.140
5. Paste the code below in a file .

[2018-04-06 14:22] usr-sse2 opened #8081 "ConcurrentDictionary is no more serializable"
## Steps to Reproduce

1. Try to serialize a ConcurrentDictionary
2. Get an exception saying that ConcurrentDictionary+Tables class is not serializable

## Current Behavior

Exception

## Expected Behavior

ConcurrentDictionary is serialized, like in 5.8.1 or older Mono

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.10.0.20 and 5.10.0.160

### St

[2018-04-06 17:16] #8081 closed, assigned to nobody

[2018-04-06 19:02] #7828 closed

[2018-04-06 19:05] marek-safar opened #8089 "Add System.Drawing.Common facade for Xamarin profiles"
We are missing this new facade which is redirected in https://www.nuget.org/packages/System.Drawing.Common/4.5.0-preview1-26216-02

[2018-04-06 19:27] alexanderkyte commented on #6936
@OmarTawfik Since this compares mono against the CLR as an "expected value" I wanted to notify you here that mono's going to deviate from CLR behavior. The CLR completely ignores modifiers when using SRE in a non-Save+Assembly.LoadFrom workflow. Our SRE will respect assigned modifiers.

[2018-04-06 21:02] luhenry commented on #6647
Which test was disabled due to this breakage?

[2018-04-06 21:30] luhenry commented on #6647
I can reproduce with Mono 5.15.0.45 (master/df33c092de3)

[2018-04-06 21:42] #6200 closed

[2018-04-06 22:36] luhenry commented on #6228
Can you still reproduce with latest version of Mono? If so, could you try to run with `THREADS_SUSPEND_DEBUG` and `THREADS_STATE_MACHINE_DEBUG` defined to `MOSTLY_ASYNC_SAFE_PRINTF` in `mono-threads-debug.h` and share the log? Thank you.

[2018-04-07 00:26] NattyNarwhal commented on #6228
I was actually poking Haiku again last week or two - IIRC, the issue is still there, but cooperative GC works for it now. The main problem then is other issues are getting exposed at runtime termination, (it actually works otherwise until that point!) including the code around what #7812 fixed. I need to continue poking it again, get a fresh mind on it, and collate behaviours/workarounds.

[2018-04-07 08:04] marek-safar commented on #6647
Disabled tests are in mono/corefx@12dd5629148dc826392d9f79256a45e5cd005593

[2018-04-07 15:34] #7231 closed

[2018-04-07 18:53] directhex opened #8100 "NuGet Restore crashes runtime on Ubuntu 18.04 ARM"
https://jenkins.mono-project.com/blue/rest/organizations/jenkins/pipelines/ng-release-generate-debian-packages/runs/799/nodes/297/steps/459/log/?start=0

[code]

Using Mono 5.10.1.32 compiled with GCC 7.3.0. No such issue exists on AMD64/i386

[2018-04-07 23:22] Sejsel opened #8101 "Infrequent crashes when assertion in dominators.c not met (MGCB.exe)"
## Steps to Reproduce

This might be quite hard to reproduce.

1. Try to build a MonoGame project which has a target which invokes MGCB.exe (the pipeline tool; version 3.6.0.1625)
2. Build sometimes fails (about once in 10 builds) because MGCB.exe crashed

It is very likely that you don't actually need to do this within xbuild and can happen when using MGCB standalone. If you think it would be use

[2018-04-08 04:05] #7525 closed

[2018-04-08 09:06] sourceskyboxer opened #8104 "[Windows x64] mkbundle generates bad exception"
Hello everyone,

I already step to step of compilation under Windows. @deserthacker explaned me about auto generation script. But I have tried

If I am finish to compilation and installation than I try generate with mkbundle than bundle application will throw
`Unknown execution-mode 1`
So commonly!

Is it bug or did developers write wrong?

Thanks!

[2018-04-08 16:45] ChristianWeyer commented on #8073
Thanks @kumpera !

[2018-04-08 19:27] lewurm commented on #8101
@Sejsel thanks for your report. This sounds like a very interesting JIT bug. Could you work on a reproducer, it would simplify the process of tracking down the issue a lot. Thanks!

[2018-04-09 04:46] Thaina commented on #7662
Just curious, Did we already have webgl api in mono?

Just the direct wrapper to js api, something like that

[2018-04-09 06:28] alexrp opened #8112 "Wrong maximal instruction length of instruction tailcall_membase on ARM64"
## Steps to Reproduce

[code]

## Current Behavior

Crashes with:

[code]

## Expected Behavior

Should not crash.

### On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**: master

### Stacktrace

[code]

[2018-04-09 06:28] alexrp commented on #8112
cc @jaykrell

[2018-04-09 06:29] alexrp commented on #8112
This started happening since this build: https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-arm/154/

[2018-04-09 06:30] alexrp commented on #8112
Note that a1436838bf634a9aba9ea241ac1ff518c5d70357 contains unresolved FIXMEs for instruction lengths in the CPU definition files.

[2018-04-09 07:06] marek-safar commented on #8112
@jaykrell could you focus on this regression

[2018-04-09 07:13] marek-safar commented on #7649
This could be related to #7260

[2018-04-09 07:26] marek-safar commented on #8104
Could you attach the log of what you are doing for us to diagnose the issue?

[2018-04-09 07:38] marek-safar commented on #8100
@directhex how often does it happen?

[2018-04-09 08:36] #8074 closed

[2018-04-09 08:52] marek-safar commented on #8033
I cannot easily see where it's failing, could you run with some debug build or add custom logging to `ves_icall_get_trace` ?

[2018-04-09 08:56] mfilippov commented on #8033
@marek-safar yes I can add custom logging. I haven't stable repro but if the problem happened again I post logs. What's kind logging I should add?

[2018-04-09 09:17] marek-safar commented on #8032
Made a request to update the page at https://github.com/MicrosoftDocs/xamarin-docs/issues/140

[2018-04-09 09:17] #8032 closed

[2018-04-09 09:40] marek-safar commented on #8033
It's sigsegv so something in that method is dereferencing null

[2018-04-09 10:37] rolfbjarne commented on #7460
I've confirmed the second fix is working fine.

@luhenry would it be possible to backport it to 2018-02 so that we could get it in d15-8?

[2018-04-09 10:55] ChristianWeyer opened #8121 "AOT/Static compilation for WASM"
Has AOT for WASM (described here: http://www.mono-project.com/news/2018/01/16/mono-static-webassembly-compilation/) already landed in this repo?
.cc @kumpera

Thanks!

[2018-04-09 12:57] kumpera commented on #7662
We don't have a WegGL binding.

[2018-04-09 13:09] marek-safar opened #8122 "CoreFX System.Xml.Linq"
The code including tests can be found under `/src/System.Private.Xml.Linq/src/System/Xml/Linq/XLinq.cs`

We want to replace all our code and add all included tests

[2018-04-09 13:18] Thaina commented on #7662
@kumpera Which repo should contain that if we would have it?

[2018-04-09 13:45] marek-safar commented on #7589
This one will require multiple steps. It's better to start with small types first before doing any large ones.

[2018-04-09 13:48] marek-safar opened #8123 "CoreFX System.Core"

[2018-04-09 14:00] marek-safar opened #8124 "CoreFX System"
## Namespace to import

- [ ] System.IO.FileSystem.Watcher #6966
- [ ] System.Net.HttpListener #6971
- [ ] System.Compression #6974
- [ ] System.Net #7682

[2018-04-09 14:43] SwooshyCueb opened #8125 "sn.exe fails to sign or verify assemblies compiled with PlatformTarget set to x64"
## Steps to Reproduce

1. Set the `PlatformTarget` property in a .NET assembly msbuild project file to `x64`
2. Try to use Mono's `sn.exe` to sign/verify the assembly.

## Current Behavior

`sn.exe` throws a `System.NullReferenceException` (stack trace is different depending on the operation).

## Expected Behavior

`sn.exe` performs the sign/verify operation.

### On which platforms did you notic

[2018-04-09 14:53] akoeplinger commented on #8089
PR is up: https://github.com/mono/mono/pull/8126

We'll need to update these files in the product repos as part of the bump:

- https://github.com/xamarin/xamarin-macios/blob/master/tools/linker/MobileProfile.cs
- https://github.com/xamarin/xamarin-android/blob/master/src/Xamarin.Android.Build.Tasks/Linker/Mobile.Tuner/MobileProfile.cs
- https://github.com/xamarin/xamarin-android/blob/master/src/m

[2018-04-09 15:11] directhex opened #8127 "No BTLS in Windows builds"
Add support for BTLS on Windows targeting both cygwin/mingw and msvc build runtimes.

- [x] Build BTLS as part of cygwin/mingw build. #9306.
- [x] Validate pass on basic BTLS tests using cygwin/mingw build (NOTE, by default CI uses msvc build runtime to run tests). #9306.
- [x] Build BTLS as part of msvc build. #11100.
- [x] Do a better integration between autoconf and msvc build. Implement logic

[2018-04-09 15:13] directhex commented on #8100
@marek-safar 100% reproducible, apparently, at least when restoring monodevelop.sln

https://jenkins.mono-project.com/job/ng-release-generate-debian-packages/799/execution/node/459/log/
https://jenkins.mono-project.com/job/ng-release-generate-debian-packages/798/execution/node/481/log/
https://jenkins.mono-project.com/job/ng-release-generate-debian-packages/795/execution/node/555/log/

[2018-04-09 16:07] marek-safar opened #8131 "CoreFX mscorlib"
## Namespaces to import

- [ ] System #7737
- [x] System.Collections #7248
- [ ] System.Diagnostics
- [ ] System.Globalization #7264
- [ ] System.IO #7246
- [ ] System.IO.IsolatedStorage
- [ ] System.Reflection
- [ ] System.Reflection.Emit
- [ ] System.Runtime.CompilerServices #6978
- [ ] System.Runtime.ExceptionServices
- [ ] System.Runtime.InteropServices
- [ ] System.Runtime.InteropServices.Win

[2018-04-09 16:11] marek-safar opened #8132 "CoreFX System.Xml"
## Namespaces to import

- [ ] System.Xml
- [ ] System.Xml.Schema
- [ ] System.Xml.Serialization #6973
- [ ] System.Xml.XPath
- [ ] System.Xml.Xslt

[2018-04-09 16:29] marek-safar commented on #8100
/cc @baulig

[2018-04-09 16:39] akoeplinger commented on #8127
I assume you can tell cmake to output VS project files and then build that?

[2018-04-09 16:54] directhex commented on #8127
Maybe! Will be exploring the whole thing this week.

[2018-04-09 17:34] directhex commented on #8100
While that's ongoing, I'm comparing compiler output from armhf Ubuntu 16.04 and 18.04.

The only notable difference:

[code]

[2018-04-09 17:36] directhex commented on #8100
This seems to be an issue for others - sadly I don't know the exact commit which resolves it

https://github.com/tensorflow/tensorflow/pull/12752

[2018-04-09 17:44] directhex commented on #8100
It is PROBABLY either https://github.com/google/boringssl/commit/17cf2cb1d226b0ba2401304242df7ddd3b6f1ff2 or https://github.com/google/boringssl/commit/3c995f30e7312e6d95782cc787e566fb12f8aefb

[2018-04-09 17:51] marek-safar commented on #8089
@akoeplinger Could you update them together with the System.Memory facade. I think we can make that as PR even before mono bump is merged

[2018-04-09 18:00] akoeplinger commented on #8089
@marek-safar the System.Memory facade changes were already done last week.

[2018-04-09 18:03] akoeplinger commented on #8089
The change needs to be done together with the Mono bump at least in XA since otherwise it'd fail looking for the assembly in ProfileAssemblies.projitems and XI might complain in tests.

I think we should just do it together with the Mono bump.

[2018-04-09 18:06] marek-safar commented on #8089
I saw it at https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/6871//Test_Report/ but perhaps it's old version

[2018-04-09 18:09] akoeplinger commented on #8089
That one is from the 2018-02 integration PR, it needs a merge with XI master.

[2018-04-09 18:47] sourceskyboxer commented on #8104
Yeah I want tell you because I have found bug like mscorlib.dll

I have downloaded Mono's source from Github ,have compiled source and have installed built mono 5.15.0

1. git clone https://github.com/mono/mono.git mono-build
2. cd mono-build
3. export MONO_REPO_ROOT=$(pwd)
export PREFIX=$MONO_REPO_ROOT/output/x64/Release
export MONO_EXECUTABLE=$MONO_REPO_ROOT/msvc/build/sgen/x64/bin/Release/mono-

[2018-04-09 19:38] directhex commented on #8100
okay, got debug symbols.

[code]

[2018-04-09 20:03] directhex commented on #8100
3c995f3 does not fix it, and 17cf2cb doesn't apply - Google upstream & our fork have deviated WAY too far.

sha512_block_data_order seems to be an optimized assembly routine, in external/boringssl/crypto/sha/asm/sha512-armv4.pl, which has been _moved_ upstream (and Google appear to not maintain `git mv` history. Thanks Google).

[2018-04-09 20:09] #7944 closed

[2018-04-09 20:34] kumpera commented on #7662
Our binding works is being coordinated by @kjpou1. AFAICT, we're still setting up a repo for our wasm bindings.

[2018-04-10 00:02] #7731 closed

[2018-04-10 00:03] #7785 closed

[2018-04-10 00:09] #8089 closed

[2018-04-10 00:09] #8112 closed

[2018-04-10 00:34] #6979 closed

[2018-04-10 01:50] DanielCauser opened #8142 "Awaiting DelegatingHandler base.SendAsync throws a Null exception"
## Steps to Reproduce

[InnerHandler is null](https://github.com/mono/mono/blob/e90dee3d0ca28518af81b46c11c1ad1cdaea239d/mcs/class/System.Net.Http/System.Net.Http/DelegatingHandler.cs#L76)

1. Create a class that inherits from DelegatingHandler
2. Override the SendAsync method
3. Inside the overrided method, await for  base.SendAsync
4. It throws an exception

 https://github.com/TorontoMobileDeve

[2018-04-10 01:58] jeromelaban opened #8143 "CEE_STELEM for `single` token fails in wasm interp mode"
Using the latest master, using the wasm sdk, the following code:

[code]

Fails with the following error:
[code]

[2018-04-10 02:29] besrml opened #8144 "pkg-config bundled with mono crash"
## Steps to Reproduce

1. Install the latest mono
2. Install the recomended gtksharp version
3. Try to execute the GtkSAmplecode
4. Compile withe the recomended settings
   mcs helloworld.cs -pkg:gtk-sharp-2.0
5. pkg-config crash

using Gtk;
using System;

class Hello2
{
    static void Main ()
    {
        Application.Init ();

        Window window = new Window ("Hello Mono World");
        win

[2018-04-10 07:14] marek-safar commented on #8143
@lewurm could you confirm this

[2018-04-10 09:16] lewurm commented on #8143
thanks @jeromelaban, fix should be merged soon.

[2018-04-10 09:46] marek-safar commented on #8142
Although this is not ideal, it's inline with .net behaviour

[2018-04-10 09:49] marek-safar commented on #8142
Oh, I was wrong .net actually throws here

`throw new InvalidOperationException(SR.net_http_handler_not_assigned);`

[2018-04-10 09:51] marek-safar commented on #8144
Could you please include the crash log

[2018-04-10 09:54] marek-safar commented on #8004
It'd also help #8100

[2018-04-10 09:57] marek-safar commented on #8104
mscorblib has mono runtime dependencies so if you copy mono-sgen you also have to copy matching mscorlib.dll otherwise they get out of sync

[2018-04-10 10:40] filipnavara commented on #6236
Fixed by https://github.com/mono/libgdiplus/pull/283.

[2018-04-10 13:15] akoeplinger commented on #7660
Preview tarballs are now published to https://download.mono-project.com/sources/mono/preview/

The publishing pipeline has been updated to create tags on GitHub when pushing to the stable channel. I think we're done here :)

[2018-04-10 13:15] #7660 closed

[2018-04-10 13:37] carmarri commented on #7454
Did anyone ever experienced a similar issue? Any clue on how to fix this?
It is still happening today.

[2018-04-10 13:47] LePtitDev opened #8149 "Assembly.LoadFile and Assembly.LoadFrom have same behavior"
https://github.com/mono/mono/blob/8b5d58285518bf509dcd21fd299114009cb1e908/mcs/class/corlib/System.Reflection/Assembly.cs#L578

I try to load 2 different assemblies but when I call Assembly.LoadFile twice, the second returned assembly is the first (locations are same).

https://blogs.msdn.microsoft.com/suzcook/2003/09/19/loadfile-vs-loadfrom/

"Use the LoadFile method to load and examine assemblie

[2018-04-10 14:17] DanielCauser commented on #8142
I was able to get it going by initiating the [InnerHandler](https://github.com/TorontoMobileDevelopers/HttpTracer/blob/master/src/HttpTracer/HttpTracerHandler.cs#L42)  but I still think that mono throwing a null exception is not a good thing.

[2018-04-10 14:25] directhex commented on #8100
If I force the unoptimized C routine by commenting out https://github.com/mono/boringssl/blob/345755cb49ee1979df280399f03178aae0b4029a/crypto/sha/CMakeLists.txt#L29 and https://github.com/mono/boringssl/blob/345755cb49ee1979df280399f03178aae0b4029a/crypto/sha/sha512.c#L78 I get:

[code]

which looks like this in gdb:

[code]

[2018-04-10 14:31] directhex commented on #8100
As a workaround, I will disable all assembly optimized routines on hard-float 32-bit ARM in our packages, which appears to work: `btls_cflags="-DOPENSSL_NO_ASM=1"`

[2018-04-10 14:50] louis-z opened #8152 "Assembly.LoadFrom behaves differently in Mono as with Microsoft's CLR WRT binding redirect"
## Steps to Reproduce
[BindingRedirectTest.zip](https://github.com/mono/mono/files/1895031/BindingRedirectTest.zip)

1. Using the attached ZIP file, build the provided solution in Debug with VS2017.
2. Successively run the resulting executable with Microsoft's CLR and with Mono.
3. Notice differences in the console output.

_Note: The executable will explicitly invoke nuget.exe. Make sure it can b

[2018-04-10 15:43] #7413 closed

[2018-04-10 16:30] lambdageek commented on #8152
Related #8149: Mono's `LoadFrom` really has the semantics of `LoadFile` - just load the assembly from the given path without probing.  we should keep the existing mechanism as `LoadFile` and add a proper `LoadFrom`.

[2018-04-10 17:05] rodrmoya opened #8155 "Crash in mono_profiler_emit_thread_stopped"
This comes from Xamarin.Profiler bug https://bugzilla.xamarin.com/show_bug.cgi?id=61288

There are 3 app crashes, all of them in mono_profiler_emit_thread_stopped

[Crash 1](https://bugzilla.xamarin.com/attachment.cgi?id=26254)
[Crashes 2 and 3](https://bugzilla.xamarin.com/attachment.cgi?id=26255)

(not pasting here the stack traces just in case they contain personal information)

[2018-04-10 17:51] jairbubbles commented on #8152
@lambdageek Well in #8149 the issue is that `LoadFile` do return an already loaded assembly from a different location while it shouldn't. So I would say neither of them do behave like CLR!

[2018-04-10 18:47] softwaretirol opened #8158 "Reattaching debugger to a running mono process fails"
## Steps to Reproduce

1. Start any application with the following args:
--debugger-agent=address=127.0.0.1:10000,transport=dt_socket,server=y,loglevel=10
2. Attaching a debugger (Socket Connect - Handshake with debugger-agent)
3. Send VM_DISPOSE message to debugger-agent
4. Close the socket on the client side
5. Create new socket and reconnect to the still running debugger-agent

## Current Behav

[2018-04-10 20:35] besrml commented on #8144
How i get the paths from where pkg-config search the packages by default?, mono windows

[2018-04-11 00:01] #8143 closed

[2018-04-11 09:50] bserrao opened #8168 "DNS: Name Resolution Failure"
## Steps to Reproduce

1.  run any app that need to make use of DNS
2.  I've modified a snippet of code i've found on other issue to get the status of:
[code]
    And do a DNS query:
   `var addresses = Dns.GetHostAddresses("www.google.com");  `
3.
    The result:
[code]

## Current Behavior

DNS lookup doesn't return any value and an exception is trown.
In sonarr app as example: [v2.0.0.5153] Sys

[2018-04-11 11:27] marek-safar commented on #8144
You could use the following to see where pkg-config searches for installed libraries

`pkg-config --variable pc_path pkg-config`

[2018-04-11 13:19] anon17 opened #8172 "Excessive type loading in ChannelFactory"
Creation of WCF client channel causes iteration over all types in domain. In my case not all types are supported by mono (WIF), so iteration fails.
[this line](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/System.ServiceModel/ChannelFactory.cs#L134) causes iteration over all types in domain.
[code]
Though the found contractType is only used when channel kind is specified.

[2018-04-11 13:37] #6173 closed

[2018-04-11 13:38] #7988 closed

[2018-04-11 15:12] kumpera commented on #8007
Dynamic linking on WebAssembly is very tricky, it requires to compile the runtime with such feature enabled and it comes at a performance & footprint cost.

I'm not entirely sure on how to proceed with this, but I agree that this is a feature we need to support.

[2018-04-11 16:27] lambdageek opened #8175 "Changing eglib doesn't rebuild mono"
## Steps to Reproduce

1. `CC='ccache cc' CXX='ccache c++' ./autogen.sh --prefix=${PREFIX} --disable-nls --enable-native-types --enable-debug --enable-checked-build=all --disable-btls --disable-btls-lib`
2. `make -j`
3. `touch mono/eglib/gmarkup.c`
4. `make`

Note that only `eglib` is rebuilt, but the mono binaries and libraries in `mono/mini/` are not.

### On which platforms did you notice this

[2018-04-11 16:33] vargaz commented on #8175
Probably because of this:

sgen_libs = \
	$(monodir)/mono/metadata/libmonoruntimesgen.la	\
	$(monodir)/mono/sgen/libmonosgen.la	\
	$(monodir)/mono/utils/libmonoutils.la \
	$(GLIB_LIBS)

Note that GLIB_LIBS is an autoconf macro, so automake doesn't see it, so it doesn't know about the dependency.

[2018-04-11 16:52] lambdageek commented on #8152
@jairbubbles You're right. I didn't read the other one closely enough.

Our current `LoadFrom` is closer to what `LoadFile` is supposed to do, but still wrong.

[2018-04-11 16:56] lambdageek commented on #8149
@LePtitDev to clarify: the issue here is that you wish to call `LoadFile` multiple times with the same path.  And in between you update the on-disk assembly?  Something like:

[code]

[2018-04-11 16:57] lambdageek commented on #8149
This is happening for the same reason as https://bugzilla.xamarin.com/show_bug.cgi?id=11199 and has to do with how Mono caches loaded assemblies.

[2018-04-11 17:36] kumpera opened #8177 "[wasm] master broken due to `WASM-ERR: missing function: mono_debugger_agent_init`"
Master is broken with `WASM-ERR: missing function: mono_debugger_agent_init`

[2018-04-11 19:50] jairbubbles commented on #8149
No the issue is more:
[code]
We rely on this CLR implementation which is well documented by Microsoft:

Our scenario is I guess not that commo: we use Roslyn compiler to compile C# code on the fly. We do not want to use app domains so we load new assemblies each time we recompile.

[2018-04-11 19:51] LePtitDev commented on #8149
The problem is that I use Roslyn to compile assemblies but if I write this code :
[code]

I think it's because assemblies here are similar but in this case I want to load assemblies without `LoadFrom` context.

[2018-04-11 20:05] lambdageek commented on #8149
@jairbubbles @LePtitDev Okay, thank you for the clarifications. Makes sense.

[2018-04-11 20:12] jairbubbles commented on #8149
@lambdageek Can you point us the code responsible for caching the assemblies? It would help us find a workaround when running with mono, We tried for instance generating a new identity by updating version number for each new assembly but it had some limitations.

[2018-04-11 21:40] pjcollins opened #8185 "[XA][2018-02] Certain methods are no longer linked from a local library when link all is enabled"
## Steps to Reproduce

1. Download the attached sample and start without debugging in Release mode on an Android device (I used a pixel 2 v8.1). The Release configuration should set the Android link mode to `Full`.
2. Click the button and check for expected "[PASS]" output to be written to the button's text field.

[Reproduction Project](https://github.com/mono/mono/files/1900631/App59.zip)

## Cu

[2018-04-11 21:42] lambdageek commented on #8149
Not an easy question. There are a couple of layers of caching that are getting in your way.

First thing to know: Mono doesn't really have separate load contexts like .NET Framework documentation describes - there are basically only two - the normal load context and the reflection-only load context.  They are not explicit data structures, they're just

Each AppDomain has a list of assemblies that

[2018-04-11 21:44] lambdageek commented on #8149
@jairbubbles probably the easiest hacky workaround is to `Load(byte[])` an assembly with a slightly different full assembly name every time.

[2018-04-11 22:33] mishra14 opened #8190 "mono nuget.exe crashes with gnome terminal, works fine with xterm"
_From @MrBlaTi on April 11, 2018 9:21_

## Details about Problem

nuget.exe crashes when run with mono in gnome terminal. Works fine in xterm.

NuGet product used (NuGet.exe | VS UI | Package Manager Console | dotnet.exe):

NuGet.exe

NuGet version (x.x.x.xxx):

4.6.2.5055

OS version (i.e. win10 v1607 (14393.321)):

Linux 4.14.30-1-MANJARO #1 SMP PREEMPT Sun Mar 25 19:47:20 UTC 2018 x86_64 GNU/Li

[2018-04-11 22:33] mishra14 commented on #8190
@MrBlaTi thanks for reporting this. However, this seems like an issue with mono or an issue that the mono team will be better equipped to resolve. I will route this to the right repo.

[2018-04-11 22:40] lambdageek commented on #8190
This looks like https://github.com/mono/mono/issues/6752 /cc @lewurm

[2018-04-11 23:03] luhenry commented on #8185
/cc @marek-safar could you please take a look?

[2018-04-11 23:36] radical commented on #7649
I have a shorter test case: https://gist.github.com/radical/d98381db26100e7957266bfa772a0358

Essentially, if you have `catch (Exception e) when (SomeMethod (e))` then the exception object has no stack traces and the exception doesn't get caught.
But it works fine if you have `catch (Exception e) when (e is DllNotFoundException)`.

[2018-04-12 07:09] marek-safar commented on #8185
This is expected. The linker now supports basic reflection detection logic. That means that code like

The check like `typeof(LinkerClass).GetMethod("ThisMethodShouldNotBePreserved");` will actually cause the method to be preserved. You can workaround it by moving `typeof(LinkerClass)` to class field so you will have code like

[code]

[2018-04-12 07:09] #8185 closed

[2018-04-12 10:12] #6306 closed

[2018-04-12 10:16] smr888 commented on #7356
I don't know your procedures; what happens now?  How long would it normally be until this fix finds its way into released code?  Thanks.

[2018-04-12 11:50] alexrp commented on #8155
There are no device logs in the original bug report as far as I can tell.

[2018-04-12 12:41] bserrao commented on #8168
The version i first used didn't have the fix for #6940, but i've applied it a recompile. The result is the same both Socket.OSSupportsIPvx and Socket.SupportsIPvx are initialized with false.

How can i run that GetAllNetworkInterfaces and see the output? I've tried calling it with:
`Console.Write(GetAllNetworkInterfaces ());`
But that's not the way to do it...

Thanks

[2018-04-12 13:37] jkpubsrc commented on #7859
@lambdageek: Hm... You can't reproduce this? That's strange .... Let's try that again here ...

[code]

If I understand that correctly this only works with structs? interesting.

[2018-04-12 15:05] #7260 closed

[2018-04-12 15:11] pjcollins commented on #8185
Thanks for the explanation, I will update my tests for 2018-02.

[2018-04-12 15:27] marek-safar commented on #8190
Closing as a duplicate

[2018-04-12 15:27] #8190 closed

[2018-04-12 15:37] lambdageek commented on #7859
@jkpubsrc We can reproduce it. the key is to compile against reference assemblies, not against the framework assemblies. (ie `/usr/lib/mono/4.6.1-api/mscorlib.dll` in your output - reference assemblies; just compiling from the commandline with csc or msc will by default use the framework assemblies).

@marek-safar How can we make all the reference assemblies in Mono follow https://github.com/dotne

[2018-04-12 15:52] marek-safar commented on #8168
The correct syntax is

`Console.WriteLine (System.Net.NetworkInformation.GetAllNetworkInterfaces ());`

[2018-04-12 15:55] #8177 closed

[2018-04-12 15:59] marek-safar commented on #7356
@smr888 for which product, Mono?

[2018-04-12 16:36] bserrao commented on #8168
Thanks. I did this:
[code]
And got the name of the interfaces on my machine, so it means they are identified.

[code]

Now i don't know how debug why the socket fails to initialize.

[2018-04-12 16:45] marek-safar commented on #7859
We cannot change the reference assemblies as that'd be a major breaking change. They are fully compatible with .NET and we don't want to change that.

[2018-04-12 17:16] smr888 commented on #7356
Yes, the compiler / runtime for Linux, specifically.

[2018-04-12 17:18] marek-safar commented on #7356
That release (5.12( is already available via Nighly and should go to Stable soon.

/cc @directhex

[2018-04-12 17:18] smr888 commented on #7356
Great, thanks!

[2018-04-12 17:26] lewurm opened #8209 "improve basic-profile-check.cs when it fails to compile"
## Steps to Reproduce

1. have system mono 5.12
2. checkout master and configure it with `--with-csc=mcs`

[code]
it doesn't fall back to monolite then, because the compilation of `basic-profile-check.cs` failed. Workaround is to install a newer mono.

/cc @marek-safar

[2018-04-12 17:31] smr888 commented on #7356
OK, cool.  I think I'll wait for that, because it's a bunch of machines whose repository setups I'd have to mess with to get the nightlies.  It's much easier for me to just let it come in when it comes in, much as I would like to get this fix in **right now**!

[2018-04-12 18:10] luhenry opened #8210 "Add "Getting Started and Contributing" guide"
We already have some documentation scattered around on how to build mono, what are the requirements to submit an issue or pull request, but no comprehensive guide that gets all this information together. The existing documentation can also be either too detailed or too scarce (for example, the "Compiling Mono on Mac OS X" also contains instructions on how to build automake, autoconf, libtool and m

[2018-04-12 18:15] lewurm commented on #8209
quoting @marek-safar

[2018-04-12 18:15] #8209 closed

[2018-04-12 18:28] luhenry opened #8212 "Document steps to run a single set of tests"
It requires some knowledge to be able to easily run the test suite for only System.Core or System.Drawing for example. Documenting this would make it easier for external contributors to easily reproduce and troubleshoot locally.

Some example of commands that are useful in the daily life of a contributor are:
 - `make check -C mcs/class/corlib`
 - `make check -C mono/tests`
 - `make run-xunit-test

[2018-04-12 18:39] luhenry opened #8213 "Aggregate scattered documentation indexes into a single one"
There are a bunch of index for our documentation, it would improve discoverability to gather them into a single one.

For example, http://www.mono-project.com/docs/tools+libraries/tools/ references http://www.mono-project.com/docs/advanced/runtime/ page which is not referenced in http://www.mono-project.com/docs/

[2018-04-12 18:46] luhenry opened #8214 "Figure outdated documentation from http://www.mono-project.com/docs/"
A lot of these pages have not been updated in quite a long time. Some of them are still surprisingly up-to-date, some of them are not completely reflecting the today's reality but are still sufficiently informative, and some of them are mostly wrong and can confuse an external contributor (or even an internal contributor who wants to learn more about other pieces of Mono).

Listing here any pages

[2018-04-12 19:13] luhenry commented on #8214
http://www.mono-project.com/docs/about-mono/concerns-about-mono/

Mono now being part of Microsoft, there are little concerns regarding breaking compatibility with .NET or no patent concerns.

[2018-04-12 19:24] luhenry opened #8215 "Automatic code owner assignement after 48 hours of inactivity"
As discussed during the last Mono all-hands, we want to have a bot that automatically assign or mention a code owner after a certain period during which no internal contributor has taken any action. This will allow us to better keep track of external contribution and ensure that they get an answer in a more timely manner.

/cc @akoeplinger

[2018-04-12 19:24] filipnavara commented on #8214
http://www.mono-project.com/docs/getting-started/mono-basics/
- tlstest.c always uses the Managed TLS implementation and so it's stuck with TLS 1.0. There's a bug open on it in Bugzilla, but no one fixed it so far. Essentially it could lead people to try it and fail since TLS 1.0 is slowly getting deprecated.

http://www.mono-project.com/docs/getting-started/development-environments/
- Section abo

[2018-04-12 19:31] jrb9249 commented on #6471
I'm having this same issue using novell.directory.ldap version 2.2.1 in a .net core console application. I am using the code from the sample project found at [https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/blob/master/original_samples/Samples/Bind.cs](https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/blob/master/original_samples/Samples/Bind.cs)

[2018-04-12 19:36] filipnavara commented on #8214
The main page also links to the following outdated content (marked as such) with broken links:
http://www.mono-project.com/docs/about-mono/class-status/

http://www.mono-project.com/docs/about-mono/maintainers/
- Completely out of date. It should point to `codeowners` in Git if anything.

http://www.mono-project.com/docs/gui/winforms/
- All the System.Windows.Forms documentation is outdated. There

[2018-04-12 20:01] jairbubbles commented on #8149
@lambdageek Thank you for the detailed explanations. We'll let you know if the workaround works.

[2018-04-12 20:10] lambdageek commented on #8149
@jairbubbles No problem.  If I explain it a few more times maybe I'll finally understand it enough to rewrite it. 😃

[2018-04-12 20:10] jairbubbles commented on #8149
I don't know with Mono but with CLR if you load an assembly it's locked by the process so you can write to the same path file. That's one of the reason why we alway generate new file at each compilation.

For `Assembly.LoadFile` to work like CLR I feel like only the cache 2 must be bypassed, i.e. always load a new `MonoAssembly` from a given `MonoImage` (if it does not already exist for the given

[2018-04-12 20:17] marcvlima commented on #6376
If that platform is not available, Visual Studio should not allow developers to add .NET Standard 2.0 as a reference for Xamarin Forms.

[2018-04-12 20:22] kumpera opened #8216 "Switch WASM profile to use bundled zlib"
Found in https://github.com/aspnet/Blazor/issues/445

We need to change the BCL to pinvoke __Internal for zlib: https://github.com/mono/mono/blob/1a8142c7dbb7c5fd4ff53eb50fc7cde04f6a2a06/mcs/class/System/System.IO.Compression/DeflateStream.cs#L502-L522

Then we need to change the runtime to bundle it.

[2018-04-12 20:36] alexanderkyte opened #8217 "Implement Verbose Unmanaged Crash Reporting"
After some feedback on what we wanted to provide during crash time, I've decided to make a list of design constraints that we have so far.

- We should include all native frames in the full stack trace, on all sides of all trampolines.
- We should make it all human readable, but it needs to be a format that's simple to print from the runtime. We already have json writers. I'd like json.
- We want

[2018-04-12 20:36] lambdageek commented on #8152
@jairbubbles @louis-z Mono's `LoadFrom` doesn't know about binding redirects at all.

----

`Load(String)` understands binding redirects.

There's a complication.

Using Mono's default legacy behavior - redirects work best for GAC assemblies that are not otherwise in the application's path or other probing directories.  Otherwise Mono's legacy behavior is to just load the first assembly with the r

[2018-04-12 20:48] mhutch commented on #7839
PR files with NuGet at https://github.com/NuGet/NuGet.Client/pull/2159

[2018-04-12 21:30] filipnavara commented on #6862
Is there any particular reason why Xamarin.Mac is not on the list as well? It would probably be very similar to the XI.

[2018-04-12 21:52] mattleibow opened #8218 "SN fails when signing x64 assemblies"
## Steps to Reproduce

1. Create a source file that can be compiled:
[code]
2. Build the file with the `/platform:x64` flag:
[code]
3. Try and sign:
[code]

Test case: [Test.zip](https://github.com/mono/mono/files/1905120/Test.zip)

## Current Behavior

There is an exception:

[code]

## Expected Behavior

The assembly should be signed without issue.

### On which platforms did you notice this

-[

[2018-04-12 22:31] filipnavara commented on #8218
Seems that `StrongName` class doesn't properly support PE32+ file headers (https://github.com/mono/mono/blob/master/mcs/class/Mono.Security/Mono.Security/StrongName.cs#L288).

[2018-04-13 03:06] dns opened #8225 "Mono mkbundle output executable throws: “Error mapping file: No error”"
I wrote simple "hello world" console program in C#, and build it using VS2013 (I also try to build it using mono "csc" but the error is same).

[code]

The new "test.exe" need mono-2.0-sgen.dll, so I copy it to "C:\Program Files\Mono\bin" and then run test.exe, but the new executable throw a error message to stdout:

[code]

**Version Used**:
- Mono 5.12.0.226.x64
- Win10 (64-bit).

[2018-04-13 04:29] #8175 closed

[2018-04-13 06:13] filipnavara commented on #8218
/cc @jaykrell

[2018-04-13 08:43] marek-safar commented on #8225
@lateralusX does this look familiar?

[2018-04-13 08:45] Rombersoft commented on #7787
Hey guys! I know what was changed before achieving problem but I can not understand why it has happened. My application is executable with graphical interface (not console).
So my application run via autostart (.xinitrc, scripts etc) without using terminal emulator.
When I run application using such way:
[code]
that all works EXCELLENT, BUT when I run it using such way:

[code]
that it achieves pr

[2018-04-13 08:46] #7611 closed

[2018-04-13 09:05] woutermeuwis opened #8229 "RegexOptions.IgnoreCase gives faulty results"
## Steps to Reproduce

[code]

## Current Behavior

If the code is run with Xamarin.iOS or Xamarin.Android on a simulator --> `success == false`
if the code is run with Xamarin.Workbooks (console, iOS or android) --> `success == true`

## Expected Behavior

success should be true in all cases.

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono 5.8

[2018-04-13 09:08] marek-safar commented on #8229
@EgorBo did you the code import fix the issue?

[2018-04-13 11:03] jchoi2022 opened #8230 "Discrepancy between mono and corefx in System.IO.File.WriteAllBytes"
There is a discrepancy between mono and corefx, in the behavior of `System.IO.File.WriteAllBytes`.

## Steps to Reproduce

[code]

## Current Behavior
Currently, mono deletes the existing FIFO "bar", and creates a new regular file. Meanwhile, in .Net Core (corefx), the API maintains the FIFO and writes to it (i.e. it hangs until another process read the other side of the FIFO). For the discussion

[2018-04-13 11:42] louis-z commented on #8152
I suspect you meant `MONO_LOG_LEVEL=debug` in your last sentence, right?

[2018-04-13 15:05] EgorBo commented on #8229
hm.. doesn't reproduces on master and 5.8.0 (on Windows).
@woutermeuwis could you please re-run it on XA/XI with linker set to None?

[2018-04-13 16:37] kekekeks commented on #8007
@kumpera You are [providing a way](https://github.com/mono/mono/tree/master/sdks/wasm) to build a custom `.wasm` file by linking libmonosgen-2.0.a and using a custom driver.c.

That allows people to statically link additional modules which means that functions from them will be callable using `call_indirect` without additional performance costs. So at least `[DllImport("__Internal")]` should be su

[2018-04-13 17:34] cosminstirbu commented on #8155
I don't have a device laying around at this point but this is what I can see in the simulator logs right after I start profiling the app:

[code]

[2018-04-13 17:49] therealjohn commented on #7683
@rodrmoya @alexrp

I think the issue being filed here might cause it to be lost. I left a comment on the bugzilla issue that we need more info.

Is using the latest 15.7 alpha channel in VSMac sufficient? This would have Xamarin.iOS 11.10.0.50 which is [using Mono 5.10](https://developer.xamarin.com/releases/ios/xamarin.ios_11/xamarin.ios_11.10/#Integrated_Mono_FeaturesFixes).

Note to anyone tryi

[2018-04-13 18:24] migueldeicaza commented on #8217
Can this be made reliable?   I just know that typically the lldb invocation hangs for me after displaying the output.

[2018-04-13 18:32] lewurm commented on #7416
this is likely fixed by https://github.com/mono/mono/pull/7423 (already merged in master) and we are going to backport it to `2018-02` aka. 5.12: https://github.com/mono/mono/pull/8235

[2018-04-13 18:45] alexanderkyte opened #8236 "Add SIGTERM signal handler reporting"
On OSX, MonoDevelop would like to have the Force Quit action register a telemetry event. This is useful because excessive quitting might indicate livelock or performance regressions.

This is lower priority for now. It should be implemented after the free-form mono telemetry is implemented. This hook is mostly going to be used to fire that one.

The biggest goal here is to make sure that this does

[2018-04-13 18:46] lewurm commented on #8217
I would like to have the contents of all machine registers. This can be a API for MonoContext; for now we only need to support amd64 (only supported platform for MERP atm).

[2018-04-13 19:13] migueldeicaza opened #8237 "Implement EagerStaticClassConstruction"
We would like to bring `EagerStaticClassConstruction` to Mono:

https://github.com/dotnet/corert/blob/master/src/Runtime.Base/src/System/Runtime/CompilerServices/EagerStaticClassConstructionAttribute.cs

Documented as:

    When applied to a type this custom attribute will cause any static class constructor to be run eagerly
    at module load time rather than deferred till just before the class i

[2018-04-13 19:17] kumpera opened #8238 "OSX Crash in GetFileAttributes due to unknown file type"
Relevant crash report:

[code]

No test case, but it should be possible to construct one based on the error code.

[2018-04-13 19:27] kumpera commented on #8238
Proposed fix: https://github.com/mono/mono/pull/8239

[2018-04-13 19:59] kekekeks commented on #8007
P/Invoke would also be very nice for calling external JS functions "directly" (yes, I understand that JS side will need manual marshaling) instead of using `eval`.

[2018-04-13 20:03] kumpera commented on #8007
@kekekeks yeah, the problem with __Internal is that there's no way to locate those symbols in the wasm file as they don't have names.

On using pinvoke to directly call JS, that's even more complicated as the marshaling on the C# side is non trivial.

I explored this problem in the past and the linkage model of WebAssembly is quite unfriendly to dotnet's pinvoke.

I expect this to be solved by a m

[2018-04-13 20:52] lewurm commented on #8236
why does it need to be SIGTERM?

[2018-04-13 21:01] alexanderkyte commented on #8217
@migueldeicaza this won't rely on outside processes so the reliability will be up to mono.

You all have great suggestions.

I'd like to have an optional mapping of assembly name to .dll file as well, if that's possible. For BCL bugs due to the wrong BCL being loaded, that would make it much easier to spot.

[2018-04-13 22:10] #7396 closed

[2018-04-13 22:14] #7402 closed

[2018-04-14 09:14] jaykrell opened #8250 "assertion failure fullaot llvm System.Drawing.dll"
[code]

[2018-04-14 12:51] migueldeicaza opened #8252 "Discussion: should WebClient use HttpClient as a backend?"
Currently out WebClient “simple api” is implemented on top of HttpWebRequest, which comes with all the downsides of it - limited HTTP support, not able to consume system settings and in iOS is unable to continue working even if the application is suspended.

Given that this is a high level api perhaps we can use HttpClient, even if we need to load the assembly dynamically or move the actual client

[2018-04-14 16:34] rodrmoya commented on #7683
No, d15-7 has the same problem, I could easily replicate it with the StarWars sample at https://github.com/MvvmCross/MvvmCross-Samples

[2018-04-14 16:47] filipnavara commented on #8252
We mix WebClient and HttpWebRequest in our application and it would be weird if they started behaving differently, even in small ways.

I am not sure what you mean by limited HTTP support. Honestly, the WebClient API is so limited that it shouldn't really matter. Neither do I understand the bit about consuming system settings. WebClient and HttpWebRequest use system proxy settings and the system T

[2018-04-14 20:58] bruno-garcia opened #8254 "Crash with `we can't resume from an async call`"
## Steps to Reproduce

It's flaky. I could only reproduce it once.
1.  Clone https://github.com/bruno-garcia/dotnet-sentry-thrower
2.  Change the package reference from 1.0.0 to 2.3.2 to resolve from NuGet.org
3.  Invoke `run.sh`

## Current Behavior
A simple program that uses the C# 7.1 `async main`, threw an exception instead of running to the end.
The version that failed was targeting .NET Fram

[2018-04-15 17:59] vargaz commented on #6985
Fixed in master.

[2018-04-15 17:59] #6985 closed

[2018-04-16 06:01] jaykrell opened #8262 "failure to roundtrip ikdasm/ilasm"
This C# compiles and runs, but if you ikdasm and ilasm, ilasm fails.
You can "fix" it buy inserting "class" before some instances of "[mscorlib]", ilasm accepts it, but then the result fails to run. I'll try with desktop instead. This is derived from a similar F# test case.

using System;
using System.Runtime.CompilerServices;
using static System.Runtime.CompilerServices.MethodImplOptions;

unsafe

[2018-04-16 08:57] Saratsin opened #8263 "System.Net.NetworkInformation.NetworkChange class throws Exception at Mono.Android"
## Steps to Reproduce

1. Create new solution with Mono.Android (most common is Xamarin.Android application)
2. Try to subscribe on System.Net.NetworkInformation.NetworkChange.NetworkAvailabilityChanged event anywhere.
3. Run the code

## Current Behavior
Event subscribing throws an exception: "System.DllNotFoundException: /System/Library/Frameworks/SystemConfiguration.framework/SystemConfiguratio

[2018-04-16 15:30] filipnavara opened #8266 "HttpWebRequest doesn"
## Steps to Reproduce

1.
2.
3.

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

### Stacktrace

[code]

[2018-04-16 15:45] bruno-garcia opened #8267 "TimeZoneInfo.Local Id and DisplayName are always: Local"
## Steps to Reproduce

1. Call TimeZoneInfo.Local while running on Mono

## Current Behavior

Returns:

[code]

## Expected Behavior
Data that can be used to pin the device's timezone.

CoreCLR returns something more meaningful:

*On macOS 10.12.2*
Darwin Brunos-MacBook-Pro.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

[code]

[2018-04-16 16:02] filipnavara commented on #8266
## Current behavior
First request:
[code]
First reply:
[code]
Second request:
[code]
Second reply:
[code]
No further authentication is attempted.

[2018-04-16 16:55] kumpera commented on #8007
@kekekeks makes sense on adding the extra call to register functions, I'll look into it.

When I say i's non trivial to marshal from the C# side is that pinvoking into JS requires currying an extra argument as the only way to call into JS is through the imports table.

Now, on linking shared modules, it requires a lot more than just passing the function pointers around, we need to deal with linear

[2018-04-17 05:16] baulig commented on #8266
This is quite interesting - thank you so much for your bug report.

[2018-04-17 06:16] FrozenShade666 opened #8272 "Some latin characters on Mono GDI+ are drawn incorrectly"
## Steps to Reproduce

1. Create a winform form, put a TextBox.
2. Run program, enter some random characters there, then try to enter any Unicode char from the range U+0108 to U+010D, for example this one: ĉ.
3. enter some random characters

## Current Behavior
There are some characters that are drawn incorrectly. Everything looks ok if they are at the middle of the string. If those characters are

[2018-04-17 07:20] jaykrell opened #8273 "FullAOT takes 9 minutes vs. AOT or JIT under a second, on this F#-derived code"
This takes under a second under regular AOT.
JIT is also under a second.
But over 9 minutes with FullAOT.
It doesn't work in master today but should soon.

If you change string to int32 it runs much faster.
And you can reduce the iteration count to make it tolerable (look for 999).

Why does it go into trampolines?

Command lines are like:

`ilasm 3.il` and then, based on mono/tests:

[code]

[cod

[2018-04-17 08:14] altair86 opened #8275 "Failed https request"
Mono JIT compiler version 5.10.1.20 (tarball Thu Mar 29 10:48:35 UTC 2018)
Mono JIT compiler version 5.10.0 (Visual Studio built mono)

_Win 7_ and _Ubuntu 14.04.2 LTS (GNU/Linux 3.16.0-77-generic x86_64)_ same.
Why?

[code]

[2018-04-17 11:50] marek-safar commented on #8155
@rodrmoya could you clarify the device log status

[2018-04-17 12:59] abulhol commented on #7356
I want to upvote this issue. We recently upgraded to Mono 5.10.0.160, and suddenly our application started steadily increasing its used memory. Usually, it only uses 100 MB, but it went up to more than 20GB RSS in a couple of days. We investigated this, and it seems to be directly linked to HttpWebRequests made by our application, as described above.

[2018-04-17 13:10] mderoy commented on #8267
I played around with this in our fork recently. I think I also saw nothing bug local until zoneinfo was setup; afterwards everything worked fine....maybe corert is looking at the timezone information in the system preferences and mono isnt...

[2018-04-17 13:16] akoeplinger commented on #8267
@mderoy they seem to use `/usr/share/zoneinfo/` too but it's possible our code somehow doesn't like the symlink.

[2018-04-17 14:00] rodrmoya commented on #8155
@marek-safar haven’t been able to replicate this myself but @cosminstirbu, the original reporter, should be able to.

[2018-04-17 14:04] akoeplinger commented on #7935
I assume this is/was fixed by https://github.com/mono/mono/pull/8173

[2018-04-17 14:04] stefan-schweiger opened #8277 "WebAssembly: How to correctly call async methods from JavaScript?"
How to correctly call async methods from JavaScript? Is this even a possibility?

I'm playing around with a very simple project based on the [wasm readme](https://github.com/mono/mono/blob/master/sdks/wasm/README.md), but I couldn't find a way to call an async C# method from JavaScript and await its result.

[code]

[code]

Is it possible to do this? Or are there any alternatives to get the Result

[2018-04-17 14:16] cosminstirbu commented on #8155
Hmm, I thought that the simulator logs should be enough.

I'll provide the device logs as well.

[2018-04-17 14:33] rodrmoya commented on #8155
Ok, that's https://github.com/mono/mono/issues/7683 then, so this is a duplicate of that one

[2018-04-17 14:40] Therzok opened #8278 "heapshot-on-shutdown does not trigger HeapEndEvent"
## Steps to Reproduce

1. Run a mono application using the log profiler
2. Set `heapshot-on-shutdown`
3. Use Mono.Profiler.Log to process
3. Observe that `HeapBeginEvent` is sent, but `HeapEventEvent` is not

### On which platforms did you notice this

[*] macOS
[ ] Linux
[ ] Windows

**Version Used**:

➜  monodevelop git:(master) ✗ mono --version
Mono JIT compiler version 5.12.0.98 (2018-02/ed56e

[2018-04-17 14:54] #8155 closed

[2018-04-17 16:38] akoeplinger commented on #8267
I get the same `Local` result if I modify my Ubuntu to have a similar symlink structure as OSX 10.13:

[code]

@bruno-garcia I'm curious why you're seeing this on CentOS, can you please run `ls -la  /usr/share/zoneinfo /etc/localtime` and paste the output to confirm it is the same issue?

[2018-04-17 16:55] lewurm opened #8282 "[android] respect maximum length of a message when using __android_log_write ()"
discovered by @jonpryor:

https://github.com/xamarin/xamarin-android/issues/1561#issuecomment-381753774

[2018-04-17 17:06] bruno-garcia commented on #8267
Hi guys, thanks for replying.

I did have a typo as the version was indeed High Sierra, 10.13.3: `Darwin 17.4.0`. Today I finally updated so now on `Darwin 17.5.0` and the problem's still here.

Please note that I do have VS for Mac installed with all the Xamarin bits.

The output from CentOS you requested:

[code]

[2018-04-17 17:16] akoeplinger commented on #8267
@bruno-garcia thanks. The CentOS output is a different issue and tells me that /etc/localtime is not a symlink, can you check if the file is valid?

We currently rely on /etc/localtime being a symlink otherwise we fallback to displaying `Local` (similar to the WSL issue you filed).

[2018-04-17 17:24] filipnavara commented on #8267
On High Sierra it bails out at this line: https://github.com/mono/mono/blob/master/mcs/class/corlib/System/TimeZoneInfo.cs#L142

`baseDir` is `/usr/share/zoneinfo/` and `path` is `/var/db/timezone/zoneinfo/Europe/Prague` (or whatever time zone you are in)

[2018-04-17 17:25] bruno-garcia commented on #8267
Yes, that's the problem then. This CentOS instance is running on Parallels, so they might write the file to sync it with the host as does WSL: Microsoft/WSL/issues/3109

[code]

I ran the code on another CentOS box, not installed through Parallels and it works properly:

[code]

[2018-04-17 17:27] filipnavara commented on #8267
Something like this fixes it:

[code]

(added the `readlink` call)

[2018-04-17 17:27] akoeplinger commented on #8267
@filipnavara yup, see https://github.com/mono/mono/pull/8283 :) It will fix the High Sierra issue.

The WSL/Parallels issue is a bit more complicated to fix given the current code. It might make more sense to wait for https://github.com/mono/mono/issues/6976.

[2018-04-17 17:28] luhenry opened #8284 "Gather all CI configurations we are not running yet"

[2018-04-17 17:30] filipnavara commented on #8267
Yep, tested #8283 on 10.13.5 Beta 2 and works like a charm.

[2018-04-17 17:30] jaykrell commented on #8284
We run many/most of these, but I believe we have 10 codegen modes, as luhenry put in the tailcall work:

{jit, {,full,hybrid}aot}{mini, llvm}, bitcode/llvmonly, interpreter

[2018-04-17 17:33] vargaz commented on #8284
fullaot, fullaot+llvm: a subset of tests is ran on the ios lane.

llvmonly: a subset of tests can be ran by running make llvmonlycheck in mini/ in the normal osx build.

[2018-04-17 17:33] lewurm commented on #8284
mimic watchOS: linux, armv7, bitcode (/llvmonly), coop

[2018-04-17 17:34] alexanderkyte commented on #8284
There's also an instrumented mode that runs with bitcode and valgrind, and a coverage lane abandoned by Vlad.

[2018-04-17 17:34] filipnavara commented on #8275
The documentation is outdated and TlsTest is no longer up to date. It uses the old managed TLS implementation that supports only TLS 1.0, which is now considered obsolete and may not be supported by the server.

[2018-04-17 17:37] altair86 commented on #8275
Thank you for your answer. How can i check if TLS 1.2 work for me? I simply need to do my programm with request in it to https server in example?

[2018-04-17 17:40] akoeplinger commented on #8275
You can try `csharp -e 'new System.Net.WebClient ().DownloadString ("https://www.howsmyssl.com")' | grep -A5 "Your client is"` and see if it returns something that says TLS 1.2 was used.

[2018-04-17 17:46] altair86 commented on #8275
Brilliant

[2018-04-17 17:46] #8275 closed

[2018-04-17 17:46] akoeplinger commented on #7830
Closing based upon Filip's comment above. Please reopen if you're still seeing this with a newer Mono.

[2018-04-17 17:46] #7830 closed

[2018-04-17 17:48] jaykrell commented on #8284
JIT+LLVM missing in the matrix. Maybe not interesting.

[2018-04-17 17:48] jaykrell commented on #8284
Also csc vs. mcs??

[2018-04-17 17:50] luhenry commented on #8284
@jaykrell JIT+LLVM is not a very interesting use case, and AOT+LLVM is already similar enough. MCS is not really relevant here since we are interested mostly in *runtime* configurations.

[2018-04-17 17:51] akoeplinger commented on #8263
Hmm, this is weird, it should catch any exceptions thrown there and fallback to LinuxNetworkChange: https://github.com/mono/mono/blob/cb08c5d1ac1b77e4c3b5d989cc1e268439913eee/mcs/class/System/System.Net.NetworkInformation/NetworkChange.cs#L110-L116

Which Xamarin.Android version are you using?

[2018-04-17 17:53] jaykrell commented on #8273
I wouldn't checkin such a test, if I knew of it. :) Though it is easy slip in by accident, "works on JIT, CI it, see it pass", though this would probably time out. I suspect but don't know it spends its time in trampolines and then doesn't backpatch. It should avoid the trampolines. Just speculation mostly. I only debugged a little.

[2018-04-17 17:57] akoeplinger commented on #8252
WebClient on .NET Core actually already does this, i.e. it is reimplemented on top of HttpClient.

[2018-04-17 18:05] filipnavara commented on #8252
Then again, .NET Core also implements `HttpWebRequest` on top of System.Net.Http, so it is consistent.

[2018-04-17 18:13] jaykrell commented on #8284
mcs could generate different IL, or exercise the runtime differently itself, but good point.

[2018-04-17 18:14] alexanderkyte commented on #8284
Oh, until I added support for it in mkbundle we had almost no CI for static linking. It's a significant amount of code that has to do with direct icalls and pinvokes and with the baked-in assemblies code paths.

We might want to add a "statically linked+full AOT+stripped+linker" lane, for it's proximity to iOS. I'd like to add dedup to it too.

[2018-04-17 18:14] jaykrell commented on #8284
Linux bitcode is marked not relevant but given Azure-is-cheap-and-scalable seems like a nice additional less faithful but still useful proxy.

[2018-04-17 18:15] filipnavara commented on #8252
@akoeplinger I don't think you are wrong. It is implemented on top of WebRequest/WebResponse, but those are in turn implemented using System.Net.Http.

I didn't notice it before and it's certainly an approach that may be worth considering. It would keep the stack consistent at all levels. I can see how it could possibly be problematic for custom implementations of HttpMessageHandler implemented on

[2018-04-17 18:31] marek-safar commented on #8282
Ouch, this is problematic. @luhenry who does own that part or can look into it?

[2018-04-17 18:47] akoeplinger commented on #8238
https://github.com/mono/mono/pull/8239 was merged.

[2018-04-17 18:47] #8238 closed

[2018-04-17 18:51] stefan-schweiger commented on #8277
Only other idea I had, was to wait in a synchronous way for the completion in my C# code.
[code]

But this freezes the whole page, so it seems like this basic functionality also doesn't work (yet?) with mono-wasm.

[2018-04-17 18:54] akoeplinger commented on #8210
I don't think we should put it in the wiki. Either the website or the repo.

I'd actually like to move the other "compiling mono" instructions to the repo too so they version with the source code. I've seen people using the wiki for this and it almost always ended up being a pain because there's no PR/review there and has the same problem of not being versioned with the code.

[2018-04-17 19:06] colinjneville opened #8288 "Generic parameter inference fails or differs from .Net in certain situations involving delegates and variant interfaces"
## Steps to Reproduce

Attempt to compile this example C# code in Mono and .Net:
[Example code](https://gist.github.com/colinjneville/f3bf8a01b3efb1d9b68c2fc9530fc040)

## Current Behavior

Mono fails to compile the example with multiple CS0411 errors, while .Net succeeds. Additionally, the inferred type for some of the other test cases differs from the type inferred by .Net.

...

## Expected Beh

[2018-04-17 19:55] directhex commented on #8284
I don't see JIT+LLVM in our build matrix. Is this not something we test/care about? http://tirania.org/blog/archive/2018/Apr-11.html seems to be all about JIT+LLVM

[2018-04-17 19:58] directhex commented on #8284
Wait, @luhenry already covered it.

It seems super weird not to care about JIT+LLVM when @migueldeicaza was blogging about it less than a week ago?

[2018-04-17 19:58] vargaz commented on #8284
You can run a lot of tests with llvm by just running normal tests using MONO_ENV_OPTIONS=--llvm. We used to have test steps in wrench for this, it got lost with the switch to jenkins.

[2018-04-17 19:59] luhenry opened #8290 "Only support one of dynamic linking or static linking for LLVM into Mono"
We support 2 ways of linking Mono with LLVM:
 - static linking
 - dynamic linking (== "loaded" llvm)

Dynamic linking has the usual advantages with static linking, plus an avoided 0.1s added to Mono startup time (most likely static constructors) even when not using LLVM in the case of static linking.

As part of the work on distributing LLVM on Linux as part of Mono, we should settle on one of the

[2018-04-17 20:01] vargaz commented on #8290
The dynamic linking approach also has the disadvantage of complicating runtime development since running mono --llvm will pick up a random libmonollvm.so from somewhere on the system.

[2018-04-17 20:28] kumpera commented on #8290
What if we fix our in-tree dev story for probing for assemblies & DSOs?

Cuz we either completely give up on being able to use mono/mini/mono and depend exclusively on runtime/mono-wrapper or we add enough probing under desktop.

I rather have the later, of adding the smarts to the runtime to probe enough additional locations on disk if it finds itself in a build tree.

[2018-04-17 20:29] kumpera opened #8292 "[wasm] sanitize mono-wasm.zip"
The current mono-wasm.zip includes temporary files that are irrelevant to end users.
We should avoid packaging them.

[2018-04-17 20:30] jaykrell commented on #8290
@vargaz I suggest using @origin to strongly guide the search -- the .sos must live in the same directory. Adequate then? Mac has a similar mechanism, need to make sure it is so to so (dylib) and not just executable to so (dylib).

Otherwise explicit dlopen+dlsym might be ok, if we have only a few imports, or automate.

Or, is there a model of dlopen-only, and then let the dynamic linker do all the

[2018-04-17 20:32] jaykrell commented on #8290
I believe for Mac, @loader_path is the answer -- dylib to dylib, vs. @executable_path which would be main executable to dylib. Or if "all three" (mono, libmono, libmonollvm) in same directory, then either, that is a good solution imho, though I know people like to put so/dylib in lib instead of bin..

[2018-04-17 22:00] luhenry commented on #8282
@jonpryor is there an alternative to `__android_log_write` which doesn't cut at N characters? `__android_log_print`?

[2018-04-18 00:49] alexanderkyte commented on #8284
We've got a lot of code living behind #ifdefs that are never compiled, let alone tested. We might want to collect all of the untested options and make sure they're at least compiled somewhere. Having a "build 30 different profiles" daily build could probably be useful to stop us from breaking something. Cross compiling things might make that a bit more rewarding.

[2018-04-18 00:54] jaykrell commented on #8284
We should also consider "ifdef mono_all" to enable more stuff to compile, like on desktop, where the binary size shouldn't matter. And then every desktop build will get better coverage.

We might furthermore carefully use if instead of pound-if of compile-time constants so even mobile tests the syntax/types of everything, before optimizing it away (and verify no size different in the -O build).

[2018-04-18 00:55] jaykrell commented on #8284
I grant that mobile/wasm needs to be size-optimize but otherwise we should pound-if as much as possible. Favor if constant or even if dynamic-changable-on-command-line-or-environment.

[2018-04-18 01:14] marek-safar commented on #7377
@vargaz what's the resolution on this issue?

[2018-04-18 01:17] vargaz commented on #7377
Its still open since the proposed fix had to be reverted.

[2018-04-18 02:29] #8267 closed

[2018-04-18 03:01] luhenry commented on #8284
@vargaz what would be the added value of JIT+LLVM over AOT+LLVM?

[2018-04-18 03:06] vargaz commented on #8284
jit+llvm is something we support, its useful to high performance computation etc.

[2018-04-18 03:10] luhenry commented on #8284
Linux ARMv7 Bitcode added at https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-armhf-bitcode

[2018-04-18 03:28] marek-safar commented on #8252
That's correct .NET Core wraps HttpWebRequest around HttpClient making it transparent to the end users using WebClient.

I think this is rarely used API which is not worth touching. I am even thinking of making it Obsolete for Xamarin profiles to encourage anyone still using it to move to HttpClient.

[2018-04-18 03:47] #8218 closed

[2018-04-18 04:40] vargaz commented on #6915
This is now implemented, using full-aot+interpreter fallback, i.e. full-aot everything, then run
using mono --full-aot --interp.

[2018-04-18 08:34] Saratsin commented on #8263
Okay, I've tried to create the sample project, for this bug and found what I mistake I've made and why i had this 'bug'. I was just subscribing `System.Exception` handling in all application, so this when I called this subscription, my code was showing me this exception because firstly mono trying to create the MacNetworkChange class (even though execution would go next after this, because this tr

[2018-04-18 08:34] #8263 closed

[2018-04-18 12:50] lewurm commented on #6915
we should add a CI lane for it

[2018-04-18 14:11] bstac040 opened #8307 "BTLS Websockets4Net CERTIFICATE_VERIFY_FAILED"
## Steps to Reproduce
I am on CentOs running Mono 5.4.

1. Install the Root CA for your desired connection and run 2 export commands.
 - cert-sync device_ca_certificate.crt
 - export PREFER_IPv4_STACK=1
 - export MONO_TLS_PROVIDER=btls
2. Try to connect to a wss url via websockets using Websocket4net library
 - mono SecureWebSocketErrorExample.exe wss://192.168.1.87:15243/query_path
 - Code for th

[2018-04-18 14:16] bstac040 commented on #8307
I forgot to mention, do not use certmgr. That will install in the old legacy store. We need things to be installed in the new btls store. Look under /root/.config/.mono/ after running cert-sync.
ls -laR /root/.config/.mono/
You should see your cert under new-certs.
I have not noticed any difference with installing DER and CRT formats, but they are all stored as DER formats in the mono store (pleas

[2018-04-18 15:37] vargaz commented on #6915
Since the interpreter is only a fallback, its not very easy to test in general, since all methods are already aot-ed. I tested it by running mixed.exe with:
--full-aot --interp=interp-only=InterpClass mixed.exe

[2018-04-18 15:42] luhenry commented on #6915
@vargaz if you only AOT the BCL (and not the test suite), do you think we would test enough of mixed-mode?

[2018-04-18 16:59] marek-safar commented on #6915
I don't see a reason for a new CI line. This can be easily tested on interpreter lane.

@vargaz could you write an explicit test for this. For example, using cil-string or SRE?

[2018-04-18 18:28] akoeplinger opened #8310 "FSharp build is broken due to new Path.GetFileName() overload"
## Steps to Reproduce

1. Build FSharp
2. It fails during build

This was most likely introduced because https://github.com/mono/mono/pull/7867 introduced new Span overloads on Path.GetFileName() from corefx.

## Current Behavior

[code]

## Expected Behavior

No build failure.

### On which platforms did you notice this

[ X ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

This is similar

[2018-04-18 18:43] akoeplinger opened #8311 "bug-82022.exe fails in LLVM JIT"
## Steps to Reproduce

1. Run bug-82022.exe with LLVM JIT: `make -C mono/tests -k test-wrench MONO_ENV_OPTIONS=--llvm V=1 CI=1 M=1`
2. It fails

It seems to have started with https://github.com/mono/mono/pull/8141.

## Current Behavior

Fails reproducibly on Jenkins: https://jenkins.mono-project.com/job/test-mono-mainline-mac-sdk/label=osx-amd64/1274:

[code]

## Expected Behavior

No failure

###

[2018-04-18 19:26] jogibear9988 opened #8312 "ToString implementation of MethodInfo is different to Net Framework"
## Steps to Reproduce

Run following Code in Mono:

    using System;
    using System.Linq;
    using System.Reflection;
    using System.Text;

    namespace ConsoleApp1
    {
        class Program
        {
            static void Main(string[] args)
            {
                var name = "SkipWhile";
                var a = new StringBuilder();
                a.AppendLine("");

[2018-04-18 21:22] rvdginste opened #8316 "System.IdentityModel.Tokens.RsaSecurityToken.get_SecurityKeys not implemented"
I noticed that the implementation of RsaSecurityToken is not complete. Because of that, the nuget package "IdentityServer3.AccessTokenValidation" is not usable on mono.

Are there any plans to complete this implementation?
Is this something that can be taken from the Microsoft reference source?

[Mono .Net source code integration](https://www.mono-project.com/docs/about-mono/dotnet-integration/)
[

[2018-04-18 22:38] luhenry opened #8319 "Failing tests on FullAOT+LLVM"
We have the following tests failing consistently on the FullAOT+LLVM PR job:

 - `MonoTests.runtime.generic-stack-traces2.2.exe`
 - `MonoTests.runtime.finally_block_ending_in_dead_bb.exe`
 - `FileTest.Create_Path_ReadOnly`
 - `FileTest.GetAttributes_ReadOnly`

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/46/testReport/

[2018-04-18 22:42] akoeplinger opened #8321 "Build break/test failures on FullAOT+LLVM configuration"
## Steps to Reproduce

1. Run FullAOT+LLVM config
2. Issue 1: Observe build failures on armel/armhf
3. Issue 2: Observe test failures on amd64/arm64

This started with https://jenkins.mono-project.com/job/test-mono-mainline-linux-fullaot+llvm/507/, commit range:

- [coop] Add new states and transitions for hybrid coop suspend (commit: f2f6a7d)
- [coop] Add MONO_ENABLE_HYBRID_SUSPEND environment va

[2018-04-18 22:44] akoeplinger commented on #8319
Let's use https://github.com/mono/mono/issues/8321 for tracking since the runtime tests were actually recently broken.

[2018-04-18 22:44] #8319 closed

[2018-04-18 22:45] lambdageek commented on #8321
/cc @lambdageek

[2018-04-19 00:55] besrml commented on #8144
I find if i direct link the necesary dll the compilation is made:
mcs helloworld.cs -r:"path with spaces\gtk-sharp.dll" -r:"path with spaces\glib-sharp.dll" -r:"path with spaces\atk-sharp.dll"
pkg-config respond  only  to command wich not need  a package list.
How change the default directory to get all foward or backwards slashes in the path?, not mixed. I defined PKG_CONFIG_PATH but with pkg-con

[2018-04-19 02:06] jaykrell opened #8328 "incremental aot build of tests not invalidated by rebuilding runtime"
[code]
=> same failures
The runtime is not considered an input to producing the AOT images so it just runs the stale ones.

workaround:
``` make clean -C mono/tests ```

[2018-04-19 02:09] jaykrell commented on #8321
Maybe the change to temp file/directory stuff in https://github.com/mono/mono/commit/4f2522e6f4b177f0c5e97cc9847c321543292bbd

That was meant to, and did, fix a bunch of related -- used to be racy build, fighting over same temp files.

[2018-04-19 04:02] alwayslivid commented on #6752
I'm still dealing with the exact same issue. (in Arch Linux)

[2018-04-19 04:20] yindongfei opened #8329 "mono --interpreter got * Assertion at ..\mono\mini\interp\interp.c:3557, condition `csig->call_convention == MONO_CALL_DEFAULT' not met"
## Steps to Reproduce

[client.zip](https://github.com/mono/mono/files/1926610/client.zip)

## Current Behavior

after build the project attached, I use mono client.exe, the right result is produced. but when I use mono --interpreter client.exe, I got * Assertion at ..\mono\mini\interp\interp.c:3557, condition `csig->call_convention == MONO_CALL_DEFAULT' not met

## Expected Behavior

same as the

[2018-04-19 13:24] grbd opened #8340 "Issue with black text on console, possibly ncurses"
Hi,
I've recently noticed an issue with mono producing black text when running things like nuget
I'm using the latest version of gentoo and I suspect this might be related to ncurses

## Steps to Reproduce

Let's say I try to run the latest nuget with an invalid option
[code]
This should show a single line of red text giving an error
followed by a stack trace, but what I actually end up with is ju

[2018-04-19 13:35] directhex commented on #6752
The fix for this was backported to Mono 5.10.x, and is in 5.10.1.45 as a minimum, which is in the mono-project.com `preview` and `stable` release branches (it is not yet included in a `vs` branch package)

[2018-04-19 13:41] hussamT commented on #6752
On Wed, 2018-04-18 at 21:03 -0700, Panos V. wrote:

If you can, rebuild the arch linux package after editing the PKGBUILD
and changing the _gitcommit variable to
b4e428d7c410dba6973d84ec13532debb5535d78

[2018-04-19 14:04] rjvdboon opened #8341 "Mono 5.10.1.47 released, but source not downloadable and no releasenotes"
_Not sure if this is mono/mono or a mono/website issue. Filing it here as I think it might involve mono's automation_

## Steps to Reproduce

1. Go to http://www.mono-project.com/download/stable/#download-lin
2. Observe 5.10.1.47 is now stable
3. Click on "tarball", you'll end up at https://download.mono-project.com/sources/mono/
4. Click on mono-5.10.1.47.tar.bz2 to download
5. Go back to step 1.

[2018-04-19 14:26] akoeplinger commented on #8341
/cc @directhex for the tarball issue.

/cc @luhenry for release notes.

[2018-04-19 14:39] directhex commented on #8341
Right, right, it's not moved out of the preview/ directory on promoting to stable. Will do that manually, and script for the future.

[2018-04-19 14:47] directhex commented on #8341
@akoeplinger does https://jenkins.mono-project.com/view/Releases/job/ng-release-promote/jobConfigHistory/showDiffFiles?timestamp1=2018-04-18_03-44-57&timestamp2=2018-04-19_14-46-06 seem sane to you?

[2018-04-19 15:00] lewurm commented on #8329
Thanks for your bug report. We actually never had the interpreter running on Windows. Luckily it was a trivial change to get it working there 🙂

Did you compile mono yourself or did you obtain it somewhere?

[2018-04-19 15:45] akoeplinger commented on #8341
@directhex I'd `cp` instead of `mv` but otherwise 👍

[2018-04-19 15:48] akoeplinger commented on #8341
@directhex we also need to trigger CDN invalidation

[2018-04-19 16:41] kumpera opened #8344 "extract wasm nunit result xml files"
All the test suites we run under wasm use a nunit test driver so it should be possible to exfiltrate those results into files so we can better integrate with our CI infrastructure.

[2018-04-19 16:42] kumpera commented on #8344
Figure out how to programmatically get the same as `-format:nunit2 -result:TestResult-XXX.xml`

[2018-04-19 16:44] kumpera opened #8345 "[wasm] Re-enable System.Core test suite under chakra"
Chakra core currently segfaults when running the System.Core test suite.

We should reenable that test once they ship a fixed release.

Filled upstream as https://github.com/Microsoft/ChakraCore/issues/5015

[2018-04-19 19:10] alexanderkyte commented on #8217
@aleksey, this is an offline dump so I'm not sure how much benefit we can get from the MonoInternalThread pointers.

[2018-04-19 19:21] pjcollins opened #8349 "[XA][2018-02]System.Threading WaitHandle_WaitOne_SynchronizationContext test fails on Android"
A relatively new bcl-test added last December fails when running on Android. This test failure is not a new "regression" so to speak, the same test source fails when built against the current stable version of monodroid which includes mono 2017-10.
## Steps to Reproduce

1. Download and run the project attached below which copies out this test source into a blank Android project
[App63.zip](https:

[2018-04-19 19:23] bocciab opened #8350 "UnobservedTaskException - ObjectDisposedException in MobileAuthenticatedStream"
In the last week, we've had 59,891 distinct devices encounter it a total of 282,388 times. It appears this affects 4.0 and 4.2.1:

[code]
----
[code]

I don't have a specific repro, because the stack trace is incomplete due to being an unobserved task. We had reported this on https://bugzilla.xamarin.com/show_bug.cgi?id=61002, but that was closed without fully resolving our issue.

This could also

[2018-04-19 19:28] luhenry commented on #8349
This is the test that was introduced with https://github.com/mono/mono/commit/252d61d0558b0bfa3461f3339ce617e2e4c285bb, change which was partially reverted on XA with https://github.com/mono/mono/commit/64ec2dd3eb1309b84819b34c4279d946acacd082. The test should then be disabled on XA.

An explanation of the origin of the breakage can be found at https://github.com/xamarin/xamarin-android/issues/156

[2018-04-19 19:36] dsyme commented on #8310
@akoeplinger That diff is an utterly grotesque abomination - seriously, why are we complexifying .NET like this?  99.9% of users never need to know or think about Span, the others should opt-in.

[2018-04-19 19:53] brendanzagaeski commented on #8350
The merged pull request #6125 does make significant changes to the code paths related to these exceptions. See also https://github.com/mono/mono/issues/7194 for some discussion about some _different_ unobserved exceptions that arose _after_ #6125 and how those were fixed.

The changes from #6125 and the follow-up fixes for #7194 are part of the Mono `2018-02` branch. That Mono branch has not yet b

[2018-04-19 19:54] lambdageek commented on #8217
@alexanderkyte my main motivation is just to have a way of figuring out which managed thread object corresponds to which native thread.

Existing backtraces that we get in either lldb or the apple crash reporting dialog typically show native thread IDs.

On the other hand a lot of our assertions tend to print the value of `MonoInternalThread*` of some thread or a managed thread object.

It would b

[2018-04-19 20:00] dsyme commented on #8310
Fix is here: https://github.com/fsharp/fsharp/pull/844 currently being tested through CI

[2018-04-19 20:04] slluis commented on #8217
About your comment on GDPR, I think it should be enough to whitelist the assemblies that belong to VSMac, and only report stack frames for those assemblies. In general we don't run user code in the VSMac process, but we may run code from third party extensions.

[2018-04-19 20:16] bocciab commented on #8350
Given the size of impact on our users, is there anything we can do between now and d15-8 to mitigate the issue? What's the ETA for d15-8?

[2018-04-19 20:56] brendanzagaeski commented on #8350
The first set of published packages based on the `d15-8` branches would be Visual Studio 2017 version 15.8 Preview 1. Based on historical precedent, that version is likely to be released within a week or two of the first Visual Studio 2017 version 15.7 non-preview release. And based on historical precedent, the first version 15.7 non-preview release is itself likely not far away (weeks). See for c

[2018-04-19 22:37] lambdageek opened #8355 "Fix Mono.Profiler.Log-xunit tests under hybrid suspend"
The `Mono.Profiler.Log-xunit` testsuite is failing on Jenkins all platforms using hybrid suspend.

[hybrid coop master builds](https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybrid-suspend/) and every PR, too: [Linux AArch64](https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-hybrid-suspend-arm64/) and [Linux x64](https://jenkins.mono-project.com/view/P

[2018-04-19 22:59] lambdageek opened #8356 "Hybrid suspend: backtrace in GC Unsafe mode considered harmful (on Linux)"
It can race with the dynamic linker 😠

This is from https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybrid-suspend/label=debian-9-armel/5/parsed_console/log.html

Thread 1 is... I don't even know. But it's apparently GC Safe, so we async suspend it. it's holding a lock that Thread 4 needs.  Thread 4 just did a GC Safe -> GC Unsafe transition (so we want to cooperatively suspend it),

[2018-04-19 23:02] lambdageek commented on #8356
@luhenry we should audit `mono_threads_exit_gc_safe_region_unbalanced_internal` and `mono_threads_enter_gc_unsafe_region_unbalanced_internal` to make sure that we do as little as possible after we flip from `BLOCKING` to `RUNNING`.  Ideally nothing that could even _think_ about taking a lock or blocking.

[2018-04-19 23:08] luhenry commented on #7333
`FullAOT+LLVM` and `JIT+LLVM` are available on PRs with `@monojenkins build Linux x64 FullAOT+LLVM` and `@monojenkins build Linux x64 JIT+LLVM` respectively. The former is enabled on all PR, and the latter is available on-demand. They both have some breakages, but the later doesn't even pass the build stage.

Once we have a solid `FullAOT+LLVM`, I will add `{,hybrid}AOT{,+LLVM}` to all PRs with th

[2018-04-19 23:27] alexanderkyte commented on #8217
If we optimistically symbolicate I don't think that we need to do anything complex here, because we simply won't have the symbols for other peoples' code on our servers.

[2018-04-19 23:33] luhenry commented on #8341
@marek-safar could you please take care of the release notes?

[2018-04-19 23:36] luhenry commented on #8284
Added `Interpreter+FullAOT` and `Interpreter+FullAOT+LLVM` for "should be added", this will cover mixed-mode which will mostly be useful to iOS on devices where the JIT isn't available. They will complement the `Interpreter` lanes since we still want to test the Interpreter by itself to help guarantee we do not regress.

[2018-04-19 23:41] luhenry commented on #7143
Depends on https://github.com/mono/mono/pull/8051.

[2018-04-19 23:55] jaykrell commented on #8356
The fact that backtrace races/interlocks with dynamic linking is an old known funny situation.

Windows exception handling interacts with the loader, and any thread(s) can dispatch their own exception, while any thread loads/unloads .dlls. The locking is done very carefully. Perhaps the other . systems are less careful?

Usually you won't stack walk through unloaded or loading code, but in the pre

[2018-04-19 23:57] lambdageek commented on #8356
I agree, we should focus on replacing backtrace here.

But there's also a more general issue: hybrid suspend is asking for a stronger guarantee of the runtime than even full coop. If a thread is in GC Unsafe, it cannot call anything that might share a lock with GC Safe code because the GC Safe code might be suspended while holding the lock.

[2018-04-20 00:01] jaykrell commented on #8356
Not ignoring that -- though I don't understand all the transitions.

I remembered what thread 1 might might be doing.. it could be calling any dynamically linked function whatsoever and invoke lazy loading.

I suggest we try linking mono with the "bind now" flag or whatever it is called. That will increase load time slightly, and cut down on transitions into the load at difficult to predict times.

[2018-04-20 01:56] yindongfei commented on #8329
I got mono from official download link. I can build it from source code and try again.

[2018-04-20 02:25] #8329 closed

[2018-04-20 04:28] #8310 closed

[2018-04-20 04:39] kasper3 commented on #8340
Fot donet core, maybe try `dotnet nuget --invalidoption`

[2018-04-20 07:13] FrozenShade666 commented on #8272
I found the bug and made a PR.

[2018-04-20 07:31] jaykrell commented on #8125
Should be fixed by https://github.com/mono/mono/commit/e97721555ebb2bb22de242d8764c614b0aff60cd.

[2018-04-20 07:34] slluis commented on #8217
what about assembly names?

[2018-04-20 08:40] lewurm opened #8360 "[System.Net.Sockets] flakey failures of SocketTest.TestSelect1 on Darwin systems"
I couldn't reproduce it locally yet, but it seems to happen often enough.

I first saw it on the XI 2018-02 device tests run:
https://github.com/xamarin/xamarin-macios/pull/3402#issuecomment-382528658

later in the tvOS simulator, again for XI 2018-02:
https://github.com/xamarin/xamarin-macios/pull/3402#issuecomment-382815289

and now the mono OS X i386 lane (master):
https://jenkins.mono-project.

[2018-04-20 08:42] lewurm commented on #8360
can someone with knowledge in this area verify that the test itself does make sense?
https://github.com/mono/mono/blob/42d425cb62db513146b1a463e22323f4d5b577f4/mcs/class/System/Test/System.Net.Sockets/SocketTest.cs#L253-L315

[2018-04-20 08:43] lewurm commented on #8360
it looks like a bit fishy: Is `Thread.Sleep` used as a synchronisation primitive in this test?

[2018-04-20 08:46] filipnavara commented on #8360
I am really concerned about the structure of the test... Can you try what happens if you:
1) Add Thread.Sleep at the beginning of ConnectSleepClose method?
2) Add Thread.Sleep between th.Start and srv.Accept calls?

I am almost certain it will affect the outcome one way or another and just show that the test has race condition.

[2018-04-20 09:05] jaykrell commented on #8273
This might be a regression, in that we used to never tailcall gshared, which I assume includes gsharedvt, which I think this is (primitives are considered value types, right?).

Now we do tailcall them, and the slowdown might be specific to tailcall. I haven't checked.

[2018-04-20 10:16] jaykrell opened #8362 "AOT leaving files/directories around?"
AOT used to overwrite the same file over and over, and maybe not delete it.

This caused a race condition in the build, opening files in the middle of being written.

Now it appears to create ever new directories and not delete them.
I noted in the PR it was suspicious and now see this in Jenkins:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/115/consoleFull#48144

[2018-04-20 11:36] akoeplinger commented on #8125
You can use the [nightly builds](http://www.mono-project.com/download/nightly/) to try the fix :)

[2018-04-20 11:36] #8125 closed

[2018-04-20 12:24] lewurm commented on #8360
If I move `clnt.Write ()` after the first `Select ()`, it fails in the same way, but I don't know how this could happen with the current test. If I try what you suggested @filipnavara, it ends up with exceptions being thrown due to accessing a disposed object (which is a problem with this test case, but not the problem that we are seeing).

I submitted #8364 which at least gets rid of the one fact

[2018-04-20 13:43] akoeplinger commented on #8360
XI issue: https://github.com/xamarin/xamarin-macios/issues/3239

[2018-04-20 14:14] akoeplinger commented on #8277
/cc @kumpera

[2018-04-20 14:40] akoeplinger commented on #7859
I think we should do this, we'll need to regenerate the reference assemblies with an updated GenAPI.exe that includes the changes to preserve fields in structs.

[2018-04-20 14:49] akoeplinger commented on #8100
@directhex instead of doing it in the packages can we do it as a flag here in the Mono repo or our boringssl fork? This will make it easier to notice and also help others who build Mono/BTLS themselves.

[2018-04-20 15:03] akoeplinger commented on #7975
I think this was closed accidentally, reopening.

[2018-04-20 15:10] akoeplinger commented on #7829
Instead of putting the files in a git repo we could also just upload them to an Azure Blob, they shouldn't need to be changed after all.

[2018-04-20 15:33] directhex commented on #8100
If we change it in our real git tree, are we committing to "I dunno lol ¯\\\_(ツ)\_/¯" as our solution, i.e. not trying to fix this "properly"?

Disabling all optimized routines on 32-bit ARM seems a bit extreme as a global solution, no?

[2018-04-20 15:38] akoeplinger commented on #7859
@marek-safar the .NET Framework reference assemblies do contain these private struct fields.

[2018-04-20 15:40] akoeplinger commented on #8100
@directhex well if you commit it to the packaging files then it's as real as our git tree :) I just want to make sure this is noticed, not a special snowflake workaround which is hidden in the Linux packaging files.

[2018-04-20 15:45] luhenry commented on #8329
@lewurm should we have a `Windows x64 Interpreter` CI lane?

[2018-04-20 16:09] luhenry commented on #8355
/cc @alexrp

[2018-04-20 16:14] lewurm commented on #8329
@yindongfei you can actually get a master build here: https://xamjenkinsartifact.azureedge.net/build-package-win-mono/master/992/8127483e8a6b76f2febfdd72968db34f004990e2/mono-5.15.0.228-x64-0.msi

[2018-04-20 16:14] kumpera commented on #8277
Synchronous waits won't work because they depend on the main loop being available.
Right now there's no interop story between C# & JS promise/Task. We're working on it.
cc @kjpou1

[2018-04-20 16:15] lewurm commented on #8329
@luhenry I don't think we need one

[2018-04-20 17:11] jaykrell opened #8372 "unload-appdomain-on-shutdown.exe flaky test"
Flake?

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-aarch64/4325/testReport/junit/MonoTests/runtime-interp/unload_appdomain_on_shutdown_exe/

[code]

This is the only failure among required CI in https://github.com/mono/mono/pull/8265
[Tailcall amd64] Use calli/tailcall_reg in method-to-ir for F# FullAOT.
This fixes some F# tests under FullAOT.

Similar but not quite th

[2018-04-20 17:21] jaykrell opened #8373 "Threading.Tasks.Tests.BreakTests.TestFor_Break_64Bits flaky test"
https://jenkins.mono-project.com/job/test-mono-pull-request-armhf/12500/
est Result (1 failure / +1)
.Threading.Tasks.Tests.BreakTests.TestFor_Break_64Bits(loopsize: 100, breakpoint: 10)

[2018-04-20 17:32] jaykrell commented on #8372
(link was taking too long to paste in the details sorry)

[2018-04-20 17:38] #7685 closed

[2018-04-20 17:39] kumpera opened #8374 "[wasm] Safari issues"
This meta-issue is to collect external bug reports to WebKit/Safari WRT our usage of WebAssembly.

Mobile Safari crash: https://bugs.webkit.org/show_bug.cgi?id=184827

[2018-04-20 17:53] luhenry commented on #7014
This doesn't happen on CI for monodevelop/md-addins on master.

[2018-04-20 17:53] #7014 closed

[2018-04-20 17:54] kumpera commented on #8374
Safari Tech Preview crash: https://bugs.webkit.org/show_bug.cgi?id=184829

[2018-04-20 17:59] kumpera opened #8378 "WebAssembly: Debugger support"
This issue tracks the pending work to get the debugger to work:

MVP:
- [x] Set and Hit Breakpoints
- [x] Handle page reload
- [x] Fix/workaround asp.net crashes/races when WASM payload is parsed
- [x] Unify debugging engine with sdb
- [x] Single stepping
- [x] Build MonoProxy as a library and ship it on mono-wasm.zip
- [x] Move proxy code to mono repo
- [x] BP manipulation (enable/disable/remove)

[2018-04-20 18:09] kumpera commented on #8374
JSC crash: https://bugs.webkit.org/show_bug.cgi?id=184830

[2018-04-20 20:14] #8236 closed

[2018-04-20 20:14] luhenry commented on #8236
@monojenkins backport to 2018-02

[2018-04-20 20:14] luhenry commented on #8236
@monojenkins backport to 2018-04

[2018-04-20 21:19] marek-safar opened #8386 "Add new system profile to csproj files"
This is useful to have mostly for mcs/tools as anyone can open the csproj and build them using installed system mono or .net and possibly for tests later. We should probably also bump the target .net version to 4.7.1 to have less possible compilation issues.

I am fine to call the profile `system`

[2018-04-20 21:30] marek-safar commented on #7418
This adds almost no value. We are already running mcs tests suite which covers many more cases than running mcs for BCL.

We need to run csc compiled BCL tests with interpreter. That's significantly more useful target.

[2018-04-20 21:39] jaykrell opened #8387 "Mac/x86 FullAOT build"
FullAOT + Mac/x86, is that a thing?
I get this on mono/master, just building it before any changes.

[code]

[2018-04-20 21:47] jaykrell commented on #8387
It actually hits for mscorlib.dll too. :(

[2018-04-20 22:06] luhenry commented on #7418
@marek-safar csc is a much bigger target to support than mcs, possibly putting it many month away from doable. mcs is the only solution over csc that would allow us to guarantee we do not regress the interpreter when compiling the BCL. Discarding it as "does not add value" is just pushing aside the existing context.

[2018-04-20 22:09] luhenry commented on #8387
Can you make sure it's easy for anybody else to read your message? See https://guides.github.com/features/mastering-markdown/ for a guide on how to use markdown. And if that can help you structure your message, follow the [issue template](https://github.com/mono/mono/blob/master/.github/ISSUE_TEMPLATE.md)

[2018-04-20 22:13] jaykrell commented on #8387
I did try to make it readable. I must have something wrong here in my setup.
Mac/amd64 fine all week, Linux/arm32, Linux/arm64 fine today, just Mac/x86 not working.

[2018-04-21 03:25] marek-safar commented on #7418
I didn't say we have to run csc using the interpreter. I just don't see little value in using the interpreter to build BCL. What does it add us on top of what we have today? If you can run mcs test suite using the interpreter we can almost certainly build BCL using mcs. There are not special IL patterns for the different BCL libraries used in mcs

[2018-04-21 06:32] #8311 closed

[2018-04-21 13:04] stefan-schweiger commented on #8277
@kumpera Thanks for your answer. Is there an issue I can watch/subscribe to get updates on this topic or will you just post updates regarding this here?

[2018-04-21 14:38] hazama-yuinyan opened #8391 "Are there any plans to support the LambdaExpression.CompileToMethod(MethodBuilder, DebugInfoGenerator) API?"
## Steps to Reproduce

1. Create a class that is derived from `System.Runtime.CompilerServices.DebugInfoGenerator`
2. Call the `LambdaExpression.CompileToMethod` with it
3. That's it

## Current Behavior

The implementation just ignores the second parameter.

## Expected Behavior(which I want)

The implementation respects the second parameter as well.

### On which platforms did you notice this

[

[2018-04-21 20:35] marek-safar commented on #8387
@jaykrell there is a template to fill when you open an issue. It's there to help you to fill a report which others understand not to immediately replace it with the output of your terminal.

Secondly, the issue and possible solution(s) should be separate things. Please try to follow that in your next tickets.

[2018-04-21 21:11] marek-safar commented on #7859
oh! I am not sure why I thought they didn't. In such case it's absolutely issue on our end

[2018-04-21 21:45] marek-safar commented on #8350
I am closing the issue for now as we believe it should be fixed in 15.8 release.

Please share a repro we could use to verify your use case or re-test with the 15.8 version once you can access it and re-open if you can still reproduce it

[2018-04-21 21:45] #8350 closed

[2018-04-21 22:04] marek-safar commented on #8316
The referencesource version depends on native implementation which is not cross platform.

[2018-04-21 23:36] marek-safar opened #8397 "Implement GC.GetAllocatedBytesForCurrentThread"
This is a new API as proposed [here](https://github.com/dotnet/corefx/issues/10157).

It should help us to better integrate with benchmark.net and possibly other tools.

ColeCLR implementation https://github.com/dotnet/coreclr/pull/6953

[2018-04-22 06:09] jaykrell commented on #7167
We could ifdef muslc go back to the old way, but I'd kind not like to do that. Our binaries should avoid being glibc or muslc-specific. One set of binaries is ideally very portable across multiple Linux distributions/distributions -- assuming glibc and muslc are very very binary compatible.

We could go back to the old way?
Did it work ok?

There is some third way that works well on both/all?

I a