[2019-01-03 11:39] lewurm commented on #12134
Depending on your goal, it might be easier to use Xamarin.iOS by the way.

[2019-01-03 11:39] marek-safar commented on #12252
You are right, updating the relevant docs

[2019-01-03 11:39] #12252 closed

[2019-01-03 11:46] dN2hvlaBMFCd commented on #12182
Can confirm that does work indeed. So, that does suggest we've found the culprit indeed. Good to know. Looking forward to seeing that remedied forthwith with a patch.

[2019-01-03 13:05] marek-safar opened #12255 "Update System.Data.Entity to handle new String overloads"
After adding new string overloads we need to update System.Data.Entity mapping table otherwise the new overloads won't be recognized leading to unhandled exceptions for the new best overloads

The code to be updates can be fount at https://github.com/mono/mono/blob/40ec59d65b22590c6a5f4ed065d9f0a04de3db39/mcs/class/referencesource/System.Data.Entity/System/Data/Objects/ELinq/MethodCallTranslator.c

[2019-01-03 14:23] marek-safar commented on #11403
@lambdageek is the issue still open?

[2019-01-03 14:23] noabody commented on #12182
[Intel® Software Development Emulator Download](https://software.intel.com/en-us/articles/pre-release-license-agreement-for-intel-software-development-emulator-accept-end-user-license-agreement-and-download)

Apparently emulates SSE 4.1.  As it was when SSE2/SSE3 became requirements for much of the software in use today, so too will SSE4.1.  Those of us with older, usable machines, know how this p

[2019-01-03 14:33] dN2hvlaBMFCd commented on #12182
Emulating SSE4.1 is no solution though, if I may be so bold.

- It is not going to be adopted widespread, emulation of SSE4.1. Can't very well expect people to install external tools just to continue using the one that broke in the first place. That's just messy.
- Emulating it is probably slower than not using it at all. OK, gross assumption but probably not untrue.
- Implementing a conditional i

[2019-01-03 14:34] directhex commented on #12182
The issue should be mitigated in 5.18.0.225-0xamarin13 and 5.16.0.220-0xamarin5

If you have existing SSE4.1-requiring AOT caches on disk, you can safely just delete the contents of /usr/lib/mono/aot-cache/

[2019-01-03 14:36] directhex commented on #12228
Any change?

[2019-01-03 14:42] directhex commented on #12182
Realizing my change means you can't LLVM AOT on ARM any more, since ARM (surprisingly enough) fails the "does it have SSE4.1" check. Oopsie.

[2019-01-03 14:46] Nabile-Rahmani commented on #12182
Can't the CPU capabilities be probed via [CPUID](https://en.wikipedia.org/wiki/CPUID) and the LLVM SSE4.1 optimisation added conditionally with said capability listing ?

[2019-01-03 15:09] directhex commented on #12182
Probably! It just... wasn't done that way.

What we're doing is just passing command-line arguments to `llc`, and unhelpfully, `llc` doesn't have anything like gcc's `-march=native` to optimize for the detected CPU.

[2019-01-03 16:09] directhex commented on #12144
Are you in some weird proxy environment?

Try using `curl http://download.mono-project.com/repo/xamarin.gpg | apt-key add -` instead

[2019-01-03 16:12] directhex commented on #12064
We generate .bat equivalents to the .sh files we generate during build, here:

https://github.com/mono/mono/blob/master/packaging/Windows/defs/mono#L80-L98

[2019-01-03 16:15] lambdageek opened #12262 "Reused pthread_t and stale MonoThreadInfo slows stop-the-world"
This was observed in #11403

The issue is that OSX seems to reuse `pthread_t` ids (at least for GCD worker threads) in a way where Mono doesn't realize that a thread went away and a new one was constructed.  As a result, we see stale `MonoThreadInfo` values.

If there's a GC STW at the same time as a thread is starting up and that thread has a reused `pthread_t`, we will iterate over it during STW

[2019-01-03 16:16] lambdageek commented on #11403
The crash is fixed. It is still worth investigating if we need better accounting of `pthread_t` getting reused and mono iterating over stale `MonoThreadInfo` as a result.  I open a new GH Issue for that #12262

[2019-01-03 16:16] #11403 closed

[2019-01-03 16:20] #11765 closed

[2019-01-03 16:23] #12235 closed

[2019-01-03 16:25] rjvdboon opened #12263 "The ENABLE_GSS define should be enabled in System/Makefile"
## Description

When mono/pull/11778 moved Interop.NetSecurityNative from System.Data to System the associated Makefile define in System.Data
[code]
was not moved with it, and thus all NativeSecurity interop on unix like systems throws NotSupportedException.

## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

Be able to use System.Data with integrated security.

## On wh

[2019-01-03 16:48] lambdageek commented on #11956
This is a race condition between `mono_thread_suspend_all_other_threads` and `mono_thread_detach_internal` during shutdown.

The issue is that `mono_thread_detach_internal` calls `mono_os_event_destroy (thread->suspended)` and `thread->suspended=NULL` and later `mono_thread_suspend_all_other_threads` calls `mono_os_event_reset (thread->suspended)`.

This happens because `mono_thread_suspend_all_ot

[2019-01-03 16:52] #12228 closed

[2019-01-03 17:35] Nabile-Rahmani commented on #12182
[mattr](https://llvm.org/docs/CommandGuide/llc.html#cmdoption-mattr), along with [mcpu](https://llvm.org/docs/CommandGuide/llc.html#cmdoption-mcpu) seem like they're defaulting to optimising for the automatically detected CPU, but I have no idea if it actually does this (or if it's even in the version in use by Mono).

But then again, the defaults for the chip might not use all the chip's features

[2019-01-03 19:14] directhex commented on #8648
I'm closing this. I've killed ARM64 support for Debian 8 and Ubuntu 14.04, for 2019. GCC 4's ARM64 support is just too broken to support (95% of our package build failures are random failures on ARM64 with GCC 4)

[2019-01-03 19:14] #8648 closed

[2019-01-03 19:30] sonicmouse commented on #9207
Doesn't look like this is a problem any longer. Tested on 5.18 of mono on ARM linux (debian) and Intel x64 linux (lubuntu)

[2019-01-03 19:30] #9207 closed

[2019-01-03 20:17] TucsonYazdi commented on #12144
Yes, I have to go through a proxy server.  The above command worked! I followed that with an apt update, apt-get upgrade mono-complete, and apt-get install monodevelop.

Thank you!

[2019-01-03 20:17] #12144 closed

[2019-01-03 20:36] nealef commented on #9009
Fixes required to get building under Ubuntu 18.04

* PIE issue: Add ```-no-pie``` to CFLAGS/CXXFLAGS when running autogen.sh. This is a circumvention that prevents a problem of a null variable being passed from ```method-to-ir``` to ```mono_method_get_signature_checked```

* MonoContext: Conditional compilation based on GLIBC level as struct ucontext has changed to ucontext_t
[code]

* Successful

[2019-01-04 01:54] lambdageek commented on #12060
@rjvdboon Could you try #12266 in your environment (hopefully the changes to `mono/mini/Makefile.am.in` will backport cleanly to 5.16).

[2019-01-04 08:11] #12087 closed

[2019-01-04 08:19] marek-safar commented on #12251
The latest stable is 5.18 which is months newer than 4.8

[2019-01-04 14:59] rjnatraj commented on #12251
I checked with the latest version, 5.18.0. Below is the stack trace.

Snix_PreLogin (provider: SNI_PN6, error: 31 - SNI_ERROR_31) ---> System.IO.IOException: The authentication or decryption has failed. ---> System.IO.IOException: The authentication or decryption has fa
iled. ---> System.InvalidCastException: Specified cast is not valid.
  at Mono.Security.Protocol.Tls.RecordProtocol.EndReceiveRec

[2019-01-04 17:12] nealef commented on #9009
For the 7.3->7.2 issue what is the best approach?
* ```if S390X``` (and AIX/PPC64) within the ```mono/tests/Makefile.am```
* In ```configure.ac``` add a ```BIG_ENDIAN``` variable (that could also be used for defaulting to ```mcs``` instead of ```roslyn```
* Something else?
Then using whatever approach set ```LANGVERSION``` to 7.3 or 7.2 then use that variable:
[code]

[2019-01-04 18:38] nealef commented on #9009
PR #12272 mono-context.h patch. If this acceptable it should be backported to 2018-08.

[2019-01-04 18:44] rjvdboon commented on #12060
@lambdageek I'll try in a week or so (I don't have access to the relevant environment for the next couple of days)

[2019-01-04 21:18] aaronfranke commented on #7445
When it comes to triaging: I would recommend solving this issue at least before 2019 ends, so that Ubuntu 20.04 LTS can ship with Mono 5.x. Ubuntu 18.10 still ships Mono 4.6.2.7.

[2019-01-04 21:35] directhex commented on #7445
I have a 5.16 Debian-ready-in-theory package done, but it's blocked on unresolved MIPS build failures.

[2019-01-04 21:53] jbicha commented on #7445
Are there few enough mono packages in Debian to make it feasible to remove mono from mips?

I suppose it's too late to be doing something big like that for Debian Buster though. :frowning_face:

[2019-01-05 02:02] wlchui opened #12277 "Sound Player did not work on Raspbian 9"
## Steps to Reproduce

1.  I compiled a simple application in .net c# to try the Soundplayer.
2.  The same compiled code was tried in Windows (which works).
3.   And tried on a raspberry pi 3 board running raspbian 9 which did not work.

### Current Behavior
------------------------
The compiled version works in Windows with no problem.  The sounds player is playing normally.

When i copied the co

[2019-01-05 06:31] knocte commented on #7445
If you share a link to those maybe the community can help?

[2019-01-06 02:31] purerosefallen opened #12283 "INSTALL FAIL"
## Steps to `Reproduce`

1. On the nightly release, `sudo apt install mono-complete -y` ,the install went into error.
2.
3.

### Current Behavior

<pre><font color="#8AE234"><b>nanahira@nanahira-another</b></font>:<font color="#729FCF"><b>~</b></font>$ sudo apt install -f
正在读取软件包列表... 完成
正在分析软件包的依赖关系树
正在读取状态信息... 完成
正在修复依赖关系... 完成
将会同时安装下列软件：
  ca-certificates-mono
下列软件包将被升级：
  ca-certificates-mon

[2019-01-06 08:20] jeroenmeulenaar opened #12284 "Why is jessie-stable updated daily?"
I'm not sure if this is the right place to ask, but https://download.mono-project.com/repo/debian brought me here.

I'm maintaining a debian Jessie (old-stable) system. To be able to run Duplicati, I have a line in `apt.sources.d` which reads
`deb https://download.mono-project.com/repo/debian stable-jessie main`

However, this has an update each day! This is not what I'd like on my stable system (

[2019-01-06 12:01] waji3000 opened #12286 "mscorlib.dll run fail"
1. system: win7 x64, vs 2017 15.9.2
2. Follow "Compiling Mono on Windows without Cygwin"(https://www.mono-project.com/docs/compiling-mono/windows/no-cygwin/), i get mono-sgen.exe and mscorlib.dll.
3. copy mono-sgen.exe and other files to folder mono
rename mono-sgen.exe to mono.exe
copy mscorlib.dll and other files to folder mono\lib\mono\4.5
4.Then test, hello.cs
using System;
namespace TestMONO

[2019-01-07 08:57] BrzVlad opened #12292 "Incorrect abort rethrow check"
## Steps to Reproduce

1.  Run the following test case.

[code]

### Current Behavior

The thrown abort exception is not reset.

### Expected Behavior

The abort exception should be reset and the test should print ok

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

master

[2019-01-07 09:13] marek-safar commented on #12286
@lateralusX could you help?

[2019-01-07 09:14] marek-safar commented on #12284
/cc @directhex

[2019-01-07 10:50] marek-safar commented on #12251
@EgorBo does it look familiar?

[2019-01-07 10:52] marek-safar commented on #12263
@baulig please address this issue

[2019-01-07 11:58] #10768 closed

[2019-01-07 13:21] #11960 closed, assigned to alexischr

[2019-01-07 13:21] marek-safar opened #12300 "Japanese calendar era change"
The Japanese Calendar has Japanese Era Names that coincide with the reign of the Emperor.  For most of the modern age of computing that has been the Heisei era, however the Emperor is expected to step down on April 30, 2019.  Which will bring about the beginning of a new era.  Fortunately, this is a rare event, however it means that most software has not been tested to ensure that it will behave w

[2019-01-07 13:50] flensrocker commented on #9511
We have this problem with `System.Net.HttpWebRequest`.

[2019-01-07 14:24] srxqds opened #12301 "libmono-native-unified.0.dylib img not found"
I run test app on iOS and then got the crash:

Incident Identifier: FD06EC1A-B4EA-4DDC-A689-BA0E596D9CAE
CrashReporter Key:   f49748af7915c47734fa0802366b565b70afb37b
Hardware Model:      iPad4,4
Process:             test-System.Data [34961]
Path:                /private/var/containers/Bundle/Application/FDB670E5-63EA-47CF-BAC0-677D0B9E8499/test-System.Data.app/test-System.Data
Identifier:

[2019-01-07 15:30] directhex commented on #12284
It's not actually updated daily - the last pushes to the Stable repo were 5.18.0.225-0xamarin13 on Jan 3 (which fixed install failures for people with CPUs without SSE4.1 support), 5.18.0.225-0xamarin1 on Dec 22 (the 5.18 stable upload), and 5.16.0.220-0xamarin4 (5.16 update to align with release of Visual Studio for Mac 7.7)

What does `apt-cache policy mono-runtime` say?

And are you seeing _pac

[2019-01-07 16:40] alexanderkyte commented on #11919
Fixed by https://github.com/mono/mono/pull/12126

[2019-01-07 16:40] alexanderkyte commented on #11918
Fixed by https://github.com/mono/mono/pull/12126

[2019-01-07 16:42] baulig commented on #12263
Sure, I should have a PR up shortly.

[2019-01-07 17:35] baulig commented on #11515
Fixed with https://github.com/mono/mono/pull/11967

[2019-01-07 17:35] #11515 closed

[2019-01-07 21:07] mathieubourgeois opened #12307 "[android][armv7][aot][llvm] Llvm generates invalid code because datalayout isn't set"
This bug is a continuation of a Xamarin.Android issue at https://github.com/xamarin/xamarin-android/issues/2521. A lot of details has been added there, but I'll try to list the important parts here as well.

Creating a new Xamarin.Android app in VS with the latest Xamarin.Android master (or d16-0 p2 branch) causes a crash on code generated by llvm.

Some infos :

- Crash only occurs on AOT+LLVM on

[2019-01-08 02:39] srxqds opened #12309 "Running tests from `sdks/ios` that use `System.Native` is not currently supported."
1.  cd sdks/ios
2. make run-ios-dev-corlib

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

## Stacktrace

(lldb)     safequit
Process 37839 detached
*** test-runner output ***
NUnitLite 1.0.0 (.NET 4.5 Debug)
Copyright 2013, Charlie Poole

Runtime Environment -
    OS Version: Unix 17.7.0.0
  Mono Version: 4.0.50524.0

System.TypeInitializationException: The type initi

[2019-01-08 02:59] srxqds commented on #12301
If I modify appbuilder.cs:
 ibs += " $mono_sdkdir/ios-target64-release/lib/libmono-native-unified.0.dylib";
instead by
"ibs += " $mono_sdkdir/ios-target64-release/lib/libmono-native-unified.a";

it will meet "DllNotFoundException: System.Native" error!

[2019-01-08 07:05] srxqds commented on #12283
hi，我在嵌入ios上面也遇到类似的问题，各种坑爹的问题

[2019-01-08 07:06] srxqds commented on #12283
hi，我在ios嵌入也遇到类似的问题，有时间可以交流下

[2019-01-08 07:09] srxqds commented on #12301
Do you test on ios device?

[2019-01-08 09:50] scooper91 commented on #12309
I'm seeing a similar issue this morning when trying to update `ca-certificates-mono`.

[code]

[2019-01-08 10:15] kjpou1 commented on #11856
Closed via: https://github.com/mono/mono/pull/12211

[2019-01-08 10:15] #11856 closed

[2019-01-08 11:12] baulig commented on #12301
Duplicate of https://github.com/mono/mono/issues/12309

[2019-01-08 11:12] #12301 closed

[2019-01-08 11:14] baulig commented on #12309
Running any tests from `sdks/ios` that use `System.Native` is not currently supported (and won't be until the 2018-10 integration is done).

[2019-01-08 11:19] baulig commented on #12309
The Ubuntu issue is likely a packaging / installation issue and unrelated to `sdks/ios`.

[2019-01-08 11:21] baulig commented on #12283
There's already another issue open about this.

[2019-01-08 11:21] #12283 closed

[2019-01-08 11:37] scooper91 opened #12316 "Unable to update ca-certificates-mono package"
I'm trying to update the packages on my machine.  It is failing on the `mono-devel` package with the following error:
[code]

When trying to specifically update the `ca-certificates-mono` package, it errors.

## Steps to Reproduce

1. apt install ca-certificates-mono

### Current Behavior
[code]

### Expected Behavior

The package to install without any issues.

## On which platforms did you notic

[2019-01-08 11:47] #7326 closed

[2019-01-08 11:50] mfilippov commented on #7326
@thaystg Thank you for the fix!

[2019-01-08 12:20] evgn commented on #9136
@Zhentar Really interesting idea! Maybe it makes sense to emit other mono events like Exceptions, Contentions, GC etc using Microsoft-Windows-DotNetRuntime provider. The fact is that mono and DotNetRuntime events have very similar data.

FYI: https://docs.microsoft.com/en-us/dotnet/framework/performance/clr-etw-events

[2019-01-08 13:33] #12263 closed

[2019-01-08 13:41] baulig commented on #12309
The problem is that `System.Native` is not currently supported at all in Xamarin.iOS or Xamarin.Mac.

Making changes in the `sdks/ios` directory won't change that - you might get the those tests to pass, but that'd essentially be a false positive as no user application would work.  Those require tooling changes in `mmp` and `mtouch`.

This was supposed to be done with the 2018-10 monthly integrati

[2019-01-08 13:44] baulig commented on #12309
@scooper91 Thanks.

Unfortunately, I don't know much about how we're building packages for Ubuntu, but maybe @directhex could help?  If you could point me to the script that's being run during this `apt install ca-certificates-mono`, then I could investigate whether it is a packaging error or something else.

[2019-01-08 13:53] marek-safar commented on #10304
The issue no longer reproduces with dev16.0 version (in preview), closing it.

[2019-01-08 13:53] #10304 closed

[2019-01-08 14:10] scooper91 commented on #12309
@baulig I've made an issue here for the behaviour I am seeing: https://github.com/mono/mono/issues/12316

[2019-01-08 14:17] rolfbjarne commented on #12131
Yes, this is fixed now.

[2019-01-08 14:17] #12131 closed

[2019-01-08 14:35] rolfbjarne opened #12318 "Xamarin.iOS Threadpool randomly halts when app is suspended and doesn't recover when resumed"
_From @UmeshKanyal on June 4, 2018 19:35_

We are facing exactly the same issue as mentioned in [Bug58633](https://bugzilla.xamarin.com/show_bug.cgi?id=58633#c12)
Do we have any resolution to the above issue?

We also use Bluetooth, geofence, beacon, background location, background fetch.
The ThreadPool randomly stops processing when the app is suspended and brought to the foreground. The main thr

[2019-01-08 14:35] rolfbjarne commented on #12318
_From @dalexsoto on June 5, 2018 16:55_

Hello @UmeshKanyal any chance you have a reproducible test case for this scenario? if not could you provide some logs using this suggestion https://bugzilla.xamarin.com/show_bug.cgi?id=58633#c7?

[2019-01-08 14:35] rolfbjarne commented on #12318
_From @UmeshKanyal on June 5, 2018 20:36_

Hi @dalexsoto, I am using the Visual studio for mac, not sure how can I set 'MONO_LOG_LEVEL=debug' and 'MONO_LOG_MASK=threadpool'.

[2019-01-08 14:35] rolfbjarne commented on #12318
_From @jonathanantoine on December 28, 2018 8:59_

Hello. Any update on this ? This is quite frightening to have this bug in the wild :(

@dalexsoto I think I have a repro for this issue and I created a dedicated issue : https://github.com/xamarin/xamarin-macios/issues/5333

Can you help me on this ?

[2019-01-08 14:35] rolfbjarne commented on #12318
_From @jgiacomini on December 28, 2018 11:20_

Same for me I had this bug on one my app :(
I don't know how to solve it :'(

[2019-01-08 14:35] rolfbjarne commented on #12318
The environment variables can be set by adding the following to the additional mtouch arguments in the project's iOS Build options:

    --setenv:MONO_LOG_LEVEL=debug --setenv:MONO_LOG_MASK=threadpool

Any output will be printed to the Application Output in the IDE.

[2019-01-08 14:35] rolfbjarne commented on #12318
I'm also moving this issue to the mono repo, since that's where the threadpool code is.

[2019-01-08 15:03] directhex commented on #12316
I can't reproduce it locally.

What does `grep System /etc/mono/config` return?

[2019-01-08 15:04] rolfbjarne commented on #12318
@luhenry does the threadpool use sockets? If so, this might be relevant: https://developer.apple.com/library/archive/technotes/tn2277/_index.html

[2019-01-08 15:08] scooper91 commented on #12316
[code]

[2019-01-08 15:18] directhex commented on #12316
Have you ever modified that file? It's the 5.18 version - libmono-system-native.so was renamed to libmono-native.so after 5.18, but you still have the old file.

I can reproduce the issue by:

1. Install 5.18 on a clean system
2. Edit /etc/mono/config so dpkg considers it user-modified and will not update it
3. Update to Nightly

It pops up a confirmation dialog:

[code]

Picking N causes your fai

[2019-01-08 15:36] scooper91 commented on #12316
No, I've never manually modified the file (or any mono files)

[2019-01-08 15:51] scooper91 commented on #12316
[code]

Looks like it is version 5.23.
I can't see an `md5sum` in `/etc/mono/config` - there are just a load of `dllmap`s.

[2019-01-08 16:07] atsushieno commented on #12300
The CoreCLR issue has nothing to do with this era change. The issue is about date formatting to match Japanese style i.e. we Japanese use "元年" (U+5143 U+5E74) instead of "1年" for the first year. I'm not sure if we want that. There is no date format specifier that reflects eras. This is the closest thing I know of:

[code]

 (it did not even print "平成", meaning that this kind of formatting never wo

[2019-01-08 16:12] directhex commented on #12316
Ah, no, see:

[code]

So the 5.23 version is on disk (likely as `/etc/mono/config.dpkg-new` or `/etc/mono/config.dpkg-dist`), but what you have in place is the 5.21 version.

[2019-01-08 16:14] directhex commented on #12316
I need to investigate more on how to prevent this from happening, but for now, please just `mv /etc/mono/config.dpkg-dist /etc/mono/config`

[2019-01-08 16:24] spouliot opened #12320 "Unexpected timeout from HttpWebRequest"
## Steps to Reproduce

1. Compile with following code

[code]

2. Run it with mono using a well known URL, e.g.

[code]

3. Run it with mono using this specific URL `https://stats.nba.com/stats/allstarballotpredictor`

Note that the same URL works fine inside Safari.

### Current Behavior

[code]

### Expected Behavior

Same output (`1 2 3`) as when used on other URL.

## On which platforms did yo

[2019-01-08 16:48] spouliot commented on #12320
Same result using master from this morning
[code]

[2019-01-08 21:08] jonpryor opened #12323 "Apparent Hang Around Child Processes"
The Xamarin.Android team is experiencing "random" hangs on Jenkins from mono, apparently around process exit.

For example, [consider this build log fragment][0] (with timestamps):

	23:37:48   Build succeeded.
	23:37:48       0 Warning(s)
	23:37:48       0 Error(s)
	23:37:48
	23:37:48   Time Elapsed 01:23:14.60
	02:37:48 Build timed out (after 180 minutes). Marking the build as aborted.

The "Bui

[2019-01-08 22:10] jahmai commented on #12318
Glad to see this issue finally getting some attention. Subscribed.

[2019-01-08 22:29] kg opened #12324 "Two corefx named pipe test incompatibilities"
These test files from corefx currently need to remain disabled despite us having near-complete named pipe support:

../../../external/corefx/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.CreateClient.cs
../../../external/corefx/src/System.IO.Pipes/tests/NamedPipeTests/NamedPipeTest.Specific.cs

Due to the following two test issues:

* NamedPipeTest_Specific.NameTooLong_MaxLengthPerPlatfor

[2019-01-08 22:53] EgorBo commented on #11615
Memory usage even in a smaller code that tries to start some garbage-value process grows extremely fast (unlike .NET Core where memory usage is stable).
[code]
Managed profiler doesn't show anything suspicious (on the managed size) I tried to track the leak on the native side but with no luck 🙂

<img width="1342" alt="screen shot 2019-01-09 at 1 51 06 am" src="https://user-images.githubusercontent

[2019-01-09 08:57] MaximLipnin commented on #12300
@atsushieno Thank you for the clarification.
@marek-safar Should I generate CLDR data as mentioned?

[2019-01-09 11:25] dot-asm opened #12330 "ilasm doesn't honour 'pinned' modifier"
## Steps to Reproduce

1. create test.ilasm with
[code]
2. `ilasm /dll /out:test.netmodule test.ilasm`
3. `monodis test.netmodule`

### Current Behavior

.locals statement is disassembled as
[code]
(Yes, even by Windows ildasm)

### Expected Behavior

[code]

(Yes, that's how it looks if test.ilasm is assembled by Windows ilasm)

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] W

[2019-01-09 12:53] akoeplinger opened #12331 "Chakra installation broken on WebAssembly on Linux"
## Steps to Reproduce

1. Installing Chakra 1.11.5 from jsvu fails on Linux when getting the checksum

### Current Behavior

[code]

### Expected Behavior

No error.

## On which platforms did you notice this

[ ] macOS
[ X ] Linux
[ ] Windows

**Version Used**: master

[2019-01-09 12:55] akoeplinger commented on #12331
Disabled tests with https://github.com/mono/mono/commit/a9473580076fd9cdad82758cb2ca76fcc397f7f8

[2019-01-09 13:01] baulig commented on #11114
I believe this has been fixed with https://github.com/xamarin/maciostools/pull/153.

[2019-01-09 13:31] akoeplinger commented on #12331
Filed upstream issues: https://github.com/Microsoft/ChakraCore/issues/5902, https://github.com/GoogleChromeLabs/jsvu/issues/54

[2019-01-09 13:36] wolfgangmauer opened #12333 "mkbundle -z not working with --cross/--runtime"
## Steps to Reproduce

1. mkbundle -v **-z** --deps --static --runtime /usr/bin/mono -z ./input.exe -o ./output -L /usr/lib/mono/4.5 --library libWrapper.so

### Current Behavior

Assemblies will not be compressed

### Expected Behavior

Assembly will be compressed (-z)

## On which platforms did you notice this

[ ] macOS
[ X] Linux
[ ] Windows
Mono JIT compiler version 5.18.0.225 (tarball Wed Ja

[2019-01-09 13:54] ArmanHayots opened #12334 "Support of XAML2009"
Any way to it?

[2019-01-09 13:58] lewurm commented on #12323
More thoughts can be seen in this PR, especially this comment:
https://github.com/xamarin/xamarin-android/pull/2440#issuecomment-444668798

[2019-01-09 14:39] marek-safar commented on #11114
Closing based on Martin's comment

[2019-01-09 14:39] #11114 closed

[2019-01-09 14:41] marek-safar commented on #12093
This is actually .NET Core regression (change in behaviour in CoreFX). I made a fix for the code to behave link .NET again for Mono only.

[2019-01-09 14:41] #12093 closed

[2019-01-09 14:53] marek-safar commented on #12300
@MaximLipnin I included more changes made and I think you will most likely have to do both, add new handling and add new data

[2019-01-09 15:07] zii-dmg opened #12337 "TabControl crashes on tab remove"
## Steps to Reproduce

1. Create Form with TabControl, 2 tab pages.
2. Place button in `tabPage2`. The key to this bug: **button is child of removing tab and has focus when clicked**.
3. Call in button click handler `tabControl1.TabPages.Remove(tabPage2)` to remove tab.
4. Crash.

This connected to focus somehow. `tabControl1.Focus()` before `Remove()` is fixing bug.

Repro: [TabRemoveCrash.zip](h

[2019-01-09 15:25] directhex opened #12338 "Deprecated-in-ARMv7 instructions used in ARMv7-only code path"
We only support Fast TLS on ARM on v7-capable CPUs:

https://github.com/mono/mono/blob/d1a5fa3783b4fce769ac488515dba8bc0f2d296e/mono/mini/mini-arm.c#L382-L389

However, our fast TLS methods all use CP15 memory barriers, which are deprecated in ARMv7 and should not be used:

https://github.com/mono/mono/blob/d1a5fa3783b4fce769ac488515dba8bc0f2d296e/mono/mini/mini-arm.c#L397-L414

Either `emit_tls_s

[2019-01-09 15:30] directhex commented on #12338
(Resolving this should improve performance of our 32-bit builds)

[2019-01-09 15:49] jonpryor commented on #12323
Also note that *some* of the thoughts that @lewurm [mentioned](
https://github.com/mono/mono/issues/12323#issuecomment-452705431) are now out-of-date.

Before commit https://github.com/xamarin/xamarin-android/commit/13a692511ad77c1494c2e9aaff84d7d60efb0de0 xamarin-android would run some unit tests by generating a shell script which would contain `msbuild` invocations, and execute that shell script

[2019-01-09 16:09] marek-safar commented on #12324
@kg it fine to disable these 2 tests using SkipOnTargetFramework in our fork only

[2019-01-09 16:11] marek-safar commented on #12318
@luhenry could you please assess the impact?

[2019-01-09 16:19] marek-safar commented on #12320
/cc @baulig

[2019-01-09 16:47] jonpryor commented on #12323
@mjbond-msft is writing a `Jenkinsfile`-based build for xamarin-android: https://github.com/xamarin/xamarin-android/tree/jenkinsfile-pipeline

What's interesting is that the two most recent builds using `Jenkinsfile` has suffered a timeout when executing unit tests: https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android-pipe-eval/

For example:

  * https://jenkins.mono-project.

[2019-01-09 18:41] kg commented on #7500
Seeing this in some windows builds on my PR. Impossible to tell which test is causing it.

https://jenkins.mono-project.com/job/x/17067/

Since the NRE is on a struct method call, I can only assume it's actually a null pointer access getting mapped into NRE. The method handles pointers for IO callbacks so it would make sense that a null pointer could get accessed in there.

[2019-01-09 19:20] #12331 closed

[2019-01-09 19:31] #11385 closed

[2019-01-09 21:00] lambdageek commented on #11956
I think this is due to #9914 switching `mono_thread_detach_internal` from using `LOCK_THREAD(thread)` for synchronization when updating the `thread->state` to using a CAS.

Previously both `mono_thread_detach_internal` and `mono_thread_suspend_all_other_threads` would try to lock the thread object before changing the state, which means if  `mono_thread_suspend_all_other_threads` held the lock it c

[2019-01-10 00:02] iximeow opened #12344 "FastCopy may silently fail to do anything"
## Steps to Reproduce

1. Build and run
[code]

### Current Behavior

After "copy" this prints 0, rather than 250477262. In fact, the entire array is not copied and this program completes suspiciously quickly.

If `startArray` is adjusted to `new int[0x1fffffff + 2];` the mono runtime will ***crash*** with a stack trace like

[code]

### Expected Behavior

`startArray` copies into `lastArray` (and

[2019-01-10 00:15] iximeow commented on #12344
I was going to try also providing a patch/PR to fix this but am having issues building mono for other reasons - my suspicion is that changing `MEMMOVE_WORDS_DOWNWARD` and `MEMMOVE_WORDS_UPWARD` to `size_t` for iteration and bounds checks (or using `memmove` itself? I can't say I understand why not), while also changing `element_size * length` in [`FastCopy`](https://github.com/mono/mono/blob/a19f9

[2019-01-10 01:21] #12094 closed

[2019-01-10 02:40] waji3000 commented on #12286
@lateralusX  could you help? thanks.

[2019-01-10 08:54] lateralusX commented on #12286
I have seen this as well (even though this is not my normal workflow). I talked with @kg yesterday, since there are build errors when building the BCL using bcl.sln (the use case you are running), looks like this broke during december and affects mscorlib.dll. Maybe @kg could take a look at the build issues in bcl.sln first to make sure it works as expected. I believe that the short term solution

[2019-01-10 09:31] lateralusX commented on #12286
Do you get any errors when doing the bcl.sln build using net_4x release profile? Also make sure you make a clean BCL build if you done one in the past.

Do you get the same error if you try to run directly from your local build folders, not doing the copy steps as described above?

[2019-01-10 09:44] lewurm commented on #12338
That `CP15` command in the TLS code isn't a memory barrier; if you look closely, it has a different encoding. `CP15` is way to submit commands to a "co-processor", a full list of commands is here: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0360f/CHDGIJFB.html

So I don't fully understand your request: You are _right_ that memory barriers via `CP15` are deprecated since ARMv7, t

[2019-01-10 10:08] ud09 opened #12347 "Debug Proxy cannot get assemblies because their names are lower-cased. toLower works culture spesific."
I created an issue for blazor here [https://github.com/aspnet/AspNetCore/issues/6474](url)
But that's actually an issue for the mono debug proxy.
(Mono.WebAssembly.DebuggerProxy/DebugStore.cs ctor)
In Turkish culture toLower does not work for Capital I's in the assembly names. Using toLowerInvariant may be the fix, but not sure  if there is a better solution for all cases.

[2019-01-10 15:28] mandel-macaque opened #12354 "System.Xml and other tests do have failures on iOS platforms"
On the iOS xamarin side we have started executing the test dlls that are provided in the SDK on devices. He have noticed that there are a number of tests that fail de to the fact that certain files needed by the tests are missing. If you take a look at the new file added in https://github.com/xamarin/xamarin-macios/pull/5370 you will see the list of all the failing tests + the reason for each of t

[2019-01-10 16:07] mandel-macaque opened #12356 "System.IO.Compression tests fail on iOS platforms"
We have started executing the tests from the test dlls that are present in the Mono SDK. In those dlls there are some tests that fail because the tests expect a file that is not present in the system. Please take a look at the new file https://github.com/xamarin/xamarin-macios/pull/5373 which states the ignored tests and the reason.

[2019-01-10 16:13] lateralusX commented on #12286
Just tried this on a clean mono master checkout, building the runtime using mono.sln (64-bit release) and then BCL using bcl.sln (net_4x release) and run a simple console app directly from local build BCL worked as expected (setting MONO_PATH to the BCL located in the build tree). There are still a number of build errors in bcl.sln (like mcs for example), but still looks like the BCL works as expe

[2019-01-10 16:33] jeromelaban opened #12357 "[Wasm] Very limited call stack depth using the interpreter on Safari iOS"
## Steps to Reproduce

Run the following sample: https://github.com/jeromelaban/Wasm.Samples/tree/master/RecursionTests

### Current Behavior

Depending on _when_ the code is executed, the call stack depth can vary between 57 and 390 (after waiting 5 to 10s) when recursing using delegates, and between 116 and 790 (after a while) using plain methods.

### Expected Behavior

Aside from the fact that

[2019-01-10 16:51] vargaz commented on #12122
Fixed in master.

[2019-01-10 16:51] #12122 closed

[2019-01-10 17:09] #11635 closed

[2019-01-10 20:39] nddipiazza commented on #12128
@marek-safar might want to add "documentation" tag. Is there a "new feature" request tag? because it's kind of a new feature request as well.

[2019-01-10 21:21] Therzok opened #12360 "MONO_VERBOSE_METHOD doesn't seem to work for Xamarin.Mac nint"
## Steps to Reproduce

1. Create a Xamarin.Mac project or use the attachment [testcocoa.zip](https://github.com/mono/mono/files/2747092/testcocoa.zip)
2. Compile it (msbuild) and go to the `bin/Debug` folder
3. Run these two commands

[code]

### Current Behavior

ASM is generated for PassInt, nothing is display for PassNInt.

### Expected Behavior

ASM is generated for PassNInt.
## On which platf

[2019-01-10 22:36] nattthebear opened #12362 "Problem with DefaultValueAttribute and Color values"
## Steps to Reproduce

1. Create `Foo.cs`:
[code]
2. `mcs Foo.cs -r:System.Drawing`
3.  `mono Foo.exe`

### Current Behavior

Output on mono 5.16.0: `value is null`

### Expected Behavior

1. Output on .NET Framework: `color is 'Color [Black]'`
2. Output on mono 4.6.2: `color is 'Color [Black]'`

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2019-01-10 22:46] akoeplinger opened #12363 "SpinLockTests.LockUnicityTest is 10x slower on Mojave CI bots than Sierra"
## Steps to Reproduce

1. Run SpinLockTests.LockUnicityTest on Mojave, e.g. via `make -C mcs/class/corlib FIXTURE=MonoTests.System.Threading.SpinLockTests`

### Current Behavior

The test takes 20mins on the new Mojave CI bots.

### Expected Behavior

The test takes ~2mins on the older Sierra CI bots.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**: ma

[2019-01-10 22:47] akoeplinger commented on #12363
I wasn't able to repro on my Mojave MacBook but it's consistent on the new Mojave Mac Mini's we have. Please ping me for details.

[2019-01-10 23:00] Asnivor commented on #12362
Also same issue in 5.18.0.255

[2019-01-11 06:13] kg opened #12369 "Crash in System.Diagnostics.StackTrace.get_trace during test on CI"
Seemed worth filing. Looks like the same type of crash as #8033 but in a different scenario.

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot/7274/parsed_console/log_content.html#WARNING1

[code]

This was Linux AArch64 FullAOT.

[2019-01-11 08:05] lateralusX commented on #12286
Yes, the errors in bcl.sln are still there and I see them on my machine as well when doing the build without cygwin. If you believe that you resolved the problem specific to this issue I believe it would be best to close this issue and I can open up a new issue around the specific build errors I have on bcl.sln and see if we could get that fixed. Sounds reasonable?

[2019-01-11 09:21] luhenry commented on #12318
@rolfbjarne the threadpool in itself doesn't uses sockets. The implementation of how the threadpool wakes up threads has changed as well, it went from a cond variable to a semaphore. So I am curious if it still reproduces with the latest version of Xamarin.iOS.

[2019-01-11 09:33] jahmai commented on #12318
@luhenry We accidentally reverted our workaround for this issue back around September ‘18 (using the latest Xam version at the time) and the issue reproduced. Did the latest build at that time include the semaphore change?

[2019-01-11 09:34] ValdasD commented on #12100
Hi, is there any updates or workarounds on this? Experiencing the same issue on Linux.

[2019-01-11 10:23] Therzok opened #12374 "Unable to inspect ReadOnlySpan<char> in debugger"
## Steps to Reproduce

1. Have an application with ReadOnlySpan being used
[code]
2. Given a StructMirror invoke of `ReadOnlySpan<char>.ToString()`, it'll fail with an `INVALID_ARGUMENT` error code.
3. Maybe ref structs need to be specialized in the debugger when passed?

### Current Behavior

We should get the string.

### Expected Behavior

INVALID_ARGUMENT error code

## On which platforms did

[2019-01-11 10:23] Therzok commented on #12374
cc @thaystg

[2019-01-11 10:34] marek-safar commented on #12374
Yes, this looks like ref struct issue

[2019-01-11 10:45] lewurm commented on #12363
Can't reproduce on a machine with Mojave:
[code]
What CPU is shipped with the new Mojave CI bots?

[2019-01-11 10:47] akoeplinger commented on #12363
[code]

[2019-01-11 10:56] marek-safar commented on #12369
This looks interesting as it's coming from ExceptionServices.ExceptionDispatchInfo so it should be easily reproducible with correct unexpected set of capture data

[2019-01-11 11:00] akoeplinger commented on #12363
Current theory is that this is related to https://github.com/mono/mono/issues/9011

[2019-01-11 11:11] marek-safar commented on #12128
Proposal and new feature request/enhancement are equivalent

[2019-01-11 11:22] mandel-macaque opened #12376 "System.IO.Compression.FileSsystem tests fail on iOS platforms"
On Xamarin.iOS we have started executing the tests provided in the test assemblies from the Mono SDK. Some of the tests fail because the required files for them are missing. Following PR https://github.com/xamarin/xamarin-macios/pull/5374 those tests are ignored. Please take a look at the new added ignore file to know which tests had to be ignored and the reasons.

[2019-01-11 11:31] marek-safar commented on #12354
/cc @akoeplinger

[2019-01-11 11:33] marek-safar commented on #12344
This looks quite nasty. I think @BrzVlad looked into this area recently. Vlad could you confirm the issue?

[2019-01-11 12:11] marek-safar commented on #10142
The issue has been resolved on Mono side, even 2018-04 now exposes complete System.Threading.Task.Extensions

[2019-01-11 12:11] #10142 closed

[2019-01-11 12:54] Therzok commented on #12360
That should be somehow notified when doing `mono --compile`. Thanks for the tip, I'm unblocked now.

[2019-01-11 13:58] baulig commented on #12320
I spent quite some time trying to debug this and can't see any fault in our code.  There can be a variety of different reasons why this works with Safari.

FWIW, this also fails consistently with .NET, so there seems to be something wrong with that server.

[2019-01-11 15:41] thaystg commented on #6621
The same thing that #7326, that is already closed.

[2019-01-11 15:41] #6621 closed

[2019-01-11 15:56] mandel-macaque opened #12384 "System.Data tests fail on iOS platforms"
On Xamarin.iOS we have started executing the System.Data tests provided by the SDK, we have to issue regarding them:

1. There are some missing files needed by the tests.
2. We yet do not have a test dll for the watch.

We are ignoring those tests that are failing due to the missing files missing types on wackos. Please look at https://github.com/xamarin/xamarin-macios/pull/5379/files which shows

[2019-01-11 16:07] akoeplinger commented on #12363
For some reason this only happens when the mono-sgen process is started from Jenkins.

Running it over SSH on the same bot doesn't reproduce.

Adding a bit of logging revealed that one of the 200 iterations takes ~6 seconds in the Jenkins-started mono-sgen and 0.6s in the SSH-started one.

[2019-01-11 17:53] jeromelaban commented on #12357
with #12367, the updated results are for the tests above :
[code]
as for the performance, using Firefox on desktop, using [this raytracer](https://github.com/nventive/Uno.Wasm.Bootstrap/blob/master/src/Uno.Wasm.AotTests/Program.cs):
[code]

[2019-01-11 19:17] directhex opened #12389 "webdoc from mono-tools doesn't work from a vpath"
With the following XSP webapp file:

[code]

and running xsp4 from inside the `/usr/share/monodoc/web` directory with `xsp4 --appconfigfile=/path/to/foo.webapp --random-port` gives:

[code]

And trying to open any documentation category just spins forever.

Running `xsp4 --appconfigfile=/path/to/foo.webapp --random-port` from _outside_ `/usr/share/monodoc/web` (which should not matter, because `<p

[2019-01-11 20:02] luhenry commented on #8429
/cc @thaystg

[2019-01-11 20:33] luhenry commented on #12318
@jahmai VS 15.8 was the first release with the switch from cond variable to semaphore. Is that the version you tried back in September 2018?

[2019-01-12 01:39] KirillOsenkov opened #12393 "NuGet: bump to latest NuGet to support GeneratePathProperty"
See https://github.com/NuGet/NuGet.Client/pull/2271. @radical asked me to open an issue here to bump NuGet in Mono to at least 4.9 to have this fix.

[2019-01-12 03:50] InteXX commented on #10679
The sample code found [here](https://www.mono-project.com/docs/getting-started/mono-basics/)—converted to VB—won't build due to this error. This is Mono running on RPi3.

So at this point it looks like a show-stopper for VB on Mono. Please correct me.

[2019-01-12 07:09] kg opened #12397 "nunit signing key error during build with latest roslyn"
When building using the latest version of roslyn (for compiler server testing), the build fails now because of an invalid public key for nunit. We already had this problem for the msbuild pipeline, so I manually disabled signing there. It seems like we need to disable signing entirely for builds to work once we update roslyn, unless someone has an idea as to why our keys aren't being accepted anym

[2019-01-12 09:01] jahmai commented on #12318
@luhenry Going by appstore logs, our bug was released on August 15 (AEST). According to the VS release notes, 15.8 was first released on August 14 (EST?). It is highly unlikely we updated to 15.8 the day we released, but do you know of any way we can confirm if we have the IPA? (The assemblies in the IPA are all stripped of code - just method signatures, but there are AOT'd binaries of things like

[2019-01-13 06:11] srxqds opened #12399 "How build iOS sdk demo with Xcode?"
I want to build mono (mono-5.18.0.225) iOS sdk test demo with Xcode, the Xcode project and build settings show below:
![image](https://user-images.githubusercontent.com/5187024/51082129-0fad4100-173c-11e9-9a6f-0dce4e1b63eb.png)

The mono use makefile and ninja build the demo, there are some clang build args:

In sdks/ios/runtime/Makefile

	-isysroot $(DEV_SYSROOT) \
	-std=gnu11 \
	-fobjc-arc \
	-m

[2019-01-13 08:22] Kr3m opened #12400 "tlstest.cs will not build."
## Steps to Reproduce

1. csc tlstest.cs -r:System.dll

### Current Behavior

What is the current behavior?
![screenshot from 2019-01-13 03-20-03](https://user-images.githubusercontent.com/290740/51083101-2626ae80-16e2-11e9-9cfd-44dd6c4d6565.png)

### Expected Behavior

the code to build properly...

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

5.1

[2019-01-13 21:19] BijanT opened #12401 "mcs does not allow array elements on the left hand side of tuple deconstruction"
## Steps to Reproduce
[code]

### Current Behavior
When compiling with mcs:

When compiling with csc:

### Expected Behavior
mcs should compile the code shown above without issue.

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

**Version Used**:

[2019-01-13 21:29] DasSkelett opened #12402 "System.Windows.Forms: LinkArea of LinkLabels is shifted relative to the text"
## Steps to Reproduce

1. Compile and run my attached test project
2. This means: Create a WinForm
3. Create a link label somewhere on the form (bug best visible if centered)
4. Have something like this (see my attached code):
[code]
So: A link label with a size bigger than the text would need, AutoSize false,
and a ~center-aligned text~ text alignment which is *not* top left.

### Current Behavio

[2019-01-14 06:09] rolfbjarne commented on #12318
The app's Info.plist contains the Xamarin.iOS version used to build it:

[code]

[2019-01-14 07:12] jahmai commented on #12318
Seems not: 11.12.0.4 (d15-7: 64fece5f)
So I'll have to attempt a reproduction when I have some time.

[2019-01-14 07:58] srxqds commented on #12399
I found the error: I add .a static library but Xcode always auto find .dylib in the search path!

[2019-01-14 07:59] #12399 closed

[2019-01-14 08:00] srxqds commented on #12134
I did it.

[2019-01-14 08:00] #12134 closed

[2019-01-14 08:15] peter-devoil commented on #11939
I have a similar problem in an unrelated project (https://github.com/APSIMInitiative/APSIMClassic) building on linux/x64, mono  5.18.0.225. CPU load goes through the roof, and many sgen processes are running:
[code]

[2019-01-14 08:48] rolfbjarne opened #12404 "Multiple runtime leaks"
## Steps to Reproduce

1. Download and extract [mono-leak-test.zip](https://github.com/mono/mono/files/2754404/mono-leak-test.zip)
2. Run `make`

### Current Behavior

* 5.18.0.237: [Complete output](https://gist.github.com/rolfbjarne/6d5b2acf9efc7d98f7c0dac056056d34)

        [...]
        Process 50333: 106 leaks for 2480 total leaked bytes.
        [...]

* 5.23.0: [Complete output](https://gis

[2019-01-14 09:45] rjvdboon commented on #12060
@lambdageek Tested with the mono-5.23.0.294 nightly tarball: the RPATH/RUNPATH is gone, the dependency on libstdc++ is still there.
Used `./configure --disable-rpath  --with-large-heap --prefix=....`
Result:
[code]
Now trying with --disable-llvm

[2019-01-14 10:16] #10735 closed

[2019-01-14 10:28] invadetl opened #12406 "[Not a Bug / Installation] Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED"
I am trying to test mono / msbuild on RHEL 8 Beta.

Mono 5.18.0.225 has been built and installed successfully.

MSBuild 16.0 has been installed but running "make" returns a number of CERTIFICATE_VERIFY_FAILED errors.

On this server, libssl (1.1.1) is installed in /usr/lib64/:
lrwxrwxrwx. 1 root root     15 Oct 15 10:17 /usr//lib64/libssl.so.1.1 -> libssl.so.1.1.1
-rwxr-xr-x. 1 root root 629160 Oc

[2019-01-14 10:33] BrzVlad commented on #12344
On master this was already fixed by unrelated refactoring from https://github.com/mono/mono/commit/0d6d334bcba28f2fb4c6cd5498b48e9c85c782d8#diff-eba0fd0052bf3ec9dd60f2f3e90f19e1

[2019-01-14 10:35] #9951 closed

[2019-01-14 10:55] marek-safar commented on #12393
@KirillOsenkov what Mono version is this for?

[2019-01-14 11:06] marek-safar commented on #12404
This could be related to https://github.com/mono/mono/issues/11615

[2019-01-14 11:08] Vorval0 opened #12409 "ModuleBuilder thread safety"
## Steps to Reproduce
[code]
### Current Behavior

A lot of exception is thrown at ```moduleBuilder.DefineType(typeName)```

### Expected Behavior

```System.Reflection.Emit.ModuleBuilder``` is thread safe

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x ] Windows

**Version Used**:
5.18.0

## Stacktrace

[code]

[2019-01-14 13:05] baulig commented on #12406
This is an installation issue that we need to document better as it is confusing and hard to understand to new people.

Mono does not use the installed OpenSsl, but instead ships a built-in bundled copy of boringssl.  It also uses its own root certificate store, so the `mozroots` tool is not going to help.

You need to run the `cert-sync` tool after installing Mono the first time.

FIXME: this is

[2019-01-14 13:15] baulig commented on #12400
We should really delete that old and obsolete tool.

[2019-01-14 13:18] invadeint commented on #12406
Many thanks for the response.

I can confirm that running the following has resolved the problem:
cert-sync /etc/ssl/certs/ca-bundle.crt

[2019-01-14 13:33] petlof opened #12414 "Issues with embedding satellite assemblies with mkbundle"
I'm facing issues where embedding satellite resource assemblies with mkbundle, fail to load correct version of assembly during runtime.

Testing with the test-program from here: https://bugzilla.xamarin.com/show_bug.cgi?id=11430

Bundling works OK, but during executing of the resulting bundled program I get
 ./Scratch
Hello World!
MyResources.MY_STRING[de]=MyResources string in German.
MyResources

[2019-01-14 14:23] lambdageek commented on #12060
@rjvdboon wow, that's frustrating. Could you share the output of `./configure ...` and `make V=1`

[2019-01-14 14:31] rjvdboon commented on #12060
By the way, for us the RPATH/RUNPATH was the biggest of the two items, as it caused runtime problems. With the rpath/runpath gone I think the libstdc++ loaded by mono would be the same as the one loaded by our native code, so there is no clash, and thus no manifestation of a problem.

[2019-01-14 14:42] rjvdboon commented on #12060
re https://github.com/mono/mono/issues/12060#issuecomment-454021565 I'll need to rebuild. Will get back to you hopefully tomorrow.

[2019-01-14 14:54] baronfel commented on #11933
I do reproduce this error with the exact same file on 5.23 mono, on OSX.

[2019-01-14 15:00] lambdageek commented on #12060
Hmm.  Actually I can see `NEEDED libstdc++.so.6` building on Debian from 311d1952af4f86d67d0d0339b213298ae3b65d39 with `./autogen.sh --prefix=/opt/mono-master --disable-btls --disable-btls-lib --disable-nls --enable-checked-build=all CC='ccache cc' CXX='ccache c++'`

So I don't need logs - can look into it locally...

[2019-01-14 15:08] thaystg commented on #8429
@cosminstirbu , I'm trying to reproduce this bug, but I think that I did something wrong in my installation. I run the appium doctor and it says that is everything working.
Then I start the appium server:
 appium
[Appium] Welcome to Appium v1.10.1
[Appium] Appium REST http interface listener started on 0.0.0.0:4723
But when I try to run the unit test, I got this exception:
The remote server return

[2019-01-14 15:31] thaystg commented on #9934
@0xd4d could you send us more information about how to reproduce?

[2019-01-14 15:57] mandel-macaque opened #12417 "System.ServiceModel tests fail on iOS/TvOS/WatchOS"
We have started executing the ServiceModel tests that are provided from the test dlls in the Mono SDK. Some of the tests fail on ios/watchos and tvOS, we have added the required ignores in PR https://github.com/xamarin/xamarin-macios/pull/5384

Please take a look at the new ignore files that contain the failing tests and the reasons to be ignored.

[2019-01-14 16:05] dbelcher commented on #11939
Hi @peter-devoil-

We found a workaround.

In _YourProject.vbproj_, try setting:

`<UseSharedCompilation>false</UseSharedCompilation>`

(You would need to do this for all _.vbproj_ files in your solution).

[2019-01-14 16:13] lambdageek commented on #12060
oh, I see what I was doing... when I was testing two weeks ago, I was looking at `libmonosgen-2.0.so`, not `mono-sgen`.

looks like `nodist_EXTRA_..._SOURCES=dummy.cpp` under automake conditionals still picks the C++ linker... not sure why I thought that it didn't...

@rjvdboon i would hold off on backporting... this is going to require more autotools changes...

[2019-01-14 16:15] mandel-macaque opened #12419 "Some tests from System.Core fail on iOS/WatchOS and TvOS"
In Xamarin.iOS we are executing the tests for System.Core provided by the Mono SDK. We have a failing test that had to be ignored in PR https://github.com/xamarin/xamarin-macios/pull/5397

Please look at the .ignore file added that contains the failing test and the error.

[2019-01-14 16:42] AndreyFromGomel opened #12421 "Task calls SynchronizationContext.Post on cancelling"
After updating Visual Studio from version 15.7 to 15.9 we noticed regression of our Android application. Investigation showed that for mono 5.10.1 and 5.14.0 following code works different:
[code]
Further investigation revealed that mono 5.14.0 calls SynchronizationContext.Post method while 5.10.1 does not.
I created repository with POC: https://github.com/AndreyFromGomel/TestSyncContext

1. Launc

[2019-01-14 17:16] sagecook commented on #11962
BTW, I tried signcode version 5.18 but got the same error.

[2019-01-14 17:31] jaredpar opened #12422 "Runtime incorrectly resolving overloads that differ by modopt"
## Steps to Reproduce
This was found attempting to get the C# semantic tests running on Mono

1. Clone https://github.com/jaredpar/roslyn
1. Run `./build.sh --restore --build`
1. Run `cd src/Compilers/CSharp/Test/Emit`
1. Run `dotnet msbuild /t:Test /p:TestRuntime=Mono`

### Actual Behavior
This will run the Emit unit tests and eventually Mono will fail executing the test ` TestCallMethodsWithLeas

[2019-01-14 18:01] baulig opened #12423 "Random crash during runtime shutdown"
Just saw this in my PR - looks like this is happening after NUnit finished running tests:
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/18150/console

[code]

[2019-01-14 18:03] baulig commented on #12423
Line 3527 is here:
https://github.com/mono/mono/blob/21a0053638270367d50ee3ae2022211bc5b7f226/mono/mini/mini-runtime.c#L3527

[2019-01-14 19:20] akoeplinger commented on #12363
This seems to be a regression between 2018-10 and 2018-12.

The LockUnicityTest takes the expected ~4min on [2018-10](https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-amd64-osx/18088/) and 21mins on [2018-12](https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-amd64-osx/18094/).

@lewurm any idea which change could've caused this?

[2019-01-14 19:38] KirillOsenkov commented on #12393
We're on 5.18.0.234. It's not strictly required (we worked around), but very nice to have.

[2019-01-14 21:19] vargaz commented on #12307
Have trouble reproducing this. Could you upload the obj/Release/aot/armeabi-v7a/Mono.Android.dll
directory from your build ? Thanks.

[2019-01-14 21:47] AlexisNichel opened #12424 "startIndex cannot be larger than length of string. In HttpAplication"
## Steps to Reproduce

1. Inicialize http service in mac
2. Send post application/json in header and json in body
<img width="1310" alt="captura de pantalla 2019-01-14 a la s 18 45 30" src="https://user-images.githubusercontent.com/15020002/51143132-97727880-182c-11e9-9245-6e3aacdd7353.png">

### Current Behavior

<img width="844" alt="captura de pantalla 2019-01-14 a la s 18 41 42" src="https://u

[2019-01-14 21:53] mgarza opened #12425 "Picturebox empty"
When runnding the software on a RPI (linux), the picturebox stays empty. When moving a terminal window ontop of the picturebox and moving the this terminal away, the expected content gets visible.
When resizing the form the picturebox is again empty.
Running the program in Visual Studio (windows PC) it behaves as expected.

## Steps to Reproduce

1. Run the attached file with "mono PictureboxTest.

[2019-01-14 21:54] mathieubourgeois commented on #12307
[Mono.Android.dll.zip](https://github.com/mono/mono/files/2757206/Mono.Android.dll.zip)

Here you go. On my end, it seems pretty easy to reproduce, which is weird. However, the last master I tested on is 9.1.199.72, which is not exactly brand new (I reported the issue in Xamarin.Android essentially a month ago).

[2019-01-14 21:59] mathieubourgeois commented on #12307
Also, I noticed that commit https://github.com/mono/mono/commit/a62bb95b279aa262df93e592d2cea4bba68e256e seems to implies that llvm for 32-bit cross-compilation is still supposed to be the old version because the new one is still too unstable (maybe because of this issue?). However, from what I've understood in the build system, there's still only one llvm build in the release of Xamarin.Android (

[2019-01-15 00:22] lambdageek commented on #12423
It happened at least once on master on 32-bit OSX, too

https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-i386/10363/

I haven't been able to get it to happen locally with a 32-bit mono.

[2019-01-15 01:41] kg commented on #12397
I'm not really sure how to change the signing mode. For the csprojs I just turned off signing - I'll see if I can change our makefiles to use normal signing and find out what happens

[2019-01-15 05:45] nixtar commented on #9808
Same issues here on VS for Mac, not sure exactly what version introduced this but I am currently on the following version and am having this issue.

Visual Studio Community 2017 for Mac
Version 7.7.2 (build 21)
Installation UUID: 9e2e7a3d-7300-4d25-9e52-87f56af568c7
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 516000221

Mono Framework MDK
Runtime:
	M

[2019-01-15 09:51] #12374 closed

[2019-01-15 10:40] vargaz commented on #12307
Not sure why opt makes these assumptions, we don't tell it that this is a 64 bit program.
Thanks for tracking this down.

[2019-01-15 11:12] AlexisNichel commented on #12424
PD. This found in Windows IIS

[2019-01-15 11:45] mandel-macaque opened #12430 "Tests from System.Net.Http fail on iOS, TvOS and WatchOS"
In Xamarin.iOS we have started running the tests from monotouch_System.Net.Http_test.dll present in the SDK. Some of the tests had to be ignored in PR https://github.com/xamarin/xamarin-macios/pull/5405

Please take a look at the new added ignore files. The main reasons are simple to fix, iOS wants the requests to use https and we are not running the watchOS tests yet because they are not present

[2019-01-15 12:19] AlexisNichel commented on #12424
PD: Same proyect found in windows with iis...

[2019-01-15 12:21] AlexisNichel commented on #12424
why did they close this??

[2019-01-15 12:58] jcb83 commented on #9320
I just ran into the same problem and solved it by deleting the `Mono.Security.dll` and `Mono.Posix.dll` from the deployed app's folder. I suspect only deleting the first is really needed, but this fixed the problem for me.

Guessing here: You compiled the app (as I did) using Windows and had to add the `.dll`s to run it there, and then copied the whole shebang to you Linux machine. Guessing furthe

[2019-01-15 13:33] #12344 closed

[2019-01-15 13:52] mathieubourgeois commented on #12307
Based on https://llvm.org/docs/LangRef.html#data-layout, I can find this section

and

From what I can figure out, the documentation is pretty much saying that we should always be setting a datalayout, because otherwise opt would not really be able to do its job properly (my guess is not being to optimize anything related to a pointer because you don't know its size would make optimisations pretty

[2019-01-15 14:01] vargaz commented on #12307
Added a layout for x86 as well.

[2019-01-15 14:05] marek-safar commented on #9320
@baulig could you check this is not happening with the latest stable version?

[2019-01-15 14:54] baulig commented on #9320
No need to check anything, a failure in such a trivial test case would obviously be caught by our tests.

[2019-01-15 14:54] #9320 closed

[2019-01-15 16:39] alexanderkyte commented on #11918
Fix is on https://github.com/mono/mono/pull/12125

[2019-01-15 16:39] alexanderkyte commented on #11919
Fix is on https://github.com/mono/mono/pull/12125

[2019-01-15 16:44] lambdageek opened #12435 "[cxx] Bypass automake linker detection for .cpp files"
Once we begin writing Mono code in C++, we will be using a subset of C++ that does not require linking with the C++ runtime library  (libstdc++ or libc++).  As a result we will have to fight with the [automake automatic linker selection](https://www.gnu.org/software/automake/manual/html_node/How-the-Linker-is-Chosen.html)

This is different from the existing work we've done:
* The existing work wa

[2019-01-15 16:53] lambdageek commented on #11956
I believe this is fixed on `master`, `2018-12` and `2018-10`.

[2019-01-15 20:08] mathieubourgeois commented on #12307
Just an FYI, I couldn't find that old x86 Android device, so sadly I can't confirm the issue there.

[2019-01-15 20:09] vargaz commented on #12307
Its probably needed on all 32 bit platforms now because of the weird 64 bit pointer default.

[2019-01-15 20:09] iximeow commented on #12344
I was going to comment that that refactoring didn't touch the bug, but I see the followup commit fixing the overflow, and can confirm it's fixed on master - thanks!

Just a heads up, [`MEMMOVE_WORDS_UPWARD`](https://github.com/mono/mono/blob/a19f9d869dd151bc394fda478533d22ed6674a9e/mono/utils/memfuncs.c#L122) and [`MEMMOVE_WORDS_DOWNWARD`](https://github.com/mono/mono/blob/a19f9d869dd151bc394fda47

[2019-01-15 21:16] baulig commented on #12205
It looks like returning a negative value from `UnmanagedWrite` causes it to be called over and over again.

To illustrate that, with a 64 mb random file, and adding the following to `UnmanagedWrite`:

[code]

That line is executed 100 times per cycle.

Uncomment the `return -1` and it gets called ... I cancelled after about 300k calls.

[2019-01-15 21:20] baulig commented on #12205
I am still a bit confused about what calls `UnmanagedWrite` and why it would be called over and over again if it returns a negative number (I also tried different negative values than `-1`).

[2019-01-15 21:39] Taloth commented on #12205
UnmanagedWrite is exclusively called in zlib-helper.c (write_to_managed) as callback from the native layer.
If the return value is < 0 then it returns IO_ERROR in the native layer. That seems to be handled properly in WriteZStream, which also aborts if < 0.

One possible failure path is in CloseZStream with calls flush_internal without checking the flush_status value. But that's just from reading

[2019-01-16 02:02] bfsmithATL commented on #6368
Just curious if this issue (6368) is still going to be addressed?

[2019-01-16 11:11] mandel-macaque opened #12446 "Some System.Security fail on iOS, TvOS and WatchOS"
In Xamarin.IOS we have started running the tests present in monotouch_System.Security_xunit-test.dll which comes from the Mono SDK and we have some tests ignored that fail, PR https://github.com/xamarin/xamarin-macios/pull/5410/files contains the ignore files with the ignored tests and the reason.

[2019-01-16 12:17] marek-safar commented on #12422
Part of #11395

[2019-01-16 12:37] LightYears88 opened #12449 "winform question no answer? Why"
## Steps to Reproduce

1. why no body answer winform question
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2019-01-16 13:36] marek-safar commented on #12449
What question is it? WinForm is community driven and you might not get answer all the time

[2019-01-16 13:36] #12449 closed

[2019-01-16 13:53] marek-safar commented on #12100
@baulig any word on this one?

[2019-01-16 16:40] baulig commented on #12100
It is behaving as intended, setting the `HttpClient.Timeout` property only controls how long its async methods should wait for completion.  It has no effect on the underlying connection.

Closing as this is not a Mono bug.  If you don't like the behavior, then please discuss it with CoreFx as their implementation is doing the exact same thing.

[2019-01-16 16:49] danroth27 opened #12453 "Add mono.wasm support for threads"
The WebAssembly community group has been [working on a proposal for threads](https://github.com/WebAssembly/threads). Chrome 70 added support for threads: https://developers.google.com/web/updates/2018/10/wasm-threads presumably based on the community group's proposal. We should track the progress on threads in the community group and in the browsers and implement support for threads in mono.wasm

[2019-01-16 17:20] baulig commented on #11928
Does any of you have a web site that's using gzip compression that I could use to test this?

[2019-01-16 17:24] BillSobel commented on #11928
https://edition.cnn.com (just checked)  Many popular websites use it, but so there is one you can test against I just confirmed the confirmed I got content-encoding gzip on a normal browser request.

[2019-01-16 19:21] correabruno commented on #11456
this is a weird one... which actual config file did you expect it to read?

[2019-01-16 22:45] baulig commented on #11928
After:

[code]

Memory is still slightly growing - but far less than before.

[2019-01-17 02:34] KirillOsenkov opened #12461 "ReflectionModelServices.IsExportFactoryImportDefinition should not throw"
After .NET 4.5 .NET Framework has changed the System.ComponentModel.Composition ReflectionModelServices.IsExportFactoryImportDefinition to not throw:

[code]

We still seem to have a snapshot of that code that throws:
https://github.com/mono/mono/blob/eebe4b52857140ba9dea872c6249960273d222f2/mcs/class/System.ComponentModel.Composition.4.5/src/ComponentModel/System/ComponentModel/Composition/Reflec

[2019-01-17 02:42] KirillOsenkov commented on #12461
Details for the .NET Framework change are here:
vstfdevdiv changeset: 1389163, work item: 1005218

[2019-01-17 03:16] srxqds opened #12463 "Why call c native function with string args from c# cost so many time?"
I make the test for c# side call c method:
case1:
c# side:
 test(1,2);

c side:
 test(int a, int b)

case 2:
c# side:
 test("abc", 1, 2);

c side:
 test(MonoString* a, int b, int c);

call 1000000 times each function and the result is:
case1 cost 1800ms
case2 cost 190ms

Why case1 take so many time?

test environment:
mono 5.18.0.225 aot_interp mode
ipad mini2 with ios 11

[2019-01-17 04:06] migueldeicaza commented on #12463
Please provide a complete test case, and configuration options.

[2019-01-17 04:06] #12463 closed

[2019-01-17 04:08] migueldeicaza commented on #12453
I added this card to the Project/Wasm board.

[2019-01-17 04:09] migueldeicaza commented on #12333
Correct, mkbundle in simple/cross mode does not support the -z flag.   There are no plans to change that, unless someone wants to contribute the work.

[2019-01-17 04:09] #12333 closed

[2019-01-17 04:10] migueldeicaza commented on #12225
CC @lewing

[2019-01-17 04:10] migueldeicaza commented on #12030
@directhex Can we get updated packages with the above change?

[2019-01-17 10:36] jaykrell commented on #12435
Why does FOO_LINK=$(LINK) lose flags? I'll try it.

[2019-01-17 11:05] #12461 closed

[2019-01-17 14:00] #12205 closed

[2019-01-17 14:56] akoeplinger commented on #12363
I ran a bisect and this is the result: https://github.com/mono/mono/commit/866995d8fc17f95d29f3b82c41a9a708d72de14c

[code]

[2019-01-17 20:02] akoeplinger commented on #12363
we replaced our SpinWait and ManualResetEvent implementation from referencesource with the corert version in that commit.

[2019-01-17 20:34] radical opened #12479 "File.GetLastWriteTime behaves differently for symlinks, as compared to netcore on macOS"
## Steps to Reproduce

1. Create a symlink to a file (ensure that the timestamp differs from the symlink)
[code]

2. Run the test code with two files.

### Current behavior:
Mono returns the same timestamp, that for the target file.
[code]

dotnet returns the timestamp for the symlink itself when passed that.
[code]

### Expected behavior:
The behavior should match between the two.

[code]

/cc @m

[2019-01-17 20:39] UnityAlex opened #12480 "Windows socket hangs on WSAWaitForMultipleEvents in threaded environment"
From my own research into this issue it appears that when sending and receiving threads are sharing the same socket there is a race condition that exists within alertable_socket_wait (in w32socket-w32.c). Specifically when the recv thread is already waiting in WSAWaitForMultipleEvents for more data and a send sharing the same socket uses WSAEventSelect in order to perform it's own wait.

According

[2019-01-17 20:57] radical opened #12481 "Path.GetTemp* isn't affected by change in tmpdir at runtime, differs from what dotnet does"
## Behavior with dotnet:

[code]

## Behavior with mono:

[code]

Mono is caching the temp directory path and so `Path.GetTemp*` is not affected by change in the environment variables.

### Test code
[code]

/cc @marek-safar

[2019-01-18 00:01] Lupusa87 commented on #10222
I have followed https://github.com/mono/mono/tree/master/sdks/wasm/docs/getting-started and got mono working in interpreted mode.
How can I try mono AOT? any docs?

[2019-01-18 02:14] jaredpar commented on #11395
Note: this was also taken advantage of in C# 7.2 for `ref readonly` returns and `in` parameters which appear in a virtual method or delegate. Example:

[code]

This will generate a `modreq[IsReadOnly]` on the parameter `dt`. If you remove `virtual` the `modreq` will not be generated.

[2019-01-18 04:08] srxqds opened #12489 "Why call c native function with string or float args from c# cost so many time?"
I make test for internal call pass difference args:

The cost with call 100000 times result is:

**pass (str, int, float): 1020ms
pass(int, float): 900ms
pass(int, int): 200ms**

## The C# side code:

[code]

## The C side code:

[code]

And the mono init setup mode:

[code]

## The cost output:
2019-01-18 12:04:22.954022+0800 RunMonoOniOS[78000:6466784] [stdout] test_c_func_set_value_with_str_int

[2019-01-18 04:14] srxqds commented on #12489
@migueldeicaza can you help me?

[2019-01-18 07:59] lateralusX commented on #12480
Regression due to this change, https://github.com/mono/mono/commit/53af53ae5923ccb205ea8e0ebebdbe0c0ee5de88

[2019-01-18 09:41] lateralusX commented on #12480
If you can build from source, you could try to disable the blocking scenario, C:\github\mono\mono\metadata\w32socket-win32.c and just do the blocking call right away instead of resetting blocking mode on the socket (that could also race with the other thread). That will get you back to old behavior making it impossible to abort the blocking syscall, but will probably fix the issue you are experien

[2019-01-18 10:33] jacano opened #12491 "[wasm] make aot-sample not working"
## Steps to Reproduce

1. Follow instructions from: https://github.com/mono/mono/blob/master/sdks/wasm/README.md
2. `make aot-sample`

### Current Behavior
`make: *** No rule to make target 'bug.exe', needed by 'aot-sample'.  Stop.`

### Expected Behavior
Get the aot-sample built in bin/aot-sample

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

Using latest version fro

[2019-01-18 13:53] kjpou1 commented on #12491
@jacano

That target is used only for development purposes for right now.

Try using the:
[code]

The should already work:

[code]

We will need to create a sample to go along with that option.

[2019-01-18 14:22] #12362 closed

[2019-01-18 16:07] jeromelaban opened #12500 "[WASM] The linker is disabled for non-AOT packager"
The packager does not provide a `--linker` option when AOT is not enabled.

Also, the monolinker.exe file is placed in the larger artifacts file (e.g. wasm-release-Linux-292c674043d9b319c92c2c2a82e245539eec7081.zip), which is not used for interpreter build. It would be easier if it were in the smaller artifact file (mono-wasm-292c674043d.zip)

**Version Used**: mono master 292c674043d9b319c92c2c2a

[2019-01-18 16:53] jlinkels commented on #7753
I just installed Mono on Debian Jessie.
Mono JIT compiler version 5.18.0.240 (tarball Wed Jan 16 09:18:49 UTC 2019)
According to this page: https://www.mono-project.com/docs/getting-started/mono-basics/
I am carrying out the test to compile tlstest.cs:
csc tlstest.cs -r:System.dll
And it fails with this error message:
tlstest.cs(23,30): error CS0234: The type or namespace name 'Tls' does not exist

[2019-01-18 16:57] steveisok opened #12501 "How to move WebForms changes forward"
Rather than create a PR, I want to start a thread on how best to move forward with refsrc webforms.

Here's the repo [https://github.com/steveisok/mono](https://github.com/steveisok/mono)

There are a lot of changes and I would imagine a lot of iterations cleaning up what I have.  Additionally, there are some missing refsrc classes that we probably want to have added.  To compensate, I just ran re

[2019-01-18 17:22] vargaz commented on #12500
This is already implemented by 4d57a5786ac06c8f1ea5ff0bcc2d47a0a3893b91, there is now a --linker option.

[2019-01-18 17:29] vargaz commented on #12500
Note that this will only link the class libs, it will not link out the runtime code, that will be implemented later.

[2019-01-18 18:10] jeromelaban commented on #12500
Agreed. There's only the fact that the linker is in the larger artifact then, thanks!

The reason I'm asking this is that the part of the packager that produces interpreter layouts does not use ninja, and adding the linker does. I'm trying to avoid the use of ninja on windows for now, until msbuild is used.

[2019-01-18 18:14] vargaz commented on #12500
ninja is used to handle the dependencies during the build, the non-ninja version can only do simple things like coping files around, so the more complicated options will require ninja.

[2019-01-18 18:20] tomaxsas commented on #12100
it's valid bug, mono 5.4.1.7 works fine.  https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.timeout?view=netframework-4.7.2 here is docs for property. same code on .net core on linux works fine, as well as mono 5.4.1.7, but not >= 5.12 version of mono

[2019-01-18 18:24] directhex commented on #7445
I'm closing this issue. 5.16+dfsg went into Debian last week, I just uploaded 5.18. There's a Process which works for now. I took [this approach](https://github.com/mono/mono/issues/7445#issuecomment-436661039) to deal with the bootstrap issue of the reference assemblies.

[2019-01-18 18:24] #7445 closed

[2019-01-18 18:52] directhex commented on #12030
Sorry, not ignoring this, just have been 100% consumed with the Debian/Ubuntu upload. That should be wrapping up, so I can look to this today or Monday.

[2019-01-18 20:33] vargaz commented on #12500
https://github.com/mono/mono/pull/12512

[2019-01-18 20:49] vargaz commented on #12491
Will be fixed by:
https://github.com/mono/mono/pull/12512

[2019-01-18 21:05] directhex commented on #12030
@migueldeicaza I think there's an issue with `loadedllvm` mode (which the packages use, to make LLVM optional).

`libmono-llvm.so` needs a few symbols from the runtime:

[code]

You can see `mono_patch_info_equal` consumed here: https://github.com/mono/mono/blob/master/mono/mini/mini-llvm.c#L9065

However, that symbol isn't exported, so can't be found by the LLVM JIT:

[code]

End result:

[code]

[2019-01-18 22:25] MattTwinkleToes opened #12517 "dependency errors with apt install"
I am not able to install the latest version of mono-devel and could really use some pointers on how to resolve this. I have not encountered this issue before but have run mono for a while.

On one server, I have mono 4.2.3 and get the same error from apt.

On another server, it is clean, never had mono on it and I also get the exact same error from apt.

## Steps to Reproduce

1. Added Ubuntu 18.0

[2019-01-18 23:38] pr0vieh opened #12520 "[AOT+LLVM] -> unknown opcode name for 398"
## Steps to Reproduce

1.  Build mono with --enable-llvm=yes
2.  cp -r /buildsource/mono/llvm/usr/* $prefix // to get llvm in my Runtime workaround for #10868
3.  mono --aot=llvm $prefix/lib/mono/4.5/mscorlib.dll

### Current Behavior
unknown opcode name for 398

### Expected Behavior
Build AOT Code for mscorlib.dll

need this for FULLAOT+LLVM

## On which platforms did you notice this

[ ] macOS

[2019-01-18 23:56] lambdageek commented on #10722
We implemented 'pulse' transitions (see the PRs above).  Haven't seen similar crashes since then.  Closing.

[2019-01-18 23:56] #10722 closed

[2019-01-19 01:18] Therzok commented on #11136
Do ping when you want to tackle this issue.

The logging is actually a bug in gtk# bindings, which I'm going to track: https://github.com/mono/gtk-sharp/issues/258

Interesting that it showcased an issue.

[2019-01-19 07:45] knocte commented on #7445
@directhex that's good to hear. Question: was msbuild part of that? or is that still shipping with xbuild only for now?

[2019-01-19 14:09] steveisok commented on #12481
In mono/eglib/gmisc-unix.c (and win32 too):

[code]

Is there a reason why tmp_dir is written to once?

[2019-01-19 14:47] Gnbrkm41 opened #12522 "StringComparers' GetHashCode yield unexpected results when comparing null characters string and empty string"
Related: https://github.com/dotnet/corefx/issues/34662

[Docs on string class](https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netframework-4.7.2#strings-and-embedded-null-characters) state that:
`Null characters are ignored when performing culture-sensitive comparisons between two strings, including comparisons using the invariant culture.`

Also, [docs on IEqualityComparer interfa

[2019-01-19 15:54] Hatef-Rostamkhani opened #12523 "write Dockerfile for implement asp.net framework MVC project with Mono on docker in Linux Container"
I want to lunch asp.net framework MVC with Mono on Linux platform in Docker container

Did you try it?

I can pull mono and restore packages and build project but I cannot run the project with mono.

The project name is aspnetapp2 for the run on docker, you can right-click on RunDocker.NetFramwork.ps1 and then execute or run by PowerShell.
can you help me?

the orginal issue is on
https://github.c

[2019-01-19 18:08] Redirts opened #12524 "Microsoft.SqlServer.Management.Smo.Wmi not supported"
## Steps to Reproduce

C# program:

using Microsoft.SqlServer.Management.Smo.Wmi;
...
ManagedComputer mc = new ManagedComputer(server, "username", "password", ProviderArchitecture.Use64bit);
...

The aim is to obtain an object with a list of server instances (SQL) on a windows server so that we can then run a query against each one.

The run directory has Microsoft.SqlServer.Smo.DLL and Microsoft.

[2019-01-20 02:52] steveisok commented on #12479
In mono/metadata/w32file-unix.c, it seems like the stat struct variable linkbuf should be used for times when not null and buf when it is.

Is there any other reason why it's this way?

[code]

[2019-01-20 17:34] fhanik commented on #7753
And it fails with this error message:
tlstest.cs(23,30): error CS0234: The type or namespace name 'Tls' does not exist in the namespace 'Mono.Security.Protocol' (are you missing an assembly reference?)

@jlinkels

It appears as they have moved that library into `Mono.Security.dll`

try this one

    csc tlstest.cs -r:System.dll -r:Mono.Security.dll

[2019-01-20 18:38] jlinkels commented on #7753
Yes, that works. As I am asking this question you can understand that I am an absolute beginner in Mono. Although I am Windows-free for almost 15 years now, support in the Open Source community never stops to surprise me. Neither the lack thereof with paid software. Thanks a lot for you answer!

[2019-01-20 23:12] pr0vieh commented on #10744
i don't think the performance problems come with BTLS i use Mono 4.9.0 (master/30f6c99 Mi 11. Jan 20:23:50 CET 2017) with BTLS and the Performance is very very good but BTLS has an Memoryleak at this Point.
after the NewWebStack i never seen this Performance of WebRequests @ Mono
all Newer Versions Burns My CPU then i use a mass of WebRequests!

[2019-01-20 23:31] j4m3z0r commented on #10744
@pr0vieh: which kind of CPU was this? BTLS (specifically with the TLS 1.2
ciphers) is fine on desktops or modern phones. M
I ran into trouble when I was using it on a single board computer with an
AllWinner H5 CPU.

On Sun, Jan 20, 2019, 3:12 PM pr0vieh <notifications@github.com wrote:

[2019-01-21 00:03] pr0vieh commented on #10744
Desktop CPU but with an mass of WebRequests i run in same issues...
but at all the WebRequest Performance is poor or say more CPU  intense compared to this Version

[2019-01-21 03:51] kjpou1 commented on #12491
fixed by: https://github.com/mono/mono/pull/12512

[2019-01-21 03:51] #12491 closed

[2019-01-21 03:52] kjpou1 commented on #12500
Fixed by: https://github.com/mono/mono/pull/12512

[2019-01-21 03:52] #12500 closed

[2019-01-21 06:13] mysteryx93 opened #12535 "The configured user limit (128) on the number of inotify instances has been reached."
After updating my Debian server to the latest MONO, the websites wouldn't load anymore (actually only 1 worked out of 5). Very basic websites with plain HTML, many pages have no code-behind or very little, and no database. It was working very well up to this point and I was keeping MONO up-to-date.

I suspect it may be a breaking change with the introduction of LLVM, as it is the first version tha

[2019-01-21 11:35] BrzVlad commented on #12489
@srxqds I am assuming the main slowness comes from passing the floating argument. On the interpreter we only optimise native calls that use the general registers. If you are passing a float argument we fallback to a slower, general path. You could avoid this by passing the floating value by reference, or somehow pass it by value but as an integer.

Passing managed objects can also produce addition

[2019-01-21 11:35] #12489 closed

[2019-01-21 11:39] marek-safar commented on #12535
/cc @alexischr

[2019-01-21 11:43] #12517 closed

[2019-01-21 11:45] marek-safar commented on #12524
Microsoft.SqlServer.Smo.dll is Windows specific assembly which won't work cross-platform

[2019-01-21 11:45] #12524 closed

[2019-01-21 14:51] kishorepolepalli opened #12537 "* Assertion: should not be reached at decompose.c:1889"
## Steps to Reproduce

1.  Stacktrace:

  at <unknown> <0xffffffff>
  at System.Collections.Hashtable..ctor () <0x0002b>
  at System.Resources.ResourceManager.CommonAssemblyInit () [0x0004e] in <41bfa2aae7e04d63b92b74e33c4ee0d2>:0
  at System.Resources.ResourceManager..ctor (string,System.Reflection.Assembly) [0x00054] in <41bfa2aae7e04d63b92b74e33c4ee0d2>:0
  at ISC.iNet.DS.Services.Resources.Con

[2019-01-21 14:54] mrward opened #12538 "InvalidOperationException in DependencyInjector"
## Steps to Reproduce

1. Built a recent copy of monodevelop and md-addins
2. make run from md-addins

### Current Behavior

Running monodevelop crashed on startup once.
Only seen this once. Running again and it was OK.

### Expected Behavior

Mono runs without a crash.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.18.0.

[2019-01-21 15:28] NeonTiger commented on #11937
Thank you so fucking much!

[2019-01-21 15:28] marek-safar commented on #12537
What platform, CPU architecture is this with?

[2019-01-21 15:45] lewurm commented on #12537
right before the assertion, the opcode is printed:
https://github.com/mono/mono/blob/6fee0c0ad874dbfda26f9de7a365cf77496d38e9/mono/mini/decompose.c#L1889-L1891

@kishorepolepalli do you see some additional output right before the assertion? It should be something with a `OP_` prefix.

Depending how long it takes to reproduce, you can try to run `mono -v -v -v -v` (warning, extra spammy, pipe outpu

[2019-01-21 16:39] kishorepolepalli commented on #12537
What platform, CPU architecture is this with?

Arm 9core at91sam9g45 in linux

[2019-01-21 20:05] baulig commented on #12538
Looks like a race condition in

[code]

PR incoming.

[2019-01-21 20:36] #11697 closed

[2019-01-21 20:57] baulig commented on #12100
I'm going to test this with our new code.

[2019-01-21 22:10] lewing commented on #12347
So this is culture specific on the server side. https://github.com/mono/mono/pull/12540 may resolve this the problem but we'll need to verify.

[2019-01-21 22:13] baulig commented on #12100
This is actually working just fine when using the new `HttpClient` from CoreFX.

[2019-01-21 22:17] baulig commented on #10488
It is certainly possible that your version of Xamarin.Mac has not picked up that fix yet.

[2019-01-21 22:20] baulig commented on #12400
PR to finally remove this old an obsolete tool is up: https://github.com/mono/mono/pull/12542.

[2019-01-21 22:20] #12400 closed

[2019-01-21 22:20] bocciab commented on #10488
This is a critical issue. I'm currently at a decision point to keep this crashing my app or downgrade users back to that 10.14 invisible-UI issue from prior mono releases.

Is the fix going to come to mono 5.12 or at least 5.16 (current VS-Stable)? The other posts on this make it sound like we're waiting for VS 2019 to go to full public release before we'll get this.

[2019-01-21 22:55] lewing commented on #11848
I've tested this against mono/linker 16fe874 and it working fine.  There was quite a bit of work done on preserving interfaces since the build blazor is using in 0.7

[2019-01-21 23:13] jeromelaban commented on #12347
This change https://github.com/mono/mono/pull/12540/files#diff-dd2a845ca2ae32b7f4144f59ed43ec02R483 will most likely help for that specific use case.

[2019-01-22 06:13] kishorepolepalli commented on #12537
Any help on this.. Please..

[2019-01-22 06:47] kishorepolepalli commented on #12537
r4_conv_to_r8 R47 <- R44 *Assertion: should not be reached at decompose.c:1889

[2019-01-22 07:52] Octoate opened #12552 "SslStream does not implement some connection-info properties (CipherStrength)."
Hi,
I am currently having problems to run a project under Linux. The project itself contains an ASP.NET Core webserver to provide a REST API, SSL usage is enabled. It works on my Windows machine without any problems, but on Linux it throws a System.NotImplementedException on any access. It seems that the Mono.Net.Security.SslStream.CipherStrength is not implemented by the current Mono version but

[2019-01-22 08:14] #12538 closed

[2019-01-22 08:39] lewurm commented on #12537
Thanks @kishorepolepalli!

So let me break this down:
[code]
We are looking for `OP_RCONV_TO_R8`. Let's first have a look where the assertion in the JIT pipeline happens:
https://github.com/mono/mono/blob/a7cfa881fbaa39dd752acce66a2989427ce73e37/mono/mini/mini.c#L3675-L3678
`decompose` is _right_ to complain about it, since ARM9 is a target that uses soft float and `decompose` have to make sure th

[2019-01-22 09:08] marek-safar commented on #12100
@baulig could you check what was the change which caused this?

[2019-01-22 09:13] kishorepolepalli commented on #12537
How did you obtain mono? **- git repository**
From some repository? If yes, which one? - **git**
Or did you build it yourself? If so, how? Could you put up a copy of config.h somewhere? - **Built using Yocto bitbake files**
please post the output of cat /proc/cpuinfo
**
processor       : 0
model name      : ARM926EJ-S rev 5 (v5l)
BogoMIPS        : 199.06
Features        : swp half thumb fastmult e

[2019-01-22 09:17] petlof commented on #12535
I'm getting a similar error on Debian as well with mono 5.18

[ERROR] FATAL UNHANDLED EXCEPTION: System.InvalidOperationException: object_op ---> System.BadImageFormatException: Method has no body
  at System.IO.CoreFX.FileSystemWatcher.StartRaisingEvents () [0x0001c] in <7c5dc4c30b744f07bb1c2f01ee859535>:0
  at System.IO.CoreFX.FileSystemWatcher.StartRaisingEventsIfNotDisposed () [0x00019] in <7c

[2019-01-22 10:07] petlof opened #12557 "FileSystemWatcher throws System.InvalidOperationException: object_op ---> System.BadImageFormatException: Method has no body"
With Mono 5.18 on Debian I'm getting the below exception when using FileSystemWatcher and EnableRaisingEvents.

If i do
export MONO_MANAGED_WATCHER=dummy
then things works (I guess because of falling back to not use the CoreFX implementation?)

===

[ERROR] FATAL UNHANDLED EXCEPTION: System.InvalidOperationException: object_op ---> System.BadImageFormatException: Method has no body
at System.IO.Co

[2019-01-22 10:50] lewurm commented on #12537
Thanks. I tested a runtime configured for `armel,vfp+fallback` but I couldn't reproduce your issue. Can you please let me know what program you are running?

Also do you know where to find the definition files for `Yocto bitbake`?

[2019-01-22 13:05] marek-safar commented on #12520
@vargaz @lewurm does this look familiar?

[2019-01-22 13:40] marek-safar commented on #12501
We don't have any additional tests than what is in the repo today.

If there is important missing file I think we should be able to get it added even if it might be slow process

We don't plan to invest our capacity in contributing to this effort but we are happy to host it in our repo and do high-level code reviews

[2019-01-22 14:42] lewurm commented on #12520
I can't reproduce on linux/amd64 with current master (f4d059f903ea10e8cf35577e48742f9de7fa913f).

Questions:
1.  > need this for FULLAOT+LLVM

Are you sure you mean _fullAOT_? `mono --aot=llvm` is regular AOT with LLVM.

2. What is commit a44af06956e ?

3. Could you post the full `./autogen.sh` / `./configure` invocation?

4. Are you running on Linux?

[2019-01-22 14:50] steveisok commented on #12479
@lewurm - not sure how to link the ticket to a PR, but I created one.

https://github.com/mono/mono/pull/12533

[2019-01-22 18:48] brianradunity opened #12568 "Cannot marshal ptr to struct (Marshal.PtrToStructure) with embedded generic struct"
[Program.zip](https://github.com/mono/mono/files/2784160/Program.zip)

## Steps to Reproduce

1. Compile and run attached code with current Mono.
2. Notice error messages:
marshaling type 15 not implemented
* Assertion: should not be reached at ..\mono\metadata\marshal-ilgen.c:1098
3. Microsoft .NET does not exhibit this issue.

### Current Behavior

Code crashes when trying to marshal a struct wi

[2019-01-22 19:27] decriptor opened #12569 "Split Mono.Cairo out"
Currently Mono.Cairo is included in the mono repository. Is it worth splitting it out into it's own repository and creating a nuget package from it.

I was recently working on a project on Windows that uses Mono.Cairo. I was getting compile errors because of a missing method. After investigating a bit I noticed that the version of Mono.Cairo that is included with the gtk-sharp msi installer for Wi

[2019-01-22 20:54] lambdageek commented on #12435
I made a skeleton autotools project https://github.com/lambdageek/auto-blah-cpp

The problem is that

[code]
will not pick up `foo_LDFLAGS (although it does pick up `foo_LDADD`)

You need
[code]

For libtool convenience libraries like `libmeh.la`, setting the linker with
[code]
won't pick up target specific `_LDFLAGS` (although it will get `_LIBADD`)
[code]

Also you probably need to pass target-s

[2019-01-22 21:07] baulig commented on #12363
After some debugging, what I found out so far is that there seems to be a generic ~17% slowdown when running jobs from within Jenkins.

Try this:

[code]

Console (on the bot):

[code]

Jenkins:

[code]

[2019-01-22 21:56] lambdageek commented on #12435
[code]
will do the correct (evil) thing because all the CXXLINK commands ultimately boil down to a call to CXXLD.

Maybe this is okay, actually - it's global (I only tried setting it in Makefile.am, which is a tad inconvenient, but maybe setting it in configure.ac would work too), but we can leave it alone for --enable-llvm builds.

[2019-01-22 22:24] steveisok commented on #12501
OK - then I'll post a PR shortly and we'll work it that way.

Re: the missing refsrc files, @akoeplinger worked on my behalf before, but are there others I can nag?

[2019-01-23 07:03] kg opened #12576 "Runtime error compiling i18n assembly on OS X"
I've had OS X builds in particular fail this way a couple times, so filing a bug for it

[code]

See https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/18469/ for the most recent one. Kinda hard to tell what went wrong since there's no assert message or error type. I assume it's an access violation, maybe from JMPing to an invalid address given the 0xffffffff in the traceback?

W

[2019-01-23 09:57] rolfbjarne commented on #12404
I don't think so, the managed code is just an empty Main function.

[2019-01-23 10:25] marek-safar commented on #12576
This looks some caching race. @vargaz @BrzVlad any thoughts on this?

[2019-01-23 10:36] slluis commented on #11023
@marek-safar Can somebody look at this?

[2019-01-23 11:56] thaystg commented on #8429
@cosminstirbu, I could reproduce, thanks a lot!

[2019-01-23 12:06] #12479 closed

[2019-01-23 12:13] marek-safar commented on #12569
We usually do it only for code where we see a potential for future improvements and development. If the nuget packaging is the only "addition" to what we have today I'd much prefer to allow building the package from Mono than moving code around

[2019-01-23 12:13] #9418 closed

[2019-01-23 13:33] #12300 closed

[2019-01-23 13:34] #6477 closed

[2019-01-23 14:47] grendello opened #12577 "HttpClient does not respect Timeout"
_From @csuzw on December 17, 2018 9:15_

I believe this is the same/similar to this issue for Xamarin.iOS: https://github.com/xamarin/xamarin-macios/issues/5190 .  There is a hint in the original issue linked in that IOS issue that using the AndroidClientHandler and setting the ReadTimeout/ConnectTimeout is a workaround but I get the an exception about encoding 'identity' not being supported if I

[2019-01-23 14:47] grendello commented on #12577
_From @jonathanpeppers on December 17, 2018 14:51_

Hi @csuzw,

You mentioned you are _not_ using the `AndroidClientHandler`, which options do you have for your HTTP settings here under `Project Options | Android Options | Advanced`?

![image](https://user-images.githubusercontent.com/840039/50094465-e0f18880-01d8-11e9-8390-ced478d54751.png)

`Default` HttpClient implementation is the same as `Man

[2019-01-23 14:47] grendello commented on #12577
_From @csuzw on December 17, 2018 15:0_

I have Default, Managed and Android.  It is currently set to Default (if I try to set it to Android I get the exception about encoding 'identity').

When the HttpClient is being constructed it is using the default constructor so I believe it uses whatever the default is (which seems to be HttpClientHandler).

[2019-01-23 14:47] grendello commented on #12577
_From @jonathanpeppers on December 17, 2018 17:14_

@grendello after the holiday, is it worth testing timeouts with this service? https://httpstat.us/ They have an option to declare a timeout.

It might be that all we can do is forward this issue to the Mono team?

@csuzw it might also help us if you can send a quick code example of what  you are doing, thanks!

[2019-01-23 14:47] grendello commented on #12577
_From @csuzw on December 17, 2018 17:52_

Here's a really quick example calling httpstat.us: https://www.dropbox.com/s/rukqqp2yyji5ug9/HttpClientTimeoutApp.zip?dl=0 .  HttpClient has timeout set to 200s.  The call to httpstat.us has timeout set to 110s.  When you click the test button it times out after 100s (at least it does for me!).

Strangely when I tried setting the timeout to a value less th

[2019-01-23 14:47] grendello commented on #12577
_From @oOGenosOo on January 23, 2019 11:24_

The problem is not only under Android, i have a IOS/Droid project and the timeout is 100s even under IOS.
Some workaround?

[2019-01-23 14:47] grendello commented on #12577
This issue is a problem in the Mono BCL, which `HttpClient` is part of and should be moved to the Mono org.

[2019-01-23 16:21] thaystg commented on #8429
Fixed.

[2019-01-23 16:21] #8429 closed

[2019-01-23 16:40] marek-safar commented on #12323
I can reproduce something similar locally which looks like a hang after internal SIGABRT.

Full log at https://gist.github.com/marek-safar/f27b1318f3930cf0085769dd17fdc23a

@luhenry who can address this issue?

[2019-01-23 16:42] HenriqueMisson opened #12578 "Corlib not in sync with this runtime: The runtime did not find the mscorlib.dll it expected."
## Steps to Reproduce

I'm trying to launch the Tracealyzer software (https://percepio.com/2018/09/11/running-tracealyzer-4-on-linux-hosts/) and Mono is nedded for that. the step is simply execute the script ```launch-tz.sh```

### Current Behavior

The software doesn't open and the stacktrace below is reported

### Expected Behavior

Open the software

## On which platforms did you notice this

[

[2019-01-23 18:00] luhenry commented on #12323
@marek-safar we will need more information from your repro to have any clue what's going wrong. From the stacktrace you provide, it seems to be a bug in `malloc` itself which points to memory corruption.

[2019-01-23 18:21] lambdageek commented on #12323
I've seen this *kind* of stacktrace before with hybrid suspend on OSX - if two threads call `malloc` - and one is preemptively suspended while the other is coop suspended, the coop-suspended thread can get stuck because osx `malloc` uses a lock internally.  If the first thread was suspended while it held the lock, the other one will deadlock.

The problem is that this stacktrace doesn't look like

[2019-01-23 18:42] baulig commented on #11023
Should have been fixed with https://github.com/mono/mono/issues/10488.

[2019-01-23 19:14] migueldeicaza commented on #12578
Your installation is busted.   Hard to diagnose from the data you provided, it is best to start from a clean install.

[2019-01-23 19:14] #12578 closed

[2019-01-23 19:15] migueldeicaza commented on #12569
Exactly, we can keep the code here, and just add the NuPkg files to do the build.

Additionally, we can setup easily an Azure Pipelines job that publishes new versions of the library.

But perhaps Mono.Cairo could get more action if it was split up, but it brings the burden on Mono to bring another submodule.

[2019-01-23 20:23] mletterle opened #12582 "MethodImpl chain behaves differently on Mono"
## Steps to Reproduce

1. Save the following il to a file called `overrides.il`

[code]

2. Run `ilasm overrides.il`

3. Run `mono overrides.exe`

### Actual Behavior

The program outputs the following:

[code]

### Expected Behavior

The output to be identical to the current versions of both the .NET Framework and .NET Core:

[code]

## Further Details

ECMA-335 II.15.1.4 states:

It associates a

[2019-01-23 20:37] lambdageek commented on #12582
Huh. interesting issue, @mletterle. Have you brought this issue up with https://github.com/dotnet/coreclr?

Mono should match .NET behavior, but as you say it's not totally clear that .NETs interpretation is intentional.

[2019-01-23 20:52] mletterle commented on #12582
I haven't brought it up with the coreclr folks since their behavior matches the legacy clr and my understanding is mono tries to track the legacy clr behavior. Also, historically speaking, it was also my impression that legacy clr behavior drove the spec more than the other way around ;) .

In other words, it felt more "issue"ish here than there :)

[2019-01-23 21:53] #11615 closed

[2019-01-23 21:54] lambdageek commented on #12582
I went ahead and asked CoreCLR folks if their current behavior is surprising to them. dotnet/coreclr#22165

[2019-01-23 22:14] mletterle commented on #12582
Thank you, my ultimate goal was to prompt just this kind of conversation on the behavior :+1:

[2019-01-23 22:45] mkArtakMSFT opened #12586 "DataContractSerializer is not available"
_From @rockfordlhotka on Sunday, 08 April 2018 03:45:21_

This code throws an exception (shown below):

[code]

I strongly suspect it is because these two assemblies can't be referenced by a Blazor project without causing a linker/compiler issue:

[code]

Here's the exception when attempting to use the DCS:

[code]

_Copied from original issue: aspnet/AspNetCore#5499_

[2019-01-23 22:45] mkArtakMSFT commented on #12586
_From @SteveSandersonMS on Sunday, 08 April 2018 07:04:23_

Does it behave differently if you disable linking by putting the following in your Blazor client app csproj?

    <BlazorLinkOnBuild>false</BlazorLinkOnBuild>

[2019-01-23 22:45] mkArtakMSFT commented on #12586
_From @rockfordlhotka on Sunday, 08 April 2018 18:56:44_

Yes @SteveSandersonMS, the DCS does work with linking disabled.

[2019-01-23 22:45] mkArtakMSFT commented on #12586
_From @DNF-SaS on Tuesday, 10 April 2018 09:41:40_

Great, setting BlazorLinkOnBuild to false also makes Newtonsoft.Json work! 👍

[2019-01-23 22:45] mkArtakMSFT commented on #12586
_From @rockfordlhotka on Tuesday, 10 April 2018 20:14:45_

One thing about Newtonsoft.Json - regardless of the `BlazorLinkOnBuild` setting it works fine with primitive types. Where I ran into trouble was having it serialize complex/custom types, and that triggered issues with `System.Linq.Expressions` (https://github.com/aspnet/Blazor/issues/356).

[2019-01-23 22:45] mkArtakMSFT commented on #12586
_From @danroth27 on Tuesday, 10 April 2018 22:59:55_

@javiercn

[2019-01-23 22:47] mkArtakMSFT commented on #12586
@lewing, this is an issue we see in Blazor with Linker.

[2019-01-23 23:00] steveisok commented on #12481
Not an everyday C guy.... So, if I'm looking at things correctly, the return value from g_getenv needs to be freed by the caller.  If that's correct, then it *seems* like the existing tmp_dir will never be freed.

If we make tmp_dir local, then is it correct that the callers of g_get_tmp_dir also must free the return value?  Is that right?

[2019-01-23 23:55] pr0vieh commented on #10868
Workaround:
cp -r $sourcedir/mono/llvm/usr/* $monoprefix
works fine for me!

[2019-01-24 00:08] pr0vieh commented on #12520
my bad... maybe the minimal stuff or an faulty source/compile this is working fine
with:
"-O=all,-shared --aot=full,llvm,interp,nimt-trampolines=2000,ntrampolines=10000,nrgctx-fetch-trampolines=256,ngsharedvt-trampolines=4000,nftnptr-arg-trampolines=4000"
@ mono use --llvm --full-aot-interp
🎉
sry for waste your time :worried:

[2019-01-24 00:08] #12520 closed

[2019-01-24 05:58] witcher112 commented on #10030
Pull request has been sent - I've chosen to go with second option:

[2019-01-24 08:47] lewurm commented on #12481
Ugh... I think a general assumption in the unix world is that environment variables are _not_ changing during the lifetime of a process. The code in `gmisc-unix.c` takes advantage of that assumption and caches the retrieved value since `getenv ()` can be slow.

Unfortunately we have a _lot_ of places in the Mono runtime where we assume environment variables aren't changing during the process lifet

[2019-01-24 09:15] HeikoWeiss commented on #11615
I can confirm the memory leak is fixed with the fix in g_find_program_in_path().

[2019-01-24 10:17] Ronaldho80 commented on #9956
I just upgraded my mono installation on Ubuntu to 5.18.0.240:
[code]
However, contrary to @batmaninpink suggestion, it still produces the same error:
[code]

Is there another way to make the bundle instead of using mkbundle?

Thx, Ronny

[2019-01-24 10:20] petlof commented on #9956
@Ronaldho80 Add --simple as argument to mkbundle and it will work!

[2019-01-24 11:16] Ronaldho80 commented on #9956
Thx a lot, this did it!

[2019-01-24 15:44] ajlennon commented on #9951
@solabc16 - if anybody wants to send PRs to me for updates to Poky meta-mono to support new releases these will auto-build on my Jenkins instance. It also does some very basic runtime sanity checks.

https://github.com/dynamicdevices/meta-mono

http://jenkins.dynamicdevices.co.uk:8080/job/meta-mono

[2019-01-24 17:56] jaredpar opened #12603 "Mono throws exception with text GetCPInfoExW opening binary file"
## Steps to Reproduce
This was found attempting to get the C# semantic tests running on Mono

1. Clone https://github.com/jaredpar/roslyn
1. Run `./build.sh --restore --build`
1. Run `cd src/Compilers/CSharp/Test/Symbol`
1. Run `dotnet msbuild /t:Test /p:TestRuntime=Mono`

### Actual Behavior
This will run the Symbol unit tests and eventually Mono will fail executing the test `  FileThatCannotBeDe

[2019-01-24 17:59] jaredpar commented on #12603
Based on another test failure it would seem the full stack of the exception being thrown here is the following:

[code]

[2019-01-24 18:19] mkArtakMSFT opened #12604 "Build Error when referencing a bunch of standard libraries"
_From @TFTomSun on Saturday, 24 March 2018 19:06:43_

First of all: Thanks for the great work. I love that project and I want to support it as much as i can.

I started with a simple Blazor (not hosted) project and referenced some of my existing .net standard projects incl. some 3rd party packages like selenium (WebDriver and WebDriver.Support) and Docker.DotNet.

When I try to build the app I get

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @conficient on Monday, 26 March 2018 15:28:04_

Blazor is built using [mono-wasm](https://www.mono-project.com/news/2017/08/09/hello-webassembly/) as the base .NET framework implementation, and in this case I believe it's a missing method in mono-wasm that's the issue.
[code]

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @grahamehorner on Monday, 26 March 2018 15:36:49_

@conficient @TFTomSun at present Mono WASM has no support for threading; check the repo https://github.com/lrz/mono-wasm-mono for more info

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @danroth27 on Monday, 26 March 2018 21:36:55_

@kumpera

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @danroth27 on Monday, 26 March 2018 21:37:40_

@javiercn Can you take a look at what's happening here? Is this an issue with the linker? With Mono's .NET Standard support? Something else?

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @TFTomSun on Monday, 26 March 2018 21:51:04_

@javiercn
Let me know tell me if you need a reproducible scenario.

If threading and the expression stuff is not supported by mono wasm i would at least prefer to get a error message, that points me to the exact method or code line that is not compilable. As it is at the moment, I don't know how to workaround that issue.

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @mserradotnet on Tuesday, 27 March 2018 08:27:30_

Hi,

I ran into the same issue with the default Blazor template (not hosted).

It builds and runs fine, but then just adding Newtonsoft.Json as a dependency (dotnet add package Newtonsoft.Json) followed by a 'dotnet build' throws the mentioned error by @TFTomSun .

I'm on MacOS

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @kumpera on Tuesday, 27 March 2018 13:02:32_

Mono has support for System.Linq.Expression without the SRE based compiler. I need to see why it's not enabled on our setup.

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @marek-safar on Tuesday, 27 March 2018 13:34:47_

The problem is that WASM is not netstandard compliant right now and there is no TFM for WASM as of today for us to customize it.

As a hack you can use the assembly I attached which should unlock you on this matter if you use it as a replacement for the same one in bin folder (e.g. using post-build copy)
[System.Reflection.Emit.Lightweight.dl

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @robertsundstrom on Tuesday, 27 March 2018 17:33:06_

@marek-safar OK. How do I set this up?

I tried this in my project file:

[code]

Can't make this work. I get the same error.

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @robertsundstrom on Tuesday, 27 March 2018 18:10:55_

The workaround works by replacing the corresponding file ```System.Reflection.Emit.Lightweight.dll``` in ```~/.nuget/packages/system.reflection.emit.lightweight/4.3.0/lib/netstandard1.3/```

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @mserradotnet on Wednesday, 28 March 2018 06:43:51_

@robertsundstrom Thank you, this builds fine with your method.

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @SteveSandersonMS on Thursday, 29 March 2018 14:17:09_

@TFTomSun, @robertsundstrom, @marek-safar: Can you supply a simple repro for this?

I tried referencing `System.Threading.Semaphore` and `Newtonsoft.Json.JsonConvert` from a Blazor app and it still compiled fine. I'm not saying they would necessarily work at runtime (didn't check), but the comments above say there's a compile-time error

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @robertsundstrom on Thursday, 29 March 2018 14:59:04_

@SteveSandersonMS Sure. I got that error while compiling this without the workaround: https://github.com/robertsundstrom/ChatSample-WebAssembly-SignalR

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @SteveSandersonMS on Thursday, 05 April 2018 15:44:21_

Note to future bug-fixer: For an easily repro, see https://github.com/aspnet/Blazor/issues/436

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @TFTomSun on Saturday, 07 April 2018 22:02:27_

@robertsundstrom I tried your workaround and copied the dll into the folder:
**Nuget\packages\microsoft.aspnetcore.blazor.build\0.1.0\tools\mono\bcl\Facades**
Thats the only folder under my nuget package root that contains a dll with the same name. When I replace the dll I still get the same error. Any idea what i' doing wrong?

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @robertsundstrom on Saturday, 07 April 2018 22:22:01_

@TFTomSun The directory to place it in is ~/.nuget/packages/system.reflection.emit.lightweight/4.3.0/lib/netstandard1.3

~ in the path is your home-directory.

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @TFTomSun on Saturday, 07 April 2018 22:51:19_

Thanks. got it. I wasn't aware of all that nuget package folders. Actually i thought when i specify my own folder via nuget.config, all package will be downloaded into this folder. Seems that nuget is still looking in the users folder, even if a nuget.config is in place.

My approach is now to delete the packages folder under the users folder a

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @TFTomSun on Saturday, 07 April 2018 22:59:30_

@robertsundstrom

ah... actually i get only one of the two errors now. This one is leftover:

**Cannot find declaration of exported type 'System.Threading.Semaphore' from the assembly 'System.Threading, Version=4.0.12.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'**

Any chance to workaround that too?

**Edit:**
Got it buildable now. The

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @chassq on Wednesday, 11 April 2018 13:56:20_

This may be the same issue for me when trying to add System.Linq.Dynamic.Core to the Blazor Client project. Adding the system.reflection.emit.lightweight.dll file mentioned above did not seem to help.

I get compile time errors as follows:

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "dotnet "C:\Users\

[2019-01-24 18:19] mkArtakMSFT commented on #12604
_From @SteveSandersonMS on Wednesday, 11 April 2018 14:00:54_

OK. For now if you want to use those assemblies you'll need to disable linking via `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>` in your `csproj` file.

Later on we'll:

 * Tweak the default linking config to preserve whatever's needed to make the libraries work with linking
 * Make it easier for developers to provide their own linkin

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @chassq on Friday, 13 April 2018 17:07:57_

Not sure if this is related (or a blazor issue) but wanted to submit it. When trying to use System.Linq.Dynamic.Core NuGet pkg I get the following error when trying to use the Dynamic Linq OrderBy(string) overload. Error and sample code follow:

**ERROR:**
[code]

**CODE:**
[code]

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @kumpera on Monday, 16 April 2018 16:36:42_

CC @marek-safar @mhutch

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @DNF-SaS on Tuesday, 01 May 2018 07:49:20_

+1 for random (at least they look random to me) build errors when using a lot of nuget-packages.

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @SteveSandersonMS on Tuesday, 01 May 2018 08:06:31_

@DNF-SaS If you have information about which specific packages make the linker  throw that would be helpful.

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @DNF-SaS on Tuesday, 01 May 2018 11:31:38_

@SteveSandersonMS Sure, use the following lines as .csproj in a default blazor project.

[code]

Error is

[code]

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @jskeet on Tuesday, 08 May 2018 22:54:53_

FWIW, I get a similar error installing Noda Time into the project.

Adding the `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>` build property gets me past it temporarily, at which point I'm getting a `TypeInitializationException` deep inside Noda Time when it's building a time zone for some reason. I'll need to dig deeper into that...

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @alastairtree on Wednesday, 16 May 2018 23:38:17_

Another very similar error in the linker when you install RestEase into a blazor client side package. The BlazorLinkOnBuild property then allows the build to complete and the underlying issue to surface as a runtime exception:

MonoPlatform.ts:70 Uncaught (in promise) Error: System.TypeInitializationException: The type initializer for 'RestE

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @chassq on Thursday, 17 May 2018 13:39:56_

Related to my comments above about System.Linq.Dynamic.Core. It now seems to work with the latest 0.3.0 release and latest VS Preview.

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @MisinformedDNA on Sunday, 03 June 2018 05:04:23_

I found that if I have this package:

`<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.0.3" />`

the build will fail in VSTS. If I remove the package, it builds fine.

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @fileman on Sunday, 03 June 2018 07:28:48_

EF sql server pkg is for server side projects

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @mkArtakMSFT on Wednesday, 23 January 2019 22:19:44_

@SteveSandersonMS, is there any action from our side here or should this go to the Mono repo?

[2019-01-24 18:20] mkArtakMSFT commented on #12604
_From @SteveSandersonMS on Wednesday, 23 January 2019 23:06:40_

For anything that fails specifically due to the linker (i.e., works OK if you use `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`), then it should be reported to Mono and isn't something we can address in this repo.

[2019-01-24 19:42] kg commented on #12603
@alexischr any ideas?

[2019-01-24 22:00] christoskaramou opened #12608 "How to get a class variable like vec3 or an array of 3 floats"
This might be a silly question, but how can i get the value (or the ptr) to a variable of a class type like the bellow?

[code]

I do get the MonoClassField* like this
[code]
but after that how do i get the value of the position?
This is how i get the other standard type values like floats
[code]

[2019-01-24 22:11] lambdageek commented on #12608
You can still use `mono_field_get_value`, but with a `MonoObject*` as the field type:
[code]

[2019-01-24 22:38] baulig commented on #10488
This should've been fixed in https://github.com/mono/mono/pull/10732.

[2019-01-24 22:52] baulig commented on #12552
We never implemented those properties.

[2019-01-24 22:53] bocciab commented on #10488
I don't know what release version that is or should be in (we really could use public release versioning when talking about things - I can't follow your branching/release milestone naming). What I know is that if I look in the code in the latest stable 5.18 framework install I have (5.18.0.245), the code in the commit is not there. It wasn't in 5.16 either, but I've been installing all different v

[2019-01-24 23:02] christoskaramou commented on #12608
I tried that, but the results are not correct, what is the proper way to get a vec3 out of the MonoObject*?
mono_object_unbox will give me fatal error and the straight cast of MonoObject*  to float* or vec3* will give me wrong numbers. Maybe a working example will save me :D. Sorry again i m new to this.

[2019-01-24 23:04] marek-safar commented on #12603
@baulig it looks like we didn't wire CoreFX bit correctly

[2019-01-24 23:13] christoskaramou commented on #12608
I tried that, but the results are not correct, what is the proper way to get a vec3 out of the MonoObject*?
mono_object_unbox will give me fatal error and the straight cast of MonoObject* to float* or vec3* will give me wrong numbers. Maybe a working example will save me :D. Sorry again i m new to this.

[2019-01-24 23:15] NickAVolpe commented on #10488
If it helps anyone, when I replace HttpWebRequest with HttpClient the error is not reproducible. Which is frustrating on my end because my code is written with HttpClient and I am still seeing this exception in our production environment. Suggestions welcome :)

`        async public static Task<string> GetRequest(string uri, int timeout = 1000)
        {
            HttpResponseMessage resp;

[2019-01-24 23:22] lambdageek commented on #12608
In your example, `vec3` is a class, not a struct, so it is laid out in memory with some values that belong to `System.Object` before the fields of the `vec3` itself. So you have to access its fields again using the Mono API.  Something like this:

[code]

---

Alternately, if you can change your `vec3` to be a `struct`, something like this:
[code]

Then you could access it from native code like th

[2019-01-24 23:30] NickAVolpe commented on #10488
Forgot to mention, I am running this in a Xamarin.Android project which I do not believe has mono 5.18 yet.

[2019-01-24 23:35] christoskaramou commented on #12608
Thank you, the [StructLayout(LayoutKind.Sequential)] worked fine. Cheers!

[2019-01-24 23:35] #12608 closed

[2019-01-25 00:08] bocciab commented on #10488
I was running the latest stable Xamarin.Mac. Updating to the latest stable version of it, and even trying to update to 5.18, I still see the crash occurring.

I downgraded to XM 4.4 (a known prior build that wasn't seeing this crash) and the sample app had no uncatchable unobserved task exceptions.

As noted before, I'm not able to get updates for VS Mac, so I can't easily re-update to the latest

[2019-01-25 04:52] kjpou1 commented on #12586
We are able to recreate this.  Thanks for letting us know.

[2019-01-25 08:45] lateralusX commented on #12480
Starting to work on a solution for this, it require a redesign of the implementation done by this commit https://github.com/mono/mono/commit/53af53ae5923ccb205ea8e0ebebdbe0c0ee5de88. The repro posted in this issue works as expected, so many thanks for that as well as the investigation @UnityAlex.

[2019-01-25 10:48] #10030 closed

[2019-01-25 14:18] marek-safar commented on #12604
I believe this should be fixed in the latest Mono drop

[2019-01-25 14:59] marek-safar commented on #11023
Duplicate #10488

[2019-01-25 14:59] #11023 closed

[2019-01-25 15:01] marek-safar commented on #12577
@baulig this sounds familiar, did we fix it recently?

[2019-01-25 15:14] TFTomSun commented on #12604
@marek-safar
i think what we really need is a compiler who tells us which code (class, method) in which package is not supported. Blazor claims to support the. net standard. but unfortunately it doesn't fully support it and will probably never do. So for now, we would at least know what breaks the build or run. In the long run, the best would be to define a subset of. net standard lets call it .ne

[2019-01-25 16:37] directhex opened #12621 "System.Runtime.Loader facade missing?"
We have a System.Runtime.Loader facade in https://github.com/mono/mono/tree/master/mcs/class/Facades/System.Runtime.Loader but it seems we aren't building it?

[2019-01-25 16:41] marek-safar commented on #12604
The goal is to have only a single netstandard API surface. Please check https://github.com/dotnet/standard/blob/master/docs/faq.md#will-there-be-tooling-to-highlight-apis-that-dont-work-everywhere for more details

[2019-01-25 17:02] baulig commented on #12577
The new HttpClient has the fix.

[2019-01-25 17:05] EgorBo commented on #12421
"SBC -> OCE" (mono 5.14) behavior looks more reasonable, doesn't it? (WPF+net45 behavior).
I am not sure what was the reason of this change

How did you log that event, did you override `SynchronizationContext.SetSynchronizationContext`? I don't see any redundant Post after I click "Start" button.

[2019-01-25 18:40] roceh commented on #10488
Is there anyway to escalate a backport? This regression has been in Xamarin.Android since October.

[2019-01-25 19:00] Xoristzatziki commented on #8144
Same problem. Installed mono-5.18.0.240-gtksharp-2.12.45-win32-0.msi on windows 10 64bit

returns

(suspicious invert slashes before «pkgconfig»).

[2019-01-25 20:22] #11918 closed

[2019-01-25 20:22] #11919 closed

[2019-01-25 22:05] ajcvickers opened #12626 "Unreproducible Mono InvalidProgramException - Invalid IL"
Originally posted as https://github.com/aspnet/EntityFrameworkCore/issues/14429. We have investigated from the EF Core side and don't see anything wrong, so moving over to Mono.

------

Frequently (~3-7 days of light use apart), albeit randomly, seeing InvalidProgramExceptions thrown when accessing the database through EF queries.  So far, all observed stack traces are from queries with Include()

[2019-01-25 22:08] ajcvickers commented on #12626
Existing comments:

@Ryan-T-Downing-FM - Can you also share the query which generated above stack trace? It is a query which ends with `FirstOrDefault` in user code.

----

Absolutely.

[code]
----
@Ryan-T-Downing-FM also, could you provide the listing for the entities present in the query (User, Company, EVisitLinks, Department, Affiliations, Device, Location) as well as the contents of OnModelCr

[2019-01-26 00:12] pr0vieh commented on #12520
i play around with my --enable-minimal= stuff when i remove logging from list its working!

[2019-01-26 00:17] DasSkelett commented on #12402
https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mcs/class/System.Windows.Forms/System.Windows.Forms/LinkLabel.cs#L671-L674
Could the error be right there?
Shouldn't the offset by centering be added to the padding offset?

[2019-01-26 10:27] nephaste opened #12632 "wont compile on arm64 (aarch64) Roslyn crash"
## Steps to Reproduce

1.  on Ubuntu Xenial 1604 (aarch64)
2.  Mono 5.18.0.240 from source
[config.log](https://github.com/mono/mono/files/2798883/config.log)

Linux TS-128A 4.2.8 #1 SMP Fri Dec 28 01:02:38 CST 2018 aarch64 aarch64 aarch64 GNU/Linux

### Current Behavior

[code]

thanks for your help...

[2019-01-26 10:53] solabc16 commented on #12537
Hello

I've come across this running Mono on ARMv5 based machines with all releases following 5.12.0.301. I had to revisit the project and decided to see how 5.18.0.240 behaved.

[code]
[code]
[code]
Let me know what further information and test resource I can provide.

Best
- James

[2019-01-26 10:57] solabc16 commented on #12537
FYI - the above could be generated by running the following, no need to try and run the program.

`./bin/ikdasm my.exe -assembly`

Best
- James

[2019-01-26 11:58] ajlennon commented on #11744
Hi all,

I'm seeing the same thing with 5.18.x and 5.16.x as I try to build meta-mono. Has anybody got any pointers on what's gone wrong? Thanks.

e.g. http://jenkins.dynamicdevices.co.uk:8080/job/meta-mono/56/console

Cheers,

Alex

[2019-01-26 14:36] nephaste commented on #12632
seems ok with flag  --with-csc=mcs   , but i need be built with Roslyn    :(
due application support only if Roslyn is used

[2019-01-26 15:42] nephaste commented on #12632
new try with --with-csc=roslyn

`  CC       minizip/unzip.lo
minizip/unzip.c:303:12: warning: function declaration isn’t a prototype [-Wstrict-prototypes]
 static int unzStringFileNameCompare (fileName1,fileName2,iCaseSensitivity)
            ^
minizip/unzip.c:1354:20: warning: function declaration isn’t a prototype [-Wstrict-prototypes]
 extern int ZEXPORT unzeof (file)
                    ^
mini

[2019-01-26 16:20] nbarkhina opened #12634 "need help with sample"
I'm a noob just trying to get started with the getting-started sample but it seems like there are a lot of steps that it just does not include. I'm on windows, I downloaded the WebAssembly SDK - but from there I am totally stuck.

After copying the sample files step it says run CSC command /target:library etc.....

where do I find CSC command? is that just using the VS 2017 developer command promp

[2019-01-26 17:11] nbarkhina commented on #12634
nevermind - figured it out. For those wondering - first install mono on windows from this download page https://www.mono-project.com/docs/getting-started/install/windows/

then open the mono command prompt from Start Menu -> Mono -> "Open Mono x86 Command Prompt"

from there the MONO and CSC commands work.

[2019-01-26 17:31] besrml commented on #8144
Almost resolved, the problem is in the empty space in the install directory.
Certains parts of the mono install manage fine the empty spaces and another not.
The working solution is install the mono  in the parent base directory(aka c:\) or make a symlink in the basedirectory(aka c:\)  to the install directory of mono(perhaps "c:\program files\mono")

[2019-01-27 04:19] rikimaru0345 opened #12636 "How are JIT improvements in particular related to .net core?"
Hi,

I'm writing a library that **heavily** profits from this so called devirtualization optimization in .net core 2.1:
https://blogs.msdn.microsoft.com/dotnet/2017/06/29/performance-improvements-in-ryujit-in-net-core-and-net-framework/

I was wondering how the mono jit is related to all of this.
Does mono have its completely separate jit? I'm guess so at least...

Are those devirtualization impro

[2019-01-27 13:52] zilti opened #12637 "System.DllNotFoundException: /usr/lib64/libMonoPosixHelper.so"
Why on earth do you hardcode that library path? That is something that just shouldn't be done on Linux. Ever.

[2019-01-27 13:58] #12637 closed

[2019-01-27 16:01] joelpurra opened #12638 "Website with .resx files errors at first load on Debian"
After upgrading mono, the website immediately went down as C# project resource/translation/internationalization files in `App_GlobalResources` did not compile properly and therefore crashing the server before the page code itself executes.

The issue happens on my personal "production" server (Debian Testing/Buster), but not on the developer machine (macOS 10.14 Mojave), both running mono v5.18.0.

[2019-01-27 18:34] vletoux opened #12639 "System.DirectoryServices.DirectoryEntry: no support for RootDse with servername"
## Steps to Reproduce

var rootDse = new DirectoryEntry("LDAP://servername/RootDSE, UserName, Password, AuthenticationTypes.ServerBind | AuthenticationTypes.Secure );
rootDSE.Properties.Count;

### Current Behavior

An exception is thrown:

ResultCode = 34
Message= 0000208F: NameErr: DSID-031001F7, problem 2006 (BAD_NAME), data 8350, best match of:
	'RootDSE'

### Expected Behavior

The rootDSE is

[2019-01-27 18:35] vletoux commented on #12639
Workaround: the syntax LDAP://Server (without the / at the end) is working to get the rootDSE data

[2019-01-27 18:59] vletoux opened #12640 "System.DirectoryServices.DirectoryEntry: all data returned in string format"
## Steps to Reproduce

1. Get the DirectoryEntry of an AD object
2.  retrieve a binary property such as ntsecuritydescriptor, cacertificate, objectsid

### Current Behavior

The data returned by encoded using UTF8 to a string.
The binary data (decoded again in binary using the UTF8 encoder) is modified compared to the original data.
Quote here (https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c

[2019-01-27 19:02] vletoux opened #12641 "System.DirectoryServices.DirectoryEntry: implement ObjectSecurity"
## Steps to Reproduce

1. Get a DirectoryEntry of an object
2. Read ObjectSecurity

### Current Behavior

The function is unimplemented

### Expected Behavior

The property returns an object ActiveDirectorySecurity initialized with the content of the property ntSecurityDescriptor
Basically:
byte[] sd = Encoding.UTF8.GetBytes(sr.Properties["ntsecuritydescriptor"][0] as string);
aditem.NTSecurityDes

[2019-01-27 21:28] SourMesen opened #12644 "WinForms - ToolStrip dropdowns do not close properly"
## Steps to Reproduce

1. Create a small application with a MenuStrip, containing a single menu item, which contains a single item in its dropdown, which contains a single item.  e.g, something like this:
![image](https://user-images.githubusercontent.com/21093973/51806649-67729e80-224a-11e9-8a3d-d5888e7878cf.png)
(this form contains no code other than the code generated by the designer in Visual

[2019-01-28 01:58] nbarkhina opened #12646 "[wasm] Can't get Roslyn Compiler to work in browser"
I'm trying to make a page where I can use the Microsoft.CodeAnalysis API's to compile a syntax tree in the browser. I wanted to see if it would be possible to compile C# code at runtime using mono-wasm and I've seen some demo's on the web who have had success in this. I almost got it working except the part where I start constructing all of the references. Since Webassembly doesn't have a file sys

[2019-01-28 06:08] AndreyFromGomel commented on #12421
@EgorBo First of all thank you for your reply.

I'm agree with you that it is more reasonable, but if we check this behavior on Windows Forms (.NET 4.6.1) we get "OCE -> SBC" (like mono 5.10.1).

Yes, I set my `SynchronizationContext` implementation via `SynchronizationContext.SetSynchronizationContext`.

`Post` call is not redundant in current implementation, but previously Task cancellation didn

[2019-01-28 08:44] #12634 closed

[2019-01-28 08:46] marek-safar commented on #12636
Mono has its own JIT which does not use any .NET Core JIT optimizations. For the best performance, we are recommending to use AOT with LLVM backend.

[2019-01-28 08:46] #12636 closed

[2019-01-28 09:13] marek-safar commented on #12626
@ajcvickers do you call DynamicMethod.CreateDelegate from multiple threads?

[2019-01-28 09:36] Suchiman commented on #12646
The simplest solution would be to `HttpStream.CopyTo(MemoryStream)` and then load that

[2019-01-28 09:51] EgorBo commented on #12421
@AndreyFromGomel I'll take a look, I am not sure the problem in Mono though. I tried to reproduce this case in a console app with hand-made sync context but couldn't reproduce any difference between mono-5.10 and mono-5.14. A while ago we replaced a lot of related stuff with .NET Core sources but as far as I remember it happened before mono-5.10 but I'll check.

[2019-01-28 12:18] xleon commented on #10488
For those using Xamarin.Android, this [pre-release](https://github.com/xamarin/xamarin-android/releases/tag/xamarin-android-9.1.103.7) is using mono 5.18

[2019-01-28 12:45] RemyRM opened #12652 "HttpListener.TimeoutManager throws System.NotImplementedException"
I am trying to get/set the timeouts on a HttpListener object, but get a NotImplementedException on all Timeouts. If this is indeed not implemented, is there an ETA for it?

## Steps to Reproduce

1.  Instantiate a new HttpListener
2.  Try to get or set any of the HttpListener.TimeoutManager properties

[code]

### Current Behavior

Throws a `System.NotImplementedException` and crashses the program

[2019-01-28 12:48] EgorBo commented on #12255
I wonder who uses this BCL assembly at all, when users run EF6 on top of mono  - they use EF's System.Data.Entity, don't they?

[2019-01-28 14:03] rolfbjarne commented on #10483
The stable release of d16.0/VS2019 will probably be in March/April.

[2019-01-28 15:54] smitpatel commented on #12626
https://github.com/aspnet/EntityFrameworkCore/blob/c09ece47c2379f3a23f6a93af7c6b35f0918b26a/src/EFCore/Metadata/Internal/ClrCollectionAccessorFactory.cs

@marek-safar - We do use DynamicMethod.CreateDelegate. It can come from multiple threads if multiple queries are being compiled by the user. What issue does that cause?

[2019-01-28 16:52] joncham commented on #12568
Tracked by Unity issue: https://issuetracker.unity3d.com/issues/if-marshal-dot-ptrtostructure-raises-an-exception-the-editor-crashes

[2019-01-28 17:19] jaredpar commented on #10945
Shouldn't this bug be Open given this is still reproducing?

[2019-01-28 17:43] marek-safar commented on #10945
Yep, reopening

[2019-01-28 17:46] marek-safar commented on #12626
Our System.Reflection.Emit implementation is not thread-safe which might be what you hit (but this is just my guess)

[2019-01-28 18:59] maxtheking opened #12662 "Can't install older version of Mono on Debian Stretch"
Hi, I'm trying to install Mono version 5.14.0.177 on my Debian 9 x64 VM which is running Jackett, Sonarr and Radarr. The reason that i want to install an older version is that the latest stable version doesn't work that well for me, and the older version is known to be working well with Sonarr, Radarr and Jackett. I added `deb https://download.mono-project.com/repo/debian/dists/stable-stretch/snap

[2019-01-28 21:22] #12435 closed

[2019-01-28 21:37] lambdageek commented on #12323
I think this has been fixed on 2018-10 and later with https://github.com/mono/mono/pull/10793.  I'm going to see if we can port that back to 2018-08.

[2019-01-28 21:45] baulig commented on #12019
The only type that's creating problems is `ManualResetValueTaskSourceCore`:

[code]

We're still using `ThreadPool` from the reference source.

[2019-01-28 22:30] #12402 closed, assigned to nobody

[2019-01-28 22:39] marek-safar commented on #12662
/cc @directhex

[2019-01-28 23:48] nbarkhina commented on #12646
Thank you! That solved that problem, now another problem has emerged. I've tried with many different versions of Microsoft.CodeAnalysis.. 2.8, 2.11 beta, 3.0 beta and none of them work. Is there one that is designed for wasm?

For some reason in Blazor it works. Does the Blazor build pipeline do something with these Mono wasm dlls? Ideally I wanted to get this working with just Mono Wasm and witho

[2019-01-28 23:50] Suchiman commented on #12646
@nbarkhina are you running the linker?

[2019-01-29 01:44] nbarkhina commented on #12646
I'm not sure - i'm running the commands from the wasm starter documentation -

csc /target:library -out:sample.dll /noconfig /nostdlib /r:C:\mono-sdk\ClassLibrary1.dll /r:C:\mono-sdk\DLL\Microsoft.CodeAnalysis.CSharp.dll /r:C:\mono-sdk\DLL\Microsoft.CodeAnalysis.dll  /r:C:\mono-sdk\DLL\System.Collections.Immutable.dll /r:C:\mono-sdk\DLL\System.Reflection.Metadata.dll /r:C:\Users\nbarkhina\Desktop\

[2019-01-29 03:49] kjpou1 commented on #12646
@nbarkhina The packager tool may not be able to find and publish all the necessary assemblies.  It feels like you are missing an assembly somewhere.

[2019-01-29 04:48] baulig commented on #12652
AFAIK, the task of importing `HttpListener` from CoreFx got dropped in the wake of the One .NET.

It's also not a "trivial" in-place replacement because our version has some custom hacks to supply certificates which does not exist in their version.  We'd have to design some kind of a public API to do that.

But regardless of bringing `HttpListener` from CoreFx, it looks like in their managed (ie.

[2019-01-29 04:53] knocte commented on #12652
What's the One .NET?

[2019-01-29 05:20] baulig commented on #12552
So, adding an API to retrieve the cipher algorithm from the native backend - that literally takes like half an hour.

The returned cipher algorithm uniquely and unambiguously defines the cipher strength as well as the other "Connection Info" properties.  But a mapping table will be needed.

A design decision must be made as to where and how this mapping table should be implemented - should we try

[2019-01-29 05:48] baulig commented on #12662
I don't really know much about this, but it might be helpful if you could provide the contents of your `/etc/apt/sources.list.d/mono-official-stable.list` - I'm just thinking does this file look reasonable or is there something in it that's really messed up.

[2019-01-29 05:54] baulig commented on #12557
I vaguely remember having seen `System.BadImageFormatException: Method has no body` in the context of a P/Invoke'd library not being found.  Is it possible that we don't install the native library on linux @alexischr?

[2019-01-29 06:00] baulig commented on #12481
I fully agree with what @lewurm wrote above.  In case it actually does break something, I would suggest to add some Mono-specific internal method to force-modify the temp path.

Or in other words, let's keep the current code that's caching the value - and if need be add some kind of a "force override" mechanism.

[2019-01-29 06:04] baulig commented on #12430
Do you have a list of the failing tests?

Regarding watchOS - is there any value in even running them on watchOS, considering that there is no networking / sockets support?

[2019-01-29 09:52] EgorBo commented on #12626
https://github.com/mono/mono/issues/7828 related

[2019-01-29 10:06] tmds opened #12669 "Support rid specific libraries"
Some NuGet packages, like [Mono.Posix.NETStandard](https://www.nuget.org/packages/Mono.Posix.NETStandard/) and [Libuv](https://www.nuget.org/packages/Libuv/), contain managed and native libraries that differ per [rid](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog). .NET Core picks the proper libraries based on the platform it is running on. Does mono support this feature?

[2019-01-29 12:04] marek-safar commented on #12363
@baulig @akoeplinger did we confirm this is OSX version specific issue?

[2019-01-29 12:14] lateralusX commented on #12480
Suggested fix that will revert back to using blocking socket IO fixing this issue and adding additional optional support to abort blocking IO calls as part of doing thread abort, https://github.com/mono/mono/pull/12654.

[2019-01-29 12:52] AntonovAv opened #12670 "MSBuild fails if project directory contains folder with `.\..\..\logs` name"
## Steps to Reproduce

1.  Place into project root directory with name `.\..\..\logs`
2. Start building project
3. Got error (`error MSB3552`)

### Current Behavior
If in directory of project there is directory with `.\..\..\logs` project not compiled.
I'm using `Serilog` for write logs and its default path in windows style `.\..\..\logs`. After first success running of application it placed direc

[2019-01-29 13:21] EgorBo commented on #12421
Alright, so the behavior has changed exactly once we switched to the CoreRT-based impl of Task-related stuff. For some reason TrySetCancel indeed triggers SyncContext.Post, I suspect it's CoreRT-specific issue, can't reproduce it on .NET Core.

[2019-01-29 13:21] srxqds opened #12671 "how can I calculate a MonoObject(int, string, object, array) instance memory usage?"
how can I calculate a  MonoObject(int, string, object, array) instance memory usage?

[2019-01-29 13:40] #6976 closed

[2019-01-29 13:40] #7737 closed

[2019-01-29 14:06] rjvdboon commented on #12060
Hmm, with last commit the result on RHEL7 is:
- with the default gcc (i.e. the one in /usr/bin/gcc): no NEEDED libstdc++, no runpath
- with a non-default gcc: NEEDED libstdc++, and a runpath

used `./autogen.sh --prefix=/home/rjvdboon/local/mono/HEAD-GCC-${_GCCV} --disable-rpath   --with-large-heap --enable-new-dtags`

config.status in both cases:
[code]

output from `mono-sgen --version` differs

[2019-01-29 15:42] lateralusX commented on #12286
blc.sln build errors should be fixed by https://github.com/mono/mono/pull/12672 and I believe that should resolve this issue as well.

[2019-01-29 15:42] #12286 closed

[2019-01-29 15:53] marek-safar commented on #12669
No, there are no mono specific RIDs available right now

[2019-01-29 15:53] #12669 closed

[2019-01-29 16:17] tmds commented on #12669
The mechanism allows to provide different compilations of the libraries. The proper library is selected based on the system it is running on.

For example, Libuv packages has these:
[code]
The Libuv package contains different native libraries for windows, mac, linux-x64, linux-arm64, ...

[2019-01-29 17:13] JoseTiagoCarvalho opened #12673 "Monodis Fails to disassemble WPF application"
I installed mono package on windows 10 using choco (choco install mono --version 5.12.0.301), and then i tried to dissamble a sample App i was testing (using monodis).

After doing some tests with monodis i got an error "Could not load signature of WpfApp1.HelloBootstrapper+<>c:<InitializeViewLocator>b__2_0 due to: Could not load file or assembly 'PresentationCore, Version=4.0.0.0".

## Steps to R

[2019-01-29 18:15] directhex commented on #12662
`deb https://download.mono-project.com/repo/debian/dists/stable-stretch/snapshots/5.14.0.177/ main`

This is wrong.

Please use

`deb https://download.mono-project.com/repo/debian/ stable-stretch/snapshots/5.14.0.177 main`

The exact format of the URL, including trailing slashes, matters.

[2019-01-29 18:26] maxtheking commented on #12662
Thanks, that did the trick!

[2019-01-29 18:26] #12662 closed

[2019-01-29 19:17] lambdageek commented on #12323
Even with the fix for 10793 backported to 2018-08, I got another hang.  Investigating...

[2019-01-29 19:54] migueldeicaza commented on #12552
Can you link to the CoreFX code?

[2019-01-29 20:50] filipnavara commented on #12644
I'm busy till the end of the week, but I am putting this on my backlog.

The font change is intentional, it was previously hard-coded to specific font and size which didn't work properly on different systems and DPIs.

The conditions for closing the popups are really complex and span way beyond menus. Our application uses the same mechanism to implement custom combo boxes and drop-downs that can c

[2019-01-29 21:48] baulig commented on #12552
Trying to find it.

[2019-01-29 21:52] baulig commented on #12552
Okay, here it is: https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslConnectionInfo.OSX.cs.

This won't work out-of-the-box, we'd have to replace their `SafeSslHandle` and `Interop.AppleCrypto.SslGetProtocolVersion()` / `Interop.AppleCrypto.SslGetCipherSuite()` with custom APIs.  The remapping table at the end of that file looks reusable, though.

[2019-01-29 21:56] alexischr commented on #12557
Yeah this sounds very much like an exception caused by the native library missing. @petlof Are you using the official package (from https://www.mono-project.com/download/stable/#download-lin)?

[2019-01-29 22:14] baulig commented on #12652
In CoreFX, this property is only implemented in the Windows version.  It is simply a no-op in their Unix / Linux versions.

[2019-01-29 22:15] baulig commented on #12019
Experimental PR for this: https://github.com/mono/mono/pull/12674

[2019-01-30 00:25] alexischr opened #12675 "Crash when getting stacktrace of an exception of a Task<nestedEnum>-returning method"
[code]
### Observed Behavior
[code]
### Expected Behavior

[code]

Most elements of the program seem to be needed for this (e.g. `TaskThrowExceptionTest` must be a generic class, `ThrowExceptionTask` must return `Task<innerEnum>` and not an inner class or struct or non-nested enum)

[2019-01-30 00:33] lambdageek commented on #12675
This seems related to the testcase in https://github.com/mono/mono/pull/12622

[2019-01-30 00:42] SourMesen commented on #12644
Great - thanks for taking a look at this!

RE: The font size change:  The main problem is that the new font size can often cause the menu items to wrap in a very awkward way and get cut off, like this:
![image](https://user-images.githubusercontent.com/21093973/51950286-e3f9ae80-23fd-11e9-8434-6e0d48c6a93a.png)

.NET WinForms appears to resize the height/width of ToolStripItems to ensure the text

[2019-01-30 00:51] alexischr commented on #12675
Yeah to be clear this is a minimized reproduction taken from https://github.com/mono/mono/pull/12622 which was testing a separate issue and ran into this.

[2019-01-30 02:01] steveisok opened #12676 "Cast to valid interface fails after Activator.CreateInstance"
## Steps to Reproduce

1. Clone https://github.com/steveisok/mono.git and checkout refsrc-webforms-switch-activator-bug
2. Build
3. Run ```make -w -C mcs/class/System.Web.Extensions run-standalone-test```

### Current Behavior

Test fails with the following:

[code]

Here's the specific line where the cast fails
(mcs/class/referencesource/System.Web/Hosting/HostingEnvironment.cs)

[code]

The type

[2019-01-30 02:30] srxqds commented on #12671
I find MonoClass has instance_size， it is my need！

[2019-01-30 02:30] #12671 closed

[2019-01-30 04:32] beeradmoore commented on #9511
For me it appears that it works fine for 4XX requests, its that if the content length header is not set (using transfer-encoding: chunked), that it failed to do anything useful.

Changing our ASP.NET service to forcefully add content-length fixed any issues we had with any other status code when I woke up this morning to a world of joy.

[2019-01-30 08:16] flensrocker commented on #9511
We switched to `System.Net.Http.HttpClient`.

[2019-01-30 09:21] marek-safar commented on #12603
@baulig yes, that's what the stacktrace shows (we obviously shouldn't)

[2019-01-30 10:01] marek-safar commented on #12621
We do but only for mobile profiles

[2019-01-30 10:01] #12621 closed

[2019-01-30 11:47] lewurm commented on #12632
likely a duplicate of https://github.com/mono/mono/issues/7017. You can try https://bugzilla.xamarin.com/show_bug.cgi?id=56546#c2 as workaround, does that help?

[2019-01-30 12:03] lewurm commented on #11744
@alexischr is this a duplicate of https://github.com/mono/mono/issues/9951 ?

[2019-01-30 13:06] nephaste commented on #12632
Thanks Lewurm

checking to apply ; https://gist.github.com/lewurm/8b08a75475ae8484a5df0ba293669326

and come back to you with result

[2019-01-30 14:39] nephaste commented on #12632
still fail  :(

`
make[7]: warning:  Clock skew detected.  Your build may be incomplete.
make[7]: Warning: File '../../build/deps/_basic__Mono.Cecil.dll.makefrag' has modification time 1.3 s in the future
make[8]: Warning: File '../../build/deps/_basic__Mono.Cecil.dll.makefrag' has modification time 1.3 s in the future
CSC     [basic] Mono.Cecil.dll
make[8]: warning:  Clock skew detected.  Your bu

[2019-01-30 15:04] kjpou1 commented on #9567
WebSocket support is implemented here: https://github.com/mono/mono/pull/12615

[2019-01-30 15:04] #9567 closed

[2019-01-30 15:12] OneVideo opened #12684 "System.Net.NetworkInformation.Ping: Xamarin Mono Returning Wrong PingReply.Address"
[N.B.: manual copy of https://developercommunity.visualstudio.com/content/problem/417428/systemnetnetworkinformationping-xamarin-mono-retur.html after 30 days of no propagation/update]

Upon TtlExpired reported in Ping Class's Reply, the Reply Address is not reported as belonging to the intermediate router where the ICMP message was dropped.

- - - Calling C# Code Demonstrating Unexpected Result -

[2019-01-30 16:26] lewurm commented on #12632
it looks like you are still building with ` --with-csc=mcs`? I recommend to try cleaning (`git clean -xffd`) and start from scratch

[2019-01-30 16:53] nephaste commented on #12632
no i am not

not download from git but from mono-project website .tar.bz2

root@TS-128A:/SRC/.MYSCRIPT/tmp/mono-5.18.0.240# git clean -xffd
fatal: Not a git repository (or any parent up to mount point /SRC)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

i will try --with-csc=roslyn if you want

[2019-01-30 17:40] JoseTiagoCarvalho commented on #12673
Thanks, i already tried the tool and it seems to work fine both on windows and linux.

[2019-01-30 17:59] baulig commented on #12552
Working on it: https://github.com/mono/mono/pull/12687.

[2019-01-30 18:45] lewurm commented on #12537
@solabc16 could you run

[code]
and post the output here please?

Also, where can I found _how_ this 5.18.0.240 mono is built?

[2019-01-30 18:46] lewurm commented on #11965
I'm pretty certain it's related to swapping the BCL code from ours/referencesource to corefx: 2a4af931099c unfortunately can't easily revert it... @marek-safar @EgorBo any idea?

I still can't reproduce it _outside_ of iOS, so it seems like changing the BCL code triggers some issue on the runtime side that is target specific.

@marek-safar is the BCL profile for monotouch built differently than fo

[2019-01-30 18:50] alexw-gs opened #12688 "StackTrace.getFrames returns too many frames for async methods"
## Steps to Reproduce

[code]

### Current Behavior

`stackTrace.GetFrames()` returns doubles the number of frames for each async call. i.e. `Method1Task` x2, `Method2Task` x4, `Method3Task` x8.

### Expected Behavior

Each async call to only return one frame, so `StackTrace.FrameCount = StackTrace.GetFrames().Length`.  For the program above expect `StackTrace.FrameCount = StackTrace.GetFrames().L

[2019-01-30 18:53] #12480 closed

[2019-01-30 18:57] #12568 closed

[2019-01-30 19:23] lambdageek commented on #12675
Another instance on CI: https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot/7894/

[2019-01-30 20:13] radical commented on #12481
[This](https://github.com/mono/msbuild/commit/d05c49c6c7852397dda56d42acc63b8454c58933) is how it breaks and is worked around. I wasn't sure whether this should be fixed in mono.

[2019-01-30 20:54] lewurm commented on #11965
It boils down to this being true:
[code]

It's hitting this path in the new BCL code:
https://github.com/mono/corert/blob/c4ae51646152de0af32b2c85538b6e7317faa7f8/src/System.Private.CoreLib/src/System/Number.Unix.cs#L36

[2019-01-30 21:32] lewing commented on #8420
Wrong issue

[2019-01-30 21:33] lewing commented on #6371
Fixed in #11314

[2019-01-30 21:33] #6371 closed

[2019-01-30 22:53] solabc16 commented on #12537
Hello @lewurm

Please find the output from the above below, this version of Mono (5.18.0.240) has been built with GCC 5.5 and 6.5; both producing the same results.

The configure used for the build was as follows:-

[code]

Do let me know if you need any further information.

Best
- James

[code]

[2019-01-30 23:20] Gnbrkm41 commented on #12522
Pasted as text instead of image.
[code]
Just as a side note, it behaves the same on both x64 and x86.

[2019-01-30 23:26] Anipik opened #12690 "vtable layout broken for generic "in" parameters"
I am trying to consume Microsoft.ML nuget package with mono. I am working on windows.
The mono version I am using 5.18

The C# proj file looks like
[code]

As Mono supports .NET472 gramework profile, I am compiling the project with dotnet build.
And I run the exe with Mono testproject.exe

the program.cs file looks like

[code]

The .exe works fine for on .netFramework but while running on mono it

[2019-01-31 00:01] radical opened #12692 "netstandard*: MissingMethodException due to "bad" `System.IO.FileSystem.Primitives.dll` from nuget"
The project (`netstandard2.0`) references `<PackageReference Include="Mono.Cecil" Version="0.10.2" />` and copies the assemblies from nuget to the output dir.

Test code:
[code]

This throws:
[code]

The problem seems to be `System.IO.FileSystem.Primitives.dll` that gets copied to the output dir. If you replace that with the one from mono (`lib/mono/4.5/Facades`) then it works (and throws about th

[2019-01-31 00:03] radical commented on #12692
Test project:
[test-missing-method.zip](https://github.com/mono/mono/files/2815050/test-missing-method.zip)

[2019-01-31 00:04] radical commented on #12692
/cc @lambdageek @marek-safar @chkn

[2019-01-31 00:39] lambdageek commented on #12692
Doesn't work with 5.4.1.7 either.  Not a regression.

Also this isn't due to a new (0.10.2) Mono.Cecil - it doesn't work with 0.10.1.

Did this ever work?

Wouldn't pretty much all nestandard1.x-era corefx assemblies need to be on the denied assembly list?

For example our 4.5/Facades/System.Collections.NonGeneric.dll is full of forwarders, but `.nuget/packages/system.collections.nongeneric/4.0.1/

[2019-01-31 03:55] mysteryx93 commented on #12535
But why are so many instances of FileWatcher being created, even for simple web forms? Falling back to a default instance seems like fixing a symptom and not the cause. And why did this behavior change from previous versions?

[2019-01-31 08:10] amolsarmalkar commented on #9511
The good news from Restsharp is that they have fixed issue (Please refer the communication at [https://github.com/restsharp/RestSharp/issues/789#issuecomment-456302724] ) and it is about to come in their next release of nuget package 106.7.

[2019-01-31 09:01] lewurm commented on #11965
I could reproduce this issue _outside_ of mono, with something like that:
[code]

`clang` vs. `gcc` generates slightly different code, but it's semantically the same. On an iPhone 5c:
[code]

On an armhf linux env (tegra jetson board, so not a _true_ armv7 device):
[code]

From what I can tell that was the behavior since forever, but the old BCL code never did a double compare with 0.0.

[2019-01-31 10:09] lewurm commented on #11965
Hah, that is a known issue actually: https://bugzilla.xamarin.com/show_bug.cgi?id=15802#c11

Note that Double.Epsilon is defined as `4.9406564584124654E-324` (which maps to `0x1` in hex representation).

Now I'm not sure how to fix it. The old vs. new BCL code is largely different, so I couldn't spot the difference easily.  Is it possible to just ignore those tests on iOS 32bit?

[2019-01-31 10:13] EgorBo commented on #11965
@lewurm I guess that `== 0.0` is just a fast path for the most popular value. Will  `BitConverter.DoubleToInt64Bits(value) == 0` help here?

[2019-01-31 10:16] lewurm commented on #11965
@EgorBo nope, I tried that.  It uses the icall that goes down to using `snprintf` which seems to suffer from the same issue 😕

[2019-01-31 10:22] lewurm opened #12699 "[ios/32bit] Rfc2898DeriveBytesTest.ConstructorPasswordSaltLengthZero failurespart of this test suite:"
https://github.com/xamarin/xamarin-macios/issues/5258 shows 2 additional issues as part of this test suite:

[code]

_Originally posted by @VincentDondain in https://github.com/mono/mono/issues/11965#issuecomment-446377477_

[2019-01-31 10:23] lewurm commented on #12699
I cannot reproduce this on an iPhone5c. Note that QA used a different device, an iPad2. So it's A6 vs. A5 chip-wise.

[2019-01-31 11:29] DmitriyW9 opened #12700 "[wasm] Can't get AOT build using LLVM WASM Backend"
## Steps to Reproduce

1. Download WASM SDK from Jenkins.
2. Install Emscripten SDK with command: ./emsdk install sdk-upstream-2831-64bit
3. Run packager for get build.ninja file.
4. Run ninja.

### Current Behavior

Console output:
[code]

### Expected Behavior

Console output does not display errors.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[x] WebAssembly

cc

[2019-01-31 12:21] marek-safar commented on #12690
/cc @lambdageek

[2019-01-31 12:46] gautambjain commented on #10488
Badly need this fix. How to get it in VS 2017 without upgrading to VS 2019 Preview 2?

[2019-01-31 13:02] marek-safar commented on #12692
I'd consider this to be packaging issue on Cecil side. To be fully compatible with NS2.0 it should be using System.IO.FileSystem.Primitives 4.3.0 version or newer and not 4.0.1

[2019-01-31 13:02] #12692 closed

[2019-01-31 13:37] marek-safar commented on #11965
@lewing My suggestion is to extend the 0.0 check with  `&& BitConverter.DoubleToInt64Bits(value) == 0` in BCL to detect this condition then in the native DoubleToString call have ifdef for arm where we hardcode the epsilon string value to the buffer and before calling snprintf

[2019-01-31 13:44] lewurm commented on #11965
that would mean the icall also needs to hardcode all kind of different format string variants 😕

[2019-01-31 13:50] EgorBo commented on #11965
btw, I had a PR where I replace that icall (snprintf) to C# from the upstream https://github.com/mono/mono/pull/10763 (just saying 🙂)

[2019-01-31 13:54] MaximLipnin commented on #12688
We have such a big amount of frames because `GetFrames` method can include some additional frames from captured traces (see https://github.com/mono/mono/pull/8166).
Here we need either to make native `get_trace` method take into account those captured traces or somehow align it in managed code.
BTW NetFX/NetCore (windows) returns 17 frames for this sample.

[2019-01-31 14:09] alexw-gs commented on #12688
I think there is some recursive issue here, `getFrames` returns 2^N frames rather than N frames.

The frames that come back are along the lines on [ 4, 4, 3, 4, 3, 2, 4, 3, 2, 1] (along with a load of `TaskAwaiter.GetResult()` and similar).

[2019-01-31 14:19] alexw-gs commented on #12688
Update: this was on linux (Ubuntu) rather than macOS.

[2019-01-31 14:56] marek-safar commented on #11965
@lewurm I don't think so, the call returns just buffer with numbers which is later formatted, @EgorBo can you confirm?

[2019-01-31 15:35] lewurm commented on #11965
@marek-safar you are right, it always gets called with the same format string:
https://github.com/mono/corert/blob/c4ae51646152de0af32b2c85538b6e7317faa7f8/src/System.Private.CoreLib/src/System/Number.Unix.cs#L50-L57

[2019-01-31 16:49] chkn commented on #12692
@marek-safar I thought NS2.0 should be compatible with earlier versions of .NET Standard? I believe Cecil is packaged as NS1.3 ( https://www.fuget.org/packages/Mono.Cecil )

[2019-01-31 17:42] pjcollins commented on #12307
@vargaz I'm still seeing this issue with the latest d16-0 xamarin-android build which contains https://github.com/mono/mono/commit/5d3077c7bcb1921bcc2d31839105c4e3065922b7.

Is there anything I can provide to help follow up? The reproduction steps are the same as @mathieubourgeois has mentioned. Projects which support only `armeabi-v7a` (default setting in Release mode for new projects) crash when

[2019-01-31 19:40] solabc16 commented on #12537
Hello @lewurm, thanks for the above - including the background information, that's moved us moved.

This appears to have resolved the initial problem and we no longer receive the assertion when running either ikdasm or the application itself.

However, we know experience the SIGABRT below. This same application is running fine on ARMv7, AARCH64, x86 and x86_64 targets.

Are there any further optim

[2019-02-01 02:47] srxqds opened #12713 "what is difference between System.Int32 class instance_size and sizeof(int)?"
I found System.Int32 class instance_size equals 16 but sizeof(int) equals 4,
And I define int[] array = new int[1] or define int variable in class , each element in array memory use is 4 bytes.
When or what scenario it use System.Int32(16bytes) memory?

[2019-02-01 06:34] srxqds commented on #12713
ok,thanks

[2019-02-01 06:34] #12713 closed

[2019-02-01 09:01] #11489 closed

[2019-02-01 09:02] marek-safar commented on #12307
@vargaz could you double check this?

[2019-02-01 09:09] lewurm commented on #12481
since there is a workaround (easily) possible in msbuild I'll close this issue

[2019-02-01 09:09] #12481 closed

[2019-02-01 09:12] lewurm commented on #12632
hmm, this is weird. can you run `make -j1 V=1` and post the last lines of the make output?

[2019-02-01 09:12] marek-safar commented on #12692
That's right but this is a bug in System.IO.FileSystem.Primitives where version 4.0.1 has wrong setup for .NET 4.6 TFM which is fixed in 4.3.0. I think Cecil can still target NS1.3 but with updated System.IO.FileSystem.Primitives dependency.

[2019-02-01 09:56] lewurm commented on #12537
@solabc16 `-inline` should work, but it's likely that it exposes a bug somewhere else in the JIT. for the crash above could you install `gdb` on your machine. that will give you a better stack trace for the _native_ side and post its output. (ideally use gist.github.com, in order to keep this issue readable 🙂 )

[2019-02-01 09:57] nephaste commented on #12632
Hi Lewurm... indeed

here is output when error start

`make[7]: Leaving directory '/SRC/.MYSCRIPT/tmp/mono-5.18.0.240/mcs/packages'
mono  /SRC/.MYSCRIPT/tmp/mono-5.18.0.240/external/roslyn-binaries/Microsoft.Net.Compilers/Microsoft.Net.Compilers.2.8.2/tools/csc.exe /warn:0 /noconfig /langversion:latest /r:System.dll /r:mscorlib.dll /out:build/deps/basic-profile-check.exe.tmp build/common/basic-pro

[2019-02-01 10:03] lewurm commented on #12632
@marek-safar @akoeplinger do you know what the issue is here?

[2019-02-01 11:20] ShonkyCH commented on #11744
They may be related, but fixing #9951 's specific issue only got a bit further. It then hit this issue.

[2019-02-01 12:32] akoeplinger opened #12724 "xtro-sharpie.exe crashes with "Cannot transition thread 0x10c3ef5c0 from STATE_BLOCKING with DO_BLOCKING""
## Steps to Reproduce

1. Download and unzip attached [bug.zip](https://github.com/mono/mono/files/2821526/bug.zip)
2. Run `mono64 --debug xtro-sharpie.exe macosx10.14-x86_64.pch Xamarin.Mac.dll`
3. Observe crash.

It works fine with `MONO_THREADS_SUSPEND=preemptive`.

### Current Behavior

[code]

### Expected Behavior

No crash.

## On which platforms did you notice this

[ X ] macOS
[ ] Linux
[

[2019-02-01 12:35] akoeplinger commented on #12724
/cc @lambdageek

[2019-02-01 12:54] kevfromireland commented on #12688
We see some really massive examples of this in our production code, which we reverse engineered that sample from when we had some sense of what was going on. In our app, something other fact must be in play to make it go completely crazy.

We're running 5.18 in production, and have seen instances where a FrameCount of 6 has resulted in 262,140 stack frames .

[2019-02-01 12:59] marek-safar commented on #12632
This looks like some misconfiguration, there should be `/langversion:latest` in csc arguments

[2019-02-01 13:05] #11965 closed

[2019-02-01 16:50] xfortin-devolutions commented on #9028
@marek-safar Is it really fixed in 5.18? I've tried with Xamarin.Mac (Unsupported Frameworks) + Mono 5.18.0.240 and I still get the same error with the same stack. Does the fixes requires something else on our side?

[2019-02-01 17:35] dlech opened #12730 "Windows.Forms X11 backend depends on GTK2"
## Steps to Reproduce

1. Get a WinForms app that runs on mono, such as KeePass 2.x
2. Modify the code to call a GTK3 API via PInvoke
3. Run it

### Current Behavior

Code crashes with error that GTK2 and GTK3 cannot run in the same process.

### Expected Behavior

The X11 backend should only call X11 API's and not GTK.

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

[2019-02-01 17:38] dlech commented on #12730
This is a blocker for #12202. I have implemented AppIndicators as suggested, but I need to update the code to use GTK3 instead of GTK2 in order to keep up with Linux distros that are dropping GTK2 stuff.

[2019-02-01 17:39] dlech commented on #12730
Here is an example of where GTK2 APIs are called: https://github.com/mono/mono/blob/7710b4c099718c27a5f54cf9196bef96474dff1a/mcs/class/System.Windows.Forms/System.Windows.Forms/XplatUIX11.cs#L2834

[2019-02-01 17:46] nephaste commented on #12632
if you have a fix.. i can test ...

I really have no clue on my side what to do

[2019-02-01 18:20] wspear opened #12731 "Periodic crash in Ubuntu"
I have already reported this bug to the keepass folks and they said it was an issue for Mono. Since reproducing the problem on other systems may be difficult I am happy to do additional testing if necessary.

## Steps to Reproduce

0. This may not be relevant, but my system has 2 monitors running on Nvidia drivers. One of the monitors is rotated 90 degrees by the driver. I have not seen this error

[2019-02-01 21:51] marek-safar commented on #9028
@xfortin-devolutions yes, it's. Do you have the latest 5.18 version and could you share your stack trace?

/cc @EgorBo

[2019-02-01 23:02] danmosemsft commented on #12690
The sample above is sort of the ML.NET equivalent of "hello world". We probably need to get past this in order to test in Unity, as well. @lambdageek would it be possible to help set our expectations about when you might be able to take a look? that would help us plan our activities on our side.

[2019-02-02 01:43] NattyNarwhal opened #12744 "build regression for System.Net.Http on aix"
Filing this file I try to find the root cause unless it's something known and trivial. Caused by the big changes in #11906.

## Steps to Reproduce

build mono

### Current Behavior

build failure at System.Net.Http

### Expected Behavior

normal compilation

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[X} AIX

**Version Used**:

master (2c8fe4fdc25c13003ca67d6fe7adb8

[2019-02-02 01:50] akoeplinger commented on #12744
@baulig looks to be an issue with LEGACY_HTTPCLIENT.

[2019-02-02 04:00] baulig commented on #12744
This should never happen - line 406 in `MonoWebRequestHandler.cs` is within the `LEGACY_HTTPCLIENT` conditional, so this should never reference anything in `../../../external/corefx/src/System.Net.Http`.

Could you please try to do a `make clean` in the `System.Net.Http` directory and see whether this fixes it?  This looks like the sources and dependencies did not get correctly generated after you

[2019-02-02 04:06] NattyNarwhal commented on #12744
running in the directory after a make clean:

[code]

the desired line in `./../../build/deps/unix_net_4_x__System.Net.Http.dll.response`:

[code]

[2019-02-02 15:48] nbarkhina commented on #12646
@kjpou1 here is my sample.cs file

https://github.com/nbarkhina/mono-compile-in-browser/blob/master/sample.cs

The build script is in that project too, maybe you can let me know what I'm missing

Thanks

[2019-02-02 16:05] MCpiroman opened #12747 "System.Reflection.Emit.ParameterBuilder.SetCustomAttribute() throws undocumented ArgumentOutOfRangeException"
## Steps to Reproduce
Compile and run following program:
[code]
### Current Behavior
`System.ArgumentOutOfRangeException` is thrown at line `paramBuilder.SetCustomAttribute(attrBuilder);`

### Expected Behavior
Of course no exceptions (or at least documented ones).
Running the same program (even the same exe file) with .net framework executes everything without exception.

## On which platforms di

[2019-02-02 19:44] MichalStrehovsky commented on #12690
There are some known issues with invalid IL being generated from Roslyn in Microsoft.ML.Transforms. I'm not saying that's the problem here (I didn't look), but something that's good to know about (dotnet/roslyn#31685).

[2019-02-02 19:56] danmosemsft commented on #12690
Good point. @anipik is the workaround suggested here possibly relevant
https://github.com/dotnet/roslyn/issues/31685#issuecomment-451700361

[2019-02-02 20:02] Anipik commented on #12690
I can take a look if the problem is related to https://github.com/dotnet/roslyn/issues/31685 and if the workaround is relevent here

[2019-02-02 23:57] akoeplinger commented on #12744
Yeah as far as I know we treat everything which is not Linux as the generic "unix" platform.

[2019-02-03 11:02] Ryhon0 opened #12754 "Getting frames from a GIF returns the source image"
## Steps to Reproduce

1. Get frames from a GIF
2. Save them
3. Open them

Code: [MonoGIF.zip](https://github.com/mono/mono/files/2825430/MonoGIF.zip)

### Current Behavior

Program saves the original GIF as frames

### Expected Behavior

Program saves the frames normally

## On which platforms did you notice this

[ ] macOS (Not tested)
[X] Linux
[ ] Windows

**Version Used**:

Linux: Mono 5.18.0

[2019-02-04 01:58] GlebChili opened #12757 "Question: Xamarin.Mac API calls from Embedded Mono"
We are evaluating possibility to embedd Mono in our MacOs application. I personally interested in ability to call Xamarin.Mac API (as provided in Xamarin.Mac.dll) direcltly from embedded Mono. For example, posibility to use __Metal__ namespace. This topic seems to be poorly covered, so I decided to ask question here.

Mono can be compiled with `--enable-monotouch` flag. Will this provide functiona

[2019-02-04 04:29] dalexsoto opened #12758 "Missing feature: ClientWebSocket does not support proxies or authentication."
_From @cosminstirbu on February 1, 2019 11:48_

### Steps to Reproduce

1. Configure a proxy on your macOS (such as Charles)
2. Run the following code in the iOS Simulator

[code]

3. Notice that the web socket is not being recorded by Charles.

### Expected Behavior

The `ClientWebSocket` should use the `Options.Proxy` property. The requests aren't recorded by Charles, and even if I hardcode a du

[2019-02-04 07:40] MagicAndre1981 commented on #10488
look if this latest VS 2017 15.9 compatible version has the fix:

https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android-builds-d15-9/

The [commit shows it has landed end January 2019](https://github.com/xamarin/xamarin-android/commit/080607a0653edd65c9535984e3a2327eb707a74d) for 15.9 branch, so it should be included.

[2019-02-04 12:36] marek-safar commented on #12632
I don't know what changes you made but `/parallel-` is not what is in the official build. By tweaking that you probably also removed `/langversion:latest` which is required

[2019-02-04 12:42] nephaste commented on #12632
Hi Marek

i just applied from the official tar.bz2 on mono-project website

this https://gist.github.com/lewurm/8b08a75475ae8484a5df0ba293669326

i changed manually on files .. the both line
i dont know how apply it with patch command

can it be the root ?

[2019-02-04 13:43] marek-safar commented on #12632
That's strange, try adding `/langversion:latest` right after `/parallel-`

[2019-02-04 13:48] alexischr opened #12767 "[XA] [2018-10] Failure in System.Threading.Tasks.Tests.Status.TaskStatusTests.TaskStatus10"
`Expecting Child Task final Status to be Canceled, while getting RanToCompletion\nExpected: True\nActual:   False`

https://jenkins.mono-project.com/job/xamarin-android-pr-builder-release/600/testReport/junit/Test%20collection%20for%20System.Threading.Tasks.Tests.Status/TaskStatusTests/System_Threading_Tasks_Tests_Status_TaskStatusTests_TaskStatus10___Release/

Does not show in Debug so this may b

[2019-02-04 14:31] kjpou1 commented on #12646
@nbarkhina

Try using the `--search-path` parameter in your `publish.bat` file.

`mono C:\Users\nbarkhina\Desktop\mono-wasm\packager.exe --copy=always --out=./publish --search-path=C:\Users\nbarkhina\Desktop\mono-example\DLL sample.dll`

Hopefully, that works.  If not then will need to try this on windows but that is the first thing I see.

[2019-02-04 15:04] zilti commented on #6388
I'd welcome such an env var as well. I have a handful of Mono apps I package as AppImage, bundled with Mono. Which means I either have to copy the standard certs into the user's home dir (nasty hack) or need a way to tell Mono where to look for certs.

[2019-02-04 15:43] nephaste commented on #12632
It worked Marek....

it compile great on aarch64... I have a full 5.18.0.240  built roslyn version now
thanks for all.... Marek and lewurm

you may be need modify this patch, i let you close the thread

[2019-02-04 16:34] marek-safar commented on #12632
Great!

[2019-02-04 16:34] #12632 closed

[2019-02-04 16:37] akoeplinger commented on #12724
This was fixed by the PR, thank you :)

[2019-02-04 16:37] #12724 closed

[2019-02-04 17:17] zilti commented on #6388
On that - what is the value you give XDG_CONFIG_HOME so mono uses the directory in your example? After various attempts, I am none the wiser.

[2019-02-04 18:16] danmosemsft commented on #12690
Thanks @lambdageek. I'm guessing there is no obvious workaround, other than remove the "in"?

A workaround might be the only way we can run in Unity in the immediate future, assuming it has the same issue.

Cc @eerhardt

[2019-02-04 18:17] baulig commented on #12744
I made a PR for it, but couldn't test it because I don't have any AIX / Unix machine.  Could you please test whether this works for you?

https://github.com/mono/mono/pull/12771

[2019-02-04 18:47] eerhardt commented on #12690
ML.NET moved to using `readonly struct` and `in` parameters pretty much every place it could. It was using `ref` parameters before, for perf reasons. See

https://github.com/dotnet/machinelearning/pull/1405
https://github.com/dotnet/machinelearning/pull/1454
https://github.com/dotnet/machinelearning/pull/1475

I don't think we'd want to undo this work, we especially wouldn't want to undo any publi

[2019-02-04 19:03] danmosemsft commented on #12690
Yep 🤔

[2019-02-04 20:56] baulig commented on #12019
I implemented all the types, how do I test this?

[2019-02-04 21:24] stephentoub commented on #12019
You can use C# 8 from VS2019 Preview 2 and write something like:
[code]

[2019-02-04 21:46] EgorBo commented on #12421
@AndreyFromGomel as a temp workaround you may try to override `CreateCopy()` in your custom sync context.

[2019-02-05 02:26] zivkan opened #12783 "FileStream does not work with P/Invoked file descriptor and SafeFileHandle"
## Steps to Reproduce

[code]

### Current Behavior

The file is created with the correct permissions, however, when attempting to use the file descriptor in a FileStream, it crashes with the following error and stack trace:

[code]

### Expected Behavior

Program should write to the file and close the file descriptor before exiting normally. FYI this code works as I expected with .NET Core

## On

[2019-02-05 04:16] hardhub opened #12785 "Net472 cannot be used to compile net core apps"
I am getting error in console during building my project with Mono and msbuild:

`
 error CS0012: The type 'Enum' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. [/home/gitlab-runner/builds/.../MyLogging.csproj]
`

If I am using net462 as TargetFramework (in csproj file) and 4.6

[2019-02-05 09:23] marek-safar commented on #12783
4.6.2 is quite old version. @alexischr could you try this with master?

[2019-02-05 09:49] #12552 closed

[2019-02-05 10:35] Octoate commented on #12552
Thanks a lot 👍!

[2019-02-05 12:02] thaystg commented on #9934
As we don't have more information about how to reproduce and I think this is fixed https://github.com/mono/mono/pull/12114, I'm closing this issue. :)

[2019-02-05 12:02] #9934 closed

[2019-02-05 12:08] #12421 closed

[2019-02-05 12:55] alexischr commented on #11744
This seems to be true for other cross-compilation configurations. I am investigating. /cc @marek-safar (this is affecting Xamarin.Android 2018-10 integration)

[2019-02-05 16:13] lambdageek commented on #12690
Interesting. Actually this example works with Mono 5.22 (2018-12) and on master. Trying to track down the responsible commit - it's not clear to me yet that it's due to an intentional change or an accident.

@Anipik Could you try running your code on a 2018-12 snapshot  [mono-5.22.0.67-x64-0.msi](https://xamjenkinsartifact.azureedge.net/build-package-win-mono/2018-12/48/85498a4b789f00ba3ea85ba1640

[2019-02-05 16:33] MaximLipnin commented on #12747
For the mentioned test case `decode_len` method returns `525536779`, it leads to an exception on the next line.
`data` is byte[428], `pos` = 24, `data[pos]` = 255.

https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Reflection.Emit/CustomAttributeBuilder.cs#L400

It's pretty old code so maybe @vargaz or @lambdageek can recall anything about it?

[2019-02-05 19:17] steveisok commented on #12676
Not sure if this helps any, but I ran this through lldb and with the interpreter on.  That helped me see what was being called a bit better...

[code]

What this tells me is it's cross domain specific and that the interface / marshalbyref checks in the runtime are good.  Seeing what the mono_handle_new macro expands into would be nice, but not quite sure how to do that.

[2019-02-05 19:45] zivkan commented on #12783
I didn't realise that Ubuntu 18.04 had such an old version of mono. I added the mono project source and updated to mono 5.18.0.240, but it still has the same problem.

[2019-02-05 19:57] lambdageek commented on #12690
Yea this exact case is addressed by #10962, just need to backport to 5.20 (2018-10).

[2019-02-05 20:12] zivkan commented on #12783
I've been digging into it further, and I think I understand what's going on.

Eventually the call stack gets to methods in [fdhandle.c](https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mono/metadata/fdhandle.c). When a file is opened using Mono's internal implementation, [the file handle gets inserted into a hash table](https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7

[2019-02-05 20:13] Anipik commented on #12690
@lambdageek I tried it with the version you provided and the code is working

[2019-02-05 21:13] steveisok commented on #12676
I ran this through interpreter mode and attached lldb to it.  Definitely seems like a cross domain type of issue.

Here's where it starts to fail:

[code]

Tracing down a little more, this block in object.c returns null...  The question is why the interface is being lost at this point?

[code]

[2019-02-05 21:35] steveisok commented on #12676
I'll give it a try... Not sure how two different System.Web's could be loaded?

[2019-02-05 21:44] steveisok commented on #12676
Primary Domain:
[code]

Other Domain:
[code]

[2019-02-05 22:46] baulig opened #12808 "Disabled test related to `ThreadPool.SetMinThreads()` and `SetMaxThreads()`."
Disabled the (to-be-added in https://github.com/mono/mono/pull/12674) tests [`corefx:System.Threading.ThreadPool/tests/ThreadPoolTests.cs`](https://github.com/dotnet/corefx/blob/master/src/System.Threading.ThreadPool/tests/ThreadPoolTests.cs#L198):

- `System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest`
- `System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinThreadsTo0Test

[2019-02-06 04:13] steveisok commented on #12676
@lambdageek - I did the same cast / createinstance in both domains and looked at the vtable data for both... I *think* these are interesting results:

Given these two lines

[code]
MonoVTable in Domain 1:

[code]
Domain 2:

[code]
What's interesting in domain 2 is that the interface id is > the max_interface_id.  Hence why the macro fails for domain 2:

[code]

Could this be a bug in the way inter

[2019-02-06 09:28] lateralusX commented on #8225
Looks like the PR fixing this issue was merged in September #8884, closing this issue.

[2019-02-06 09:28] #8225 closed

[2019-02-06 10:57] nbarkhina commented on #12646
@kjpou1 Ok I used the --search-path parameter and interestingly I did get different results this time. Instead of throwing an error this time it got up to the part of the code in sample.cs at line 157 where it prints "Parse SyntaxTree Success". Unfortunately after that Chrome just hangs and starts utilizing 100 percent of the CPU.so it doesn't look like it works past that line of code. For referen

[2019-02-06 12:43] kishorepolepalli opened #12816 "Alignment trap: Threadpool work in WSDL with armv5"
## Steps to Reproduce
Our application tries to connect to a web server which is hosted in AWS and we call the web method which returns us with some values.

1. Add Web reference to mono application with WSDL which is https
2. Call the web method with Invoke option
### Current Behavior
CPU is taking lot of time to connect to server and we see lot of Alignment trap .
### Expected Behavior
Applicatio

[2019-02-06 13:49] grendello opened #12817 "[DevCom] X509Certificate exception in VS2019 Preview 2 for Xamarin.Forms Android and Xamarin.Android projects"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/442312/x509certificate-exception-in-vs2019-preview-2-for.html

Original post:

[code]

[2019-02-06 13:50] akoeplinger commented on #12363
What we know so far is that this only happens when the mono process is started from the Jenkins Java agent process and after the SpinWait/ManualResetEvent implementation was taken from corert.

Given that we don't see this when running manually from the console I'm bumping this out of 2018-10 and into the Future milestone. When we have time we should try to reproduce it e.g. with .NET Core running

[2019-02-06 14:04] grendello opened #12818 "[DevCom] Android development very unstable"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/436400/android-development-very-unstable.html

Partial original post (follow the link above to see the trace):

[code]

[2019-02-06 14:13] grendello opened #12819 "[DevCom] Impossible to catch FautlException"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/432828/impossible-to-catch-fautlexception.html
Possibly related to: https://github.com/mono/mono/issues/10304

Original post:

[code]

[2019-02-06 14:19] grendello opened #12820 "[DevCom] GC no longer compacts LOH with Xamarin.Android since Visual Studio 15.9"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/431561/gc-no-longer-compacts-loh-with-xamarinandroid-sinc.html

Original post:

[2019-02-06 14:28] grendello opened #12821 "[DevCom] Android application crashes with socket error"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/427874/android-crashes-with-socket-error.html

Original post:

[2019-02-06 14:41] grendello opened #12822 "[DevCom] System.UnauthorizedAccessException: Access to the path "/usr" is denied"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/414091/systemunauthorizedaccessexception-access-to-the-pa.html

Original post:

[code]

[2019-02-06 15:04] grendello opened #12823 "[DevCom] Xamarin Android HttpClient with HttpClientHandler times out for a specific image file"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/364195/xamarin-android-httpclient-with-httpclienthandler.html

Original post:

[code]

[2019-02-06 16:22] grendello opened #12824 "[DevCom] Using StructLayout Pack=1 corrupts struct field values on Android device"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/335872/using-structlayout-pack1-corrupts-struct-field-val.html

Original post:

[code]

[2019-02-06 16:35] grendello opened #12825 "[DevCom] Xamarin WCF authenticates with previous user"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/334387/xamarin-wcf-authenticates-with-previous-user.html

Original post:

[code]

[2019-02-06 16:41] grendello opened #12826 "[DevCom] Android debugging stackoverflow not reported"
Developer Community issue: https://developercommunity.visualstudio.com/content/problem/334275/android-debugging-stackoverflow-not-reported.html

Original post:

[code]

[2019-02-06 19:03] karam94 commented on #12277
Unfortunately experiencing the same issue here :(
Need to try using a 3rd party library to see if that helps as an unfortunate alternative.

[2019-02-06 19:59] lewurm opened #12831 "[iOS] JitTests.GShared fails on devices"
## Steps to Reproduce

Either current master on xamarin-macios or mono iOS SDK. Started to fail with 2018-08.

### Current Behavior
[code]

[2019-02-06 20:24] lewurm commented on #12831
FYI result of that computation is `res7 = 71`:
https://github.com/mono/mono/blob/b4c66a1d59298d64c75a8470e106847d1a9eb70f/mono/mini/gshared.cs#L1774-L1776

[2019-02-06 22:05] marek-safar commented on #12816
/cc @vargaz @lewurm

[2019-02-06 22:10] lewurm commented on #12816
Could you try a newer version of mono? At least 5.12 would be nice, I suspect that this commit fixes the issue: https://github.com/mono/mono/commit/77a53f0dc9b6a99b8abc1504356ef11477976f83

Otherwise, please provide a code example that reproduces the issue.

[2019-02-06 22:11] marek-safar commented on #12421
@AndreyFromGomel the fix didn't make it to the next release and will be included in the version after that

[2019-02-06 22:39] marek-safar commented on #12831
@vargaz @lewurm can we get this fixed quickly if it's 2018-08 regression?

[2019-02-07 00:24] akoeplinger opened #12839 "[Windows] block_guard_restore_aligment_on_exit.exe frequently times out on CI"
## Steps to Reproduce

1. Observe flaky test issues for block_guard_restore_aligment_on_exit.exe on Windows

Examples:

- https://jenkins.mono-project.com/job/d/4648/testReport/MonoTests/runtime/block_guard_restore_aligment_on_exit_exe_timedout/
- https://jenkins.mono-project.com/job/d/4649/testReport/MonoTests/runtime/block_guard_restore_aligment_on_exit_exe_timedout/
- https://jenkins.mono-proje

[2019-02-07 06:03] rolfbjarne commented on #8486
Still happens with mono 2018-08.

[2019-02-07 06:49] #12744 closed

[2019-02-07 06:50] baulig commented on #12019
All the types have landed, but still need to do the stack trace pretty-print thing.

[2019-02-07 07:51] marek-safar commented on #8486
@vargaz could you please address the issue

[2019-02-07 08:05] baulig opened #12842 "* Assertion at method-to-ir.c:12329, condition `load_opcode != OP_LOADV_MEMBASE' not met`"
See comments below for a simple test case.

Running the xUnit tests for corlib with local changes (https://github.com/mono/corefx/pull/250), I'm getting a crash:

[code]

[2019-02-07 08:08] baulig commented on #12842
Same thing when I disable the newly added tests (taking out the last commit from the linked PR).

[2019-02-07 08:17] marek-safar commented on #12817
@baulig please follow up on this issue

[2019-02-07 08:17] baulig commented on #12842
Looks like something is wrong with the to-be-added `src/System.Memory/tests/Span/Indexer.cs` test.

[2019-02-07 08:22] baulig commented on #12842
Okay, I was able to get a simple test case for this:

[code]

Now crashing as:

[code]

[2019-02-07 08:23] baulig commented on #12842
IL code:

[code]

[2019-02-07 08:34] baulig commented on #12842
Can be simplified even more:

[code]

which compiles into

[code]

[2019-02-07 08:49] grendello opened #12843 "Mono Android debugger crashes using HttpClient wrapped in Async Method"
_From @SSELLIOTTHOME on February 6, 2019 11:39_

### Steps to Reproduce

1. Create  a simple Android Project with a referenced .net standard project (called shared for the sake of this example).
2. Android App contains activity with one  button
3. .net standard project contains a class with the following function
[code]

4. In the Android activity on button click call the function test i.e

`var r

[2019-02-07 09:06] marek-safar commented on #12842
/cc @lewurm @vargaz

[2019-02-07 09:10] marek-safar commented on #12826
I think this is a long-standing issue which is hard to fix but would love any new ideas/workarounds for it

[2019-02-07 09:17] marek-safar commented on #12822
@baulig this looks like we hit machine config even on mobile profile

[2019-02-07 10:34] kishorepolepalli commented on #12816
Hi,

We tried the patch https://github.com/mono/mono/commit/77a53f0dc9b6a99b8abc1504356ef11477976f83 5.8.0.12 but still we are able to see Alignment Trap issue.
Sorry, we are not suppose to send the code because we have client WSDL services with HTPPS but please follow below steps.
1. Add any sample https web reference in mono.
2. Try accessing any invoke function with that reference, than it lead

[2019-02-07 10:45] SSELLIOTTHOME commented on #12843
Hi,
Thank you for investigating this issue. Can I safely assume this is an issue with the debugger and will have no affect on my released code?

Kind Regards

Steven

[2019-02-07 10:49] kishorepolepalli commented on #12816
We are just sharing one sample application with web reference added, but it does not give alignment error because the web service is http not https. This is just for reference and does not give alignment error. Please include the https web service reference and test.
[SampleWebService.zip](https://github.com/mono/mono/files/2840399/SampleWebService.zip)

[2019-02-07 12:17] #12397 closed

[2019-02-07 12:20] marek-safar opened #12845 "Remove nunit24 from mono build and tree"
We have been having more issues with this library recently when the new version of Roslyn is not able to compile it because it uses corrupted private key, see https://github.com/dotnet/roslyn/issues/32502. We could not find a valid version of the key anywhere so we have tried few workarounds for the library to compile and work but they ended up causing us even more problems. Considering this libra

[2019-02-07 12:39] marek-safar opened #12846 "2019-02 Mono Release"
# Products integration

## Visual Studio for Mac

Integrator: @kg

Pull Requests:
~- [ ] https://github.com/xamarin/md-addins/pull/4169~
 - [x] https://github.com/xamarin/md-addins/pull/4702

## Xamarin Designer

Integrator: @kg

Pull Requests:
~- [ ] https://github.com/xamarin/designer/pull/1634~
 - [x] https://github.com/xamarin/designer/pull/2079

## Xamarin.Android

Integrator: @alexischr

Pul

[2019-02-07 12:44] marek-safar commented on #11166
Closing, please reopen if you can reproduce it with newer versions

[2019-02-07 12:44] #11166 closed

[2019-02-07 12:47] marek-safar commented on #12675
ok, resolving as duplicate

[2019-02-07 12:47] marek-safar commented on #12675
oh, actually not

[2019-02-07 13:33] jcouv commented on #12019
Awesome. Thanks!

[2019-02-07 13:54] thaystg commented on #12843
Hi @SSELLIOTTHOME , I'm trying to reproduce, but I'm not having success on that. Could you help me?

This is my MainActivity.cs
using Android.App;
using Android.Widget;
using Android.OS;
using System;
using Teste;
using System.Net.Http;

namespace Teste
{
	[Activity(Label = "Teste", MainLauncher = true, Icon = "@mipmap/icon")]
	public class MainActivity : Activity
	{
		int count = 1;

		protected

[2019-02-07 14:13] SSELLIOTTHOME commented on #12843
I am running on Windows 10, Visual Studio 2017

[2019-02-07 14:19] SSELLIOTTHOME commented on #12843
There is nothing in my watch window.

[2019-02-07 14:21] thaystg commented on #12843
I'll try on Windows! :)

[2019-02-07 14:28] SSELLIOTTHOME commented on #12843
Hi Thaystg, thank you. It is important to use F10 a few times on the return break point, not F5 as that works.

[2019-02-07 15:02] SSELLIOTTHOME commented on #12843
Hmmm, ok. This is frustrating, my sample app now works, but still have the problem in my development project.  Does the stack imply anything that I am doing wrong?

[2019-02-07 15:21] firstfocus commented on #12535
Hi, just to chime in, I am also getting the same error on Ubuntu 14.04 with Mono 5.18.0. Only the first site started will work, other sites running on the same server return this error. Reverting to Mono 5.16.0 solves this.

[2019-02-07 15:41] bpiepiora commented on #9631
Hello Heiko,

I have the same issue when using the TPL with `Parallel.Invoke()` or `Task.Start()` under Linux. Are there any ideas on that topic or do you have a workaround for that, except restarting the app of course ;-) ?

Even the latest mono version 5.18.0.240 has this issue.

[2019-02-07 15:48] bpiepiora commented on #9631
@marek-safar Maybe the label should be changed or should I create another issue?

[2019-02-07 15:56] thaystg commented on #12843
I don't know, but we have some problems debugging HttpClient because it starts a new thread and that was a problem for us. I think that this might be the same thing but I would like to reproduce to check if I'm right. Maybe any of your local vars has a property which the getter is calling something like the GetStringAsync?

[2019-02-07 18:00] lambdageek commented on #12747
I'll take a look.

It kind of seems like `pos` is starting at an incorrect offset.

[2019-02-07 18:31] leculver opened #12863 "KeyHandler.DirtyTimeout can cause uncatchable exceptions"
We are seeing failures in VS for Mac related to the registry key implementation in Mono.  This failure accounts for 35% of known crashes in VS for Mac 8.0 Preview 1 (so a very high priority to get a fix here).

The underlying issue is that the registry KeyHandler creates a 3 second timer to ensure we've written the registry key to disk: https://github.com/mono/mono/blob/master/mcs/class/corlib/Mic

[2019-02-07 18:48] lambdageek commented on #12842
`get_Item(int32)` for `ReadOnlySpan<T>` returns a `T&`, and it kind of looks like `mono_type_to_load_membase` doesn't look at the `MonoType:byref` bit at all, when it returns `OP_LOADV_MEMBASE`.  Maybe it needs to do something else?

[2019-02-07 19:54] baulig commented on #12842
We now have a workaround from @lewurm for this: https://github.com/mono/mono/pull/12841/commits/3a9f554281f6cba1b0aece70e173bd76c19b6ca1.  Thank you so much for your help.

[2019-02-07 20:39] lambdageek commented on #12690
This is now fixed in Mono 5.20.0.189 and later...

[2019-02-07 20:39] #12690 closed

[2019-02-07 22:30] lambdageek commented on #12747
Turns out `get_umarshal` doesn't know how to decode `null` strings (which are encoded with the single byte 0xFF in the place where the length would normally be).  Working on a PR...

[2019-02-07 22:55] iosub opened #12871 "wasm var co = new System.Net.CookieContainer(); error System.DllNotFoundException: libc"
## Steps to Reproduce

1. create a wasm project
2. add this code
3.   var co = new System.Net.CookieContainer();

### Current Behavior

You get error:
System.DllNotFoundException: libc
mono.js:1   at (wrapper managed-to-native) System.Net.NetworkInformation.CommonUnixIPGlobalProperties.getdomainname(byte[],int)
mono.js:1   at System.Net.NetworkInformation.CommonUnixIPGlobalProperties.get_DomainNam

[2019-02-07 23:26] danmosemsft commented on #12690
@anipik you will want to retest mono when this fix is in their build.

[2019-02-07 23:28] Anipik commented on #12690
Yeah I will due that too

[2019-02-07 23:34] lambdageek commented on #12690
[windows builds from 5.20](https://jenkins.mono-project.com/view/Per-commit%20packages/job/build-package-win-mono/job/2018-10/)
[osx builds from 5.20](https://jenkins.mono-project.com/view/Per-commit%20packages/job/build-package-osx-mono/job/2018-10/)

The download links are along the left hand side of those pages.  anything with the last number > 189 should be good.

[2019-02-08 00:00] baulig opened #12878 "SslServerAuthenticationOptions.ServerCertificateSelectionCallback not implemented"
See https://github.com/mono/mono/pull/12877.

[2019-02-08 00:04] baulig opened #12879 "Disabled test SslStream_ServerCallbackNotSet_UsesLocalCertificateSelection."
See https://github.com/mono/mono/pull/12877.

[2019-02-08 01:39] baulig opened #12880 "SslStream does not support ALPN"

[2019-02-08 02:53] steveisok commented on #12676
I was able to reproduce this more simply.

Using this program, I get an InvalidCastException operating on the 2nd domain:

[code]

[2019-02-08 03:03] steveisok commented on #12676
This run shows the same interface id > max_interface_id inconsistency as I saw in the System.Web run

[code]
It *seems*, but I can't yet prove it, that in class-init.c global_interface_bitset is being shared even though it should be brand new in this context.  I suspect that because I was able to put a breakpoint on line 4253 in the system.web test and it hit in the 2nd domain createinstance.

[co

[2019-02-08 03:22] baulig commented on #12878
Related to this: passing a `LocalCertificateSelectionCallback` to the `SslStream` constructor.

[2019-02-08 03:43] kg opened #12881 "MonoDevelop SDB regressions"
Multiple monodevelop sdb debugging tests are failing when we move them to a newer version of mono:

[code]

https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=252152&_a=release-environment-logs&environmentId=1090307

The test case and test app both haven't been changed in a while and when I examined the assertions they looked valid, so I think we regressed SDB here

[2019-02-08 03:43] kg commented on #12881
cc @marek-safar

[2019-02-08 06:35] kjpou1 commented on #12646
@nbarkhina WebAssembly is single threaded and what you are seeing is it blocking because of the task threads.  Blazor has some plumbing up front in their platform to allow this.

Let me come up with some project code.  Need to drag my windows machine out to get it working on windows though.

You are following this code here right? https://github.com/BlazorComponents/CompileBlazorInBlazor

[2019-02-08 09:31] marek-safar commented on #12603
@jaredpar which version of System.Text.Encoding.CodePages are you using? We have blacklisted version up to 4.5.1 because the assembly is broken on Mono and could extend that for some preview version if they are stable

[2019-02-08 09:32] marek-safar commented on #12881
@thaystg could you please investigate these regressions

[2019-02-08 09:56] #12747 closed

[2019-02-08 10:57] SSELLIOTTHOME commented on #12843
I have created a sample using the simple helper class I am using in my main project. It is based on the Xamarin Weather Rest Example (hence the name) as I was using that for comparison.  The file names are not what I would use in the real world!

https://github.com/SSELLIOTTHOME/WeatherREST/tree/master

You need break points on MainActivity.cs line 60
Class1.cs lines 36, 65,90, 96,100

Here is a v

[2019-02-08 11:28] #12831 closed

[2019-02-08 12:05] akoeplinger commented on #10050
tlstest was removed in https://github.com/mono/mono/commit/22d01c707cb423464f13305991a8a11b74d82153