[2018-07-02 17:38] sourceskyboxer opened #9404 "Mono bundled executable doesn't have embedded icon from assembly ( winexe or exe ) - If assembly ( exe or winexe is bundled )"
Reproduce icons don't show since mkbundle

original assembly like myapp.exe with icon

native bundled executable doesn't see icon from embedded assembly executable

Why?
For example:
![image](https://user-images.githubusercontent.com/3496136/42178083-51a97e4e-7e2f-11e8-86ce-1ea33f54b2e7.png)

Only WIndows!

Thanks!

[2018-07-02 18:34] jeromelaban opened #9405 "The wasm debugger is case sensitive for assembly names"
## Steps to Reproduce
1. Follow the instructions for wasm debugging setup
2. Debug an assembly with upper case letters in it

### Current Behavior
The wasm runtime will fail saying `Could not resolve assembly [assembly_all_lower_case].dll`

### Expected Behavior
The debugging session starts properly.

## On which platforms did you notice this
Windows

**Version Used**:
https://jenkins.mono-project

[2018-07-02 18:38] jeromelaban opened #9406 "A wasm debugging session ends prematurely after 30 seconds"
## Steps to Reproduce
1. Follow the instructions for wasm debugging setup
2. Start the debugging session in Chrome, hit a breakpoint
3. Wait.

### Current Behavior
The debugging session stops in the browser, with the debugging proxy showing this exception:
[code]

It looks like the `browser` websocket is being terminated, [making this line fail](https://github.com/kumpera/ws-proxy/blob/66d6743359c

[2018-07-02 18:38] jeromelaban commented on #9406
/cc @kumpera

[2018-07-02 18:38] jeromelaban commented on #9405
/cc @kumpera

[2018-07-02 20:34] lambdageek opened #9407 "Hybrid suspend deadlock taking the marshal mutex"
Seen on Hybrid suspend CI https://jenkins.mono-project.com/job/test-mono-pull-request-hybrid-suspend/2170/parsed_console/log.html

[code]

Thread 3 is in `mono_marshal_free_dynamic_wrappers` where it's holding the `marshal_mutex` and Thread 5 is trying to acquire that same mutex.  Thread 3 is self suspended and we're waiting for Thread 5 to self-suspend but it can't since it's blocked on the same

[2018-07-02 20:36] kumpera commented on #9405
How are you trying to load the assembly?

We use the emscripten VFS which is case sensitive, so it won't be able to deal with incorrectly cased assembly names. This is the same behavior of CoreCLR and mono on unix.

[2018-07-02 20:42] kumpera commented on #8378
Issues:
https://github.com/mono/mono/issues/9405
https://github.com/mono/mono/issues/9406

[2018-07-02 20:44] kumpera commented on #9406
Could you provide the full log of the web sockets proxy? which version of dotnet core are you using?

I'm on 2.1.300 as the previous one had bugs in the WebSocket client.

[2018-07-03 00:15] alexrp commented on #9136
Sampling on Windows will have to be implemented in a similar way to what we plan to do for OS X - see #6170.

[2018-07-03 01:59] KirillOsenkov opened #9410 "Debuggee crash during Step Into"
I was debugging VSMac on Mac and during Step Into the debuggee crashed:

[code]

[2018-07-03 06:33] KirillOsenkov commented on #8700
This would be nice to fix soonish, because Roslyn apparently has reentrancy in commonly called code, and we've been hitting this a lot in various scenarios in VSMac.

Here's where Roslyn calls GetValue with a delegate:
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.SnapshotSourceText.cs,84

Their delegate reentrantly calls GetValue through here:
http://source.roslyn

[2018-07-03 06:40] KirillOsenkov commented on #8700
This line is throwing:
https://github.com/mono/mono/blob/217a1424ee083283f53ccda4b8be8ff87d62463f/mcs/class/corlib/System.Runtime.CompilerServices/ConditionalWeakTable.cs#L201

[2018-07-03 08:22] FlyMontag commented on #6498
While it might be fixed inside the mono framework, that's not a big help for those who use Xamarin, as the updated mono version has not been included in Xamarin so for. In that case, as far as I know, the only option is a native workaround for each platform. It took me quite some time to figure this out, so maybe I can safe someone some time by sharing this native Android workaround for Xamarin de

[2018-07-03 14:45] jrr opened #9413 "error message directs user to bugzilla.xamarin.com"
I received this warning today:

`Microsoft.Common.Mono.After.targets(37, 9): [MSB3912] INTERNAL WARNING: Could not find the replacement assembly (System.Globalization.Extensions.dll) for the Windows specific reference /Library/Frameworks/Mono.framework/Versions/5.12.0/lib/mono/xbuild/Microsoft/Microsoft.NET.Build.Extensions/net461/lib/System.Globalization.Extensions.dll. Please file a bug report a

[2018-07-03 15:15] #9407 closed

[2018-07-03 15:32] lambdageek opened #9414 "Make mono_threads_enter_gc_safe_region_unbalanced_with_info faster on non-bitcode platforms"
We already have a fast path out of `mono_threads_enter_gc_safe_region_unbalanced_with_info` if we're not even tracking the thread state transitions to BLOCKING.

But we could also make it faster under full coop on "normal" platforms where we don't need to take a snapshot of the stack. It's enough just to copy the callee-saved registers to the normal stack.

Also if we're using hybrid suspend on a

[2018-07-03 15:40] directhex opened #9415 "Don't look for opt/llc in $PATH"
The AOT compiler only works with our LLVM fork - e.g. passing Mono-specific flags in https://github.com/mono/mono/blob/master/mono/mini/aot-compiler.c#L9100

So requiring that users use pass `--aot=llvm,llvm-path=/Library/Frameworks/Mono.framework/Versions/Current/bin/` to the runtime is dumb. We know we only work with the llc/opt we built & bundled. We should know that path and use it, by default

[2018-07-03 17:03] #7556 closed

[2018-07-03 18:16] radical commented on #8893
Which version of XI?

[2018-07-03 18:24] baulig opened #9416 "Use CoreFX SafePasswordHandle"
For my ongoing work on the `System.Security.Cryptography.X509Certificates` namespace, I need `SafePasswordHandle` from CoreFX to be added for corlib.

There is one version for Unix and one for Windows and this also depends on `SecureStringMarshal` (tiny static helper class) that's currently in `System.dll`.

[2018-07-03 19:24] radical commented on #8893
Earlier, Roslyn would look in `<mono_prefix>/lib/mono/4.5`(`==$(MSBuildFrameworkToolsPath)`) for csc.exe or whatever compiler was being used. This allowed the compiler to be overridden by simply setting, for example, `CscToolExe=mcs.exe`.

Then Roslyn switched to looking only in `<mono_prefix>/lib/mono/msbuild/15.0/bin/Roslyn/`, so we added symlinks to `csc.exe` and friends, in that path.
   But t

[2018-07-03 19:43] baulig opened #9417 "Use CoreFX Pal for AppleCrypto"
Before I can proceed with my ongoing `System.Security.Certificates.X509Certificates` work, we need to bring some of CoreFX's `System.Security.Cryptography.Native.Apple` PAL.

I have already started to work on this, this task is intended to keep track of progress.

[2018-07-03 19:45] baulig commented on #9417
Challenges so far:

- We need `SafePasswordHandle` for this: https://github.com/mono/mono/issues/9416
- The native code from CoreFX does not compile with `-Werror=incompatible-pointer-types`
- Need some `.sources` magic in `mcs/class/System` for the `build` profile.

[2018-07-03 19:51] baulig commented on #9216
The dependency injection problem should now be fixed, I got this worked out in my work tree.

I also did some major cleanups and refactoring to the certificate code, using CoreFX's implementation in quite a few places and I believe I found a _magical_ way of dealing with the "`CertificatePal` in corlib" problem.

The next step is to bring some of the apple crypto code from CoreFX - I created a tas

[2018-07-03 19:53] baulig commented on #9416
This needs to be added to corlib, not System, to allow it to be used in `X509Certificate`.

[2018-07-03 20:12] filipnavara commented on #9216
I cleaned-up a bit my CoreFX w/ BoringSSL branch and added OpenSSL 1.1 support to it (https://github.com/dotnet/corefx/pull/30574). There's few more issues that need to be dealt with, but I have a plan for those. Overall the patch is not very nice and it's likely not going to get in as-is. The current plan is to use it as a reference for a proper patch and use the good bits. If that would take too

[2018-07-03 20:41] filipnavara commented on #9416
Technically it's not a big issue. The `SecureStringMarshal` methods exist in `Marshal` too and that one is in mscorlib. The Unix and Windows versions differ in Ansi/Unicode calls. I guess it's only matter of how to reference this code cleanly. In my private repository I chose to change CoreFX code with "#if MONO" and use `Marshal` directly instead of `SecureStringMarshal`. May not be the best opti

[2018-07-03 20:51] filipnavara commented on #9417
IIRC this is already fixed in upstream CoreFX.

[2018-07-03 21:20] filipnavara opened #9418 "SslStream.AuthenticateAsClient throws wrong exception types"
## Steps to Reproduce

1. Start authentication using SslStream.AuthenticateAsClient on network connection
2. Drop the connection while the call is still in progress

### Current Behavior

AggregateException (or TaskCanceledException) is thrown.

### Expected Behavior

The API was present in .NET 2.0 where AggregateException and TaskCanceledException didn't exist. Thus it should return one of the d

[2018-07-03 21:50] lewurm commented on #9262
duplicate of https://github.com/mono/mono/issues/8627 ?

[2018-07-03 21:51] lewurm commented on #8848
duplicate of https://github.com/mono/mono/issues/8627 ?

[2018-07-04 05:02] vargaz opened #9421 "build failures on a clean checkout"
## Steps to Reproduce

git clone git@github.com:mono/mono.git
cd mono/
./autogen.sh --disable-boehm

### Current Behavior
fatal: destination path '/Users/vargaz/git/foo/mono/external/corefx' already exists and is not an empty directory.
fatal: clone of 'git://github.com/mono/corefx.git' into submodule path '/Users/vargaz/git/foo/mono/external/corefx' failed
Failed to clone 'external/corefx' a seco

[2018-07-04 07:46] lateralusX opened #9422 "Performance drop when attaching soft debugger to a mono process started with suspend=n."
Problem is currently reported on a none desktop Windows platform but is probably a generic error that could be hit on other configurations as well.

This is an embedding scenario starting up debugger in server mode without suspending the runtime and waiting for debugger to attach during startup (suspend=n).

Application performance is good until debugger attaches when performance drops significant

[2018-07-04 07:47] ntherning opened #9423 "Port the ICastable interface from CoreRT"
[`ICastable`](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ICastable.cs) is central for the WinRT interop work (#9361).  This interface is needed by the runtime early on when starting up and needs to go into our corlib.

As the WinRT interop code generated by the MCG framework expects `ICastable` to be in the `System.Private.Compile

[2018-07-04 08:49] ntherning commented on #9422
@marek-safar Can we add this to the [Bugs Week](../projects/3) board please?

[2018-07-04 08:52] ntherning opened #9424 "Port the System.Private.Interop assembly from CoreRT"
This assembly is directly referenced by the interop code generated by the MCG framework. We need to port it from CoreRT to Mono's BCL as part of the WinRT interop work (#9361).

[2018-07-04 08:58] ntherning opened #9425 "Port the System.Private.CoreLib.InteropServices assembly from CoreRT"
This assembly is needed by `System.Private.Interop` which we are porting in #9424 as part of the WinRT interop work (#9361).

[2018-07-04 09:00] ntherning opened #9426 "Port the System.Runtime.WindowsRuntime assembly from CoreFX"
This assembly is directly referenced by the interop code generated by the MCG framework. We need to port it from CoreFX to Mono's BCL as part of the WinRT interop work (#9361).

[2018-07-04 12:36] #9391 closed

[2018-07-04 12:41] akoeplinger commented on #9396
It's not been touched in the last 12 years so probably not anytime soon :)

We'd appreciate a pull request if you decide to implement it yourself.

[2018-07-04 12:55] mfilippov commented on #7143
@luhenry Have you any news about this issue. I very want to have parallel build on macOS in MSBuild.

[2018-07-04 12:58] JTrotta commented on #9396
@akoeplinger will do.
I'm valuating a porting and some new implementation

Thank you

[2018-07-04 12:58] #9396 closed

[2018-07-04 14:17] NattyNarwhal commented on #9421
Workaround: run `git submodule update --init` before autogen, or run `git clone` with `--recursive`?

[2018-07-04 15:36] acaliaro commented on #6498
@keke78ui9 could you share your Android implementation?

[2018-07-04 21:12] Therzok commented on #8726
Our MSBuild builder just started crashing, so yes, it was a regression.

[2018-07-04 21:20] acaliaro commented on #6498
why this is closed?

[2018-07-05 16:00] EgorBo opened #9434 "[CI] Test #8626 on BE environment"
In order to test if the new `Decimal` from CoreRT brakes Big Endian platforms or not
PR: https://github.com/mono/mono/pull/8626 (EgorBo:corefx-corlib-system)

[2018-07-05 16:29] keke78ui9 commented on #6498
@acaliaro I'm using Xamarin.Form and use HttpClient at shared projects.  The HttpClient class is very standard code, not many special things there but I could show a simple example as follows.

[code]
As I mentioned before, In my case upgrade to higher version and change Android HttpClient and SSL/TLS setting helped me fixed my issue. I attached the Android Options setting for references.
![image]

[2018-07-05 18:49] directhex commented on #9388
I would love to see a release with https://github.com/mono/mono/issues/7445 resolved ship before Roslyn becomes mandatory - Roslyn still isn't in sufficient shape to ship in the downstream distribution repositories, so most distributions are still on an old 4.x release that was still buildable with a completely from-source in-tree stack.

[2018-07-05 21:38] nealef opened #9439 "Use of SO_REUSEPORT dictates kernel level of 3.9 or better"
SO_REUSEPORT used by pal_networking but only defined in kernels 3.9 or better.

## Steps to Reproduce

1.  git clone
2. autoconf.sh
3. make

### Current Behavior

  CC     ../../external/corefx/src/Native/Unix/System.Native/libmono_system_native_la-pal_networking.lo
../../external/corefx/src/Native/Unix/System.Native/pal_networking.c:1067:16: warning: function declaration isn’t a prototype [-Wstri

[2018-07-05 22:15] nealef commented on #9439
Circumvention:
[code]

[2018-07-06 00:44] w8w8w8 commented on #9350
@kumpera  can you see my demo ?

[2018-07-06 09:11] kamikyo opened #9441 "Why can't mono directly use the netstandard class library?"
Why can't mono directly use the netstandard class library?
I found a problem when using xamarin.android for app development.
I want to use httpclient for https request,but mono's WebRequestHandler has many methods and properties that are not implemented.
This is link:https://github.com/mono/mono/blob/debdc1c1273402d43bccbe156ca608f7af6262f5/mcs/class/System.Net.Http.WebRequest/System.Net.Http.WebR

[2018-07-06 09:53] lewurm opened #9442 "use clang-format for C source code formatting"
It gets increasingly annoying to comment in PRs on code style issues, knowing that this could be something fully automated. I suggest to use [clang-format](https://clang.llvm.org/docs/ClangFormat.html) which has [plenty of options](https://clang.llvm.org/docs/ClangFormatStyleOptions.html).

The risks are:

- a lot of line damage, so it makes source code archeology harder using git.
- during the tr

[2018-07-06 13:43] lewurm opened #9444 "--enable-llvm=yes uses opt/llc from $PATH"
## Steps to Reproduce

1. `./autogen.sh --enable-llvm=yes --with-runtime-preset=fullaot_llvm`
2. `make V=1`

### Current Behavior
[code]

### Expected Behavior
no failure. It should use the tools in `./llvm/usr/bin`. Workaround:
[code]
## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

mono master

/cc @alexanderkyte

[2018-07-06 14:54] Rich-biomni commented on #6376
We have the same issue. This is preventing us using Batch in our Xamarin App would be really great to get this fixed.

When and how is this released, so we can use batch in our Xamarin App?

[2018-07-06 16:30] directhex commented on #9444
Tastes like https://github.com/mono/mono/issues/9415 to me

[2018-07-06 16:36] directhex commented on #9439
Our support matrix covers older kernels (CentOS 6 has a 2.6 kernel???!?!?!?!?!?!) so this ought to be addressed.

[2018-07-06 16:45] directhex commented on #9278
We also don't ship it on every platform - our Boehm fork is pretty ancient, and lacks e.g. ARM64. The default switched to SGen on all platforms years ago. We should probably look at our use-cases & determine whether it's time to retire Boehm entirely

[2018-07-06 16:48] directhex commented on #9267
I'm not terribly keen on supporting both.

Are there any distributions which can't handle .tar.xz? We only care about tarballs on Linux & friends, so if there's a distribution adjacent to our support matrix which can't handle .xz then I could be persuaded to do both - otherwise I'd prefer to just switch to .xz wholesale.

Any Debian derivative with dpkg 1.15.5 (Nov 2009) is fine with it. Not sure

[2018-07-06 19:57] NattyNarwhal opened #9449 "Allow for TimeZoneInfo's paths for searching to be controlled by the configure script"
Not all systems have zoneinfo at `/usr/share/zoneinfo` - AIX has it in another directory; and some systems (like Haiku or IBM i) lack it entirely and would need it installed somewhere, which may not be `/usr/share/zoneinfo` due to their preferences on packages and such. (Something something about NixOS or GoboLinux.)

It might be prudent to allow the paths for zoneinfo and localtime to be controll

[2018-07-06 21:10] thiagomacieira commented on #9267
There's a lot of software that has switched to only .xz (and even .7z for Windows), ditching the .gz and especially ditching the .bz2 files. Unlike the Lempel-Ziv family of decompressors, bunzip2 takes a lot of CPU time to work. It's not only more bandwidth consumed for the project, it's also time for the user. It's so bad that decompressing the 5.12.0 release tarball on-the-fly while downloading

[2018-07-06 21:43] AdamDotNet commented on #6966
This looks promising for aspnet/Hosting/issues/1287! Will this get rid of the NotImplementedExceptions inside the FileSystemWatcher class on Mono.Android, seeing the "Mobile profiles" checklist item?

[2018-07-06 23:53] akoeplinger commented on #9267
I've seen build scripts that do stuff like `wget https://download.mono-project.com/sources/mono/mono-$(VERSION).tar.bz2` so I'd like to avoid breaking them if we can avoid it.

@directhex is there a reason why we can't easily do both?

[2018-07-07 00:11] peteroupc opened #9451 "Support blacklisting and/or whitelisting certain assemblies in log profile and/or mprof-report"
To reduce data collection times in certain cases while profiling, and to improve the usefulness of log reports, it would be useful if Mono's [_log_ profiler and/or _mprof-report_](http://www.mono-project.com/docs/debug+profile/profile/profiler/) includes support for a blacklist and/or whitelist of assemblies to profile or to report (for instance, to exclude assemblies belonging to the runtime or t

[2018-07-07 01:40] nealef commented on #8679
2018-06 still seems to suffer from this. I checked out the 2018-06 branch a couple of days ago and the MCS build failed with the same symptoms.

[2018-07-07 01:50] nealef commented on #9439
My suggested circumvention simply pretends the set operation works. Should it return ENOTSUP instead?

[2018-07-07 08:25] rokups opened #9452 "Runtime uses multiple instances of custom marshaller for marshalling single argument"
## Steps to Reproduce

Code reproducing issue:
[code]
[code]

### Current Behavior

mono 5.12.0 prints:

    MarshalManagedToNative: _stored = 1, returning = 1, identity = 1192725433
    MarshalNativeToManaged: 2
    CleanUpNativeData: _stored = 0, pNativeData = 2, identity = 1192725432

Mono calls `MarshalManagedToNative()` on one instance of the struct and then calls `CleanUpNativeData()` on a n

[2018-07-08 13:04] cosminstirbu commented on #8429
Hello,

Any info on this?

Thank you,
Cosmin

[2018-07-08 18:22] CaptainOachkatzl commented on #9037
currently experiencing this in visual studio community 2017 while building a xamarin app for android.
i feel like this issue was overlooked for a long time now (2013?) and it might be a great deal to a lot of developers like me.

[2018-07-08 22:24] directhex opened #9456 "Out-of-tree LLVM broken"
[code]

[2018-07-09 12:31] filipnavara commented on #9441
There's no such thing as .NET Standard class library. .NET Standard specifies the API contract (ie. what classes are available; their methods and properties), not the implementation. .NET Core (CoreFX) provides one implementation of the contract, other implementations being the Mono one and the .NET Framework one.

There is an ongoing effort to reuse parts of .NET Core (CoreFX) class library for M

[2018-07-09 12:34] filipnavara commented on #7589
I think System.Security.Cryptography.Pkcs should be checked off, X509Certificates is now tracked in issue #9216.

[2018-07-09 12:42] jeromelaban commented on #9406
I was running under this version, but looks like under the debugger another version was running. I made this change: https://github.com/jeromelaban/ws-proxy/blob/96c579d90e5d76a16adb73a9808e2eb90eb9f42b/global.json#L2 and it seems to have fixed it under VS2017 debugging as well.

[2018-07-09 12:42] #9406 closed

[2018-07-09 12:46] jeromelaban commented on #9405
I'm not trying to load the assembly explicitly, it's the debugger/runtime that does. I made this change https://github.com/jeromelaban/ws-proxy/commit/96c579d90e5d76a16adb73a9808e2eb90eb9f42b#diff-cef10777de86065b0fc5bbe222543bbaR424 which allowed for the breakpoints to hit properly. Though I'm not sure this is the only update that was required, as this one is required as well: https://github.com/

[2018-07-09 13:11] 2mik opened #9458 "Can't access to WCF service by SSL using Apache"
## Steps to Reproduce

1. Deploy the simple web application called TestWcfWeb for testing. It is attached to the issue. Files for publishing are located in the TestWCF/Releases/TestWcfWebPublish subfolder. Use Apache + mod_mono
[TestWCF.zip](https://github.com/mono/mono/files/2176231/TestWCF.zip)
2. Type the link http://your-host/your-app/testwcf/TestSvc.svc/Sum?a=21&b=57&num=2 into a browser addr

[2018-07-09 13:15] 2mik commented on #9458
As I understand, the web app reads configuration files and tries to initialize WCF services. But drops.
The [ServiceHostBase](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/System.ServiceModel/ServiceHostBase.cs) class is used.
Interesting lines of code is [L195](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/System.ServiceModel/ServiceHostBase.cs#L1

[2018-07-09 13:43] 2mik commented on #6857
If it's possible to debug Mono using VS, it would be great and many new people can contribute to Mono.

[2018-07-09 13:58] lateralusX commented on #8708
Found local repro of the problem. It's related to the fact that a call to mono_threads_join_threads will remove a joinable thread from the list and wait for it to complete. If another thread tried to make a join on the same thread (while the thread calling mono_threads_join_threads is waiting for it to complete), the second thread won't find it in the list of joinable threads (removed by the threa

[2018-07-09 14:00] 2mik commented on #9290
Probably, the issue was fixed in https://github.com/mono/mono/issues/8970

[2018-07-09 14:35] #9444 closed

[2018-07-09 14:38] lewurm commented on #9415
For what it's worth, as a developer we previously didn't run into this issue, because `./autogen.sh` required us to update `PATH` so that it points to the path wherever `llvm-config` lived. That coincidentally  also updated the `PATH` correctly for `opt` and `llc`.

[2018-07-09 14:52] marek-safar commented on #6857
You can debug unmanaged Mono code with VS for BCL it should be possible too but we haven't done the proper testing yet.

[2018-07-09 14:55] juepiezhongren opened #9462 "when will reflection.emit be avaible for ios？"
@kumpera beg for newest updates

[2018-07-09 14:55] marek-safar commented on #9415
@vargaz could you look into this

[2018-07-09 15:08] marek-safar commented on #7589
@filipnavara System.Security assembly has additional X509Certificates types which I track here (similarly for mscorlib)

[2018-07-09 15:17] marek-safar commented on #9441
You can use netstandard library with Xamarin.Android otherwise you'd not hit the issue. The netstandard is not equal to .NET Core for a full explanation see https://msdn.microsoft.com/en-us/magazine/mt842506.aspx.

HttClient on Xamarin.Android does not use WebRequest (or can be configured that way) so that code is not relevant

[2018-07-09 15:17] #9441 closed

[2018-07-09 15:20] filipnavara commented on #7589
@marek-safar My bad, I missed that. However, CoreFX doesn't implement these types at the moment. They are Windows-specific and all functions referencing them were wiped-out with `throw new PlatformNotSupportedException()`.

I once tried to implement `X509Certificate2UI.DisplayCertificate` overloads, but eventually I abandoned the effort. On macOS the underlying APIs require the application to be p

[2018-07-09 15:31] marek-safar commented on #7589
I agree the *UI API is just poor Windows API, we will keep the minimalistic implementation we have for now.

[2018-07-09 15:34] lewurm commented on #9373
I don't think your issue is mono related. If you think it is, feel free to reopen and please provide some information on how to reproduce.

[2018-07-09 15:34] #9373 closed

[2018-07-09 15:57] marek-safar opened #9463 "CoreFX System.Security.Cryptography namespace"
## Types in System.Core.dll to import

- [ ] AesCng
- [ ] AesCryptoServiceProvider
- [ ] AesManaged
- [ ] CngAlgorithm
- [ ] CngAlgorithmGroup
- [ ] CngExportPolicies
- [ ] CngKey
- [ ] CngKeyBlobFormat
- [ ] CngKeyCreationOptions
- [ ] CngKeyCreationParameters
- [ ] CngKeyHandleOpenOptions
- [ ] CngKeyOpenOptions
- [ ] CngKeyUsages
- [ ] CngProperty
- [ ] CngPropertyCollection
- [ ] CngPropertyOp

[2018-07-09 15:58] marek-safar commented on #9037
This depends on #9463

[2018-07-09 15:59] KirillOsenkov commented on #9410
Nope, I’ve updated my runtime to 5.14 already and it’s gone.

[2018-07-09 16:11] marek-safar commented on #9451
@alexrp is it possible to do it with some grep filter today?

[2018-07-09 16:24] marek-safar commented on #9442
I think CoreFX folks try that but it was too disturbing even for small files and the options didn't allow to fully customize the syntax to match their prefered style.

However settings like `IndentWidth` should not cause much controversy

[2018-07-09 16:28] lambdageek commented on #9442
Can we use a formatter and 3-way diffing just to check that changes in a PR conform to our guidelines?  (ie... run the formatter on the PR code but only call out changes that fall in the region where the PR made modifications).

[2018-07-09 16:31] BrzVlad commented on #9065
This was also fixed by https://github.com/mono/mono/commit/c6f1d112d2397ba93122a03bee0f89a7db4d2a79

[2018-07-09 16:31] #9065 closed

[2018-07-09 16:36] marek-safar commented on #7445
I agree if this is for tarball build we should maybe not even package the cached dlls and just build them as part of basic profile

[2018-07-09 16:42] #9434 closed

[2018-07-09 16:52] #9332 closed

[2018-07-09 17:01] marek-safar commented on #9421
Any objections to run `submodule update` before autogen?

[2018-07-09 17:02] baulig commented on #9416
Awesome, thanks a lot for this!

[2018-07-09 17:03] baulig commented on #9418
Didn't we recently fix this or is this a different issue?

[2018-07-09 17:03] vargaz commented on #9421
We can run it before the AOT_OUTPUT line, no idea when automake generates these .dep files.

[2018-07-09 17:06] baulig commented on #9463
Some of these overlap with my ongoing X.509 work, so we should coordinate this to avoid possible duplicate work.  From what I can tell so far, I may need to bring the `EC*` types, but I'm not very excited about the rest of the types.

[2018-07-09 17:07] filipnavara commented on #9418
Different issue I think. The other one was HttpWebRequest methods.

[2018-07-09 17:55] vargaz commented on #9229
6.0 is MONO_API_VERSION>=600

[2018-07-09 17:56] vargaz commented on #9229
Its already done:
#ifdef LLVM_API_VERSION > 100
		g_string_append (acfg->llc_args, " -mattr=+soft-float");
#else
		g_string_append (acfg->llc_args, " -soft-float");
#endif

[2018-07-09 18:08] marek-safar commented on #9344
@vargaz could you look into this issue?

[2018-07-09 18:14] peteroupc commented on #9451
My main interest is in method enter/leave events and, as a lower priority, object allocations.  More concretely, my interest is in information on which methods in particular assemblies are "hot" (that is, which methods the program is currently "running" over time) relative to other methods in those same assemblies.  Collecting information on method enter/leave events in all assemblies could take l

[2018-07-09 18:19] CaptainOachkatzl commented on #9463
i just want to express my excitement, other than that ignore this comment. :)

[2018-07-09 19:01] marek-safar commented on #9416
There should be no issue to have it in mscorlib, we can even have it as internal due to already existing IVT to System

[2018-07-09 19:06] filipnavara commented on #9416
Should be a non-issue once we cherry pick the CoreFX change linked above. Unless someone beats me to it I will submit a cherry pick PR in a few days with all the upstream System.Security changes. I am waiting for couple of patches to go in.

[2018-07-09 19:07] baulig commented on #9416
I already have a PR ready for this, just waiting for https://github.com/mono/corefx/pull/94.

[2018-07-09 19:15] baulig commented on #9416
PR is up: https://github.com/mono/mono/pull/9468.

[2018-07-09 19:15] marek-safar commented on #9262
@ganorkargaurav could you attach the sample?

[2018-07-09 20:38] directhex commented on #7445
Do we need to add System.Net.Http.dll to monolite? It seems we reference it in our System.dll build

[2018-07-09 20:45] praeclarum commented on #9344
We identified the line of code missing a handler for the subtype. I think you’re in a better position to create a repro than me.

Sent from my iPhone

[2018-07-09 20:55] directhex commented on #7445
Observations on this:

* mcs/class/System/Makefile has `API_BIN_REFS := System.Net.Http System.Xml` but System.Net.Http is not in monolite - removing seems harmless?
* circular dependency issue between System.Web, System.Web.Services, System.Design

[2018-07-09 21:44] alexanderkyte opened #9471 "RFC: Class and Assembly Loader Full-State Structured Loggers"
The loaders are parts of the runtime that are feared because of the difficulty in understanding the control flow behind a passing or failing run. Error messages coming from this subsystem will indicate misuse of the API as well as indicating failures from logic errors inside the subsystem. This makes reporting quality and transparency incredibly important here.

The loader bugs factor into a coupl

[2018-07-09 22:06] lambdageek commented on #9471
The most useful information (compared to the current gold standard of "run with lots of user-code printfs and `MONO_LOG_LEVEL=debug MONO_LOG_MASK=asm `and try to figure out what the loader was doing") is to record:
* what caused a particular loader request (MemberRef from an already loaded assembly; reflection API call; etc) - capture the full available context here.
* did that loader request trig

[2018-07-10 00:37] baulig commented on #9216
So this is the first batch of my ongoing work - it adds the dependency injector and moves all the `X509Certificate` implementation from corlib into System:  https://github.com/mono/mono/pull/9472.

The newly introduced `X509PalImpl` will eventually implement `IX509Pal` from CoreFX and the fallback implementation will go away.

I already moved `X509CertificateImplApple` from corlib into System - it

[2018-07-10 08:02] marek-safar commented on #7445
We don't want to add them to monolite. The change is not to bundle binaries from `external/binary-reference-assemblies` but build them during basic

[2018-07-10 10:51] #9410 closed

[2018-07-10 12:08] mrward opened #9475 "Unable to build SDK style .NET Standard project with Mono 5.14"
## Steps to Reproduce

On Mac:

1. Install .NET Core 2.1.301 SDK
2. Install Mono 5.14.0.105
3. From terminal window create a new dotnet .NET Standard project: `dotnet new classlib`.
4. Run: `msbuild /t:restore`
5. Run: msbuild

### Current Behavior

Build fails with:

[code]

### Expected Behavior

The build succeeds. The build works with Mono 5.12.

## On which platforms did you notice this

[x]

[2018-07-10 12:17] marek-safar commented on #9475
@radical it looks like we are missing some dependencies

[2018-07-10 12:33] marek-safar commented on #9395
We try to avoid `[PlatformSpecific(TestPlatforms.Windows)]` as this should really be used for platform-specific tests like checking for `c:\` for other things we use PlatformDetection. Considering the tests will probably never work on non-windows [PlatformSpecific(TestPlatforms.Windows)] could just work

[2018-07-10 12:35] mrward commented on #9475
Build fails with the latest Mono 5.14.0.161 (2018-04/c95a4a2d2c5 Tue Jul 10 06:48:32 EDT 2018).

Build works with Mono 5.14 when .NET Core 2.1.200 SDK is installed instead of the most recent 2.1.301 version.

[2018-07-10 12:37] 2mik commented on #6857
I was looking for a manual or a documentation how to start debug Mono with VS, but couldn't find. I understand the source code of Mono whereas not familiar with BCL. If I can run debugging with not too much effort, I could help the project. I suppose, numerous people in the same boat.

[2018-07-10 12:53] marek-safar commented on #9353
@vargaz is this supported setup?

[2018-07-10 12:59] MaximLipnin commented on #9395
Do we plan to support different xunit test source profiles like `win32_System.Security_xtest.dll.sources` or `winaot_System.Security_xtest.dll.sources` ?

[2018-07-10 13:31] lateralusX commented on #8708
Fixed by https://github.com/mono/mono/pull/9476.

[2018-07-10 13:41] marek-safar commented on #9395
Not at the moment

[2018-07-10 14:22] marek-safar commented on #8893
@alexanderkyte what project is this? Why do they have to override the compiler and can we tell them to override it differently?

[2018-07-10 16:25] filipnavara commented on #9232
Got bitten by it again... https://github.com/mono/mono/pull/9478/files ... is it supposed to work now?

[2018-07-10 16:29] kg commented on #9232
Yes. I'll look into it

On July 10, 2018 9:25:39 AM PDT, Filip Navara <notifications@github.com> wrote:

- kg (mobile)

[2018-07-10 16:35] danroth27 commented on #7933
The new links are [BrowserHttpMessageHandler.cs](https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor.Browser/Http/BrowserHttpMessageHandler.cs), [Http.ts](https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Services/Http.ts)

[2018-07-10 17:38] #9456 closed

[2018-07-10 18:27] lambdageek opened #9482 "[coop] abort syscall leaves thread in BLOCKING_SUSPEND_REQUESTED state"
If a thread is in GC Safe and we try to break it out of a syscall, we will transition to `BLOCKING_SUSPEND_REQUESTED` but the SIGABRT handler won't finish the protocol, so the thread will return from the signal handler (and from the syscall) still in `BLOCKING_SUSPEND_REQUESTED`.

This seems undesirable:
 - if the code was wrapped in `ENTER_GC_SAFE`/`EXIT_GC_SAFE`, running exit while in `BLOCKING_

[2018-07-10 18:28] lambdageek commented on #9482
Thanks to @alexischr for catching a good example of this is https://github.com/mono/mono/pull/7255#discussion_r201375957

[2018-07-10 20:15] mhutch commented on #9475
This looks like #8715

[2018-07-10 20:36] alexanderkyte commented on #7295
It looks like here:
[code]
we are calling
mono_coop_mutex_destroy (synch_cs).

I think this indicates a race in our freeing. We use synchronization everywhere else with this variable. I will fix it with a CAS.

[2018-07-10 20:53] radical commented on #9475
mono `5.14.105` is too old and doesn't have the fix from #8715 . Try at least `5.14.0.132`.

[2018-07-10 21:01] alexanderkyte commented on #7295
Hmm so this is actually kind of nuanced. We need to ensure the lock isn't held by anybody else before we dispose of it.

[2018-07-10 21:22] mrward commented on #9475
@radical - I tested the latest Mono 5.14 available from Jenkins which is currently 5.14.0.161. That also has the same problem.

[2018-07-10 22:06] radical commented on #9475
I can't reproduce this. I used:

`Mono JIT compiler version 5.14.0.161 (2018-04/c95a4a2d2c5 Tue Jul 10 06:48:32 EDT 2018)`

[code]

[2018-07-10 22:08] radical commented on #9475
What does `$ find /Library/Frameworks/Mono.framework/Versions/5.14.0/lib/mono/msbuild/15.0/bin/ -name 'Microsoft.Extensions.DependencyModel*'` show?

[2018-07-11 00:35] gnola14 opened #9490 "If CultureInfo is set to Saudi Arabia locale, DateTimeFormatInfo.DayNames items are empty"
## Steps to Reproduce

### Current Behavior

Given this code:
[code]
The output is just seven empty new lines. Alternatively, you can put a breakpoint and see that `ci.DateTimeFormat.DayNames` has 7 empty strings

### Expected Behavior

The output should be
[code]
which is what you get if you create a sample console project using VS on Windows, or by using .NET Core
## On which platforms did you n

[2018-07-11 02:22] kamikyo commented on #9441
@filipnavara @marek-safar Thank you so much. Your answers have made me learn a lot.

[2018-07-11 08:11] MartinRothschink opened #9496 "Global certificate removed on each mono update"
## Steps to Reproduce

I'm installing my own root-ca using Monos X509Store like this:
[code]
The cert is saved to /usr/share/.mono/new-certs/Trust/xxx.0 and later on used by a daemon running under a different user account.

### Current Behavior

After each mono update, my cert is removed from /usr/share/.mono/new-certs/Trust/ and the daemon fails to connect to the server.

### Expected Behavior

M

[2018-07-11 08:36] mrward commented on #9475
OK looks like the problem I am having with Mono 5.14 was due to old Mono 5.14.0.105 files being left behind. I had two DependencyModel.dlls:

 - /Library/Frameworks/Mono.framework/Versions/5.14.0/lib/mono/msbuild/15.0/bin//Microsoft.Extensions.DependencyModel.dll
 - /Library/Frameworks/Mono.framework/Versions/5.14.0/lib/mono/msbuild/15.0/bin//Sdks/Microsoft.NET.Sdk/tools/net46/Microsoft.Extensions

[2018-07-11 08:36] #9475 closed

[2018-07-11 08:50] jaykrell opened #9497 "ves_icall_System_Runtime_InteropServices_Marshal_StringToHGlobalAnsi apparent overread"
In marshal-windows.c this code is suspicious:

[code]

if len is actually more than strlen (tres) + 1, it will overread tres, returning either garbage or triggering a sigsegv. Probably the code should zero the tail, and of course not overread.

[2018-07-11 08:59] FalcoGer commented on #8905
It's an issue with how it handles the comparison.
apparently the vbnc from microsoft will abort and return false for
a AND b
if a is wrong and not touch b or execute any function calls there, which is what I counted on

the mono compiler seems to do both comparisons, even if a is already false
The same thing for OR

`true Or Nothing.ToString()`
and
`false And Nothing.ToString()`
will crash in mono

[2018-07-11 10:19] mrward opened #9498 "Build error: Key file is missing the private key needed for signing"
## Steps to Reproduce

Have not had time to put together a small repro for this. If you build xamarin/md-addins master then the build will fail with:

CSC : error CS7032: Key file '../../monodevelop/main/msbuild/MonoDevelop-Public.snk' is missing the private key needed for signing.

### Current Behavior

Build fails with  error CS7032: Key file '../../monodevelop/main/msbuild/MonoDevelop-Public.sn

[2018-07-11 12:00] marek-safar commented on #9498
Could you include full log?

[2018-07-11 12:02] marek-safar commented on #9496
What distro is this and how do you install ?

@directhex is there anything we can do about it?

[2018-07-11 13:30] radical commented on #8893
@kdubau ^

[2018-07-11 13:31] MartinRothschink commented on #9496
Thanks for the workaround, will give it a try,

[2018-07-11 13:33] kdubau commented on #8893
@marek-safar it's a Xamarin client project. I've added you to an email thread where we've started this conversation.

[2018-07-11 13:35] Therzok commented on #9142
So, further analysis gives me this.

Finalizer order isn't guaranteed, so, the following scenario happens:
* DeflateStream is finalized, the GCHandle is freed - [Dispose](https://github.com/mono/mono/blob/2018-02/mcs/class/System/System.IO.Compression/DeflateStream.cs#L388)
* DeflateStreamNative is finalized, it tries to [flush the zstream](https://github.com/mono/mono/blob/2018-02/mcs/class/Syste

[2018-07-11 13:39] Therzok commented on #9142
Repro is as simple as:
[code]

[2018-07-11 13:54] alexischr commented on #9046
This one seems to also show up as a native crash with interesting stacktrace ([Log](https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2270/parsed_console/log.html))

[code]

with another thread being also in `string_memcpy_aligned_4_byte.byte.int`

[code]

[2018-07-11 18:09] alexanderkyte opened #9501 "fullaotmixed-regression test fails on Linux x64 Interpreter"
The crash can be seen here:
https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/7196/parsed_console/log_content.html#WARNING1

(To load the error in a reasonable amount of time)
https://gist.github.com/alexanderkyte/dd0882dc83d7b451f83c43b92c99c526

[2018-07-11 18:19] lewurm commented on #9501
fixed by https://github.com/mono/mono/commit/a0d0af6d3998fcd969ca09659fd72d49bbf14193#diff-307195a8afdfeac6e3df25eef5aaf9d6R2769

[2018-07-11 18:19] #9501 closed

[2018-07-11 21:02] vargaz commented on #9415
Perhaps we should rename llc/opt to mono-llvm-llc/opt this will solve the issue of trying to invoke the stock llvm one.

[2018-07-12 02:43] jaykrell commented on #9102
Indeed!

[2018-07-12 02:44] NattyNarwhal opened #9505 "Two System.Data (and verify) tests fail when BCL is compiled with mcs (throw expression followed by ret)"
Seems to be invalid IL being generated. My suspicion is that mcs might be generating invalid IL, rather than a PPC JIT issue. Unfortunately, I can't validate on my amd64 system because the test suite consumes all memory until killed. (WTF) Could someone verify with an x86/ARM system with the BCL compiled with mcs and run the System.Data test suite?

This is reproducible on Linux/ppc64le and AIX/pp

[2018-07-12 04:40] vargaz opened #9507 "isinst for unused array type fails"
## Steps to Reproduce

Run this:
[code]
### Current Behavior

[code]

### Expected Behavior

## On which platforms did you notice this

[x ] macOS
[ ] Linux
[ ] Windows

**Version Used**:
Master/5.12

This seems to happen because using the  double[] type in code doesn't seem to initialize the Double class anymore, i.e. mono_class_init () is not called on it.

[2018-07-12 07:09] pettfre opened #9511 "RestSharp breaks when upgrading mono from 5.10 to 5.12"
Whenever RestSharp gets a response containing anything else other than a 2xx code, the response model returned from the method "Execute" contains all default values and an exception when run under mono 5.12.0.226 on Linux as described below. However, when running the same application under mono 5.12.0.226 on Windows or under mono 5.10.1.47 on Linux, everything works as intended. I also tried runni

[2018-07-12 09:09] GLjackyvaswani commented on #9318
Have tested it with latest build shared for Xcode 10 beta , issue still reproducible.

Tested it with :
https://github.com/xamarin/release-manifests/blob/Xcode10/manifests/xcode10-beta3-preview2.json

Logs:  https://gist.github.com/GLjackyvaswani/15beca0beb7331c144057a978c22335c

BuildInfo:

Version 7.5.4 (build 5)
Mono 5.10.1.57 (2017-12/ea8a24b1bbf) (64-bit)
Xamarin.Android Version: 8.3.3.2
Xama

[2018-07-12 09:14] lewurm commented on #9318
mentioned Xamarin.iOS build points to https://github.com/mono/mono/commit/10feb7c which should have fixed it, thus reopen.

[2018-07-12 10:07] GLjackyvaswani commented on #9318
Same issue also observed when tried to deploy Watch App on device in Release mode.

Build output with errors: https://gist.github.com/p-lad/f63aa5a892be66ccfeb0110c3ea758f5

Tested it with :
https://github.com/xamarin/release-manifests/blob/Xcode10/manifests/xcode10-beta3-preview2.json

Build Info: https://gist.github.com/GLjackyvaswani/bbf556eb8dbfe16e7619c6013a863a5c

[2018-07-12 12:00] stehgold commented on #6752
Does anyone know why Fedora comes with 4.8. If this was fixes in 5.10 when will this arrive in Fedora, F30 ?

[2018-07-12 13:09] filipnavara commented on #9497
The comment in the source code seems to suggest that no overread would actually happen.

[2018-07-12 13:24] vargaz commented on #9318
Missed a case, sorry about that.

[2018-07-12 14:15] HinTak commented on #6752
I can think of one reason - mono 5 has many incompatible(?) changes / additions, including a new c# compiler contributed by Microsoft. In fact I am not upgrading until one (the ability to build ironpython correctly) is fixed.
But the ncurse issue in the subject is already backported to 4.8 (at least as distributed by fedora) and fixed.
    On Thursday, 12 July 2018, 20:00:50 GMT+8, Stephan Goldenb

[2018-07-12 15:00] jaykrell commented on #9497
The code kinda looks like it overrreads. But I agree maybe not. Maybe mono_string_to_utf8_checked should return the allocated length. Or take a function pointer to do the allocation instead of this second alloc/copy/free.

[2018-07-12 15:28] directhex commented on #9415
@vargaz so put a mono-prefixed binary in $PATH, rather than an un-prefixed binary in some secret location?

[2018-07-12 15:53] vargaz commented on #9415
Yes. It won't solve the issue of finding the binaries, but will prevent using the wrong ones.

[2018-07-12 17:08] directhex commented on #9415
OK, yes, not using the wrong ones has value, but I think we should sill have a plan for finding the binaries somehow.

On Linux, if we prefix the binaries, they can just go in `/usr/bin` (same folder as mono-sgen itself), so that's easy. Right now we put `opt` in a private prefix, but that can change to align with any requirements.

On Mac, right now we put our `mono-sgen` in `Commands/` (which is

[2018-07-12 17:16] lewurm commented on #8340
@PiotrZierhoffer setting `TERM=xterm` is safe for pretty much any distribution out there.

[2018-07-12 17:22] #9416 closed

[2018-07-12 20:18] lewurm commented on #9505
I can reproduce on macOS/amd64 with `--with-csc=mcs`

[2018-07-12 20:30] lewurm commented on #9505
mcs produces this code:
[code]

roslyn:
[code]

[2018-07-12 20:36] lewurm commented on #9505
I think this behaviour was introduced by 0e30bebf4c05fe8375e55e16e4b49be049cef98b

not sure if it's a JIT regression or mcs is emitting wrong code. @marek-safar @jaykrell, could you chime in?

[2018-07-12 20:55] jaykrell commented on #9505
I'll look.

[2018-07-12 21:10] jaykrell commented on #9505
Trivial repro doesn't show it, but I see you have an easy enough repro.

[2018-07-12 21:12] jaykrell commented on #9505
Trivial repro doesn't show it, but I see you have an easy enough repro.
It is difficult to declare this as invalid IL, since you could more generally branch around the throw to the ret.

[2018-07-12 21:33] sourceskyboxer commented on #6949
Check @vargaz You're liar! Check [website](http://www.mono-project.com/docs/advanced/runtime/)!

Thanks! It looks like official.

[2018-07-12 21:40] alexanderkyte commented on #9404
If you look at https://github.com/mono/mono/tree/master/mcs/tools/mkbundle , we make a C project and we bundle our C# .exe files into it as just chunks of memory copy-pasted into the executable file

What you’re asking for is that the entry point’s icon will be used for the icon of that C file
Right here is where we use the C compiler on it:

https://github.com/mono/mono/blob/master/mcs/tools/mkbu

[2018-07-12 21:43] pr0vieh opened #9522 "build broken with --enable-minimal=soft_debug #2"
## Steps to Reproduce

1. ./autogen.sh "--enable-minimal=soft_debug"
2. make

### Current Behavior

make[3]: Entering directory '/monomaster/mono/mono/mini'
  CCLD     mono-sgen
./.libs/libmono-dbg.a(libmono_dbg_la-debugger-state-machine.o): In function `dump_thread_state':
/monomaster/mono/mono/mini/debugger-state-machine.c:252: undefined reference to `mono_debugger_tls_thread_id'
/monomaster/mon

[2018-07-12 22:29] jaykrell commented on #9505
Doesn't seem to repro for me.
cd mcs/class/System.Data
make check
?

configure exactly?
I see --with-csc=mcs.
I usually CFLAGS="-g -O0" -disable-boehm -disable-system-aot.
I'll try without -disable-system-aot.

[2018-07-12 22:29] jaykrell commented on #9505
Just clean building I get:

[code]

but then retry doesn't do that.

[2018-07-12 22:30] jaykrell commented on #9505
and also e.g.

[code]

maybe it is hiding in there?

[2018-07-12 22:42] jaykrell commented on #9505
Hm, maybe it is invalid IL. Like, throw is presumed not to fall through. Anyway I'm still looking..but a little stuck, no repro.

[2018-07-12 22:57] jaykrell commented on #9505
Ok I can repro.
Patientaly wait for a full csc build + check.
Then reconfigure with mcs and clean + build System.Data + check.

[2018-07-12 23:08] baulig commented on #9216
Here comes the next piece of work: https://github.com/mono/mono/pull/9524.

This refactors the AppleTls code to use `SafeSecCertificateHandle` and friends everywhere instead our `SecCertificate`.

We need to either add the `partial` modifier to CoreFX's version of those safe handles or move them into a file of their own (my preferred solution) because my new version requires an `IntPtr` constructo

[2018-07-13 00:13] jaykrell commented on #9505
It is not entirely simple/obvious how this works.

1. In the line case, we check for the basic block having an in_count and comments say, ==0 means preceded by a throw, so no pop.

2. This isn't the inline case. There it is unconditional (for non-void return) and seems to be that way a while back (granted, nonlocal changes are  harder to reason about). The 2017-12 mcs does not output the ret. Unle

[2018-07-13 00:39] jaykrell commented on #9505
../../../external/corefx/src/Common/src/System/Data/ProviderBase/DbConnectionClosed.cs

 public override void ChangeDatabase(string database) => throw ADP.ClosedConnectionError();

[2018-07-13 00:46] jaykrell commented on #9505
@marek-safar ?

I could look more but I'm guessing this is an mcs problem.
"It seems to have regressed" -- well, of course, the C# code changed, and mcs maybe  never handled. it.

Here is the older version:

[code]

[2018-07-13 00:52] jaykrell commented on #9505
mcs certainly has quite some logic to determine reachability and whether or not to return.

Here is a small repro of course:

[code]

[2018-07-13 09:31] lewurm opened #9531 "crash handler is blocked on lock"
## Steps to Reproduce

[code]

[code]
attaching via `lldb` from another terminal:

[code]

### Expected Behavior

print crash report

## On which platforms did you notice this

[x] macOS
[x] Linux
[ ] Windows

**Version Used**:
`master`

[2018-07-13 10:02] frebib opened #9532 "Mono.Unix.Native.Syscall.sys_strerror_r SEGFAULT on musl libc"
## Steps to Reproduce

1. On any Alpine Linux/musl based OS (`docker run -ti --rm spritsail/alpine-sdk`)
2. `apk add mono` (from `edge/testing` repository)
3. `csc <the file below>`
[code]
4. `mono <the file above>.exe`
5. Crash!

## Cause of the issue

The Mono installation I am running is built from source. Observing the compilation of the `support/` libraries, namely `libMonoPosixHelper.so` wit

[2018-07-13 10:15] frebib commented on #9532
I have a feeling this could be caused by this unconditional definition:
https://github.com/mono/mono/blob/9ba3fa0ba37c3b11b7129c3092a379711fd128e4/configure.ac#L238-L239

Shouldn't the build test that this is actually supported by the system instead of just assuming it is?

[2018-07-13 10:18] jaykrell commented on #9532
Imho we should icall into the runtime, and there compile/link against the C headers/libraries.
That is a little inefficient but guards against functions existing or not.

[2018-07-13 10:18] jaykrell commented on #9532
I really don't like p/invoke against code/headers/libraries not closely associated with the p/invoker.
Another project used to p/invoke to stat -- a mess.

[2018-07-13 10:19] frebib commented on #9532
https://github.com/mono/mono/blob/98e4187cf080c2004c1c1c268e1b43faf1b4613f/mcs/class/Mono.Posix/Mono.Unix/UnixMarshal.cs#L62-L70

The runtime does actually check for this but the native source is the broken thing here

[2018-07-13 10:30] frebib commented on #9532
According to this [(likely unreliable) post](https://stackoverflow.com/questions/41953104/strerror-r-is-incorrectly-declared-on-alpine-linux), using a more specific check macro is better.

[code]

I have just tried this patch and it seems to fix the issue, at least on this system. Thoughts?

[2018-07-13 11:18] jaykrell commented on #9532
Would using strerror be so terrible? All these not-guaranteed thread-safe functions, are always thread-safe really. But not reentrant, granted.

[2018-07-13 11:20] frebib commented on #9532
No, I don't honestly think it really matters either way. But regardless of whichever it chooses to use, it should do it gracefully

[2018-07-13 13:32] filipnavara commented on #9463
There will likely be some overlap with the X.509 work. The CoreFX classes use the native C System.Security.Cryptography.Native[.Apple] libraries which have to be brought over to Mono. Due to Mono depending on BoringSSL and not OpenSSL it will probably be blocked by other issues (eg. https://github.com/dotnet/corefx/issues/9855 or updating BoringSSL to more recent version).

[2018-07-13 14:44] gnola14 commented on #9490
To add some more information: it seems that in the CLDR, the `ar.xml` file _does_ have the values for [abbreviated|short|full] day names, but they only exist on the `gregorian` calendar and not in the `islamic` one (as far as I could tell, .NET Framework is using the values shown in `gregorian`).

[2018-07-13 15:02] alexanderkyte commented on #9531
Let’s remove the call from dump_native_stacktrace for now. I’ll get a fix for this ASAP. I didn’t think I needed to handle lockless dumping for this subsystem. The debugger locking is all around wait-free code deliberately. Everywhere except the dumper. I see now that we are probably seeing the signal handler fire on a different thread than the one that triggered the signal.

Having no lock withou

[2018-07-13 15:35] jeffechua opened #9537 "Gtk#: GtkImage with transparency crashes on Linux (Mint) (but not MacOS)"
## Steps to Reproduce

1. Compile either of the following test cases:

[code]
OR
[code]

2. Run on MacOS with mono.
3. Run on Linux (Mint) with mono. Compare behavior with Mac.

### Current Behavior

On MacOS, behavior is as expected for both test cases.

On Linux, the first test case crashes immediately whenever TRANSPARENCY == 0, and displays the supposedly translucent circles as fully opaque (i

[2018-07-13 15:38] jeffechua commented on #9537
I'm not sure if this or the gtk-sharp repo is the best place to put this. The gtk-sharp repo's issue page is pretty inactive, and the gtk-sharp website's "bug reporting" link directed to mono's bug reporting section which directed me here, and I'm not sure if this is an issue with the gtk-sharp wrapper or mono itself... so here it is.

[2018-07-13 15:41] alexanderkyte commented on #9531
https://github.com/mono/mono/pull/9538

[2018-07-13 16:12] lewurm commented on #9531
It crashes because the debugger state is not initialized (it's `NULL`). we check for `-1`, but not for `NULL`. for whatever reason it hangs on macOS in that case, but segfaults on Linux.

Still, locking is probably not a good idea.

[2018-07-13 18:20] directhex commented on #9009
[code]

Still sorta boned. Debian Unstable, mono master, glibc 2.27

[2018-07-13 18:29] nealef commented on #9009
I'll take a look. I wonder if the vector registers are now part of the context and that's causing grief. I don't have access to a Debian system though. Is it building on centos & sles systems?

[2018-07-13 18:35] radical opened #9542 "Assembly.Load from an msbuild task does not load assemblies from the task's directory"
Given a custom msbuild task, `mytask.dll`:

[code]

.. tries to load `FooDep.dll`, located in the same directory using `Assembly.Load`, but that fails on mono with:

[code]

Running with `MONO_LOG_LEVEL=debug MONO_LOG_MASK=asm` shows:

[code]

Running the same thing on windows, `fuslogvw` shows:

[code]

And `** CodeBase for MyTask's assembly name: file:///C:/Users/ankit/Downloads/task/mytask.dll`

[2018-07-13 18:36] radical commented on #9542
Attached a test case. Run with `$ make; msbuild test.targets`
[task-test.zip](https://github.com/mono/mono/files/2193801/task-test.zip)

[2018-07-13 18:38] directhex commented on #9009
The runtime is compiling right now on the CI machines, the classlib isn't (not sure why).

As far as I can tell, the build failure in Debian started with glibc 2.26, which is newer than what's in CentOS/SLES

[2018-07-13 18:45] lambdageek commented on #9542
I think `CodeBase` was a red herring.  After modifying `MyTask` with the code below, `msbuild test.targets` still works.

[code]

[2018-07-13 18:46] directhex commented on #9009
If it helps:

[code]

[2018-07-13 18:52] radical commented on #9542
[task-test.zip](https://github.com/mono/mono/files/2193860/task-test.zip)
Updated to move the tasks to a different directory from the targets file.

[2018-07-13 18:57] directhex commented on #9009
I'm reasonably sure Debian isn't building with -fPIE, so it'll be using the default definition of MONO_THREAD_VAR_OFFSET

[2018-07-13 19:02] directhex commented on #9009
I'm wrong.

[code]

[2018-07-13 19:58] lambdageek commented on #9542
Okay, this is pretty intricate.
Apparently it has to do with the context that `mytask.dll` is loaded into.  From the FUSLOGVW log for `WhereRefBind (FileName=mytask.dll)`:
[code]

So this says `mytask.dll` was loaded in `LoadFrom` context.  This affects the starting context for `FooDep.dll`. From the FUSLOGVW log for `FooDep.dll`:

[code]

So the combination of the bind for `FooDep.dll` starting i

[2018-07-13 20:21] directhex commented on #9009
Also, I'm conflating two different things, and I shouldn't be.

I can't build Mono Master on Debian s390x. That's giving the above segfault.

I also can't build the current Debian version (4.6) on s390x (after changing `ucontext` to `ucontext_t`. That's giving a different segfault:

[code]

Changing `ucontext` to `ucontext_t` should be correct, as per the glibc source:

[code]

But the other segfa

[2018-07-14 03:19] BobWong opened #9550 "compiling download ndk every time"
## Steps to Reproduce

1. Check branch 2017.4
2. Execute external/buildscripts/build_runtime_android.sh
3. The script which in compiling export ndk android-ndk_auto-r10e
4. Script execute clone android_krait_signal_handler
5. android_krait_signal_handler  need ndk android-ndk-r13b
6. It will redownload every time when i run my compiler

![image](https://user-images.githubusercontent.com/6356061/42

[2018-07-14 04:47] jaykrell opened #9551 "generic-delegate2.2 flaky test"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

generic-delegate2.2.exe sometimes fails
for example

https://jenkins.mono-project.com/job/w/13416/testReport/junit/MonoTests/gshared/generic_delegate2_2_exe_timedout/

                                               MESSAGE:
                                                right string method
calling object del
calling string del
calling

[2018-07-14 05:49] nealef commented on #9009
Is there a Debian system I could get access to for this?

[2018-07-14 06:08] jaykrell opened #9553 "DebuggerTests.StackTraceInNative flaky"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

It fails. For example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/16024/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-07-14 06:13] jaykrell opened #9554 "Linux x64 acceptance tests sigsegv in System_Linq_Parallel_WrapperEqualityComparer memcpy"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Various failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2541/parsed_console/log.html

Linux x64 acceptance tests sigsegv in
 System_Linq_Parallel_WrapperEqualityComparer_1_T_GSHAREDVT_Equals_System_Linq_Parallel_Wrapper_1_T_GSHAREDVT_System_Linq_Parallel_Wrapper_1_T_GSHAREDVT
 stri

[2018-07-14 06:18] jaykrell commented on #9554
This has passed a number of times. I'll see if retry clears it up..

[2018-07-14 06:36] jaykrell commented on #9554
Same here in Linux x64 FullAOT LLVM.
Maybe a regression from this PR?

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2541/consoleFull

[code]

[2018-07-14 08:01] lawgorht commented on #7852
@MisinformedDNA I have the same problem here, setting that field value didn't help. Did you manage to find a solution to user Json.net with wasm?

[2018-07-14 09:48] jaykrell commented on #9554
Another unrelated one.

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2547/
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2547/parsed_console/log_content.html#WARNING1
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2547/parsed_console/log.html

[code]

[2018-07-14 13:03] filipnavara commented on #7143
I reworked the original GSoC patch. It doesn't work, but feel free to pick it up and debug

https://github.com/filipnavara/corefx/tree/corefx-pipes (CoreFX changes needed because of some code not yet imported to Mono)
https://github.com/filipnavara/mono/tree/corefx-pipes

[2018-07-14 14:17] marek-safar commented on #9550
/cc @luhenry

[2018-07-14 17:01] jaykrell opened #9559 "apidiff should ignore InternalCall attribute"
## Steps to Reproduce

1. Submit a PR in which public APIs do not change, but InternalCall is added or removed. Such as the old InternalCall is reimplemented in C#, possibly on top of a different InternalCall.

### Current Behavior

apidiff fails, and valid changes require more coordination and process than they should.

### Expected Behavior

There should be no apidiff failure when the only chang

[2018-07-14 17:02] jaykrell commented on #9559
For example https://github.com/mono/mono/pull/9503.

[2018-07-14 17:19] marek-safar commented on #9559
We'd need to filter out on `MethodImplAttribute` which should be fine as it's implementation detail even if useful to see in special cases.

Similar to #8036

[2018-07-14 17:52] simonziegler opened #9560 "MessagePack fails on WebAssembly client"
I am working with Microsoft's Blazor (version 0.4.0), and attempted to use MessagePack (https://github.com/neuecc/MessagePack-CSharp) to improve data decoding performance on an HttpGet. I am advised that that the Mono WebAssembly may be missing some functionality that would be needed to support this (see https://github.com/aspnet/Blazor/issues/1098).

## Steps to Reproduce

1. See https://github.c

[2018-07-14 18:07] akoeplinger commented on #9559
Hm, I'm a bit hesitant to ignore more stuff, this is supposed to catch unintentional mistakes so I'd say we should wait and see whether it comes up more often :)

[2018-07-14 18:34] marek-safar commented on #9559
I agree that most of the time MethodImplAttribute change is just noise, we probably only care about change to InternalCall but I think that should be caught as the extern keyword change

[2018-07-14 18:40] jaykrell commented on #9559
I don't think extern matters either.
Only access  -- public or not public, and existance.

[2018-07-14 19:29] jaykrell opened #9561 "flaky System.IO.Tests.FileSystemWatcherTests.System.IO.Tests.FileSystemWatcherTests.FileSystemWatcher_StopCalledOnBackgroundThreadDoesNotDeadlock"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Constant babysitting and retrying to get things to pass.

For example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/16045/

[code]

### Expected Behavior

No babysitting.

[2018-07-14 19:35] jaykrell opened #9562 "Changing corlib version is not automated enough."
## Steps to Reproduce

1. Submit a PR for which:
 git log -p | grep MONO_CORLIB_COUNTER
of the commits finds something in configure.ac.

### Current Behavior

Some lanes fail, until you first monojenkins build deb with monolite and then monojenkins build failed.

### Expected Behavior

If MONO_CORLIB_COUNTER  is changed in configure.ac, then build deb with monolite should be automatic, and lanes t

[2018-07-14 22:37] jaykrell opened #9565 "flaky System.IO.Tests.FileSystemWatcherTests.System.IO.Tests.FileSystemWatcherTests.FileSystemWatcher_StopCalledOnBackgroundThreadDoesNotDeadlock"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Flaky failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/16045/

[code]

### Expected Behavior

Success.

[2018-07-14 22:40] jaykrell opened #9566 "flaky runtime.finalizer-exception.exe (Assertion at unwind.c:640, condition `cfa_reg != -1' not met)"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/11720/

MonoTests.runtime.finalizer-exception.exe

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/11720/testReport/junit/MonoTests/runtime/finalizer_exception_exe/

[code]

For this we probably could use some EH stress that force

[2018-07-14 22:46] jaykrell commented on #9566
Another instance:

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/11707/

MonoTests.test-unhandled-exception-2-255-with-managed-handler.unhandled-exception-2.exe

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/11707/testReport/junit/MonoTests/test-unhandled-exception-2-255-with-managed-handler/unhandled_exception_2_exe/

[2018-07-14 23:03] danroth27 commented on #7852
Turns out the issues we've had with Json.NET are with our linker configuration. If you want to use Json.NET in a Blazor app you should be able to get it to work by using the following linker configuration: https://gist.github.com/Suchiman/a5e65f40c353120c9cf7f6a631ded28b.

[2018-07-14 23:13] JamesNK commented on #7852
Will the next version of Blazor ship with a fixed configuration?

[2018-07-14 23:48] stwalkerster commented on #8627
I've had this twice in two days now, both when doing a step while debugging.

I'm on Linux though, using JetBrains Rider 2018.1.3 with Mono JIT compiler version 5.10.1.20 (tarball Thu Mar 29 10:48:35 UTC 2018)

Relevant stack and terminal crash-spam [is here](https://gist.github.com/stwalkerster/f47d12b8cfe1d5fe5d9b5d59403e1f94)

[2018-07-14 23:51] danroth27 opened #9567 "WebSockets support"
_From @YandyZaldivar on July 14, 2018 17:44_

There is this issue #20 tracking SignalR client support.

I am opening this to follow a standard client WebSockets implementation. Maybe it comes from Mono making `System.Net.WebSockets` available, a separate package/api using JavaScript interop or a new API for Blazor.

Is there any projection on this already?

_Copied from original issue: aspnet/Blaz

[2018-07-14 23:51] danroth27 commented on #9567
This should really be provided by the Mono folks.

[2018-07-14 23:52] danroth27 commented on #9567
@kumpera

[2018-07-15 06:43] jaykrell commented on #9554
Another

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/1997/consoleFull

[code]

[2018-07-15 07:18] marek-safar commented on #9559
It does when we import new external code

[2018-07-15 08:31] marek-safar commented on #9565
/cc @alexischr

[2018-07-15 16:36] NattyNarwhal commented on #6228
Revisiting this, here as some notes:

* Thread abort at termination deadlocks. Enable coop to work around this.

* With that out of the way, there are three more issues that you can supress, but it's likely the sign of a bigger problem/root cause that I'm unsure about. With these, you can compile the BCL all the way (after a few unpredictable cases where you either get "can't free uninitialized da

[2018-07-15 18:46] jaykrell commented on #9554
Another
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2588/consoleFull

[2018-07-16 10:03] lewurm commented on #9565
duplicate of https://github.com/mono/mono/issues/9561

[2018-07-16 10:03] #9565 closed

[2018-07-16 10:10] lewurm commented on #9522
/cc @alexanderkyte

[2018-07-16 13:35] marek-safar opened #9576 "FileSystemWatch failure in MonoTests.System.Diagnostics.EventLogTest.MachineName test failure"
## Steps to Reproduce

1. Found during 2018-06 integration
2. https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7677/Test_20Report/

[code]

### Current Behavior

Test Failure

### Expected Behavior

Test Pass

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-07-16 13:39] alexischr commented on #9561
This should be fixed with https://github.com/mono/mono/pull/7255

[2018-07-16 14:01] directhex commented on #9009
https://dsa.debian.org/doc/guest-account/

I can sponsor the access request

[2018-07-16 15:01] lewurm commented on #9318
let's reopen until it's confirmed to be fixed

[2018-07-16 16:01] marek-safar opened #9581 "Update macOS minimal version"
Due to limitations in the TLS stack on 10.7, we are updating the minimum macOS development target from 10.7 to 10.9. Mono will be supported only on 10.9 or newer versions.

We need to update configure checks and documentation at least at https://www.mono-project.com/docs/about-mono/supported-platforms/macos/

[2018-07-16 16:02] marek-safar commented on #9164
We are going to bump the minimal required OSX version instead (#9581).

[2018-07-16 16:02] #9164 closed

[2018-07-16 16:06] peteroupc commented on #9451
As it turns out, the "log" profiler somehow logged nothing on any assemblies loaded (perhaps into their own application domain) by NUnit 3 while running unit tests on them &mdash; this is so even though the assemblies under test were compiled with debug symbols.  This may explain why my "mprof-report" reports seemed to just show methods from the runtime and unit test libraries rather than from the

[2018-07-16 16:14] kg commented on #9452
Started on this but didn't get a usable patch ready by the end of the week. We currently create a new instance every time we call a custom marshaler method, universally. The fix I think we need to make is to move most of this logic into managed code so we can properly cache the custom marshalers. The correct way for it to work is to have a single cached instance per type+cookie pair (not, as you m

[2018-07-16 16:43] kg commented on #9452
For time-saving the next time someone looks at this, here is a test-case that should work on linux .net core and linux mono. Should work on Windows too but I didn't do the work to make native.c export the entry point.
[marshalertest.zip](https://github.com/mono/mono/files/2198476/marshalertest.zip)

[2018-07-16 16:57] caot opened #9582 "System.IO.FileNotFoundException: Could not load file or assembly 'gtk-sharp, Version=2.12.0.0, Culture=neutral, PublicKeyToken=35e10195dab3c99f' or one of its dependencies."
[code]
Tried to run the following [Gtk Hello World](https://www.mono-project.com/docs/getting-started/mono-basics/#gtk-hello-world). It was compiled with no any error, however it ran into the following issues. Both [Console Hello World](https://www.mono-project.com/docs/getting-started/mono-basics/#console-hello-world) and [WinForms Hello World](https://www.mono-project.com/docs/getting-started/mo

[2018-07-16 18:55] kumpera commented on #8374
Fixed and shipped on STP 60:
https://bugs.webkit.org/show_bug.cgi?id=184829
https://bugs.webkit.org/show_bug.cgi?id=184830

[2018-07-16 19:12] jaykrell commented on #9554
Another:
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/2634/parsed_console/log.html

[code]

[2018-07-16 20:23] mrward opened #9592 "Visual Studio for Mac crash on startup with Mono 5.14"
## Steps to Reproduce

Install a recent Mono 5.14 and try to run Visual Studio for Mac.

Reported on the Developer Community Forum - https://developercommunity.visualstudio.com/content/problem/294242/visual-studio-keeps-crashing-2.html

Also saw this locally when running Visual Studio for Mac with Mono 5.14.0.161.

https://gist.github.com/mrward/94570bdfdb772d65045f358029e26416

### Current Behavi

[2018-07-16 23:03] Therzok commented on #9592
cc @bratsche seems related to the gtk fix we did for nsviews

[2018-07-17 06:36] jaykrell opened #9599 "flaky System.Web, System.Web.DynamicData System.IO.IOException : The configured user limit (128) on the number of inotify instances has been reached."
Will retry and see if that helps.

## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Various failures for example:

Possible System.Web flakes? Will see about retry.

https://github.com/mono/mono/pull/9552

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/11788/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

[2018-07-17 09:39] goldylucks opened #9603 "binary sym file for electron crash reporter"
I haven't found sym files in the repo or the [website](https://www.mono-project.com/).

I think it would be useful to have them in an easy to access place, instead of each developer creating it on their own.

Thoughts?

Debug identifier: `56050FFDF5F0342099F4CC45B120E20F0`
file name: `mono`

[2018-07-17 10:49] rokups commented on #9452
Why is that? My assumption for per-argument marashaller stems from from a need to properly free memory when native code overwrites pointer of `ref` parameter. If this is done per-type+cookie then tracking additional data becomes impossible. Of course this is not that big of a deal, i will just use different cookies for each parameter, but i am still interested in reasons behind this requirement.

[2018-07-17 12:41] DReichl opened #9604 "Reflection ResolveMember crashes on invalid input"
When passing a non-existing metadata token (of type `MemberRef` though) to the `ResolveMember` method of `Module`, Mono crashes with a SIGABRT (details below).

The expected behavior is that an `ArgumentOutOfRangeException` is thrown, see
[Module.ResolveMember Method (Int32) (System.Reflection)](https://msdn.microsoft.com/en-us/library/2xafyzy1.aspx)

Example program:

[code]

This should print "C

[2018-07-17 14:29] caot commented on #9582
It's resolved by `yum install mono-complete`, and the above issue came with `building from source`. Need to figure out the reason.

[2018-07-17 14:29] #9582 closed

[2018-07-17 15:39] kumpera commented on #9350
Yes, this is a linker issue.
The linker did not process Rectifyf.dll and removed all methods from mscorlib that the later uses.

Either disable the blazor linker or configure your solution to properly feed it all your assemblies.

[2018-07-17 15:39] #9350 closed

[2018-07-17 17:07] marek-safar commented on #9592
@mrward does it crash all the time?

@bratsche could you estimate when you can address the issue?

[2018-07-17 17:11] kumpera commented on #9405
Any idea of how could I reproduce this?

[2018-07-17 17:11] marek-safar commented on #9603
We don't store them

[2018-07-17 17:11] #9603 closed

[2018-07-17 17:12] kumpera commented on #8872
Looks to be due to bad linker, I assume I can close this one for now.

[2018-07-17 17:12] #8872 closed

[2018-07-17 17:56] goldylucks commented on #9603
I see that, im saying it will be valuable to have reference for that.

And for someone who knows how to do so, this will take probably a few
minutes

On Tue, Jul 17, 2018, 20:11 Marek Safar <notifications@github.com> wrote:

[2018-07-17 18:25] kumpera commented on #9405
And I managed by adding an upper case assembly to my solution. Working on it.

[2018-07-17 19:15] pr0vieh commented on #9522
that looks solved

[2018-07-17 19:15] #9522 closed

[2018-07-17 19:55] kumpera commented on #9405
Merged the fix ToLower fix to ws-proxy.

[2018-07-17 19:55] #9405 closed

[2018-07-17 20:21] kg commented on #9452
It's not a documented requirement, so I was surprised by this behavior as well. I guess they expect you to track the per-argument data elsewhere. It definitely works that way on both windows .net framework and linux .net core. I suspect it's for performance reasons.

[2018-07-17 21:02] lambdageek opened #9613 "[linux] Crash if assembly is truncated while loaded"
## Steps to Reproduce

1. Download and extract [open-and-write.zip](https://github.com/mono/mono/files/2203394/open-and-write.zip)
2. `make`
2. `make run` (or `gdb mono` ; `run --debug Main.exe` ; `bt`)

Running `Main.exe` will overwrite `A.dll`. You can use `make reset` to rebuild a pristine `A.dll`.

### Current Behavior

This only happens on Linux.  On Mac, the program runs successfully.

[code

[2018-07-17 21:06] jaykrell commented on #9613
I *suspect* there is nothing to be done about this.

Though I don't know what was so horrible about an advisory lock. It wouldn't guaranteeably work, it requires cooperation, granted. And it should be shared, not exclusive.

On Windows we could/should use file_share_read+delete but not write, but that is of no help on Unix.

[2018-07-17 21:33] lambdageek commented on #9613
Just to be clear: I don't necessarily think we should try to _fix_ this.

But we should ideally crash in a **predictable** and **easy to diagnose** way.  ie: if we can be notified that the underlying file changed we could crash with a nice error message instead of a segfault

[2018-07-17 22:30] jaykrell opened #9616 "flaky System.Threading.Tests/ThreadLocalTests/System_Threading_Tests_ThreadLocalTests_RunThreadLocalTest8_Values_NegativeCases"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Random failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/16184/testReport/junit/Test%20collection%20for%20System.Threading.Tests/ThreadLocalTests/System_Threading_Tests_ThreadLocalTests_RunThreadLocalTest8_Values_NegativeCases/

[code]

### Expected Behavior

Success.

## On which platforms did y

[2018-07-17 23:07] jaykrell commented on #9035
I suggest we put our pthread  mutexes on a list, with strings, and walk  the list to  some distance in the debugger stuff.

Here is another instance.
https://jenkins.mono-project.com/job/test-mono-pull-request-coop/5360/

https://jenkins.mono-project.com/job/test-mono-pull-request-coop/5360/parsed_console/log.html

[code]

[2018-07-17 23:10] jaykrell opened #9617 "flaky test delegate5"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot/1892/

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot/1892/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-07-17 23:13] jaykrell commented on #9035
https://github.com/mono/mono/pull/9539

[2018-07-18 04:03] marek-safar opened #9621 "64 bit cross compilers targeting 32 bit platforms"
We'll have to come up with a solution to update Mono cross-compilers to handle the bitness difference, i.e. generate 32bits code from a 64bits process.

The main motivation is because Apple is planning to remove 32bits support from macOS.

This affects Xamarin.iOS tooling since the current Mono AOT cross-compiler needs to be an 32bits executable to produce 32bits code, e.g. ARMv7[s][k]. This is a

[2018-07-18 07:55] mrward commented on #9592
Yes, VS Mac was crashing on startup every time when I trying a recent Mono 5.14.

[2018-07-18 15:19] akoeplinger opened #9623 "Certificate tests issue on iOS SDK CI job"
## Steps to Reproduce

1. Run the tests on the iOS SDK configuration
2. Notice test failures

### Current Behavior

[code]

### Expected Behavior

No test failures.

## On which platforms did you notice this

[ X ] iOS
[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**: master

This started with https://jenkins.mono-project.com/job/test-mono-mainline-product-sdks-ios/label=mono-device-tests/946/.

[2018-07-18 15:19] akoeplinger commented on #9623
Ah, just saw this is already known: https://github.com/mono/mono/pull/9472#issuecomment-405732761

Anyway let's use this to track the fixing :)

[2018-07-18 16:14] alexischr commented on #9599
This was resolved for CI purposes with `echo fs.inotify.max_user_instances=1024 | sudo tee -a /etc/sysctl.conf`

For other purposes: The old FSW had the same limitation but Mono would silently fall back to DefaultWatcher when it could not create another inotify instance. We can reintroduce that if it is a problem for our users.

[2018-07-18 16:14] #9599 closed

[2018-07-18 16:33] lambdageek commented on #9613
Yes, so CoreCLR (https://github.com/mono/mono/issues/9613#issuecomment-405760310) and CoreFX do advisory locking when opening files.

Here's the CoreFX Unix bits -
* `FileStream` constructor calls `Init` https://github.com/dotnet/corefx/blob/aa73b08881ccc2a438947c19d60a6665008bcc08/src/Common/src/CoreLib/System/IO/FileStream.cs#L236
* `Init` calls `FLock` (which ends up calling the native `flock()

[2018-07-18 16:58] simonziegler commented on #9560
Hi - any views on this please?

[2018-07-18 18:14] marek-safar opened #9627 "Write linker BCL functional tests"
We only have a tiny number of linker tests available at https://github.com/mono/mono/tree/master/mcs/tools/linker/Tests and we need to expand them not to regress on functionality we have in the future versions.

## Tests Areas
- [ ] Add tests for all special cases we have in linker descriptors
- [ ] Port relevant existing linker tests from monotouch and monodroid (only BCL tests)
- [ ] Add scenari

[2018-07-18 21:43] baulig commented on #9623
This failure was to be expected because the dependency injector obviously needs platform support - which will be added to `xamarin-macios` once we do the next monthly integration.  It will be a one-line change, adding a single function call to the runtime startup code and I have already applied and tested it locally in my integration branch.

For the tests, it is a bit more complicated because the

[2018-07-19 05:05] bratsche commented on #9592
Sorry, I still don't have a proper fix for this. Until I can get one can we disable this patch?

[2018-07-19 06:41] HeikoWeiss opened #9631 "Memory Leak IThreadPoolWorkItem[]"
## Steps to Reproduce

1. Run a thread in a windows forms app main form.
2. cyclic invoke the main form from thread to open a new form (with some labels)
3. wait in thread till the new form is closed
4. close the new form with a timer (e.g. after one second).
5. go to step 2

I do not know, where the memory leak is but,

if I run mono about 1 hour with profiling enabled (--gc=sgen --profile=log:he

[2018-07-19 07:30] #8407 closed

[2018-07-19 10:09] mykyta-bondarenko-gl commented on #9592
HI, I have the same issue. VSfM crashes if the mono 2018-04 is installed.
VSfM - release 7.6 (7.6.0.2056)
Mono - 2018-04 (5.14.0.160)

- System Report:
[https://gist.github.com/mykyta-bondarenko-gl/2c31dcbd203153d560d29c734a880de4](https://gist.github.com/mykyta-bondarenko-gl/2c31dcbd203153d560d29c734a880de4)
- VSfM log:
[https://gist.github.com/mykyta-bondarenko-gl/54ab16f5aa1ccbef26c073264f124ce

[2018-07-19 10:15] #6992 closed

[2018-07-19 10:21] akoeplinger commented on #9395
Closing since this seems to be answered.

[2018-07-19 10:21] #9395 closed

[2018-07-19 11:12] #8340 closed

[2018-07-19 11:14] #7249 closed

[2018-07-19 11:18] akoeplinger commented on #9562
We could let the build jobs spin in a loop until the tarball/monolite build is finished, though that would waste some resources in the meantime (unfortunately there's no easy way to not trigger builds when the corlib version changes).

[2018-07-19 11:29] marek-safar opened #9640 "Update coreclr acceptance tests"
We are tracking quite old (over 2 years) snapshot or CoreCLR tests. We should update our fork to track master and include more tests introduces over the past 2 years.

Ideally, we should also include more folders than just 2 we use today

[2018-07-19 11:31] akoeplinger commented on #9581
See https://github.com/mono/mono/commit/ef995321161f69eacd324e0e1cffef6ff1317079 for where we need to bump.

Note: looks like we forgot to bump `--host` and `--build` there, `i386-apple-darwin11.2.0` still means 10.7. There are a few more matches for `apple-darwin11` and even `apple-darwin10` in mono and bockbuild, we should fix those too.

[2018-07-19 11:42] marek-safar commented on #8784
We could just go with macOS only for now.

@directhex is there better way if we need to "compile" at install time for Linux?

[2018-07-19 13:49] akoeplinger commented on #9640
One thing to keep in mind is that they dropped a whole lot of tests which were duplicating tests in corefx (that's why we didn't update). Maybe we're using those tests from corefx now and it doesn't matter.

[2018-07-19 14:08] directhex commented on #8784
I mean, we're already there on Linux, really. Packages with AOT request metadata (mcs, Roslyn, and corlib) use `try-llvm`. If the user has `mono-llvm-support`, they get LLVM AOT, otherwise they get vanilla AOT. Paying the time cost of LLVM AOT is up to the user. The postinst script is https://github.com/mono/linux-packaging-mono/blob/master/debian/postinst-monoaot and it's appended to the package

[2018-07-19 14:35] mwpowellhtx commented on #8512
I am experiencing similar issues, not with Mono, per se, but with .NET Standard. Is this a similar issue along the same lines?

[2018-07-19 15:11] lambdageek commented on #8512
@mwpowellhtx .NET Standard is an API specification, not a piece of software.

Do you mean you're experiencing the same issue with [.NET Core](https://docs.microsoft.com/en-us/dotnet/core/index)?  If so, the [CoreFX issue tracker](https://github.com/dotnet/corefx/issues) would be a good place to [file a new issue](https://github.com/dotnet/corefx/issues/new) describing the behavior that you're seei

[2018-07-19 15:32] lambdageek commented on #8512
Ah ok, thanks for clarifying @mwpowellhtx! 👍

[2018-07-19 16:35] 2mik commented on #9458
If anyone ever successfully worked with WCF with HTTPS on Mono, please share your experience and working example.

[2018-07-19 20:34] kumpera commented on #8378
Quality of life things:

- Copy the discover feature from the Blazor prototype. It would simplify our OOTB debugger story by removing the URL port rewrite nonsense.
- Validate the downloaded assemblies against what's loaded in the webapp. I frequently forget to reload it after rebuilding locally. 🤦‍♂️

[2018-07-19 22:43] jaykrell opened #9649 "[RFC] Tail recursion should work better in C#, not just F#."
## Steps to Reproduce
Use the functional programming idiom of mutually recursive functions using tail calls.

Do it in C#.

Provide very large input.

### Current Behavior
Stack overflow.

### Expected Behavior
No stack overflow.

Workarounds:
 - Use F# instead. It will generate tail. prefixes and
   Mono will handle many cases. C# compilers don't generate tail. prefix.

 - Use loops inside of a s

[2018-07-19 23:48] jaykrell commented on #9649
There is performance to be gained here also. Less stack provides for better locality. Jmp is faster than call/ret. The way we form parameters/jmp can be more instructions. There is code size hit due to repeated epilogues. I can try a microbenchmark.

[2018-07-20 00:00] lambdageek commented on #9649
Two options (not necessarily good ones...):
1. Do TCO aggressively.  But allow a custom attribute on caller methods that says to retain the frame when debugging:
[code]
2. Onlly do TCO when explicitly requested using a custom attribute:
[code]

Of course the best option is for tailcalls not to be an optimization at all: the language semantics should clearly specify when calls are in tail position

[2018-07-20 00:39] jaykrell commented on #9649
There is a very old issue to fix C# language. I suggest we do something before that. Like CoreCLR.

[2018-07-20 00:45] jaykrell commented on #9649
Oh there is an eaiser way. Just insert a noinline void call before end. Put return value in temporary before that. I.e. just don’t make a tailcall.

[2018-07-20 00:45] baulig commented on #6548
I just saw it in my local tree.

[2018-07-20 00:47] jaykrell commented on #9649
Would the Debug attribute only apply under —debug? In that case, call it Debug.

[2018-07-20 00:53] #9623 closed

[2018-07-20 06:00] #9421 closed

[2018-07-20 06:32] jaykrell opened #9654 "DebuggerTests.ExceptionFilter2 frequently fail assert about refcount"
## Steps to Reproduce

1. make
2. cd mcs/class/Mono.Debugger.Soft
3. Run some test, for example:
 make check TESTNAME=DebuggerTests.ExceptionFilter2
4. Run it a few times.
   make check TESTNAME=DebuggerTests.ExceptionFilter2
   make check TESTNAME=DebuggerTests.ExceptionFilter2

### Current Behavior

A large fraction of runs crash. More than a third.

### Expected Behavior

Success every time.

#

[2018-07-20 08:49] jaykrell commented on #9649
The PR is much less hacky now. I used to disable tailcall in a bunch of "from" and one "to".
Now I have gone through most/all failures and either inserted a call before return to prevent tailcall, or disabled tailcall for the directory. The only hack left in JIT is no tailcall from .cctor because of a broken API in BCL that walks stack to .cctor, instead of the usual efficient approach of acceptin

[2018-07-20 08:59] jaykrell commented on #9649
The language semantics are already somewhat ok.
The affected library documentations already says that due to code transforms, their results are not predictable. I.e. stack walk.
So that gives leeway for optimization.
What the language does not say is that "optimization" is required.
And if it did, Mono and CoreCLR would both fail to adhere  currently.
They both can do a lot, but only e.g. desktop

[2018-07-20 11:48] Therzok opened #9657 "MSBuild ResolveAssemblyReferences is significantly slower than on .NET"
## Steps to Reproduce

1. Build MonoDevelop on Mono
2. Build MonoDevelop on Windows
3. Observe MSBuild falls back to multiple dll resolution on Mono

### Current Behavior

Mac build log: https://gist.github.com/Therzok/a793d4a0dfae22bede8a422fe357a6a1
Windows build log: https://gist.github.com/Therzok/d541b3c5a190f611f70e0476780d8592

It seems that nuget packages from corefx (i.e. System.IO.Compre

[2018-07-20 13:36] Therzok commented on #9657
Adding more info:

What happens there is that when `no way to resolve conflict between` happens, MSBuild will fallback to iterating the GAC and framework folders to find the best match.

This causes NOP builds of MonoDevelop to take 40 seconds.

When building on Windows, the ResolveAssemblyReferences does not take the amount of time it does for MSBuild on mono.

The only differences I could see be

[2018-07-20 13:39] marek-safar commented on #9657
@radical this is probably not a strictly msbuild issue but could you come up with ideas how we can fix the issue.

[2018-07-20 13:49] octet8 commented on #7454
I'm experiencing the same issue on Linux. I have Mono 5.10.1.47 on a 64 bit platform.
[code]

I've tested the following platforms:

[code]

[2018-07-20 13:50] lambdageek opened #9658 "Assemblies with mutual references have incorrect refcount"
If assemblies `First.dll` and `Second.dll` reference each other, the `MonoAssembly:ref_count` will be wrong each time they are added to a new `AppDomain`.  Unloading the AppDomains will incorrectly retain references and the assemblies will still be loaded at shutdown.

## Steps to Reproduce

1. Download
[mutually-recursive.zip](https://github.com/mono/mono/files/2214107/mutually-recursive.zip)

2.

[2018-07-20 14:06] lambdageek commented on #8695
@joncham helped us notice that mutually referencing assemblies have incorrect refcounts that lead to assemblies sticking around after AppDomain unloads --> #9658

@steveisok it's pretty easy to introduce mutual references among several assemblies - that may be the issue here too.

(I don't think mutual references are wrong - just that's one place where Mono currently gets into trouble.)

[2018-07-20 14:18] filipnavara commented on #9300
Any opinion on MONO_IOMAP as possible candidate on the list?

Arguments for removal:
- It's not cover by unit tests
- The code is very inefficient, often calling `mono_portability_find_file` more than once for the same file during one API call
- Memory mapped files already don't respect it
- CoreFX doesn't have it and thus sharing the file I/O code could be troublesome

[2018-07-20 14:33] marek-safar opened #9660 "CoreFX System.Reflection namespace"
## Types and tests in mscorlib System.Reflection namespace to import

- [ ] AmbiguousMatchException
- [ ] Assembly
- [ ] AssemblyAlgorithmIdAttribute
- [ ] AssemblyCompanyAttribute
- [ ] AssemblyConfigurationAttribute
- [ ] AssemblyContentType
- [ ] AssemblyCopyrightAttribute
- [ ] AssemblyCultureAttribute
- [ ] AssemblyDefaultAliasAttribute
- [ ] AssemblyDelaySignAttribute
- [ ] AssemblyDescripti

[2018-07-20 18:09] jaykrell commented on #9649
This is also significantly increases test coverage of tail. prefix.

[2018-07-20 19:05] jaykrell opened #9663 "amd64 hybrid aot generics-sharing.2.exe fails"
## Steps to Reproduce

1. Submit a PR or look at Jenkins.
2. Hope for a larget matrix of AOT, HybritAOT, FullAOT.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybridaot/589/

<title>Mono - master branch - Linux - HybridAOT » debian-9-amd64 #589 Console [Jenkins]</title>

<span class="timestamp"><b>03:59:14</b> </span>generics-sharing.2.exe            failed,

[2018-07-20 19:07] jaykrell commented on #9663
Larger list of failures (with some duplicates).

https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybridaot/589/label=debian-9-amd64/#showFailuresLink

ActivatorTest.GetObject_UrlNull
AssemblyBuilderTest.DefaultCtor
ConstructorBuilderTest.AddDeclarativeSecurity_Action_Duplicate
ConstructorBuilderTest.AddDeclarativeSecurity_Action_Invalid
ConstructorBuilderTest.AddDeclarativeSecurity_C

[2018-07-20 19:09] jaykrell commented on #9663
Similar for other architectures.

https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybridaot/589/label=debian-9-arm64/#showFailuresLink

[2018-07-20 19:10] jaykrell commented on #9663
https://jenkins.mono-project.com/job/test-mono-mainline-linux-hybridaot/589/label=debian-9-armhf/#showFailuresLink

[2018-07-20 19:16] akoeplinger commented on #9102
Done with https://github.com/mono/mono/pull/9568.

[2018-07-20 19:16] #9102 closed

[2018-07-20 19:36] jbatt33 opened #9664 "DateTime.Now or Timezone information do not transition out of DST for all time zones"
### Note
Using Vatican time zone as an example.

## Steps to Reproduce

1. Turn off NTP time synchronization for linux

2. Turn off any other network time synchronization services that may be active
3. Set the time zone on the server to the Vatican time zone

4. Set the time of the OS to 1 hour and 1 minute before the reported DST Exit datetime of 10/28/2018 3:00:00 AM

5. Run a mono application t

[2018-07-20 20:00] Therzok commented on #9657
Reminder: upload binlogs for both NOP builds

One thing to check is whether settings `<SpecificVersion>false</SpecificVersion>` fixes this.

[2018-07-20 21:00] jaykrell commented on #9649
https://github.com/dotnet/roslyn/issues/1235

[2018-07-20 23:42] GBelchior commented on #9259
I'm having the same problem. Have you found a solution?

[2018-07-21 18:30] Ajedi32 opened #9676 "Terminating a mono process leaves mono-sgen running (AKA. How do I cleanly stop a mono process?)"
I'm running Duplicati on FreeBSD via Mono, and I'm running into a little issue while trying to configure the application as a daemon.

## Steps to Reproduce

On a FreeBSD system, run:

[code]

Now, in another console, run:

[code]

### Current Behavior

A mono process is still running:

[code]

### Expected Behavior

mono-sgen is stopped along with mono.

## On which platforms did you notice this

[2018-07-22 03:08] aaronfranke opened #9679 "Feature request: Support for Unix-style environment variables"
## Steps to Reproduce

My test code originally looked like this, and I was confused to why it didn't work on Linux:

    if(os == 2) { // Windows
        finalPath = (System.Environment.ExpandEnvironmentVariables("%HOMEDRIVE%%HOMEPATH%") + "blahblah");
    }

    if(os == 4) { // Linux
        finalPath = (System.Environment.ExpandEnvironmentVariables("$HOME") + "blahblah");
    }

### Current Beh

[2018-07-22 05:52] simonziegler commented on #9560
Hi,

I found the issue. The various messgapack libraries all use System.Reflection.Emit. This namespace is excluded from .net standard 2, which is what Blazoe uses on the mono wasm. This is therefore not an issue with mono.

[2018-07-22 05:52] #9560 closed

[2018-07-22 07:49] jaykrell opened #9681 "flaky Remoting.TcpSyncCallTest.BaseCallTest.TestInterfaceSimple"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Random failures, for example:

https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/12484/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

macOS

[2018-07-22 13:40] Therzok opened #9683 "Build failure when changing xcode installs"
## Steps to Reproduce

1. bootstrap and build mono with finding Xcode in `Xcode94.app`
2. move `Xcode94.app` to `Xcode.app` and switch the install with `xcode-select -s`
3. Try building again

### Current Behavior

[code]

### Expected Behavior

cmake should regen the compiler variable and build should succeed without manual nuking of `mono/btls/build-shared`

## On which platforms did you notice

[2018-07-22 13:54] NattyNarwhal opened #9684 "BCL bootstrap regressions introduced by CoreFX System import on AIX (regex, decimal)"
## Steps to Reproduce

Build the runtime as normal.

### Current Behavior

[code]

I'm not sure why the regex parser is broken - I did some testing and it appears on a simple case of an IsMatch on `(?<name>.*)`, the regex on master throws up at RegexParser after a CaptureSlotFromName call, and the position seems to imply that its current position is at the n in name and is expecting a terminator,

[2018-07-22 13:59] rvdginste opened #9685 "Regression: bug in Type.GetMethod(string name)"
## Steps to Reproduce

The following code gives an AmbiguousMatchException on mono 5.14.0.167, while it runs fine on mono 5.12.0.226.

I noticed this already on earlier versions of mono-5.14 but never took the time to figure out what exactly was causing the issue.

[code]

### Current Behavior

The code gives an AmbiguousMatchException, even though there is only one public method on string with th

[2018-07-22 14:41] EgorBo commented on #9684
@NattyNarwhal I'll take a look, it built without errors on the account you gave me, probably I missed some commit

[2018-07-22 16:57] NattyNarwhal commented on #9684
Thanks for trying to look into this. There's a lot of moving parts and I have no clue where to start, especially for the actual problem of "being able to bootstrap enough to compile enough core libraries to start WriteLine debugging."

[2018-07-22 18:45] MartinRothschink commented on #9496
`/usr/local/share/ca-certificates` does not exist on Fedora/CentOS.
What is used there?

[2018-07-22 18:47] jkotas commented on #9684
@ViktorHofer Looks like a problem that might have been introduced by your recent regex changes.

[2018-07-22 18:51] NattyNarwhal commented on #9684
I don't think [the PR for System imports into Mono](https://github.com/mono/mono/pull/8626) added any Regex stuff, checking the diff on the csproj/sources files. I tried unwinding the [RegexCharClass class](https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/referencesource/System/regex/system/text/regularexpressions/RegexCharClass.cs), (unchanged since import) whi

[2018-07-22 19:14] ViktorHofer commented on #9684
Please let me know if you are using Regex from corefx, if yes I'll dig deeper into it. This doesn't repro on netcoreapp21 at least.

[2018-07-22 19:15] NattyNarwhal commented on #9684
It affects a big endian platform, of which CoreCLR affects none.

Mono is still using Regex from referencesoource.

[2018-07-22 21:20] NattyNarwhal commented on #9684
@ViktorHofer  Ahahahahahahaha disregard that, I made a mistake when reading, Mono *does* use Regex from CoreFX. I'll debug there; and slap myself for being that dumb.

[2018-07-22 21:41] NattyNarwhal commented on #9684
A diff against Mono CoreFX:

[code]

The [exception case #2](https://github.com/mono/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs#L791) is what's triggered by my test program, just something that runs IsMatch with `(?<name>.*)` on the first argument.

Output on aix/ppc64be, which has been broken by the PR:

[code]

Output on FreeBSD/amd64,

[2018-07-22 21:44] NattyNarwhal commented on #9684
(Note that I'm getting the core libraries in on AIX even though I can't build on AIX by just copying the profile artifact directories from the FreeBSD VM to the AIX box; for when @EgorBo gets the time to look and needs to debug.)

[2018-07-22 22:07] NattyNarwhal commented on #9684
With some more printf, I think the problem is in [ScanCapname](https://github.com/mono/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexParser.cs#L1330); my FreeBSD VM returns ` ** ScanCapname ** returns name startpos 3 curpos 7` with a printf, and the AIX system has ` ** ScanCapname ** returns n startpos 3 curpos 4`. Since ScanCapname basically is just

[2018-07-22 22:39] NattyNarwhal commented on #9684
Yeah, something's fucky:

AIX:

[code]

FreeBSD/amd64:

[code]

[2018-07-22 23:04] NattyNarwhal commented on #9684
Comparing outputs of [CharInClassRecursive](https://github.com/mono/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs#L783):

AIX:

[code]

FreeBSD/amd64:

[code]

Sorry if the volume of comments is high and getting annoying, I'm debugging while doing other stuff and periodically checking it while adding more printf/trying to grok what thing

[2018-07-23 00:45] NattyNarwhal commented on #9684
Spot the difference in [CharInCategory](https://github.com/mono/corefx/blob/master/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/RegexCharClass.cs#L845):

` ** CharInCategory ** begin: ch a i 3 end 13 chcat ModifierSymbol`

` ** CharInCategory ** begin: ch a i 3 end 13 chcat LowercaseLetter`

[2018-07-23 00:48] NattyNarwhal commented on #9684
In the PR on csproj:

`+    <Compile Include="..\..\..\external\corefx\src\Common\src\CoreLib\System\Globalization\CharUnicodeInfo.cs" /> `

And what chcat is:

`UnicodeCategory chcategory = CharUnicodeInfo.GetUnicodeCategory(ch);`

And what's in this class:

[code]

I can tell this will be fun already 🤢

[2018-07-23 01:52] NattyNarwhal commented on #9684
So I don't think the bitshifts/ands are the problem (I could be wrong) but instead the unsafe code that "gently massages" an array of ushorts (that I have *no* idea where they're coming from, I grepped and I can't find the source file for that field) - this is hairy pointer arithmetic and it seems like it'd be grabbing the wrong part for a big endian system?

[referencesource's version of the file

[2018-07-23 02:01] NattyNarwhal commented on #9684
Relevant commits:

* https://github.com/mono/mono/commit/ec92efb3789aab9a69d97fe53c7173713515ab9b

* https://github.com/mono/mono/commit/b10b7ce8a514eae1c3c5cde0f1ea3a53d6d329d8

* https://github.com/mono/mono/commit/41a6d3d6a5432b964b6f8439b6375ffad6f2e6cb

[2018-07-23 04:08] vargaz commented on #9621
Short documentation:
- any code which refers to host sizes/offsets and can influence generated code needs to use target sizes/offsets. I.e. sizeof(gpointer) should be sizeof(target_mgreg_t), etc.
- code which depends on the sizes/offsets being the host ones like allocation, corlib version checks, need to be disabled.

[2018-07-23 07:45] corchi72 commented on #9259
Unfortunately no :(

2018-07-21 1:42 GMT+02:00 GBelchior <notifications@github.com>:

[2018-07-23 07:53] corchi72 commented on #9259
but I found this https://github.com/BlazorExtensions.....is very Interesting

[2018-07-23 08:19] EgorBo commented on #9685
It might look like a breaking change but actually it now matches .NET Core's behavior (same exception is thrown for this case).

[2018-07-23 09:30] rvdginste commented on #9685
Ok, I see that in .NET Core 2.1 there are 2 methods [string.contains](https://docs.microsoft.com/en-us/dotnet/api/system.string.contains?view=netcore-2.1) and then the AmbiguousMatchException is normal.

However, the project where I noticed this, has as target framework net47. Does this mean that mono does not take into account the target framework and currently aims to match the .NET Core api?

[2018-07-23 09:36] EgorBo commented on #9685
@rvdginste Mono uses CoreFX (.NET Core) sources for String (see https://github.com/mono/mono/blob/master/mcs/class/corlib/corlib.dll.sources#L1640-L1643) for all profiles

[2018-07-23 09:49] rvdginste commented on #9685
Ok, clear. I didn't know this. Then this issue can be closed.
Thanks!

[2018-07-23 12:04] marek-safar commented on #9684
@EgorBo could you revert charunicodeinfo.cs for now?

[2018-07-23 12:07] EgorBo commented on #9684
@marek-safar already did, it's being compiled on the ppc64be machine now

[2018-07-23 12:15] EgorBo commented on #9684
@NattyNarwhal yeah, looks like changing `Char` back to
[code]
and
`MONO_CORLIB_COUNTER=24` in `configure.ac`
helped.
I'll try to localize and upstream the BE fixes

[2018-07-23 12:18] marek-safar commented on #9679
We are in process of switching the implementation to CoreFX version, please fill the change request at https://github.com/dotnet/corefx/issues/new instead.

[2018-07-23 12:18] #9679 closed

[2018-07-23 12:24] NattyNarwhal commented on #9684
Nice. My suspicion is the decimal issue that I had after the regex issue (if I pressed on further, which Jenkins didn't do) is a parsing issue also possibly caused by this; though we'll find out.

[2018-07-23 12:32] jjhii opened #9690 "Running .ASP/MVC on Mono on Linux 14.04"
This is not a bug report, I just can't get it to work.  I have posted the question on Stack Overflow but no love.  I have tried several tutorials but they always seem to be for a slightly different version or require slightly different settings to what I need or I just don't understand them.

https://stackoverflow.com/questions/51370777/how-to-setup-mvc3-on-ubuntu-using-mono-project

## Steps to R

[2018-07-23 12:55] marek-safar commented on #9537
This issue was moved to mono/gtk-sharp#235

[2018-07-23 12:55] #9537 closed

[2018-07-23 12:59] marek-safar commented on #9532
@frebib please submit your patch as PR

[2018-07-23 13:10] marek-safar commented on #9511
@baulig could you look into this issue?

[2018-07-23 13:49] marek-safar commented on #9505
I cannot reproduce the issue with master mcs I get

[code]

[2018-07-23 13:53] NattyNarwhal commented on #9505
I think that's the problematic case though? See https://github.com/mono/mono/issues/9505#issuecomment-404640722

[2018-07-23 14:16] marek-safar commented on #9505
Ugh, I can repro now. I used ikdasm to check the output but it printed version without the extra `ret`.

[2018-07-23 14:53] directhex commented on #9496
Try the CentOS 6 entry on https://manuals.gfi.com/en/kerio/connect/content/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html

[2018-07-23 15:12] EgorBo commented on #9684
@NattyNarwhal it looks like it's not a decimal issue, the mcs error happens here: https://github.com/mono/corefx/blob/master/src/Common/src/System/Security/Cryptography/AsnWriter.cs#L1217 (floatingTicks is too big)

[2018-07-23 15:17] NattyNarwhal commented on #9684
Hmmm, not sure why it happens there then, if Decimal is in working order, and we've had that from Cryptography for a while? Again, I mention it could be another parsing issue caused by CharUnicodeInfo, but I'm still unsure about that?

[2018-07-23 15:22] ViktorHofer commented on #9684
That could easily be the case as I made some changes to the parsing of patterns with Unicode surrogate pairs (which we don’t support): https://github.com/dotnet/corefx/commit/2f259de0bc566f4ef72e486133f71210416e440a

________________________________
From: Calvin <notifications@github.com>
Sent: Monday, July 23, 2018 5:18:23 PM
To: mono/mono
Cc: Viktor Hofer; Mention
Subject: Re: [mono/mono] BCL bo

[2018-07-23 15:30] marek-safar commented on #9684
@ViktorHofer this is with 2.1 branch of CoreFX

[2018-07-23 15:33] ViktorHofer commented on #9684
I see… Then it must be something else. I also did some Regex changes for 2.1 but nothing that sounds familiar to what you are facing here.

________________________________
From: Marek Safar <notifications@github.com>
Sent: Monday, July 23, 2018 5:30:37 PM
To: mono/mono
Cc: Viktor Hofer; Mention
Subject: Re: [mono/mono] BCL bootstrap regressions introduced by CoreFX System import on AIX (regex, de

[2018-07-23 17:15] EgorBo commented on #9684
@ViktorHofer @marek-safar yeah it's not Regex related issue, there are two issues:
1) CharUnicodeInfo.cs in .NET Core is not BE friendly (I'll try to upstream the patches)
2) a small `mcs` related issue (I am investigating) here: https://github.com/mono/corefx/blob/master/src/Common/src/System/Security/Cryptography/AsnWriter.cs#L1217 (for some reason this operation involves `decimal.ToInt32()` but

[2018-07-23 17:57] MartinRothschink commented on #9496
Thanks!

[2018-07-23 19:39] #9505 closed

[2018-07-23 21:00] kant2002 opened #9698 "Mono in WebAssembly has some memory leak."
## Steps to Reproduce

1. Create Blazor application (internally used Mono in WebAssembly)
2. Add `<input type="file" onchanged="uploadFile" />`
3. Implement uploading procedure as described in Blazor docs

### Current Behavior

When I upload 900KB file, everything is good and processing is working.
But when I try to upload 7818KB file, then Mono crashing with error below.

### Expected Behavior

I

[2018-07-24 03:48] alexanderkyte opened #9706 "Dead code eliminator has infinite loop"
Repro:

[code]

[code]

[code]

[code]

on the other hand will stall. If we move to a new terminal and attach with lldb:

[code]

[2018-07-24 03:51] craylward commented on #6498
Pretty sure my issue with Xamarin is related to this: https://github.com/Azure/azure-iot-sdk-csharp/issues/561

[2018-07-24 07:55] #9685 closed

[2018-07-24 13:56] stmax82 opened #9710 "SerialPort hangs when Handshake is RequestToSend"
Reading from a SerialPort hangs forever when HandShake = RequestToSend even though ReadTimeout is set.

When trying this, make sure the serial port exists but nothing is connected to it.

This happens on Linux / Raspberry.

On Windows the result is as expected - an exception with "The operation has timed out."

Is there some work around I can use to make this work on Linux?

[code]

Output on Wind

[2018-07-24 14:13] lambdageek opened #9712 "Deprecate and remove old coop environment variables"
We should obsolete and remove the `MONO_ENABLE_COOP`, `MONO_ENABLE_COOP_SUSPEND`, and `MONO_ENABLE_HYBRID_SUSPEND` environment variables.

Since #9647, we can use the new `MONO_THREADS_SUSPEND` environment variable to select the thread suspend policy:
* `MONO_THREADS_SUSPEND=preemptive` - the original Mono suspend policy - all threads are preemptively suspend (using signals on POSIX or OS-specific

[2018-07-24 20:16] cmccar opened #9717 "mkbundle for mono-5.12-debian-8-arm not working"
## Steps to Reproduce

1.  First I downloaded the target I wanted to cross compile to using
`mkbundle --fetch-target mono-5.12.0-debian-8-arm`
2. Then I tried to build the self-contained application using
`mkbundle -o rIoTLinux --cross mono-5.12.0-debian-8-arm rIoTLinux.exe --machine-config /etc/mono/4.5/machine.config`
3. And I get this output
`From: /home/conor/.mono/targets/mono-5.12.0-debian-8

[2018-07-24 21:04] jaykrell opened #9718 "flaky ConditionalWeakTableTest.FinalizableObjectsThatRetainDeadKeys (interp?)"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Random failures. For example:

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/7791/

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/7791/testReport/junit/(root)/ConditionalWeakTableTest/FinalizableObjectsThatRetainDeadKeys/

[code]

### Expected Behavior

Success.

## On which platforms

[2018-07-24 21:08] jaykrell commented on #9387
Another.

https://jenkins.mono-project.com/job/test-mono-pull-request-armel/14558/parsed_console/log_content.html#WARNING1

[2018-07-25 05:57] nealef commented on #8689
It seems the more exceptions there are the more memory is consumed. We removed several of the URLs that were causing exceptions and noticed the memory pressures were not as severe.

[2018-07-25 08:50] Skarax opened #9725 "Zedgraph memory leak gdi+ with mono"
I have built a simply WinForms application with the Zedgraph framework. I display a chart and add an event to add randoms points to the plot, so this is an animated graph.

This program works on windows but I have a problem with mono on my *raspberry pi*. When I launch the application, at the beginning, the program operates well. But with time, I remark that the memory of my program increased with

[2018-07-25 08:56] marek-safar commented on #9717
My guess is that you are missing some linux package dependencies

[2018-07-25 09:03] marek-safar commented on #9725
This issue was moved to mono/libgdiplus#389

[2018-07-25 09:03] #9725 closed

[2018-07-25 09:05] #9684 closed

[2018-07-25 10:07] filipnavara commented on #9725
@marek-safar I suspect this is actually an issue with System.Drawing memory management or an outdated library versions. In libgdiplus `GdipDeleteStringFormat` is only every called for things that are allocated within the same methods (ie. it's properly paired and easy to verify) and never called with pointers passed from the application. It's essentially just a `free`-like function. So it looks li

[2018-07-25 11:44] NattyNarwhal commented on #9684
While the big endian issue in CharUnicodeInfo is mitigated for now, there's another issue (in mcs or CoreFX System?) that blocks a compile of System.Security and thus, the runtime:

[code]

[2018-07-25 12:34] NattyNarwhal commented on #9684
possible repro case, need to do the whole dance of compiling basic profile with compiling with amd64 Roslyn again:

[code]

[2018-07-25 12:51] NattyNarwhal commented on #9684
It hasn't finished building yet, but studying the function in mcs that popped up near the top of the call stack had [this](https://github.com/mono/mono/blob/03356aba0a0f7b086f4fbc35abebdee6d196c7d1/mcs/mcs/constant.cs#L1942) which I'm pretty sure translates to an op_Explicit for Decimal?

[2018-07-25 13:05] Skarax opened #9726 "DataGridViewImageColumn ImageLayout property zoom doesn't work"
I'm trying to make a datagridview with some DataGridViewImageColumn with zoom property.

## Steps to Reproduce

1. Launch the application with mono

[ProgramDataGridView.zip](https://github.com/mono/mono/files/2227959/ProgramDataGridView.zip)

### Current Behavior

Zoom property doesn't effect on Linux? (looks like Stretch effect)

### Expected Behavior

Star picture with zoom property on Linux.

[2018-07-25 13:18] EgorBo commented on #9684
@NattyNarwhal
yeah, I mentioned that issue (sorry, the issue was closed automatically)
Can be fixed by
`decimalTicks /= TimeSpan.TicksPerSecond;`
replaced by
`decimalTicks = decimal.Divide(decimalTicks, new decimal(TimeSpan.TicksPerSecond));`

For some reason MCS picks a wrong overload for the divide operation (casts TimeSpan.TicksPerSecond to int).

[2018-07-25 13:34] NattyNarwhal commented on #9684
@EgorBo It seems that patch is working fine for doing a manual build, thanks! Unfortunately, that doesn't work out for Jenkins, and I don't want to fall of CI. I wonder if a workaround ifdefing on MonoCS would work until it's fixed....

[2018-07-25 13:49] NattyNarwhal commented on #9684
Ok, it works, until I hit an error in Cecil, that happens after compilation of the .NET 4.x profile of mscorlib; (I think I can reproduce this on amd64, so I'll file another issue) so I can try to press on. If I do that, I hit another System.Security error?

[code]

[2018-07-25 14:00] NattyNarwhal opened #9727 "build of mscorlib compiled with mcs for net_4_x-unix profile dies with Cecil error"
## Steps to Reproduce

build BCL with mcs

### Current Behavior

Successful compile of mscorlib, but Cecil error happens stopping the build; you can continue, but Jenkins wouldn't do that

### Expected Behavior

Build continues

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[X} AIX
[X] FreeBSD

**Version Used**:

[code]

## Stacktrace

FreeBSD:

[code]

AIX:

[code]

[2018-07-25 14:01] NattyNarwhal commented on #9684
OK, I can reproduce that System.Security error on amd64 too, not just the Cecil error, filing a new issue for that as well. (as it's not aix/big endian related)

[2018-07-25 14:06] NattyNarwhal opened #9728 "build of System.Security with mcs for net_4_x-unix profile fails with System.Diagnostic.Debug being defined multiple times"
## Steps to Reproduce

Build BCL, hitting System.Security for net_4_x-unix profile

### Current Behavior

compile error

### Expected Behavior

build fine and continues

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[X] FreeBSD
[X] AIX

**Version Used**:

[code]

## Stacktrace

[code]

[2018-07-25 14:06] EgorBo commented on #9727
Related: https://github.com/mono/mono/issues/9505#issuecomment-404670669

[2018-07-25 14:10] NattyNarwhal commented on #9727
I believe it's probably cil-stringreplacer or a similar simple tool program ran after mscorlib build to blame...

[2018-07-25 14:21] NattyNarwhal commented on #9728
According to Filip, this is a symptom of #9727.

[2018-07-25 15:04] lambdageek opened #9729 "Proposal: environment variable + configure flag to gate experiments"
## Summary ##

Let's add `MONO_EXPERIMENTS=*comma-separated-keywords*` and `./configure --with-experiments=*command-separated-keywords*` which have no stability/backward compatibility or deprecation guarantees.

## Motivation ##

We have a lot of development going on in Mono on features that could use regular testing on CI, or with brave customers, but which are not ready for prime time.

We've oc

[2018-07-25 15:09] marek-safar commented on #9727
This happens when you have some unfinished local build changes

`Mono.Cecil.Cil.SymbolsNotMatchingException: Symbols were found but are not matching the assembly`

The clean build should fix the issue

[2018-07-25 15:09] #9727 closed

[2018-07-25 15:20] #9728 closed

[2018-07-25 15:42] jaykrell opened #9730 "flaky DetailsViewTest.DetailsView_RenderHeaderTemplate"
## Steps to Reproduce

1. Submit PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-coop-arm64/2525/testReport/junit/(root)/DetailsViewTest/DetailsView_RenderHeaderTemplate/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-07-25 17:43] jaykrell commented on #9729
Agreed, except, where affordable, either:
1. Runtime ifs not preprocessor ifs, so we can test one binary with runtime switches.
2. Or maybe a compromise, just one preprocessor if to gate all experimental code, and then runtime switches to enable/disable individual experiments?

I really don't like to configure and build so many times, and imagine a customer is willing to experiment. He shouldn't h

[2018-07-25 17:50] jlemay-Matrox commented on #6315
Any update on this issue?

[2018-07-25 18:22] nddipiazza opened #9732 "Provide a way to build a macos mkbundle from Linux"
I am able to build an mkbundle for my simple app on Linux.

But now i want to build a mac mkbundle as well.

It works when I build the mkbundle from a mac machine, but there are no macosx jenkins machines in my cluster and I need to build from Jenkins.

How do I build a macosx mkbundle from Linux?

[2018-07-25 20:06] #7143 closed

[2018-07-25 20:13] marek-safar commented on #8462
@vargaz could you please investigate the failures?

[2018-07-25 21:44] smr888 commented on #8689
Interesting. I tried creating examples that just threw exceptions, but they did not leak. Nonetheless I have had the sense that the problem might have something to do with the exceptions, so I guess it's specific to the WebProxy.

[2018-07-26 07:05] lassana commented on #8627
The same issue with Xamarin.iOS 11.12.0.4:

[code]

[2018-07-26 07:47] akoeplinger opened #9739 "verbose.exe runtime test fails on Windows"
## Steps to Reproduce

1. Run verbose.exe test on Windows
2. It fails

This is a new test which was introduced by https://github.com/mono/mono/pull/9087 (it also failed on the PR).

### Current Behavior

Fails with exit code 1 and no output.

### Expected Behavior

No failure.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ X ] Windows

**Version Used**: master

/cc @Therzok

[2018-07-26 11:58] Therzok commented on #9739
Got no clue how to fix that and test it on windows

[2018-07-26 14:01] vargaz commented on #8857
Fixed some time ago.

[2018-07-26 14:01] #8857 closed

[2018-07-26 14:04] vargaz commented on #8462
The first is a stack overflow test. The other two randomly failed with older llvm as well.

[2018-07-26 14:05] vargaz commented on #8778
Fixed by the PR above.

[2018-07-26 14:05] #8778 closed

[2018-07-26 16:47] SergeySeleznyov opened #9748 ".NET Standard 2.0 uses System.Runtime, Version=4.2.0.0 that does not exists in Mono"
Hi,

## Steps to Reproduce

1. Create a new project in Visual Studio 2017 "Console App (.NET Core)"
2. Substitute the default "Main" class with follow:
[code]
3. Run it under .NET Core 2.0 -> Everything is OK
4. Run it under mono (currently last version)

### Current Behavior

System.TypeLoadException: Could not resolve type with token 0100000d (from typeref, class/assembly System.AppDomain, Syste

[2018-07-26 19:02] marek-safar opened #9750 "32bit LLVM CodeGen fails on iOS"
There is regression on XI where some tests fail with

[code]

Full log at https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7752/Test_20Report/

The suggested fix at https://github.com/xamarin/xamarin-macios/pull/4277#issuecomment-408027867 did fix it but change the error into different one.

[2018-07-26 19:10] #9576 closed

[2018-07-26 19:43] NickDufour opened #9751 "Mono - Using Integrated Security with SQL server no longer works"
This bug has already been reported on IOS and MAC.  Before mono 5.10, we were able to connect to a SQL server with integrated security.  Since Mono 5.10, we are no longer able to do so.  Connecting directly to SQL Server (with or without integrated security) is not a good approach and we know that.  However, it was requested by many of our clients.  Now many of our client cannot connect to their S

[2018-07-26 20:48] baulig opened #9752 "RSA and related crypto classes from CoreFX"
For my ongoing X509 work, I will need some of the `System.Security.Cryptography` classes from CoreFX:

- [ ] RSA
- [ ] RSAImplementation
- [ ] DSA
- [ ] ECDsa
- [ ] DSACryptoServiceProvider
- [ ] AsymmetricAlgorithm
- [ ] HashAlgorithm

The goal is to get this file to compile: `external/corefx/src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs` (ignore all APIs from `System.Secur

[2018-07-26 20:49] EgorBo commented on #9751
I've ported pal_gssapi.c from CoreFX to mono locally for macOS and Linux but it might be tricky to port it to Android (because of GSS dependency)

[2018-07-26 20:56] NickDufour commented on #9751
So it might not be possible for Android?

[2018-07-26 21:15] lambdageek commented on #9542
I couldn't entirely make sense of [my previous comment](https://github.com/mono/mono/issues/9542#issuecomment-404938096) so let me clarify for future-me:

- `Assembly.Load` is apparently affected by the load context of the executing assembly
- `<app base>\<asmname>.dll` and `<app base>\<asmname>\<asmname>.dll` (and probably .exe, too) should all load into the default context even if starting from

[2018-07-26 21:16] lambdageek opened #9753 "[loader] LoadFile from application base should load in default context"
If an assembly is found in the application base directory, even if starting from `LoadFrom` or `LoadFile`, it should go into the default context.  That affects loading of subsequent referenced assemblies:

[LoadAndReference.zip](https://github.com/mono/mono/files/2233363/LoadAndReference.zip)

Here we have `Main.exe` which can do either a `LoadFrom` or a `LoadFile` of `Thing.dll` which, in turn, r

[2018-07-26 21:39] marek-safar opened #9754 "CoreFX System.Security.Cryptography mscorlib namespace"
## Types and tests in mscorlib System.Reflection namespace to import

- [ ] Aes
- [ ] AsymmetricAlgorithm
- [ ] AsymmetricKeyExchangeDeformatter
- [ ] AsymmetricKeyExchangeFormatter
- [ ] AsymmetricSignatureDeformatter
- [ ] AsymmetricSignatureFormatter
- [ ] CipherMode
- [ ] CryptoAPITransform
- [ ] CryptoConfig
- [ ] CryptographicException
- [ ] CryptographicUnexpectedOperationException
- [ ] Cr

[2018-07-26 21:41] marek-safar commented on #9754
From @baulig

For my ongoing X509 work, I will need some of the `System.Security.Cryptography` classes from CoreFX:

- RSA
- RSAImplementation
- DSA
- ECDsa
- DSACryptoServiceProvider
- AsymmetricAlgorithm
- HashAlgorithm

The goal is to get this file to compile: `external/corefx/src/Common/src/System/Security/Cryptography/RSASecurityTransforms.cs` (ignore all APIs from `System.Security.Cryptograp

[2018-07-26 21:42] #9752 closed

[2018-07-26 21:50] lambdageek commented on #9753
oh. also this is a regression in `2018-06` from `2018-04` since before we had asmctx in Mono, LoadFile was just an alias for LoadFrom and they both used to look in the application base (and now they don't).

This affects some nunitlite runners because you end up with a single directory containing `nunitlite-runner.exe, someAsmFullOfTests.dll, someImplementationAsm.dll, someOtherDependency.dll`

if

[2018-07-26 21:54] alexanderkyte opened #9756 "[runtime] collect_threads does not inform the GC"
The collect_threads function returns pointers to threading metadata of threads that may be disposed while the function holds those pointers.

This is a performance bottleneck of MERP, we have to timeout on many more threads than we should have to for VS4M.

We should return some kind of handle or something.

[2018-07-26 22:16] baulig commented on #9754
This quickly run into PAL dependencies via

[code]
Postponing for the moment until I have made some more progress on AppleCrypto.

[2018-07-27 00:56] nealef commented on #8689
We modified the test to avoid the proxy and it is showing that behaviour. I tried using the --trace option on the mprof-report in an attempt to see if I could get an idea of what was responsible for all the System.Byte[] objects but nothing stands out. I would resort to Environment.Stacktrace in AllocVector but it's a ves_xxxx type call.

[2018-07-27 01:23] zhang-tao-Wind opened #9760 "How to use aot function on arm board?"
I am using mono 4.6.2.16 on my arm board(Ti AM3354 CPU  arm v7)
and I try to use aot function. like
mono --aot=full my.exe
it reported as is not found. true, there is no compiler on the board.
then I used command:
mono --aot=full,asmonly my.exe
successfully get file my.s
and then, copy it to pc linux, use arm compiler commands:
arm-linux-gnueabihf-as my.s -o my.o
arm-linux-gnueabihf-gcc -shared my

[2018-07-27 01:45] zhang-tao-Wind commented on #9760
[test_aot.zip](https://github.com/mono/mono/files/2234091/test_aot.zip)
all files are uploaded

[2018-07-27 02:35] Nockiro commented on #8632
I seem to have the same issue, just with another property: ScriptResourceMapping, coming from
[code]
After a whole lot of "trial and error" (same as above: Tried hard-linking the System.Web.Extensions.dll results in the server not finding it at all, but couldn't get it to use the 4.6.1 DLL at runtime either, tried to place the windows DLL or the 4.6.1 mono DLL directly in /Bin and so on) I also tr

[2018-07-27 08:20] zhang-tao-Wind commented on #9760
well. i know.
if I use full tag when aot compiling, I have to aot all of the libraries but not only my exe file. and run with --full-aot.
or, use mono --aot=asmonly is enough.
congratulations to myself

[2018-07-27 08:20] #9760 closed

[2018-07-27 09:18] techcap commented on #8733
I got same problem. After updating to v5.12.0.301, it is solved.

[2018-07-27 10:18] alanmcgovern commented on #9753
👍

[2018-07-27 11:13] barnycloud opened #9771 "Unhandled Exception: System.Reflection.TargetInvocationException"
When trying to rum the MS Windows programme wakeonlan, i.e. wol2.exe in linux mint as OS (Version 17.3, 64 bit, rosa, Cinnamon; ubuntu 14.04) this programme does not run either I am using this **shellscript**:
`#!/bin/bash
#start the wake on lan tool 2 using MONO
mono ./WOL2.exe`

or alternatively this shellscript:
`#!/bin/bash
#start the wake on lan tool 2 using MONO
mono ./wol2.exr`

or using th

[2018-07-27 13:14] NattyNarwhal opened #9772 "mcs appears to be picking incorrect overload for decimal division"
## Steps to Reproduce

1. Compile BCL

### Current Behavior

See mono/corefx#108 and https://github.com/mono/mono/issues/9684#issuecomment-407751049 - mcs seems to pick the incorrect overload, picking an overload that causes a decimal divided by a long to overflow on a ToInt32.

### Expected Behavior

BCL compiles fine. A workaround has been installed by mono/corefx#108, so it needs to be reverted

[2018-07-27 13:48] guangyuanluo opened #9774 "compile bcl with wasm error in windows"
I have compiled the last release version of mono success without wasm, but the code is compile error when i compile it with wasm.My system is windows 10,and my compile tool is cygwin, it's always error  when compile to eglib for '<direct.h> not found'.There is more error when I solve this error.So is it supported for compile bcl with wasm in windows by using the last release version?

[2018-07-27 14:00] guangyuanluo commented on #9774
my mono version is mono-5.12.0.273,the last release version

[2018-07-27 14:34] filipnavara commented on #9754
@baulig Hmm, I already had `RSASecurityTransforms` in my working tree one month ago without all these dependencies. Maybe you can take a peek at https://github.com/filipnavara/mono/blob/corefx-x509/mcs/class/System/macos_net_4_x_System.dll.sources if there's something worth using.

[2018-07-27 16:06] jaykrell commented on #9774
I  saw this too doing a non-wasm build this week to try to reproducing something on Windows.
The mingw/cygwin configure is somehow between win32 and posix.

[2018-07-27 16:08] jaykrell commented on #9036
Another.

https://github.com/mono/mono/pull/9673

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/7936/

[code]

[2018-07-27 16:17] jaykrell opened #9776 "Flaky IO.Pipes.Tests.AnonymousPipeTest_*"
See these on a few PRs this morning.

## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Fails.
For example:

https://github.com/mono/mono/pull/9768

https://jenkins.mono-project.com/job/test-mono-pull-request-i386/16378/#showFailuresLink

[code]

### Expected Behavior

Success.

[2018-07-27 17:38] jaykrell commented on #7143
3 tests from here are failing several PRs in CI.
 https://github.com/mono/mono/issues/9776

[2018-07-27 18:07] alexanderkyte opened #9779 "[experiment] Move loader operations into dedicated thread"
I am putting here some discussed experiments and plans for loader re-architecture that have been discussed, so they can be tracked.

 After coming upon research that suggests that contended locks should run in their own thread:

`https://blog.acolyer.org/2017/12/04/ffwd-delegation-is-much-faster-than-you-think/ `

I created a factored abstraction for message-passing-like threading in mono, the Mon

[2018-07-27 18:20] jaykrell commented on #9779
The Windows loader was refactored to use worker threads, for example.
There is still need for serialization of DllMain -- somewhat like cctor.
But path probing and mapping/reading of files can be parallel.
Some amount of probing is based on past successful loads though? So somewhat serialized?

[2018-07-27 18:21] lambdageek commented on #9779
To clarify: we don't really have setters for most MonoClass fields, but we do have the code that mutates them physically isolated in `class-init.c` (and `sre.c`).  And changing the semantics of the getter methods to trigger on-demand initialization is a big, separate, change.

What would be great as an experiment, however, is if each of the class initialization entrypoints (all now in `class-init.

[2018-07-27 18:38] filipnavara commented on #9776
Uh, the failure are actually because some API is missing in the PAL:

[code]

I will check it tonight unless someone beats me to it.

[2018-07-27 18:51] filipnavara commented on #9776
I think it's broken since https://github.com/mono/mono/commit/1e9be63015ee88ec2e7ca6d92c22904902989440#diff-0ff844e784e15d2542b71c85d2c0133e. There's `if !TARGET_WIN32` in the Makefile that prevents inclusion of many PAL files. /cc @alexischr

[2018-07-27 18:54] alexischr commented on #9776
@filipnavara Sorry about that, I'm not sure how I missed that. I'll fix it up

[2018-07-27 18:54] jaykrell commented on #9776
Eek, how did that get merged?

[2018-07-27 18:55] filipnavara commented on #9776
@alexischr Sorry. I may have misread the diff. Nevertheless it looks like some configuration doesn't include correct PAL files.

[2018-07-27 21:13] #9776 closed

[2018-07-27 23:00] guangyuanluo commented on #9774
so it doesn't support for a wasm build on windows?

[2018-07-27 23:21] filipnavara commented on #9776
@alexischr BTW, I think the problem is that ENABLE_MONODROID (and same for MONOTOUCH) means "enable the profiles along with the other ones", not "building for Android/iOS exclusively".

[2018-07-28 05:10] vargaz commented on #9750
Should be fixed by this llvm patch:
https://github.com/mono/llvm/commit/fc854b8ec5873d294b80afa3e6cf6a88c5c48886
Need to propagate that change to mono.

[2018-07-28 10:27] TheBiggerGuy opened #9788 "SIGSEGV in msbuild (Mono 5.12)"
## Steps to Reproduce

**Please Note: This is a armhf Docker image running on a x86 host via qemu so things may not be 'normal'**

1. Run on Fedora 28 on an x86 machine
2. `docker run --rm --privileged multiarch/qemu-user-static:register --reset`
3. build the Docker file @https://gist.github.com/TheBiggerGuy/7d8a38502c4783128b320c602b43ac2d#file-dockerfile

### Current Behavior
When running `msbui

[2018-07-28 10:56] TheBiggerGuy commented on #9788
So I can reproduce this on a x86 host but not on armhf. Therefore I am assuming it is a qemu interaction.

So with both running the exact same container images:
* x86 host running Docker with armhf image via qemu -> SIGSEGV
* armhf host running Docker with armhf image -> OK

[2018-07-29 05:31] smr888 commented on #8689
It would be great to see that fixed. When our last memory leak bug was fixed we were able to go from restarting every two days to every four . . . but I would vastly prefer to return to what I didn't know at the time were the golden days of yesteryear, where we didn't have to restart at all.

[2018-07-29 06:00] filipnavara commented on #9754
Oh, OK. I didn't study in detail how unusable the code is on iOS. My assumption was that there is already some effort to bring System.Native code to the mobile platforms (albeit reverted in master now) and that most of it would be reusable. My random poking at the documentation always showed me that most of the Sec* and Common Crypto APIs are available on iOS, but now I finally noticed that the Ke

[2018-07-29 10:49] nathanielcook opened #9796 "C# 7.3 not supported by the csc included with Mono"
## Steps to Reproduce

1. From the macOS terminal, type `csc /langversion:?`

<img width="175" alt="screen shot 2018-07-29 at 1 44 04 pm" src="https://user-images.githubusercontent.com/903784/43365425-7e55fa7e-9335-11e8-89d6-da87aec7adf2.png">

### Current Behavior
Only versions of C# through 7.2 are supported

### Expected Behavior
C# 7.3 should be supported. Per the information [here](https://de

[2018-07-29 12:36] nathanielcook commented on #9796
Interesting. Looks like you're running from source. Does anyone know when mono 5.17.0 will be bundled with a Visual Studio for Mac preview?

[2018-07-29 20:35] cmccar commented on #9717
Hey, thanks for the reply.

I will provide a more detailed log tomorrow when I am back at my desk, currently on vacation.

[2018-07-30 01:41] baulig commented on #9754
System.Native is different from Apple.Crypto.  However, I made some really good progress on the RSA stuff today - turns out that Apple actually has native APIs to do this on iOS, they're just different from OS X.

[2018-07-30 05:41] jaykrell opened #9801 "Mono public headers should not depend on glib.h."
## Steps to Reproduce

1.  Expect public headers to not use glib.h, as glib.h is ambiguous between mono's eglib and public glib.
2. Neither building or using mono should depend on glib.

### Current Behavior

[code]

debug-mono-symfile.h is commented as not really being public, so this can be ok.
verify.h has no such comment.

### Expected Behavior

No glib.h in public mono headers.

For GSList in

[2018-07-30 05:52] nealef commented on #8689
Matching the --trace output and the size of the objects I see:
[code]
for the 16850 byte allocations (16840+16), and,
[code]

[2018-07-30 07:13] nealef commented on #8689
The attached graph shows memory availability for runs where (orange) there are URLs that result in exceptions and (blue) where there are no such URLs. It appears that when the connect fails we are not disposing or ending gracefully.

![8689mem](https://user-images.githubusercontent.com/308986/43382618-aa1666d0-941b-11e8-866e-e23d80c38638.jpg)

[2018-07-30 08:47] smr888 commented on #8689
Heh, "16834" sort of sounds like a typo in the code for 16384.  Or it's an interesting coincidence.

[2018-07-30 11:46] vargaz commented on #9750
Reopen until its actually in xam.ios.

[2018-07-30 12:16] lewurm commented on #9462
this is a question for https://github.com/xamarin/xamarin-macios

[2018-07-30 12:16] #9462 closed

[2018-07-30 12:47] lewurm commented on #9788
Thanks for your report. In order to make the crash dump more useful, can you add `mono-runtime-dbg` and `gdb` to the installed packages? This should fix the `mono_gdb_render_native_backtraces not supported on this platform, unable to find gdb or lldb` message and provide us a useful stack trace (since it's a crash in the runtime, the managed stack trace isn't that useful).

[2018-07-30 14:08] NattyNarwhal commented on #9772
A bunch of test suites seem affected by this; including Mono.C5, System.Data, System.Web.Extensions, and mscorlib - they just fail to compile.

[2018-07-30 14:12] NattyNarwhal commented on #9772
@EgorBo quite a few strange ones popped up too; including in [System.Numerics](https://jenkins.mono-project.com/job/test-mono-mainline-community/label=aix-ppc64/3335/parsed_console/log_content.html#WARNING33) and [System.Json](https://jenkins.mono-project.com/job/test-mono-mainline-community/label=aix-ppc64/3335/parsed_console/log_content.html#WARNING36). Maybe the cause is deeper; within, say, In

[2018-07-30 15:36] cmccar commented on #9717
I looked into the mkbundle man page and was trying to figure out if there was an option for a more verbose output or log file, but I couldn't find one.

I did try installing a few different versions of mono for debian-8-arm targets, and here is the output from when I tried to cross compile to each respective target:

[code]

Perhaps you are aware of how I can generate or output more verbose loggin

[2018-07-30 16:05] wojciechowskidawid opened #9808 "[System.Net.WebClient] DownloadProgressChangedEventArgs properties returns wrong values when downloading file on Linux."
When I download file from url by WebClient and subscribe method to DownloadProgressChanged for download progress watching,  TotalBytesToReceive and ProgressPercentage properties returns wrong values. e. g. while download "https://download.mono-project.com/archive/5.12.0/windows-installer/mono-5.12.0.301-x64-0.msi" TotalBytesToReceive returns -1. It works fine on Windows.

My environment: Ubuntu 18

[2018-07-30 16:32] alexanderkyte commented on #9756
Have fix for this, testing it locally before I make PR.

[2018-07-30 17:07] NattyNarwhal commented on #9772
Hmmm, looks like there may be a deeper issue after all?

[code]

[code]

mcs *does* do a little bit twiddle, but this probably doesn't help....

[2018-07-30 17:20] alexanderkyte commented on #9756
https://github.com/mono/mono/pull/9809

[2018-07-30 22:29] TheBiggerGuy commented on #9788
OK so I've set a repo and Travis build to confirm this is nothing to do with my setup. It also fails so I have reduced to Docker file and added the requested debug packages. The new stack trace can be found at https://travis-ci.org/TheBiggerGuy/mono-issue-9788/builds/410074754 . Unfortunately GDB seems to not work under QEMU so I am going to look into this.

Please see for code and travis logs:
*

[2018-07-30 22:43] matkoniecz opened #9813 "copy pasting "óż" may crash mono"
As discussion at https://sourceforge.net/p/keepass/feature-requests/2254/ indicates this is a mono bug

## Steps to Reproduce

1. use keepass2
2. create entry
3. copy "óż" to notes field
4. save entry

### Current Behavior

keepass2 crashes

### Expected Behavior
no crash

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 4.2.1

[2018-07-30 23:31] zaneclaes commented on #7077
@migueldeicaza I stumbled upon this thread in attempting to debug the same problem in Unity, however I'm using `ReadAsync` with a large buffer and still experiencing the same problems. This code takes ~8 seconds to run on a 6MB test asset:

[code]

Whereas this code runs in less than 1 second:
[code]

[2018-07-30 23:57] NattyNarwhal commented on #9772
I have a [Decimal.cs](http://ix.io/1iNj) with more verbose debugging info on the code path taken by `decimal.Multiply(10000000m, 10)`. It really seems like there's possibly more endian issues where that came from, though....

aix/ppc64be:

[code]

FreeBSD/amd64:

[code]

[2018-07-31 02:28] NattyNarwhal commented on #9772
And what do you get with the bits on BE, put into an LE system? (this being an older OpenBSD/amd64 system with mono 4.2.1, so....)

[code]

[2018-07-31 06:08] nealef commented on #8689
The profiler shows things like:
[code]

[2018-07-31 07:18] filipnavara commented on #9813
You are using ancient version of Mono, 5.12 is the current stable one. There has also been a big number of bug fixes to libgdiplus, which is actually the component that is producing the GDI+ errors.

[2018-07-31 10:30] matkoniecz commented on #9813
I am now upgrading using instructions from http://www.mono-project.com/download/stable/

[2018-07-31 10:41] matkoniecz commented on #9813
I upgraded to Mono JIT compiler version 5.12.0.301 (tarball Wed Jul 25 15:47:18 UTC 2018)

[2018-07-31 10:43] matkoniecz commented on #9813
Copy-pasting "óż" continues to be buggy. Crash is now longer triggered by pasting "óż" results in nothing appearing in the target text field.

[2018-07-31 11:13] nealef commented on #8689
@migueldeicaza Who would be the best to discuss the next steps to identify this problem? I think I am on the right track but the methods involved look rather complex: compilation of the async tasks and a connection finite state machine appear to be part of the mix.

[2018-07-31 11:31] filipnavara commented on #9813
I believe that it is likely libgdiplus problem. We recently changed the default font rendering backend to use Pango library and support more complex characters and layouts, but there's still no official release for that unfortunately.

[2018-07-31 11:57] jeromelaban commented on #9300
Removing the "new" android bridge needs this issue to be fixed, as we are having instabilities on some armv8 devices for large Xamarin.Android applications (https://bugzilla.xamarin.com/show_bug.cgi?id=54120). The "new" bridge is slower, but does not have this instability.

[2018-07-31 13:57] jeromelaban opened #9825 "Add support for AOT in the wasm SDK"
The Mono-wasm SDK currently uses the interpreter and this makes its performance pretty low (https://github.com/stefan-schweiger/dotWasmBenchmark), making the "giant switch" a hot target for performance (https://bugs.chromium.org/p/v8/issues/detail?id=7838#c7).

Enabling the AOT for the wasm sdk should theoretically provide a significant performance improvement, and make mono a viable target for de

[2018-07-31 16:02] netonjm opened #9827 "CurrentThread.CurrentCulture and CurrentUICulture are returning "en-EN" with Chinese Traditional"
I am targeting this issue in Mac

## Steps to Reproduce
 language selected like main language.

1. Change your main language in Settings to Chinese Traditional
2. Create a empty Xamarin.Mac application with NetFramework 4.6 platform
3. Get current values for:
`var culture = Thread.CurrentThread.CurrentCulture;`
            `var uiCulture = Thread.CurrentThread.CurrentUICulture;`

Expected
Both sho

[2018-07-31 19:18] cgs5028 opened #9832 "Testing Initial Installation of Mono"
## Steps to Reproduce

1.  Following instructions found here:  http://www.mono-project.com/docs/getting-started/mono-basics/
2. Entered this command: mcs hello.cs -pkg:gtk-sharp-2.0

## Application Code
using Gtk;
using System;

class Hello
{
    static void Main ()
    {
        Application.Init ();

        Window window = new Window ("Hello Mono World");
        window.Show ();

        Applica

[2018-07-31 19:46] stefan-schweiger commented on #9825
Also see https://github.com/aspnet/Blazor/issues/26#issuecomment-400262994

The interpreter is using “emscripten” that has a fairly complete libc that we can rely on. And our AOT engine was built on pure LLVM, which requires from us to write the full libc. The latter is the ideal place, because we get native linkers and immedite llvm support and so on. But woudl send us down the path of having to

[2018-07-31 20:45] directhex commented on #9832
pkg-config.exe is built against a different version of the MSVC core runtime than mono-sgen.exe, and you don't have it installed. We should be sure to include that dependency.

[2018-07-31 20:50] directhex commented on #7445
So, current way to do a "full from-source" build:

* Strip out all assemblies, except `mcs/class/lib/monolite-linux` (and the others, if one feels so inclined) AND `external/binary-reference-assemblies/v4.7.1/{Facades/}*.dll` - i haven't found a sane way to disentangle the binary reference assemblies, but they ARE regenerated in this scenario
* Use --with-csc=mcs configure flag
* Patch mcs/tools/c

[2018-08-01 04:53] ankitgo opened #9835 "Add support for JsonMediaTypeFormatter for mobile"
I am trying to use the JsonMediaTypeFormatter and it doesn't work on Xamarin Android.
Looks like this method is not supported. Is there any plan to add support for this?
It looks like it is similar to this issue: https://github.com/mono/mono/issues/6376
I am not sure if it is the JsonMediaTypeFormatter that is causing this issue. Is it the one?

Exception: System.TypeInitializationException: The t

[2018-08-01 05:03] ankitgo commented on #9835
I believe it is the JsonMediaTypeFormatter
Tried this line and it fails on Xamarin.Android.
JsonMediaTypeFormatter jsonMediaTypeFormatter = new JsonMediaTypeFormatter();

[2018-08-01 07:49] nealef commented on #8660
Any progress on this issue? We can reproduce if you need additional information.

[2018-08-01 10:56] cgs5028 commented on #9832
directhex, thank you for your response.  How were you able to find that information?

[2018-08-01 11:28] Therzok opened #9839 "Behaviour difference between Mono and CoreCLR"
[code]

## Steps to Reproduce

1. Given the code above, run this under both dotnet and mono
2. Dotnet prints:
[code]
3. Mono prints:
[code]

They should be matching, not sure what full framework CLR prints

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.17.0.84 (pull-request-8951/ab1aafc1d80 Fri Jun 15 11:11:39 EDT 2018)
C

[2018-08-01 11:28] Therzok commented on #9839
This is probably a blocker for @jsuarezruiz for TFS support in VSMac

[2018-08-01 13:53] #9827 closed

[2018-08-01 13:56] netonjm commented on #9827
Ok, discovered what was the issue, not related to mono. thanks!

[2018-08-01 14:01] SergeySeleznyov commented on #9748
Moving the problem code from console .net core application to .net standard 2 Class Library seems to solve the problem. I'm closing this issue.

[2018-08-01 14:14] marek-safar commented on #9835
Duplicate of #6376

[2018-08-01 14:14] #9835 closed

[2018-08-01 14:20] #9772 closed

[2018-08-01 14:24] NattyNarwhal commented on #9839
FWIW, csi for .NET 4.6, running on a non-domain joined Windows 10 system:

[code]

[2018-08-01 14:38] Therzok commented on #9839
[code]

[2018-08-01 14:39] Therzok commented on #9839
Non-domain joined values
[code]

And on repl:
[code]

[2018-08-01 14:39] marek-safar commented on #8689
@baulig could you have a look. This is potentially related to the async fix we did for 2018-02.

@smr888 could you test it with newer versions if there is any difference?

[2018-08-01 14:40] NattyNarwhal commented on #9839
looks like the behaviour when the hostname is actually the hostname and domainname combined should perhaps be:

* for hostname, truncate at first dot

* for domainname, use that, otheruse use everything but what was used for the hostname

that should match Windows behaviour more closely?

[2018-08-01 14:44] NattyNarwhal commented on #9839
FWIW, can reproduce this on non-Mac; it seems quite common in the Unix world:

[code]

[2018-08-01 14:47] NattyNarwhal commented on #9839
from `mcs/class/corlib/System/Environment.cs`:

[code]

and it's in icalls, let's see if I can come up with a quick and dirty patch...

[2018-08-01 14:52] NattyNarwhal commented on #9839
Is this what you'd want?

[code]

[code]

[2018-08-01 14:54] ThreeNameNelson opened #9842 "Make Command Failing on IBM i"
## Steps to Reproduce

1. ./autogen.sh --prefix=/home/NELSONCJ/mono
2. make get-monolite-latest
3.  make

### Current Behavior

Make command is failing:

mv: cannot rename t-es.gmo to es.gmo:
No such file or directory

### Expected Behavior

The make command to complete successfully.

## On which platforms did you notice this

IBM i v7.3

**Version Used**:

N/A - no working mono installation.

##

[2018-08-01 14:55] Therzok commented on #9839
Yup, that would be perfect

[2018-08-01 15:05] NattyNarwhal commented on #9842
Do you have gettext installed? This happens on any platform where you don't have gettext's translation file management tools.

[2018-08-01 15:06] NattyNarwhal commented on #9842
Also, I do have a [periodically updated set of builds](https://github.com/MonoOni/binarydist) available. These aren't official builds from the Mono project, but I will try to help you with those.

[2018-08-01 16:28] ThreeNameNelson commented on #9842
So I can either do a build from the source, or do the save/restore?
Or are they not mutually exclusive? If so, is any one better than the other?

I appreciate your quick response. Thanks for the assistance!

[2018-08-01 16:31] NattyNarwhal commented on #9842
The binary builds are built on an irregular schedule, but kept reasonably in date. If you just want to try it out, restoring the savefile will be easiest, and has all dependencies baked in.

Building from source will be useful for when you want to actually start writing patches for Mono.

[2018-08-01 18:38] chamons commented on #9210
@vargaz I saw https://github.com/mono/mono/pull/9419/files, is that sufficient for this from runtime?

[2018-08-01 18:39] vargaz commented on #9210
That adds support for the MAP_JIT flag, not sure what else is needed.

[2018-08-01 18:45] ThreeNameNelson commented on #9842
Spoken like a true developer.

Thanks!

[2018-08-02 09:17] nealef commented on #8689
I am trying to find out how things differ when the request works and when it fails so I arbitrarily chose to look at dispose and exceptions.
[Fail](https://pastebin.com/5Vs8s0nf)
[Good](https://pastebin.com/CyJxtTj6)
Note, these pastebins expire on 16 Aug 2018.
The traces are very very different but I am not sure what to infer.

[2018-08-02 10:32] nealef commented on #8689
@marek-safar These latest tests were done with 2018-06 as of 14 days ago plus a couple of local fixes (not related to the problem).

[2018-08-02 10:48] nealef commented on #8689
In the working case Mono.Net.Security.BufferOffsetSize2 never appears in the trace.

[2018-08-02 10:59] marek-safar commented on #9717
Please try to pass `-v` option

[2018-08-02 11:00] #9750 closed

[2018-08-02 11:38] marek-safar commented on #9796
It will be included in VS 15.9 update, alternatively, you could download 5.14 version which includes 7.3 from http://www.mono-project.com/download/preview/

[2018-08-02 11:38] #9796 closed

[2018-08-02 11:41] smr888 commented on #8689
@marek-safar I have re-run my test with the 5.12.301 release, and I'm (somewhat) sorry to have to report that it no longer seems to show the memory leak I had found earlier.

So I rebuilt our software, updated the Monos on our servers, and reissued our stuff so that it is now all running on 5.12.301, and as a whole I find after 17 hours that memory usage on our servers is still growing over time.

[2018-08-02 12:53] marek-safar commented on #9751
Duplicate of #9028

[2018-08-02 12:53] #9751 closed

[2018-08-02 13:08] akoeplinger opened #9854 "Bump to newest mono/llvm results in extremely slow runtime/corlib test steps"
Related to https://github.com/mono/mono/issues/8462

## Steps to Reproduce

1. Build Mono with LLVM enabled
2. Run runtime tests or corlib tests with LLVM
3. It takes a very long time, on Jenkins it runs into the 4h timeout for runtime tests and 1h timeout for corlib tests

### Current Behavior

Example build: https://jenkins.mono-project.com/job/test-mono-mainline-mac-sdk/label=osx-amd64/1926/

#

[2018-08-02 14:17] alanmcgovern commented on #9753
This is a blocker for 15.9 testing/releasing now!

/cc @Aguilex

[2018-08-02 14:45] ThreeNameNelson commented on #9842
For posterity to others attempting to build mono on the IBM i (aka as400) and might come across this issue - make sure all tools are updated to latest released versions. I was getting a segfault during the make process because 'cmake' wasn't at the latest release.

Everything builds fine now.

@NattyNarwhal I appreciate the help. Thanks.
@marek-safar I don't see anywhere I can change the labels so

[2018-08-02 14:45] #9842 closed

[2018-08-02 14:47] vargaz commented on #9854
Its because of this change:

	if (mono_use_llvm && !(info->flags & MONO_AOT_FILE_FLAG_WITH_LLVM)) {
		/* Prefer LLVM JITted code when using --llvm */
		msg = g_strdup_printf ("not compiled with --aot=llvm");
		usable = FALSE;
	}

We are no longer loading AOTed code when using --llvm, so JITting takes way more time.

[2018-08-02 15:24] marek-safar commented on #9854
Oh, so we just need to AOT mscorlib with LLVM to speed that up?

[2018-08-02 15:28] akoeplinger commented on #9854
Roslyn is the bigger chunk I'd assume

[2018-08-02 15:36] marek-safar commented on #9854
Well, we aot them all with right config. I think we already have PR pending for that

[2018-08-02 15:39] elitest commented on #8225
@jaykrell Is this fix available in the [nightlies](https://download.mono-project.com/archive/nightly/windows-installer/)?  Or is the only way to get this is to build from master.  Seems still present in nightlies, but those might be built from the release branch.  Is it possible to download an artifact from a recent jenkins build?

[2018-08-02 15:54] jaykrell commented on #8225
The fix was never approved.

[2018-08-02 15:57] jaykrell commented on #8225
https://github.com/mono/mono/pull/8884

[2018-08-02 16:01] elitest commented on #8225
Thanks.  That is unfortunate.  I will keep an eye on it, it the mean time I'll try my hand at compiling your branch.  I haven't had luck with compiling so far.

[2018-08-02 16:05] jaykrell commented on #8225
Can you try nightlies though, and check for a better error message?

[2018-08-02 16:18] danroth27 opened #9857 "Reduce the size of mono.wasm and large framework libraries"
The download size of Blazor apps today is still pretty big even after running the IL linker. Currently the default Blazor project weighs in at 1.8 MB compressed, with the core runtime files making up ~80% of the size. The *mono.wasm* file is the biggest file, but *mscorlib.dll* is a close second:

** Largest files in a default Blazor app **
| File | Size (uncompressed) | Size (compressed) |
| ---

[2018-08-02 18:26] nealef commented on #8689
An important fact I left out is that when we run the test program the root certificates are not installed so that we can force an exception in the webrequest. We added some code to collect memory stats and run 1000 iterations:
[code]
When the program is run on the non-root-certificate system we start with memory utilization at 68.5% but by the 418th iteration we are down to 39.6%

When this progra

[2018-08-02 18:29] lambdageek commented on #8575
This will be fixed by #9858.  assemblies loaded by ~LoadFile~ are not as isolated as I thought - they still can reference assemblies from the GAC, and the application base and private bin path of the appdomain.

[2018-08-02 20:35] joncham opened #9861 "BinaryFormatter is not type safe"
## Steps to Reproduce

Saving data with BinaryFormatter, then loading that data into a type with different structure should raise an exception. Instead, incompatible instances are stored into fields of different types.

1. mcs -d:SAVE test.cs
2. test.exe text.dat
3. mcs -d:SAVE test.cs
4. mono test.exe text.dat

### Current Behavior (Mono)

[code]

### Expected Behavior (.NET)
[code]

## On which

[2018-08-03 09:05] freedog8 commented on #7271
@kensniper 我这里已经安装成功了，你那边是什么问题。

[2018-08-03 09:45] vargaz commented on #9779
Note that class loading happens only during startup, so these locks are not that contended.

[2018-08-03 09:48] vargaz commented on #9857
One thing we could experiment with is linking out unused icalls from the icall table, since we currently keep all the icalls.

[2018-08-03 12:25] marek-safar commented on #9592
Fixed by the bump

[2018-08-03 12:25] #9592 closed

[2018-08-03 13:06] rolfbjarne opened #9867 "watchOS: linker failure with llvm: don't know how to convert branch instruction"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. `msbuild "tests/linker/ios/dont link-watchos.csproj /p:Configuration=Release /p:Platform=iPhone"`

### Current Behavior

    error MT5209 : Native linking error : don't know how to convert branch instruction ff0fe7e6 referencing _memset.island to bx in '_mscorlib_Mono_Globalization_Unicode_SimpleCollator_Co

[2018-08-03 13:14] marek-safar opened #9868 "MonoAotOffsetsDumper fails because could not find the target build directory"
## Steps to Reproduce

1. build XA for 2018-04
2. Full build log at https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3657/consoleText

### Current Behavior

[code]

### Expected Behavior

No build error

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-08-03 13:15] rolfbjarne opened #9869 "iOS: mini test failure in release/llvm mode (JitTests.Math: Expected: 0 But was: 1)"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. Open tests/tests.sln
3. Select the mini project as the startup project, and select a Release|iPhone configuration.
4. Execute and run all the tests

### Current Behavior

    [FAIL] JitTests.Math :   Expected: 0
        But was:  1

This happens on 64-bit (I haven't tested 32-bit).

### Expected Behavior

N

[2018-08-03 14:40] rolfbjarne opened #9870 "iOS: 32-bit device unit test failure: [FAIL] FSharpTest.SprintfTest : Expected: True"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. Open tests/tests.sln
3. Select the fsharp project as the startup project, and select a Debug32|iPhone configuration (this failure does not happen in 64-bit).
4. Execute and run all the tests

### Current Behavior

    [FAIL] FSharpTest.SprintfTest :   Expected: True
        But was:  False
		  at fsharp.FSh

[2018-08-03 14:47] rolfbjarne opened #9871 "iOS: interpreter asserts at launch in 32-bit mode (FIXME: ftnptr_arg page trampolines)"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. Run `make -C tests runner`
3. Run the `mini/iOS Unified 32-bits - device/Debug (interpreter)` test.
4. Execute and run all the tests

### Current Behavior

    error: FIXME: ftnptr_arg page trampolines
    critical: Stacktrace:

    critical:   at <unknown> <0xffffffff>
    critical:   at (wrapper managed-t

[2018-08-03 15:00] rolfbjarne opened #9872 "iOS: 32-bit apps built with LLVM crashes at launch"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. Open tests/tests.sln
3. Select the `link all` project as the startup project, and select a Release32|iPhone configuration (this is a 32-bit only issue)
4. Execute the app

### Current Behavior

Crash at launch:

    (lldb) run
    Process 540 launched: '/work/maccore/mono-master/xamarin-macios/tests/linker/

[2018-08-03 15:58] marek-safar commented on #9871
@BrzVlad could you look into that while Bernard is away?

[2018-08-03 16:21] BrzVlad commented on #9871
I have untested code to fix this, but the reason it wasn't included was that interp + arm was not supported. I don't know if anything changed around that. I can fix this particular assert the other week (since I'll be FTO too), but I don't know if anything will work. @lewurm ?

[2018-08-03 16:50] lewurm commented on #9871
32bit was never supported, so at least it isn't a regression. I can have a look after vacation; I do have a 32bit iOS device so I can test/debug it.

@BrzVlad please submit the PR that fixes the assert and mark it do-not-merge, I'll take it over from there.

[2018-08-03 18:20] DustinCampbell commented on #9413
After moving OmniSharp to target net461, we're getting this on build as well: https://github.com/OmniSharp/omnisharp-roslyn/issues/1256#issuecomment-410336175

[2018-08-03 20:25] nealef commented on #8689
Here is a graph of the memory availability for the two cases:
![8689](https://user-images.githubusercontent.com/308986/43664139-27e529d4-97af-11e8-80e5-d3880ac4812d.png)

[2018-08-03 20:30] ermau opened #9875 "cpblk / System.Memory poor copy performance"
`cpblk` and `System.Memory`'s memory copy performance seems to significantly underperform `Buffer.BlockCopy` and `Marshal.Copy`, at least on 64bit.

[code]

[code]

[code]

BenchmarkDotNet code that produced above results:

[code]

[2018-08-03 21:20] Therzok commented on #9875
Might be easier to check if one of the benchmarks was marked as `Baseline=true`

[2018-08-03 21:22] elitest commented on #8225
I'm AFK for a week.  Next time I have a windows computer accessible I'll give it a shot.

[2018-08-03 21:33] ermau commented on #9875
@Therzok Good suggestion, I'll re-run and update.

[2018-08-03 22:04] vargaz commented on #9875
cpblk ends up using System.Buffer:Memcpy  ().

[2018-08-03 22:22] ermau commented on #9875
Updated the issue with a re-run with `Buffer.BlockCopy` as the baseline and added a mono / windows run from the same machine as the .NET run.

[2018-08-04 07:04] Stuart88 commented on #9058
+1 for this.

I'm trying to get to grips with Blazor, attempting to make one of my old C# console apps work in the browser.

It has a lot of Console.ReadLine calls for getting user input, so I've run into the same problem. Everything else works well apart from this.

I'm going to try to to find a workaround, but yes it would definitely be nice to have ReadLine() not looping forever!

[2018-08-04 07:17] MattL0 opened #9883 "Can't load ASPX Page on stable mono releases. Works only on Mono 5.0.1.1"
Hi,

The program Homeseer use mono to run itself on Linux. But people who wants to load .aspx pages from it can't do it with the stable Mono version. It only works with Mono 5.0.1.1. So to use .aspx page we have to downgrade mono to 5.0.1.1

It would be nice to get the .aspx function back in the stable release.

Thank you so much.

[2018-08-04 07:31] summer69guy commented on #9883
Here is a thread about it

https://forums.homeseer.com/forum/homeseer-products-services/homeseer-general-discussion-area/106906-my-homeseer-based-smart-home

[2018-08-04 07:32] summer69guy commented on #9883
an error exemple with mono 5.8.0.108

`System.Web.Compilation.CompilationException
error VBNC30248: CHANGEME

Description: Error compiling a resource required to service this request. Review your source file and modify it to fix this error.
Details: error VBNC30248: CHANGEME
Error origin: Compiler
Error source file: ~/Global.asax
Exception stack trace:
  at System.Web.Compilation.AssemblyBuilder.B

[2018-08-04 08:49] summer69guy commented on #9883
just tried to load a aspx web page with the latest mono release on debian :

Description: Error compiling a resource required to service this request. Review your source file and modify it to fix this error.

Details: error VBNC30248: CHANGEME

Error origin: Compiler

Error source file: ~/Global.asax

Exception stack trace:

at System.Web.Compilation.AssemblyBuilder.BuildAssembly (System.Web.Virtu

[2018-08-04 11:37] vargaz commented on #9875
So System.Buffer:Memcpy () uses the managed implementation, while BlockCopy () goes to unmanaged and uses the heavily optimized native implementation.

[2018-08-04 15:36] borgdylan commented on #9788
Such SIGSEGV cases have also happened on my machine running Ubuntu x64. No QEMU was being used in my case.

[2018-08-04 17:16] kant2002 commented on #9698
If I split file on chunks of 1Mb, then processing starts working.

[2018-08-04 19:03] TheBiggerGuy commented on #9788
@borgdylan OK I'll see if I can reproduce on x64 another time. What version of Ubuntu? I also assume you where outside of a Docker container.

[2018-08-04 21:11] borgdylan commented on #9788
Yes I was running in a standard unconfined process. It does not always happen, only every few runs.
"Few" can vary between machines. It may have something to do with threading.

[2018-08-05 04:42] jaykrell commented on #6949
Look at Boehm here too. Modern boehm just uses pthreads. Our uses Solaris threads or something ancient and irrelevant, I think.

[2018-08-05 07:41] marek-safar commented on #9796
@georgerb sorry, it's actually Mono 5.16 or newer

[2018-08-05 11:48] vargaz commented on #9870
Did this use to work ?

[2018-08-05 13:52] angeloc opened #9890 "undefined reference to mono_arch_get_interp_to_native_trampoline"
## Steps to Reproduce

1. Compile a minimal buildroot image with mono selected for a target mips architecture

### Current Behavior

./.libs/libmono-ee-interp.a(libmono_ee_interp_la-interp.o): In function `ves_pinvoke_method':
/home/angelo/br-test-pkg/sourcery-mips/build/mono-5.12.0.301/mono/mini/interp/interp.c:1192: undefined reference to `mono_arch_get_interp_to_native_trampoline'
collect2: err

[2018-08-05 16:01] mi-hol opened #9891 "GPG error: https://download.mono-project.com/repo/ubuntu preview-bionic InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY A6A19B38D3D831EF"
WSL can not retrieve Mono's public key from Ubuntu repository

## Steps to Reproduce

1. WSL - Ubuntu 18.04.1
2. sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF

### Current Behavior

error:
Executing: /tmp/apt-key-gpghome.5tmP6rjryd/gpg.1.sh --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831E

[2018-08-05 18:22] TheLastRar opened #9892 "Allow x86 and x64 libmono to coexist for x86 programs wanting to embed mono on systems running x64 mono"
## Steps to Reproduce

1. Build x86 program on a system with x64 mono installed.
or
1. Build x86 program on a system with x86 mono installed.
2. Deploy on a system with x64 bit mono installed.

### Current Behavior

libmono fails to link/load

### Expected Behavior

libmono is successfully linked/loaded

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

[2018-08-06 04:48] limjcst commented on #8908
@neomatrix369 I just found [a helpful link](https://stackoverflow.com/a/41595508). Try to add `--inprocess` before your `<TestAssembly.dll>`.

[2018-08-06 07:16] limjcst commented on #6176
I find a test case... There is something wrong with the coverage output of [my C# Toy](https://github.com/limjcst/CSharpToy/tree/nunit)

[2018-08-06 07:35] limjcst commented on #6176
I find a test case... There is something wrong with the coverage report of [my C# toy](https://github.com/limjcst/CSharpToy/tree/nunit)
Below is what I did,
* Run the latest mono docker, and the version is 5.12.0.226
* `apt-get install mono-profiler`, the version is 4.2-2xamarin12+debian8b1, and the APT-Sources is `http://download.mono-project.com/repo/debian/ stable-jessie/snapshots/5.12.0.226/ma

[2018-08-06 07:46] marek-safar commented on #6176
@limjcst could you create a new issue for your problem

[2018-08-06 08:08] Marshal313 opened #9897 "Native assertion failure when Npgsql is trying to execute command"
## Note
I got this exception when trying to execute a command using Npgsql (Postgres database access library), But the exception is thrown from Mono Runtime and is not related to Npgsql. Though, I mention the steps I took to reproduce the error, using Npgsql .

## Steps to Reproduce
1. Given that PostgreSQL is installed and a database is present, add Npgsql through Nuget
2. As described in [Here](

[2018-08-06 08:31] limjcst opened #9898 "Excuted method is reported to be not covered with coverage profile."
There is something wrong with the coverage report of [my C# toy](https://github.com/limjcst/CSharpToy/tree/nunit)

## Steps to Reproduce

1. `docker pull mono && docker run -it mono /bin/bash`, and below commands happen in the docker container.
2. `apt-get update && apt-get install -y mono-profiler git`
3. `git clone --single-branch -b nunit https://github.com/limjcst/CSharpToy.git`
4. `cd CSharpT

[2018-08-06 08:34] limjcst commented on #6176
[Done](9898)

[2018-08-06 10:47] marek-safar commented on #9891
@directhex could you check this

[2018-08-06 10:48] marek-safar commented on #9890
/cc @lewurm @BrzVlad

[2018-08-06 10:52] #9869 closed

[2018-08-06 10:53] Rombersoft opened #9900 "Mistake of compilation"
## Steps to Reproduce

1. Create such method
[code]
Where _assets is static System.Collection.Generic.Queue<> type
2. Call this method and analize wasted time for executing
[code]
### Current Behavior

at first time calling this method wasted time is 1.5 sec. But next times wasted time is normal

### Expected Behavior

wasted time must be less than 100 ms

## On which platforms did you notice this

[2018-08-06 11:35] akoeplinger commented on #9900
I'm not sure what you're trying to show here? Based on your remark I'd say the code involving `_loader` is taking the time, not `_assets.Count` ?

[2018-08-06 11:53] Rombersoft commented on #9900
I'm sorry. This is my mistake.

[2018-08-06 11:53] Rombersoft commented on #9900
I'm sorry. This is my mistake.

[2018-08-06 11:53] #9900 closed

[2018-08-06 12:21] marek-safar opened #9901 "2018-08 Mono Release"
# Products integration

## Visual Studio for Mac

Integrator: @akoeplinger

Pull Requests:
 - [x] https://github.com/xamarin/md-addins/pull/3451

## Xamarin.Android

Integrator: @EgorBo

Pull Requests:
 - [x] https://github.com/xamarin/xamarin-android/pull/2048
 - [x] https://github.com/xamarin/monodroid/pull/827

Wrench:
 - https://wrench.internalx.com/Wrench/index.aspx?lane=monodroid-mavericks-m

[2018-08-06 12:35] p-lad commented on #9318
Hello @lewurm,
Tested with Xcode 10 beta 5 builds , we are able to build the WatchApp in Release mode and also we have successfully submitted the WatchApp to app store.

Build taken from:-
https://github.com/xamarin/release-manifests/blob/Xcode10/manifests/xcode10-beta5-webpreview3.json

Build Info:-
Mojave OS 18A347e
Xcode Version 10.0 beta 5 (10L221o)
Visual Studio Enterprise 2017 for Mac Versio

[2018-08-06 14:40] stmax82 opened #9903 "Bitmap.Clone ignores PixelFormat"
The following piece of code loads some example image and saves it as bitmaps with three different pixel formats.

On Windows / .NET Framework (tested on Win 10, .NET 4.7) this generates three bitmap files **with 8, 24 and 32 bits per pixels (as expected)**.

On Mono (tested on a Raspberry / Raspbian) this generates three bitmap files **with only 24 bits per pixel. It seems to ignore the new PixelF

[2018-08-06 14:44] mattleibow opened #9904 "[mono-api-tools] The HTML and Markdown diffs can't handle generic types"
When generating a API diff against generic types, the name includes the backtick name:

HTML:
[code]

Markdown:
[code]

API Info:
[code]

[2018-08-06 14:57] directhex commented on #9891
Can you make sure you have `dirmngr` installed? It seems it might be in the regular base install of Ubuntu, but missing from the WSL image

[2018-08-06 15:34] stmax82 opened #9906 "Bitmap from IntPtr garbles the image"
I'm trying to grab images from an industrial GigE camera.

The library of the camera returns images using IntPtrs and uses the following Bitmap constructor to create nice .NET Bitmap objects:

[code]

It looks like there's a bug in Mono's implementation of this constructor because I get garbled images on Mono, but nice images on Windows / .NET Framework.

Below is some code that simulates the came

[2018-08-06 15:56] kdubau commented on #8893
Both of these options have been tested and work as suggested.

[2018-08-06 15:58] luhenry commented on #9868
This has nothing to do with Mono, and all to do with XA build of Mono /cc @jonpryor

The problem here is if you specify `/p:AndroidSupportedTargetAotAbis=armeabi` without `/p:AndroidSupportedTargetJitAbis=armeabi`, it will **not** build `armeabi`, but it will build `cross-arm` which _depends_ on `armeabi`.

@jonpryor where should you fix it? Are you going to fix it on `xamarin-androuid:master` whi

[2018-08-06 16:17] marek-safar opened #9909 "Add wasm profile to linker diff automation"
Please add wasm profile to linker diff script

[2018-08-06 16:58] garuma opened #9912 "2018-04 fails to build monodevelop/master"
[code]

Mono from: https://github.com/mono/mono/commit/f3a2216b65aa881c40ee34763b8517296f9f8a63
dotnet core version: 2.1.302
monodevelop: 72a4f53dbab926cf214d652f6819ff296da15f49

The latest build from the 2018-02 branch works fine in the same scenario.

[2018-08-06 17:51] lewurm commented on #9318
Thank you @p-lad!

[2018-08-06 17:51] #9318 closed

[2018-08-06 21:39] KirillOsenkov commented on #9475
Here's a helpful link on how to uninstall Mono in case anyone else wonders:
https://www.mono-project.com/docs/about-mono/supported-platforms/macos/#uninstalling-mono-on-macos

[2018-08-06 22:14] lambdageek opened #9921 "Hybrid/coop suspend: We need a wrapper for malloc"
# Summary of the problem

We don't know what third-party code will take locks.  Where third-party includes things like "libc" and "the kernel".

In order for hybrid and cooperative suspend to work correctly without deadlock, logically suspended threads (that is, threads that the suspend initiator perceives as suspended) must not prevent any running thread from being able to reach a safepoint.

One

[2018-08-06 22:18] jaykrell commented on #9921
LD_PRELOAD? Detours? I've been wanting to port Detours to Linux, but there are synchronization  problems, and some slightly non-obvious parts of the port -- CreateProcess(suspended) == fork(). LD_PRELOAD goes far, if you are in control of process launch.

[2018-08-06 23:05] #8575 closed

[2018-08-06 23:05] #9542 closed

[2018-08-06 23:05] #9753 closed

[2018-08-07 00:16] nealef commented on #8689
The leak only appears to happen if the handshake fails. If the URL is changed so that the request returns 404 things are fine. I have obtained trace output of the working and non-working case and the paths diverge at, unsurprisingly,```Mono.Btls.MonoBtlsContext:DoProcessHandshake ()result=<n>``` where n=0, for the non-leak case, and n=1 for the leak case:
Non-leaking -
[code]
Leaking -
[code]
I am

[2018-08-07 00:33] nealef commented on #8689
Further information from mprof-report with the --traces option:
[code]
So now it appears that we are not cleaning up after the diagnostics have been produced and that's where I am stuck at the moment.

[2018-08-07 02:05] alexanderkyte opened #9925 "Further specify the CultureInfo memory lifetimes"
Apple's Instruments measured a many-megabyte memory leak associated with the CultureInfo. I fixed this by caching the string. Instruments confirmed that it now only makes a single icall (which on OSX unfortunately allocates a full 16mb because of how the native API is).

A straightforward reading of how the API is meant to work suggests that my change shouldn't have fixed anything!

For bugs week,

[2018-08-07 10:04] 0xd4d opened #9934 "Step Over fails if first seq point has MONO_SEQ_POINT_FLAG_NONEMPTY_STACK"
1. No PDB file
2. Step Over a method call

It very often misses the breakpoint and instead hits the breakpoint in the caller method (thus stepping out instead of over).

Here's what happens (verified with Unity's 2018.2-mbe branch, but the relevant code seems identical to latest mono master):

The stepper BP is hit: mono_de_ss_update

https://github.com/mono/mono/blob/master/mono/mini/debugger-eng

[2018-08-07 12:08] akoeplinger opened #9935 "tests/src/baseservices/threading/readerwriterlockslim/upgrader.cs CoreCLR acceptance-test fails"
## Steps to Reproduce

1. Run third party acceptance tests, via `make -C acceptance-tests coreclr-runtest-basic`
2. Observe tests/src/baseservices/threading/readerwriterlockslim/upgrader.exe test failing

This was most probably introduced by https://github.com/mono/mono/pull/9811. /cc @lambdageek

### Current Behavior

[code]

### Expected Behavior

No failure.

## On which platforms did you notic

[2018-08-07 13:42] Macjon commented on #7683
I'm still having this issue while profiling a xamarin.ios app.

`error: * Assertion at /Users/builder/data/lanes/5944/64fece5f/source/xamarin-macios/external/mono/mono/profiler/log.c:555, condition `mono_lls_insert (&log_profiler.profiler_thread_list, hp, &thread->node) && "Why can't we insert the thread in the LLS?"' not met`

[2018-08-07 14:46] directhex commented on #7854
Mkbundle takes hours these days, due to the on-prem/off-prem publishing issue, but that job is running at https://jenkins.mono-project.com/job/ng-extract-mkbundle-runtimes/49/console

[2018-08-07 15:17] objectboy2016 opened #9938 "How efficient is mono? Is there a test?"

[2018-08-07 15:18] mi-hol commented on #9891
seems installed and microsoft repository for <PowerShell got added earlier

sudo apt-get install dirmngr
Reading package lists... Done
Building dependency tree
Reading state information... Done
dirmngr is already the newest version (2.2.4-1ubuntu1.1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

sudo apt update
[sudo] password for mihol:
Get:1 http://security.ubuntu.com/ubuntu b

[2018-08-07 15:44] directhex commented on #9891
If you want to take the same approach, passing curl to apt-key add, you can:

`curl https://download.mono-project.com/repo/xamarin.gpg | sudo apt-key add -`

[2018-08-07 16:19] mi-hol commented on #9891
1. Thx, this worked
curl https://download.mono-project.com/repo/xamarin.gpg | sudo apt-key add -
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2125  100  2125    0     0    362      0  0:00:05  0:00:05 --:--:--   494
OK

2. Original command gives error not a key ID: skipping
sudo ap

[2018-08-07 16:25] kumpera commented on #9921
We can't count on syscalls being safe.
First, we must not use syscalls on Apple platforms as they are implementation details. We must rely on libc wrappers.
Any libc wrapper can interposed with code that takes locks. Instruments does it for mmap and so it's not possible to do memory profiling with it and mono cuz we deadlock quite easily.

[2018-08-07 16:39] jaykrell commented on #9921
Agreed syscalls are at somewhat implementation-defined/changing/indeterminate places, must wrap higher level.

For layers to interpose locks where there weren't any normally is kinda a breaking interface change to be avoided, alas. Though lock presence is also implementation detail, it is dangerous to add them.

Syscalls themselves cannot take locks that are exposed to usermode as that would mean

[2018-08-07 17:04] marek-safar commented on #9935
@lambdageek this looks like a regression, could you confirm

[2018-08-07 17:16] SteveSandersonMS opened #9941 "WASM: Use BrowserHttpMessageHandler when available"
As just discussed with @kumpera, @marek-safar, @kjpou1

Rodrigo's proposal is that the Mono WebAssembly BCL can use reflection to check at runtime whether the assembly `Microsoft.AspNetCore.Blazor.Browser` is loadable, and if so, load the type `Microsoft.AspNetCore.Blazor.Browser.Http.BrowserHttpMessageHandler` from it, and use that as the default `System.Net.Http.HttpMessageHandler` subclass for

[2018-08-07 17:49] lambdageek opened #9943 "System.Reflection.Assembly.LoadFile should throw ArgumentException for relative path name"
Calling `System.Reflection.Assembly.LoadFile` with a relative path name should throw an `ArgumentException ("Absolute path information is required.")`

## Steps to Reproduce

1. Compile and run this program:

[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:
Mono JIT compiler version 5.

[2018-08-07 17:52] lambdageek commented on #9943
Note that the behavior of `LoadFile` is different from `LoadFrom` which on .NET Framework appears to work with relative paths (relative to the current working directory).

[2018-08-07 18:45] nealef commented on #8689
Interestingly, if I run the program below and check its heap shots I see no ```System.Diagnostics.xxxx``` objects in the report. So what would cause these objects to be seen as active in the original test?

[code]

[2018-08-07 19:43] lambdageek commented on #9935
Thanks, I'll take a look

[2018-08-07 23:37] lambdageek opened #9947 "AOT images compiled with safepoints should be usable with MONO_THREADS_SUSPEND=preemptive"
If Mono is compiled with hybrid or cooperative suspend on by default, AOT images for mscorlib.dll and other assemblies will be created with safepoints enabled.

If you then run `MONO_THREADS_SUSPEND=preemptive mono Foo.exe` you will get:
[code]

We should allow the AOT images with safepoints to be usable in a runtime with safepoints disabled.

This affects `master` and `2018-08`

[2018-08-08 00:34] nealef commented on #8689
If I make the following change:
[code]

The mprof report now shows for Heap shot 92:

[code]

And no sign of the StackTrace/StackFrames etc.

[2018-08-08 00:51] jaykrell opened #9951 "cross build regressed wrt System.Native and "shm_open that works well enough with mmap""
## Steps to Reproduce

1. on e.g. linux amd64:
`./autogen.sh  CFLAGS="-g -O0" -disable-nls -disable-system-aot --host=arm-linux-gnueabihf CC=arm-linux-gnueabihf-gcc -enable-cross-compiling`

### Current Behavior

[code]

### Expected Behavior

Uncertain. Perhaps success and compile and link, perhaps not.
Maybe cross builds too esoteric.

We have defaults in some places and don't run programs.

[co

[2018-08-08 00:52] jaykrell commented on #9951
I will workaround by setting ac_cv_func_shm_open.

[2018-08-08 02:15] nealef commented on #8689
Graph of memory usage with the mod:
![8689-mod](https://user-images.githubusercontent.com/308986/43812463-6e4d6eda-9a8f-11e8-838d-75316eee74ed.png)

[2018-08-08 03:41] elitest opened #9956 "mkbundle: ' error: ‘mono_aot_register_module’ undeclared (first use in this function)'"
## Steps to Reproduce

1. Install mono nightlies on ubuntu 16.04 according to mono docs using mono repos
2. Download IronPython latest binary release
3. Run 'mkbundle -o IPY -L /usr/lib/mono/4.5 ipy.exe'

### Current Behavior

[code]

### Expected Behavior
It should bundle the application right?

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

**Version Used**:
[code]

[2018-08-08 03:48] nealef commented on #8689
@marek-safar @baulig Would you review the two patches I've

This one reduces System.Byte[] from thousands of 16850 and 16400 byte arrays (also should they both be 16400 - or 16384 + 16 bytes)
[code]

This one gets rid of all the Diagnostic objects and most of the String objects after an Exception during the Btls exchange

[code]

[2018-08-08 06:45] jaykrell opened #9958 "Assertion at mini-exceptions.c:1362, condition `ud->num_frames + 1 < ud->max_frames' not met"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Failures such as:

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/8478/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-08-08 07:25] jaykrell opened #9959 "sgen-regular-ms-simple.sgen-new-threads-collect.exe_timedout and sgen-regular-ms-simple.sgen-new-threads-collect.exe_timedout"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Failures, for example:

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

macOS

[2018-08-08 10:25] Suchiman commented on #9941
Related to #7933

[2018-08-08 15:14] lambdageek commented on #9959
This is partly addressed by #9916.  But I've also observed this particular test hang on osx in `free` here (inside `mono_thread_info_uninstall_interrupt`)
https://github.com/mono/mono/blob/b3c9487377a8d2116ef68e790b21fc9eacb0b3a3/mono/utils/mono-threads.c#L1694-L1699

Ultimately this is an instance of #9921

[2018-08-08 16:07] #9935 closed

[2018-08-08 16:20] marek-safar opened #9973 "Update framework facades list used by loader"
We have added few assemblies recently but didn't update https://github.com/mono/mono/blob/e8c3dc775bf4a9c6e5f313702fcdd94fc38fd21d/mono/metadata/assembly.c#L97 accordingly (at least we should document mobile only additions)

Related PR https://github.com/mono/mono/pull/9968

[2018-08-08 17:59] jonpryor opened #9980 "Mono doesn't like a class with 999999 fields"
Consider the following script:

[code]

Run the script, and compile the resulting output:

[code]

Run the resulting assembly:

[code]

Expected results: Execution shouldn't take an eternity.

Actual results: *It took **9 minutes***.

Additional info:

[code]

[2018-08-08 18:14] jonpryor commented on #9980
For giggles, @jaykrell asked about the C++ version.  (Because giggles?)

The script I used:

[code]

Build:

[code]

A ***51MB*** binary.

Execution:

[code]

˜Instantaneous.

[2018-08-08 19:16] vargaz commented on #8627
Dup of #8848.

[2018-08-08 19:33] pjcollins opened #9984 "[XA/2018-04] Unable to compile Android project with "Embed assemblies in native code" enabled"
## Steps to Reproduce

1. Enable the "Embed assemblies in native code" project option in a new or existing Android project and attempt to archive or deploy the project to a device/emu.

### Current Behavior
Packaging fails due to a missing file:
[code]

### Expected Behavior
Packaging succeeds.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:
https://g

[2018-08-08 22:02] athas opened #9989 "Incorrect rounding for double-precision number that is 0.5 + epsilon"
## Steps to Reproduce

Use this program, which constructs the smallest double that is larger than 0.5 and rounds it.

[code]

### Current Behavior

0.5000000000000001 is rounded to 0.  The output is:

[code]

### Expected Behavior

0.5000000000000001 should be rounded to 1.  This is also what the CLR does (as well as Python, C, and all other languages I tried).

## On which platforms did you notic

[2018-08-08 22:15] alexanderkyte commented on #9984
Looks like https://github.com/mono/mono/commit/170e9442c976ed6cd4a499093e11a9e12e7368bb is a related change, though it was merged after 2018-04 AFAICT

[2018-08-08 22:26] alexanderkyte commented on #9984
It seems like @ludovic and @jonp incorporated this dependency here: https://github.com/xamarin/xamarin-android/commit/90edf815a679a7e5488733d7629ef45a6ba75751

putting the requirement on master here:
https://github.com/xamarin/xamarin-android/blob/90edf815a679a7e5488733d7629ef45a6ba75751/src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj#L585

But the required mono commit here:
htt

[2018-08-08 22:26] alexanderkyte commented on #9984
Credits: @jaykrell is very fast with github, he found `170e944`

[2018-08-08 22:28] jonp commented on #9984
I think you meant to tag @jonpryor

[2018-08-08 22:59] luhenry commented on #9984
It's been backported to `mono:2018-04` with https://github.com/mono/mono/pull/8788, so it's very likely to be the commit at fault.

[2018-08-08 23:02] luhenry commented on #9984
The corresponding PR on XA https://github.com/xamarin/xamarin-android/pull/1503

[2018-08-08 23:06] luhenry commented on #9868
Fixed in https://github.com/xamarin/xamarin-android/pull/1503

[2018-08-08 23:06] #9868 closed

[2018-08-09 04:06] nealef commented on #8689
Come to think of it, shouldn't all that stuff be cleaned up upon the successful completion of the GetResponse() as well - if the KeepAlive property is not true? Each time in the loop if our test program a new httpwebrequest for ssl connections will result in ctx, ssl, bio, errbio ... objects that become orphaned? For persistent connections the Close operation would be responsible for the cleanup.

[2018-08-09 07:15] alex-mazzariol opened #9996 "The type initializer for 'System.Data.Entity.Core.Objects.ELinq.ExpressionConverter' threw an exception. (regression in Mono 5.14)"
## Steps to Reproduce

1. Have a project for .NET Framework 4.7 with EntityFramework 6.2 (downloaded from NuGet) connecting to a database
2. Try an operation with the database
3. Operation initializes ELinq.ExpressionConverter, which results in ArgumentNullException

A test-case has been attached: [mono-elinq-test.zip](https://github.com/mono/mono/files/2273250/mono-elinq-test.zip)

## Steps to Us

[2018-08-09 08:20] deinok opened #9997 "Meta-Mono - Image for Yocto"
Hi, I'm using mono in an embeded device, running Yocto.
I have been using this layer http://layers.openembedded.org/layerindex/branch/master/layer/meta-mono/

Seems like it is no official from mono community.
I would like to know if there is any plans to mantain an official layer for Yocto

[2018-08-09 10:49] mi-hol commented on #9891
just found this is WSL bug that is now fixed in W10 insider preview https://github.com/Microsoft/WSL/issues/3286

[2018-08-09 11:27] petlof commented on #9956
I'm having the same issue here when upgrading to Mono 5.14

Mono JIT compiler version 5.14.0.177 (tarball Sat Aug  4 08:28:13 UTC 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           __thread
        SIGSEGV:       altstack
        Notifications: epoll
        Architecture:  amd64
        Disabled:      none
        Misc:          sof

[2018-08-09 12:30] angeloc commented on #9890
@lewurm : It works, thanks for your support!

[2018-08-09 12:30] #9890 closed

[2018-08-09 12:47] BlackDex opened #9998 "Mono application with dark GTK+ themes do not look good and no override available"
## Steps to Reproduce

1. Use a Linux OS (Ubuntu 16.04)
2. Use a dark theme (Arc-Dark/Arc-Darker)
3. Start a mono application (Keepass2)
4. Doesn't look well.

Extra steps:
Most (if not all native GTK+) application support the GTK_THEME or GTK2_RC_FILES Environment variables to override the theme to be used for that application.
1. start the application like `GTK_THEME=Arc keepass2` or `GTK_THEME=

[2018-08-09 16:14] #9891 closed

[2018-08-09 17:33] alexanderkyte commented on #9984
I think you have an undocumented dependency on a recent VS4M version here. "Embed assemblies in native code" is missing from the "Android build" section on the mainline VS4M.

I cannot find that string anywhere in the source of monodevelop. Is this proprietary?

[2018-08-09 17:36] pjcollins commented on #9984
@alexanderkyte this feature requires that you be logged in with an "Enterprise" license for it to be visible. If you log in to VS Mac with your Microsoft account it should be present.

[2018-08-09 17:50] alexanderkyte commented on #9984
If you look at the build log for the linked android package, in package.log we never include that file, but in make.log we build it.

I believe this to be a bug in the android build system.

[2018-08-09 18:03] TheLastRar commented on #7562
I fixed this crash by setting the current domain to the root domain and not the domain I was unloading

[2018-08-09 18:03] #7562 closed

[2018-08-09 18:30] luhenry commented on #9984
Likely fixed with https://github.com/xamarin/monodroid/pull/828

[2018-08-09 18:35] joncham opened #10000 "Type.IsSubclassOf Performance Regression"
## Steps to Reproduce

1. Run test case below

[code]

### Current Behavior

[code]

## On which platforms did you notice this

[ x] macOS
[ ] Linux
[x ] Windows

**Version Used**:

See version comparison above

[2018-08-09 18:37] migueldeicaza commented on #9998
I do not think that this issue is related to Mono, that is an issue of your enviroment.

[2018-08-09 18:37] #9998 closed

[2018-08-09 19:25] lambdageek commented on #10000
So this is just hammering this function:
https://github.com/mono/mono/blob/36956720f7a3e854b467bf6dbd7aedd8d142e1ae/mcs/class/referencesource/mscorlib/system/rttype.cs#L3708-L3733

which is... several icalls and a while loop with an icall in it.   We should probably dive down to native sooner.

[2018-08-09 19:34] vargaz commented on #10000
We used to:
https://github.com/mono/mono/blob/mono-3.4.0-branch/mono/metadata/icall.c#L1496

[2018-08-09 19:38] baulig opened #10004 "[System]: Using NetCore APIs from System.Core"
CoreFX's internal [`ECDsaSecurityTransforms`](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/ECDsaSecurityTransforms.cs) class (which lives in `System.dll` because it uses other internal code from this assembly) overrides [`ECDsa.TrySignHash(ReadOnlySpan<byte>, Span<byte>, out int)`](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptogr

[2018-08-09 19:44] baulig opened #10005 "Running xUnit tests on iOS and XamMac"
I have written some experimental code to build and run xUnit tests on iOS and XamMac, which can be found in my latest work branch:

- https://github.com/baulig/mono/tree/work-canary/sdks/ios/xunit
- https://github.com/baulig/mono/tree/work-canary/sdks/mac/xunit

This branch is currently based on 2018-06 and it will be retired and replaced with a new one based on 2018-08 when I'm back from my vacat

[2018-08-09 19:49] TheLastRar opened #10006 "Embedding, Hang when unloading domain that has used in winforms in a destructor method"
If a shared library tries to unload a domain, that has used System.Windows.Forms, via a function with the destructor attribute, the program will hang.

I know this is similar to an issue I had opened previously, however, I believe this deserves it's own issues as the symptoms are different and it wasn't fixed by the actions I took in that issue.

(Sample code attached)
Managed Dll
https://github.c

[2018-08-09 21:06] lambdageek commented on #9921
I'm still infatuated with the idea of a two-phase suspend:
* In the first phase:

   * cooperatively suspend all GC Unsafe threads
   * for GC Safe threads, switch them to `BLOCKING_SUSPEND_REQUESTED` thread state but don't bother sending a signal yet.
   * wait for the coop threads to reach safepoints.

   We can do this because `mono_threads_transition_request_suspension` will return `ReqSuspend

[2018-08-10 01:24] kg opened #10014 "On android and iOS ConvertTimeFromUTC reports incorrect times near changeover from DST to Standard time zones. (migrated from bugzilla)"
Migrating an unresolved issue from bugzilla so we can continue to track it. https://bugzilla.xamarin.com/show_bug.cgi?id=60479

Our handling of time zone conversions near DST changeover points is incorrect due to various problems with our TZ database parsing code (ParseTZBuffer). Some platform specific differences appear due to ifdefs and using system tz databases vs ones shipped with the app.

A

[2018-08-10 02:28] necrose99 opened #10016 "arm64 linux fails.."
git clone  , do build instructions , as well with llvm also fails...
@gentoo Linux , ebuild or fresh git clone fils to build..

[code]

[2018-08-10 03:25] Thaina opened #10018 "Is it possible to have Mono compiler to wasm as wasm?"
What is the roadblock that stop us from having mono compiler as wasm that could be loaded into browser and compile C# to wasm directly in browser?

[2018-08-10 12:38] jeromelaban commented on #9941
This direction is a bit too tied to a specific framework/library implementation. Could the implementation be based on something like this instead:

https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/System.Net.Http/System.Net.Http/HttpClient.android.cs#L18

The source of the issue is still that the default `HttpHandler` cannot be changed globally in the .net (or .

[2018-08-10 15:01] kumpera commented on #8378
With #9626 we get the proxy code in the mono repo and the proxy lib shipping with mono-wasm.zip

[2018-08-10 15:33] MaximLipnin opened #10024 "Array ctor with negative length throws TargetInvocationException instead of OverflowException"
## Steps to Reproduce
Execute the following snippet
`typeof(object[]).GetTypeInfo().DeclaredConstructors.ToArray()[0].Invoke(new object[] { -1 });
`
or [this test](https://github.com/mono/corefx/blob/master/src/System.Reflection/tests/ConstructorInfoTests.cs#L96)

### Current Behavior
The code throws TargetInvocationException
### Expected Behavior
The code throws OverflowException as it occurs on