[2017-12-02 22:03] shevegen opened #6150 "Compile problem - error CS0006: Metadata file './../../../external/api-snapshot/profiles/net_4_x/System.Net.Http.dll' could not be found"
Hello.

Not sure if this is the right place to report this; please close this if it is the wrong place.

Upon trying to compile:

  http://download.mono-project.com/sources/mono/mono-5.9.0.569.tar.bz2

I ran into an error:

make[3]: Leaving directory '/Depot/Temp/mono-5.9.0.569/data'
make[2]: Leaving directory '/Depot/Temp/mono-5.9.0.569/data'
make[1]: Leaving directory '/Depot/Temp/mono-5.9.0.569

[2017-12-02 22:46] gene-l-thomas opened #6151 "fork() - Mono.Unix.Native"
I have noticed that in [mono/mcs/class/Mono.Posix/Mono.Unix.Native/Syscall.cs](https://github.com/mono/mono/blob/master/mcs/class/Mono.Posix/Mono.Unix.Native/Syscall.cs) fork() is #if'd out with the message "_DO NOT directly call fork(2); it bypasses essential shutdown code. Use System.Diagnostics.Process instead_".

What happens specifically? `fork()` starts a process, it does not shut anything d

[2017-12-02 23:29] alexischr commented on #6151
Hello @gene-l-thomas, please use https://bugzilla.xamarin.com/ to report issues/bugs or mono-devel-list@lists.dot.net to discuss Mono development topics . The 'Issues' Github feature seems to have been enabled by accident. We don't currently use it.

[2017-12-02 23:30] alexischr commented on #6150
Hello @shevegen , please use https://bugzilla.xamarin.com/ to report issues/bugs or mono-devel-list@lists.dot.net to discuss Mono development topics . The 'Issues' Github feature seems to have been enabled by accident. We don't currently use it.

[2017-12-02 23:30] #6150 closed

[2017-12-03 02:20] migueldeicaza commented on #6151
Please use the mailing list to discuss these topics, we will answer on `mono-devel-list` the reasons for that.

[2017-12-03 02:20] #6151 closed

[2017-12-03 09:51] lewurm commented on #6151
that's where you find `mono-devel-list`: https://lists.dot.net/mailman/listinfo/mono-devel-list

[2017-12-03 11:56] polterguy opened #6153 "Potential bug in HttpContext.RewritePath"
I have created my own URL rewriting logic, by making sure I invoke `HttpContext.Current.ReWritepath("~/Default.aspx", true)` in my Global.asax.cs inside of `Application_BeginRequest`. This should map all requests to a single page, my `Default.aspx` that is.

The problem comes later during the setting of my `ASP.NET_SessionId` cookie, and also the resolving of my `WebResouce.axd` files, but only if

[2017-12-05 14:49] wordodv opened #6161 "Memory leak when marshalling Delegate to native code"
In our project we send callback delegate to native code and found a memory leak at runtime.
This is a sample project that reproduce the problem.

[code]

"libnative" is a simple test programm that only execute callback.

Full test project added to attachement.
This leak reproduced on Mac and Linux on Windows all fine. With mono-boehm leak not reproduced, only with SGen.

Profiler show memory leak

[2017-12-05 21:44] kumpera commented on #6161
Hi, thanks for the test case.
What version of mono are you using? I think this was recently fixed.

[2017-12-05 21:46] kumpera commented on #6153
Hi,

Providing a test case would help people trying to fix your issue to validate it.

[2017-12-05 23:04] polterguy commented on #6153
Sorry, I should have given you feedback. I dropped mod_mono_auto, and used a more "manual configuration", and it magically vanished. I assume mod_mono_auto seems to believe I have multiple websites with my folder structure. Which seems the natural explanation, since it seems to JIT compile some additional stuff in my subfolders, since it spends 500MS the first request, and some 50-70MS on consecut

[2017-12-05 23:23] ivancitin opened #6165 "mono_os_mutex_lock: pthread_mutex_lock failed (failing in mac mono 5.8.0.88, but not in linux mono 5.8.0.22)"
Hello,

I'm trying to integrate mono and C, and everything looked good on linux, but when trying the same thing in mac i'm getting the failure:

mono_os_mutex_lock: pthread_mutex_lock failed with "Invalid argument" (22)

On mac, i'm able to compile everything the same way as in linux, using gcc and msbuild, but when executing with mono it fails.

I then found this example https://github.com/xplici

[2017-12-06 02:56] lambdageek commented on #6165
Hi, thanks for reporting this.  Could you provide a bit more info:
1. Are you building Mono on OSX from source or using a package? if you built from source, could you tell us the configure flags that you used?  if using a package, which one?
2. can you give us the output of the following:
[code]

(Also I don't think you need the glib-2.0 cflags and ldflags in order to build a library against a rec

[2017-12-06 04:03] wordodv commented on #6161
Mono JIT compiler version 5.4.1.6 (tarball Wed Nov  8 16:59:44 UTC 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
   TLS:           __thread
   SIGSEGV:       altstack
   Notifications: epoll
   Architecture:  amd64
   Disabled:      none
   Misc:          softdebug
   LLVM:          supported, not enabled.
   GC:            sgen (concurrent by defaul

[2017-12-06 04:12] wordodv commented on #6161
Looks like previously reported leaks of 5.4 were fixed by https://github.com/mono/mono/commit/4cf2b5feee0c3aed6b747105c141f48165bd0ae1#diff-889eecc0e02f623fc21d69e97f0983c4

But memory of the sample application attached here still is growing rapidly. Looks like  stub functions generated for delegates marshaling are never deleted from memory (mono/metadata/marshal.c: mono_delegate_to_ftnptr()).

[2017-12-06 05:30] ivancitin commented on #6165
Hi, thanks for the quick response.

I was using this package: https://download.mono-project.com/archive/5.8.0/macos-10-universal/MonoFramework-MDK-5.8.0.22.macos10.xamarin.universal.pkg

I forked and simplified further the @xplicit project and tried again, this time with the [official release](https://download.mono-project.com/archive/5.4.1/macos-10-universal/MonoFramework-MDK-5.4.1.6.macos10.xama

[2017-12-06 06:01] ivancitin commented on #6165
All good in a brand new Ubuntu 16.04 and mono 4.2.1 from the repo (using xbuild for this mono version):
<pre>
$ sudo apt install mono-devel

$ mono --version
Mono JIT compiler version 4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       altstack
	Notifications: epoll
	Architecture:

[2017-12-06 06:04] Therzok opened #6167 "Control intervals under which performance counters are gathered"
`LogProfiler` should provide API for fine-grained measurement of performance counters. Rather than reporting them every 1s, I would like 2 methods:

* GetPerformanceCounters - grab all perf counters collected until now
* ResetPerformanceCounters - reset all counters to 0.

[2017-12-06 13:59] Therzok opened #6169 "Thread objects are being leaked"
Starting a bg thread with `new Thread()` and starting it with either a parameter or not causes the code to leak the start method (and, if applicable, the start arguments).

The retention path for the parametrized start is `GCHandle -> InternalThread -> Thread -> ParametrizedThreadStart -> ThreadHelper -> <thread start parameter object> `.

The threads are definitely collectible and leaking, as `Th

[2017-12-06 14:10] Therzok commented on #6169
Sample app:
https://gist.github.com/Therzok/ce0dc57b27343019a7b3782ed0cbf9b1

Results on platforms:
https://gist.github.com/Therzok/1f03a14ea0641485e4b108253f7fb334

Seems like mono finalizes my object on program termination, rather than thread termination.

[2017-12-06 14:37] Therzok commented on #6169
Reproduced in:
`Mono JIT compiler version 5.9.0.578 (pull-request-6144/0dd90205c29 Sat Dec  2 10:51:55 EST 2017)`
`Mono JIT compiler version 5.8.0.89 (2017-10/b3b0613ad38 Tue Nov 28 12:18:29 EST 2017)`

[2017-12-06 15:07] alexrp opened #6170 "Switch to Mach thread suspend API for sampling"
Signal delivery on OS X is not very reliable. There are no real time signals nor signal queuing of any kind. This means that in programs with lots of threads, we lose tons of samples. To make matters worse, most sample signals tend to be delivered to a particular thread.

To solve this problem, the sampling background thread should instead use the Mach thread suspend APIs to suspend a thread, grab

[2017-12-06 15:11] alexrp opened #6171 "Runtime should free methods when profilers are attached"
`mono_free_method` currently does nothing if a profiler is attached. This is because of a bunch of hacks in the log profiler that result in keeping `MonoMethod` pointers around potentially for longer than their actual lifetime. The thread-local method list is one such hack.

We should investigate whether this can be fixed.

[2017-12-06 15:12] alexrp opened #6172 "Some profiler events are raised before profilers are loaded"
After adding some debug logging to `MONO_PROFILER_RAISE`, I get this:

[code]

While these events are not super important, we should still see if anything can be done about it. We might have to load profilers before the global code manager is initialized.

[2017-12-06 15:13] alexrp opened #6173 "Periodic heapshot mode calculates time difference incorrectly"
This results in too frequent heapshots (basically on every GC).

[2017-12-06 15:15] alexrp opened #6174 "Include object's current generation in TYPE_HEAP_OBJECT events"
The Xamarin Profiler team would like to know an object's generation in a heapshot.

[2017-12-06 15:16] alexrp opened #6175 "Expand the log profiler's command server"
The Xamarin Profiler team would like to be able to do the same things through the command server which are currently possible through the `LogProfiler` class in the `Mono.Profiler.Log` assembly.

[2017-12-06 15:17] alexrp opened #6176 "Add some basic coverage profiler tests"
While we do exercise the coverage profiler on the BCL on Jenkins, it would be nice to have some tests that actually verify the correctness of the output.

[2017-12-06 15:19] alexrp opened #6177 "Log profiler should provide field metadata events"
In particular, it would be nice to have field types, names, and offsets. With this information, a complete object graph with detailed field information could be constructed from a heapshot. Additionally, once #6144 is merged, static field offsets would make it possible to narrow down exactly which field a root comes from.

[2017-12-06 15:23] alexrp opened #6178 "Log profiler should provide startup time in stream header from same source as event timestamps"
The stream header should contain a startup time value from the same clock source as the timestamps used in events (i.e. a monotonic clock).

[2017-12-06 15:25] alexrp opened #6179 "Remove code coverage support from the log profiler"
We now have a dedicated coverage profiler that is working quite well and which we're exercising on CI. We also warn users who use the `coverage` option of the log profiler that they should switch to the new coverage profiler instead. All that's left is to remove the coverage support from the log profiler at some point.

[2017-12-06 15:25] alexrp commented on #6179
@luhenry @marek-safar @migueldeicaza when do you guys think it would be OK to do this?

[2017-12-06 15:31] alexrp opened #6180 "Log profiler's image load events should include the Mvid"

[2017-12-06 15:33] alexrp opened #6181 "Log profiler should write the current runtime's Aotid to the log format"
This is needed to look up debug information when using AOT.

[2017-12-06 15:35] alexrp opened #6182 "Investigate using Ward annotations in the log profiler"
It would be nice to try and use [Ward](https://github.com/evincarofautumn/Ward) annotations to catch violations of various invariants in the log profiler.

A few examples:

* We shouldn't try to write an event to a log buffer without holding the reader or exclusive lock.
* We shouldn't start writing a new event to a log buffer if we're already writing one.
* We shouldn't try to iterate the thread

[2017-12-06 15:38] alexrp opened #6183 "Graduate Mono.Profiler.Log to stable status"
What needs to happen:

- [ ]  Refine and stabilize the API.
- [ ] Remove the library from `MONO_API_ASSEMBLIES_IGNORED`.
- [ ] Include the library in the `mobile` and `xammac_4_5` profiles (possibly others).
- [ ] Start shipping the library in XA/XI/XM.

[2017-12-06 15:41] alexrp opened #6184 "Parallelize log buffer parsing in LogProcessor"
Since we read log buffers into a `MemoryStream` before actually parsing events from them, it should be entirely possible to parse multiple buffers in parallel, sort them by arrival order, and then actually process the parsed events from them serially.

[2017-12-06 15:48] alexrp opened #6185 "Provide line number information in log profiler backtraces"
On the surface, this seems simple enough: We can get this information more or less the same way we do when generating backtraces for exceptions. Where it gets a bit more complicated is when we have to get the information for async backtraces collected during sampling.

Additionally, we would need to come up with a good way to encode this information in the format without it taking up a tremendous

[2017-12-06 15:53] alexrp opened #6186 "Code coverage instrumentation logic should deal with inlining the same way as enter/leave instrumentation"
That is, `mono_method_check_inlining` should fail if `method` has coverage instrumentation enabled.

[2017-12-06 15:58] nddipiazza opened #6187 "mkbundle Linux - program doesn't run on system unless `mono-core` is installed"
Bugzilla ticket:
https://bugzilla.xamarin.com/show_bug.cgi?id=60753#bug_status_bottom

Some more info on Stackoverflow: https://stackoverflow.com/questions/47384100/c-sharp-application-built-with-mkbundle-doesnt-work

Basically I cannot launch a c# app built and bundled using mkbundle unless `mono-core` is installed.

I run `mkbundle --simple --static --deps -o ./SpFetcher bin/Release/SpPrefetchIn

[2017-12-06 16:14] alexrp opened #6188 "Consolidate the concept of a tools thread and a thread that has opted out of STW"
Right now, we have two ways of opting out of participating in STW:

* Attach as a tools thread (call `mono_threads_attach_tools_thread`).
* Attach normally and opt out (call `mono_gc_set_skip_thread`).

I believe that it would be completely fine for us to consolidate these two. Currently, a tools thread is basically just a thread that's attached through the `MonoThreadInfo` infrastructure *only* (

[2017-12-06 16:17] alexrp commented on #6188
cc @luhenry @kumpera

[2017-12-06 16:18] alexrp commented on #6184
cc @DavidKarlas

[2017-12-06 16:18] alexrp commented on #6178
cc @DavidKarlas

[2017-12-06 16:19] alexrp commented on #6177
cc @DavidKarlas @rodrmoya

[2017-12-06 16:19] alexrp commented on #6175
cc @rodrmoya

[2017-12-06 16:19] alexrp commented on #6174
cc @rodrmoya

[2017-12-06 16:19] alexrp commented on #6173
cc @DavidKarlas @rodrmoya

[2017-12-06 16:21] DavidKarlas commented on #6184
Here is example implementation https://github.com/DavidKarlas/Krofiler/blob/1d7f97ba8c809587adebec15c0e52035b3b87280/Mono.Profiler.Log/LogProcessor.cs

[2017-12-06 16:35] alexrp opened #6189 "Nonsensical profiler stress test assertion (possible stack corruption)"
Examples:

* https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-x86-x64/label=high-mem-ubuntu-1404-i386/484/testReport/junit/MonoTests/profiler-stress/couchbase/
* https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-x86-x64/label=high-mem-ubuntu-1404-amd64/471/testReport/junit/MonoTests/profiler-stress/fsharp/

There are no code paths in the runti

[2017-12-06 16:37] alexrp opened #6190 "Rare Roslyn timeout in profiler stress tests"
Example: https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-x86-x64/label=high-mem-ubuntu-1404-amd64/466/testReport/junit/MonoTests/profiler-stress/roslyn_timeout/

While this particular run had `sample-real=668`, that still shouldn't take 9 hours, especially considering GC allocation events and heapshots weren't enabled. Need to investigate if this is a profiler issue or

[2017-12-06 17:04] lambdageek commented on #6165
So what seems to be happening is that you end up with *two* copies of the mono functions in the process (note that the stacktrace frames 14-23 are all prefixed by ``mono` `` and the ones in 6-11 are in ``libmonosgen` ``).
And the icall mutex in `libmonosgen` hasn't been inited because that library was freshly loaded by `libperf.so`.

One solution is to build `libperf.so` without linking to `libmon

[2017-12-06 19:17] ivancitin commented on #6165
Hi Kliger,

Thank you for looking into this, building the shared library without linking to mono did solve the failure in Mac, and it doesn't cause a failure in Linux, this will certainly unblock me.

If you don't mind me asking a couple of follow up questions,...
- Do you consider this a solution or a workaround and there is something can be done at any time in your end to have same behavior in b

[2017-12-06 19:32] dubik opened #6192 "System.Reflection.Emit: PropertyBuilder with generic type doesn't add generic parameter"
I've got an issue with Mono when I generate IL with Reflection.Emit. I'm trying to do something similar to this:

[code]

with following code:

[code]

However when assembly looks like this:
[code]
As you see `Foo` type is wrong, it doesn't carry generic parameter (should be `class Foo<!0>::`). When I dump C# equivalent I get this:

[code]

Btw, on Windows, with Microsoft's Reflection.Emit it work

[2017-12-06 19:54] kumpera commented on #6161
Memory is releases when the delegate is collected.

[2017-12-06 20:47] kumpera commented on #6161
I can repro the leak. I'll take a look at it.
Thanks again for the test case!

[2017-12-07 08:33] dubik commented on #6192
Looks like it has nothing to do with properties. Just try to load or store to/from generic field.
[code]

Here is shorter repro app:
[code]

And this is the IL for GetElement():
[code]

[2017-12-07 13:26] expertmm opened #6197 "during make Got a SIGABRT while executing native code (using get-monolite-latest)"
OS: recently updated Antergos
As per README.md I did:
[code]
* please also take note that instructions under "Building Mono From a Git Source Code Checkout" on <http://www.mono-project.com/docs/compiling-mono/linux/> differs from README.md -- which is right?

but at some point during compile I get:

[code]
moved from <https://github.com/mono/mono-addins/issues/90>

[2017-12-07 15:15] kumpera commented on #6188
Hi Alex,

Do we need to care about making those flags be set at attach time? IE, have a `mono_attach_with_flags`? This is to make sure we don't accidentally STW/sample those threads.

Beyond that detail, this proposal looks good.

[2017-12-07 15:18] kumpera commented on #6153
Hi @polterguy,

I'm a bit confused, are you still seeing this issue? Is there something we could help you with to produce a test case?

[2017-12-07 15:37] DavidKarlas commented on #6185
First of all I don't like idea of storing filename+line number, primary because this way information is lost(multiple calls can be on same line or something similar) e.g. `if(cond) SomeMethod(0) else SomeMethod(2);` we don't know which path was taken...

I think best way to do this is to add additional --profiler:flag which makes JitDone events include `NativeOffset->IL map` for Jitted method. So

[2017-12-07 16:53] lewurm commented on #6197
My guess is something is off with your toolchain. Can you give some more details about the system you are running on? kernel version, compiler version, make version, autotools, etc.

[2017-12-07 16:57] lewurm commented on #6197
also `python` version would be useful to know. What mono revision do you try to build? it could be regression caused by this PR: https://github.com/mono/mono/pull/6140 /cc @vargaz

[2017-12-07 17:36] alexrp commented on #6188
That would probably be a good idea.

[2017-12-07 17:53] hussamT commented on #6197
Same issue here. Latest gcc 7.2.1 snapshot (archlinux), glibc 2.26/binutils 2.29.1, and python 3.6.3/perl  5.26.1.
linux 4.9.67
GNU Make 4.2.1
automake 1.15.1
autoconf 2.69

- 5.4.1.6 tarball builds correctly.
- 2017-12 branch fails to compile with the above error.
- I am pretty sure 2017-10 branch compiles correctly but the test was on another machine so I have to wait to tomorrow to double check

[2017-12-07 18:53] polterguy commented on #6153
Not really, the bugs was highly likely due to me using mod_mono_auto, in a site, where it did not fit. My bad :)

[2017-12-07 19:55] lewurm commented on #6197
@hussamT @expertmm can you try https://github.com/mono/mono/pull/6199 if that fixes your issue?

[2017-12-07 20:51] expertmm commented on #6197
My version should be the same as hussamT because I have an updated Antergos install as stated.

[2017-12-07 21:04] hussamT commented on #6197
I queued a new build with https://patch-diff.githubusercontent.com/raw/mono/mono/pull/6199.patch
I'll edit my post when it is complete.

[2017-12-07 21:05] PeteLewisUnity opened #6200 "[Unix] w32process-unix.c mono_w32process_signal_finished breaks all child process status queries"
This issue refers to this code here: https://github.com/mono/mono/blob/dd34edb9076b05cefd37b53bb8f0fb1b8f1884a3/mono/metadata/w32process-unix.c#L1408-L1414

This change severely impacts process management for Unix-based applications.

`waitpid(-1,...)` reaps _all_ zombie child processes of the calling process. See `man waitpid`. After a child process is reaped, it can no longer be queried. Because

[2017-12-07 21:56] lewurm commented on #6200
Hey @PeteLewisUnity, that sounds useful. Can you submit a PR with your suggested change, so we can give it a try on CI?

[2017-12-07 21:58] PeteLewisUnity commented on #6200
Absolutely! I've already made the change locally and am about to verify it. Expect it in the next few hours. Thanks!

[2017-12-07 23:31] colinjneville opened #6201 "C# compiler reports CS1540 on protected non-function member access even when there is a matching hidden public member in a base class"
With the following class structure, mcs (tested on Windows 5.4.1.0) fails with error CS1540 "Cannot access protected member \`B.Field' via a qualifier of type \`B'. The qualifier must be of type \`M.C' or derived from it", while VS C# 6.0 compiles and runs successfully. Casting to the base class which declared the public member to access the member avoids the error.

[code]
Complete example at htt

[2017-12-08 00:47] luhenry commented on #6200
Hi @PeteLewisUnity sounds indeed like a great idea, please submit a PR and assign it to me. Thank you!

[2017-12-08 00:47] expertmm commented on #6197
whoh there, it is not liking when system's default python is python3--try checking for python2 in bin before doing this:
[code]

[2017-12-08 00:54] luhenry commented on #6187
Hi @nddipiazza, to help us figure out where the assembly is loaded from, could you please run with `MONO_LOG_MASK=asm MONO_LOG_LEVEL=debug` environment variables defined, and share the log output from that run? Thank you.

[2017-12-08 00:56] #6153 closed

[2017-12-08 01:01] PeteLewisUnity commented on #6200
Sweet, thanks. Done. I don't know if you can see it before I've signed the CLA? Just waiting on legal to clear me to sign that (shouldn't be a problem).

[2017-12-08 02:20] expertmm opened #6204 "Rewrite versions.py as a C# script"
During make (using patch that fixes <https://github.com/mono/mono/issues/6197>), mono is not liking when system's default python is python3 (the `python` executable in path refers to python3 on some distros nowadays)--try checking for python2 (maybe with if file exists $(command -v python2) or checking whether python2 exists in path or something), before using python binary directly which would re

[2017-12-08 13:29] rjvdboon opened #6205 "Can't build mono-5.8.0.88.tar.bz2 on RHEL6.8 - gcc 4.4.7"
The build of the 5.8.0.88 tarball from `https://download.mono-project.com/sources/mono/mono-5.8.0.88.tar.bz2`
hangs at `CSC     [basic] mscorlib.dll`.

System:
- RHEL 6.8
- gcc 4.4.7
- python 2.7.9
- No existing mono installation (i.e. uses monolite)

Steps to build:
[code]

The same build steps using 5.4.1.6 build correctly.

[2017-12-08 15:17] rjvdboon commented on #6205
Building mono-5.8.0.88 using the mono-5.4.1.6 I just built hangs at `CSC     [build-linux] mscorlib.dll`
The hanging command line is now (CPU: 0%, VIRT: 1466M, RES: 367M):
[code]

strace: `futex(0x15d0b5c, FUTEX_WAIT_PRIVATE, 1, NULL` with nothing happening.

[2017-12-08 16:51] Ailincai-Nicolae-Rares opened #6207 ""\\csc.exe" is invalid"
I want to build the System.Data.SQLite to can work on Linux, but I have this error:
![img](https://i.imgur.com/Uzdr5Av.png)

https://system.data.sqlite.org/index.html/doc/trunk/www/downloads.wiki

[2017-12-08 23:51] lambdageek commented on #6192
Thanks @dbuik. I can reproduce the issue. Looks like we regressed some time after Mono 4.6.2.

We incorrectly emit a fielddef token for Foo::Element rather than a fieldref token for `Foo<!0>::Element`.

[2017-12-09 00:03] nealef opened #6208 "Finalizer Segment Fault"
1. Application Version: Trunk
2. redhat 6.5
3. intel x86
4. Description:
Running nunit runner we are getting a segment fault when the nunit running is exiting. After painful debugging of commits to the trunk I found the commit that was causing the problem. It was this one.

https://github.com/mono/mono/commit/be9821f888281a347b3128912c6dc94c294b9017

I commented out the cached_module_cleanup(); an

[2017-12-09 02:17] luhenry commented on #6205
Hi @rjvdboon, could you please provide us a stacktrace of the process that is stuck? To get a managed stacktrace send `SIGQUIT` to the process, and to get a native stacktrace attach with a native debugger. Thank you very much for your report.

[2017-12-09 09:09] Ailincai-Nicolae-Rares opened #6209 "SQLite Mono unable to load dll 'sqlite3' on Linux"
When I want to use SQLite Mono on Linux, I get this error:
![IMG](https://i.imgur.com/3CDmitL.png)

[2017-12-09 11:59] Therzok commented on #6169
This works fine on stable.

[2017-12-09 15:16] lewurm commented on #6209
@Ailincai-Nicolae-Rares did you follow the instructions from http://www.mono-project.com/docs/database-access/providers/sqlite/#prerequisites ?

[2017-12-09 19:13] neoxic commented on #6161
I can confirm this leak too (Mono 5.0). Waiting eagerly for a fix... Thanks!

[2017-12-10 11:08] alexrp opened #6211 "Rare shutdown crash in profiler stress tests"
Example: https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-x86-x64/label=high-mem-ubuntu-1404-i386/500/testReport/junit/MonoTests/profiler-stress/couchbase/

It looks like we try to call `mono_method_full_name` on a `MonoMethod` whose signature contains a type that's already been freed. This happens because we keep `MonoMethod` pointers around in the profiler for longer

[2017-12-10 23:34] ahzf opened #6213 "XBuild fails with "Error executing task CreateCSharpManifestResourceName: String literal not closed""
Hi... I found a strange little bug I really do not understand:

If have a .NET framework project serving files via HTTP(S). I also have some time script files which are Embedded Resources and get complied with the help of the tsconfig.json file. In Visual Studio 2017 CE everything is fine. But even with yesterdays mono version from GitHub I get the following error:

[code]

The problem seems to be

[2017-12-11 08:00] rjvdboon commented on #6205
sending `SIGQUIT` gives me the following output (i.e. nothing at all):
[code]
Native stacktrace (obtained through gstack) attached.
[mono-5.8.0.88-build-hang-on-rhel68.txt](https://github.com/mono/mono/files/1546952/mono-5.8.0.88-build-hang-on-rhel68.txt)

[2017-12-11 08:28] lewurm commented on #6205
@rjvdboon can you do this again with a mono runtime built with `./configure CFLAGS='-O0 -g'`? It would be useful to have line numbers etc.

Also, are you sure about `--enable-big-arrays` and `--with-large-heap`? As far as I know, we don't test those options.

[2017-12-11 08:54] rjvdboon commented on #6205
w.r.t. the options: we've been using those since mono 2.10. I'll check if what they (should) provide is still valid.

[2017-12-11 08:55] lewurm commented on #6205
for the sake of debugging this issue, it would be interesting if you can still reproduce if you don't use those options.

[2017-12-11 09:13] rjvdboon commented on #6205
yep, next thing to test after getting -O0 -g to actually produce linenumbers.
Something else I noticed: sometimes it hangs on `CSC [basic]` and sometimes on `CSC [basic-linux]`, must be racing somewhere.

[2017-12-11 10:28] rjvdboon commented on #6205
@lewurm No luck.
Still hanging without the `--enable-big-arrays --with-large-heap`.
Config status:
[code]

Last lines of calling `make` (building without any installed mono runtime):
[code]

Sending SIGQUIT still doesn't provide any stacktrace.
The output of gdb `thread apply all bt` is
[mono58088_hang_-O0-g.txt](https://github.com/mono/mono/files/1547354/mono58088_hang_-O0-g.txt)

[2017-12-11 17:30] luhenry commented on #6169
The regression has been introduced with https://github.com/mono/mono/commit/a08574bf9e4f27e3187a3f6edf7d99d32c28ad6c

[2017-12-11 18:24] marek-safar opened #6221 "Marek's testing"

[2017-12-11 18:27] alexanderkyte commented on #6204
Can we give our references to python and ruby throughout the codebase the same treatment? Figuring out which version of a VM is required to run a script in a couple of years is going to be even harder.

[2017-12-11 19:12] kumpera commented on #6161
This is a leak in mono_delegate_to_ftnptr when freeing the native MonoMethod signature. It happens because too much sharing of MonoType's that triggers memory corruption and thus we addressed that by not freeing the signatures.

As a workaround, use delegates to static methods, which don't suffer from this issue and have much superior performance.

[2017-12-11 19:14] migueldeicaza commented on #6204
Since we have such a tiny dependency on Python (scripts/submodules/versions.py), we should just rewrite this in C# and save ourselves the pain.

It looks like it is just used to process the `mono/acceptance-tests/SUBMODULES.json`

[2017-12-11 19:27] akoeplinger commented on #6204
genmdesc was recently rewritten in Python as well so we can't really get rid of it for the build: https://github.com/mono/mono/pull/6140

[2017-12-11 20:15] neoxic commented on #6161
So this bug was introduced by trying to conceal another bug, right? Are there plans to address the underlying issue to break this vicious cycle? Thanks!

Static delegates will require to explicitly pass `this` through P/Invoke calls type casting it on the way. This will in turn reduce type safety and can potentially introduce subtle hard-to-find bugs. Might work as a temporary workaround of course

[2017-12-12 00:40] lewurm commented on #6205
I meant line numbers in the native stack trace, which is the case now 🙂 thanks! Alas, it's not obvious from the logs for me _why_ it's hanging, I'm gonna try to see if I can replicate the setup so I can reproduce the issue.

In the meanwhile I would appreciate if you could test with current `master`, it might got fixed already there (building from the git repository is almost the same; instead of

[2017-12-12 01:07] akoeplinger commented on #6213
`xbuild` is deprecated, please try using `msbuild` instead.

[2017-12-12 01:24] NattyNarwhal opened #6228 "Infinite loop of infinitely increasing wait times upon termination of runtime"
* **Version**: Mono JIT compiler version 5.11.0 (master/2b90049bcce Mon Dec 11 17:05:00 AST 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           normal
        SIGSEGV:       normal
        Notification:  Thread + polling
        Architecture:  amd64
        Disabled:      none
        Misc:          softdebug
        Interpreter:   y

[2017-12-12 01:30] NattyNarwhal commented on #6228
The final lines of running Roslyn with `--trace=all` on the runtime: https://gist.github.com/NattyNarwhal/13fc9a623675e4291f20ce15cfcd0fb3

Looks normal there?

[2017-12-12 10:10] rjvdboon commented on #6205
w.r.t. the linenumbers: I was using gstack, which apparently doesn't output linenumbers. gdb's `thread apply all bt` did...

Using the tarbal `mono-5.8.0.22.tar.bz2` hangs as well, as does `mono-5.11.0.15.tar.bz2`. (Tried those first, as my build process is tailored to downloading tarballs...)
Will try building from git master next.

[2017-12-12 11:07] rjvdboon commented on #6205
@lewurm Just checked the other question you had "_are you sure about `--enable-big-arrays` and `--with-large-heap`?_"
We do need `--with-large-heap`: we easily go over the 3GB mark.
We don't need the `--enable-big-arrays`: We can't use it on .Net Framework either, and as far as I can see it is broken in Mono anyway.

I'll adapt my usual build process to not do the --enable-big-arrays, one concern

[2017-12-12 11:18] lewurm commented on #6205
can't reproduce with
[code]
note that I don't have access to RHEL6.8 (though, for that matter CentOS 6.8 should be enough?). I've used https://download.mono-project.com/sources/mono/mono-5.8.0.88.tar.bz2 and `./configure --disable-rpath --enable-big-arrays --with-large-heap --prefix=$PWD/b --enable-btls=no`.

@rjvdboon any idea? can you be a bit more specific about on what kind of machine you are

[2017-12-12 11:19] rjvdboon commented on #6205
I've tested with git master, and that also hangs.

As the hang was always in the CSC commandline I've added `--with-csc=mcs` to the configure command, and now `make` completes successfully (with the 5.8.0.88 tarbal, but I trust this will workaround the problem on master as well).

[2017-12-12 11:25] #6213 closed

[2017-12-12 12:02] rjvdboon commented on #6205
[code]
Memory: `64GB`; Swap: `32GB`

[2017-12-12 17:22] migueldeicaza opened #6230 "mkbundle missing features"
Few issues found while demoing mkbundle:

[ ] The list of the downloaded targets keeps the `zip` extension, it should be plain (example: `~/.mono/targets/mono-5.4.0-ubuntu-12.04-x64.zip/bin`).   We should ask Jo to rename the files on the server
[ ] Not clear that we distribute the Boring TLS native payloads on the packages
[ ] Needs to infer the native libraries and issue a warning for those that

[2017-12-13 08:01] ahzf commented on #6213
"msbuild" is unknown in my mono build (from GitHub / Debian 9).
Is there anywhere a good documentation how to build msbuild for a mono build?

I'm only idea would be to install dotnet core, but "dotnet msbuild" leads to other errors regarding the missing ".NET 4.7 SDK or Targeting Pack".

[2017-12-13 10:45] emptyVoid opened #6236 "Graphics.FillRegion produces an incorrect result in excluded area"
## Steps to Reproduce

[code]

## Current Behavior

Fills the excluded area with some brighter color.
![produced](https://user-images.githubusercontent.com/13639229/33934884-b7eaf5a8-e02c-11e7-8daa-b2ee612e4148.png)

## Expected Behavior

Should not fill the excluded area at all.
![expected](https://user-images.githubusercontent.com/13639229/33934896-bfed19de-e02c-11e7-8409-a77c1b5c6609.png)

**Ve

[2017-12-13 11:21] akoeplinger commented on #6213
Please see https://github.com/Microsoft/msbuild/wiki/Building-Testing-and-Debugging-on-Mono-MSBuild for instructions on how to build msbuild for mono.

[2017-12-13 11:51] NattyNarwhal commented on #6228
Oh yes, I forgot to mention this: I seem to have accidentally discovered a "workaround" that might have worked - `raise(SIGTRAP)` just before the usleep call, and the runtime seems to terminate fine, at least attached to the debugger?

[2017-12-13 13:11] vargaz commented on #6204
We should avoid depending on mono to build the runtime.  Will fix the script so it runs on python3.

[2017-12-13 13:13] vargaz commented on #6204
It looks like it was already fixed.

[2017-12-13 15:38] migueldeicaza commented on #6204
We already need a working system Mono to build Mono.

[2017-12-13 17:26] expertmm commented on #6204
please test against the mono provided by `make get-monolite-latest`

[2017-12-13 19:32] NattyNarwhal commented on #6228
so more debugging; the if statement of `mono-threads.c` line 970 is the ifdef that seems to prevent the loop from being broken. interestingly, it could have something to do with the platform-haiku file's definition of stack boundaries? it might not be a race condition after all?

since this could be isolated to SGen, I tried Boehm; it seems to do some nasty pointer arith that sends us to infinitel

[2017-12-13 20:53] NattyNarwhal commented on #6228
So Boehm works enough on x86 that it gets to the same fail state as the SGen on x86_64/x86. GC doesn't seem to be the culprit. (though it ain't right on amd64...)

[2017-12-13 21:24] NattyNarwhal commented on #6228
Looks like other threads (such as ones where `mono_thread_detach_internal` are called) are waiting on pthread_mutex_lock (that they didn't call?) except GC-related finalizer threads, which are waiting on cond_wait for SGen on amd64 and sem_wwait for Boehm on x86. (I have little knowledge on the workings of pthread, but I find it odd that they just *appear* in the call stack?)

[2017-12-13 23:07] NattyNarwhal commented on #6228
So on an unrelated IRC channel someone had suggested using select as a sleep because nanosleep on Haiku suspends the whole process? That didn't workout. They had later came up with the hypothesis that `sigaltstack` is somehow broken on Haiku. I'll have to check with developers over there, it seems.

[2017-12-14 02:40] akoeplinger commented on #6204
@migueldeicaza we only need a working Mono for the class library build, not the runtime build (where genmdesc is used right now).

Given the original issue was fixed almost two years ago by https://github.com/mono/mono/pull/2864 I'm closing this for now, thanks :)

[2017-12-14 02:40] #6204 closed

[2017-12-14 09:42] marek-safar commented on #6207
cc @radical

[2017-12-14 09:43] #6221 closed

[2017-12-14 10:01] marek-safar commented on #6230
@migueldeicaza could you split this into 3 different issues

[2017-12-14 15:07] NattyNarwhal commented on #6228
Looks like sigaltstack isn't to blame unless the level `./configure --with-sigaltstack=yes/no` connects nowhere anymore. I tried both explicit.

[2017-12-14 15:24] jsteinich opened #6250 "pdb2mdb crashes on .net 4.6 dll"
## Steps to Reproduce

1. Create .net 4.6 c# library project in VS
2. Add a single class with no functionality
3. Build project
4. Run pdb2mdb on build dll

## Current Behavior

Crash

## Expected Behavior

mdb file created

### On which platforms did you notice this

- [ ] macOS
- [ ] Linux
- [x] Windows

**Version Used**:

pdb2mdb 4.2.3.4 from mono.unofficial.pdb2mdb nuget
VS 2017

### Stacktrac

[2017-12-14 15:29] NattyNarwhal commented on #6228
I believe there may have been a regression introduced into `mono-threads.c`  - I'm going to try manually walking back history until early February (when I knew the runtime was terminating properly on Haiku, tho not overall in the best shape) to see if I can catch it.

[2017-12-14 17:13] akoeplinger commented on #6250
This happens when you have a Portable PDB which isn't supported for conversion. You can add `<DebugType>Full</DebugType>` to the .csproj to make sure you get a legacy PDB in VS.

Newer versions of pdb2mdb have a check for this and print an error.

[2017-12-14 17:13] #6250 closed

[2017-12-14 17:25] jsteinich commented on #6250
Thanks. That worked.

[2017-12-14 17:52] NattyNarwhal commented on #6228
So I did some bisecting of revisions by hand to see where the problem lies, and I verified that these revision ranges are still "bad" so to speak: (My plan was to see if a rev before works, remove the ~1 to see if that commit itself did the deed.)

* 9df4532~1 BAD, normal fail
* a08574b~1 BAD, normal fail
* 77a8ed1~1 BAD, normal fail
* 762ac3d~1 BAD, normal fail
* 399f6e2~1 BAD, bootstrapping does

[2017-12-15 01:52] alexrp opened #6254 "Crash in profiler stress test runner"
## Steps to Reproduce

1. Build Mono on armel.
2. `cd acceptance-tests`
3. `make check-profiler-stress`

## Current Behavior

A crash occurs when waiting on a child (test) process to exit.

## Expected Behavior

The test runner should run to completion.

### On which platforms did you notice this

- [ ] macOS
- [x] Linux
- [ ] Windows

**Version Used**:

2d43cf694f95fdb44be07d6a34e28691b477de29

#

[2017-12-15 01:54] alexrp commented on #6189
Same crash in another test: https://jenkins.mono-project.com/job/test-mono-mainline-linux-profilerstress-x86-x64/label=high-mem-ubuntu-1404-i386/515/testReport/junit/MonoTests/profiler-stress/ironjs_sunspider/

[2017-12-15 04:40] joncham opened #6255 "CreateDelegate does not allow integer argument for enum parameter type"
## Steps to Reproduce

1. Compile and run the following test case

[code]

## Current Behavior

[code]

## Expected Behavior

[code]

**Version Used**:

[code]

### Stacktrace

[code]

[2017-12-15 11:57] rjvdboon commented on #6205
I created a Centos 6.8 machine in the Azure cloud (D16s_v3, 16vCPUs, 64GB) and it compiles the 5.8.0.88 tarball without any problem
[code]

But on yet another machine (non-cloud, same spec as the original machine) it _does_ hang. So I've at least two machines reliably reproducing the issue.

[2017-12-15 15:29] rodrmoya opened #6259 "AllocationEvent's come before associated VTable event"
In mono master (5.11), the MLPDs produced by the runtime profiler seem to have one problem, only happening for a few "System.RuntimeType" allocations that seem to happen at the beginning of the application. The series of events is:

(Messages obtained via adding debugging console output to Xamarin.Profiler on a v15 MLPD where the problem was seen)
Buffer ID's are the buffer's TimeBase field, and t

[2017-12-15 20:38] NattyNarwhal commented on #6228
Interesting, I ran `make get-monolite-latest` (I forgot the exact order) and I had a working build of Monolite again... which got me stack walking errors in Roslyn like when I submitted the first patches; and the runtime terminated properly. I wonder if it's not in here after all?

[2017-12-15 21:42] NattyNarwhal commented on #6228
More interesting: on x86, if I use mcs as the C# compiler on HEAD, it seems to fail on assertions on `w32mutex-unix.c+476` for Boehm and `threads.c+3041`; both in `mono/metadata` and both assertions are related to thread detachment.

[2017-12-16 02:03] NattyNarwhal commented on #6228
010fcfb~1 is normal fail state too. It must have been a commit before June and after January. I'm looking in `mono/metadata/threads.c` history too now.

[2017-12-16 02:45] NattyNarwhal commented on #6228
So 055b15e~1 and 2087bd2~1 have broken monolite fetching steps, which prevents me from actually using mcs/Roslyn.

[2017-12-16 03:53] alexrp commented on #6259
Here's what happens: The runtime wants to create an instance of `System.RuntimeType` (which is Mono's concrete implementation of `System.Type`) for some type. To do this, it must first fill out a `MonoVTable` for the `MonoClass` representing `System.RuntimeType`, just as with any other class being instantiated in managed code. But there's a catch: Every `MonoVTable` has a `type` field pointing to

[2017-12-16 12:56] vladimir-kazakov opened #6264 "Creating a new instance of X.509 certificate out of another, empty instance of X.509 certificate must not throw"
## Steps to Reproduce

Execute the following line of code:

[code]

## Current Behavior

An exception is being thrown - `System.Security.Cryptography.CryptographicException : Certificate instance is empty.`

## Expected Behavior

In .NET Framework, this line of code doesn't throw. Mono must behave the same way.

### On which platforms did you notice this

Linux (Ubuntu 17.10, 64-bit).

**Version U

[2017-12-16 21:27] #6197 closed

[2017-12-16 21:55] lewurm commented on #6205
That's interesting! Note that your kernel version is slightly different. In order to rule out a software bug, I suggest to do the following:
- copy the binaries from your machine to the cloud instance and see if the problem reproduces
- the other way around

other HW related issues:
- your Xeon CPU `E5-2640` potentially suffers from the TSX bug [1]. While this extension isn't directly used by mono

[2017-12-17 02:05] akoeplinger commented on #6228
@NattyNarwhal you should be able to use a system Mono for bootstrapping instead of monolite.

[2017-12-17 02:09] jonpryor opened #6266 "ArrayTypeMismatchException when using array of generic ICollection<T> or IList<T>"
### Steps to Reproduce

1. Run the following program:

[code]

### Expected Behavior

No exception thrown.

### Actual Behavior

Throws an `ArrayTypeMismatchException` at last line of test code at runtime when using `ICollection<T>` or `IList<T>`.

[code]

The following types are working properly as expected:

* `IEnumerable`
* `IEnumerable<T>`
* `ICollection`
* `IList`

Code is compiling successf

[2017-12-17 02:10] jonpryor commented on #6266
Originally filed at: https://github.com/xamarin/xamarin-android/issues/1120

[2017-12-17 07:59] alexrp commented on #6254
This also happens on OS X (i386). Added relevant Jenkins link to the bug.

[2017-12-17 15:15] NattyNarwhal commented on #6228
The problem is actually a virgin platform; the Mono I just compiled has no Mono with mscorlib and friends to fall back on, so I need to use Monolite's BCL and compilers to build the managed parts of the runtime.

[2017-12-17 16:48] NattyNarwhal commented on #6228
So on HEAD, if I do `--with-cooperative-gc=yes` (which allegedly only affects SGen?), I get the same `threads.c+3041` assertions as I did for mcs, but on Roslyn; and Boehm hits a SIGSEGV when it does the final GC collection for cleanup, (mono_domain_finalize on mini_cleanup)  on Roslyn.

I'm trying other flags now.

[2017-12-17 18:06] NattyNarwhal commented on #6228
Looking for possibly relevant options: so "lazy gc thread creation," "sgen default concurrent," and "large heap" do nothing..

[2017-12-17 19:25] NattyNarwhal commented on #6228
Debugging with `--with-cooperative-gc=yes` because it might be a bit more debuggable: looks like the `link_get` call from `thread_detach` (which calls `mono_gchandle_get_target`) is returning NULL due to a condition that fails from the `ptr` variable being 0 after a cast.

[2017-12-17 21:33] alexrp opened #6271 "Switch the JIT --trace code to using call context introspection"
Now that the profiler API has full support for selective enter/leave instrumentation and simple/portable inspection of stack frames (arguments, locals, return value), we could implement the `mono --trace` functionality using this API. This would allow us to get rid of the arch-specific `mono_arch_instrument_prolog` and `mono_arch_instrument_epilog`, both of which are known to be somewhat unreliabl

[2017-12-18 12:59] rjvdboon commented on #6205
The Xeon is from the Sandy Bridge line, so the TSX can't be it, I think, as it is a v1 and the feature was introduced in v3.
BIOS update? No idea, our linux machines are centrally managed, I can't even get sudo rights...
@lewurm which binaries should I copy? The whole mono source tree? Only runtime/mini?

[2017-12-18 14:07] #6255 closed

[2017-12-18 14:18] EgorBo opened #6274 "Default Interface Methods issues"
## Steps to Reproduce

1.  Open mono/tests/Makefile.am and remove dim-* items from KNOWN_FAILING_TESTS (line 959)
2.  Run runtime tests or just invoke ilasm directly

## Current Behavior

The feature is supported in CoreCLR in a special branch and these tests were copied from there. You can find IL-tests (and initial CS-files [here](https://github.com/dotnet/coreclr/tree/dev/defaultintf/tests/src/

[2017-12-18 16:34] lewurm commented on #6205
@rjvdboon `tar`ing the source tree with its build output and copy it to the other machine should do the job and then run command in order to do the `CSC [basic] mscorlib.dll` step. `make V=1` will tell you the exact command line.

[2017-12-18 22:00] lambdageek commented on #6266
@alexischr Does this look like a duplicate of or related to [Bugzilla #59400](https://bugzilla.xamarin.com/show_bug.cgi?id=59400)

[2017-12-18 22:24] alexischr commented on #6266
It looks related but it is not a duplicate as that one is specifically for `GetEnumerator` behavior and its fix won't fix this.

[2017-12-19 06:20] rjlimardo opened #6278 "There is an error in XML document (0, 0). System.InvalidOperationException:"
## Steps to Reproduce

1. Create a Serializer to Read type of Object("Class")
2. Run Serializer to Deserialize an Existing XML
3. Throws an Internal Error Message of (" There is an error in XML document (0, 0) ")

## Current Behavior

What is the current behavior?
throwing an exception while deserializing .

## Expected Behavior

Please describe the behavior you are expecting
Deserialize output of

[2017-12-19 14:55] ctaggart opened #6281 "update F# Compiler in Mono to >= VS 15.5.2"
The F# Compiler for Mono on Mac is from June. Can you please update it to be the same as VS 15.5.2 that just shipped or newer? I opened up the corresponding issue in the Visual F# repo so ya'll can coordinate. https://github.com/Microsoft/visualfsharp/issues/4143 cc @directhex and @nosami

May be the version bump goes into Mono 5.6. I'm not sure about the timeline on that.

https://github.com/mono

[2017-12-19 15:22] csances opened #6282 "Miliseconds information in datetime properties from FileInfo are not available on MONO"
## Steps to Reproduce
===================================================

Scenario: We are running on Linux (Mono) a set of tests developed in Windows (c# .Net).
Some tests fail only in Linux.

1. Create a file,
2. initialize a FileInfo object mapping to the newly created file,
3. make some changes in the file (add some content for example) from the code (in the first second after the file's crea

[2017-12-19 15:57] csances opened #6283 "Mono is not able to notice a file change in a FileInfo object"
## Steps to Reproduce

Scenario: We are running on Linux (Mono) a set of tests developed in Windows (c# .Net).
Some tests fail only in Linux.

1. Create programatically a file  and add some content inside,
2. create a FileInfo object with the current status of the file,
3. update again this file,
4. created another FileInfo object with the current status of the file,
5. compare both instances of t

[2017-12-19 16:32] nosami commented on #6281
Mono is shipping with F# 4.1.25 which is from 5th August. The latest tag is 4.1.29 from 3rd November. https://github.com/fsharp/fsharp/tags

I can bump Master to 4.1.29. Provided that CI stays green across the board, I can look at getting the bump backported.

[2017-12-19 18:29] vargaz commented on #6271
The current profiler instrumentation changes generated code by disabling optimizations etc., that could interfere from --trace.

[2017-12-19 19:31] vargaz commented on #6271
https://github.com/mono/mono/pull/6285

[2017-12-19 20:56] EgorBo opened #6287 "Interpreter: dim-valuetypes.il test fails (Default Interface Methods)"
## Steps to Reproduce

1. Open mono/tests/Makefile.am and remove dim-valuetypes.exe from INTERP_DISABLED_TESTS (line 1050) - see https://github.com/mono/mono/issues/6274 and https://github.com/mono/mono/pull/6252
2. run test

## Current Behavior

Test fails with
Unhandled Exception:
System.BadImageFormatException: Method has no body
File name: 'valuetypes'
  at IValue.Add (System.Int32 a) <0x20549

[2017-12-19 21:17] marek-safar commented on #6287
/cc @lewurm this happens with interpreter only

[2017-12-19 21:50] expertmm opened #6288 "Unhandled Exception related to CultureInfo during make using git version and updated build tools"
## Steps to Reproduce
* on Antergos linux via terminal:
[code]

## Current Behavior
near end of make:
Unhandled Exception:
System.MissingMethodException: Method 'System.Globalization.CultureInfo.set_CurrentUICulture' not found.
  at Microsoft.CodeAnalysis.CSharp.CommandLine.Csc+<>c__DisplayClass1_0.<Run>b__0 (System.IO.TextWriter tw) <0x409d90f0 + 0x0002e> in <filename unknown>:0
  at Microsoft.Co

[2017-12-20 01:07] congciyizu opened #6290 "mono什么版本能支持net4.5的程序"
## Steps to Reproduce

1.
2.
3.

## Current Behavior

What is the current behavior?

## Expected Behavior

Please describe the behavior you are expecting

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

You can use `mono --version` or About dialog to obtain this information.

### Stacktrace

[code]

  <configuration>     <system.web>         <customE

[2017-12-20 01:13] congciyizu opened #6291 "mono哪个版本支持.net4.5的程序"
Runtime Error
A runtime error has occurred
Description: An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being viewed (for security reasons).

Details: To enable the details of this specific error message to be viewable, please create a `<customErrors>` tag within a "web.config" configuration file

[2017-12-20 10:08] rodrmoya commented on #6175
I think what we might want is a set of commands to enable/disable features, so I guess we can just provide commands that mimic the LogProfiler API, more or less?

[2017-12-20 14:54] akoeplinger commented on #6291
We'll need more info on which error you're hitting exactly (it might be an issue in your application). Since this seems to be an ASP.NET app please add the attributes as the error message tells you to get a stack trace.

[2017-12-20 14:54] akoeplinger commented on #6290
I assume https://github.com/mono/mono/issues/6291 is the real issue, closing this one.

[2017-12-20 14:54] #6290 closed

[2017-12-20 15:16] mfilippov opened #6299 "Crash in mono debugger."
## Steps to Reproduce

1. Attach to Rider backend process
2. Debugger step into
## Current Behavior

Mono crashed

## Expected Behavior

Execute step into

### On which platforms did you notice this

[ X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

mono 5.4.1.5

We compiled the debug version of mono, attach to runtime with VS Code and reproduce crash.
This is screenshot with debuger state in e

[2017-12-20 16:18] jalbarl opened #6301 "System.IO.FileNotFoundException: Could not load file or assembly (windows)"
## Steps to Reproduce

1. Download the Intel-SA-00086 Detection Tool (https://downloadcenter.intel.com/download/27150?v=t)
2. Extract the zip file and run the console application from the DiscoveryTool folder: mono.exe Intel-SA-00086-console.exe -n -f -c

## Current Behavior
The application won't start, because mono cannot find a file (it might be embedded into the binary - because it is not prese

[2017-12-20 16:34] marek-safar commented on #6299
@mfilippov how exactly do I do `Attach to Rider backend process` ?

[2017-12-20 16:36] migueldeicaza opened #6302 "--trace regression"
## Steps to Reproduce

1. Run mono --trace /Library/Frameworks/Mono.framework/Versions/5.11.0/lib/mono/4.5/mcs.exe

## Current Behavior

It currently just shows the ENTER/LEAVE operations for `(wrapper)` methods, but it no longer shows the full trace.   This is a debugging tool to understand what is going on with Mono in a few places that no longer works.

## Expected Behavior

I should get a log

[2017-12-20 16:42] lambdageek commented on #6301
`Intel-SA-00086-console-DLL` is embedded in `Intel-SA-00086-console.exe` as a manifest resource.  `ikdasm Intel-SA-00086-console.exe` shows:

[code]

I'm not sure whether Mono's loader can load assemblies from manifest resources.

[2017-12-20 17:34] lambdageek commented on #6283
@csances thanks for reporting this issue.  Could you provide us with some code the demonstrates the problem?
Thanks!

[2017-12-20 17:37] migueldeicaza commented on #6302
User error - I had AOT assemblies on my system, hence why I do not get traces

Using `-O=-aot` forces the JIT to run.

[2017-12-20 17:37] #6302 closed

[2017-12-20 17:51] migueldeicaza commented on #6301
I think that the problem is that we are trying to resolve types at startup before running some static constructors.

The Main type has a static constructor that calls some extraction code (`DiscoveryTool.FileExtractor`), but this code does not get a chance to run, it is supposed to be triggered by the static constructor of the `Program` class that initializes it.

Something in Program is triggerin

[2017-12-20 17:59] migueldeicaza commented on #6187
This is caused by a missing `machine.config` file in the bundled executable.

Probably we should make it so that mkbundle ships the machine.config as well, in the meantime use:

[code]

And the problem is that without automatic shipping of `machine.config`, developers will struggle with the cross compiler to find the proper path.

[2017-12-20 18:03] jalbarl commented on #6301
You are right. I found a tool that is able to extract such resources (ILSpy), and placed them next to the executable. Not it is loaded successfully, but only until the next error (see below).

Should I open a new Issue for it, or this also a known limitation?
I think that the code is trying to lookup "Administrators", but the expected name is "BUILTIN\Administrators" (from https://github.com/mono/

[2017-12-20 18:08] lambdageek commented on #6301
Thanks, @migueldeicaza, you're right, looks like the static constructor doesn't run early enough.
Looks like `Main` has a local variable with type: `['Intel-SA-00086-console-DLL']DiscoveryTool.logWriter V_3` - so the referenced assembly load is triggered when we try to JIT `Main`.

@jalbarl Please make a separate issue for the other exception.

[2017-12-20 18:16] jalbarl opened #6305 "WellKnownAccount.LookupByName fails for incomplete names such as "Administrators" instead of "BUILTIN\Administrators""
## Steps to Reproduce

1. Download the Intel-SA-00086 Detection Tool (https://downloadcenter.intel.com/download/27150?v=t)
2. Extract the zip file
3. Use ILSpy or a similar tool to extract the embedded assemblies from Intel-SA-00086-console.exe (tool will fail to start otherwise, due to a separate bug, see https://github.com/mono/mono/issues/6301)
4. Run the console application from the DiscoveryT

[2017-12-20 18:18] lambdageek commented on #6301
Minimal example to reproduce:

File `BBB.cs`:
[code]

File `SMain.cs`:
[code]

To build and run:
[code]

Expected behavior:  Should print:
[code]

Actual behavior:
[code]

[2017-12-20 19:22] mfilippov commented on #6299
@marek-safar We attach over mono soft-debugger API (connect to debugger port) Are you need some additional info?

[2017-12-20 20:34] mregen opened #6306 "Disposing RSA objects obtained with GetRSAPublicKey/GetRSAPrivateKey makes keys unusable."
https://github.com/OPCFoundation/UA-.NETStandard/issues/216

## Steps to Reproduce

According to article https://blogs.msdn.microsoft.com/dotnet/2015/07/20/announcing-net-framework-4-6/, this is best practice how to use a RSA key (public/private):
[code]

1. EncryptData
2. EncryptData  --> cannot access disposed object
3.

## Current Behavior

After using function once the RSA object in the cert b

[2017-12-20 20:54] migueldeicaza commented on #6283
Patch:

https://github.com/mono/mono/pull/6307

To reproduce:

With the current code on Mac:

[code]

With the pull request applied on Mac:
[code]

Not all filesystems have nanosecond precision, so you might not see it.

[2017-12-20 21:52] bartonjs commented on #6306
https://github.com/mono/mono/blob/211594fb3c2a151039ad07abfbaea6ff3204e245/mcs/class/System.Core/System.Security.Cryptography.X509Certificates/RSACertificateExtensions.cs shows that in Mono these members return the PrivateKey property cast as the return type.

http://referencesource.microsoft.com/#System.Core/System/Security/Cryptography/X509Certificates/RSACertificateExtensions.cs,9732ff74912c20c

[2017-12-20 22:19] expertmm commented on #6288
There is a pastebin link to see it in context

[2017-12-21 07:02] Rombersoft opened #6311 "Application hungs when it works with free port /dev/lp*"
it's port /dev/lp0 which is free (without connected device). Why application does hung when it tries to work with such port???
Note that application does not hung when works with free ports such as /dev/ttyS, /dev/ttyUSB, /dev/ttyACM, /dev/usb/lp. It hungs only with /dev/lp* and when port is free
I can not resolve this problem during 2 years

## Steps to Reproduce

1. Disconnect device from port /

[2017-12-21 07:13] elasota opened #6312 "Ambiguous variant call resolution differs from .NET Framework"
When resolving ambiguous calls using variance, Mono and the .NET Framework have different resolution behavior.

The relevant section of the spec (II.12.2) is extremely confusing, and if I'm reading it correctly, both implementations are non-compliant for different reasons.

The algorithm that .NET appears to use when making a variant call is to look for an exact match of the interface at the each

[2017-12-21 08:06] csances commented on #6283
Hi @migueldeicaza:

I think your suggestion is related with the bug number 6282 (Miliseconds information in datetime properties from FileInfo are not available on MONO). It was created by me too.
I will review your proposal.

Thank you for your help.

[2017-12-21 10:06] csances commented on #6283
Hi @lambdageek:

It's enough for you if a paste a piece of code here in a post?.

It is an example of our current situation:

 var tracker = new ContentTracker(this.folderName, filePattern);
 this.AddFile(fileName);
// AddFile code Method:
System.IO.File.WriteAllText(Path.Combine(this.folderName, fileName), "Created");
Thread.Sleep(100);
// Next method review if we have added or changed file in a

[2017-12-21 10:14] csances commented on #6282
FYI

Only to be clear.
The original code is on C#, and all the tests are running propertly under Windows.
The problem with the miliseconds appears when we run the same test  on Linux. In this case the datetime properties do not have miliseconds information.

I really appreciate your help.

[2017-12-21 12:58] jlemay-Matrox opened #6315 "X509Chain.ChainStatus property is not implemented with BTLS"
## Current Behavior

Accessing X509Chain.ChainStatus property throw NotImplementedException when using BTLS instead of old legacy code.

## Expected Behavior

We are supposed to get ChainStatus to be able to manually verify if a self-sign certificate is invalid because it has UntrustedRoot via X509ChainStatusFlags.UntrustedRoot.

### On which platforms did you notice this

[ ] macOS
[x ] Linux
[ ]

[2017-12-21 13:41] marek-safar commented on #6274
/cc @vargaz could you investigate the issue, it looks like we cannot handle many cases

[2017-12-21 14:35] cptjazz opened #6316 "Code page 437 Encoding does not respect EncoderFallback"
## Steps to Reproduce

The code page 437 does not respect specified ``EncoderFallback`` rules.

## Current Behaviour

**On .NET 4.7 on Windows:**

    var encoding = Encoding.GetEncoding(437, EncoderFallback.ExceptionFallback, DecoderFallback.ExceptionFallback);
    var b = encoding.GetBytes("č".ToCharArray());

    -> System.Text.EncoderFallbackException: 'Unable to translate Unicode character \u

[2017-12-21 15:25] lewurm commented on #6311
Hello! In order to help you we need more context. Things like:

- What Mono version are you using? (Output of `mono --version`)
- Can you provide a stack trace? If it hangs, try `kill -SIGQUIT $PID_OF_YOUR_APPLICATION`
- Can you provide a native stack trace? That is, attach with GDB and type `thread apply all bt`, more details here: http://www.mono-project.com/docs/debug+profile/debug/
- Can you p

[2017-12-21 15:28] lewurm commented on #6312
Is that related to https://bugzilla.xamarin.com/show_bug.cgi?id=59400 ?

/cc @alexischr

[2017-12-21 16:11] lewurm opened #6320 "[arm] unaligned access in `ves_icall_System_ValueType_Equals`"
## Steps to Reproduce

1. `make -C mcs/class/corlib run-xunit-test` on ARMv5 or ARMv7 Linux machine
## Current Behavior

segfault in `ves_icall_System_ValueType_Equals`

## Expected Behavior

no crash 🙂

### On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

current master.

### Stacktrace

e.g. https://jenkins.mono-project.com/job/test-mono-mainline-linux/

[2017-12-21 16:18] marek-safar commented on #6315
Could you please provide NotImplementedException stack trace you get?

[2017-12-21 16:23] marek-safar commented on #6312
@vargaz @lambdageek could you guys look into this issue

[2017-12-21 16:34] jlemay-Matrox commented on #6315
System.NotImplementedException: The method or operation is not implemented.
  at Mono.Btls.X509ChainImplBtls.get_ChainStatus () [0x00000] in /home/yocto/jenkinshardware/workspace/MeOS-3.00.00/SV2_Yocto3_image-meos/poky/image-meos/tmp/work/x86_64-linux/mono-native/5.2.0.224-r0/mono-5.2.0.224/mcs/class/System/Mono.Btls/X509ChainImplBtls.cs:127
  at System.Security.Cryptography.X509Certificates.X509C

[2017-12-21 17:02] elasota commented on #6312
That bug looks like it's calling an implementation that isn't even a valid variant match, but this bug relates to the disambiguation behavior when there are multiple valid matches, so I think it's different.

[2017-12-21 18:13] evincarofautumn commented on #6291
Title should be changed to English, “Which version of Mono supports .NET 4.5 programs?” (or something similar).

[2017-12-21 18:36] dazinator opened #6322 "Mono Android 8 - ExecutionContext doesn't flow SecurityContext"
## Steps to Reproduce

I have a detailed explanation of the problem here:  https://stackoverflow.com/questions/47926132/xamarin-android-task-run-vs-task-factory-startnew-and-thread-currentprincipal

However in short, [this field](https://github.com/mono/mono/blob/master/mcs/class/referencesource/mscorlib/system/threading/executioncontext.cs#L501) doesn't appear to exist on `ExecutionContext` when

[2017-12-21 21:19] radical commented on #6207
@Ailincai-Nicolae-Rares Could you please attach the full diag build log? Add `/fl /flp:v=diag` to your `msbuild` command line. And then attach the generated `msbuild.log`.

[2017-12-21 23:20] elasota commented on #6312
More thorough test, all of these should all print "OK."

Additionally, Mono fails Case 5 in II.12.2.1 of the spec (it might fail others, but I didn't check).

[code]

[2017-12-22 08:13] Rombersoft commented on #6311
1.
Mono JIT compiler version 5.4.1.6 (tarball Wed Nov  8 20:29:16 UTC 2017)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       altstack
	Notifications: epoll
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	LLVM:          supported, not enabled.
	GC:            sgen (concurrent by default)

But it ha

[2017-12-22 11:01] lewurm commented on #6320
it's actually a `SIGBUS`:

[code]

so another alignment issue in the corefx tests.

@marek-safar when was this test added? looks like it never passed on armv5/armv7

[2017-12-22 11:10] lewurm commented on #6320
this is the struct:
https://github.com/mono/corefx/blob/99248e218eb4ebb8738aa8da24958720a813e565/src/System.Memory/tests/TestHelpers.cs#L224-L234

[2017-12-22 11:18] lewurm commented on #6320
for some reason the offset is wrong for `L0`, it should be `6`?
[code]

edit: offset is fine, it includes the object header size (8 bytes)

[2017-12-22 11:22] marek-safar commented on #6320
@lewurm it was added recently about a month ago to verify our span support

[2017-12-22 12:13] lewurm commented on #6320
minimal repro:
[code]

[2017-12-22 12:23] #6281 closed

[2017-12-22 12:47] rjvdboon commented on #6205
Moving tarfiles from on-premise to cloud has proven difficult (crossing security boundaries etc), so no results on that exercise yet.
Trying some more on the "difficult" machine did give prove somethin interesting:
When invoking the hanging command under a `taskset` it seems to hang on the machine depending on the number of CPUs it uses. With 4 CPUs it always builds fine, (i.e. `MONO_PATH="..." ta

[2017-12-22 14:51] rjvdboon commented on #6205
@lewurm I've moved the tar file from on-premise (where it hangs) to my cloud machine. Executing the exact same command line does not cause a hang in the cloud environment.

And the `taskset` trick I mentioned above doesn't reliably work either: executing `taskset --cpu-list 0,1 make` hangs sometimes as well even though each child process gets only 2 cpus to use. Restricting make (and all its child

[2017-12-22 14:57] lewurm commented on #6205
@rjvdboon thanks for your experiments, interesting results!

It reminds me of one of the bugs I've seen on a specific ARM64 device (a crash though): https://bugzilla.xamarin.com/show_bug.cgi?id=56546
There is a workaround: https://gist.github.com/lewurm/8b08a75475ae8484a5df0ba293669326

Can you try that on your machine, just to see if it helps in your situation?

[2017-12-22 16:09] rjvdboon commented on #6205
With that patch the build completes successfully. Thanks.

[2017-12-22 23:27] expertmm commented on #6204
Then why did it happen on the git version as mentioned in the original post?

[2017-12-25 03:33] Alex-DE-74 opened #6336 "System.MissingMethodException: Method not found: "Void System.Array.Reverse(!!0[], Int32, Int32)" in latest build 5.4.0.201"
Hello together,

thanks for such amazing work. I hope to use it with xamarin on Android.

Last word first - after downgrading of Mono.Security to version 3.2.3 this problem goes off.

I'm currently fails and spend a day of work with this weird problem:

## Steps to Reproduce

            X509CertificateBuilder cb = new X509CertificateBuilder(2);
            cb.SerialNumber = sn;
            cb.Iss

[2017-12-25 16:15] Alex-DE-74 opened #6338 "Huge amount of time (15 seconds and more) spent to Org.BoumcyCastle.Security.DotNetUtilities.GetRsaPublicKey(...) ."
Hello and thanks for great project!

This issue may be a part of BouncyCastle PSL only, but it has a cross touch to Mono.Security also.

## Steps to Reproduce

            RSA issuerKey = new RSACryptoServiceProvider(512); // or 2048
            **var RsaPublicKey = DotNetUtilities.GetRsaPublicKey(issuerKey);**
                  <---- TAKES A HUGE AMOUNT OF TIME

## Current Behavior

I test on fas

[2017-12-26 03:41] shangpeixu opened #6339 "System.TypeLoadException is thrown when run .net standard library with Mono"
## Steps to Reproduce

1. Create a .NET Standard 2.0 class library, and add code like below:
[code]
2. Create a .NET Framework 4.6.1 Console application, and reference the .NET Standard 2.0 class library, add code like below:
[code]
3. Build and run the 4.6.1 console project with Mono, then TypeLoadException is thrown

## Current Behavior

What is the current behavior?

## Expected Behavior

Pleas

[2017-12-26 10:14] cptjazz commented on #6316
This also happens on mono 5.4.1

[2017-12-26 17:44] damageboy opened #6341 "Mono.Posix.NETStandard erronously (?) includes Framework reference to Mono.Posix"
## Steps to Reproduce

1. git clone https://github.com/damageboy/mprefbug
2. export FrameworkPathOverride=/usr/lib/mono/4.6.2-api
3. Build fails

## Current Behavior
Currently when building for mono (net462) with dotnet on Linux/Mac, the Mono.Posix.NETStandard nuget adds an explicit reference to Mono.Posix.dll while also providing the same implementation inside the nuget.

As such, when building,

[2017-12-27 05:43] iamphi opened #6342 "Proxy that requires Digest authentication type does not work"
## Steps to Reproduce

1. I have a squid instance (Version 2.7.STABLE9)  with this configuration to require a login to use the proxy.
[code]
2. Run a test similar to:
[code]

## Current Behavior
For mono version >= 4.6, MyCredential.GetCredential is not called and proxying doesn't happen.
For mono version = 4.4 MyCredential.GetCredential is called, proxying happens and content of target url printe

[2017-12-27 06:14] iamphi commented on #6342
Potential fix: https://github.com/iamphi/referencesource/commit/aa1a0fda250a3151f8ee99478dda6ac6cffde618

[2017-12-27 15:31] ArsenShnurkov opened #6343 "mono/utils/jemalloc does not exist"
I am trying to compile
http://download.mono-project.com/sources/mono/mono-5.11.0.124.tar.bz2
and it gives me the error:

[code]

[2017-12-27 15:40] lambdageek commented on #6343
/cc @alexanderkyte @directhex

I'm not up on my Autotools, but I think this line needs to be outside the `if MONO_JEMALLOC_ENABLED` conditional - we always want to put the subdir in the tarball (its just that it won't contain many files if jemalloc is disabled):

https://github.com/mono/mono/blob/ab04c61b60553e07be0b93c7d921ba288424e9d9/mono/utils/Makefile.am#L282

[2017-12-27 15:44] directhex commented on #6343
I'm showing the same build error - https://jenkins.mono-project.com/blue/organizations/jenkins/ng-release-generate-debian-packages/detail/ng-release-generate-debian-packages/373/pipeline

Your fix is correct, @lambdageek

[2017-12-27 16:21] lambdageek commented on #6336
`System.Array.Reverse<T>(T[], int, int)` is not in .NET Framework 4.7.1, nor in Mono, and not in .NET Standard 2.0 - it appears to be just in .NET Core 2.0.  (Compare: [.NET Framework docs](https://docs.microsoft.com/en-us/dotnet/api/system.array.reverse?view=netframework-4.7.1#System_Array_Reverse__1___0___System_Int32_System_Int32_) vs [.NET Core docs](https://docs.microsoft.com/en-us/dotnet/api

[2017-12-27 16:24] lambdageek commented on #6339
(Ignore the crossreference - I meant to link a different issue)

[2017-12-27 18:53] #6343 closed

[2017-12-27 18:58] ArsenShnurkov commented on #6343
you closed the bug, but there is no new tarball in http://download.mono-project.com/sources/mono/ and the old buggy tarball is not removed

[2017-12-27 19:14] akoeplinger commented on #6343
@ArsenShnurkov GitHub closed it when I merged the pull request. A new tarball should show up automatically at http://download.mono-project.com/sources/mono/nightly/ in a few hours.

Note that the 5.9.x and 5.11.x tarballs should actually have been in the nightly folder as they're not stable releases. We're fixing this.

[2017-12-27 20:08] Alex-DE-74 commented on #6336
@lambdageek Thank you for important Information!

Unfortunately, it does not really help me, because I'm not responsible for this NuGet package.
More, I use it for compilation with Xamarin for Android and therefore use Mono.Security.

What me even wonder, the referenced documentation says, the Core 2.0 has additional overload public static void Reverse<T> (T[] array, int index, int length), but wh

[2017-12-27 21:54] kzu commented on #6336
The package bundles either the Windows or the Mac version of the assembly (see https://github.com/kzu/mono-nugetized/blob/master/package/Mono.proj#L32-L33) so I don't know why you'd reference it for a Xamarin for Android project. I think you could directly add the reference to the assembly without specifying its path and it would resolve to the reference assembly from that framework. i.e.:

[code]

[2017-12-27 21:54] akoeplinger commented on #6343
http://download.mono-project.com/sources/mono/nightly/mono-5.11.0.132.tar.bz2

[2017-12-27 22:26] Alex-DE-74 commented on #6336
I have of course Mono.Security in my reference list, but I need also to install the contained NuGet package as well.
Now I can use package version 3.2.3 only, because version 5.4.0.201 throws an exception, see above.

[2017-12-28 07:23] kzu commented on #6336
Why do you need to install the nuget package? As I said, the Mono.Security is already part of the reference assemblies that Xamarin for Android installs, there's no need to install anything for it to "just work".

[2017-12-28 15:50] damageboy commented on #6341
Just so its clear, I've created my own hack version of Mono.Posix.NETStandard which does not use the framework assemblies and it work perfectly well on Linux where one would reasonably expect `Mono.Posix` as part of the mono installation...

[2017-12-28 16:40] rjvdboon commented on #6205
@lewurm even with /parallel- it hanged now. Admittedly much later in the process (`CSC     [net_4_x-linux] nunitreport.exe`), but still.
I've attached the stacktrace (5 threads, all in mutex_lock, sem_wait, or cond_wait), and the command line arguments for the hanging process.

[mono58088_hang_with_parallel-.txt](https://github.com/mono/mono/files/1591636/mono58088_hang_with_parallel-.txt)
[mono58

[2017-12-28 17:06] pod063 opened #6347 "System.Reflection.Metadata.dll is linked with different version of System.Collections.Immutable.dll than Microsoft.CodeAnalysis*.dll"
## Steps to Reproduce

1. compile and run code with Microsoft.CodeAnalysis features:
Script<object> result = CSharpScript.Create(string code);
result.Compile(); //this will throw exception:

## Current Behavior

System.Reflection.Metadata.dll is linked with System.Collections.Immutable.dll 1.2.0 but other dlls like Microsoft.CodeAnalysis*.dll are linked with  System.Collections.Immutable.dll 1.2.1

[2017-12-28 17:12] nerzhulart opened #6348 "Crash when debugging a test with Mock object"
## Steps to Reproduce

1. Open solution in Rider 2017.3 (https://www.jetbrains.com/rider/download/)
[TestProject.tar.gz](https://github.com/mono/mono/files/1591709/TestProject.tar.gz)
2. Set breakpoint at SimpleTestClassTests.cs:17
3. Make step over

## Current Behavior

Mono.exe crashes

## Expected Behavior

Mono should not crash

### On which platforms did you notice this
[x] macOS
[ ] Linux
[

[2017-12-28 17:38] lambdageek commented on #6348
Confirmed on mono 5.4.1.7

This looks like a `mono_error_set_*` call without a `strdup` of one of the arguments.

[2017-12-28 17:48] lambdageek commented on #6348
Also crashes in VS for Mac, by the way.  (You have to go into the non-public members of `this` (a `SimpleTestClassTests` instance) to get the crash.  Same stack trace.)

[2017-12-28 18:32] lambdageek commented on #6348
No crash with mono 5.11.0.137 (`master/e5246d94ab9`). Looks like we fixed this somewhere along the way.  I'm going to check if there's anything we need to backport...

[2017-12-28 18:34] nerzhulart commented on #6348
Seems it's the same as https://youtrack.jetbrains.com/v2/issue/RIDER-8809

[2017-12-28 19:11] lambdageek commented on #6348
Thanks @nerzhulart, this indeed looks like the same bug. It's since it's already filed as https://bugzilla.xamarin.com/show_bug.cgi?id=57133, I'm going to close this issue and continue on bugzilla.

[2017-12-28 19:11] #6348 closed

[2017-12-28 19:43] pod063 commented on #6347
I'm very sorry. The System.Reflection.Metadata is really linked with different version of System.Collection.Immutable than Microsoft.CodeAnalysis but I was made mistake and didn't run application via mono.exe. If application is run via mono.exe everything works perfectly. I'm really very sorry.

[2017-12-28 19:43] #6347 closed

[2017-12-28 23:30] ArsenShnurkov opened #6349 "messages during make dist: "file name is too long""
## Steps to Reproduce

[code]

## Current Behavior

[code]

## Expected Behavior

I expect these files to be included into archive

### On which platforms did you notice this

Sabayon Linux

**Versions Used**:

1) tar 1.29
(the same with tar 1.30)

2) Mono JIT compiler version 5.11.0.132 (tarball Thu Dec 28 02:37:15 MSK 2017)

### Other thoughts

[code]
they are not symlinks and should not be limi

[2017-12-29 14:28] rjvdboon opened #6350 "SqlCommand.ExecuteNonQuery always throws "non-blocking socket would block" exception"
## Steps to Reproduce

1. Create a Sql Server database and the sample table (see the CreateTable method in the source)
2. Adapt the sample code below: change the connection string to contain the right database server, database name, user id and password
3. run with mono 5.9+
4. observe the error

## Current Behavior

With 5.9+ it throws an exception on reading from the socket
With 5.8 and before i

[2017-12-29 15:05] akoeplinger commented on #6349
Could you please try the following patch which removes these files from the tarball (we don't use them during the build, only tests) and should workaround the problem:

[code]

[2017-12-30 03:41] lambdageek commented on #6348
Tracked this down with git bisect: this issue was fixed by https://github.com/mono/mono/commit/522c8b69f5a433f645d15dc4ebb6a25b8266b414

So this looks like a duplicate of [bug 57488](https://bugzilla.xamarin.com/show_bug.cgi?id=57488)

That bug is fixed on mono master, 2017-12 and 2017-10 branches.
Also cherrypicking that commit to 2017-06 fixes the crash in mono 5.4.

[2017-12-30 08:49] ArsenShnurkov opened #6352 "Bug in TextRenderer.DrawText on Linux"
## Steps to Reproduce

	using System;
	using System.Drawing;
	using System.Windows.Forms;

	public class MyForm : Form
	{
		static int Main(string[] args)
		{
			MyForm mainForm = new MyForm();
			Application.Run(mainForm);
			return 0;
		}
		protected override void OnPaint(PaintEventArgs e)
		{
			Graphics g = e.Graphics;
			string text = "&&&&&&";
			Font font = this.Font;
			int x = 5;
			int y

[2018-01-01 12:36] rnagy opened #6356 "Unable to bootstrap mono with external mono 4.6.2.16"
Hi

I am unable to bootstrap mono using an external runtime. We are trying to move away
from the old 4.6.2.16 version on OpenBSD and since there is no monolite available yet
for that platform, I need to use an external runtime for now. Can anyone give me a version
path that I can use to bootstrap up to the current release?

Thanks

[code]

[2018-01-01 12:50] akoeplinger commented on #6356
The safest path would be from one stable to the next, i.e. 4.6 -> 4.8 -> 5.0 -> 5.2 -> 5.4.

As far as I know monolite should still work on OpenBSD (we don't yet have platform specific pieces in the libraries used by monolite).

[2018-01-01 13:31] RepNex opened #6357 "Keepass crashes when editing an entry notes field in a specific way"
I reported this problem first to the Keepass developer [here](https://sourceforge.net/p/keepass/bugs/1696/). But he says, it's caused by Mono.

## Steps to Reproduce

1. Open appended test.kdbx with password "123456" (without quotes)
2. Edit "Sample Entry"
3. Scroll down completely in notes field
4. Select text exactly as shown in screenshot 1
5. Press Backspace
Keepass is crashing, notes field is

[2018-01-01 14:02] rnagy commented on #6356
Unfortunately that does not work for some reason and I am trying to figure out if using the monolite for linux is causing this or not.

[code]

[2018-01-01 15:06] akoeplinger commented on #6357
You should be able to get a stacktrace by launching KeePass from the terminal, e.g. via `mono /path/to/keepass.exe` and then making it crash, it should print the stacktrace to the terminal.

[2018-01-01 15:09] akoeplinger commented on #6356
That looks like a runtime issue. /cc @luhenry

Since this happens when running Roslyn csc you could try switching back to mcs as the compiler, by passing `--with-csc=mcs` to autogen.sh / configure.

[2018-01-01 16:02] rnagy commented on #6356
Using mcs as csc gets me going at least but then I have something else to figure out now..

[code]

[2018-01-01 16:32] akoeplinger commented on #6356
which commit/version are you trying to build?

[2018-01-01 16:33] rnagy commented on #6356
@akoeplinger the latest Mono release, 5.4.1 Stable (5.4.1.6)

[2018-01-01 16:42] akoeplinger commented on #6356
ok, looks like the mcs included in that monolite doesn't understand tuple return types and #5008 added it in MobileAuthenticatedStream.cs. You could try extracting the mcs.exe from https://download.mono-project.com/monolite/monolite-linux-1051100001-latest.tar.gz and putting it in `mcs/class/lib/monolite-linux/105xxxx/`.

[2018-01-01 17:18] rnagy commented on #6356
Ok well that sort of works but later on in the build process there are more dragons... at least HEAD builds from git with mcs as csc, but I guess there is still a bug or two to fix there.

[2018-01-01 21:47] akoeplinger commented on #6356
@rnagy just to make sure I understand correctly: there are more bugs related to this issue in HEAD or different ones?

[2018-01-01 23:18] rnagy commented on #6356
@akoeplinger yes that's correct, even in HEAD csc cannot be used, and basically everything
fails to build with the same thread transition errors, that includes external projects like
mono-addins after building mono itself with --with-css=mcs.

[2018-01-01 23:23] akoeplinger commented on #6356
ok, but the thread transition error is a different bug (most likely something specific to the OpenBSD implementation) and we should open a separate issue for that :)

For other projects the --with-csc=mcs only affects the Mono build itself, the default compiler for msbuild etc of an installed Mono will still be csc so you'd need to force mcs there too.

If there are no problems with monolite in HE

[2018-01-02 07:05] rnagy commented on #6356
I am opening another issue with that bug.

Thanks

[2018-01-02 07:05] #6356 closed

[2018-01-02 08:09] rnagy opened #6359 "unable to use csc.exe on OpenBSD"
Building with csc on OpenBSD is completely broken in any version of mono (including HEAD) after 5.x. Mono itself can be built by using --with-csc=mcs and after that mcs
can be used to build, without that mono cannot be built.

The following backtrace is from mono-5.8.0.88:

[code]

[code]

[2018-01-02 08:11] rnagy commented on #6359
Mono JIT compiler version 5.8.0.88 (tarball Tue Jan  2 08:40:45 CET 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
        TLS:           normal
        SIGSEGV:       normal
        Notification:  kqueue
        Architecture:  amd64
        Disabled:      none
        Misc:          softdebug
        LLVM:          supported, not enabled.
        GC:

[2018-01-02 09:29] marek-safar commented on #6338
Could you share what the `DotNetUtilities.GetRsaPublicKey`implementation actually does ?

[2018-01-02 09:48] marek-safar commented on #6341
@bholmes where do you want to track nuget bugs?

[2018-01-02 09:50] marek-safar commented on #6350
@EgorBo this is a regression in our port could you investigate

[2018-01-02 10:33] marek-safar commented on #6315
This is related to https://bugzilla.xamarin.com/show_bug.cgi?id=43040

[2018-01-02 13:51] rnagy commented on #6359
Same with using mono-sgen:

[code]

[code]

[2018-01-02 14:25] nddipiazza commented on #6187
I ran: `MONO_LOG_MASK=asm MONO_LOG_LEVEL=debug mkbundle --simple --static --deps -o ./SpFetcher bin/Release/SpPrefetchIndexBuilder.exe --machine-config /etc/mono/4.5/machine.config`

Results:

[code]

[2018-01-02 15:24] rnagy opened #6363 "build failure with emutls"
Hi

mono fails to build with both gcc and clang if using emutls.
configure checks for a working __thread, which succeeds,
however at link time it fails.

additional reference: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65953

[code]

[2018-01-02 15:51] #6349 closed

[2018-01-02 16:36] bholmes commented on #6341
@marek-safar https://github.com/xamarin/XamarinComponents

[2018-01-02 17:05] #6192 closed

[2018-01-02 17:10] akoeplinger commented on #6204
@expertmm it works for me with today's git master and Python 3.6.3. If you still see a problem please open a new issue and specify python version + git commit.

[2018-01-02 17:12] lewurm commented on #6363
Thanks for the report.

How do I use `emutls`? Did the suggested fix (add `used` attribute) in the GCC bugreport resolve your issue?

[2018-01-02 17:53] kumpera commented on #6363
We don't support __thread on OSX at this point.

[2018-01-02 17:58] rnagy commented on #6363
This is not OSX however IIRC osx does not have real thread local storage either and only emutls is available from the compilers.

[2018-01-02 17:58] #6339 closed

[2018-01-02 17:59] kumpera commented on #6363
You're right, sorry.
This looks like a bug in our configure script.

[2018-01-02 18:25] kumpera opened #6368 "WebAssembly: Missing Timezone implementation"
Corlib is missing a tz implementation. Our current profile tries a unix impl that probes the FS, it should be replaced by stubs or something using browser support.

[2018-01-02 18:26] kumpera opened #6369 "WebAssembly: Missing Timer implementation"
Corlib is missing a timer implementation (System.Threads.Timer) that relies on setTimeout instead of a background thread.

[2018-01-02 18:30] jonpryor opened #6370 "Allow AOT .so files to contain output of multiple assemblies"
Context: https://github.com/xamarin/xamarin-android/issues/1146

Xamarin.Android [allows assemblies to be AOT'd by setting `$(AotAssemblies)` to True](https://developer.xamarin.com/guides/android/advanced_topics/building-apps/build-process/). When this is enabled, each `.dll` contained within the application will have a corresponding AOT `.so` generated, for either/both "normal" AOT and Hybrid/Ful

[2018-01-02 18:36] kumpera opened #6371 "WebAssembly: Disable blocking System tests"
System includes a myriad of tests that block the main thread waiting for the threadpool to do some work. This won't work with WebAssembly due to the lack of threading.

Those tests should be tagged with `[Category ("MultiThreaded")`

[2018-01-02 18:49] joncham commented on #6368
We fallback to old time zone icall logic to support just Utc and Local time zone's on systems where tz data information is not available: https://github.com/Unity-Technologies/mono/commit/5778842d0fc998575ddafdb8d36605fb1362a720

[2018-01-02 19:42] damageboy commented on #6341
Do you want me to reopen it there?

[2018-01-02 21:45] lewurm opened #6373 "interp: infrequent crash of bug-10127.exe"
e.g. here: https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-aarch64/1495/testReport/junit/MonoTests/runtime-interp/bug_10127_exe/

Some while ago I've modified the test so that it will print the seed that it happened with (might be relevant?):
[code]

[2018-01-02 23:43] danroth27 opened #6376 "Add support for XsdDataContractExporter for mobile"
We're updating the Microsoft ASP.NET Web API Client [package](https://www.nuget.org/packages/microsoft.aspnet.webapi) to support .NET Standard 2.0. This library uses the `XsdDataContractExporter` to detect if a type has a data contract, but it looks like `XsdDataContractExporter` throws NotSupportedExceptions on Xamarin.Android:

[code]

Any plans to add support for XsdDataContractExporter for mob

[2018-01-03 10:27] #6264 closed

[2018-01-03 11:11] marek-safar commented on #6341
This issue was moved to xamarin/XamarinComponents#282

[2018-01-03 11:11] #6341 closed

[2018-01-03 11:21] akoeplinger opened #6379 "Reenable System.Runtime.CompilerServices.Unsafe-xunit test on 32bit"
It is disabled at the moment:

https://github.com/mono/mono/blob/1710dd74fe06fc2679d9f2e72ad939d7e3bdfa10/scripts/ci/run-test-default.sh#L90-L91

https://bugzilla.xamarin.com/show_bug.cgi?id=60865 was fixed but to fix the test we need a corefx bump that includes the changes from https://github.com/mono/mono/pull/6129#issuecomment-348296944

Reenable the test after corefx was bumped.

[2018-01-03 13:15] lewurm opened #6383 "System.Diagnostics.ProcessTest.Start1_FileName_NotFound failing"
## Steps to Reproduce

[code]

## Current Behavior

native crash.

### On which platforms did you notice this

[ ] macOS
[x] Linux, more specifically it's a Ubuntu chroot on a ChromeOS device.
[ ] Windows

**Version Used**:

`master`

### Stacktrace

[code]

I would appreciate some help debugging this.

/cc @luhenry

[2018-01-03 13:49] RepNex commented on #6357
Alright, here the results.
1. `~$ mono /usr/lib/keepass2/KeePass.exe`
2. steps from above
3. stacktrace:

[2018-01-03 16:41] akoeplinger commented on #6373
Here's a list of matches I found when grepping through our log history (note that on older builds the "Parsed Console Log" isn't available anymore and you need to use the normal log):

[code]

[2018-01-03 19:32] directhex opened #6388 "Allow environment override of cert store"
It would be beneficial to allow the machine and user cert stores to be read/written from/to arbitrary locations, rather than the currently hardcoded locations in `mcs/class/Mono.Security/Mono.Security.X509/X509StoreManager.cs` - e.g. this is needed to allow Flatpak MonoDevelop to read/write Mono certs from the standard location, whilst still storing the MonoDevelop config in a special sandbox per-

[2018-01-03 22:33] lewurm commented on #6373
thank you @akoeplinger! doesn't look so infrequent anymore, huh?

So:
- good news: it isn't interpreter specific
- bad news: it happens _everywhere_

[2018-01-04 05:01] iamphi commented on #6342
This fix only works for HTTP proxying, not for HTTPS:
https://github.com/iamphi/referencesource/commit/aa1a0fda250a3151f8ee99478dda6ac6cffde618

[2018-01-04 13:19] Therzok opened #6397 "Inlining code size"
## Current Behavior

https://github.com/mono/mono/blob/7a5df3c524d5eb4cf70744dc69c4803eb70b283b/mono/mini/method-to-ir.c#L81

Currently, methods of IL code size < 20 are probed for inlining.

## Expected Behavior

From this [article](https://blogs.msdn.microsoft.com/davidnotario/2004/11/01/jit-optimizations-inlining-ii/) linked by @alexischr, it seems that .NET on Windows inlines methods < 32, (or

[2018-01-04 14:15] Therzok opened #6398 "Optimize implementation of string indexer"
## Steps to Reproduce

1. Disassemble mscorlib.dll
2. Observe that string indexer `get_Chars` is 0x23 code size
3. Observe that it's above JIT inline limit
4. Observe that .NETFramework/CoreCLR have the string indexing implemented as an icall

## Current Behavior

It seems that mono generates a lot more ASM code for this than Windows .NET:
https://gist.github.com/Therzok/fdc39e06db53898520a9af702d

[2018-01-04 14:22] akoeplinger commented on #6282
This is fixed by https://github.com/mono/mono/pull/6307

[2018-01-04 14:22] #6282 closed

[2018-01-04 14:26] akoeplinger commented on #6283
@csances I'm a bit confused by this issue: are you saying you expect the FileInfo object to automatically notice changes to the file? That's not how it works, you need to call the `Refresh()` method.

If I'm missing something please provide a self-contained code sample that shows the problem, i.e. I assume the interesting logic is behind `ContentTracker` in your code sample :)

[2018-01-04 14:42] lewurm commented on #6397
In my opinion increasing code size isn't that much of an issue on targets where we JIT, so I would be okay with increasing that number for JIT-only scenario. We shouldn't increase it for AOT/FullAOT though, because that would increase the size of binaries that we have to ship (or our customers).

But then again: We shouldn't arbitrarily tweak that number without running proper experiments. CoreCRL

[2018-01-04 15:19] Therzok opened #6399 "MONO_VERBOSE_METHOD should support multiple methods"
## Steps to Reproduce

1. To view the JIT asm of a method, you define `MONO_VERBOSE_METHOD=Main` for example
2. Observe that there is no way to define multiple methods `Main Main2`

## Current Behavior

You can only view the asm of only one method at a time.

The alternative is to do `mono -v -v -v`, but that will print the asm of _every_ method that has been jitted.

## Expected Behavior

You sho

[2018-01-04 15:30] marek-safar commented on #6398
We could force inline it but as it throws it would throw from frame which could confuse the users

[2018-01-04 15:59] alexischr commented on #6397
I do agree with @lewurm, the original value may have been a typo (or not!) but this is a far-reaching change.

On the other hand, a very low "max length" value may be severely handicapping inlining, and CoreCLR (in the non-`LEGACY_BACKEND` configuration, which I assume is the current one), set the default max size to 100 (https://github.com/dotnet/coreclr/blob/ef74ed68fdb108ed9432c40eb2acae4bf7c35

[2018-01-04 16:29] marek-safar opened #6401 "Invalid array cast is supported"
## Steps to Reproduce

Compile & Run
[code]

## Current Behavior

No invalid cast exception

## Expected Behavior

```System.InvalidCastException: Unable to cast object of type 'System.Int32[]' to type 'System.Collections.Generic.IList`1[System.Nullable`1[System.Int32]]'.```

### On which platforms did you notice this

[x ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version

[2018-01-04 18:17] #6320 closed

[2018-01-04 18:59] migueldeicaza commented on #6397
PR with the proposed change opened:

https://github.com/mono/mono/pull/6404

[2018-01-04 19:11] migueldeicaza commented on #6398
We already inline the call, and based on the extensive disucssion today, this was not the performance source of problems.

[2018-01-04 19:11] #6398 closed

[2018-01-04 19:25] akoeplinger commented on #6291
I'm closing this issue since we didn't get a response in a while. Please reopen once more details are available :)

[2018-01-04 19:25] #6291 closed

[2018-01-04 19:28] migueldeicaza commented on #6316
This support was never properly added to Mono, it is a significant effort to upgrade the codepage handlers for this.

[2018-01-04 19:33] migueldeicaza commented on #6311
This looks like a problem with your code in `Terminal.Providers`, not a bug in Mono.

[2018-01-04 19:33] #6311 closed

[2018-01-04 19:51] Rombersoft commented on #6311
Even if problem is in my code why does application hung, why does not throw exception? And my code calls method Dispose of FileStream class. Did you try to open port /dev/lp* without attached device, write some bytes, read answer and then close port?

[2018-01-04 19:57] lewurm commented on #6205
@rjvdboon this is the same crash, but much clearer now what's going on (since there are way less threads):

- Thread 1 ends up in a `common_call_trampoline` which calls `mono_method_add_generic_virtual_invocation` that acquires the `domain_lock`, and later, because it's installing some code, it tries to acquire the `loader_lock`, but blocks because Thread 3 already holds it.
- Thread 3 tries to lo

[2018-01-04 21:13] kumpera opened #6405 "Explicit stack overflow check when debugging"
The JIT should emit explicit stack overflow checks when debugging to help users troubleshoot crashes.

The check needs to be efficient enough and not depend on VMM faults.

[2018-01-04 21:30] rjvdboon commented on #6205
Ah, if you state it like that the problem seems clear (and I know fixing it might be hard, been there, failed that...).
I'll just use the workaround to configure the build to use msc instead of csc.

And for why it only seems to happen on my machine(s)? The rest of the world is using virtual machines, and we are the only ones to still have real hardware? Or my specific combination of xeon type, am

[2018-01-04 21:48] cptjazz commented on #6316
I had a look at ```mcs/class/I18N/West/CP437.cs```. The code page forcefully re-maps characters like the one I used in the original example to fallback characters when calling ```GetBytes(..)```.

When I remove line 257 in ```CP437.cs``` and run my sample again, the expected exception is thrown.

Is the reason for this character re-mapping in CP437 (and possibly others?) a workaround because of in

[2018-01-04 22:07] pr0vieh commented on #6383
i think this is related to https://bugzilla.xamarin.com/show_bug.cgi?id=60977

[2018-01-04 23:16] lewurm opened #6407 "Implement Retpoline as a mitigation for CPU speculative execution issue"
## Context

Google's Project Zero team released information about three attack scenarios around speculative execution on modern CPUs. There are three variants [(described here)](https://security.googleblog.com/2018/01/more-details-about-mitigations-for-cpu_4.html) where Variant 2 `branch target injection` is an issue for user space programs such as Mono. "Luckily" it only seems to apply to x86/amd

[2018-01-04 23:51] akoeplinger commented on #6383
I'm seeing this on a regular Ubuntu 16.04 VirtualBox VM as well. I wonder why it doesn't show up in CI. @lewurm is your chroot 16.04 as well?

[2018-01-04 23:59] lewurm commented on #6383
@akoeplinger yes, 16.04.

[2018-01-05 00:27] pr0vieh commented on #6383
@lewurm @akoeplinger also on Ubuntu 17.10.

[2018-01-05 00:43] akoeplinger commented on #6311
@Rombersoft from what I can find from various docs on the internet this seems to be by design, i.e. the parallel port waits until a printer is connected. It should hang the same way if you do `echo 1 > /dev/lp0`

[2018-01-05 01:11] akoeplinger commented on #6383
I tried the commit before https://github.com/mono/mono/pull/5570 and it doesn't crash, but still fails the test ProcessTest.cs:215. After the PR it does crash, so something is definitely off :)

[2018-01-05 03:52] migueldeicaza commented on #6407
Why would we need to implement this?

Mono no longer has any sandbox or setup that provides a safe execution environment, any user of Mono has complete access to the current process and can do anything they want (using raw pointers, using Marshal.Read/Write APIs, P/Invoke and so on).

[2018-01-05 03:52] #6407 closed

[2018-01-05 06:59] Rombersoft commented on #6311
Hello Alexander, glad to see you really:-). I will try to type this command on Linux terminal console after 1 hour. But I don't understand 2 things: first - printer on port /dev/usb/lp (USB interface) works the same via FileStream class, not SerialPort class but application does not hung when printer is not connected, why; second - if printer is not connected why does not exist internal way or met

[2018-01-05 10:01] csances commented on #6283
Hi @akoeplinger:

I really appreciate your comments.
The thing is using this code in a windows environment I do not need to use a Refresh() command in C# code nor something similar.
When code compares the old file and the new file information in windows environment is able to detect the different value on the properties of fileinfo objects; using the same approach in Linux both objects contain the

[2018-01-05 10:27] mellinoe opened #6411 "System.Numerics structs are incorrect sizes"
Many of the structures in the System.Numerics namespace are being padded out to an incorrectly-large size in memory. Although this was likely done as a kind of performance optimization, it has widespread side effects that break many of the main use cases for the types. This behavior is also different from .NET Core and .NET Framework.

The types affected:

Type | Expected Size | Actual Size
-----

[2018-01-05 10:44] marek-safar commented on #6411
/cc @kumpera @vargaz could you please respond

[2018-01-05 10:58] rjvdboon commented on #6205
I found out that we also have rhel 7.3 machine for testing purposes (we'll be moving there some time in the near future). And the 5.8.0.88 build hangs there as well! :cry:
[mono58088_hang_rhel73.txt](https://github.com/mono/mono/files/1606345/mono58088_hang_rhel73.txt)

[code]

[2018-01-05 11:02] Therzok commented on #6411
Seems like the types are constrained to having at least SIMD register size.

https://github.com/mono/mono/blob/6b58f1317732b9cbf6ec61921e76d7d48e362104/mono/metadata/class.c#L1988-L1990

[2018-01-05 11:44] lewurm commented on #6205
@rjvdboon I would appreciate if you could test this PR https://github.com/mono/mono/pull/6413

if it fixes your problem, I'm going to backport it to the release branches

[2018-01-05 11:45] arneg opened #6414 "sbyte comparison broken by optimization"
## Steps to Reproduce

The following code executes correctly in visual studio and with mono with all optimizations turned off (`-O=-all`). However, when run with optimization on it will incorrectly print `BAD`.

[code]

## Current Behavior

`mcs test.cs`
`mono test.exe`
prints `BAD`

## Expected Behavior

`t` and `v` should be equal and `OK` should be printed.

### On which platforms did you notic

[2018-01-05 11:47] akoeplinger commented on #6311
@Rombersoft it is down to the operating system to decide what the behavior is in this case, nothing that Mono can influence :)

[2018-01-05 11:50] rjvdboon commented on #6350
Looking into this some more I've got the following observations:
- The exception is during handling of the timeout while waiting for the query result,
- according to Sql Profiler Sql Server didn't even receive a query, so is not sending any result either
![mono_sql5_10_no_request](https://user-images.githubusercontent.com/1241158/34607647-dda4cc84-f214-11e7-8c82-deff81bb52ba.png)

executing `mono

[2018-01-05 11:51] rjvdboon commented on #6350
Is there a sqlclient integration testsuite I can run? And if so, how? Because I think it is not part of a usual `make check`.

[2018-01-05 12:01] akoeplinger commented on #6411
I remembered this Bugzilla bug where @kumpera indicated this is expected: https://bugzilla.xamarin.com/show_bug.cgi?id=56602

[2018-01-05 12:20] lewurm commented on #6414
thanks for your report @arneg, I can reproduce the bug. FWIW the interpreter prints "OK" 🙂

[2018-01-05 12:55] marek-safar commented on #6299
@mfilippov instead of accessing your machine, would it be possible to create a repro setup from the crash on your machine?

[2018-01-05 13:08] Rombersoft commented on #6311
sudo echo 1 > /dev/lp0 return "Access denied".
But if I do
[code]
Maybe you're right

[2018-01-05 13:10] rjvdboon commented on #6205
@lewurm
Catch-22:
- the build of the PR uses mono-lite (in my squeaky clean environment there is no mono at all). Monolite is build without the PR, and thus deadlocks...
- my previous (mcs built) 2017-12 branch also has this issue, and thus using it to build the PR deadlocks...

I need a two step process: 1) build the PR using `./autoconf --with-csc=msc; make install`, and 2) use this new mono to

[2018-01-05 13:14] akoeplinger commented on #6205
@rjvdboon monolite is managed code only so this shouldn't have an influence, i.e. if it still deadlocks on the PR then something else is wrong ...

[2018-01-05 13:19] AdsRSherman opened #6418 "Can't run nuget.exe on windows using mono"
## Steps to Reproduce

1. Install mono 5.4.1 on windows
2. Cd to C:\Program Files\Mono\lib\mono\nuget
3. command: mono nuget.exe install docfx (or whatever)

## Current Behavior
PS C:\Program Files\Mono\lib\mono\nuget> mono nuget.exe install docfx
Feeds used:
  https://api.nuget.org/v3/index.json
  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\

Unable to load the service index for source ht

[2018-01-05 14:34] rjvdboon commented on #6205
No, still hangs. (double checked that I indeed see `mono_os_mutex_lock` instead of `mono_loader_lock` in `xdebug.c`)

[2018-01-05 14:36] rjvdboon commented on #6205
@akoeplinger good to know. Well, at least I double checked with a double build as well...

[2018-01-05 14:50] akoeplinger commented on #6338
According to https://github.com/neoeinstein/bouncycastle/blob/00ccedf8f4537a8621944f3072453e4603d09c4b/crypto/src/security/DotNetUtilities.cs#L131-L135 it mostly runs `rsa.ExportParameters(false)`.

@Alex-DE-74 could you please try just doing the above (i.e. without bouncycastle) and see whether that one takes a long time?

[2018-01-05 14:51] lewurm commented on #6205
ouch. can you post another stack trace with the new code @rjvdboon?

[2018-01-05 15:05] rjvdboon commented on #6205
[mono-git-PR6413_hang.txt](https://github.com/mono/mono/files/1606928/mono-git-PR6413_hang.txt)

[2018-01-05 15:54] filipnavara opened #6422 "Race condition in SSL code on macOS"
## Steps to Reproduce

We have an application that is issuing a lot of HTTPS requests using the WebRequest class. Quite often some of them are aborted during execution using the WebRequest.Abort method called from a different thread. A simplified test code is presented below to simulate the behavior.

Create an Application, either a console one or Xamarin.Mac one, with the following code:

[code]

[2018-01-05 16:03] filipnavara opened #6423 "Hard fault in DeflateStreamNative (possible use-after-free)"
## Steps to Reproduce

We have an application that is issuing a lot of HTTPS requests using the WebRequest class. Quite often some of them are aborted during execution using the WebRequest.Abort method called from a different thread.

Under stress testing, we are seeing a number of hard faults in the DeflateStreamNative code.

A simplified test case is presented in issue #6422, but it lacks the fo

[2018-01-05 16:10] filipnavara commented on #6423
Possibly fixed by https://github.com/mono/mono/commit/33eb71ae07d40eb968fe15c7eec5db3950c466b3#diff-a441a68406072d64188b9bdfc874838b

I don't have access to the referenced bug, so an external confirmation is necessary (cc @luhenry). I'd also like to verify if the fix was merged into appropriate releases.

[2018-01-05 16:37] filipnavara commented on #6422
I wasn't able to reproduce it on Mono weekly release:

[code]

[2018-01-05 17:14] vargaz commented on #6205
That code path should only be hit if the MONO_XDEBUG env variable is set, or MONO_DEBUG=gdb is set. None of those should be set in a normal environment.

[2018-01-05 17:19] vargaz commented on #6414
-O=-inline alone fixes it.

[2018-01-05 18:22] rjvdboon commented on #6205
I don't know from the top of my head whether that is set in my env. I'll check after the weekend.

[2018-01-05 19:03] migueldeicaza commented on #6388
I do not quite understand the request.

Which paths are currently hardcoded and how would you like to configure those.

[2018-01-05 19:27] directhex commented on #6388
https://github.com/mono/mono/blob/master/mcs/class/Mono.Security/Mono.Security.X509/X509StoreManager.cs#L59-L105 - cert store locations are based on `Environment.SpecialFolder.CommonApplicationData` `and Environment.SpecialFolder.ApplicationData`. ApplicationData can be overridden via XDG_CONFIG_HOME (https://github.com/mono/mono/blob/master/mcs/class/corlib/System/Environment.cs#L635-L639).

This

[2018-01-05 19:48] kumpera commented on #6411
SIMD support was originally designed to support 16bytes only types.
The new types were added without considering this. It's something we could improve for Vector2 and Vector3.

[2018-01-05 20:07] vargaz commented on #6411
We can make them have a non-16 byte size, but then we can't do SIMD operations like loads/stores on them.

[2018-01-05 20:31] mellinoe commented on #6411
The size in memory of these structures is more important than individual SIMD optimizations, because there is a lot of code in the wild that works only under the assumption that these types are tightly-packed in memory. It is not a problem if the results of intermediate operations are expanded to a 16-byte form in order to better utilize SIMD operations -- this is what CoreCLR and .NET Framework d

[2018-01-05 20:37] serkantkaraca opened #6428 "DnsCallback as aync callback causing unhandled exception crashes during network connectivity issues."
A customer reported issue on our Azure.EventHubs client traced back to Mono Socket implementation bug. Basically, the DnsCallback does't handle exceptions although it is provided as async callback to BeginInvoke. Since callback will happen in a separate thread, any exception will cause process crash.

https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/referencesou

[2018-01-05 21:20] vargaz commented on #6205
The problem is that mono_method_add_generic_virtual_invocation () calls a bunch of code in the JIT while holding the domain lock, which leads to this deadlock.

[2018-01-05 22:08] migueldeicaza opened #6430 "Build issue on Jenkins"
## Steps to Reproduce

1. Look at this pull request: https://github.com/mono/mono/pull/6426

## Current Behavior

There is a build error that is being reported which is not related to the change, but might indicate issues elsewhere, in particular, the `NotImplementedException` looks troubling for something that happens during the build.

## Expected Behavior

No exception there.

### On which plat

[2018-01-05 22:20] lewurm commented on #6430
hey @migueldeicaza, please link to the Jenkins job because
1. then we know which configuration is affected
2. we can still see it once someone retriggers jobs on your PR (the github status will always link to the most recent job on Jenkins, there is no way to get all the jobs in the github UI)

[2018-01-05 22:27] lewurm commented on #6430
@marek-safar this is from
[code]
As far as I understand, the build will fallback to `monolite` and continue just fine, but it's a bit weird to see this message and [has confused people already in the past](https://github.com/mono/mono/issues/6288#issuecomment-353162976). Can we do something about that?

[2018-01-05 22:32] migueldeicaza commented on #6428
This issue was introduced in 7f06a0910e6bf363e11e53c022aa6b25ed65d38b when trying to fix http://bugzilla.xamarin.com/show_bug.cgi?id=44406

The problem is that the fix was partial and introduced the `NotImplementedException`.

The challenge was that the referencesource code did a lot of other things as well for the native Windows sockets that the Mono implementation does differently, so the code i

[2018-01-05 22:33] lewurm commented on #6205
I can reproduce this issue when `MONO_DEBUG=gdb` is set.

[2018-01-05 22:33] migueldeicaza commented on #6187
The libc issue is just a matter of shipping the right machine.config that contains a proper mapping for libc.

[2018-01-05 23:01] serkantkaraca commented on #6428
Thx for quick turnaround. I will track the fix.

[2018-01-06 00:05] nddipiazza commented on #6187
@migueldeicaza that went over my head. i'm not clear on what that step is. So do I need some sort of custom package per operating system type? like one for ubuntu16, one for ubuntu17, one for centos, etc? Where can I find some docs on this?

[2018-01-06 00:07] kumpera commented on #6411
@vargaz we can emit simd load/store for Vector2. Vector3 is a bit trickier since it can live at the edge of a page.

[2018-01-06 00:17] migueldeicaza commented on #6430
It is also the reason why all the pull requests are reporting an error.

[2018-01-06 00:25] kumpera commented on #6397
There's no need to make a PR or change the code. We have an env var called MONO_INLINELIMIT that controls that limit.

Inlining limits and heuristics are not a simplistic measure of how much extra code bloat we want.
Inlining, to be a performance win, depends heavily on other parts of the JIT to take advantage of more code. The register allocator, in particular, struggles with the extra variables

[2018-01-06 00:25] #6397 closed

[2018-01-06 00:52] lewurm commented on #6430
that's not the reason why an error is reported; it was a failing test in `System`: https://github.com/mono/mono/commit/b5c5c55368a92e1b513cb465c3cdc391fc784d87

[2018-01-06 00:54] akoeplinger commented on #6430
Yep, the other message is from basic-profile-check as Bernhard said, please file a separate issue for making it less confusing :)

[2018-01-06 00:54] #6430 closed

[2018-01-06 08:11] Therzok commented on #6397
What is the exact test case you ran? I want to experiment with a few values locally, maybe the env var would benefit us in some cases. (i.e. how did you get total time spent jitting)

[2018-01-06 10:04] vargaz commented on #6414
Seems to be an alias analysis problem, we remove an implicit sign/zero extension by removing a load/store, -O=-alias-analysis works around it.

[2018-01-06 10:15] jaykrell commented on #6414
Peanut gallery asks: Can the load/store be removed, but retain casts to the stored/loaded types, and then the casts' presence inhibits the incorrect optimization, unless the sequence of casts is identical on either side, or maybe somehow equivalent. I'm not sure what equivalence is possible, other than identical. Perhaps runs of casts to same type could be removed (int)(int)i == (int)i.

[2018-01-06 17:11] Bert1974 opened #6439 "define a function in a razor view file"
Hi,

I'm trying to switch from iis webserver to apache+mod_mono, and while the website works under windows, with mono it (for now) fails. And i seem not be able to solve it..

## Steps to Reproduce

define a function in a razor view file
[Index.html](https://github.com/mono/mono/files/1609020/Index.txt)

## Current Behavior

outputs (with mono, windows works):
[Compilation Error.html](https://gith

[2018-01-06 19:19] rnagy commented on #6359
Microsoft (R) Visual C# Compiler version 2.6.0.62309 (d3f6b8e7)
Copyright (C) Microsoft Corporation. All rights reserved.

SUSPENDING tid 0xe7d70628440
------ BEGIN GLOBAL OP sp 0 rp 0 ap 0 wd 0 po 0 (sp + rp + ap == wd) (wd == po)
sending signal 21 to 0xe7d364eb800[0xe7d70628440]
SIGNAL HANDLER FOR 0xe7ca677e6b0 [0x0]
SIGNAL HANDLER FOR 0xe7d70628240 [0x0]
SIGNAL HANDLER FOR 0xe7d70628440 [0x0]
C

[2018-01-06 19:38] migueldeicaza commented on #6428
There is a PR here for the Mac/iOS build, it should have packages by the end of the build:

https://github.com/xamarin/xamarin-macios/pull/3171

[2018-01-06 21:33] callmekohei opened #6442 "drop mono debugger client (^_^;;"
## Steps to Reproduce

1.  start vim8
2. start sdb in vim8's terminal
3. move window pane

like this

![untitled](https://user-images.githubusercontent.com/17691683/34644092-bd806b6a-f373-11e7-8f2c-6d3aaf97b1ef.gif)

## Current Behavior

drop mono debugger client

## Expected Behavior

not drop mono debugger client

### On which platforms did you notice this

[ -> ] macOS
[ ] Linux
[ ] Windows

`m

[2018-01-06 23:02] akoeplinger commented on #6423
That fix is in master, 2017-12 (Mono 5.10) and 2017-10 (Mono 5.8, upcoming release) branches. The stack trace looks a bit different than in https://bugzilla.xamarin.com/show_bug.cgi?id=56727 but there's a good chance it's fixed as well.

Could you try the alpha build: http://www.mono-project.com/download/alpha/ ?

[2018-01-07 00:06] brendanzagaeski commented on #6422
**Note to the Mono team**

I believe this matches the issue reported in <https://bugzilla.xamarin.com/show_bug.cgi?id=55872>, which is one of the problems addressed by the refactoring work in https://github.com/mono/mono/pull/6125. That pull request is included in the Mono 5.11.0.168 (master/861e52e25c5) build.

[2018-01-07 17:46] #6414 closed

[2018-01-08 00:04] pr0vieh opened #6446 "Mono.Net.Dns.SimpleResolver"
## Steps to Reproduce

1.  use export MONO_DNS="1"
2.  Fire some Querys to an DNS Server
3.  Currupt the DNS Server like restart / shutdown

## Current Behavior

What is the current behavior?

## Expected Behavior

Please describe the behavior you are expecting

### On which platforms did you notice this

[ ] macOS
[x ] Linux
[ ] Windows

**Version Used**:

happens at master and for a long time (m

[2018-01-08 07:52] rjvdboon commented on #6205
In my environment `MONO_DEBUG=gdb` was set as well as part of the developer profile. I've now unset it again in my profile, and the build completes successfully.

[2018-01-08 10:07] lewurm commented on #6442
hey @callmekohei, thanks for your bug report!

This is an issue with `sdb`, which lives here: https://github.com/mono/sdb please report it there.
Also, it looks like the crash happens in `libedit` (readline?).

[2018-01-08 10:07] #6442 closed

[2018-01-08 10:44] #6422 closed

[2018-01-08 10:46] baulig commented on #6422
It is, aborting a request and resending within a short time frame is not supported prior to #6125.

[2018-01-08 10:50] baulig commented on #6342
So if I see this correctly, we should try to somehow get the raw value of the header?

[2018-01-08 10:51] callmekohei commented on #6442
Thank you (^_^)/

[2018-01-08 11:02] baulig commented on #6418
I'll have a look at it when I'm back in Boston (next week or the week after depending on weather), since I need my Windows workstation for this, I can't do anything about it remotely.

[2018-01-08 11:23] filipnavara commented on #6422
I can confirm that the changes fix the problem. Are they merged into the next Mono 5.8 release or not? I understand it was a rather large refactoring, but given the current Mono release pace, it is important to us that the fixes get merged into the upcoming releases at least.

[2018-01-08 11:25] baulig commented on #6422
They're in master and will go into the next Mono release.  Since it's a very complex change, backporting it into older version is not trivial and I'm not sure whether we'll do it.

[2018-01-08 11:27] filipnavara commented on #6423
I wasn't able to reproduce the error with Mono 5.11.0.168 (master/861e52e25c5) anymore, so I assume the fix helped. However, it is difficult for me to test it in the original context of a Xamarin.Mac application because of the way the Mono runtime is packaged there.

[2018-01-08 11:32] #6423 closed

[2018-01-08 11:36] akoeplinger commented on #6423
@filipnavara you can try the current Xamarin.Mac master build from https://jenkins.mono-project.com/view/Xamarin.MaciOS/job/xamarin-macios-builds-master/2081/PublishUrls/ and see if it is fixed, the Mono included there is e70439f which should have the fix.

[2018-01-08 11:39] akoeplinger commented on #6422
Just to clarify, by "next Mono release" that means the next one that is branched from master, so it won't be in Mono 5.8, but 5.12 if nothing changes.

[2018-01-08 11:43] filipnavara commented on #6422
I understand it is a large change and backporting could be troublesome. However, please consider the following.

We were building our application using Xamarin.Mac 3.8.1.0 and the Mono version bundled in it. Due to some differences in how it handled SSL connection closing this problem didn't manifest there, or at least not of such magnitude.

Only when upgrading to Xamarin.Mac 4 / Mono 5.4.x the p

[2018-01-08 11:59] akoeplinger commented on #6336
@kzu but what if the package is a dependency of another package so it gets installed automatically? should we add `_._` for XA/XI to the package?

[2018-01-08 12:15] rnagy commented on #6359
I think the problem might be that the signal handlers get called for all threads,
but i'd appreciate if someone with deeper knowledge to that part of the code
would chime in.

Thanks

[2018-01-08 12:17] akoeplinger commented on #6338
I quickly tried the above and it took about 400 milliseconds on an Android 8 x86 emulator on my MacBook.

[2018-01-08 12:19] #6428 closed

[2018-01-08 12:20] marek-safar commented on #6446
Is there any reason why are you using Mono DNS ?

[2018-01-08 12:35] kzu commented on #6336
I don’t  think the reference will be resolved automatically to the reference assemblies though, so you'd still need to add the other reference, or code will continue to not compile and you wouldn't know why :(

[2018-01-08 12:36] kzu commented on #6336
Unless we add a targets that conditionally references it.... hm... That might be the simplest solution...

[2018-01-08 12:38] marek-safar commented on #6422
We are not going to backport the fix as it's a change which we need to test it more thoroughly. There should be an alpha version of XM with the fix but not anytime soon (perhaps March) until then it's probably best for you to stay with the stable version.

[2018-01-08 13:07] pr0vieh commented on #6446
I in a mass of DNS querys i think Mono DNS is faster...

This Report is only for Information not a big thing😉

[2018-01-08 13:45] luhenry commented on #6383
I cannot reproduce the crash locally, would you mind checking on your end if https://github.com/mono/mono/pull/6449 fixes the issue? Thank you

[2018-01-08 13:48] marek-safar commented on #6430
We could update all our bots to recent mono it looks like they still have Mono 4.x versions to avoid this check to fail but in general, any error can occur at this probing check including runtime crash and that's why we do it.

[2018-01-08 13:49] marek-safar commented on #6446
Good ;-) because we'd like to remove the support in the future

[2018-01-08 13:52] akoeplinger commented on #6430
yep, the question is whether we should show the crash or just hide it (perhaps write it to some file) and say system Mono isn't working and continue.

[2018-01-08 13:54] marek-safar commented on #6430
We hide it in normal build but CI build is verbose build. I was thinking redirecting it to basic.log but not sure how to pass the check if the redirects fails

[2018-01-08 13:58] akoeplinger opened #6450 "Update Mono we use in CI"
Currently we use mono 4.6 in the chroot-based build jobs which causes some confusing messages to be produced (https://github.com/mono/mono/issues/6430). We should update to later 5.x which should just be a config change on Jenkins.

[2018-01-08 13:58] akoeplinger commented on #6430
ok yeah then I think we should just update the Mono we use in CI, filed https://github.com/mono/mono/issues/6450 for it.

[2018-01-08 14:03] akoeplinger commented on #6383
@luhenry yes it does seem to fix the issue for me.

[2018-01-08 14:14] lewurm commented on #6383
it doesn't crash the runtime anymore, but still something is odd:
[code]

[2018-01-08 14:17] akoeplinger commented on #6383
@lewurm yes, but that happened even before https://github.com/mono/mono/pull/5570 as I mentioned in https://github.com/mono/mono/issues/6383#issuecomment-355445969

[2018-01-08 15:16] migueldeicaza commented on #6446
Please provide a repro test case.

[2018-01-08 15:16] #6446 closed

[2018-01-08 15:42] akoeplinger commented on #6336
@kzu ok, where do you want to track this? I see there's https://github.com/kzu/mono-nugetized/issues/3 already, is that a good place?

[2018-01-08 16:26] iamphi commented on #6342
I traced the origin of the`challenge` parameter of `public Authorization Authenticate (string challenge, WebRequest webRequest, ICredentials credentials)`, https://github.com/baulig/mono/blob/3fde4b59e14da32dde34d82392cb049e59fb92d6/mcs/class/System/System.Net/DigestClient.cs#L403
 to arrive at my conclusion about what's happening to the header. I haven't tried to build and test your PR https://gi

[2018-01-08 16:29] joshpeterson commented on #6407
It might still be necessary to implement this. And executable which need to protect itself from an attack can use the retpoline mitigation. Likewise, the runtime would need to be compiled with the same mitigation (when available in C compilers).

For reference here are related LLVM patches:
https://reviews.llvm.org/D41723 (retpoline)
https://reviews.llvm.org/D41761, https://reviews.llvm.org/D41760

[2018-01-08 17:15] baulig commented on #6388
Is your sandboxed app using `Mono.Security.dll`?  We already have a private setting to do this (it's currently internal because we did not want to support it as a public API yet).

See `MonoTlsSettings.CertificateSearchPaths` (https://github.com/mono/mono/blob/master/mcs/class/Mono.Security/Mono.Security.Interface/MonoTlsSettings.cs#L85).

Look here for valid values: https://github.com/mono/mono/b

[2018-01-08 17:16] baulig commented on #6388
If you need an environment variable, we can add this as well.

[2018-01-08 17:30] kumpera commented on #6397
I ran compiling corlib with AOT disabled to stress compilation time changes. To do so I ran the build in mcs/class/corlib with `make V=1` to get the full command line.

After that I used the MONO_INLINELIMIT  env var to control inlining limits and `-O=-aot` to ensure AOT was not enabled.

Finally, I ran it with `--stats` to collect internal metrics such as JIT time and generated code size.

Measur

[2018-01-08 17:45] kzu commented on #6336
yep, that's fine

[2018-01-08 17:50] kzu commented on #6336
@akoeplinger that referenced issue, however, is about Mono on Windows, not XA/XI. I can't see how the windows dll could be wrong since I'm [referencing it conditionally](https://github.com/kzu/mono-nugetized/blob/master/package/Mono.Security.targets#L5) and it's [unpacked directly from the MSI](https://github.com/kzu/mono-nugetized/blob/master/build.targets#L105). So, unless the MSI packs in the .

[2018-01-08 17:53] akoeplinger commented on #6336
@kzu the implementation does use Array.Reverse: https://github.com/mono/mono/blob/df0fd973cc0fd6d0608c22490d2138b7c929fc5a/mcs/class/Mono.Security/Mono.Security.X509/X509Certificate.cs#L136

It works on Mono because we get `Array` from corefx which has these new APIs.

[2018-01-08 17:54] marek-safar commented on #6336
@kzu mono build uses mono libraries for building, if you need to target .NET you need to build mono libraries targeting a specific .net version not mono

[2018-01-08 17:54] akoeplinger commented on #6336
We might be looking at two issues here: 1) Mono.Security.dll from Mono not being usable on .NET Framework 2) Mono.Security NuGet package not adding GAC reference when installed into XA/XI project

[2018-01-08 18:31] kzu commented on #6336
@marek-safar  but the user is referring to using this assembly on windows with Mono, see https://github.com/kzu/mono-nugetized/issues/3...

[2018-01-08 18:43] marek-safar commented on #6336
That will still only work if the user has recent Mono version :-(

[2018-01-08 18:52] lambdageek commented on #6336
@akoeplinger Where in mono is `System.Array::Reverse<T>(T[], Int32, Int32)` defined?  because the line you pointed at is compiled to that generic method (which is only in .NET Core 2.0).  If you compile with with .NETFramework or with Mono, you get a call to `System.Array::Reverse(System.Array, Int32, Int32)` which is a different method.

https://github.com/mono/mono/blob/df0fd973cc0fd6d0608c22490

[2018-01-08 18:57] migueldeicaza commented on #6439
Mono's ASP.NET stack is very old and might fail for too many reasons.

See:

https://paper.dropbox.com/doc/Porting-ASP.NET-Classic-to-Unix-kR6G8sHH0NsDOevHPw914

[2018-01-08 19:08] directhex commented on #6230
.zip rename is done, and seems to work fine.

BoringTLS is NOT included, and neither is libmono*.so - but it's not a big job to change that. I'll do that today.

[2018-01-08 19:36] directhex commented on #6230
Wait, I'm an idiot, and https://github.com/mono/mono/commit/c593c1e3516b2f8ecefbe829933efb5a1537b210 is in now. Just haven't run any mkbundle package generations since that went in

[2018-01-08 20:12] directhex commented on #6450
55 jobs are using a Mono 4.6 chroot to build. I'll prioritize the main test-* jobs

[2018-01-08 20:37] directhex commented on #6450
All jobs except old ones where 4.6 is relevant, and three with "special" OS images bumped to `${label}-stable`, which reflects whatever mono-project.com says is stable. will look at outliers next

[2018-01-08 20:42] lambdageek opened #6457 "ReflectionTypeLoadException: should include LoaderExceptions in the Message"
The CoreCLR version of `System.Reflection.ReflectionTypeLoadException` includes the contents of the `LoaderException` property in its `Message`.  Mono should do likewise.
(Mono is using a version of `ReflectionTypeLoadException` from `referencesource` here: https://github.com/mono/mono/blob/master/mcs/class/referencesource/mscorlib/system/reflection/reflectiontypeloadexception.cs)

https://github.

[2018-01-08 20:45] #6450 closed

[2018-01-08 20:50] directhex commented on #6230
I have a 5.8 version bundling now, which includes unmanaged libs.

[2018-01-08 23:46] akoeplinger commented on #6336
@lambdageek we get it from https://github.com/mono/corert/blob/48dba73801e804e89f00311da99d873f9c550278/src/System.Private.CoreLib/src/System/Array.cs#L917.

I assume you're compiling against the reference assemblies, yes those don't contain that API. Since we build Mono.Security as part of the Mono build against the implementation mscorlib.dll we do have access to it.

[2018-01-08 23:55] akoeplinger commented on #6450
Thank you!

[2018-01-09 02:42] lambdageek commented on #6336
@akoeplinger Ah, you're right. I missed that while grepping. In that case I don't understand how we could be getting a MissingMethodException when the method is not missing...

[2018-01-09 02:43] akoeplinger commented on #6336
@lambdageek the assembly is running on Desktop .NET Framework which _does not_ contain this method yet.

[2018-01-09 08:04] didiermauricio opened #6461 "System.Runtime.Remoting.RemotingException: Tcp transport error."
## Steps to Reproduce

1. Execute a nunit test with system runtime remoting

## Current Behavior

Timeout is produced in the test

## Expected Behavior

The test ends correctly

### On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.4.1.6

### Stacktrace

[code]

[2018-01-09 09:06] #6439 closed

[2018-01-09 09:15] #6399 closed

[2018-01-09 10:39] rjvdboon commented on #6205
I think the `flaky bug` label can be removed now? There is a clear reproduction case.

[2018-01-09 14:16] #6383 closed

[2018-01-09 16:07] joncham opened #6464 "Socket.Send misses data on Windows"
## Steps to Reproduce

1. This is related to https://github.com/mono/mono/pull/6453
2. Run the following test case

[code]

## Current Behavior

Waiting for a connection...
Socket connected
System.Exception: Error! Expected 0 got 1
  at SynchronousSocketListener.StartListening () [0x000bd] in <5fca9061c115454492cf78911edd23d5>:0
SocketException : System.Net.Sockets.SocketException (0x80004005): An

[2018-01-09 16:08] joncham commented on #6464
You need to send enough data for the OS network buffer to fill up. This cases the Mono on Windows code path to go through the `alertable_socket_wait` code path.

[2018-01-09 19:41] akoeplinger opened #6466 "System.Diagnostics.ProcessTest.Start1_FileName_NotFound failing on newer Ubuntu"
## Steps to Reproduce

1. `make -C mcs/class/System run-test V=1 TESTNAME=System.Diagnostics.ProcessTest.Start1_FileName_NotFound
`

Note: This was first reported in https://github.com/mono/mono/issues/6383, after the native crash was fixed.

## Current Behavior

[code]

## Expected Behavior

no failure.

### On which platforms did you notice this

[ ] macOS
[ X ] Linux, Ubuntu 16.04 in VirtualBox

[2018-01-09 19:41] akoeplinger commented on #6383
Opened https://github.com/mono/mono/issues/6466 for the remaining issue.

[2018-01-10 00:26] akoeplinger commented on #6466
So in the test we set UseShellExecute=true which means we end up starting xdg-open on Linux: https://github.com/mono/mono/blob/e9913fdc487622073a0827f32f845b637163590d/mono/metadata/w32process-unix.c#L2163

When I do `xdg-open /usr/bin/shouldnoteverexist` I get the same "gvfs-open: /usr/bin/shouldnoteverexist: error opening location" error as in the unit test. I assume something goes wrong in the

[2018-01-10 01:03] akoeplinger commented on #6466
Setting `handler_needswait = TRUE;` seems to fix/work around the problem.

/cc @luhenry

[2018-01-10 06:03] sebasijan opened #6471 "PlatformNotSupportedException when calling LdapConnetion.Disconnect"
Everything appears to be working fine (apart from the fact that retrieving a specific attribute should be way easier than iterating around all existing attributes - not sure why it was designed this way), but when I try to disconnect I get

The code is pretty much exactly as taken from the Novell documentation, aprt from the fact that I am trying to just rerieve 2 specific attributes (name and log

[2018-01-10 11:48] akoeplinger commented on #6471
Which platform are you running this on? This should only happen on TVOS/WatchOS.

[2018-01-10 11:58] sebasijan commented on #6471
I am seeing this on Windows 10, when debugging a ASP .net core app in VSCode

[2018-01-10 12:00] akoeplinger commented on #6471
and you're running this on Mono or .NET Framework/.NET Core/UWP?

[2018-01-10 12:41] sebasijan commented on #6471
I'm not sure what you mean - how can I check this?

I got the library from NuGet

[2018-01-10 12:47] akoeplinger commented on #6471
I assume you're developing in Visual Studio, which project type did you use? Regarding NuGet: which package exactly, there are multiple listed that match Novell.Directory.Ldap

[2018-01-10 19:17] ErwinVorenhout opened #6477 "GetActiveTcpConnections->state returns wrong status"
I am trying to monitor an active TCP connection with the following code, when running on windows the _log.logInfo function will simply return established but when running on Mono 4.2.1 it will return "Closed", while the connection is established according: netstat -anp --tcp.

[code]

This is the code that I am using:
[code]

The output on windows when placing the log function above the if stateme

[2018-01-10 21:45] sebasijan commented on #6471
I am using **Visual Studio Code** for this project.

To create the project I called

    dotnet new mvc

To install Novell, I added the **Nuget Package Manager Extension** and downloaded `Novell.Directory.Ldap` (it was the only version available through this method)

In my csproj I can see:

    <PackageReference Include="Novell.Directory.Ldap" Version="2.2.1"/>

Let me know if I can provide any o

[2018-01-11 09:15] oddball opened #6482 "http://download.mono-project.com/repo/ubuntu/dists/nightly/main/ not updated"
I reported this at https://gitter.im/mono/mono before but wanted to track any progress.

The last update of http://download.mono-project.com/repo/ubuntu/dists/nightly/main/  is from 2017-11-27

New builds are not put into the repo.

[2018-01-11 09:37] marek-safar commented on #6482
@directhex could you look into it

[2018-01-11 11:39] #6482 closed

[2018-01-11 11:39] akoeplinger commented on #6482
As it happens, this was just fixed and should contain a build from last night now :)

Please note that you should generally use `nightly-<releasename>` like shown at http://www.mono-project.com/download/nightly/#download-lin-ubuntu as the legacy `nightly` repo just points to Ubuntu precise to keep the existing consumers working.

[2018-01-11 14:21] joncham commented on #6464
Fixed by https://github.com/mono/mono/issues/6464

[2018-01-11 14:21] #6464 closed

[2018-01-11 14:43] vargaz commented on #6274
https://github.com/mono/mono/pull/6484

[2018-01-11 14:43] vargaz commented on #6287
https://github.com/mono/mono/pull/6484

[2018-01-11 14:58] migueldeicaza opened #6485 "msbuild crash with Mono 5.4"
## Steps to Reproduce

[code]

## Current Behavior

I get a managed and unmanaged crash while doing this, output attached on the stack trace section.

## Expected Behavior

Just a nuget restore.

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

### Stacktrace

[code]
mono$ msbuild /t:Restore TensorFlowSharp.sln
Microsoft (R) Build Engine versi

[2018-01-11 16:33] vargaz commented on #6485
For the record, this is using an older mono which had a known crash, from the gdb output:
Executable module set to "/Library/Frameworks/Mono.framework/Versions/5.4.1/bin/mono".

[2018-01-11 16:42] marek-safar commented on #6485
I believe the issue was fixed. Miguel try to update to more recent version of Mono

[2018-01-11 16:42] #6485 closed

[2018-01-12 00:29] akoeplinger commented on #6320
@lewurm this still happens in 2017-12, could you please backport the fix?

[2018-01-12 10:09] luhenry opened #6490 "Reenable weak-fields.exe test"
Extracted from https://bugzilla.xamarin.com/show_bug.cgi?id=60973

It fails with the following output

[code]

@vargaz noted that it's the test that seems flaky since it doesn't expect the object to be randomly retained.

It was disabled with https://github.com/mono/mono/pull/6191

[2018-01-12 13:00] OleksandrChizh opened #6498 "Mono issue with TLS due to Client Certificates"
Hi. We have a .NET 4.0 application for sending https(TLS 1.0) requests using HttpWebRequest. The application works correctly with the windows version of Mono but when we send a request on Ubuntu 16.04 using Mono 5.4.1.6 we get an error, see here: https://pastebin.com/hP9dZvuF
Just to test the app we sent a request to https://www.google.com, https://github.com, etc. and we got no errors but when we

[2018-01-12 14:03] csances commented on #6283
[TestFileInfoProperties.zip](https://github.com/mono/mono/files/1626226/TestFileInfoProperties.zip)

[ResultsFromTests.txt](https://github.com/mono/mono/files/1626222/ResultsFromTests.txt)
@akoeplinger  sorry for the delay.

I am attaching here a sample project.
You will find a C# solution with three projects:

- Port.File: class library with the source code
- Port.Helper: class library with some

[2018-01-12 14:27] hutchdan opened #6499 "Heap-Shot does not build"
## Steps to Reproduce

1. Download https://github.com/mono/heap-shot
2. Install GTK# from http://www.mono-project.com/download/#download-win
3. Build in Visual Studio 2017

## Current Behavior

Compilation fails

Severity	Code	Description	Project
Error	CS1061	'ObjectMapReader' does not contain a definition for 'GetObjectCountForType' and no extension method 'GetObjectCountForType' accepting a firs

[2018-01-12 14:47] vargaz commented on #6490
It also fails on osx with aot:
mono --aot weak-fields.exe
mono weak-fields.exe

[2018-01-12 14:51] csances commented on #6283
@akoeplinger sorry for the delay.

[TestFileInfoProperties.zip](https://github.com/mono/mono/files/1626394/TestFileInfoProperties.zip)

I am attaching here a sample project.
You will find a C# solution with three projects:

- Port.File: class library with the source code
- Port.Helper: class library with some needed classes
- Port.File.UnitTests: test project running NUnit tests. You have to exect

[2018-01-12 16:12] alexrp commented on #6499
This tools is very, very outdated. It can't even read log files produced by recent versions of the log profiler.

[2018-01-12 16:29] hutchdan commented on #6499
Alex

Thanks for you quick response.

The reason I am trying to use it is that Xamarin Profiler cannot compare snapshots. The guidance on the Xamarin pages is to use HeapShot to perform these comparisons.

[2018-01-12 20:05] vargaz commented on #6490
This looks like a real bug and not a test failure.

[2018-01-12 23:00] brendanzagaeski commented on #6498
Cross-referencing note to the Mono team for a couple existing reports about the not-yet implemented TLS renegotiation support for the `Mono.Btls` and `Mono.AppleTls` implementations:

- <https://bugzilla.xamarin.com/show_bug.cgi?id=53912>
- <https://bugzilla.xamarin.com/show_bug.cgi?id=43332>

[2018-01-13 02:28] EgorBo commented on #6350
@marek-safar @rjvdboon I can reproduce it on my fedora with mono 5.9 but it works fine with the latest mono 5.11 (master). Looks more like the SSLStream bug I fixed (by a workaround) a while ago for appleTls platforms.

@rjvdboon there is an integration suit:
cd mcs/class/System.Data
[code]

[2018-01-15 01:14] vargaz commented on #6401
Fixed.

[2018-01-15 01:14] #6401 closed

[2018-01-15 09:41] rjvdboon commented on #6350
@EgorBo Your comment on SSLStream bug fix made me check something: With GCC 4.4.7 (the default on rhel6/centos6) the BTLS part doesn't compile, and thus falls back to the old mono ssl implementation. If I `configure --disable-btls` on Centos7.3 (GCC 4.8.5), thus using the old mono ssl implementation, the test program fails in the same way.

`make run-test` never finishes as it times out trying to

[2018-01-15 09:50] EgorBo commented on #6350
@rjvdboon could you please check your test with the following option in the connection string:
`;Encrypt=True;TrustServerCertificate=True;`

[2018-01-15 10:45] rjvdboon commented on #6350
@EgorBo With that added to the connectionstring it works.

[2018-01-15 11:21] csances commented on #6283
# @akoeplinger

Thank you for your help. Finally we have been able to fix the problem using Refresh method from FileInfo object.
We were not using it on Windows environment but once we have remove our own "Refresh" method for the Refresh from FileInfo object everything was ok.

[2018-01-15 11:21] #6283 closed

[2018-01-15 11:27] EgorBo commented on #6350
@rjvdboon thank you for confirming that!

[2018-01-15 11:55] akoeplinger commented on #6283
Ok good to hear although I still don't understand why it worked on Windows without calling `Refresh()` :)

[2018-01-15 12:56] rodrmoya opened #6512 "Missing counters/perf counters in Mono 5.8 with new profiler arguments"
## Steps to Reproduce

1. Run any desktop mono app with: `/Library/Frameworks/Mono.framework/Versions/Current/bin/mono --gc=sgen --profile=log:heapshot=ondemand,nolegacy,jit,gc,nogcalloc,gcroot,gcmove,counter,output="/var/folders/rd/w957krqd3rn1zps5z6r75kz00000gn/T/n4rhtedd.mlpd" app.exe`
2. Let it run for a few seconds and stop
3. `mprof-report /var/folders/rd/w957krqd3rn1zps5z6r75kz00000gn/T/n4r

[2018-01-15 13:49] akoeplinger opened #6513 "SocketTest.AcceptBlockingStatus is flaky on ARM"
It failed 47 times in the last two weeks on the armel, armhf and arm64 master lanes with this stack trace:

[code]

[2018-01-15 15:14] marek-safar commented on #6498
/cc @baulig

[2018-01-15 15:16] marek-safar commented on #6477
Mono 4.2.1 is a quite old version, could you try to update to something newer?

[2018-01-15 15:17] marek-safar commented on #6461
What test do we need to execute to reproduce this?

[2018-01-15 15:21] akoeplinger commented on #6477
Forgot to comment as I looked at this with @ErwinVorenhout on gitter last week. We're simply casting the `st` entry to `TcpState` in https://github.com/mono/mono/blob/89c76cdfa1cbb358bb6353f886351280bd80eafc/mcs/class/System/System.Net.NetworkInformation/IPGlobalProperties.cs#L285-L300 but that is wrong since e.g. TCP_ESTABLISHED = 1 in the kernel enum but in TcpState it is 5.

[2018-01-15 16:29] marek-safar opened #6519 "System.Data tests failures on watch"
## Steps to Reproduce

1. Get 2017-12 XI monthly integration
2.
3.

## Current Behavior
Faling tests
[code]

## Expected Behavior

No failures

### On which platforms did you notice this

[ x] watchOS
[ ] Linux
[ ] Windows

**Version Used**: 2017-12 branch

[2018-01-15 17:04] #6287 closed

[2018-01-15 19:01] brendanzagaeski commented on #6498
Related to the title change for this issue, note that use of client certificates (or more precisely, a server's request for client certificates) is not strictly the _only_ reason a TLS renegotiation can happen, but it is the typical reason.

[2018-01-15 20:45] akoeplinger opened #6523 "Remove obsolete assemblies in next major version bump"
Tracking issue for assemblies to remove once we can do another breaking change, i.e. when we do Mono 6.0.

- [x] nunit24, see https://github.com/mono/mono/issues/12845
- [ ] IronPython, requested by maintainers a few times
- [ ] IBM.Data.DB2.dll, replaced by NuGet package
- [ ] ICSharpCode.SharpZipLib.dll, replaced by NuGet package, fixes problems like  https://bugzilla.xamarin.com/show_bug.cgi?id

[2018-01-15 20:48] vargaz commented on #6523
xbuild ?

[2018-01-15 20:49] akoeplinger commented on #6523
Hmm, good question. I'd say this is still quite common but we could symlink it to `msbuild` I think.

[2018-01-15 22:16] alexrp commented on #6523
Considering how much of a pain it still is to build `msbuild` on Linux, I think removing `xbuild` would be *very* premature.

[2018-01-15 22:20] vargaz commented on #6523
Then we probably shouldn't warn users that xbuilld is obsolete.

[2018-01-16 06:44] alexander-vi opened #6525 "[Linux] [mipsel] Crash on any exception in C# code"
## Code to reproduce
[code]

## Current Behavior
Crash with the following stack:
[code]

Please note that other C# features looks like work fine. I've managed to compile and launch several other examples.

## Expected Behavior
Message "Error!" is printed.

### System information
Mono is installed from packages as "mono-devel".
[code]

[code]

[code]

[code]

I know that this version of Mono is a b

[2018-01-16 08:16] marek-safar commented on #6523
We want to warn as xbuild is obsolete, the linux situation is being worked on and it's only when you need to build from sources (btw other tools have same problem)

[2018-01-16 09:25] Therzok opened #6529 "crash in mono_local_cprop ()"
## Steps to Reproduce

1. See https://bugzilla.xamarin.com/show_bug.cgi?id=61157
2.
3.

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

From the bug report `Running on Mono 5.4.1.6 (2017-06/1f4613aa1ac) (64-bit)`. So mono stable.

### Stacktrace

[code]

[2018-01-16 09:47] marek-safar commented on #6529
/cc @vargaz could it be a regression?

[2018-01-16 11:35] Therzok opened #6530 "Mono's MSBuild is slow on Mac due to constant IO"
## Steps to Reproduce

1. See https://github.com/Microsoft/msbuild/blob/30b19e9f2cefb6d9675d660c8bb8b317c06ff9a1/src/Shared/NativeMethodsShared.cs#L553-L556

## Current Behavior

IO is done to check whether the platform is OS X.

## Expected Behavior

IO should be done at most once, or some other detection mechanism should be used. (pinvoke libc and get OS name)

### On which platforms did you not

[2018-01-16 12:49] vargaz commented on #6529
This has been fixed in master/2017-12 by
https://github.com/mono/mono/commit/3aeeae6230445e3544fde47221edf45f5230a316, and on
2017-10 by bec9f13d05a13c143daff0c206eee5a77461f054.

[2018-01-16 12:50] marek-safar commented on #6525
The Mono version is quite old, could you try with any version from 5.x series

[2018-01-16 12:58] marek-safar commented on #6530
@radical We should just remove #if Mono and get it to 2017-10 and newer versions

[2018-01-16 12:59] #6529 closed

[2018-01-16 13:14] Therzok commented on #6530
The same problem plagues the path without `#if MONO`
https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Runtime.InteropServices.RuntimeInformation/RuntimeInformation.cs#L44-L57

[2018-01-16 13:18] marek-safar commented on #6530
@vargaz could you make the OSX check faster in RuntimeInformation

[2018-01-16 13:27] alanmcgovern commented on #6530
/cc @slluis just so he's aware of the perf issue that VSM's msbuild builders are hitting

[2018-01-16 13:44] vargaz commented on #6529
We might want to keep this open there are dups all the time and it might need more backports.

[2018-01-16 13:50] marek-safar commented on #6529
You can point people or link to closed issue

[2018-01-16 14:45] migueldeicaza commented on #6530
Pull request submitted: https://github.com/Microsoft/msbuild/pull/2864

[2018-01-16 17:28] rjvdboon commented on #6350
Shouldn't this stay open until https://github.com/mono/corefx/pull/14 is applied on mono/corefx, and mono's corefx submodule is bumped?

[2018-01-17 09:22] alexrp opened #6546 "Miscellaneous coverage profiler cleanup tasks"
Opening this as a sort of meta-bug to keep track of some relatively small issues with the coverage profiler that should be addressed over time.

- [ ] When we're comfortable bumping the output format version, it would be nice to change the overall structure to be more easily digestible for readers. For example, all `class` elements should be under an `assembly` element, all `method` elements shoul

[2018-01-17 12:05] akoeplinger opened #6548 "Frequent test failures of ThreadLocalTests.RunThreadLocalTest7_WeakReference corefx test"
## Steps to Reproduce

1. Compile Mono on Linux i386
2. `make -C mcs/class/corlib run-xunit-test`

## Current Behavior

Frequent test failure in System.Threading.Tests.ThreadLocalTests.RunThreadLocalTest7_WeakReference corefx test: https://github.com/mono/corefx/blob/dfd98e7113a99708f4c9ed063a8c481f838aa8d3/src/System.Threading/tests/ThreadLocalTests.cs#L192-L225

This seems to only occur on i386

[2018-01-17 12:06] akoeplinger commented on #6548
@BrzVlad should the WeakReference guaranteed to be collected in the test above or is this a test issue?

[2018-01-17 14:10] BrzVlad commented on #6548
@akoeplinger We don't guarantee immediate collection. Method should be called through something like this : https://github.com/mono/mono/blob/master/mono/tests/sgen-toggleref.cs#L64

[2018-01-17 14:18] migueldeicaza commented on #6499
Not a Mono bug.

[2018-01-17 14:18] #6499 closed

[2018-01-17 14:21] migueldeicaza commented on #6499
The Xamarin profiler can compare snapshot, just the last two.

[2018-01-17 14:38] rodrmoya commented on #6499
@hutchdan what page in the Xamarin docs has that guidance?

Indeed the Xamarin Profiler allows comparing snapshots, just in a different way than HeapShot, so if you want, let me know what you find missing on it so that we can improve it.

[2018-01-17 14:41] akoeplinger opened #6555 "Process.WaitForExit() gets slower the larger your open file limit (ulimit -n) is on Linux"
## Steps to Reproduce

1. Compile this: `csc test.cs`:

[code]
2. `$ (ulimit -n 1000; time mono test.exe)`
[code]
3. `$ (ulimit -n 100000; time mono test.exe)`
[code]
4. `$ (ulimit -n 1000000; time mono test.exe)`
[code]

## Current Behavior

It gets slower the higher your ulimit -n is.

Note: you may need to change your system settings (`/etc/security/limits.conf`) to allow higher limits.

## Exp

[2018-01-17 14:45] migueldeicaza commented on #6316
This needs to be investigated.   We would need to make sure that the fix is correct, and then apply the fix to a script.

Those files are generated from a script, so we would need to update the script and regenerate the contents.

[2018-01-17 17:43] hutchdan commented on #6499
https://developer.xamarin.com/guides/ios/deployment,_testing,_and_metrics/monotouch_profiler/

[cid:800338b9-19a5-478c-a9b1-fa2bc778b7b7]

Monotouch Profiler - Xamarin<https://developer.xamarin.com/guides/ios/deployment,_testing,_and_metrics/monotouch_profiler/>
developer.xamarin.com
This article shows how to set up and use the profiler that is included in Xamarin Studio and Xamarin.iOS. Using a g

[2018-01-17 17:59] rodrmoya commented on #6499
in the xamarin profiler the diff between the current and the previous snapshot is just shown by default. That is, on the snapshots list, double click on one of them and that would display the objects present in the selected snapshot grouped by class. On the right-side panel there is a 'only new objects' checkbox. When checked, it just displays the objects added to the selected snapshot compared to

[2018-01-17 19:10] eatdrinksleepcode opened #6560 "Incorrect behavior for Take/Skip/Concat combination"
## Steps to Reproduce

[code]
## Current Behavior

[code]

## Expected Behavior

[code]

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.4.1.7

## Notes

_This is a regression_: the same code works correctly under Mono 4.8.1.

Note the cast to ```object``` inside the ```Enumerable.Repeat```. This is necessary to reproduce the bug; without the cast,

[2018-01-17 19:23] Therzok opened #6561 "Flaky MonoDevelop.PackageManagement test"
## Steps to Reproduce

1. https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1293642
2. Happened on another PR too

### On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

[2018-01-17 21:03] alexrp commented on #6512
The option you want is almost certainly `nodefaults` which has to come first, so like this:

[code]

This outputs all the events you expect.

That said, I think there is still a bug here. In your original invocation, `gc`, `counter`, etc come *after* the `nolegacy`, so I would expect them to take effect. @kumpera can you confirm if this is the intended behavior?

[2018-01-18 00:42] BryanCrotaz commented on #6428
I'm seeing exactly this on raspberry pi - as this issue is closed, which release should I be downloading?

[2018-01-18 02:06] akoeplinger commented on #6561
How did you determine this is a Mono problem? Can you please add some steps about how to run this test locally?

[2018-01-18 02:24] akoeplinger commented on #6560
I can repro in Mono 5.4.1.6 and 5.8.0.115, but not in 5.10.0.20 so it looks like this was already fixed.

@marek-safar do you remember a specific fix for this or was it part of a corefx bump?

[2018-01-18 09:32] Rombersoft opened #6572 "Bug report give up https://bugzilla.xamarin.com"
Why does bug report give up https://bugzilla.xamarin.com?
And who does support mono project now?

1.
2.
3.

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

### Stacktrace

[code]

[2018-01-18 11:01] alexander-vi commented on #6525
@marek-safar I believe I can try, but it will take some time because it is impossible to build mono 5.x with 3.2.8

[2018-01-18 13:15] marek-safar commented on #6428
The issue was fixed only recently. The earliest version with the fix available should be the latest alpha of Mono 5.8

[2018-01-18 13:16] marek-safar commented on #6572
https://bugzilla.xamarin.com still works and can be used for search for existing bugs. However, it was closed for any new one as we switched to github issues instead

[2018-01-18 13:16] #6572 closed

[2018-01-18 13:41] hutchdan commented on #6499
Rodrigo

Thanks for your explanation. I will use Xamarin Profiler going forward and forget about Heap-Shot.

Daniel

________________________________
From: Rodrigo Moya <notifications@github.com>
Sent: 17 January 2018 17:59:14
To: mono/mono
Cc: hutchdan; Mention
Subject: Re: [mono/mono] Heap-Shot does not build (#6499)

in the xamarin profiler the diff between the current and the previous snapshot

[2018-01-18 14:16] Rombersoft opened #6573 "Deadlock in delegate which created used"
## Steps to Reproduce

1. Assembly computer with motherboard msi 760GM-p23. On other motherboards all works fine!
2. Install 4.8.8-2-ARCH #1 SMP PREEMPT Thu Nov 17 15:09:32 CET 2016 i686 GNU/Linux
3. Install mono 5.8
4. git clone from https://github.com/MonoGame/MonoGame
5. Create project monogame with some animation

## Current Behavior

## Expected Behavior
Application must draw animation

## De

[2018-01-18 16:35] Nihlus opened #6577 "Mono debugger crashes in native code when inspecting interface instances produced by Config.Net"
## Steps to Reproduce

1. Download the attached reproduction project
2. Restore nuget packages and compile
3. Run the project
4. Observe the expected output
5. Debug the project
6. Inspect the local variable in the main method.
7. Observe the runtime crash.

## Current Behavior
At present, when inspecting variables containing an instance of a proxy interface created by Config.Net, the Mono debugge

[2018-01-18 18:08] migueldeicaza commented on #6555
This might be caused by the need of the child process to close the file descriptors on fork, to prevent the child from accessing the parent's descriptors.

What we could do is set close-on-exec flag on any file descriptor we open, to avoid paying this price at fork/exec time.

[2018-01-18 18:28] joncham opened #6579 "Type.GetInterface fails to find implemented interface when `ignoreCase: true` is used"
## Steps to Reproduce

1. Run code below

[code]

## Current Behavior

Output: False

## Expected Behavior

// .NET returns True
Output: True

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ x] Windows

**Version Used**:

Recent mono master (perhaps a few weeks old)

### Stacktrace

[code]

[2018-01-18 19:13] vargaz commented on #6577
Can't reproduce with an upcoming version:
Mono JIT compiler version 5.8.0.110 (2017-10/c7ec6a03ae3 Mon Jan 15 13:55:23 EST 2018)

[2018-01-18 20:03] linyingwei opened #6581 "Getting malloc: *** error for object 0x610006830320: Non-aligned pointer being freed (2) error while running application on Mac OS with Xamarin"
## Steps to Reproduce

Run test application with 10 instances on one single box for 2 hrs
Test application uses Xamarin platform to test business scenarios related to our product

## Current Behavior

Test app crashes with no logs except the log in system log which tells us there was an unaligned pointer being freed. This doesn't repro on a specific test or any specific time, it tends to happen on

[2018-01-18 20:36] luhenry commented on #6581
Thank you for the bug report.

On macOS, you have some logging infrastructure integrated directly to system `malloc` and `free`. You can find a full list by running `man malloc`, but one environment variable that you can set and which might be of particular interest is `MallocErrorAbort`. It looks small enough to not incur much overhead, and it might allows Mono to produce more logs (like a native

[2018-01-18 21:43] Nihlus commented on #6577
Confirmed, issue fixed in Mono 5.8 .

[2018-01-18 21:43] #6577 closed

[2018-01-18 21:56] sourceskyboxer opened #6584 "* Assertion at class.c:5796 problem for Mono 5.11.0"
Sorry - I don't see because I use wrong Prompt Command of Visual Studio 2017 Community - I have resolve - sorry for distribution!

[2018-01-18 22:19] #6584 closed

[2018-01-18 22:41] lambdageek commented on #6579
The problem is specifically the `ignoreCase: true` argument of `RuntimeType.GetInterface(string fullname, bool ignoreCase)`.  If the call in the repro is `GetInterface ("System.Collections.IDictionary", false)` we get the expected answer.

The problem is likely https://github.com/mono/mono/blob/117468d740a1dc0eea58cc2b020185cf5c5f8b7d/mcs/class/referencesource/mscorlib/system/rttype.cs#L3417
by th

[2018-01-19 06:39] mmierzwa commented on #6581
I observe a similar problem during the debug session. Each time I try do debug a unit test project (.NET Framework 4.6) that tests PCL44(on .NET Portable 4.6) I get the following error:

[code]

Here is the mono version info:

[code]

I [reported this to JetBrains](https://youtrack.jetbrains.com/issue/RIDER-12625) since it occurs during the debug in Rider IDE but they claim that this the mono issu

[2018-01-19 09:19] Therzok opened #6590 "AOT compiled code crashes with Assertion at icall.c:4014, condition `method->slot < nslots' not met"
## Steps to Reproduce

1. Open AOT compiled VSMac
2. https://gist.github.com/Therzok/336d593e6555548a8e83fa6fee0e6d30
3.

## Current Behavior

`Assertion at icall.c:4014, condition `method->slot < nslots' not met`

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.11.0.270 (master/6a04dc64516 Thu Jan 18

[2018-01-19 09:20] Therzok opened #6591 "AOT compiler crashes when compiling VSMac"
## Steps to Reproduce

1. See this full log of VS AOT build https://gist.github.com/Therzok/cea5dc99b1aacd21b0a57238e8f154b9
2. Look for stacktraces and the message `AOT failed:`
3.

## Current Behavior

## Expected Behavior

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.11.0.270 (master/6a04dc64516 Thu Jan 18 09:04:29 E

[2018-01-19 11:15] piejanssens opened #6601 "Cannot access disposed object (System.Net.Sockets.NetworkStream)"
Mono 5.4

Radarr/Radarr#1416
Radarr/Radarr#1556
Radarr/Radarr#1003
Sonarr/Sonarr#2296
linuxserver/docker-radarr#17
linuxserver/docker-sonarr#62

Related: https://bugzilla.xamarin.com/show_bug.cgi?id=58641

Comment from  Martin Baulig:
[code]

[2018-01-19 12:24] pbsf opened #6603 "System.IO.IOException when SQL command exceeds 702 chars."
## Steps to Reproduce

1. Save the code below on a file named Program.cs, and replace the value of the variable `connectionString` with a valid one.
2. mcs Program.cs -r:System.Data.dll
3. mono Program.exe

[code]

## Current Behavior

The program throws an exception.

## Expected Behavior

The program should exit without exceptions. This is achieved when changing the variable `sqlCommandLength` t

[2018-01-19 13:53] marek-safar commented on #6603
/cc @EgorBo is this something what could be fixed by your import?

[2018-01-19 13:56] marek-safar commented on #6601
We are not moving already reported issue to gitbub, please stay with the original bug report

[2018-01-19 13:56] #6601 closed

[2018-01-19 13:58] marek-safar commented on #6591
@vargaz how serious is the issue

[2018-01-19 14:02] marek-safar commented on #6590
/cc @vargaz please have a look

[2018-01-19 14:29] vargaz commented on #6591
These are just error handling problems caused by missing assemblies:

Failed to load method 0x600014f from '/Users/therzok/Work/md/monodevelop/main/build/bin/Microsoft.Build.Tasks.Core.dll' due to Could not load file or assembly 'Microsoft.Build.Utilities.Core, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. assembly:Microsoft.Build.Utilities.Core, V

[2018-01-19 14:32] Rombersoft commented on #6573
Please read closely. I've written that old monogame works on old mono version 2.10. Issue is not that animation stops, issue is that thread stops in call delegate while action for inputs (keyboard, mouse) is missing.

[2018-01-19 15:15] Therzok commented on #6591
I'll add those to MONO_PATH and report back.

[2018-01-19 15:18] Therzok commented on #6591
But the AOT compiler crashes without AOT-ing the rest of the assembly, it seems.

[2018-01-19 15:32] marek-safar commented on #6560
Tracked it down as following regression https://github.com/dotnet/corefx/issues/23680

[2018-01-19 15:32] vargaz commented on #6591
Its just bad error handling.

[2018-01-19 17:19] marek-safar commented on #6573
That still does not give me any clue what "thread stops in call delegate" mean

[2018-01-20 02:50] eatdrinksleepcode commented on #6560
Yeah that's definitely it. Thanks for tracking that down.

[2018-01-20 08:36] Bounz opened #6612 "Mono 5.4.1.7 crashes on MacOS on Syste.Net.Sockets.UdpClient.Client.IOControl()"
## Steps to Reproduce

1. Create simple console application using gist https://gist.github.com/Bounz/fdc35c1fe0c8348f25319a4049b97c7d or use archive with sample project [Test.UPnP.zip](https://github.com/mono/mono/files/1648659/Test.UPnP.zip)
2. Run application on MacOS with Mono 5.4.1.7 installed

## Current Behavior
Mono runtime crashes with error `mono_w32socket_convert_error: no translation in

[2018-01-20 08:57] Bounz commented on #6612
Found that the same bug has been reported here: https://github.com/Com-AugustCellars/CoAP-CSharp/issues/38

[2018-01-20 14:20] Rombersoft commented on #6573
Marek are you alone mono developer? Have you tried to reproduce my case in order to understand me? Mono was super mono when Novel existed but now when Xamarin created Xamarin.Forms and Xamarin.Android mono isn't interesting.

[2018-01-21 17:30] lewurm commented on #6555
relevant code that Miguel mentioned:

https://github.com/mono/mono/blob/5839d7b43447e3ff6ca080fae0b03b56c67eb5e4/mono/metadata/w32process-unix.c#L1987-L1991

[2018-01-21 17:35] lewurm commented on #6555
I should point out that the `strace` log mentioned by @akoeplinger in https://github.com/mono/mono/pull/6537#issuecomment-358150946 explicitly filtered out syscalls to `close`, because it spammed the log *a lot*, so yeah, that might be it 😅

[2018-01-22 03:37] wuguanxi opened #6615 "build on cygwin, have error"
I do it according to the instructions by http://www.mono-project.com/docs/compiling-mono/windows/
PATH=$PREFIX/bin:$PATH
git clone https://github.com/mono/mono.git
cd mono
do shell cmd ./autogen.sh --prefix=$PREFIX --host=x86_64-w64-mingw32 --disable-boehm
Git submodules updated successfully

        mcs source:    mcs
        C# Compiler:   roslyn

   Engine:
        Host:          x86_64-w64-min

[2018-01-22 04:37] jessejiang0214 opened #6616 "Mono.CSharp.Evaluator.Evaluate failed on iOS device"
## Steps to Reproduce

1. Create a Xamarin project
2. Use these code for iOS project
[code]

## Current Behavior

Throw an exception in iOS device, but OK in simulator.

## Expected Behavior

It should return 3 for sum

### On which platforms did you notice this

[*] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.4.1.7 (2017-06/e66d9abbb27 Wed Oct 25 12:10:41 EDT 2017)

[2018-01-22 11:21] alexander-vi commented on #6525
@akoeplinger @marek-safar I've managed to compile mono-5.8.0.103 for mipsel and exceptions work. Thank you for help. But compilation process was not straightforward.

Mono versions 5.4.0.201 and similar failed to compile with the following error:
[code]

And during the compilation of 5.8.0.103 I've got a lot of random (not reproducable) hangs and crashes with stack similar to:
[code]

[2018-01-22 11:27] #6560 closed

[2018-01-22 11:43] marek-safar commented on #6525
That's known issue and we recommend to build/configure with `--with-csc=mcs` in this case

[2018-01-22 11:43] #6525 closed

[2018-01-22 11:49] marek-safar commented on #6616
That's expected, iOS device runtime still does not support System.Reflection.Emit

[2018-01-22 11:49] #6616 closed

[2018-01-22 11:50] marek-safar commented on #6615
You need to `make` in root folder of mono tree

[2018-01-22 11:50] #6615 closed

[2018-01-22 11:53] akoeplinger commented on #6530
This was fixed and backported to 2017-10, 2017-12 and master.

[2018-01-22 11:53] #6530 closed

[2018-01-22 12:10] akoeplinger commented on #6525
For the compilation failure the Mono 5.4 is probably missing this fix: https://github.com/mono/mono/pull/5017

As Marek said you can switch the compiler used during the build from roslyn to mcs by passing `--with-csc=mcs` since roslyn might hang/crash more often on some platforms. You're of course welcome to try to fix these issues on mipsel and send pull requests :)

[2018-01-22 13:50] #6612 closed

[2018-01-22 13:50] akoeplinger commented on #6612
This was fixed with https://github.com/mono/mono/pull/5199, but we didn't backport it to the Mono 5.4 branch. It should work fine in later Mono versions.

[2018-01-22 13:53] #6338 closed

[2018-01-22 13:53] akoeplinger commented on #6338
I'm closing this due to no activity and I can't reproduce it here, please feel free to comment/reopen once you have more info.

[2018-01-22 13:59] EgorBo commented on #6603
@pbsf @marek-safar
I couldn't reproduce this issue with my local MSSQL Server 2017 Express on Windows.
I tried to connect to it from the following environments:
1) docker-image with 5.4.1.6 (mentioned in the bug)
2) my local machines with macos/windows/fedora mono 5.4-5.11
works fine everywhere even if I increase the command length

[2018-01-22 15:03] Bounz commented on #6612
Hi, @akoeplinger.
Thank you for your reply.
Shall I use the latest Beta Mono release 5.8.0 Alpha 3 (5.8.0.103)?
Also, as I can understand from files changed in #5199, the fix will only return error message "Device not configured". But the main problem is that before macOS High Sierra the same code (call to `Socket.IOControl`) has worked normally, without throwing "Device not configured" error.

[2018-01-22 15:08] akoeplinger commented on #6612
@Bounz the fix is in 5.8.0.103 but yes, it'd just return an exception now instead of a runtime crash.

There might be other fixes in the meantime that influence this so please try with the newer version first. If you still see the error and the same code works on OSX Sierra but breaks on High Sierra then we can reopen the issue :)

[2018-01-22 15:17] Bounz commented on #6612
Ok, thanks, I'll try to check it with the latest version of Mono.

[2018-01-22 15:33] #6519 closed

[2018-01-22 15:58] luhenry commented on #6555
I would definitely prefer the close-on-exec flag over what we have today. Let me work on a PR for that.

[2018-01-22 16:19] marek-safar opened #6621 "StepOver on methods with more than 1 arguments"
## Steps to Reproduce

1. Follow #6617

## Current Behavior

If the method has two arguments and we step into in the first argument evaluation then "step over" we cannot step into in second arguments because debugger skip the whole method execution. I created the test to reproduce this problem.

## Expected Behavior

Tests Passes

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ]

[2018-01-22 16:20] marek-safar commented on #6621
/cc @vargaz @DavidKarlas

[2018-01-22 16:53] luhenry commented on #6555
The problem I am running into is `open` aand other syscalls which open file descriptors are used all over the code base. So we would need to either sprinkle `fcntl (fd, F_SETFD, O_CLOEXEC)` all around, or come up with a centralized way of opening file descriptors.

[2018-01-22 17:05] rjvdboon commented on #6350
@EgorBo Do you know the magic git incantation to test the PR on corefx in combination with mono? Apparently the PR on corefx, and bump of the mono external, is awaiting something, but I'd like to test in my environment to make sure that it indeed fixes my problem. (With my apologies if this is a newbie question or inappropriate, I'm trying to learn my way around linux, git and the mono build setup

[2018-01-22 18:35] jaykrell commented on #6615
Could be .dll not found. I had saw some similar and had to add unusual directories to %PATH%.
To debug this you install the Windows debuggers (not Visual Studio), use gflags to "set loader snaps" on mono-sgen.exe and then just run it. You'll see a lot of debugprint and maybe buried in there some .dlls not found, something about pthread and libgcc.

[2018-01-22 19:00] jaykrell commented on #6555
This area is messed up but better on Windows -- the flag/default for handle inheritance is reversed. So you tend not to inherit many builds. However if you do mark a handle for inheritance, it has two other problems, actually likely also on Posix. The problem is two part. First, imagine a multi threaded program, that runs child processes, an sometimes wants some inherited handles. A real example i

[2018-01-22 19:23] jaykrell opened #6628 "g_find_program_in_path:"
g_find_program_in_path:
 - case insensitivity?
 - likely wrong order of extensions
 - possibly wrong extensions
 The right order and possibly the right set, is what cmd uses:
 $ wine cmd /c set path
PATHEXT=.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH
But I'd be leary of the ones after .cmd.
This is quite semantically meaningful as people will have
foo.com in order to be preferred over foo.exe

[2018-01-22 19:25] pbsf commented on #6603
@EgorBo, how much did you increase the command length? I was also able to reproduce that on my Windows machine (Mono 5.4.1) when setting the length to 4727, lower than that didn't reproduce the error. Could please set it to something like 100k and try again? My connection string also have the following `Encrypt=False;Connection Timeout=30;`. Could you try adding them too?

Thanks!

[2018-01-22 19:25] jaykrell opened #6629 "mono_error_set_exception_instance vs. mono_error_set_exception_handle"
All uses of first need to change to second, for coop/handle work.

[2018-01-22 19:57] EgorBo commented on #6603
@pbsf works for me even if I increase it to 20000000
What version of MSSQL server do you use and do you connect to master? I have here a default empty MSSQL Server Express 2016 instance and can not reproduce the issue

[2018-01-22 20:07] Rombersoft commented on #6573
I can create simple project for your checking.

[2018-01-22 20:50] dtychshenko opened #6631 "WCF method with UriTemplate annotation fails with InvalidOperationException"
## Description

I have an existing WCF service that was originally developed in .NET/Windows, which I've been trying to get running on Mono/Mac/XSP. Everything works well, except for methods that use path parameters in the request URL through UriTemplate.

When such method is called with Mono, the service returns a 500 error due to `System.InvalidOperationException: HttpListenerContext does not ma

[2018-01-23 05:51] zaytsev-victor commented on #6579
@lambdageek Can I take it?

[2018-01-23 08:29] marek-safar commented on #6579
@zaytsev-victor sure, nobody is assigned to the issue so it's free to grab

[2018-01-23 08:30] mfilippov commented on #6299
We trying to create repro and found one more problem native stack:
[code]

[2018-01-23 08:34] marek-safar commented on #6299
@mfilippov standalone repro for the crash would be great to speed things up

[2018-01-23 08:39] mfilippov commented on #6299
@marek-safar Yes, I understand. But we cannot find small repro. We test it on the master branch.   But the issue still there. It happened not frequently and always on the step into interface method. Maybe we can enable some logs to understand better what happened?

[2018-01-23 11:54] pbsf commented on #6603
@EgorBo, just like you, I wasn't able to reproduce the problem on a local DB. I'm able to reproduce the problem when trying to connect to an Azure DB. Maybe any non-local DB would be enough, since the exception raises from the `Socket.cs` class.

[2018-01-23 13:08] marek-safar commented on #6299
There is only connection logging env variable. @vargaz is there anything on runtime side to help to track this down?

[2018-01-23 13:31] marek-safar commented on #6629
@jaykrell please use Trello for tasks planning

[2018-01-23 13:31] #6629 closed

[2018-01-23 13:33] mfilippov commented on #6299
@marek-safar We found the reason for the problem. It is the race condition between threads in methods invalidate_frames and ss_start. I add log for log thread ID and enter and exit function. I attach striped the log file from the moment of entering into ss_start.
[debugger-repro.log](https://github.com/mono/mono/files/1656092/debugger-repro.log)
I try to apply #6456 to check it.

[2018-01-23 13:35] mfilippov commented on #6299
@marek-safar looks on address 0x7feed1aa2c40 in log. It address from log in line https://github.com/mono/mono/blob/36ad3953683113071370f1c93aa593a5b23d3106/mono/mini/debugger-agent.c#L5656

[2018-01-23 13:42] mfilippov commented on #6299
#6456 Didn't work it code deadlocked.
[code]

[2018-01-23 14:33] mfilippov commented on #6299
@marek-safar Is this info enough to fix?

[2018-01-23 15:20] EgorBo commented on #6603
@pbsf thanks, I'll try to reproduce using some Azure sql database

[2018-01-23 16:56] lambdageek commented on #6312
Unassigning myself. I'm not going to be able to work on this in the near term. Thanks for the great examples @elasota!

[2018-01-23 16:58] luhenry commented on #6573
@Rombersoft yes that would be most helpful, and please attach with the project the different steps we need to execute to reproduce. Thank you very much!

[2018-01-23 17:09] luhenry commented on #6579
@zaytsev-victor I am assigning myself just so I can more easily follow up on the bug, not to actually work on it, so please feel free to provide a PR linking back to this issue with the fix. Thank you again very much for contributing to Mono! And if you are stuck on anything, feel free to ping us back here.

[2018-01-23 17:10] conor123 opened #6643 "Mono Quit unexpectedly on Mac running dotnet web app on Visual Studio"
## Steps to Reproduce

1. open my dotnet web project and run debug
2. project builds and switches to browser window but cannot connect
3. popup appears sating mono runtime has failed

## Current Behavior

Builds, opens browser 127.0.0.1:8080
Unable to connect
mono quits unexpectedly

Firefox can’t establish a connection to the server at 127.0.0.1:8080.

## Expected Behavior

Builds, opens browser

[2018-01-23 19:11] lambdageek commented on #6643
Hi @conor123, thanks for the bug report.  Unfortunately there's not a lot for us to go on thus far.

1. If you could attach the code for a small example to help us reproduce the crash, that would be great.

2. It is sometimes possible to get a better crash report by AOTing the program before running it.  That will give names to some of the `???` in the stack traces which will help to track down th

[2018-01-23 19:17] luhenry commented on #6581
@linyingwei I didn't get any reproduction case, by email or anything. Around when should I expect something? Thank you

[2018-01-23 19:37] linyingwei commented on #6581
Sorry, I was busy with something else and couldn’t collect this information. I will have the repro files tomorrow.

Thanks,
Yusuf

From: Yingwei Lin
Sent: Tuesday, January 23, 2018 10:25 PM
To: mono/mono <reply@reply.github.com>; mono/mono <mono@noreply.github.com>; Yusuf Yigit <Yusuf.Yigit@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [mono/mono] Getting malloc: *** error f

[2018-01-23 19:52] #6490 closed

[2018-01-23 20:29] luhenry commented on #6299
cc @alexanderkyte

[2018-01-24 08:08] EgorBo commented on #6603
@pbsf @marek-safar
I managed to reproduce the issue on mono 5.4.1 + Azure SQL database
Works fine on mono master (5.11). Feel free to reopen if it doesn't work for you with never versions of mono

[2018-01-24 08:08] #6603 closed

[2018-01-24 09:51] marek-safar opened #6647 "Jagged arrays cannot be cast to IList<>"
## Steps to Reproduce

[code]

## Current Behavior

[code]

## Expected Behavior

No exception

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

master/6dd4ff09f6f

[2018-01-24 11:53] marek-safar commented on #6299
@vargaz is this "repro" good enough for you?

[2018-01-24 13:34] Therzok commented on #6590
This is blocking our ability to profile VSMac using Instruments, it'd be great if we could get this fixed in master/2017-12

[2018-01-24 15:01] luhenry commented on #6590
/cc @alexanderkyte

[2018-01-24 15:22] pbsf commented on #6603
@EgorBo, thanks a lot for following up on the issue. I tried the alpha version (5.8.0.108) but the problem still occurs. Is there an ETA on when the next release will be occur, and if it will include the fix to this problem? Also, what 5.11 means? I couldn't find any reference to this version number on this repository.

[2018-01-24 15:44] vargaz commented on #6299
Not really.
This is probably a dup of:
https://bugzilla.xamarin.com/show_bug.cgi

[2018-01-24 16:26] Rombersoft opened #6651 "Partial application hung after 6 hours of working on SSD"
## Steps to Reproduce
Linux 3 and 4 kernel

1. Install Linux Debian for example on SSD samsung um410 series 2.5
2. Create application for 4.0 framework which use HttpWebRequest/WebResponce for connecting to web-server. In project create 3 timers:
first must verify ping using class PingReply & Ping (interval 20 seconds);
second must call method which uses HttpWebRequest/WebResponce and it is descri

[2018-01-24 16:28] mfilippov commented on #6299
@vargaz Could add add any additional information? I cannot create repro but I have stable local repro in our project. I can add any logs into mono runtime.

[2018-01-24 17:58] linyingwei commented on #6581
Sent the repro binary offline.

Thanks,
yusuf

From: Yusuf Yigit
Sent: Tuesday, January 23, 2018 11:37 AM
To: Yingwei Lin <yinglin@microsoft.com>; mono/mono <reply@reply.github.com>; mono/mono <mono@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [mono/mono] Getting malloc: *** error for object 0x610006830320: Non-aligned pointer being freed (2) error while running applic

[2018-01-24 21:00] chamons opened #6658 "NRE in nuint JIT code when compiled with csc and has a "special" name"
## Steps to Reproduce

1. git clone git@github.com:chamons/filed-bug-test-cases.git
2. cd filed-bug-test-cases/csc_op_inc/
3. make

## Current Behavior

If we compile nuint into a "special" assembly name, such as Xamarin.Mac.dll or builtin-types.dll with csc, we crash in the generated code.

## Expected Behavior

Not crashing. :)

### On which platforms did you notice this

[X] macOS
[ ] Linux
[ ]

[2018-01-24 21:14] lewurm commented on #6658
`op_Increment` isn't implemented atm: https://github.com/mono/mono/blob/a369eb8fb0bf4c561390fc31ec0217f83222eb0e/mono/mini/mini-native-types.c#L247

looks like roslyn generated different code

[2018-01-24 21:26] lambdageek commented on #6658
What's weird is that it's enough to just compile `builtin-types.dll` with roslyn:
- `mcs builtin-types.dll; csc test.exe` no crash
- `csc builtin-types.dll; csc test.exe` crash

There's some suspicious IL differences in the two builtin-types.dlls, but none of those methods should be getting called, AFAIK...

[code]
(`-` is mcs-compiled builtin-types.dll, `+` is csc-compiled)

[2018-01-24 22:13] vargaz commented on #6658
This is caused by an ldarg+ldfld opcode combination, which csc emits. 29428d951637ff85b593ea5c9cc5d5236579906d adds an optimization which works around the problem, maybe we should backport that to 2017-10.

[2018-01-24 22:39] Rombersoft opened #6660 "System.ExecutionEngineException"
![exception](https://user-images.githubusercontent.com/19586466/35360779-94e3da82-0167-11e8-89c2-020ad330a513.jpg)

I clone repository from monogame.net

When I build project without changes and run application that all works but when I set .Net Framework 4.0, build project and run I get such error. When I return settings to .Net.Framework 4.5 that problem was stayed

[code]
Linux

[2018-01-24 22:46] luhenry commented on #6651
/cc @baulig

[2018-01-25 01:39] netonjm opened #6663 "System.Diagnostics.Process.GetProcesses () doesn't show FileName and Arguments from a Process.StartInfo"
## Steps to Reproduce

1. Open a Console Application
2. Call System.Diagnostics.Process.GetProcesses ();
3. Check FileName and Arguments from any Process.StartInfo

## Current Behavior

the string is empty

## Expected Behavior

the string must show the executable and arguments, same like ps does.

### On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono

[2018-01-25 02:18] ak47007 opened #6664 "mono wcf send dataset exception"
hi,
I use the WCF function of mono. Transfer a class, and when this object contains dataset, there will be an exception.

public class BaseDocument1:BaseDocument{  public FMResponseColumn[] Columns;
		[DataMember]
		public DataSet ResultSet=new DataSet("ResultSet");
	}

os: Linux
mono :Mono JIT compiler version 5.8.0.88 (tarball Wed Nov 29 18:21:50 UTC 2017)

exception info:
<Fault><Code><Value>a:

[2018-01-25 04:28] migueldeicaza commented on #6555
On Linux, we can use `O_CLOEXEC` as an option to `open(2)`, without having to call `fcntl` afterwards:

https://www.freebsd.org/cgi/man.cgi?query=open&manpath=SuSE+Linux/i386+11.3

It was designed to avoid a race condition in multi-threaded programs that do `open`/`fcntl`, this email from 2015 on the Gnome lists does not sound good:

https://mail.gnome.org/archives/gtk-devel-list/2015-March/msg000

[2018-01-25 05:38] mysl commented on #6498
Hi there.  We met this problem when upgrading mono and using Btls provider (because our customer requires using TLS1.2).  May I know if there is any plan about when the support for client certificate will be implemented?  Thanks a lot!

[2018-01-25 09:20] marek-safar commented on #6658
@chamons could you switch to mono-2017-12 branch which should be soon merged to master or do you need this for 15-6 release?

[2018-01-25 09:46] marek-safar commented on #6664
Could you attach full sample which we can use to reproduce the issue?

[2018-01-25 09:59] marek-safar commented on #6663
That's what .net does, `System.Diagnostics.Process.GetProcesses().Where (l => l.StartInfo.FileName.Length > 0);` gives me nothing on windows

[2018-01-25 09:59] #6663 closed

[2018-01-25 10:00] ak47007 commented on #6664
thank you for your help. The code is just a simple test, as shown below:
       public static void Main(string[] args)
        {

            try
            {
                ServiceHost host = new ServiceHost(typeof(MyService));
                host.Open();
				Console.WriteLine (host.BaseAddresses[0].AbsoluteUri.ToString());
                Console.WriteLine("Press ENTER to close host");

[2018-01-25 10:01] ak47007 commented on #6664
`<?xml version="1.0"   encoding="UTF-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService">
                    <security mode="None">
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBindi

[2018-01-25 10:08] marek-safar commented on #6664
Your sample works for me with Mono 5.8

[2018-01-25 10:22] marek-safar opened #6666 "Invalid cast is not checked for nullable types"
## Steps to Reproduce

[code]

## Current Behavior

No exception

## Expected Behavior

System.InvalidCastException

### On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

### Stacktrace

[code]

[2018-01-25 12:28] jaykrell commented on #6555
I understand the open+fcntl problem, but what is wrong with open(cloexec?) And, how about using posix_spawn? It looks promising on Macosx at least, you can list specifically what fd to inherit -- like Windows tried but messed up.

[2018-01-25 12:42] alexander-vi opened #6669 "[mipsel][Linux] App using Aspose.Slides crashes when running Mono from C++ but works fine as regular C# app"
## Steps to Reproduce
See attachments for the files in example.
You can download Aspose.Slides here https://downloads.aspose.com/slides/net
or use attached version

1. Compile test.cs using following command line:
[code]
**test.cs**
[code]

2. Compile native app bindings using following command line:
[code]

**test.cpp**
[code]

3. Launch native app:
[code]

## Current Behavior
Native app crashes

[2018-01-25 13:05] lewurm commented on #6660
can you paste the stack trace please?

[2018-01-25 13:50] Rombersoft commented on #6660
System.ExecutionEngineException: String conversion error: Illegal byte sequence encounted in the input.
at (wrapper managed-to-native) System.Runtime.InteropServices.Marshal:PtrToStringAnsi (intptr)
at Microsoft.Xna.Framework.Audio.Microphone.PopulateCaptureDevices () [0x0008c] in /media/destructor/Documents/Projects/Вспомогательные/Monogame3.6/MonoGame.Framework/Audio/Microphone.OpenAL.cs:70
at M

[2018-01-25 14:37] HeikoWeiss opened #6673 "Memory Leak with new threads"
## Steps to Reproduce

1. Create some new Threads with new Thread( new ThreadStart( ThreadFunction ).Start()
2. Do garbage collection
3. The thread class instances are not freed
4. See sample code.

[code]
## Current Behavior

Memory Leak

## Expected [Behavior]

In sample code, the list of Threads in WeakReference should not grow

### On which platforms did you notice this

[ ] macOS
[ X] Linux
[

[2018-01-25 14:43] lewurm commented on #6660
"`System.ExecutionEngineException: String conversion error: Illegal byte sequence encounted in the input.`" is usually a hint, that the `PtrToStringAnsi` receives a pointer to some garbage blob. This is a problem in `MonoGame`, please report it there. FWIW, this change looks odd (as the comments around this code indicate): https://github.com/MonoGame/MonoGame/commit/1bc51e36bfeede613c6f7d5c42be356

[2018-01-25 14:43] #6660 closed

[2018-01-25 14:48] Therzok commented on #6673
Should be fixed via https://github.com/mono/mono/commit/1e3fb99fa35bcd586e846723a74209e980e9f911

[2018-01-25 14:50] luhenry commented on #6673
I cannot reproduce with Mono 5.11.0.320 (master/693a7c896d9). Could you try downloading latest package from https://jenkins.mono-project.com/view/All/job/build-package-osx-mono/job/master/ and try again? Thank you

[2018-01-25 14:50] #6673 closed

[2018-01-25 14:51] luhenry commented on #6673
Or http://www.mono-project.com/download/nightly/#download-lin on linux.

[2018-01-25 14:58] HeikoWeiss commented on #6673
will try on monday with lastest nightly 5.11.0.300 from https://download.mono-project.com/sources/mono/nightly/

[2018-01-25 15:11] chamons commented on #6658
@spouliot please comment - If 2017-12 is going to master in next few weeks that may be fine.

[2018-01-25 16:01] brendanzagaeski commented on #6498
My comments on Xamarin Bugzilla [Bug 57106](https://bugzilla.xamarin.com/show_bug.cgi?id=57106) include some discussion about timelines for adding an up-to-date TLS renegotiation feature to Mono. Inclusion into a nightly build of course might happen sooner than the timelines mentioned there for inclusion into a "go-live" release. As also mentioned there, scheduling for work on the feature by the X

[2018-01-25 16:31] migueldeicaza commented on #6658
Chris, I do not understand, for which release would this be needed?

[2018-01-25 16:42] chamons commented on #6658
@migueldeicaza This is only currently needed for branch to test out default interfaces.

https://github.com/xamarin/xamarin-macios/pull/3246

since nuint will be compiled with csc for the platform assemblies.

If that work went swimmingly and was in great shape we hoped to land it in master as well, but it isn't absolutely required.

In any case, that work is blocked until I can bump the working b

[2018-01-25 16:56] Rombersoft commented on #6573
This link to download simple project monogame (450 Mb)

https://drive.google.com/open?id=1n6tqr3fZsDpdvSePtzWWDVsu6J3Y9z1U

[2018-01-26 01:13] ak47007 commented on #6664
thank you for your help
sorry,my project is run Mono/Net 4.5.

[2018-01-26 01:50] dlech opened #6679 "Bug when using --verify-all"
## Steps to Reproduce

1. Install KeePass 2.x on Fedora (`sudo yum install keepass`)
2. Install the [KeeAgent plugin](https://lechnology.com/software/keeagent)
3. Run `keepass` and open the database linked in dlech/KeeAgent#208
4. One of the SSH keys fails to load because of System.Security.VerificationException

## Current Behavior

The exception is thrown because the `keepass` launch script runs

[2018-01-26 01:53] dlech commented on #6679
Here is where the exception comes from: https://github.com/mono/mono/blob/master/mono/metadata/verify.c#L3312

[2018-01-26 03:16] dlech commented on #6679
Apparently, you have to be using an older compiler to reproduce this IL: https://stackoverflow.com/questions/3366376/are-net-switch-statements-hashed-or-indexed#3366497

[2018-01-26 08:50] kaysond opened #6680 "https requests from chrome cause radarr to crash with mono System.IO.IOException"
I'm running radarr 0.2.0.910 on Ubuntu 17.10 with mono 5.4.1.7. Connecting to the https server using chrome or internet explorer causes a fatal error. No issue with firefox, though.

See: https://github.com/Radarr/Radarr/issues/2443

[code]

[2018-01-26 09:34] sourceskyboxer opened #6681 "Wrong MSBuild of 14.0 is unusable - Please change path to MSBuild of Visual Studio 2017"
Hello everyone,

here for Windows Compilation:
Cygwin's terminal can't work with MSBuild.exe like it seems dead command line.

msys2/pacman terminal works fine but it doesn't recognize to path to mono if I use "export MONO_EXECUTABLE="..."

I resolve this

If you use MSBuild from Visual Studio 2017:
`/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2017/Community/MSBuild/15.0/Bin/MSBuild.exe`

[2018-01-26 09:40] marek-safar commented on #6658
@chamons you should be able to rebase your work on top of mono-2017-12 ios branch. As we have only a fix which workarounds the problem I'd just do it that way instead of making service release for  15.6

[2018-01-26 12:38] marek-safar commented on #6680
Could you provide more details how we can reproduce the issue

/cc @baulig @brendanzagaeski

[2018-01-26 13:00] BrzVlad opened #6682 "Storing of I4 into I4* local"
## Steps to Reproduce

Compile test-404.cs from mcs test suite
monodis the executable

## Current Behavior

.locals init (
		int32*	V_0)
	IL_0000:  call int32* class X::get_v()
	IL_0005:  dup
	IL_0006:  ldind.i4
	IL_0007:  dup
	IL_0008:  stloc.0
	IL_0009:  ldc.i4.1

## Expected Behavior
     Don't store and i4 value into and pointer field

### On which platforms did you notice this

[ ] macOS
[x]

[2018-01-26 17:13] chamons commented on #6658
So the mcs->csc work sits on top of the PMCS removal work, which is a _huge_ set of patches. Rebasing on top of a branch without those changes might be painful.

Let's talk next week if nothing else.

[2018-01-26 18:20] kaysond commented on #6680
1. Install radarr - https://github.com/Radarr/Radarr/wiki/Installation (and its dependencies - I'm using mono 5.4.1.7, curl 7.55.1-1ubuntu2.2, mediainfo 0.7.98-1)
2. Generate ssl certificates/install them following this guide - https://github.com/Sonarr/Sonarr/wiki/SSL (NB: I'm using certificates from Lets Encrypt, which includes the intermediate cert. I've read this is a potential issue)
3. Acces

[2018-01-26 19:36] migueldeicaza commented on #6187
Pass --machine-config in your case t might be something like:

[code]

[2018-01-26 19:56] lewurm commented on #6682
nice 😮  do you know why it started to fail now?

[2018-01-26 20:22] directhex commented on #6187
the libc mapping is in `/etc/mono/config`, NOT in machine.config. You can't pass more than one config or machine config, so end up having to manually merge config files

[2018-01-26 21:21] migueldeicaza commented on #6187
Ah sorry, I miss-remembered, and I see that I answered two questions with the same answer.

You are correct, you need the other option for the libc issue, `--config PATH`, and you can find the file in `/etc/mono/config` so like this: `--config /etc/mono/config` or any variation of it you might need.

[2018-01-26 22:50] nddipiazza commented on #6187
might want to leave this issue open to somehow document and/or get some of these options to happen by default. there's not much any chance I could have gotten this working without your help here.

[2018-01-26 23:18] marek-safar commented on #6681
Building Mono using msys2/pacman is not something we support

[2018-01-26 23:18] #6681 closed

[2018-01-27 00:19] sourceskyboxer commented on #6681
But how do i not like because Cygwin for me is old and unusable. But Cygwin is shit go uninstallation and doesn't have more features.  I think msys2 has rich features more than Cygwin. I really don't like if i have install Cygwin on x64 computer without i686 executables.  It is really stupid.

[2018-01-27 17:46] sourceskyboxer opened #6697 "Why mscorlib.dll ( x64 ) is always an invalid cli image? If I build Gtk3 Sharp + OpenGL.Net into bundled application ."
## Steps to Reproduce

1. After mkbundle.,exe ( x64 ) than it runs and throws in terminal of Cygwin/msys2:
[code]
It seems an invalid CLI image from Mono\lib\mono\4.6.2-api\mscorlib.dll
2. Try mscorlib.dll from mono\4.5\mscorlib.dll and it need download new version of mscorlib.
3. Nothing work since bundled executable to open / to show.

I try it:
[code]

## Current Behavior

Before I used WinForm

[2018-01-28 08:46] sourceskyboxer commented on #6697
Did you resolve mscorlib.dll if you use mkbundle with bundled app. I will check if you have written "passing" since I saw build time .

Please don't scam or blame me! I hate if you always take advantage my time since March 2017. Please promise me- if you say "passing" than i will keep cool. If it is failed than i will be angry to Mono Team.

Next chance!

[2018-01-28 15:47] CNAmira opened #6701 "Running WinForms apps in x64 mode on macOS"
According to the release note of Xcode 9.3, macOS will remove the support of running 32-bit application without compromise in future version, and they include a 'no32exec' mode in the beta version of macOS 10.13.4 which 32-bit applications will no longer run on.
System.Windows.Forms haven't been port to Cocoa API, so all WinForms apps won't runs on future macOS.
Recently I referenced to XplatUICar

[2018-01-28 18:18] sourceskyboxer commented on #6697
And thanks for resolving latest mono from github mscorlib.dll files work fine now. Thank you very much and Gtk Sharp 3.22.6.4 with Mono 4.5 since compilation with Xamarin Studio 6.3 and it works fine. Thank you for my development goes back. Please do not forget to change path to MSBuild.exe of Visual Studio 2017.x and please don't forget to make sure clean!

Because I have downloaded Cygwin x64 wi

[2018-01-28 18:18] #6697 closed

[2018-01-28 19:52] sourceskyboxer opened #6702 "Why does mkbundle not know for x86 ( 32 bit ) to cl.exe ( x86 ) and clang.exe ( x86 ) and mkbundle forgets to add zlib.lib if you use -z"
## Steps to Reproduce

1.  Open x86 native Command Prompt from Visual Studio 2017.5 Community ( 15.5 )
mkbundle call only wrong x64 bit clang.exe and x64 cl.exe
2. It compiles failed because mkbundle doesn't work for process with x86-clang and x86-cl
3. Output is "failed"

Please fix mkbundle if mono works under architecture x86 ( not using x64 ) If I use x86 native Command prompt and it calls onl

[2018-01-29 07:15] HeikoWeiss commented on #6673
yes. no memory leak with 5.11.0.300.
Thanks.

[2018-01-29 10:47] HeikoWeiss opened #6705 "MemoryLeak in FontFamily"
## Steps to Reproduce

1. create new FontFamily( "Arial" )
2. get the Family name ( x.Name )
2. Method refreshName in class FontFamily calls GDIPlus.GdipGetFamilyName
3. this causes a Memory Leak

Sample:

    static void Main() {
      while( true ) {
        CheckFontFamily();
      }
    }

    static void CheckFontFamily() {
      var f = new FontFamily( "Arial" );
      if( string.IsNullOrEmp