[2018-04-22 06:36] hazama-yuinyan commented on #8391
Oh, really :(
Then, I wonder why. Why don't you support it?(not a recommendation) Is it just because you don't need them?

[2018-04-22 06:58] jaykrell commented on #8387
Different problem on Linux but copy/paste doesn't work.
ld fails on mscorlib.dll.so, .bss cannot be used when making a shared object, recompile with -fPIC

[2018-04-22 07:04] jaykrell opened #8402 "Linux/x86 FullAOT fails to build."
## Steps to Reproduce

1.  git clone (7ce681a7fee5cdc3ecbc6e75d70fd1e260a64a41 April 21 2017)
2. linux32 ./configure -disable-nls -disable-boehm CFLAGS="-g -O0 -m32" -with-runtime-preset=fullaot -prefix=/i/1
3. make

## Current Behavior

[code]

## Expected Behavior

no error

### On which platforms did you notice this

[ ] Linux

**Version Used**:

[code]

### Stacktrace

[code]

[2018-04-22 12:30] migueldeicaza opened #8403 "Mono complains about invalid IL when running .NET Standard 1.5 code"
## Steps to Reproduce

The following sample when compiled with the .NET Standard 1.5 libraries reports invalid IL:

[code]

Compile like this:

[code]

If you are missing any reference assemblies above, use the following command:

[code]

If you compile with the standard library, like this, it works:

[code]

It looks like in this scenario, Roslyn is not including this attribute:

[code]

If I man

[2018-04-22 13:48] migueldeicaza commented on #8403
I tried a couple of Mono versions; this started happening with 5.10:

Failed with 5.10 log: https://travis-ci.org/migueldeicaza/NStack/builds/369737049

Works: https://travis-ci.org/migueldeicaza/NStack/builds/369736990?utm_source=email&utm_medium=notification

[2018-04-22 14:34] marek-safar commented on #7418
I disagree, the mcs code is pretty self-contained and uses almost no BCL APIs it might use different IL patterns but they should all be hit by mcs tests. We might want to run mscorlib compilation using the interpreter but apart from that I'd focus elsewhere, there are many more tests we could run which would give us significantly better coverage in less time.

[2018-04-22 14:56] marek-safar commented on #8402
This is mono runtime and mscorlib mismatch. Your runtime is compiled without COM support but your mscorlib has COM icalls present and they fail to resolve.

[2018-04-22 15:06] marek-safar commented on #8391
We'd like to support it but it's not a trivial change to work cross-platform and this is the first report I remember about Mono not supporting it.

[2018-04-22 16:27] marek-safar opened #8404 "Verify intrinsics work as expected"
We are missing tests to ensure we don't regress in this area. We could mitigate that by following.

- Write C# tests which call intrinsic implementation with error conditions and expect certain stack trace in the exception which should be different to the managed implementation body. This won't be always possible but many cases have that.
- When we are not running with disabled intrinsic any metho

[2018-04-22 16:34] jaykrell commented on #8402
configure -with-runtime-preset should be "smarter"?

[2018-04-22 16:35] jaykrell commented on #8402
Or maybe this isn't git clone..maybe I need to git clean? I'll try.

[2018-04-22 16:37] jaykrell commented on #8402
I think this is git clean. Maybe list multiple in runtime preset?

[2018-04-22 16:47] jaykrell commented on #8402
Listing multiple didn't work. I"ll try all, but I think configure.ac needs work there.
Note that the problem seems specific to x86, or at least arm64 and amd64 are ok.

[2018-04-22 16:50] marek-safar commented on #8403
I don't think it has much to do with the compiler, the code is valid but I suspect the JIT get confused by the type forwarder to ValueType.

The interesting section is this

[code]

and it seems to me that JIT does not see `<Delta>e__FixedBuffer` to be a value type.

[2018-04-22 16:51] marek-safar commented on #8403
Compiled test file
[x.exe.zip](https://github.com/mono/mono/files/1935857/x.exe.zip)

[2018-04-22 17:56] jaykrell commented on #8402
I'm not sure the warning is the cause, or maybe the warning is more harmful on some targets than other. Need to dig more -- such as by having the com stuff in runtime exposed but throw, fix that warning, see if the bss error remains. Or find another way to test my actual case and give up on x86/fullaot if nobody using it.?

[2018-04-22 18:03] jaykrell opened #8405 "make run-test -C mcs ?"
## Steps to Reproduce

Trying to repro breaks in a PR.

0. `git clone, slight change that doesn't seem relevant`
1.  `git clean -xxddff `
2.  `./autogen.sh CFLAGS="-g -O0" -disable-nls -disable-boehm -with-runtime-preset=fullaot -prefix=/i/1 `
3.  `make -j11`
4.  `make run-test -C mcs `

Perhaps step 4 is not supposed to work, just some old Makefile code?

## Current Behavior

[code]

## Expected

[2018-04-23 01:35] hazama-yuinyan commented on #8391
Oh, I see. It seems to me that all you would need to change is the `LambdaExpression.CompileToMethod` method but you say it's not as simple as that?
Then I'll try to find another way ;)

[2018-04-23 07:27] #8272 closed

[2018-04-23 13:12] akoeplinger opened #8407 "TypeDescriptorTest.TestCreateDesigner and TestGetAttributes broken on FullAOT"
## Steps to Reproduce

1. Run System tests in FullAOT config
2. Observe the two tests failing

This started with https://jenkins.mono-project.com/job/test-mono-mainline-linux-fullaot/label=debian-9-amd64/657:

- [MacSDK] Update LLVM to head of mono/llvm's master (commit: 3b700c8)
- [System] ComponentModel and System.Net from corefx (#7948) (commit: 09de0b9)
- [runtime] Handle failed classes in mon

[2018-04-23 13:12] akoeplinger commented on #8407
@EgorBo this was most likely caused by the ComponentModel import from CoreFX.

[2018-04-23 13:23] akoeplinger opened #8409 "FullAOT test failures/crashes on arm64,armel or armhf"
## Steps to Reproduce

1. Run runtime tests and various BCL tests on FullAOT config on arm64, armel or amhf
2. Observe test failures and crashes

This started with https://jenkins.mono-project.com/job/test-mono-mainline-linux-fullaot/656/:

- [packaging] Apply F# patch that fixes #8310 (commit: d0db2e0)
- [interp] remove useless assert in mint_newobj (commit: 8127483)
- Remove unused signal.h incl

[2018-04-23 14:03] kumpera commented on #8277
@stefan-schweiger Let's recycle this issue to track the work needed here.
I should have something this week explaining how to do it.

[2018-04-23 14:32] kumpera commented on #8403
This repro if you compiled against 4.5 and remove the unsafe cattr, which disables verification

[2018-04-23 14:41] kumpera commented on #8403
This is not a regression in the JIT, it's Roslyn generating crap and not flagging it so.

[2018-04-23 14:44] directhex opened #8410 "LLVM JIT broken when built with recent gcc/g++ (at least 6.3.0+)"
I've now enabled Mono LLVM on Mono Nightly.

AOT works fine on all configurations:

[code]

However, on Debian 9 (GCC 6.3.0) and Ubuntu 18.04 (GCC 7.3.0), LLVM JIT is broken:

[code]

I did a little debug work with runtime folk on Slack last week, which didn't show anything drastically revealing.

[2018-04-23 15:03] migueldeicaza commented on #8403
Based on a discussion with Rodrigo where we tracked down the regression in Roslyn, filed the Roslyn bug:

https://github.com/dotnet/roslyn/issues/26335

[2018-04-23 15:04] kumpera commented on #8403
Well, since it's unsafe code and we can clearly detect it, we'll go with compiling whatever gets thrown at us.

[2018-04-23 16:48] kumpera commented on #8403
https://github.com/mono/mono/pull/8411

[2018-04-23 16:48] kumpera commented on #8403
The above work arounds the issue for existing code.

[2018-04-23 17:29] luhenry commented on #7418
@marek-safar the added value is the same as compiling the BCL with a just-compiled BCL (the `build` profile), or compiling the BCL with the just-compiled runtime: mcs and csc are complicated programs that catches bugs which are much more complex that what most unit tests can do, so compiling the BCL with the Interpreter (or the JIT, or the `build` BCL for the same matter) has an **immense** added

[2018-04-23 18:46] jaykrell commented on #8409
Don't worry too much about tailcall/2.exe.

[2018-04-23 18:47] jaykrell commented on #8409
It is a new test. It actually should be failing, until soon. I didn't put in the support for arm64 yet so it should fail. I have the support in PR.

[2018-04-23 19:17] #7072 closed

[2018-04-23 19:33] chamons opened #8417 "Redirecting process output when Console.SetOut set gives strange output"
## Steps to Reproduce

1. Download https://gist.github.com/chamons/8aed519dbc9fb32452c91caa2f2f91e9 as example.cs
2. csc example.cs && mono example.exe
3. Not the differences between the echo command and what you get back

## Current Behavior

        /bin/echo who am i
Captured:桷⁯     浡椠

## Expected Behavior

The behavior when USE_REDIRECT is commented out up above:

	/bin/echo who am i
Captured

[2018-04-23 19:40] marek-safar commented on #8403
Talking to Roslyn folks they seem to agree this is a regression on their end and will be shipping the fix but not sure for which all versions.

The fix looks quite simple on our end so let's get it everywhere up from dev15-7.

/cc @brendanzagaeski

[2018-04-23 19:58] luhenry commented on #8217
Hopeful initial deadline: Wednesday, April 25th.

[2018-04-23 20:39] marek-safar commented on #8410
@vargaz any ideas about this one

[2018-04-23 20:40] marek-safar commented on #8407
@EgorBo please look into this

[2018-04-23 20:42] kumpera opened #8420 "[wasm] Improve our nunit test driver to support asynchronous testing"
Our harness/driver assumes everything can be executed synchronously, which is not the case when timers/promises are used. JS shells will execute a main loop around the test script so completions will happen after the main script finished.

We should extend our harness to somehow handle this scenario as it would allow us to test promise integration.

[2018-04-23 20:46] vargaz commented on #8410
It was never really tested on linux only osx.

[2018-04-23 20:53] directhex commented on #8410
i am going to experiment to see whether the problem is llvm-built-with-gcc7 or mono-built-with-gcc7

[2018-04-23 20:59] pruiz opened #8421 "certmgr --ssl https://community.letsencrypt.org hangs forever"
## Steps to Reproduce

1. certmgr --ssl https://community.letsencrypt.org

Output:
[code]
... and this hangs there forever.

## Current Behavior

Using mono 5.8.1 on OSX, and trying to load/access some https-enabled websites fails never returning back.

## Expected Behavior

Normal access to intended HTTPS site.

### On which platforms did you notice this

[x] macOS
[x] Linux
[ ] Windows

**Versio

[2018-04-23 20:59] luhenry commented on #7418
The discussion can be summarized in two possible plan of actions:
 1. fix mcs and build the BCL with the interpreter+mcs, then later on fix the interpreter to support roslyn and build the BCL with the interpreter+roslyn.
 2. fix the interpreter for roslyn and build the BCL with the interpreter+roslyn

Both plans have the same end goal - building the BCL with interpreter+roslyn -, the first one all

[2018-04-23 21:00] lambdageek opened #8422 "Ambiguous call Encoding.GetByteCount(char[], int, int) and Encoding.GetByteCount(string, int, int)"
Seen here https://jenkins.mono-project.com/job/test-mono-acceptancetests/960/

[code]

Seems to have started with https://github.com/mono/mono/pull/7948

[2018-04-23 21:01] directhex commented on #8421
Confirmed on Linux, Mono 5.10.1.47

[2018-04-23 21:35] lambdageek commented on #8422
@EgorBo Is the new public method in `System.Text.Encoding.GetByteCount(string, int, int)` really necessary? I can see it's in .NET Core, but it's not in .NET Standard or .NET Framework and wasn't in Mono.

[2018-04-23 21:42] luhenry commented on #8421
[code]

[code]

[code]

[2018-04-23 21:52] EgorBo commented on #8422
@lambdageek there was a file in ComponentModel that needed that overload (but then it was excluded) so I guess it is not. But will be introduced with https://github.com/mono/mono/pull/7466 again

[2018-04-23 23:17] marek-safar commented on #8422
This is expected API breakage which happens in test scenarios (unexpected) only.

[2018-04-23 23:38] jaredpar commented on #8403
FYI: we have a fix in review here https://github.com/dotnet/roslyn/pull/26351

@agocke

[2018-04-23 23:40] marek-safar commented on #7418
We have that already mcs can build BCL we test that on every PR so nothing to fix there. I still see little value of running that using interpreter compiling hundreds of Facades assemblies just to prove that same mcs code path work over and over again but if we can run it in reasonable time on every PR.

The scenario where mcs is used to compile BCL tests is not something we want to spend time on.

[2018-04-23 23:57] marek-safar commented on #8421
/cc @baulig

[2018-04-24 06:44] mkrueger commented on #6748
Seems to happen on osx as well:

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/605244

So would be nice to give that a bit higher priority.

[2018-04-24 07:54] #8409 closed

[2018-04-24 07:59] cosminstirbu opened #8429 "Debugger Timeout when using Appium .NET"
## Steps to Reproduce

Check out https://github.com/cosminstirbu/appium-dotnet-driver/tree/bug/mono-debugger-timeout

1. Set a breakpoint in `iOSMonoDebugTimeoutTest` line 40 `(System.Diagnostics.Debug.Write(driver.PageSource);`
2. Debug `public void ScrollToExactTestCase()` test
3. Step over line 40, notice that the content is printed in the console
4. Add a watch on `driver.PageSource` - notice

[2018-04-24 10:48] #8422 closed

[2018-04-24 10:53] hmargies opened #8430 "Fails to compile without AOT (enable-minimal=profiler,debug,aot)"
Mono fails to compile when AOT is disabled (enable-minimal=profiler,debug,aot).

## Steps to Reproduce

[code]

## Current Behavior

The function ```mono_aot_get_weak_field_indexes``` is used in mini-runtime.c and implemented in ```aot-runtime.c``` but not compiled in due to ```DISABLE_AOT``` being defined.

[code]

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

**Ver

[2018-04-24 13:25] migueldeicaza commented on #8421
This is not a simple fix.

The tool relies on both Mono's old TLS 1.0 implementation as well as poking inside the internals of the class to extract internals that are not typically surfaced.

Given that we no longer ship a managed TLS implementation, and instead have two very different implementations, we are going to need a different strategy for each backend.

[2018-04-24 14:16] migueldeicaza commented on #8417
This bug is caused by the changes here:

https://github.com/mono/mono/pull/3730

What happens is that we allocate a StringBuilder with 4 bytes, which contain garbage, then on the EndRead callback, for Mono, we detect that the stream has been disposed, and do not clear the contents, because the stream has been disposed, so we return this garbage.

It looks like we tried to work around a premature d

[2018-04-24 15:05] migueldeicaza commented on #8417
The source for the disposing of the streams was this patch:

https://github.com/mono/mono/pull/3714

I could not find the associated bug, only this discussion:

https://xamarinhq.slack.com/archives/C03CELHQQ/p1475620056007948

But did not see the original report from @rolfbjarne in the days surrounding that message.

I suspect we should undo both series of changes, and track down the source of the

[2018-04-24 15:25] migueldeicaza commented on #8417
Comment from Rolf:

Perhaps what we should explore is waiting for the streams to close on Dispose()?

[2018-04-24 15:29] rolfbjarne commented on #8417
This is the source: https://bugzilla.xamarin.com/show_bug.cgi?id=43462

Comment 9 contains a test case: https://bugzilla.xamarin.com/show_bug.cgi?id=43462#c9

[2018-04-24 17:44] kumpera commented on #8417
Here's what I found so far, this is not a race condition or a byproduct of the stream disposal/hardening patches.

This is an encoding problem.  The redirected stream is, for some reason, being read a UTF16 instead of UTF8. If you add this line it works:
[code]

Now I have no idea on why the stream encoding is changing due to SetOut. Might be a bug or might the expected behavior.

[2018-04-24 18:12] agocke commented on #8403
That's a fix for the incorrect IL, but I should note the diff around SecurityPermissionAttribute is not a compiler bug: we would emit a reference to that attribute if it were present, but it's not available in System.Runtime in netstandard1.5. As far as I can tell it was only added back for netstandard2.0: https://apisof.net/catalog/System.Security.Permissions.SecurityPermissionAttribute.

[2018-04-24 18:25] kumpera commented on #8417
Fix: https://github.com/mono/mono/pull/8438

[2018-04-24 18:32] luhenry opened #8439 "Failing to build `Linux ARMv7 Bitcode`"
## Steps to Reproduce

1. `CI_TAGS=bitcode scripts/ci/run-jenkins.sh`

### Current Behavior

It fails to build the runtime with the following error:
[code]

See https://jenkins.mono-project.com/view/Pull%20requests/job/test-mono-pull-request-armhf-bitcode/165/parsed_console/log_content.html#ERROR1 for example

### Expected Behavior

Builds successfully

## On which platforms did you notice this

[

[2018-04-24 18:38] radical opened #8441 "[mac] corefx changed behavior for Directory.EnumerateFiles("foo_path", "*.CS") w.r.t case sensitivity"
`Directory.EnumerateFiles ("foo_path", "*.CS")`

- On mono (and earlier on netcore) this call returns results treating the `searchPattern` case sensitively on macOS.
- But this behavior changed on netcore recently and broke some msbuild tests (see https://github.com/dotnet/corefx/issues/27779 for some discussion around the change).

I'm not sure whether we want to have the new behavior or stick wi

[2018-04-24 18:41] radical commented on #8441
@marek-safar @akoeplinger @jonpryor ^

[2018-04-24 19:12] luhenry commented on #8441
@radical is the case-sensitiveness based on the case-sensitiveness of the filesystem? By default on macOS, the filesystem is *not* case-sensitive.

[2018-04-24 20:06] radical commented on #8441
I'm not sure if that is what they are basing this on. My test results are from the macOS box. Maybe @JeremyKuhne and @rainersigwald can shed some light on what corefx does now.

[2018-04-24 20:50] chassq opened #8443 "WebAssembly: TimeZone issues related to Mono?"
See https://github.com/aspnet/Blazor/issues/663 for details. Hoping this can be resolved somehow.

[2018-04-24 22:27] lambdageek commented on #6748
@mkrueger I haven't been able to reproduce this.  From all the stack traces I've seen so far, it looks like Mono is being given an incomplete or corrupted assembly (or someone is truncating it while mono has it open... not sure if that can happen).

It always happens during/just after building, right?

Maybe next time it happens put a copy of the entire (or at least some active part of) the build

[2018-04-25 10:15] lit1s opened #8446 "libapache2-mod-mono unmet dependences debian 8 x86 i386"
## Steps to Reproduce

1. debian 8 i386 (Linux version 4.9.0-0.bpo.5-686-pae)(gcc version 4.9.2 (Debian 4.9.2-10))
2. sources.list: "deb http://download.mono-project.com/repo/debian stable-jessie main"
3. apt-cache show apache2 | grep Version
      Version: 2.4.10-10+deb8u12

[code]

Another test:

2.- sources.list: "deb http://download.mono-project.com/repo/debian jessie/snapshots/5.10.1.20 main"

[2018-04-25 12:34] m42a opened #8447 "ilasm can't assemble vbbyrefstr parameters"
## Steps to Reproduce

1. Create the following C# file:
[code]
2. Compile it to a dll with mcs or csc
3. Disassemble the dll with monodis
4. Assemble the il with ilasm

### Current Behavior

ilasm fails with "irrecoverable syntax error"

### Expected Behavior

ilasm creates a binary equivalent to the disassembled binary

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

*

[2018-04-25 13:34] hannoquest commented on #7455
Fix suggestion:
Change CssStyleCollection.cs line 99 to:
style[key] = value;

[2018-04-25 14:13] luhenry opened #8448 "Upgrade LLVM to newer version"
We want to update to a more recent LLVM version, and in the process, we want to base our releases on top of an upstream release branch.

Two problems exists in our current approach:
 1. We forked `mono/llvm` out of https://github.com/earl/llvm-mirror/ which is *not* the official LLVM mirror https://github.com/llvm-mirror/llvm/ (that's for historical reasons, "back in the days" the official LLVM Gi

[2018-04-25 14:17] luhenry commented on #6921
Since Cooperative Suspend will require changes to the embedding API, we are working on getting Hybrid Suspend enabled by default (instead of the full cooperative suspend) as it can do without this major constraint.

[2018-04-25 14:43] luhenry commented on #7854
@marek-safar can you please put together the release notes?

[2018-04-25 14:52] luhenry opened #8449 "2018-04 Release Notes"
https://github.com/mono/website/pull/378

[2018-04-25 15:59] marek-safar commented on #8447
@kg could you look into that

[2018-04-25 16:54] alexischr opened #8450 "Intermittent failures of SslStreamTest.AuthenticateClientAndServer_ClientSendsNoData"
Possibly a regression as the first instance we are aware of is Apr 19.

### Stacktrace

[code]

[2018-04-25 17:33] #7356 closed

[2018-04-25 18:07] mikeberlin commented on #7683
@alexrp I'm running into a very similar situation. The error message I receive is here:

Assertion at /Users/builder/data/lanes/5909/f62de472/source/xamarin-macios/external/mono/mono/profiler/log.c:546
condition `mono_lls_insert (&log_profiler.profiler_thread_list, hp, &thread->node) && "Why can't we insert the thread in the LLS?"'

I'm using Profiler to try and figure out why my app is crashing w

[2018-04-25 18:27] vargaz commented on #8439
Now it fails with:
./.libs/libmini.a(llvm-jit.o): In function `llvm::InitializeNativeTarget()':
/usr/local/include/llvm/Support/TargetSelect.h:119: undefined reference to `LLVMInitializeAArch64TargetInfo'
/usr/local/include/llvm/Support/TargetSelect.h:120: undefined reference to `LLVMInitializeAArch64Target'
/usr/local/include/llvm/Support/TargetSelect.h:121: undefined reference to `LLVMInitialize

[2018-04-25 18:49] jaykrell commented on #8439
This is the -no-undefined thing I had pointed out.

[2018-04-25 18:49] vargaz commented on #8439
The armhf llvm packages seems to be misconfigured it has this in its llvm-config.h file:

/* LLVM architecture name for the native architecture, if available */
#define LLVM_NATIVE_ARCH AArch64

[2018-04-25 18:51] jaykrell commented on #8439
Well, similar at least.
https://github.com/mono/mono/issues/7957

[2018-04-25 18:55] wilks-ifit commented on #8350
How does the versioning that @brendanzagaeski mentioned map to VS for Mac release numbers? I'm getting hundreds of these crashes per day as well.

[2018-04-25 20:58] directhex commented on #8410
Odd data point:

LLVM built with g++ 7.3.0, Mono built with Clang 6.0, running against libstdc++ 7.3.0, works

LLVM built with g++ 7.3.0, Mono built with gcc 5.5, running against libstdc++ 7.3.0, crashes as above.

[2018-04-25 21:00] Fensi3321 opened #8454 "System.TypeInitializationException: The type initializer for 'System.Console' threw an exception"
## Steps to Reproduce

1. Try to use Console class
2. Build file

### Current Behavior
The type initializer for 'System.Console' threw an exception.

### Expected Behavior
Successfully compile file and print result in the Terminal

## On which platforms did you notice this

[ ] macOS
[x ] Linux
[ ] Windows

**Version Used**:
5.10.0

## Stacktrace

[code]

**
[code]
outputs: xterm-256color

Also ge

[2018-04-25 21:01] alexanderkyte commented on #8410
I think this is gcc+llvm interop breaking, and might reflect a requirement that mono be compiled with llvm when we want to use llvm's JIT. I'd like for that not to be the case, but it seems likely.

I can look at this for bug week if an unmanaged fix is desired. Having a root cause of the crash seems important here.

[2018-04-25 21:05] lambdageek commented on #8454
Duplicate of #6752

@Fensi3321 please install the latest Stable 5.10.xx mono package from http://www.mono-project.com/download/stable/#download-lin  this bug is fixed in recent stable releases (5.10.1.145 at a minimum).

See https://github.com/mono/mono/issues/6752#issuecomment-382737904

[2018-04-25 21:05] #8454 closed

[2018-04-25 21:06] akoeplinger commented on #7035
Done: https://jenkins.mono-project.com/job/test-mono-mainline-windows/

[2018-04-25 21:06] #7035 closed

[2018-04-25 21:30] #8149 closed

[2018-04-25 21:30] #8152 closed

[2018-04-25 22:30] jaykrell commented on #8410
The C++ ABI should be stable enough, intersected with our usage, that any compiler should do.

[2018-04-25 22:32] praeclarum opened #8456 "[wasm] System.Runtime.dll facade is missing System.Runtime.CompilerServices.TaskAwaiter"
It would seem that System.Runtime is missing a few entries around Tasks.

## Steps to Reproduce

1. Compile a .NET Standard library
2. Link it to the wasm SDK using the mono linker

### Current Behavior

Linking fails because `System.Runtime.CompilerServices.TaskAwaiter` cannot be found in System.Runtime.dll

### Expected Behavior

The type forwarder for `System.Runtime.CompilerServices.TaskAwaite

[2018-04-26 00:42] vargaz commented on #8273
So this seems to happen because we end up with two instances of the shared method
A`1<T1_REF>:Method2<T2_REF> (T2_REF,long,long)
One instance is registered in register_jump_target_got_slot (), and the other is used for the lookup which fails.

[2018-04-26 00:48] vargaz commented on #8273
Specially one instance is created by reading it from the aot image, and the is created by calling
mini_get_shared_method_full () on a non-shared instance of Method2 (). Ideally these two should be equal.

[2018-04-26 01:03] jaykrell commented on #8273
I wondered if they could be the same. But I didn't look far.

You are already unifying in mini_patch_jump_sites so I did it after the fact like that.

https://github.com/mono/mono/pull/8445
?

[2018-04-26 07:31] Therzok opened #8460 "[Debugger] Record time it took between steps"
This is a feature request for SDB.

It would be nice for SDB to record the time between resume and suspend on debuggee side (to avoid overhead of debug machinery and tcp communication as much as possible). The value would be shown to the user via the debugger client.

It could be used as a poor man's profiler (showing the user time spent on each step).

The debugger suspend/step events should incl

[2018-04-26 09:21] alanmcgovern opened #8461 "Profiler cannot report the path to root which is keeping an object alive"
## Steps to Reproduce

1. Profile VSM and open/close a xaml file multiple times

### Current Behavior

XamlPreviewWidget is not being GC'ed *and* the profiler does not show the path to the root which is keeping it alive.

### Expected Behavior

XamlPreviewWidget is not being GC'ed *and* the profiler *should* show the path to the root which is keeping it alive.

## On which platforms did you notice

[2018-04-26 10:29] alanmcgovern commented on #8461
NOTE: I tried with the xamarin profiler and also dkarlas's krofiler and both were unable to explain why the object was alive. That's why i think this is a mono bug.

[2018-04-26 10:46] akoeplinger opened #8462 "Bump to newest mono/llvm broke a few runtime tests"
## Steps to Reproduce

1. Build Mono with LLVM enabled
2. Run runtime tests with LLVM
3. Observe test failures

This started with the bump to newest mono/llvm commit: https://github.com/mono/mono/pull/8346

### Current Behavior

Test failures: https://jenkins.mono-project.com/job/test-mono-mainline-mac-sdk/label=osx-amd64/1309/testReport/

[code]

### Expected Behavior

No test failures

## On whi

[2018-04-26 11:37] akoeplinger commented on #8446
/cc @directhex

[2018-04-26 11:50] akoeplinger commented on #8456
This should only happen if you run an assembly compiled against the .NET Core assembly factoring on Mono.

A .NET Standard library should expect System.Runtime.CompilerServices.TaskAwaiter in System.Threading.Tasks.dll (NS1.x) or netstandard.dll (NS2.x)

[2018-04-26 12:39] akoeplinger commented on #7455
@hannoquest feel free to send a pull request with this change 😄

[2018-04-26 13:45] directhex commented on #8446
I fixed this a couple of days ago in Preview. Will promote the fix to Stable now.

[2018-04-26 13:45] #8446 closed

[2018-04-26 14:02] rodrmoya opened #8463 "mprof-report/MPL can't read v14 MLPD"
## Steps to Reproduce

1. Install latest d15-7 Xamarin (Beta/Alpha channels)
2. Start profiler and select /Applications/Visual Studio.app
3. Profile for a bit

The MLPD generated is huge (2GB here) so can't share it, but I think it should be easy to reproduce with the above instructions, happens every time here.

### Current Behavior

mprof-report can't read the file:

[code]
Please paste the stac

[2018-04-26 15:14] migueldeicaza opened #8466 "Create smaller corlib"
We need to provide a corlib_wasm.sources file, likely based on the mobile profile, with system.reflection.emit enabled so we can start producing a smaller version of mscorlib.dll.

[2018-04-26 15:41] migueldeicaza commented on #8447
I have a fix.

[2018-04-26 16:34] lambdageek commented on #6748
@mkrueger There should be OSX and Linux packages over at #8468 soon - could you try to reproduce the issue using those Mono builds - they should throw a BadImageFormatException that hopefully includes the filename of the broken assembly.

[2018-04-26 17:31] migueldeicaza commented on #8262
The bug is in ikdasm that is not producing the "class" prefix befire the `[mscorlib]`

[2018-04-26 17:41] akoeplinger opened #8469 "API/Project Files diff renderer stops at XML end comment -->"
## Steps to Reproduce

1. Look at https://jenkins.mono-project.com/job/test-mono-pull-request-amd64/13808/Project_Files_Diff/
2. It only shows changes to System.Json.csproj, but the actual page source (which contains the source diff) has more changes.

### Current Behavior

The diff renderer stops at `-->` XML comment end for some reason.

### Expected Behavior

It should show all changes.

---

N

[2018-04-26 17:46] migueldeicaza commented on #8443
This is a duplicate of this issue:

https://github.com/mono/mono/issues/8443

[2018-04-26 17:46] #8443 closed

[2018-04-26 17:48] chassq commented on #8443
Which one was the duplicate issue? #8443 is the closed issue.

[2018-04-26 17:51] migueldeicaza commented on #6368
@joncham Would you be willing to submit a pull request with the above change, purely so we can get the CLA bot to trigger?

[2018-04-26 17:55] migueldeicaza commented on #8443
My bad: https://github.com/mono/mono/issues/6368

[2018-04-26 18:15] chassq commented on #8443
Thanks!

[2018-04-26 18:28] drobban commented on #8168
Think I have the same issue in OpenBSD 6.3. mono version 5.10.0.160.
The "solution" suggested by @bserrao works for me as well.
I have a couple of suspects, but its to early to say more then that, just that I intend to do further investigation (but, should also say that my Mono knowledge is near to none).

[2018-04-26 19:04] akoeplinger opened #8473 "ThreadPoolTests.PerformanceCounter_WorkItems fails occasionally"
## Steps to Reproduce

1. Run ThreadPoolTests.PerformanceCounter_WorkItems corlib test
2. It fails sometimes

### Current Behavior

Test failures:

[code]

[code]

[code]

[code]

[code]

### Expected Behavior

No failures.

## On which platforms did you notice this

[ ] macOS
[ X ] Linux
[ ] Windows

**Version Used**: master

[2018-04-26 19:05] akoeplinger commented on #8473
@jaykrell I saw you added this test with https://github.com/mono/mono/pull/6118. I'm not really familiar enough with the code to tell whether it's expected that there are more hits on the perfcounter than the 99 that we start in the test.

If there is a good reason, should we change the assert to check for >= 99 instead ?

[2018-04-26 20:14] lambdageek commented on #6921
Sporadic timeouts on `bug-18026.exe` on the Linux x64 Hybrid Suspend lane.

Wanted: better error output with a full gdb backtrace.

[code]

[2018-04-26 20:17] jaykrell opened #8474 "Jenkins should have "Previous Build of same PR" button not just "Previous Build"."
## Steps to Reproduce

1. Use Jenkins to look at failing PR of a particular lane.

### Current Behavior

There is a "Previous Build" button.

### Expected Behavior

I'd like also a "Previous Build of Same PR" button.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-04-26 20:55] directhex commented on #8410
Tried switching to Clang as compiler.

Fails on everything other than x86/x64.

[2018-04-26 21:44] brendanzagaeski commented on #6498
Yes, `MobileAuthenticatedStream.InternalWrite()` is indeed a key location involved in supporting renegotiation. See also [Xamarin Bugzilla Bug 57106, Comment 11](https://bugzilla.xamarin.com/show_bug.cgi?id=57106#c11):

[2018-04-26 21:55] rolfbjarne commented on #7685
I can confirm the fix works. I can also confirm it's a regression in d15-6 (it worked fine in d15-5).

[2018-04-26 22:28] brendanzagaeski commented on #6498
My understanding is that the things that need to be considered are unfortunately fairly subtle, involving how the `SslStream` read-write process as a whole is currently designed in Mono, and taking into account various scenarios such as network interruptions and stress-testing, things like packet injection and replay attacks, and various possibilities where users might interact directly with the `

[2018-04-26 22:32] vargaz commented on #8462
Were these tests ran with llvm ?

[2018-04-26 22:39] akoeplinger commented on #8462
@vargaz they should, yes. we're passing MONO_ENV_OPTIONS=--llvm

[2018-04-26 23:27] madelson opened #8478 "Process.Start() can fail due to what appears to be a race condition between the process exiting and standard input being configured"
I got a bug report for my MedallionShell .NET library on Mono (see https://github.com/madelson/MedallionShell/issues/22 for the full description).

Looking at the posted code and stack trace, this seems like the root cause is a bug in Mono's `Process.Start` implementation.

## Steps to Reproduce

1. Configure a process to have streams redirected, and such that it will exit immediately (e. g. calli

[2018-04-27 07:10] lit1s commented on #8446
It's working, thaaanks a lot! :-)
As aditional info, i'm using mono for clonedeploy, which is also a wonderful software!
Thanks again.
                                      Carles

[2018-04-27 11:41] rolfbjarne opened #8486 "struct with 3 bytes not marshaled correctly with LLVM on watchOS"
## Steps to Reproduce

1. Download test case: [struct-bbb-bug.zip](https://github.com/mono/mono/files/1954877/struct-bbb-bug.zip)
2. Open solution, select the watch app as the startup project.
3. Select a Release|Device configuration.
3. Run.

### Current Behavior

Application output:

[code]

The code (in InterfaceController.cs) calls a P/Invoke that takes a struct with 3 bytes, managed code pass

[2018-04-27 13:10] smr888 commented on #7356
Looking for something to do, I ran my test under the current Mono nightly, which is 5.15, and it did not show the memory leak.  So that's good.

Given that the nightly has moved on from 5.12 to 5.15 over these two weeks, does that mean that 5.12 may become the stable release fairly soon?

[2018-04-27 13:41] directhex commented on #7356
5.12 is already in the Preview repo. Give that a shot, so we know whether it's fixed in 5.12?

[2018-04-27 13:56] spouliot commented on #7683
cross-linking https://devdiv.visualstudio.com/DevDiv/_workitems/edit/599395
flagged for a 15.7 SR (hence the milestone where the fix needs to be back ported)

[2018-04-27 14:20] directhex opened #8487 "BTLS doesn't compile with Clang on ARM"
[code]

This is considered WONTFIX by the LLVM developers: https://llvm.org/bugs/show_bug.cgi?id=24350

Google applies the following patch to OpenSSL as a workaround: https://chromium-review.googlesource.com/c/chromiumos/overlays/chromiumos-overlay/+/290457/6/dev-libs/openssl/files/openssl-1.0.2-clang.patch

Full build log: https://jenkins.mono-project.com/view/Releases/job/ng-release-generate-deb

[2018-04-27 14:27] directhex opened #8488 "Doesn't compile with Clang on ARM64"
[code]

Seems maaaaaaaaaaaaaaaaaaaaaaaaaaaaybe a `.arch_extension crypto` in the asm would help

Full build log: https://jenkins.mono-project.com/view/Releases/job/ng-release-generate-debian-packages/878/execution/node/584/log/?consoleFull

[2018-04-27 17:19] Hunv opened #8490 "XmlSerializer Deserialize Problem"
## Steps to Reproduce

1. Create a new Solution with a .Net or .Net Core Project and a Xamarin Forms project (Android)
2. Download XSD File from https://www.vdv.de/trias-xsd-v1.2.zipx?forced=true and convert it to classes (i.e. using Xsd2Code+ Extension for Visual Studio with default settings but GenerateOrderXmlAttributes = True, GenerateXmlAttributes = True and CollectionObjectType = Array)
3. E

[2018-04-27 17:54] pjcollins opened #8492 "[XA] XmlDateTimeSerializationModeUnspecified currently fails on an Android device with the timezone set to [Asia/Amman] (GMT + 03:00 Eastern European Summer Time)"
The [XmlDateTimeSerializationModeUnspecified](https://github.com/mono/mono/blob/master/mcs/class/System.XML/Test/System.Xml/XmlConvertTests.cs#L966) test is failing on Android against certain time zones.

## Steps to Reproduce

1. Set the timezone on your Android device to GMT+03:00 Eastern European Summer Time
2. Run the test source linked above on the device with this newly set timezone.

## On

[2018-04-27 18:43] bojanrajkovic opened #8494 "Roslyn-compiled struct comparison to default is mis-interpreted"
## Steps to Reproduce

1. Download and compile https://gist.github.com/bojanrajkovic/6654c7ca1d3377153bbc91bb683196db with `csc /langversion:latest test.cs`
2. Run it with the interpreter: `MONO_ENV_OPTIONS=--interp mono test.exe`
3. Observe the output

### Current Behavior

The program outputs the following:

[code]

### Expected Behavior

The program should output:

[code]

## On which platforms

[2018-04-27 18:51] bojanrajkovic commented on #8494
A working version of the method changes `id.id == this.id` to `this.id.Equals(id.id)`. The IL for that looks quite different, and matches between the compilers:

### mcs
[code]

# csc
[code]

[2018-04-27 18:53] craigfowler opened #8495 "msbuild fails to strong-name assemblies regardless of the <DelaySign> property in .csproj"
*This issue is a clone/duplicate of [the upstream msbuild issue #2503](https://github.com/Microsoft/msbuild/issues/2503) in the Microsoft/msbuild repo.*

## Steps to Reproduce
1. Create a minimal C# library project which builds and which has the following in the `.csproj` file (generate a suitable signing key pair if required)
[code]
2. Use msbuild to build the project
3. Now use `sn -vf MyAssembl

[2018-04-27 19:00] craigfowler commented on #8495
## Workaround
The workaround I'm going to use for the time-being is to run `sn -R MyAssembly.dll MyKeyfile.dll` as an extra step in my build config.  Manually completing the signing process (as if I had intended to delay-sign) seems to work as expected.

[2018-04-27 21:01] smr888 commented on #7356
Yup, did that, ran it for over an hour, memory is not growing.  The amount showing allocated as System.Byte in the 5.12 version hovers around 1 Mb.  In the 5.15 version it stays slightly less than 3 Mb.  Not sure why that is since I can't see who allocated what, but neither version is growing / leaking, which is the desirable change.

[2018-04-27 21:01] EgorBo commented on #8490
Just checked on mono 5.8 and mono 5.15 on windows - it prints "Deserialization successful"

[2018-04-27 21:25] praeclarum commented on #8456
Ah yes, I should clarify. I am re-linking a .NET Core (2.0) app against the wasm BCL. Some of the (.NET std 1.3) nugets (CSLA-Core-NS) that it references have TypeRefs that point to System.Runtime.

It's hard for me to tell *why* CSLA has a type ref to System.Runtime but it's there.

If I'm understanding you - this is a particularity of .NET Core?

I'll admit I don't fully understand the whole Sys

[2018-04-27 22:06] rainersigwald commented on #8495
@radical looks like you can revert https://github.com/mono/msbuild/commit/665f843ac664eb2b4541242c1d6e364a9a838ac8 since dotnet/roslyn#8210 is complete now.

@craigfowler To force Mono's MSBuild to attempt to strong sign, you can set the project property

[code]

[2018-04-27 22:29] lordmampf opened #8499 "Can't dynamically replace method by changing MethodHandles"
In .Net you can simply change the content of any method;

long* inj = (long*)methodToInject.MethodHandle.Value.ToPointer()+1;
long* tar = (long*)methodToReplace.MethodHandle.Value.ToPointer()+1;
*tar = *inj;

More information:
https://stackoverflow.com/questions/7299097/dynamically-replace-the-contents-of-a-c-sharp-method

With mono I get an:
* Assertion at metadata.c:1157, condition `idx < t->row

[2018-04-28 00:12] tarndarnya opened #8502 ".NETFramework simple code Xbuild error"
## Steps to Reproduce

1. xbuild SimuDia.csproj
2.
3.

https://github.com/suitougreentea/SimuDia

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[v Mint 18.3] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-04-28 11:36] craigfowler commented on #8495
@rainersigwald - thanks but it seems @akoeplinger is correct.  Using the `_UseRoslynPublicSignHack` property doesn't help me for Mono 5.10 (the latest version available in the Debian package repo right now).  If I use msbuild from Mono 5.10 then I get this when attempting to build.

[code]

It's OK.  I'll go back to "Workaround A" which is to manually use `sn -R` with my builds.  Once Mono 5.14 be

[2018-04-28 12:16] akoeplinger commented on #8495
Well by that time the property won't be needed anymore since it'll "just work" :smile:

[2018-04-28 20:41] stakx opened #8503 "System.Reflection.Emit: ModuleBuilder.FullyQualifiedName does not return a fully qualified name"
`ModuleBuilder.FullyQualifiedName` does not include an absolute module path as it does on the CLR. As per [the MSDN documentation for the `ModuleBuilder.FullyQualifiedName` property](https://msdn.microsoft.com/en-us/library/system.reflection.emit.modulebuilder.fullyqualifiedname.aspx), it should:

## Steps to reproduce

Compile and run the following program:

[code]

### Current behavior

When run

[2018-04-28 21:30] stakx opened #8504 "System.Reflection.Emit: ParameterBuilder.SetConstant(null) throws for parameters of type Nullable<T>"
Given a `ParameterBuilder` for a parameter of type `Nullable<T>`, a call to [`ParameterBuilder.SetConstant(null)`](https://github.com/mono/mono/blob/89ecd02722d1aa484dca476a800435639b544fd8/mcs/class/corlib/System.Reflection.Emit/ParameterBuilder.cs#L95-L109 "see source code for `ParameterBuilder.SetConstant`") will throw an exception, claiming that `null` is not a supported constant type.

Howeve

[2018-04-28 22:14] ZackTech opened #8505 "Unable to build Mono application using Xamarin Sudio 6.3 Community on Windows 10"
## Steps to Reproduce

1. Download and Install GTK#, Mono, Xamarin Studio (version 6.3 Community on a Window 10 pc)
2. Create project (Console or GTK application)
3. Build application

If the runtime is set to the regular .Net it builds OK
When you set the runtime to Mono you get:
Build Failed:

node `classlib-gecko' is not defined on the documentation map
node `classlib-taglib-sharp' is not defin

[2018-04-29 09:47] #8473 closed

[2018-04-30 09:21] stakx opened #8512 "System.Reflection.Emit: Custom attributes on methods' generic parameters are not emitted"
Mono does not emit custom attributes on methods' generic parameters.

Say you were to emit the following type with System.Reflection.Emit:

[code]

If you then checked whether `[Obsolete]` was indeed defined on `T` using reflection over the created type, you'd find that the custom attribute is absent.

## Steps to reproduce

Compile and run the following program:

[code]

### Current behavior

The

[2018-04-30 10:10] stakx opened #8513 "System.Reflection.Emit: Parameter.HasDefaultValue returns true when ParameterBuilder.SetConstant was never called."
This isn't exactly a bug, but an observed difference between Mono (5.10.1.47) and .NET (4.7.1).

The following program emits a type using System.Reflection.Emit equivalent to the type shown below... with one important difference: the default parameter value `3` is *not* set using `parameterBuilder.SetConstant`.

[code]

If you'd then reflect over that optional parameter in the generated type, the

[2018-04-30 12:27] luhenry commented on #8499
Please provide a reproducible test case so that we can more easily reproduce it locally.

[2018-04-30 12:54] Harteex opened #8514 "Graphics DrawImage looks wrong on Linux when using SetColorKey"
## Steps to Reproduce

To reproduce, use the following test project:
Get the project/solution [MonoColorBug.zip](https://github.com/mono/mono/files/1960561/MonoColorBug.zip) or create a new windows forms project, add a picture box, setup the form Shown event and [use the following code](https://pastebin.com/jxCSKs58).

### Current Behavior

On Windows with .NET it looks like it should, like this:

[2018-04-30 13:06] marek-safar commented on #8513
We consider such behaviour difference to be a bug. Thanks for the test case

[2018-04-30 14:36] kumpera opened #8515 "[WASM] Review wasm BCL sources"
The current BCL we're shipping on WASM includes too many types we don't want to ship in the first place.

We should remove them ASAP before upstream users start to depend on them.

[2018-04-30 14:38] lambdageek opened #8516 "Make dedicated MonoError for `mono_error_set_argument_out_of_range`"
Make a separate error_code for `mono_error_set_argument_out_of_range`.

It needs a special argument and a custom way of converting to a managed exception (see `mono_get_exception_argument_out_of_range`):
1. It takes a `param_name` argument which names a function argument
2. When creating the managed exception it should be used to populate `MonoArgumentException:param_name`

(Depends on #8483, whic

[2018-04-30 14:42] marek-safar commented on #8502
Mono 4.2 is quite old and it's missing support for newer build tools. Please upgrade to new Mono version and use msbuild instead

[2018-04-30 14:42] #8502 closed

[2018-04-30 14:57] lambdageek commented on #8512
(Minor nit @stakx: `ObsoleteAttribute` doesn't include `AttributeTargets.GenericParameter` in its `AttributeUsage`)

We do emit the correct attribute if we change to `AssemblyBuilderAccess.RunAndSave` and then call `assemblyBuilder.Save(...)`.

So we're just finding the custom attribute when running a dynamic assembly.

[2018-04-30 15:25] jonpryor opened #8518 "Support Response Files"
It would be useful if `mono` supported [response files](https://msdn.microsoft.com/en-us/library/windows/desktop/aa367156(v=vs.85).aspx).

A "response file" is a plain-text file that contains strings to be treated as arguments for `mono`.

For example, assume a file `foo.rsp` with the contents:

[code]

Then `mono @foo.rsp` would be treated *as if* the user had instead entered `mono --debug=casts

[2018-04-30 16:35] alexanderkyte opened #8519 "Snapshotting Of Managed State"
Use case:
I share a photo to a Xamarin app with a long initialization time. The UI pauses while it loads. I feel worse about the app.

Use case:
The sequence of unmanaged operations has lead to a corruption of unmanaged state. A segfault happens, memory is leaked to excess, deadlock occurs. The managed state is pristine. The crash happens. Managed state is lost. The runtime is at fault.

Use case:

[2018-04-30 20:01] rbazinet-exago opened #8526 "Cookieless sessions don't work when path alias is used in Web Server"
## Steps to Reproduce

1. Create an ASP.NET web site running under Mono on Linux
2. Configure Apache and mod_mono to connect to your site using an aliased directory
    ie.
    Alias /mySite "/opt/mySiteInstall"
    <Location "/mySite">
        Require all granted
        SetHandler mono
    </Location>
3. Edit the application web.config to enable cookieless sessions
4. Connect to <server>/mySite/

[2018-04-30 22:14] #8403 closed

[2018-04-30 22:15] marek-safar commented on #7683
@luhenry is there any update on this issue?

[2018-05-01 09:26] lordmampf commented on #8499
Do you need a sln?
You can get test code from here: https://stackoverflow.com/a/36415711

[2018-05-01 15:18] joncham commented on #7076
Corresponds to Unity issue: https://issuetracker.unity3d.com/issues/running-a-task-that-derives-from-a-class-as-generic-results-in-a-crash-when-awaiting-one-layer-deep-task-dot-delay

Will be fixed by migration to Roslyn if no fix for `mcs`

[2018-05-01 15:27] #8372 closed

[2018-05-01 15:56] luhenry commented on #8499
I tried to reproduce https://stackoverflow.com/a/36415711 with Mono 5.14.0.69 (2018-04/12a21428529) and I didn't get the crash.

The reproduction steps are the following:
1. `wget https://gist.githubusercontent.com/luhenry/8433c0ca60f766e0e57ef9a5286ac159/raw/9380419d7a751821851df80b9f59ae4d723ae1b3/repro.cs`
1. `csc /unsafe repro.cs`
1. `mono repro.exe`

@lordmampf could you please confirm if it

[2018-05-01 16:16] lambdageek commented on #8499
In my opinion we don't and should not support this - AFAICT the code attempts to overwrite a word in a MonoMethod in order to affect calls to the given method.

1. Mono does not lay out its internal data structures the same was as .NET
2. Even if we did, our JIT doesn't behave the same way as the .NET Framework (for example we may JIT earlier or later than .NET, we may inline more or fewer methods

[2018-05-01 18:15] migueldeicaza commented on #8252
Marking it obsolete is really out of the question.

It is an API that is a lot simpler to use than HttpClient.   Let us keep this focused on the pros/cons on replacing the transport for WebClient.

[2018-05-02 05:09] alphanumericpassword opened #8539 "F# interactive raises 'mono_class_has_static_metadata (klass)' error when using Marshal methods"
## Steps to Reproduce

Execute the following in Visual Studio for Mac F# interactive on Mono 5.8.1 (also occurs in Rider, but I do not use Rider regularly except in this instance to recreate the issue):
[code]

### Current Behavior

Fails with error:
`* Assertion at class-accessors.c:138, condition 'mono_class_has_static_metadata (klass)' not met`

### Expected Behavior

`Marshal.SizeOf(typeof<Gif

[2018-05-02 06:29] #7247 closed

[2018-05-02 09:15] lewurm commented on #8539
Thanks for your report! I think that's a duplicate of https://bugzilla.xamarin.com/show_bug.cgi?id=41130 and thus fixed via https://github.com/mono/mono/pull/7055

It's going to be included in the 5.14 (`2018-04`) release, could you try with that? Here's the latest build of the `2018-04` branch: https://xamjenkinsartifact.azureedge.net/build-package-osx-mono/2018-04/63/fd09fd9d44432b1c68a9b34854c5

[2018-05-02 11:04] Thaina commented on #7662
@kumpera Do we have that repo yet?

[2018-05-02 16:17] lambdageek opened #8540 "VS for Mac add-ins cannot be loaded"
## Steps to Reproduce

1. Install VS for Mac (I have Visual Studio Community 2017 for Mac Version 7.4.3 (build 10))
2. Install mono master (Mono JIT compiler version 5.15.0.321 (master/5eafab5dabf Tue May  1 21:53:23 EDT 2018))
3. Open VS Mac

### Current Behavior

![vsmac-loadcontext](https://user-images.githubusercontent.com/480437/39535348-ab82624a-4e01-11e8-802f-9a3f1a573470.png)

Multiple ext

[2018-05-02 16:31] marek-safar commented on #8252
Is the API really simpler to use?

WebClient:
[code]

HttpClient
[code]

This one simple use case. I could probably construct special case where WebClient is litle bit shorted but as general API I don't think the risk of breaking possibly anyone is worth taking

[2018-05-02 19:34] joncham opened #8543 "Crash when using Delegate.CreateDelegate with DynamicMethod"
## Steps to Reproduce

1. Run attached test case below

[code]

### Current Behavior

Crash!!!

### Expected Behavior

.NET gives:
[code]

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

[code]

[2018-05-02 19:36] alphanumericpassword commented on #8539
That worked, but now there are more problems down the line - string marshaling using the MarshalAs attribute doesn't work on Mono/Mac like it does for Windows/.NET Framework. If I leave the attribute `[<MarshalAs(UnmanagedType.ByValTStr, SizeConst = 3)>] signature: string` in the structure, then it will fail as described below by doing the following in FSI:

[code]
_Just a disclaimer, I am not 100

[2018-05-02 20:11] Harteex commented on #8514
More observations and workaround:

The same problem occurs when loading a bitmap, calling MakeTransparent on it and then drawing with Graphics.

Consider an image with magenta as its transparent color. After the MakeTransparent call, I noticed that on mono, a transparent pixel was 00FF00FF (magenta with zero alpha), while on dot net, it was 00000000.

I tested to set these pixels to 00000000 manua

[2018-05-02 20:17] marek-safar commented on #8539
Could you please create a new issue for the marshalling problem?

[2018-05-02 20:57] migueldeicaza commented on #8518
Agreed, Mono's C# compiler also supports response files, I think that this request is for the runtime itself.

The issue that I have with @foo.rsp is that it will potentially break (albeit this sounds rare) any executable that was named '@foo.rsp'.

Perhaps this shoudl be mono --response foo

[2018-05-02 21:05] lambdageek commented on #8518
@migueldeicaza Do we already have `mono -- args ...` meaning "stop interpreting arguments after `--`"?

If yes, we could support `mono @foo.rsp` for response files and if someone really names their assembly "@foo.rsp" then can do `mono -- @foo.rsp` to run it.

[2018-05-02 21:21] #8539 closed

[2018-05-02 21:25] #8526 closed

[2018-05-02 21:27] alphanumericpassword opened #8545 "Problem with string marshaling using MarshalAs attribute in F# interactive"
String marshaling using the MarshalAs attribute doesn't work on Mono/Mac like it does for Windows/.NET Framework. If I use the attribute `[<MarshalAs(UnmanagedType.ByValTStr, SizeConst = 3)>] signature: string` in the structure, then it will fail as described below by doing the following in FSI:

[code]
_Just a disclaimer, I am not 100% sure of the header sizes, I am still playing around with mars

[2018-05-02 21:43] marek-safar commented on #8499
I agree that you are poking too deep to expect reliable behaviour. There seem to be better solutions used by other IL weaving tools you could try to explore instead.

[2018-05-02 21:43] #8499 closed

[2018-05-02 21:49] jaykrell commented on #8518
$ mono -- foo.exe
Unknown command line option: '--'
Add that too?

[2018-05-02 23:08] lambdageek commented on #8540
Hm.  #8547 fixes the immediate issue with the AzureSupport addin and for me VS Mac opens without any further errors.

I suspect Mono's distinction between default context and LoadFrom context is still sufficiently lax that we get by even without the `Load (Assembly.GetAssemblyName (asmPath))` hack.

Going to keep this issue open and try out more things with VS Mac to see if anything else pops up,

[2018-05-03 12:06] marek-safar commented on #7502
This was introduced with tuples support, mcs cannot disambiguate between tuples declaration and expressions in this case.

Consider

[code]

We don't recognize either of them because block variable declaration takes look up precedence and we parse that as local variable instead which is wrong.

[2018-05-03 13:50] joshpeterson opened #8555 "OraclePermission and OraclePermissionAttribute types have the wrong base classes"
The `System.Data.OracleClient.OraclePermission` and `System.Data.OracleClient.OraclePermissionAttribute` classes don't have base classes that match the .NET 4.7.1 profile.

`System.Data.OracleClient.OraclePermission` should have a base class of `System.Security.CodeAccessPermission`, but instead its base class is `System.Data.Common.DBDataPermission`.

`System.Data.OracleClient.OraclePermissionAtt

[2018-05-03 14:27] joshpeterson commented on #8555
I'm going to open one issue for all of the incorrect base classes.

[2018-05-03 14:27] #8555 closed

[2018-05-03 14:30] joshpeterson opened #8557 "Some types have incorrect base classes."
Some types have base classes that do not match the base classes in the .NET 4.7.1. profile. These are all public types, so their base classes are part of the public API. Here is the list of classes, along with their expected base types (based on the 4.7.1 profile) and their actual base types:

[code]

[2018-05-03 14:37] joncham commented on #8543
Corresponds to Unity Issue: https://issuetracker.unity3d.com/issues/unity-crashes-in-mono-method-signature-checked-when-creating-a-delegate-from-a-dynamicmethod

[2018-05-03 15:32] marek-safar commented on #8557
That's not that bad the differences come from types which are Obsolete or in assemblies we are actively working on

[2018-05-03 16:26] mhutch commented on #8540
Might it make sense to support the hack so MD can start using it preemptively, in case the loader gets stricter?

[2018-05-03 16:30] lambdageek commented on #8540
@mhutch I'll give it a try - I'm getting pretty good at building VSfM.  AFAICT, `Load(Assembly.GetAssemblyName (asmPath))` in Mono should end up delegating to `LoadFrom(asmPath)` at least some of the time, anyway.  So it might be harmless to just switch VSfM to do that everywhere.

I'll report back on this issue.

[2018-05-03 17:37] migueldeicaza commented on #8518
We could explore the "Stop interpreting" option "--", but for now, we can just add "--response=FILE"

[2018-05-03 17:50] baulig commented on #8450
Whatever makes that test use Legacy TLS needs to be changed to not do that.

[2018-05-03 17:53] baulig opened #8559 "Deprecate and eventually remove the Legacy TLS Implementation"
We should at some point first deprecate, then remove the old legacy TLS implementation.  Nobody should really be using TLS 1.0 anymore these days and we're also not making any fixes or even just taking bug reports against that old implementation.

Ideally, I would like to deprecate it as soon as possible, then schedule it for removal.

Are there any objections against this?

[2018-05-03 19:00] migueldeicaza commented on #8559
No objections from me.

[2018-05-03 19:19] marek-safar opened #8563 "Update GetTaskSchedulersForDebugger_ReturnsDefaultScheduler test"
The test is wrong as Mono is using different implementation from CoreRT and it also depends on reflection pattern we don't support yet.

We need to clean up both of these.

https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks/tests/TaskScheduler/TaskSchedulerTests.cs#L295

[2018-05-03 20:30] lambdageek commented on #8540
This seems to work.  Will come back to it around 2018-06 integration time.

[code]

[2018-05-03 20:37] baulig commented on #8421
This is actually not difficult at all.  PR incoming.

[2018-05-03 20:41] baulig commented on #8421
Should be fixed with PR #8566.

[2018-05-03 21:38] baulig commented on #8559
PR for the first stage of the removal is up: https://github.com/mono/mono/pull/8568.

[2018-05-03 21:43] baulig commented on #8559
There are a few places where the Legacy TLS Code is still in use:

- There is some code in `Novell.Directory.Ldap`, which should be easy to replace with `SslStream`: https://github.com/mono/mono/blob/master/mcs/class/Novell.Directory.Ldap/Novell.Directory.Ldap/Connection.cs.
- `System.ServiceModel` has its own copy of the entire code, which only seems to be used here: https://github.com/mono/mono/

[2018-05-03 21:57] baulig commented on #8559
Ok, the `Novell.Directory.Ldap` issue was trivial, I've already replaced that with `SslStream`.

[2018-05-03 22:57] baulig commented on #8252
We have switched to using the WebClient implementation from CoreFX a while ago and I don't really want to switch back to a Mono-specific version, so we should really discuss that with the CoreFX team.

[2018-05-04 00:32] #8488 closed

[2018-05-04 00:35] #8417 closed

[2018-05-04 01:11] #8518 closed

[2018-05-04 05:13] Thaina commented on #8277
@kumpera Are there any progress yet?

[2018-05-04 08:34] #8421 closed

[2018-05-04 12:04] rjvdboon opened #8572 "Build fails on Redhat 6.8 with GCC 4.4.7"
## Steps to Reproduce
On a machine with GCC 4.4.7 as the default compiler (i.e. stock Centos6.9)
1. clone mono master
2. configure
3. make

### Current Behavior

Build fails.

### Expected Behavior

Build completes.

## On which platforms did you notice this

[ ] macOS
[ X ] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

[code]

Commenting out lines 146 and 148 gets me a successful b

[2018-05-04 12:39] mkrueger commented on #6748
I don't need packages :). After working a while this bug is fixed - thanks.

[2018-05-04 12:39] #6748 closed

[2018-05-04 12:46] EgorBo opened #8573 "Enable failing tests for System.ComponentModel.Composition"
## Steps to Reproduce

The following tests fail in `cd mcs/class/System.ComponentModel.Composition.4.5 && make run-xunit-test` make sure you enabled all previously ignored tests (start with `#` or after `:`  except `ContainerFactory.NoOverridesCompositionContainer.cs`):

- System.ComponentModel.Composition.ReflectionModel.ReflectionModelServicesTests.IsExportFactoryImportDefinition_InvalidImport_S

[2018-05-04 14:52] rjvdboon opened #8575 "GetCustomAttributes on a type from an assembly in the LoadFile context fails"
## Steps to Reproduce

1. Extract the attached repro
2. `make run`

[Repro.zip](https://github.com/mono/mono/files/1974822/Repro.zip)

### Current Behavior

It throws an Exception.

### Expected Behavior

Console shows `Found 1 MyCustomAttribute attributes`

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

The repro case gives the expected output on .Net framework and M

[2018-05-04 15:59] lambdageek commented on #8575
Somehow Attr.dll gets loaded in the default context in .NET Framework.

(It's not that A.dll is loaded into the default context - other referenced assemblies (for example adding a class with a base type in a referenced assembly) are not loaded even when needed)

[2018-05-04 16:25] Thaina commented on #7662
Thank you very much

[2018-05-04 17:39] baulig commented on #8127
What's the status of this?  Not having BTLS on Windows is blocking the Legacy TLS removal (https://github.com/mono/mono/issues/8559).

[2018-05-04 19:37] jaykrell opened #8577 "CEE_JMP amd64 passes stacked valuetypes incorrectly."
## Steps to Reproduce

1. Produce IL using jmp. Esp. passing large valuetypes by value.
ilasm foo.il
2. mono --aot=full foo.exe
3. mono --full=aot foo.exe

### Current Behavior

Parameters are passed incorrectly.

### Expected Behavior

It should work.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-05-04 19:40] jaykrell opened #8578 "CEE_JMP silently is not AOTed and fails at runtime."
## Steps to Reproduce

1. Produce IL using jmp. It can be anything.
ilasm foo.il
2. mono --aot=full foo.exe
3. mono --full=aot foo.exe

### Current Behavior

Unhandled Exception:
System.ExecutionEngineException

### Expected Behavior

It should work.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

## Stacktrace

[code]

[2018-05-04 21:44] jaykrell opened #8581 "CEE_JMP problem on arm64"
New test mono/tests/jmp1.il is disabled on ARM64.
Previously there was no testing of CEE_JMP.

This commit disabled it.
https://github.com/mono/mono/commit/ba03e3c28e730e51c6bcc54309088c22265d6b37

[2018-05-04 21:54] jaykrell opened #8582 "x86/arm don't implement tailcall_reg/membase."
Part of tailcall work.
If there are existing or new tests that need it.

arm64/amd64 no problem, have:
		case OP_TAILCALL:
		case OP_TAILCALL_REG:
		case OP_TAILCALL_MEMBASE:

x86  has only:
		case OP_TAILCALL:
		case OP_TAILCALL_MEMBASE:

arm has only:
		case OP_TAILCALL:

Fill in them missing opcodes on x86/arm if tests motivate.
arm doesn't need as much in general, because it has limitations th

[2018-05-04 21:59] #6916 closed

[2018-05-05 00:09] jaykrell opened #8585 "tailcall should reuse incoming valuetypes for outgoing, if present"
1. Some architectures are challenged to pass valuetypes in tailcalls. They disallow it.
amd64 and arm64, and maybe ppc and s390x.

2. At the same time, incoming and outgoing signatures often match, or are similar.
By "similar" I mean they might each have same types but in different positions.

Therefore, in order to pass valuetypes in tailcalls more often, the incoming spaces should be considered

[2018-05-05 01:05] jaykrell commented on #8585
This is needed by CEE_JMP also, which today generates incorrect code sometimes.

[2018-05-05 05:21] jaykrell opened #8586 "Mac/x86/hybridaot make -C mono/tests aotcheck fails to build"
Mac/x86/hybridaot

[code]

[2018-05-05 07:36] jaykrell opened #8587 "configure.ac G_HAVE_ISO_VARARGS problems"
In configure.ac we have:

[code]

This does not work in the way intended.
A main() wrapper is supplied and it tries to compile:

[code]

giving:

[code]

[2018-05-05 07:51] #7787 closed

[2018-05-05 08:24] Rombersoft opened #8588 "Mono crashes"
I have C library for working with this pos_terminal https://www.verifone.com/en/us/devices/countertops-pin-pads/vx-520

I use

[code]

And my application crashes after second method calling

## Steps to Reproduce

Project is here https://www.dropbox.com/s/8l0czx4091y1usj/BugZilla.tar.gz?dl=0
Dependencies and manuals are here https://www.dropbox.com/s/ip59ivgkkaid7st/posapi-centos-x64_1.24.tar.bz2?

[2018-05-05 08:51] Fivefor opened #8590 "Can't get mono installation working on Debian 9"
Hi,

I'm trying to install Mono on my Debian Linux according to this guide:
https://www.mono-project.com/download/stable/#download-lin-debian

But when I try to execute first line:
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF

it gives me this:
Executing: /tmp/apt-key-gpghome.wFSfsOnNzG/gpg.1.sh --keyserver hkp://keyserver.ubuntu.c

[2018-05-05 09:31] jaykrell commented on #8588
Can the files be submited differently to github, i.e. w/o a dropbox login?
Can you put them in a github repository? In source form?

[2018-05-05 10:26] jpbruyere commented on #8588
The first param of **pos_open** is  `void**`, so your pInvoke is correct, but for the other functions using the returned handle the c signature of the first param is `void*`.
example:
[code]
have to be replaced by
[code]

[2018-05-05 13:15] Rombersoft commented on #8588
I've filled project to git here https://github.com/Rombersoft/pos_terminal

[2018-05-06 10:28] stakx opened #8597 "System.Reflection.Emit: ParameterBuilder.SetConstant(value) throws ArgumentException for nullable value typed parameters"
For example, given a `ParameterBuilder parameterBuilder` for a parameter of type `int?`, `parameterBuilder.SetConstant(42)` will throw an `ArgumentException` ("Constant does not match the defined type").

## Steps to reproduce

Compile and run the following program:

[code]

### Current behavior

The call to `parameter.SetConstant` fails with a `System.ArgumentException` ("Constant does not match

[2018-05-06 11:47] lewurm commented on #8494
nice, we recently hit the same issue when running roslyn with the interpreter and it got fixed with this PR https://github.com/mono/mono/pull/8496

thanks for your report!

[2018-05-06 11:47] #8494 closed

[2018-05-06 17:37] #8122 closed

[2018-05-07 09:59] marek-safar commented on #8587
From @jaykrell comment

Sometimes gcc allows nested functions, sometimes not, i.e. Apple configuration.

Solution is use newer-fangled AC_COMPILE_IFELSE.
Or rename main and put it in the first parameter.
Or remove the entire thing, really, and see what @luhenry did here:

[code]

Also I don't think the intermediate have_iso_varargs is needed.
Also in the  config.h you can just say `#if @foo@`,  yo

[2018-05-07 10:34] mfilippov commented on #6299
@alexanderkyte Any news about this issue? It is the very painful problem for us.

[2018-05-07 12:59] jaykrell commented on #8587
Or if the parameters end up adjacent, unlike g_assertf,  just consider "format" part of "..." and just say __VA_ARGS__ to take both, with whatever comma the user put in.
The wierdness in g_assertf is justified, unlike in other places, because the parameters get split.

[2018-05-07 13:02] directhex commented on #8127
I was told to drop it, in favour of totally imminent work on implementing a Windows SSL back-end (presumably from Netcore)

[2018-05-07 14:00] lewurm commented on #8486
that looks similar to https://github.com/mono/mono/issues/7449 which got fixed by https://github.com/mono/mono/pull/7691

maybe we have a similar issue with the llvm backend

[2018-05-07 14:10] marek-safar commented on #6299
@vargaz @alexanderkyte is there anything interesting in the log file?

[2018-05-07 14:13] lambdageek commented on #8597
@stakx Thanks for reporting all of these!

This one is related to #8504, but whereas that one is about initializing a Nullable to `null`, this one is about initializing a Nullable to non-`null`.

[2018-05-07 14:51] lambdageek opened #8610 "Fix "clang-analyze-build" step on the CI static analysis job"
The "clang-analyze-build" step on the [static analysis jenkins job](https://jenkins.mono-project.com/job/test-mono-mainline-staticanalysis/) shows green ✅ but when you click on [Clang Analysis Report](https://jenkins.mono-project.com/job/test-mono-mainline-staticanalysis/Clang_Analysis_Report) it's actually broken.

This is correleated with the static analysis job upgrading to Ubuntu 18.04 a coupl

[2018-05-07 15:47] directhex commented on #8590
Yeah, looks like the default packages in Debian 9 chroots have changed since I wrote the instructions. Will fix up docs.

[2018-05-07 15:49] directhex commented on #8590
Docs updated.

[2018-05-07 17:57] stakx commented on #8597
@lambdageek - You're welcome.

I should perhaps have submitted just one issue for both cases... sorry for that. I've discovered these two bugs on different days while working on different aspects of a larger problem, so I didn't immediately think of the pre-existing issue during round n° 2.

[2018-05-08 04:03] directhex commented on #8439
The bitcode PR job is configured to use the latest .deb from the job https://jenkins.mono-project.com/job/build-package-dpkg-llvm/ (master branch).

The arch detection bug is fixed in the release_39 or release_60 branches

Reconfiguring the test-mono-pull-request-armhf-bitcode job to pull from the build-package-dpkg-llvm-release60 job instead of build-package-dpkg-llvm will make it use a fixed, 32

[2018-05-08 08:32] Rombersoft commented on #8588
There is such method on C lang

bool pos_get_first(POS_HANDLE handle, char *param, int param_size,
char *val, int val_size);

Is right PInvoke?

[DllImport("libpos.so.1.24.0", EntryPoint = "pos_get_first", CallingConvention = CallingConvention.Cdecl)]
        private extern static Boolean GetFirst(IntPtr handle_p, string param, Int32 paramSize, string val, Int32 valSize);
because I get next Error

[2018-05-08 09:34] imkow opened #8622 "DllImport (PInvoke) passes char[] to char * incorrectly on Raspbian Linux"
## Steps to Reproduce

1. write a c/c++ code with signature like this:

[code]

2. write a C# DllImport binding like this:

[code]

3. compile all the test code above. Invoke function Foo as following:

[code]

### Current Behavior
after passing to native lib:
1st string is (correct): /home/pi/videospath
2nd string becoming (incorrect): test.avi/home/pi/videospath

### Expected Behavior
after pass

[2018-05-08 09:43] donchak commented on #8089
Hello,
Can I find out if this fix is in the last Xamarin update in Visual Studio 15.7?
I can still reproduce this bug https://github.com/dotnet/corefx/issues/28886 even on a new Xamarin.Forms project.
Thank you!

[2018-05-08 10:30] DNF-SaS commented on #8121
@migueldeicaza Any plans for continuing mono-wasm? No commits in the repo since 4 Months.. 👎

[2018-05-08 11:05] Rombersoft commented on #8588
I've already written this article and when I use StringBuilder function does not set it value and stringBuilder.ToString() returns empty string

[2018-05-08 11:36] akoeplinger opened #8623 "Complete the System.Memory types import"
The System.Memory facade currently has TODO items for a bunch of types:

https://github.com/mono/mono/blob/0b5e6923235efe0ede039ec4a956be18cb2e562c/mcs/class/Facades/System.Memory/TypeForwarders.cs#L32-L46

We should complete those.

See https://github.com/aspnet/SignalR/issues/1886

[2018-05-08 12:18] alexischr opened #8624 "Many System.Net tests failing under XM with 2018-04"
Example: https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7083/testReport/MonoTests.System.Net/

/cc @baulig

[2018-05-08 12:30] alexischr opened #8625 "AttributeTest.DebuggerTypeProxy_24203 failing under XI/XM with 2018-04"
Example: https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7083/testReport/(root)/AttributeTest/DebuggerTypeProxy_24203

[2018-05-08 13:15] #8588 closed

[2018-05-08 14:32] akoeplinger commented on #8089
@donchak which platforms are you targetting, Android or iOS?

[2018-05-08 15:03] Fivefor commented on #8590
Thanks!

[2018-05-08 15:19] chamons opened #8627 "The instruction pointer of the currently executing method is not on the recorded stack"
## Steps to Reproduce

None so far :(

[code]

### Current Behavior

Crash when debugging.

### Expected Behavior

Debugging to work great.

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

https://gist.github.com/chamons/b3751fdbb56fb66c7fdaa53d950f1401

I have a full zip of my state (binaries, source, etc) but it is too large to attach

[2018-05-08 15:27] directhex commented on #8572
How much do we care about supporting GCC 4.4? It's already a no-go for BTLS, so we switched to using "Devtoolset" in package builds, to get a newer compiler

[2018-05-08 15:47] donchak commented on #8089
@akoeplinger The compilation error is occurred when I am targeting Android platform.

[2018-05-08 15:51] luhenry commented on #8572
If it's a no-go for BTLS, then I don't think we care about it very much. @directhex which Linux that we currently support would it stop us from supporting?

[2018-05-08 16:26] akoeplinger commented on #8089
@donchak ok, it seems this made it into Xamarin.iOS but was missed from Xamarin.Android. I'll get it fixed.

Please note that this just adds the assembly, we don't have the System.Drawing types on the mobile platforms yet.

[2018-05-08 16:27] directhex commented on #8572
It shouldn't affect us. The packages which rely on a newer GCC (well, G++) we work around using devtoolset (which gives us GCC/G++ 4.8). I have to manually check we aren't adding dependencies on post-libstdc++-4.4 _methods_, but so far everything is clean.

[2018-05-08 16:36] donchak commented on #8089
@akoeplinger Thank you!

[2018-05-08 18:12] #6842 closed

[2018-05-08 18:46] luhenry commented on #7623
@lewurm @BrzVlad this should be revisited following the discussion on https://github.com/dotnet/corefx/pull/29571. We should probably have an explicit null check for `ldind`, even if it won't protect us against other invalid addresses (like `0x1` for example). In the longer term, we should otherwise firgure out a way to, in the SIGSEGV handler, check if we are currently executing a managed method

[2018-05-08 19:31] kumpera commented on #7683
I bet this is due to XM/XI behavior of calling into mono after we detach.

[2018-05-08 19:36] tch3141 opened #8632 "Runtime problems with ScriptManager"
## Steps to Reproduce

I Can't get a runtime version of System.Web.Extensions where the
ScriptManager has an EnableHistory property to load at run time.

I'm trying to port an existing windows 4.6.2 ASP.NET app to mono so we
can do dev on linux or mac. I'm only on linux right now, but have
heard of same issues on mac from other developers. I've done a little
"back end" Csharp kind of stuff in mono

[2018-05-08 19:58] brendanzagaeski commented on #8350
The new [Xamarin.Mac version 4.5 Preview](https://developer.xamarin.com/releases/mac/xamarin.mac_4/xamarin.mac_4.5/) and [Xamarin.iOS version 11.11 Preview](https://developer.xamarin.com/releases/ios/xamarin.ios_11/xamarin.ios_11.11/) that have been published today alongside [Visual Studio 2017 for Mac version 7.6 Preview 1](https://docs.microsoft.com/visualstudio/releasenotes/vs2017-mac-preview-r

[2018-05-08 20:00] joncham commented on #7502
@marek-safar can this be fixed, or are you saying this is a limitation once tuples support was added?

[2018-05-08 21:39] marek-safar commented on #7502
Would love to get this fixed but it's quite tricky case in our parser to handle.

[2018-05-08 22:07] alexischr opened #8634 "mmp error MM0000: Unexpected error on XM with 2018-04"
## Steps to Reproduce

1. Install a system Mono before version 5.14 (e.g 5.12)
2. Install a package from https://github.com/xamarin/xamarin-macios/pull/3856, e.g.  https://bosstoragemirror.azureedge.net/wrench/macios-mac-mono-2018-04/b5/b5f79ca4d27d567245c634077c1dd2033060aaa3/xamarin.mac-4.5.0.361.pkg
3. Run `mmp --version`

### Current Behavior

[code]

### Expected Behavior
[code]

## On which

[2018-05-08 22:17] jaykrell opened #8635 "tailcall and non-this non-ref valuetype parameters"
Passing of non-this non-ref valuetype parameters.

As I understand, though it merits confirmation (I've now done some),
valuetypes are passed by value on amd64 and arm64 by passing the address
of a local temporary.

Passing the address of a local inhibits tailcall -- the frame shall go away.

x86 and arm32 work differently. They pass the value "inline" on the stack and it already works.

The ARM64

[2018-05-08 22:19] jaykrell opened #8636 "[RFC] tailcall and ref/out/this-is-valuetype parameter"
Need to discuss/approve design before implementing.

Passing ref/out/this-is-valuetype parameters.

Basic idea here is rangecheck parameters against frame, though
just one direction needs to be checked -- with a grow-down stack,
only need to check if below top of parameters, don't need to check
if above the bottom.

Instead of deciding the tailcall is definitely
ok or definitely not ok, in the fac

[2018-05-08 22:21] jaykrell opened #8637 "[RFC] tailcall and extra parameter (imt_arg, rgctx) on arm32"
Need to discuss/approve design before implementing.

Maybe improving arm32.

Had some slack discussion here already particularly around 3c, which seems most viable.
There is no great option here.

The problem here is that the "extra_arg" (vtable/rgctx/imt) is a non-volatile register.
When we are going to use it, we save/restore it.
With a tailcall, there is no code run to restore it.

Currently we

[2018-05-08 22:26] jaykrell opened #8638 "tailcall when callee stacked parameters larger than caller stacked parameters"
On desktop and specified-but-not-implemented CoreCLR, it is possible to tailcall
no matter the size of the stacked parameters caller-vs.-callee.

This opens up *a lot* of tailcall opportunity that we currently do not allow. It should also address some other issues like the arm extra_arg problem, and passing valuetypes.

It is quite complicated.
Should we implement it?
Did CoreCLR?

https://github.

[2018-05-08 22:26] jaykrell commented on #8637
Possibly subsumed with cost/difficult by https://github.com/mono/mono/issues/8638.

[2018-05-08 22:28] jaykrell commented on #8635
Possibly subsumed with cost/difficult by https://github.com/mono/mono/issues/8638.
The helper would grow its buffer as needed to contain whatever size values thrown at it.

[2018-05-08 23:09] alexischr commented on #8624
https://github.com/xamarin/xamarin-macios/pull/4052

[2018-05-08 23:29] jaykrell commented on #8636
ok.  An alternative. CoreCLR will not fast tailcall (still checking helpered tailcall) from any function that takes the address of any local anywhere. The address could be stored and reachable.

This is a different simple safe heuristic that opens up similar-almost-same functionality and I was kinda considering it.

[2018-05-08 23:33] jaykrell commented on #8638
Apparently this functionality is not present in CoreCLR/Unix, only DesktopCLR or CoreCLR/NT.

[2018-05-08 23:34] jaykrell commented on #8637
CoreCLR/arm32 has no tailcalls? We exceed it?

[2018-05-08 23:34] jaykrell commented on #8635
CoreCLR does no better?

[2018-05-09 07:52] callmekohei opened #8640 "Please add ISymWrapper, System.IO and System.Runtime to GAC, if you can"
## Steps to Reproduce

No dll in GAC

[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[code]

**Version Used**:
[code]
## See also

https://github.com/fsharp/FSharp.Compiler.Service/issues/865#issuecomment-387590705

[code]

[2018-05-09 09:02] lewurm commented on #8634
@marek-safar could this be caused by the corefx string import?

[2018-05-09 11:42] marek-safar commented on #8634
This is mmp issue it needs to be built against the minimal API is suppose to run on.

@chamons where is the build script for mmp

[2018-05-09 13:18] chamons commented on #8634
- https://github.com/xamarin/xamarin-macios/blob/master/tools/mmp/Makefile
- https://github.com/xamarin/xamarin-macios/blob/master/tools/mmp/mmp.csproj

[2018-05-09 13:46] jpbruyere commented on #8622
Ensure your char[] array is a null terminated string before calling c func.

##### Example from mono:
[code]

[2018-05-09 14:36] jpbruyere commented on #8622
If it is immutable, yes (`const char *`). You have also to take care who own the pointer and may free it.

[2018-05-09 14:38] directhex commented on #8127
I was told to un-drop this.

Right now, my main blocker is the `curve25519` module.

Like many BTLS modules, this has an optimized assembly implementation. Unlike most, this was added by Google in the form of raw assembly (`.S`), rather than using an assembly-generating stub script (`.pl`)

Issue 1 is CMake skipping it entirely from the build, causing failures down the line. This is fixed by copyi

[2018-05-09 14:54] andriysavin commented on #6376
I agree with @marcvlima, I don't understand how can Mono even claim it supports .netstandard 2.0 while it actually doesn't? And from the labels and milestone assigned to this issue looks like Mono team doesn't consider real .netstandard 2.0 support to be important.

[2018-05-09 14:59] luhenry commented on #8622
@imkow if, instead of passing a `char[]`, you pass a `string`, do you get the same bug? A C# string is not null-terminated by default, so if you get its `char[]`, the last element will not necessarily be `\0`.

Marshalling an `char[]` will simply "fix" it in memory (so it's not moved by the GC) and pass it's address to native, and it will be up to you to figure out the length of it (by passing the

[2018-05-09 15:01] luhenry commented on #6376
@marek-safar could you please take a look at it?

[2018-05-09 16:27] paul-utkin opened #8644 "System.Net.Http.HttpClientHandler properties throw NotImplementedException"
I am trying to use the newest ASP NET CORE Signalr 2.1.0-RC1 C# client on Mono (Unity 2018.1 especially). Unity uses Mono equivalent of .NET 4.6 with .NET Standard 2.0 api compatibility. When I call connection.StartAsync() following error occurs:

System.NotImplementedException: The method or operation is not implemented. at System.Net.Http.HttpClientHandler.get_ClientCertificates () [0x00000] in

[2018-05-09 17:14] directhex commented on #8127
OK, most progress so far is with `cmake -D SRC_DIR:PATH=c:\source\repos\mono\mono\btls -D BTLS_ROOT:PATH=c:\source\repos\mono\external\boringssl -D CMAKE_GENERATOR_PLATFORM=x64 -D OPENSSL_NO_ASM=1 -g "Visual Studio 15 2017" .` in mono/btls, with some light hacking of CXXFLAGS in some CMakeLists.txt files (details to follow).

Now I'm bombarded with C2375 errors.

[2018-05-09 17:42] nddipiazza opened #8646 "log4net doesn't work in mono on linux"
## Steps to Reproduce

1. `git clone https://github.com/nddipiazza/Log4netExample.git`
1. `cd Log4netExample`
1. `nuget restore`
1. `xbuild /p:TargetFrameworkVersion="v4.5" /p:Configuration=Release ./Log4NetExample.sln`
1. `mono ./Log4NetExample/bin/Release/Log4NetExample.exe`

### Current Behavior

No console output for "Hi" is displayed.
https://github.com/nddipiazza/Log4netExample/blob/master/L

[2018-05-09 17:58] nddipiazza commented on #8646
Hmmmm... this project works fine https://github.com/mchudinov/Logging
something i'm doing must be messed up

[2018-05-09 18:10] akoeplinger commented on #8644
Implementing client certificates support is tracked with https://github.com/mono/mono/issues/7075

[2018-05-09 18:27] akoeplinger commented on #8640
System.Runtime.dll and System.IO.dll are facades, we don't put them in the GAC explicitly. I'd suggest talking to FCS about supporting loading facades.

For ISymWrapper.dll we don't have the assembly at the moment, though we could add stubs for it. .NET Core doesn't ship it either though so it'll probably not be a priority.

[2018-05-09 18:37] nddipiazza commented on #8646
if anyone has same issue, just use the project above as an example. works fine.

[2018-05-09 18:37] #8646 closed

[2018-05-09 18:38] #8469 closed

[2018-05-09 18:39] akoeplinger commented on #7573
This was done.

[2018-05-09 18:39] #7573 closed

[2018-05-09 18:45] akoeplinger commented on #7935
I believe we've not seen this particular issue anymore so I'm assuming it was indeed fixed by #8173

[2018-05-09 18:45] #7935 closed

[2018-05-09 18:53] nddipiazza commented on #8646
Re-opening the issue. it stops working again when `mkbundle`'d

[2018-05-09 19:30] callmekohei commented on #8640
Hello! Oh, I see. I'll talk about it to FCS. Thank you very much. 😄

[2018-05-09 19:49] directhex opened #8648 "Elliptic Curve crypto in BTLS broken on ARM64 in Debian 8"
For whatever reason, Mono built for Debian 8 (Gcc/G++ 4.9.2) ARM64 produces broken Elliptic Curve support:

[code]

This breaks, amongst other things, MyGet (so restoring NuGet for MonoDevelop)

[2018-05-09 19:55] directhex commented on #8648
Others have this issue.

https://github.com/Jackett/Jackett/issues/2173

https://github.com/Radarr/Radarr/issues/2350

https://github.com/Fourdee/DietPi/issues/1711

[2018-05-09 20:00] jaykrell commented on #8127
Want me to take a crack at it?

[2018-05-09 20:00] jaykrell commented on #8127
You started here, right?
https://github.com/google/boringssl/blob/master/BUILDING.md

[2018-05-09 20:24] nddipiazza opened #8650 "mkbundle - Is there a way to add the `--debug` for the built result?"
in mono you can `mono --debug the-program.exe` to get debugging line numbers for your output.

What about with mkbundle?

[2018-05-09 20:26] akoeplinger commented on #8625
The AttributeTest.DebuggerTypeProxy_24203 are expected because we're now using `Dictionary<T>` from corefx which uses [`IDictionaryDebugView<,>`](https://github.com/mono/corefx/blob/34e0d8b15c78140f71a68c1816e97e62a81d709e/src/Common/src/CoreLib/System/Collections/Generic/Dictionary.cs#L33) instead of [`Mscorlib_DictionaryDebugView<,>`](https://github.com/mono/mono/blob/1c91423be383634995b2b0a1484

[2018-05-09 20:27] akoeplinger commented on #8625
Just saw that this test lives in the XI repo so you'll need to fix it there.

[2018-05-09 20:31] directhex commented on #8127
You actually want to start in `mono\btls`, which uses `..\..\external\boringssl\` as a subdirectory. The linkage between boringssl and the Mono harness it lives inside is one of the outstanding issues (C2375 only happens at that point).

Requirements: `cmake` in $PATH, running in a VS x64 tools prompt, `yasm.exe` dropped into %PATH% somewhere.

[2018-05-09 20:33] jaykrell commented on #8127
Yeah from building.md, I have Perl, go, cmake, ninja, yasm..
Is the linkage dllimport vs.  expert, or static vs. extern, or other?

[2018-05-09 20:35] directhex commented on #8127
I don't know, I got distracted by something else & haven't dug into it.

[2018-05-09 20:40] akoeplinger commented on #8650
You can use `--options` for that. From the `mkbundle` man page:

[code]

[2018-05-09 20:40] #8650 closed

[2018-05-09 21:27] jaykrell commented on #8127
Well external/boringssl was trivial to build. Let me try mono/btls then.

[2018-05-09 22:01] jaykrell commented on #8127
I think  I have it all fixed except getting to assemble with yasm instead of cl.
boringssl got it right but  not btls.

[2018-05-09 23:11] jaykrell commented on #8127
some of it here:
https://github.com/mono/mono/pull/8653

[2018-05-10 03:06] imkow commented on #8622
@luhenry thx. we tested passing a string instead of char[], it works.
however, Microsoft .NET Core 2.1 (other versions not tested) is ok on the char[] case.
@vargaz @jpbruyere yes, it's caused by the missing ending '\0'.

[2018-05-10 03:17] #8217 closed

[2018-05-10 04:00] VincentDondain opened #8655 "[ios/aot] Could not AOT the assembly condition `idx < t->rows' not met"
## Steps to Reproduce

1. Private project to reproduce this was shared here: https://developercommunity.visualstudio.com/comments/248226/view.html
2. Make sure to download both `softphones.zip` and `binaries-softphone.tar.gz` side by side.
3. Open the sln and rebuild all for device (you might have to unload the android project if you're not up to date and change the signing identity for Softphone.

[2018-05-10 06:45] tdeeb commented on #7454
I'm experiencing this issue on Windows when trying to cross compile to Linux with the **mono-5.10.1-ubuntu-16.04-x64** runtime. I have Mono version 5.10.1.

[2018-05-10 08:13] marek-safar commented on #8625
@alexischr could you update their test to check for correct value

[2018-05-10 08:16] marek-safar commented on #8640
We try not to add more assemblies to GAC as the .net paradigm shifted to different deployment model over the years.

[2018-05-10 08:16] #8640 closed

[2018-05-10 09:17] marek-safar commented on #8634
@chamons Yep, they produce very different output. Could we unify this and have only 1 build script for same output, which one do you prefer?

[2018-05-10 09:28] marek-safar commented on #7683
@luhenry could you please resolve this issue

[2018-05-10 09:37] marek-safar commented on #8572
BTLS is optional and the change was just small warning suppression fix. Let's make it compile again.

/cc @lewurm

[2018-05-10 09:42] marek-safar commented on #8627
@chamons how often does it happen, what's the context?

@vargaz any clues on this?

[2018-05-10 10:07] marek-safar commented on #8478
It indeed looks like the same issue. I'm close it but feel free to reopen if you can still reproduce it with the fix included.

[2018-05-10 10:07] #8478 closed

[2018-05-10 10:10] marek-safar commented on #8462
@vargaz did you look into that?

[2018-05-10 10:13] marek-safar commented on #8490
That's again our different xml-serialization implementation on mobile profiles

[2018-05-10 12:17] marek-safar commented on #8655
@vargaz does this look familiar ?

@VincentDondain is this a regression ?

[2018-05-10 12:47] marek-safar commented on #8456
@praeclarum this is not going to work, you cannot just take netcore app and expect it to work on a different runtime. The way it works is that it also bundles netcore specific version of all dependencies (down to the runtime internals). You could hack it by copying Mono/Xamarin versions of same assemblies to replace the one you have there but that's kind of hacky and assumes your project is pure n

[2018-05-10 12:47] #8456 closed

[2018-05-10 13:05] marek-safar commented on #8559
@baulig I looked at ServiceModel some time ago and it was just a copy of old version because of some private/internal code. I am not sure how well that code works anyone so it might be fine to just leave it there for now

[2018-05-10 14:23] marek-safar opened #8657 ".NET 4.7.2 reference assemblies"
The 4.7.2 version is out and we need to add it as well. This should be done together with #7859

We keep the reference assemblies in separate repo https://github.com/mono/reference-assemblies

## Steps required
- [x] Add new reference assemblies
- [x] Bump submodule reference in Mono
- [x] Add new framework to mcs/tools/xbuild/frameworks and update Makefile to ship it

[2018-05-10 14:33] vargaz commented on #8627
Add some more debug logging in
https://github.com/mono/mono/commit/ebdd620d29452f067eebb7c55ad1a82472dd4c48

[2018-05-10 14:50] marek-safar opened #8658 "Remove StringBuilder internals dependencies from the runtime"
We poke unnecessarily into StringBuilder internals from runtime, this gets tricky as the type is CoreFX and can change anytime. All code we have in C accessing via `_MonoStringBuilder` could be done in C# and corefx/corert already have many we could use. This will also help linker integration.

[2018-05-10 14:58] #8624 closed

[2018-05-10 15:06] lambdageek commented on #8655
This looks similar to #6748 in that:
* it's happening during a build
* Mono is being asked to do some work with a malformed assembly.

I don't suppose we have the malformed assembly: `/Users/vince/Downloads/29018-softphones/Softphone.ios/obj/iPhone/Debug/device-builds/iphone10.6-11.4/mtouch-cache/Build/Platform.ios.fsharp.dll` available?

My wild guess is that VSfM or MSBuild is starting the AOT s

[2018-05-10 15:14] marek-safar commented on #7313
There are no easy spots where this shows up to fix and I think we need to support both models if we cannot make the speed differences negligible.

@kumpera could you asses how doable that is and if not could we have runtime switch (e.g. --memory-model=clr) for this without penalty?

[2018-05-10 15:18] luhenry commented on #8622
@imkow interesting that it works with `char[]` on .NET Core.

@jkotas did .NET Core did something specific to treat `char[]` in a specific manner for marshalling? Do you take the assumption that the user, when doing so, expects a null-terminated `char*` in native?

[2018-05-10 15:19] jaykrell commented on #7313
Does this fix ARM CI or my ARM64 Chromebook?

[2018-05-10 15:34] jaykrell commented on #8622
I thought System.String is always nul terminated. (And can contain embedded nuls, which much code ignores.)

[2018-05-10 15:59] kylekurz commented on #8655
@lambdageek I think I can get the DLL after the error, if that will help. Unsure if that needs protected like our source code or if I can safely attach it here, however.

[2018-05-10 16:04] banshee commented on #8655
FWIW, I'm inclined to think this isn't happening.  If it were, we could get around it by just building Platform.ios.fsharp, then building the whole project.  And just during normal development this happens all the time; Platform.ios.fsharp doesn't change as often as some of the other projects, so you'd expect it not to be changed at all during a build.  (Unless builds routinely write to dlls that

[2018-05-10 16:13] banshee commented on #8655
@lambdageek One more thing that didn't make it to this bug (it's in the original); on my machine (the one that can build from VSfM), I can get it to fail when I build from the command line, but it builds from inside VSfM.  You can just do a ```debug-iPhone``` to repro that way.

[2018-05-10 16:29] directhex commented on #7660
.226 was supposed to be stable. Website rewrite is what got missed

[2018-05-10 16:31] directhex commented on #7660
Running the website job

[2018-05-10 16:32] anthraxx commented on #7660
Cool, thx for clarification

[2018-05-10 16:40] NattyNarwhal opened #8659 "monodoc docbrowser is broken on modern distros"
## Steps to Reproduce

1. Install monodoc package from stable Ubuntu 18.04 repo
2. Run monodoc (docbrowser)

### Current Behavior

Monodoc docbrowser crashes and outputs a stack trace to the terminal.

### Expected Behavior

A functioning documentation browser.

This is because there is effectively no HTML engine packaged by modern distros for GTK2. I have a WIP PR to port Monodoc to GTK3 so it ca

[2018-05-10 16:57] VincentDondain commented on #8655
Doesn't appear to be a regression:

Same results with XI:
[code]
[code]

I believe respectively using embedded Mono 2017-06 and 2018-02.

[2018-05-10 17:46] directhex commented on #8648
Clang in Debian 8 (3.5) is too old to handle any of the assembly in BTLS, and it doesn't built without asm on ARM64

Trying with g++-4.8 (which is older, but might not have this bug?)

[2018-05-10 17:52] TheAngryByrd opened #8660 "AppleTlsContext.EvaluateTrust Doesn't seem to respect ServerCertificateValidationCallback"
## Steps to Reproduce

1. Make a websocket server with a self signed certificate
2. Try connecting using a ClientWebSocket
3.

### Current Behavior

The client websocket fails to connect due to the cert not being trusted. Setting `System.Net.ServicePointManager.ServerCertificateValidationCallback` to accept all doesn't seem to affect this.

### Expected Behavior

Allowing `System.Net.ServicePointM

[2018-05-10 18:03] lambdageek commented on #8655
Okay, excellent.  Can get it to crash every time now.  This is the command that does it, after all the other stuff runs.  So it's not concurrent anything, I was wrong.

[code]

[code]

[2018-05-10 18:07] luhenry commented on #7683
@kumpera is already looking at the issue

[2018-05-10 18:17] jaykrell commented on #8572
Would be fixed by this:
https://github.com/mono/mono/pull/8579

[2018-05-10 18:18] lambdageek commented on #8655
okay, `arm64-darwin-mono-sgen` doesn't have debug symbols so no backtrace.  but good news: same problem happens if I just run the system `mono` as an AOT compiler. So here's a dodgy stack trace.  We've had bugs with `mono_ppdb_get_seq_points` before...

[code]

[2018-05-10 18:34] lambdageek commented on #8655
@kylekurz @banshee As a temporary workaround, you could switch your F# projects to generate .mdb files like this https://github.com/mono/monodevelop/blob/master/main/external/fsharpbinding/MonoDevelop.FSharpBinding/MonoDevelop.FSharp.fsproj#L20-L21
[code]

[2018-05-10 18:38] nosami commented on #8655
As well as the workaround by @lambdageek above, you will also need to clean the solution (or just delete the pdb files). The debugger will look for `.pdb` first and then fall back to `.mdb` if the `.pdb` file isn't found.

[2018-05-10 18:41] jaykrell commented on #8648
@directhex You have ssh+chroot for quick repro/norepro  comparison/debugging?
Checked the boringssl history/difference?

[2018-05-10 18:46] directhex commented on #8648
Um... today I can't reproduce it. Yesterday I could. On the same Mono version on the same hardware. That doesn't make me feel any better. If it's ECC, it might depend on time of day as to where on the curve we're supposed to be, so tiny differences in floating point math might make it succeed or fail?

[2018-05-10 19:10] kylekurz commented on #8655
This workaround works for now. Thanks. Any side effects we need to be concerned about when swapping to .mdb debug files?

[2018-05-10 21:17] NattyNarwhal commented on #6228
And a segfault trying to compile System:

![alsace-2018-05-10-18-03-38](https://user-images.githubusercontent.com/3161292/39894782-5a4000c6-547e-11e8-94ea-91a1b3bb6922.png)

[2018-05-10 21:48] baulig commented on #8660
It is certainly possible that we did not hook up the callback.  I have some other stuff in that area on my short-term TODO list, so I'll have a look at it.

[2018-05-10 21:50] baulig commented on #8307
Possibly related to #8660.

[2018-05-11 00:37] jkotas commented on #8622
We have not done anything specific for this. The relevant code is in `OleVariant::MarshalAnsiCharArrayComToOle`. I do not see anything that would append zero terminator to the marshaled array.

I think you are just getting lucky that the byte after the marshaled array happens to be zero.

[2018-05-11 00:57] baulig commented on #7340
Fixed in https://github.com/mono/mono/pull/8615.

[2018-05-11 00:57] #7340 closed

[2018-05-11 06:53] farzonl opened #8675 "mono 5.10.1.47 broke the mongodb 2.6 driver (previously worked in 5.8.0.129)"
## Steps to Reproduce

run this code:
m_client = new MongoClient(Config.sMongoConnection);
				m_database = m_client.GetDatabase(Config.sAppName);

				var pingTask = m_database.RunCommandAsync<BsonDocument>(new BsonDocument("ping", 1));
				pingTask.Wait(Config.timeout);
				if (pingTask.IsCompleted)
				{
					Console.WriteLine($"Connected to: {Config.sMongoConnection}");
				}
				else
				{

[2018-05-11 13:49] alex9153 opened #8678 "Impossible to download latest version and older versions from website"
http://www.mono-project.com/download/stable/

[2018-05-11 14:05] marek-safar commented on #8678
What kind of troubles are you having with the download?

[2018-05-11 14:24] NattyNarwhal opened #8679 "Scrambled mcs console output on big endian (ppc64be and s390x)"
## Steps to Reproduce

1. Build Mono with a new monolite to bootstrap
2. Watch the scrambled output trying to build basic-profile-check

### Current Behavior

Scrambled output

### Expected Behavior

Mono would start bootstrapping corlib

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows
[X] AIX

Commits between April 25th (when the build was broken for PPC and z) and toda

[2018-05-11 14:33] directhex commented on #8659
Pretty much expected. There are no HTML renderers for Gtk+2 in any recent distributions

[2018-05-11 14:49] NattyNarwhal commented on #8679
Problem commit has been traced back to mono/mono@080e0b4; CI didn't catch it because the z and PPC builds were broken from tailcall.

Mono had fixed these, but that commit regressed:

[2018-05-11 14:52] akoeplinger commented on #8679
@EgorBo could you please take a look? we missed porting 92cec46 and 1f9b218 (and possible others? didn't check) when moving to the corefx Encoding.

[2018-05-11 15:16] danroth27 commented on #7852
@jamesNK Does Json.NET already have Xamarin.iOS support?

@mhutch Looks like progress on https://github.com/NuGet/NuGet.Client/pull/2159 has stalled. Now that BUILD is over what do we need to do to get adding the TFM unblocked?

[2018-05-11 15:32] JamesNK commented on #7852
Json.net runs in iso and UWP. ILEmit is swapped out for expressions for reflection in the netstandard build

[2018-05-11 17:08] NattyNarwhal commented on #6228
So with an experimental diff (not really recommended) that above in finalizers crash is the only thing that triggers consistently, when building complex DLLs like mscorlib; still unsure why it'd be segfaulting...

[code]

![alsace-2018-05-11-13-54-24](https://user-images.githubusercontent.com/3161292/39936965-acabdfe6-5524-11e8-9b4d-21887dfdfc0a.png)
![alsace-2018-05-11-14-03-34](https://user-imag

[2018-05-11 18:47] JamesNK commented on #7852
Can you confirm what build of Json.NET you are using? Is it the one that targets netstandard2.0?

[2018-05-11 20:00] chamons commented on #8634
The makefile is the "real" one. The csproj is just for debugging.

It wouldn't be a bad idea to unify them at some point.

[2018-05-11 20:53] NattyNarwhal commented on #6228
After some printf debugging (what else?) I determined that the object vtable is null, and that `mono_object_class` is a macro that expands into `(object)->vtable->klass`. No wonder why it's segfaulting now; the question is `why` said vtable is null.

[2018-05-11 21:11] smr888 commented on #7356
Good news and bad news.  The good news and bad news are that with the stable release of 5.12, I am seeing significantly slower memory leakage.  Unfortunately there is still leakage present, as Martin had said there might be.  I would say the leak speed has slowed from about 250 Mb/hr on one of our systems to maybe 100 Mb/hr.  Which is great, because it means we can restart them every four or five

[2018-05-11 21:39] marek-safar commented on #8634
@chamons it'd be easier to unify by using csproj only, any objections?

[2018-05-11 21:44] danroth27 opened #8685 "Bizarre operator failure when using a struct as a field of another struct"
_From @jskeet on May 8, 2018 23:58_

This was discovered when trying to get Noda Time to work, but I've cut it down to a small reproducible example.

Blazor version: 0.3

Start off with the demo project (I've called mine `BlazorDemo`). Add the following code in a new file:

[code]

In a Razor page, add this code:

[code]

It *should* give the same result three times. The *actual* result is True, F

[2018-05-11 21:44] danroth27 commented on #8685
_From @rynowak on May 9, 2018 3:30_

Does this reproduce inside a normal C# method running inside Blazor? You might have better luck posting about this on Mono - that's the better place to track general webassembly problems.

/cc @kumpera

[2018-05-11 21:44] danroth27 commented on #8685
_From @jskeet on May 9, 2018 4:39_

Yes, it happens in a normal C# method running inside Blazor - it started within Noda Time itself. It also seems to happen both with and without `<BlazorLinkOnBuild>false</BlazorLinkOnBuild> `.

I'd be very happy to report this in a Mono repo, but I don't know nearly enough about Mono+WASM to even reproduce it without Blazor. I'd need some help taking Blazor out

[2018-05-11 23:13] radical opened #8686 "[2018-04] Xamarin.Android integration issue"
XA integration PR: https://github.com/xamarin/xamarin-android/pull/1503

Failing builder: https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3130/

Fails with a `System.NotSupportedException` in `LinkAssemblies` task.

I added https://github.com/mono/linker/commit/ef238778d947b195f698287ccfde0a11c6f8d54f to get additional info, on `fix-build` branch(https://github.com/mono/linker/comm

[2018-05-11 23:16] radical commented on #8686
@marek-safar @jonpryor

[2018-05-12 00:52] smr888 opened #8689 "Memory leak in HttpWebRequest / HttpWebResponse when using a WebProxy"
This is a follow-on of sorts to bug [#7356](https://github.com/mono/mono/issues/7356) . The test is essentially the same thing except through a WebProxy.

## Steps to Reproduce

1. Use Ubuntu 16.04. Install mono-devel, mono-utils. mono-profiler, whatever is necessary to have the compiler and profiler. I doubt this is specific to the Linux version, however.  You will also need a proxy server throug

[2018-05-12 02:28] migueldeicaza commented on #8623
In what assembly should those types live?

[2018-05-12 02:50] OmarTawfik commented on #6936
@marek-safar can you please mention the version for which the fix will be shipped in?

[2018-05-12 03:06] luhenry commented on #8685
/cc @kumpera

[2018-05-12 07:05] marek-safar commented on #8623
We'll add them to mscorlib, theoretically few could go to System but not worth the future problems

[2018-05-12 07:16] marek-safar commented on #8685
This is interpreter issue. The same code works with JIT.

Full C# sample

[code]

prints following when run with the interpreter

[code]

@lewurm could you look into it?

[2018-05-12 07:18] marek-safar commented on #6936
@OmarTawfik it'll be available in the future Mono 5.16 release

[2018-05-12 08:47] cosminstirbu opened #8692 "TcpClient throws "An address incompatible with the requested protocol was used""
## Steps to Reproduce

[code]

Running the snippet above throws "An address incompatible with the requested protocol was used" on Mono versions newer than 5.8.1.0.

### Current Behavior

"An address incompatible with the requested protocol was used" is thrown.

### Expected Behavior

No exception should be thrown

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Versio

[2018-05-12 09:19] jaykrell opened #8693 "method-to-ir ldvirtn incorrect readbehind and maybe more"
## Steps to Reproduce

1. ilasm foo.li
2. mono foo.exe

[code]
### Current Behavior

sigsegv in runtime.
There is a bug in method-to-ir.c where  it incorrectly reads backwards in the stream.
However even fixing that just moves the sigsegv around.

### Expected Behavior

no sigsegv.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler ver

[2018-05-12 19:56] smr888 commented on #8210
Speaking as someone from the "outside", I'd say yes, this would be nice to have.  I could probably attempt to find the causes of bugs I report, but I'm too concerned that it would take me forever to figure out how to download / build Mono, the .NET runtimes, the profiler, and whatever else I might need to even begin to do the analysis.  I don't have time for an R&D project just to get myself to th

[2018-05-12 20:55] lewurm commented on #8685
Thanks for your report @danroth27. This problem was fixed recently by https://github.com/mono/mono/pull/8496 (see also related github issue https://github.com/mono/mono/issues/8494 ).

Not sure how mono updates are propagated to blazor, I'll leave that part to @kumpera 🙂

[2018-05-12 22:53] steveisok opened #8695 "Some assemblies fail to fully load after AppDomain is unloaded and recreated"
## Steps to Reproduce

1. Clone from my repo - https://github.com/steveisok/mono.git
2. Checkout webforms-system.web branch
3. Compile sources
4. From mono root, 'cd mcs/class/System.Web'
5. make check
6. Note the failure for ClientScriptManager_RegisterForEventValidation_1 in the ClientScriptManagerTest fixture results.
7. Now run make check FIXTURE=System.Web.UI.ClientScriptManagerTest.  Note th

[2018-05-13 16:37] MisinformedDNA commented on #7852
@kumpera @JamesNK: I added

at the beginning of in Program.cs

But when I try to run it, I get a similar error to @danroth27. Alsom I get the same error message if I don't add the specified code.

[2018-05-13 16:57] rokups opened #8697 "sgen crash with embedded runtime"
## Steps to Reproduce

1. Install following packages: `mono llvm clang`. Note that this is graphics application and testing is not possible on headless system.
2. `git clone --recursive https://github.com/rokups/Urho3D-SampleProject`
3. `cd Urho3D-SampleProject`
4. `./CMake.sh`, it will build everything
5. Open `ManagedTargets.sln` and compile
6. Run `build/bin/Editor`
7. Wait 5 minutes

### Curre

[2018-05-13 17:08] NattyNarwhal opened #8698 "csharp REPL can't load pkg-config references interactively"
## Steps to Reproduce

Load a pkg-config package in csharp.

### Current Behavior

A stack trace prints.

### Expected Behavior

The pkg-config reference would be resolved and assemblies loaded.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

[code]

[2018-05-14 08:31] vigilancetech-com opened #8699 "getting started/mono basics page appears to be quite out of date"
## Steps to Reproduce

1. On a linux machine install docker and mono image
2. csc tlstest.cs -r:System.dll
Microsoft (R) Visual C# Compiler version 2.6.0.62309 (d3f6b8e7)
Copyright (C) Microsoft Corporation. All rights reserved.

tlstest.cs(169,3): warning CS0618: 'ServicePointManager.CertificatePolicy' is obsolete: 'Use ServerCertificateValidationCallback instead'
tlstest.cs(199,22): warning CS06

[2018-05-14 08:57] DavidKarlas opened #8700 "ConditionalWeakTable throws exception if `GetValue` creation callback adds same key unlike .NET"
This is where .NET handles this: https://referencesource.microsoft.com/#mscorlib/system/runtime/compilerservices/ConditionalWeakTable.cs,256

## Steps to Reproduce

1.
[code]
2. Execute about code on .NET and Mono, Mono will throw `Key already in the list` exception, .NET will not.

### Current Behavior

Throws exception.

### Expected Behavior

Doesn't throw exception.

## On which platforms did

[2018-05-14 09:00] #8572 closed

[2018-05-14 12:18] dalexsoto opened #8701 "AOT failure if ref readonly with generics is used"
_From @Belorus on May 11, 2018 11:34_

### Steps to Reproduce

Compile attached project in **Debug**

### Expected Behavior

It compiles

### Actual Behavior

It doesn't compile. Fails on AOTing

### Environment

[code]

### Build Logs

[code]
### Example Project (If Possible)

[Scene.zip](https://github.com/xamarin/xamarin-macios/files/1995134/Scene.zip)

### Important Code

[code]

_Copied from

[2018-05-14 12:58] marek-safar commented on #8701
@vargaz could you look into it (will probably have to backport it)

[2018-05-14 12:59] rjvdboon commented on #8341
Problem exists with 5.12.0.223 as well, which was promoted to [stable](https://www.mono-project.com/download/stable/) a couple of days ago:
- tar is only in the preview directory
- release notes [overview](https://www.mono-project.com/docs/about-mono/releases/) page state _(not released yet)_
- release notes for [5.12.0](http://www.mono-project.com/docs/about-mono/releases/5.12.0/) start with a wa

[2018-05-14 13:02] marek-safar commented on #8699
Duplicate of #8214

[2018-05-14 13:02] #8699 closed

[2018-05-14 13:03] rjvdboon opened #8702 "There is no tag for the current stable release 5.12.0.223"
## Steps to Reproduce

1. Look at the [releases](https://www.mono-project.com/download/stable/) page
2. Observe that the current stable is 5.12.0.223
3. Look at the tags in Git
4. Observe that there is no 5.12.0.223 (but 5.12.0.226 does exist)

This is probably caused by the manual down numbering for the version in the website (apparently 5.12.0.226 wasn't correct on all platforms).

### Current B

[2018-05-14 13:31] NattyNarwhal commented on #8698
The weird part is I can use `Process.Start` inside of the REPL; I assume that's because code that it compiles itself is using a different profile or something?

[2018-05-14 13:36] migueldeicaza commented on #8698
It looks like the issue is that Mono.CSharp is the code that is compiled with the wrong MONO_FEATURE_PROCESS_START flag, there is no such definition being passed.

[2018-05-14 13:42] migueldeicaza commented on #8697
A crash in SGen indicates that you corrupted the managed heap, it is usually a mistake in your binding.

You will need to narrow this problem down on your end, it is not likely a Mono bug, but a bug in the way that you are managing your code.

[2018-05-14 13:42] #8697 closed

[2018-05-14 13:44] rokups commented on #8697
I was pretty sure this is my mistake but i was advised in mono gitter room otherwise. Thank you for clarification and sorry for the noise.

[2018-05-14 13:53] #8622 closed

[2018-05-14 15:02] lambdageek commented on #8695
Thanks for the bug report @steveisok. Could you try running mono with `MONO_LOG_LEVEL=debug` and `MONO_LOG_MASK=asm` set and attach the logs here.

[2018-05-14 15:04] lambdageek commented on #8695
Observations: doesn't look like steveisok/mono@c467ad99a includes 40c13f7b, so this is pre-loader contexts.

[2018-05-14 15:08] marek-safar commented on #8702
@directhex could you take care of this?

[2018-05-14 15:18] akoeplinger opened #8707 "Invalidate bockbuild package cache after a few days"
We had a few cases (like new Span APIs on core types) where a build break was disguised by the package cache in bockbuild and we only found out some time later.

@alexischr and me discussed this on and off and the best short term fix we can think of is to introduce a way to invalidate these caches after X days so we notice these breaks earlier.

[2018-05-14 15:40] akoeplinger opened #8708 "WaitHandleTest.WaitAnyWithSecondMutexAbandoned is flaky on Windows"
## Steps to Reproduce

1. Run WaitHandleTest.WaitAnyWithSecondMutexAbandoned on Windows
2. It sometimes fails, example:
      - https://jenkins.mono-project.com/job/z/label=w32/6928/testReport/
      - https://jenkins.mono-project.com/job/z/label=w64/6941/testReport/
      - https://jenkins.mono-project.com/job/z/label=w32/6945/testReport/

### Current Behavior

It sometimes fails with:

[code]

#

[2018-05-14 15:48] akoeplinger opened #8709 "ProfilerTests.MonitorEventsAreRecorded and ProfilerTests.HeapshotDataIsValid are flaky"
## Steps to Reproduce

1. Run the MonitorEventsAreRecorded or HeapshotDataIsValid profiler tests
2. They sometimes fail, examples:

    - https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-i386/8698/testReport
    - https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-i386/8685/testReport
    - https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-i386/8685/

[2018-05-14 15:48] akoeplinger commented on #8709
@alexrp could you please check if the tests can be made more resilient?

[2018-05-14 15:50] marek-safar commented on #8692
It appears to be a regression in 5.10

[2018-05-14 15:58] rjvdboon commented on #8702
FYI: the 5.12.0.226 tarball is in the [preview](https://download.mono-project.com/sources/mono/preview/) directory on the website, not the "[normal](https://download.mono-project.com/sources/mono/)" directory. I mentioned this in #8341 as well, so no problem with this issue being "closed".

[2018-05-14 16:00] directhex commented on #8702
I moved the tarball out of preview. Looks like CDN needs invalidating for the directory listing. Will run now.

[2018-05-14 16:15] danroth27 commented on #8685
@stevesandersonms Looks like we should take a new mono drop.

[2018-05-14 17:44] baulig opened #8710 "Incorrect `decimal.ToString()` implementation"
Bringing the new `Utf8Formatter` and `Utf8Parser` from CoreFX (#8680) exposed a problem in our `decimal.ToString()` implementation, which causes the `decimal` tests to fail.

For instance: `0.0m.ToString ("E")` produces `"0.000000E-002"` with Mono, but `"0.000000E+000"` with .NET.

Since the tests use `decimal.ToString(format)` to compute their expected output, these tests mistakenly fail - ie. th

[2018-05-14 17:51] marek-safar commented on #8710
Which tests were disabled?

[2018-05-14 17:57] baulig commented on #8710
See https://github.com/mono/corefx/pull/55 and https://github.com/mono/mono/pull/8680.

I am going to add
`../../../external/corefx/src/System.Memory/tests/ParsersAndFormatters/*.cs
../../../external/corefx/src/System.Memory/tests/ParsersAndFormatters/Formatter/*.cs
../../../external/corefx/src/System.Memory/tests/ParsersAndFormatters/Parser/*.cs`

after the CoreFX bump, but the decimal tests in t

[2018-05-14 18:07] marek-safar commented on #7737
Disabled tests related to core types
* #8710

[2018-05-14 19:15] kumpera commented on #7313
For further reference, here's a list of task I believe need to be done in order for us to have a full implementation for further performance validation:

- add runtime switch `--memory-model=mono|clr`
- change the write barrier code we emit in the JIT
- AOT compiler/runtime must track MM & refuse mismatched images at runtime
- change object allocators to not fence under `clr`
- change native write

[2018-05-14 19:58] danroth27 opened #8711 "Running into an assertion: mono/utils/memfuncs.c:152, condition `unaligned_bytes (src) == 0' not met"
_From @discostu105 on May 9, 2018 0:7_

I have a little prototype where I try to disassemble .NET assemblies in the browser with Mono.

The code is here: https://github.com/discostu105/bilspy

However; I am running into a Mono assertation. Not sure if this is a blazor / mono / webassembly bug, or my own.

Error:
[code]
Screenshot of the problem (from Chrome devtools): https://twitter.com/discostu1

[2018-05-14 19:58] danroth27 commented on #8711
_From @SteveSandersonMS on May 11, 2018 22:26_

This is an interesting looking project! I hope it's successful.

Since the code is blowing up at a low level inside Mono, would you be able to report your repro steps to https://github.com/mono/mono/? They'll need to know exactly which third-party library you're calling, and which particular calls trigger the Mono error. Be sure to note that it's a W

[2018-05-14 20:10] Therzok opened #8712 "FileSystemWatcher only works for one instance"
## Steps to Reproduce

1. Create a FSW
2. Create another FSW

### Current Behavior

Whatever configuration you have, the 2nd one does not work when `EnableRaisingEvents` is set to true.

### Expected Behavior

It works

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:
Mono JIT compiler version 5.14.0.54 (2018-04/599f3dd3afe Mon Apr 23 13:22:00 EDT 2018)

[2018-05-14 20:10] Therzok commented on #8712
cc @alexischr @luhenry

[2018-05-14 20:15] luhenry commented on #8712
@alexischr could you please take a look at it?

[2018-05-14 23:33] jaykrell commented on #8321
Some of this is understood already, some not.
temp-path, even if not fixed, is probably a race on output file.
We'll see.

generic-stack-traces2.2 should be fixed by updating LLVM with Zoltan's fix.
I asked how and was given the wrong answer.

That still leaves
finally_block_ending_in_dead_bb.exe
test-sgen-regular-ms-conc-simple.bug-17590.exe
test-sgen-regular-ms-simple.bug-17590.exe

[2018-05-15 00:25] steveisok commented on #8695
Here you are!  Let me know if you need anything else.

[appdomain-test-run.txt](https://github.com/mono/mono/files/2003037/appdomain-test-run.txt)

[2018-05-15 04:32] mhutch opened #8715 "Error building MD with Mono 5.14 & .NET Core 2.1 RC"
## Steps to Reproduce

1. Install Mono 5.14.0.81 and .NET Core 2.1 RC
2. Build monodevelop

### Current Behavior

Build fails with an internal TypeLoadException in the .NET Core MSBuild targets

### Expected Behavior

Build succeeds

## On which platforms did you notice this

[x] macOS

**Version Used**:

Mono 5.14.0.81 and .NET Core 2.1 RC

If I downgrade to Mono 5.12.0.226 it works fine

## Stac

[2018-05-15 07:09] jcurl opened #8716 "Unhandled Exceptions in Threading"
## Steps to Reproduce

1. Install Mono 5.12.0.226 (tarball Thu May  3 09:48:32 UTC 2018) on Ubuntu 18.04 using the repository for Ubuntu 16.04 (because 18.04 didn't exist a few days ago that I could see). Install nunit 2.6 using apt.
2. Run the project built (using MonoDevelop 7.5 build 1255) using nunit on the command line with the command `nunit-console ThreadAbortNunit.dll` and observe the unha

[2018-05-15 07:56] #8312 closed

[2018-05-15 08:40] marek-safar commented on #8715
@mhutch Why are you running dotnet sdks code with Mono? I am surprised it works at all. Mono has more aggressive type resolution than netcore so it's possible that you/they are missing the dependency. Could you upload that folder somewhere?

[2018-05-15 08:44] mhutch commented on #8715
@marek-safar this is just building a netstandard project. the .NET Core SDK resolver shipped in the Mono installation resolves the Microsoft.NET.Sdk MSBuild SDK from the .NET Core installation, which is what enables Mono's msbuild to build netcore and netstandard projects

[2018-05-15 08:46] marek-safar commented on #8716
/cc @luhenry

[2018-05-15 08:52] mhutch commented on #8715
You can download that folder from https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-rc1

[2018-05-15 09:40] marek-safar commented on #8715
This looks like potential loader issue. The `Microsoft.Extensions.DependencyModel.RuntimeFile` is a new type in 2.1 version of `Microsoft.Extensions.DependencyModel.dll`. The previous versions of this assembly didn't have the type so it looks like we are loading the wrong version from somewhere else.

Oddly enough NET Core SDK 2.1.300 versions Microsoft.NET.Build.Tasks.dll as `1.0.0.0` where previ

[2018-05-15 09:43] marek-safar commented on #8711
/cc @kumpera

[2018-05-15 12:00] bruno-garcia opened #8720 "NullReferenceException running xunit targeting net47"
Appologies if this is xUnit, or msbuild or .NET CLI or else but since it reproduces only with Mono on Linux, I'm raising it here.

## Steps to Reproduce

1. Checkout https://github.com/bruno-garcia/mono-xunit-issue
2. dotnet test

### Current Behavior
[xUnit.net 00:00:01.8591040] mono-xunit-issue: Catastrophic failure: System.NullReferenceException: Object reference not set to an instance of an ob

[2018-05-15 12:06] akoeplinger commented on #8341
I fixed the release notes for 5.12 and the 5.12.0.226 tarball is available in the correct folder: https://download.mono-project.com/sources/mono/mono-5.12.0.226.tar.bz2

We clearly need to do better here, I'll start a discussion.

[2018-05-15 12:35] chamons commented on #8634
The only objection is that Make is significantly faster than msbuild to build the projects.

However....I think updating mmp and mtouch to use the csproj and having the makefile msbuild /nologo /v:normal it is fine.

[2018-05-15 12:36] bruno-garcia commented on #8720
I guess this is the answer?
https://github.com/xunit/xunit/issues/1357#issuecomment-314281058

[2018-05-15 13:45] alexischr commented on #8625
Fixed by https://github.com/xamarin/xamarin-macios/pull/4070

[2018-05-15 13:45] #8625 closed

[2018-05-15 13:48] alexischr opened #8721 "System.Threading.Tasks.TaskFactoryTests.FromAsync_BeginCallback failing under XM with 2018-04"
Example: https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7118/testReport/junit/MonoTests.System.Threading.Tasks/TaskFactoryTests/FromAsync_BeginCallback/

Failure at https://github.com/mono/mono/blob/dc93f55a0e7af970c9d10db4674e5152850c75ba/mcs/class/corlib/Test/System.Threading.Tasks/TaskFactoryTest.cs#L585

[2018-05-15 14:12] smr888 commented on #8689
Please hold off on this bug.  I'm now realizing that with the number of exceptions that get thrown by doing the accesses through the web proxy, my example is now **over**-simplified, given that it does not close some of the objects when exceptions are thrown.  I'm retesting with better code and will either submit a new test if the problem continues, or ask that the bug be closed if it does not.

[2018-05-15 14:19] FlyMontag commented on #6498
Is there ANY fix or Workaround for this issue? As far as I can see, there is currently no way to secure a web request with a client certificate in Mono. That's a big Problem, isn't it?

[2018-05-15 16:30] marek-safar commented on #8623
@davidfowl we are working on bringing them in but they are not simple types and have internal dependencies on other new pieces. Before we are done with the work you could use the out-of-box version of System.Memory (pre-4.5 nuget versions).

[2018-05-15 17:01] davidfowl commented on #8623
@marek-safar We do use the nuget package. Maybe there's a different problem then. Please see https://github.com/aspnet/SignalR/issues/1886. People can't seem to get things working in Xamarin.

[2018-05-15 17:58] lambdageek commented on #8635
Notes from the call:
It would be kind of cool to try to do this (in the conservative case where there's already a parameter passed to the caller of the same type).

Also mentioned on the call: .NET semantics is that struct fields are zero-initialized if a new value is created, so when we're writing the new value into the old stack space we should make sure that we're not leaving the old values in

[2018-05-15 18:02] lambdageek commented on #8636
Notes from the call:
Let's adopt what coreCLR does - if there's a tail prefix, trust the IL and do the tailcall (modulo our other limitations/restrictions).

If there's not a prefix basically don't tailcall.: checking the lifetime of an escaping local is difficult in general and probably easier in a high-level language than in IL, so it's basically an optimization-blocker.

[2018-05-15 18:05] lambdageek commented on #8637
We discussed proposal 3c on the call and it sounded like we're basically leaning toward not supporting this - changing mono to always use the bitcode ABI on ARM32 would be a cost for every call (not just potential tailcalls) for the sake of tailcalls.

[2018-05-15 18:07] lambdageek commented on #8638
We briefly discussed this on the call and it sounds like we don't want to try to support this.

[2018-05-15 18:08] keke78ui9 commented on #6498
We had same issue when we call our API with client certificates accept. However, we recently upgrade xamarin.form from 2.3.4 to 2.5.0.280555, and change HttpClient implementation to Android, SSL/TLS implementation to Native TLS1.2+, and able to call our back-end API. Hopefully this information could help.

[2018-05-15 18:25] jaykrell commented on #8638
Maybe if CoreCLR handles it? Which it doesn't currently.

[2018-05-15 18:28] jaykrell commented on #8635
If we write a small value over a big value, it is ok to leave the old tail, I assume.
It is gc pressure, but it already was in the non-tail case, where we don't reuse.

[2018-05-15 18:32] luhenry commented on #8686
@marek-safar what's the status of that?

[2018-05-15 19:44] jcurl commented on #8716
Just to confirm that the problem is not related to using Ubuntu 16.04 sources on a Ubuntu 18.04 machine, I upgraded, and the problem with the unhandled exceptions is still there:

[code]

[2018-05-15 19:47] jcurl commented on #8716
Reading the Wiki:

[code]

[2018-05-15 20:02] jcurl commented on #8716
Trying debugging, got a core dump:

[code]

Unfortunately no core.

[2018-05-15 20:58] alexischr opened #8723 "Hang in mscorlibtests on XI/Simulator with 2018-04"
Example: https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/7131//Test_Report/

[code]

[2018-05-15 21:13] rjvdboon commented on #8716
We had the same exception in mono 5.10 when we called ChannelServices.UnregisterChannel when remoting calls were in progress. Seeing remotingservices in the stack is interesting in that respect. Do remoting calls capture an asynclocal in the executioncontext?

[2018-05-15 21:40] radical commented on #8715
We have `/Library/Frameworks/Mono.framework/Versions/5.14.0//lib/mono/msbuild/15.0/bin/Microsoft.Extensions.DependencyModel.dll` in the msbuild bin dir and it gets loaded. This assembly is required for reading `.deps` files, which shouldn't be required for mono builds. For any netcoreapp builds, the sdk bits from the `dotnet` installation will be used anyway. So, this file is not required.

[2018-05-15 21:45] lambdageek commented on #8715
So what I'm doing is:

[code]

what I see is

[code]

So we are using our own version of that library, not the one from the .NET Core SDK.

[2018-05-15 21:50] lewurm commented on #8723
The problem occurs on all simulator tests, e.g. `iOS Unified 32-bits - simulator`. It really is a hang in the runtime, the stack trace above is rather the timeout mechanism of the test harness.

Stack trace of a hang:
[code]

[2018-05-15 22:16] radical commented on #8715
yep, correct. I will remove that file and that fixes the issue.

[2018-05-15 22:40] mishra14 opened #8724 "MonoAndroid5.0 does not load .net40 packages correctly built in new VS2017 format"
_From @generik0 on May 15, 2018 8:27_

Please read the following information before posting the issue.

## Details about Problem

NuGet product used from: VS 2018 15.7.1

## Detailed repro steps so we can see the same problem

1. I have a .net standard template C# project that has <TargetFrameworks>net40;net45;netstandard1.6;netstandard2.0</TargetFrameworks>

2. The csproj uses NLog but has target

[2018-05-15 22:43] mishra14 commented on #8724
NuGet does not have any specific behavior for MonoAndroid5.0. Please let us know if you think this is not the best place.

[2018-05-15 22:47] anurse commented on #8623
We use System.Memory `4.5.0` which has a `_._` folder for `MonoAndroid10`, so we depend upon it being present in the framework.

[2018-05-16 00:14] lambdageek commented on #8715
@mhutch Maybe this is a good motivating example to get `mono --assembly-loader=warning` created and deployed.

The `Microsoft.Extensions.DependencyModel.dll` that's in Mono is 2.0.0.0, and the one in the .NET Sdk RC is 2.1.0.0.  So if we were running msbuild under `mono --assembly-loader=strict`, I believe it would have skipped the Mono-supplied version of the DLL and loaded the one from .NET

Mor

[2018-05-16 00:54] radical opened #8726 "Loading denied assemblies via `Assembly.LoadFrom` can cause issues, eg. for VSMac"
Usually, if an assembly depends on a known "bad"(windows specific implementation) assembly then the mono runtime can deny loading
it. But if the load is initiated explicitly like via `Assembly.LoadFrom`, then the assembly gets loaded (https://github.com/mono/mono/blob/2018-02/mono/metadata/image.c#L1363-L1365)
with a `Loading problematic image ...`.

For example, take `System.Runtime.InteropServic

[2018-05-16 00:58] mhutch commented on #8715
@lambdageek seems worth trying, but given that third party task assemblies are a thing, there's a pretty good chance it'll break on *something* unless we give it a good shakedown with `loader=warning` first

Could we surface loader warnings into managed land and have MSBuild convert them into a build warning or something?

[2018-05-16 00:59] radical commented on #8726
@lambdageek @kumpera @marek-safar @mhutch @akoeplinger

[2018-05-16 02:36] FrancoisM commented on #8623
@anurse Same thing for iOS I guess?

[2018-05-16 05:28] generik0 commented on #8724
Hi @mishra14
So it is nit Nuget That tries to install the incorrect dependancy version?
Should it not Fall back to net4 dependancies?

[2018-05-16 06:38] jcurl commented on #8716
Testing on a different computer, using Mono Preview:

[code]

I'll do more testing on this version with core dumps enabled (although that's hard to reproduce). Note, this trace is from a very old T61p laptop running Ubuntu 16.04.4 32-bit with Mono Preview for Ubuntu 16.04 (the original logs above are from an i7-4970K running 64-bit Ubuntu 18.04)d

[2018-05-16 06:51] vargaz commented on #8545
I can't reproduce this using the c# code below. Which mono version are you using ?

[code]

[2018-05-16 07:08] jaykrell opened #8730 "unable to build arm32 on arm64 chromebook due to boringssl -march=armv8-a+crypto"
## Steps to Reproduce

1. Install Debian xenial on arm64 Chrombook as a chroot. Sounds difficult but is not.
2. git clone
3. configure for arm32:

/configure --enable-maintainer-mode --enable-compile-warnings -disable-nls -disable-system-aot -verbose CC=arm-linux-gnueabihf-gcc CXX=arm-linux-gnueabihf-g++ -disable-boehm

4. make

### Current Behavior

[  0%] Building C object boringssl/ssl/pqueue/C

[2018-05-16 07:11] marek-safar commented on #8715
This is mono runtime option so you could customize it in VS when you are launching msbuild (is it still a new process?).

I can see third party tasks assemblies to be a thing but that should be just another reason to always use `--assembly-loader=strict` otherwise we cannot ensure they will work

[2018-05-16 07:35] mhutch commented on #8715
@marek-safar yes but we'd have to parse them from that project's stdout and then surface them into the warning list, right? That will get tricky when we start using MSBuild's parallel execution support and it spins up its own re-usable node processes. I was thinking more some kind of runtime callback we could have msbuild itself attach to via reflection and emit errors into its log event stream.

[2018-05-16 07:44] marek-safar commented on #8715
I think that's just too complicated with no real benefit to the end users. My suggestion is to always pass `--assembly-loader=strict` and allow overwriting this if you really think we have someone with MonoDevelop specific tasks written in the way they won't run properly on VS/Windows.

[2018-05-16 07:48] marek-safar commented on #7683
@kumpera any update on the this?

[2018-05-16 08:11] jaykrell opened #8731 "build failure on arm64 chromebook"
## Steps to Reproduce

1. ARM64 Acer Chromebook R 13, 4GB RAM, 32GB storage -- under $400 at Amazon
2. Install Ubuntu Xenial chroot with "crouton"; easier done than said
3. git clone
4. configure
5. make

### Current Behavior

It always null derefs building mscorlib.dll. Despite many retries.

### Expected Behavior

Build and pass all tests, repeatedly.

## On which platforms did you notice this

[2018-05-16 08:42] marek-safar commented on #8449
We track it on mono release task now

[2018-05-16 08:42] #8449 closed

[2018-05-16 09:12] marek-safar commented on #8678
Unfortunately, we cannot do much about that as we rely on Azure to service our downloads.

[2018-05-16 09:12] #8678 closed

[2018-05-16 09:48] Therzok commented on #8726
Nice find!

[2018-05-16 12:14] lewurm commented on #8723
with a debug build:
[code]

[2018-05-16 12:14] marek-safar commented on #8726
@lambdageek did your context load changes fix the problem?

[2018-05-16 13:48] stmax82 opened #8733 "SerialPort hangs when accessed concurrently"
I'm trying to use the [ZWave4Net library](https://github.com/roblans/ZWave4Net) on a Raspberry Pi using Mono / Raspbian.

It hangs when reading/writing to the serial port.

I had a look at the code and was able to reproduce the problem using a simple example (see below).

The library only uses the SerialPort.BaseStream.ReadAsync and WriteAsync methods to access the serial port.

The problem seems

[2018-05-16 15:45] lambdageek commented on #6804
Looks like Roslyn shipped `class F<T> where T : unmanaged`. (Thanks for the heads up @michaldobrodenka)

TODO:
- [ ] Get my hands on a recent version of Roslyn and build some examples
- [ ] Verify that mono can load and execute the examples sensibly
- [ ] Verify that `monodis` _cannot_ disassemble the examples properly
- [ ] hand write some IL and verify that mono's `ilasm` _cannot_ assemble it pr

[2018-05-16 16:07] NattyNarwhal commented on #7113
One idea I've been mulling to implement as a PoC, is take the pure C trampolines used for WebAssembly, and turn the interpreter one into an arch-agnostic fallback trampoline. There were limitations with it though IIRC, mainly that it was slow and there was a preprocessor that had to be run to write code for each function type signature, then you had to manually add entries to it?

The alternative

[2018-05-16 16:12] brendanzagaeski commented on #6498
As a limited additional piece of information, note that client certificates requested during the initial TLS handshake will work correctly. It is TLS _renegotiation_ in particular that is not yet supported. So adjusting the server-side settings to request client certificates site-wide during the initial TLS handshake, for all traffic on the target TCP port, will allow client certificates to be use

[2018-05-16 16:17] stmax82 commented on #8733
The same happens when ReadAsync and WriteAsync are replaced by BeginRead and BeginWrite.

[2018-05-16 18:09] lewurm commented on #8723
this test is hanging:
https://github.com/kg/mono/blob/3777c08694650b03f06621b15e4d983d223cca33/mcs/class/corlib/Test/System.Threading/ThreadPrincipalTests.cs#L15-L19

It's unrelated to what it is actually testing, but it seems the async pattern triggers something. I could reduce it to the following XI app:
[code]

which prints
[code]

The managed stack trace:
[code]

native trace (which unfortunat

[2018-05-16 18:12] lewurm commented on #8723
note that this hang happens consistently on the iOS simulator _and_ on iOS devices (so it happens with both JIT and FullAOT).

[2018-05-16 21:10] lambdageek commented on #8597
So I learned something today:

[code]

Let's say you wanted to create this with SRE.  Well you can't.

[code]

On .NET Framework the above throws an `ArgumentException 'E is not a supported constant type.'`

`parameterBuilder.SetConstant (null)` works for a nullable enum, however.

[2018-05-16 21:39] jaykrell opened #8734 "g_assert does not print its message correctly and often crashes"
## Steps to Reproduce

1. g_assert (false);

### Current Behavior

It varies by platform and entropy.
On Mac/amd64 the assertion message will be garbled, or the program will crash before printing it.

### Expected Behavior

I expect to see: "assertion failed in foo.c:20 condition:false"

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

head/master arou

[2018-05-16 22:54] stakx commented on #8597
@lambdageek - (I forgot one more resource that might be helpful in testing Mono: Castle.Core has a [pretty exhaustive set of test cases](https://github.com/castleproject/Core/blob/acbf476f32f751d93c3671de72d8411e76a33b51/src/Castle.Core.Tests/DynamicProxy.Tests/ParameterDefaultValuesTestCase.cs#L244-L393) regarding parameter default values.)

[2018-05-17 00:48] #8250 closed

[2018-05-17 03:25] Amd3202 commented on #8089
This is not working for me in Xamarin.ios... Just upgraded to 15.7

Above it says it was fixed for iOS. right now i cannot build at all for iOS. Can someone direct me to where i can find the dll to copy manually? I can't seem to find the actual DLL mentioned above: System.Drawing.Common.dll

Severity	Code	Description	Project	File	Line	Suppression State
Error		Can not resolve reference: /Library/Fr

[2018-05-17 04:14] Amd3202 commented on #8089
For anyone struggling with the workaround as i did. here's steps to workaround.
you can find the dll needed from here on PC: C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\Xamarin.iOS\v1.0\Facades

COPY THE FILE TO THE MAC. I was trying to copy to the build folder in VS/PC:
Terminal on mac:

type cp and then drag the file into t

[2018-05-17 07:26] marek-safar commented on #8726
@lambdageek I certainly prefer consistent behaviour in this case and we should use same logic as we do when loading the assembly using other API. That leaves use with only reflection context APIs behaving differently but that sounds reasonable to me.

I'd like to see this in 2018-04 because we are still testing the release and we can take it out if necessary. I agree that backporting to earlier ve

[2018-05-17 07:53] marek-safar commented on #8734
/cc @alexanderkyte @luhenry

[2018-05-17 08:02] rjvdboon commented on #8716
In dotnet/corefx there was the same ExecutionEngineException in some cases (see dotnet/corefx#25477), which was solved by suppressing the flow of AsyncLocal into the ExecutionContext, see f.e. dotnet/corefx#26065. Not sure if this helps, or if this is applicable to this issue, but interesting nonetheless.

[2018-05-17 08:15] marek-safar commented on #8731
Overkill workaround:

I realize this is overkill. I can try to use the stlr instruction instead of dmb. On my arm64 chromebook, building mscorlib.dll would fail 100% with quite a number of tries.

This "fixes" it:

[code]

Better will be to try the stlr instruction whenever storing a reference.
And maybe optimize some of them away. I'll try.

[2018-05-17 08:33] jaykrell commented on #8731
It does fail on arm32 also but it can take longer, like a minute.

[2018-05-17 08:44] rjvdboon commented on #8716
ExecutionContext.OnAsyncLocalContextChanged converts any exception while handling AsyncLocal into Environment.FailFast, see https://github.com/mono/mono/blob/master/mcs/class/referencesource/mscorlib/system/threading/executioncontext.cs#L762
Is it safe to special case ThreadAbortException, and rethrow instead of failfast, by inserting at line 760 something like
[code]

[2018-05-17 08:51] rjvdboon commented on #8716
w.r.t. case 4 "hang": I noticed it too while running the attached unittest (on RHEL6.9). It was running at 200% cpu for me, see attached the stacktraces.
[mono-issue-8716-hang.txt](https://github.com/mono/mono/files/2012389/mono-issue-8716-hang.txt)

[2018-05-17 09:35] atsushieno opened #8739 "sdk: `android update project` is deprecated long time ago"
https://github.com/mono/mono/blob/43047886107c5802b9ed64e13459785c79301f62/sdks/android/Makefile#L116

This use of `android` tool has been deprecated more than year ago. If you try to build mono for android with sdks you'll see this:

[code]

[2018-05-17 09:59] marek-safar commented on #8739
@atsushieno what is the recommended replacement for ours needs?

/cc @luhenry

[2018-05-17 10:17] marek-safar commented on #8089
What version are you using I tried with

[code]

and I have `/Library/Frameworks/Xamarin.iOS.framework/Versions/Current/lib/mono/Xamarin.iOS/Facades/System.Drawing.Common.dll` installed

[2018-05-17 12:12] marek-safar commented on #8724
That's correct if you look inside 4.5.4 nuget version of NLog it has a special version for monoandroid44 which means any Xamarin Android newer than 4.4 will pick it up, see https://docs.microsoft.com/en-us/xamarin/cross-platform/app-fundamentals/nuget-manual for further details

[2018-05-17 12:12] #8724 closed

[2018-05-17 12:29] marek-safar commented on #8716
ThreadAbort handling needs special casing in some cases but I cannot reproduce the issue on Mac so it could be Linux specific issue and in that case better finish in platform code

[2018-05-17 13:05] MihaMarkic opened #8743 "CookieContainer and expiration date"
## Steps to Reproduce

1. Use HttpClient with a CookieContainer.
2. Set client application clock i.e. 1 hour in future.
3. Send a request to server which returns a cookie with server's current date and expiration time 30 minutes from that date.

### Current Behavior

Client's cookiecontainer will consider cookie as expired as client's time is hour in future and cookie's expiration date was half ho

[2018-05-17 14:11] 0xced commented on #6701
@CNAmira The first error I encountered when running a WinForms app on 64bits was that `GetWindowPort` was not found:
[code]
We can see that `GetWindowPort` is external (uppercase T) in 32bits but is non-external on 64bits (lowercase t):
[code]

I don't know how `DllImport` is implemented on macOS, but I’m not surprised that it can't bind a non-external symbol.

So, it’s not a strictly a stub, but

[2018-05-17 14:53] filipnavara commented on #6701
@0xced We have a fork (https://github.com/filipnavara/mac-playground) that has XplatUICocoa mostly implemented. However it's not matter of simple cut & paste to plug it in back to Mono. We had some design choices early on, such as using the System.Drawing implementation on top of Cocoa, that make it complicated to use it as drop-in binary replacement. It works somewhat as a source-level replacemen

[2018-05-17 15:18] jcurl opened #8745 "Core Dump from Mono when running Unit Tests"
## Steps to Reproduce

1. Running nunit-console (with mono --debug --trace=program; with mono (no options)) a private project for testing. At the end of the tests the Mono Runtime crashes and dumps core dumps

### Current Behavior

At the end of unit tests, Mono shows a crash dump

### Expected Behavior

No core dump at the end of execution

## On which platforms did you notice this

[ ] macOS
[X]

[2018-05-17 15:58] #6647 closed

[2018-05-17 16:00] #8282 closed

[2018-05-17 16:26] jcurl commented on #8716
The 100% (or 200%) CPU would likely mean that one of the test cases wasn't able to abort the thread (it runs 50x to abort a thread that just has a busy loop).

[2018-05-17 17:27] jcurl commented on #8745
I don't seem to be able to recreate the problem on Mono for Windows 5.14.0.84

[2018-05-17 17:50] jcurl opened #8747 "FileSystemWatcher calls event after it is Disposed"
## Steps to Reproduce

I have the function:
[code]

The reason for the function is to retry deleting a file on Windows (because some programs keep files open, like TortoiseGIT and other shell extensions)

When running unit test cases that create files and then delete them when cleaning up, the following backtrace is generated:

[code]

This clearly shows the FileSystemWatcher calling the event.

B

[2018-05-17 21:14] jaykrell opened #8751 "StackOverflow is catchable but skips some finally/using blocks."
## Steps to Reproduce

1.

[code]

[2018-05-17 23:41] jaykrell commented on #8321
CI_TAGS=osx-amd64,retry-flaky-tests,fullaot_llvm,pull-request ./scripts/ci/run-jenkins.sh
notice: osx not linux; seems to just work
I'll try Linux.

[2018-05-17 23:42] jaykrell commented on #8321
Which doesn't make sense, because finally_block_ending_in_dead_bb.exe does fail.
It is partly fixed now. The remaining problem is not entirely obvious but  I'll dig more.
The EH data is bad seeming, and more. Stack walks diverges from non-llvm because a length/end is 0.
Hacking on that later sigsegvs.

[2018-05-17 23:46] jaykrell commented on #8321
I don't see the ARM problems in CI, just amd64. I don't see any arm llvm that is. I can try the analogous run-jenkins.sh.

[2018-05-18 00:51] jaykrell commented on #8321
No repro on Linux either:
PATH=...tollvm...
 CI_TAGS=linux-amd64,retry-flaky-tests,fullaot_llvm,pull-request ./scripts/ci/run-jenkins.sh

[2018-05-18 07:47] rjvdboon opened #8759 "Build of Master fails with GCC 4.4.7"
## Steps to Reproduce

1. Clone mono/master on a rhel6.x/centos 6.x machine with GCC 4.4.7 as the default compiler
2. configure and make
3. observe build failure

### Current Behavior

Build fails as GCC 4.4.7 does not understand `_Static_assert`

### Expected Behavior

`make` succeeds OR `configure` reports that the GCC version is not supported and you need at least GCC 4.7.x.

## On which platfo

[2018-05-18 07:55] jaykrell commented on #8759
Sorry about that. We don't CI that.
https://github.com/mono/mono/pull/8760

[2018-05-18 08:08] rjvdboon commented on #8759
Well, that was quick!
Note that I don't really mind if GCC 4.4.7 is deprecated (as was suggested in my previous "doesn't compile on gcc 4.4.7" issue #8572), it might even be the best way forward.
My issue is mainly that this requirement should be explicit, instead of failing during make.

[2018-05-18 08:56] marek-safar commented on #8747
@alexischr maybe it's time to tweak the defaults on windows?

[2018-05-18 10:30] marek-safar commented on #7615
We are missing handling for all pseudo attributes when using CustomAttributeData. We need to build separate way how to build them as re-using CustomAttribute is expensive. The way to do it is just start at top with cloning https://github.com/mono/mono/blob/9805cda80fd0d56b452854bbfef1784ebd59b7bf/mcs/class/corlib/System/MonoCustomAttrs.cs#L72-L96 to work with CustomAttributeData

[2018-05-18 13:06] #8723 closed

[2018-05-18 14:14] marek-safar commented on #8686
@jonpryor what's the command line to reproduce just this build step?

[2018-05-18 16:19] jonorossi opened #8766 "Starting process with empty ProcessStartInfo.Environment incorrectly inherits all variables"
## Steps to Reproduce

Simple `mcs <file.cs>; mono <file.exe>`.

For macOS/Linux:
[code]

Windows:
[code]

### Current Behavior

On Mono 5.x `ProcessStartInfo.Environment.Clear()` correctly clears the collection, but calling `Process.Start()` incorrectly inherits the parent process's environment variables. Running the above unmodified code on macOS with Mono 5.x incorrectly outputs all environment

[2018-05-18 16:21] migueldeicaza commented on #8745
The exception indicates that the heap was corrupted, does your code use unmanaged code, PInvoke, or manipuate pointers directly?

[2018-05-18 16:29] jonorossi commented on #8766
I haven't submitted a pull request because I don't know how you'd want a unit test for this.

[2018-05-18 17:43] radical commented on #7552
@alexanderkyte Kumpera mentioned that you had a PR for this. And the fact that .netcore has this behavior would be useful for that. Considering that, I am removing myself from this issue.

[2018-05-18 17:56] lewurm opened #8767 "[soft debugger] make sure debugee process runs with `--interpreter` too on CI"
`TEST_WITH_INTERPRETER=1` only makes the debugger client run with the interpreter, but not the process running the debugger agent

[2018-05-18 18:14] einsteinsfool opened #8768 "Provide checksums for all files"
## Steps to Reproduce

1. Download a file from the [download page](http://www.mono-project.com/download/stable).
2. Don't verify the file because there are no checksums.
3. Get the package intercepted by an attacker and have it swapped with a malicious modified version.
4. Get ~~f...~~ hacked. (couldn't resist)

### Current Behavior

No checksums.

### Expected Behavior

SHA512 and SHA256 for ever

[2018-05-18 19:13] #8504 closed

[2018-05-18 19:13] #8597 closed

[2018-05-18 19:30] baulig commented on #8644
This has not yet been addressed by my Client Certificate work.  It is pretty much just a matter of hooking up those properties - but we might replace the HttpClient implementation with CoreFX.  I'll have a look at that next week.

[2018-05-18 19:36] baulig commented on #7075
We are getting ready to land - anything that's not addressed / fixed with #8756 and #8758 should be added here, so I can have a look at it.

[2018-05-18 22:26] #8759 closed

[2018-05-18 22:34] jaykrell opened #8770 "suggest autoconf --enable-llvm default: `-with-llvm=$(dirname $(dirname $(which llc)))`"
## Steps to Reproduce

1. set PATH to contain monollvm
2. configure --enable-llvm  (actually ran run-jenkins.sh)
3. but forgot --with-llvm

### Current Behavior

Fails to build.

### Desired Behavior

Build. With easier/shorter configure commands.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

Suggest autoconf default something like:

`-with-llvm=$(dirname $(dirname $

[2018-05-18 23:10] #8701 closed

[2018-05-19 03:52] vargaz commented on #8770
--enable-llvm is the old option, people should use --with-llvm= since its more explicit.

[2018-05-19 06:06] jaykrell commented on #8770
Perhaps it should error out.
The CI scripts use it though.
CI I think is also a little off in putting monollvm in /usr/local/bin, I think that is what it does.
No obvious good answers here though and many many choices, so often just leaving it alone is ok.
I just wish things were a *little* easier sometimes.

It might be nice, though, if which llc + llc --version indicated a monollvm, and then jus

[2018-05-19 06:54] AlexRixhardson opened #8775 "Timeout in HttpWebRequest.GetResponse() when called repeatedly"
## Steps to Reproduce

1. Create a web app which calls HttpWebRequest.GetResponse() repeatedly
2. Run app on Mono 5.12 + Apache + CentOS 7 configuration

### Current Behavior

Calls to GetResponse() will eventually stop working and will fail with:

[code]

App does not recover. Restart of the Mono process is required.

### Expected Behavior

GetResponse() method not to fail if called repeatedly

#

[2018-05-19 06:59] jaykrell commented on #8751
And to show that is possible to do better, here is the analogous  C on NT:

[code]

[2018-05-19 07:13] jaykrell commented on #8751
https://msdn.microsoft.com/en-us/library/system.stackoverflowexception(v=vs.110).aspx

Documents this -- catchable in 1.0 and 1.1, not catchable since 2.0. Can make it terminate only appdomain vs. entire process.

I've always kinda thought managed should have all the power of native. Some if it just requiring 'unsafe'. But perhaps that is wishful thinking and really fancy programs demand C++.

Rec

[2018-05-19 07:27] jaykrell commented on #8321
I can repro multiple XML failures now. Will dig deeper.

[2018-05-19 15:15] a-student opened #8776 "Performance of mono for WebAssembly is extremely poor (~200x slower than on desktop)"
It is stated [here](https://webassembly.org) that

Therefore, **mono-wasm** is expected to perform nearly the same as on desktop. Unfortunately, mono for WebAssembly is far away in performance than expected, it is on average 200x slower.

Consider this code:
[code]
It prints
`Elapsed 00:00:00.9990513` when running in **.NET Core**
`Elapsed 00:00:02.9962702` when running in **mono** on desktop
`Ela

[2018-05-19 16:35] danroth27 commented on #8776
@kumpera

Yes, our current runtime an unoptimized interpreter. Significant slowdown compared to peak desktop perf is expected at this point given the experimental nature of Blazor and the underlying bits.

We hope to really start seeing the perf benefits of WebAssembly when we have support for [static ahead-of-time (AoT) compilation to WebAssembly for .NET](http://www.mono-project.com/news/2018/01

[2018-05-20 12:31] migueldeicaza opened #8777 "More settings for --server mode"
Our `--server` flag does not seem to do anything useful anymore, here are a few things that we should do when this flag is passed:

* Enable LLVM by default (`--llvm` mode)
* Set the default mode for GCto be `throughput` (currently --gc-params=mode=throughput)

[2018-05-20 18:30] jcurl commented on #8745
No, I do not use P/Invoke, except in one case to access a library that isn't installed (the System.DllNotFoundException for libnserial.so.1).

[2018-05-21 01:42] jaykrell opened #8778 "LLVM 6.0 JIT (not AOT) problem?"
## Steps to Reproduce

1. checkout monollvm release_60
2. run any program with --llvm (JIT)

### Current Behavior

   Expected<T> must be checked before access or destruction.
    Expected<T> value was in success state. (Note: Expected<T> values in success mode must still be checked prior to being destroyed).
    Stacktrace:

    Native stacktrace:

        0   mono

[2018-05-21 01:44] jaykrell commented on #8778
See https://github.com/mono/mono/pull/8779.

[2018-05-21 07:58] yhjhoo opened #8780 "Is there a way to install mono without admin permission?"
as the title, I would to install mono to my home folder instead of /Library folder?

[2018-05-21 09:33] jonorossi commented on #8766
@jaykrell could you please clarify, I don't understand what your comment is referring to.

[2018-05-21 10:46] a-student commented on #8776
I get this error on the `Console.WriteLine` line with the `--interpreter` option:
[code]

Total execution time of the program is less than a minute:
`Measure-Command {mono --interpreter ConsoleApp1.exe}` prints
TotalSeconds      : 59.2384914
That is close to Firefox performance. Therefore, it is something wrong in Chrome.

Anyway, such poor performance won't make mono-wasm popular for the real wor

[2018-05-21 11:43] gamesguru opened #8781 "Overlay Elements freeze up: setting Breakpoints in Large Loops"
## Steps to Reproduce

1. Set breakpoints and launch windows form app or console app from debugger.
2. Windows forms breakpoints can be at combobox index changed event, console app is best inside of some nested for loop with large data structures.

### Current Behavior

1. On the Console app set breakpoints and investigate the values of some large array inside nested loops.

When displaying variab

[2018-05-21 11:51] gamesguru opened #8782 "Portable Database reports Exception on Line with Curly Bracket, (Parallel.Foreach && while loops)"
## Steps to Reproduce

1. Compile a console app in debug mode.  Have a function with little more than a parallel for loop and a bit of code inside it.
2. Execute using _mono --debug ConsoleApp1.exe_
3. Produce an aggregate exception in the loop.  Helps to have a while loop inside the parallel.foreach

### Current Behavior

Oftentimes the exception will be reported with a line number as the last cu

[2018-05-21 11:53] jcurl commented on #8745
Ran the tests on two other machines, both do not show the problem (both cases finish to completion). I'm going to check with the newest Preview on my 64-bit VM in the next few days (don't have access to it right now)

32-bit preview on Ubuntu 16.04.4 with an older processor (Lenovo T61p) OK
[code]

i7-4970K 6-core running Ubuntu 18.04 LTS - OK
[code]

[2018-05-21 12:57] marek-safar commented on #7317
The relevant code as merged from CoreFX to fix the issue

[2018-05-21 12:57] #7317 closed

[2018-05-21 13:01] marek-safar commented on #6984
PR for `dotnet run` support https://github.com/dotnet/cli/pull/9320

It might be nice to do extend it to `dotnet test` later

[2018-05-21 13:16] chaselal commented on #7683
This happens to me every time with Xamarin.iOS 11.10.1.177 when I start the app with the Xamarin Profiler. The Xamarin Profiler console output ends with:
[code]

[2018-05-21 13:53] marek-safar commented on #8782
Could you please attach sample code you had in mind?

[2018-05-21 14:10] marek-safar commented on #8770
@vargaz if that's not recommended a way of doing this can we update the option and point developer to the alternative

[2018-05-21 15:27] marek-safar opened #8784 "Use llvm backend for precompiled BCL libraries when available"
We want to use LLVM to compile AOT images of BCL and Roslyn when it's available. This should be on by default when mono is configured to run with LLVM which means we should also ship it as part of default Mac packages.

Relevant file to be updated https://github.com/mono/mono/blob/14c8a6c57f0e112ded404f1d972b00ac0996ec50/mcs/class/aot-compiler/Makefile

[2018-05-21 15:38] robbor78 opened #8785 "Why does mono embedded not use the config_dir passed to mono_set_dirs?"
(Originally posted on Stackoverflow https://stackoverflow.com/questions/50414524/why-does-mono-embedded-not-use-the-config-dir-passed-to-mono-set-dirs)

I have a C# application that I need to run on Linux. Using the mono runtime on Linux the program executes correctly. Using mono embedded through a C++ application the Linux program crashes with a DllNotFoundException.

The C# application

Nuget pa

[2018-05-21 15:51] marek-safar opened #8787 "ThreadPrincipalTests.PrincipalFlowsToAsyncTask failure on device"
Tracking issue only, the original XI https://github.com/xamarin/xamarin-macios/issues/4097 issue

[2018-05-21 16:36] #8692 closed

[2018-05-21 16:44] marek-safar commented on #8780
@alexischr are you aware of any config setting for this?

[2018-05-21 16:47] marek-safar commented on #8766
@jonorossi would be nice to include test case but we can help you with that

[2018-05-21 17:37] jaykrell opened #8791 "LLVM 6.0 AOT assertion failure (linux)"
## Steps to Reproduce

1. Build monollvm 6.0 with  assertions enabled.
2. Build mono against monollvm 6.0.
3. make -C mcs/class/System.XML  run-test

### Current Behavior

CSC     [testing_aot_full] full_System.Xml_test.dll
/s/monollvm/lib/CodeGen/AsmPrinter/MonoException.cpp:643: virtual void llvm::MonoException::beginInstruction(const llvm::MachineInstr*): Assertion `0' failed.

### Expected Beh

[2018-05-21 18:04] #6834 closed

[2018-05-21 18:59] marek-safar commented on #8791
/cc @vargaz

[2018-05-21 19:30] luhenry commented on #6921
List of symbols used by XI/XM/XA/VSfM: https://gist.github.com/luhenry/f450d55128deddcedc2e27852ab6dc23

[2018-05-21 19:52] lewurm commented on #8776
Regarding the assertion you hit on desktop: this was fixed a few weeks ago, you need a newer mono: https://github.com/mono/mono/issues/8329#issuecomment-383146748

There are some performance related differences between browsers, you should try Edge too.

There is [AOT compilation](http://www.mono-project.com/news/2018/01/16/mono-static-webassembly-compilation/) in the pipeline which should improve

[2018-05-21 19:58] alexischr commented on #8747
This should be fixed for Windows soon with https://github.com/mono/mono/pull/7346 as the CoreFX FileSystemWatchers properly dispose event handlers. I will try to provide a fix for the old backend FSWs as well.

[2018-05-21 20:00] pjcollins opened #8795 "[XA] BCL test ExpressionTest_MemberBind.CompiledMemberBinding fails on Android when AOT is enabled"
Copying over https://bugzilla.xamarin.com/show_bug.cgi?id=57888.
Copying over https://github.com/xamarin/xamarin-android/issues/1247

### Steps to Reproduce
https://bugzilla.xamarin.com/attachment.cgi?id=23244
1. Download and run the attachment linked above in Release mode.

### Expected Behavior
All BCL unit tests pass with AOT and LLVM enabled.

### Actual Behavior
[code]
### Version Information

[2018-05-21 20:05] a-student commented on #8776
Unfortunately, mentioned in the article [AOT compilation project](https://github.com/lrz/mono-wasm) seems to be dead - no commits for almost 4 months :(

[2018-05-21 20:06] pjcollins opened #8796 "Encountering failure in MonoTests.System.Data.SqlClient.SqlParameterTest.Constructor7 on Android with AOT+LLVM enabled"
The `MonoTests.System.Data.SqlClient.SqlParameterTest.Constructor7` test is throwing an NRE when running on recent devices when AOT and LLVM are enabled.

### Steps to Reproduce

1. Download prebuilt .apk file, and run it on an armeabi-v8a device:

2. Alternatively, a smaller repro which just contains the relevant test source could likely be built and installed with AOT+LLVM.

### Details
Link to

[2018-05-21 20:07] pjcollins commented on #8796
This is still reproducible with d15-8 monodroid/master/de662f58.

[2018-05-21 20:16] pjcollins opened #8797 "[XA] Encountering BCL test failures in MonoTests.System.Reflection.MethodInfoTest on Android when Hybrid AOT + LLVM are enabled"
In addition to the test failures in both #1247 and #1449. `MonoTests.System.Reflection.MethodInfoTest.GetMethodBody` and `MonoTests.System.Reflection.MethodInfoTest.TestLocalVariableTypes` are consistently failing on Android when Hybrid AOT and LLVM are enabled.

### Steps to Reproduce

1) Download and run the attached prebuilt .apk file:

2) Alternatively, a smaller repro which just contains the

[2018-05-21 20:17] pjcollins commented on #8797
This is still reproducible with d15-8 monodroid/master/de662f58.

[2018-05-21 20:26] pjcollins opened #8798 "[XA] Encountering test failures in System.Numerics.Tests.GenericVectorTests on Android when Hybrid AOT + LLVM are enabled"
I'm seeing roughly 17 test failures in `System.Numerics.Tests.GenericVectorTests` on Android when Hybrid AOT and LLVM are enabled. Failure messages and stack traces can be found in the test result xml gist below.
### Steps to Reproduce

1. Download and run the attached prebuilt .apk file:

2. Alternatively, a smaller repro which contains the relevant test source could likely be built and installed

[2018-05-21 20:27] pjcollins commented on #8798
This is still reproducible with d15-8 monodroid/master/de662f58 - http://xqa.blob.core.windows.net/gist/log-903d81331656432b9233f4ad88a3888d.txt

[2018-05-21 22:25] lambdageek opened #8803 "[tests] System.Web WebTest.cs copies more assemblies than necessary when MONO_PATH is set"
I'm not sure if this is a bug, but it seems to do more work than necessary.

Look at `WebTest.LoadAssemblyRecursive` which is used by the `SetupHosting` in that class to pre-load a bunch of assemblies and then copy them over to a temporary location to be used from another domain:

 https://github.com/mono/mono/blob/master/mcs/class/System.Web/Test/mainsoft/NunitWeb/NunitWeb/WebTest.cs#L495-L512

T

[2018-05-21 22:29] lambdageek commented on #8695
@steveisok I'm having some trouble reproducing this issue.   (I'm on OSX) Specifically, I am gettting crashes in mono's garbage collector, so `make check` in `mcs/class/System.Web` doesn't even finish.
If I run with `MONO_GC_DEBUG=verify-before-allocs,check-remset-consistency`, I can see that the crash happens in:
[code]

Which looks like we're trying to run `mcs/class/referencesource/System.Web/U

[2018-05-21 22:37] jaykrell opened #8804 "Exceptions should be avoided except in truly exceptional conditions, i.e. not merely starting up."
I'm  debugging something, anything.
I set breakpoint on mono_handle_exception.
I don't want to see anything unrelated to what I'm debugging.

But starting up on Linux we raise and catch exceptions related to timezone.

This is LLVM AOT but probably not relevant,  except for the better debugging.

(gdb) bt 9
#0  mono_handle_exception (ctx=0x7fffffffcd50, obj=0x7ffff5d0ff50) at mini-exceptions.c:260

[2018-05-21 22:39] jaykrell opened #8805 "Line numbers in Linux AOT (LLVM) debugging (Linux)?"
I'm debugging something.
It is AOT LLVM.
I'd like to see line numbers in the C# that is LLVMAOTed.
lldb didn't work at all btw, so using gdb.

(gdb) bt
#0  mono_handle_exception (ctx=0x7fffffffc020, obj=0x7ffff5d73320) at mini-exceptions.c:2600
#1  0x00005555557bc83c in mono_amd64_throw_exception (dummy1=<optimized out>, dummy2=<optimized out>,
    dummy3=<optimized out>, dummy4=<optimized out>, d

[2018-05-22 02:11] vargaz commented on #8791
Can't reproduce this.

[2018-05-22 02:19] jaykrell opened #8806 "gdb warns about our llvm6.0 fullaot dwarf data (linux)"
linux
running  llvm 6.0 fullaot llvm  system.xml tests subset

[code]

gdb issues diagnostic/warning:

[code]

Presumably, expected, no warnings about our dwarf stuff. But perhaps ok.

[2018-05-22 02:51] jaykrell commented on #8806
Hm, indeed, gdb cannot walk stack from System_Xml_Serialization_XmlCustomFormatter_FromEnum_long_string___long___string using LLVM 6.0 fullaot but can from regular mini fullaot.

i.e. break System_Xml_Serialization_XmlCustomFormatter_FromEnum_long_string___long___string
run
bt

[2018-05-22 02:51] jaykrell commented on #8806
Clarification, it can walk one level, to System_Xml_Serialization_EnumMap_GetXmlName_string_object, and that's it.

[2018-05-22 07:09] pascalhaakmat opened #8811 "SIGABRT with Npgsql 3.2.7"
This simple program crashes Mono with SIGABRT when using Npgsql 3.2.7 and EntityFramework 6.2.0:

[code]
Note that the problem does **not** occur when using Npgsql 3.2.6, and so I also reported this issue with the npgsql team under https://github.com/npgsql/npgsql/issues/1944

## Steps to Reproduce

1. Download console project:
[Npgsql-SIGABRT.zip](https://github.com/mono/mono/files/2025417/Npgsql

[2018-05-22 09:50] marek-safar commented on #8805
@jaykrell Please report issues in the way **anyone** can work on and QA possibly verify. This one is just not good enough

[2018-05-22 09:50] #8805 closed

[2018-05-22 09:51] marek-safar commented on #8804
See #8805

[2018-05-22 09:51] #8804 closed

[2018-05-22 11:03] rjvdboon opened #8815 "System.Native does not build on Master with compiler without static_assert and _Static_assert"
## Steps to Reproduce

1. Clone Master on a system with an old GCC (Centos6 with gcc 4.4.7 will do)
2. ./autoconf
3. make

### Current Behavior

make fails with:
[code]

### Expected Behavior

Build succeeds _or_ configure errors on a too old GCC.

## On which platforms did you notice this

[ ] macOS
[ x ] Linux
[ ] Windows

**Version Used**:

[code]

## Additional info

It is probably caused by l

[2018-05-22 11:04] marek-safar commented on #8766
It can be unit test but a standalone test would work too and it can for sure be platform specific

[2018-05-22 11:06] marek-safar commented on #8815
@migueldeicaza @directhex any objections to bump the GCC min version?

[2018-05-22 13:56] directhex commented on #8815
I have no objections to 4.8 as a baseline minimum. It is not available in base CentOS 6, but is available via "Developer Toolset" - https://access.redhat.com/documentation/en-us/red_hat_developer_toolset/6/html/user_guide/

We already use devtoolset to compile for CentOS 6, to enable building BTLS (which needs C++11 support)

[2018-05-22 14:58] marek-safar commented on #8781
This issue was moved to mono/monodevelop#4872

[2018-05-22 14:58] #8781 closed

[2018-05-22 14:59] marek-safar commented on #8768
/cc @directhex is this something worth exploring?

[2018-05-22 16:33] steveisok commented on #8695
Interesting... I have yet to test my specific changes on OSX.  From the stacktrace you provided, it looks like it's hitting a code path that hasn't been hit on linux (most of that has been eradicated, but clearly not all - so thanks!).

You should definitely be able to reproduce my issue on Ubuntu 16.04.  Can you try it there?

As for your suggestion re: tests, that's kind of what I thought may be

[2018-05-22 18:00] luhenry commented on #8721
@marek-safar what's the status of that?

[2018-05-22 18:28] lambdageek opened #8820 "[loader] Mono is too strict when checking for already loaded assemblies."
Suppose we have
    dir1/asm1.dll
    dir2/asm2.dll
(relative to the application's current working directory, let's say)

`asm1` has a reference to `"asm2, Version=1.0.665.1234, PublicKeyToken=null"`

and `asm2` is actually `"asm2, Version=1.0.665.2468, PublicKeyToken=null"` (ie `asm2` does not have a strong name, but it does have a version that is different from the referenced version).

Consider

[2018-05-22 18:30] lambdageek commented on #8820
The problem is in `mono_domain_assembly_search` in `appdomain.c`  It is always doing an exact assembly name check when looking for already loaded assemblies.  In the case where there's no public key token, it's enough to do an equality with `ANAME_EQ_IGNORE_VERSION`

[2018-05-22 18:46] joncham commented on #8820
Corresponds to Unity issue: https://issuetracker.unity3d.com/issues/dll-dependencies-are-not-resolved-if-the-dlls-are-stored-in-seperate-folders

[2018-05-22 19:43] #6299 closed

[2018-05-22 19:47] lambdageek commented on #8820
Accidentally found out that we're supposed to ignore case distinctions in simple names here too 😄
("asm2, Version=1.2.3.4" and "Asm2, Version=2.4.6.8" count as a match)

So the PR does that, also, now.

[2018-05-22 20:47] luhenry commented on #8429
/cc @alexanderkyte @vargaz could you please take a look at it?

[2018-05-22 20:51] lewurm commented on #8787
[code]

[2018-05-22 21:17] #7058 closed

[2018-05-22 21:31] lewurm commented on #7125
fixed by #6456

[2018-05-22 21:31] #7125 closed

[2018-05-22 21:49] kumpera commented on #7683
PR with tentative fix: https://github.com/mono/mono/pull/8824

[2018-05-23 07:09] #7063 closed

[2018-05-23 10:16] marek-safar commented on #8726
@lambdageek how confident are you to landing this to 2018-02?

[2018-05-23 13:59] marek-safar commented on #6889
Closing as done, cross compilers will come later

[2018-05-23 13:59] #6889 closed

[2018-05-23 14:12] #8787 closed

[2018-05-23 18:50] ShreyaSharmaMS opened #8848 "Error when debugging"
## Steps to Reproduce
1. Hit a breakpoint and click "Step Over"

### Current Behavior
When debugging with the android designer, the debugger randomly crashes with this output:

[code]

## On which platforms did you notice this
[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:
[code]

[2018-05-24 00:30] sadqiang opened #8852 "It seems that Blazor does not support loading code generated at runtime, really?"
## Steps to Reproduce

1. Install [.NET Core 2.1 RC1](https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-rc1).
2. Install [Visual Studio 2017 (15.7 Preview 5 or later)](https://www.visualstudio.com/vs/preview/) with the ASP.NET and web development workload selected.
3. Install the latest [Blazor Language Services](https://marketplace.visualstudio.com/items?itemName=aspnet.blazor) exten

[2018-05-24 01:15] migueldeicaza commented on #8852
The details included are not very useful.

[2018-05-24 01:18] sadqiang commented on #8852
So what should I do?

[2018-05-24 01:20] migueldeicaza commented on #8815
I do not mind adding the additional compiler requirement, but perhaps we could just define the macro static_assert to be empty for older compilers and let that run?

It looks from `mono/external/corefx/src/Native/Unix/Common/pal_compiler.h` that we could just define `static_assert` as an empty define.

[2018-05-24 01:30] migueldeicaza commented on #8785
For a comprehensive example that exercises every path of the embedding API, you can look at the template file for mkbundle:

https://github.com/mono/mono/tree/master/mcs/tools/mkbundle

That does a full embedding of an application.

In your particular case to load the config file, use `mono_config_parse_memory`, see what mkbundle generates when it runs with all the different flags to see what is r

[2018-05-24 01:30] #8785 closed

[2018-05-24 01:31] migueldeicaza commented on #8776
It is actively being worked on, just not on that branch as we had to do major surgery, we should have something soon.

[2018-05-24 01:31] #8776 closed

[2018-05-24 01:36] migueldeicaza commented on #8768
The files are hosted on an https:// server, I do not understand the attack scenario and how hosting a separate file would help.

We should be signing the packages, at least I know we do for OSX.   So this does not seem like something that would actually prevent anything.

[2018-05-24 01:36] #8768 closed

[2018-05-24 06:42] rjvdboon commented on #8815
At the moment BTLS is still optional, but if #8568 goes through then BTLS is required (or you will not have any TLS on Linux/Windows).

[2018-05-24 13:12] vargaz opened #8857 "EqualityComparer.get_Default () optimization causes failures in corlib tests on ios simulator"
See:

https://jenkins.mono-project.com/job/test-mono-mainline-product-sdks-ios/884/label=mono-device-tests/

Disabled for now in this PR:
https://github.com/mono/mono/pull/8856

[2018-05-24 15:15] VincentDondain opened #8859 "Unable to sort because the IComparer.Compare() method returns inconsistent results"
_From @metaine on May 24, 2018 12:59_

### Steps to Reproduce

[code]

Happens randomly on call to LINQ ToList() function on my data set.
The set nature is not important here, because Exception is thrown from Xamarin.iOS ArraySortHelper when it tries to sort Integer array using generic comparer.

There is a bug in ArraySortHelper::PickPivotAndPartition causing the raise of IndexOutOfRange exceptio

[2018-05-24 18:44] luhenry commented on #8815
Let me submit a PR for System.Native.

[2018-05-24 20:30] baulig commented on #8743
This is actually the correct behavior and it would also feel very odd to make some kind of advanced calculations based on the assumptions that the client has set its clock to some weird value that does not align with the rest of the world.

Check this out:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie - it says

[2018-05-24 20:30] #8743 closed

[2018-05-24 21:39] RenanBorgesRadix commented on #6471
I having the exacly same issue, using .net core 2.0 with visual studio

[2018-05-24 22:51] rodrmoya opened #8866 "`jit` profiler option crashes iOS apps"
## Steps to Reproduce

1. Profile iOS app with `log:nodefaults,heapshot=ondemand,maxframes=8,jit,gc,gcalloc,gcroot,gcmove,counter,output=/var/folders/rd/w957krqd3rn1zps5z6r75kz00000gn/T/p6xm3z5b.mlpd`
2. See it crash almost immediately
3. Remove the `jit` option from the log... arguments, no crash

### Current Behavior

It crashes, with Xamarin.iOS with mono 5.12

### Expected Behavior

No crash

[2018-05-24 22:51] einsteinsfool commented on #8768
I agree. But if someone downloaded the package from GitHub then checksum from the official page would be useful. Providing a checksum on GitHub in each release description would help on the other hand with verifying files from the official website.
A nice idea would be to put all checksums in one file on the file server for each release and upon release add it to [Internet archive](https://web.arc

[2018-05-24 23:01] a-student commented on #8776
@migueldeicaza thank you for the response.
1) What is the reason of closing this issue? If AOT compilation will totally replace the current interpreter - ok, otherwise you need to do something with it.
2) Are you actively working on AOT compilation? Are there alpha, beta releases we can test? Is repository public?
3)

It would be great if you define more specific deadline: a month, a week, a year.

[2018-05-25 00:14] baulig opened #8871 "Reusing `SocketAsyncEventArgs` for multiple calls to the static `Socket.Connect()`"
Using the static `Socket.Connect()` multiple times with the same `SocketAsyncEventArgs` throws

[code]

Simple example:

[code]

This works fine on .NET.

Full test case:
[A.cs](https://github.com/mono/mono/files/2037511/A.cs.txt)

This is a problem because the new `System.Net.Http` code from CoreFX is reusing `SocketAsyncEventArgs` instances.

[2018-05-25 00:17] baulig commented on #8871
You may have to run this on a Mac where `localhost` resolves to both `::1` and `127.0.0.1`, with the IPv6 address being returned first - which seems to be the default these days.

[2018-05-25 03:00] danroth27 opened #8872 "NullRef in Mono interpreter when using Json.NET"
@kumpera

[code]

[code]

[2018-05-25 03:01] danroth27 commented on #8872
@jamesnk

[2018-05-25 07:51] lateralusX commented on #8225
Nothing that I have seen before. This mkbundle execution use the --sdk feature that packages bundles differently into the final binary not using the installed C toolchain. Instead it appends bundles directly to a copy of the mono binary (that in this case is not a static linked version, but depending on mono-2.0-sgen.dll). The error seems to occurs when the runtime tries to load (memory mapping th

[2018-05-25 07:52] jaykrell commented on #8225
Get us the .exe to debug?

[2018-05-25 07:53] jaykrell commented on #8225
Or run it along with sysinternals sysmon or such, watch the file opens for errors, near the end. Is something like what I'd do.

[2018-05-25 08:33] marek-safar commented on #8872
This is another problem in the managed interpreted. We are working on replacing it with runtime one which should resolve these problems.

[2018-05-25 08:42] marek-safar commented on #8866
@luhenry can we get it fixed in 2018-02?

[2018-05-25 09:01] #6498 closed

[2018-05-25 09:57] marek-safar commented on #8859
Could you share any kind of repro with us? The issue is tricky to fix and verify as it could be comparer specific.

[2018-05-25 10:02] haf opened #8875 "GetCursorPosition requires chars in stdin"
## Steps to Reproduce

1. See https://github.com/fsprojects/Paket/issues/3217#issue-325678788

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**: 5.12.x

## Stacktrace

[code]

[2018-05-25 10:04] metaine commented on #8859
Let me see if I could isolate the issue, but it doesn't look easy for now.
BTW is it really safe to access keys[--right] without boundaries check?

[2018-05-25 10:10] marek-safar commented on #8859
The range on which to access the keys came from somewhere up the stack so the issue is somewhere else

[2018-05-25 10:13] metaine commented on #8859
Ok so let me catch&fix it on my end.
PR later if I'm lucky :)

[2018-05-25 11:02] jaykrell opened #8877 "msbuild msvc\mono.sln fails with VS2015 (ok with VS2017)"
## Steps to Reproduce

1. git clone mono
2. install vs, ~~either vs2015 or~~ 2017 with also the 2015 tools
3. open a vs2015 command windows (2017 works)

### Current Behavior

Many errors like:
C:\s2\mono\msvc\build-init.vcxproj(30,3): error MSB4019: The imported project "C:\Microsoft.Cpp.Default.props" was not

### Expected Behavior

Build without error, or tell me to use VS2017.
(really I'd like

[2018-05-25 11:07] akoeplinger commented on #8877
This sounds like your C++ installation in VS2015 isn't working. Which workloads did you install?

[2018-05-25 11:27] marek-safar commented on #8877
@lateralusX is that intentional?

[2018-05-25 11:41] skir opened #8878 "AOT with llvm enabled: dll compilation failed"
Trying to build Xamarin.iOS project with LLVM compiler enabled. It fails to compile one of my libraries. This library is made by me, so it can be my issue. But I don't know what I should to make to fix this problem.
Here is output from build:

[code]

**Platform**

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono 5.10.1.47 (2017-12/8eb8f7d5e74) (64-bit)

[2018-05-25 11:52] lateralusX commented on #8877
This should work (I'm running full VS 2015/2017 on the same machine) and that import is initially coming straight from the vcxproj template, so either the vcxproj have been updated to a new tools version where $(VCTargetsPath) is not properly set or that there is a problem with the installed VS2015 build tools. I expect it to work if you use full VS2015 or VS2017 and that is what's been running on

[2018-05-25 13:48] jaykrell commented on #8877
This is VS2017 with also the VS2015 tools. Not a full VS2015.

[2018-05-25 15:23] #7683 closed

[2018-05-25 15:34] dns commented on #8225
@jaykrell, Here [out.zip](https://github.com/mono/mono/files/2039956/out.zip)

[2018-05-25 15:40] #8815 closed

[2018-05-25 16:08] jaykrell commented on #8225
It is like I thought from code inspection.
mkbundle aligns things to 4k but 64k alignment is needed.

KERNEL32!MapViewOfFileStub:
00007ffc`b3d1a930 48ff2501d80500  jmp     qword ptr [KERNEL32!_imp_MapViewOfFile (00007ffc`b3d78138)] ds:00007ffc`b3d78138={KERNELBASE!MapViewOfFile (00007ffc`b25c4a40)}
0:000> r r9
r9=0000000000027000
0:000> gu
Breakpoint 12 hit
KERNELBASE!MapViewOfFile:
00007ffc`b25c4

[2018-05-25 17:12] jaykrell commented on #8225
Here is how you debug this:
xcopy debuggers to bin (or elsewhere)
\bin\amd64\cdb foo.exe
!dlls
see .exe entry point
bp on that
g
bm kern*!*mapviewoffile*
g
look at parameters: first four are rcx rdx r8 r9 and r9 is what you  want
gu
r rax to see return value
!gle for getlasterror

[2018-05-25 17:26] jaykrell commented on #8877
The initial issue describes two scenarios but sorry I meant just one -- VS2017 w/ VS2015 tools, not full 2015 that I didn't try.

[2018-05-25 17:34] luhenry commented on #8815
@rjvdboon could you verify that your problem is fixed with https://github.com/mono/mono/pull/8882?

[2018-05-25 17:35] kumpera commented on #8866
The problem here is that XI driver loads the profiler module before initing the runtime and it depends on the runtime being initialized to function.

[2018-05-25 17:43] kumpera commented on #8866
PR https://github.com/mono/mono/pull/8885

[2018-05-25 17:52] rjvdboon commented on #8815
@luhenry No problem. It'll be after the weekend though.
And thanks for working on this one!

[2018-05-25 17:58] nealef opened #8888 "OpenSSL as a new TLS Provider"
I have built an OpenSSL TLS provider for mono. I have tested a couple of simple test csses on s390x and x86_64 and it seems okay. I am trying to determine what "flaws" OpenSSL may have with regard to working nicely with managed code that may prevent its adoption.

The rationale for writing this is two-fold:
* The OpenSSL provider doesn't have the endianess issues of btls
* There are some extensive

[2018-05-25 19:34] baulig commented on #8871
There's another problem when using `DnsEndPoint`: see [this new tests](https://github.com/xamarin/web-tests/blob/ab867bce452cd7907337600932741a524a5bc98a/Xamarin.WebTests.Tests/Xamarin.WebTests.SocketTests/BeginEndAsync.cs).

[2018-05-25 19:39] JustArchi opened #8892 "What is the state of netcoreapp2.0 in Mono?"
I'm currently trying to run my `netcoreapp2.0` on Mono. It's a console app that utilizes only .NET Standard libraries.

My first and most important question is, can Mono run console `netcoreapp2.0` in the first place?

From the information I gathered, the answer should be **yes**. I verified if mono can run basic console hello world app produced with `dotnet new`, and I succeeded.

If this behavio

[2018-05-25 20:24] kdubau opened #8893 "error MSB3883: Unexpected exception: Win32Exception: ApplicationName='mcs.exe', Native error= Cannot find the specified file"
## Steps to Reproduce

The reproduction case is just to compile an Xamarin.iOS app on macOS. However, not all apps seem to be affected. I have uncovered two Xamarin client applications that are affected, but another four that build fine.

I can't post logs here due to the nature of the data, but they can be found on VSTS. There was also some discussion on Slack: https://xamarinhq.slack.com/archive

[2018-05-25 20:36] baulig commented on #8871
Added some more tests to [web-tests/Xamarin.WebTests.SocketTests](https://github.com/xamarin/web-tests/tree/master/Xamarin.WebTests.Tests/Xamarin.WebTests.SocketTests).

[2018-05-25 20:44] luhenry commented on #8893
After clarifying the context with Kyle, this issue does not arise as part of the 15.8 release or the `mono:2018-04` integration into XA/XI/XM, but does arise as part of a routine XI/XM master branch testing.

@kdubau could you please provide us with detailed steps to reproduce it? A list of the versions to install with a series of command lines to run would be best.

@radical this looks a lot like

[2018-05-25 20:45] NattyNarwhal commented on #8888
One thing that I remember to keep in mind is that IIRC, OpenSSL's ABI is somewhat unstable depending on compile time options, and of course, major versions. (And then you get into the issue of LibreSSL, which is a refactored-to-suck-less version; which is what OpenBSD uses and now some Linux distros use instead...) I'm not sure if this is applicable to the APIs that you'd use though?

[2018-05-25 20:48] kdubau commented on #8893
The repro steps are going to be

1. Install the affected Mono build
2. Clone Xamarin app source
3. nuget restore
4. msbuild the .sln

But like I said I can't share the source here. @radical get at me privately and we can figure something out.

[2018-05-25 21:10] kdubau commented on #8893
This build should have diagnostic logs enabled: http://build.devdiv.io/1721776

[2018-05-25 21:57] #8767 closed

[2018-05-25 22:15] jaykrell opened #8894 "msbuild msvc/mono.sln does not build mkbundle.exe."
## Steps to Reproduce

1.  msbuild msvc\mono.sln

### Current Behavior

No mkbundle.exe produced.

### Expected Behavior

mkbundle.exe produced.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[X] Windows

[2018-05-26 07:39] borgdylan commented on #6984
Ideally, there should be support to use teh mono version of msbuild to support compilers/tasks that do not run on .NET Core.

[2018-05-26 13:29] atsushieno opened #8897 ""Microsoft.Managed.Core.targets" is missing from roslyn-binaries"
... as a result of this problem, monodevelop fails to build projects.

## Steps to Reproduce

1. build and install mono to certain destination.
2. With the built mono, run monodevelop
3. open some project and build it.

### Current Behavior

Build fails due to lack of `/path/to/mono/msbuild/15.0/bin/Roslyn/Microsoft.Managed.Core.targets`

### Expected Behavior

Project just builds.

## On which pl

[2018-05-26 18:06] akoeplinger commented on #8894
mkbundle is a managed tool so I wouldn't expect it to be built by the runtime solution file. We should add it to bcl.sln though.

[2018-05-26 20:41] marek-safar commented on #8897
@radical are we missing symlink for the file?

[2018-05-26 22:47] jaykrell opened #8900 "monodis crashes disassembling rosyln"
## Steps to Reproduce

1. cd external/roslyn-binaries/Microsoft.Net.Compilers/Microsoft.Net.Compilers.2.7.0/tools
2. for a in *.dll; do monodis $a > $a.txt

### Current Behavior

Segmentation fault: 11

### Expected Behavior

No segmentation fault.

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.10.1.47 (2017-12/8eb8f7d5e7

[2018-05-26 23:00] jaykrell commented on #8900
head

[code]

[2018-05-27 08:05] jaykrell commented on #8894
I don't care which sln/proj does it, but I think there should be something that does.
And probably a sln that ties stuff together, i.e. runtime + bcl + tools + maybe tests (building them, maybe not running them -- there should be some knobs but I'm not sure what they should all be).

[2018-05-27 15:28] pascalhaakmat commented on #7506
This would be a great feature to help us manage hanging Mono processes.

[2018-05-27 23:39] jaykrell opened #8903 "Two tests failing due to running as root vs. non-root."
The tests `Create_Path_ReadOnly` and `GetAttributes_ReadOnly` fail for FullAOT Linux amd64 LLVM, but pass for FullAOT Linux amd64 non-LLVM (and all other configurations).

I believe this is because the LLVM CI is running as root, and the non-LLVM CI is running as builder.

I believe there are two problems here, not related to LLVM.

1. There are runtime behaviors that are probably incorrect when r

[2018-05-28 06:33] lateralusX commented on #8877
OK, so then this is probably a problem with either this specific install or the build tools workload together with msbuild. I have successfully build using pure VS2017 build tool installation as well as VS2015 and VS2017 with C/C++ workloads (both community and professional versions). I think we could leave this as is for now and if several people need this scenario revisit later.

[2018-05-28 07:37] marek-safar commented on #8903
@akoeplinger could you check the root builder claim?

@jaykrell I think we should fix the bug if we behave differently under root instead of fixing the tests

[2018-05-28 07:44] marek-safar commented on #8894
It should be in bcl solution already. @kg could you double check that?

[2018-05-28 07:57] marek-safar commented on #6984
@borgdylan I don't understand that request, could you explain it with an example?

[2018-05-28 08:01] marek-safar commented on #8893
@radical we call `mcs.exe` directly on macos which looks like a regression

[2018-05-28 08:16] marek-safar commented on #8888
I'd prefer to see endian issues fixed in btls. I think we also made some API changes to btls which could need to be reflected in some way.

[2018-05-28 08:16] jaykrell commented on #8903
It is very clear the builder is running as root. There is checkbox checked indicating so.
This is so the monollvm .deb can be installed, though there should be a solution that allows that, w/o continuing as root.

I think there is no good solution here and the mono File tests are hacked up already.

As I understand, the Mono code to return the readonly bit look at owner/group/other readability, an

[2018-05-28 08:19] jaykrell commented on #8894
I didn't realize there were other sln files, I thought just mono.sln.
That looks right.

$ grep -i mkbundl *sln
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "mkbundle", "mcs/tools/mkbundle/mkbundle.csproj", "{86B79F77-3DDC-4E2F-8CA8-E392E040366A}"

[2018-05-28 08:36] jaykrell commented on #8798
Source to these tests?

[2018-05-28 08:39] FalcoGer opened #8905 "Checking for (cookie Is Nothing or Not cookie.HasKeys) causes exception"
## Steps to Reproduce

1. Create new WebForm project in MSVS with VB.Net
2. Create Page
3. Enter this code in Page_Load:
[code]
4. Build and drop aspx and dll into mono webserver
5. Try and call the page

### Current Behavior
When cookie doesn't exist, page throws exception.
When cookie exists, page loads normally

I suspect mono tries the second statement in the OR-Expression even though the firs

[2018-05-28 08:51] marek-safar commented on #8878
@vargaz could you attach the library you are trying to AOT?

[2018-05-28 08:55] #8894 closed

[2018-05-28 08:56] vargaz commented on #8878
It would better to attach to whole obj/Release directory if possible.

[2018-05-28 09:06] rjvdboon commented on #8815
Works like a charm, mono/master@a1bb39504fa builds correctly. Thanks!

[2018-05-28 09:33] borgdylan commented on #6984
Example: building a project targeting net471 needs the mono fork of msbuild, as the CLI will refuse to build it due to missing reference assemblies.

(support for dotnet run as described further up is only to run binaries meant for CoreCLR)

[2018-05-28 09:35] borgdylan commented on #8900
Monodis segfaults on many modern binaries. Try using ikdasm instead which in my experience works in more cases.

[2018-05-28 11:41] marek-safar commented on #8892
Mono can run some netcore application. In your case I could run it but it still requires some manual changes on our side. netcore is prety new target for us but we should be able to run it without error once we import or implement the missing APIs.

Right now your sample fails for me with
[code]

[2018-05-28 11:41] #8892 closed

[2018-05-28 11:43] marek-safar commented on #6984
The reference assemblies problem on linux/mac is separate issue and is being addressed differently (they will be provided as nuget packages).

[2018-05-28 11:57] marek-safar opened #8908 "CodeCoverage documentation is outdated"
The documentation at http://www.mono-project.com/docs/debug+profile/profile/code-coverage/ needs to updated to reflect the changes and improvements we made in the past releases.

[2018-05-28 14:47] JustArchi commented on #8892
Alright, thank you for your answer. Is there any plan to make Mono fully .Net Core compatible, or is it rather low priority as of now? I'm asking since I'm not sure how many APIs mono is actually missing, and based on your output above, this shouldn't be a big amount in my case, considering you got initial welcome, but of course it might be bigger amount in other projects.

[2018-05-28 15:29] marek-safar commented on #8892
We are importing more APIs by consuming CoreFX implementation it's just that we haven't got into `File` type yet

[2018-05-28 15:30] JustArchi commented on #8892
Alright, that's everything I wanted to know as of now. Thank you a lot! 👍

[2018-05-28 17:05] #6967 closed

[2018-05-28 17:10] marek-safar commented on #8486
@vargaz could you confirm that?

[2018-05-28 22:22] mcclure opened #8915 "Using BinaryFormatter to deserialize an array in a struct in a parent class fails with unfriendly exception [reproducible test case i promise]"
Hello everyone, how are you? The following is a reduced-case of code from a commercial Unity product (a friend's).

## Steps to Reproduce

Run `csc monotest.cs  && mono monotest.exe` on the following test case. Locally I can reproduce the crash with Unity 2017.4, Homebrew mono 5.0.1.1 and Homebrew mono 5.4.1.6 (all on OS X). Katelyn Gadd says that she tested it on a master-branch build from last w

[2018-05-28 22:28] mcclure opened #8916 "It would be a good idea to link the "make a good bug report" page from CONTRIBUTING.md"
This bug concerns github issues. I filed a bug report just now. It popped up a dialog saying "it looks like this is your first bug! read this:" or something and linked
https://www.mono-project.com/community/bugs/make-a-good-bug-report/
What a helpful document! I closed the window and opened an issue. After completing my bug, I wanted to check the "please include these ten things" list in the Make

[2018-05-28 23:32] mcclure commented on #8915
For the record, I tested with dotnet 2.1.200 on OS X and this did not reproduce there.

[2018-05-29 03:27] ArionTT opened #8917 "Android NDK program with C# scripts"
I want to use C# on android as script by mono.
I try to find the mono android sample , but the path [mono/sdks/android](https://github.com/mono/mono/tree/master/sdks/android) the code is just a test code and is uncompleted.
And the I try to use Xamarin, but it just pure C# program I don`t know how to use it by NDK and call C# program in CPP code.

Did mono contains some android executable sample？

[2018-05-29 03:41] jasonmerecki opened #8918 "Shorthand boolean tests not supported"
I'm new to csharp and the mono framework, trying to get an existing app running on my Mac.  Another developer in my team does not have this problem running the code on Windows. I have traced this down to some kind of query transformation for expressions in Linq and I could use help to track down where this happens (I have already been in QueryBuilder trying to find where this happens).

## Steps t

[2018-05-29 03:48] ArionTT commented on #6862
The sdks is just a test. If I want to run it on my android device, what preparation should I do？

I want to rewrite it to build a android application to call C# assembly in Java code or NDK C++ code just like unity done.

[2018-05-29 06:27] marek-safar commented on #8918
Please update to Mono 5.12 or newer it should have this issue addressed

[2018-05-29 08:05] marek-safar commented on #8916
Thank you for the suggestion. I tweaked the issue template to include the link (https://github.com/mono/mono/pull/8920)

[2018-05-29 09:20] marek-safar commented on #8675
Could you attach full project we could try to reproduce the issue?

[2018-05-29 10:18] marek-safar opened #8921 "ikdasm does not show private protected modifier"
## Steps to Reproduce

1. compile

[code]
2. ikdasm output.exe

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

master/7c38aca9ab9

[2018-05-29 11:16] sancheolz opened #8922 "Generic Error [GDI+ status: GenericError] in NativeWindow.WndProc"
## Steps to Reproduce

1.  Open sln in Monitor.zip or run this code

[code]

When Main form opens occurs this error in console (see StackTrace).

## Expected Behavior
No exceptions throwed in console

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:
5.17 from 30 aug 2018

## Stacktrace

[code]

[Monitor.zip](https://github.com/mono/mono/files/2388169/Mo