[2018-08-10 15:41] SteveSandersonMS commented on #9941
@jeromelaban Yes, we know it's specific to one implementation. It's just a quick and simple tactical fix we already discussed with the Mono team (@kumpera etc.).

[2018-08-10 15:48] carldebilly commented on #9941
A nicer solution would be to add a "default handler provider" in mono, allowing any wasm framework (blazor, Ooui, Uno, ...) to inject appropriate factory in its bootstrapping.

[2018-08-10 15:49] dr1rrb commented on #9941
"tactical fix" ... I would'd rather say "big hack so we don't have to provide a real API to other frameworks"

[2018-08-10 16:17] The-BigDaddy opened #10025 "Improper symlink for System.Runtime.Serialization.Formatters.Soap.dll?"
### Description

So I've been trying to get more into .NET Core/Mono by looking into the Fsharp [Saturn Web Framework][https://github.com/SaturnFramework/Saturn]. I was following [their getting started guide](https://saturnframework.org/docs/guides/how-to-start/) and it requires FAKE. On running the `./build.sh` I get this error.

[code]

However I can find the missing DLL with `sudo find / -type

[2018-08-10 16:28] hack2root commented on #10025
Did you try to migrate to new .Net Core runner. See https://fake.build/fake-migrate-to-fake-5.html?

[2018-08-10 16:38] kumpera commented on #9941
We're working on a solution that would provide a HttpClient that works OOTB.
We can make this change in such a way that it would work for everyone else as well.

[2018-08-10 16:38] kumpera commented on #9941
cc  @kjpou1

[2018-08-10 16:39] The-BigDaddy commented on #10025
Ah, no I haven't. However with just now going throught those steps; how do I run the `.paket/paket.exe` on a linux system? I've yet to really work with this stuff so I'm sorry for the dumb sounding question.

[2018-08-10 16:41] The-BigDaddy commented on #10025
[code]

I'm clearly misunderstanding something. :stuck_out_tongue:

[2018-08-10 16:46] hack2root commented on #10025
So at this point you shouldn't run your sample, SaturnSample, i suppose this commands is sample-aware, in my honest opinion ;)

[2018-08-10 16:54] hack2root commented on #10025
@The-BigDaddy if it is mono i suppose you can run mono <your.exe>, if it is native fake, you will probably stay with fake  --target [command line option](https://fake.build/fake-commandline.html)

[2018-08-10 17:00] The-BigDaddy commented on #10025
@hack2root hmmm well here's what happens after running `mono .paket/paket.exe` and then trying to use the build script via `./build.sh`

[code]

Or `fake -f build.fsx`

[code]

So this might end up as a FAKE issue....

[2018-08-10 17:05] hack2root commented on #10025
@The-BigDaddy  if you were like me, you would probably copy from GAC to

goto /gac and

`cp System.Runtime.Serialization.Formatters.Soap/4.0.0.0__b03f5f7f11d50a3a/System.Runtime.Serialization.Formatters.Soap.dll  /usr/lib/mono/4.5/System.Runtime.Serialization.Formatters.Soap.dll
`

[2018-08-10 17:08] The-BigDaddy commented on #10025
@hack2root well `System.Runtime.Serialization.Formatters.Soap/4.0.0.0__b03f5f7f11d50a3a/System.Runtime.Serialization.Formatters.Soap.dll` isn't there. There's nothing in `System.Runtime.Serialization.Formatters.Soap/4.0.0.0__b03f5f7f11d50a3a` for me.

[code]

[2018-08-10 17:13] hack2root commented on #10025
@The-BigDaddy There is an option that you are using different FW version, so you build against dotnet core app 2.1, the project considered build against .net fw, for example, where in .net 4.5 are major breaing changes, for example, serialzation dll are moved to separate dll, and this is fw misconfiguration for the project, IMHPO, not fake

[2018-08-10 17:14] hack2root commented on #10025
@The-BigDaddy so sometimes mscore linked to non existent (whilst linking confuguration)

[2018-08-10 17:15] hack2root commented on #10025
@The-BigDaddy My daughter toggler and wife are missing, sorry have to go to look for them , OMG

[2018-08-10 17:29] cmccar commented on #9717
Hey sorry for the late reply, I didn't see it until just now.

When passing the -v option I get the attached output.

(For some reason I was unable to get the output to format as code in this response, which is why I made it an attachment.)

[output.txt](https://github.com/mono/mono/files/2278818/output.txt)

[2018-08-10 17:48] The-BigDaddy commented on #10025
Does anyone know how I would go about this?

[2018-08-10 18:19] hack2root commented on #10025
@The-BigDaddy

please give a log files for

dotnet --version

[2018-08-10 18:27] The-BigDaddy commented on #10025
`dotnet --version`: 2.1.302

I installed Mono via my distros package manager, but I'll see if reinstalling does anything.

[2018-08-10 18:37] The-BigDaddy commented on #10025
@hack2root it could be something wrong with my distros mono and mono-devel packages...reinstalling them did nothing.

[2018-08-10 18:39] The-BigDaddy commented on #10025
@hack2root you think building Mono from source would make a difference or no?

[2018-08-10 19:55] vargaz commented on #9867
I think this has nothing to do with the llvm bump, it fails the same way when using the old 3.6 based llvm.

Its probably have to do with the increased bcl code size: it happens on the dontlink test on watchos.

Some comments:
- mtouch passes all the .bc files to clang which seems to compile them sequentially, so its very slow.
- clang is not passed the -O2 argument so it doesn't generate optimize

[2018-08-10 21:00] KevinKeyser opened #10030 "Bug: AutoWebProxyScriptEngine.InitializeRegistryGlobalProxy"
InitializeRegistryGlobalProxy should not error out if ProxyEnable is true and ProxyServer is null. All other applications and services work when my registry has proxyenabled with no proxyserver key. The only test I tried is when using System.Net.WebRequest.Create() and InitializeRegistryGlobalProxy throws a null object exception which I believe is on this line of code:
https://github.com/mono/mono

[2018-08-10 21:19] alexanderkyte opened #10031 "unhandled-exception-2.exe crashes crash reporting"
There is a unhandled-exception-2.exe crash on CI that seems to hit the assertion at `mini-exceptions.c:1196`.

I need to investigate this for bugs week. If the domain isn't set, stack walking shouldn't die spectacularly. It should indicate failure to the caller.

[2018-08-10 21:19] alexanderkyte commented on #10031
@akoeplinger @lambdageek please include any information you know about this that I haven't mentioned.

[2018-08-10 22:44] mhutch opened #10034 "Mono crashed with F# PPDB"
Mono crashed when using a portable PDB generated by the F# compiler.

Mono JIT compiler version 5.12.0.298 (2018-02/f795aa5d2db Thu Jul 19 10:21:35 EDT 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com

[code]

[2018-08-10 23:00] akoeplinger opened #10035 "BinaryReaderTest.ReadBytesException and BinaryReaderTest.ReadCharsException fail on FullAOT+LLVM after hybrid suspend change"
## Steps to Reproduce

1. Run corlib tests in the FullAOT+LLVM configuration
2. Notice two tests failing: BinaryReaderTest.ReadBytesException and BinaryReaderTest.ReadCharsException

### Current Behavior

Both tests fail, see https://jenkins.mono-project.com/job/test-mono-mainline-linux-fullaot+llvm/label=debian-9-amd64/639/testReport/:

[code]

### Expected Behavior

No failures

## On which plat

[2018-08-10 23:27] filipnavara commented on #10034
I believe there's another issue (or issues, actually) tracking this already. It's actually caused by bugs in the F# compiler that were fixed in upstream and current Mono master iirc.

[2018-08-10 23:30] filipnavara commented on #10034
https://github.com/mono/mono/issues/8655
https://github.com/Microsoft/visualfsharp/issues/4637
https://github.com/mono/mono/pull/9792

[2018-08-11 00:29] leonidumanskiy opened #10038 "Expose SourceLink values in sdb"
Since Mono supports Portable PDBs now, are there any plans to support SourceLink?
SourceLinks section of portable PDB are supported by Mono.Cecil. However, I could not make it work with Mono soft debugger.

The only way I could find to debug external assemblies without rebuilding them from scratch using mono was to use mdbs and mdbrebase tool to patch MDB file to update source code paths. Source l

[2018-08-11 09:49] Martin-Furter opened #10043 "Assertion when pressing CtrlC while reading SerialPort on Linux"
Hello,

I have some troubles with SerialPort on Debian Linux with mono 4.6.2.7+dfsg-1. The standard way does not work at all for me, I can neither receive nor send any data over serial port.

I found the following blog entry by Ben Voigt about using SerialPort.BaseStream:
http://www.sparxeng.com/blog/software/must-use-net-system-io-ports-serialport

Doing it the way he described I can send and rec

[2018-08-11 18:32] jaykrell opened #10047 "Assertion failure in thread 0x7f9ddaa1d0 due to: object.c:1875: Expected GC Unsafe mode but was in STATE_BLOCKING state"
## Steps to Reproduce

1.  Submit PR

### Current Behavior

https://github.com/mono/mono/pull/10027

https://jenkins.mono-project.com/job/test-mono-pull-request-coop-arm64/3097/parsed_console/log.html

[code]

I will retry.

### Expected Behavior

Other.

## On which platforms did you notice this

Linux

[2018-08-11 23:15] nosami commented on #10034
This is fixed in Mono 5.14.0.175 and later.

[2018-08-12 03:46] elitest commented on #9956
So I've had some time to dig into this further.  Reading the error message more closely it is actually a C error from when it tries to compile the intermediate native C code that wraps the .Net bits.
/mcs/tools/mkbundle/bundle-mono-api.inc and /mcs/tools/mkbundle/template_common.inc are the basis of what the resulting file of the source is built from.  Line [57](https://github.com/mono/mono/blob/1

[2018-08-12 07:50] skuizy opened #10050 "Need to either remove or replace the obsolete `tlstest` tool."
### Current Behavior

On my odroid XU4 running Ubuntu 18.04.1 tlstest.exe fails with some https sites like github whereas it's ok with nuget

### Expected Behavior

tlstest.exe shouldn't fail

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

5.14.0.177

## Stacktrace

[code]

### Complementary informations

My certs are already up-to-date 👍
[code]

csh

[2018-08-12 14:35] JimBobSquarePants opened #10054 "DeflateStream behaviour is different on Mono"
This issue has been compiled from information gathered by @Splamy in an issue raised on the ImageSharp issue tracker affecting our ability to decode png files.

https://github.com/SixLabors/ImageSharp/issues/598

`DeflateStream` exhibits slightly different behavior in net/dotnet and Mono. The following code will execute differently:

## Steps to Reproduce

[code]

### Current Behavior

Under Mono

[2018-08-13 08:54] nosami commented on #8655
This should be fixed in Mono 5.4.0.175 and later

[2018-08-13 10:07] marek-safar commented on #10004
We need to extend https://github.com/mono/reference-assemblies/tree/master/build to also include `mono` profile which will map to net_4_x with additional APIs as we need.

Then we use that precompiled references instead of e.g. https://github.com/mono/mono/blob/6db65716f323a61283017dfab410df15cae85fef/mcs/build/profiles/net_4_x.make#L17 where we have 4.7.1 right now

[2018-08-13 10:19] reisier opened #10061 "SslStream - bool clientCertificateRequired, not working"
Hello,

I was hopping to secure communications upgrading our mono linux console app with sslstream.
I started from the sample showcased on this link (client and server):
https://msdn.microsoft.com/en-us/library/system.net.security.sslstream(v=vs.110).aspx

Unfortunately when I turn clientCertificateRequired true in sslStream.AuthenticateAsServer(,  there’s an error.

## On which platforms did you

[2018-08-13 11:45] to-st opened #10062 "System.Drawing.Bitmap.FromFile throws ArgumentException on"
## Steps to Reproduce
1. unzip [testcase.zip](https://github.com/mono/mono/files/2282812/testcase.zip)
2. csc Program.cs
3. mono Program.exe

### Current Behavior
libpng error: invalid after png_start_read_image or png_read_update_info

Unhandled Exception:
System.ArgumentException: A null reference or invalid value was found [GDI+ status: InvalidParameter]
  at System.Drawing.GDIPlus.CheckStatus

[2018-08-13 13:41] marek-safar opened #10064 "Verify CoreCLR dllmap implementation is compatible with Mono"
.NET Core will bring (optional) dllmap support inspired by Mono implementation. We need to verify both implementations are compatible.

The design discussion is at https://github.com/dotnet/coreclr/pull/19373

[2018-08-13 13:45] MaximLipnin opened #10065 "[ConstructorInfo] Invoke method on Mono requires BindingFlags.CreateInstance as default param value"
There is a difference between [Mono ](https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Reflection/ConstructorInfo.cs#L62)and [CoreFX ](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Reflection/ConstructorInfo.cs#L18)in the use of default value for invocation attributes parameter of `Invoke` method.

This issue keeps track of this difference.

Some temp w

[2018-08-13 13:59] FalcoGer opened #10066 "Strange error when trying to run xsp server with aspx web forms using vb language"
## Steps to Reproduce

1. Install latest mono with `apt-get install mono-complete` on ubuntu 18.04 after setting up mono repository. (5.14.0.177) for arm64
2. Dump the following structure into /var/www/vbTest/
[code]

TestPage.aspx:
[code]

TestPage.aspx.vb
[code]

Web.config:
[code]
3. start xsp4 or run through apache mod_mono
```xsp4 --port=80 --address=192.168.115.31 --applications="/:/var/www/

[2018-08-13 14:34] mhutch commented on #9912
FWIW I was able to fix this by deleting the Mono installation and reinstalling. Not sure why.

[2018-08-13 14:35] mhutch commented on #9912
See also https://github.com/mono/mono/issues/8715 and https://github.com/mono/mono/issues/9475

[2018-08-13 14:40] sysrpl commented on #9996
I've having this problem as well. I'm on Ubuntu 16.04 and ran "sudo apt upgrade" this morning. Now I'm getting the exact same problem.
System.TypeInitializationException The type initializer for 'System.Data.Entity.Core.Objects.ELinq.ExpressionConverter' threw an exception.

[2018-08-13 15:08] alex-mazzariol commented on #9996
I noticed that in mono 5.10 and 5.12 the "LLVM" status was `supported, not enabled` in both the official container and my distribution's packages (Fedora).
In mono 5.14 this changed to `yes(3.6.0svn-mono-/)`, all the other settings remaining the same.
Since the crashing part of EF deals with getting transformation method names/objects from around the application domain, may this have contributed t

[2018-08-13 15:34] marek-safar opened #10069 "UTF8 strings"
This is tracking issue for newly introduced types and changes we need to make to fully support netcore 3 UTF8 string and related types.

API design https://github.com/dotnet/corefx/issues/30503

TODO
- Figure out facade situation

[2018-08-13 15:50] NattyNarwhal opened #10070 "recent string loading changes break big endian with mojibake"
## Steps to Reproduce

1. build mono

### Current Behavior

[mono hid the facts](https://en.wikipedia.org/wiki/Bush_hid_the_facts)

[code]

### Expected Behavior

build proceeds as normal

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows
[X] AIX

**Version Used**:

[code]

[2018-08-13 15:51] NattyNarwhal commented on #10070
Problems commits:

* https://github.com/mono/mono/commit/c96cbf6bd9ae002b4e56651e0ae784d245ecfba6

* https://github.com/mono/mono/commit/7f786b2c13f9a471ea94ce8d20fe833af4b6294a (depends on above)

* maybe? https://github.com/mono/mono/commit/5651654795d6e35fee7899de35204d9a7824bc9b

[2018-08-13 15:54] mhutch commented on #10034
@marek-safar confirmed fixed

[2018-08-13 15:54] #10034 closed

[2018-08-13 16:00] alexanderkyte commented on #7295
This was fixed by https://github.com/mono/mono/pull/9914

[2018-08-13 16:01] #7295 closed

[2018-08-13 19:40] jaykrell commented on #9089
Fix sitting in PR for months. https://github.com/mono/mono/pull/9114

[2018-08-13 20:12] mhutch opened #10076 "Crash stepping in F# code"
## Steps to Reproduce

1. Debug F# app
2. Step into certain functions (line 73 of Mono's TemplateTests.fs failed for me)

### Current Behavior

Crash

### Expected Behavior

Step

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.14.0.177

## Stacktrace

[code]

[2018-08-13 20:12] mhutch commented on #10076
/cc @nosami

[2018-08-13 20:16] nosami commented on #10076
@mhutch: Looks like @vargaz removed the assert a few days ago https://github.com/mono/mono/pull/9987

[2018-08-13 21:44] vargaz commented on #10076
Its that reproducible ?

[2018-08-13 21:46] jonpryor opened #10080 "`mono-api-html` doesn't process some removals now"
Context: https://github.com/xamarin/xamarin-android/pull/1503

The recent bump in xamarin-android from mono:2018-02 to mono:2018-04 introduced "breakage" in our API compatibility tests, with API breakage being reported which should not be reported.

## Steps to Reproduce

1. Download [`mono-api-html-removals.zip`](https://github.com/mono/mono/files/2284835/mono-api-html-removals.zip)

        curl

[2018-08-13 22:49] jaykrell opened #10085 "C/C++ incompatibilities"
This is a summary document with the issues we have found during C++ port. We intend to use this as a guidance how to resolve compilation issues if we want to have a common code base which compiles with C and C++ compilers

Every problem has been solved, in at least one way, and all problems have working solutions.
("working" meaning many CI lanes are green, just finishing off Windows.)

Also most

[2018-08-14 00:28] #10070 closed

[2018-08-14 02:09] jonpryor commented on #10080
It's not a regression. It's a bug fix...which "broke" previous response files.

Consider the `diff` in the original description:

[code]

The modified property *is* in fact on `Android.App.Notification.Action`, *not* `Android.App.Notification`.  The mono:2018-02 behavior is thus *incorrect*, as it's not correctly reporting *nested types*. mono:2018-04 is correct.

Which means I need to go off and

[2018-08-14 02:09] #10080 closed

[2018-08-14 06:55] marek-safar commented on #10085
/cc @migueldeicaza

[2018-08-14 07:07] mgholam opened #10092 "fixed (char* ptr = str) crashes on raspberry pi"
The following code crashes on raspberry pi (works ok on windows full framework):
[code]

## On which platforms did you notice this

[ ] macOS
[ x] Linux PI raspian
[ ] Windows

## Stacktrace

[code]

[2018-08-14 09:17] vargaz commented on #9870
Which was the last version where this was tested and it succeeded ?

[2018-08-14 09:28] jaykrell commented on #9870
Does this require device or repros in emulator?
Simple desktop/amd64 test passes.

[2018-08-14 11:05] mfilippov commented on #10092
@mgholam I think it was fixed in 5.8 in PR: https://github.com/mono/mono/pull/5683

[2018-08-14 14:35] akoeplinger commented on #10031
It seems to occur on unhandled-exception-4.exe too ([see Jenkins PR](https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/13540/testReport/junit/MonoTests/test-unhandled-exception-2-255-without-managed-handler/unhandled_exception_4_exe/)), albeit way more infrequently than with -2.exe. Disabled it as well.

[2018-08-14 15:06] akoeplinger commented on #7854
Looks like the mkbundle job is green with https://jenkins.mono-project.com/job/ng-extract-mkbundle-runtimes/54

[2018-08-14 18:11] VincentDondain opened #10100 "[ios] Mono SDK doesn't work with Xcode 10 (32 bits executable)"
## Steps to Reproduce

1. `xcode-select -s /Applications/Xcode10.app/Contents/Developer`
2. make in `mono/sdks/builds`

### Current Behavior

Fails. Here's a simplified build command that shows the issue: https://gist.github.com/VincentDondain/fab2bb948ad53c411073414a15f674df

### Expected Behavior

- Instead of using `clang++` which picks up the one from the default installed Xcode (xcode-select)

[2018-08-14 18:17] luhenry commented on #10100
@vargaz please take a look at that.

[2018-08-14 18:59] lambdageek opened #10101 "ref local of jagged array leads to InvalidProgramException"
If object `f` has a field `a` of type `int[][]`, then `ref int[] r = ref f.a[1];` leads to an InvalidProgramException

## Steps to Reproduce

1.  `csc Foo.cs`
2.  `mono Foo.exe`

Foo.cs:
[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

Also fails with mono `master`.
Also fails

[2018-08-14 19:00] lambdageek commented on #10101
The relevant bit of IL is

[code]

[2018-08-14 19:07] spouliot commented on #10100
All 64bits executables should be built with Xcode 10 (or newer)
while all 32bits executables must be built with Xcode 9.4 (as long as we support them)
c.c. @rolfbjarne

[2018-08-14 22:02] vargaz commented on #9872
Can't reproduce this anymore.

[2018-08-15 01:08] xPenguinx opened #10114 "Discord API with Macs"
I worked on a project in C# with Visual Studio creating and exe file using a discord API to run a discord bot. I ran the file and the discord bot will load up but after it loads up I am only able to do one thing with the bot something like !help and then it will send a message back and when I do it again it won't work. Then I tried to run this on a VPS (Windows) it would perfectly work. I would do

[2018-08-15 02:09] jaykrell opened #10116 "wasm build warnings: unresolved symbols: fputs, fputs, putchar"
Someone (not me) random PR:

https://jenkins.mono-project.com/job/test-mono-pull-request-wasm/3714/consoleFull

<span class="timestamp"><b>13:12:12</b> </span>warning: unresolved symbol: fputc
<span class="timestamp"><b>13:12:12</b> </span>warning: unresolved symbol: fputs
<span class="timestamp"><b>13:12:12</b> </span>warning: unresolved symbol: putchar

If my own work, I caused a few extra of th

[2018-08-15 04:11] mgholam commented on #10092
Confirmed working in `5.14.0.177` on 'ubuntu 14.04.5'.

Can't seem to upgrade raspberry pi though...

[2018-08-15 04:11] #10092 closed

[2018-08-15 05:50] The-BigDaddy commented on #10025
@akoeplinger I'll have to link this whole issue to the [Void Linux package repo](https://github.com/void-linux/void-packages). Or investigate how the package was built for the repos myself. There _has_ to be something that was configured when building Mono as a package for Void.

[2018-08-15 09:02] Hoshpak commented on #10025
I can confirm this is a packaging issue that will be resolved in Void shortly.

[2018-08-15 13:08] AxlPr opened #10126 "Memory leak when calling static methods with large arrays"
## Steps to Reproduce

1.  Run the attached code as a console application.
2.  It should crash before the program completes.

[Program.zip](https://github.com/mono/mono/files/2290287/Program.zip)

### Current Behavior

Program crashes between 5-10 iterations with out of memory exception.

### Expected Behavior

Program should not run out of memory. Running with MS .Net 4.6.2 framework it doesn't r

[2018-08-15 13:19] MaximLipnin opened #10127 "[Reflection] MetadataToken returns 0 for generic type parameter."
## Steps to Reproduce

[code]

### Current Behavior
MetadataToken returns 0
### Expected Behavior
MetadataToken returns some non-zero value.
It works on .Net Core and .Net Framework
## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ X] Windows

**Version Used**:

$ mono -V
Mono JIT compiler version 5.14.0 (Visual Studio built mono)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and

[2018-08-15 13:35] EoinAviation opened #10128 "NullReferenceException on System.Web.Profile.ProfileModule.OnEnter"
## Steps to Reproduce

1. Create an ASP.NET MVC5 solution in Visual Studio Community 2017, on Windows 10.
2. Copy the solution to the nearest Mac.
3. Attempt to run the application using Visual Studio Community 2017 for Mac.

### Current Behavior

When attempting to display a view, a Null Reference exception is thrown.

### Expected Behavior

The view displays as it would on the Windows machine.

[2018-08-15 13:45] VincentDondain commented on #10100
That's what I started doing with Ludo locally but I believe this won't work because you're calling `clang++` without using the `XCODE_DEVELOPER_ROOT`. So it picks up the current (`xcode-select`) version, in this case Xcode 10.

See https://gist.github.com/VincentDondain/fab2bb948ad53c411073414a15f674df#file-gistfile1-txt-L50.

Also we could customize the mono sdk make target that are on our side b

[2018-08-15 14:08] lewurm commented on #10114
Hello @xPenguinx! Please provide a minimal example program where you observe the issue, so we can look into it

[2018-08-15 14:44] MaximLipnin opened #10129 "[Reflection] MetadataToken value need to be aligned on array/byref/pointer types"
## Steps to Reproduce
[code]
or [this CoreFX test](https://github.com/mono/corefx/blob/master/src/System.Runtime/tests/System/Reflection/MemberInfoTests.netcoreapp.cs#L268) for reference.

### Current Behavior
Array/byref/pointer types return a MetadataToken of 0 or other values.

### Expected Behavior
Array/byref/pointer types should return a MetadataToken of 0x02000000 (33554432)
It works this w

[2018-08-15 15:02] lambdageek commented on #10000
Commits on `master`, `2018-08` and `2018-06` branches improve performance of this microbenchmark roughly 4x - near Mono 4.8.1 numbers.

[2018-08-15 15:02] #10000 closed

[2018-08-15 15:38] nealef commented on #10050
Export MONO_TLS_PROVIDER=btls before you run the program

How to make it use BoringSSL ?

[2018-08-15 15:48] lambdageek commented on #9921
Update on the two-phase suspend idea:

It's surprisingly easy to implement.  All the right state machine transition return values are already there and adding phases wasn't too bad.

The only hangup is that right now threads in blocking get their `suspend_count` incremented twice. We do two calls to `mono_threads_transition_request_suspension`: in the first phase to transition from `BLOCKING` to `

[2018-08-15 16:26] akoeplinger commented on #10025
Looks like this was resolved: https://github.com/void-linux/void-packages/issues/1783#issuecomment-413184182.

Thanks!

[2018-08-15 16:26] #10025 closed

[2018-08-15 17:01] skuizy commented on #10050
Same results after running export MONO_TLS_PROVIDER=btls :(

[2018-08-15 18:17] nealef commented on #8660
I have been looking at this and have come up with a solution that works for my test case but I am not sure if it is robust enough to be a general solution. I have implemented the ChainStatus property for Btls. When we execute the certificate verification callback we just don't test for success and set status11. Now we get the error (if any) and map the error code to those defined by ChainStatusFla

[2018-08-15 19:17] nealef commented on #8660
PR #10134 raised

[2018-08-15 19:35] xPenguinx commented on #10114
Wym like you want me to make a program?

[2018-08-15 20:12] pjcollins commented on #8798
In addition to the failures above, there are a few tests added in mono-2018-04 which fail now also fail on Android devices when Hybrid AOT and LLVM are enabled:
https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Comparers/Comparer.Tests.cs#L239

[code]

[2018-08-15 20:47] luhenry commented on #10114
@xPenguinx we have no idea what are the steps you are doing, so we have no way to reproduce, let alone understand what problem you are running into.

If you want us to be able to help you, re-fill your issue following the provided template.

[2018-08-15 20:47] #10114 closed

[2018-08-15 20:49] #9984 closed

[2018-08-15 21:45] jaykrell opened #10137 "* Assertion: should not be reached at mini-runtime.c:3358"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/13588/parsed_console/log.html

***** MonoTests.System.Runtime.Caching.ObjectCacheTest.GetValues
***** MonoTests.System.Runtime.Caching.ObjectCacheTest.Host

Tests run: 38, Passed: 38, Errors: 0, Failures: 0, Inconclusive: 0
  Not run: 0, Invalid: 0, Ignored: 0, Skipped

[2018-08-15 21:51] jaykrell opened #10138 "crashes at shutdown"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/13588/parsed_console/log.html

I opened a separate bug for the assertion failures.

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

macOS

[2018-08-15 22:36] jaykrell commented on #10137
[code]

[2018-08-15 23:29] vargaz commented on #10100
https://github.com/mono/mono/pull/10139

[2018-08-16 01:48] jaykrell commented on #10138
It'd be nice to know, if possible, which thread local is being destroyed here.
I think `__CFTSDFinalize` implies it is not ours, unless that that is something we end up sharing with.

[2018-08-16 02:09] jonathanpeppers opened #10142 "Support ValueTask<T> usage from NetStandard assemblies for Xamarin.Android"
We have a few reports of this issue, such as:
- `System.Reactive`: https://github.com/dotnet/reactive/issues/803#issuecomment-413344838
- `Xamarin.Android`: https://github.com/xamarin/xamarin-android/issues/1879

This is fixed in https://github.com/mono/mono/pull/9968, but it is only available in `2018-06`.

Since Visual Studio 15.8 shipped to stable _yesterday_, perhaps we need to look into getti

[2018-08-16 02:53] slaingod opened #10143 "Process.GetProcessesByName Memory Leak, Not Disposing Filtered Process Objects"
There is a pretty serious memory leak in Process.GetProcessesByName around this line of code:
https://github.com/mono/mono/blob/master/mcs/class/System/System.Diagnostics/Process.cs#L512

The code creates Process objects for every process, then filters them based on the supplied processName. It does not however take the crucial step of calling Process.Dispose before doing so, on the filtered proce

[2018-08-16 03:21] joncham opened #10144 "Generic with "unmanaged" constraint crashes runtime"
## Steps to Reproduce

1. Compile test project below with -langversion:7.3
2.
3.

[code]

### Current Behavior

[code]

### Expected Behavior

Not crash

## On which platforms did you notice this

[x ] macOS
[ ] Linux
[ x] Windows

**Version Used**:

[code]

[2018-08-16 06:45] germgerm commented on #9996
Any status on this one ?

[2018-08-16 07:09] jaykrell commented on #10085
# [cxx-overload-address-taken-ambiguous]

C++ standard library overloads functions.
Taking the address of them, which Mono does, once, is ambiguous and an error.

Solution 1: Use a type when taking the address.

[code]

https://github.com/mono/mono/pull/6695/commits/1cd029404112437d9ff044eb40a32ff0c6b3b408

Solution 2:

Compile some of the runtime as C.
This devolves in general to all standard lib

[2018-08-16 08:44] marcinm100 opened #10148 "Can't set window width smaller than 100px"
I'm trying to migrate .Net C# application from Windows CE to Linux using mono. One of the forms in that project is of 50x50 size. But when I run my app on mono the size of it changes itself to 50x102.

## Steps to Reproduce

1. Set this.FormBorderStyle = System.Windows.Forms.FormBorderStyle.None;
2. Set this.ClientSize = new System.Drawing.Size(50, 50);

[WinSizeTest.zip](https://github.com/mono/m

[2018-08-16 09:26] EoinAviation commented on #10128
Furthur info:
**System.NullReferenceException**
Object reference not set to an instance of an object
**Description:** HTTP 500.Error processing request.

**Details:** Non-web exception. Exception origin (name of application or object): System.Web.

Exception stack trace:
[code]
Version Information: 5.10.1.57 (2017-12/ea8a24b1bbf Tue Apr 24 14:53:01 EDT 2018); ASP.NET Version: 4.0.30319.42000

[2018-08-16 09:32] BigApple1988 commented on #9996
I have the same problem on Windows in the latest Stable (5.14.0.177) x64 version.

[2018-08-16 09:54] Moth-Tolias opened #10150 "installer licence is unreadable"
## Steps to Reproduce
1. download the Mono for Windows (x64) installer from [here](https://download.mono-project.com/archive/5.14.0/windows-installer/mono-5.14.0.177-x64-0.msi).
2. navigate to the licence agreement.
3. observe the results:
![image](https://user-images.githubusercontent.com/10255268/44201392-042ffc80-a141-11e8-95d1-7a9451e4abe4.png)
i know you don't actually want people reading the

[2018-08-16 10:19] EoinAviation commented on #10128
The issue was resolved by adding this to the `Web.config`
[code]

[2018-08-16 10:19] #10128 closed

[2018-08-16 10:40] dhcgn commented on #9216
Can we add the type `CertificateRequest` to this issue?

See in CoreFX:
[corefx/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest.cs](https://github.com/dotnet/corefx/blob/8d2407974c88b50c54f29ee20fd9deb8e6d00b1f/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/CertificateRequest

[2018-08-16 11:00] akoeplinger commented on #10150
Interesting. We're specifying the standard Arial font in the installer license: https://github.com/mono/mono/blob/master/packaging/Windows/resources/setup-files/license.rtf

It sounds like something is weird on your system. Unfortunately we'd need a way to reproduce it on our end to do something about it.

[2018-08-16 13:33] luhenry commented on #10100
@vargaz https://github.com/mono/mono/pull/10139 is not the right fix. We need to explicitly define the c++/c/ld/etc. command and pass that to `configure`, otherwise it will still pick up the Xcode version from `xcode-select`.

[2018-08-16 14:02] lambdageek commented on #10047
This seems like some interaction between `mono_threads_summarize` and checked coop suspend mode.

To reproduce, have to configure with `--enable-checked-build=all` and then run with `MONO_THREADS_SUSPEND=coop MONO_CHECK_MODE=gc,thread`

Most likely we're missing a `MONO_ENTER_GC_UNSAFE` somewhere in the summarize code.

(More problematic would be if we're running the summarize code on a thread tha

[2018-08-16 14:16] lambdageek commented on #9921
Update on two phase hybrid suspend: a prototype is at #10140 ([lambdageek/mono:stw-two-phase branch](https://github.com/lambdageek/mono/tree/stw-two-phase)).  Seems to work.  Only one dirty trick in there (peek blocking suspend requested).

[2018-08-16 14:21] agonzalezm opened #10154 "webclient uploadfile failing on 100MB file over https: The request was aborted: The request was canceled."
since updating to mono 5.14 I get error when uploading big files with webclient, any idea?

In mono 4.8 it works fine, in windows .NET 4.6 it also works fine.

If the file is few kbytes or mbytes( 10MB) i dont get error but I get this error when uploading 100MB zip file to https server:

The request was aborted: The request was canceled.
at System.Net.WebConnectionStream.Write (System.Byte[] buffe

[2018-08-16 19:37] alexanderkyte opened #10157 "[runtime] Send telemetry blob to debugger when mono runtime crashes"
When a mono runtime is attached to a managed debugger and the debugged runtime is induced to cause a crash, the state of that crash is not communicated to the managed debugger. This, combined with the difficulty in having the debugged runtime both attached to the managed debugger and lldb, makes this type of crash difficult to interactively debug.

When the managed debugger is the only connection

[2018-08-16 20:28] alexischr commented on #7087
@Tragetaschen I could not reproduce the issue (I used something like https://gist.github.com/alexischr/f57083a870c54b95afd594e85d922616), but the above PR should prevent getprotobyname() from being re-entered.

[2018-08-16 20:41] brendanzagaeski commented on #10142
Small correction to my comment: I should have said "saw" rather than "assumed" in "the .NET Core folks _saw_ that `ValueTask<T>` (and the other types from System.Threading.Tasks.Extensions) were public in Mono..." Those types do all exist and are all public in the current Xamarin SDKs.

I double-checked this quickly with `monop`. All the property and method names from lib/netstandard2.0/System.Thr

[2018-08-16 21:14] alexanderkyte commented on #10031
It sounds like @lambdageek is debugging this one as well. We agreed that it seemed to be a race between `mono_thread_interruption_checkpoint_void` and getting the info block to pass to `mono_thread_suspend_all_other_threads`

[2018-08-16 21:43] #9943 closed

[2018-08-16 22:01] MaximLipnin opened #10159 "[Reflection] Modules don't equal for Types generated with GetTypeFromCLSID"
## Steps to Reproduce

1.   Compile the test project

[code]
or consider [this CoreFX test](https://github.com/mono/corefx/blob/master/src/System.Runtime/tests/System/Reflection/MemberInfoTests.netcoreapp.cs#L342)

### Current Behavior
The modules don't equal.
### Expected Behavior
The modules should equal.
This behavior is observed on .Net Core and NetFX
## On which platforms did you notice this

[2018-08-16 22:06] alexanderkyte commented on #9956
This function in question belongs to the mono support for working with AOT'ed code. It sounds like the C stub for the generated C isn't including the header that exports this function.

[2018-08-16 22:38] filipnavara commented on #10061
Duplicate of https://github.com/mono/mono/issues/7075. You are also using an old Mono version, although the new functionality is not in any released version yet AFAIK.

[2018-08-16 22:43] elitest commented on #9956
Thanks @alexanderkyte.  Indeed [mono/mini/aot-runtime.h](https://github.com/mono/mono/blob/3dd1e1d92abd6c5586dfacc81003dc5713800847/mono/mini/aot-runtime.h) looks to be the culprit.  If I tell mkbundle to generate a intermediate C filem add "#include <mono/mini/aot-runtime.h>" and then try to compile using:
[code]
It tells me it can't find the header:
[code]
looking in /usr/include/mono-2.0 it doe

[2018-08-16 23:50] lambdageek commented on #10031
@alexanderkyte Thanks for helping to track this down! Take a look at #10161 for an attempted fix.

[2018-08-17 02:26] w8w8w8 commented on #9698
when I used blazor.  I use javascript setInterval call the .NET methods, then .NET methods call javascript function to update svg(text,image) dom(>300) value.
but , 2 hours later, the chrome crash.
I think it  has some memory leak too

[2018-08-17 04:11] nealef commented on #10061
The client certificate renegotiation made it into 2018-06 as part of the 3 PRs described earlier in the problem report.

From: Filip Navara <notifications@github.com>
Reply-To: mono/mono <reply@reply.github.com>
Date: Thursday, August 16, 2018 at 17:39
To: mono/mono <mono@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [mono/mono] SslStream - bool clientCertificateR

[2018-08-17 07:31] alexischr commented on #7087
@Tragetaschen  @jaykrell found `getprotobyname_r()` which makes things much nicer, please try https://patch-diff.githubusercontent.com/raw/mono/mono/pull/10163.patch instead

[2018-08-17 10:38] rolfbjarne commented on #9318
@vargaz can this be back ported to 2018-02?

[2018-08-17 11:06] rolfbjarne commented on #9872
I can confirm this doesn't reproduce anymore.

[2018-08-17 11:06] #9872 closed

[2018-08-17 12:35] rolfbjarne opened #10166 "iOS: mini test failure in 32bit/release/llvm mode (JitTests.Objects: Expected: 0 But was: 1)"
## Steps to Reproduce

1. Checkout & build the `mono-2018-06` branch from xamarin-macios
2. Open tests/tests.sln
3. Select the mini project as the startup project, and select a Release32|iPhone configuration.
4. Execute and run all the tests (on a 32-bit capable iOS device)

### Current Behavior

    [FAIL] JitTests.Objects :   Expected: 0
        But was:  1

This happens on 32-bit (64-bit works

[2018-08-17 12:36] rolfbjarne commented on #10166
This is a recent regression, the test passed when I created #9869.

[2018-08-17 12:51] Endone opened #10167 "crash on server running in mono"
## Steps to Reproduce
Only occur once, cannot reproduct.

### Current Behavior

process crash

### Expected Behavior

running well

## On which platforms did you notice this

[ ] macOS
[*] Linux
[ ] Windows

**Version Used**:
5.0.1

## Stacktrace

[code]

[2018-08-17 13:07] vargaz commented on #10166
https://github.com/xamarin/xamarin-macios/issues/4618

[2018-08-17 15:36] rolfbjarne commented on #9870
@jaykrell it requires an iOS device capable of running 32-bit code

@vargaz it passes in d15-7.

the same thing happens with watchOS on device:

    FSharpTest
    	[PASS] FSharpTest.Func
    	[FAIL] FSharpTest.SprintfTest :   Expected string length 24 but was 32. Strings differ at index 5.
      Expected: "1111 2222 3333 4444 5555"
      But was:  "1111 57822332 2222 57822332 5555"

[2018-08-17 15:36] TheSpanner commented on #9996
I too have this issue on CentOS 7.5.1804 & Mono 5.14. Spent half the day downgrading back to mono back to 5.12.0.301

[2018-08-17 16:48] alexanderkyte commented on #9956
The linked PR should clarify things a bit. The AOT runtime support requires access to private runtime APIs. You're going to need to use mkbundle in a slightly different workflow so you can make a file that it needs to be passed.

If you have any problems working out the steps, notify me here or on Gitter and I will try to create a better guide. I am not familiar with the user-friendliness of 170e9

[2018-08-17 17:07] #10143 closed

[2018-08-17 18:27] alexanderkyte commented on #9956
https://github.com/mono/mono/pull/10170

[2018-08-17 19:44] alex-mazzariol commented on #9996
More than a week passed; while I can't really blame anyone for not giving some time to this issue, I'd like to point out that in my case it is business-critical software (yes, I am perfectly aware of the MIT license and its Second Paragraph), hence the need for Entity Framework in the first place.

I ended up rolling back to 5.12.0.301 and excluding from yum.conf any mono-related upgrades with a r

[2018-08-17 19:59] alexanderkyte commented on #9925
When I revert ae4bd539443fe194cdc2de648bba00f62824b9b4

![When I revert the commit](https://i.imgur.com/pG6N0BJ.jpg)

[2018-08-17 20:08] alexanderkyte commented on #9925
If I put an fprintf in the icall, it only prints once. If I set an lldb breakpoint on the icall, or use instruments, it fires constantly. That part of this is clearly due to bugs in instruments.

What's strange to me is that the commit we merged to cache this string changes what instruments sees. I'm not sure if we're seeing misreporting or if the code is executing differently when it's ptraced.

[2018-08-17 20:19] alexanderkyte commented on #9925
Run under instruments, it prints many times. I would wager there's a lack of visibility of the default string pointer because of broken memory fencing on instruments. This benchmark basically makes Tasks in a loop.

[code]

And it's this accidental stress on Console.WriteLine that exposed this to me before in Instruments.

[2018-08-17 20:33] alexanderkyte commented on #9925
Before I applied https://github.com/mono/mono/pull/9862/commits , Instruments reported the icall allocating 350mb over the course of 3 minutes. I ran for 10 seconds to get the above 16mb leak. It appears that it really should be a 16mb leak.

[2018-08-17 20:34] alexanderkyte commented on #9925
https://github.com/mono/mono/pull/9862/commits should be reverted, as it is a no-op.

I'll do so in the PR that addresses the CFLocaleCopy thing.

[2018-08-17 20:47] alexanderkyte commented on #9925
https://github.com/mono/mono/pull/10172

[2018-08-17 20:48] alexanderkyte commented on #9925
We currently have a fallback option to the posix APIs. It would be nice if we made it possible to not try the darwin one with a runtime toggle. You could really speed up some workloads that just stop and start mono a lot.

[2018-08-17 20:55] alexanderkyte commented on #9925
@akoeplinger I am going to move this to "done".

[2018-08-17 20:58] alexanderkyte opened #10174 "Clean up references to 'linkonce' native linking attribute"
Our experiments found the native APIs too platform-specific and too dependent on each backend. Our current dedup backend is more than sufficient, and gives us much more control.

We should remove the references to the string "linkonce" from the codebase and we should make sure all deduping logic goes through the same checks and the same manglers.

[2018-08-18 05:34] lexxsoft commented on #9996
This takes a while to figure out if you haven't ever done it: to rollback in Debian, I had to remove mono-complete and purge unused packages:
`sudo apt-get remove mono-complete`
`sudo apt-get autoremove`
Then temporarily replace repository url to a pinned version:
`sudo nano /etc/apt/sources.list.d/mono-official.list`
`#deb http://download.mono-project.com/repo/debian raspbianjessie main`
`deb htt

[2018-08-19 21:10] leezer3 opened #10179 "String.TrimEnd backwards compatibility issue on Mac"
## Steps to Reproduce
Take the following code:
[code]
Compile using Mcs on the Mac using the current stable channel (5.14.0)
Attempt to run using the following Mono version `mono --version
Mono JIT compiler version 5.12.0.226` (This is what was on the box previously. I believe it was the previous stable, but not 100% on that)

Only just noticed this, as the CI which I use to produce my Mac builds

[2018-08-19 21:32] leezer3 commented on #10179
Have just upgraded the Ubuntu VM to 5.14.0.177 (from the Ubuntu repos version), and am seeing the same issue with the code above once the compiled exe is copied to the Mac.

Not sure if I can pin the version to the previous stable to test?

[2018-08-20 02:21] steveisok opened #10180 "LLDB EXC_BAD_ACCESS during a native exception"
## Steps to Reproduce

1. Build mono w/ native debug symbols

2. Compile the code below:

[code]

3. Open two terminals and in the first execute <mono-root>/mono/mini/mono --debug LLDBTest.exe

4. In the second terminal get the process ID of the executing LLDBTest process

5. Type lldb and attach to the process (process attach --pid <pid>)

6. Type process continue into lldb and press enter in the

[2018-08-20 07:13] rolfbjarne commented on #9867
Looks like this is the watchOS version of https://bugzilla.xamarin.com/show_bug.cgi?id=1102.

[2018-08-20 10:05] #9566 closed

[2018-08-20 11:09] SymphonicDev1 opened #10189 "threadpool-worker-default.c:213 Failed to gen random bytes"
### Current Behavior

Crashes on startup

### Expected Behavior

Expecting it to stay running?

## On which platforms did you notice this

[ ] macOS
[ x] Linux
[ ] Windows

**Version Used**:
Using winetricks 20170101 - sha1sum: c844fda0cca25ac9ed0ed1b55cd138cab6a4af16 with wine-1.8.7 (Debian 1.8.7-2) and WINEARCH=win64

## Stacktrace

/vagrant/mono/mono/metadata/threadpool-worker-default.c:213: Fa

[2018-08-20 13:05] KillPinguin opened #10191 "Keepass crashes on startup ("
## Steps to Reproduce

1. get an arch-based distro
2. install keepass and mod_mono from AUR
3. try to run keepass

### Current Behavior

[Keepass](https://keepass.info) crashes on startup

### Expected Behavior

It shouldn't crash (or at least give a good error message why it does)

## On which platforms did you notice this

[ ] macOS
[x] Linux (Manjaro, Kernel 4.18)
[ ] Windows

**Version Used**:

[2018-08-20 13:40] lewurm commented on #10180
Mono uses implicit null checks to implement null checks efficiently. You are running into [this issue of LLDB](http://lists.llvm.org/pipermail/lldb-dev/2013-July/002004.html). Unfortunately it hasn't been fixed for _years_.

There are two workarounds:
1. Run mono with `MONO_DEBUG=explicit-null-checks`, so the runtime won't use mentioned technique. Performance-wise this is a bit slower, but for deb

[2018-08-20 14:07] lewurm commented on #10167
this is a crash in native code, there should be more output by the crash handler that notes where the crash happened in the runtime.

[2018-08-20 14:28] steveisok commented on #10180
Thanks!  I knew there was something other than use gdb :-).

[2018-08-20 14:51] mandel-macaque opened #10192 "SSL Fails on iOS - "Error getting response stream (ReadDone1): ReceiveFailure""
_From @jawbrey on August 16, 2018 14:59_

I have a client who has a fairly complex Forms app that relies on a WCF service backend.  For the past year+ they have let the iOS app go dormant while they focused on Android.

Now they're trying to get iOS working again, and are running into this problem when communicating with the backend over SSL (non-SSL seems to work OK).  I have tried all three HTTP

[2018-08-20 14:51] mandel-macaque commented on #10192
Thanks for the bug report, I will take a look at the sample and will try to reply ASAP.

[2018-08-20 14:51] mandel-macaque commented on #10192
_From @migueldeicaza on August 17, 2018 20:2_

Changing the HTTP networking stack will only change the implementation used in HttpClient, it does not solve the problem with HttpWebRequest, which is what this WCF code is using.

There are two paths forward:

(a) You can make sure that you are using the Apple native TLS stack, configure the properties to pass to "mtouch" in iOS build pane to include

[2018-08-20 14:51] mandel-macaque commented on #10192
_From @spouliot on August 17, 2018 20:57_

@jawbrey option (a) is **not** applicable anymore since all recent versions of XI (like 11.12 above) ships with **only** AppleTLS**, i.e. there are no option to add/change this anymore (it's the default since the world moved to TLS 1.2).

[2018-08-20 15:40] #10144 closed

[2018-08-20 15:40] lewurm commented on #10018
Already done: https://github.com/Suchiman/Runny

[2018-08-20 15:40] #10018 closed

[2018-08-20 15:48] rolfbjarne commented on #8486
Updated test case that tests for more signatures (structs with 1/2/3 bytes/shorts):
[struct-bbb-bug-v2.zip](https://github.com/mono/mono/files/2303018/struct-bbb-bug-v2.zip)

Result:

    S1: expected <1>, got <52736>
    S2: success
    S3: expected <1, 2, 3>, got <1, 2, 1>
    B1: expected <1>, got <0>
    B2: expected <1, 2>, got <0, -50>
    B3: expected <1, 2, 3>, got <0, -50, 38>
    DONE st

[2018-08-20 16:13] kumpera opened #10197 "System.Native doesn't support Out Of Tree builds or multiple targets"
This is an usability issue to anyone working with multiple targets in the same tree as it fails to build once the host changes.

We should either support *not* building it with a configure flags (and use it in the SDKs) or fix it to properly integrate with autotools OOT builds.

[2018-08-20 16:33] Thaina commented on #10018
@lewing Is there a way we could export what compiled as another wasm file?

[2018-08-20 16:41] mfilippov opened #10198 "Empty X509Chain in AppleTLS ServicePointManager.ServerCertificateValidationCallback"
## Steps to Reproduce

1. Setup custom delegate to ServicePointManager.ServerCertificateValidationCallback
2. Call any HTTPS server with the untrusted root certificate.

### Current Behavior
chain parameter has empty "ChainElements" property

### Expected Behavior
ChainElements should contain server sent a certificate chain. I see this behaviour for Btls provider and Windows .NET Framework.

## On

[2018-08-20 17:58] lewurm commented on #10018
What actually happens there is:
* `roslyn` compiles C# to CIL code.
* then, the mono runtime (running on WebAssembly) executes that CIL code with an interpreter.

There is no WebAssembly file generated anywhere.

[2018-08-20 18:07] akoeplinger commented on #8610
I looked at this today and it's due to `clang: error: unknown argument: '-mno-tls-direct-seg-refs'`.

This is a GCC specific flag that we're only setting when configure.ac thinks it doesn't build with clang so somewhere along the lines setting clang as the compiler in the job got broken.

It's probably not related to the Ubuntu 18.04 upgrade though since e.g. https://jenkins.mono-project.com/job/t

[2018-08-20 18:11] akoeplinger commented on #8610
@lambdageek it was most likely this change: https://jenkins.mono-project.com/job/test-mono-mainline-staticanalysis/jobConfigHistory/showDiffFiles?timestamp1=2017-10-05_12-20-16&timestamp2=2017-10-20_18-51-51

It caused autogen.sh to no longer be replaced with `scan-build autogen.sh` so during autogen we don't switch to clang.

[2018-08-20 19:16] lewurm commented on #10016
This code was last touched in 2bdea63484af and c889057d6474. @vargaz @BrzVlad any ideas? it could be some changes in the headers.

@necrose99 what kernel version is that?

[2018-08-20 19:23] Skrypt opened #10200 "Localization issue on Mac OS X"
## Steps to Reproduce

1. Simply run Environment.GetEnvironmentVariables() from the VS debugger
2. Compare with `printenv` environment variables values through Mac Terminal

<img width="1452" alt="capture-d_ecran-2018-08-20-a-09 16 54" src="https://user-images.githubusercontent.com/3228637/44361555-3f596500-a48c-11e8-94b0-e46c7ed45c1f.png">

### Current Behavior

When debugging with Visual Studio

[2018-08-20 19:37] jaykrell commented on #10016
Configure problem. Don't use the amd64 compiler when targeting arm64.

[2018-08-20 20:05] lewurm commented on #10016
what do you mean @jaykrell?

[2018-08-20 20:07] Therzok commented on #10200
I think this is a side effect of child processes inheriting env vars of VSMac. cc @slluis

[2018-08-20 20:12] jaykrell commented on #10016
Sorry -- AMD64 headers at least. Maybe not AMD64 compiler.

[code]

Notice the attempt to use distcc also.

[2018-08-20 20:22] Therzok commented on #10200
[MonoTargetRuntime.GetEnvironmentVariables](http://source.monodevelop.com/#MonoDevelop.Core/MonoDevelop.Core.Assemblies/MonoTargetRuntime.cs,2e62ea759f16e525) propagates to the [execution environment](http://source.monodevelop.com/#MonoDevelop.Core/MonoDevelop.Core.Assemblies/MonoTargetRuntime.cs,de6a252605d621e6,references) so they end up being used [here](http://source.monodevelop.com/#MonoDevel

[2018-08-20 20:49] joncham opened #10201 "Crash accessing parameters of dynamic MethodInfo"
## Steps to Reproduce

1. Run test case below
2.
3.

[code]

### Current Behavior

[code]

### Expected Behavior

No crash

## On which platforms did you notice this

[ X] macOS
[ ] Linux
[ X] Windows

**Version Used**:

[code]

[2018-08-20 21:02] jaykrell commented on #10180
You shouldn't really write code that expects to often catch null dereference exceptions.
Check for the nulls yourself in the few cases you expect them.

[2018-08-20 21:05] lambdageek commented on #10201
Also fails with `2018-06` and `2018-02`.

[2018-08-20 21:54] akoeplinger commented on #10200
This issue was moved to mono/monodevelop#5725

[2018-08-20 21:54] #10200 closed

[2018-08-20 22:13] nddipiazza opened #10204 "mkbundle --list-targets doesn't list RHEL or Centos?"
## Steps to Reproduce

Run `mkbundle --list-targets`

You will see the major targets that are supported namely OSX, Debian, Ubuntu, Rasp... But you will not see a RHEL/Centos option.

Why is RHEL/Centos not an option

[2018-08-21 00:43] nddipiazza commented on #7454
Same issue.

[2018-08-21 00:48] garuma commented on #9912
Above workaround worked for me as well

[2018-08-21 03:54] Thaina commented on #10018
@lewurm Then would you please reopen this issue. Because that was the main feature I wish to have it exist. So we could have webassembly IDE in C#

[2018-08-21 08:28] JimBobSquarePants commented on #10054
Is there any further information required to make progress on this issue?

[2018-08-21 08:55] mfilippov commented on #10050
@skuizy As I known "legacy" TLS provider does not support TLS 1.2 you should use "btls" provider for sites with TLS 1.2 only on Linux or apple TLS provider on macOS.

[2018-08-21 09:10] lewurm commented on #10018
I'm afraid I don't understand what you are asking for. Every building block is available to build an IDE in WebAssembly with C# right now. `Runny` is a minimal example showcasing that.

If you build WebAssembly applications with C#, you don't distribute wasm files, but DLLs and the Mono Runtime (as a wasm file). In the future there will be an AOT compiler, so additionally (or instead?) you will di

[2018-08-21 11:02] vargaz commented on #10166
-> DUP.

[2018-08-21 11:02] #10166 closed

[2018-08-21 11:59] nddipiazza commented on #10204
when you run msbuild it will build the windows .exe by default.

[2018-08-21 12:49] cdadmin commented on #9996
Same issue here, not that it matters, just reporting it also.  5.14 does not work with Entity Framework 6.2, previous versions do.

[2018-08-21 12:56] MonaTheMonad commented on #10204
If a mkbundle target doesn't exist (CentOS/RHEL in this case), how can one build Mono as a mkbundle target?

[2018-08-21 12:59] nddipiazza commented on #10204
I have been working around the issue by using VirtualBox vm and just building it there. but this isn't the greatest because now my Jenkins instance cannot build source and package in all the different environments, I have to save the artifacts in Nexus manually.

[2018-08-21 13:23] VincentDondain opened #10213 "With LLVM enabled, .msym files don't have debug information for most of the sequence points"
_From @krassx on August 21, 2018 6:55_

### Steps to Reproduce

1. Create new iOS project
2. Switch to "Release" configuration and enable LLVM
3. Build

### Expected Behavior
All the corresponding msym files should have proper sequence point info available

### Actual Behavior
Most of the sequence point does not have debug information

### Environment

[code]

### Build Logs
This bug does not rela

[2018-08-21 14:48] kant2002 opened #10217 "Encoding 1252 does not supported."
## Steps to Reproduce

1. Start simple Blazor application
2. Add following line as handler for the button. or inside OnInit()
[code]

### Current Behavior

Exception thrown
[code]

### Expected Behavior
No exception happens. Or some workaround how this could be avoided..

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[X] Wasm

**Version Used**:

## Stacktrace

[code]

[2018-08-21 16:15] onovotny commented on #10142
Bump?

[2018-08-21 16:52] bocciab commented on #8350
It seems like 15.8 and mono 5.12 are out, but I don't see this bug or bugzilla 61002 mentioned in the release notes. Can anyone confirm the fix for this issue is out?

[2018-08-21 18:00] brendanzagaeski commented on #8350
Yes, the changes from https://github.com/mono/mono/pull/6125 are included in the current Mono and Xamarin SDK versions (that are part of the Visual Studio 2017 version 15.8 and Visual Studio 2017 for Mac version 7.6 releases). The corresponding section from the Mono release notes is under the [Class Libraries section](https://www.mono-project.com/docs/about-mono/releases/5.12.0/#class-libraries) s

[2018-08-21 18:14] #10031 closed

[2018-08-21 18:35] alexanderkyte opened #10220 "Make managed stack walking machinery use MonoError"
The crash reporter would love to be able to only upload an unmanaged stack trace if the managed stack is totally trashed. Our use of g_assert, particularly around domains, does not admit an easy "try-and-see-if-it-worked" approach.

Making these use MonoError would be the most reliable way to support fallbacks to attempts to walk a stack.

[2018-08-21 19:49] lambdageek commented on #10220
This issue is very open-ended right now, so it's difficult to say anything definitive, but: it could be that the needs of the crash reporter (survivability in unfriendly terrain) is distinct from the needs of more pedestrian runtime code (maintenance of invariants).

For much of the runtime, running without a domain is really unusual.

On the other hand, we have a lot of situations (before Mono fi

[2018-08-21 19:56] kumpera opened #10222 "WebAssembly: AOT compilation"

[2018-08-21 20:03] kumpera opened #10223 "[sdks] new checkout builds of the SDKs fails due to not init'ing submodules"
Steps to reproduce:

1) clone mono.
2) configure SDKs for iOS and BCL only- IE disable android, wasm and desktop
3) go to sdks/builds and hit `make package`
4) it will fail due to corefx not being checked out.

[2018-08-21 20:37] lewurm commented on #10018
@Thaina I think it's best you ask our friends from the Blazor team in their gitter chat channel: https://gitter.im/aspnet/Blazor

[2018-08-21 21:03] kumpera opened #10225 "[sdks] iOS SDK doesn't build with desktop disabled"
Disable desktop and you get:
[code]

[2018-08-21 21:03] jaykrell commented on #7859
Same thing? Is important for structs to have private fields in the reference assemblies, so that I can put them in my own structs and get the correct sizes. We had memory corruption 10+ years ago when referenceassembly structs were missing their private fields.

[2018-08-22 00:16] dsgouda opened #10227 "ProductHeaderValue parser throws exception for empty values"
## Steps to Reproduce

1. Create a project targeting .NET framework on a MacOS machine
2. Use the snippet below to create a `.cs` file
3. Restore, Build and run the exe using mono

[code]

### Current Behavior
The `ProductHeaderValue` ctor throws an exception in the parser an empty `value` is passed to it
The Exception comes from [here](https://github.com/mono/mono/blob/d36902effdcb02d93b14943ce3c

[2018-08-22 03:36] warwickmm opened #10230 "Behavior of String.Equals differs from .NET for Hungarian culture"
It appears that the behavior of `String.Equals` differs from .NET for the `"hu-HU"` (Hungarian) culture.

## Steps to Reproduce

Consider the following:
[code]

### Current Behavior

The above code results in the following output:
[code]

### Expected Behavior

In a .NET project targeting the 4.6.1 framework, we get the following output:
[code]

## On which platforms did you notice this

[ ] macOS

[2018-08-22 07:19] #8708 closed

[2018-08-22 09:46] alexischr commented on #10197
This should be fixed with https://github.com/mono/mono/pull/10228,  correct?

[2018-08-22 10:40] oldtomdevel opened #10235 "Mono’s System.Windows.Forms implementation has new bugs in V5.14"
The release notes for V5.14 state that "Filip Navara has contributed significant improvements to Mono’s System.Windows.Forms implementation."
However, there are some functions that used to work fine till V5.12 but do not work any more in V5.14.
In my WinForms Applications the following functions are broken now due to the changes in the library:

1. If a font is assigned to a Form or directly to a

[2018-08-22 13:40] #7087 closed

[2018-08-22 14:35] akoeplinger commented on #10235
/cc @filipnavara

[2018-08-22 14:41] filipnavara commented on #10235
I will look into it.

[2018-08-22 14:54] baulig commented on #8689
Regardless of KeepAlive - it should be cleaned up if the handshake failed.

[2018-08-22 14:58] lambdageek commented on #9921
Two-phase STW for hybrid suspend landed on `master` and `2018-08`.

As I summarized in https://github.com/mono/mono/issues/9921#issuecomment-411897101 two-phase stop the world should alleviate problems with unknown locks in system calls, so we don't need (but could still benefit from) wrappers around every syscall or library function.

[2018-08-22 14:58] #9921 closed

[2018-08-22 15:00] filipnavara commented on #10235
Ok, I could easily reproduce 1 and 2. I don't see what's wrong with the table layout. Could you elaborate on that? On my macOS test setup it looks identical on 5.12 and 5.16 (which should not be different from 5.14 afaik).

[2018-08-22 15:05] kumpera commented on #10197
No, #10228 just ensures the submodules are checked out. System.Native still built in the bowels of the corefx checkout.

[2018-08-22 15:18] baulig commented on #8689
I'll have a look at this and see whether I can figure something out.

[2018-08-22 15:21] nealef commented on #8689
Even when it's successful and KeepAlive is not set shouldn't there be cleanup as well? Once a response is received the ssl/ctx/bio objects etc. for that request/response are no longer useful/usable and will gradually eat away memory until the app stops.

[2018-08-22 17:46] alexanderkyte commented on #10220
I think that a lack of an ability to recover from errors in stack walking makes us more brittle overall. The crash reporter isn't the only place where we have doubts about stack integrity and need to be able to create a stack trace. Any time we're handling exceptions that are propagated to managed, there's a chance that some pinvoked code was related to it somehow. Making correctness all or nothin

[2018-08-22 18:30] jawbrey commented on #10192
Can someone expand on Miguel's suggestion b) above?  Does he mean just roll our own client using HTTP Client?  Or is he suggesting that there is/are nuget packages that will (help) do this?  Or something else?

[2018-08-22 19:00] dsgouda commented on #10227
P.S.: This was discovered by an external user [here](https://github.com/Azure/azure-sdk-for-net/issues/4651)

[2018-08-22 19:01] softsan commented on #8350
After updating VS for Mac to 7.6. i got lots of error during compile time of my existing project which was working fine with the earlier version:
e.g.
if i have a variable like this:
`private string _url;`
it shows following error:
`Predefine type "system.string" is not defined or imported.`

There are lots of similar errors.
So any thoughts on this?

[2018-08-22 19:12] wilks-ifit commented on #8350
We followed this workaround: https://developercommunity.visualstudio.com/content/problem/317215/after-version-76-all-my-xamarin-forms-project-wont.html#reply-317644 - fixed iOS for me, but Android still has issues

[2018-08-22 19:27] softsan commented on #8350
Thanks. Yeh correct! that works for PCL and iOS. but Android still having some issue.

[2018-08-22 19:33] brendanzagaeski opened #10242 "Mono Framework MDK version 5.10.1.57 for macOS not yet in the download archive"
## Steps to Reproduce

Navigate to <https://download.mono-project.com/archive/5.10.1/macos-10-universal/> to check the list of available archived versions for Mono Framework MDK version 5.10.1.

### Current Behavior

Mono Framework MDK version 5.10.1.57 is not yet included in the list.

### Expected Behavior

The previous published build (Mono Framework MDK version 5.10.1.47) is there, so it looks

[2018-08-22 19:34] brendanzagaeski commented on #10242
/cc @directhex as a heads-up on this small item

[2018-08-22 19:39] kdubau opened #10243 "`opt` and `llc` missing from mono 2018-08 pkg"
## Steps to Reproduce

1. Install Mono 5.18 / 2018-08
2. `mono --aot --llvm someexecutable.exe`
3. fails with `sh: opt: command not found`

### Current Behavior

Cannot find the `opt` binary in Mono.framework.

[code]

### Expected Behavior

The `opt` binary should be found and should be able to AOT an executable with `mono --aot --llvm`.

On Mono 5.16 the binaries can be found:

[code]

## On whi

[2018-08-22 19:40] kumpera opened #10244 "[wasm] Make test.js use generated driver and bindings."
Right now sdks/wasm/test.js uses custom code to deal with loading mono. We should replace this with using a generated runtime.js.

Plus, deployment shouldn't depend on us cp'ing test.js to the packaged directory. packager should suppport a `--assets` option that takes non-dotnet deps.

[2018-08-22 19:47] luhenry commented on #10243
/cc @alexischr

[2018-08-22 19:48] luhenry commented on #10243
/cc @alexischr could you please take a look at it.

[2018-08-22 19:48] EgorBo commented on #10243
https://github.com/mono/mono/issues/9415

[2018-08-22 19:49] alexanderkyte commented on #10222
Once I have a few backports done, I'm going to pick up ``` Get the AOT compiler compiling + linking sample app```. Should I make an issue for it or discuss it here?

[2018-08-22 19:52] kdubau commented on #10243
I think #9415 explains why `mono --aot --llvm` doesn't work, but with 2018-08 even specifying the llvm path with `mono --aot=llvm,llvm-path=/Library/Frameworks/Mono.framework/Versions/Current/bin/ someexecutable.exe` still fails (as expected since `opt` is missing).

[2018-08-22 20:34] ahartmanns opened #10245 "MemoryMappedFile.CreateNew to create non-shared in-memory memory-mapped file crashes"
## Steps to Reproduce

1. Create Program.cs with the following content:
[code]
2. Compile Program.cs (attached):
`csc Program.cs`
3. Run the resulting executable:
`mono Program.exe`

### Current Behavior

Crash with the attached output:
[mono-mmap-crash.txt](https://github.com/mono/mono/files/2311886/mono-mmap-crash.txt)

### Expected Behavior

Program runs, does nothing visible, and terminates.
(

[2018-08-22 20:54] mhutch commented on #10076
I do not have a repro but I'll keep an eye out

[2018-08-22 20:59] kg commented on #9581
This is next on my todo list. If it's blocking you I can stop what I'm doing to try to knock it out.

[2018-08-23 01:20] w8w8w8 opened #10250 "WebAssembly-specific issue : chrome run 1 hour later , crash"
1: Write C# class , Declare 1000 variables.
code like this:

2: compile a dll file.
3: creat a blazor prject.
4: Use HttpClient GetByteArrayAsync load the dll file
5: I use js setInterVal() Execute Run(), and get 1000 variable's value, after 1 hour , my chrome crash.

![default](https://user-images.githubusercontent.com/4744039/44499228-90986d00-a6b5-11e8-970d-dfeace29ae86.png)

![default](https:/

[2018-08-23 10:05] oldtomdevel commented on #10235
I have attached a pic to show how it looks like on my system.

As one can expect from inspecting the source code,
the TextBox in the last line should be vertically centered
in the last line.
But in fact it is positioned too much towards the bottom.
This observation is true since Mono 5.14.
![wrong](https://user-images.githubusercontent.com/21215858/44519237-c4cb5800-a6cc-11e8-9bf2-1584ea871e7c.png

[2018-08-23 10:47] baulig commented on #9581
It is "blocking" in the sense that I require a commitment towards this happening in 2018-08.  It is irrelevant to me at which point in the 2018-08 integration process this is happening as I can easily do it locally for the time being.

In other words, as long as I can expect this to happen for 2018-08, it makes no difference to me when it is going to happen.

[2018-08-23 11:33] mandel-macaque commented on #10192
@jawbrey not sure, AFAIK there is no nuget package for WCF. Lets mention @migueldeicaza so that he can get back to us.

[2018-08-23 12:06] filipnavara commented on #10235
I do see the text box looks a little bit lower. However, when I resize the form it remains in the relative vertical position to the "label3" and vertically centred.

[2018-08-23 12:44] oldtomdevel commented on #10235
The TextBox is lower than it should be.

When the form is resized, the relative position of TextBox to label3 remains the same.
That is, when making the form bigger, the absolute position error is the same but the relative position error within the row decreases (at some size of the form you might get the wrong impression that everything were okay).

However, if the font of TextBox were correct i.

[2018-08-23 13:02] baulig commented on #8689
I think I found the problem, PR incoming.

[2018-08-23 13:08] filipnavara commented on #10235
Uh, it behaves differently for me, so either the issue was fixed and not merged into the 5.14 branch, or it behaves differently on macOS (unlikely):

<img width="361" alt="screenshot 2018-08-23 at 15 07 37" src="https://user-images.githubusercontent.com/1764393/44527153-51cedb00-a6e6-11e8-9669-06aff33149c3.png">

[2018-08-23 13:16] baulig commented on #8689
I had it running for about 5 minutes and it's not growing anymore.  Adding the `sslStream?.Dispose()` to `MonoTlsStream.CreateStream()` should already be enough to fix it, but I added the `IDisposable` just to make extra sure.  PR is up: https://github.com/mono/mono/pull/10254.

[2018-08-23 13:35] oldtomdevel commented on #10235
Your pic also confirms that TextBox is not positioned as expected.
NumericUpDown and ComboBox are in line with the corresponding Label in the same row of TableLayout. Hence, the text within NumericUpDown and ComboBox is also almost in line with the text within the corresponding Label controls.
TextBox shows a different behaviour although it has the same base class as NumericUpDown and ComboBox.
Ti

[2018-08-23 13:52] kumpera commented on #10222
@alexanderkyte That one I have a fix on my local branch: https://github.com/kumpera/mono/commit/9295d95b8b1c3ae2a13daed21aadc1e691e8bf80

[2018-08-23 13:53] kumpera commented on #10222
Tomorrow I'll extract the ready bits from that branch into a PR.

[2018-08-23 13:58] filipnavara commented on #10235
I do agree that the position is weird, but at least it's resized properly with the window. I assume the text box incorrectly reports its preferred size since it keeps the value from the old font somewhere.

[2018-08-23 15:02] directhex commented on #10242
Might have just been a CDN caching issue? I see the file listed fine.

[2018-08-23 15:43] filipnavara commented on #10235
Ok, found the last one and have a fix pending.

[2018-08-23 16:08] brendanzagaeski commented on #10242
@directhex, interesting. I still don't see the file in that list at the moment. For example, if I do an in-page search for the number 57, there aren't any matches. Just to double-check, are you seeing the file listed on the rendered HTML page (<https://download.mono-project.com/archive/5.10.1/macos-10-universal/>) or on a list of the files in storage that should be picked up by that page?

Thanks!

[2018-08-23 16:09] brendanzagaeski commented on #10242
In case it's helpful for additional reference, I don't think Mono Framework MDK version 5.10.1.57 was published to <https://www.mono-project.com/download/stable/> either, so I was guessing that the usual upload step for that exact version hadn't happened yet.

[2018-08-23 16:15] lewurm commented on #9938
I think a better place to ask this kind of question is in our Gitter channel: https://gitter.im/mono/mono

[2018-08-23 16:15] #9938 closed

[2018-08-23 16:32] lewurm commented on #10250
Hello @w8w8w8, thanks for your bug report. Could you provide some code sample that reproduces the issue? Thanks!

[2018-08-23 16:48] lewurm opened #10260 "Interpreter support for hybrid/coop suspend"
We've recently switched over to hybrid suspend for the runtime as default. This doesn't work in the interpreter yet, so we fall back to preemptive suspend.

Quoting @lambdageek on the difference between hybrid and coop, regarding the interpreter:

Most of the tests are actually passing in hybrid suspend (https://github.com/mono/mono/pull/7046#issuecomment-365764273), but someone needs to look into

[2018-08-23 17:34] lambdageek commented on #10260
@lewurm Do we have a list of the failing tests anywhere?  If not, I can work on generating one. After that, I can start to look at them.

For introducing safepoints, do you think we should take an approach similar to the JIT: insert safepoint opcodes in interp/transform.c, or something more ad-hoc - safepoint when the interpreter enters a new function and when it interprets a backward jump?

[2018-08-23 17:37] lewurm commented on #9897
I tried to reproduce this on `macOS` with `5.12.0.305`, but your provided program outputs:
[code]
So I can't reproduce your issue. I'm assuming there is nothing special about the table your program is inserting to; I created it like this:
[code]

So it could be related that it's running on Linux, but I doubt that. `Exception.txt` contains a native stack trace; unfortunately you haven't installed t

[2018-08-23 18:46] lewurm commented on #10260
I don't have a list handy, I just remember it not being that many tests failing.

I don't think dedicated opcodes are necessary. Maybe a new opcode for specifically backward jumps, so we only do the safepoint check there. Also safepointing on function entry sounds good to me.

[2018-08-23 19:16] lewurm commented on #8811
That's probably a noob question, but I keep getting:
[code]
am I supposed to create the table somehow by myself? if so, how?

/cc @roji

[2018-08-23 19:20] lewurm commented on #9897
likely a duplicate of https://github.com/mono/mono/issues/8811
I'm closing this for now.

[2018-08-23 19:20] #9897 closed

[2018-08-23 19:49] nealef commented on #8689
I ran it through 1000 iterations with these changes applied (and my ones backed off). I am also seeing no growth:
![8689-64](https://user-images.githubusercontent.com/308986/44548437-1800d300-a6ec-11e8-9bfa-f91fb0de85f1.png)

[2018-08-23 20:25] alexanderkyte opened #10262 "[prototype] Create sentry telemetry prototype"
- Get MVP up and running that uploads our blobs as messages
- Improve mono support by fixing https://github.com/getsentry/raven-csharp/issues/268 so we're treated as Exceptions

[2018-08-23 20:30] EgorBo commented on #10243
ah, sorry I didn't notice `find /Library/Frameworks/Mono.framework -name "opt"` results

[2018-08-23 20:41] directhex commented on #10242
Would you believe I was looking for 47, not 57?

[2018-08-23 20:46] directhex commented on #10242
Yeah, OK, so the mono-project.com release pipeline is based on either publishing to a branch, or promotion to a branch. 5.10.1.47 is the last  5.10 version that was promoted from preview to stable: https://jenkins.mono-project.com/view/Releases/job/ng-release-promote/156/

The next promotion to stable was 5.12.0.226: https://jenkins.mono-project.com/view/Releases/job/ng-release-promote/182/

Why e

[2018-08-23 20:57] jaykrell commented on #10260
I believe function entry and "loop back edges" are the standard places. Maybe also icalls are different, i.e. before or after the function, not the function itself? (not  clear if "function entry"  is the start of a function, vs. the call or the return).

[2018-08-23 21:06] brendanzagaeski commented on #10242
No worries, and sounds good thanks. I was checking for 5.10.1.57 because that version was published to the Visual Studio for Mac updater channels as part of the Visual Studio 2017 for Mac version 7.5.2 release (from May 30). That said, no worries if there won't necessarily always be an update to the mono-project.com download list for every version published through Visual Studio for Mac. In that c

[2018-08-23 22:28] HinTak opened #10268 "mixed mode assembly (still) not working on win32 build"
## Steps to Reproduce

1. Download one of the hybrid build from `https://sourceforge.net/projects/hp-pxl-jetready/files/Microsoft%20Font%20Validator/old/win32.hybrid/`
2. run

[code]
3. See result below:

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[*] Windows

**Version Used**:

[code]

## Stacktrace

[code]

[2018-08-23 22:31] HinTak commented on #10268
Also, this works correctly under wine with genuine microsoft dotnet framework v2.

I filed a similar bug for wine-mono also - I thought I did file one at the Xamarin bugzilla for the full mono binary but I could not find my old bug. This is mainly a re-test. It did not work the last time I tried, and I am just trying it again.

[2018-08-23 22:33] HinTak commented on #10268
The wine-mono issue I filed is https://github.com/madewokherd/wine-mono/issues/29

[2018-08-24 02:49] Marshal313 commented on #8811
@lewurm, So as you requested in issue #9897 I've run the code after installing `mono-runtime-dbg` package and it seems I get the exact same output. [Here it is in a text file](https://github.com/mono/mono/files/2316827/TheNewException.txt)
By the way I'm not sure if issue #9897 is really a duplicate of this Issue, Because both Exceptions and Stack traces are different, but whatever ...

I'm not re

[2018-08-24 02:54] kumpera commented on #10250
This looks like an issue in Blazor's bindings. cc @stevesanderson

[2018-08-24 02:55] kumpera commented on #10245
cc @lambdageek

[2018-08-24 03:00] kumpera commented on #10189
Thanks for reporting your issue.
Could you provide a test case that lets us reproduce the issue?

[2018-08-24 03:06] kg opened #10272 "Not possible to build llvm configuration on debian"
I think something about our build instructions or makefiles or source is configured not quite right, because it's not possible for me to build on debian if I have llvm turned on:

[code]
A friend suggested that this looks like it's pulling in an outdated version of llvm, presumably from my system packages. I installed all the suggested apt packages from the linux build instructions, and don't reca

[2018-08-24 03:15] w8w8w8 commented on #10250
@lewurm there are my simple code.
[simple.zip](https://github.com/mono/mono/files/2316854/simple.zip)

[2018-08-24 06:26] 0xced opened #10273 "System.TypeLoadException in Mono.Security (Could not resolve type with token 0100004c)"
## Steps to Reproduce

1. Using this sample project

<details>
  <summary>NpgsqlOnMono.csproj</summary>

[code]

</details>

<details>
  <summary>Program.cs</summary>

[code]
</details>

2. Restore packages with `/Library/Frameworks/Mono.framework/Versions/5.14.0/Commands/msbuild /restore`

3. Build project with `/Library/Frameworks/Mono.framework/Versions/5.14.0/Commands/msbuild`

4. Run with `/L

[2018-08-24 06:50] 0xced commented on #10273
It turns out it’s not mono's fault, but Npgsql 2.2.7 NuGet package which bundles `Mono.Security.dll`. Renaming `Mono.Security.dll` to `Mono.Security.dll.nope` in `~/.nuget/packages/npgsql/2.2.7/lib/net45` then cleaning and rebuilding the project solved this issue.

See also [Could not load type 'System.Net.Security.SslStream'](https://stackoverflow.com/questions/36641573/could-not-load-type-system

[2018-08-24 06:50] #10273 closed

[2018-08-24 07:17] #10035 closed

[2018-08-24 09:25] MaximLipnin opened #10276 "[Reflection] Generic method doesn't inherit ReflectedType of its template"
## Steps to Reproduce

1.  Compile and execute the following code:

[code]
or adapt [this xunit test](https://github.com/mono/corefx/blob/master/src/System.Runtime/tests/System/Reflection/MemberInfoTests.cs#L48).
2.
3.

### Current Behavior
The type of Derived class (`MainClass+Derived`) and ReflectedType (`MainClass+Base`) of the constructed generic method don't equal.
### Expected Behavior

The

[2018-08-24 09:44] MaximLipnin opened #10277 "[Reflection] Event accessors don't inherit ReflectedType"
## Steps to Reproduce

1. Compile and run the following code:
[code]
or adapt [this xunit test](https://github.com/mono/corefx/blob/master/src/System.Runtime/tests/System/Reflection/MemberInfoTests.cs#L93).
2.
3.

### Current Behavior

The type of Derived class (`MainClass+Derived`) and ReflectedType of the event accessors (`MainClass+Base`) don't equal.

### Expected Behavior

The type of Derived

[2018-08-24 13:36] Finneyv commented on #9808
Hey I've been experiencing this same issue with my Xamarin project on both iOS and Android.  Ever since I've updated my Visual Studio 2017 to 15.8.1 I've been seeing the progress percentage return 0 and the TotalBytesToReceive return -1.

Is there a work around to this?  I've tried to get the file size from the server some other way with WebResponse and client.OpenRead but that creates quite a few

[2018-08-24 14:06] CartBlanche opened #10278 "[Mac] Run-Time Error - "Could not resolve type with token 01000065...""
## Steps to Reproduce

1. Upgrade to latest Stable...
=== Visual Studio Enterprise 2017 for Mac ===

Version 7.6 (build 2190)
Installation UUID: 60c7c193-36a0-40cb-a1f6-65589da22877
Runtime:
	Mono 5.12.0.301 (2018-02/4fe3280bba1) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 512000301

=== NuGet ===

Version: 4.3.1.4445

=== .NET Core ===

Run

[2018-08-24 14:59] directhex commented on #10242
Mono versions corresponding to stable releases of VS _ought_ to end up published to the `vs` branch on mono-project.com, so the bug is real. I don't slavishly follow those release threads, as they rarely include Mono updates, and go on forever.

[2018-08-24 15:10] #10242 closed

[2018-08-24 15:33] SwooshyCueb commented on #8657
What's the status on this? I see it's in "Backlog." Does this mean it might be a while before 4.7.2 makes it to the preview builds?

[2018-08-24 16:40] brendanzagaeski commented on #10242
Sounds perfect. Thanks again!

[2018-08-24 17:41] jaredpar opened #10280 "Mono crashing running C# semantic unit tests"
## Steps to Reproduce

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-semantic-crash`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --mono`

### Actual Behavior
This will run the Semantic unit tests only and eventually Mono will crash with this error.

Full stack and dump info at the end of the report.

Note: xuni

[2018-08-24 18:38] alexanderkyte opened #10281 "Add mkbundle tests to CI"
Mkbundle seems to be customer facing along control flow paths that aren’t stressed through the Xamarin products. It’s clear that if we want to avoid breaking community members’ usage of this, we need to add some basic sanity checking to the test harness.

[2018-08-24 20:46] sourceskyboxer commented on #10281
Thanks It seems not successful generation :/

Check out of mkbundle happens error/exception
See [my glist](https://gist.github.com/sourceskyboxer/fce14d8cb694f2218c704d303ab9a268)

Since 5.14 to 5.19 did Mono have issue after generation failure . Thanks!

[2018-08-24 23:30] Therzok commented on #10280
4.6.2 is pretty old?

[2018-08-25 00:09] w8w8w8 commented on #10250
@SteveSandersonMS   OK， today I will upload a new project !

[2018-08-25 00:40] w8w8w8 commented on #10250
dependencies “Rectifyf”  in simple.zip file

[2018-08-25 13:18] Geigerkind opened #10289 "SerializationException with Type 'System.Text.Latin1Encoding" using FastCGI"
## Steps to Reproduce

EDIT: I found a way to reproduce it:
On my website this code is executed prior to the error:

In that particular case:
dr.GetInt16(0) had the value 0, so the response below was send.

[code]

### Current Behavior

It throws an error (Stacktrace attached)

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

Not

[2018-08-25 14:57] Geigerkind commented on #10289
Upon further investigation, replacing the custom response with a simple "Response.Redirect("")" solved the problem. However this problem seems to occour at other places as well that I did not find yet.
Will keep this post updated.

[2018-08-25 19:03] softsan commented on #8350
Upgraded to VS for mac Version 7.6.1 (build 9). please find below details:

**Runtime:**
	Mono 5.12.0.301 (2018-02/4fe3280bba1) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

**Xamarin.Android**
Version: 9.0.0.19 (Visual Studio Professional)

Now i am not able to upload an apk to google play store.
When i do signing of apk using  Build->Archive option  with the

[2018-08-25 19:30] T0bi-Ethirbirge commented on #8225
Error mapping file: mono_file_map_error failed file:C:\Users\tobi\Desktop\Test\Test\bin\Debug\New.exe length:0x46D000 offset:0x27000 function:MapViewOfFile error:The base address or the file offset specified does not have the proper alignment.(0x46C).
Now how could we fix this.

[2018-08-25 19:40] T0bi-Ethirbirge opened #10290 "Mkbundle windows problem"
### Current Behavior
Error mapping file: mono_file_map_error failed file:NewConsoleApp.exe length:0x46D000 offset:0x27000 function:MapViewOfFile error:The base address or the file offset specified does not have the proper alignment.(0x46C).

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[-] Windows

**Version Used**:
Mono 5.12.0.

[2018-08-25 19:52] jaykrell commented on #10290
Please try https://github.com/mono/mono/pull/8884.

[2018-08-25 19:53] jaykrell commented on #10290
Or as an easier/smaller fix, just change `4096` to  `1 << 16`.

[2018-08-25 21:37] T0bi-Ethirbirge commented on #10290
You are a lifesaver.
Thanks man

[2018-08-25 22:48] T0bi-Ethirbirge commented on #10290
Well another problem
function:MapViewOfFile error:Access is denied.(0x5)

[2018-08-25 22:56] T0bi-Ethirbirge commented on #10290
Well it worked on my main PC.
But the server it gives me this error function:MapViewOfFile error:Access is denied.(0x5)

[2018-08-25 22:56] #10290 closed

[2018-08-26 05:48] jaykrell commented on #10290
What  happened with "Well it worked on my main PC.
But the server it gives me this error function:MapViewOfFile error:Access is denied.(0x5)"?

[2018-08-26 08:11] jaykrell commented on #10085
[empty-struct-test]

This is not a change in runtime semantic.
It is only a change in a test semantic.

libtest.c contains parts of tests that pass around empty structs.

Empty structs are not allowed in ANSI C.

[code]

They are an extension in gcc/clang and have size==0:

[code]

They are valid in C++ and have size==1:

[code]

This difference in size, means libtest.c has different meaning in C

[2018-08-26 08:34] jaykrell commented on #10085
# [type-underlying-enum]

I haven't seen this problem, and it difficult to have in code that is portable to multiple platforms/compilers, but clang/gcc and clang++/g++ different in choice of type underlying enums.

[code]

Visual C++ does not have this problem -- they are both `int` in C and C++.
In C++11 we can explicitly chose the type underlying enums so if there were an actual problem we would

[2018-08-26 22:30] jaykrell opened #10298 "Assertion at mini-exceptions.c:1429, condition `frame->ji && frame->type != FRAME_TYPE_TRAMPOLINE' not met"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-fullaot+llvm/4522/parsed_console/log.html

Entering thread summarizer from 7fbfedef1bc0
Self-reporting for thread 7fbfedef1bc0. Registered summarizing thread right now is 7fbfedef1bc0
Waiting for signalled thread 7fbfedef1bc0 to collect stacktrace. Status: MONO_SUMMARY_EX

[2018-08-27 08:58] thomasbehr opened #10301 "Exe files are not executable on Linux"
## Steps to Reproduce

1. Unzip [HelloWord.zip](https://github.com/mono/mono/files/2323097/HelloWord.zip)
2. Run xbuild or msbuild on Mono 5.0+

### Current Behavior

The executable `bin/HelloWorld.exe` has the executable permission not set.

### Expected Behavior

Executables produced by the C# compiler should have the executable permission set. This is still the behavior when compiling with `mcs

[2018-08-27 09:17] thomasbehr opened #10302 "MethodAccessException when creating instance of protected nested class"
## Steps to Reproduce

1. Compile the following code:

[code]
2. Run the resulting exe.

### Current Behavior

Code breaks down with MethodAccessException, see below.

### Expected Behavior

Code executes without exception.

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**:

5.10, used to work with 4.6 (and before).

## Stacktrace

[code]

[2018-08-27 09:52] Nomad1 opened #10303 "Latest mono on macOS broke Xamarin Studio 5 compatibility: Marshal.SizeOf reports type 0x01 not handled"
With the update to Mono 5.16.0.133 (came with VS Preview channel) Xamarin Studio 5 stopped working. Investigation shows Marshal.SizeOf issue. Since Xamarin Studio 5 is no longer updated and there are potentially other apps with similar behavior, I'm reporting this as Mono regression.

## Steps to Reproduce

1. Install Mono 5.16.0.113
2. Install Xamarin Studio 5.10.3.51-0
3. Run Xamarin Studio, tak

[2018-08-27 10:51] marek-safar commented on #10289
@EgorBo we'll have to bring the serialization for this type back at least for net_4_x

[2018-08-27 11:36] marek-safar commented on #10302
I cannot reproduce it with recent stable Mono version 5.14

[2018-08-27 11:36] #10302 closed

[2018-08-27 11:39] Yves-Be opened #10304 "WCF - FaultExceptions are ignored when using a binding with Streamed transferMode"
## Steps to Reproduce

1. Host any WCF service with an endpoint with transferMode="Streamed"
2. Call an operation of the service from a client on Android
3. In the service, throw an Exception with a custom message
4. Catch the exception on the Android client

### Current Behavior

On Android, a WebException is caught with the following message :

### Expected Behavior

A FaultException is caught w

[2018-08-27 11:41] marek-safar commented on #10303
@luhenry could you handle this?

[2018-08-27 11:44] marek-safar commented on #10301
Could you please report the issue upstream at https://github.com/dotnet/roslyn/issues instead?

[2018-08-27 11:58] marek-safar commented on #10280
@jaredpar is it really 4.6.2? Our current stable version on Linux is 5.14.

We are tracking similar effort on our side at https://github.com/mono/mono/issues/6991

[2018-08-27 12:16] marek-safar commented on #8657
@SwooshyCueb it means nobody is actively working on this task

[2018-08-27 12:48] baulig commented on #10198
X509Chain is not fully supported yet (and won't be in short-term future).

This will be addresses as part of the bigger ongoing X509 work this fall, which will use the CoreFX version for most of these APIs.

[2018-08-27 12:51] baulig commented on #10061
All the relevant changes have landed in 2018-06, closing this as duplicate of #7075.

[2018-08-27 12:51] #10061 closed

[2018-08-27 12:55] baulig commented on #10050
Don't use the `tlstest` tool - it's obsolete and scheduled for removal (as part of the general Legacy TLS removal).

All the comments above regarding the TLS Provider are irrelevant because the tool is hard-coded to use the old legacy provider.

[2018-08-27 13:05] baulig commented on #10054
I would argue the `DeflateStream` behaves absolutely correctly - getting a 0 return from the underlying `Read()` means end-of-stream.  However, I fail to understand why `MemoryStream` would return 0 here.

[2018-08-27 13:10] baulig commented on #10054
Well, I added some debugging to your test case and it turns out that on the second invocation of `this.baseStream.Read(buffer, offset, Math.Min(count, this.limit))` your `this.limit` is 0.

[2018-08-27 13:19] filipnavara commented on #10054
@baulig I think that's intentional that the second read calls it with zero. Imagine the scenario when DeflateStream wraps a NetworkStream and the underlying socket is non-blocking. I would expect the DeflateStream.Read to return zero when there are no data in the socket, but work on a subsequent call when some data arrives.

[2018-08-27 13:29] filipnavara commented on #10054
Well, it's "end of stream" at that particular moment, so it's not a violation of that rule. There's no guarantee that it won't change.

[2018-08-27 13:35] baulig commented on #10054
The problem is that we have a lot of other code with the assumption that "end of stream" is permanent - some of which may be very hard to change.

[2018-08-27 13:41] EgorBo commented on #10230
Thank you for your bug-report. It will be fixed once I finish my PR to import CoreFX sources for CultureInfo and related types (just checked this case on my branch)

[2018-08-27 13:52] lewurm commented on #10250
which mono version did you test this with? the issue you are observing is potentially fixed by https://github.com/mono/mono/pull/9985

[2018-08-27 13:57] kumpera commented on #10250
@SteveSandersonMS it's not 100% clear from the reporter what's the issue, but looks to be a memory leak of TypedArrays, which for a blazor app would be due to Blazor's bindings right?

[2018-08-27 14:20] sourceskyboxer commented on #10301
That is not broken - just call `mono HelloWorld.exe `

If you want build native executable
[code]

if you want move to /usr/bin than you can `sudo cp helloworld_linux /usr/bin/helloworld_linux`

than you type:
`helloworld_linux`

That is easy.

[2018-08-27 14:36] #8356 closed

[2018-08-27 14:48] luhenry commented on #7053
Only very few assemblies left after https://github.com/mono/mono/pull/9648

[2018-08-27 14:59] thomasbehr commented on #10301
Done, see [https://github.com/dotnet/roslyn/issues/29529](https://github.com/dotnet/roslyn/issues/29529).

[2018-08-27 15:03] kumpera commented on #10222
PR #10266 gets us to the point were we crash when executing managed code due to conflicting function pointer types.

[2018-08-27 15:09] jaredpar commented on #10280
@marek-safar

Double checked and it looks like my adding of the stable Mono servers to the apt list failed somehow. Once I added them in and re-updated I got to 5.14.0.177 which is what seems to be expected. I'll push forward with that version.

[2018-08-27 15:09] #10280 closed

[2018-08-27 15:13] brendanzagaeski commented on #8350
I believe you are seeing the issue that is being tracked in the following items on Visual Studio Developer Community. I would recommend to vote on and follow those items for updates, potential workarounds, and fix notifications:

- <https://developercommunity.visualstudio.com/content/problem/317799/major-error-76-build-2190-creates-invalid-apk-for.html>
- <https://developercommunity.visualstudio.c

[2018-08-27 15:13] jaredpar commented on #6991
Why have a custom script here versus using `./build.sh --test --mono`. The latter will run the tests as we're expecting using mono from the command line.

The script in the current form will get broken from time to time as our build layout and TFs change. It's already broken if you sync up with dotnet/master as our tests changed from net461 to net46 and all of our test assemblies got renamed.

Wha

[2018-08-27 15:14] jaredpar commented on #6991
Here is the issue we are tracking on our side to do this work.

https://github.com/dotnet/roslyn/issues/28011

[2018-08-27 15:18] kumpera commented on #10222
Zoltan has a branch in (https://github.com/vargaz/mono/commits/wasm-changes) with a bunch of changes, I plan to pick and merge them once the previous PR goes in.

That branch raised one interesting issue. Do we want to have a single runtime for interp/aot or not?
My concern is that emscripten documents C++ exceptions as experience in size&perf. We should validate that claim with our workload and b

[2018-08-27 15:26] ygra commented on #10301
@sourceskyboxer Considering that `mcs` still sets the executable permission when creating the `.exe` and build scripts (that might be shared between Linux and Windows, running on both Mono and .NET) used to be able to simply build and then run the compiled executable without prefixing with `mono`, this definitely _is_ a regression compared to previous Mono versions (which defaulted to `mcs` from w

[2018-08-27 15:41] marek-safar commented on #10101
Do we have any estimate on this one ?

[2018-08-27 15:55] kumpera commented on #10101
Probably a day of work. I have't scheduled it though.

[2018-08-27 16:06] NattyNarwhal commented on #10050
To be honest, I just use `WebClient` in the REPL for testing TLS under Mono, but it's not a general TLS testing tool. Something simple using `SslStream` would probably do.

[2018-08-27 16:19] jaredpar opened #10309 "Mono issuing SIGSEGV running C# Semantic Tests"
## Steps to Reproduce
This was found attempting to get the C# semantic tests [running on Mono](https://github.com/dotnet/roslyn/issues/28011)

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-semantic-crash2`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --mono`

### Actual Behavior
This will run the Semantic unit t

[2018-08-27 16:50] lewurm commented on #10309
@jaredpar this is a crash in the runtime, but unfortunately`Native stacktrace:` is empty (at the end of the log). Could you make sure to install `gdb` and `mono-runtime-dbg` and run again?

[2018-08-27 17:11] kzryzstof opened #10310 "Xamarin.iOS is unable to find the 'Bitmap' type in the NuGet package System.Drawing.Common"
I am using Visual Studio 15.8.1 on Windows 10 1803 running on a mac using Parallels. The Build agent is on the mac, using Xamarin 11.14.0.11.

1. Create a C# .netstandard 2.0 library.
2. Add a reference to the NuGet package System.Drawing.Common
3. Add the following class:

[code]

4. Create an Xamarin.iOS application targeting 11.4.
5. Add a reference to the NuGet package System.Drawing.Common
6.

[2018-08-27 18:06] borgdylan commented on #10301
One should not depend on the executability of .exe file son linux. The default loader registered in binfmt might be wine and not mono.

[2018-08-27 19:52] #9989 closed

[2018-08-27 20:46] migueldeicaza opened #10317 "Support for DefaultDllImportSearchPathsAttribute"
While we surface this attribute in Mono: `DefaultDllImportSearchPathsAttribute`, we do not have support for it on the runtime.

Personally, I think that this attribute is not really useful, as we have `dllmap`, and there is a better system coming to .NET, but we probably should document this site as not supporting it:

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.defa

[2018-08-27 22:02] jaredpar commented on #10309
@lewurm I added those packages, re-ran the repro steps and the process just hangs at the `Native stacktrace:` line. I checked to see if it was busy generating data but the `mono` process appears to be idle. Let it run for a bit but nothing happened.

[2018-08-27 22:35] lambdageek opened #10318 "Coop: deadlock in threadpool-exceptions1.exe"
The test `threadpool-exceptions1.exe` may deadlock when using cooperative suspend.

The test in question has two threads, one (Thread 4) executing
`Environment.Exit (1)`, the other (Thread 1) is executing `Monitor.Wait (object)`.

Stack traces:
[code]

Thread 4 is the suspend initiator, it called
`mono_thread_suspend_all_other_threads` which called `lock_thread` on the victim
thread (Thread 1).  T

[2018-08-27 22:36] lambdageek commented on #10318
Actually I'm not sure if this is a race in general, or if it's related to coop suspend specifically.  I don't entirely understand how the interrupt tokens work under coop vs preemptive suspend.

[2018-08-27 22:56] jaykrell opened #10319 "C++ worsenings/improvements"
# The conversion has some classes of compromises.

1.  The code errs toward one codebase that is valid C and C++, erring away from #ifdef __cplusplus.
If/once the tree is commited to C++, C++ idioms can be used, instead of a common C/C++ subset.

2. Time and churn rate. Maybe given more/faster churn/time, other alteratives would be used.

3. Time and decision making time. What I mean, is it *possi

[2018-08-27 23:26] jaredpar commented on #10309
@lewurm also if you all have a guide on how to best report errors like this please feel free to point me to it. I looked around and didn't see one. There are likely to be a few more of these coming (have at least one I'm holding back until I make sure I have the right info on this issue).

[2018-08-27 23:39] jaykrell commented on #10309
Is there a  verbose switch, i.e. to report a command to run under a debugger? I'll look.

[2018-08-28 00:39] jaykrell commented on #10309
Does this break the terminal afterward for anyone else?

Anyway:

[code]

[2018-08-28 08:18] thomasbehr commented on #10301
@borgdylan Unless you have full control over the machine where the application built by Mono is executed. Not every executable is shipped to a customer where you have no control over the execution environment.

[2018-08-28 11:26] marek-safar commented on #10317
This is .NET 4.5 addition which we never implemented but considering it made it to .NET Standard we probably should in some form.

[2018-08-28 12:06] T0bi-Ethirbirge opened #10325 "How to link a .res file with mkbundle."
Hey sorry for asking again.
If i want to link a .res file with mkbundle what do i do
Is it by adding
`compilerArgs.Add (compiler.QuoteArg ("resource.res"));`
 in [here](https://github.com/mono/mono/blob/master/mcs/tools/mkbundle/mkbundle.cs#L2958)
Or what.
Thank you again

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[-] Windows

**Version Used**:
Mono 5.12.0

[2018-08-28 12:54] SteveSandersonMS commented on #10250
I don't have any reason to think that. There isn't any code in Blazor's JS-side library that holds TypedArray instances anywhere that should be reachable beyond the current synchronous call.

[2018-08-28 13:14] kzryzstof commented on #10310
Note: Alex Ghiondea from Microsoft has apparently been able to get [a repro as well](https://stackoverflow.com/questions/51938431/xamarin-ios-does-not-recognize-the-bitmap-type-from-the-referenced-system-draw?noredirect=1#comment91041719_51938431) on Stack Overflow.

[2018-08-28 13:30] kumpera commented on #10250
@SteveSandersonMS I guess I'll have to dig deeper on this one.

[2018-08-28 13:38] lewurm commented on #10309
it's either a GC issue or memory corruption. /cc @BrzVlad

[2018-08-28 13:48] SteveSandersonMS commented on #10250
@kumpera It looks to me like the posted code is calling `Assembly.Load(bytes)`, possibly over and over in a loop. Since we don't support unloading assemblies, it would make sense if this was leaking.

[2018-08-28 14:33] marek-safar commented on #10310
Right now our implementation for XA and XI is empty https://github.com/mono/mono/blob/master/mcs/class/Facades/System.Drawing.Common/TypeForwarders.cs as the types are .NET specific. We plan to add the APIs which can be made portable and throw PNSE for the rest later.

[2018-08-28 14:36] marek-safar opened #10331 "System.Drawing.Common Facade needs implementation"
Right now our implementation for mobile profiles is empty https://github.com/mono/mono/blob/master/mcs/class/Facades/System.Drawing.Common/TypeForwarders.cs but the System.Drawing.Common nuget forwards to them.

Neither XI or XA have the types available but we should include what we can from System.Drawing and throw PNSE for the rest.

[2018-08-28 14:38] kzryzstof commented on #10310
How can this _somehow_ work with XA but not XI if both are empty?

[2018-08-28 14:39] marek-safar commented on #10310
We provide full implementation in the facade

[2018-08-28 15:34] kumpera commented on #10250
Hmm, yes, that's by design. We don't support assembly unloading and it will cause unbound memory usage.

I'm sorry to say that this is not on our roadmap @w8w8w8. @luhenry do we have a tracking issue for that?

[2018-08-28 16:05] jaredpar opened #10332 "Mono crashing with SIBABRT running C# symbol tests"
## Steps to Reproduce
This was found refactoring some Mono specific helpers in the Roslyn code base. [This PR](https://github.com/dotnet/roslyn/pull/29533) should strictly run less code in the Mono runtime as it

1. Moves to the CoreClr ilasm tool vs the Mono based one.
1. Moves the check to skip PEVerify on Mono to an earlier point in the code (avoids unnecessarily going across an `AppDomain` bou

[2018-08-28 21:46] alexanderkyte opened #10340 "[runtime] GC Handles are unsafe to use when lock-holding threads suspended/dead"
It's possible to run into the following situation:

[code]

in this case, the crash dumper is trying to get access to the MonoInternalThread object through the GC Handle. I need to be able to make the GC Handle here, because other code is going to concurrently be crashing and trying to clean up those threads. If I don't use a handle, I will often be referencing freed memory.

The fix then seems to

[2018-08-28 22:15] lambdageek commented on #10340
@alexanderkyte take a look at `create_internal_thread_object` - AFAICT `MonoInternalThread` is pinned if we're using a moving GC.

Also hybrid suspend does not require gchandle to be usable when threads are suspended.  A thread should be in GC Unsafe mode to manipulate managed memory.

[2018-08-28 23:31] alexanderkyte commented on #10340
The problem is that the other pinned reference is not enough to keep it alive after things like domain shutdown begin to fire and the thread has been freed. I want to check that the thread is dead by keeping this memory alive if that's true. Alive until I'm done with it and free the handle.

[2018-08-28 23:32] alexanderkyte commented on #10340
I am thinking of just signaling every thread and then starting dumping after they're waiting

[2018-08-28 23:47] jaykrell commented on #10340
How about fork to stop the world? Or do you need something more consistent?

[2018-08-28 23:48] alexanderkyte commented on #10340
Stop the world interacts with a lot of machinery that may be broken. My hope is to take fewer dependencies on stability, not more.

[2018-08-28 23:58] jaykrell commented on #10340
I mean, if you fork, then in the child process, the only remaining thread is the caller, so you have effectively stopped the world, w/o any signaling or waiting or anything, very portably to all Posix systems.

Fork will first call the pthread_atfork handlers though.

[2018-08-29 00:32] w8w8w8 commented on #10250
@SteveSandersonMS  I Assembly.load()  on `protected override async Task OnInitAsync()`, not over and over , ok, today I Reduce code ， and will upload new project.   @kumpera .
thank everybody

[2018-08-29 01:12] w8w8w8 commented on #10250
Since you said that it may be caused by **Assembly.Load(bytes)**, I re-doed a project. This project is very simple, just reflect the read value, and then output value in console,  _sorry my english_ .

the **Rectifyf.FlowsheetBase** class
[Rectifyf.zip](https://github.com/mono/mono/files/2330320/Rectifyf.zip)

and  this is my chrome status:

![21](https://user-images.githubusercontent.com/4744039/

[2018-08-29 02:13] migueldeicaza commented on #10317
I only ran into this as part of a discussion somewhere else where this did not really solve the problem they were having, and I was curious about it.

So I think that given that this is not really a fix for anything, I would not prioritize this as someone we should implement.   We should go down the path of documenting the behavior, and if a real need arises, do this.

[2018-08-29 02:15] migueldeicaza commented on #10317
Tracking the doc issue: https://github.com/dotnet/docs/issues/7313

[2018-08-29 03:32] migueldeicaza commented on #10230
This is a bit of a complicated matter and has a long history behind it.

The code that performs this work was an attempt to track the behavior of Windows at the time, which predated the Unicode string collation rules, so they were not exactly the same.

I like what Silverlight did in this regard, as they moved towards a world where the string collation was platform specific, this had the advantage

[2018-08-29 03:33] migueldeicaza commented on #10179
Likely the version of Mono on the Ubuntu machine is newer than the version on the Mac.  Make sure they are the same version.

[2018-08-29 03:35] migueldeicaza commented on #10154
Is it possible to provide a test case, or access to the server endpoint where this is happening?

Also, please provide the full details of your OS.

@baulig  - do we have a similar test that we can use to attempt to repro this?

[2018-08-29 05:05] absinghal opened #10344 "NetHttpBinding in Mono + Xamarin.Android + Xamarin.iOS"
NetHttpBinding is currently present as a stub in Mono source code.

Here's the case for completing it quickly:

-     Good way to incorporate duplex web services.
-     Based on Http and available in Azure app services so can be used in modern mobile apps
-     Available in .Net Standard projects via System.ServiceModel.Http Nuget package
-     Part of .Net core open source, so code can be (re) us

[2018-08-29 08:38] jaykrell commented on #10319
[goto-around-init]

before:
[code]

after:
[code]

Nobody likes this.
It is sprinkled around now and not  easy to find.
There are a few alternatives.
 - move locals to the top, initialized or not
 - try to rework the scopes so that local is not in scope of label; this isn't necessarily pretty or  possible
 - return or raise an exception -- this is pretty compelling, with just of uncertainty; in pa

[2018-08-29 08:53] SteveSandersonMS commented on #10250
Thanks for the additional info, @w8w8w8.

The code posted above spams the console pretty hard.  It writes hundreds of items per second to the console. These are all strings that the browser has to keep in memory permanently (because you might scroll back up in the console window to see earlier entries). I might be wrong, but it looks like this is what primarily drives the memory growth.

As an exp

[2018-08-29 09:03] agonzalezm commented on #10154
I fixed this overriding webclient to create my own webclient and expose Timeout property and increase it to a higher value. This was not needed in 4.8, not sure why timeout is so low in 5.14.

[2018-08-29 09:42] Therzok opened #10350 "VSMac randomly hangs with mono 5.19"
## Steps to Reproduce

1. Install mono 5.19 (not sure if 5.16 exhibits the same behaviour)
2. Load a project and use the IDE for a bit
3. I just tabbed out, went to write to slack, came back, IDE hangs

### Current Behavior

Hang

### Expected Behavior

Should work

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.19.0.201

## Stacktrace

https://gis

[2018-08-29 09:52] Therzok opened #10352 "Custom MSBuild task built with netstandard 1.3 dependencies fails on latest preview with missing method exception"
@PureWeen commented on [Sat Aug 25 2018](https://github.com/mono/monodevelop/issues/5773)

[code]

### Reproduction Steps

1) Compile SomeBuildTask
2) Compile MSbuildError

Works fine on: Version 7.6.1 (build 9)
Fails on: 7.8 Preview (7.8 build 129)

### Notes
- If I copy  *System.IO.FileSystem.Primitives.dll* from nuget 2.0.3 netstandard into the bin directory where *CopyLocalLockFileAssemblies*

[2018-08-29 10:26] globeone opened #10353 "Security: Android: Mono is vulnerable to Man In The Disk CWE-921"
## Steps to Reproduce

1.  Create an application using Mono Android
2.  Have it use external Storage
3. External storage is not validated or encrypted leading to access outside the sandbox.

### Current Behavior

The Android version of Mono is vulnerable to Man-In-The-Disk CWE-191
https://research.checkpoint.com/androids-man-in-the-disk/

Details:
There is **'getExternalStorageDirectory()'** found

[2018-08-29 10:40] w8w8w8 commented on #10250
@SteveSandersonMS  thank you replay, I edit code and show value .  but chrome memory still growth

[code]
Is it because I use too many variables in Rectifyf.FlowsheetBase? there are 83 variables.
thank you.

[2018-08-29 10:52] marek-safar commented on #10353
This issue was moved to xamarin/xamarin-android#2113

[2018-08-29 10:52] #10353 closed

[2018-08-29 10:55] Therzok commented on #10350
Re-filed at https://github.com/xamarin/xamarin-macios/issues/4723

[2018-08-29 10:55] #10350 closed

[2018-08-29 12:08] marek-safar commented on #10332
This looks like one of the random crashes we get with Roslyn

/cc @vargaz @kumpera

[2018-08-29 12:18] marek-safar commented on #6991
@jaredpar I am happy to switch to `./build.sh --test --mono` if it does the same thing but it was not working as expected when we played with it.

Last time we ran `Roslyn.Compilers.CSharp.Semantic.UnitTests.dll` we had about 59 failures but don't have that list at hand but we are going to re-run it next week.

[2018-08-29 12:29] lewurm commented on #10332
duplicate of https://github.com/mono/mono/issues/6748 ? /cc @lambdageek

crash happens for `5.14.0.177 ` (-> `2018-04`) but the fix for the linked issue only made it into `2018-06`.

[2018-08-29 12:39] marek-safar commented on #10332
Right, it's `MultipleTypeForwardersToTheSameAssemblyShouldNotResultInMultipleForwardError` test so it could be valid Mono crash when reading the metadata

[2018-08-29 12:45] leezer3 commented on #10179
Sure, I get that much.

My issue is that this is dead basic code, and it really shouldn't be breaking backwards compatibility in a release within the 5.* series.

My expectation, and the impression I get from reading the Mono versioning page ( https://www.mono-project.com/docs/about-mono/versioning ) is that the generated IL should remain compatible (At least between major version numbers) unless

[2018-08-29 12:49] SteveSandersonMS commented on #10250
@w8w8w8 The new code you've posted causes an exponential growth in resource usage. Every time it renders, it adds another new timer, which in turn triggers more renders. The number of timers and renders will grow exponentially.

You should avoid starting additional timers after every render. For example, update your `OnAfterRender` code to:

[code]

Having done this, memory usage looks pretty stab

[2018-08-29 12:55] w8w8w8 commented on #10250
@SteveSandersonMS  thank you， today  I off work, tomorrow, I do a test.  thank you.

[2018-08-29 13:37] piratenpanda commented on #10191
uninstalling and reinstalling keepass got rid of this error for me on arch

[2018-08-29 13:46] akoeplinger commented on #9421
@monojenkins backport 2018-06

[2018-08-29 13:47] KillPinguin commented on #10191
@piratenpanda oh wow, that actually did the trick... Thanks!

[2018-08-29 15:04] jaredpar commented on #6991
@marek-safar

This is what we've been investing in. If you hit issues with it, or it's not meeting your needs, please let us know and we can work it out.

The intent with that switch is to essentially "run all test using the `mono` available on `$PATH`". Our CI is slightly different in that it creates [a docker container](https://github.com/dotnet/roslyn/blob/master/build/scripts/docker/Dockerfile

[2018-08-29 15:32] lambdageek commented on #10319
re goto-around-init:

1. When we switch to C++ these will be fixed by using scope guards.
   The main reason we have goto in Mono is because we need to enforce single-exit in order to do some kinds of cleanup.   The idiomatic way to solve this in C++ is using RAII.
2. Exceptions: we will not be using exceptions.  While the code is a mix of C and C++ (which it will be for a long time), using except

[2018-08-29 16:05] henkin67 commented on #8648
any news regarding this issue ?

[2018-08-29 16:31] jaykrell commented on #10319
Please, no scope guards. I understand the difficulty with exceptions, which is why I only barely mentioned them. But proper classes with destructors. Not the repeated one-offs of scope guards.

[2018-08-29 16:34] directhex commented on #8648
No news. Haven't been able to reproduce it since filing it

[2018-08-29 16:37] joncham opened #10361 "Assembly.Load fails to load distinct assemblies"
## Steps to Reproduce

[code]

Program.cs
[code]

Library.cs
[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x ] Windows

**Version Used**:

[code]

## Stacktrace

[code]

[2018-08-29 16:48] marek-safar commented on #10361
/cc @lambdageek

[2018-08-29 17:11] akoeplinger commented on #9421
@monojenkins backport to 2018-08

[2018-08-29 17:11] lambdageek commented on #10361
Broken in 5.14 `2018-04`.  Fixed in 5.16 `2018-06`, 5.18 `2018-08`, and `master`.

The fix is largely #8326, but also some follow-on PRs, such as #8547 and #8821 may be related.

[2018-08-29 17:40] jaykrell commented on #10319
[enum-vs-int] and [cast]

We use ints because C enums are weakly specified as to type.
C++11 allows chosing the base type of an enum:

```typedef enum MonoThreadPriority : gint32 { ... } MonoThreadPriority;```

With this, we should be able to use enums more and then not cast to int as much.
A good example is icalls dealing with thread priority.

[2018-08-29 17:43] jaykrell commented on #10319
[ifdef-cplusplus-reduction]

Places that say `#ifdef __cplusplus` will be able to assume it is true -- if they don't change to something else entirely.

For example:
https://github.com/mono/mono/pull/10252/commits/8c3db528b70fbc1ed4e1564fe22a41a81c48ce01#diff-f789c5615f7c2a0644399f3f68305a35R83

[2018-08-29 17:46] marek-safar commented on #10352
@radical is that due to 4.7.x bump ?

[2018-08-29 17:51] marek-safar commented on #10179
This is the expected behaviour. You need to build against API to get the stable behaviour you can do that using msbuild or by using e.g. .NET API references manually with for example `mcs -sdk:4.7 foo.cs`

[2018-08-29 17:51] #10179 closed

[2018-08-29 18:04] #9581 closed

[2018-08-29 18:09] sourceskyboxer opened #10366 "Why do you not update latest version of Mono since mkbundle generates failur?"
Mono 5.14 is buggy - Please update to Mono project website! Since fixed version of Mono mkbundle generator failures

5.19 works now Please add release

For Windows Please remember with a files if they use Cygwin_x64 compilation

[2018-08-29 18:35] jaykrell commented on #10319
[casts]

Lots of places could use `auto`:

C:
[code]

C/C++:
[code]

C++11:
[code]

https://github.com/mono/mono/pull/10368/files#diff-7fc002eba0dfba13acfb0c2cd96f79dcR636

[2018-08-29 19:31] jaykrell commented on #7820
"monosgen" is vs. regular "mono".
"mono" is the older name and implies BoehmGC.
monosgen is mono using the sgen GC.

[2018-08-29 19:43] stefan-schweiger commented on #7820
@jaykrell thank you very much that makes things much clearer! Do you also happen to know in what part of the build process libmonosgen-2.0.a gets generated? I can't seem to find a dedicated make target.

[2018-08-29 19:54] jaykrell commented on #7820
It is built in <git>/mono/mini, including parts from <git>/mono/metadata, <git>/mono/sgen, etc.
i.e. build from <git>/mono

[2018-08-29 20:33] lambdageek opened #10371 "A call to SSPI failed, see inner exception."
Running NuGet on osx I get an error about SSPI.

## Steps to Reproduce

1.  `rm -r ~/.nuget`
2.  `mkdir test; cd test`
3.  `nuget install Mono.Cecil -Version 0.9.5`

### Current Behavior

[code]

### Expected Behavior

NuGet downloads the package.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

[code]

[2018-08-29 20:34] MaximLipnin opened #10372 "[Reflection] GetValueDirect isn't implemented"
## Steps to Reproduce

1. Compile and run the following test project
[code]
or adapt [SetValueDirect_GetValueDirectRoundDataTest ](https://github.com/dotnet/corefx/blob/master/src/System.Reflection/tests/FieldInfoTests.cs#L546) CoreFX test
2.
3.

### Current Behavior

It throws `System.NotImplementedException : GetValueDirect`

### Expected Behavior

It should return some value (in this case - 222

[2018-08-29 20:43] lambdageek commented on #10371
Related to https://github.com/mono/mono/pull/10254#issuecomment-417060001

[2018-08-29 20:45] lambdageek commented on #10371
Confirmed that if I go back to 5.16.0.123 (from https://jenkins.mono-project.com/view/Per-commit%20packages/job/build-package-osx-mono/job/2018-06/95/) nuget works as expected:

[code]

[2018-08-29 21:14] nealef commented on #10371
It appears that during the exchange we are requesting 16432 bytes but the buffer only holds 16384 so there is still 48 remaining. However, before we go for that remaining 48 we ask for 10917 but only get 10869. I put a Console.Error.WriteLine() in the get_Remaining property and the other message comes just before the System.Math.Min() in InnerRead.
[code]
When the buffer is 16834 we are able to sa

[2018-08-29 21:34] safern opened #10374 "Icon throws ArgumentException when ctor called with an Icon file that has a PNG entry with heigh or width != 0"
## Steps to Reproduce

1. Create file with following contents:
[code]
2. Download attached icon: https://github.com/dotnet/corefx-testdata/blob/master/System.Drawing.Common.TestData/bitmaps/pngwithheight_icon.ico

3. Run the code with mono.

### Current Behavior
[code]

This is happening here: https://github.com/mono/mono/blob/master/mcs/class/System.Drawing/System.Drawing/Icon.cs#L852

This is be

[2018-08-29 22:59] kumpera opened #10376 "SDKs development configuration improvements"
This is a list of small improvements I think we could do to the SDKs to improve our quality-of-life when using it as a way to work on non-desktop targets:

- [ ] Add a configure-style script (being discussed in #10239)
- [ ] An option to disable llvm usage by ios/android/wasm *1
- [ ] Audit and document all external properties that can be used to control the SDKs behavior *2 *3
- [ ] Ensure that c

[2018-08-29 23:00] kumpera commented on #10376
cc @luhenry @vargaz
I'm volunteering for doing all of this work and whatever else comes up, btw.

[2018-08-30 01:37] w8w8w8 commented on #10250
I am sorry, I am coming again. today I change the code , delete C# timer, then use js interop , and changed RUNRectifyf() return value. and memory still growth.

1. c# code

[code]

2: Javascript code

[code]

I feel that my program is not wrong. but when I run my chrome , the memory still growth.

@SteveSandersonMS  thank you for replay.

[2018-08-30 02:06] w8w8w8 commented on #10250
I am sorry, I am coming again. today I change the code , delete C# timer, then use js interop , and changed RUNRectifyf() return value. and memory still growth.

1. c# code

[code]

2: Javascript code

[code]

I feel that my program is not wrong. but when I run my chrome , the memory still growth.

@SteveSandersonMS  thank you for replay.

[2018-08-30 03:08] lambdageek commented on #10319
Oops... #10252 `loader-internals.h` needs to go into some csproj so it gets picked up on windows.

[2018-08-30 03:26] jaykrell commented on #10319
I think previous comment about loader-internals.h is misplaced  and I suggest delete it. Correct, but misplaced.

[2018-08-30 09:57] radical commented on #10352
@marek-safar nope.

[2018-08-30 11:01] AmrAlSayed0 commented on #9511
Is there a work around to this problem? On Android, what version of Xamarin.Forms do I have to use to avoid using mono 5.12 and use mono 5.10?

[2018-08-30 12:41] 0xced commented on #9996
I have the same issue on macOS with mono 5.16 too:
[code]

If you want to downgrade to version 5.12 on macOS, you'll find the package in [mono archives](https://download.mono-project.com/archive/5.12.0/).

[2018-08-30 15:02] kumpera commented on #10376
This is from a discussion with @alexischr on #mono-community.

If we use `--enable-llvm` instead of `--with-llvm=` to sprinkle llvm into our build, it uses `llvm/llvm.mk` directly, which leaves build artifacts in that place.

Maybe instead of the convoluted relation between this and the SDKs we could just have it ask the SDKs for the right llvm and be done with it.

[2018-08-30 15:04] jawbrey commented on #10192
In discussion with my client I realized that I've been using the wrong url for testing.  I don't think this changes the underlying issue, but the exception is different than what I received before.  Attached is a revised sample and updated stack trace.

{System.IO.IOException: Unable to read data from the transport connection: Connection reset by peer. ---> System.Net.Sockets.SocketException: Conn

[2018-08-30 15:34] alexischr commented on #10243
The files end up at `$(mono source root)/llvm/usr/bin` and not on the mono install prefix. For now, the solution is to copy them to the mono install prefix at bockbuild time so that they are picked up

[2018-08-30 15:39] directhex commented on #10371
I think this issue was backported to 5.16? 5.16.0.123 seems fine, 5.16.0.127 seems bad

[2018-08-30 15:42] directhex commented on #10371
yeah, 5.16.0.124 (3bb7817ffd8c92458e875a179c62f26c390c9e0e) introduced the error into 2018-06

[2018-08-30 15:46] nealef commented on #10371
Comment from #10254 -

It appears that during the read we are requesting 16432 bytes but the buffer only holds 16384 so there is still 48 remaining. However, before we go for that remaining 48 we ask for 10917 but only get 10869. I put a Console.Error.WriteLine() in the get_Remaining property and the other message comes just before the System.Math.Min() in InnerRead.

[code]

When the buffer is 16

[2018-08-30 17:06] #10325 closed

[2018-08-30 17:09] psi-4ward commented on #10191
Thanks!

[2018-08-30 17:17] luhenry commented on #10376
I am right now at work to unify a bit more how we provision LLVM for iOS and Android. I would make what's necessary for WASM to use it, so I would need to understand better how WASM uses it.

For the `llvm/build/mk` vs `sdks/builds/llvm.mk` question, it was decided when we did it for the latter to depend on the former (and not the other way around), so the source of truth for how Mono builds LLVM

[2018-08-30 18:49] kumpera commented on #10376
On having XI/XA calling specific targets, I think that's a mistake as it exposes a bigger, harder to constraint surface than actually is needed, but that's up to you.

What do I mean mono-team friendly? Friendly for us to work with the SDKs not just as a means to delivery bits to the XI/XA. Remember that one of the goals of this effort is enable us to work with iOS and Android without having to de

[2018-08-30 19:07] jaykrell commented on #10376
I find the sdks model a bit foreign as well, but I wonder if maybe it isn't better? I mean, isn't/shouldn't-be wasm just a different target? Isn't lack of configure a good thing? It is kind of an even better form of out-of-tree build -- all targets already configured, and all buildable in their own directories.

Maybe you mean make sdks-wasm build-wasm test-wasm?

[2018-08-30 19:09] kumpera commented on #10376
Hi @jaykrell thanks for your feedback on makefile target names.

[2018-08-30 19:26] lewurm commented on #10191
That sounds like a packaging issue then. Like the assert says: `Image out of date`. Maybe assemblies haven't been recompiled (by the AOT compiler) when the package got updated? Another workaround could be to pass `-O=-aot` to disable loading stuff from the AOT image at all. This can be sneaked in like this:
[code]

My theory is the following happened:
1. mono version A is installed on the system
2

[2018-08-30 19:46] luhenry commented on #10376
@kumpera my vision for the SDKs is to get us to a point where we can have a binary dependency (and not a source dependency) for the products, while still having the possibility for them to build from source. We could then imagine giving them a "package" with everything and remove the possibility to pick specific targets, but until then it would be quite wasteful for them to have to build all runti

[2018-08-30 20:01] kumpera commented on #10376
Hmmm, your approach with the SDKs now makes a lot more sense.

On moving forward, I think having a clear set of goals gets us the north we need to progressively find ways to achieve them. This issue and the list of suggestions on it further us a bit.

Here are the goals (project chapter) I see for the SDKs effort:

For embedders (XI/XA), they should be able to consume mono without caring for how i

[2018-08-30 20:46] kumpera commented on #10222
Found the following issues so far:
- We're emitting all alloc wrappers, even if we don't need them (no need for the profiler ones for now)
- The init checks seem to be done on every since method, including allocators, that sounds wrong and slow.

[2018-08-30 21:25] MaximLipnin commented on #9660
The following CoreFX xunit tests could be considered for importing:
- from `src/System.Runtime.Extensions/tests/System/Reflection`:
- [ ] AssemblyNameProxyTests.cs

- from `src/System.Reflection/tests`:
- [ ] AssemblyNameTests.cs
- [ ] AssemblyTests.cs
- [ ] ConstructorInfoTests.cs
- [ ] EventInfoTests.cs
- [ ] ExceptionTests.cs
- [ ] FieldInfoTests.cs
- [ ] GetTypeTests.cs
- [ ] ManifestResourceI

[2018-08-30 21:27] mnowosad commented on #8657
Any rough estimate when Mono would incorporate the .NET 4.7.2 assembles (this year, next year)?

[2018-08-30 21:32] marek-safar commented on #8657
I think this year is realistic (or you could contribute it). Does it block you on specific APIs?

[2018-08-30 21:39] sandyarmstrong commented on #8657
I wouldn't be surprised if increased interest in this is related to twitter threads like https://twitter.com/terrajobst/status/1031999730320986112 , where the .NET team is recommending that anybody using .NET Standard 1.5 or greater from .NET Framework should be on 4.7.2.

[2018-08-30 21:57] mnowosad commented on #8657
@marek-safar Thank you for the response. We just wanted to have an idea of the expected roadmap for this task to be addressed. Currently, we are in the process of migrating our .NET components to 4.7.2. Since Mono does not have 4.7.2 assemblies yet, we may need to keep two codebases (one with 4.7 references, to run in Linux, and one with 4.7.2, to run in Windows) for the time being, which is not t

[2018-08-30 22:01] akoeplinger commented on #8657
@mnowosad just to clarify: you want to compile this codebase on Mono, not just run it right?

The latter is already possible since we implement the new APIs, the reference assemblies are just for compilation.

[2018-08-30 22:07] mnowosad commented on #8657
@akoeplinger Yes, we want to compile the codebase on Mono as well.

[2018-08-30 22:12] marek-safar commented on #10225
Really? I thought that's what we do by default now. What tweaks did you make to trigger this?

[2018-08-30 22:16] marek-safar commented on #10142
This is indeed a duplicate of #9968.

@brendanzagaeski could you figure out if that meets the bar for SR and if there is one planned.

[2018-08-30 23:05] marek-safar commented on #9996
@EgorBo could you please investigate?

[2018-08-30 23:07] marek-safar commented on #9511
@baulig please check this again, looks like regression from async rewrite

[2018-08-30 23:18] EgorBo commented on #9996
@marek-safar sure, it doesn't look like it relates to my PR to replace the whole System.Data with .NET Core sources since the issue doesn't reproduce in 5.12.

[2018-08-31 01:27] jaykrell opened #10405 "MonoPosixHelper / MonoSupportW use glib."
Some concern was raised when I discovered that MonoPosixHelper / MonoSupportW use glib.
The "support" directory. Uses these functions:
[code]
https://github.com/mono/mono/pull/10379#issuecomment-417345411

[2018-08-31 06:37] jaykrell commented on #10319
[code]

[2018-08-31 06:38] jaykrell commented on #10319
[code]

[2018-08-31 06:39] jaykrell commented on #10319
[code]

[2018-08-31 06:43] jaykrell commented on #10319
Most occurences of `G_BEGIN_DECLS`  / `G_END_DECLS` can be removed -- unless there is an obvious reason why they are there.

MONO_BEGIN_DECLS in mempool.h can be removed. It isn't a public header.

`mono_dump_metadata_offsets` and `mono_metadata_cross_helpers_run` should be in a header.

`mono_type_to_unmanaged` should return typed enum  MonoMarshalNative instead of  `uint32_t`.

`mono_thread_crea

[2018-08-31 06:54] jaykrell commented on #10319
[code]

[2018-08-31 06:55] jaykrell commented on #10319
[code]

[2018-08-31 07:11] jaykrell commented on #10319
[code]

[2018-08-31 07:12] jaykrell commented on #10319
`MONO_STDCALL`, etc. should  be defined like:

[code]
and then  use `MONO_STDCALL` publically and `__stdcall` internally.

[2018-08-31 07:15] jaykrell commented on #10319
[code]
profiler.h is public, `G_ENUM_FUNCTIONS` is not.
So  we suffer here:

[code]

[2018-08-31 07:31] jaykrell commented on #10319
[code]

[2018-08-31 08:17] lewurm commented on #10309
@BrzVlad does https://github.com/mono/mono/pull/10355 fix this issue, or are there multiple problems?

[2018-08-31 08:24] jaykrell opened #10410 "Dead code at the end of mono_w32handle_new_internal."
[code]

The code after the goto is dead.
Either it should be removed, or some mistake was made in maintenance. It should be looked into.

[2018-08-31 08:27] jaykrell commented on #10319
[code]

[2018-08-31 08:31] ArionTT opened #10411 "What is packager.exe?"
### Current Behavior

I am trying to run the wasm sample. But when I see the line [ mono $WASM_SDK/packager.exe sample.dll ], what is packager.exe?

### Expected Behavior

I want to compile C# code to webassembly file that will be called by html and js.

## On which platforms did you notice this

[*] Linux

**Version Used**:

master github version

[2018-08-31 08:36] jaykrell commented on #10319
+++ b/mono/mini/mini-cross-helpers.c
@@ -14,13 +14,14 @@
 #include "tasklets.h"
 #include <mono/metadata/abi-details.h>

+// FIXME This belongs in a header.
 void
 mono_dump_metadata_offsets (void);

+// FIXME This belongs in a header.
 void
 mono_metadata_cross_helpers_run (void);

[code]

[2018-08-31 08:47] jaykrell commented on #10319
Try  to unify here and remove ifdef
[code]

[2018-08-31 08:49] jaykrell commented on #10319
Get the types correct and remove the casts.
[code]

[2018-08-31 09:52] marek-safar commented on #9996
Most likely not but I suspect some SLE changes from CoreFX

[2018-08-31 10:39] BrzVlad commented on #10309
I ran it a couple of times without any crashes on top of mono master.

@jaredpar If you encounter any additional crashes it might be worthwhile to also try nightly mono.

[2018-08-31 10:39] #10309 closed

[2018-08-31 12:49] kumpera commented on #10225
I disabled all but the iOS target.

[2018-08-31 14:24] baulig opened #10412 "Native crash when debugging with exception watchpoint"
Using latest master, debugging a simple console application with an exception catchpoint crashes.

To reproduce, create a simple Console project in VSMac and make it throw an exception like for instance

[code]

Then do Run / New Exception Catchpoint in VSMac, add a catch for "System.Exception".

Then hit run.

You will get this:

[code]

[2018-08-31 15:09] benjaminknox opened #10415 "Exception During Runtime: * Assertion at mini-exceptions.c:2621, condition `gaddr == tls->stack_ovf_guard_base' not met"
## Steps to Reproduce

1. Compiled Debug or Release with Visual Studio
2. Moved EXE files to CentOS host
3. Ran exe with mono

### Current Behavior
Currently, the program runs for a while then crashes giving the above

### Expected Behavior
The program doesn't crash and continues to run

## On which platforms did you notice this

[ ] macOS
[ x ] Linux
[ ] Windows

**Version Used**:
Mono JIT compil

[2018-08-31 15:14] luhenry commented on #10376
To complement the work for the mono developers, I want to have the possibility to run Android and iOS apps solely focused on running the BCL tests without XA and XI. In achieving that, I also want to make it easier for anyone to easily embed Mono into their app (Android and iOS) by simply copy/pasting how we do it for the test app.

This implies a few things:
 - our testing apps should be quite id

[2018-08-31 15:15] baulig commented on #10371
Should be fixed with https://github.com/mono/mono/pull/10393.

[2018-08-31 15:15] #10371 closed

[2018-08-31 17:21] baulig commented on #9511
I debugged this and it's working just fine - both with current master and the most ancient version of Mono that I could find on my computer (which is 5.16.0.119).

However, there might be a misunderstanding between what you expect from RestSharp and what it actually does when it comes to errors since you're only printing `IRestResponse.StatusCode` in your test case.

I looked at RestSharp's source

[2018-08-31 17:34] jaykrell commented on #10319
[code]

[2018-08-31 17:38] jaykrell commented on #10319
[code]

[2018-08-31 17:40] jaykrell commented on #10319
used  C++11 typed enums and then
[code]

[2018-08-31 17:42] jaykrell commented on #10319
undo or redo (remove casts, fix types, fix function signatures):
[code]

[2018-08-31 20:28] jaredpar commented on #10309
@BrzVlad what is the general stability of the nightly feed? Currently we use the stable feed to drive our Mono uni test CI. If the nightly feed is fairly stable we may consider switching to that. I'm sure we'll hit a few other small issues as we move our tests over.

[2018-08-31 20:55] jaredpar commented on #10309
@BrzVlad when will the updated package be available? When moving to the nightly feed and updating the build I get is from August 14th.

[code]

That, obviously, doesn't have your fix. I tried it out anyways and I'm getting a different SIGSEGV (this time in `object.AllocSmall`). Wanted to wait until I had your patch though before I filed a new bug.

[2018-08-31 21:24] slide opened #10424 "Issue with compiler"
## Steps to Reproduce

1. Compile the code below with Mono 5.14.0.177
2. Run the test
3. See the invalid output

`/usr/bin/csc /target:exe /out:Test.exe Test.cs`

`Microsoft (R) Visual C# Compiler version 2.7.0.62620 (e873e693)`

[code]

### Current Behavior

On Mono 5.14.0.177 we get the following output:
[code]

The IL generated by Windows looks like this:

[code]

The IL generated by 5.14.0.177

[2018-08-31 22:13] lambdageek opened #10430 "Hybrid+coop magic signal to dump threads"
We should to add a signal handler that calls `dump_threads()` from `mono/utils/mono-threads.c`.

That way `kill -WHATEVER pid` will dump the current thread state machine states.  Could be useful for debugging apparent deadlocks.

https://github.com/mono/mono/blob/bb0d0f4181a04f55b54de3c3d08667abb6d1c836/mono/utils/mono-threads.c#L269-L294

[2018-08-31 23:12] jaredpar commented on #10332
It looks like it is that specific test, `MultipleTypeForwardersToTheSameAssemblyShouldNotResultInMultipleForwardError `, which is causing Mono issues here. I [speculatively disabled](https://github.com/dotnet/roslyn/pull/29533/commits/c24d9d236820b0d78943ec9e841e05cb4a0adaff)  that test and everything started passing again.

[2018-09-01 03:10] #10243 closed

[2018-09-01 04:05] NightmareJoker2 commented on #10424
Does this also happen when you compile with optimizations disabled? Cause
[code]
will print
[code]
and
[code]
prints
[code]
(`∞` may print as string `Infinity` instead or use a regional representation, depending on operating system and its region and language settings, the same applies to decimal points) by design.
Of note: [The default midpoint rounding behavior has changed](https://github.com/do

[2018-09-01 10:40] rayalex opened #10435 "POST/PUT request without Content-Length Header crashes the Process and HttpListener"
I'm running a simple ASP.NET WebAPI 2 application on top of OWIN, which is self hosted. I've noticed it's possible to crash the process when sending POST/PUT request without any body (nor `content-length` header) to the web server. If `content-length` is provided (even if the value is `0`), everything works as expected.

## Steps to Reproduce

1. Run the attached example. It will start a HTTP serv

[2018-09-01 10:51] DraTeots opened #10436 "SerialPort.ReadExisting() throws TimeoutException while it shouldn't"
System.IO.Ports.SerialPort.ReadExisting() throws System.TimeoutException if there is no data available. While according to [the documentation ](https://docs.microsoft.com/ru-ru/dotnet/api/system.io.ports.serialport.readexisting?redirectedfrom=MSDN&view=netframework-4.7.2) it shouldn't. This is a drastic difference with .NET behavior.

## Steps to Reproduce
[code]

### Current Behavior

If there is

[2018-09-01 13:07] slide commented on #10424
`0.0 == -0.0` is True when comparing doubles, this is why we use the bit representation to determine if it is negative zero. This is used in IronPython for determining if there needs to be a minus sign printed for zero, if it is negative. I am not compiling with any optimizations turned on, just

`csc /target:exe /out:Test.exe Test.cs`

[2018-09-01 19:01] jaykrell commented on #10319
Add -Wmissing-declarations in configure.ac, err, make it an error.
It has less value in C++ because of typesafe linkage, but we have so much excess extern "C", that it retains its value, and I keep finding where we omit includes.

[2018-09-01 19:12] T0bi-Ethirbirge commented on #10290
Because i was the using [this](https://download.mono-project.com/archive/nightly/windows-installer/) version of mono [The nightly build]

[2018-09-02 04:43] jaykrell opened #10441 "FullAOT LLVM Linux x64 one flaky failure."
FullAOT LLVM  Linux x64 has one flaky failure.

Here is how far I've gotten it, reduced:

[code]

[2018-09-02 06:51] w8w8w8 commented on #10250
maybe setTimeout function create a lot of DotNet,  how to fix it?

[2018-09-03 03:33] ArionTT opened #10446 "[ WASM ]Build fail host error"
I have make and make install mono on linux. And now I am trying to build sdks/wasm.

I type the command :
`make -C builds {toolchain,configure,build,package}-wasm-interp`

And it return me a error:
[code]

[2018-09-03 06:37] lewurm commented on #10016
@necrose99 as suggested by @jaykrell, could you try to disable `distcc` when building the mono package? it looks like you somehow end up using headers for the wrong architecture (you want to build for aarch64, but end up with definitions for x86_64).

[2018-09-03 07:04] ArionTT commented on #10446
@lewurm Thanks for reply. My automake version is 1.13.5 and now I have updated it to 1.16.1.(The blow last command is show automake version)

But it still return me a same error that the host is wrong.
Is any other soft should update to the certain version?

My system is CentOS 7.4

configure: loading cache /home/Arion/WebAssembly/mono/sdks/builds/wasm-interp.config.cache
checking build system typ

[2018-09-03 07:21] lewurm opened #10447 "[iOS] FileTest.LastWriteTimeSubMsCopy fails"
see https://github.com/xamarin/xamarin-macios/pull/4277#issuecomment-417665313

## Steps to Reproduce

1. build mono-2018-06 branch from xamarin/xamarin-macios
2. run `FileTest.LastWriteTimeSubMsCopy` 32-bit or 64-bit mode on an iOS 10.3.3 device

since it worked on 2018-04 (?) the possible candidates for this regression are:
* https://github.com/mono/mono/pull/9696
* https://github.com/mono/mono/

[2018-09-03 07:32] lewurm commented on #10447
as pointed out by @rolfbjarne on Slack:

[2018-09-03 09:18] BrzVlad commented on #10309
@jaredpar I'd say the nightly builds aren't too bad, you can try to see if it works for you. I think we used to update the packages on a weekly basis at some point. @directhex ?

[2018-09-03 09:28] BrzVlad opened #10448 "[iOS] CalendarTest.Hijri and CalendarTest.UmAlQura fail"
## Steps to Reproduce

1. build mono-2018-08 branch from xamarin/xamarin-macios
2. make -C tests/ runner
3. Run **link sdk** tests

[2018-09-03 10:04] lewurm commented on #10415
Thanks for your report! In order to help us to identify the issue, could you:

1. upload mentioned EXE somewhere? Ideally you strip down the program, but still failing with the mentioned issue. That would help us to track down the program tremendously.

---------------------

2. GDB says this:

if you enable this, it should provide better stack traces for managed frames.

---------------------

3.

[2018-09-03 10:15] rolfbjarne opened #10449 "Debugger terminates unexpectedly with error "the instruction pointer of the currently executing method (METHOD_NAME) is not on the recorded stack""
_From @DaRosenberg on June 28, 2018 19:0_

### Steps to Reproduce

Happens intermittently **but very frequently** while stepping through the code in the debugger, of an iOS app running in the iOS simulator of the connected Mac. Not sure when exactly this started happening, but my guess would be it started with the 15.7 release.

### Expected Behavior

N/A - debugging should simply work.

### Actua

[2018-09-03 10:25] DaRosenberg commented on #10449
@lewurm That's good news. What does `2018-02` mean in terms of product releases?

[2018-09-03 10:32] lewurm commented on #10449
`2018-02` is used in Visual Studio 15.8 / Xamarin.iOS 11.15. not sure for when the next update is scheduled for. @rolfbjarne ?

[2018-09-03 10:34] rolfbjarne commented on #10449
@lewurm current stable (XI d15-8) is already using `2018-02`.

[2018-09-03 10:34] lewurm commented on #9262
I'm closing this because it appears to be a duplicate of https://github.com/mono/mono/issues/8627

[2018-09-03 10:34] #9262 closed

[2018-09-03 10:34] lewurm commented on #8848
I'm closing this because it appears to be a duplicate of https://github.com/mono/mono/issues/8627

[2018-09-03 10:34] #8848 closed

[2018-09-03 10:35] lewurm commented on #10076
I'm closing this because it appears to be a duplicate of https://github.com/mono/mono/issues/8627

[2018-09-03 10:35] #10076 closed

[2018-09-03 10:49] lewurm commented on #10449
@DaRosenberg ok, so the latest update of 15.8 should contain the mentioned PR. Specifically, you need at least 11.14.0.14 of Xamarin.iOS.

I'm closing this because it appears to be a duplicate of #8627

[2018-09-03 10:49] #10449 closed

[2018-09-03 10:53] DaRosenberg commented on #10449
@lewurm OK, makes sense. Thanks!

[2018-09-03 10:55] DaRosenberg commented on #10449
@sfmskywalker We should not be seeing this issue anymore now!

[2018-09-03 13:33] benjaminknox commented on #10415
@lewurm Thank you for getting back to me, I cannot upload the EXE because it is closed source and owned by my employer. I will get everything else and post it here.

I have been wondering if the fact that I compiled the EXE on windows with visual studio and simply uploaded it to our CentOS server to run would have anything to do with it?

[2018-09-03 14:52] benjaminknox commented on #10415
Unfortunately the EXE is proprietary
___

I am looking into adding this to our server.
___

This happens every time, no regular interval. I noticed sometimes the program doesn't leave a stack trace. No pattern has yet been found.
___

I don't have that particular pid from the stack trace above, and I am also unsure if this is what you wanted, but here is a recent map from that folder: https://gist

[2018-09-03 15:54] EgorBo commented on #9996
I suspect CoreFX's string. The source of the issue is here: https://github.com/mono/mono/blob/master/mcs/class/referencesource/System.Data.Entity/System/Data/Objects/ELinq/MethodCallTranslator.cs#L1287-L1292 (some of those overloads is null)

[2018-09-03 16:11] alanmcgovern commented on #10278
@spouliot @chamons

this looks like a xammac problem, not a mono one. Can you help check this out?

[2018-09-03 18:12] T0bi-Ethirbirge commented on #10290
Thank you it works with the normal build.
You saved my life.

[2018-09-03 19:15] EgorBo opened #10453 "LLVM in AOT mode is slower than it was in Mono 5.16"
Benchmark: https://github.com/aras-p/ToyPathTracer
(Also, a blog post: http://aras-p.info/blog/2018/03/28/Daily-Pathtracer-Part-3-CSharp-Unity-Burst/)

Steps to reproduce:
1. Clone the benchmark
2. `cd ToyPathTracer/Cs`
3. `csc -o Maths.cs Program.cs Test.cs -langversion:7.3`
4. `mono --aot=llvm Program.exe && mono Program.exe`

Mono 5.16 (LLVM3):
[code]
~1640ms

Mono 5.19 (LLVM6):
[code]
~1840ms

[2018-09-03 21:50] lewurm commented on #10447
FWIW, I can't reproduce it on a 32-bit device (iPhone 5c) with iOS 10.3.3 and neither with a 64-bit device (iPhone 7) with iOS 11.4.1.

I was able to reproduce it on the 32-bit simulator with iOS 10.3.1 though.

[2018-09-04 07:59] #9996 closed

[2018-09-04 08:12] cybvitthal commented on #8893
Hey Guys,
Let me know, when you plan to release the fix for this issue. We are also facing build issue with iOS for Xcode latest beta.

Thanks in advance.

[2018-09-04 09:19] jpgustaf opened #10461 "Getting message body from HTTP 409 Conflict chunked response fails"
## Steps to Reproduce

1. Try to read message body  (using HttpWebRequest.GetResponse() and StreamReader) from 409 Conflict -response when Transfer-encoding chunked is enabled (for example from http://www.ekkuli.net/conflict_call.php)

Code example below:
[code]
### Current Behavior
When trying to read response with StreamReader `var content = sr.ReadToEnd(); ` it throws "Error getting response st

[2018-09-04 09:45] rajatkmehta opened #10462 "Mono on Linux: Getting namespace and missing assembly reference error while trying to compile _.cs file from the code"
Mono on Linux: Getting namespace and missing assembly reference error while trying to compile _.cs file from the code
- error CS0246: The type or namespace name `Sres' could not be found. Are you missing an assembly reference?

The same is working fine while tried to run from windows-visual studio but anyhow i have to get it executed on linux. Please help!

[2018-09-04 10:28] Therzok commented on #10352
Needs to be fixed in 2018-06. Xamarin.Forms cannot be built if this isn't fixed.

[2018-09-04 11:16] #9973 closed

[2018-09-04 14:04] steveisok commented on #10412
Sorry - I didn't realize I needed to version it :-).

[2018-09-04 15:18] directhex commented on #10309
Nightly is *dispatched* nightly, but fairly brittle - it needs to successfully build on 29 architecture-distribution combinations, and some pieces (like exported symbol checking) require manual fixing in the event of changes. i'll take a peek now.

[2018-09-04 15:29] CartBlanche commented on #10278
With some help from @alanmcgovern we found that disabling Inspector from loading within the IDE fixed the crash.
It would appear, to quote Alan...
"that the 'problem' occurs when interactive injects into our process
and it loads it's copy of netstandard 2.0
that *should* be fine afaik, but it's causing this problem"

Application Log where it loads the .NET standard assembly...
https://gist.github.

[2018-09-04 15:47] sourceskyboxer opened #10465 "Suggestion about icon load in win32-executable and mac-application and linux-desktop file"
Hello everyone, I would like to give suggestion

### For Windows:

if `mkbundle --icon C:\Path-to-Icon\your-icon.ico` and it will embed in native executable
If you don't use `--icon` than executable looks like default application

### For Mac OS X Applications

If you generate to native simple executable for macOS than it will generate as like myapp = ./myapp
Or `mkbundle` should generate with --i

[2018-09-04 16:30] jaredpar commented on #10309
@directhex where can I go to see the status of the nightly builds? I'm eager to try this fix out and see if I can make more progress porting the C# tests over.

[2018-09-04 16:38] marek-safar commented on #10309
We have backported that down to Mono 5.16 which we are previewing and the update with the fix should come out soon-ish

/cc @directhex

[2018-09-04 17:36] jaredpar commented on #10309
@marek-safar where does 5.16 come from? The feeds I've been looking at:

- stable: 5.14
- nightly: 5.19

Is there a third feed to look at?

[2018-09-04 18:05] CartBlanche commented on #10278
Added Current workaround

[2018-09-04 18:19] jaykrell opened #10467 "mono_thread_info_exit ignores exit_code and just passes 0 on."
mono-threads.c:

[code]

Why does it pass 0 and not `exit_code`? This  seems very counter intuitive, and there is no comment.

[2018-09-04 22:34] HinTak opened #10470 "mkbundled'ed executable depends on argv [0] being populated in full, does not work via $PATH look-up."
## Steps to Reproduce

1. build a self-contained executable via mkbundle with mono 4.8.x or above

let's call that HelloWorld:

[code]

2. put it somewhere in $PATH

i.e. say, put `HelloWorld` into `/usr/bin` .

3. invoke it implicitly via just its basename.

i.e. by just typing `HelloWord` in the terminal.

### Current Behavior

mono cannot find the binary itself to unpack:

[code]

### Expected

[2018-09-04 22:36] jaykrell commented on #10470
Mono has code to get its own full path.
Posix does not offer this so there is platform-specific code.

[2018-09-04 22:39] HinTak commented on #10470
@migueldeicaza

The source of the issue is as in

https://github.com/mono/mono/commit/66a493cefe3eae0b8a136f6a046f01bb76be33b0#diff-4cc1ebc118f2764dfdcf9ddb892e0854

where `mono/mini/main.c` , `probe_embedded` is introduced. It is called with
`probe_embedded (argv [0], &argc, &argv)` . And that's pretty much it.

[2018-09-04 22:45] HinTak commented on #10470
The issue was first noticed in https://github.com/googlefonts/fontbakery/issues/1928 .

[2018-09-04 22:48] jaykrell commented on #10470
On Linux `readlink(/proc/self/exe)`

[2018-09-04 22:57] HinTak commented on #10470
The problem is not symbolic links, but calling via basename and $PATH . When an executable is run via shell's $PATH look-up, `argv[0]` is just the basename.

[2018-09-04 23:00] jaykrell commented on #10470
I understand. `readlink(/proc/self/exe)` provides `ARGV[0]` as a full path.

[2018-09-04 23:03] HinTak commented on #10470
Argh, sorry, wasn't reading properly. Yes, `readlink(/proc/self/exe)` could work - for linux. Mainly needs it for mac os x though :-).

[2018-09-04 23:41] HinTak commented on #10470
argh, another sorry. problem already fixed. It landed somewhere between `mono-5.10.1.57` and `mono-5.12.0.226` . The first tag I found with the fix is `mono-5.12.0.226`.

[code]

I'll see how mono 5.12 behaves...

[2018-09-04 23:41] #10470 closed

[2018-09-05 02:00] luhenry commented on #10467
Follow the template if you want anyone to take a look at it. How do we reproduce? How does it impact anything?

[2018-09-05 02:00] #10467 closed

[2018-09-05 02:48] directhex commented on #10309
A new nightly, 5.19.0.290, made its way through the Debian packaging pipeline 8 hours ago.

5.16 builds are in the preview repo. 5.16.0.138 is the latest published Debian/Ubuntu version, from September 2nd.

[2018-09-05 07:01] #9439 closed

[2018-09-05 09:17] ststeiger commented on #10064
In addition to dllmap, could it also please bring a dllimport-attribute which takes a static function as its attribute argument, in addition to a const-string ?
Name-picking could then be done in a user-defined fashion, including reading the library name from a database, and this issue would be solved, and all old-code would still work.

[2018-09-05 09:19] KCow commented on #9511
Hello, I can confirm I have also been getting this since doing a Visual Studio upgrade on my Xamarin Forms project targetted at Android 8.1, a lot got updated at once so can't be sure whether it was the Mono upgrade specifically that caused this. But on the response from an ExecuteAsync I am now always seeing the "Error getting response stream" error with a Status Code of 0 even though the back en

[2018-09-05 09:20] lewurm commented on #10446
@kumpera any idea?

[2018-09-05 09:49] jaykrell commented on #10085
This is essentially all fixed in master now.

Maybe more extern "C" is needed. I think we can resolve and close.

Unless we are keeping notes for further refinement or some additional large scale C to C++ conversion with additional issues -- unlikely.

[2018-09-05 10:17] ststeiger commented on #10064
Since attribute doesn't allow for a delegate, here an example of what I mean:

[code]

[2018-09-05 10:44] DavidKarlas opened #10475 "ConditionalWeakTable throws `NotImplementedException` on `GetEnumerator()`"
## Steps to Reproduce

I don't have exact steps, I was debugging VSfM and exception was thrown when I had enabled to catch exceptions... I imagine this can cause memory leaks when using TLS connections since things are not cleaned up because of exception.

### Current Behavior

Throws exception.

### Expected Behavior

Doesn't throw exception but instead returns valid entries.

## On which platfor

[2018-09-05 11:06] Obvious1992 commented on #10461
The cause of this error should be the same as for the following issue: https://github.com/mono/mono/issues/9511#issuecomment-418661100

[2018-09-05 11:41] lewurm commented on #10447
fixed by https://github.com/mono/mono/pull/10455

[2018-09-05 11:41] #10447 closed

[2018-09-05 11:41] filipnavara commented on #10447
JFYI the test case is not very well written. It would be nice to ensure that the original file before the copy has time with nano-seconds by explicitly setting it and then compare the exact time stamp after the copy.

[2018-09-05 12:36] T0bi-Ethirbirge commented on #10290
Hey i still get this error when i build mono from scratch [Here](https://www.mono-project.com/docs/compiling-mono/windows/)
Do you know what is the cause of it.
`Error mapping file: mono_file_map_error failed file:ConsoleApp.exe length:0x3F4000 offset:0x4C0000 function:MapViewOfFile error:Access is denied.(0x5)`

[2018-09-05 13:27] filipnavara commented on #10475
cc @EgorBo, who added it while porting CoreFX code.

[2018-09-05 13:29] migueldeicaza commented on #10465
I think the suggestion makes sense for Windows, where the OS can extract the icon from the executable, but I am not sure if this is something that can be done today in the "simple" mode, it could perhaps only be supported in the scenario where we create a new binary, or if we figure out a way of adding the icon to an existing executable after the fact.

For MacOS, I do not think that this is the r

[2018-09-05 13:29] #10465 closed

[2018-09-05 13:37] migueldeicaza commented on #10424
Suggestion: This could have been caused by a change in the parsing code for floating point values.

[2018-09-05 13:37] kumpera commented on #10411
Hi, packager.exe is a binary you'll find in the wasm binaries we distribute.
You can download the latest version from our jenkins job: https://jenkins.mono-project.com/job/test-mono-mainline-wasm

[2018-09-05 13:37] #10411 closed

[2018-09-05 13:42] EgorBo commented on #10475
@filipnavara did I? it seems it still uses mono specific sources: https://github.com/mono/mono/blob/master/mcs/class/corlib/corlib.dll.sources#L318

[2018-09-05 13:43] kumpera commented on #10475
@EgorBo yes, you're the one that added IEnumerable to CWT without implementing.

[2018-09-05 13:43] kumpera commented on #10475
you can base the implementation on corert's

[2018-09-05 13:44] EgorBo commented on #10475
oh, indeed, I remember that, let me try to find out why I didn't implement it

[2018-09-05 13:47] kumpera commented on #10446
Yes, you have an old automake (prior to 1.16.1) and/or you have a configure cache that you must remove. `git clean -xfd` your checkout.

[2018-09-05 14:09] EgorBo commented on #10424
Mono 5.19, Windows - it prints `False` for me as expected.
We recently moved to .NET Core source for Float/Double and Number parsing/formatting

[2018-09-05 14:35] mandel-macaque commented on #10278
It does not look to be an issue with Xam.Mac, please read the conversation here (https://xamarinhq.slack.com/archives/C03CCJNR7/p1536074343000100)

[2018-09-05 15:31] slide commented on #10424
@migueldeicaza Parsing code in Roslyn?

[2018-09-05 17:13] marek-safar commented on #10424
This is strange. I cannot reproduce the issue with Mono 5.14 on my Mac (64bit) machine. What is your `mono --version` ?

[2018-09-05 17:19] slide commented on #10424
[code]

We didn't see this on macOS if I remember correctly, just on Linux. I don't know the version that is running on our VSTS macOS agent. I will try and find that out.

[2018-09-05 17:29] slide commented on #10424
Ok, the version of Mono on the macOS agent is:

[code]

We don't see the issue on macOS because it's the 5.12 version

[2018-09-05 17:30] slozier commented on #10424
Using the nightly I still see this issue (on Linux). Using the following tools:
- mono: Mono JIT compiler version 5.19.0.290 (tarball Tue Sep  4 11:02:04 UTC 2018)
- msbuild: Microsoft (R) Build Engine version 15.6.0.0 ( Thu May 10 14:00:26 UTC 2018) for Mono
- csc: Microsoft (R) Visual C# Compiler version 2.8.2.62916 (2ad4aabc)

[2018-09-05 18:27] sourceskyboxer commented on #10465
okay thanks....

[2018-09-05 19:40] HinTak opened #10478 "Bug 59076 mkbundle --cross mono-5.2.0-*.zip --library broken because of mis-built 5.2.0 targets."
Continuation of https://bugzilla.xamarin.com/show_bug.cgi?id=59076

## Steps to Reproduce

1. grab most fo the osx /ubuntu related files from https://download.mono-project.com/runtimes/raw/
2. unpack
3.

### Current Behavior

[code]

file tested:

[code]

### Expected Behavior

None of the cross targets should have that 'Function not supported' .

This line comes from mono/eglib/gfile-unix.c
(see

[2018-09-05 19:42] HinTak commented on #10478
I know at this point 5.2 and 5.4 are pretty old - but it might be useful to document not to use them or withdrawn them altogether?

For my purpose I'll need to jump from 4.8 to a late 5.12, which I am not looking forward to...

[2018-09-05 21:04] HinTak opened #10479 "mkbundle --cross takes mscorlib.dll from host, and result binary breaks with version mismatch."
## Steps to Reproduce

1. run mkbundle with `-v` and `--cross`:
`mkbundle -v --cross mono-4.8.0-osx-10.7-x64.zip ...`
2. observe that `mscorlib.dll` is taken from the host, rather than the cross directory. Plus other dlls.

### Current Behavior

observe that `mscorlib.dll` is taken from the host, rather than the cross directory. Plus other dlls.

### Expected Behavior

most (all?) dll's should be

[2018-09-05 21:07] HinTak commented on #10479
I saw this about a year ago when the new mkundle functionality first came out. It didn't bother me that much that I couldn't cross to a different versioned runtime then.

Perhaps it is a matter of better documentation - if the host mono version must match the cross version, it should be documented clearly in the man page.

[2018-09-05 21:07] EgorBo commented on #10424
Reproduced it on Ubuntu 18.04 with the latest mono

[2018-09-06 00:53] jaykrell commented on #10441
Here is the relevant stack, which is elusive -- you have to add excess fields to System.Linq.Parallel.Wrapper to see it.

[code]

[2018-09-06 01:54] sourceskyboxer opened #10482 "Why does it happen like old time since 4.8 or 4.9???"
Hello everyone,

I am using Ubuntu 16.04 - x64

Mono from Github 5.19.0

mkbundle generates successful great.

Now "Segmentation fault (core dumped)" Grrr I am now explosive because Mono Development always failed like old version on Windows now for Ubuntu happens. I am arguing again. Please check and fix.. I feel explosively.

Thanks!

// EDIT:

If I use -z than it works fine like normal.

If you

[2018-09-06 03:34] jaykrell commented on #10085
All the C source in sgen/mini/metadata/utils/glib is fixed in master now, for Linux, Mac, Windows, Android, x86, amd64, arm, arm64. PowerPC, MIPS, SPARC, s390x were mostly ignored.

The Windows project files are lagging but there is a working PR.

I'd say this phase is resolved and next phases are, something like, with consenus:
 - test on device
 - maybe test in VS4Mac
 - maybe test Unity
 - more

[2018-09-06 09:59] rolfbjarne opened #10483 "iOS cannot save Entity models with Nullable Guid (Guid?) property types (among others) using EF Core 2.1.2."
_From @cfdelaune on September 4, 2018 21:39_

### Steps to Reproduce
1. Download, extract, and load the sample solution in Visual Studio 15.8.1.
[iOSEFCore212.zip](https://github.com/xamarin/xamarin-macios/files/2350303/iOSEFCore212.zip)

2. Build and run the project, targeting a physical iPhone device.

**PLEASE NOTE:** This project has been adapted from the sample provided by @cwrea for a preced

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @mauruskuehne on September 5, 2018 6:54_

We have this problem too in our app. @cfdelaune do you have a workaround for this until it's fixed?

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @cfdelaune on September 5, 2018 11:46_

Unfortunately, no. I have been fighting with this problem for months. Until VS 2017 15.7.6, I could not even compile, so I am just now able to identify the specific problem.

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @ysmoradi on September 5, 2018 16:52_

The workaround is here! https://github.com/ysmoradi/EfCoreiOSIssue/
@cfdelaune @mauruskuehne @cwrea @1saeedsalehi

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @divega on September 5, 2018 22:59_

@rolfbjarne can you please provide more information about what specific limitation in Xamarin iOS this is hitting?

Also, any chance this can be re-prioritized? We have been getting lots of feedback from Xamarin customers trying to use EF Core and we have been working through issues with several people in the Xamarin team, trying to get things to a place

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @ysmoradi on September 6, 2018 9:39_

@divega I've used ef core in many xamarin based projects. I've experienced 3 pains. 1- Poor performance on android devices, 2- sqlite migrations limitations and this issue. You're generating code at runtime using lambda expressions (NewExpression + Compile), and this violates iOS limitations. You may not generate code at runtime in iOS apps. I think you'

[2018-09-06 09:59] rolfbjarne commented on #10483
_From @mandel-macaque on September 6, 2018 9:42_

Here is some extra information. I have been able to reproduce the bug with Xamarin.iOS 11.14.0.13 (373c313), which is the one used to report the issue. I have also tested the following environments:

-[Latests stable](https://gist.github.com/mandel-macaque/e3443b137438f628a93fe52f1eacea09) Wit a successful [build](https://gist.github.com/mandel-mac

[2018-09-06 09:59] rolfbjarne commented on #10483
@ysmoradi I'm not sure which limitation this is hitting, it might just be a bug too. I'll have to forward this to the mono team for them to have a look at it.

[2018-09-06 10:04] rolfbjarne commented on #10483
Due to https://github.com/xamarin/xamarin-macios/issues/4761 the project does not build with a Xamarin.iOS version that uses mono 2018-04 (for instance our `master` or `d15-9` branches).

To reproduce, use either a stable version of Xamarin.iOS (d15-8), or the mono-2018-06 branch (PR https://github.com/xamarin/xamarin-macios/pull/4277)

[2018-09-06 10:05] marek-safar commented on #10483
@vargaz this is another Nullable<> case but it's quite short. Could you check why we cannot expand it?

[2018-09-06 10:08] rolfbjarne commented on #10483
Application output from one of the times I reproduced it: https://gist.github.com/rolfbjarne/79410870f955f9a322574d1a53a698b3

[2018-09-06 11:06] marek-safar commented on #10278
@mandel-macaque were you able to reproduce the issue?

@CartBlanche could you please attach full stacktrace

[2018-09-06 11:31] marek-safar commented on #10424
@directhex any ideas what could be special on linux nighly packages?

[2018-09-06 11:39] marek-safar commented on #10461
@baulig please have a look

[2018-09-06 11:43] marek-safar commented on #10309
@jaredpar yep, there is 3rd feed. Check out https://www.mono-project.com/download/preview/#download-lin

[2018-09-06 11:52] #10412 closed

[2018-09-06 12:42] marek-safar commented on #10462
Could you provide us with more details (e.g. full arguments) ? It looks like you are missing assembly reference

[2018-09-06 12:48] marek-safar commented on #10453
@vargaz could you please investigate

[2018-09-06 13:38] david4neblio opened #10488 "HttpWebRequest throws an uncatchable task exception when processing requests simultaneously with timeout specified"
## Steps to Reproduce

Just open up a new project and copy and paste the following code to replicate the error.

[code]

### Current Behavior
This code throws a task exception by method **MyGetResponseAsync** found within HttpWebRequest. The exception here is uncatchable due to the fact that the MyGetReponseAsync is a task created by BeginGetResponse and there is no current way (I'm aware of) to a

[2018-09-06 13:42] #10366 closed

[2018-09-06 13:44] luhenry commented on #10085
Once we know if we want to go for C++ or no, we have to fix the hacks.

[2018-09-06 13:48] marek-safar commented on #10154
What timeout did you change? The default ReadWriteTimeout is 30 seconds.

[2018-09-06 14:08] marek-safar commented on #9912
@garuma @mhutch is it still the case?

[2018-09-06 14:11] marek-safar commented on #10167
This looks potentially as out of memory condition

[2018-09-06 14:11] #10167 closed

[2018-09-06 14:17] #9925 closed

[2018-09-06 14:19] #9870 closed

[2018-09-06 14:54] garuma commented on #9912
As far as I know yes although I haven't recently done the dance of reverting to an older installation and then going back to a higher one which would likely retrigger the problem based on @mhutch workaround.

[2018-09-06 15:06] agonzalezm commented on #10154
WebRequest.Timeout

        private class MyWebClient : System.Net.WebClient
        {
            public int Timeout { get; set; }
            protected override WebRequest GetWebRequest(Uri uri)
            {
                WebRequest lWebRequest = base.GetWebRequest(uri);
                lWebRequest.Timeout = Timeout;
                ((HttpWebRequest)lWebRequest).ReadWriteTimeout = Timeout;

[2018-09-06 15:07] HinTak commented on #10479
I tried running mkbundle in mono 5.14 win64 and it seems that the strange behavior of looking for cross target dlls in host install is not there; but the cross targets are missing some dependent dlls and I ended up having to copy them from the (version matched) host install .

Filing a separate bug on the missing cross dll issue.

[2018-09-06 15:14] HinTak opened #10489 ""System.Net.WebException: Error: TrustFailure" on win64"
## Steps to Reproduce

1. install win64 mono

https//download.mono-project.com/archive/5.14.0/windows-installer/mono-5.14.0.177-x64-0.msi

2. run `"c:/Program Files/Mono/bin/mkbundle.bat" --list-targets`

### Current Behavior

[code]

### Expected Behavior

It should be able to contact https://download.mono-project.com/ and get a listing.

## On which platforms did you notice this

[ ] macOS
[ ] L

[2018-09-06 15:17] lambdageek commented on #10085
PR lane is pretty important since we want to guard against regressions

[2018-09-06 15:18] HinTak commented on #10489
This happens on 64-bit wine. I am fairly sure the problem happened because win64 mono does not automatically trust any https servers (including mono's), and there is supposed to be some kind of certificate importat step involved when mono is installed. Anyway, as I installed win64 mono as is, I think the installer should have done something...

I was able to download the files manually, set up a p

[2018-09-06 15:30] HinTak opened #10490 "mkundle cross mono-5.14.0-* targets missing some dependent dll's"
## Steps to Reproduce

1. `mkbundle -v --cross mono-5.14.0-ubuntu-16.04-x64 ...`
or `"c:/Program Files/Mono/bin/mkbundle.bat" -v --cross mono-5.14.0-osx-10.7-x64 ...`
on some program that depends on System.Windows.Forms.dll .

### Current Behavior

[code]

and similarly with the ubuntu target:
[code]

### Expected Behavior

should succeed. In fact the same command did work with mono 4.8.0 and 4.8.

[2018-09-06 15:32] HinTak commented on #10490
This is perhaps the opposite bug of https://github.com/mono/mono/issues/10479  - of restricting the cross target look-up to the cross-target directories but the cross-targets aren't complete. The other issue is about looking up dlls in the host install in preference to those in the cross-target's.

[2018-09-06 15:36] marek-safar commented on #8893
I am closing this issue as by design. The workaround is actually the solution which should have been required from the beginning but accidentally worked because of different default settings.

The suggested workaround is to set the `<CscToolPath>$(MSBuildFrameworkToolsPath)</CscToolPath>` which will work with any version.

@kdubau @brendanzagaeski Please ensure this is documented at the right plac

[2018-09-06 16:02] Auhmaan commented on #8893
In the meantime, what should I do to be able to build the project? I've tried to add the `<CscToolPath>$(MSBuildFrameworkToolsPath)</CscToolPath>` to the `*.csproj` file before and after the `<CscToolExe>mcs.exe</CscToolExe>` line without any success.

Not sure if it's important, but this project is in a solution with one other iOS project that builds successfully.

[2018-09-06 16:04] sourceskyboxer commented on #10366
Why do you close? But please check Mono 5.14.0 has problem with generator of executable with mkbundle. I think you don't check mkbundle from Mono 5.14.0 that is error......

[2018-09-06 16:39] marek-safar commented on #10488
@baulig another async rewrite side effect :-(. Please look into it

[2018-09-06 16:44] marek-safar commented on #8893
@radical the solution appears not to work

[2018-09-06 17:00] marek-safar commented on #6857
Right now we are blocked by https://devdiv.visualstudio.com/DevDiv/_workitems/edit/678211 to work reliably with VS2017

[2018-09-06 17:33] dsyme opened #10495 "Recent regression: ```ProvidedField has invalid vtable method slot 20 with method none```"
We're seeing a failure in Mono 5.19.0.290 (mono-weekly tag on travis) that was passing in all previous Mono. It looks like a regression has slipped in

I'm seeing this in CI for project https://github.com/fsprojects/FSharp.TypeProviders.SDK/

![image](https://user-images.githubusercontent.com/7204669/45174585-2b8b5e00-b203-11e8-95ce-1325588b5584.png)

We CI that repo using mono-weekly to make sure

[2018-09-06 17:35] lambdageek commented on #10495
@MaximLipnin `ProvidedField` in the error message here is a custom `FieldInfo` subclass.  Could this be related to your recent CoreFX System.Reflection work?

[2018-09-06 18:05] lambdageek commented on #10495
So my guess is that this is a regression since #10370 related to https://github.com/mono/mono/pull/10370/files#diff-d734a56e2e46fe93fa6696019ba1a9b0R62
That line adds a new abstract `GetFieldOffset` method to `FieldInfo` which is not present in .NET Standard.

@MaximLipnin that makes it impossible for custom FieldInfo subclasses to be created by downstream projects.

In this case it's a runtime er

[2018-09-06 18:14] radical commented on #8893
@Auhmaan can you please share the project file and the diagnostic build log? Change log verbosity in the preferences for your project and then do a clean+build and share the log. If you are building from the command line then run with `/fl /flp:v=diag` and share the generated `msbuild.log` file.

[2018-09-06 18:34] brendanzagaeski commented on #10142
Apologies for the slow follow-up on my side. I'm not too familiar with whether parity among different .NET target frameworks is generally accepted as a reason for inclusion of a change in a Visual Studio servicing release. Deciding the policy for that sounds like a higher-level discussion that'd be above me. (Depending on how .NET Core expects to add other new features in the future, this example

[2018-09-06 19:06] MaximLipnin commented on #10495
It's existing method that was made abstract in this [commit](https://github.com/mono/mono/pull/10370/commits/928a72670bf9ec497920317c3a0263065d01b834) during review comment addressing. It's strange that I didn't catch that issue by any of unit tests.

[2018-09-06 19:09] lambdageek commented on #10495
We don't have any tests that make custom subclasses of System.Reflection types.

[2018-09-06 20:01] NattyNarwhal opened #10496 "Character order jumbling regression on big endian platforms (ppc64be/s390x)"
## Steps to Reproduce

1. Build Mono.

### Current Behavior

Jumbled characters from gensources.

### Expected Behavior

gensources would run fine.

Regression from #9744. My suspicion lies on these classes that were converted:

* BitConverter
* StringComparer
* UnicodeConverter (most likely candidate)
* P/Invoke CharSet/BStrWrapper

## On which platforms did you notice this

[ ] macOS
[X] Linux
[

[2018-09-06 21:04] directhex commented on #10424
/usr/bin/csc comes from Mono, so there's nothing fancy going on in there, it's just whatever gets `make install`ed

[2018-09-06 22:50] #9142 closed

[2018-09-06 22:55] #8627 closed

[2018-09-06 23:40] NattyNarwhal commented on #10496
Guess what gem I found in CoreFX BitConverter? Guess what endianness monolite is built on?

[code]

BitConverter in referencesource was patched for this, which does some bit twiddling on a known type, little clumsy, but it works:

[code]

So uh, yeah, that needs porting. Maybe it could be an icall instead?

[2018-09-06 23:50] NattyNarwhal commented on #10496
Hmmmm, even then, somehow (?) BitConverter is still saying it's not little endian; maybe a stale monolite?

[2018-09-07 00:15] EgorBo commented on #10496
@NattyNarwhal I am not sure about mono but in .NET Core JIT eliminates all `if (!IsLittleEndian)` (sometimes those checks could prevent methods to be inlineable). And I guess JIT won't do that for `IsLittleEndian = AmILittleEndian ();`

[2018-09-07 00:29] NattyNarwhal commented on #10496
Interestingly, z has more problems than aix/ppc64 does:
[code]
[code]

[2018-09-07 00:45] NattyNarwhal commented on #10496
So the Monolite hashes are the same (at least for z) between last good build and first commit for current breakage. My working ass-pull theory is there's a mismatch in some kind of thing, (is gensources built with something else, or?) and 1. fixing BitConverter by backporting the Mono fix 2. rebuilding Monolite should possibly do it. Maybe.

[2018-09-07 05:30] jaykrell commented on #10496
1. Why do they use double and not int? That seems excessively obscure.
2. We should probably just intrinsify this -- including in the interpreter.

[2018-09-07 06:57] #10495 closed

[2018-09-07 07:06] marek-safar opened #10499 "Introduce a tool to verify compatibility with reference assemblies"
We need a tool (probably Cecil based) to check that none of the types which are available in .NET are not introducing a layout requirement which assemblies compiled against reference assemblies cannot check.

- [ ] internal abstract
The most common case is an existence of `internal abstract` member which does not break the public contract but will crash at runtime because of invalid class layout (

[2018-09-07 07:17] marek-safar commented on #10496
It'd be great to remove the static ctor IsLittleEndian initialization and use runtime intrinsic

[2018-09-07 07:26] jaykrell commented on #10496
I mean, leave all the C# code alone. Run the cctor. Let it do some store to somewhere.

But intrinsify any reads of the field --  don't actually read what the cctor wrote.

The interpreter could actually be unchanged (my mistake), reflection could read the field.

[2018-09-07 07:41] jaykrell opened #10501 "CI no longer shows stack traces for SIGSEGV"
SIGSEGV reporting, at least the low tech text, seems to have regressed.

Here is what we get recently in CI:

***** MonoTests.System.Linq.ParallelEnumerableTests.TestGroupBy
Stacktrace: (nothing here)

/proc/self/maps:
5597e41bd000-5597e4d38000 r-xp 00000000 08:11 21117699                   /mnt/jenkins/workspace/test-mono-pull-request-amd64-fullaot+llvm/mono/mini/mono-sgen
5597e4f37000-5597e4f570

[2018-09-07 08:46] #6886 closed

[2018-09-07 09:13] Auhmaan commented on #8893
@radical I apologize, but when you say to _change the log verbosity_, do you mean the `<Project> -> Options -> Build/Compiler -> Debug Information = Full`? If so, here's the log:

[code]

[2018-09-07 11:52] marek-safar opened #10506 "Update CI build scripts to not hardcode -j4"
We have been updating our infrastructure but most of our CI script still have hardcoded make -j4 even if we nowadays build on machines like Intel Xeon E5-2667 which can handle more.

We should look into the more future proof handling of this which would scale automatically

[2018-09-07 12:19] EgorBo opened #10507 "MONO_VERBOSE_METHOD on Windows - Assertion: should not be reached at helpers.c:295"
## Steps to Reproduce

1. compile a small program, e.g.:
[code]
2. `csc -o Program.cs`
3. `MONO_VERBOSE_METHOD=Program:Test mono Program.exe`

### Current Behavior

### Expected Behavior
`* Assertion: should not be reached at helpers.c:295`
Full output:
[code]

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x] Windows

**Version Used**:

[code]

[2018-09-07 12:20] akoeplinger opened #10508 "thread-suspend-suspended.exe and thread-suspend-selfsuspended.exe fail a lot on Windows i386"
## Steps to Reproduce

1. Run thread-suspend-suspended.exe and thread-suspend-selfsuspended.exe tests on 32bit Windows (it doesn't happen on 64bit!)
2. The tests time out very often.

Might be related to the recent switch to hybrid suspend.

### Current Behavior

The tests time out after 5 minutes. Examples:

- https://jenkins.mono-project.com/job/z/label=w32/7844/testReport/
- https://jenkins.mon

[2018-09-07 14:09] hardhub commented on #6972
I need to leave this here:

https://github.com/mono/mono/pull/3061#issuecomment-419441236

[2018-09-07 14:16] hardhub commented on #6972
You will need to use resx2SR tool to get all desired strings and use Format method from main corefx SR file.

[2018-09-07 15:15] akoeplinger opened #10510 "VSMac test failures after 2018-08 bump"
## Steps to Reproduce

1. Run VSMac tests with mono 2018-08 (see https://github.com/xamarin/md-addins/pull/3451)
2. Notice test failures

### Current Behavior

Most of them fail with `System.IO.IOException : Win32 IO returned 50.`. Example:

https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=153332&environmentId=549572&extensionId=ms.vss-test-web.test-result-in-release-environment-e

[2018-09-07 15:19] radical commented on #8893
@Auhmaan Sorry, I should have been clearer! I meant, `Projects -> Build -> Log Verbosity : Diagnostic`. It will be pretty big, so could you please use gist.github.com or something similar to share it?
Also, before that please share your project file, just to check if there might be something missing there.

[2018-09-07 15:33] Auhmaan commented on #8893
@radical Here you have. I hope this is what you want.

*Build log*: https://gist.github.com/Auhmaan/3b09a67dba17c99e58c2acf37b88546a
*Project file*: https://gist.github.com/Auhmaan/9d2a417736b780305039b9e62fc39654

[2018-09-07 15:47] nddipiazza commented on #10371
I believe I have seen this issue on 5.14.0.177

[2018-09-07 16:54] radical commented on #8893
This project is missing the `<CscToolPath>$(MSBuildFrameworkToolsPath)</CscToolPath>` line as suggested earlier. Could you please add that, then clean+build and share the project file+log?

[2018-09-07 17:04] jaykrell commented on #10441
The callstack used to appear more readily but that regressed. Maybe it is in a .json file?

[2018-09-07 18:47] slide commented on #10424
Is there anything I can do to help out on figuring what the root cause is?

[2018-09-07 19:20] vdkhoi commented on #10415
I also get exact error. However, my application is distributed, which is hard to reproduce.

Mono version: 5.14.0.177
OS: CentOS

[2018-09-07 20:52] KubekSzklany opened #10518 "Mono not return environment variable."
## Steps to Reproduce

Create windows form application and print this string:
string AppData = Environment.GetEnvironmentVariable("APPDATA");

### Current Behavior

string AppData is just empty string (AppData = "")

### Expected Behavior

I remember that on ubuntu 16.04 it returns:
/home/myusername/.wine/drive_c/users/myusername/applicationdata
or something like that.

## On which platforms did y

[2018-09-07 21:14] nddipiazza opened #10521 "Ssl error:1000007d:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED on an https site with chain enterprise ca cert, but tlstest.exe works for that site"
## Steps to Reproduce

1. Using certmgr, add each cert in the chain for an https://mysharepoint.com to your trust store.
2. Run the `mono tlstest.exe https://mysharepoint.com`. **No error.**
3. In mono, run a `System.Net.HttpWebRequest.GetRequestStream` against an HTTPS url and **notice error**:

[code]

stack below

### Current Behavior

* TlsTest.exe works but System.Net.HttpWebRequest.GetReques

[2018-09-07 21:52] #10227 closed

[2018-09-07 22:49] nddipiazza commented on #10521
You can probably just link me to the appropriate docs and close this. I'm sure I just beefed up a step somewhere along the line

[2018-09-08 08:06] sandeepsipl commented on #9808
Hello, I'm also facing the same issue since I updated my environment. I'm using Visual Studio on Mac. Here is the configuration:

Visual Studio Community 2017 for Mac
Version 7.6.3 (build 1)
Installation UUID: b0a071ff-75bd-49c0-9e29-9a85477a43c1
Runtime:
	Mono 5.12.0.301 (2018-02/4fe3280bba1) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 5120

[2018-09-08 10:00] gthvidsten opened #10523 "System.IO.Ports.SerialPort does not clean up after itself"
I've created a very simple console application that opens, closes, and disposes a `SerialPort` object. The first time the application is started everything works just fine. However, if you start it a second (or third, or fourth) an exception is thrown.

## Steps to Reproduce

1. Create a console application with the following code:
[code]
2. Start the application. No errors
3. Start the applicatio

[2018-09-08 15:34] filipnavara commented on #10510
There's a tiny chance that this could have been caused by my `clonefile` changes. However I don't have rights to view the issues. I believe 50 is ERROR_NOT_SUPPORTED. Are the tests by any chance running on a Mac with HFS+ file system (as opposed to the newer APFS)?

[2018-09-08 15:45] filipnavara commented on #10521
`tlstest` is out-dated and uses old Mono SSL implementation, which may not do the proper checks. It also takes trusted root certificates from different location than the system OpenSSL libraries. Can you check whether the certificate from the particular URI is trusted by your browser (or OpenSSL directly)?

[2018-09-08 15:59] zulhfreelancer opened #10524 "Mono crashed on OSX 10.12.6"
I'm trying to use Fiddler on Mac. But Mono was crashing.

## Steps to Reproduce

1. Download  Mono 5.14.0 (Stable channel) for Mac from [here](https://www.mono-project.com/download/stable/)
2. Run `/Library/Frameworks/Mono.framework/Versions/5.14.0/bin/mozroots --import --sync` in Terminal
3. Download Fiddler for Mac [here](https://www.telerik.com/download/fiddler/fiddler-osx-beta)
4. Extract the

[2018-09-08 17:39] nddipiazza commented on #10521
Ah. Well thats the problem then. We should update the documentation. Yes the enterprise cert chain is valid in browser and openssl.

[2018-09-09 13:50] filipnavara commented on #10524
More info: https://github.com/mono/mono/issues/6701

[2018-09-09 14:57] sourceskyboxer opened #10526 "Gtk Sharp 2.x and Gtk Sharp 3.x with OpenTK or OpenGL crashed since LLVM ( libLLVM.so ) For Ubuntu 18.04"
99Hello everyone, I found bug

Ubuntu 18.04 sucks Gtk Sharp 2.x and 3.x with OpenTK or OpenGL.net since crash if you run C# program with OpenGL Development and it happens I found that.

Exception:
[code]

I thought they said Mono + Gtk Sharp 2 and 3 with OpenTK or OpenGL works fine for Ubuntu 18.04 But I am surprised because amdgpu-disabled was joking - I am shocking now because LLVM has problem.

[2018-09-09 15:50] akoeplinger commented on #10510
Here's one stacktrace:

[code]

I couldn't find out whether the tests are running on an HFS+ Mac, but it could be.

[2018-09-09 16:00] filipnavara commented on #10510
That looks very suspiciously like it. I re-checked the documentation and the `clonefile` syscall is supposed to return ENOTSUP, which is handled. In this case it seems like ENOSYS comes from some call. I suspect that on some file system it could return incorrect error code.

What are the options of testing the theory on the machine where it fails? I can make Mono patch or a standalone C code to te

[2018-09-09 16:08] filipnavara commented on #10510
If my theory is correct then this fix would help: https://github.com/filipnavara/mono/commit/e05ca6b35246e8158c29cb4d211e799c81cd183c

[2018-09-09 17:36] luhenry opened #10527 "Failing `bug-17590.exe` with `test-sgen-regular-ms{,-conc}-simple` on Linux AArch64 FullAOT+LLVM"
They started failing from the beginning of the [Linux AArch64 FullAOT+LLVM](https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llvm/) job:

- https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llvm/2/testReport/junit/MonoTests/test-sgen-regular-ms-conc-simple/bug_17590_exe/
- https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llv

[2018-09-09 17:37] luhenry commented on #10527
@vargaz could you please take a look at that? It's failing consistently so should be easy to reproduce.

[2018-09-09 17:43] akoeplinger commented on #10510
Hm the "not supported" message can also come from here: https://github.com/mono/mono/blob/e872684c4d002721a0d130356cdf3041ae4d3845/mono/metadata/w32error-unix.c#L90-L92

In fact, checking the log I see:

[code]

[2018-09-09 17:46] akoeplinger commented on #10510
The full exception message also has the paths in it, in case that helps:

[code]

[2018-09-09 18:14] filipnavara commented on #10510
Oh, `EXDEV` is actually documented error code. It should go on the same line as in my patch. I will submit a PR when I get home.

[2018-09-09 23:40] #10526 closed

[2018-09-10 03:09] yyjdelete opened #10533 "`Socket.SendAsync(SocketAsyncEventArgs)` May do partly Send when BufferList and NonBlocking is used."
## Steps to Reproduce
See the code below
1. Set `Socket.Blocking` to false
2. `Socket.SendAsync(SocketAsyncEventArgs)` with an large BufferList
3. See `SocketAsyncEventArgs.BytesTransferred` is not match the total length of the BufferList to be send

Test code: an modified version of the one in dotnet/corefx below.
<details>

[code]

</details>

### Current Behavior

`Socket.SendAsync(SocketAsyncE

[2018-09-10 07:30] knocte commented on #8965
@vargaz but that change is both in 5.12 and 5.10, while @NickCraver claims to be a regression (a bug that didn't exist in 5.10 while it exists in 5.12).

[2018-09-10 09:34] lateralusX commented on #10508
Looks like first failure of one of these tests occured here (might not be directly related though):

https://jenkins.mono-project.com/job/z/label=w32/7657/

Will try to reproduce this in the debugger during the week.

[2018-09-10 10:52] wschaefe commented on #9808
Same problem since update:
**Visual Studio Enterprise 2017 for Mac**
Version 7.6.3 (build 1)
Installation UUID: 42f689d4-8da5-42af-8e43-c8bc7c1a03c2
Runtime:

	Mono 5.12.0.301 (2018-02/4fe3280bba1) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 4.4.1.178 (master / eeaeb7e6)

	Package version: 512000301

**NuGet**
Version: 4.3.1.4445

.NET Core
Laufzeit: /usr/local/share/dotnet/dotnet
Laufzeit

[2018-09-10 12:07] robbor78 opened #10535 "How do I programmatically determine if and where Mono 64 bit is installed in Windows?"
I found these registry settings

[HKEY_LOCAL_MACHINE\SOFTWARE\Mono]
"Installed"=dword:00000001
"Version"="5.10.1.47"
"SdkInstallRoot"="C:\\Program Files\\Mono\\"
"FrameworkAssemblyDirectory"="C:\\Program Files\\Mono\\lib\\"
"MonoConfigDir"="C:\\Program Files\\Mono\\etc\\"
"Architecture"="x64"

Assuming the user installed the Mono 64 bit MSI, can I in C# code read the registry and rely on that key

[2018-09-10 13:07] vargaz commented on #10303
Testcase:
<<<<<<<<<<<<<<<<<<<<<
		Console.WriteLine (Marshal.SizeOf (typeof (void)));

This worked in 4.9.3 (printed 1).

[2018-09-10 14:12] mfkl opened #10538 "Could not AOT the assembly; Assertion: should not be reached"
## Steps to Reproduce

1. Clone https://github.com/mfkl/libvlcsharp
2. `cd libvlcsharp && git checkout simplify-event-handling`
3. build for iPhone device with VS Mac.

### Current Behavior

Given a wrapper for iOS that uses a lot of reverse callbacks with native code, I decided to use an in-solution Fody weaver to set as `static` methods wearing a `MonoPInvokeCallback` attribute.

[code]

This cu

[2018-09-10 14:51] Auhmaan commented on #8893
@radical I would swear that I've tried to add that line to the `*.csproj` file, but without success... This time worked! I think that I also should mention that I've switch from the stable channel to the beta channel of the Visual Studio, and the back to the stable channel again, maybe that had cleared some stuck variable or file... Either way, thank you for your help.

[2018-09-10 14:51] marek-safar commented on #10303
@vargaz could you please fix this?

[2018-09-10 15:47] benjaminknox commented on #10415
@vdkhoi

Yes, I have observed that when we decreased the amount of memory we were using it started happening less.

[2018-09-10 16:05] EgorBo commented on #10518
Is not it a windows specific variable?
on my ubuntu 18 both mono and .NET Core have:
[code]

[2018-09-10 20:05] lewurm opened #10543 "[interp] clarify --aot=interp and --aot=interp,full"
Those options have been used with `mscorlib.dll` only so far, but might need to be extended for arbitrary assemblies. There might be some issues in AOT compiler/runtime. At the very least, the man page should describe the expected behaviour.

[2018-09-10 20:12] dsyme commented on #10495
@MaximLipnin I tried 5.19.0.290 and still see a failure - should that version have had the fix?  Thanks!

[2018-09-10 21:17] radical commented on #8893
@Auhmaan np!

[2018-09-10 21:17] #8893 closed

[2018-09-10 22:02] radical opened #10544 "[REGRESSION][master] Getting custom attributes+AttributeType for a `DllImport` method throws NRE"
Failed output:
[code]

Expected output:
[code]

test case:
[code]

This is because of the `CustomAttributeData` being passed a null `ctorInfo` in the .ctor . And that seems to stem from [this](https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Reflection/MonoMethod.cs#L462) where it is trying to find a constructor for `FieldOffsetAttribute` that takes a `string`, but there seems to b

[2018-09-11 06:36] marek-safar commented on #10544
@MaximLipnin it looks like predefined ctor handling broke

[2018-09-11 06:38] marek-safar commented on #10518
`APPDATA` is Windows specific env variable. I don't think you should expect it to be available on non-Windows unless it's set manually.

[2018-09-11 06:38] #10518 closed

[2018-09-11 06:58] #10483 closed

[2018-09-11 12:46] lewurm commented on #10298
roslyn crash hitting this assertion as well during crash reporting:
https://jenkins.mono-project.com/job/test-mono-pull-request-arm64/13367/

[2018-09-11 13:48] marek-safar commented on #6177
This would fit well with dev16

[2018-09-11 14:07] MaximLipnin commented on #10544
It looks like that some changes related to pseudo custom attribute data were not so correct initially.
Mentioned test case for CoreFX and NetFX returns
[code]
So Mono should also return `DllImportAttribute` not `FieldOffsetAttribute`

BTW `GetCustomAttributes` method on Mono 5.14 for mentioned test case returns only `System.Runtime.InteropServices.PreserveSigAttribute` attribute.

[2018-09-11 14:34] bencz opened #10549 "Wrong characters in decimal number representation on s390x"
## Steps to Reproduce

1. Just build and execute the source
[main.zip](https://github.com/mono/mono/files/2371365/main.zip)

### Current Behavior

00:00:45.0119377: 3.1415926535897932467959767074
00:00:10.9924616: 3.14159264358933
Seno: 0.08Ͽ釀823762829505493651
Coss: 0.99Ͽ釀917455304513339041
tang: 0.08Ͽ釀77181611388746733

### Expected Behavior

00:00:19.3970898: 3,1415926535897932467959767090
0

[2018-09-11 16:17] stil opened #10550 "csc.exe: Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.0.2.0"
## Steps to Reproduce

1. Install latest Mono for Windows 5.14.0 Stable (5.14.0.177)
2. In Powershell, execute following command:
[code]

### Current Behavior
Following problem occurs

[code]

### Expected Behavior
csc.exe is called from MSBuild, effectively breaking compilation.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x] Windows

**Version Used**:
5.14.0 Stable (5.14.0.17

[2018-09-11 16:31] marek-safar commented on #10550
You are trying to run Mono customized csc compiler on your version of .NET (whatever that's it). This is not going to work as need to run int with Mono runtime

[2018-09-11 16:31] #10550 closed

[2018-09-11 16:33] KubekSzklany commented on #10518
Ok, i probably see this variable in wine. Thanks for answer.

[2018-09-11 16:40] stil commented on #10550
@marek-safar I see, you're right.

However I get the same problem (`Could not load... System.Text.Encoding.CodePages`) when I try to compile my solution with `C:\Program Files\Mono\bin\msbuild.bat`.

I'm pretty sure that msbuild.bat is ran in Mono runtime, so why my compilation fails?

[2018-09-11 17:34] gthvidsten commented on #10523
This was quite obscure, but I believe I've found the reason.

Apparently the Raspberry Pi 3 does not have enough available ports, so they made the Bluetooth module use the default UART port (/dev/ttyAMA0). This left only a "mini UART" available on /dev/ttyS0.
This "mini UART" is very limited in what it supports, i.e. it doesn't support parity. As you can see in my example above I've set parity to