[2018-09-11 17:34] #10523 closed

[2018-09-11 18:31] lewurm commented on #10549
/cc @nealef

[2018-09-11 18:31] radical commented on #10352
The difference between the 5.12 and 5.16 build is that for the task assembly (loaded from `MsbuildError/MsbuildError/../SomeBuildTask/bin/Debug/netstandard2.0/SomeBuildTask.dll`):

5.12: mono loads the dependency (of `Mono.Cecil.dll`) `System.IO.FileSystem.Primitives`(`Version 4.0.1.0`) from mono's own facades: `/Library/Frameworks/Mono.framework/Versions/5.16.0/lib/mono/4.5/Facades/System.IO.File

[2018-09-11 19:15] nealef commented on #10549
Any time I see Chinese characters appear it makes me think we have a UTF-16 issue with endianess. I will check. Do you know if this also occurs on the other big endian platform(s) /cc @NattyNarwhal

[2018-09-11 19:38] bencz commented on #10549
I tested on AIX, and this does not happen

[2018-09-11 19:39] nealef commented on #10549
I will also have to wait until a new monolite is produced that fixes another endian problem. I believe the fix has been merged but I don't think the monolite has been built from it yet.

[2018-09-11 20:13] necrose99 commented on #10016
sure can toggle off distcc...

[2018-09-11 21:10] radical opened #10555 "CustomAttribute's typed argument value has incorrect type for enum arguments"
Test case:

[code]

Expected output: (works with 5.16.0)
[code]

Actual output: (with master)
[code]

The `CustomAttributeTypedArgument.ArgumentType` is the same, but the `CustomAttributeTypedArgument.Value` has different types:
5.16.x: `dm_play.Levels`
master: `System.Int32`

The commit that introduced this behavior: https://github.com/mono/mono/commit/faaa9a41c66c31708b47bbd55d65de9f24c85aff

Th

[2018-09-11 23:17] jaykrell opened #10557 "valgrind reports use after free"
## Steps to Reproduce

1. Run mono with valgrind. e.g.

$ MONO_PATH=/s/mono/mcs/class/lib/testing_aot_full/ valgrind --tool=memcheck   /s/mono/mono/mini/mono --full-aot --llvm  1.exe

### Current Behavior

Errors reported.

jay@ubuntu:/s/mono$ MONO_PATH=/s/mono/mcs/class/lib/testing_aot_full/ valgrind --tool=memcheck   /s/mono/mono/mini/mono --full-aot --llvm  1.exe
==83480== Memcheck, a memory er

[2018-09-12 00:49] NattyNarwhal commented on #10549
I likewise can't triage until the fix is ready, but I can't reproduce on PASE with a build from July, FWIW:

[code]

[2018-09-12 04:12] kjpou1 commented on #9941
@SteveSandersonMS and @kumpera can this issue be marked as resolved?

[2018-09-12 07:04] MaximLipnin commented on #10555
I'm not sure if it's regression because System.Reflection namespace are moving to CoreFX sources so it's correct to assume that we should follow the CoreFX behavior in general.
The mentioned test case has the same output on CoreFX and NetFX as for actual result above:
`cata: dm_play.Levels, val: 1, type of val: System.Int32`

[2018-09-12 07:43] sancheolz opened #10559 "[System.Windows.Forms] In MaskedTextBox wrong Lines value when Mask setted"
In MasketTextBox when we set Mask and PromptChar as in attached test Lines[0] should return "00.00.0000 00:00". In .net framework 4.0 test passes.

## Steps to Reproduce

1.  Run Test
[code]

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

**Version Used**: 5.12

## Stacktrace

[code]

[2018-09-12 08:01] lewurm commented on #10506
how about `make -j`?

[2018-09-12 08:05] marek-safar commented on #10506
I would be worried that it'd make the system unresponsive to the point that to get any crash reports might be too hard

[2018-09-12 08:37] kg opened #10562 "[roslyn] PatternMatchingTests.Query_01 fails"
roslyn$ PATH=~/.mono/bin:$PATH ./build/scripts/tests.sh Debug mono "" -method "*.Query_01"

[code]

[2018-09-12 08:58] marek-safar commented on #10555
@radical the .NET output actually what master prints
[code]

so it looks like something else broke

[2018-09-12 09:10] kg opened #10564 "[roslyn] CustomModifiersTests.ConcatModifiers_03 does not work on Mono"
[code]

[2018-09-12 09:14] marek-safar commented on #10562
This test seem to be .NET specific as noted in https://github.com/dotnet/roslyn/issues/28026.

We use .NET Core code which is why it fails

[2018-09-12 09:15] kg opened #10565 "[roslyn] Multiple CustomModifiersTests failures due to overridden methods not running"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-09-12 10:46] kg opened #10566 "[roslyn] ArglistTests.ArgListMayHaveARefArgument fails on Mono"
[code]

In this test it looks like we're silently treating the ref argument as non-ref.

[2018-09-12 10:49] kg opened #10567 "[roslyn] SemanticErrorTests.CS1592WRN_XMLParseIncludeError fails on Mono"
[code]

This failure looks like some bit of roslyn infra might be parsing exception messages? So it could just be because our messages don't match what's expected. The failure message is very confusing though.

[2018-09-12 11:02] marek-safar commented on #10566
/cc @vargaz

[2018-09-12 12:23] knocte opened #10570 "MSBuild cannot build a .NETStandard 2.0 F# project in Linux (while it can for C#, or in macOS)"
## Steps to Reproduce

1. Launch VSforMac stable channel, create a new solution with a .NET Standard 2.0 C# project.
2. Build the solution with `msbuild solCsharp.sln /t:Restore && msbuild solCsharp.sln /t:Build`. (Compilation succeeds).
3. Send the solution, project and C# files to a Linux box (e.g. Ubuntu 18.04) with the latest Mono version installed (https://www.mono-project.com/download/stable

[2018-09-12 12:51] marek-safar commented on #10570
/cc @radical

[2018-09-12 14:18] SteveSandersonMS commented on #9941
Yes, thanks!

[2018-09-12 14:18] #9941 closed

[2018-09-12 15:36] nosami commented on #10570
This worked for me with dotnet 2.1.402 installed with Mono nightly channel.

Build log here https://gist.github.com/nosami/6efb538d505e6a6ca1847fe258a76f78

[2018-09-12 15:37] nosami commented on #10570
Test project here https://github.com/nosami/fsstandardlibrary

[2018-09-12 16:02] knocte commented on #10570
Mmm, is .NET Core a requirement to build .NET Standard libs?

I wonder what's the thing that fixes this then. I'll test with different combinations (nightly without dotnetCore, preview channel with&without dotnetCore, stable with dotNetCore), and will report back, thanks!

[2018-09-12 17:33] #10506 closed

[2018-09-12 17:56] #10510 closed

[2018-09-12 18:28] baulig commented on #10461
This is working perfectly fine with latest master.

I found an issue with reading the error response, though: https://github.com/mono/mono/pull/10574.

[2018-09-12 18:31] baulig commented on #10461
Tested with:

- master: `5.19.0 (master/d7337904202 Tue Sep 11 17:13:12 CEST 2018)`
- `5.16.0.119 (2018-06/0955dd23071 Wed Aug 22 07:57:34 EDT 2018)`
- `5.18.0.36 (2018-08/faac90015cd Wed Aug 22 07:22:48 EDT 2018)`

both with your test case and my new test that I added to the web-tests: https://github.com/xamarin/web-tests/commit/e8d610c9ba3cff725e5802f64045459a52e5b3e6.

[2018-09-12 19:52] jaykrell opened #10576 "errors in MonoTlsProvider.cs building winaot profile"
## Steps to Reproduce

1.
### Current Behavior
[code]

### Expected Behavior

success

## On which platforms did you notice this

Windows

[2018-09-12 20:04] baulig commented on #10488
I thought we fixed this in 8facc4a, but it looks like we didn't.

[2018-09-12 20:51] radical commented on #10555
@marek-safar You are correct.

I have a better (and more correct) test case:

[code]

The change here is that now the .ctor argument for the attribute is of *type `object` instead of `Levels`*. Now:

[code]

The new behavior is closer to .net but isn't entirely correct. The `ArgumentType` is `System.Object` instead of `dm_play.Levels`.
(This causes xunit to not know that the argument was really an

[2018-09-12 22:37] jaykrell opened #10580 "[windows] mono --aot default output location fails for input path \foo\bar.exe"
## Steps to Reproduce

1.
C:\s2\mono\msvc\build\sgen\x64\bin\Release\mono-sgen.exe --aot=full \s2\1.exe

Notice the form of the input path.

### Current Behavior

...
Executing the native linker: "link.exe" /DLL /MACHINE:X64 /NOLOGO /INCREMENTAL:NO /DEBUG /OUT:C:\s2\mono\msvc\s2\1.exe.dll.tmp C:\Users\jaykrell\AppData\Local\Temp\mono_aot_a17020.obj "mono_aot_a17020\temp-llvm.obj"
LINK : fatal erro

[2018-09-12 23:23] jaykrell opened #10581 "mono frees memory containing an active critical section."
i.e. failing to call DeleteCriticalSection

## Steps to Reproduce

1. run the gflags.exe utility
2. tab over to "image file"
3. type "mono-sgen.exe"
4. check  "application verifier"
5. run under a debugger, e.g.

cdb /g /G C:\s2\mono\msvc\build\sgen\x64\bin\Release\mono-sgen.exe --aot=full --llvm 2.exe

### Current Behavior

Debugger stops and  reports:

[code]

### Expected Behavior

Application

[2018-09-12 23:49] vargaz commented on #10566
The testcase is this:
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
using System;
class Program
{
    static void Test(__arglist)
    {
        var args = new ArgIterator(__arglist);
        ref int a = ref __refvalue(args.GetNextArg(), int);
        a = 5;
    }
    static void Main()
    {
        int a = 0;
        Test(__arglist(ref a));
        Console.WriteLine(a);
    }
}

The IL generated by csc 2.8.2

[2018-09-13 01:02] NattyNarwhal commented on #10549
I can't reproduce with the latest build on AIX either, now that the build on BE works - this might be s390x specific?:

[code]

[2018-09-13 03:31] sourceskyboxer opened #10583 "Why do you make bad to me about problem with wasm? I have tried.... No success...."
I am using Ubuntu 18.04 and Mono from Github

I want build wasm..  But I don't understand why do I need Android and iOS
I want without Android and iOS..

How do I disable in ./configure or ./autogen.sh?
Why does mono not build as "mono-wasm"?

I thought mono's configure or autogen can generate into wasm compiler . I need for Ubuntu 18.04
I want try.. But why does mono github not build successful?

[2018-09-13 07:44] #10544 closed

[2018-09-13 07:45] macro187 opened #10584 "AppDomain.CurrentDomain.SetData does not work with property APP_CONFIG_FILE"
_Reference: <https://bugzilla.xamarin.com/show_bug.cgi?id=15741>_

* * *

_Paul Zander 2013-10-28 09:07:46 UTC_

Mono version: 3.2.3

If the domain property APP\_CONFIG\_FILE is set, the name of the configuration file is not changed.
Test code:

[code]

This behaviour is different from the behaviour of Miscrosoft .NET.

* * *

_Chris Hamons 2015-02-23 12:11:54 UTC_

This is a bug in the mono class

[2018-09-13 08:29] marek-safar commented on #10576
@kg that profile builds using make so probably some deps tracking issue

[2018-09-13 10:19] vogtmh opened #10585 "Mono 5 not installing in Ubuntu 18.04"
## Steps to Reproduce

1. Follow the install guide for Ubuntu 18.04
2. Try to install mono-devel with apt

### Current Behavior

Ubuntu tries to install old v4 versions of mono

### Expected Behavior

Ubuntu should install the latest v5 version of mono

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

[2018-09-13 11:55] Rombersoft opened #10592 "Null or empty Exception Message"
Sometimes it happens exception without Message property.
This is code, function return boolean:

[code]

### Current Behavior

In catch(){} I've gotten such log:
[code]
Question: Where is Exception Message

PS: Also I've noticed that then my application was hung. I assume that happened due to NullRefference here:
[code]

### Expected Behavior

I've expected to get Exception Message

## On which pl

[2018-09-13 11:59] hack2root commented on #10583
Read the rules of submission. Give info about what are you doing. Steps to introduce from default well-known distros, then ask for help. @sourceskyboxer

[2018-09-13 12:13] sourceskyboxer commented on #10583
Yes I will give you https://github.com/migueldeicaza/mono-wasm

That is problem because llvm seems wrong. But I can't remove unusable or dead include-path and library-path.

Why does it happen with mkbundle if uit generates fail. 256 errors of llvm. I can't resolve I hate re installation of Ubuntu.

[2018-09-13 12:15] MaximLipnin commented on #10555
@lambdageek Could you help please? Is it correct that the resolving arguments of custom attribute ctor uses a type from ctor signature and it doesn't matter what is a type of actual argument?

https://github.com/mono/mono/blob/7e2b62cbbb35b9fe997fcaa7aaca3aa6a1668f12/mono/metadata/custom-attrs.c#L1336

[2018-09-13 12:50] EgorBo commented on #10592
Could you please try to reproduce it on some newer mono (>= 5.12) because the whole System.Data was replaced with .NET Core sources

[2018-09-13 13:23] sancheolz opened #10594 "[System.Windows.Forms]PropertyGrid Scrollbar on wrong side"
[propertigridTest.zip](https://github.com/mono/mono/files/2379571/propertigridTest.zip)

## Steps to Reproduce

1.  Launch attached test
Scrollbar of PropertyGrid must appear on right side.
ubuntu 18.04 mono 5.17 Screenshot
![virtualbox_ubuntuwithmultymono_13_09_2018_15_41_08](https://user-images.githubusercontent.com/2684465/45490927-0d78ad00-b771-11e8-9df2-2ec10f0f3322.png)
windows .net 4.0 scre

[2018-09-13 13:42] Rombersoft commented on #10592
No I can not reproduce it because it happens sometimes on application which is used on ATM (CashPoint)

[2018-09-13 13:46] sourceskyboxer commented on #10583
No success Grrr I feel mad to bad user @lrz because llvm-mono-build and llvm-build can't uninstall from sudo make uninstall.

ONLY "make: *** No rule to make target 'uninstall'.  Stop."

How do I fix? I am mad now I hate "reeeee-installation" with Ubuntu 18.04 I WANT STAY. I hate rework hard

[2018-09-13 14:00] sourceskyboxer commented on #10583
Grrr I AM MAD NOW

WHY DOES MONO NOT WORK? BECAUSE I ALWAYS TRIED TO REMOVE /usr/local but llvm by @lrz is really shit I can't restore my mkbundle generator :( I AM MAD NOW BECAUE YOU IGNORE IGNORE IGNORE IGNORE ..... MY God

[2018-09-13 14:04] sourceskyboxer commented on #10583
If you ignore me than I will have punishment money from you and @lrz because I have too much work for reinstallation of Ubuntu 18.04 I am mad now. Thanks for bad caring me!

[2018-09-13 14:10] #10244 closed

[2018-09-13 14:28] KPixel commented on #8852
@migueldeicaza What info do you need?

I'm also interested in having this feature.

[2018-09-13 14:37] vargaz commented on #10555
This seems to work:
<<<<<<<<<<<<<<<<<<<
diff --git a/mono/metadata/custom-attrs.c b/mono/metadata/custom-attrs.c
index 138905412c9..8a7a2c37e9b 100644
--- a/mono/metadata/custom-attrs.c
+++ b/mono/metadata/custom-attrs.c
@@ -1332,8 +1332,12 @@ reflection_resolve_custom_attribute_data (MonoReflectionMethod *ref_method, Mono
        for (i = 0; i < mono_method_signature (method)->param_count; ++i) {

[2018-09-13 15:01] marek-safar commented on #10352
Yeah, this looks like the fix just exposed an issue we had for some time. I am not sure why there is no System.IO.FileSystem\lib\netstandard1.3 while there is one for System.IO.FileSystem.Primitives though.

[2018-09-13 15:06] nealef commented on #10549
The simplest test case is:
[code]

When I run it on x86_64 with aot turned off I see this in the trace:
[code]

For s390x I am seeing:
[code]

s390x is doing TryFormat but x86_64 just does Format. I assume this is because we either have a different provider. It appears the Provider is obtained via:
[code]

I need to understand this Provider logic and why it is different for s390x.

[2018-09-13 15:09] matheussouza97 commented on #10461
Hello, In a Console Application the error has been fixed. But it's still happening on Xamarin.iOS

**Mono 5.19.0.364 (master/c2a94b3bab1) (64-bit)**

**Console Application**
![screenshot at sep 13 11-57-16](https://user-images.githubusercontent.com/14929125/45497236-aac1ea00-b74d-11e8-8b72-d73409eecc20.png)

**Xamarin.iOS**
![screenshot at sep 13 12-06-09](https://user-images.githubusercontent.com

[2018-09-13 15:27] lambdageek commented on #10555
Is this a bug?
Here's what I get running the repro on .NET Framework on windows:
[code]

[2018-09-13 15:32] #10054 closed

[2018-09-13 15:47] nealef commented on #10549
Actually, I think it's more to do with NumberFormatInfo but I still need to understand how this stuff fits together.

[2018-09-13 16:29] rolfbjarne opened #10598 "Many scary "Your mono runtime and class libraries are out of sync" mono warnings when building for device"
_From @chamons on August 9, 2018 21:42_

### Steps to Reproduce

1. Install Alpha Channel
2. New Single View iOS App
3. Build for generic device and review output.

[code]

### Expected Behavior
No scary mono mismatch warnings
### Actual Behavior
Lots of scary warnings in build log

### Environment

https://gist.github.com/chamons/f84a3b354fe3e74b48ba7a79e17ff7c1
[code]
### Build Logs

https://gis

[2018-09-13 16:29] rolfbjarne commented on #10598
_From @chamons on August 9, 2018 21:48_

This does _not_ happen with current stable.

[2018-09-13 16:29] rolfbjarne commented on #10598
This happens with the mono-2018-06 branch as well, I get the following icall failures:

* cant resolve internal call to "Foundation.NSObject::xamarin_release_managed_ref" (tested without signature also)
* cant resolve internal call to "Foundation.NSObject::xamarin_create_managed_ref" (tested without signature also)

<details>
<summary>Entire output</summary>

[code]

</details>

We have a few inte

[2018-09-13 16:47] sourceskyboxer commented on #10583
Stop joke me! Why does mkbundle throw error error - I already re installed Ubuntu 18.04 - Now I am surprised. Wow your development always joke joke joke joke joke joke.

PLEASE DO NOT UPLOAD TO GITHUB IF YOU HAVE ISSUE OR ERROR THAN YOU NEED CHECK IF IT WORKS THAN YOU UPLOAD TO GITHUB!!!!!! MY GOD YOU ALWAYS JOKE JOKE US - Why do you that?

[2018-09-13 16:57] marek-safar opened #10602 "Nuget Packages conflict resolution is not enabled by default"
We need to enable this to support the system assemblies conflict resolution which we now rely on for any new packages to enhance developers experience and get us out of dependency on specific package versions.

The workaround right now is to always include
[code]

which should not be necessary and we need to convert it into all our mobile targets settings.

- [x] Xamarin.iOS supuport
- [ ] Xamarin

[2018-09-13 17:01] #10583 closed

[2018-09-13 17:06] KPixel commented on #8852
I tried the steps to reproduce, and was getting some [compilations errors](https://github.com/aspnet/Blazor/issues/356).
After adding `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`, they went away.

But when I run the app, and try to navigate to the page with `@(CSharpScript.EvaluateAsync<int>("1 + 2").Result)`, nothing happens (except for the url changing to that page).

So, it fails silently.

[2018-09-13 17:15] kumpera opened #10603 "[wasm] Stop using mmap for loading assemblies"
loading assemblies can hit this issue: https://github.com/kripken/emscripten/issues/7118

Additionally, the way this is done will cause assemblies to be held in memory twice, in the wasm heap and as a TypedArray.

Move away from using the emcc file system and use the mkbundle setup of providing a list of assemblies.

[2018-09-13 17:26] alexanderkyte commented on #10603
This will make us much less dependent on the correctness and layout of the filesystem as a whole. I think this is an important, beneficial change if we want to avoid bitrot.

[2018-09-13 19:26] sourceskyboxer opened #10604 "Problem with Mono again again again again with OpenTK and Gtk Sharp 2 / 3 on Ubuntu 18.04"
Hello everyone, idots ( Reason: they don't care to Ubuntu. poor penguins )

[code]

[ ] macOS
[XXX] Linux
[ ] Windows

Mono 5.19.0 from github

I really don't understand .... :(

[2018-09-13 19:58] NattyNarwhal commented on #10549
Trace outputs on [older build with PASE](https://cmpct.info/~calvin/dump/s390xbug.out) and [same new build on AIX](http://ix.io/1mEb)

[2018-09-13 20:00] nealef commented on #10549
Thanks. It answers my question - AIX also uses System.Decimal:TryFormat. Therefore, there's something in that instruction path that s390x is doing wrong.

[2018-09-13 20:03] luhenry commented on #10604
Please follow the Issue template if you want us to understand and be able to help you.

[2018-09-13 20:03] #10604 closed

[2018-09-13 20:05] luhenry commented on #10482
Please follow the Issue template if you want us to be able to provide you help. Also, refer to the [Code of Conduct](https://github.com/mono/mono/blob/master/code_of_conduct.md) and be respectful of the project and its maintainers. Thank you.

[2018-09-13 20:05] #10482 closed

[2018-09-13 20:16] luhenry opened #10605 "[mono-2018-06] [XA] Failure to AOT+LLVM assemblies"
## Steps to Reproduce

1. Build `xamarin-android:mono-2018-06`
2. Run NUnit tests with `make run-unit-tests`

### Current Behavior

We get the following error:

[code]

### Expected Behavior

Successfully AOT the assembly.
## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

[2018-09-13 20:28] luhenry opened #10606 "[mono-2018-06] [XA] Failing System.Collections.Tests.SortedSet_TreeSubset_String_Tests.System.Collections.Tests.SortedSet_TreeSubset_String_Tests"
## Steps to Reproduce

1. Run `System-xunit` tests on Android

### Current Behavior

Following tests are failing:
 - System.Collections.Tests.SortedSet_TreeSubset_String_Tests.System.Collections.Tests.SortedSet_TreeSubset_String_Tests.ICollection_Generic_Remove_DefaultValueContainedInCollection
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3989/testReport/junit/Test%20collec

[2018-09-13 20:31] luhenry opened #10607 "[mono-2018-06] [XA] Failing System.Buffers.Text.Tests.FormatterTests.System.Buffers.Text.Tests.FormatterTests"
## Steps to Reproduce

1. Run `System-xunit` tests on Android

### Current Behavior

Following tests are failing:
 - System.Buffers.Text.Tests.FormatterTests.System.Buffers.Text.Tests.FormatterTests.TestFormatterDecimal
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3989/testReport/junit/Test%20collection%20for%20System.Buffers.Text.Tests/FormatterTests/System_Buffers_Text_Te

[2018-09-13 20:39] luhenry opened #10608 "[mono-2018-06] [XA] Failing System.Collections.Generic.Tests.StringComparersTests.System.Collections.Generic.Tests.StringComparersTests"
## Steps to Reproduce

1. Run `System-xunit` tests on Android

### Current Behavior

Following tests are failing:
 - System.Collections.Generic.Tests.StringComparersTests.System.Collections.Generic.Tests.StringComparersTests.EqualityComparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3989/testReport/

[2018-09-13 20:42] luhenry opened #10609 "[mono-2018-06] [XA] Failing System.Collections.Tests.SortedSet_TreeSubset_Int_Tests.System.Collections.Tests.SortedSet_TreeSubset_Int_Tests"
## Steps to Reproduce

1. Run `System-xunit` tests on Android

### Current Behavior

Following tests are failing:
 - System.Collections.Tests.SortedSet_TreeSubset_Int_Tests.System.Collections.Tests.SortedSet_TreeSubset_Int_Tests.ICollection_Generic_Add_DefaultValue
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3989/testReport/junit/Test%20collection%20for%20System.Collection

[2018-09-13 20:43] vogtmh commented on #10585
Okay, to be more precise: I used the official Mono repository from https://www.mono-project.com/download/stable/#download-lin

Ubuntu ignored the newer repo versions and tried to install v4 from its own repo instead.

[2018-09-13 20:45] luhenry opened #10610 "[mono-2018-06] [XA] Failing MonoTests.System.Runtime.Remoting.RemotingServicesTest"
## Steps to Reproduce

1. Run `mscorlib-nunit` tests on Android

### Current Behavior

Following tests are failing:
 - MonoTests.System.Runtime.Remoting.RemotingServicesTest.Bug46473
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/3989/testReport/junit/(root)/RemotingServicesTest/Xamarin_Android_Bcl_Tests__MonoTests_System_Runtime_Remoting_RemotingServicesTest_Bug46473___Debug

[2018-09-13 21:01] vogtmh commented on #10585
It seems the initial displayed version of the depencies was just incorrect. When installing, it uses the updated version from the Mono repo. All good :-)

[2018-09-13 21:01] #10585 closed

[2018-09-13 22:19] luhenry commented on #10605
I can also reproduce without XA on `mono:master` with following steps:

 - Run `make -C sdks/builds package-cross-arm` to generate the Android armeabi-v7a cross-compiler
 - Run `MONO_PATH="mcs/class/lib/monodroid" MONO_ENV_OPTIONS="" sdks/out/android-cross-arm-release/bin/armv7-linux-android-mono-sgen --llvm --aot=outfile=mcs/class/lib/monodroid/libaot-System.dll.so,asmwriter,mtriple=armv7-linux-g

[2018-09-13 22:29] nealef commented on #10549
Trace shows AIX uses same code path as s390x. I have verified that methods such as UInt32ToDecimalChars, FormatGeneral, and NumberToString are producing the correct stuff. Something is trashing that between the sb.TryCopyTo() and Buffer:Memmove().

[2018-09-14 01:18] nealef commented on #10549
It appears to be an overwriting of the string with the ValueStringBuilder object when it's about to be used as a parameter to the TryCopyTo() method.

[2018-09-14 03:51] radical commented on #9413
This warning has been removed completely now.

[2018-09-14 03:51] #9413 closed

[2018-09-14 04:11] knocte commented on #10570
FYI installing .NET SDK (https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current) is a workaround for this problem.

At least MSBuild should give advice about this instead of exposing such a cryptic and weird compiler errors.

[2018-09-14 05:49] kjpou1 opened #10614 "[WASM] Build instructions on sdks readme are no longer valid."
The build instructions here https://github.com/mono/mono/tree/master/sdks#build-instructions are no longer valid after recent AOT changes.

[2018-09-14 09:26] NattyNarwhal commented on #10496
Seems to work now.

[2018-09-14 09:26] #10496 closed

[2018-09-14 10:34] jaykrell commented on #9089
Fix sitting in PR for months. #9114

[2018-09-14 11:34] gthvidsten commented on #10523
One thing of note here, though, is that `SerialPort.GetPortNames()` will _not_ display `/dev/ttyAMA0` as a usable serial port, even though it works just fine when you actually use it.
See the following [answer on StackExchange](https://raspberrypi.stackexchange.com/a/89011/90815) for an explanation.

[2018-09-14 12:32] baulig commented on #10461
Just spent some time testing this with Xamarin.iOS and can confirm that it will be fixed with 2018-08 (you will need to manually compile `xamarin-macios/mono-2018-08` because there is no package available yet).

[2018-09-14 12:38] baulig commented on #10461
@matheussouza97 It is not "the same code" because Xamarin.iOS is compiled with a specific Mono release branch which only receives critical bug fixes.  At the moment, `xamarin-macios/master` is still tracking 2018-04, so you are essentially looking into the past.

It is currently being updated to 2018-08, but there are not packages yet.

[2018-09-14 12:48] matheussouza97 commented on #10461
Is there any forecast for these packages to be released?

[2018-09-14 12:53] danboid commented on #8514
I think I may have encountered this same bug but if I have I don't think mine is related to SetColorKey or MakeTransparent because the program I'm using doesn't call either but it does use DrawImage.

There is a problem with the drawing of alpha channels when running the WIP 02 version of Kroah's C# remake of Speedball 2 under monodevelop, which you can see in the attached screenshot. I have built

[2018-09-14 13:01] filipnavara commented on #8514
I am almost positive that this was already addressed with a bug fix in the `libgdiplus` library. However it would require someone to download the latest GIT, compile and test it with the applications.

[2018-09-14 13:14] kjpou1 opened #10620 "[wasm] Rename sdks WebAssembly framework libraries"
Right now there are two framework libraries being generated in the wasm build.

Proposed rename:

- bindings.dll -> WebAssembly.Bindings.dll
   - The bindings library contains the WebAssembly runtime and JavaScript object bindings.

- wasmhttp.dll -> WebAssembly.Net.Http.dll
  - The http library contains the HttpMessageHandler that works with WebAssembly using the bindings library above.

[2018-09-14 13:26] marek-safar commented on #10461
The preview of Xamarin.iOS with 2018-08 Mono version should be out in few months (this year)

[2018-09-14 13:42] matheussouza97 commented on #10461
Ok, Thanks for helping.

[2018-09-14 13:43] lateralusX commented on #10508
Still no local repro, but investigated the code heavily under debugger and could force a couple of scenarios that could (at least in theory) happen under wow64 related to thread suspend failing. This scenario is then not handled by sgen (and very uncommon and only observed under wow64) but could get us into either a deadlock or asserts when doing the GC in scenarios like the once's hit by the test

[2018-09-14 14:15] #10461 closed

[2018-09-14 15:10] mrward opened #10622 "HttpClientHandler requests proxy credentials for http url passing request url not proxy url"
When a http url is requested with the HttpClient, Mono will pass the request url to the HttpClientHandler.Proxy.Credentials.GetCredentials when asking for credentials, instead of the proxy url.

A https url works as expected. The proxy url is passed to the GetCredentials method.

On Windows when connecting to a http url the proxy url is passed to GetCredentials method.

## Steps to Reproduce

Mac

[2018-09-14 16:55] sushihangover opened #10623 "MSBuild on MacOS : Win32 IO returned 50 with mdk-5.16.0.151 (sym. links / secondary volumes)"
From : https://developercommunity.visualstudio.com/content/problem/336413/msbuild-win32-io-returned-50-vs4m-macos-mdk-516011.html

Something in the change from

monoframework-mdk-5.16.0.113.macos10.xamarin.universal.pkg

To:

monoframework-mdk-5.16.0.151.macos10.xamarin.universal.pkg

Breaks building via sym. links (secondary volumes), i.e.

A solution opened on the path of ~/code/Projects/SomeDir

[2018-09-14 18:15] BillSobel commented on #10066
I believe this is a dupe of 9883 (just FYI, hard bug to describe in order to search for it)

[2018-09-14 18:48] #10446 closed

[2018-09-14 18:48] #10614 closed

[2018-09-14 18:51] nealef commented on #10549
The s390x implementation of OUTARG_VT for the case where a structure is being passed on the stack was faulty. I have tested it on my simple test case as well as the test case provided. The output is in the correct format. However, the coss() value is not the same so I am not sure what else I may have broken:
[code]

[2018-09-14 19:12] nealef commented on #10549
OUTARG_VT processing was incorrect - the structure wasn't being used properly on the stack such that things were being overwritten. However, I note the PPC implementation of ```mono_arch_emit_outarg_vt()``` differs from mine in a couple of key respects and I am not sure what conclusions to draw.

**PPC** -
[code]

**s390x** -
[code]

The key area of difference is the use of ```vtcopy``` and ```EMI

[2018-09-14 19:55] nealef commented on #10549
That create_var in ```mono_decompose_vtype_opts()``` is only performed if src_var is NULL. For my test case it is so we get a copy. For the original test case src_var isn't so we don't get a copy and as a result that Cos value is being overwritten by the result of the division. I am not sure how I can tell whether I need to use the vtcopy mechanism (which would fix this particular case but break m

[2018-09-14 20:09] nealef commented on #10549
It appears I was missing some code to handle the return of a structure. That has partially fixed the problem.
[code]
So the case where:
[code]
which had been resulting in x = 100 y = 5 z = 5 now gives the expected 100 500 5. However, if I change it to:
[code]
decimal x = 100m;
decimal y = 500m;
var z = 1 / (x  / y);
[code]

[2018-09-14 22:59] kg opened #10629 "[roslyn] runtime assertion when running MultipleTypeForwardersToTheSameAssemblyShouldNotResultInMultipleForwardError"
[code]

[2018-09-14 23:16] kg commented on #10629
Aleksey pointed out that I missed the native backtrace:
[code]

[2018-09-15 00:50] vargaz commented on #10605
This:
https://github.com/mono/llvm/pull/15
will hopefully fix it.

[2018-09-15 11:52] danboid commented on #8514
Hi filip!

I forgot to mention that I was (am) seeing this issue using the latest monodevelop for Ubuntu 18.04 as installed from the official PPA https://www.monodevelop.com/download/

Today I tried again but with a fully updated Arch - same issue so I updated libgdiplus to the latest git version and the problem persists. I'll have to check their bug tracker to see if they're aware of this.

[2018-09-15 12:08] filipnavara commented on #8514
Thanks for testing it. If the problem persists even with libgdiplus from GIT I will look into it. It's likely to take a few days to get to it though.

[2018-09-15 12:12] danboid commented on #8514
https://github.com/mono/libgdiplus/issues/491

[2018-09-16 01:44] lukespragg commented on #10290
Also noticing this when compiling Mono from scratch on Windows using MSBuild. Tried both boehm and sgen targets.

[2018-09-16 07:46] jaykrell commented on #10576
Note that this doesn't matter personally to me any longer. I got done what I needed.
You can build BCL with cygwin/autogen.sh -with-runtime-preset=fullaot_llvm.

[2018-09-16 07:47] jaykrell opened #10635 "bcl.sln doesn't seem to work"
Obvious uses of bcl.sln don't work. Perhaps this is known.

## Steps to Reproduce

1. msbuild bcl.sln

### Current Behavior

msbuild bcl.sln

with no parameters:

C:\s2\mono>msbuild bcl.sln
Microsoft (R) Build Engine version 15.8.168+ga8fba1ebd7 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel bui

[2018-09-16 12:47] knocte commented on #10570
I take this back. Even if installing .NET SDK is a workaround, it shouldn't be advised by MSBuild. Build should work without the SDK because it works for C# projects without SDK.

[2018-09-16 12:57] danboid commented on #8514
Hi Filip

Thanks for looking into this! When you say "the code applies..." what are you referring to? libgdiplus? Will this be easy to fix?

[2018-09-16 13:30] filipnavara commented on #8514
libgdiplus, fix is in the works.

[2018-09-16 17:13] #10555 closed

[2018-09-17 08:42] mfkl commented on #10538
tested on windows, PEVerify failed so issue was on my side.

[2018-09-17 08:42] #10538 closed

[2018-09-17 10:08] marek-safar commented on #9198
@vargaz any update on this one?

[2018-09-17 10:32] sancheolz commented on #8922
@migueldeicaza please reopen because test case added

[2018-09-17 10:36] marek-safar opened #10641 "New arm64_32 architecture (watchOS 5)"
This is tracking task to collect information about arm64_32 architecture and what will be needed to support it.

It was introduced with Xcode 10 GM but there is no documentation yet. Example of disassembled code https://gist.github.com/rolfbjarne/24465d3fd9ff53e1a8919b7ea602d976

[ILP32 Whitepaper](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dai0490a/ar01s01.html)

## Milestone I (

[2018-09-17 10:38] sancheolz opened #10642 "[System.Windows.Forms] borderline of Panel has wrong padding"
## Steps to Reproduce

1.  Run
[LoaderFormTest.zip](https://github.com/mono/mono/files/2388188/LoaderFormTest.zip)

Or use this InitializeComponent code
[code]
if I change AutoScaleMode to Inherit it will work as expected.

Bordreline of panel has wrong padding. On .net 4.0 windows 10 works fine.

### Current Behavior
![ubuntu1804borderlinemono517](https://user-images.githubusercontent.com/2684465

[2018-09-17 11:04] sancheolz opened #10643 "[System.Windows.Forms] Combobox SelectedIndexChanged when mouse move"
## Steps to Reproduce

1. Add to Form ComboBox whith 3 items
2. Subscribe to event SelectedIndexChanged
3. Select by mouse any item of combobox

### Current Behavior
When mouse cursor appears under item occurs SelectedIndexChanged event

### Expected Behavior
When mouse moved under item shoudn`t occurs SelectedIndexChanged event. It must occur when mouse clicked. On .net works like this. Insted of

[2018-09-17 11:48] marek-safar commented on #10635
@kg could you look into this one

[2018-09-17 13:33] galilov opened #10645 "WebException is thrown when reading from WebException.Response.GetResponse() stream"
## Steps to Reproduce

I use WebClient class to communicate with our server.
The code below checks the error and extracts a error message. It works under .Net 4.5 and .Net Core without any issues:

[code]

### Current Behavior
[code]

### Expected Behavior

[code]
## On which platforms did you notice this

[x ] macOS
[x ] iOS

**Version Used**:

Mono JIT compiler version 5.12.0.301 (2018-02/4fe328

[2018-09-17 14:13] nealef commented on #10549
I restored the vtcopy code that had been there and now both the simple and original test cases work.

[2018-09-17 15:05] nealef commented on #10549
#10632

[2018-09-17 15:38] kg commented on #10635
You have to specify the platform manually as described in the build instructions. ```net_4_x``` is probably what you want. ```/p:Platform="net_4_x"```

[2018-09-17 16:02] mandel-macaque opened #10647 "Network related tests are flaky and fail on Xamarin.Mac and Xamarin.iOS bots"
In Xamarin.iOS and Xamarin.Mac we run several times the BCL tests (2 for each platform approx). As of Mojave we have been seen several "false" failures in the BCL tests related to SocketExceptions. The following two internal issues (maccore) expose the errors we see as well as link to all those commits in the Xcode10 branch which has them:

* https://github.com/xamarin/maccore/issues/869
* https:/

[2018-09-17 17:27] luhenry commented on #10605
Verification in progress with
https://github.com/xamarin/xamarin-android/pull/1836/commits/baf2bb193c63d7b818b1fa89ee3feb8115636fa4

[2018-09-17 18:45] #10527 closed

[2018-09-17 19:58] alexanderkyte opened #10651 "Missing memory barrier with some atomic operations"
It appears that we are using __sync_val_compare_and_swap for i64 with the atomic helpers for CAS, which doesn't give us the needed memory barriers. @luhenry has confirmed that the API design expects the memory barriers to be implemented on the callee side everywhere here.

https://github.com/mono/mono/blob/master/mono/utils/atomic.c#L505

[2018-09-17 20:39] alexanderkyte commented on #10651
Some clarification:
It seems that the docs for ` __sync_val_compare_and_swap` say that it creates an implicit memory barrier, but
https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mono/utils/atomic.h#L223
seems to suggest that we need to wrap it on ARM64 / can't rely on that.

[2018-09-17 20:40] alexanderkyte commented on #10651
This bug would then impact `#if defined (HOST_ARM64) && (defined (__clang__) || MONO_GNUC_VERSION < 50300)
`

[2018-09-17 21:29] alexrp commented on #10651
Indeed, any use of `__sync` or `__atomic` intrinsics must be wrapped in `WRAP_ATOMIC_INTRINSIC` unless it's in a code path that's known not to run on ARM64.

[2018-09-17 21:37] kumpera commented on #10651
Can you state which targets have which ordering requirements missing?

[2018-09-17 22:43] #10603 closed

[2018-09-17 23:12] danroth27 opened #10653 "Getting Mono.Cecil.ResolutionException during build"
_From @kunalspathak on September 16, 2018 4:25_

Please let me know if this issue should be open in mono repository,

I followed [directions](https://blazor.net/docs/get-started.html) to start Blazor. It build and worked fine. Then I tried writing some code using [Prose SDKs](https://www.nuget.org/packages/Microsoft.ProgramSynthesis/) and when I built, I get following errors. Is there something th

[2018-09-17 23:12] danroth27 commented on #10653
Looks like a potential issue with the IL linker. Moving to mono.

[2018-09-18 02:36] #10549 closed

[2018-09-18 07:13] lateralusX commented on #10508
@lambdageek One things that I noticed when digging in this issue. On MSVC compiled mono runtime (the one that is actually run and tested on CI), hybrid suspend is NOT the default, so its still using premptive suspend on both 32 and 64 bit Windows MSVC build runtime. The reason for this is that winconfig.h doesn't have the flag ENABLE_HYBRID_SUSPEND set. Setting that flag in winconfig.h gives us an

[2018-09-18 08:44] jaykrell commented on #10508
RtlCaptureContext.

[2018-09-18 11:07] kjpou1 opened #10664 "[wasm] Address .getignore for wasm-cross"
Add wasm-cross to .getignore.

Follows runtime .getignore rule.

[2018-09-18 12:18] #9604 closed

[2018-09-18 12:32] marek-safar commented on #10607
@EgorBo could you please look into it

[2018-09-18 12:44] vargaz commented on #8965
What is the exact mono version this fails with ?

[2018-09-18 12:50] marek-safar commented on #9867
@rolfbjarne are you ok to close this as by-design?

[2018-09-18 12:57] vargaz commented on #9198
This is a problem with the amd64 llvm jit, it mostly impacts testing.

[2018-09-18 13:13] rolfbjarne commented on #9867
@marek-safar yes, that's fine.

[2018-09-18 13:27] #9867 closed

[2018-09-18 13:40] #10664 closed

[2018-09-18 14:01] vargaz commented on #9867
We should disable dontlink for watchos somewhere in mtouch or the ide.

[2018-09-18 14:37] nealef commented on #10549
Fix merged into master.

[2018-09-18 14:56] marek-safar commented on #10352
This is according to msbuild team by design. Creating MSBuild tasks which target .NET Standard is not supported.

Consider what happens if you depend on a bait-and-switch NuGet package.  The .NET Standard build task wouldn’t have the implementation for that package on any platform.  I think the failures you’re seeing with .NET Standard are probably a similar issue even if you may be able to hack a

[2018-09-18 14:56] #10352 closed

[2018-09-18 15:31] marek-safar commented on #10653
@kunalspathak could you share also your Example class definition

[2018-09-18 15:43] marek-safar commented on #10647
/cc @baulig

[2018-09-18 15:57] kumpera opened #10671 "[sdks] Change MXE default deploy location to be sdks/builds/toolchains"
The current default location of MXE is $HOME/android-toolchain.
This should be changed to be self contained into `sdks/builds`.

It was done this way to remain compatible with where XA expects to find mxe so in order for us to change it we'd need to coordinate this change with XA and I assume it means letting them set the prefix they desire.

One interesting issue this raises is the prospect of ha

[2018-09-18 18:35] kunalspathak commented on #10653
Sure. I am using [Prose SDKs](https://microsoft.github.io/prose/) and the docs for `Example` class and other classes are [here](https://prose-docs.azurewebsites.net/html/T_Microsoft_ProgramSynthesis_Transformation_Text_Example.htm).

[2018-09-18 22:32] mrklintscher commented on #9808
Same problem here. Is there a workaround?

[2018-09-19 00:15] #10260 closed

[2018-09-19 02:06] kg opened #10678 "[roslyn] Microsoft.Build.Collections.MSBuildNameIgnoreCaseComparer depends on a GetSystemInfo native method that is not available"
[code]

This breaks the ```Microsoft.CodeAnalysis.BuildTasks.UnitTests.MapSourceRootsTests``` test suite

[2018-09-19 02:15] kg opened #10679 "[roslyn] Many tests fail because of missing Microsoft.VisualBasic.dll"
Maybe invalid? I'm not sure we can/want to fix this. This mostly impacts the Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests suite.

[code]

[2018-09-19 05:46] kjpou1 opened #10682 "[wasm] Build fails - ninja can not be found."
When building sdks wasm from source the error:

[code]

The recent changes to the build now require ninja build system to be installed locally.

The sdks readme.md dependencies need to be updated.

[2018-09-19 06:36] cosminstirbu commented on #8429
Hello,

Any updates on this ticket?

Thanks,
Cosmin

[2018-09-19 06:39] sancheolz commented on #8922
I think this is regression because on mono 5.10 works fine

[2018-09-19 08:27] marek-safar commented on #10678
@radical does this come from the xplat version of msbuild?

[2018-09-19 08:33] EgorBo commented on #10607
Seems like an issue in xunit. `TestFormatterDecimal` has empty [MemberData] and the desktop xunit just ignores it, xunit in XA fails with `No data found`

[2018-09-19 09:01] lateralusX opened #10684 "Hybride/Coop Suspend not enabled for Windows msvc builds."
Mono switched to hybride suspend for desktop as default, but it doesn't include the msvc build mono runtimes (both 32/64 bit) only the mingw build runtimes.

There are a couple of problems related to enable this for Windows that needs to be resolved. There is also at least one identified race condition in thread-suspend-supended.exe tests hit regularly on Windows when enable hybrid suspend (after

[2018-09-19 09:37] jeffxby opened #10687 "handle_thunk"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-09-19 09:37] #10687 closed

[2018-09-19 12:49] lemonmojo opened #10689 "Mono and macOS 10.14 Mojave problems"
Hi mono team,

I posted basically the same already here: https://github.com/xamarin/xamarin-macios/issues/4509#issuecomment-422784459

Since macOS 10.14 Mojave DP1 I'm suffering from problems with mono.

Basically creating NSWindow instances with mono results in visual artefacts when resizing them. There's also other visual problems like NSScrollView's getting stuck (refuse to scroll) after some t

[2018-09-19 12:50] lemonmojo commented on #10689
Here's the info from Visual Studio's about dialog:
[code]

[2018-09-19 12:51] AmrAlSayed0 commented on #9511
If possible, can this issue take priority? All the errors codes sent from our server is not received and it is breaking all kinds of functionality in our app. I have tried a lot but didn't find a workaround yet.

[2018-09-19 13:15] marek-safar commented on #10689
Closing this to keep the discussion at one place

[2018-09-19 13:15] #10689 closed

[2018-09-19 14:18] lemonmojo commented on #10689
@marek-safar I intentionally posted this in the mono repo because I strongly believe that it's not Xamarin.Mac related as explained in my post.

[2018-09-19 16:15] #10620 closed

[2018-09-19 16:15] #10682 closed

[2018-09-19 20:48] kumpera opened #10705 "[wasm] Improve CLI driver with proper argument parsing"
The current CLI driver arguments have no syntax or structure.
Those improvements would be great quality-of-life changes.

As a starter, we should give it an arg parsing struct structure and handle the current 2 commands:

`--regression=assembly.dll`
`--nunit=assembly.dll`

In fact, maybe we should extend packager.exe to know about those and spew an app with just the deps we need.

Beyond that, we

[2018-09-19 23:56] kg opened #10707 "[roslyn] Runtime assertion running the csharp emit unit tests"
This test assembly also generates a bunch of test failures, but the test run aborts with a runtime assertion:

[code]

This specific FRAME_TYPE_TRAMPOLINE assertion shows up a lot in roslyn tests.

[2018-09-20 01:35] lambdageek commented on #10508
I debugged `thread-suspend-suspended` a little today.  Apparently, `mono/utils/mono-threads.c is_thread_in_critical_region` returns TRUE from the `mono_threads_platform_in_critical_region()` branch when `sgen-stw.c:321` is looking at thread `t1` (see the testcase source).

Which means that we end up resuming `t1` back to BLOCKING and then I incorrectly only run the MOPUP phase of hybrid suspend wh

[2018-09-20 02:28] luhenry commented on #10605
It's been fixed, the tests are not failing anymore in https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/. Thank you @vargaz

[2018-09-20 02:28] #10605 closed

[2018-09-20 02:29] luhenry commented on #10608
Still failing at :
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/Test%20collection%20for%20System.Collections.Generic.Tests/StringComparersTests/System_Collections_Generic_Tests_StringComparersTests_EqualityComparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned___Debug/
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builde

[2018-09-20 02:31] luhenry commented on #10609
Still failing at:
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/Test%20collection%20for%20System.Collections.Tests/SortedSet_TreeSubset_Int_Tests/System_Collections_Tests_SortedSet_TreeSubset_Int_Tests_ICollection_Generic_Add_DefaultValue_count__0____Debug/
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/Test%20collection%20fo

[2018-09-20 02:33] luhenry commented on #10606
Still failing at:
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/Test%20collection%20for%20System.Collections.Tests/SortedSet_TreeSubset_String_Tests/System_Collections_Tests_SortedSet_TreeSubset_String_Tests_ICollection_Generic_Remove_DefaultValueContainedInCollection_count__0____Debug/
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/tes

[2018-09-20 02:37] luhenry commented on #10607
Still failing at:
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/Test%20collection%20for%20System.Buffers.Text.Tests/FormatterTests/System_Buffers_Text_Tests_FormatterTests_TestFormatterDecimal___Debug/

@EgorBo if the test should be disabled, please submit a PR against `mono:2018-06` that does so, even if only for XA.

[2018-09-20 02:39] luhenry commented on #10610
It didn't fail in https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4061/testReport/. The only change between both runs is in the version of LLVM that doesn't have any impact on this test. So either the test is flaky, or the underlying issue is flaky.

@marek-safar should we just disable the test?

[2018-09-20 02:45] luhenry commented on #10671
Compiling MXE takes around 1h on a powerful machine, so putting it in `sdks/builds/toolchains/mxe` for example expose us to easily wipe it out by accident. You could argue that we should be able to just download it, but the problem is the MXE generated binaries are not relocatable. The other solution is for us to come up with a package you install in a common location; it could for example be a `b

[2018-09-20 02:47] luhenry commented on #10651
`mono_atomic_cas_i64` is AFAIK the only one that doesn't use `gcc_sync_*` wrappers that ensure we have the proper memory barriers around their equivalent `__sync_*`.

[2018-09-20 02:48] luhenry commented on #10635
@kg we should probably default to `net_4_x` since that's what we already do by default.

[2018-09-20 02:54] vargaz commented on #10671
I agree that it should be outside the tree since it takes very long to build.
Note that we already have a jenkins lane to build it (osx only):
https://jenkins.mono-project.com/job/build-package-osx-mxe/
The build packages are built in /tmp/mxe-<HASH>, so they need to be installed there to work.

[2018-09-20 04:14] kg commented on #10635
I'm not aware of any way to set a default. The default platform for each csproj is already net_4_x. Visual studio seems to pick solution platforms completely at random.

[2018-09-20 07:06] cosminstirbu opened #10709 "Mono 5.12.0 Crashes and Hangs on macOS"
### Current Behavior

We are running our automated Unit Tests using Cake and NUnit Console Runner 3.9.0 on VSTS.

It seems that when the tests finish running, we get this weird crash and hang, and it's really difficult to understand why.

If needed I can try and provide more information. I can even provide the whole Cake script, only that without the source code that it builds and tests, I'm not s

[2018-09-20 07:18] marek-safar opened #10710 "beforefieldinit is not correctly recognized for static ctors"
## Steps to Reproduce

1. Compile following
[code]
2. mono output.exe

### Current Behavior

1

### Expected Behavior

0

All versions .NET print 0. The static ctor is not run unless a static field is touched.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

master/d7337904202

[2018-09-20 07:32] Rombersoft commented on #10592
No I can not reproduce it because it happens sometimes on application which is used on ATM (CashPoint)

[2018-09-20 08:27] lateralusX commented on #10508
On CI we run msvc build runtime for tests that currently only runs premptive suspend and recovers when mono_threads_platform_in_critical_region returns TRUE without errors. Regarding the assert seen in stw together with hybrid suspend, that will cause a resume thread logic that (as you say above) will trigger the assert in stw suspend logic. I easily hit that on msvc build runtime since the callba

[2018-09-20 08:29] lateralusX commented on #10508
As said, by default msvc build runtime is still using premtive suspend and that is whats running on CI, only mingw build runtime follows the new hybrid suspend, but that is not the runtime running the tests on CI. I have https://github.com/mono/mono/issues/10684 for fixing hybrid suspend on msvc so we could switch default for that version of the runtime as well.

[2018-09-20 08:33] lewurm commented on #10710
this is going to be ugly, as this is deeply wired into class loading (therefore, interp behaves the same).

is this behaviour blocking something?

[2018-09-20 08:52] Rogister commented on #10689
I test my application on MacOS Mojave for 3 weeks and there are problems.

My application works perfectly on MacOS High Sierra but Mojave, there are problems refresh. Boxes of messages that appears but completely empty (we see nothing). With datagrids, I also see problems.

I click on a line of the datagrid, it works normally a few times then I do not know why, the clique does not answer anymore,

[2018-09-20 08:53] vargaz commented on #10710
According to the spec, beforefieldinit cctors can be ran at  any time.

[2018-09-20 09:09] marek-safar commented on #10710
The spec says

sometime before, first access to any static field defined for that type.

In the sample above the static field is not accessed at all, therefore, the static ctor should not run at all, the working is not perfect but that's how I would read it for the case where there is no access.

@lewurm I don't think this block anything we just execute .NET code differently which can cause progra

[2018-09-20 09:12] vargaz commented on #10710
What the spec means is that the only constraint is that the static cctor needs to be executed before the first field access. It could be executed anytime before.

[2018-09-20 09:35] vargaz commented on #10710
The reason beforefieldinit was added to spec was so that the runtime can optimize it any way it likes, if somebody wants consistency, they can define an explicit cctor.

[2018-09-20 09:58] EgorBo commented on #10710
.NET 4.7.1 prints 1 on my machine (.NET Core prints 0).

[2018-09-20 10:05] lewurm commented on #10707
FYI, `condition 'frame->ji && frame->type != FRAME_TYPE_TRAMPOLINE' not met` is a crash in the crash handler 🙁 you would need to run with lldb/gdb attached an see where it really crashes in native code.

The assertion message:
[code]
already gives a hint where it could be: https://github.com/mono/mono/blob/5d997248849319769802ddd3f0de7927754c2a1d/mono/mini/mini-trampolines.c#L205

[2018-09-20 11:12] marek-safar commented on #10508
@lateralusX could you disable the test for now on windows to reduce PR builds failures

[2018-09-20 11:17] #10710 closed

[2018-09-20 11:40] marek-safar commented on #10707
@kg could you extract the `NetImpl doesn't implement interface IEventsDerived_Event` test case

@alexanderkyte could we make the crash reporter more robust and not to crash with asserts?

[2018-09-20 11:41] marek-safar commented on #10592
Can you still reproduce it with recent 5.12 or newer versions?

[2018-09-20 11:46] marek-safar commented on #10709
@cosminstirbu any repro would be helpful

[2018-09-20 11:59] #10635 closed

[2018-09-20 12:10] marek-safar commented on #10610
Yeah, will disable the test on mobile

[2018-09-20 12:57] lateralusX commented on #10508
https://github.com/mono/mono/pull/10716

[2018-09-20 13:07] knocte commented on #10635
How about using a `Directory.Build.rsp` file? See https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-response-files?view=vs-2017#directorybuildrsp

[2018-09-20 13:54] MaximLipnin opened #10717 "Changes in corlib_xtest.dll.sources don't get applied on Windows"
## Steps to Reproduce

1. build the latest master on Windows
2. `cd mcs/class/corlib` and `make run-xunit-test`; note the number passed tests
3. make change in corlib_xtest.dll.sources (e.g. comment out some tests)
4. run `make run-xunit-test`; compare the number passed tests got on step 2

### Current Behavior

The change in corlib_xtest.dll.sources don't get applied.

### Expected Behavior

The

[2018-09-20 14:03] EgorBo commented on #10717
looks similar to the problem we had a while ago with regular sources https://github.com/mono/mono/pull/9061
so I guess we should apply the same fix for xunit tests (corlib has a windows-only `win32_corlib_xtest.dll.sources`)

[2018-09-20 15:13] rolfbjarne opened #10719 "UI Thread Freeze on WebClient DownloadDataAsync"
_From @manuelpa-ms on September 20, 2018 15:2_

### Steps to Reproduce

1. Environment: iOS device is connected to an Access Point with limited connectivity (no internet access, no DNS resolution).
2. In a Xamarin.iOS application, run the following code (first button on shared sample):
private void RunTest()
{
var wc1 = new WebClient();
wc1.DownloadDataAsync(new Uri("http://www.test.aero"));
var w

[2018-09-20 15:13] rolfbjarne commented on #10719
I can reproduce this in the simulator if I set Apple's Network Link Conditioner to "100% Loss".

Full stack traces, both kill -QUIT and lldb: https://gist.github.com/rolfbjarne/4698d9d6e8697d8f963ea7c66c300555

[2018-09-20 15:20] michaldobrodenka opened #10720 "How to dump all threads with Stack traces? ( mono_threads_request_thread_dump() )"
How to call `mono_threads_request_thread_dump()` from C#?

Can I execute this method from C#?

I can execute this from gdb, but I have to flush stdout many times manually from gdb to get real output (bug?). mono_stack macro works normally.

[2018-09-20 15:27] EgorBo commented on #10608
I'll cherry-pick https://github.com/mono/mono/pull/9707 to 2018-06

[2018-09-20 15:32] #9561 closed

[2018-09-20 15:48] lambdageek opened #10722 "Hybrid suspend: Thread 00006484 in unexpected state RUNNING with PEEK_BLOCKING_SUSPEND_REQUESTED"
The hybrid suspend `sgen-stw` code assumes that if a restart was required it's enough to run just the mop-up phase of two-phase suspend.  This is incorrect: a thread could be in a critical region in GC Safe and it would then resume into BLOCKING.  So we need the full two-phase suspend.

## Steps to Reproduce

1.  add `ENABLE_HYBRID_SUSPEND` to `winconfig.h` and implement a dummy `SAVE_REGS_ON_STAC

[2018-09-20 15:49] lambdageek commented on #10508
Okay, so we need to fix two separate things:
1. with preemptive suspend, the test hangs sometimes - this issue.
2. with hybrid suspend, the test asserts (`Thread 00006484 in unexpected state RUNNING with PEEK_BLOCKING_SUSPEND_REQUESTED`) - new issue #10722

[2018-09-20 15:53] marek-safar commented on #10610
Fixed (will require bump)

[2018-09-20 15:53] #10610 closed

[2018-09-20 15:54] marek-safar commented on #10678
That looks like a version we don't blacklist :-(

[2018-09-20 15:58] lambdageek commented on #10722
This is actually more general than just a windows problem: `mono_thread_info_in_critical_location` in `sgen_unified_suspend_stop_world` could return TRUE for GC Safe suspended threads on other platforms too - for example if the thread's SP is outside the normal stack bounds:
https://github.com/mono/mono/blob/c2113246b90a29113ca536e3cf89c5b0424a94e5/mono/utils/mono-threads.c#L1148-L1150

[2018-09-20 15:59] lambdageek commented on #10722
The solution is to run both phases of suspend after a restart.

[2018-09-20 16:01] kg commented on #10635
@knocte I added one but it broke everything else in the tree, because apparently ones in parent directories apply to child directories.

[2018-09-20 16:07] kumpera commented on #10671
That's a very good point. I do `git clean -xfd` builds a lot when crossing releases but I'm lucky that emcc does binaries and takes about 5m.

The issue of installing them globally is versioning.

How about we install all toolchains[1] under the same prefix and symlink the desired version under `sdks/build/toolchains` - assuming mxe can handle that. Strawman proposal:
[code]

Then on the mono tree

[2018-09-20 18:52] radical commented on #10678
@kg which branch+commit of mono?

[2018-09-20 18:53] kg commented on #10678
I just check out latest master once or twice a week and build it without any special switches

[2018-09-20 19:00] kg commented on #10678
If you check out this branch https://github.com/kg/mono/tree/roslyn-tests-2 you can run the test.

[code]

You may need to do an acceptance-tests run to have our script check out the repo and then do a roslyn build.

You can also check out mono-roslyn-semantic-tests-2.8.2 from kg/roslyn directly and use the same command.

[2018-09-21 02:41] galvesribeiro commented on #9413
@radical not sure this error was removed...

I'm on OSX using VSCode/OmniSharp and at the same solution I have `netcoreapp2.1` and `net461` projects.

[2018-09-21 03:28] lambdageek commented on #10722
One alternative might be to have a "pulse" thread state transition that resumes a thread right back into a "suspend requested" state - RUNNING threads into "async_suspend_requested" and onward to a cooperative suspend; BLOCKING threads into "blocking_suspend_requested" and then they will either self suspend at a GC Safe -> GC Unsafe transition, or else we'll preempt them in the next mop-up phase.

[2018-09-21 06:42] jahmai opened #10729 "HttpWebRequest generates unobserved exceptions for WebException"
## Steps to Reproduce

1. Create a HttpWebRequest
2. Abort the request
3. GC.Collect() / GC.WaitForPendingFinalizers()
3. See that TaskScheduler.UnobservedTaskException is called

### Current Behavior

TaskScheduler.UnobservedTaskException is called with the aborted WebException

### Expected Behavior

TaskScheduler.UnobservedTaskException is not called.

## On which platforms did you notice this

[2018-09-21 06:59] jahmai opened #10730 "System.DllNotFoundException: libmono-btls-shared in various Android 4.1.1 and 4.2.2 devices"
## Steps to Reproduce

1. Use X509Certificate2 on Android 4.1.1 or Android 4.2.2

### Current Behavior

System.DllNotFoundException: libmono-btls-shared is thrown

### Expected Behavior

No exception is thrown

## On which platforms did you notice this

Xamarin.Android

**Version Used**:

Xamarin.Android 9.0 with Android 4.1.1 and 4.2.2 devices

## Stacktrace

29	|	22:37:49:163 (UTC)	|	D/Crashlyti

[2018-09-21 07:13] Therzok commented on #10720
You could send a SIGQUIT signal to the process, it'll do that automatically.

[2018-09-21 07:29] marek-safar commented on #10729
This is likely duplicate of #10488

[2018-09-21 07:29] #10729 closed

[2018-09-21 07:57] #10488 closed

[2018-09-21 08:06] marek-safar commented on #10730
/cc @baulig

[2018-09-21 08:39] michaldobrodenka commented on #10720
Ok, I got it.

[code]

But it doesn't write everything, I have to trigger flushing stdout manually.

Sending SIGQUIT is better way. Thank you very much!

[2018-09-21 08:39] #10720 closed

[2018-09-21 08:46] Therzok commented on #9657
Sharing privately, as binlogs contain secrets...

[2018-09-21 08:58] marek-safar commented on #7198
@baulig wrote a tool to detect this automatically

[2018-09-21 11:46] marek-safar commented on #10679
We don't build that assembly, skip that suite for now

[2018-09-21 11:58] marek-safar commented on #10653
Self contained code

[code]

[2018-09-21 12:06] marek-safar commented on #10066
Closing as duplicate of #9883

[2018-09-21 12:06] #10066 closed

[2018-09-21 12:13] marek-safar commented on #9089
@lateralusX could you please review the fix

[2018-09-21 12:45] daserge opened #10735 "mono64[80780:1186894] error: * Assertion: should not be reached at debugger-agent.c:6619"
## Steps to Reproduce

1. Open https://github.com/mono/monodevelop/ solution in VS for Mac (7.8 Preview)
2. Set breakpoint to https://github.com/mono/monodevelop/blob/305bddc1e9dcd90caf25f8bed1a042efc317528b/main/src/core/MonoDevelop.Core/MonoDevelop.Projects/ProjectFileCollection.cs#L146
3. Set configuration to DebugMac and Run
4. Open a project and add some file to it
5. Rename the file
6. On br

[2018-09-21 13:00] marek-safar commented on #10735
/cc @vargaz

[2018-09-21 13:13] marek-safar commented on #10623
Duplicate of #10510

[2018-09-21 13:13] #10623 closed

[2018-09-21 13:26] marek-safar commented on #10598
@vargaz should AOT compile not print a warning about calls registered via `mono_add_internal_call` ?

[2018-09-21 13:35] marek-safar commented on #10567
This one indeed looks odd and could be roslyn test issue

[2018-09-21 13:36] mrklintscher commented on #9808
Still no solution? Its very critical. You cant download a file anymore corectly!

[2018-09-21 14:36] ermshiperete opened #10737 "Crash in QueryInterface in unmanaged code if object doesn't implement requested interface"
If unmanaged code calls QueryInterface on a CCW and that doesn't implement the requested interface we get a SIGSEGV when trying to get the GuidAttribute.

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:
5.12/5.14

This is  a regression from Mono 4.

[2018-09-21 14:46] EgorBo opened #10738 "[corlib] System.Runtime.InteropServices doesn't pass some corefx tests"
Here is the list of CoreFX System.Runtime.InteropServices test cases which fail on mono (I didn't include here any with [SkipOnTarget] etc)
https://gist.github.com/EgorBo/5cec7543c49ec75adab91374d9a9b864

there are three groups:
**GCHandle**
`GCHandle.Alloc` in mono doesn't throw exceptions for bad input

**SafeBuffer**
Also some methods don't throw or throw a different type of exception in some c

[2018-09-21 15:16] lateralusX commented on #10508
A couple of finings and observations around the preemptive suspend issue. When running the test on CI with some additional diagnostics it turns out that the tests doesn't deadlock but takes a long time to complete (tipping over the 300 s timeout) for x86 while the x64 always complete much quick on the same hardware. The Windows builders only have 2 virtual cpu's and I can emulate this problem by s

[2018-09-21 15:41] #9380 closed

[2018-09-21 17:05] jaykrell commented on #10508
Why wow64 increase kernel time? That rarely, but sometimes, makes sense. It is usually an extremely thin layer and all usermode.

[2018-09-21 18:48] lambdageek opened #10743 "xbuild and msbuild preserves readonly file permission when copying referenced assembly."
Found this while debugging a xamarin-macios failure using the mono-2018-08 branch.

## Steps to Reproduce

1. Download and extract attached
[Xamarin.MMP.Tests.MMPTests.RunMMPTest68.zip](https://github.com/mono/mono/files/2406573/Xamarin.MMP.Tests.MMPTests.RunMMPTest68.zip)
2. edit UnifiedExample.csproj to adjust the HintPath for `b.dll`
3. Note that `b.dll` in the project is readonly.
4. Run `xbui

[2018-09-21 18:48] lambdageek commented on #10743
/cc @radical

[2018-09-21 19:43] j4m3z0r opened #10744 "BTLS 3X slower than legacy TLS"
I've been building software to upload files to an S3 bucket using HttpClient on an AllWinner H5 chip. It has been running slowly (around 1/8th the speed that the speedtest utility shows, or ~3Mbps). The bottleneck seems to be the cost of running the TLS code -- the CPU core that is doing the upload is at 100% utilization throughout the upload, and breaking into that thread with gdb shows that it's

[2018-09-21 19:46] j4m3z0r commented on #10744
One other thought: is the BTLS code compiled with NEON instructions for ARM64 in the official packages? If not, perhaps that might be a quick fix / stopgap.

[2018-09-21 20:20] lateralusX commented on #10508
Correct, was refering to the additional user mode work needed to transition from 32 -> 64 and back (even if its still should be a thin wrapper), not direct increased kernel mode execution time.

[2018-09-21 21:05] luhenry commented on #10609
Didn't reproduce in https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/

[2018-09-21 21:05] #10609 closed

[2018-09-21 21:05] luhenry commented on #10607
Didn't reproduce in https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/

[2018-09-21 21:05] #10607 closed

[2018-09-21 21:06] luhenry commented on #10606
Didn't reproduce in https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/

[2018-09-21 21:06] #10606 closed

[2018-09-21 21:09] luhenry commented on #10608
Still failing at :
 - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/testReport/junit/Test%20collection%20for%20System.Collections.Generic.Tests/StringComparersTests/System_Collections_Generic_Tests_StringComparersTests_EqualityComparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned___Debug/
 - https://jenkins.mono-project.com/job/xamarin-android-pr-

[2018-09-21 21:14] luhenry opened #10745 "[mono-2018-06] [XA] Failing System.Text.Tests.StringBuilderTests.System.Text.Tests.StringBuilderTests"
## Steps to Reproduce

1. Run XA test suite

### Current Behavior

Following tests are failing:
 - System.Text.Tests.StringBuilderTests.System.Text.Tests.StringBuilderTests.Insert_String_Count
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/testReport/junit/Test%20collection%20for%20System.Text.Tests/StringBuilderTests/System_Text_Tests_StringBuilderTests_Insert_String_Co

[2018-09-21 21:22] luhenry opened #10746 "[mono-2018-06] [XA] Failing System.SpanTests.ReadOnlySpanTests.System.SpanTests.ReadOnlySpanTests"
## Steps to Reproduce

1. Run XA test suite

### Current Behavior

Following tests are failing:
 - System.SpanTests.ReadOnlySpanTests.System.SpanTests.ReadOnlySpanTests.Compare
   - https://jenkins.mono-project.com/job/xamarin-android-pr-builder/4091/testReport/junit/Test%20collection%20for%20System.SpanTests/ReadOnlySpanTests/System_SpanTests_ReadOnlySpanTests_Compare_strA________indexA__0__strB_

[2018-09-21 21:24] luhenry opened #10747 "[mono-2018-06] [XA] Failing Xamarin.Android.NetTests.AndroidClientHandlerTests.Sanity_Tls_1_2_Url_WithMonoClientHandlerFails"
## Steps to Reproduce

1. Run XA test suite

### Current Behavior

Following tests are failing:
 - Xamarin.Android.NetTests.AndroidClientHandlerTests.Sanity_Tls_1_2_Url_WithMonoClientHandlerFails

### Expected Behavior

Tests succeed

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows
[x] Android

## Stacktrace

 - Xamarin.Android.NetTests.AndroidClientHandlerTests.Sanity_T

[2018-09-21 21:51] Nicholi opened #10748 "Mono.Posix: Syscall.chown has incorrect signature"
## Steps to Reproduce

The signatures for `Mono.Unix.Native.Syscall.chown` is

`public static extern int chown([MarshalAs(UnmanagedType.CustomMarshaler, MarshalTypeRef = typeof (FileNameMarshaler))] string path, uint owner, uint group);`

Specifying both UID and GID as unsigned integers. However the native documentation for chown remarks this about the owner and group fields (man 2 chown).

Likewi

[2018-09-21 22:28] #9028 closed

[2018-09-22 02:06] kg opened #10751 "[roslyn] Two failures in Roslyn Visual Basic syntax facts tests"
This impacts Roslyn.Compilers.VisualBasic.Syntax.UnitTests

[code]

[2018-09-22 02:15] kg opened #10752 "[roslyn] Many csharp semantic unit tests fail because verification succeeds when it shouldn't"
The diagnostic messages when these tests fail are not precise at all so it's not clear what the nature of the failure here actually is. There are a considerable number of them.

Examples:
[code]

[code]

[2018-09-22 04:38] kg opened #10753 "versions.mk should not obliterate your checkout"
```versions.mk``` appears to perform a ```checkout -f``` and ```reset --hard``` whenever it's invoked to look at your checkout, in my case for example when you run acceptance tests. This will obliterate any local changes you have in most cases, preventing you from actually testing your changes and destroying them forever.

I can't come up with a good reason for it to do this. In the event this beh

[2018-09-22 08:18] HinTak commented on #9717
Same problem and more info at https://github.com/mono/mono/issues/10490

[2018-09-22 08:41] HinTak commented on #8659
Am a bit surprised it looks for guerilla though - though it would look for webkit-sharp (still outdated, I know..) at least. Gluezilla is very old...

[2018-09-22 08:51] HinTak commented on #7454
Same issue and work around in https://github.com/mono/mono/issues/10490

[2018-09-22 09:06] HinTak commented on #6769
Yes, your bundle is wrong. Please show the full output of `mkbundle -v ...` with the `-v` switch. That should tell you where mscorlib is copied from.

[2018-09-22 09:23] kg opened #10755 "[roslyn] Many semantic tests fail to load System.Double[*]..ctor"
Many tests fail with this 'failed to load due to unknown reasons'

[code]

[2018-09-22 09:28] kg opened #10756 "[roslyn] Runtime crash after many test failures in Roslyn.Compilers.VisualBasic.Symbol.UnitTests"
This assembly generates an enormous number of test failures followed by a runtime assertion & then another assertion that kills the runtime

[code]

[2018-09-22 09:48] kg opened #10757 "[roslyn] ArraysOfRank1_InAttributes fails because we do not throw"
This semantic test expects at least two exceptions and appears not to get any

[code]

[2018-09-22 12:44] NattyNarwhal commented on #8659
see: mono/mono-tools#50

[2018-09-22 19:02] HinTak commented on #10268
The 0x1b type is MONO_TYPE_FNPTR . The assertion happens in the manage wrapper code. The managed wrapper code differs from the native wrapper code in that it does not support this type and I don't know the reason.

I have another thought and think I might know why: the mixed mode assembly not only does P/Invoke but also reverse P/Invoke : it calls native code from C# code, and also passes a C# del

[2018-09-22 20:55] sourceskyboxer opened #10759 "I really don't understand why does wasm compilation not work for me?"
Hello everyone, do not ignore me!
I really don't understand how do I step to step with https://github.com/mono/mono/tree/master/sdks/wasm

I want understand how do I generate wasm from Mono's github

What do I make than It throws 2 errors
[code]

I try make clean ...
[code]

I have problem. It looks like it doesn't work for me. I am very disappointed...

I AM USING Ubuntu 18.04
Mono Version from G

[2018-09-22 21:40] HinTak commented on #10268
The current expected exception under linux is:

[code]

[2018-09-22 22:40] #9089 closed

[2018-09-23 09:09] StoddardOXC commented on #8514
Another data point: DrawImage with transparency (left- mono, right - wine):

![drawimagebug](https://user-images.githubusercontent.com/20479892/45926256-7dcdbe00-bf29-11e8-8d6d-cf442093a8aa.png)

code: https://github.com/kevL/OpenXCOM.Tools

[2018-09-23 13:35] cosminstirbu commented on #10709
The issue was caused by my Cake script that was instantiating a new process that was launching the Android emulator.

I've updated the script to keep a reference to the `IProcess` returned by Cake when launching the emulator and call `.Kill()` after the tests finish running. This fixed the issue.

However, I still don't understand what tools have updated under the hood (maybe `emulator` itself), s

[2018-09-23 13:35] #10709 closed

[2018-09-23 14:48] frebib commented on #7167
Reverting 5f5c5e9 took our build from 3:30-5:30h to ~20 minutes. I'm hoping reverting the commit doesn't cause any issues until this is fixed

[2018-09-23 16:38] QuotesUK commented on #7700
Installation hangs on MacOS 10.13.6, with the beach ball of death on the License step.
There aren’t any logs to report other than the Apple Crash Report.
Through Finder I was able to confirm that /Library/Frameworks/Mono.framework doesn’t exist.

[2018-09-23 18:13] HinTak commented on #10268
For mono 5.14 onwards, it asserts at `mono\metadata\marshal-ilgen.c:5997`, which is a `switch (sig->ret->type) {} ` block inside `emit_managed_wrapper_ilgen()`. The unknown type is `MONO_TYPE_FNPTR`. I feel like I should just stick another `case` near `MONO_TYPE_PTR` to deal with it the same way, possibly.

[2018-09-23 20:56] HinTak commented on #10268
I tried cross-compiling current master HEAD, which is `3f63bad14e26e5252b7aa25182e91ed1cd4433cb` (or `mono-3.0.12-22900-g3f63bad14e2` according to `get describe --tags ...`) with the following two changes:

[code]

With just the first one, I got a lot further until I hit the 2nd one; unfortunately the 2nd one in `collect_type_images()` seems to have broken p/invoke completely.

In the second case,

[2018-09-24 09:46] michaldobrodenka commented on #8350
My application is compiled with latest VS 15.8 (Mono 5.12), beta version of app is compiled with latest Vs 15.9 preview (Mono 5.14) and according to HockeyApp, more than 80% of crashes are Unobserved crash exceptions within MobileAuthenticatedStream. I'm voting for reopening this issue.

[code]

[2018-09-24 10:16] michaldobrodenka commented on #8350
Maybe it is related to using websocket-sharp library, which uses Begin/End Read IAsyncResult pattern. These are implemented using tasks, but probably not observed?

[2018-09-24 11:50] marek-safar opened #10768 "Better conflict resolution for NuGet packages moving inbox on Xamarin"
We want to have better conflict resolution for NuGet packages moving inbox on Xamarin. Nowadays when we have a type which also exists in nuget package we ask for a new version of the nuget with redirect using `_._` for our TFMs. This is not a great solution as it breaks with any previous releases and we rely on nuget packages to be released in sync with our releases. The proposed solution is to us

[2018-09-24 12:43] marek-safar opened #10769 "C++ codebase"
We want to explore what it would take for us to allow C++ to be used in Mono and put together a plan to allow Mono first to be compiled with C++ and then to start using some C++ on it.   Mono already links with C++ when using LLVM.

The intent is not to start an effort to rewrite existing working code into C, nor to launch ourselves into gratuitous refactoring efforts, but rather to allow us to us

[2018-09-24 13:09] marek-safar commented on #9511
This should be addressed by #9511 as well

[2018-09-24 13:09] #9511 closed

[2018-09-24 13:50] akoeplinger commented on #9198
@vargaz the net effect is that we don't get any test results from the LLVM testing, I don't think we can just punt it to somewhere in the future.

[2018-09-24 15:08] kumpera opened #10772 "WebAssembly: Test Suites"
Run the following test suites under WebAssembly:

- [ ] mini
- [ ] corlib
- [ ] System
- [x] System.Core

They should be executed under both interp and AOT.
They should be executed by all four engines (sm, ch, v8, jsc)
We should run both nunit and xunit based tests.

### Additional Infrastructure needed

WebAssembly-compatible xunit test runner

Those test suites should be added as part of the exi

[2018-09-24 15:35] directhex commented on #10489
Windows Mono builds don't currently support TLS 1.2

[2018-09-24 15:38] agonzalezm opened #10773 "*** glibc detected *** /usr/bin/mono: corrupted double-linked list: 0x00007fff942e2790 ***"
mono 4.8.0.520

My service crashes after 4-5 days running with that message and this stacktrace. I also have a coredump if it is useful.

*** glibc detected *** /usr/bin/mono: corrupted double-linked list: 0x00007fff942e2790 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x75f4e)[0x7ffff6ffbf4e]
/lib64/libc.so.6(+0x7a614)[0x7ffff7000614]
/lib64/libc.so.6(__libc_calloc+0xcd)[0x7ffff70007ed]
/us

[2018-09-24 15:58] sourceskyboxer commented on #10759
Ignore ignore ignore ignore ignore me???? Thank you for hurting . I feel stupid I wait longer. I am mad now. I will leave github now

[2018-09-24 15:58] #10759 closed

[2018-09-24 16:03] HinTak commented on #10489
Good to know - I thought it was a straight-forward case of missed step in packaging - i.e. the installer should import the trust certificates from host.

[2018-09-24 16:13] grendello opened #10774 "WebRequest timeout"
_From @rgroenewoudt on September 21, 2018 13:15_

Timeout while using WebResponse many times.

System.Net.WebException: The operation has timed out.
  at System.Net.HttpWebRequest+<RunWithTimeoutWorker>d__241`1[T].MoveNext () [0x000ba] in <b78695579ed9422b8bc80218eeda782c>:0
--- End of stack trace from previous location where exception was thrown ---
  at System.Net.HttpWebRequest.GetResponse () [

[2018-09-24 16:14] grendello commented on #10774
_From @rgroenewoudt on September 21, 2018 13:18_

When calling asmx webservice, the implementation of SoapClientProtocol does not dispose of the response (only the stream) resulting in the same timeout.

[2018-09-24 16:14] grendello commented on #10774
[test.zip](https://github.com/xamarin/xamarin-android/files/2411660/test.zip)

This issue is not specific to Xamarin.Android, I was able to reproduce it on desktop and therefore the issue will be moved to the Mono repository.

[2018-09-24 16:26] kumpera opened #10775 "WebAssembly: bindings"
This is an umbrela issue that track all work items required for completing our binding story.

### What are we trying to do?
A tool to produce automated bindings from typescript definition files.
A set of supported public APIs to facilitate interop with JS.

### Binding Engine
The binding engine consumes TypeScript definition files and produce C# bindings.

### JS interop library
The JS interop li

[2018-09-24 17:55] EgorBo commented on #10608
I suspect this one was introduced here https://github.com/mono/mono/pull/8874/files#diff-e7526071878d708680e4a8c5fa5a46edR5986

[2018-09-24 18:31] lambdageek commented on #8516
Thanks @AnOxfordDev!  If you have questions, feel free to leave a comment on this PR or get in touch with us on https://gitter.im/mono/mono

[2018-09-24 20:28] jaykrell opened #10780 "MonoTests.System.Runtime.Caching.ObjectCacheTest.Host CI failures"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

So far this seems to be Mac/x86 specific.
Two out of two I looked at were, but I might have missed much.
I would like to collect more data, i.e. confirm if present on other systems.

And, if it remains Mac/x86-specific, how does one even test that these days?
High Sierra and Mojave will not run this stuff.
Where do we get Sierra and old

[2018-09-24 21:57] luhenry commented on #10671
We already do versioning for `mxe`, right now it's `mxe-b9cbb53` (same form as what XA requires). I like your idea of putting it in `/opt/mono-toolchains/...`.

[2018-09-24 22:48] jaredpar opened #10782 "Mono crash running unmanaged constraint tests"
## Steps to Reproduce
This was found attempting to get the C# semantic tests running on Mono

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-semantic-crash3`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --mono`

### Actual Behavior
This will run the Semantic unit tests only and eventually Mono will crash attempti

[2018-09-24 23:35] jaredpar commented on #10309
I'm still seeing this issue in 5.19.0.72. By running the C# semantic tests in a loop 100 times it will eventually crash with the same stack trace:

[code]

I've pushed a new branch to my fork, `repro/mono-semantic-crash4`, where the C# semantic tests pass under Mono. Running it in a loop will cause this crash to hit.

[2018-09-25 01:08] j4m3z0r commented on #10744
Just looked into the hypothesis about NEON support a bit further. According to the `BUILDING.md` file in `external/boringssl`, BoringSSL will use `getauxval` to determine if the CPU has instructions to accelerate crypto. Reading up on `getauxval` suggests the following to read what it will return:

[code]

And `cat /proc/cpuinfo` reports the following:

[code]

Scanning through `boringssl/cpu-arm-

[2018-09-25 01:56] j4m3z0r commented on #10744
Ok, so looking at this from the other side -- which ciphers are being used, using tcpdump to capture the SSL handshake for both legacy and non-legacy ("future classic", perhaps?) modes, and analyzing with Wireshark, it looks like in TLS 1.2 (non-legacy) mode, the cipher suite selected is

[code]

Whereas for legacy mode (TLS 1.0), we see

[code]

It's been a while since I've studied crypto, but II

[2018-09-25 05:44] jaykrell opened #10783 "tailcall/2.exe times out on FullAOT ARM64."
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

tailcall/2.exe times out on ARM64.

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llvm/486/parsed_console/log.html

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llvm/471/parsed_console/log.html

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux

[2018-09-25 07:09] BigFaceCat2017 opened #10786 "how to compile it with LLVM"
hi, I want to compile it using LLVM .so  how to change it to compile with LLVM?

[2018-09-25 08:49] wschaefe commented on #9808
Still not works for downloading *.db - Files, but is working if download *.pdf - File

[2018-09-25 08:58] #10717 closed

[2018-09-25 09:06] PauloDeSousa commented on #7830
I am using mono 5.4.1.6 and the Invalidate does not seem to work in unix but works just fine in windows.
Filip: when was this issue fixed? which version?

[2018-09-25 09:09] rgroenewoudt commented on #10774
Probably related to #8775

[2018-09-25 09:43] filipnavara commented on #7830
@PauloDeSousa I do not have an exact version, but 5.4 was branched in August 2017 or maybe even earlier. Please test with some up-to-date release and if there is still a problem then feel free to file an issue.

[2018-09-25 11:10] gatodevelop opened #10791 "AZERTY key codes given using QWERTY"
## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

Mono 5.14.0.177 (tarball Mon Aug  6 09:13:43 UTC 2018) (64-bit)

[2018-09-25 11:11] #7242 closed

[2018-09-25 13:14] akoeplinger opened #10794 "VSMac debugger test failures after upgrading to 2018-08"
## Steps to Reproduce

1. Run MonoDevelop.Debugger.Tests with latest 2018-08 Mono
2. Various cases that deal with null handling fail

### Current Behavior

Test failures, see https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=166645&environmentId=606815&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension:

[code]

### Expected B

[2018-09-25 13:17] akoeplinger opened #10795 "VSMac Xamarin.Forms tests fail after upgrading to 2018-08"
## Steps to Reproduce

1. Run Xamarin.Forms.Addin.Tests
2. There are test failures

### Current Behavior

Test failures, see https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=166645&environmentId=606815&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension

[code]

### Expected Behavior

No failures.

## On which platforms did yo

[2018-09-25 13:18] marek-safar commented on #10794
Could this be just wrong error message check?

[2018-09-25 14:41] luhenry opened #10796 "Add code format check for runtime"
We would want, along the C++ switch, to add a GitHub status check to verify the format of the submitted code. It would be in charge of verifying that the code abide by a pre-defined code-formatting convention. The tool I have found so far is [clang-format](https://clang.llvm.org/docs/ClangFormat.html), and its use is quite widespread.

This would only be used for runtime code (`mono/`), and may la

[2018-09-25 14:50] lambdageek commented on #10769
We have C++ Linux/OSX/Windows master and PR lanes - both compiling and running test suites.
SDK PR lanes on-demand for the moment.

[2018-09-25 14:54] directhex commented on #10489
@HinTak that would probably help too. I don't remember adding logic to do that (someone else might have).

[2018-09-25 15:03] jaykrell opened #10797 "finalizer-thread.exe finalizer-abort.exe finalizer-exit timeout"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

e.g.
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx/14866/parsed_console/log.html

finalizer-thread.exe                                                                                            timed out (300s)
finalizer-abort.exe

[2018-09-25 15:22] jaykrell opened #10798 "unhandled-exception-2.exe failure"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://github.com/mono/mono/pull/10785

https://jenkins.mono-project.com/job/d/249/parsed_console/log.html

unhandled-exception-2.exe failed, time: 00:02.970, exit code: -1073740791

   1 test(s) failed

Failed test(s):

unhandled-exception-2.exe
=============== unhandled-exception-2.exe.stdout ===============
mono_os_event_reset

[2018-09-25 15:25] jaykrell opened #10799 "MonoTests.DebuggerTests.Suspend failure"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter-aarch64/8522/parsed_console/log.html

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

 Linux arm64

[2018-09-25 15:44] BrzVlad commented on #10309
@jaredpar I am running these tests for several hours now, run 75, with latest nightly mono (5.19.0.290) and there are no crashes yet. Could you also add a native stacktrace. Maybe run with MONO_DEBUG=suspend-on-sigsegv and attach after it crashes.

[2018-09-25 16:14] jaredpar commented on #10309
@BrzVlad unfortunately I updated my system this morning so I'm on 5.19.0.290 as well hence I can't grab the trace for 5.19.0.72. Let me re-run my scenario script though and see if I see the crash going away as well on this version.

[2018-09-25 16:14] jaykrell opened #10800 "bug-80307.exe timeout"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://github.com/mono/mono/pull/10740

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/10102/parsed_console/log.html

bug-80307.exe                                     timed out (300s)

Time: 05:01.336

 509 test(s) passed
   0 test(s) failed
   1 test(s) timed out

Timed out test(s):

bug-80307.exe
=====

[2018-09-25 16:16] jaykrell commented on #10800
Previously reported and closed: https://github.com/mono/mono/issues/7568

[2018-09-25 16:40] jaredpar commented on #10309
@BrzVlad been running the 290 build for 30 minutes now and I'm not seeing this crash anymore.  Nor am I seeing the other one I hadn't reported yet. I'm going to let the 100 iterations run to conclusion but I think this is solved now. Previously I couldn't get past 3 runs without hitting it.

Good news though: I should be able to turn on the C# semantic tests for Mono now.

[2018-09-25 16:51] chamons opened #10802 "mono_jit_init on macOS 10.14 has graphics corruption due to mprotect invocation"
This issue comes from the investigation of: https://github.com/xamarin/xamarin-macios/issues/4509

There is a regression in macOS 10.14 where if all the following are true for me:

- Building with Xcode10GM
- Running on macOS 10.14
- Launching from Finder or via "open" on the command line
- In a project with a xib _not_ a storyboard as the main entry point

AppKit starts drawing corrupted graphics

[2018-09-25 16:54] #10598 closed

[2018-09-25 17:18] marek-safar commented on #10796
/cc @migueldeicaza

[2018-09-25 17:23] jaykrell opened #10803 "appdomain-threadpool-unload.exe timeout Linux amd64 interpreter"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

e.g.

https://github.com/mono/mono/pull/10733

Linux amd64 Interpreter.

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/10123/parsed_console/log.html

appdomain-threadpool-unload.exe timed out (300s)

1 test(s) timed out

Timed out test(s):

appdomain-threadpool-unload.exe
=============== appdomain-threadpool-un

[2018-09-25 17:26] lemonmojo commented on #10802
http://man7.org/linux/man-pages/man2/mprotect.2.html

Isn't that the case here?

Also see https://stackoverflow.com/a/50691513

[2018-09-25 19:23] lambdageek opened #10805 "[xammac] 2018-08 CertificateTest.MailX1 test failure"
We see this failure in the 2018-08 Xamarin.Mac integration: https://github.com/xamarin/xamarin-macios/pull/4596#issuecomment-417625169

## Steps to Reproduce

1. clone and build `mono-2018-08` branch of xamarin-macios
2. `cd tests && make run-mac-unified-xammac_tests`

### Current Behavior

[code]

### Expected Behavior

`MonoTouchFixtures.Security.CertificateTest.MailX1` test passes.

## On which

[2018-09-25 19:55] lemonmojo commented on #10802
So, as suspected if I `mmap` the memory with r/w before calling `mprotect`, none of the weirdness happens. At least in @chamons repro case. Here's an updated version of that with mmap added in:
[MProtectMadnessLM.zip](https://github.com/mono/mono/files/2416840/MProtectMadnessLM.zip)

See this rust code for reference: https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/thread.rs#L308

[2018-09-25 20:13] marek-safar opened #10807 "Few tests for EqualityComparer<string> for mobile are failing"
This is due to different codepath for string in referencesource. The affected tests is CoreFX `EqualityComparer_GetHashCodeShouldBeOverriddenAndBeTheSameAsLongAsTheTypeIsTheSame_cloned`

[2018-09-26 05:46] thangikcu commented on #10645
I got this issue too, please help us to check it @marek-safar

[2018-09-26 08:08] dustinmoris opened #10811 "Mono is tripping over tuples"
Check these builds:
https://travis-ci.org/dustinmoris/Firewall/builds/433317102

Mono 5.0.1 is falling to pieces as soon as it faces a ValueTuple. Other Mono versions work fine.

[2018-09-26 09:09] lilleydnSub commented on #10802
Are we likely to get an update pretty soon for a workaround ?

[2018-09-26 09:46] marek-safar commented on #10811
Could you please try with any recent version instead?

[2018-09-26 09:46] #10811 closed

[2018-09-26 10:17] marek-safar commented on #10645
Do you have any self contained test we could use to help us verify this?

[2018-09-26 13:44] marek-safar commented on #10794
@vargaz could you please investigate the failures, it looks like something has changed in struct handling

[2018-09-26 14:12] jaredpar opened #10815 "Crash processing NoPIA data"
## Steps to Reproduce

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-emit-crash1`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build.sh --test --mono`

### Actual Behavior
This will run the Emit unit tests only and eventually Mono will crash running the `Microsoft.CodeAnalysis.CSharp.UnitTests.Emit.NoPiaEmbedTypes.Bug611578` te

[2018-09-26 14:27] jaredpar opened #10816 "EnsureSufficientExecutionStack not throwing on Linux"
The C# compiler uses the `RuntimeHelpers.EnsureSufficientExecutionStack` API to *opportunistically* avoid stack overflows in places where the code is recursive. Typically parsing and expression binding.

The guards against stack overflows are validated in our unit tests. These are all failing on Mono Linux though. The behavior of the function appears to be a no-op.

https://github.com/dotnet/rosly

[2018-09-26 14:31] vargaz commented on #10816
It was made a no-op because the implementation depended on linux apis which were kinda slow to call a large number of times.

[2018-09-26 14:34] jaredpar commented on #10816
Have you considered how the CLR runtime implemented this for Linux? I'm unsure how it was implemented but our performance there is not observably different and we call this API quite frequently during parts of parsing and binding.

[2018-09-26 14:54] EgorBo opened #10821 "[docs] Update LLVM docs at mono-project.com"
https://www.mono-project.com/docs/advanced/mono-llvm/
I guess this page should just suggest to use `--enable-llvm=yes` (and that argument to enable llvm asserts)

[2018-09-26 15:07] kumpera opened #10822 "[RFC] Make mono detect it's in-tree and not require us to set MONO_PATH all the effing time"
Right now, when doing runtime development, one needs to set MONO_PATH on every single damn invocation of `mono`, it's really annoying and not actually needed.

We should change desktop mono to probe if it is inside the build tree and automatically probe for `mcs/class/lib/net_4_x` if it can't find corlib in the right place.

[2018-09-26 17:34] KirillOsenkov opened #10831 "TypeLoadException: Could not resolve type with token 010000dc"
Unfortunately we don't have a 100% repro, but we've tried our best. I'm filing this so this is searchable and next time someone runs into it, we track it all in one place. We've already seen two reports of this by @mrward and @slluis.

1. git clone https://github.com/KirillOsenkov/MonoRepro
2. Build and run https://github.com/KirillOsenkov/MonoRepro/blob/master/CryptoRepro/CryptoRepro.sln

**Versi

[2018-09-26 17:41] KirillOsenkov opened #10832 "FileSystemWatcher causes * Assertion at mono-threads.c:1582, condition `previous_token == NULL || previous_token == INTERRUPT_STATE' not met"
No repro steps unfortunately, but VS Mac CI test run failed with this:

Mono 5.14.0.177

Decided to file just in case we can glean anything from the stack. Also if someone runs into this again they'll be able to search and find this.

[code]

[2018-09-26 17:42] #10791 closed

[2018-09-26 21:36] pcoffer commented on #8350
Still happening for me as well with the latest VS 15.8.5.  My stack trace is identical to, and as unhelpful as, that of @michaldobrodenka  above.

[2018-09-26 21:49] brendanzagaeski commented on #8350
Appearances of unobserved exceptions from `MobileAuthenticatedStream` could indeed be caused by calls that use `NetworkStream` via some code path other than `HttpClient.SendAsync()`. Any library that interacts with network streams directly rather than via higher level APIs would need to ensure that it called `EndWrite()`. If by chance anyone has a test case they can provide where one of the higher

[2018-09-26 22:31] jaredpar opened #10834 "Error loading generic override of in parameter"
## Steps to Reproduce

Consider the following C# code:

[code]

Executing this code on Mono will lead to the following error:

Note: this is a simplified code sample from the C# test [Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGenInParametersTests.InParamGenericReadonly](https://github.com/dotnet/roslyn/blob/fab7134296816fc80019c60b0f5bef7400cf23ea/src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenIn

[2018-09-26 22:36] lambdageek commented on #10834
@jaredpar Looks like something got lost in the simplified example - there's no definition of `S1`.

Looks like it should be:
[code]

Is that correct?

[2018-09-26 22:39] jaredpar commented on #10834
@lambdageek yes that's correct.

[2018-09-26 23:34] jaredpar opened #10837 "Incorrect interface dispatch on generics"
## Steps to Reproduce

Add the following code to Program.cs

[code]

Then

1. `mcs Program.cs`
1. `mono Program.exe`

Expected Output: "Derived`2.Method()"
Actual Output: "Base.Method()"

Here is a sharp lab demo of the expected behavior: [sharp lab demo](https://sharplab.io/#v2:EYLgHgbALANALiATgVwHYB8ACAGABJgRgG4BYAKAEtU4BTRAMwEMBjG3ASWrqdYB4AVAHzkA3uVwT8UXAFkacABYB7ACYAKAJSkyAX3KYATLgBCjAM40Bg3C

[2018-09-27 00:31] jaredpar opened #10838 "Delegate members"
## Steps to Reproduce

Consider the following code in Program.cs:

[code]

Then do the following:

1. `mcs Program.cs`
1. `mono Program.exe`

The output for the delegate constructor will be:

The expected output is:

Note: this is breaking the C# emit test [Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenClosureLambdaTests.OrderOfDelegateMembers](https://github.com/dotnet/roslyn/blob/5bedd8

[2018-09-27 01:07] jaredpar opened #10839 "Failure loading DLL with mismatched surrogate pair name"
## Steps to Reproduce

Create a file Util.cs with the following content:

[code]

Compile this to a library Util.dll. Now attempt to load that library into a Mono process and you will get the following exception:

This is breaking the C# emit test case [Microsoft.CodeAnalysis.CSharp.UnitTests.AssemblyAttributeTests.MismatchedSurrogateInAssemblyCultureAttribute](https://github.com/dotnet/roslyn/blo

[2018-09-27 02:46] thangikcu commented on #10645
Call a API with status response is 400

This is a simple code to verify

`            try
             {
                WebClient webClient = new WebClient();

                webClient.Headers["Content-Type"] = "application/json";
                webClient.Headers["Accept"] = "*/*";
                webClient.Headers["Cache-Control"] = "no-cache";

                var fullUrl = new Uri("http://lo

[2018-09-27 08:29] kg opened #10841 "[roslyn] AllowsLeadingOrTrailingImplicitLineContinuation vb tests broken"
AllowsLeadingOrTrailingImplicitLineContinuation and AllowsLeadingOrTrailingImplicitLineContinuationNegativeTests in the Microsoft.CodeAnalysis.VisualBasic.Syntax.UnitTests assembly both fail, with this error:
[code]

[2018-09-27 08:29] marek-safar commented on #10834
/cc @kumpera

[2018-09-27 08:31] kjpou1 opened #10842 "[wasm] HttpClientHandler does not return the response status text."
The default WebAssembly WasmHttpMessageHandler does not allow the retrieval of the response text on all response statuses that are not defined as OK.

Example:
For Status Code = 403 which is a Forbidden response from the server, the response message is empty when accessing the `ResponseMessage`'s Content.

[2018-09-27 09:02] akoeplinger opened #10845 "bug-80392.2.exe and monitor-wait-abort.exe frequently timeout on OSX"
## Steps to Reproduce

1. Run the bug-80392.2.exe or monitor-wait-abort.exe runtime tests on OSX
2. They frequently hang/timeout

### Current Behavior

Hang/Timeout:

- https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-amd64/9732/testReport/MonoTests/runtime/bug_80392_2_exe_timedout/
- https://jenkins.mono-project.com/job/test-mono-mainline/label=osx-amd64/9722/testReport/MonoTests

[2018-09-27 12:16] thangikcu commented on #10645
I downgrade xamarin android to version 8.3.3.2 and this issue not happen

[2018-09-27 12:38] MaximLipnin opened #10848 "IsAssignableFrom issue with non-generic interface array"
## Steps to Reproduce

1. Compile and run the following code:

[code]
2.
3.

### Current Behavior

The output is:
[code]

### Expected Behavior

The output should be:
[code]

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]
## Stacktrace

[code]

[2018-09-27 12:51] marek-safar commented on #10848
/cc @lambdageek

[2018-09-27 14:44] marek-safar commented on #10839
@jaredpar that stacktrace is from Mono C# compiler. Why are you testing it?

Also when I compiled the snipped using csc and loaded it using reflection it worked.

[code]

[code]

[2018-09-27 15:18] marek-safar commented on #9912
We believe this should be fixed (please reopen if you can still reproduce it)

[2018-09-27 15:18] #9912 closed

[2018-09-27 15:27] marek-safar commented on #10743
There is nothing special in msbuild about it.

@lambdageek could you try to reproduce it with simple File.Copy BCL call?

[2018-09-27 15:41] akoeplinger opened #10851 "VSMac F# test fail after upgrading to 2018-08"
## Steps to Reproduce

1. Run MonoDevelop.FSharp.Tests
2. There are test failures

### Current Behavior

Test failures, see https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=164928&environmentId=598459&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension:

[code]

It only seems to affect MonoDroid apps.

### Expected Behavior

N

[2018-09-27 15:46] lambdageek commented on #10743
`File.Copy ("x.from", "x.to", True);` when `x.from` is readonly and `x.to` doesn't exist creates a readonly `x.to`.  So just using File.Copy and not fixing up the permissions doesn't give the result that XM expects.

[2018-09-27 16:33] jaredpar commented on #10839
When filing these bugs I often try and see if I can repro it with mcs + Mono. Doing so makes me more confident it's a Mono issue and not a subtle issue with Roslyn running on Mono.

[2018-09-27 16:37] radical commented on #10743
I'm not able to reproduce this with 5.16.05, 5.16.0.152 or 5.18.0.106 . One thing to note is that msbuild (via the `Copy` task) is copying `b.dll` *only* to `bin/Debug/b.dll`, which has the expected permissions. But the file that mentioned above, `bin/Debug/UnifiedExample.app/Contents/MonoBundle/b.dll`, is copied by the `mmp` task from XI and not msbuild itself. But I'm not being able to reproduce

[2018-09-27 16:40] marek-safar commented on #10851
@radical please investigate

[2018-09-27 16:46] marek-safar commented on #10747
@baulig what do we need to update?

[2018-09-27 16:47] marek-safar commented on #10805
@baulig please help with the fix

[2018-09-27 16:54] lambdageek commented on #10743
@radical I'm using the versions below.   As far as I know, this is all released Alpha channel stuff, except for mono 5.18.0.115 which is from Jenkins.

[code]

[2018-09-27 17:40] radical commented on #10743
After installing everything from the alpha channel, I am able to reproduce this. But IIUC, this is a XM/mmp issue, as I can reproduce it with just mmp (which doesn't depend on msbuild) by running it with the arguments obtained from a build:

[code]

Steps:
1. Write the above set of args to a temp file, like `/tmp/mmp-args.rsp`
2. Build with msbuild
3. `rm bin/Debug/UnifiedExample.app/Contents/Mono

[2018-09-27 17:41] radical commented on #10743
Oh, also since the arguments have the full path to the project, unzip the project in `/tmp` or adjust the paths.

[2018-09-27 17:48] jaredpar commented on #10838
Further testing shows this is not just delegate signatures, appears to happen on all signatures.

[2018-09-27 17:50] radical commented on #10851
This will be fixed once the msbuild update PR: https://github.com/mono/mono/pull/10668 is merged. [This commit](https://github.com/mono/msbuild/commit/300887e680a0cc790476efad9613507ead5957d3) specifically fixes the issue.

[2018-09-27 18:40] radical commented on #10851
The XF test failures look to be the same issue, based on the logs.

[2018-09-27 19:16] mhutch opened #10858 "64-bit integers not aligned correctly for calli on 32-bit Android"
Per https://github.com/mellinoe/veldrid/issues/83#issuecomment-425204801 it appears that 64-bit integers are not aligned to 8-byte boundaries on the stack when using `calli` on 32-bit Android, unlike clang. The ARM calling convention spec appears to support clang's behavior in this case.

[2018-09-27 19:29] bocciab opened #10859 "NullReferenceException from canceled request"
I'm trying to create a minimum-viable-repro, but what's happening in my app right now is that I have some uploads going on, and I attempt to cancel them. In the process of doing so, a WebException catch block is triggered and the response is never assigned. The workflow ends up something like this:

wresponse is initialized to null:
https://github.com/mono/mono/blob/f2451980a28c6ea19fe79cb1929dfb7

[2018-09-27 21:36] radical opened #10863 "Possible GC hang while building msbuild with mono/2018-08 and mono/master"
Mono version: `Mono JIT compiler version 5.18.0.103 (2018-08/56bed71f118 Tue Sep 18 07:06:42 EDT 2018)`

Steps:

0. This seemed to help with reproducing the issue: `nuget locals all -Clear`, but not always.
1. Build msbuild from `xplat-master` branch (HEAD: 17218b611a97315eaef9fa4a8add5ef049a2ff8e) with
    `$ make`
2. This gets stuck at the bootstrapped build while restoring packages. This is not

[2018-09-27 21:47] lambdageek commented on #10863
Might be hybrid suspend.

Could you try with `MONO_THREADS_SUSPEND=preemptive` a few times and see if that seems to make it work?

[2018-09-27 22:11] lambdageek commented on #10743
Okay, I @marek-safar I think this bug is due to https://github.com/mono/linker/commit/0f781501fa17c8018fdbd7001e912c5073ee21e1
That change changed the linker OutputStep `CopyAssembly` function to use as the source the original (read-only) assembly file, not the copied over (read-write) assembly.

The following patch (for https://github.com/mono/linker) makes the test pass:

[code]

But I think the

[2018-09-27 22:15] baulig commented on #10805
PR is up: https://github.com/mono/mono/pull/10865.
We also need to land https://github.com/xamarin/xamarin-macios/pull/4888.

[2018-09-27 22:26] lambdageek commented on #10863
oh, one useful piece of information:  try setting `MONO_SLEEP_ABORT_LIMIT=5000` (or some other high enough number - it's a time in milliseconds).  That will turn GC suspend hangs over 5 seconds into fatal errors and it will print out a scorecard of thread statuses - that would be really helpful to me to try to figure out why it's hanging.

[2018-09-27 22:28] radical commented on #10863
@lambdageek `MONO_SLEEP_ABORT_LIMIT=n` + `MONO_THREADS_SUSPEND=preemptive`?

[2018-09-27 22:29] lambdageek commented on #10863
@radical no, separately.  if it works with preemptive, then we know it's a hybrid suspend bug.  in that case, a sleep abort limit will help to understand what the threads are doing

[2018-09-27 22:41] radical commented on #10863
With just `MONO_SLEEP_ABORT_LIMIT=5000` I get https://gist.github.com/radical/b2273f9a59c06501169fabf13f6c238a .

[2018-09-27 22:47] lambdageek commented on #10863
Aha, that helps.  The finalizer thread is in blocking state which is suspicious.  In your original backtrace it looks like it's trying to take a GC lock to change its thread state.

So I think we raced between the finalizer trying to set itself up to be ignore and the GC trying to suspend it.  So definitely a hybrid/coop bug.

Thanks!

[2018-09-27 23:28] pr0vieh opened #10868 "internal_llvm not installed to mono --prefix dir"
## Steps to Reproduce

1. ./autogen.sh --prefix=someprefixdir --enable-llvm=yes
2. export PATH=someprefixdir:$PATH
3.  mono --llvm some.exe

### Current Behavior

llvm libs are installed in the sourcedir (/sourcedir/mono/llvm/usr/) not to the mono-prefix dir

### Expected Behavior

runtime with LLVM-Backend and all needed libs

## On which platforms did you notice this

[ ] macOS
[x] Linux Ubuntu

[2018-09-28 01:44] SteveInCO commented on #9511
For a workaround, see https://stackoverflow.com/questions/52402634

[2018-09-28 02:35] ivancitin opened #10869 "File.Create when path has special character"
## Steps to Reproduce

Run this sample program

<pre>
using System;
using System.IO;

namespace SampleConsole
{
    class MainClass
    {
        public static void Main(string[] args)
        {
            var dir = $"{Environment.GetFolderPath(Environment.SpecialFolder.UserProfile)}/Documents/test";

            Directory.Delete(dir, true);
            Directory.CreateDirectory(dir);

[2018-09-28 06:26] mkrueger opened #10870 "Crash in System.URI"
This crashes:

var uri = new Uri ("/a");

System.UriFormatException: Invalid URI: The format of the URI could not be determined.
  at System.Uri.CreateThis (System.String uri, System.Boolean dontEscape, System.UriKind uriKind) [0x0007d] in /home/mkrueger/work/install/mono/mcs/class/referencesource/System/net/System/UriExt.cs:56
  at System.Uri..ctor (System.String uriString) [0x00014] in /home/mkr

[2018-09-28 07:31] marek-safar commented on #10863
@lambdageek thanks for helping to track that down. Is my understanding correct that this will affect 2018-08 as well?

[2018-09-28 08:19] lemonmojo commented on #10802
@chamons @marek-safar @luhenry Any news from you guys or from Apple?

[2018-09-28 08:34] jaykrell commented on #10802
@lemonmojo Can you mmap the already allocated stack?

[2018-09-28 08:37] vargaz commented on #10802
I'm not sure what the effect of that would be. Stack overflow handling is niche functionality which doesn't even work very well, so its less important than mono apps working on mojave.

[2018-09-28 11:49] sgilabert commented on #10304
Is there a workaround to this problem? Thanks

[2018-09-28 12:44] sporring opened #10872 "System.TypeLoadException in mono when running fsharp code linked to a library with same name"
## Steps to Reproduce

1. Make a library and an application with filenames app.fs and app.fsx, e.g.,

E.g., app.fs:
[code]
app.fsx:
`printfn "%d" (test.trunc 260)`

2. Compile the library and link with the application:

`fsharpc --nologo -a app.fs && fsharpc --nologo -r app.dll app.fsx && mono app.exe`

### Current Behavior

The above procedure causes mono to halt with an

[code]

Note, that this

[2018-09-28 12:58] BrzVlad commented on #10802
I can't reproduce this issue. Given, from what I understood, that it might be related to calling mprotect over memory that was not explicitly mmaped, does this call reversal happen to fix the issue ? @chamons

https://gist.github.com/BrzVlad/dcee172c24cc532a02d887b96cd4704c

[2018-09-28 13:47] sancheolz opened #10875 "[System.Runtime.Remoting] NullReferenceException when calling byvalueobject from byRef if server on .Net and client on mono"
## Steps to Reproduce

1.  Run server on .net framework 4.0 from Debug dir from
[ClientAndServer.zip](https://github.com/mono/mono/files/2428375/ClientAndServer.zip)
whith commnad
ClientAndServer.exe Server.cfg
2.  Run client on mono 5.16 from Debug dir with command
mono ClientAndServer.exe Client.cfg
3.  It throws NullReferenceException. When Server and Client on .net it works. When both on mono

[2018-09-28 13:57] chamons commented on #10802
I'm working with @BrzVlad now to test the mmap "fix" since he's having trouble reproducing locally (maybe hardware dependent?)

[2018-09-28 14:10] lemonmojo commented on #10802
@chamons At some level it's definitely hardware dependent as I've never been able to reproduce it in a VM.

[2018-09-28 15:10] lambdageek commented on #10863
@marek-safar Correct.

[2018-09-28 15:51] lambdageek commented on #10872
I don't think this is Mono-specific.
This also happens with .NET Framework on Windows:
[code]

In general .NET cannot distinguish two assemblies with the same name, version, public key token and culture.  The filename doesn't matter.  In this case both `app.dll` and `app.exe` are `'app, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'` so loading both at the same time is not supported and wi

[2018-09-28 15:58] Ricordel opened #10876 "Module.FindTypes does not find any type with 5.14 on Linux"
## Steps to Reproduce

With this minimal code:

[code]

Run it with mono 5.12: types are found:

[code]

Run with mono 5.14: no type found:

[code]

## Version

[code]

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2018-09-28 16:17] chamons commented on #10802
This is still under active investigation (by the awesome @BrzVlad ) but so far I've only been able to "fix" this by effectively commenting out the mprotect. That makes us lose stack overflow detection, which is obviously :(

[2018-09-28 16:38] ivancitin commented on #10869
Good, i finally got it, the secret here was the [`Normalize`](https://docs.microsoft.com/en-us/dotnet/api/system.string.normalize?view=netframework-4.7.2#System_String_Normalize) method of the string, normalizing the names coming from the directory listing produced the desired result.

[2018-09-28 16:38] #10869 closed

[2018-09-28 17:45] lambdageek opened #10877 "Disable experiment: null"
This is a tracking issue to disable the Mono experiment `"null"`.

----

The `"null"` experiment is just an example.  This issue is an example of what a tracking issue for an experiment may look like - each experiment should have an associated issue that will be closed when the experiment is removed.

There are generally three possible fates for an experiment:
1. The experiment becomes part of mai

[2018-09-28 17:49] jaykrell commented on #10877
2b. The experiment changes into a runtime setting via command line or environment variable.

[2018-09-28 20:03] emiludenz commented on #10872
If the app.fsx file includes the line #load "app.fs" it will compile and run as expected.

[2018-09-28 20:13] lambdageek commented on #10872
@emiludenz `#load` works by textual inclusion. it doesn't actually cause a reference to `app.dll` to be included in `app.exe` - it just loads the source code from `app.fs` when compiling `app.fsx`.

Try this:
[code]

[2018-09-29 12:09] Lekond opened #10884 "asp+mysql System.ArgumentNullException"
## Steps to Reproduce

1. I build my project (asp, mvc5) in Visual Studio 2015, publish it
2. I put published project to linux with apache2 and mono
3. I have an error:
`System.ArgumentNullException
Value cannot be null.
Parameter name: key

Description: HTTP 500.Error processing request.

Details: Non-web exception. Exception origin (name of application or object): mscorlib.
Exception stack trace

[2018-09-29 13:34] MBeijer commented on #10884
I'm getting this on version 5.19.0.290 as well from the nightly Debian builds.

[2018-09-29 13:58] pandorably commented on #10868
I don't think this is specific to the prefix option. I just built mono without specifying a prefix, and I'm getting the same error.

I'm not terribly familiar with the codebase (or even C#), but here's what I could find by digging around a bit, based on my terrible understanding of everything and a bunch of presumptions:

_"LLVM JIT not supported on this platform."_ is only printed if neither `def

[2018-09-30 06:14] jdbohrman commented on #7587
I'd love to help with this for my first issue!

[2018-10-01 00:12] jaykrell opened #10888 "ActivationTests.TestCreateTcpWkoSingleton etc. flaky (4 tests)"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

Random failure, e.g.

https://jenkins.mono-project.com/job/test-mono-pull-request-i386/18734/testReport/junit/(root)/ActivationTests/TestCreateHttpCao/

https://github.com/mono/mono/pull/10883

Linux i386

ActivationTests.TestCreateHttpCao
ActivationTests.TestCreateTcpCao
ActivationTests.TestCreateTcpWkoSingleCall
ActivationTests.TestC

[2018-10-01 00:14] jaykrell opened #10889 "MonoTests.test-unhandled-exception-2-255-with-managed-handler.unhandled-exception-4.exe flaky"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Random failures, for example:

Linux x64 Coop Suspend

https://github.com/mono/mono/pull/10883

https://jenkins.mono-project.com/job/test-mono-pull-request-coop/8355/

MonoTests.test-unhandled-exception-2-255-with-managed-handler.unhandled-exception-4.exe

[code]

### Expected Behavior

Success.

## On which platforms did you notice thi

[2018-10-01 00:36] jaykrell opened #10890 "mini-exceptions.c:1376, condition `ud->num_frames + 1 < ud->max_frames' not met"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Random failures, e.g.:

https://github.com/mono/mono/pull/10883 ?

https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/10326/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Linux

[2018-10-01 01:07] jaykrell commented on #10441
I fixed this recently.

[2018-10-01 01:07] #10441 closed

[2018-10-01 02:04] jaykrell opened #10891 "RFC: Coop handles considered pinned."
1.

A C++ prototype implements the handle macros as merely:

[code]

and then really, these become perhaps just for compatibility,
and coop conversion can proceed with a much smaller textual change.
There is no need to use these macros as they are idiomatic and
except for MONO_HANDLE_NEW_GET, match the existing raw pointer use.

 a. Change Foo* to FooHandle as before.
 b. Initialize the handle sim

[2018-10-01 06:30] jaykrell opened #10892 "appdomain-async-invoke.exe flaky"
## Steps to Reproduce

1.  Submit  a PR.

### Current Behavior

Random failures. e.g.

https://github.com/mono/mono/pull/10881

Windows i386

https://jenkins.mono-project.com/job/w/15898/

https://jenkins.mono-project.com/job/w/15898/testReport/junit/MonoTests/runtime/appdomain_async_invoke_exe_timedout/

[code]

### Expected Behavior

Success.

## On which platforms did you notice this

Windows

[2018-10-01 06:31] jaykrell commented on #10892
Not a very useful stacktrace on Windows CI either.

[2018-10-01 08:16] marek-safar commented on #10608
Fixed

[2018-10-01 08:16] #10608 closed

[2018-10-01 08:19] marek-safar commented on #10746
Merging with #10745 the underlying issue seems to be same

[2018-10-01 08:19] #10746 closed

[2018-10-01 08:33] marek-safar commented on #10890
This is runtime crash with

[code]

[2018-10-01 09:10] jaykrell commented on #10890
Isn't the assert part of the crash reporting, not the actual crash?

[2018-10-01 09:27] marek-safar commented on #10868
/cc @vargaz

[2018-10-01 09:46] #10872 closed

[2018-10-01 09:54] marek-safar commented on #10876
/cc @MaximLipnin @lambdageek

[2018-10-01 10:13] marek-safar commented on #10870
That's same exception .NET throws

[2018-10-01 10:13] #10870 closed

[2018-10-01 10:35] jaykrell commented on #10890
I still think there is a System.ComponentModel.Composition-xunit failure here also (notice the original bug title).

[2018-10-01 11:51] marek-safar commented on #10858
@vargaz could you please confirm?

[2018-10-01 11:53] marek-safar commented on #10851
@akoeplinger could you bump the VS integration to see if it works now?

[2018-10-01 12:06] marek-safar commented on #10838
@MaximLipnin could you look into this one about ToString implementation

[2018-10-01 12:08] marek-safar commented on #10839
mcs does not use System.Reflection or System.Reflection.Emit so any exception there is more likely just about an issue in mcs own reflection implementation (yeah it has very different implementation).

[2018-10-01 12:39] lemonmojo commented on #10802
@chamons Any news?

I just tested this using Xcode 9.4.1 and can still reproduce some weirdness when the `mprotect` call is not commented out (even the `mmap` workaround doesn't work for me in this case).

Here's what this looks like for me with Xcode 9 (note the title bar of the NSAlert):
![monomojavexcode9](https://user-images.githubusercontent.com/186198/46288760-1fd35300-c587-11e8-9c87-c30bf64

[2018-10-01 12:44] akoeplinger commented on #10851
Yup it works now (still other tests failing): https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=166645&environmentId=606815&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab&_a=release-environment-extension

[2018-10-01 12:44] #10851 closed

[2018-10-01 12:50] madsjohnsen opened #10895 "Unable to parse non-MTOM response after MTOM request"
I am having issues with a WCF service which requires MTOM encoding to be sent, but does not respond with MTOM.
I do not have control over the server.

If a repro example is needed I will create one, but hoping it won't be necessary.

## Steps to Reproduce

1. Create a WCF binding that uses MTOM: new WSHttpBinding (SecurityMode.Transport) { MessageEncoding = WSMessageEncoding.Mtom }
2. Successfully

[2018-10-01 12:59] marek-safar commented on #10795
This looks very similar to https://github.com/mono/monodevelop/issues/6120

[2018-10-01 13:01] akoeplinger commented on #10795
Not just similar, I'd say it's exactly the same :)

[2018-10-01 13:01] #10795 closed

[2018-10-01 13:03] sporring commented on #10872
@marek-safar, why has this been closed? If this is a known issue, then I would say that the bug is the missing error message at the time of linking. A run-time error caused by filename issues during compilations is a bad mix of concepts.

[2018-10-01 13:17] marek-safar commented on #10872
You get TypeLoadException exception which if I understood the @lambdageek conclusion is what is expected. What else would you like to be improved?

[2018-10-01 13:28] akoeplinger commented on #10794
Ah, so it's because of https://github.com/mono/mono/commit/275d7bfc2ca17aa03a9daeb32493ee0ef9078037

[2018-10-01 13:28] vargaz commented on #10794
vsmac should probably check both names.

[2018-10-01 13:29] marek-safar commented on #10794
yeah, we'll have to change it to `GetMember (ctx, type, obj, "has_value") ?? GetMember (ctx, type, obj, "hasValue");`

[2018-10-01 13:31] akoeplinger commented on #10794
@marek-safar yup though I'd check for `hasValue` first so we don't need to do an extra lookup all the time on newer Mono.

[2018-10-01 14:06] marek-safar commented on #10884
I cannot reproduce it after the fix using 5.19.0 (master/f3fecf91fb4).

Please reopen with full repro if you can still reproduce it

[2018-10-01 14:06] #10884 closed

[2018-10-01 14:07] mrklintscher commented on #9808
Dont working for mp4 files too.

[2018-10-01 14:28] lemonmojo commented on #10802
@chamons Yes, that is indeed disappointing. At this point I'd suggest opening a [TSI](https://developer.apple.com/support/technical/). Even if the Apple support engineer can't provide a workaround, it might help promote the radar. I would've requested a TSI already but fear that they would just point to mono instead so I think it makes sense that the TSI is opened by MS.

[2018-10-01 14:36] vargaz commented on #10802
Note that what the runtime was doing, i.e. mprotect some memory it didn't allocate might not be a supported use case, so it could get broken at any time.

[2018-10-01 14:43] luhenry opened #10900 "Build XA/XI/XM tests with `make -C runtime mcs-do-test-profiles test_profiles="monodroid"`"
## Steps to Reproduce

1.
2.
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]

[2018-10-01 14:48] lemonmojo commented on #10802
So building mono with the changes from https://github.com/mono/mono/pull/10899 should fix the problem? Or is there anything else required?

[2018-10-01 14:49] chamons commented on #10802
@lemonmojo You beat me to the punch by one minute - Yes, please test with that and report back. We believe it should fix things.

[2018-10-01 14:50] chamons commented on #10802
Also, I"m sure a TSI would get back a "what you are doing in unsupported, we don't care, stop doing that".

[2018-10-01 15:06] sporring commented on #10872
I agree with the diagnosis. Since this is expected behavior and can be determined at compile-time, then a compile-time error would be the right thing to do, in my view.

[2018-10-01 16:46] marek-safar commented on #10872
Please F# compiler issue in that case at https://github.com/fsharp/fsharp

[2018-10-01 18:27] jaykrell opened #10902 "C++ coop handles."
I have a C++ prototype of coop handles where you basically don't need the macros,
or far fewer of them.

You can just say `handle->field` for reads and writes.
None of the get/set stuff.

However it has some caveats:
 1. Requires typesafe handles. Which we have on many platforms but not all.
    It should be feasible to have them on all platforms.

 2. Requires coop handles be pinned. Because the

[2018-10-01 18:29] jaykrell commented on #10902
https://github.com/mono/mono/pull/10867

[2018-10-01 18:42] migueldeicaza commented on #10744
HttpClient today does not surface a way of controlling this:

https://github.com/dotnet/corefx/issues/21577

[2018-10-01 18:45] j4m3z0r commented on #10744
@migueldeicaza ok, understood. Is the best option to continue using legacy mode for TLS for the time being? How much longer can I expect that to continue working for?

[2018-10-01 19:08] marek-safar commented on #10744
We'd like to remove the old TLS mode support soon (maybe Mono 5.22?).

@baulig is the way to force BTLS to support only TLS1.0 for James can compare the same thing?

@j4m3z0r you can experiment yourself with building BTLS differently if that shows any speed differences

[2018-10-01 19:32] baulig commented on #10744
There currently is no _supported_ way of selecting ciphers (and the internal one has neither been tested nor ever used by anybody, so we should essentially treat it as being non-existent).  We can certainly add such an option in future, though.

However, arbitrary cipher selection may not be possible due to boringssl limitations - afaik, it only supports cipher "classes": https://boringssl.googles

[2018-10-01 19:59] j4m3z0r commented on #10744
In my case it seems pretty clear that it's not just the handshake, but the actual cipher (+ block chaining, etc) that's slow. When using the new TLS code, I see the CPU at 100% for the entire duration of the transfer -- about a minute or so. These are not small transfers (relative to the device's capabilities): they're about 20MB of compressed data, and the uplink (LTE) tops out at around 20Mbps (

[2018-10-01 20:16] baulig commented on #10747
Where exactly is this failing?  I can't find any 2018-06 builds on Jenkins that show this problem.

[2018-10-01 21:39] luhenry commented on #10900
@marek-safar since you largely edited the issue to something quite different to the original issue, let me clarify what's actually needed.

`compile-tests` is not useful for the SDKs since we already have `make -C runtime mcs-do-test-profiles mcs-do-xunit-test-profiles test_profiles="monodroid"` (`monodroid` for the case of XA for example) which generate all the test assemblies for the needed prof

[2018-10-01 21:55] lambdageek commented on #10863
Good news  (in that it's a simpler bug to fix): it's not the finalizer (the fact that it's in BLOCKING is misleading because the finalizer sets a flag so that the GC will skip it while the finalizer is sleeping).

The actual problem is this thread:
[code]

It's calling `mono_w32handle_lock_handles` which calls `nanosleep` in a loop without any thread state transitions.  Fix coming shortly.

[2018-10-02 01:06] lqdev opened #10915 "WebAssembly: Error when trying to use ML.NET framework with Blazor"
This issue references issue [#1499](https://github.com/aspnet/Blazor/issues/1499) in Blazor repo. After trying troubleshooting steps, I was told this would be the best place to post the issue.

## Steps to Reproduce

1. Create Blazor App (standalone)
2. Reference class library
3. Visit Blazor page to make ML.NET Predictions

### Current Behavior

There is an error output in the web console.

### E

[2018-10-02 02:48] kg opened #10917 "[roslyn] Crash while running Microsoft.CodeAnalysis.CSharp.UnitTests.SyntaxBinderTests.BinaryIntrinsicSymbols1"
This test crashes on roslyn CI right now, it may already be fixed in master branch. Needs follow-up later

[code]

(snip)

[code]

[2018-10-02 08:05] lewurm commented on #10641
As a note: While it's tempting to ignore this in mono and use `bitcode-build-tool` as described here https://mobile.twitter.com/jckarter/status/1044719452418322432 it unfortunately isn't a long-term solution for us:
* Apple requires `arm64_32` bitcode in March next year
* Xcode 10 already requires that (you can hack around it by using Xcode 9.4 for _now_ )
* debugging doesn't work
* build time wou

[2018-10-02 08:33] #10842 closed

[2018-10-02 08:33] akoeplinger commented on #7548
Done by https://github.com/mono/mono/pull/10847

[2018-10-02 08:33] #7548 closed

[2018-10-02 10:09] marek-safar commented on #10900
It might not be useful for SDKs but it's useful for Helix and I am not sure we need to maintain two very similar systems. I am happy to make that change in SDKs to call different target (We could reuse existing `make test`).

I am unconvinced it's a good idea to copy all the dependencies all the time during compilation time. The normal devs workflow will work just fine using MONO_PATH and for all-

[2018-10-02 10:28] akoeplinger commented on #10900
First of all we need to have a consistent way to precompile all test assemblies, right now it's a mix of calling `test`, `tests`, `compile-tests`, etc. targets in various parts of the repo. My ideal world would be to run `make test` from the root of the repo and it'll descend into each folder to precompile the tests.

A `package-tests` target would be useful and I agree with Marek that we don't wa

[2018-10-02 11:39] lateralusX commented on #10508
Did some additional interesting investigation and observation around the tests. First, the same behavior could be reproduced using regular .NET Framework runtime, so this is indeed not a mono related problem but a behavior the test triggers on machines with low core count (or setting the affinity for the mono process to just schedule on one core).

I did a analysis of the scheduling of threads whe

[2018-10-02 12:00] lemonmojo commented on #10802
@chamons First tests look good. I wasn't able to reproduce the strangeness with https://github.com/lemonmojo/MonoOnMojaveSimple and your MProtectMadness_WithMono sample using Xcode 10.

[2018-10-02 12:29] #10838 closed

[2018-10-02 12:54] marek-safar commented on #10747
I cannot find the error in recent logs either, closing.

[2018-10-02 12:54] #10747 closed

[2018-10-02 12:57] JonathonMinard commented on #10304
We have a WCF service that relies on passing exceptions to Xamarin.Android and Xamarin.iOS clients, and this bug breaks that error messaging.  This did work with older versions of Xamarin.Android and Xamarin.iOS which used Mono version 5.8.1, so it's a regression.

We could change the service's transfer mode to Buffered or StreamedRequest, but that would break backwards compatibility with older ve

[2018-10-02 12:59] kumpera commented on #10837
Tentative fix: https://github.com/mono/mono/pull/10931

[2018-10-02 15:22] #10805 closed

[2018-10-02 15:32] #10917 closed

[2018-10-02 16:41] lambdageek commented on #10834
Here's a shorter (possibly simpler?) repro.  Note that `in T t` as an argument is crucial to get an error.  if it's just `T t` - the program below compiles and runs

[code]

Actual output:
[code]

Expected output:
[code]

[2018-10-02 17:22] jaykrell opened #10943 "Suggest static coop handle wrappers."
The current scheme in marshal-ilgen.c to generate handle wrappers has the following characteristics.

- Does not support typesafe handles.
A problem?
It precludes member functions in C++ on the handles.
Extra code to maintain but not much.
Fixable? It should be. I tried but so far failed.
Also, if typesafe handles have member functions, then they cannot be extern "C"
in Visual C++.

- Multiple rou

[2018-10-02 17:51] luhenry commented on #10900
I don't understand the argument of "copying all the time": this is what `make` gives you, update only targets that needs to be updated to avoid unnecessary rebuilding and/or copying. If you end up copying it all the time, then something is broken in your dependency chain.

If we put all BCL tests with their dependencies into `mcs/class/lib/<profile>/tests` (which is what I am proposing for `make -

[2018-10-02 19:17] lambdageek commented on #10943
1. The proposal is specifically to do the coop handle marshalling for icalls in C.  Not the more general managed-to-native wrapper code (for pinvokes and icalls).  So this would still leave some work for marshal-ilgen.  Basically we would go back to approximately pre-2016 marshalling code.

2. One additional advantage of doing this in C:  we could use the same machinery to add handles to dynamical

[2018-10-02 21:28] jaredpar opened #10945 "Serialization error in nightly build"
## Steps to Reproduce
This was found attempting to get the C# semantic tests running on Mono

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-serialize`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build/scripts/test.sh Debug mono Microsoft.CodeAnalysis.CSharp.Symbo`

### Actual Behavior
This will run the Symbol unit tests only a

[2018-10-02 21:28] jaredpar commented on #10945
Note: this appears to be a regression between the stable and nightly Mono feeds. These tests all run fine in stable but fail as soon as I move to nightly.

[2018-10-02 22:03] #10863 closed

[2018-10-02 22:14] malcolmroberts opened #10946 "Native libraries with memory errors do not show stack traces for valgrind"
When loading a native shared library with a memory error into a C# main, running mono under valgrind does not report the stack information for the shared library.

## Steps to Reproduce

1. Compile a shared object in a native language (eg C)
2. Compile a C# program that load the library, say test.exe
3. Run "valgrind --leak-check=full --errors-for-leak-kinds=definite  mono --debug test.exe

### Cu

[2018-10-03 05:55] shravan2x opened #10949 "System.Security.Cryptography.CryptographicException: Input data cannot be coded as a valid certificate."
## Steps to Reproduce

1. Try to load the attached certificate as an `X509Certificate2`. This works correctly on NET46 and NETSTANDARD2.1. The certificate is a testing certificate and is not private. Feel free to redistribute it.
[test.zip](https://github.com/mono/mono/files/2440736/test.zip)

### Current Behavior

It throws an exception.

### Expected Behavior

The certificate loads correctly.

#

[2018-10-03 06:45] #10876 closed

[2018-10-03 07:18] lemonmojo commented on #10802
So what's the timeline for a new mono release that includes the mprotect changes?

[2018-10-03 07:41] marek-safar commented on #10802
You can get it from the nightly build, it'll show up in the next preview of Mono 5.16

[2018-10-03 07:49] marek-safar commented on #10945
@kg could you look into this one

[2018-10-03 07:53] marek-safar commented on #10949
Could you try with newer Mono version? Version 4.6.2 is quite old and we have made several fixes in this area.

[2018-10-03 08:27] #10743 closed

[2018-10-03 08:29] marek-safar commented on #10832
@alexischr please have a look

[2018-10-03 08:31] marek-safar commented on #10831
@KirillOsenkov are the steps reproducible?

[2018-10-03 08:32] #10592 closed

[2018-10-03 08:48] marek-safar commented on #10126
@BrzVlad any insight into this one?

[2018-10-03 08:54] kg commented on #10945
Started looking at it earlier, will try to come up with a fix

[2018-10-03 08:59] marek-safar commented on #10738
I think we tried to fix GCHandle before but it broke some of our code so that one will need more work

[2018-10-03 09:01] marek-safar commented on #10719
@baulig it looks like we are not fully async for this code path. Any idea why is SendRequest blocking here?

[2018-10-03 09:04] lemonmojo commented on #10802
@marek-safar Are you sure this is already included in nightly? I just installed the latest build from https://download.mono-project.com/archive/nightly/macos-10-universal/ (`MonoFramework-MDK-master@6f8ca69401f-dirty-5.21.0.1.macos10.xamarin.universal.pkg`) and after updating the sample projects to reference system mono I can again reproduce the issue.

[2018-10-03 09:05] marek-safar commented on #10005
We have a solution on how to resolve the netstandard dependency

/cc @mandel-macaque

[2018-10-03 09:07] marek-safar commented on #9997
We don't have plans to maintain that but the community could support it.

[2018-10-03 09:07] #9997 closed

[2018-10-03 09:17] marek-safar commented on #10816
@jaredpar what does happen when you run these tests on Mono?

[2018-10-03 09:18] marek-safar commented on #10802
The fix was merged 2 days ago so it should show up there already

[2018-10-03 09:32] #10794 closed

[2018-10-03 09:51] radical opened #10951 "CustomAttribute's typed argument value has incorrect type for enum arguments"
This is a variation of the earlier issue #10555 with the difference that the custom attribute constructor accepts an `object[]` now.

Test case:

[code]

[code]

This is causing msbuild tests to fail on the PR: https://github.com/mono/mono/pull/10339

[2018-10-03 09:52] BrzVlad commented on #10126
@AxlPr I can't reproduce this issue with mono 5.14, amd64 on windows. Did over 1000 iterations there is no unbounded memory increase. The applications always stays below 400MB. Please run with MONO_LOG_LEVEL=debug and MONO_LOG_MASK=gc and track the heap growth and also check the total used memory of the mono process.

Maybe your system is low on memory and mono happens to use more memory than .NET

[2018-10-03 09:52] radical commented on #10951
/cc: @MaximLipnin @lambdageek @vargaz

[2018-10-03 09:57] BrzVlad commented on #10802
@lemonmojo That package doesn't contain the fix. The next nightly will.

[2018-10-03 10:49] marek-safar commented on #10951
@MaximLipnin that's one more for you

[2018-10-03 11:34] marek-safar commented on #9660
../../../external/corefx/src/System.Runtime/tests/System/Reflection/ has quite few name conflicts which we should look into resolving as it has several tests not available elsewhere which expose bugs in our code

[2018-10-03 12:02] sporring commented on #10872
I have reposted it as https://github.com/fsharp/fsharp/issues/877.

Thanks.

[2018-10-03 13:08] mykyta-bondarenko-gl opened #10956 "Mono.Security.Interface.TlsException: Certificate validation threw exception."
After updating mono from `5.16` to `5.18` sometimes code that access to the Internet throws an exception. I couldn't reproduce it in 100% cases but it's fairly enough to be sure that the upgrade of the version was causing it.
Also I found that VSfM crashes sometimes and it doesn't depend on what I am doing at the moment (opening VSfM, opening a project, debugging etc.). I think that these issues a

[2018-10-03 13:11] kjpou1 opened #10957 "[wasm] [bindings] Support for strongly typed marshalling of C# enums."
JavaScript does not have the concept of Enums like TypeScript.  Strings are used to represent enums.  A strongly type contract between C# values and the string representations used by a lot of the JavaScript API's should exist.

Example:

DOM InputElement type -> [InputElementType](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-type#Form_<input>_types)

The InputElement types

[2018-10-03 13:11] chamons commented on #10802
Apple has not replied to mine yet at all

I didn't test it as you gave it a 👍 and you've had more luck reproducing this than I.

[2018-10-03 13:17] DanWBR commented on #10802
@chamons when can we expect an updated Xamarin.Mac package to be downloaded through VS alpha update channel?

[2018-10-03 13:29] chamons commented on #10802
@Rogister As I noted here https://github.com/xamarin/xamarin-macios/issues/4509#issuecomment-424704372 and in other places, if you are having issues not described by an existing issue, please file another issue with a detailed description of your issue and **steps to reproduce**.

And **please stop spamming** mono/mono issues. Posting that you have an issue, with zero actionable details, multiple

[2018-10-03 13:31] chamons commented on #10802
@DanWBR This fix was just landed in master less than 2 days ago, and the cherry picks to the release branches are still hot. Once those land, I will spin up a build with that mono bump and post it on the original issue.

[2018-10-03 15:10] KirillOsenkov commented on #10831
@slluis @mrward

[2018-10-03 15:31] mrward commented on #10831
Did a search of my VS Mac IDE logs. Mono 5.14 and Mono 5.16 seem to be OK.

I can see the TypeLoadException in a few IDE logs when VS Mac 7.7.0.1468 was running with Mono 5.12.0.301 (2018-02/4fe3280bba1). The following is from last week:

[code]

[2018-10-03 15:38] kumpera commented on #7743
What I mean it that I fail to see any advantage in using nint over what CoreCLR does.

nint requires bit specific builds.

[2018-10-03 16:09] marek-safar commented on #7743
CoreCLR does not have nunit yet (that's post 3.0) so they build different managed assemblies for 32 and 64 bits if needed.

[2018-10-03 16:30] jaredpar opened #10960 "Mono successfully loads invalid assemblies"
## Steps to Reproduce

Compile an assembly with the following source code:

[code]

Now run the following console application which attempts to load the DLL:

[code]

### Expected Behavior
The `GetType` call should throw a `TypeLoadException with the following message:

  HResult=0x80131522
  Message=Could not load type 'ClassLibrary1.TestAnalyzer' from assembly 'ClassLibrary1, Version=1.0.0.0, Cu

[2018-10-03 16:42] kumpera commented on #7743
Yeah and we would need to do the same with nint.

[2018-10-03 16:49] jaredpar opened #10961 "WaitForFullGCComplete is not implemented"
## Steps to Reproduce

Call `GC.WaitForFullGCComplete()`

### Current Behavior

Throws `NotImplementedException`

### Expected Behavior

Waits for a full GC routine to complete

Note: this is used as a part of the Roslyn unit test [Microsoft.CodeAnalysis.UnitTests.TextChangeTests.TestMergeChanges_NoMiddleMan](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/CodeAnalysisTest/Text/Tex

[2018-10-03 16:55] jaredpar commented on #10816
They will stack overflow. These test are intentionally recursive to a point where it should blow the max stack size. We expect `EnsureSufficientExecutionStack` to throw at some point which causes to abandon the operation gracefully.

[2018-10-03 17:10] baulig commented on #10645
There was an issue (#10574) in the version of Mono that you're using that could cause problems when reading the response body from an error response.  Are you still getting this problem with 2018-10?

[2018-10-03 17:19] baulig commented on #10719
From that stack trace, `HttpWebRequest.SendRequest` is supposed to be synchronous by design - which is perfectly fine even for the async code path as long as nothing _blocks_ on an expensive operation.

So let's have a look at what that method does.  This is `ServicePoint.SendRequest`:

[code]

This is `ServicePointScheduler.SendRequest`:

[code]

Neither `GetConnectionGroup()` nor `EnqueueOperati

[2018-10-03 17:28] baulig commented on #10719
However, there is also the possibility that your stack trace is not showing the real issue, because something from your description looks very suspicious:

There is a possibility that a hanging DNS lookup could cause problems.

[2018-10-03 17:37] kumpera commented on #10834
Tentative fix: https://github.com/mono/mono/pull/10962

[2018-10-03 18:13] EgorBo opened #10963 "BitConverter.GetBytes(float.NaN) returns unexpected result on ARM"
[code]
on arm returns `[0, 0, 192, 127]` instead of `[0, 0, 192, 255]` like on x86/x86_64.
Same for `BitConverter.GetBytes(double.NaN)`

I was trying to import a corefx test and it failed on all ARM CI agents (Linux ARMv5, Linux ARMv7, etc).
see https://github.com/mono/corefx/pull/145

[2018-10-03 18:36] luhenry commented on #10900
Ok, sounds good to me then :) Thanks for the clarification @akoeplinger

[2018-10-03 20:50] shravan2x commented on #10949
Just tried with 5.14.0 and the issue isn't there. My bad, sorry.

[2018-10-03 20:50] #10949 closed

[2018-10-03 21:00] malcolmroberts commented on #10946
Aha - this looks to be my mistake.  If I do LD_PRELOAD=libtest.so, then the stack trace is shown (at least for the first ???; the second is presumably in some mono shared object).

This might be a good addition to the documentation, but it is not a problem with mono.

[2018-10-03 21:00] #10946 closed

[2018-10-03 21:01] bocciab commented on #9827
Can you say what it was? I'm seeing the same thing. I set my Region to China in System Preferences, but the region code always comes back US.

[2018-10-04 01:07] lqdev commented on #10915
Thanks @marek-safar . Will I be able to get this fix right away in Web Assembly or do I have to wait for the next release of Mono?

[2018-10-04 07:11] lateralusX commented on #10508
Mitigated by https://github.com/mono/mono/pull/10646.

[2018-10-04 07:11] #10508 closed

[2018-10-04 07:33] marek-safar commented on #10915
I expect this to be included in the next Blazor update

[2018-10-04 08:30] marek-safar commented on #10963
/cc @vargaz @lewurm

[2018-10-04 08:54] marek-safar commented on #10816
If we throw managed exception then I think this is fine. I was more worried that we just crash

[2018-10-04 09:00] marek-safar commented on #10961
That test is not great, it could still just hang on Mono because we don't have precise stack scanning. Please just disable the test.

[2018-10-04 09:00] #10961 closed

[2018-10-04 09:44] #10957 closed

[2018-10-04 11:11] marek-safar commented on #10100
@vargaz @luhenry could you guys wrap this up? The original PR has now conflicts due to SDK work and perhaps it's no longer needed?

[2018-10-04 12:57] joncham commented on #7859
This issue is tracked for Unity here: https://issuetracker.unity3d.com/issues/creating-a-certain-struct-in-the-script-crashes-the-editor-on-begin-monomanager-reloadassembly

[2018-10-04 13:39] marek-safar opened #10981 "2018-10 Mono Release"
# Products integration

## Visual Studio for Mac

Integrator: @kg

Pull Requests:
 - [ ] https://github.com/xamarin/md-addins/pull/3666

## Xamarin Designer

Integrator: @kg

Pull Requests:
 - [ ] https://github.com/xamarin/designer/pull/1351

## Xamarin.Android

Integrator: @alexischr

Pull Requests:
- [x] https://github.com/xamarin/xamarin-android/pull/2253
- [x] https://github.com/xamarin/monod

[2018-10-04 14:19] bocciab commented on #9827
I’m not sure why a three year old technical note would cause just the CN region setting to cause RegionInfo.CurrentRegion and CultureInfo.CurrentCulture to return as US while other regions (changing to United Kingdom returns GB as it should) work fine.

[2018-10-04 14:57] Therzok commented on #9827
macOS itself changed behaviour for this, even native mac apps which don't have a preferred language will default to the english locale (region in your case `en-GB` is still a match, as it only tries `en`).

[2018-10-04 15:02] bocciab commented on #9827
Foundation.NSLocale.CurrentLocale in Xamarin.Mac returns the correct language, culture and region info in the same app. I’ve switched to using that in place but it seems like mono could return the correct values if Xamarin, based on mono, can.

[2018-10-04 15:03] jaredpar commented on #10961
Sounds good. Think this is the only test that uses this API so disabling it is not much of a coverage loss.

[2018-10-04 15:08] luhenry commented on #10900
As pointed out earlier, the `make -C runtime test xunit-test test_profiles="..."` doesn't work: https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-osx-products-sdks-android/5314/parsed_console/log_content.html#ERROR1

[2018-10-04 15:22] marek-safar commented on #10900
Correct, that work is still pending (the checkbox for that is still unticked above)

[2018-10-04 15:35] DustinCampbell commented on #9413
@galvesribeiro : I believe this was fixed after Mono 5.12.0.

[2018-10-04 19:19] j4m3z0r commented on #10744
@baulig @marek-safar quick ping on this. What do you think of my proposal to expose the `SSL_CTX_set_cipher_list` method, either via API or environment variable?

[2018-10-04 19:33] lukespragg opened #10985 "Error mapping file: mono_file_map_error failed, Access is denied"
## Steps to Reproduce

1. Create an mkbundle .exe on Windows, for Windows with bundled dependencies
2. Try to run that bundled .exe on Windows
3. Watch with sadness as it errors

### Current Behavior

A broken .exe that does not work nor run without errors.

### Expected Behavior

A working .exe produced by mkbundle on Windows, for Windows.

## On which platforms did you notice this

[x] Windows

[2018-10-04 19:54] #10951 closed

[2018-10-04 19:58] jaykrell commented on #10985
Maybe length needs to be 64k-aligned too.

[2018-10-04 21:59] DustinCampbell commented on #9413
In a newer release.

[2018-10-05 01:48] kg commented on #10943
If I'm not mistaken, whatever preprocessor logic you use to generate the wrappers could also be used to generate verification code that runs (either only in debug builds of the runtime, or when started with --debug) so that you don't have to manually run a separate tool that has its own bugs. The cost of doing that check once per icall shouldn't be too bad so it seems reasonable to consider just a

[2018-10-05 01:54] jaykrell commented on #10943
You mean, run the marshal-ilgen.c code, preprocess icall-def.h to generate similar data, and compare.

The thing is, I think marshal-ilgen.c currently code runs at first call, not aggressively against every icall.
That is a major downer.

The separate tool would be a clone of the old marshal-ilgen.c code, but run aggressively against mscorlib.dll, System.dll etc., in mono/tests I think, or as part

[2018-10-05 06:04] jaykrell commented on #10943
Actually the first line of the functions, that looks like a prototype, could mechanically derive from the data, that derives from the metadata. A unique key would join things up -- the  C function name.

Build/test would regenerate the data, late, and verify it matches the commited file.

I can see about doing this, though it can be a later step. What I have is very close already.

[2018-10-05 11:27] turowicz opened #11000 "FileStream writing files larger than 2GB"
I'm trying to handle download of very large files in Mono on Unity.

What's happening is I'm using a `HttpClient` and get a content `Stream` which I then try to buffer to a `FileStream`. As soon as I reach the magic threshold of `int.MaxValue` of write position I get a MonoIO exception:

[code]

I suspect this is due to the offset being `int` rather than `long` over here:

https://github.com/mono/

[2018-10-05 12:46] steveisok commented on #10679
I *think* I still have a branch in https://github.com/mono/mono-basic where I took refsrc Microsoft.VisualBasic and made it build against Roslyn.

I was tinkering w/ some vb webforms code and got the itch.  Not sure if you'd even want it, but it did work for me.

[2018-10-05 14:09] lewurm commented on #10963
I can't reproduce it on armv7 with this:

[code]
result:
[code]
same as on amd64. @EgorBo am I missing something? tested with mono master from 21st September

[2018-10-05 14:19] lewurm commented on #10963
FWIW, `[0, 0, 192, 127]` is the bit pattern for a _Signaled NaN_:

For example it's the result of `1337.0f / 0.0f`. However that's consistent with AMD64. Maybe there are differences between ARM and AMD64 on different operations. Do you have more context on the failing tests?

[2018-10-05 15:15] jaredpar commented on #10834
@kumpera nice! In general how can I know which nigthly build contains this fix?

[2018-10-05 15:21] luhenry commented on #10100
It's been already fixed in XI: https://github.com/xamarin/xamarin-macios/blob/master/builds/Makefile#L1568

[2018-10-05 15:21] #10100 closed

[2018-10-05 15:32] luhenry commented on #10796
Closed in favor of https://github.com/mono/mono/issues/9442

[2018-10-05 15:32] #10796 closed

[2018-10-05 15:37] kumpera commented on #10834
@jaredpar unless you're eager to verify this fix, I'd wait for #10931 to be merged (fixes #10837).
I beliebe bar some rebasing I'm doing right now, it's merge ready and should be in by early next week.

[2018-10-05 15:40] chamons commented on #10802
I believe this issue is fixed with https://github.com/mono/mono/pull/10899 and the associated cherry-picks.

Please see https://github.com/xamarin/xamarin-macios/issues/4848 for Xamarin.Mac specific information on how to test this fix and report back. Please only comment here in mono/mono if you specifically have issues with mono **outside of Xamarin.Mac**.

[2018-10-05 15:40] #10802 closed

[2018-10-05 16:05] jaredpar commented on #10834
Not necessarily eager to verify this. Mostly wanted to make sure next time I did a verification pass I could tell what all fixes were in the nightly drop I was using.

[2018-10-05 16:12] turowicz commented on #11000
I believe this should be long:

https://github.com/Unity-Technologies/mono/blob/unity-master/mcs/class/corlib/System.IO/FileStream.cs#L1154

[2018-10-05 18:38] baulig commented on #10744
Using an environment variable would expose an attack vector where security critical elements of an application could be modified from the outside in such a way that an attacker could weaken down the application's encryption algorithm.  This is especially problematic because - at least in OpenSSL -  `SSL_CTX_set_cipher_list` is not "idiot proof"; it will allow you to select some super weak cipher l

[2018-10-05 19:02] j4m3z0r commented on #10744
Thanks for the reply. Fair points on security concerns, but just to clarify: I'm not on mobile -- I'm running the ARM64 build of Mono on a single board computer (the NanoPi Neo Core 2 LTS -- a product quite a bit niftier than its name is catchy). I don't know that this is a pressing concern on mobile, since mobile CPUs are already pretty formidable compute units.

I'll take a look at MonoTlsSettin

[2018-10-05 22:14] juanlas17 commented on #10289
It's posible to fix that?? i start to build my web app using stackservice and get the same exception over fascgi.
is thre any way to fix the preblem updating any tool or package??

[2018-10-06 07:47] Geigerkind commented on #10289
Its indeed very annoying for debug logs, not to mention that it slow the application down, outputting that many errors all the time :/ But its now here since a month, so cant be that log anymore

[2018-10-06 17:07] GlebChili opened #11015 "Passing delegate to unmanaged code as function pointer"
I am not sure is this a bug or am I missing something, but I've encountered following issue. I want my app with embedded Mono to call managed delegate as function pointer. I tried both `Marshal.GetFunctionPointerForDelegate` and method described here: [https://www.mono-project.com/docs/advanced/embedding/#c-to-c-delegate-registration](https://www.mono-project.com/docs/advanced/embedding/#c-to-c-de

[2018-10-06 19:02] GlebChili commented on #11015
Never mind. I was able to fix this. I had to keep in mind that mono_add_internal_call does not provide marshaling.

[2018-10-06 19:02] #11015 closed

[2018-10-06 23:08] kg commented on #10945
I spent most of the week on this and am completely stumped:
* BinaryFormatter is failing to serialize a dict<string, list<string>> containing one key/value pair, where the value is a list with one string
* It fails for different string values
* It is almost 100% reproducible but not 100%
* Threading is not required for it to fail, and there is a lock around the only bits of shared state it uses (t

[2018-10-07 21:58] lenoil98 opened #11020 "Fix for Mono build on FreeBSD PowerPC"
Building Mono of FreeBSD/PowerPC (32-bit) fails due to incorrect core in "mono/utils/mono-sigcontext.h" that prevents Mono from building.  The below code change patch allows Mono to build:

[code]

[2018-10-07 22:07] lenoil98 opened #11021 "Mono fails to build on FreeBSD/PowerPC64"
I understand that PowerPC64 is not officially supported on FreeBSD. I can successfully build 32-bit Mono on FreeBSD/PowerPC.  The 64-bit build progresses fairly well.  However I get a SIGILL when building.  Below is an excerpt from the build log:

[code]

Anyone with suggestions will be greatly appreciated.

[2018-10-08 08:06] raV720 opened #11023 "UnobservedTaskException: Cannot access a disposed object. Object name: 'MobileAuthenticatedStream'."
- IOS 12 (but I believe also on different versions of IOS)
- Visual Studio Community v15.8.2 for Windows
- Xamarin.iOS and Xamarin.Mac SDK   11.14.0.13 (373c313)

When using HttpClient.SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cancellationToken) sometimes get exception handled only by UnobservedTaskException event. This exception seems to occur

[2018-10-08 11:05] kant2002 opened #11026 "WASM 13 error when blocking main thread."
## Steps to Reproduce

Not sure how to repro in simpler fashion, but very simple blazor app is here https://github.com/kant2002/BlazorWasm13

The idea is that I block main thread using awaiter

[code]

I'm coming here from https://github.com/aspnet/Blazor/issues/1506

### Current Behavior
[WASM]: 13 reported in browser console.

### Expected Behavior

At least some indication that locking of main

[2018-10-08 11:12] lewurm commented on #11021
@lenoil98 thanks for your report. could you specify which version/revision of mono you are trying to build? also, could you make sure `gdb` is installed? with that mono should provide a better native stack trace.

[2018-10-08 11:14] lewurm commented on #11020
could you submit a PR instead? 🙂

[2018-10-08 11:37] lemonmojo commented on #10802
Could you by any chance backport the changes to 5.14 so that I can verify if the change itself causes these issues or if it's been some other changes since 5.14?

[2018-10-08 11:51] vargaz commented on #10802
There are backports to older mono versions above, the packages are available by clicking on the green checkmarks.

[2018-10-08 12:33] NattyNarwhal commented on #6555
Fixed by mono/mono@0d29dfb9ddba7f3c5ae65ecac02f28bada5a9b06.

[2018-10-08 12:43] NattyNarwhal commented on #11021
I think I vaguely remember this happening under AIX - I can't remember if it was a case of bad hwcap (FreeBSD has no implementation at all for PowerPC) or when I was trying to get PPC32 to work (some kind of fucky calling convention issue) - if I recall, this icall is called early and has a strange calling convention layout that stresses marshalling (I think floats?)

[2018-10-08 12:52] NattyNarwhal commented on #11021
Oh, I was misremembering, I'm pretty sure it was the time [I tried to get Darwin/ppc working again](https://github.com/mistydemeo/tigerbrew/issues/605).

[2018-10-08 12:55] chamons commented on #10802
@lemonmojo Also, if swapping to an older mono "fixes" it please file bug reports if you can. :)

[2018-10-08 12:58] lemonmojo commented on #10802
@vargaz: Not sure where to find those, could you please point me in the right direction? Thx

[2018-10-08 13:05] chamons commented on #10802
So 5.14 is "2018-04" in VS release speak so you want this branch:

https://github.com/mono/mono/tree/2018-04

Click commits, find the green checkmark at the last commit, and use pkg-mono.

Or just https://xamjenkinsartifact.azureedge.net/build-package-osx-mono/2018-04/165/969357ac02b2c08a43ef89d98aca550d3648bf00/MonoFramework-MDK-5.14.0.205.macos10.xamarin.universal.pkg

[2018-10-08 13:09] lemonmojo commented on #10802
@chamons Perfect, thx a lot, I'll give this a try later.

[2018-10-08 14:28] lemonmojo commented on #10802
@chamons 5.14 and 5.16 look good. Have none of the mentioned issues and the issue from this thread appears to be fixed as well.

Something's seriously broken since 5.18 though. Unfortunately I spent so much time debugging the original issue from this thread that I currently can't file separate bug reports for this new issue. Guess I'll be continuing to use 5.14 with the fix for the time being.

[2018-10-08 14:41] lenoil98 commented on #11020
Done.   PR #232060.

[2018-10-08 14:53] lenoil98 commented on #11021
Build is against Mono-5.14.0.177.  gdb is installed but debugging not enabled,  will rerun build with debugging enabled.

[2018-10-08 14:58] NattyNarwhal commented on #11021
for ppc64 I'd recommend building against the latest git master; if I remember correctly, there's been some improvements there. (I also verified master DOES build with FreeBSD/amd64 OOTB.)

also, if FreeBSD for ppc64 works on IBM systems, let me know; I *might* be able to get an LPAR to try myself on with.

[2018-10-08 15:35] lewurm commented on #11020
@lenoil98 that PR doesn't exist. did you file it against the correct repository, `mono/mono`?

[2018-10-08 18:12] lambdageek opened #11034 "SRE-save: TypeBuilder.DefineMethodOverride crash when calling AssemblyBuilder.Save"
The call to `AssemblyBuilder.Save` crashes due to the call to `TypeBuilder.DefineMethodOverride` where the interface is also a TypeBuilder

## Steps to Reproduce

1. Compile and run the following program

[code]

### Current Behavior

[code]

### Expected Behavior

[code]

And a file `ReproAsm.dll` is created that looks like

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[

[2018-10-08 18:14] lambdageek commented on #11034
The runtime classes work (ie, if I comment out the call to `ab.Save()` everything is alright).

[2018-10-08 18:40] swinters123 opened #11035 "DownloadFileAsync Callbacks return -1 for TotalBytesToReceive in Mono 5.12+"
## Steps to Reproduce

1. Use mono 5.12+
2. Given the following code:
[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

**Version Used**:

5.10.1.2 works as expected

5.12.0.309 returns -1

5.14.0.177 returns -1

## Stacktrace

[code]

[2018-10-08 18:51] swinters123 commented on #11035
Looks like this is a duplicate of https://github.com/mono/mono/issues/9808

[2018-10-08 18:51] #11035 closed

[2018-10-08 19:23] jaredpar opened #11036 "Night"
## Steps to Reproduce
This was found attempting to get the C# semantic tests running on Mono

1. Clone https://github.com/jaredpar/roslyn
1. Check out the branch `repro/mono-il1`
1. Make sure mono is on your path
1. Run `./build.sh --restore --build`
1. Run `./build/scripts/test.sh Debug mono Microsoft.CodeAnalysis.CSharp.Emit`

### Actual Behavior
This will run the Symbol unit tests only and even

[2018-10-08 19:31] directhex commented on #9206
mkbundle publishing is a multi-hour process right now. It's the final step, and should finish happily by itself some time tonight.

[2018-10-08 20:35] chamons opened #11038 "MonoTests.System.Net.HttpListenerTest.UserHeaderWithDoubleMultiValue random test failure"
## Steps to Reproduce

1. Run xamarin-macios tests on build machine and get lucky (https://github.com/xamarin/maccore/issues/1081)

### Current Behavior

[code]
### Expected Behavior

To fail consistently or not

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

[2018-10-08 21:01] lambdageek commented on #11034
With a different example, that uses generics, can also get an assertion about `MethodOnTypeBuilderInst`.

[code]

Repro:

[code]

(Repro depends on #10931 - otherwise there will be an earlier assertion about interface layouts)

[2018-10-08 21:19] solabc16 commented on #9951
Hello - did anything further happen with this? I've just tried to cross-compile 5.16.0.179 for arm64, to start testing.

configure:25883: checking for shm_open that works well enough with mmap
configure:25890: error: in `/source/mono':
configure:25892: error: cannot run test program while cross compiling
See `config.log' for more details

Best
- James

[2018-10-08 21:43] NattyNarwhal commented on #11021
Actually, my suspicion here is that the calling convention definitions for FreeBSD are wrong; either by differing from Linux, or by using the wrong definitions. I'm very sure this is the first icall called, so it makes sense that it has issues.

What calling conventions does FreeBSD on ppc64 use? Do they match up with the ifdefs in `mini-ppc.*`? Can we get a FreeBSD/powerpc developer here to clari

[2018-10-08 21:55] joncham opened #11039 "Exception reports incorrect line number at throw site"
## Steps to Reproduce

1. Run sample below with `--debug`
2. Note that passing `-O=-all` produces correct line number

[code]

### Current Behavior

[code]

### Expected Behavior

[code]

## On which platforms did you notice this

[ X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

[code]

[2018-10-08 21:59] joncham commented on #11039
It's enough to pass `-O=-branch` to get proper line number.

[2018-10-09 01:56] lambdageek commented on #10889
Also pretty often we see:

[code]
on AArch64 with cooperative suspend.

[2018-10-09 04:31] PreferLinux opened #11043 "Special directories / GetFolderPath on macOS"
https://github.com/mono/mono/blob/ed50d2560a403583edcf78b9b5e4653103544830/mcs/class/corlib/System/Environment.cs#L742
I originally reported this problem (in different code) on corefx (https://github.com/dotnet/corefx/issues/32708), because I mistakenly thought Mono used that implementation.
On recent versions of macOS, most of `/usr` is protected and cannot be modified, even by root – returning `

[2018-10-09 06:00] jaykrell opened #11045 "csc crash"
Maybe should start collecting some data here.
I'm esp. interested to see 1. if it repros on windows 2. On systems where it does repro, how many times looping building mscorlib.dll does it take i.e. how long between repros?

https://jenkins.mono-project.com/job/test-mono-pull-request-i386/19119/parsed_console/log.html

[code]

[2018-10-09 07:50] EgorBo commented on #11043
See https://github.com/dotnet/corefx/issues/12628

[2018-10-09 08:12] PreferLinux commented on #11043
That's similar, but completely different. That's a permissions issue which can easily be solved by setting permissions as root when installing (which I do). On macOS, it is basically impossible to write to /usr/share at all (https://apple.stackexchange.com/a/193379 gives a nice overview). In other words the CommonApplicationData value is very useful on Linux if the installation has made it possibl

[2018-10-09 08:14] jaykrell commented on #8900
It no longer crashes on whatever is the current Microsoft.Build.Tasks.CodeAnalysis.dll.
Microsoft.CodeAnalysis.Scripting.dll it still does though.

[2018-10-09 08:20] jaykrell commented on #8900
It looks like it has to do with .netcore and assembly forwardining. i.e. in this case System.Runtime.Loader.

[2018-10-09 11:36] sancheolz opened #11047 "ConcurentDictionary Deserialize between .net and mono broken"
## Steps to Reproduce

1.  Run Server project on mono 5.14
[ConcurentDictionaryTest.zip](https://github.com/mono/mono/files/2460150/ConcurentDictionaryTest.zip)

2.  Run Client project on .net 4.0 framework from attach

If Client and Server on mono both it works fine. If server On mono 4.8.1 and clinet on .net framework 4.0 it also works.

### Current Behavior

Client throws NullReferenceException

[2018-10-09 11:49] sancheolz opened #11048 "In TableLayotPanel SetRowSpan throws ArgumentException when number of rowspan more than table capacity"
## Steps to Reproduce

1. Run attached test
[TableLayoutTest.zip](https://github.com/mono/mono/files/2460229/TableLayoutTest.zip)

### Current Behavior

Throws Argument exception on this.tableLayoutPanel1.SetRowSpan(this.btnLocatedOnTerritory, 4);

### Expected Behavior

No exceptions and attached btnLocatedOnTerritory fits in TableLayoutPanel as it work on .net framework 4.0.

## On which platfor

[2018-10-09 11:57] sancheolz opened #11049 "Possible Stack Owerflow in ListView"
## Steps to Reproduce

1. Override OnRetriveVirtualItem in System.Windows.Forms.ListView (virtualmode must be true)
whith this

`this.ToString();`
2. ToString will call another OnRetriveVirtualItem untill Stackowerflow

### Current Behavior

Throws Stackoverflow

### Expected Behavior

no exceptions. Like on .net framework

## On which platforms did you notice this

[ ] macOS
[x] Linux
[ ] Windows

[2018-10-09 12:19] EgorBo commented on #11047
We use .NET Core sources for collections, unfortunately .NET Core is not binary (BinaryFormatter) compatible with .NET 4.x - this is why they decided to remove `[Serializable]` from all incompatible types (including `ConcurentDictionary`). We brought this attribute back but compatibility with the old framework is broken now.

[2018-10-09 12:38] MaximLipnin opened #11051 "RawDefaultValue from attribute"
## Steps to Reproduce

[code]

### Current Behavior
The output is

`rawDefaultValue.GetType() = System.DBNull`

### Expected Behavior
The output should be
`rawDefaultValue.GetType() = System.Int32`

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

[code]

## Stacktrace

[2018-10-09 13:07] sancheolz commented on #11047
@EgorBo Thank you. I can't reproduse one more isssue on small test, but it throws

on our large project when deserialize DataSet
Is this a same problem?

[2018-10-09 13:36] EgorBo commented on #11047
@sancheolz it happens when you try to deserialize DataSet on .NET 4.x framework? (serialized in mono)
if so - then yes, same issue.
I'd recommend to use a different binary serializer (such as protobuf)

[2018-10-09 14:01] sancheolz commented on #11047
@EgorBo, yes. I'll look at protobuf.

[2018-10-09 14:42] galilov commented on #7717
Is there any workaround? I faced this issue

[2018-10-09 14:50] #8273 closed

[2018-10-09 16:02] solabc16 commented on #9951
FYI, this is the minimal configure we needed to reproduce, whilst trying to cross compile for AArch64.

We've built and are currently running the following releases without issue on this arch: 5.10.1.57, 5.12.0.301 & 5.14.0.177.
[code]
Best
- James

[2018-10-09 16:36] lambdageek commented on #10448
This is likely due to
https://github.com/mono/mono/blob/1d7145413201516976e7d07408cd448beeee96dc/mcs/class/corlib/System.Security.Cryptography.X509Certificates/X509Certificate.cs#L611-L616
the X509Certificate code links strongly to `HijriCalendar` and `UmAlQuraCalendar`.
I've a WIP patch to use strings and `Activator.CreateInstance` instead.

[2018-10-09 19:51] lenoil98 commented on #11021
Could this be an ENDIAN issue.  I noticed there are a few tests for "_CALL_ELF == 2" in the ppc code.  This makes me believe the ppc 64bit code is written for the ppc64le.  Does anyone know if mono builds on BE ppc64 Linux OOTB?

[2018-10-09 20:54] NattyNarwhal commented on #11021
the `_CALL_ELF` stuff is indeed for Linux - the way its set up, is that ppc64 with ELFv1 calling convention (most ppc64be Linux and AIX/PASE via a historical quirk) will build with the ELFv1 ABIs when its not present or set to 1, and ppc64 with the ELFv2 calling convention (ppc64le Linux and some ppc64be Linux, particularly distros that use musl) will build with the ELFv2 ABIs with it set to 2.

I

[2018-10-09 21:07] awilfox commented on #11021
FreeBSD uses "whatever ABI the compiler supports".  For gcc 4.2, that's ELFv1; for LLVM, it could be either one, and indeed, there have been "test" images using ELFv2 on FreeBSD BE.

GCC has always provided `_CALL_ELF` [since adding ELFv2 support](https://gcc.gnu.org/ml/gcc-patches/2013-11/msg01141.html), and that macro being defined is [required for any C compiler that implements ELFv2](http://op

[2018-10-09 21:09] NattyNarwhal commented on #11021
Yeah, I haven't tested Mono on a ppc64be system with ELFv2; just ELFv1 BE Linux and AIX/i. For all I know, there could be some incorrect ifdef; there has been before.

[2018-10-09 21:44] PreferLinux commented on #11043
Oh, I see your point now – closely related problem, with the same fix. I'll give my thoughts on the combined issue over there then.

[2018-10-09 22:47] #10448 closed

[2018-10-09 23:55] marek-safar commented on #8900
We prefer ikdasm which should be able to handle this

[2018-10-09 23:55] #8900 closed

[2018-10-09 23:59] #10024 closed

[2018-10-10 00:57] marek-safar commented on #11036
Here is simple repro

c#
[code]

[2018-10-10 00:58] marek-safar commented on #11036
/cc @vargaz

[2018-10-10 11:54] quiqueck opened #11066 "Using Roslyn in wasm-Project"
Hi, and thanks for the great work!

## Steps to Reproduce
I am running into a problem when using wasm. I want to compile a little client-program that can take c# source code from a textfield, compiles it, runs it and presents the result back in the Browser.

I managed to build the wasm toolchain, and the sample project works just fine. I can also compile and package the following sourcecode:

[2018-10-10 13:41] lewurm commented on #10963
It's a problem with the test imho, submitted a PR to corefx: https://github.com/dotnet/corefx/pull/32741

[2018-10-10 13:47] nealef opened #11067 "Build of mono-core RPM fails due to problems with corefex native objects"
## Steps to Reproduce

1. Install 5.16.0-187 src RPM
2. run rpmbuild -bb

### Current Behavior
I took the mono-core src rpm for 5.16 and attempted a build with in on s390x (a few minor edits of the spec file were required). However, it appears the external/corefx directory is already populated with binaries:
[code]

Even after I get rid of those object files the build process doesn't remake them.

[2018-10-10 15:59] lambdageek commented on #9729
We've done this - #10878.

See [mono/utils/mono-experiments.def](https://github.com/mono/mono/blob/master/mono/utils/mono-experiments.def) for instructions on adding a new experiment. ([commit 6161324]( https://github.com/mono/mono/blob/61613246290ab634a02ba56c22b0d809f840fa0a/mono/utils/mono-experiments.def))

[2018-10-10 15:59] #9729 closed

[2018-10-10 16:13] alexanderkyte commented on #9229
After checking with @akoeplinger , it looks like the x86 failures are fixed. I'm going to investigate reproducing the ARM failures locally before I close this.

[2018-10-10 17:29] peter-sabath opened #11068 "Property values of structs can't be fetched using embedded Mono"
## Steps to Reproduce

1. Create a method that returns a `struct` with properties
2. Try to fetch a value of a Property from c++ (embedding) using `mono_property_get_get_method` -> `mono_runtime_invoke` -> `mono_object_unbox`

Test project (VS2017) here: [https://my.hidrive.com/lnk/VnAKH2zx](https://my.hidrive.com/lnk/VnAKH2zx)

### Current Behavior

The value returned is mostly 0, but I have also

[2018-10-10 17:32] Calinou opened #11069 "Provide distribution-independent Linux binary releases"
Installing recent versions of Mono on Linux currently requires adding repositories to the system (which not everyone is comfortable doing) or building from source (which is difficult for novice users).

It would be useful to provide distribution-independent Linux binaries alongside existing packages, similar to [PowerShell](https://github.com/PowerShell/PowerShell/releases) or [Node.js](https://no

[2018-10-10 18:01] jaykrell commented on #11069
I think this means basically to link with $ORIGIN stuff. I do similar on other projects.
It isn't portable across all Unix and precludes running setuid, but probably a good compromise.
Just a small matter of changing the link commands.

[2018-10-10 18:03] fadden opened #11070 "WinForms ListView "Operation is not valid" during form Load event"
I was able to work around the problems with changes to my app code, but the problems should probably get looked at.

I have an open-source disassembler project that is written in C# .NET, using the WinForms APIs.  It runs fine on Win7/Win10 with .NET Framework 4.6.2+, but fails on startup under Mono 5.16 under Linux.

Repro steps: grab an executable from https://github.com/fadden/6502bench/release

[2018-10-10 18:05] fadden commented on #11070
At some point I may remove the 1.0.0-beta1 release, so I'll drop the prebuilt binary here:

[6502bench100b1_debug.zip](https://github.com/mono/mono/files/2465873/6502bench100b1_debug.zip)

No installer -- unzip and run.

[2018-10-10 18:30] sharkfoo opened #11072 "WebClient does not provide HTTP content on 403 forbidden status"
[ClientCompare.zip](https://github.com/mono/mono/files/2465935/ClientCompare.zip)

## Steps to Reproduce
On Windows...
1. Extract ClientCompare.zip and load ClientCompare.sln into visual studio and rebuild all
2. Open a console and run Client.CompareHost.exe
3. Open another console and run ClientCompare.exe
4. Observe on windows that both WebClient and HttpClient provide the HTTP content returned

[2018-10-10 18:54] photex commented on #11069
That's very exciting to hear it might be so simple @jaykrell

[2018-10-10 19:13] alexanderkyte commented on #9229
Issue encountered/fixed: https://github.com/mono/mono/pull/11074

[2018-10-10 19:42] xfortin-devolutions commented on #11072
I've encountered the same issue while using the AWSSDK.

I'd add that it is also occurring with 400 (Bad Request) and 404 (Not Found). I think it would be fair to assume that this occur with the entire 4xx spectrum or status code (though I haven't confirmed myself).

I'm reproducing it in macOS.

This is not an issue in Mono 5.10.

[2018-10-10 20:59] kg opened #11076 "Part of stack traces missing for exceptions thrown in async flows"
Been looking at some failures for an integration, and noticed that parts of the stack seem to be missing. @akoeplinger mentioned that in some cases we get incorrect reporting for exceptions in cases where async is in use, which appeared to be the case for this failure. @EgorBo mentioned recently getting a report from a customer about incorrect stacktraces as well.

Filing this vague issue to track

[2018-10-10 21:07] lewurm commented on #11076
maybe related: https://github.com/mono/mono/pull/10199

[2018-10-10 23:43] majellin24 opened #11083 "Seeking clarification on documentation around System.Xml.Serialization"
This is not really an issue, I am posting here due to the line on the page https://www.mono-project.com/community/ which says

### Current Behavior

Currently, I have a PCL with a System.Xml.Serialization XmlSerializer constructed with the XmlSerializer(Type, XmlAttributeOverrides) constructor so I can modify how a list of subclasses gets serialized/deserialized.  Essentially, each of my classes d

[2018-10-11 03:09] akoeplinger opened #11086 "Type.IsByRefLike throws NotSupportedException"
## Steps to Reproduce

[code]

### Current Behavior

[code]

### Expected Behavior

No exception and `false` for types like int.

## On which platforms did you notice this

[ X ] macOS
[ X ] Linux
[ X ] Windows

**Version Used**: master

[2018-10-11 03:10] akoeplinger commented on #11086
This is most likely because of https://github.com/mono/mono/pull/10982

@MaximLipnin @marek-safar

It's breaking xunit 2.4.1 which started looking up this property and trying to get its value.

[2018-10-11 06:06] jaykrell commented on #11069
I misread this as position-independent, not distribution-independent.
Still, $ORIGIN maybe a good idea and help you, along with targeting old distributions.
i.e. a model of providing .tar.gz that you extract wherever you want and just set PATH.

[2018-10-11 08:07] peteryangthinkgeo opened #11090 "Bad behavior with drawing transparent pixels"
Hi Supports Team,

I found an issue with when I tried to drawing a watermark on an image. I created a sample the code like below:
class Program
    {
        static void Main(string[] args)
        {
            var originImage = new Bitmap(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "original
.png"));
            DrawWatermarkImage(originImage);
            var path = $"{Guid.NewGuid().To

[2018-10-11 08:18] MaximLipnin commented on #11086
New version of `TypeDelegator` expects `Type` to have `IsByRefLike` property. So I've added it with throwing NSE by default. I'm not sure how it should be addressed for particular types.

[2018-10-11 08:20] jaykrell opened #11091 "CI accepts failure as success"
1. Submit a PR
2. Expect success to mean things are working.

Counter example:

https://github.com/mono/mono/pull/11017

https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15230/

[code]

I suspect I regressed this (the assertion failure, not CI missing it) back in May but I have to dig more.

[2018-10-11 08:40] jaykrell commented on #10797
Another:
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15364/parsed_console/log.html

[2018-10-11 08:43] jaykrell commented on #11045
https://jenkins.mono-project.com/job/test-mono-pull-request-interpreter/10829/parsed_console/log.html
[code]

[2018-10-11 08:49] jaykrell commented on #11091
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15206/parsed_console/log.html

search for "due to:"

[2018-10-11 08:52] jaykrell commented on #11091
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15066/parsed_console/log.html

search for "due to:"

[2018-10-11 08:59] jaykrell commented on #11091
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15055/parsed_console/log.html

search for "due to:"

[2018-10-11 08:59] lewurm commented on #11091
the problem is that https://github.com/mono/mono/blob/6b9b24c5832cf58f74fd9cf956d922edace2496d/mono/mini/test_op_il_seq_point.sh doesn't propagate exit codes when calling the runtime

[2018-10-11 09:02] jaykrell commented on #11091
https://jenkins.mono-project.com/job/test-mono-pull-request-i386-osx/15065/parsed_console/log.html

search for "due to:"

[2018-10-11 10:10] JTrotta opened #11093 "Winform crash on Linux with last version 5.16.0.179"
## Steps to Reproduce

1. Winform application, working with previous mono version 5.14.0.177
2. create a simple winform application
3. gksudo mono winformmapplication.exe

### Current Behavior
crash

### Expected Behavior
working

## On which platforms did you notice this

[ ] macOS
[ x] Linux raspberrypi 4.14.70-v7+ #1144 SMP Tue Sep 18 17:34:46 BST 2018 armv7l GNU/Linux
[ ] Windows

**Version Us

[2018-10-11 10:40] deleteaccount1234567890 opened #11094 "What is shit with Mono 5.16.0 ??? Why do you skip with bad errors"
Hello everyone,

I am really mad because you didn't care if you release new version with 100 % without errors. My god you have issue with mkbundle of Mono 5.16.0
Result:

I argue that because you lied since failed release. I really hate that. PLEASE CARE YOUR MONO VERSION!

I WILL BE STRICT YOU IF YOU HAVE ALREADY FAILED FAILED FAILED LIKE since 5.12 and now 5.14 failed, 5.15 failed, 5.16 failed a

[2018-10-11 11:34] JTrotta opened #11095 "[ARM] AOT compiled code with LLVM causes random crashes since Mono 5.16 (was: "Timespan error with last version")"
## Steps to Reproduce

1. create a console application with on line:
        static void Main(string[] args)
        {
            TimeSpan DefaultFlushTimeout = TimeSpan.FromSeconds(15);
            Console.Read();
        }

2. compile and execute on Linux
3. crash

### Current Behavior
crash

### Expected Behavior
working

## On which platforms did you notice this

[ ] macOS
[ x] Linux raspberr

[2018-10-11 11:35] lewurm commented on #9531
works on master

[2018-10-11 11:35] #9531 closed

[2018-10-11 11:54] mclang opened #11096 "High TCP/UDP server %system usage"
For some reason, the %system usage of my Mono TCP/UDP server is constantly quite high:
[code]

First I though the reason might be disk IO due to NLog writes, but it seems problem is elsewhere:
[code]

Next I tried to learn how to use _perf_ and got this for that GPSd_v2 process:
[code]

Annotating `sock_poll` gave this:
[code]

The Mono TCP/UDP server in question is used to handle data coming from

[2018-10-11 12:31] lewurm commented on #8811
@Marshal313 Thanks! Unfortunately I can't reproduce the crash.

Likewise with the provided repro from the poster, I figured out the database scheme:
[code]

I get the following output:
[code]

I tried with:
[code]
and
[code]

I assume I need better repro steps:
* what postgresql version is used?
* exact `.sql` file to create the database scheme

[2018-10-11 13:31] JonathonMinard commented on #10304
Any updates on this?  The workaround for this would cause a lot of grief for us and our customers.

[2018-10-11 13:42] kumpera commented on #11066
Our runtime no longer uses the emscripten file system emulation to store assemblies. We store them directly into memory. This means that you can't use IO to read them.

[2018-10-11 13:43] kumpera commented on #11066
You need to fetch them from the network as any other assemblies.
Assembly:Location for assemblies being executed will behave in the same way as of those loaded into memory when using a desktop framework.

[2018-10-11 13:43] #11066 closed

[2018-10-11 13:59] kjpou1 opened #11099 "[wasm] loading runtime and bcl - Module.locateFile override"
Emscripten provides a [Module.locateFile](http://kripken.github.io/emscripten-site/docs/api_reference/module.html#Module.locateFile) which can be specified in the Module.

The current implementation of loading the files uses the current path or the web current location where it is served from.

Supporting the `locateFile` on the Module as specified in the link above will introduce more flexibility

[2018-10-11 14:31] akoeplinger commented on #11086
Looks like the implementation in coreclr (https://github.com/dotnet/coreclr/commit/c61525b5883e883621f98d44f479b15d790b0533) calls into the runtime.

[2018-10-11 14:35] marek-safar commented on #11086
@MaximLipnin you have to implement it in RuntimeType properly, why did their test not catch that?

[2018-10-11 14:48] akoeplinger commented on #11086
It would be in https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Type/TypeTests.netcoreapp.cs#L208-L213 but we don't run those tests.

[2018-10-11 15:23] #11068 closed, assigned to lewurm

[2018-10-11 16:06] mandawah commented on #9951
Hello,
Same here with --host=arm-linux-gnueabihf
Previous versions had no issues.

Thanks.

[2018-10-11 16:51] directhex commented on #11094
This user has been blocked for Code of Conduct violations.

[2018-10-11 16:51] #11094 closed

[2018-10-11 17:57] lenoil98 commented on #11021
I checked with Justin Hibbits and here are his thoughts:

I get the sneaking suspicion with ABI issues.  A SIGILL likely means,
if you can track it down in a debugger, that it's calling a function
descriptor as a function.  Since I haven't even bothered to look at any
code yet, it's purely a guess, but I'm guessing they're targeting ELFv2
these days (particularly, ppc64le primarily), and ELFv1 has

[2018-10-11 18:11] NattyNarwhal commented on #11021
I was trying to get his attention on IRC, but he didn't respond back. Mono does support ELFv2 (the CI builder is ppc64le, so ELFv2) but it still does support the ELFv1 ABI with function descriptors; AIX is using (something to close to, at least) said ABI., and that's run over CI.

I did have similar issues with bringup on AIX, (trying to make it use function descriptors; see #6677 for what that en

[2018-10-11 18:55] lewurm commented on #11021
it also could be that mono is emitting an instruction that isn't understood by your hardware; what CPU are you running on?

[2018-10-11 19:05] MaximLipnin commented on #11086
@vargaz @lambdageek Could you help please? Is it possible to add any stuff for `IsByRefLike`? If I'm correct it's something similar to what we have for `IsByRef` ...
 https://github.com/mono/mono/blob/2c3ad9d4580b2e967075a4468be865a015e6ffae/mono/metadata/icall.c#L2775-L2779

[2018-10-11 19:17] jaykrell commented on #11094
Github needs a feature here, to point out to non-English speakers, what are words to avoid..

[2018-10-11 19:35] lambdageek commented on #11086
@MaximLipnin I sketched out an implementation #11111.  I don't know what "byref-like" means, however.  there's no documentation on docs.microsoft.com, the test from corefx is mysterious and I haven't looked through the coreclr implementation to find the actual definition yet.

[2018-10-11 20:31] awilfox commented on #11021
It has nothing to do with the processor.  ELFv2 works fine on the 970MP, in an environment that uses ELFv2.  There are no newer instructions needed for that calling convention.  The Linux musl libc, for example, uses ELFv2 all the way back to the POWER4.

That said, you should make sure that it is being compiled with -mcpu=970 or similar, so that GCC isn't emitting newer instructions.

[2018-10-11 20:34] NattyNarwhal commented on #11021
Well, the Mono JIT could be emitting the invalid opcodes in this case. There is no hwcap for FreeBSD/ppc64, so it'll use a very conservative set of instructions. (no POWER4 instructions, no PPC64 instructions, no POWER7 instructions, no load/store optimizations - maybe it needs one of them on ppc64?)

[2018-10-11 20:51] kg opened #11114 "[2018-10] PlatformNotSupported exception in some mac tests"
Some test runs for the 2018-10 integration fail with PlatformNotSupportedException being thrown somewhere in certificate creation infrastructure. The exact location is unclear because of https://github.com/mono/mono/issues/11076.

[code]

I can reproduce this locally by running the MonoDevelop.MacDev.Tests assembly using mdtool. See https://devdiv.visualstudio.com/DevDiv/_releaseProgress?_a=releas

[2018-10-11 21:07] alexanderkyte commented on #9229
I'm not seeing the failures linked but I'm definitely seeing some failures:

[code]

[2018-10-11 21:31] danroth27 opened #11115 "Blazor + Neo4j database driver throws exception"
_From @jsmars on October 11, 2018 8:7_

I'm trying to use Neo4j as my database for a blazor application, but when I this to create the driver:
`var driver = GraphDatabase.Driver(url, AuthTokens.Basic(user, pass));`
I get the following exception:

Is there any way to get this working, or isn't it possible to fun Neo4j with Blazor at this time? If so, is there any indication whether Neo4j will be or

[2018-10-11 21:31] danroth27 commented on #11115
This looks like a limitation with the  System.Runtime.InteropServices.RuntimeInformation implementation in mono.wasm. Moving this over to the Mono repo.

[2018-10-11 22:15] jaykrell opened #11116 "Unable to allocate 64MB."
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Failure.

For example, we are unable to allocate 64MB here:

https://github.com/mono/corefx/pull/159

Everyone says 16MB is very little memory and should succeed, and not willing to cut the memory  allocation down to actually 16MB from 64MB.

So why can't we allocate 64MB then?

### Expected Behavior

Success.

[2018-10-11 23:04] lenoil98 commented on #11021
Let me clarify, I meant that FreeBSD only supports ELFv1 on PowerPC.  Being that this is a Tier 2 supported platform and does not always get some updated features.

BTW, I tried compiling with -mcpu970 and got the same results.

[2018-10-11 23:16] NattyNarwhal commented on #11021
Unfortunately, we're kinda flying blind here unless we have a disassembly - if you have `objdump` installed, run mono with `-v -v`.

One thing I realized just now is.... `basic` profile builds fine with what I assume is Monolite, but the build goes nuts once it changes over to the platform-specific `build` profile. I want to get my hands on a FreeBSD/powerpc64 system for myself and try to poke it;

[2018-10-12 00:59] lenoil98 commented on #11021
Here the output for mono -v -V:

Mono JIT compiler version 5.14.0.177 (5.14.0.177 Thu Oct 11 22:10:44 UTC 2018)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       altstack
	Notification:  kqueue
	Architecture:  ppc
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	GC:            sgen (concurrent by defa

[2018-10-12 01:03] NattyNarwhal commented on #11021
`-v -v` needs to be run with the program. You can monkey patch `runtime/mono-wrapper` to include it; alternatively, you can also edit said file to run Mono under gdb (like `gdb --args the mono executable...`)

[2018-10-12 01:13] jaykrell commented on #10318
Occured  here:
https://jenkins.mono-project.com/job/test-mono-pull-request-amd64-cxx/1202/parsed_console/log.html

[2018-10-12 01:15] kg commented on #10945
This appears to have been regressed by 9dc6c344ac34a470fa0f4fc411e357f7eaf577fd from my bisect.

[2018-10-12 01:48] lenoil98 commented on #11021
Okay, the output the attached.

[mono.log](https://github.com/mono/mono/files/2471268/mono.log)

[2018-10-12 02:15] awilfox commented on #11021
[code]

That looks wrong.

[2018-10-12 03:54] peteryangthinkgeo commented on #11090
More info:

I found it works well if I debug the application with MonoDevelop, however if I ran it by mono command it can't work as I am expected.

[2018-10-12 06:42] jsmars commented on #11115
Note for others trying to run Neo4j: Setting it up with a Server-hosted Blazor setup and having the driver running on the server works fine, just as it would on most other server setups. Hopefully in the future support will be added for running it directly on the client side too.

[2018-10-12 08:03] knocte commented on #11096
Maybe try the `--server` flag? Just thinking out loud, didn't read the bugreport thoroughly.

[2018-10-12 09:03] lewurm commented on #11021
That's indeed wrong.
[code]
is generated by this:
https://github.com/mono/mono/blob/51ebea7a4891ef106028241ce7345478d6cf6727/mono/mini/mini-ppc.c#L5290-L5292
which expands to:
https://github.com/mono/mono/blob/51ebea7a4891ef106028241ce7345478d6cf6727/mono/arch/ppc/ppc-codegen.h#L776-L784

Later this code will be patched by
https://github.com/mono/mono/blob/51ebea7a4891ef106028241ce7345478d6cf6727/

[2018-10-12 09:44] NattyNarwhal commented on #11021
A lot of the PPC ABI sensitive things are (IMHO) guarded by the wrong the definitions - ones that might work on glibc Linux, but got sketchy anywhere else. (The obvious ones had to be fixed for AIX, for instance.) This one on mini-ppc.c+4691 looks sketchy even if you changed it to G_BYTE_ORDER; should be _CALL_ELF != 2 or at the least, or be G_BYTE_ORDER == G_BIG_ENDIAN. (The latter is what I had

[2018-10-12 10:46] mclang commented on #11096
I'm using it already as can be seen from the `pidstat` output.

[2018-10-12 10:48] knocte commented on #11096
Ah sorry, and without it? :)

[2018-10-12 11:09] lenoil98 commented on #11021
Changing line  4691 as suggested you suggested did the trick.  Changed line 4682, for consistency, to

#if G_BYTE_ORDER == G_LITTLE_ENDIAN

[2018-10-12 11:17] NattyNarwhal commented on #11021
Nice! Could you submit a PR/patch for it here? I'm curious what it does to Linux/ppc64le and aix/ppc64be in this case.

[2018-10-12 11:46] mclang commented on #11096
About the same result even with all flags out :(

[2018-10-12 13:08] rjvdboon opened #11123 "Type.IsSubclassOf throws TypeLoadException"
## Steps to Reproduce

[file.txt](https://github.com/mono/mono/files/2473140/file.txt)

1. Save the attached file as `file.cs`
2. Compile A.dll, B.dll, and Prog.exe as specified in the header of the file.
3. Run `mono Prog.exe`, observe no exception
4. rm A.dll
5. Run `mono Prog.exe` again, should have no exception, has a TypeLoadException.

While the steps to reproduce obviously cause runtime fai

[2018-10-12 13:11] lewurm commented on #10858
I came up with a testcase that works on amd64, but fails on armv7: https://github.com/lewurm/mono/commit/7e2782c1044198bceaf590e4da177d65aad2ed0b

[2018-10-12 13:15] marek-safar commented on #11123
@lambdageek please investigate the regression

[2018-10-12 13:19] marek-safar commented on #11072
It should be stable in few weeks but you can already get it from preview channel https://www.mono-project.com/download/preview/

[2018-10-12 14:32] nephaste opened #11126 "Error compilation from source armv7 (5.16.0.179) * Assertion: should not be reached at class.c:1871"
## Steps to Reproduce

1. use a chroot on my qnap (ubuntu1404) armv7l
2. compile from source in Prefix /opt/Qmono

-->

crashed on compilation while previous 5.12.0.x compiled fine

<!--
`e[8]: warning:  Clock skew detected.  Your build may be incomplete.
make[8]: Warning: File `../../../build/deps/_basic_Facades_System.Xml.XDocument.dll.makefrag' has modification time 8.3 s in the future
make[8]:

[2018-10-12 14:33] nephaste commented on #11126
`e[8]: warning:  Clock skew detected.  Your build may be incomplete.
make[8]: Warning: File `../../../build/deps/_basic_Facades_System.Xml.XDocument.dll.makefrag' has modification time 8.3 s in the future
make[8]: warning:  Clock skew detected.  Your build may be incomplete.
make[8]: Warning: File `../../../build/deps/_basic_Facades_System.Reflection.Extensions.dll.makefrag' has modification time

[2018-10-12 14:42] marek-safar commented on #11126
This is interesting, it's our "normal" roslyn crash but I suspect in this case `implement me 0x73` is the corrupted value.

/cc @vargaz @jaykrell