[2019-06-06 01:12] loongson-gz commented on #14803
little endian and the host cpu is loongson 3A3000

[2019-06-06 02:27] steveisok opened #14827 "[netcore]Implement Environment.FailFast"
See the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.environment.failfast?view=netcore-3.0) for full description.

Couple of call outs:
1.) The process should write out a crash dump before terminating.  It would be nice if we could use our crash reporter as I think it does that plus a bunch of other useful things.
2.) On windows, we should write to the event log.  I don't know what th

[2019-06-06 02:45] NattyNarwhal commented on #14827
windows event log would probably be closest to syslog(3) for unix (pretend-unices will redirect to system natve logging, and unix systems often have remote log servers set up). android/iOS have equivalent, but unsure.

producing a dump might be helpful, but since a program's logic might be using FailFast for its own reasons, it could be unexpected/undesirable

[2019-06-06 02:46] steveisok opened #14828 "[netcore]Implement Monitor.LockContentionCount"
This may or may not help, but here's the link to coreclr's implementation

https://github.com/dotnet/coreclr/blob/82bd51f001c8df3def3b327bb31fc7611539cbd8/src/vm/threads.h#L3966

[2019-06-06 02:49] steveisok opened #14829 "[netcore]Implement ThreadPool.CompletedWorkItemCount"
This may or may not help, but here's how coreclr does it:

https://github.com/dotnet/coreclr/blob/5d16005b984b9b27ce59245bca87aa225b2ca0b7/src/vm/threads.cpp#L8026

[2019-06-06 02:51] steveisok opened #14830 "[netcore]Implement AssemblyLoadContext.InternalLoad"
Should probably be grouped w/ collectible assembly work

[2019-06-06 02:52] NattyNarwhal commented on #14827
ahhh yes, i didn't read [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.environment.failfast?view=netframework-4.8) - that's documented API surface

[2019-06-06 07:06] MaximLipnin commented on #14152
After aligning with CoreFX (https://github.com/mono/mono/pull/9719)

CoreFX initial work: https://github.com/dotnet/corefx/issues/12369
Other work has been done in https://github.com/dotnet/corefx/pull/18344:

CopyWithPrivateKey(this X509Certificate2 cert, {RSA|DSA|ECDSA} key)
to enable scenarios where a public cert and private key are held independently
but a unification is desired. This makes UN

[2019-06-06 07:17] MaximLipnin commented on #14152
@bartonjs Could you please help here? Is this the case which can be covered by work from https://github.com/dotnet/corefx/pull/18344 in private key part?

[2019-06-06 07:57] filipnavara commented on #8267
Unfortunately this still seems to be broken for Xamarin builds:

https://github.com/mono/mono/blob/515234a128318cc199df0cca9cccdbf06fe72fdb/mcs/class/corlib/System/TimeZoneInfo.MonoTouch.cs#L49-L51

Can we re-open the issue?

[2019-06-06 07:59] filipnavara commented on #14828
And CoreRT implementation (managed code) for reference: https://github.com/dotnet/corert/pull/7066

[2019-06-06 08:04] marek-safar commented on #14729
/cc @lambdageek

[2019-06-06 09:44] EgorBo commented on #14827
As a quick implementation: `this.Exit(134)` 🙂

[2019-06-06 10:24] #14215 closed

[2019-06-06 10:53] marek-safar commented on #8267
@filipnavara we have different handling for mobile, could you please open different issue

[2019-06-06 11:02] filipnavara opened #14839 "[xamarin] TimeZoneInfo.Local always returns "Local" name"
## Steps to Reproduce

1.  `Console.WriteLine(TimeZoneInfo.Local.Id);`

### Current Behavior

Always returns "Local".

### Expected Behavior

Returns the name of the current time zone.

## On which platforms did you notice this

[x] macOS
[x] iOS
[ ] Linux
[ ] Windows

**Version Used**:

5.18.1, 6.0, 6.5 (master)

## Description

Essentially this is the same issue as https://github.com/mono/mono/i

[2019-06-06 11:03] filipnavara commented on #8267
@marek-safar Thanks, done.

[2019-06-06 11:36] akoeplinger commented on #14243
This also happens on the 2019-06 integration in Xamarin.iOS and is a regression in behavior from 2019-02. Before it just printed the warnings about exception filters but didn't crash mono.

[2019-06-06 11:42] marek-safar commented on #14243
@SamMonoRT this is blocking Mono integration, please prioritize it

[2019-06-06 11:46] akoeplinger commented on #14243
I attached a repro .zip with the failure from XI:

[code]

[repro.zip](https://github.com/mono/mono/files/3261405/repro.zip)

[2019-06-06 12:07] akoeplinger opened #14841 "opt: Unknown command line argument '-place-safepoints' in XI 2019-06 integration"
Failure from XI mtouch tests:

[code]

It looks like we're passing options to LLVM that aren't supported by LLVM36.

[2019-06-06 12:08] marek-safar commented on #14841
/cc @SamMonoRT

[2019-06-06 12:23] marek-safar commented on #14839
/cc @steveisok

[2019-06-06 12:23] steveisok commented on #14339
Since the issue is fixed in 2019-02, we can close.

[2019-06-06 12:23] #14339 closed

[2019-06-06 13:03] akoeplinger opened #14843 "LLVM extremely slow for unlinked Xamarin.iOS.dll in 2019-06"
The "don't link" test application takes almost 25 minutes to compile in 2019-06 for the iOS 64 bit Device Release configuration, compared to about 3 minutes in 2019-02.

The bulk of the time is spent in Xamarin.iOS.dll.

2019-02:

[code]

2019-06:

[code]

[2019-06-06 13:03] akoeplinger commented on #14843
/cc @SamMonoRT

[2019-06-06 13:06] vargaz commented on #14843
Probably fixed by:
https://github.com/mono/mono/pull/14714

[2019-06-06 13:10] akoeplinger commented on #14843
Ok cool, I issued a backport for that PR :)

[2019-06-06 13:29] xDaKillerx commented on #14793
oh also. just noticed that it seems like the apps cant see the files i have . like it can see the folders etc but they cant see any files. i think its because of the new MacOS changes that gave specific permissions for apps to access storage etc. tried giving both apps "Full Disk Access" on Privacy tab on System Preferences but no go. i think its because its using Mono to run those apps. i even tr

[2019-06-06 13:42] SamMonoRT commented on #14841
@alexanderkyte and @naricc - please work together on this one.,

[2019-06-06 14:04] lewurm commented on #14841
Not sure if it's easy to fix. Safepoints are most likely not understood by the old LLVM version that we are using for watchOS. The reason why we still have the old LLVM is that it works on 32bit; something we have to get rid off anyway latest with `2019-06` (also see https://github.com/mono/mono/issues/9621#issuecomment-474238998 )
So better do the switch for it.

[2019-06-06 14:12] #7377 closed

[2019-06-06 14:17] SamMonoRT commented on #12170
Is this still an issue or can we close this out ?

[2019-06-06 14:24] SamMonoRT commented on #10126
@AxlPr - is this still an issue after suggestions from BrzVlad above ?

[2019-06-06 14:26] SamMonoRT commented on #7099
@blucz - can we close out this issue ?

[2019-06-06 14:28] akoeplinger commented on #14843
@vargaz so I tried the fix but it doesn't seem to help in this case. Note that I'm seeing `llc` taking a long time, not `opt`.

[2019-06-06 14:34] akoeplinger commented on #14843
Here's the repro dir:

[2-PreBuild.zip](https://github.com/mono/mono/files/3262084/2-PreBuild.zip)

[2019-06-06 14:43] bartonjs commented on #14152
Yeah, the recommended way on .NET Framework and (the only way on) .NET Core is to use `var certWithKey = cert.CopyWithPrivateKey(key)`.

[2019-06-06 14:52] directhex commented on #14803
Is the build definitely using 32-bit throughout? There's a few places where we don't autodetect too well with 32-bit-userland-64-bit-kernel. If in doubt, stick a `linux32` in front of autogen and make

[2019-06-06 15:24] ArniDagur commented on #9998
@migueldeicaza Any word on this bug?

[2019-06-06 16:04] lewurm opened #14847 "[interp] fix test failures of xtest-System.Runtime.Tests"
See https://github.com/mono/mono/pull/14547

[2019-06-06 16:06] bdgza opened #14848 "Failed assertion crash in Mono threadpool-io.c when starting Couchbase Lite replication using CreateNLSocket on arm64-v8a Xamarin Android"
## Steps to Reproduce

1. Open the attached solution "TravelSample" in Visual Studio 2019 for Mac / Visual Studio 2019, with Xamarin installed.
2. Run the TravelSample.Android project on a 64-bit Android device with Android 9 installed (I use a Samsung A8 (2018) with consistent results).
3. Tap the "SIGN IN" button.
4. Assertion fails and crash.

[mobile-travel-sample-arm64-v8a.zip](https://github

[2019-06-06 16:47] lewurm commented on #14843
output of `llc -time-passes`:
[code]
full output: https://gist.github.com/lewurm/da82a493b86c914e1505ebe2215029c1
not sure what is going on. did we start to generate an unreasonable amount of variables?

[2019-06-06 17:24] #14243 closed

[2019-06-06 18:11] akoeplinger commented on #14841
I switched to the new LLVM and it fixed the error, will send a PR.

Note that according to @lewurm we'll probably hit issues when running on device but that's an issue for another day :)

[2019-06-06 18:15] #14792 closed

[2019-06-06 18:19] akoeplinger commented on #13739
I added the binaries to the repo and it seems like our Makefiles just clone the tip of the branch, so this should be fixed in a new build (might need a clean).

[2019-06-06 18:19] #13739 closed

[2019-06-06 18:19] blucz commented on #7099
Yes

[2019-06-06 18:19] #7099 closed

[2019-06-06 18:23] #9216 closed

[2019-06-06 18:24] alexanderkyte commented on #14841
@lewurm @akoeplinger it sounds like you've found a fix for this. What should we wait on to close this issue?

[2019-06-06 18:25] marek-safar commented on #7884
We will approach this differently in .NET 5

[2019-06-06 18:25] #7884 closed

[2019-06-06 18:27] #10376 closed

[2019-06-06 18:27] #6862 closed

[2019-06-06 18:29] #7075 closed

[2019-06-06 18:29] #7019 closed

[2019-06-06 18:37] lewurm commented on #14843
I bisected it down to this 04d65f29866cc7cfdcfced9a04ec54b4d7e2637e

@alexanderkyte any idea?

[2019-06-06 18:46] steveisok opened #14854 "[netcore]Make Microsoft.VisualBasic.Tests.ErrObjectTests.Clear pass"
The test currently fails with:

[code]

Try to determine why it's failing and make it pass.

[2019-06-06 18:48] steveisok opened #14855 "[netcore]Make Microsoft.VisualBasic.ApplicationServices.Tests.AssemblyInfoTests.LoadedAssemblies pass"
The current test fails with:

[code]

Determine why this is failing and try to make it pass.

[2019-06-06 18:59] baulig commented on #14152
@MaximLipnin Are you currently working on this or can I take this over?

[2019-06-06 19:02] #12141 closed

[2019-06-06 19:03] alexanderkyte commented on #14843
@lewurm you're looking for a second-derivative diff.

You should do an `llvm-diff` after doing an `llvm-dis` on the bitcode with that change enabled and disabled (MONO_DEBUG="llvm-disable-self-init"). See if you see any differences other than the init check basic block added.

[2019-06-06 19:03] steveisok opened #14857 "[netcore]Make System.Collections.Tests.*.ICollection_NonGeneric_CopyTo_ArrayOfEnumType Pass"
This is a common error to a whole bunch of tests, so ideally one fix should fix them all.

Here is the output of one failure:

[code]

According to @filipnavara , the reason for the failures is:

_**Mono currently supports Array.Copy from object[] array containing boxed ints to float[] array with primitive widening**_

Determine if these tests are passable and pass them.

[2019-06-06 19:04] alexanderkyte commented on #14843
If you don't see those differences, it probably indicates that the init check itself is introducing some locals or phi nodes that are problematic.

[2019-06-06 19:05] EgorBo commented on #14857
It's @filipnavara's comment :)

[2019-06-06 19:07] baulig commented on #14152
Since I've done all the relevant code in the past, I'm going to have a look at this and should have a PR ready shortly.

[2019-06-06 19:07] steveisok commented on #14857
HA!  Sorry @filipnavara, I will change :-)

[2019-06-06 19:10] CoffeeFlux commented on #11319
The example without VS is essentially the following snippet with the dll in a subdirectory called `2.1.0`, compiled with `csc /debug /reference:2.1.0/Microsoft.Extensions.Logging.Abstractions.dll main.cs`.

[code]

A flag is probably being set incorrectly somewhere; will trace through in a bit and see.

[2019-06-06 19:12] steveisok opened #14858 "[netcore]Make System.Collections.Specialized.Tests.NameValueCollectionCtorTests.Ctor_NegativeCapacity_ThrowsArgumentOutOfRangeException Pass"
The current test fails with:

[code]
Determine why the test fails and pass it.

[2019-06-06 19:16] steveisok opened #14859 "[netcore]Make Generic.Dictionary.DictionaryConcurrentAccessDetectionTests.DictionaryConcurrentAccessDetection_* Pass"
This is a common error to several tests, so hopefully one fix does the trick.  Since it's a smaller set, here are all the current failures:

[code]

Determine if the tests can be fixed and make them pass.

[2019-06-06 19:16] EgorBo commented on #14858
@steveisok there should be a lot of similar issues because mono supports large arrays unlike coreclr.
This one should be fixed but other should be ignored in CoreFX (using sort of IsLargeArraySupported)

[2019-06-06 19:33] lambdageek commented on #14830
This depends on #13891 - we need to teach the runtime that it's ok to have the same assembly loaded more than once (if it's in different ALCs).

[2019-06-06 19:38] #14555 closed

[2019-06-06 19:45] filipnavara commented on #14855
Missing implementation in `AssemblyLoadContext`:

https://github.com/mono/mono/blob/a5a26a2f92d00ab174d794f077007faaab5d3843/mcs/class/System.Private.CoreLib/System.Runtime.Loader/AssemblyLoadContext.cs#L39-L42

[2019-06-06 19:54] Therzok commented on #14729
This wasn't fixed. The codegen bug is still there!

[2019-06-06 19:57] baulig commented on #14152
All the code in `httpcfg.cs` does is to check whether the private key is valid, we don't really need to assign it to the `X509Certificate2` at all.

However, I already have something that does both - PR coming up shortly.

[2019-06-06 20:20] filipnavara commented on #14555
@CoffeeFlux I believe the xunit exclusions were not updated in https://github.com/mono/mono/blob/a5a26a2f92d00ab174d794f077007faaab5d3843/netcore/CoreFX.issues.rsp#L545-L548

[2019-06-06 20:23] naricc commented on #14196
By latest I meant a recent version nightly, or even the version 6 preview. It seems like it is fixed in the version 6 preview, based on my attempts to reproduce it.

[2019-06-06 20:27] CoffeeFlux commented on #14555
Ah, yeah, totally forgot about that since I just added my own tests. I'll make a second PR; thanks for the heads-up!

[2019-06-06 20:34] lewurm commented on #14843
@alexanderkyte `MONO_DEBUG="llvm-disable-self-init"` segfaults for me 😕

Could you please have a look at it? It's pretty easy to reproduce with the repro from https://github.com/mono/mono/issues/14843#issuecomment-499520634 and `make -C sdks/builds package-ios-cross64 -j` on master.

[2019-06-06 21:45] MaximLipnin commented on #14152
@baulig Thank you for helping here, looks like this fix will be useful for other related issue - https://github.com/mono/mono/issues/14721. It hits other place where X509Certificate2.PrivateKey property gets assigned - https://github.com/mono/mono/blob/c5b88ec4f323f2bdb7c7d0a595ece28dae66579c/mcs/class/System/System.Net/HttpListener.Mono.cs#L83

[2019-06-06 22:01] #14841 closed

[2019-06-06 22:44] baulig commented on #14152
That looks like an easy fix, I'll add it to my https://github.com/mono/mono/pull/14860.

[2019-06-06 22:54] baulig commented on #14721
Should be fixed with https://github.com/mono/mono/pull/14860.

[2019-06-06 23:32] lambdageek opened #14864 "[corlib] Mark `PropertyInfo` `[Serializable]`"
In the [.NET Framework documentation](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.propertyinfo?view=netframework-4.8) it's `[Serializable]`,
but in [our fork of CoreFX](https://github.com/mono/corefx/blob/master/src/Common/src/CoreLib/System/Reflection/PropertyInfo.cs) it isn't.

Also it's not `partial` so we can't just stick it in a separate `mcs/class/corlib/corefx/PropertyInfo

[2019-06-07 03:43] EinstokFair commented on #14030
https://github.com/mono/libgdiplus

[2019-06-07 03:46] alexbk66 commented on #14196
Man, did you see my post above 6 days ago? I'm using whatever is latest in apt.  But as I mentioned it seems to be fixed in Mono 6, but I didn't try myself

[2019-06-07 03:59] steveisok opened #14868 "[netcore] Stack Traces Seem Too Short"
## Steps to Reproduce

1. Build monovm (cd netcore && ./build.sh)
2. In netcore/CoreFX.issues.rsp, change from -nomethod to -method for Generic.Dictionary.DictionaryConcurrentAccessDetectionTests.DictionaryConcurrentAccessDetection_*
3. Type make xtest-System.Collections.Tests

### Current Behavior
Notice the stack traces in the failures seem a little light.  @filipnavara thinks we may be missing

[2019-06-07 05:56] marek-safar commented on #14864
I am wondering if it matters for abstract type

[2019-06-07 06:21] grendello commented on #14214
Then it's **not** what the code does. There's **no** reason to allocate more than the few K of memory for transfer - let alone 2GB. This is a real bug - how are you supposed to download a 4GB file? How will you download a 2GB-1B file on a machine that has 1GB of RAM? Please fix this properly.

I have NO choice here, that's the point! If the content-length indicates > 2GB I have no say, unless I us

[2019-06-07 06:34] grendello commented on #14214
To point out further problems with "allocate all the RAM unless it's less than 2GB" of the **default** HttpClient behavior (without `HttpCompletionOption.ResponseContentRead` explicitly set):

- in order to avoid the exception, you either have to set `HttpCompletionOption.ResponseContentRead` or always issue a `HEAD` request and set this flag when resource size is bigger than some sane amount - to

[2019-06-07 06:45] emilhedevang opened #14869 "Cancellation is not registered when client disconnects from web api"
## Steps to Reproduce

1. Build the attached project to obtain the executable CancellationDoesNotWorkUnderMono.exe. I built it using Visual Studio version 16.1.2 for Windows because I could not get msbuild from the released Mono 5.20.1.19 for Windows to work due to the problem described here: https://github.com/mono/mono/issues/10550. The entire source code  of the application is contained in Prog

[2019-06-07 06:49] grendello commented on #14214
@baulig please address the allocation issue, it's really not the way it should be.

[2019-06-07 08:38] borrrden commented on #14848
I have a feeling that this issue will be hard to track down and it has happened a few times before:

[Reference 1](https://forums.xamarin.com/discussion/82376/native-exception-threadpool-ms-io-c-344-condition-fd-0-not-met-libmonosgen-2-0-so)
[Reference 2](https://forums.xamarin.com/discussion/63285/assertion-at-threadpool-ms-io-c-370-condition-fd-0-not-met) (from me a few years ago)
[Reference 3](

[2019-06-07 09:13] marek-safar commented on #9664
@jgold6 this didn't make it on time for 2018-02 insertion to Xamarin.Android. We have the fix available in dev16.2 P2 version which should be available publicly soon.

[2019-06-07 09:25] SteveSandersonMS opened #14871 "[wasm] System.Text.Json struct serialization fails (but works on CoreCLR)"
Given this type:

[code]

The following code:

[code]

... fails when running on Mono WebAssembly, with the following exception:

[code]

The same code works fine when running on CoreCLR. This breaks a core scenario in Blazor: passing `ElementRef` instances (which are structs) in JSInterop. The framework tries to JSON-serialize the `ElementRef`, and it fails as above.

**Bonus quirk**: This is wei

[2019-06-07 10:07] lewurm commented on #14868
Could be that inlining swallows frames.  Could you verify by running without inlining? It's `-O=-inline`.

[2019-06-07 10:12] filipnavara commented on #14868
That's not it. It is consistent and playing with the `skipFrames` constants in `StackTrace`/`StackFrame` classes makes it go away.

[2019-06-07 10:59] akoeplinger opened #14872 "System.Runtime.CompilerServices.UnsafeTests.ReadWriteDoublePointer test failure on devices in Xamarin.iOS"
## Steps to Reproduce

1. Clone https://github.com/xamarin/xamarin-macios
2. Checkout mono-2019-06 branch at 9209b4eb49bb59906500fd9baafd7d27cb74dd1b
3. `./configure --enable-xamarin && make world`
4. `make -C tests runner`
5. Run any **Debug** configuration in `[xUnit] Mono BCL tests group 3` under `iOS Unified 64-bits - device`
6. Observe test failure

Not that this only happens on devices and o

[2019-06-07 11:06] #14809 closed

[2019-06-07 14:06] mandel-macaque opened #14875 "[msbuild] Microsoft.CSharp.Core.targets was not found"
After bumping to the latest 2019-02 (hash c22486e39d129cb8117177a6f9c768e69fc4ebaa) in the master of macios we get the following error when trying to run our tests on classic:

`07:30:04.7764270 /Users/builder/Library/Caches/VisualStudio/7.0/MSBuild/94375_1/Microsoft.CSharp.CurrentVersion.targets(331,5): error MSB4019: The imported project "/Users/builder/Library/Caches/VisualStudio/7.0/MSBuild/94

[2019-06-07 14:08] akoeplinger commented on #14875
/cc @lewing

[2019-06-07 14:09] mandel-macaque opened #14876 "[msbuild] Xamarin.iOS.Tasks.NativeReferencesNoEmbedding fails on iOS"
After bumping mono to the latests 2019-02 (hash: c22486e39d129cb8117177a6f9c768e69fc4ebaa) the msbuild tests fail with:

`Xamarin.iOS.Tasks.NativeReferencesNoEmbedding("iPhoneSimulator").ShouldNotUnnecessarilyRebuildBindingProject(True): Binding project build did not create package?`

Full tests failure can be found here: https://jenkins.mono-project.com/job/xamarin-macios-pr-builder/10198/Test_20

[2019-06-07 14:10] akoeplinger commented on #14876
/cc @lewing

[2019-06-07 14:11] equalent commented on #14801
Durango is a code name for Xbox One.

So, as far as I understand, I load an assembly with normal JIT engine but I set up an AOT data load hook with `mono_install_load_aot_data_hook` that loads an `.aotdata` file with AOT code.

But how do I create this file? Is this simply a renamed output of `--aot` (dynamic library with an assembly) or something different?

[2019-06-07 14:16] Rombersoft commented on #14514
Does it allocate 4GB memory? Maybe you're stupid if you did not try reproduce it! Do you need more info? Reproduce code which I gave!!! And then do conclusions!

[2019-06-07 14:43] mandel-macaque commented on #14875
From @lewing -> https://github.com/Microsoft/msbuild/issues/1884

[2019-06-07 15:05] akoeplinger opened #14877 "System.Numerics.Tests.GenericVectorTests fail on devices in 2019-06 Xamarin.iOS integration"
## Steps to Reproduce

1. Clone https://github.com/xamarin/xamarin-macios
2. Checkout mono-2019-06 branch at 9209b4eb49bb59906500fd9baafd7d27cb74dd1b
3. `./configure --enable-xamarin && make world`
4. `make -C tests runner`
5. Run **Debug** configuration in `[xUnit] Mono BCL tests group 4` under `iOS Unified 64-bits - device`
6. Observe 250 test failures in System.Numerics.Tests.GenericVectorTests

[2019-06-07 15:08] steveisok commented on #14868
Yeah, that out to double check and it makes no difference.

[2019-06-07 15:14] alexanderkyte commented on #14843
What I think might be happening is inlining.

That PR makes calls direct, so LLVM has the opportunity to inline them. Inlined calls cause the caller to have the inlined functions locals inserted into the body. More locals puts the register allocator under more pressure.

[2019-06-07 15:28] lewing commented on #14871
I guess we're linking out the failing method.  This is indeed odd.

/cc @lewurm @SamMonoRT

[2019-06-07 16:35] alexanderkyte commented on #14843
We can disable inlining separately from the direct calls here to confirm:

Still getting this building and reproducing @akoeplinger @lewurm
https://github.com/mono/mono/pull/14880

[2019-06-07 16:40] #14214 closed

[2019-06-07 16:41] baulig commented on #14214
I tried to explain it to you several times, closing this for good.  Also, one of your comments made this unsuitable for upstreaming.  Please do that yourself.

[2019-06-07 16:50] alexanderkyte commented on #14843
@akoeplinger if https://github.com/mono/mono/pull/14880/commits/7f9909b95d24e6e2b9421c65ed074af478d7c35a can fix it, I see a route for a quick workaround for this release

[2019-06-07 16:52] Therzok opened #14881 "MemoryMappedFile views and streams do not increase the ref count"
Context: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/888359

## Steps to Reproduce

1. Unsure how to repro, but possibly can do by creating a memory mapped file, a memory mapped view and disposing the memory mapped file and then trying to read through the view.

### Current Behavior

Native crash (SIGSEGV)

### Expected Behavior
MemoryMappedView and Stream should increase the refcount, as

[2019-06-07 16:55] steveisok commented on #14214
@grendello, I appreciate your passion re: this issue.  I think it does have merit and probably warrants a discussion upstream w/ the corefx team.  I'm open to suggestions and we would be happy to help you.

Would it make sense for you to open an issue w/ corefx and summarize?  Or should we open an issue and link to this one?  Again, I'm open to suggestions.

[2019-06-07 16:55] alexanderkyte commented on #14843
We can disable inlining on this release while keeping direct calls, and then enable inlining conditionally (disable if more than N number of local variables in callee) to avoid stressing the register allocator. I think if we do that, we'll still want to let people enable the lengthy compile in "release mode" or something.

[2019-06-07 16:56] baulig commented on #14214
Okay, we have a few issues and concerns here.  My biggest one of those is that your last comment makes me unable to upstream this to corefx as I feel like it is insulting and inflammatory of their work - and I also strongly disagree with the assessment that their code is "unreliable and unsuitable for any real world scenario".  I have no intention of creating any kind of conflict with the CoreFX t

[2019-06-07 16:56] Therzok opened #14882 "Ephemeron tests fail on 6.0 bump"
## Steps to Reproduce

1. See disabled test suite here: https://github.com/mono/monodevelop/commit/058b5f4be19db87a5b0679fb186d4bc612a5fdc8
2. Run that test suite, observe weak references are not freed
3. Did not happen in 2018-08

### Current Behavior

WeakRereferences are not freed

### Expected Behavior

Object held in memory just by WeakReference and ConditionalWeakTable should be freed.

## O

[2019-06-07 16:57] directhex commented on #11939
@kg you touched the compile server lately, can you check this?

[2019-06-07 17:00] lambdageek commented on #14881
It does seem like our refcounting is off here.

There's a slightly tricky bit here because `Unmap` for a memory mapped view only has a `MmapInstance*` struct in native - and there's no way to get back to the `MmapHandle` and decrement the count.

But first things first - we need a standalone reproduction that illustrates the problem.

[2019-06-07 17:12] radical commented on #14875
Which version of vsmac are you using here?

@mrward @rodrmoya Looks like the `Current` changes are required for vsmac here.
@mandel-macaque That upstream issue is not related to this.

[2019-06-07 17:13] #14152 closed

[2019-06-07 17:14] rodrmoya commented on #14875
We didn't backport the Current change to 8.0, which I guess is what @mandel-macaque is using?

[2019-06-07 17:24] baulig commented on #14721
Fixed in #14860.

[2019-06-07 17:27] baulig commented on #12996
Do you still have this issue or need any help from me on this?

[2019-06-07 17:29] baulig commented on #13169
This was in "needs more info" state for over 3 months, closing.

[2019-06-07 17:29] #13169 closed

[2019-06-07 17:30] #9417 closed

[2019-06-07 17:31] baulig commented on #9119
Client Certificates have been implemented a long time ago, please reopen this issue if you're still experiencing any problems.

[2019-06-07 17:31] #9119 closed

[2019-06-07 17:34] #12880 closed

[2019-06-07 18:38] Therzok commented on #14881
I'm trying to build a standalone test case for this, but can't get it to crash. Maybe roslyn is doing something extra than this test case:
https://gist.github.com/Therzok/cb2adcf8c3617636ff9e94364301e23f

[2019-06-07 18:48] mrward commented on #14875
From the cache location it looks like VS Mac 7.x is being used which, along with VS Mac 8.0, does not support MSBuild 16 (introduced in Mono 5.18.1.24 and later) which uses Current.

`/Users/builder/Library/Caches/VisualStudio/7.0`

[2019-06-07 19:08] jgold6 commented on #9664
@marek-safar Can I assume that the same is true for insertion into Xam.iOS?

[2019-06-07 19:56] nikmartin commented on #14875
as an FYI I am getting the same error:

[code]
On VS 8. Full Info here:

=== Visual Studio Community 2019 for Mac ===

Version 8.0.9 (build 5)
Installation UUID: 51626b30-472b-43c3-be8e-84be0a9f345b
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.6.0.2 (d16-0 / 040682909)

	Package version: 600000286

=== Mono Framework MDK ===

Runtime:
	Mono 6.0.0.286 (2019-02/c22486e39d1) (64-bit)
	Package version

[2019-06-07 19:58] #14797 closed

[2019-06-07 20:39] akoeplinger commented on #14877
This diff fixes most of the failures by getting rid of one of the two reflection calls:

[code]

Not fully sure this is the correct fix, will need to discuss with upstream corefx.

Note that this code is generated by a TT file GenericVectorTests.tt so we should upstream this change.

[2019-06-07 21:37] t-takhan commented on #14817
Hello @lewurm @alexanderkyte and @vargaz

If I use `mono --aot=llvmonly`, it actually uses `clang++` instead of `llc` and `ld` to compile the `.bc` file into `.o` file and `.o` file to `.so.tmp` file respectively. However, I could not find any `aot` flag to add my required `-fprofile-instr-generate` into `clang++` replacement of `llc`. For example, the command `mono --aot=llvmonly,llvmopts='-pgo-i

[2019-06-07 21:39] kg commented on #11939
This could be caused by bumping roslyn at all, since with the old broken roslyn VBCS would crash at startup or hang and maybe get killed. Once upstream roslyn fixed pipes + mono bumped to corefx pipes, this would happen if you enabled the compiler server. We'd have to downgrade roslyn

[2019-06-07 21:40] kg commented on #11939
Also, a couple other things I just remembered:
With older mono, VBCS would hang or close to it because our implementation of Timers was broken and because we had a really nasty performance issue in one of our BCL types. Newer mono should have both of these fixed, it's possible the mono being used here is too old. It should be possible to fix this by *either* downgrading mono or upgrading it.

[2019-06-07 22:10] filipnavara commented on #14868
Actually, at least in one instance disabling the inlining helped. With `MONO_ENV_OPTIONS="-O=-inline" make xtest-Microsoft.VisualBasic.Core.Tests` I am now getting the full trace here:

[code]

I would like some independent verification, preferably on different test.

[2019-06-07 22:30] steveisok commented on #14868
I ran it against one of the collections tests and it didn’t make a difference.  I’ll try your example and others to see if I can spot anything.

[2019-06-07 23:24] jaykrell commented on #14848
1. As a start, put similar assert in `ves_icall_System_IOSelector_Add`.
2. `mono_memory_barrier` in `ves_icall_System_IOSelector_Add` appears unnecessariy. all reads and writes are guarded by a lock. Right?

[2019-06-07 23:28] nikmartin commented on #14875
as a follow-up, is there ANY workaround? this has me 100% blocked

[2019-06-07 23:49] radical commented on #14875
Use an older mono. If you have more than one version installed, then you can select a different (older) mono runtime in `Preferences -> Projects -> .NET Runtimes` .

[2019-06-07 23:49] jaykrell commented on #14848
Strictly speaking, but hard to imagine it matters, there is an incorrect union use of here. I fixed that along with adding asserts.

[2019-06-08 00:11] radical commented on #14876
@mandel-macaque Can you reproduce this? I'm trying with the checkout from the PR, built with `./configure && make world` and running the tests with `make -C tests test-ios-tasks`. But it passes, the target runs as expected :/

[2019-06-08 07:32] equalent opened #14895 "Properly loading assemblies from memory"
I want to load an assembly from a memory buffer. The requirement for me is that all assemblies including `mscorlib.dll` should be loaded from memory buffers, without using FS IO.

I was able to load an assembly and invoke a static method with this code:
[code]

But it requires me to set `MONO_PATH`. This works when the only dependency of the assembly is `mscorlib.dll`. When I try to use any other

[2019-06-08 07:35] vargaz commented on #14895
Check out mono_register_bundled_assemblies () in assembly.h.

[2019-06-08 07:48] equalent commented on #14895
Thank you very much for your quick response!

So I just create `MonoBundledAssembly` and register it *before or after* `mono_jit_init`?

Also, how do I load initial `mscorlib.dll` from a buffer? If I register it with `mono_register_bundled_assemblies` is it going to be available when Mono JIT engine starts up (`mono_jit_init` does not work without `mscorlib.dll`)?

[2019-06-08 07:56] vargaz commented on #14895
It should be called before mono_jit_init (). The runtime will load assemblies from that list instead of from the file system.

[2019-06-08 08:14] equalent commented on #14895
Thank you very much for your short and clear answers!

[2019-06-08 08:14] #14895 closed

[2019-06-08 09:05] CHazz commented on #12966
bump ..
 still 100% + CPU drain with service and 6% with normal mono .. thanks for fix

[2019-06-08 18:28] OladotunO commented on #10645
Hi All

I am working on a Xamarin.Andoid project, and I cannot get the full response from the server i am communicating with,  it crashes at
"errorcode = r.ReadToEnd();"

                try
                {
                    HtmlResult = wc.UploadString(configuredurl, postData);
                }
                catch (WebException e)
                {
                    weberror = e.ToString

[2019-06-08 20:03] steveisok commented on #10645
@OladotunO Looks like the same problem.  Appreciate the extra info and we'll update this issue when we have a fix.

[2019-06-09 07:26] loongson-gz commented on #14803
yeah,  os and kenerl are 64bit , I throught debootstrap get  a debian 8 (mipsel)  os . then chroot to debian8 and make

[2019-06-09 09:00] cra0zy commented on #13861
Reproing this is simple, build xa from source, install it into system and just try and build the sample project in the repo and it will fail to compile:

[code]

Important output part:
[code]

[2019-06-09 10:47] #12700 closed

[2019-06-09 18:36] enderger opened #14901 "Font hinting breaks labels"
## Steps to Reproduce
On Linux
1.  Install fontweak
2. Set “Hint style” to “hintingnone”
3. Load an auto-sized label in a wimfourms application

https://github.com/KSP-CKAN/CKAN/pull/2757#issuecomment-500224710

### Current Behaviour
Text is cut off

### Expected Behavior
The full label is visible

## On which platforms did you notice this

[ ] macOS
[ X] Linux
[ ] Windows

**Version Used**:
5.20.

[2019-06-09 18:52] HebaruSan commented on #14901
Elaborating on this, there are two fontconfig settings related to hinting, a bool (checkbox) and a style string (dropdown):

![image](https://user-images.githubusercontent.com/1559108/59162803-0478fa00-8abd-11e9-8787-ac3d9b821c34.png)

The string can have values hintnone, hintslight, hintmedium, and hintfull. The problem arises when the bool is true but the style is hintnone (seemingly the default

[2019-06-09 22:23] Josvds opened #14902 "Could not load file or assembly 'netstandard, Version=2.0.0.0..."
## Steps to Reproduce

1. Create a dotnet standard project
2. Attach this project to a .NET Framework 4.8 project
3. Build the application on Windows
4. Use mono to run this application on a Raspberry Pi 2 with Mono 5.4

### Current Behavior

I get the following error:
Unhandled Exception:
System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutr

[2019-06-10 02:29] steveisok commented on #14859
Interesting problem I noticed as I was testing out disabling inline from https://github.com/mono/mono/issues/14868

If I enable these tests and disable inline with:

 `MONO_ENV_OPTIONS="-O=-inline" make xtest-System.Collections.Tests` the tests pass.  By default, the tests fail.

Why would that be?

[2019-06-10 02:44] steveisok opened #14903 "[netcore] Make System.Diagnostics.Tests.ProcessTests.ProcessStart_UseShellExecute_ExecuteOrder Pass"
The test currently fails with:

[code]

@EgorBo Why would this timeout?

[2019-06-10 02:51] steveisok opened #14904 "[netcore] System.Diagnostics.Tests.ProcessTests.Kill_EntireProcessTree_True_CalledOnTreeContainingCallingProcess_ThrowsInvalidOperationException"
Nothing much to say about this test now other than it hangs.

The goal is to figure out why and make the test pass.

[2019-06-10 02:56] steveisok opened #14905 "[netcore] Make System.Diagnostics.TraceSourceTests.DefaultTraceListenerClassTests.EntryAssemblyName_Null_NotIncludedInTrace Pass"
The test currently fails with:

[code]

Determine why the test fails and make it pass.

[2019-06-10 03:01] steveisok opened #14906 "[netcore] Make Oneclass2methods.twoprms004.twoprms004.Test.DynamicCSharpRunTest Pass"
The test currently fails with:

[code]

Given the error above, try to make the test pass

[2019-06-10 03:11] steveisok opened #14907 "[netcore] Implement System.SR"
CoreCLR implementation is [here](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/Common/System/SR.cs)

This is relatively new to core, right?

[2019-06-10 03:13] steveisok opened #14908 "[netcore] Make BasicEventSourceTests.TestsManifestNegative.Test_GenerateManifest_InvalidEventSources Pass"
The test fails with the following error:

[code]

Once https://github.com/mono/mono/issues/14907 gets implemented, the test should make it farther.  The goal is to make this test pass.

[2019-06-10 03:16] steveisok opened #14909 "[netcore] Make BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener Pass"
The test currently fails with:

[code]

Given the above error, try to figure out why the test is really failing and make it pass.

[2019-06-10 03:18] steveisok opened #14910 "[netcore] Make BasicEventSourceTests.TestsWrite.Test_Write_T_EventListener_UseEvents Pass"
The test fails with the same error found in https://github.com/mono/mono/issues/14909.  Only creating this issue to track individual failures.

[2019-06-10 03:23] steveisok opened #14911 "[netcore] Make SetCurrentDirectory_SymLink.SetToPathContainingSymLink Pass"
The test currently hangs.  Determine why and make it pass.

[2019-06-10 03:28] steveisok opened #14912 "[netcore] Make System.Linq.Expressions.Tests.ArrayBoundsTests.NewArrayBounds* Pass"
There are ~68 tests that fail in the same way:

[code]

Determine what the problem is and make the tests pass.

[2019-06-10 03:37] steveisok opened #14913 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedNullableFloatToULongTest Pass"
The test crashes the process.  See https://gist.github.com/steveisok/c27463427034160a44117aef10901f78 for more info.

Determine why the test crashes, try to fix it, and make the test pass.

[2019-06-10 03:41] steveisok opened #14914 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedFloatToNullableULongTest Pass"
The test crashes the process in the same way as https://github.com/mono/mono/issues/14913.

This issue only exists to track individual tests.

[2019-06-10 03:41] steveisok opened #14915 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedFloatToULongTest Pass"
The test crashes the process in the same way as https://github.com/mono/mono/issues/14913.

This issue only exists to track individual tests.

[2019-06-10 03:42] steveisok opened #14916 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedNullableFloatToNullableULongTest Pass"
The test crashes the process in the same way as #14913.

This issue only exists to track individual tests.

[2019-06-10 03:44] steveisok opened #14917 "[netcore] Make System.Linq.Expressions.Tests.BindTests.GlobalField Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 03:46] steveisok opened #14918 "[netcore] Make System.Linq.Expressions.Tests.BindTests.ConstantField Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 03:50] steveisok opened #14919 "[netcore] Make System.Linq.Expressions.Tests.Return.TailCallThenReturn Pass"
The test currently fails with a double whammy:

[code]

Determine why the test fails and make it pass.

[2019-06-10 03:51] steveisok opened #14920 "[netcore] Make System.Linq.Expressions.Tests.ArrayAccessTests.ArrayAccess_MultiDimensionalOf1 Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 03:53] steveisok opened #14921 "[netcore] Make nomethod System.Linq.Expressions.Tests.ArrayAccessTests.NonZeroBasedOneDimensionalArrayAccess Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 03:55] steveisok opened #14922 "[netcore] Make System.Linq.Expressions.Tests.ArrayAccessTests.ArrayIndex_MultiDimensionalOf1 Pass"
Similar exception found in https://github.com/mono/mono/issues/14920.

Only reason why this issue exists is to track individual tests.

[2019-06-10 03:57] steveisok opened #14923 "[netcore] Make System.Linq.Expressions.Tests.UnaryArithmeticNegateCheckedNullableTests.VerifyIL_NullableShortNegateChecked Pass"
Similar exception as found in https://github.com/mono/mono/issues/14919.

Only reason this issue exists is to track individual failures.

[2019-06-10 04:00] steveisok opened #14924 "[netcore] Make System.Linq.Expressions.Tests.ExceptionHandlingExpressions.ExceptionThrownInFilter Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:01] steveisok opened #14925 "[netcore] Make System.Linq.Expressions.Tests.ExceptionHandlingExpressions.ExpressionsUnwrapeExternallyThrownRuntimeWrappedException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:03] steveisok opened #14926 "[netcore] Make System.Linq.Expressions.Tests.MemberAccessTests.Property_NoGetOrSetAccessors_ThrowsArgumentException Pass"
Similar exception found in #14920.

Only reason why this issue exists is to track individual tests.

[2019-06-10 04:04] steveisok opened #14927 "[netcore] Make System.Linq.Expressions.Tests.IndexExpressionTests.IndexedPropertySetterValueTypeNotMatchPropertyType Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:05] steveisok opened #14928 "[netcore] Make System.Linq.Expressions.Tests.IndexExpressionTests.IndexedPropertyGetReturnsWrongType Pass"
Similar stack trace found in https://github.com/mono/mono/issues/14927.

Only reason this issue exists is to track individual failures.

[2019-06-10 04:07] steveisok opened #14929 "[netcore] Make System.Linq.Expressions.Tests.IndexExpressionTests.NoAccessorIndexedProperty Pass"
Similar exception found in #14920.

Only reason why this issue exists is to track individual tests.

[2019-06-10 04:08] steveisok opened #14930 "[netcore] Make System.Linq.Expressions.Tests.IndexExpressionTests.IndexedPropertySetterNoParams Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:10] steveisok opened #14931 "[netcore] Make System.Linq.Expressions.Tests.ConvertTests.ConvertFloatToUIntTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:12] steveisok opened #14932 "[netcore] Make System.Linq.Expressions.Tests.ConvertTests.ConvertNullableFloatToUIntTest Pass"
The failure is the same as the one in https://github.com/mono/mono/issues/14931.

Only reason this issue exists is to track individual failures.

[2019-06-10 04:13] steveisok opened #14933 "[netcore] Make System.Linq.Expressions.Tests.ArrayBoundsTests.SingleNegativeBoundErrorMessage Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 04:14] steveisok opened #14934 "[netcore] Make System.Linq.Expressions.Tests.ArrayBoundsTests.MultipleNegativeBoundErrorMessage Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 06:28] Rombersoft opened #14935 "Memory leak on all versions mono and .net framework on Windows"
This issue is copy of  #14514 which was closed by https://github.com/marek-safar.
So I guess that nobody want to understand problem.

## Steps to Reproduce

1. Create console project 4 framework
2. Paste my code below
3. Paste my text file test.log near application.exe (attached at the end)
4. Run htop on terminal emulator above all windows
5. Run compiled application
6. Look at htop - using memor

[2019-06-10 07:04] MuhammadHamzaRajput commented on #13112
commit your code or take a copy of your project.
After the apply this command on package manager console "update-package".
After this clean build your project, then restart visual studio and rebuild your project.
This procedure work for me.

[2019-06-10 07:52] EgorBo commented on #14935
Your code at some point simply ends up with an endless loop where it allocates StringBuilders:
[code]
(when `NeedAppendString` is called for 419th or 418th line of `test.log`

Have you tried to debug it yourself before calling people stupid in the previous issue?

[2019-06-10 08:01] mikaelj commented on #13873
Which release will this be in?

[2019-06-10 08:14] #14935 closed

[2019-06-10 08:14] #14514 closed

[2019-06-10 08:57] loongson-gz commented on #14803
I stick a linux32 in front of autogen.sh and make. then  get the same err msg

[2019-06-10 09:59] mandel-macaque commented on #14876
@radical the results are from the bots, might be that the min VSMac that we are using there is the real issue.

[2019-06-10 11:34] mandel-macaque opened #14938 "[2019-06][iOS][tests] All SSL related test cases block on iOS"
While working on https://github.com/xamarin/xamarin-macios/pull/6196 the following BCL tests failed on iOS simulator and device:

* All tests in class System.Net.Security.Tests.SslStreamSniTest
* System.Net.Security.Tests.ClientAsyncAuthenticateTest.ClientAsyncAuthenticate_IndividualServerVsAllClientSupportedProtocols_Success(serverProtocol: Tls)
* System.Net.Security.Tests.ClientDefaultEncryption

[2019-06-10 12:47] filipnavara commented on #14859
I believe the tests check `Exception.TargetSite` so essentially it is the same issue as #14868. CoreCLR seems to always have the last stack frame the correct site of the exception even when inlining.

[2019-06-10 12:47] marek-safar commented on #14902
could you please include the produced folder with binaries or another way to reproduce this?

[2019-06-10 13:41] jeromelaban opened #14940 "[Wasm] WebAssembly.Net.Http.HttpClient fails under AOT"
## Steps to Reproduce

1. https://github.com/jeromelaban/Wasm.Samples/tree/master/HttpClientRepro
2. `msbuild /r /bl /p:Configuration=Release`
3. Browse using the `server.py` in the `bin/Release/netstandard2.0/dist` folder.

### Current Behavior
The first call fails with `RuntimeError: index out of bounds`
The second call works, but raises a native assert.

[code]

### Expected Behavior

Both call

[2019-06-10 13:51] spouliot commented on #14875
This affects both iOS and macOS on master
https://github.com/xamarin/xamarin-macios/pull/6226

[2019-06-10 13:57] spouliot commented on #14875
It looks like the problems stared after merging https://github.com/xamarin/xamarin-macios/pull/6221/files on our bots, which updated mono from

MIN_MONO_URL=https://xamjenkinsartifact.azureedge.net/build-package-osx-mono/2019-02/161/d75c142a4646af45f680cd90cafe05843d1d5945/MonoFramework-MDK-6.0.0.176.macos10.xamarin.universal.pkg

to

MIN_MONO_URL=https://xamjenkinsartifact.azureedge.net/build-pac

[2019-06-10 15:18] marek-safar commented on #13113
@kg could you retest if the issue is still there with master?

[2019-06-10 15:29] mandel-macaque commented on #14875
We have added the max version to be 176 and tests pass: https://github.com/xamarin/xamarin-macios/pull/6221

[2019-06-10 15:29] steveisok commented on #12846
@alexischr It looks like https://github.com/xamarin/monodroid/pull/927 has been resolved.  Can you please confirm?

[2019-06-10 15:29] mandel-macaque commented on #14876
We have reverted the max mono and tests pass: https://github.com/xamarin/xamarin-macios/pull/6221

[2019-06-10 15:38] alexischr commented on #12846
@steveisok confirmed (Xamarin Android integration no longer needs the monodroid bump PR)

[2019-06-10 15:57] Sturtuk opened #14941 "Non-web exception. Exception origin (name of application or object): mscorlib. - MAC"
###System.NotImplementedException

##The method or operation is not implemented.
##Description: HTTP 500.Error processing request.

Details: Non-web exception. Exception origin (name of application or object): mscorlib.

![Screenshot 2019-06-10 at 9 26 09 PM](https://user-images.githubusercontent.com/5758731/59208458-c2d47600-8bc6-11e9-934f-739fb7ec60ac.png)

[2019-06-10 16:08] steveisok opened #14942 "[netcore] Make System.Linq.Expressions.Tests.ConvertTests.ConvertNullableFloatToNullableUIntTest Pass"
Fails w/ same stack trace as https://github.com/mono/mono/issues/14931.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:10] steveisok opened #14943 "[netcore] Make System.Linq.Expressions.Tests.ConvertTests.ConvertFloatToNullableUIntTest Pass"
Fails w/ same stack trace as #14931.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:12] steveisok opened #14944 "[netcore] Make System.Linq.Expressions.Tests.BinaryCoalesceTests.VerifyIL_NullableIntCoalesceToNullableInt Pass"
Fails in same way as https://github.com/mono/mono/issues/14919.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:15] steveisok opened #14945 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedDoubleToULongTest Pass"
The test currently fails with:

[code]

Determine what we need to do and make the test pass.

[2019-06-10 16:16] marek-safar commented on #14877
I agree this code looks better and more readable than the reflection and the code like `(int)(dynamic)value` scares me a lot ;-)

[2019-06-10 16:17] steveisok opened #14946 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedDoubleToNullableULongTest Pass"
Fails the same way as https://github.com/mono/mono/issues/14945.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:26] steveisok opened #14947 "[netcore] Make ystem.Linq.Expressions.Tests.UnaryArithmeticNegateCheckedTests.VerifyIL_ShortNegateChecked Pass"
Fails similar to https://github.com/mono/mono/issues/14919

Only reason this issue is here is to track individual failures.

[2019-06-10 16:30] steveisok opened #14948 "[netcore] Make System.Linq.Expressions.Tests.ConvertCheckedTests.ConvertCheckedNullableDoubleToULongTest Pass"
Fails similar to https://github.com/mono/mono/issues/14945.

Only reason this issue exists is to track the failure.

[2019-06-10 16:34] marek-safar commented on #14941
System.Transaction is quite windows specific assembly and we don't have full cross-platform implementation

[2019-06-10 16:34] #14941 closed

[2019-06-10 16:37] steveisok opened #14949 "[netcore] Make System.Linq.Expressions.Tests.BlockTests.InsignificantBlock Pass"
Fails similarly to https://github.com/mono/mono/issues/14919

Only reason this issue exists is to track individual failures.

[2019-06-10 16:40] steveisok opened #14950 "[netcore] Make System.Linq.Expressions.Tests.CallTests.EnumArgAndReturn Pass"
Test currently fails with:

[code]

Determine what is causing the failure and make it pass.

[2019-06-10 16:42] steveisok opened #14951 "[netcore] Make System.Linq.Expressions.Tests.CallTests.MethodName_TypeArgsDontMatchConstraints_ThrowsArgumentException Pass"
Test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 16:46] steveisok opened #14952 "[netcore] Make System.Linq.Expressions.Tests.ArrayIndexTests.NonZeroBasedOneDimensionalArrayIndex Pass"
Fails similarly to https://github.com/mono/mono/issues/14930.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:47] steveisok opened #14953 "[netcore] Make System.Linq.Expressions.Tests.ArrayIndexTests.NonZeroBasedOneDimensionalArrayIndexMethod Pass"
Fails similarly to #14930.

Only reason this issue exists is to track individual failures.

[2019-06-10 16:48] steveisok opened #14954 "[netcore] Make System.Linq.Expressions.Tests.CompilerTests.VerifyIL_* Pass"
Fails similarly to https://github.com/mono/mono/issues/14919

Only reason this issue exists is to track individual failures.

[2019-06-10 17:26] nikmartin commented on #14875
According to later messages in this issue, reverting to 6.0.0.176 should fix this, but it doesn't for me. I have also reverted to 5.18.1 and the issue persists

[2019-06-10 17:42] hkleynhans commented on #12700
I am experiencing this today.  What was the resolution?

[2019-06-10 17:47] steveisok opened #14956 "[netcore] Make System.Linq.Parallel.Tests.PlinqModesTests.WithExecutionMode_Multiple Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-10 18:04] DmitriyW9 commented on #12700
Mono got support for it [https://github.com/mono/mono/pull/14734](url)

[2019-06-10 18:39] alexischr opened #14957 "[bockbuild] Non-git sources (like Nuget) don't have their cache invalidated properly"
(Opening issue here as we disabled issues from https://github.com/mono/bockbuild)

This issue mostly shows up at https://github.com/mono/mono/blob/master/packaging/MacSDK/nuget.py#L7 , where changing the URL does not trigger a re-processing of the package as expected.

Bockbuild uses a "buildstring" (saved as `artifacts/packagename.buildstring`) to decide if it will re-build a package or not. The

[2019-06-10 19:38] steveisok opened #14959 "[netcore] Make System.SpanTests.SpanTests.MemoryMarshal_GenericStaticReturningSpan Pass"
The test currently fails with:

[code]

Determine what's causing the problem and make the test pass.

[2019-06-10 19:40] steveisok opened #14960 "[netcore] Make System.SpanTests.SpanTests.Span_Property Pass"
Fails in the same way as https://github.com/mono/mono/issues/14959

Only reason this issue exists is to track individual failures.

[2019-06-10 19:41] steveisok opened #14961 "[netcore] Make System.SpanTests.SpanTests.ReadOnlySpan_Property Pass"
Fails in the same way as #14959

Only reason this issue exists is to track individual failures.

[2019-06-10 19:43] lewing commented on #9225
@radical let's try this again and document what things are failing

[2019-06-10 19:43] steveisok opened #14962 "[netcore] Make System.SpanTests.SpanTests.ReadOnlyMemory_PropertyReturningReadOnlySpan Pass"
The test currently fails with:

[code]

Determine what the problem is and make the test pass.

[2019-06-10 19:45] steveisok opened #14963 "[netcore] Make System.SpanTests.SpanTests.MemoryExtensions_StaticReturningReadOnlySpan Pass"
Fails the same as https://github.com/mono/mono/issues/14959

Only reason this issue exists is to track individual failures.

[2019-06-10 19:52] radical commented on #14875
@mandel-macaque Is there a requirement that you must use vsmac 7.x ? This issue is fixed with vsmac >8.0 .
The issue here is that newer msbuild dropped the `ToolsVersion=15.0` and replaced it with `ToolsVersion=Current`. VSMac tries to use `15.0`, and new msbuild can't find it, thus a roslyn property `$(RoslynTargetsPath)` is not set, causing msbuild to look for the `Microsoft.CSharp.Core.targets`

[2019-06-10 19:54] lambdageek commented on #14959
This probably needs some runtime work.  /cc @CoffeeFlux

[2019-06-10 19:55] radical commented on #14875
@nikmartin I think you are hitting a different issue now. Do you have `/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/iOS/Xamarin.iOS.CSharp.targets`? And whats the exact mono version that you are using? `mono -- version`

[2019-06-10 20:00] radical commented on #14876
I will open a PR and try to debug this on CI itself, since I can't reproduce this locally :/

[2019-06-10 20:43] Josvds commented on #14902
Sorry, I did figure out installing "mono-complete" solved my issue. I don't know which package I need to install a side to the runtime/develop version. But this works for me.

[2019-06-10 20:43] #14902 closed

[2019-06-10 20:57] filipnavara commented on #14959
Corresponding native stack trace:
[code]

[2019-06-10 21:21] spouliot commented on #14875
@radical thanks! we're trying to bump to 8.0 on `master` and will backport to other branches if it solves the issue.

[2019-06-10 21:30] radical commented on #14875
@mrward @rodrmoya Is the issue fixed in 8.0 or 8.1? Can you suggest version to use here (and on https://github.com/xamarin/xamarin-macios/pull/6238)?

[2019-06-10 21:44] filipnavara commented on #14959
It looks like it is the missing part from https://github.com/mono/mono/pull/13901 that I did back in April. The fix should likely go somewhere around icall.c:3554.

[2019-06-10 21:46] jaykrell commented on #13804
If adding —host fixes it, consider removing —build then.
Letting —build be detected should be ok.
It shouldn’t affect eventual output, when —host is explicit.
Right?

[2019-06-10 21:49] filipnavara commented on #14959
Amending [the code](https://github.com/mono/mono/blob/3dd5240c72f49eeced489f27ac1725506c13e08d/mono/metadata/icall.c#L3551-L3562) to check IsByRefLike fixes the tests:
[code]

[2019-06-10 21:49] baulig commented on #12577
The corefx HttpClient got rolled out on Desktop and Web Assembly.  It was originally planned to also roll it out on all profiles - but this got abandoned, so there is no ETA for it.

I will have a look at this today to see whether we can implement it in the existing HttpClient - though getting it into 2019-02 is a different story and it is not up to me to decide whether or not that will happen.

[2019-06-10 22:08] jaykrell opened #14968 "[RFC] Multiple cross-compilers in one."
When configuring mono as a cross compiler (AOT),

I think it'd be helpful, to have "all" the backends.

At least all the AOT ones -- x86?, amd64, arm32, arm64, wasm.

This would cut down actual build matrices and build times, right?

Instead of H(ost) x T(arget) it'd be more like 2H.
One unchanged native per host and one cross per host.

Arguably, also, the native "desktop" runtimes could afford t

[2019-06-10 22:21] naricc commented on #14196
Right, I marked it closed because I verified it was fixed in 6. I will keep it closed unless we decide to backport the fix.

[2019-06-10 22:43] baulig commented on #12577
Well, good news!  It looks like I just need to hookup that property.

[2019-06-10 23:00] lambdageek commented on #13289
Related to #14486

[2019-06-10 23:09] baulig commented on #12577
PR is up: https://github.com/mono/mono/pull/14970

[2019-06-10 23:21] lambdageek commented on #14864
@marek-safar I think yes... I'm pretty sure I've seen errors when a subclass needs to serialize and its base class is not Serializable.

[2019-06-11 01:47] spouliot commented on #14875
Results from https://github.com/xamarin/xamarin-macios/pull/6238 seems to indicate that setting the minimum to VS4M 8.0 fix the issue. Thanks!

[2019-06-11 01:48] #14875 closed

[2019-06-11 02:06] radical commented on #14876
This should be fixed with https://github.com/xamarin/xamarin-macios/pull/6238 as all the msbuild tests pass now.

[2019-06-11 02:06] #14876 closed

[2019-06-11 04:25] alexbk66 commented on #14196
So, is it actually fixed in 6?  Can I tell my customers to upgrade to 6?

[2019-06-11 05:28] kjpou1 commented on #14940
Hello @jeromelaban

Maybe I am doing something wrong on my end but not able to reproduce

Build with
[code]

Output:
[code]

[code]
initializing mono runtime
mono.js:1 DEBUGGING ENABLED
mono.js:1 >>mono_wasm_runtime_ready
uno-bootstrap.js:324 Done loading the BCL
uno-bootstrap.js:395 Debugging hotkey: Shift+Cmd+D (when application has focus)
mono.js:1 ﻿[{"CountryCode":"USA","CountryName":"United S

[2019-06-11 06:38] Lazys commented on #12577
Thx man, It's really good to hear that sth has moved about this issue :)

[2019-06-11 07:00] grendello opened #14971 "File.Move no longer moves dangling symlinks properly on macOS systems"
When `File.Move` encounters a dangling symlink on `macOS` (it's possible other BSD-based Unix systems will behave in the same way. Linux is not affected.), it will fail to move the file to its destination, throwing the following exception:

[code]

The cause of this is behavior of the `link(2)` system call on `macOS` which will attempt to follow the symlink and return an error with `errno` set to

[2019-06-11 07:10] rolfbjarne opened #14972 "Xamarin.iOS: System.ExecutionEngineException: Attempting to JIT compile method '(wrapper delegate-begin-invoke) System.IAsyncResult System.Func`2<ExecutionEngineExceptionTest.AppDelegate, bool>:begin_invoke_IAsyncResult__this___T_AsyncCallback_object (ExecutionEngineExceptionTest.AppDelegate,System.AsyncCallback,object)'"
## Steps to Reproduce

Run this project on an iOS device: [eeetestcase1.zip](https://github.com/mono/mono/files/3275129/eeetestcase1.zip)

<details>
<summary>Inlined sample code</summary>

[code]

</details>

### Current Behavior

An ExecutionEngineException, which is printed to the Application Output:

[code]

The app also turns red.

### Expected Behavior

No ExecutionEngineException (and green

[2019-06-11 07:16] rolfbjarne opened #14973 "Xamarin.iOS: System.ExecutionEngineException: Attempting to JIT compile method '(wrapper delegate-begin-invoke) System.IAsyncResult System.Func`2<Library.SomeDelegate`1<EEETestCase.AppDelegate>, bool>:begin_invoke_IAsyncResult__this___T_AsyncCallback_object (Library.SomeDelegate`1<EEETestCase.AppDelegate>,System.AsyncCallback,object)'"
## Steps to Reproduce

Run this project on an iOS device: [eeetestcase2.zip](https://github.com/mono/mono/files/3275149/eeetestcase2.zip)

This looks very similar to #14972, but the difference is that in this case the offending code has to be in a referenced assembly. If it's included in the executable itself, the code works just fine.

This comes from VSTS #[900808](https://devdiv.visualstudio.co

[2019-06-11 10:24] marek-safar commented on #9664
@jgold6 yes

[2019-06-11 10:34] MaximLipnin commented on #14486
Not sure if it's directly related to current issue but it looks like [this comment](https://github.com/mono/mono/blob/master/mono/utils/mono-proclib.c#L782-L838 ) could give some insight:
[code]

[2019-06-11 11:01] jeromelaban commented on #14940
I forgot to mention, AOT is only available under Linux (no macOS binaries in the artifacts, and I don’t know how to use the windows ones)

[2019-06-11 11:43] steveisok commented on #14486
@lambdageek does this make any sense to you?

[2019-06-11 11:57] kjpou1 commented on #14940
Yeah, no linux machine here.  Will need to try to recreate on Mac.

[2019-06-11 12:03] Therzok opened #14975 "Mono profiler crashes when running IDE leak tests for VSMac"
## Steps to Reproduce

1. Run and build MonoDevelop
2. Build tests/StressTest
3. `mono StressTest.exe`

### Current Behavior

Tests crash shortly after IDE automation sequence starts

### Expected Behavior

The tests run as before.

## On which platforms did you notice this

[*] macOS
[ ] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 6.0.0.283 (2019-02/240aa5b900f Wed Jun  5 17:2

[2019-06-11 12:06] Therzok commented on #14975
[code]

[2019-06-11 12:06] Therzok commented on #14975
[code]

[2019-06-11 12:28] lambdageek commented on #14975
I think `mono_gchandle_new` (in external-only.c) needs `MONO_EXTERNAL_ONLY_GC_UNSAFE` - https://github.com/mono/mono/blob/3c74df566776f468366d96dd164dd1a6b3d780cc/mono/metadata/external-only.h#L15

[2019-06-11 13:53] steveisok commented on #14971
We also may want to check File.Copy while we're at it.

[2019-06-11 14:53] steveisok commented on #14971
/cc @lambdageek

[2019-06-11 15:26] adv-sw opened #14977 "Security: Whitelisting assemblies permitted to make native p/invoke calls to deliver secure scripting."
System overview : [native_app] <---> [trusted custom managed bootstrap assembly] <---> [untrusted managed app assemblies]

1. I want out trusted managed bootstrap to be able to p/invoke to make wrapped native class calls into our native app.
2. I want untrusted managed apps to be blocked if they attempt to p/invoke anything.
3. I want trusted system assemblies to be able to make p/invoke calls as

[2019-06-11 15:49] marek-safar commented on #14864
/cc @steveisok

[2019-06-11 16:29] lewing commented on #14871
@SteveSandersonMS I notice this is failing in a similar place as https://github.com/aspnet/AspNetCore/issues/9712 is it unrelated?

[2019-06-11 16:43] lewing commented on #14871
/cc  @lambdageek

https://github.com/dotnet/corefx/blob/05171beb453577b516caa051ce2bea2ae48d4b83/src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoNotNullable.cs#L70

This looks suspiciously like it might be ref struct related

[2019-06-11 16:53] marek-safar commented on #14973
@vargaz any ideas why external reference can make a difference here?

/cc @SamMonoRT

[2019-06-11 17:03] marek-safar commented on #12996
I think this was fixed during the integration

[2019-06-11 17:05] marek-safar commented on #14882
@BrzVlad any update on this?

/cc @SamMonoRT

[2019-06-11 17:08] jeromelaban commented on #14940
@kjpou1 if you want to repro on a mac, you can replace the linux binaries in the `/tmp/mono-wasm-xxxx` folder with the macOS binaries. I'm also using [that container for linux](https://cloud.docker.com/u/nventive/repository/docker/nventive/wasm-build), if that's of any help.

[2019-06-11 17:11] marek-safar commented on #14872
@SamMonoRT could you assign this issue

[2019-06-11 17:51] alexanderkyte commented on #14977
I think I've found the exact place to make a hacky version of this for the JIT/AOT backend. Interpreter would need it's own thing. Confirming now.

[2019-06-11 17:52] vargaz commented on #14977
The proper place to do this is probably an IL preprocessor, not the runtime.

[2019-06-11 17:54] rodrmoya commented on #14875
the `Current` bit, in 8.1 only.

[2019-06-11 18:13] vargaz commented on #14972
This is reproducible on desktop as well:
[code]
When running with full-aot.

[2019-06-11 20:11] alexanderkyte commented on #14977
I agree with @vargaz there that the highest quality way to surface this would be through the linker or something.

You can always break that though using SRE, so you need some kind of assertion at the very least.

[2019-06-11 20:14] CoffeeFlux commented on #14724
With the following C program (which I've called printout.c):
[code]
and the following C# program:
[code]
you get different results between Mono and .NET Core in VS4M, at least on OSX.
Mono output:
[code]
Core output:
[code]

[2019-06-11 20:22] kg commented on #13113
[code]

[2019-06-11 20:36] kg commented on #13113
As of latest master if I install openmp, I get this even after modifying Directory.Build.props:
[code]
4.6.1 doesn't work either. Not sure what changed

[2019-06-11 20:57] alexanderkyte commented on #14977
Looks like you can filter here on the assembly that `method` belong to:

[code]

[2019-06-11 21:00] alexanderkyte commented on #14977
Which means that this mode would amount to:

1. Having a ghashtable from MonoImage to gboolean that says whether each assembly loaded is allowed to have pinvokes. Could also add a field to MonoImage.
2. Adding an option to driver.c that specifies this assertion
3. Making interpreter use the lookup table added by 1 too
4. Find out which things we always want to enable other than corlib (may be just

[2019-06-11 21:29] thaystg commented on #13921
It's working.

[2019-06-11 21:29] #13921 closed

[2019-06-11 23:08] Therzok commented on #14971
Was File.Move changed to use corefx code? I know old mono used an atomic move pinvoke/icall, which probably is no longer used.

[2019-06-12 00:15] steveisok opened #14993 "[netcore] Make System.SpanTests.SpanTests.Span_StaticOperator Pass"
The test currently fails with:

[code]

Looks like we need to throw here.  Goal is to make the test pass.

[2019-06-12 00:17] steveisok opened #14995 "[netcore] Make System.SpanTests.SpanTests.ReadOnlySpan_Constructor Pass"
Fails the same way as https://github.com/mono/mono/issues/14993.

This is a tracking issue for the failure.

[2019-06-12 00:18] steveisok opened #14996 "[netcore] Make System.SpanTests.SpanTests.ReadOnlySpan_Operator Pass"
Fails the same way as #14993.

This is a tracking issue for the failure.

[2019-06-12 00:19] steveisok opened #14997 "[netcore] Make System.SpanTests.SpanTests.Span_Constructor Pass"
Fails the same way as #14993.

This is a tracking issue for the failure.

[2019-06-12 00:20] steveisok opened #14998 "[netcore] Make System.SpanTests.SpanTests.Span_InstanceMethod Pass"
The test currently fails with:

[code]

Determine what is causing the failure and make the test pass.

[2019-06-12 00:22] steveisok opened #14999 "[netcore] Make System.SpanTests.SpanTests.Memory_PropertyReturningSpan Pass"
Fails the same way as https://github.com/mono/mono/issues/14998

This is a tracking issue for the failure.

[2019-06-12 00:23] steveisok opened #15000 "[netcore] Make System.SpanTests.SpanTests.ReadOnlySpan_InstanceMethod Pass"
Fails the same way as #14998

This is a tracking issue for the failure.

[2019-06-12 00:25] steveisok opened #15002 "[netcore] Make System.Buffers.Tests.ArrayBufferWriterTests_String.Invalid_Ctor Pass"
The test currently fails with:

[code]

Determine why we aren't throwing and make the test pass.

[2019-06-12 00:26] steveisok opened #15003 "[netcore] Make System.Buffers.Tests.ArrayBufferWriterTests_Char.Invalid_Ctor Pass"
Fails the same way as https://github.com/mono/mono/issues/15002

This is a tracking issue for the failure.

[2019-06-12 00:27] steveisok opened #15004 "[netcore] Make System.Buffers.Tests.ArrayBufferWriterTests_Byte.Invalid_Ctor Pass"
Fails the same way as #15002

This is a tracking issue for the failure.

[2019-06-12 00:40] steveisok opened #15005 "[netcore] Make System.Net.Http.Functional.Tests.*PlatformHandler* Pass"
So, this is a suite of tests that when run crash mono.  Consult the gist for detailed info.

https://gist.github.com/steveisok/e789ecde759a45f2d82ccf3318b369e5

The crash happens in Interop.Http.MultiPerform, which may be a marshaling issue

[2019-06-12 00:48] steveisok opened #15006 "[netcore] Make System.Net.Http.Functional.Tests.SocketsHttpHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticSourceActivityLoggingRequestId Pass"
The test currently fails with:

[code]

This is an out of proc call similar to # https://github.com/mono/mono/issues/14903.  Goal is to make the test pass.

[2019-06-12 00:49] steveisok opened #15007 "[netcore] Make System.Net.Http.Functional.Tests.SocketsHttpHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticSourceActivityLoggingW3C Pass"
Fails similar to https://github.com/mono/mono/issues/15006

This is a tracking issue for the specific failure.

[2019-06-12 01:11] steveisok opened #15008 "[netcore] Make System.Net.Tests.HttpListenerResponseCookiesTests Pass"
This is a whole suite of tests that fail in the same way.  The skip file includes the whole class and shows the following error:

[code]

Determine why the test fails and make it pass.

[2019-06-12 01:14] steveisok opened #15009 "[netcore] Make System.Net.Sockets.Tests.UdpClientTest.Finalize_NoExceptionsThrown Run & Pass"
The test is not run due Mono not supporting a precise GC.

Here's what is returned:

[code]

Once (or if) the precise GC is supported, rerun the test and make it pass.

[2019-06-12 01:17] steveisok opened #15010 "[netcore] Make System.Net.Sockets.Tests.CreateSocket.CtorAndAccept_SocketNotKeptAliveViaInheritance Pass"
The test hangs and fails with:

[code]

This is similar to https://github.com/mono/mono/issues/14903

[2019-06-12 03:42] hongde88 opened #15011 "How can I re-inject a new version of a DLL with mono?"
Hi everyone, I run into some issue when trying to re-inject a new version of a DLL into a target process. Basically, I injected a DLL into a target process with embedding mono APIs. I then modified my DLL and wanted to re-inject into the same process. However, it seems like the target process won't be able to pick up my new DLL until I restart it. So I'm wondering if there's a way to re-inject dif

[2019-06-12 03:56] jaykrell commented on #15011
What do you mean by "inject"?

And to the wider mono audience, independent of this "injection" thingy, does mono cleanup enough after itself and its embedded user, in order to support an orderly unloading and loading a new one? It is both normal expected behavior (dlclose/FreeLibrary), and rarely implemented/used behavior, of code in general. I don't think desktop CLR supports it for example.

A l

[2019-06-12 04:01] kjpou1 commented on #14940
@jeromelaban No problem. I am able to recreate it using master.  There is an extra dispose when parsing the headers returned.  Should have a fix shortly.

[2019-06-12 05:09] hongde88 commented on #15011
Hi Jay, I know this use case rarely happens. However, I just wanted to be able to test my DLL without having to restart the process each time I modify my DLL :(

[2019-06-12 06:26] marek-safar commented on #15009
This is normal exclusion condition (we have several of them), we won't have IsPreciseGcSupported anytime soon.

[2019-06-12 06:26] #15009 closed

[2019-06-12 08:30] kjpou1 commented on #8216
Closed by: https://github.com/mono/mono/pull/14308

[2019-06-12 08:30] #8216 closed

[2019-06-12 11:35] steveisok opened #15021 "[netcore] Make System.Reflection.Tests.AssemblyNameTests.Ctor_String_Invalid Pass"
The test currently fails with:

[code]

Find out why we're not throwing and make the test pass.

[2019-06-12 11:37] steveisok opened #15022 "[netcore] Make System.Reflection.Tests.AssemblyNameTests.Version Pass"
The test currently fails with:

[code]

Find out why the right version isn't being returned and make the test pass.

[2019-06-12 11:39] steveisok opened #15023 "[netcore] Make System.Reflection.Tests.GetTypeTests.GetType_EmptyString Pass"
The test currently fails with:

[code]

Find out why and make the test pass.

[2019-06-12 11:41] steveisok opened #15024 "[netcore] Make System.Reflection.Tests.MethodInfoTests.Invoke_OptionalParameterUnassingableFromMissing_WithMissingValue_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Figure out why we're not throwing and make the test pass.

[2019-06-12 11:43] steveisok opened #15025 "[netcore] Make System.Reflection.Tests.ConstructorInfoTests.Invoke_StaticConstructor_ThrowsMemberAccessException Pass"
The test currently fails with:

[code]

The inital thought was that static ctors cannot be invoked with one Invoke overload.  Figure out why the test fails and make it pass.

[2019-06-12 11:45] steveisok opened #15026 "[netcore] Make System.Reflection.Tests.ConstructorInfoTests.Invoke_AbstractClass_ThrowsMemberAccessException Pass"
The test currently fails with:

[code]

Determine why we're giving different exception and make the test pass.

[2019-06-12 11:47] steveisok opened #15027 "[netcore] Make System.Reflection.Tests.PropertyInfoTests.GetValue_Invalid Pass"
The test currently fails with:

[code]

Determine why the expected exceptions are different and make the test pass.

[2019-06-12 11:49] steveisok opened #15028 "[netcore] Make System.Reflection.Tests.TypeInfoTests.IsEnumDefined_Invalid Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-12 11:55] steveisok opened #15029 "[netcore] Make System.Reflection.Tests.TypeInfoTests.FindMembers Pass"
The test currently fails with:

[code]

It appears we have two extra instance methods on Object, which makes this test fail.  If that can't change, we may want to modify the tests to detect which VM is running and act accordingly.

[2019-06-12 12:02] steveisok opened #15030 "[netcore] Make System.Reflection.Tests.TypeInfoTests.GetMethods(bindingAttributes Pass"
Similar to https://github.com/mono/mono/issues/15029

This is a tracking issue.

[2019-06-12 12:03] steveisok opened #15031 "[netcore] Make System.Reflection.Tests.TypeInfoTests.GetMembers Pass"
Similar to #15029

This is a tracking issue.

[2019-06-12 12:03] steveisok opened #15032 "[netcore] Make System.Reflection.Tests.TypeInfoTests.GetMethod Pass"
Similar to #15029

This is a tracking issue.

[2019-06-12 12:42] #14729 closed

[2019-06-12 12:58] adv-sw commented on #14977
Thanks guys. Appreciate the prompt attention you've given this.

Is extending this whitelist to block any other form of unsafe operation straightforward enough ?

If so, please add that to the spec.

[2019-06-12 13:29] steveisok opened #15037 "[netcore] Make System.Reflection.Tests.ParameterInfoTests.RawDefaultValueFromAttribute Pass"
The test currently fails with:

[code]

CustomConstantAttribute may not be supported, so if that's the case add it and try to make the test pass.

[2019-06-12 14:48] mandel-macaque opened #15040 "[MacOS][2019-06] System.Runtime.CompilerServices.UnsafeTests.ReadWriteDoublePointe Fails on Mac"
On Mac OS X Full the System.Runtime.CompilerServices.UnsafeTests.ReadWriteDoublePointe fails with the following assertion:

This test does not fail on master, but it might be a new test.

The tests was ignored in PR https://github.com/xamarin/xamarin-macios/pull/6196

[2019-06-12 15:27] marek-safar commented on #15040
@mandel-macaque is it same as #14872 ?

[2019-06-12 15:27] lambdageek commented on #15011
@hongde88 The short answer is that this is currently not supported by Mono.

The longer answer is: if you're willing to do something relatively awkward, you can probably make it work.  If you are loading the DLL into a new appdomain, then you can unload that appdomain and create a new one and it should pick up the new version of the DLL.  To be sure that the new version is loaded, you would need t

[2019-06-12 15:27] #15011 closed

[2019-06-12 15:35] mandel-macaque commented on #15040
@marek-safar ha, I missed it, let's mark it as a duplicate.

[2019-06-12 15:39] alexanderkyte commented on #14843
@akoeplinger I think we can close this

[2019-06-12 15:39] #14843 closed

[2019-06-12 15:44] alexanderkyte commented on #14817
To help you understand this, it is running this code here:
https://github.com/mono/mono/blob/master/mono/mini/aot-compiler.c#L9691-L9699

[code]

which makes me fear that you may have to recompile Mono if you're hoping to use that workflow.

You may have an easier time passing `--aot=asmonly,llvm-outfile=foo.bc` and then running clang++ on it yourself. That will give you all of the freedom here to

[2019-06-12 15:54] directhex commented on #12996
Reopening and putting on the 2019-06 milestone, since this breaks VS in 2019-06: https://github.com/xamarin/md-addins/pull/4758

[2019-06-12 15:59] #15040 closed

[2019-06-12 16:44] t-takhan commented on #14817
Hello @alexanderkyte
Thank you very much for describing both the ways. I will try the first ways.

I have already tried the second approach with flag `--aot=asmonly,llvmonly,llvm-outfile=foo.bc`. Unfortunately, the generated `foo.bc` does not contain any `main` function and could not be compiled into a standalone executable. It can only be compiled as a shared library with `-fpic -shared`. However

[2019-06-12 16:55] lewing opened #15041 "[wasm] diagnose aot the warning when loading types from bindings assemblies"
When using the http bindings the type lookups result in a warning when looking up the assemblies.

[2019-06-12 16:57] #14871 closed

[2019-06-12 16:58] marek-safar commented on #12996
@baulig please address the issue

/cc @steveisok

[2019-06-12 17:03] directhex commented on #12996
The proposal on the Xam.Mac side is to stop using the constructor in question. I have no strong feelings on whether the fix should be on their side or ours. https://github.com/mono/monodevelop/issues/7155

[2019-06-12 17:25] adv-sw commented on #14977
Configuration on a per MonoDomain basis please. That delivers maximum flexibility without hopefully complicating anything. Thanks again, appreciating the rapid turnaround on this.

[2019-06-12 17:50] steveisok commented on #12996
if we are saying it's obsolete and Xam.Mac are willing to change it, then let's allow them.  Unless I'm missing something?

[2019-06-12 17:53] baulig commented on #12996
I have asked a couple of times over the past few weeks and the answer has been that the problem is already fixed, apparently that was incorrect.

[2019-06-12 18:13] directhex commented on #12996
If it was fixed in Xam.Mac, do we know where? Maybe VSM needs a newer version

[2019-06-12 18:35] baulig commented on #12996
@directhex Alexander (don't want to ping him here as he's currently enjoying his vacations) told me that it was fixed as part of the 2019-02 and 2019-06 integration.

I'll have a look at the xamarin-macios source code (am also currently building that locally) to figure out.

[2019-06-12 18:43] baulig commented on #12996
https://github.com/xamarin/xamarin-macios/commit/6197899ebd51dfc64574074850d6c343fc6a7232

[2019-06-12 18:46] directhex commented on #12996
Yeah, so the issue as I see it is https://github.com/xamarin/xamarin-macios/commit/6197899ebd51dfc64574074850d6c343fc6a7232#diff-7f619be41b43eaaed811ff8b330f769cR809 is recycling the internal constructor, but it is not working, hence the spew on https://github.com/xamarin/md-addins/pull/4758#issuecomment-501021623 and friends. I wonder if the issue is InternalsVisibleTo related...

[2019-06-12 18:52] baulig commented on #12996
Okay, disregard what I said before - turns out that the issue is not fixed after all.

[2019-06-12 18:53] baulig commented on #12996
The internal constructor has to go away.  Let me take care of this.

[2019-06-12 18:55] baulig commented on #12996
@directhex Expect a PR from my by hopefully end-of-day today.

[2019-06-12 18:59] directhex commented on #12996
I'm pretty sure it's InternalsVisibleTo. VS is using System.Net.Http from Mono, not from Xam.Mac, and only the Xam.Mac version has InternalsVisibleTo[Xam.Mac] - i.e. NSUrlSessionDataTaskStreamContent only works with Xam.Mac System.Net.Http.

[2019-06-12 19:15] alexanderkyte commented on #14977
@adv-sw the question of how to expose the option to the end user is going to be 90% of the labor, if my triage of it seems accurate. How do *you* hope to use this?

[2019-06-12 19:16] alexanderkyte commented on #14817
@t-takhan if you check out the above code sample, our usage of clang uses

[code]

which may be closer to what you want than

[code]

[2019-06-12 19:26] directhex commented on #13804
Why are we still shipping pkg-config to users?

We're telling people to use `csc` instead of `mcs` so the `-pkg:foo` syntax goes away

MSBuild doesn't support pkg-config references (xbuild did)

And I'm pretty sure VS doesn't support pkg-config resolution any more?

[2019-06-12 19:30] baulig commented on #12996
PR is up: https://github.com/xamarin/xamarin-macios/pull/6277

[2019-06-12 19:31] lewing opened #15045 "[wasm] review wasm Invoke bindings"
Review the api of Invoke

[2019-06-12 20:17] jaykrell commented on #14724
Sorry to be negative but there are no good answers here.

Every solution will have holes.

If you want an array of strings, use an array.

Smushing the array into a string cannot be done unambiguously.

There are too many quoters and unquoters to have any chance.

If you want to pass it across a process boundary, use an RPC mechanism with some level of typing.

Posix exec does actually pass "split

[2019-06-12 20:19] baulig commented on #12577
Sure.  The problem was simply that I got moved off to another high-priority project.

[2019-06-12 20:34] CoffeeFlux commented on #14724
There's definitely no perfect solution, but eglib not handling single quotes with escape characters properly is an easy fix. We'll probably never perfectly align with Core, but we should at least try to have consistent behavior for common cases, which is currently not the case.

[2019-06-12 21:11] vargaz commented on #14872
Desktop testcase:
[code]

mono bug.exe
X1: 20

mono -O=-inline bug.exe
X1: 10

mono -O=-alias-analysis,-inline bug.exe
X1: 20

It looks like the problem is in the alias-analysis pass.

[2019-06-12 21:12] vargaz commented on #14872
It happens in debug mode on ios which disables inlining.

[2019-06-12 21:15] BrzVlad commented on #14872
@vargaz thanks for the repro. Are you looking into this bug or I can take it ?

[2019-06-12 22:04] kg commented on #13113
I got closer to a successful build but still cannot reproduce.

[code]

[2019-06-12 22:06] steveisok opened #15048 "[aot] Duplicate .fnstart Directive Compiler Error"
When building https://github.com/xamarin/xamarin-android/pull/3155, we're noticing AOT compilation failures on Windows & Mac (both Release & Debug builds).  Specifically for mac:

[code]

The workspace that contain the .s files and other artifacts is forthcoming once I know the best way to provide them.

[2019-06-12 22:16] lambdageek commented on #15048
The three functions that have a `.fnstart` but not an `.fnend` are `gc.safepoint_poll`, `llvm_code_start` and `llvm_code_end`.

excerpt from `temp-llvm.s`
<details>
<pre>
	.file	"aot"
	.weak	gc.safepoint_poll
	.p2align	2
	.type	gc.safepoint_poll,%function
	.code	32
gc.safepoint_poll:
.Lfunc_begin0:
	.fnstart
	ldr	r0, .LCPI0_0
.LPC0_0:
	add	r0, pc, r0
	ldr	r1, [r0, #28]
	ldr	r1, [r1]
	cmp	r1, #0
	m

[2019-06-12 22:38] vargaz commented on #15048
Need to bump llvm to the above version for the fix.

[2019-06-12 23:23] baulig commented on #14938
I spent some time investigating this and they're all failing in the static constructor of the internal `Configuration.Certificates` class here: https://github.com/mono/mono/blob/f87af4bfefb6a9c13f20920ac6cc80009aedfa53/mcs/class/test-helpers/Configuration.Certificates.cs#L34.

[2019-06-13 00:40] lambdageek commented on #13374
All the tests mentioned in the issue are marked `[Fact]` in roslyn.

This looks fixed.

[2019-06-13 00:40] #13374 closed

[2019-06-13 04:57] softworkz commented on #14848
Hi,

we're experiencing the same issue with our Xamarin Android application. We're not using Couchbase in any way.

Those are the last log lines before death:

[code]

It's the same assertion failure: `condition `fd >= 0' not met`

Also, same like in case of the original report, everything is working fine when packaging the app as 32 bit only.

What's the status of this issue and is there anything

[2019-06-13 05:42] jaykrell commented on #14848
Git blame, says something about 5187b0bdaaff56936d697b0753dad51e7498991d.
But hard to be sure of anything.
 1. Do you have that change?
 2. What did it look like before?
 3. How does this lead to fd < 0?

Maybe should move that code back to "all icall" and not split up, maybe that will help.
Would be nice to also link mono with -z now to gain confidence.

[2019-06-13 05:55] softworkz commented on #14848
So far, we've been using VS 2017 to build, which has been working well.

Now, one of our assemblies needs System.IO.Pipelines

This cannot be used with VS 2017 due to the following bug:

xamarin/xamarin-android#1879
xamarin/xamarin-android@bf2b59c

(because System.IO.Pipelines is using ValueTask<T>)

The bug about ValueTask hasn't been fixed for VS 2017 - only for 2019!

That means, we need to swi

[2019-06-13 05:57] softworkz commented on #14848
Effectively, those two bugs have driven us into a dead end right now..

[2019-06-13 06:58] jaykrell commented on #14848
Oh, the dlopen/dlsym stuff, looks like it works out successfully (`Found as 'CreateNLSocket'.`) and then the failure.

[2019-06-13 07:17] softworkz commented on #14848
Jay - thank you very much for the (more than) quick response!

Your commit looks like a potential fix for the issue; yet in this case (at least), we're ordinary consumers of the Xamarin/Android project system. Hence the question:
What is my next step? ;-)

[2019-06-13 08:05] MaximLipnin commented on #14486
Hi, @kouvel! Mono re-uses corefx ThreadPool tests and, in particular, `ConcurrentInitializeTest` authored by you. Could you remember anything of it and help here? How could ARM architecture affect those tests?

[2019-06-13 08:14] jaykrell commented on #14486
One thing that does not make sense is processor-specificity.
i.e. x86, amd64, arm, should all be the same.
Special casing Android makes more sense than special casing arm.

[2019-06-13 08:25] MaximLipnin commented on #14486
@jaykrell thx, does it make sense to proceed with building XA/running tests locally?

[2019-06-13 08:30] marzim commented on #9458
See sample: https://github.com/shturm/mono-wcf-example

[2019-06-13 09:42] adv-sw commented on #14977
We're developing a 3D web browser with C# as secure scripting language, moving to web assembly so language neutral at some point.

By default third party scripts will be secure - no p/invoke. no unsafe. Our bootstrap will be trusted & will be able to p/invoke as required for managed wrapper pattern. Hence whitelist required.

End users will be able to trust third party scripts to perform unsafe op

[2019-06-13 09:54] jaykrell commented on #14486
I don't know, sorry.

[2019-06-13 11:03] mandel-macaque opened #15058 "[2019-06][iOS] Several tests on iOS fail on a 32b device"
After upgrading to mono 2019-06 the following tests fail on a 32b iOS device in the following configurations:

* AssemblyBuildTarget: SDK framework (release) (Sample [run log](https://gist.github.com/mandel-macaque/b57168cef60004b2477d4f3744cb6fe6))(Sample [build log](https://gist.github.com/mandel-macaque/af234a06d95d554aa1cd028e08039980)) (Sample [crash report](https://gist.github.com/mandel-mac

[2019-06-13 11:28] MaximLipnin commented on #14486
I extracted repro case from the tests:
[code]

and it fails with similar error:
[code]

[2019-06-13 11:52] MaximLipnin commented on #14486
if I use `ThreadPool.GetMinThread(...)` (which by default is `the minimum number of threads is set to the number of processors on a system`) instead of `Environment.ProcessorCount` then I have no errors.

[2019-06-13 12:21] mandel-macaque commented on #15058
After bumping mono from b96e5036909b7b410ef85b27868d63eeffb131cf to 46f7a64e382da1eaa4f4478a672b684bfdfda9c7 all the timeout configurations crash.

[2019-06-13 12:31] kjpou1 opened #15059 "[wasm] HttpClient should follow XI/XA and hook the same way to remove all the reflection overhead"
Right now the `HttpClient` uses reflection to look up the wasm handler.  This should be changed to not require all of the reflection to lookup the wasm handler.

[2019-06-13 13:53] 2mik commented on #9458
Thank you. But you use HTTP, not HTTPS.

[2019-06-13 14:33] steveisok commented on #14868
I tried a few more and disabling inline does help.

This test by default shows:

[code]

But with inlining off, it'll show:

[code]

[2019-06-13 14:39] marek-safar commented on #15058
@vargaz could you please investigate, this looks like something caused by the recent AOT change

[2019-06-13 14:40] marek-safar commented on #15058
/cc @lambdageek in case you have any further insight

[2019-06-13 14:53] marzim opened #15065 ".Net Standard 2.0 System.ServiceModel.NetTcp throws exception in OpenSuse Linux with Mono V5.16"
## Steps to Reproduce

1. Create console application to use NetTcpBinding
2. Compiled using .netstandard 2.0, Xamarin.Core.Forms.dll 2.0.0.0, Xamarin.Forms.Platform.GTK.dll 2.0.0.0
3. Crash when application Launch

[code]

### Current Behavior
It will crash when launching in Open Suse Linux with Mono 5.16

### Expected Behavior
Should run without problem.

## On which platforms did you notice this

[2019-06-13 15:02] marek-safar commented on #13006
@vargaz could you please comment on the options @lewurm came up with?

[2019-06-13 15:09] steveisok commented on #14486
@lambdageek Can your team have a look to see if we can flush out any runtime differences?

[2019-06-13 15:13] steveisok opened #15066 "[netcore] Make System.Reflection.Tests.AssemblyTests.AssemblyLoadFromBytes Pass"
Relies on https://github.com/mono/mono/issues/14830

This is a tracking issue.

[2019-06-13 15:13] steveisok opened #15067 "[netcore] Make System.Reflection.Tests.AssemblyTests.AssemblyLoadFromBytesWithSymbols Pass"
Relies on https://github.com/mono/mono/issues/14830

This is a tracking issue.

[2019-06-13 15:27] vargaz commented on #13006
I think we should try switching to the newer llvm as a first try.

[2019-06-13 15:29] steveisok opened #15068 "[netcore] Make System.Reflection.Tests.AssemblyNameTests.Ctor_ValidArchitectureName_Succeeds Pass"
Appears like we need to set the ProcessorArchitecture in AssemblyName.  The test currently fails with:

[code]

Determine if that's all there is to it and make the test pass.

[2019-06-13 15:32] steveisok opened #15069 "[netcore] Make System.Reflection.Tests.MemberInfoNetCoreAppTests.HasSameMetadataDefinitionAs_GenericTypeParameters Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:33] steveisok opened #15070 "[netcore] Make System.Reflection.Tests.MemberInfoTests.GenericMethodsInheritTheReflectedTypeOfTheirTemplate Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:35] steveisok opened #15072 "[netcore] Make System.Reflection.Tests.AssemblyNameTests.SetPublicKeyToken_GetPublicKeyToken Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:37] steveisok opened #15073 "[netcore] Make System.Reflection.Tests.AssemblyNameTests.FullName Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:40] steveisok opened #15074 "[netcore] Make System.Reflection.Tests.AssemblyTests.LoadFile Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:51] steveisok opened #15075 "[netcore] Make System.Reflection.Tests.AssemblyTests.GetType_DoesntSearchMscorlib Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 15:53] steveisok opened #15076 "[netcore] Make System.Reflection.Tests.AssemblyTests.LoadFrom_SameIdentityAsAssemblyWithDifferentPath_ReturnsEqualAssemblies Pass"
The test appears to return the same string, but still fails:

[code]

Determine why and make it pass.

[2019-06-13 15:55] lambdageek commented on #15074
https://github.com/dotnet/corefx/blob/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/src/System.Reflection/tests/AssemblyTests.cs#L298

On netcore, `S.R.Assembly.LoadFile` is supposed to create a new assembly load context which will then load the assembly, so the newly loaded assembly should be not equal to the currently loaded one (which is in the default ALC).

[2019-06-13 15:55] steveisok opened #15077 "[netcore] Make System.Reflection.Tests.GetTypeTests.GetType Pass"
The test throws a NRE:

[code]

Determine why and make it pass.

[2019-06-13 15:57] steveisok opened #15078 "[netcore] Make System.Reflection.Tests.AssemblyNetCoreAppTests.AssemblyGetForwardedTypesLoadFailure Pass"
The test currently fails with:

[code]

Determine why and make it pass.

[2019-06-13 15:59] steveisok opened #15079 "[netcore] System.Reflection.Tests.AssemblyNetCoreAppTests.AssemblyGetForwardedTypes"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 16:00] steveisok opened #15080 "[netcore] Make System.Reflection.Tests.TypeInfoTests.IsAssignableFrom Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 16:49] steveisok opened #15081 "[netcore] Make System.Resources.Tests.ResourceManagerTests.GetString_ExpectEvents Pass"
The test currently fails with:

[code]

The thought is that netcore is missing assembly resolve events on AppDomain and AssemblyLoadContext.  Determine if that's the case and make the test pass.

[2019-06-13 17:05] PabloHR1990 opened #15082 "DrawToBitmap does not work in mono v5.20"
## Steps to Reproduce

1. Use DrawToBitmap to draw a Form that contain a button and a label
2. Save bitmap in .png formar
3. Display image

### Current Behavior
Neither label nor button are drawn into bitmap
![sampleUbuntu](https://user-images.githubusercontent.com/45826907/59452356-d291cb80-8e0d-11e9-8328-06cb162f60a1.png)

### Expected Behavior
Bitmap should draw Form with label and button insid

[2019-06-13 17:12] #12996 closed

[2019-06-13 17:56] #9706 closed

[2019-06-13 18:04] CoffeeFlux commented on #15080
Appears to be the result of https://github.com/mono/mono/issues/10848

[2019-06-13 18:07] baulig opened #15084 "Generating .csproj files for xunit tests"
At the moment, we currently only generate .csproj files for the BCL libraries, but not for tests.

I'm wondering whether it would be easy to generate them for tests as well - maybe not as an automated system, but as something that you could manually trigger when you need to test something.

It's not urgent, just an idea that I had.

[2019-06-13 18:17] steveisok opened #15085 "[netcore] Implement System.Runtime.InteropServices.Marshal Fully"
The following methods throw PNE exceptions and should be implemented:

- [ ] ReadByte

- [ ] ReadInt16

- [ ] ReadInt32

- [ ] ReadInt64

- [ ] WriteByte

- [ ] WriteInt16

- [ ] WriteInt32

- [ ] WriteInt64

- [ ] GetExceptionCode

- [ ] GetExceptionPointers

[2019-06-13 18:19] steveisok opened #15086 "[netcore] Make System.Runtime.InteropServices.Tests.Int* & Byte* to Pass"
The tests currently fail because Marshal is not implemented fully.

https://github.com/mono/mono/issues/15085

This is a tracking issue for the failures. e

[2019-06-13 18:22] steveisok opened #15087 "[netcore] Make System.Runtime.InteropServices.Tests.DestroyStructureTests.DestroyStructure_NonRuntimeType_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 18:23] steveisok opened #15088 "[netcore] Make System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_NotMarshallable_ThrowsArgumentException Pass"
Fails the same way as https://github.com/mono/mono/issues/15087.

This is a tracking issue on the failure.

[2019-06-13 18:25] steveisok opened #15089 "[netcore] Make System.Runtime.InteropServices.Tests.SizeOfTests.SizeOf_InvalidType_ThrowsArgumentException"
Fails the same way as #15087.

This is a tracking issue on the failure.

[2019-06-13 18:28] steveisok opened #15090 "[netcore] Make System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_NullFieldName_ThrowsArgumentNullException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 18:30] steveisok opened #15091 "[netcore] Make System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_NonRuntimeField_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 18:34] kouvel commented on #14486
Does a single call to `SetMinThreads()` with `Environment.ProcessorCount` fail, or only when done in parallel? In coreclr the first call to some of the thread pool functions triggers some initialization and in some paths it was not synchronizing the initialization properly, this test was to verify one of those.

[2019-06-13 18:35] steveisok opened #15092 "[netcore] Make System.Runtime.InteropServices.Tests.OffsetOfTests.OffsetOf_Decimal_ReturnsExpected Pass"
The test currently fails with:

[code]

Figure out why the offsets are different and make it pass.[

[2019-06-13 19:00] alexanderkyte commented on #14977
I think it makes sense then to add this as a configure flag that disables it by default, and then have a short list of allowed images.

I would do this:

1. Add configure flag that has a disable around the line from the comment above
2. Run it and log and see what has to be enabled for the BCL test harness.
3. Disable all other images from producing pinvokes by adding to the line from the comment

[2019-06-13 19:12] baulig commented on #14938
Something very weird is going on here ...

Using this test local work branch: https://github.com/baulig/mono/tree/martin-2019-06 and https://github.com/baulig/xamarin-macios/tree/martin-2019-06.

[2019-06-13 19:16] baulig commented on #14938
First, create a test project in `xamarin-macios` such as for instance https://github.com/baulig/xamarin-macios/tree/martin-2019-06/tests/martin-test/BCL%20tests%20group%204, remove everything except for `monotouch_System_xunit-test.dll` - but switch that to your Mono build.

Edit `mcs/class/System/System_xtest.dll.sources` to remove everything, but add `MartinTest.cs` like this:

[code]

Add `../t

[2019-06-13 19:17] baulig commented on #14938
Now run that and it will finish with

[code]

[2019-06-13 19:19] baulig commented on #14938
Now edit the `MartinTest.cs` and uncomment

[code]

then run again

[code]

and there it hangs ...

[2019-06-13 19:20] steveisok opened #15093 "[netcore] System.Runtime.InteropServices.Tests.GetExceptionForHRTests.GetExceptionForHR_ErrorInfo_ReturnsValidException"
The test currently fails with:

[code]

It looks like the test expects an exception with only the message set.  We probably should look at the individual message in coreclr and match it.

The goal is to get the test to pass.

[2019-06-13 19:21] steveisok opened #15094 "[netcore] Make System.Runtime.InteropServices.Tests.GetExceptionForHRTests.GetExceptionForHR_NoErrorInfo_ReturnsValidException Pass"
Fails the same way as https://github.com/mono/mono/issues/15093

This is a tracking issue.

[2019-06-13 19:21] steveisok opened #15095 "[netcore] Make System.Runtime.InteropServices.Tests.ThrowExceptionForHRTests.ThrowExceptionForHR_NoErrorInfo_ReturnsValidException Pass"
Fails the same way as #15093

This is a tracking issue.

[2019-06-13 19:22] steveisok opened #15096 "[netcore] Make System.Runtime.InteropServices.Tests.ThrowExceptionForHRTests.ThrowExceptionForHR_ErrorInfo_ReturnsValidException Pass"
Fails the same way as https://github.com/mono/mono/issues/15093

This is a tracking issue.

[2019-06-13 19:22] baulig commented on #14938
So something must be wrong with that `TestConfiguration.WhenAllOrAnyFailedWithTimeout()` it seems ...

Now edit it into

[code]

That should finish in a bit over 8 seconds - and since it's running twice, give it even a full minute.  But it's hanging:

[code]

it is now

[code]

[2019-06-13 19:24] baulig commented on #14938
Next experiment: add `.ConfigureAwait(false)` to it:

[code]

Same thing, it's hanging.

[2019-06-13 19:28] steveisok opened #15097 "[netcore] Make System.Runtime.InteropServices.Tests.GetFunctionPointerForDelegateTests.GetFunctionPointer_GenericDelegate_ThrowsArgumentException Pass"
The test currently fails with:

[code]

The problem may be that this is actually supported in Mono, but we should for now we should probably throw an ArgumentException.

The goal is to make the test pass.

[2019-06-13 19:32] baulig commented on #14938
Next experiment: put back the exception.

[code]

and it hangs again.

[2019-06-13 19:35] baulig commented on #14938
Now trying

[code]

and it's hanging again!

[code]

it is now

[code]

[2019-06-13 19:37] grendello opened #15099 "[Xamarin.Android] Missing Mono public symbol declarations in the headers shipped with the Mono archive"
`Xamarin.Android` is switching away from `dlopen/dlsym` to link the Mono runtime directly and therefore we need to be able to include Mono header files that declare the functions we use. Most of them are already there, however there is a small set that isn't:

- [mono_aot_register_module](https://github.com/mono/mono/blob/e6e9d5f6eb5488d9f87ab39727d76fb2ca81702c/mono/mini/aot-runtime.h#L272)
- [mo

[2019-06-13 19:38] baulig commented on #14938
Okay, let's add `.ConfigureAwait(false)`.

[code]

Now it's actually printing the "MARTIN TEST #1" - and then it's hanging:

[code]

[2019-06-13 20:15] mandel-macaque commented on #14938
AMAZING work, I'll look at what is going on in the runner, I might be able to find a fix there.

[2019-06-13 20:30] steveisok opened #15100 "[netcore] Make System.Runtime.InteropServices.RuntimeEnvironmentTests.RuntimeEnvironmentSysVersion Pass"
The test currently fails with:

[code]

It seems that typeof(object).Assembly.ImageRuntimeVersion returns null because the corelib metadata version string is empty.

The goal is to make the test pass.

[2019-06-13 20:31] steveisok opened #15101 "[netcore] Make System.Runtime.InteropServices.Tests.PtrToStructureTests.PtrToStructure_ZeroPointer_ThrowsArgumentNullException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:32] steveisok opened #15102 "[netcore] Make System.Runtime.InteropServices.Tests.StructureToPtrTests.StructureToPtr_ByValBoolArray_Success Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:34] steveisok opened #15103 "[netcore] Make System.Runtime.InteropServices.Tests.StructureToPtrTests.StructureToPtr_ByValDateArray_Success Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:35] steveisok opened #15104 "[netcore] Make System.Runtime.InteropServices.Tests.StructureToPtrTests.StructureToPtr_InvalidLengthByValArrayInStruct_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:37] steveisok opened #15106 "[netcore] Make System.Numerics.Tests.ComplexTests.Sin_Advanced Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:38] steveisok opened #15107 "[netcore] Make System.Numerics.Tests.ComplexTests.Sinh_Advanced Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:39] steveisok opened #15108 "[netcore] Make System.Numerics.Tests.ComplexTests.Cos_Advanced Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:41] steveisok opened #15109 "[netcore] Make System.Numerics.Tests.ComplexTests.Cosh_Advanced Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:42] steveisok opened #15110 "[netcore] Make System.Numerics.Tests.ComplexTests.Exp Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:46] steveisok opened #15111 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests.GetUninitializedObject_OpenGenericClass_ThrowsMemberAccessException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:47] steveisok opened #15112 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.SerializationGuardTests.BlockReflectionDodging Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:49] steveisok opened #15113 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests.GetUninitializedObject_NotSupportedType_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:50] steveisok opened #15114 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.FormatterServicesTests.GetUninitializedObject_StaticConstructorThrows_ThrowsTypeInitializationException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:52] steveisok opened #15115 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.ValidateAgainstBlobs Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-13 20:52] steveisok opened #15116 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.RoundtripManyObjectsInOneStream Pass"
Fails the same as https://github.com/mono/mono/issues/15115

This is a tracking issue.

[2019-06-13 20:53] steveisok opened #15117 "[netcore] Make System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.ValidateBasicObjectsRoundtrip Pass"
Fails the same as #15115

This is a tracking issue.

[2019-06-13 21:22] naricc commented on #14196
I have been unable to reproduce it in the 6 preview. 6 is not released yet; I don't know if your customers want to/are interested in using the preview.

[2019-06-13 21:28] cbiesinger opened #15119 "Mono should support System.Net.HttpListenerContext.AcceptWebSocketAsync"
## Steps to Reproduce

1. Call context.AcceptWebSocketAsync(null) (with context being a System.Net.HttpListenerContext)

### Current Behavior

Throws NotImplementedException()

### Expected Behavior

Should actually work

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

Mono JIT compiler version 5.18.0.240 (Debian 5.18.0.240+dfsg-2 Tue Apr 16 02:41:45

[2019-06-13 21:30] cbiesinger commented on #15119
(The code works fine on MS .NET, both Windows and Linux. I tried to use the code here: https://github.com/MicrosoftEdge/JsDbg/blob/jsdbg_gdb_support/server/JsDbg.Core/WebServer.cs#L214)

[2019-06-13 22:42] mandel-macaque opened #15120 "[2019-06][tvOS] FaultReasonTest.MultipleLanguages fails on device"
The test, which is and old NUnit tests AFAIK fails when using mono 2019-06 on a tvOS device. It has the following failure:

Looks like something not too important to block the merge.

[2019-06-13 23:53] softworkz commented on #14848
What I meant is - how can we make use of the fix? Do we need to wait for a new Visual Studio 2019 version - or some Xamarin update?

[2019-06-14 00:07] lewing commented on #14957
ono JIT compiler version 6.0.0.283 (2019-02/240aa5b900f Wed Jun  5 17:25:57 EDT 2019) shipped with the wrong version of nuget.exe because of this bug

[2019-06-14 00:08] lewing commented on #14957
see https://github.com/mono/mono/pull/15121

[2019-06-14 03:08] lewing opened #15122 "[wasm][debugger] Visual Studio 2019 doesn't understand our source-linked code"
When running Visual Studio against our DebugProxy it doesn't understand our use of dotnet: scheme urls for source files, so source display sourcelink resolved sources doesn't work.  We need to either meet Visual Studio's expectations or correct them.

[2019-06-14 03:09] lewing opened #15123 "[wasm][debugger] Document how to use the existing devtools platform tooling to talk to the DebugProxy"
Document the steps needed to debug mono.wasm using the Visual Studio family

[2019-06-14 03:22] lewing opened #15124 "[wasm][debugger] improve 64bit local support"
https://github.com/mono/mono/pull/14621 fixes display of integer values less that 2^53-1 but we can do better.  This is a task to track that issue and add testing.

[2019-06-14 06:08] MaximLipnin commented on #14486
Thanks! A single call works fine and returns true (at least on macos):
[code]
The issue is with parallel execution.

[2019-06-14 06:59] lewurm commented on #15058
It's due to https://github.com/mono/mono/commit/fed776b88689f1343698805111e6b99f4e0e093d see commit message.

I'll look into it.

[2019-06-14 07:07] jaykrell commented on #15058
Searching for 'host_mgreg_t'...
[code]
?

[2019-06-14 07:10] jaykrell commented on #15058
Looks like those are runtime, not compile-time (and I filtered others).

[2019-06-14 07:21] rolfbjarne opened #15125 "csc crashes randomly in get_image_for_container"
## Steps to Reproduce

Unfortunately I don't have a reliable way to reproduce this, it's a random issue (so far I've seen it twice on bots only).

Possible way to reproduce: build xamarin-macios' `xcode11` branch in a loop, something like this (untested, but should be close enough):

[code]

### Expected Behavior

No crash.

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Window

[2019-06-14 07:25] jaykrell commented on #14486
That is super useful!

Based on that, some printf debugging in the error paths.

[code]

[2019-06-14 07:37] MaximLipnin commented on #14486
@jaykrell Thank you, is it possible to do anything with it?

[2019-06-14 07:40] jaykrell commented on #14486
Bug is this line:

https://github.com/mono/mono/blob/12b737d980f0a8bc6f275bd8eabb0eb1011f6f90/mono/utils/mono-lazy-init.h#L74

obvious, once your repro and printf debugging narrowed.

`status` should be `*lazy_init`.

This function is also missing a barrier:

https://github.com/mono/mono/pull/15020

but `status` to `*lazy_init` is more important.

[2019-06-14 07:41] jaykrell commented on #14486
I'll PR the combination and people can argue over the barrier.
Maybe add volatile too. :)

[2019-06-14 07:42] MaximLipnin commented on #14486
Cool, thanks!

[2019-06-14 07:43] jaykrell commented on #14486
To be clear, I printf-debugged it to the end:

[code]

[2019-06-14 08:14] lewurm commented on #14868
running `make xtest-System.Collections.Tests`:
[code]
running `MONO_ENV_OPTIONS="-O=-inline" make xtest-System.Collections.Tests`:
[code]
not sure why you guys see something else. Note that I'm not using the `netcore/build.sh` script; do you mind trying `MONO_ENV_OPTIONS="-O=-inline,-aot"`?   It disables inlining _and_ using AOT'd code. If the latter was generated with inlining enabled, then you w

[2019-06-14 08:35] marek-safar commented on #15125
This looks serious. Do you think it could be triggered by the C# compiler update? What version are you running?

@lambdageek @vargaz please comment on possible fixes ASAP.

[2019-06-14 08:37] mandel-macaque commented on #14872
This also happens on tvOS devices. But I'm not surprise since it happens on iOS too.

[2019-06-14 08:40] lewurm commented on #13873
@mikaelj 6.0

[2019-06-14 08:42] marek-safar commented on #15085
This is expected, we don't plan to implement them please disable the test with conditional

[2019-06-14 08:46] mandel-macaque commented on #14872
Interestingly on the apple tvOS the test does pass on  SDK framework (release)

[2019-06-14 10:32] adv-sw commented on #14977
You mean from the intermediate language I assume. Other compilers can compile to intermediate without the safeguard you propose otherwise.

Logging should be an exception so runtime can know assembly wanted to do something it's blocked from doing so app can inform user "app tried to do x do you want to let it" or similar.

[2019-06-14 11:38] mandel-macaque commented on #15120
The device language is set to be Spanish (someone has to test in diff languages ;) )

[2019-06-14 12:07] steveisok commented on #15086
I found out from the team that we do not plan on implementing these methods.  The tests will be permanently skipped.

[2019-06-14 12:07] #15086 closed

[2019-06-14 12:08] steveisok commented on #15085
Sure, noted in the rsp file.

[2019-06-14 12:08] #15085 closed

[2019-06-14 12:36] spouliot commented on #15125
it might be a coincidence but we just updated the branch to (system) mono 6.0.0.286
we were using 6.0.0.176 before

[2019-06-14 13:41] lewurm commented on #14872
Release uses LLVM

[2019-06-14 13:57] #14604 closed

[2019-06-14 14:16] rolfbjarne commented on #15125
Another point is that we're building all of mono from source in the xcode11 branch (which we weren't doing with any other branch that uses mono-2019-02).

[2019-06-14 14:36] a-einstein commented on #14875
I have got the same thing with Xamarin Forms for Android.

[2019-06-14 14:40] lambdageek commented on #15125
@rolfbjarne Could you try building with `--enable-checked-build=all` to turn on some extra asserts?  (I notice there's a `g_assert_checked` in `mono_get_image_for_generic_param`

[2019-06-14 14:42] marzim commented on #15065
Is there an update on this one?

[2019-06-14 14:42] VincentDondain commented on #12430
We have only 1 failure related to that in our master branch:

[code]

See http://xamarin-storage/jenkins/xamarin-macios/master/a568b39807386733206c0f77242cb7b0654918a1/2764776/device-tests/jenkins-results/tests/%5bNUnit%5d%20Mono%20BCL%20tests%20group%202/1381/test-ios-20190613_201014.log from https://github.com/xamarin/xamarin-macios/commit/a568b39807386733206c0f77242cb7b0654918a1#commitcomment-3

[2019-06-14 14:46] rolfbjarne commented on #15125
@lambdageek if you can provide a mono branch with that change added to the code/build, I can create a xamarin-macios branch that uses that mono branch and we can see how it goes on the bots.

[2019-06-14 15:17] lambdageek commented on #15125
@rolfbjarne do I just need to adjust `sdks/build/ios.mk` and `sdks/build/mac.mk`?

[2019-06-14 15:19] lambdageek commented on #15125
@rolfbjarne made https://github.com/mono/mono/tree/2019-02-xcode11-checked-build let's try mono from https://github.com/mono/mono/commit/59fda12cf1a8b511813e8be5de5dfc922a1c93d0

[2019-06-14 15:33] lambdageek commented on #15099
Keeping it open until the 2019-06 PR is merged

[2019-06-14 15:44] tdiehl commented on #14791
Appears to be fixed in VS for Mac 8.1.

[2019-06-14 15:44] #14791 closed

[2019-06-14 15:46] tdiehl commented on #14066
Tested my repro in VS 2019 for Mac 8.1 and appears to be resolved. Thanks!

[2019-06-14 17:42] rolfbjarne commented on #15125
https://github.com/xamarin/xamarin-macios/pull/6304

[2019-06-14 17:57] CoffeeFlux commented on #15078
See https://github.com/mono/mono/blob/377030eaab594540d7e043f8657a30bbe92e6c33/mono/metadata/icall.c#L6061-L6063

[2019-06-14 18:37] CoffeeFlux commented on #15077
Relevant issue: https://github.com/mono/mono/issues/11269

[2019-06-14 18:39] dalexsoto opened #15137 "SIGABRT "Likely a malformed PDB file" in basic Xamarin.Mac F# app with Suave"
Issue moved from https://github.com/xamarin/xamarin-macios/issues/6296

From: @jwosty

### Steps to Reproduce

1. Create a new Cocoa F# app. Run & verify that it works.
2. Update FSharp.Core to 4.6.2 as Nuget suggests to. Run & verify.
3. Change runtime framework to Xamarin.Full framework (I used .Net Framework 1.7.2; also happens with 1.7.0) and retarget Nuget package(s). Run & verify. (not sure

[2019-06-14 18:59] CoffeeFlux commented on #15077
I'm actually unable to reproduce this locally, similar to what was mentioned in the issue. Needs further investigation.

[2019-06-14 19:28] steveisok opened #15140 "[netcore] Make System.Tests.ExceptionTests.ThrowStatementDoesNotResetExceptionStackLineSameMethod Pass"
See https://github.com/mono/mono/issues/14291

This is a tracking issue.

[2019-06-14 19:28] steveisok opened #15141 "[netcore] Make System.Tests.ExceptionTests.ThrowStatementDoesNotResetExceptionStackLineOtherMethod Pass"
See https://github.com/mono/mono/issues/14291

This is a tracking issue

[2019-06-14 19:45] steveisok opened #15142 "[netcore] Implement RuntimeAssembly.IsCollectible Behavior"
The property exists in RuntimeAssembly, but it needs flushed out.

Currently:

[code]

[2019-06-14 19:48] steveisok opened #15143 "[netcore] Make System.Reflection.Tests.IsCollectibleTests.MemberInfoGeneric_IsCollectibleFalse_WhenUsingAssemblyLoad Pass"
Requires https://github.com/mono/mono/issues/15142

This is a tracking issue.

[2019-06-14 19:49] steveisok opened #15144 "[netcore] Make System.Reflection.Tests.IsCollectibleTests.Assembly_IsCollectibleTrue_WhenUsingTestAssemblyLoadContext Pass"
Requires https://github.com/mono/mono/issues/15142

This is a tracking issue.

[2019-06-14 19:49] steveisok opened #15145 "[netcore] Make System.Reflection.Tests.IsCollectibleTests.MemberInfo_IsCollectibleFalse_WhenUsingAssemblyLoad Pass"
Requires #15142

This is a tracking issue.

[2019-06-14 19:50] steveisok opened #15146 "[netcore] Make System.Reflection.Tests.IsCollectibleTests.Assembly_IsCollectibleFalse_WhenUsingAssemblyLoad Pass"
Requires #15142

This is a tracking issue.

[2019-06-14 19:51] steveisok opened #15147 "[netcore] Make System.Reflection.Tests.IsCollectibleTests.Assembly_IsCollectibleFalse_WhenUsingAssemblyLoadContext Pass"
Requires #15142

This is a tracking issue.

[2019-06-14 19:58] steveisok opened #15148 "[netcore] Make System.Tests.DelegateTests.DynamicInvoke_OptionalParameterUnassingableFromMissing_WithMissingValue Pass"
The test currently fails with:

[code]

Our initial analysis said that Mono ignores the [Optional] attribute defined on parameters in delegates.  If that's the case, see if it's possible to fix and make the test pass.

[2019-06-14 20:04] steveisok opened #15150 "[netcore] Make System.Tests.DelegateTests.DynamicInvoke_OptionalParameter_WithMissingValue Pass"
Fails the same way as https://github.com/mono/mono/issues/15148.

This is a tracking issue.

[2019-06-14 20:06] steveisok opened #15151 "[netcore] Make System.Tests.DelegateTests.DynamicInvoke_ParameterSpecification_ArrayOfMissing Pass"
Fails the same way as https://github.com/mono/mono/issues/15148

This is a tracking issue.

[2019-06-14 20:10] steveisok opened #15152 "[netcore] Make System.Reflection.Tests.PointerTests.PointerPropertyGetValue Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:14] steveisok opened #15153 "[netcore] Make System.Tests.ActivatorTests.TestingCreateInstanceObjectHandleFullSignature Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:16] steveisok opened #15154 "[netcore] Make System.Text.Json.Serialization.Tests.ValueTests.ValueFail Pass"
The test currently fails with:

[code]

It appears that JsonSerializer.Parse<Enum>(...) generates invalid IL through DynamicMethod,
Mono throws "System.MemberAccessException: Cannot create an abstract class: System.Enum" from System.Reflection.Emit.DynamicMethod.CreateDelegate
, CoreCLR creates the delegate, but fails to execute it with "System.InvalidOperationException: Instances of abstract clas

[2019-06-14 20:17] #15048 closed

[2019-06-14 20:18] steveisok opened #15155 "[netcore] Implement Monitor.LockContentionCount"

[2019-06-14 20:18] steveisok opened #15156 "[netcore] Make System.Threading.Tests.MonitorTests.Enter_HasToWait_LockContentionCountTest Pass"
Requires https://github.com/mono/mono/issues/15155

This is a tracking issue.

[2019-06-14 20:20] steveisok opened #15157 "[netcore] Make System.Threading.Tests.MutexTests.CrossProcess_NamedMutex_ProtectedFileAccessAtomic Pass"
The test fails and the process hangs with:

[code]

Find out why the process hangs / test fails and make it pass.

[2019-06-14 20:22] steveisok opened #15158 "[netcore] Make System.Threading.Tests.MutexTests.OpenExisting_InvalidNames Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:24] steveisok opened #15159 "[netcore] Make System.Threading.Tests.MutexTests.Ctor_InvalidNames_Unix Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:26] steveisok opened #15160 "[netcore] Make System.Threading.Tests.SemaphoreTests.OpenExisting_NotSupported_Unix Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:27] steveisok opened #15161 "[netcore] Make System.Threading.Tests.SemaphoreTests.Ctor_NamesArentSupported_Unix Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-14 20:31] CoffeeFlux commented on #15076
"If an assembly with the same identity is already loaded, LoadFrom returns the loaded assembly even if a different path was specified."

We're presumably violating this, and that requirement exists in both Framework and Core.

[2019-06-14 20:41] CoffeeFlux commented on #15073
For some reason, we're failing to list the culture. Shouldn't require ALCs, seems like a simple formatting issue. Worth noting that this only happens with NETCORE because otherwise it just returns the simple `name`, which matches `expectedName` exactly.

[2019-06-14 20:45] steveisok opened #15164 "[netcore] Make System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest Pass"
The test currently fails with:

[code]

Our initial thoughts were that tests for ThreadPool.SetMaxThreads(-1, -1) == true, which only happens to work on CoreCLR because the managed SetMaxThreadsNative prototype uses "int"s while the unmanaged code uses "DWORD"s and
thus it interprets it as large positive numbers.

The goal is to make the test pass.

[2019-06-14 20:46] CoffeeFlux commented on #15075
"This method only searches the current assembly instance. The name parameter includes the namespace but not the assembly. To search other assemblies for a type, use the Type.GetType(String) method overload, which can optionally include an assembly display name as part of the type name."
In this case, it's searching the Assembly containing the test class, and thus should fail to locate `System.Obje

[2019-06-14 21:29] marek-safar commented on #15155
#14828

[2019-06-14 21:29] #15155 closed

[2019-06-14 21:38] steveisok commented on #15155
LOL - clearly it's Friday ;-)

[2019-06-14 23:22] hongde88 commented on #15011
@lambdageek I tried to load my DLL into another domain and it crashed the app because my DLL is dependant on some of the assemblies loaded in the root domain. Do you know how to resolve this problem by any chance? Thank you in advance!

[2019-06-14 23:29] jaykrell commented on #15011
Only load in non-root domain.
Unload the domain.
Update the .dll.
Create a new domain.
Load .dll.

[2019-06-15 15:37] ricebus opened #15166 "Can't build Mono on Linux ARMv5"
## Steps to Reproduce

1. Download mono stable 5.20.1.27
2. ./configure
3. make

### Current Behavior

Failed Build

### Expected Behavior

Build Success

## On which platforms did you notice this

[ ] macOS
[X ] Linux
[ ] Windows

**Version Used**:

5.20.1.27

## Stacktrace

[code]

[2019-06-15 16:29] ricebus commented on #15166
Duplicate of https://github.com/mono/mono/issues/12537

[2019-06-15 16:29] #15166 closed

[2019-06-15 21:01] peppy commented on #14364
I got this down to a reproducible case and seemed to be on to something, but then after updating Xamarin.iOS to 12.14.0.91 I can no longer reproduce any issues once again.

I did a pass over all of my native/unsafe code and couldn't find anything that looked too incorrect, so I'm wondering if anything has been fixed upstream that could have potentially solved this issue..

[2019-06-15 22:01] steveisok opened #15167 "[netcore] Make System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinThreadsTo0Test Pass"
The test currently fails with:

[code]

According to earlier analysis, this might have to do with behavior differences between netfx and corefx.

The goal is to make the test pass.

[2019-06-15 22:10] steveisok opened #15168 "[netcore] Make System.ComponentModel.Composition.CompositionServicesTests.GetDefaultContractNameTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:11] steveisok opened #15169 "[netcore] Make MetadataViewProviderTests.GetMetadataView_InterfaceWithIndexer_ShouldThrowNotSupportedException Pass"
The test currently fails with:

[code]

Determine why we're not throwing and make the test pass.

[2019-06-15 22:16] steveisok opened #15170 "[netcore] Make System.Composition.Hosting.Tests.ContainerConfigurationTests.WithAssemblies_AssembliesAndConvention_ThrowsCompositionFailedExceptionOnCreation Pass"
This is a new one... The test currently fails with:

[code]

Are we missing a nuget feed?  Determine why and make the test pass.

[2019-06-15 22:18] steveisok opened #15171 "[netcore] Make System.Composition.Hosting.Tests.ContainerConfigurationTests.WithAssemblies_Assemblies_ThrowsCompositionFailedExceptionOnCreation Pass"
Fails the same as https://github.com/mono/mono/issues/15170

This is a tracking issue.

[2019-06-15 22:19] steveisok opened #15172 "[netcore] Make System.Composition.Hosting.Tests.ContainerConfigurationTests.WithAssembly_AssemblyConventions_ThrowsCompositionFailedExceptionOnCreation Pass"
Fails the same as #15170

This is a tracking issue.

[2019-06-15 22:19] steveisok opened #15173 "[netcore] Make System.Composition.Hosting.Tests.ContainerConfigurationTests.WithAssembly_Assembly_ThrowsCompositionFailedExceptionOnCreation Pass"
Fails the same as #15170

This is a tracking issue.

[2019-06-15 22:21] steveisok opened #15174 "[netcore] Make System.Data.Tests.SqlTypes.SqlInt32Test.ReadWriteXmlTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:23] steveisok opened #15175 "[netcore] Make System.Data.Tests.SqlTypes.SqlInt64Test.ReadWriteXmlTest Pass"
Fails similarly to https://github.com/mono/mono/issues/15174, but w/ a different type.

[code]

Determine why and make the test pass.

[2019-06-15 22:25] steveisok opened #15176 "[netcore] Make System.Data.Tests.SqlTypes.SqlDoubleTest.ReadWriteXmlTest Pass"
Fails similarly to https://github.com/mono/mono/issues/15174, but w/ a different type.

[code]

Determine why and make the test pass.

[2019-06-15 22:26] steveisok opened #15177 "[netcore] Make System.Data.Tests.SqlTypes.SqlInt16Test.ReadWriteXmlTest Pass"
Fails similarly to https://github.com/mono/mono/issues/15174, but w/ a different type.

[code]

Determine why and make the test pass.

[2019-06-15 22:28] steveisok opened #15178 "[netcore] Make System.Data.Tests.SqlTypes.SqlDecimalTest.ReadWriteXmlTest Pass"
Fails similarly to #15174, but w/ a different type.

[code]

Determine why and make the test pass.

[2019-06-15 22:31] steveisok opened #15179 "[netcore] Make System.Data.Tests.SqlTypes.SqlStringTest.ReadWriteXmlTest Pass"
Fails similarly to #15174, but w/ a different type.

[code]

Determine why and make it pass.

[2019-06-15 22:33] steveisok opened #15180 "[netcore] Make System.Data.Common.Tests.DbConnectionTests.ProviderFactoryTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:42] steveisok opened #15181 "[netcore] Make System.Data.SqlClient.Tests.DiagnosticTest.ExecuteNonQueryAsyncTest Pass"
The test currently hangs and fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:44] steveisok opened #15182 "[netcore] Make System.Diagnostics.Tests.StackTraceTests.Ctor_Exception_SkipFrames Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:45] steveisok opened #15183 "[netcore] Make System.Diagnostics.Tests.StackFrameTests.Ctor_SkipFrames Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 22:49] steveisok opened #15184 "[netcore] Make System.Diagnostics.Tests.StackFrameTests.Ctor_Filename_LineNumber_ColNumber Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-15 23:26] steveisok opened #15185 "[netcore] Remove TargetFrameworkMonikers.Mono From Attribute From CoreFX Tests"
A handful of CoreFX tests have this attribute attached to them.  We should seek to remove or have a different TargetFrameworkMoniker under MonoVM as they are currently skipped.

`[SkipOnTargetFramework(TargetFrameworkMonikers.Mono, "https://bugzilla.xamarin.com/show_bug.cgi?id=60568")]`

The list can be found at:

https://github.com/dotnet/corefx/search?q=TargetFrameworkMonikers.Mono&unscoped_q=Ta

[2019-06-16 04:04] jaykrell commented on #15125
I tried the make world specified, after installing lots of dependencies, but fails downloading from around:
 https://xamjenkinsartifact.azureedge.net/mono-sdks/mac-release-Darwin-...

?

[2019-06-16 04:07] javanjoel commented on #10645
Any workaround for this or suggestions? Really need the error messages from the server to respond on the client and this is holding us back from properly handling them.

[2019-06-16 04:24] steveisok opened #15186 "[netcore] Make System.Diagnostics.Tests.StackFrameTests.ToString_Invoke_ReturnsExpected Pass"
The test currently fails with:

[code]

Looks close, but something is off.  Determine what it'll take and make the test pass.

[2019-06-16 04:26] steveisok opened #15187 "[netcore] Make System.Diagnostics.Tests.StackFrameTests.Ctor_SkipFrames_FNeedFileInfo Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:27] steveisok opened #15188 "[netcore] Make System.Diagnostics.Tests.StackTraceTests.Ctor_Exception_SkipFrames_FNeedFileInfo Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:29] steveisok opened #15189 "[netcore] System.Drawing.Drawing2D.Tests.ColorBlendTests.Ctor_LargeCount_ThrowsOutOfMemoryException"
The test currently fails with:

[code]

Determine why an OOM isn't being thrown and make the test pass.

[2019-06-16 04:31] jaykrell commented on #15125
Eh, I'm just using `make -k world` in order to skip the download failure. Not sure that is ok.

[2019-06-16 04:32] steveisok opened #15190 "[netcore] Make System.Numerics.Tests.GenericVectorTests.ConstructorWithUnsupportedTypes_DateTime Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:34] steveisok opened #15191 "[netcore] Make System.Reflection.Context.Tests.CustomReflectionContextTests.MapType_MemberAttributes_Success Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:37] steveisok opened #15192 "[netcore] Make System.Reflection.Tests.AssemblyTests.LoadFromStream_Location_IsEmpty Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:38] steveisok opened #15193 "[netcore] Make"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:40] steveisok opened #15194 "[netcore] Make System.Reflection.Tests.MetadataTokenTests.SuccessImpliesNonNilWithCorrectTable Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 04:41] steveisok opened #15195 "[netcore] Make System.Runtime.Loader.Tests.DefaultLoadContextTests.LoadInDefaultContext Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 05:13] steveisok opened #15197 "[netcore] Make OverlappedTests.PropertyTest2 Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-16 14:18] robertsundstrom commented on #10775
What is the progress for this? When will there be a preview of the binding to the DOM API:s?

[2019-06-17 03:44] srxqds opened #15199 "how can I construct the generic sharing case?"
I want to figure out when mono alloc **MonoGSharedVtMethodInfo**, **MonoRuntimeGenericContextInfoTemplate**, **MonoJumpInfoGSharedVtCall** and other type in mini-generic-sharing.c.

I want to implement to free the memory alloc by domain, So I want to construct the generic sharing case which can run into below(just some of all them) alloc code:
[code]

[code]

[code]

The csharp case I try:
[code]

[2019-06-17 08:22] akorchev commented on #12917
@lewing The suggested workaround with linker configuration doesn't seem to work when distributing an assembly. No matter the configuration file it just doesn't seem to get picked up by the linker. Are there any extra steps?

[2019-06-17 09:07] boot85 opened #15203 "Debugger doesn't break on unhandled exceptions"
## Steps to Reproduce

1. Write simple console application throwing unhandled exception
[code]
2. Run debug: `mono --debug --debugger-agent=transport=dt_socket,server=y,address=127.0.0.1:55555 Program.exe`

### Current Behavior

No `UnhandledException` event sent, so a debugger doesn't break on unhandled exceptions.

### Expected Behavior

A debugger breaks on unhandled exceptions

## On which pla

[2019-06-17 12:17] MaximLipnin commented on #15164
It was asked in https://github.com/dotnet/corefx/issues/36885 and fixed in https://github.com/dotnet/coreclr/pull/24163 but the test was excluded.

[2019-06-17 12:54] marek-safar commented on #14872
@BrzVlad any update on this issue?

[2019-06-17 13:03] vargaz commented on #14872
Its a problem in the JITs alias analysis pass.

[2019-06-17 13:18] marek-safar commented on #15203
@lambdageek this looks like a regression

/cc @thaystg

[2019-06-17 13:35] marek-safar commented on #15185
Interesting, I think this should ideally work automatically as .NET 5 MonoVM should not identify as `TargetFrameworkMonikers.Mono`

[2019-06-17 13:43] claudioredi commented on #9314
We're getting hundred of crashes per week related to this assert in a relatively big app.

Is moving from `Tarjan` to `New` algorithm something that it's worth to try? It's very hard to understand what triggers this since this happens mostly on the wild in random circumstances.

[2019-06-17 13:54] lambdageek commented on #15099
Fixed in 2019-06 with #15132. closing.

[2019-06-17 13:54] #15099 closed

[2019-06-17 14:37] MaximLipnin commented on #15164
@filipnavara After the mentioned fix coreclr has the same behavior as mono does. Does it make sense to fix that test or maybe create simpler one?

[2019-06-17 14:56] filipnavara commented on #15164
Yep, the test in CoreFX should be fixed. AFAIK nobody did that yet.

[2019-06-17 15:43] alexischr commented on #13804
@alanmcgovern you were the person who brought this to our attention, could you explain where we depend on it?

[2019-06-17 16:11] lewurm commented on #9227
Short-term fixed: Having a Xcode9 parallel install.

Long-term fix: https://github.com/mono/mono/issues/9621

[2019-06-17 16:11] #9227 closed

[2019-06-17 16:36] #12577 closed

[2019-06-17 17:22] garuma opened #15211 "[2019-02] Random socket failures with NuGet"
## Steps to Reproduce

1. Use mono 2019-02
2. msbuild /restore

### Current Behavior

We are seeing intermittent/random failures on our CI since we have updated to use mono 2019-02 during `msbuild /restore` for NuGets. They all have the same stacktrace as appearing below.

## On which platforms did you notice this

[X] macOS
[ ] Linux
[ ] Windows

**Version Used**:

MonoFramework-MDK-6.0.0.299
201

[2019-06-17 17:38] CoffeeFlux commented on #15073
The test is a little weird since it offers two possible behaviors, but it seems .NET Core 3 just returns the name itself rather than defaulting on the culture and publickeytoken, so I'll just imitate that behavior. I think I can fix `System.Reflection.Tests.AssemblyNameTests.SetPublicKeyToken_GetPublicKeyToken` along with this.

[2019-06-17 18:11] alexischr commented on #13804
At this point the speculative fix seems to have worked, as the latest packages have the right architecture. I will leave this open for another week and see if we have relapsed.

[2019-06-17 18:26] marek-safar commented on #15073
@CoffeeFlux please improve the test in corefx repo

[2019-06-17 18:42] lambdageek commented on #15076
hm. yea, I don't think our loader does that right now.

[2019-06-17 18:44] marek-safar commented on #15211
This looks serious. I suspect this might be because of corefx http changes but just guessing here

/cc @steveisok

[2019-06-17 18:53] steveisok commented on #15211
I asked @baulig to triage.  He'll be taking a look this afternoon

[2019-06-17 19:24] naricc commented on #14732
I tried, but could not reproduce it.

[2019-06-17 19:24] mickeyjf commented on #15160
This, and #15158 sound related to the issue I mistakenly posted in MonoDevelop rather than here:

https://github.com/mono/monodevelop/issues/7914

Not clear to me if these things simply are not, and will likely never be implemented, or if I'm just missing something. Also don't know if there is a simple way to transfer my comments to here where they are more likely to get an authoritative response.

[2019-06-17 19:25] lambdageek commented on #14730
After #14879 and #15064 we should get better reports (including the raw hex bytes of the string that we're failing to convert) if this shows up again.

[2019-06-17 19:29] ricebus commented on #12537
Hi, I'm also trying to build for armv5 but fail on runtime.

I'm building all jit libs on my x86 comp and the natives on the arm processor (with --disable-mcs-build). After it's all built I'm merging the two.

Tried building with
MONO_ENV_OPTIONS="--optimize=-float32,-inline" make
and
MONO_ENV_OPTIONS='-O=,-aot,-float32' make

but failed with both of them. any ideas?

https://gist.github.com/riceb

[2019-06-17 21:28] baulig commented on #15211
I cannot reproduce it locally, but don't need to to give an assessment of the situation.

Unfortunately, there is no easy solution to this and I'm not even sure whether it's fixable at all without complex changes.  We might get lucky and _hide_ the problem with some nasty hacks, though.

The fundamental issue is that our `SocketAsyncEventArgs` class is an ancient Mono implementation - and it's inc

[2019-06-17 21:42] baulig commented on #15211
Trying to answer that `e != this` question here .... https://github.com/mono/mono/pull/15219/files

[2019-06-17 22:18] Petiephant commented on #12216
I seem to be getting the same error on macOS as well (works fine on Windows), while trying to use a web service from eBay. If you run the sample project from here you'll get the same exception ...

http://developer.ebay.com/DevZone/codebase/dotnetsdk/FindingKitDotNet_1.0.zip

[2019-06-18 01:04] baulig commented on #15211
Is this in any way related to it:

[code]

I see a bunch of these, but the restore still completes successfully.

[2019-06-18 02:56] #14940 closed

[2019-06-18 06:50] MaximLipnin commented on #14486
Seems that the fix was merged to all related branches so the issue can be closed now.

[2019-06-18 07:16] lewurm commented on #12537
@ricebus sorry I made I type in my comment above, it should be
[code]
instead of
[code]

If everything fails, try `MONO_ENV_OPTIONS='-O=-all'`. Note that you must pass this environment on the target, where you actually run the mono runtime.

[2019-06-18 08:37] BrzVlad commented on #14882
Fixed monodevelop tests.

From this bug it is worthwhile to note the following scenario : Assume you have an object that is no longer referenced from anywhere and you have a weak reference for it. If you wait for the object to die by doing something like `while (weakRef.IsAlive) doSomething ();` then you can actually prevent the object from ever being collected, because weakRef.IsAlive fetches the

[2019-06-18 08:37] #14882 closed

[2019-06-18 10:03] marek-safar commented on #12917
We don't support this dynamic code in linker right now and the workaround with using reflection (methodinfo) won't work either as the method is generic with generic type argument which cannot be expressed using reflection APIs.

If this is quite common we could extend the linker to have detection support for simple Expression cases like

[code]

[2019-06-18 11:45] lewurm commented on #14732
@naricc if you can't reproduce it please specify the steps that you tried to reproduce it.

Often it's subtly things like changing `CFLAGS` from `-O2` to `-O0` that "disables" the bug. The crash looks like memory corruption, so this could require a "fine tuned" environment to reproduce.

[2019-06-18 13:35] lewurm commented on #14732
After 2h running on amd64/linux debian-9 the following:
[code]

I got a crash:
[code]
could _be_ related. @BrzVlad that means we miss a write barrier in the interpreter _somewhere_, right?

[2019-06-18 14:40] lambdageek commented on #14975
This needs followup work: #15214 and its backports to 2019-02 and 2019-06

[2019-06-18 14:44] ricebus commented on #12537
Oh, I didn't get that. I thought it's a compile time flag.
Well, it runs now but I get different errors (I know that app works because an older build of Mono works)

https://gist.github.com/ricebus/67bd0477f8f95d25a5f654c20ebb52a8

[2019-06-18 14:47] lambdageek commented on #14495
Let's keep this open until #15229 is merged.

[2019-06-18 15:01] lambdageek commented on #15199
Not sure about those specific data structures, but generic sharing in mono happens when you _instantiate_ a generic type with some reference types.

Try calling `new GenA<string>()`

[2019-06-18 15:06] vargaz commented on #15199
Run make fullaotcheck in mini/, especially the gshared.exe test file. It will hit all of these lines.

[2019-06-18 17:30] #14724 closed

[2019-06-18 17:44] #15073 closed

[2019-06-18 18:36] #8397 closed

[2019-06-18 18:37] naricc commented on #8397
Implemented in PR https://github.com/mono/mono/pull/14779

[2019-06-18 18:52] thaystg commented on #14495
Merged.

[2019-06-18 18:52] #14495 closed

[2019-06-18 18:53] naricc opened #15235 "Implement System.GC.AllocateUninitializedArray"
Implement System.GC.AllocateUninitializedArray.

https://github.com/mono/mono/blob/master/netcore/System.Private.CoreLib/src/System/GC.cs#L245

This should return a new array with a best-effort attempt to avoid the cost of zeroing it. Optimized for large arrays. It should only work if T is a non-reference type, otherwise it should throw an exception.

[2019-06-18 18:53] #14864 closed

[2019-06-18 18:56] naricc opened #15236 "Implement GC.GetGCMemoryInfo"
This function exists in Dotnet 3.0, but is not yet implemented in Mono. The description in dotnet core is here:

https://docs.microsoft.com/en-us/dotnet/api/system.gcmemoryinfo?view=netcore-3.0

TODO:

- [ ] Reenable System.Tests.GCExtendedTests.GetGCMemoryInfo test in CoreFX.issues.rsp

[2019-06-18 18:59] naricc opened #15237 "Implement GetTotalAllocatedBytes"

[2019-06-18 19:12] marek-safar opened #15238 "Running CoreFX System.Security.Cryptography.Pkcs.Tests fails with NRE occasionally"
## Steps to Reproduce

1. build Mono for netcore
2. make run-tests-corefx-System.Security.Cryptography.Pkcs.Tests
3.

### Current Behavior

The tests fail occasionally with NRE, for me locally like 1 in 10 runs

### Expected Behavior

No unexpected NullReferenceException

One example
[code]

## On which platforms did you notice this

[x] macOS
[ ] Linux
[ ] Windows

[2019-06-18 19:12] marek-safar commented on #15238
/cc @vargaz @lambdageek

[2019-06-18 20:28] danroth27 commented on #12917
@marek-safar This usage is common for component vendors seeking to implement Grid components that support sorting, filtering, paging, etc.

[2019-06-18 21:55] josuuribe commented on #9567
So... does it mean it’s possible to use WebSocket in Blazor client like a C# library? I have tried WebAssembly.Net.WebSockets nuget package in a Blazor Client App without success, the socket stays as “Connecting”

[2019-06-18 21:57] danroth27 commented on #9567
@josuuribe Not yet - we need to do https://github.com/aspnet/AspNetCore/issues/10489 first.

[2019-06-19 00:54] #13088 closed

[2019-06-19 00:54] #14062 closed

[2019-06-19 02:07] jaykrell opened #15240 "sgen-new-threads-dont-join-stw.exe flaky"
## Steps to Reproduce

1. Submit a PR.

### Current Behavior

Seemingly unrelated failures.

https://jenkins.mono-project.com/job/test-mono-pull-request-arm64-fullaot+llvm/8714/parsed_console/log_content.html

Notice the output isn't very informative either.
Gdb not working?

[code]
### Expected Behavior

Only related failures.

## On which platforms did you notice this

Linux

[2019-06-19 02:26] #12535 closed

[2019-06-19 03:11] jaykrell opened #15247 "ves_icall_TypeBuilder_create_runtime_class_raw USED 132 handles"
## Steps to Reproduce

1.  Submit a PR.

### Current Behavior

https://jenkins.mono-project.com/job/z4/41/console
03:24:25.859 ves_icall_TypeBuilder_create_runtime_class_raw USED 132 handles

### Expected Behavior

Not sure.
Preferably no "warnings".
This might or might not be a bug.

## On which platforms did you notice this

Windows amd64 interpreter

[2019-06-19 03:13] jaykrell commented on #15247
Looks like `reflection_setup_internal_class` in loop creates handles.

[2019-06-19 04:01] baulig opened #15249 "Cannot cancel Socket in multi-connect mode."
When using the `Socket` class in "multi-connect" mode, then we do not support cancellation.

You trigger "multi-connect" mode by using a `DnsEndPoint` with the instance method `Socket.ConnectAsync (SocketAsyncEventArgs)`.

Our implementation comes from the reference source:
https://github.com/mono/mono/blob/611ba9a0180ed40c161245c7e82e00063ef58d08/mcs/class/referencesource/System/net/System/Net/So

[2019-06-19 06:06] rolfbjarne commented on #15125
Last occurrence (unfortunately not while testing the branch where we've enabled the checked build) produced a crash report: https://gist.github.com/rolfbjarne/63083ddc74df92603585c6f40ff78561.

This has line numbers for the native code, and point here: https://github.com/mono/mono/blob/2019-02/mono/metadata/class.c#L1796.

From the exception ([KERN_INVALID_ADDRESS at 0x0000000000000020](https://gi

[2019-06-19 06:44] filipnavara commented on #15189
Mono supports large arrays, this should be fixed with proper condition on the CoreFX test.

[2019-06-19 06:45] jaykrell commented on #15189
Large arrays is a configure option though, I think.
Maybe it should be the default??

[2019-06-19 06:51] #14959 closed

[2019-06-19 07:21] filipnavara commented on #15189
@jaykrell On Mono the default is that large arrays are enabled, on CoreCLR/CoreRT they are not. We are gradually fixing the CoreFX tests to properly apply the correct conditions on the tests depending on whether the runtime supports it or not.

[2019-06-19 07:24] jaykrell commented on #15189
@filipnavara I don't think so, not in the default configure. Though I wish so -- I was trained to use `size_t`. Maybe in the Xamarin configurations though?

[2019-06-19 07:27] marek-safar commented on #15189
There is already setting `IsLargeArrayNotSupported` in corefx which we just apply to this test

[2019-06-19 08:19] filipnavara commented on #15154
Reported in CoreFX as https://github.com/dotnet/corefx/issues/36538.

[2019-06-19 08:29] filipnavara commented on #15115
Technically the tests depend on setting the internals of the Exception object through reflection (https://raw.githubusercontent.com/dotnet/corefx/30ca4113ed07fc78060a0c9d3f95eee4fe8f8ee3/src/System.Runtime.Serialization.Formatters/tests/BinaryFormatterTestData.cs):

[code]

This is fragile and breaks because Mono uses different internal object layout and field names. Not sure whether we should fix

[2019-06-19 09:01] marek-safar commented on #15115
This should be fixed in the test to be more robust. For example GetField("_HResult") is not needed if there is already public HResult property setter.

Similarly, there are SerializationStackTraceString and SerializationRemoteStackTraceString which could be extended to support shared private setting.

[2019-06-19 10:40] filipnavara commented on #15189
Should be fixed with the next CoreFX version bump.

[2019-06-19 11:21] BrzVlad commented on #9314
@claudioredi Yes, you should be fine. We switched the default from new to tarjan about 2 years ago.

[2019-06-19 11:27] BrzVlad commented on #14364
@peppy It might be fixed, maybe it is not. Should we close this issue for now since it is not actionable, and reopen it if any reproductions appear later ?

[2019-06-19 11:30] filipnavara commented on #14827
Anyone working on it? I'd just move the CoreRT implementation to shared and reuse it.

[2019-06-19 11:48] carmarri commented on #7454
Does anyone knows what is the status of this? I've tryed to move from 4.8.0 to 5.18.1 and I'm still having dependency issues, as described in #10490.
It looks like this part of the mono project is dead.

[2019-06-19 11:52] carmarri commented on #10490
I'm also having this issue in Mono 5.18.1.3:
Mono JIT compiler version 5.18.1.3 (tarball Tue Apr  9 16:16:30 UTC 2019)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       altstack
	Notifications: epoll
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	Interpreter:   yes
	LLVM:          yes(600)
	Suspen

[2019-06-19 12:19] filipnavara commented on #15077
I can reproduce it. File line for reference:
[code]

[2019-06-19 12:20] LifeWind1 commented on #9119
Could you solve this problem? I have this issue too (unity and iOS)

[2019-06-19 12:31] andy-hugecalf commented on #12277
Also experiencing the same issue here on a Raspberry Pi 3 with Raspbian 9.9.

Any progress with getting SoundPlayer fixed?

[2019-06-19 13:06] marek-safar commented on #14827
I don't think anyone is working on this task

[2019-06-19 13:07] carmarri commented on #10490
Following this instructions (https://stackoverflow.com/questions/2210938/mono-could-not-load-file-or-assembly) I configured this environment variables, and now I'm getting a more detailed feedback:

[code]
Note that I'm in Linux Mint 19.1 and I've just upgraded mono to 5.20.1.19
By the way, the Object WebBrowser is not referenced anywhere in my project.

[2019-06-19 13:25] jeromelaban commented on #9314
The "new" bridge is hurting the GC performance very significantly... this issue is still very active and is impacting somewhat recent devices.

[2019-06-19 13:32] claudioredi commented on #9314
@jeromelaban It definitively seems to be affecting new devices (or newer Android versions) more.

So you would not recommend moving to `New` algorithm even if we have hundred of this crashes per week?

[2019-06-19 13:34] jeromelaban commented on #9314
@claudioredi it really depends on the performance impact you're getting... The repro provided here is pretty consistent, so it's a matter of choosing between to bad behaviors for enduser experience :(

[2019-06-19 13:37] claudioredi commented on #9314
Thanks @jeromelaban. The only benchmark I found comparing the different GC strategies is this one https://devblogs.microsoft.com/xamarin/xamarin-android-garbage-collection-improvements/

It's old and I'm sure that's not the source of the final and universal truth but the difference in there between `New` and `Tarjan` seems to be minimal.

[2019-06-19 13:40] filipnavara commented on #14827
I didn't know about `__failfast`. It is interesting option but unfortunately it's available only on Windows 8+.

[2019-06-19 13:40] LightYears88 opened #15258 "mono5.20.1.27 compile error on linux"
## Steps to Reproduce

1. ./configure
2. make
3.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[ ] Windows

**Version Used**:

## Stacktrace

[code]
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking target system type... x86_64-pc-linux-gnu
checking for a BSD-compatible install.

[2019-06-19 14:04] NattyNarwhal commented on #14827
Doesn't `_exit` quite without proper termination on POSIX?

[2019-06-19 14:07] jaykrell commented on #14827
“Fast” means “proper termination” is dangerous and best to skip it.

[2019-06-19 14:24] NattyNarwhal commented on #14827
Which is what I'm saying; `_exit` exits without calling any termination handlers.

The only caveat though, is I think `_exit` is not declared in system headers, (being a libc impl detail) so you get a warning from the compiler. C99 *does* standardize `_Exit` though, which is functionally equivalent, and systems sometimes have their own implementation too (like AIX and `quick_exit` though it suppor

[2019-06-19 14:28] jaykrell commented on #14827
Ah. I thought you were criticizing it, not advocating yes. Yes, those are all good
 candidates. Abort, _exit, _Exit, quick_exit.
There is tension between error reporting, esp. in-proc, safely (w/o crash or undefined) & actually exiting.

[2019-06-19 14:30] EgorBo commented on #15258
Can you share more details about your environment (OS, version, hardware)?

[2019-06-19 15:14] CoffeeFlux commented on #15077
I'll try again later today then, maybe I had a weird config last time.

[2019-06-19 15:19] peppy commented on #14364
That is satisfactory, yes. I have still not had time to fully re-deploy the app to my testers (hitting a different issue with release mode AOT now...) but I will add a comment here if I am able to reproduce again.

Thanks for your support.

[2019-06-19 16:19] mkArtakMSFT opened #15259 "Client-Side Blazor OrderByDescending"
_From @matheusjulio96 on Wednesday, June 19, 2019 2:02:04 PM_

The bug: Execute an OrderByDescending query throw the error 'Unhandled exception rendering component: System.NullReferenceException: Object reference not set to an instance of an object.'

Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.0-preview6.19307.2 with Client-Side project
2. Run this code:
[code]
3. S

[2019-06-19 16:24] mkArtakMSFT opened #15260 "Client-side Blazor local time zone is always UTC"
_From @xJonathanLEI on Wednesday, June 19, 2019 10:11:41 AM_

### Describe the bug
In client-side Blazor, the local TimeZoneInfo is always set to UTC, rending methods like `.ToLocalTime()` in `DateTime` useless.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core `3.0.0-preview6-27804-01`
2. Create a client-side Blazor project
3. Run the following code:

[2019-06-19 16:24] mkArtakMSFT commented on #15260
_From @xJonathanLEI on Wednesday, June 19, 2019 10:12:04 AM_

Is this a Mono issue? I'm not sure. Submitting anyways.

[2019-06-19 16:47] xJonathanLEI commented on #15260
@mkArtakMSFT Weird enough. I just tried compiling the following lines with mono locally and it works fine:

    using System;

    namespace TimeZoneTest
    {
        class Program
        {
            static void Main(string[] args)
            {
                Console.WriteLine(TimeZoneInfo.Local.BaseUtcOffset);
            }
        }
    }

Prints:

    08:00:00

I don't really know how thi

[2019-06-19 17:01] mandel-macaque opened #15261 "[iOS][Tests] There are a number of System.Numeric tests that fail on iOS 32b devices"
This issue happens both in mono 2019-06 and mono 2019-2. It is being reported now because in xamarin-macios we did not do a full run of tests on old devices.

The failing test can be found [here](https://gist.github.com/mandel-macaque/e12a5f740df013e0f74b5028c43d35b2).

[2019-06-19 17:05] lewurm commented on #15261
please specify if Debug or Release. And ideally include _how_ they fail 🙂

[2019-06-19 17:05] mandel-macaque opened #15262 "[iOS][Tests] A number of linq tests fail on iOS 32b devices"
This happens on 2019-06 and 2019-02. It was not reported earlier because in xamarin-macios we did not execute the tests on and old device for a while.

Failing tests can be found [here](https://gist.github.com/mandel-macaque/9ef35efde93406f189cb97c6ebab3454).

[2019-06-19 17:08] #15070 closed

[2019-06-19 17:09] mandel-macaque opened #15263 "[iOS][Tests] A number of tests from Microsoft.CSharp fail on iOS 32b devices."
This happens on mono 2019-06 and mono 2019-02. This was not reported earlier because the xamarin macios team had not done a test run in an old device for a while. The failings tests are:

[2019-06-19 17:41] mandel-macaque opened #15265 "[watchOS][Tests] The System_xunit-test.dll for watchOS includes tests that should be ignored"
The following tests raise a System.PlatformNotSupportedException and therefore should not be included in the test dll compiled for the watchOS runtime. The failing tests are the following ones:

[2019-06-19 17:51] mandel-macaque commented on #15261
@lewurm the fail in all cases, debug and release. Full failures can be found [here](https://gist.github.com/mandel-macaque/adae77dcfbcd267ace4dd408f7321cf7):

[2019-06-19 17:51] mandel-macaque commented on #15262
Full failures can be found [here](https://gist.github.com/mandel-macaque/adae77dcfbcd267ace4dd408f7321cf7).

[2019-06-19 17:52] mandel-macaque commented on #15263
Full failures can be found [here](https://gist.github.com/mandel-macaque/adae77dcfbcd267ace4dd408f7321cf7).

[2019-06-19 18:32] Andrzej-W commented on #15260
I think it is a dup of #6368

[2019-06-19 19:38] CraftyMongoose commented on #14152
Any sense for when this will be released?

[2019-06-19 19:40] matheusjulio96 commented on #15259
Seems related with https://github.com/mono/mono/issues/8872

[2019-06-19 20:10] lambdageek opened #15267 "Re-running make -j12 hangs using roslyn compile server"
This is with mono a4ef5c3590b8a86e4e4827b50bf923108db8f7ac on OSX.

## Steps to Reproduce

1. `./autogen.sh  --enable-checked-build-mode=all --disable-btls --disable-btls-lib --disable-nls`
2. `make -j12`  This one works normally.
3. `mv mcs/build/compile-server.log compile-server.log.good`
4. `ps awx |grep -i VBCS` there should be no compile server running
5. `make -j12` This one hangs
6. Ctrl-C

[2019-06-19 20:15] lewing commented on #15259
[code]

[code]

[2019-06-19 20:19] jaykrell commented on #14827
Oops I missed that, darn:
`Support for the native fast fail mechanism began in Windows 8`.
It is just an instruction, not a function, but yeah, the handling of it.

[2019-06-19 20:35] CoffeeFlux commented on #15267
I've had this happen rarely and not been able to reliably reproduce it - simply restarting the build process makes it go away. Meant to file an issue last time it happened but got distracted :(

If it happens again, I'll upload logs here as well.

[2019-06-19 20:37] IvanAntipov commented on #12626
We have the same problem. Does any workaround exists? For example, if I will warm up queries in startup (execute query once at single thread), should it help?

[2019-06-19 20:39] CoffeeFlux commented on #14848
@softworkz can you upload a sample that will trigger the bug? I've got the Couchbase one from OP but a second example would potentially be helpful :)

[2019-06-19 21:03] lambdageek commented on #14848
@softworkz are you able to reproduce the assert in an `x86_64` emulatator, by the way - that would be much easier for us to debug.

[2019-06-19 21:17] chkn opened #15268 "[debugger] Add intrinsic for creating a byte array"
We switched to [`CreateByteArray`](https://github.com/mono/debugger-libs/blob/0030e7c2a2760015531dfe2c5c68ae6b99d0f136/Mono.Debugging.Soft/SoftDebuggerAdaptor.cs#L571) from `CreateString`, expecting it to be faster for some serialized data, but it turned out to be slower.

The amazing @vargaz uncovered the reason:

Zoltan Varga [10:40 AM]
the CreateByteArray () code doesn't look _too_ bad.
it does

[2019-06-19 21:35] kg commented on #15267
When this happens do you end up with two instances of VBCSCompiler at the end? Or just one?

[2019-06-19 21:40] lambdageek commented on #15267
@kg just one.

[2019-06-19 22:06] CoffeeFlux commented on #14848
I've produced a more minimal example here:
[couchbase.crash.attempt.zip](https://github.com/mono/mono/files/3308039/couchbase.crash.attempt.zip)

[2019-06-19 22:07] IvanAntipov commented on #12626
It looks like warm up solve the problem
``csharp

void Main()
{
  ...
  var dummy = db.MyDataItems.Where(.....  && item.Id = "NonExistingId" ).ToList(); // warm up the query
.....
  // real work
 RunInMultipleThreads(
    db => db.MyDataItems.Where(.....).ToList();// real work
....)

}

``

[2019-06-19 22:24] softworkz commented on #14848
The problem is that we needed an instant solution instead of something that will work at some point in the future. Nobody had answered my question about how (and how fast) the changes here will take until they'll be available for use.

Meanwhile I found a workaround to get compilation working with VS 2017.
In our case this didn't work due to the required ValueTask implementation (a dependency of S

[2019-06-19 22:28] CoffeeFlux commented on #14848
You'd be waiting on a Xamarin update probably, but I can't offer any advice without first locating and fixing the bug. Even if you've found a workaround to use VS 17, I'd greatly appreciate if you could upload a sample that I can use to repro the bug so I can fix it for future releases.

[2019-06-19 22:30] bdgza commented on #14848
Using VS 2017 for Mac made no difference for me, it still crashed all the same.

[2019-06-19 22:50] softworkz commented on #14848
I'm afraid, but time constraints don't allow me to do so. We've always been building with VS 2017, so this is resolved for us at this time.
What I can offer though, is to test this once you got a fix!

[2019-06-19 23:33] borrrden commented on #14848
@bdgza The issue would lie in the Xamarin framework, not in a specific version of VS (except that it includes a specific version of Xamarin by default).  Xamarin frameworks are updated independently of the actual Visual Studio program so if you installed VS 2017 and left the Xamarin framework as it was I imagine the issue would still be present.  It used to be pretty easy to downgrade on Mac but I

[2019-06-20 00:38] nfehrenbach opened #15271 "Autocomplete in csharp overwrites history"
## Steps to Reproduce

1. Open Mono x86 Command Prompt
2. Start csharp
3. After enough lines have been printed to the screen, if the autofill menu will jut below the bottom of the window, it will instead force the current line up, overwriting any history from the session.

### Current Behavior

### Expected Behavior

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[X] Windows

**Ver

[2019-06-20 01:02] LightYears88 commented on #15258
core version: Linux 2.6.32.41，i have update gcc to 8.3.0

[2019-06-20 01:16] jaykrell commented on #15258
Something doesn't make sense.

`uname -a` ?
`gcc -v` ?
`cat /etc/lsb_release` ?
`head config.log` ? (i.e. configure command line)
`which gcc` ?
`which as` ?
`as --version` ?

[2019-06-20 01:17] jaykrell commented on #15258
Oh and isn't 2.6 really old now?

[2019-06-20 01:20] jaykrell commented on #15258
I'm betting this is such an old system, that the assembler does not understand "new" x86 instructions.
How old is your processor?
Can you update as?
Or maybe configure BTLS to not use the "new" instructions.

[2019-06-20 01:23] LightYears88 commented on #15258
my os was domestic os,  yes the version is old.....
as --version
GNU assembler (GNU Binutils) 2.18
Copyright 2007 Free Software Foundation, Inc.

how to configure BTLS to not use the "new" instructions.

[2019-06-20 01:24] jaykrell commented on #15258
BTLS: I'm not sure. I'd have to poke arounda bit.
Typically, but not always, when people provide optimized assembly, they also provide portable C.

[2019-06-20 01:24] jaykrell commented on #15258
They might also provide assembly for older processor variants.

[2019-06-20 01:31] LightYears88 commented on #15258
so what should i do next？  update my as version  first?

[2019-06-20 01:32] jaykrell commented on #15258
If your process is new enough, updating as is an option.
I'm pretty sure BTLS as a no assembly option though. Look for and try that first.

[2019-06-20 01:33] jaykrell commented on #15258
or `configure -disable-btls`

[2019-06-20 01:34] LightYears88 commented on #15258
ok let me try.....

[2019-06-20 01:36] jaykrell commented on #15258
See this in configure.ac also `BTLS_CMAKE_ARGS="-DOPENSSL_NO_ASM=1`.
Get that through, either from the command line or hacking configure.ac.

`CPPFLAGS=-DOPENSSL_NO_ASM=1 ./configure` ?

[2019-06-20 02:32] LightYears88 commented on #15258
i run  ./configure -disable-btls and comment the -DOPENSSL_NO_ASM=1
make  then i got another error:
mono-proclib.c:851:11:error implicit declaration of function ‘CPU_COUNT’; did you mean ‘CPU_ISSET’? [-Werror=implicit-function-declaration]
    return CPU_COUNT (&set);
           ^~~~~~~~~
           CPU_ISSET

so i open the mono-proclib.c  below,  is the Macro  not define?
#ifdef HAVE_SCHED_GETAFF

[2019-06-20 02:40] jaykrell commented on #15258
You need to look in `config.log` and `config.h` for `HAVE_SCHED_GETAFFINITY` and `GLIBC_HAS_CPU_COUNT`. Again, old system, that nobody has built for in a long time. You will need make some changes, so far small possible ones, that could very well be accepted "upstream".

[2019-06-20 02:43] jaykrell commented on #15258
Try changing this line:
`#ifdef HAVE_SCHED_GETAFFINITY`

to

`#if defined (HAVE_SCHED_GETAFFINITY) && defined (CPU_COUNT)`?

so it'll fallback to maybe to the `#if defined (_SC_NPROCESSORS_ONLN) && defined (HAVE_SYSCONF)` version? Are those defined? Can you `#error` there to confirm?

[2019-06-20 02:44] jaykrell commented on #15258
or:

`#if defined (HAVE_SCHED_GETAFFINITY) && defined (GLIBC_HAS_CPU_COUNT)`?

[2019-06-20 03:33] jaykrell opened #15272 "Flaky IPC tests."
## Steps to Reproduce

Submit a PR.

### Current Behavior

Unrelated failures, for example:

https://jenkins.mono-project.com/job/d/8800/parsed_console/log.html

[code]
1) Bug609381 (MonoTests.Remoting.IpcChannelTest.Bug609381)
   System.Runtime.Remoting.RemotingException : Channel ipc already registered
  at System.Runtime.Remoting.Channels.ChannelServices.RegisterChannel (System.Runtime.Remoting

[2019-06-20 03:44] LightYears88 commented on #15258
that's very kind of you 。 another error:
gtimer-unix.c:(.text+0xb0): multiple definition of `pread64'
../../mono/eglib/.libs/libeglib.a(libeglib_la-garray.o):garray.c:(.text+0x100): first defined here
../../mono/eglib/.libs/libeglib.a(libeglib_la-gtimer-unix.o): In function `readlink':
gtimer-unix.c:(.text+0xc0): multiple definition of `readlink'
../../mono/eglib/.libs/libeglib.a(libeglib_la-garra

[2019-06-20 03:53] jaykrell commented on #15258
Something is weird.

Can you do like:
 cd mono/eglib
 rm *.o
 rm */*.o
 make V=1 libeglib_la-gtimer-unix.o
 Note the command line.
 Rerun the command line, but with -E added.
 Open the resulting .o, which will be text file.
 And look for getcwd, for example?

Or can you give us ssh access to your machine?
Or, much worse case, some .iso install it? Or .vhd/VMware/parallels/virtualbox file?
I really

[2019-06-20 04:19] jaykrell commented on #15258
Btw, I'd suggest *maybe* updating ld also.
There is a way to build gcc+as+ld, or rather gcc+binutils, kinda all at once.
You can put them together in a source tree.

Did you do anything special to get gcc 8.3 to build?
I'm morbidly curious so might try on that Natty Narwhal or Lucid Lynx release.

There are also old builds around here:

https://download.mono-project.com/
https://download.mono-proj

[2019-06-20 06:29] LightYears88 commented on #15258
many many thinks....
yes the kernel is very old ,and os is rarely
the iso and .vmdk is so big
i'll try to  update the as and ld version
Appreciate your answer.....

[2019-06-20 06:49] kjpou1 opened #15273 "[wasm][http] WebAssembly.Net.Http.HttpClient fails under Blazor"
When loading the default `WebAssembly.Net.Http.HttpClient` inside Blazor instead of using their default handler the following error is thrown.

[code]

[2019-06-20 07:54] kjpou1 opened #15275 "[wasm][framework] StrongName support for the WebAssembly framework modules"
When referencing `WasmHttpMessageHandler.DefaultCredentials = FetchCredentialsOption.Include;` from Blazor there are compile errors generated for lack of strong named assemblies.

[code]

[2019-06-20 09:35] filipnavara commented on #14827
I reevaluated the idea of using the CoreRT code and I no longer think it's a wise idea. While the code itself it quite similar to what CoreCLR does the idea of using managed code is problematic. The method should be as fail-safe as possible and involving JIT partially defies the purpose. In CoreRT it is not a problem as there's a guarantee that everything is precompiled. There is no such guarantee

[2019-06-20 09:55] kg commented on #15267
I spent a while trying to reproduce this today and wasn't able to - I left make -j 12 going in a loop for about 8 hours. I've seen it once before so it's definitely a bug but I'm not sure how to investigate it unless we have a machine in this bad state. If you're working in a VM could you suspend and take a snapshot the next time this happens so I can try to boot up the VM and dig in?

make hangin

[2019-06-20 10:02] kjpou1 opened #15278 "[wasm][bindings] Handle core object creation better for objects that are not supported."
Right now I when creating core object through the bindings a generic exception is thrown.

[code]

For Core objects that are not supported across browsers a more descriptive error should be shown.

[2019-06-20 10:06] kjpou1 commented on #15275
@marek-safar suggests for the webassembly work I'd recommend to use open key.

[2019-06-20 14:30] BrzVlad commented on #14364
Closing for now until further developments arise

[2019-06-20 14:30] #14364 closed

[2019-06-20 14:43] filipnavara commented on #14907
It's questionable if we should implement it at all. It is runtime implementation detail and not part of the official CoreLib contract. Likewise, the tests on CoreFX side should be guarded for the existence of this implementation detail.

However, Mono already has `SR` class which happens to have most of the methods because it is required by shared CoreLib code base. It is just not in the `System`

[2019-06-20 14:47] filipnavara commented on #15154
Should be fixed with next CoreFX bump.

[2019-06-20 15:40] lewing commented on #13428
This was likely fixed in https://github.com/mono/mono/pull/11602 but shipped in blazor 0.7

[2019-06-20 16:01] xfortin-devolutions commented on #9028
@marek-safar Any progress on this? If so which version of Mono contains the fix? With Mono 5.20.1.19 I'm getting this error:

[code]

Not exactly the same error as previously, but not much of an improvement.

[2019-06-20 16:30] marek-safar commented on #14907
We could move bits of SR to shared partition

[2019-06-20 16:33] filipnavara commented on #14907
It would be nice if the actual resources could be shared. I didn't look into the technical hurdles with that yet.

[2019-06-20 16:37] #14975 closed

[2019-06-20 16:39] #14486 closed

[2019-06-20 16:51] ezavaleta opened #15287 "ASP.NET MVC view not found (async methods)"
System.InvalidOperationException
The view 'Index' or its master was not found or no view engine supports the searched locations. The following locations were searched:
~/Views/Home/Index.aspx
~/Views/Home/Index.ascx
~/Views/Shared/Index.aspx
~/Views/Shared/Index.ascx
~/Views/Home/Index.cshtml
~/Views/Home/Index.vbhtml
~/Views/Shared/Index.cshtml
~/Views/Shared/Index.vbhtml

## Steps to Reproduce

[2019-06-20 17:21] filipnavara commented on #15238
On my MacBook Pro this happens roughly in 1/4th of the runs. Annoyingly enough the S.S.C.Pkcs NuGet doesn't contain PDB files to make the debugging easier.

[2019-06-20 17:46] mkArtakMSFT commented on #15260
@xJonathanLEI, just for clarification, I've just moved these issues from the `aspnet/Blazor` repo. The original posters of the comments are listed at `From @[originalPoster]` in each post.

[2019-06-20 18:41] #14872 closed

[2019-06-20 18:55] filipnavara commented on #15238
I know it was kind of obvious that the `null` value is `PkcsPal.Instance` but I finally managed to get a debug build with full stack trace(s) that confirm it:
[code]

[2019-06-20 19:25] filipnavara commented on #15238
Interestingly enough it is reproducible even with single-threaded test runs:
[code]

[2019-06-20 19:34] filipnavara commented on #15238
`XUNIT_FLAGS = -notrait category=nonosxtests -parallel none -verbose -serialize` crashes every time with NRE... not sure if it's the same crash though.

[2019-06-20 21:07] marek-safar commented on #15238
yeah I noticed that as well but I am not sure -serialize is not actually separate issue (didn't try to run with that flag different test suite)

[2019-06-20 21:16] filipnavara commented on #15238
I randomly picked few other ones and they worked with `-serialize`. The diagnostic information is not very useful for it but at least it is something reproducible.

[2019-06-20 21:19] radical opened #15294 "run msbuild with `--assembly-loader=strict`"
- [x] msbuild: https://github.com/mono/msbuild/pull/112
- [x] mono runtime fix: https://github.com/mono/mono/pull/15266
- [x] mono bump https://github.com/mono/mono/pull/15295

- [x] issue: https://github.com/mono/mono/issues/9225

[2019-06-20 22:17] radical opened #15297 "Enable shared compiler on master"
- [x] msbuild PR: https://github.com/mono/msbuild/pull/113

[2019-06-20 22:48] #15203 closed

[2019-06-21 02:29] lewing opened #15300 "[wasm] System.Linq.Expressions"
Tracking issue for Linq expressions

- [x] - https://github.com/mono/mono/issues/12917
- [x] - https://github.com/mono/mono/issues/15259
- [x] - https://github.com/mono/mono/issues/8872

[2019-06-21 03:10] #15297 closed

[2019-06-21 07:42] qq1209974887 opened #15304 "In China, mono-runtime download failed"
In China, mono-runtime download failed and could not be installed properly.
Detail:
The website is https://www.mono-project.com/download/stable/
Operating system: win10

[2019-06-21 09:24] filipnavara commented on #15238
I somewhat reduced the surface area with `XUNIT_FLAGS="-method System.Security.Cryptography.Pkcs.Tests.Pkcs12.Pkcs12InfoTests.ReadIndefiniteEncodingNoMac -method System.Security.Cryptography.Pkcs.Tests.Pkcs12.Pkcs12SafeBagTests.AttributesIsMutable"`. If `Pkcs12InfoTests` is executed first then it always crashes with NRE. The other order always succeeds.

[2019-06-21 09:28] #13945 closed

[2019-06-21 09:59] EgorBo opened #15306 "RemoteInvoke()-based tests and System.Diagnostics.Process.Tests crash on Windows"
All corefx tests with RemoteTestExecutor inside crash runtime on Windows. Somewhere inside Process.Start (see the following stacktrace). This blocks us on running tests on CI for Windows.

## Steps to Reproduce

1. `make run-tests-corefx-System.Runtime.Tests` or better `make run-tests-corefx-System.Diagnostics.Process.Tests`

### Current Behavior

Segmenation fault:
[code]

I tried to find the pla

[2019-06-21 10:03] filipnavara commented on #15238
Minimized repro:
[code]

[2019-06-21 10:13] filipnavara commented on #15238
Here's a fully reduced test case with no external dependencies:
[code]

/cc @vargaz

[2019-06-21 10:32] filipnavara commented on #15306
Can you please run it with -O=-inline to get better stack trace?

[2019-06-21 10:35] EgorBo commented on #15306
@filipnavara yeah I tried but it didn't help :( nor improved the stacktrace

[2019-06-21 10:36] EgorBo commented on #15306
I also tried to modify code here and there around SafeHandles, etc but with no luck

[2019-06-21 11:18] EgorBo commented on #15306
It feels like SafeHandle objects are not null but any calls to them (e.g. IsInvalid) throw `NRE`

[2019-06-21 11:38] #15273 closed

[2019-06-21 12:00] marek-safar commented on #9028
Mono 5.20 has the original fix. If you are experiencing different symptoms, please create a new issue

[2019-06-21 12:03] mandel-macaque opened #15307 "[iOS][Tests] Several corelib tests crash on iOS32b devices."
This happens both on mono 2019-02 and mono 2019-06. The tests work fine on all the platforms but iOS32b

Tests:

Useful info:

* [Run log.](https://gist.github.com/mandel-macaque/409ba6f976e128639e13f6892b4b5992)
* [Test log.](https://gist.github.com/mandel-macaque/4db54c4dede8f8875a010c064f4bbb7b)
*[ Build log.](https://gist.github.com/mandel-macaque/ffdcab02c29de1bfa2d8a35bbf681ba2)
* [Crash rep

[2019-06-21 12:17] marek-safar commented on #12917
@danroth27 ok, we will address that at the linker level

[2019-06-21 12:28] steveisok opened #15308 "[netcore] Make OverlappedTests.PackNegTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:30] steveisok opened #15309 "[netcore] Make OverlappedTests.PackNegTest1 Pass"
Fails the same as https://github.com/mono/mono/issues/15308.

This is a tracking issue.

[2019-06-21 12:31] steveisok opened #15310 "[netcore] Make OverlappedTests.UnPackTest Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:34] steveisok opened #15311 "[netcore] Make OverlappedTests.PropertyTest3 Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:36] steveisok opened #15312 "[netcore] Make ThreadPoolBoundHandleTests.BindHandle_MinusOneAsHandle_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:37] steveisok opened #15313 "[netcore] Make ThreadPoolBoundHandleTests.PreAllocatedOverlapped_NonBlittableTypeAsPinData_Throws Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:40] steveisok opened #15314 "[netcore] Make ThreadPoolBoundHandleTests.BindHandle_ZeroAsHandle_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:50] steveisok opened #15315 "[netcore] Make System.Tests.EnvironmentStackTrace.StackTraceTest Pass"
The test currently fails with:

[code]

Our previous analysis was that Mono expands generic Types in stacktraces unlike the .NET Core (sounds more like a feature: https://gist.github.com/EgorBo/3abb37d2ff4fc904bc7472c62498f933).

If this *should* be a feature, kick it upstream.  Either way the test should pass or be ignored.

[2019-06-21 12:53] steveisok opened #15316 "[netcore] Make System.Reflection.Tests.ConstructorInfoInvokeArrayTests.Invoke_1DArrayConstructor Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:55] steveisok opened #15317 "[netcore] Make System.Reflection.Tests.ConstructorInfoTests.Invoke_Invalid Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 12:57] steveisok opened #15318 "[netcore]"
The test currently fails with:

[code]

Seems to be that mono supports large arrays.  See if this test can be modified upstream and make it pass or skip.

[2019-06-21 12:59] steveisok opened #15319 "[netcore] Make System.Reflection.Tests.PropertyInfoTests.GetGetMethod_GetSetMethod Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 13:05] steveisok opened #15320 "[netcore] Make System.Reflection.Tests.TypeTests.GetMethods Pass"
The test currently fails with:

[code]

This might be that we have extra methods on System.Object iirc.  Anyhow, determine why and make the test pass.

[2019-06-21 13:08] steveisok opened #15321 "[netcore] Make DynamicMethodGetILGenerator1.GetILGenerator_Int_Module_CoreclrIgnoresSkipVisibility Pass"
The test currently fails with:

[code]

Likely related to other reflection emit issues, but this stack trace is a bit different.  Determine why and make the test pass.

[2019-06-21 13:14] steveisok opened #15323 "[netcore] Make System.Reflection.Emit.Tests.DynamicMethodToString.ToStringTest Pass"
The test currently fails with:

[code]

Looks like we need to put System on String :-).  Try to make the test pass.

[2019-06-21 13:17] steveisok opened #15324 "[netcore] Make System.Reflection.Emit.Tests.DynamicMethodctor1.ByRefReturnType_DoesNotThrow Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 14:30] marek-safar commented on #13925
@thaystg is this work complete?

[2019-06-21 14:36] thaystg commented on #13925
@marek-safar , no...

[2019-06-21 14:48] mandel-macaque opened #15328 "[MacOS][Tests] Several tests fail due to a System.IO exception"
The following tests with not much info but with a System.IO.Exception.

Failing tests:

[2019-06-21 15:24] mandel-macaque opened #15329 "[MacOS Modern][Tests] System.IO.AnonymousPipe tests are included when they are not supported."
This happens both on mono 2019-02 and mono 2019-06. The following tests are included in the test dll xammac_System.Core_xunit-test.dll when they should be removed:

[2019-06-21 15:41] rolfbjarne opened #15330 "Runtime deadlock"
## Steps to Reproduce

Build xamarin-macios (the `xcode11` branch) in a loop. After a while (took me about 50 builds), it deadlocked.

lldb session: https://gist.github.com/rolfbjarne/aede4f7483fc24955346f607f29707e1

* [Thread 7](https://gist.github.com/rolfbjarne/aede4f7483fc24955346f607f29707e1#file-deadlock-txt-L836) is trying to acquire the [loader lock](https://gist.github.com/rolfbjarne/aed

[2019-06-21 15:48] lewurm commented on #12537
@ricebus this is a different problem, please open a separate issue for that

[2019-06-21 16:43] jvenema commented on #12626
Good to know that it's confirmed as a threading issue. That's a pretty rough workaround though, every query in the system running at startup...

[2019-06-21 16:52] #14827 closed

[2019-06-21 17:01] marek-safar opened #15333 "macOS Catalina Support"
The upcoming macOS version called Catalina is coming with more restrictions and requirements. The release is scheduled for the fall of this year and with the preview version available already.

Together with Catalina, a new version of xcode is available and we need to ensure they both work correctly with Mono.

- [x] Setup macOS Catalina bots with the latest preview available
- [x] Compile Mono on

[2019-06-21 17:11] steveisok opened #15334 "[netcore] Make System.Reflection.Emit.Tests.DynamicILInfoTests.SetX_NegativeInputSize_ThrowsArgumentOutOfRangeException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:13] steveisok opened #15335 "[netcore] Make System.Reflection.Emit.Tests.DynamicMethodctor1.NullObjectInParameterTypes_ThrowsArgumentException Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:14] vargaz commented on #15238
Thanks for the testcase.
What happens is ManagerX:.ctor () calls X:.ctor () which triggers the cctor of X which reads the uninitialized X:Instance variable.

The spec says:
4. If not marked BeforeFieldInit then that type’s initializer method is executed at (i.e., is triggered by):
a. first access to any static field of that type, or
b. first invocation of any static method of that type, or
c. firs

[2019-06-21 17:17] marek-safar commented on #15238
@jkotas @davidwrighton could you guys please weight in on the compatibility bar for .NET 5 for this scenario and why it's deterministic on CoreCLR?

[2019-06-21 17:18] vargaz commented on #15238
So apparently, netcore changed the semantics of beforefieldinit to mean "right before static field access".

[2019-06-21 17:19] steveisok opened #15336 "[netcore] Make System.Reflection.Tests.IdentityTests.ParameterEquality2 Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:20] steveisok opened #15337 "[netcore] Make System.Reflection.Tests.TypeTests_GetMember.TestCaseInsensitive1 Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:25] steveisok opened #15338 "[netcore] Make System.Reflection.Tests.TypeTests_StructLayoutAttribute.Test_ExplicitAutoEightFortyTwo Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:27] steveisok opened #15339 "[netcore] Make System.Reflection.Tests.CustomAttributeTests.CustomAttributeNamedArguments_Field Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:31] steveisok opened #15340 "[netcore] Make System.Reflection.Tests.CustomAttributeTests.TestDllImportPseudoCustomAttribute Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:32] steveisok opened #15341 "[netcore] Make System.Reflection.Tests.TypeTests_HiddenEvents.GetEventHidesEventsBySimpleNameCompare Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:35] steveisok opened #15342 "[netcore] Make System.Reflection.Tests.TypeInfoDeclaredNestedTypeTests.* Pass"
The tests currently fail with:

[code]

Determine why and make the test pass.

[2019-06-21 17:37] steveisok opened #15343 "[netcore] Make System.Reflection.Tests.TypeTests_PrefixingOnlyAllowedOnGetMember.TestGetMemberAll Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:38] steveisok opened #15344 "[netcore] Make System.Reflection.Tests.TypeInvariants.TestInvariantCode Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:41] jkotas commented on #15238
We used to get quite a few customer reported issues caused by the non-deterministic behavior, e.g. when the JIT inliner heuristic improved, the static constructors run earlier, later or not at all, that resulted in compatibility breaks. It is impossible for our customers to test that their code is robust against arbitrary before-field-init constructor ordering, and we do know that a lot of code ou

[2019-06-21 17:41] steveisok opened #15345 "[netcore] Make System.Reflection.Tests.TypeTests_HiddenMethods.GetMethodDoesNotHideHiddenMethods Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:42] steveisok opened #15346 "[netcore] Make System.Reflection.Tests.TypeTests_HiddenProperties.GetPropertyHidesPropertiesByNameAndSigAndCallingConventionCompare Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:43] steveisok opened #15347 "[netcore] Make System.Reflection.Tests.AssemblyTests.CrossAssemblyTypeRefToNestedType Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:45] steveisok opened #15348 "[netcore] Make System.Reflection.Tests.TypeTests_HiddenFields.GetFieldDoesNotHideHiddenFields Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:46] jkotas commented on #15238
Having said this, it is generally a practice to have cycles between static constructors and it would be nice to get the initialization cycle that contributes to this cycle fixed.

[2019-06-21 17:46] steveisok opened #15349 "[netcore] Make System.Reflection.Tests.TypeTests.TypesWithStrangeCharacters Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:47] steveisok opened #15350 "[netcore] Make System.Reflection.Tests.TypeTests.GetEnumUnderlyingType Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:48] steveisok opened #15351 "[netcore] Make System.Reflection.Tests.TypeTests_HiddenTestingOrder.HideDetectionHappensAfterPrivateInBaseClassChecks Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 17:58] steveisok opened #15352 "[netcore] Make System.ComponentModel.Composition.Registration.Tests.PartBuilderInheritanceTests.* Pass"
The tests currently fail with:

[code]

Determine why and make the tests pass.

[2019-06-21 18:06] steveisok opened #15353 "[netcore] Make System.Xml.Tests.CXmlResolverTest.TC_AbsolutePath_Transform Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 18:07] steveisok opened #15354 "[netcore] Make System.Globalization.Tests.RegionInfoPropertyTests.EnglishName Pass"
The test currently fails with:

[code]

Determine why and make the test pass.

[2019-06-21 19:39] radical commented on #9225
Fixed by https://github.com/mono/msbuild/pull/112 and https://github.com/mono/mono/pull/15295 .

[2019-06-21 19:39] #9225 closed

[2019-06-21 19:40] #15294 closed

[2019-06-21 20:51] BrzVlad commented on #15240
https://github.com/mono/mono/pull/15283

[2019-06-21 20:51] #15240 closed

[2019-06-21 20:52] BrzVlad commented on #11131
https://github.com/mono/mono/pull/15283

[2019-06-21 20:52] #11131 closed

[2019-06-21 21:10] rvdginste commented on #14216
@marek-safar I investigated this a bit further and I think the problem is caused by the EPPlus package.

The EPPlus project file contains the following:
[code]

This results in the following inside the nuspec file of the EPPlus package:
[code]

If I replace this with a capitalized `System.Configuration`, then the dll is found and the build works. Still weird that it worked fine with mono 5.x.

[2019-06-22 02:09] jgold6 commented on #9664
testing 16.2 P2 on Android:

Iran is leaving DST 1 hours late as compared to Android system time. This is improved over the 4 hours late previously tested above, but still not correct.

European/Vatican time is now leaving DST one hour late as opposed to 2 hours late, so again not fully fixed.

Greenwich Mean Time (Guernsey) is also now leaving DST 1 hour later than expected as compared to Android

[2019-06-22 02:57] jgold6 commented on #12577
I just tested in public 16.2 Preview 2 release and the HttpClient timout setting is getting respected on Android and iOS.

[2019-06-22 03:35] #15330 closed

[2019-06-22 04:38] steveisok commented on #9664
@MaximLipnin Please have a look and see if you can determine why we're off.

[2019-06-22 08:21] Lazys commented on #12577
Sorry for maybe the newbie question, but by saying "16.2 Preview 2 release" you're thinking about Visual Studio version? If so, how it's related to the version of mono? It's like mono is part of the Visual Studio, so new release of mono goes out together with release of VS? Or new mono is released together with new version of Xamarin?

So basically - how do I know that fix from this issue and rela

[2019-06-22 12:25] ricebus opened #15361 "Can't run Sonarr on armv5 with latest stable mono"
## Steps to Reproduce

1. start Sonarr.exe with runtime flags (-O=-aot,-float32) on armv5
2. wait

### Current Behavior

Doesn't start

### Expected Behavior

Start

## On which platforms did you notice this

[ ] macOS
[X] Linux
[ ] Windows

**Version Used**:

5.20.1.27

## Stacktrace

https://gist.github.com/ricebus/67bd0477f8f95d25a5f654c20ebb52a8

[2019-06-22 19:44] NattyNarwhal opened #15364 "Socket.EndConnect throws ambigiously described exception if its argument is not SocketAsyncResult"
Trying to track this vague but reproducible error. This could very well be my own (or MailKit's) stupidity, but I have a user encountering a regression versus a build from October (I know....) and this month. It seems trying to connect to a mail server with MalKit bombs with some ambigious messages at first glance.

Side note: the message [here](https://github.com/mono/mono/blob/068e8fe0424806753d

[2019-06-22 19:51] NattyNarwhal commented on #15364
Actually, [this line](https://github.com/mono/mono/blob/068e8fe0424806753d7ab72a7b9bf0e54b58408b/mcs/class/System/System.Net.Sockets/Socket.cs#L980) looks pretty interesting considering the fact it's returning a task; coming from [this commit](https://github.com/mono/mono/commit/068e8fe0424806753d7ab72a7b9bf0e54b58408b#diff-33b28a9dc0b8032650ed77213481a99f). I haven't checked if this is the root c

[2019-06-22 20:07] steveisok commented on #15364
/cc @baulig

[2019-06-22 20:15] NattyNarwhal commented on #15364
I can confirm two workarounds for this issue:

1. Get rid of the conditions on ifdef in MailKit, so just we [use the normal Connect](https://github.com/jstedfast/MailKit/blob/0fabc1bac4f234f30bf211ae8d6617dffa52b0fc/MailKit/Net/SocketUtils.cs#L77) (not a real workaround, so we don't trigger the behaviour)

2. Revert https://github.com/mono/mono/commit/068e8fe0424806753d7ab72a7b9bf0e54b58408b becau

[2019-06-23 06:41] kjpou1 opened #15365 "[wasm][framework] Review framework linker descriptions"
Right now the framework assemblies `WebAssembly.Bindings` and `WebAssembly.Net.Http` are fully preserved.  This should be reviewed so that the assemblies can link out as much as possible to make them smaller.

[2019-06-23 15:56] EgorBo opened #15366 "StringBuilder marshalling bug"
## Steps to Reproduce

1. Compile:
[code]

### Expected Behavior

[code]

### Actual Behavior

Segfault
or sometimes StringBuilder contains some random chars at the end after marshalling.

## On which platforms did you notice this

[ ] macOS
[ ] Linux
[x] Windows

[2019-06-23 16:46] filipnavara commented on #15366
There are two separate bugs triggered by this and one more bug related to it:

1) `mono_string_builder_to_utf16_impl` doesn't properly NULL terminate the strings. It appends a terminating zero at the location specified by `capacity`, not by `length`. Workaround: Add `str [mono_string_builder_string_length (sb)] = 0;`.
2) `mono_string_utf16_to_builder_copy` corrupts memory when trying to marshal da

[2019-06-23 16:47] filipnavara commented on #15366
Confirmed to be the underlying cause of #15306. Big thanks for tracking it down!

[2019-06-23 20:01] NattyNarwhal commented on #15364
FWIW, I can reproduce this running the same test program on FreeBSD/amd64; so not an i-specific problem.

[2019-06-23 20:54] EgorBo commented on #15366
@steveisok btw, this issue reproduces on regular mono too 🙂

[2019-06-23 21:11] filipnavara commented on #15366
Yep, affects regular Mono too. I have a fix for some of the issues in the pipeline but I need to clean it up before submitting.

[2019-06-23 21:18] steveisok commented on #15366
Thanks, labeled (I think) correctly.

[2019-06-23 22:03] jonlipsky opened #15368 "Mac class library won't compile when using net standard class library"
## Steps to Reproduce

1. Use the current Stable version of Visual Studio for Mac 8.1.1 (Build 27) as of June 23, 2019
2. Open the attached sample and try to compile or:
3. Create a new empty solution.
4. Create a new net standard class library.
5. Add a method to the auto-created class.
6. Create a new Mac class library.
7. Reference the net standard project.
8. Try to call the method created in

[2019-06-24 07:50] bspinner opened #15371 "Net4.5 PCL lib cannot be build with netstandard1.1 nuget"
## Steps to Reproduce

1. Start Visual Studio for Mac after latest updates
1. Create solution with PCL 4.5 library project
2. Add Splat 2.0 nuget package
3. Try to build

![image](https://user-images.githubusercontent.com/4580497/60000191-fe118300-9663-11e9-966d-f73ead310cca.png)
![image](https://user-images.githubusercontent.com/4580497/60000201-02d63700-9664-11e9-95cf-d05ec558a5c0.png)
![image](

[2019-06-24 08:28] MaximLipnin commented on #9664
@steveisok There was another attempt to fix this issue https://github.com/mono/mono/pull/14335 but it was not considered. I'll take a look.

[2019-06-24 09:14] kjpou1 commented on #14582
closed by https://github.com/mono/mono/pull/15274

[2019-06-24 09:14] #14582 closed

[2019-06-24 10:35] filipnavara commented on #15366
@marek-safar While it is most visible on Windows it affects all systems. Bug 1 is UTF-16 specific, bug 2 happens with UTF-8 too AFAICT, bug 3 affects everything.

[2019-06-24 12:45] snehaljadhavgit commented on #14875
I did fresh installation for Visual Studio MAC on macOS Mojave and my older project which was successfully running on older Visual Studio is now breaking with build errors.

/Users/snehaljadhav/Documents/ACI_GPS/TFSMap/Silicus/ACI-GPS-Mobile/ACI_GPS/iOS/ACI_GPS.iOS.csproj(11,11): Error MSB4226: The imported project "/Library/Frameworks/Mono.framework/Versions/5.18.1/lib/mono/xbuild/Xamarin/iOS/Xam

[2019-06-24 13:30] akoeplinger commented on #15120
It's the same issue in German, and was existing before the 2019-06 integration too.

[2019-06-24 13:34] #14608 closed

[2019-06-24 13:35] chamons commented on #15368
Workaround:
[code]
In your mac library.

@radical - Is this a mono bug or a XM bug?

[2019-06-24 14:40] #14196 closed

[2019-06-24 16:15] EgorBo commented on #14793
@xDaKillerx can you share a repro or more details about that? what folder are you scanning in your mono app and what API you are using?

[2019-06-24 17:42] marek-safar opened #15377 "2019-06 Mono Release"
# Products integration

## Visual Studio for Mac

Integrator: @directhex

Pull Requests:
 - [x] https://github.com/xamarin/md-addins/pull/4758

## Xamarin Designer

Integrator: @directhex

Pull Requests:
 - [x] https://github.com/xamarin/designer/pull/2078

## Xamarin.Android

Integrator: @steveisok

Pull Requests:
- [x] https://github.com/xamarin/xamarin-android/pull/3155

## Xamarin.iOS

Integra